[2019-10-09 18:31] ColinIanKing commented on #4656
OK, so with plenty of debug in the zfs driver and watching lxd and lxc processes with forkstat I was able to get the following activity traced:

$ lxc launch ubuntu:bionic test2
$ lxc delete test2 --force
.. lxc delete  fails because of the umount occurs after the zfs destroy as shown below:
lxd forks -> PID 16166 "zfs get -H -o name type default/images/4a89a29d4db20988ee3f0bcec5e054d1cde3d4255d21

[2019-10-09 19:44] stgraber commented on #4656
The tracking at the end can't be correct, according to this you're saying that `lxc delete` itself is causing the zfs_preumount/zfs_umount which is impossible. The `lxc` command line tool is only a network REST API client, it doesn't itself interact with the local system at all, everything it does is achieved through sending HTTP requests over a unix socket.

Looking at the ordering prior to that,

[2019-10-09 20:23] Silentphantom62 commented on #6205
That's great news, looking forward to this new direction!

[2019-10-09 21:48] ColinIanKing commented on #4656
I'm failing to understand why the information from the netlink connector on process fork/exec/exec is providing data that seems to be incorrect. Tomorrow I will add instrumentation into the kernel to printk each fork/exec/exit to see what exactly is happening.

[2019-10-10 12:21] stgraber commented on #4656
Feel free to strace `lxc.lxc` if you need convincing, but I guarantee you that there is no umount call inside that particular binary :)

[2019-10-10 13:50] ColinIanKing commented on #4656
Yep, totally agree.  Added a dump_stack to the do_exit() to see what's happening. So when the lxc exits the exit calls do_group_exit, then do_exit and then a worker task is run to cleanup the zfs mount. So it looks like a postponed umount.

I wonder if this is because a lazy umount is causing the umount when the moint point ceases to become busy.

[2019-10-10 13:57] s3rj1k opened #6303 "[FEATURE] fanotify support inside container"
It there any possible way of using fanotify inside LXD container?

[2019-10-10 13:59] brauner commented on #6303
On Thu, Oct 10, 2019, 15:57 s3rj1k <notifications@github.com> wrote:

A lot of it is guarded by CAP_SYS_ADMIN in the initial user namespace so
very unlikely.

I've once talked to the maintainers and they were open to removing this
check. So far nothing happened and I don't remember whether or not this
required work or not...

[2019-10-10 14:10] #6303 closed

[2019-10-10 14:56] stgraber commented on #4656
I don't see how `lxc` would keep the mountpoint busy though, it doesn't know anything about those mountpoints and certainly never tries to access any file under them.

[2019-10-10 16:14] s3rj1k opened #6304 "Is there any way of tracing open syscall inside container?"
Current setup is LXD container with Directory storage backend.

- fsnotify in hardware node does not catch any file events inside container
- iovisor bcc-tools (opensnoop) that traces open() syscalls does not catch any events inside container

The idea is some how to catch file modifications inside container and feed this list to antivirus.

[2019-10-10 16:16] stgraber commented on #6304
Where would the software catching those opens run? On the host or in the container?

[2019-10-10 16:33] s3rj1k commented on #6304
On the host node

[2019-10-10 16:50] ColinIanKing commented on #4656
The exit of the lxc process via do_exit calls exit_task_namespaces -> switch_task_namespaces -> free_nsproxy -> put_mnt_ns -> drop_collected_mounts -> namespace_unlock ->
mntput_no_expire.

mntput_no_expire adds __cleanup_mnt() to process' task work list, which in turn gets called asynchronously at the death of the lxc process.  And this unmounts the zfs file system.

[2019-10-10 18:07] stgraber commented on #6304
fanotify works just fine with containers here:

[code]

[2019-10-10 18:07] #6304 closed

[2019-10-10 18:08] stgraber commented on #6304
Output above shows what happens when running `lxc exec c1 bash` followed by `touch /test`.

[2019-10-10 18:09] stgraber commented on #6304
If using the snap, your problem may be that you need to join the mount namespace of the container, or use a trick like I did above by using /proc/PID/root to see the mount, otherwise the host filesystem doesn't see the container's mount and so may not be able to monitor for events.

[2019-10-10 18:44] s3rj1k commented on #6304
@stgraber thanks, how do I join the mount namespace of the container ?

[2019-10-10 22:15] stgraber commented on #6304
nsenter using the pid of the container would work

[2019-10-10 22:56] stgraber commented on #2118
Been thinking a bit about this issue lately. In theory we could do something with:
 - zfs (native encryption on 0.8)
 - dir (for ext4 using fscrypt)
 - lvm (luks)
 - ceph-rbd (luks)

btrfs and cephfs would be left without support for now anyway.

The main issue we have is with the interactive prompting for key material as LXD does a lot of filesystem operations at various times and it would be ver

[2019-10-10 23:10] stgraber opened #6305 "CGroup abstraction and parity between V1/V2"
So far for LXD, we've done some very minimal work to have it work on CGroupV2, but that work does not currently include support for any of the limits we support on CGroupV1.

Low level `liblxc` has support for setting up CgroupV2 controllers, so the bulk of this is to provide it suitable configuration and to update the logic we have driving Cgroups after startup to also work with CGroupV2.

To do

[2019-10-12 01:01] stgraber commented on #4656
We've now rolled out a fix for some, maybe even all of those issues.

The issue that was clearly identified and now resolved in the current stable snap (latest or 3.18 track) was related to `lxc delete -f` being run as a non-root user while using the snap package.

In this case, the way snapd manages mount namespaces was causing the zfs mount to be held by a forked of the mount namespace, preventi

[2019-10-12 16:51] stgraber opened #6308 "Raise own rlimit for NOFILE on startup"
I've recently run into a number of cases where systemd would set a low NOFILE for my user session, causing LXD to start just fine but then be unable to unpack images through unsquashfs due to hitting NOFILE.

I think we should bump NOFILE to the maximum allowed on startup to avoid such issues.

[2019-10-12 20:46] jkroepke commented on #6205
Maybe https://cloudbase.it/cloudbase-init/ can help here a lot unless a full installation is supported.

[2019-10-12 22:33] stgraber commented on #6205
I think that would be useful once you've done a manual install and added it. At that point you can publish the vm as an image and vms created from it would then get to use it for provisioning.

We're unlikely to ever be allowed to distribute prebuilt Windows images so instructions on building them is probably the best we can do.

[2019-10-12 22:33] #6308 closed

[2019-10-13 18:09] turtle0x1 opened #6312 "member_config null"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version: 3.18
   * Storage backend in use: dir

# Issue description
When asking for cluster info E.G `curl --unix-socket /var/lib/lxd/unix.socket s/1.0/cluster` I get the response

"member_config" should not be null right?

[2019-10-13 20:11] stgraber commented on #6312
It could be if you don't have any member specific config keys for your network or storage, though I'd probably expect it to be an empty list instead.

[2019-10-13 20:18] turtle0x1 commented on #6312
When i try to join a server to the cluster with empty config it says it doesnt match

[2019-10-13 20:23] stgraber commented on #6312
Just checked and I do get an empty member_config on a system which doesn't need configuration, so the fact that it's null for you suggests something failed but didn't result in an error being returned...

Can you run `lxc monitor` at the same time as you run your curl to see if anything useful is logged?

[2019-10-13 20:27] turtle0x1 commented on #6312
metadata:
  context: {}
  level: dbug
  message: Successful heartbeat for 10.233.30.73:8443
node: 2
timestamp: "2019-10-13T20:26:08.298532484Z"
type: logging

metadata:
  context: {}
  level: dbug
  message: Completed heartbeat round
node: 2
timestamp: "2019-10-13T20:26:08.306967516Z"
type: logging

metadata:
  context: {}
  level: dbug
  message: Skipping heartbeat since we're not leader
timestam

[2019-10-13 20:50] stgraber commented on #6312
Nope

[2019-10-13 20:51] stgraber commented on #6312
Can you show:
 - lxc network list
 - lxc storage list

And "lxc network show" for any managed network and "lxc storage show" for all storage pools?

[2019-10-13 20:51] turtle0x1 commented on #6312
+---------+--------+---------+-------------+---------+---------+
|  NAME   |  TYPE  | MANAGED | DESCRIPTION | USED BY |  STATE  |
+---------+--------+---------+-------------+---------+---------+
| lxdfan0 | bridge | YES     |             | 4       | CREATED |
+---------+--------+---------+-------------+---------+---------+

+-------+-------------+--------+---------+---------+
| NAME  | DESCRIPTION

[2019-10-13 21:16] stgraber commented on #6312
Do you get the same result running that command on both nodes?

[2019-10-13 21:23] turtle0x1 commented on #6312
Yeah

[2019-10-13 21:53] stgraber commented on #6312
Weird, is that on x86_64?

If so, I can give you a test binary to side load to try to figure out what's going on.

[2019-10-13 21:54] turtle0x1 commented on #6312
Yeah sure

[2019-10-13 21:56] stgraber commented on #6312
- sudo curl https://dl.stgraber.org/lxd-6312 -o /var/snap/lxd/common/lxd.debug
 - sudo chmod +x /var/snap/lxd/common/lxd.debug
 - systemctl reload snap.lxd.daemon
 - lxc query /1.0/cluster
 - grep stgraber /var/snap/lxd/common/lxd/logs/lxd.log

Sha256 of the file should be 4b01a9d1dcecbadb01ce6e34dc345377b5146b0bf23c548e4fb1473a2ae6fcd8

[2019-10-13 22:10] turtle0x1 commented on #6312
Hmm when i run `sudo systemctl reload snap.lxd.daemon`

I get

[code]

[2019-10-13 22:11] stgraber commented on #6312
That's, hmm, unexpected. What does `systemctl -a | grep lxd` show you?

[2019-10-13 22:14] turtle0x1 commented on #6312
Im sorry, i didn't realize this is 3.0.3 I assumed the ubuntu image wouldn't come with LXD installed so I did `snap install lxd` and have assumed that its 3.18 :disappointed:

[2019-10-13 22:15] stgraber commented on #6312
Ah, that'd explain it too, cluster_config isn't supported on 3.0.x so would show up as nil in the json output.

And indeed if you're mixing 3.18 and 3.0.3 in the same cluster, I'd expect that join failure.

[2019-10-13 22:24] stgraber commented on #6312
@turtle0x1 can you confirm that running everything on 3.18 behaves as expected?

[2019-10-13 22:25] turtle0x1 commented on #6312
Yeah I need to sleep, Ill close this out and re-open when i can check tomorrow evening!

[2019-10-13 22:25] #6312 closed

[2019-10-14 00:35] BobVul commented on #4029
Seems to be tracked at #6223

[2019-10-14 07:26] fosslinux commented on #6205
Thank you so much for this feature. Finally, I can get rid of virt-manager and VBox!

[2019-10-14 13:28] srados commented on #3251
maybe I could look into this one

[2019-10-14 13:42] stgraber commented on #3251
@srados we're not going to touch this one until February/March right before we tag `4.0` as we can't include this work without completely breaking our CLI and we don't do such breaks outside of major version bumps.

[2019-10-14 13:55] srados commented on #3251
yes, I understand that. What I meant is having a separate branch started for v4.
Another solution would be keeping those changes backwards compatible, meaning, the old commands will still work. So it boils down to extending the commands parser and mapping it to already existing snapshot actions. I haven't checked the code yet, so I'm not sure if that's possible, but I suppose it is.

[2019-10-14 15:48] stgraber commented on #3251
So the problem is that right now `lxc snapshot list` for example is a perfectly valid command if you want to create an automatically named snapshot for a container called `list`.

That's why we can't really do any of this work in a backward compatible way. We know we're going to break people as soon as we merge this and so intend to do it at the last minute.

You could certainly prepare a branch a

[2019-10-14 16:13] tomponline commented on #6175
Hi @najeal, how are you getting on with this change, did you manage to get LXC up and running? If not then you could try using the "edge" channel of LXD via snap (which comes with the latest version of LXC inside it) and then sideload your LXD binary into it:

[code]

[2019-10-14 19:32] srados commented on #3251
oh, I get it. OK, I guess, then backwards compatibility is impossible (or hard, or impractical). I agree, let's wait until the 4.0 approaches

[2019-10-14 20:40] turtle0x1 opened #6313 "Unaccounted raft node(s) not found in 'nodes' table for heartbeat:"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04

# Issue description
When i try to create a cluster in LXD containers I seem to keep running into the below when I try to add the second node

[code]

[2019-10-14 20:58] stgraber commented on #6313
Does that prevent you from joining the node?

[2019-10-14 20:58] stgraber commented on #6313
And how exactly did you trigger the join? `lxd init` or direct API?

[2019-10-14 21:19] turtle0x1 commented on #6313
Yes it does and lxd init

[2019-10-14 21:20] stgraber commented on #6313
Did you have it fail to join earlier for another reason?

[2019-10-14 21:20] stgraber commented on #6313
On the working node, can you show `lxd sql global "SELECT * FROM nodes;"` and `lxc cluster list`?

[2019-10-14 21:25] turtle0x1 commented on #6313
[code]

It may be that the client just hangs ?

[2019-10-14 21:31] stgraber commented on #6313
Ok, so that does suggest that you had a partial failure to join which is now making a bit of a mess.
Can you try `lxd sql global "DELETE FROM nodes WHERE id=2;"` and then try to join again, see if you get a different error then?

[2019-10-14 21:32] stgraber commented on #6313
We probably ought to have LXD delete any pending join when attempting to join again, but that's probably not the root of this issue.

[2019-10-14 21:37] turtle0x1 commented on #6313
It kinda completly messes up my hosts lxd it cant really stop containers

[2019-10-14 21:41] stgraber commented on #6313
Hmm, can you provide lxd.log for both servers?

I wonder just how far it went into joining before it failed, if it got to joining the clustered database, that could be a problem indeed.

[2019-10-14 21:43] turtle0x1 commented on #6313
From node 1
[code]
From node 2

[code]

[2019-10-14 21:45] stgraber commented on #6313
Is LXD still responding properly on node1?

Node2 is likely to be pretty confused about its state right now. You mentioned running containers, I'm assuming this wasn't on node2 as new cluster nodes must be empty.

[2019-10-14 21:47] turtle0x1 commented on #6313
[code]

No these two nodes are running in containers

[2019-10-14 21:48] stgraber commented on #6313
Hmm, I'm confused, so you had containers running on node2 and then tried to have it join the cluster?

[2019-10-14 21:50] turtle0x1 commented on #6313
Something like this:

My PC Using lxd
    -> cluster-node1
    -> cluster-node2

There were no containers running on either cluster-node1 or cluster-node2

[2019-10-14 21:53] stgraber commented on #6313
Ah, okay, that makes more sense.

So the issue is really about how far things went before things failed. The worst case scenario is if LXD managed to replicate the database to node2, increased the database quorum to 2 and then somehow failed, leaving the node in in pending state but the DB dependent on the second node.

[2019-10-14 21:54] stgraber commented on #6313
What I'd really like to get is the initial join error though as that can't have been the `Unaccounted raft ...` one, that particular error is only possible on subsequent join failure.

If it's just a test cluster with nothing on it, can you reset both containers and recreate the original failure?

[2019-10-14 21:55] stgraber commented on #6313
I'm currently looking at some other failure cases during join to try to make things a bit harder to break, especially around mismatch in version and the like.

[2019-10-14 21:58] turtle0x1 commented on #6313
Sorry I need to go now (late here) but im pretty confident I can re-create this error tomorrow

[2019-10-14 21:58] stgraber commented on #6313
Thanks, that'd be great to have that error!

[2019-10-15 21:56] srados commented on #822
would using websockets for this be more efficient?

[2019-10-16 05:26] stgraber commented on #822
Yeah, if we can formulate a clear query as to the set of containers and resources we want to check, then updates could indeed be sent over websocket to avoid the client having to get the new values.

Some of those values will be very costly to fetch, so at a high frequency you may still find this end up taking more CPU than the container would on its own, which would be a bit of an issue.

There i

[2019-10-16 10:12] paride commented on #4656
Thanks @stgraber. I updated the LXD snap to version 3.18 (12181) and rebooted a couple of machines. In the first couple of days the problem seemed fixed, however here it is again:

[code]
This is on my up-to-date Eoan laptop, but happens also on Bionic (GA kernel):
[code]
Both the systems were rebooted after refreshing the LXD snap:
[code]

This is now happening every time, as before. As I wrote i

[2019-10-16 10:26] paride commented on #4656
I collected some logs, as you mentioned that logging should now be more informative. So after doing
[code]
Here is the output of `journalctl -b0 -u snap.lxd.daemon` after running `lxc launch ubuntu:bionic b` on my Eoan laptop:

[code]

And this after running `lxc delete b --force`:
[code]

[2019-10-16 11:05] andersruneson commented on #2305
I installed aufs-tools in the lxd host and added aufs module to the linux.kernel_modules list in the lxd profile.
But this doesn't seem to work.

[code]

Am I doing something wrong?
Any hints?

[2019-10-16 14:02] stgraber commented on #4656
@paride Can you get me:
 - Pastebin of the full output of `journalctl -b0 -u snap.lxd.daemon`
 - cat /proc/self/mountinfo
 - cat /proc/$(pgrep daemon.start)/mountinfo

I want to make sure that the mount table entries all match what we'd expect.
Make sure that you have at least one freshly created container before capturing those mountinfo ones.

[2019-10-16 14:14] paride commented on #4656
Sure. Pastebin: https://paste.ubuntu.com/p/kRcbMR6XP6/ (but note that when I bootedI still had to set `daemon.debug=true`)

In what follows the container named `b` was created right before capturing the mountinfo, and did show the "dataset is busy" when I later tried to delete it.

`/proc/self/mountinfo`:

[code]

`/proc/$(pgrep daemon.start)/mountinfo`:

[code]

[2019-10-16 14:31] paride commented on #4656
On the Eoan machine:

[code]
[code]
[code]
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 19.10
Release:	19.10
Codename:	eoan
[code]
$ snap version
snap    2.42
snapd   2.42
series  16
ubuntu  18.04
kernel  4.15.0-65-generic
[code]
$ snap list
Name               Version  Rev    Tracking  Publisher   Notes
core               16-2.42  7917   stable    canon

[2019-10-16 16:54] #6275 closed

[2019-10-16 20:51] stgraber commented on #4656
@paride ok, the current stable snap should have a fix for that one.

[2019-10-17 12:52] paride commented on #4656
I'm testing it, so far so good, but let's give it a few days before declaring the issue fully solved.

[2019-10-17 17:22] turtle0x1 commented on #6313
How to duplicate

## On Host

[code]

## Node 1 setup
[code]

## Node 2 setup
[code]

It hangs after the you print the config for node 2

The logs I think are intreseting

[code]

The whole log up until the log above

[code]

[2019-10-18 20:46] stgraber commented on #6313
Thanks. I'm on vacation this week but will take another look at this early next week.

[2019-10-18 20:58] redeye86 commented on #6049
Hi,

i had the same problem with two containers when i upgraded my host system from ubuntu 16.04 to 18.04.

I could fix it by directly changing the database:

`lxd sql global 'UPDATE containers_config SET value="lxc.apparmor.profile=unconfined" WHERE container_id=<CONTAINER_ID> AND key="raw.lxc"';`

`lxd sql global 'INSERT INTO containers_devices_config (container_device_id,key,value) VALUES (<CON

[2019-10-18 21:02] turtle0x1 commented on #6313
Enjoy 😊

[2019-10-19 15:54] jackstenglein commented on #6230
@stgraber

Hello, myself and another student from UT Austin would like to take on this issue for our virtualization class.

[2019-10-19 15:57] jackstenglein commented on #4567
@stgraber

Hello, myself and another student from UT Austin would like to take on this issue for our virtualization class.

[2019-10-20 14:21] najeal commented on #6175
I will try to catch you on IRC :)

[2019-10-20 19:00] stgraber commented on #4567
Thanks, assigned to you.

For this issue, I think we want to extend the returned image structs to include a list of profiles to apply at creation time if none were provided by the user. When not set, the "default" profile will be assumed.

From a user's point of view, this will be visible in:
 - lxc image info
 - lxc image show
 - lxc image edit

This will show as a new "profiles" field which will

[2019-10-21 03:05] stgraber commented on #6230
Thanks!

For this one, there is no API extension or much in the way of a user visible change.
What we're looking for is that turning on clustering (initial member) will bring that member up with the database role, the first joining member (second cluster member) will not have that role, entirely relying on the initial member for the database, then when joining a third member, both the second and t

[2019-10-21 05:50] inspired-fox opened #6320 "Live migration of VM on containers ERROR"
Hello everyone

I'm building a container virtual environment on a VM.
I want to live migrate the created container to a physical host in the same environment, but CRIU does not work well.

Migration is complete when the container is stopped, but fails when it is running.

# Required information

 * Distribution version: Ubuntu16.04
 * Kernel version: Linux ubuntu 4.15.0-62-generic
 * LXC version:3

[2019-10-21 08:13] danielecim opened #6321 "lxd init create new btrfs storage pool on disk partition"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-31-generic
   * LXC version: 3.18
   * LXD version: 3.18
   * Storage backend in use: brtfs

# Issue description

Initialize lxd via lxd init with new storage pool (btrfs) on disk partition raise error. Example create new btrfs  storage pool on /de

[2019-10-21 08:17] danielecim commented on #6321
Workaround:

sudo mkfs.btrfs /dev/sda3
sudo mkdir /mnt/lxdpool
sudo mount /dev/sda3 /mnt/lxdpool  or  edit /etc/fstab

sudo lxd init

Would you like to use LXD clustering? (yes/no) [default=no]:
Do you want to configure a new storage pool? (yes/no) [default=yes]:
Name of the new storage pool [default=default]:
Name of the storage backend to use (btrfs, ceph, dir, lvm, zfs) [default=zfs]: btrfs
Cre

[2019-10-21 08:37] tomponline commented on #6321
When this originally came up before, @stgraber suggested that a likely cause of this error was that there was an existing filesystem or partition on the device that was detected.

@danielecim the specific bug that results in the output of `btrfs-progs v4.4` only was fixed here https://github.com/lxc/lxd/pull/6282 so in the future if this occurs again you should see the actual error message.

[2019-10-21 08:41] tomponline commented on #6175
@najeal great, let me know any questions you have.

[2019-10-21 08:54] freeekanayaka commented on #6230
On top of what @stgraber said, I'll add that you might need to modify the tests in ```test/suites/clustering.sh``` in case there's anything there that assumes that 2-member cluster has 2 database members (I don't think there's any test assuming that, but just a heads up).

[2019-10-21 09:33] #6320 closed

[2019-10-21 12:14] ubojan opened #6322 "failed to ensure schema: locking protocol"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.2 LTS
 * The output of "lxc info" or if that fails: Error: Get http://unix.socket/1.0: EOF
   * Kernel version: 5.0.0-1020-gcp
   * LXC version: 3.18
   * LXD version: 3.18
   * Storage backend in use: ZFS

# Issue description

We've updated lxd snap on bunch of servers and in two cases (from 3.16 to 3.18) lxd couldn't

[2019-10-21 14:21] randombenj commented on #4567
Awesome! :confetti_ball: If you need something mabe I could help with some stuff too.
Or try/test things in our environment.

[2019-10-21 14:30] freeekanayaka commented on #6322
We haven't seen this issue before. It might be an edge case that we didn't know about. Please could you make a tarball of the ```/var/snap/lxd/common/lxd/database``` directory and send it to me? (free dot ekanayaka at canonical dot com)

[2019-10-21 15:17] ubojan commented on #6322
Thanks for your fast response! I've emailed you download link (even compressed folder is too much for email attachment).

[2019-10-21 16:05] freeekanayaka commented on #6322
Okay, the fact it's so big might be related to the issue. The database should be typically be at most 100MB. I'll have a look tomorrow.

[2019-10-21 19:06] fulcrum29 opened #6329 "LXD image import metadata.yaml not found"
I am trying to import image tarball created out of untared exported image.
When i run `lxc image import prbf2-reserves-backu.tar.gz --alias prbf2-reserves-backup`
the error occurs
`Error: Could not extract image metadata.yaml from tar: Failed to run: tar -O -zxf /var/lib/lxd/images/lxd_build_953046405/lxd_post_144107296 metadata.yaml: tar: metadata.yaml: Not found in archive
tar: Exiting with fail

[2019-10-21 19:16] s3rj1k opened #6330 "Dir Quota on XFS, broken?"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.3
 * Kernel version: 4.15.0-66-generic
 * LXC version: 3.2.1
 * LXD version: 3.17, 3.18 (Snap)
 * Storage backend in use: dir
 * Mounts:
[code]
 * Kernel cmdline: ```BOOT_IMAGE=/vmlinuz-4.15.0-66-generic root=UUID=d0e1e3ef-78e4-4f45-98ce-e5df55a05b37 ro quiet splash rootflags=prjquota```
 * Quota configured inside CT:
[

[2019-10-21 19:35] Kramerican opened #6331 "Rename/Move using a shell script fails reliably - PATH issue?"
LXD 3.18 from Snap on Ubuntu Bionic

Issuing a `/snap/bin/lxc rename somename newname` or `/snap/bin/lxc move somename newname` invoked by a script always results in the message:

If run manually from a terminal, the command succeeds. The script is being run as root. The LXD log doesn't reveal much - here are log lines showing the script failing to rename and a manual run afterwards which works:

[2019-10-21 19:42] stgraber commented on #6331
what's running the script won't change the REST query. `lxc` itself doesn't do the work, the `lxd` server is, so it's unaffected by the PATH or other variables.

What storage pool driver are you using for this?

[2019-10-21 19:46] Kramerican commented on #6331
Ah yes of course I hadn't thought that far - that makes this mysterious indeed. It's a zfs backed system.

[2019-10-21 19:56] stgraber commented on #6330
Ok, so modifying the `size` property directly causes `df -h` in the container to update to the correct value?

If so, then we've properly updated the xfs project quota, any issue after that would most likely be a filesystem bug.

[2019-10-21 20:10] stgraber commented on #6329
Does the original tarball as returned by `lxc image export` import properly back into LXD?

If so, then there's something wrong in your repack stage which causes the metadata.yaml to either be moved inside a directory or some prefix added to its path (we've see `./metadata.yaml` for example in the past).

[2019-10-21 20:12] s3rj1k commented on #6330
@stgraber, yes ```size``` updates ```df -h``` output.
XFS quota works then I use cli tools directly to setup project quota (```xfs_quota```)

[2019-10-21 20:14] stgraber commented on #6330
Yeah, the problem there is that there are two kernel APIs, there is the old xfs-specific one (which xfs_quota uses) and the new generic one which LXD uses to configure both ext4 and xfs.

So it's possible that xfs either needs extra initialization to support the standard one or that there is some kind of kernel bug getting in your way here.

[2019-10-21 20:15] stgraber commented on #6330
What does `repquota -avugP` get you?

[2019-10-21 20:20] s3rj1k commented on #6330
[code]

[2019-10-21 20:25] stgraber commented on #6330
Ok, so that does show a hard 8GB limit applied for containerid 1 with about 10% of the allocation used... Does that match up with what `df` show you?

[2019-10-21 20:26] s3rj1k commented on #6330
[code]

[2019-10-21 20:27] s3rj1k commented on #6330
look correct

[2019-10-21 20:27] stgraber commented on #6330
Ok, so matches with what the kernel projquota API reports perfectly.

[2019-10-21 20:34] s3rj1k commented on #6330
Hmm, works as expected on 5.0.x kernel, I'll test with ext4 and newer kernel. Will open new issue if problem recurs.
Thanks.

[2019-10-21 20:34] #6330 closed

[2019-10-21 20:48] stgraber commented on #6321
Just did some testing here, using the same snap and kernel version, a clean block device or partition does work fine, one which is dirty (has an existing label/filesystem) causes a failure.

Prior to the fix we did recently, this would result in an error matching the one in this issue, with the recent fix applied, I now get:
[code]

So it seems likely to be the source of the issue here and even if

[2019-10-21 20:48] #6321 closed

[2019-10-21 20:54] stgraber commented on #6329
Indeed, this image repacking process is incorrect:

[code]

[2019-10-21 20:54] #6329 closed

[2019-10-21 21:35] stgraber commented on #6313
@turtle0x1 can you easily test with the edge build (`snap install lxd --edge`)?

I've done some initial testing and edge doesn't appear affected, that or I just got lucky.

[2019-10-21 22:14] turtle0x1 commented on #6313
Yeah, it will be a couple of days at this point though!

[2019-10-21 22:18] stgraber commented on #6313
What's odd is that we have daily tests for clustering which pretty much does the exact same thing you are and I don't believe I've seen such hangs in those tests, so I wonder what the actual condition is which causes that issue.

[2019-10-21 22:24] turtle0x1 commented on #6313
It could be lots of things, messing around with clustering required alot of purging lxd and re installing

[2019-10-22 07:13] whataboutpereira commented on #5344
Here are some pointers for MySQL on ZFS.

http://assets.en.oreilly.com/1/event/21/Optimizing%20MySQL%20Performance%20with%20ZFS%20Presentation.pdf

[2019-10-22 08:23] freeekanayaka commented on #6322
Just a quick check: it appear the database contains 167 containers and 4658 snapshots of them. Does that match what you'd expect?

[2019-10-22 08:40] freeekanayaka commented on #6322
Okay, I think I figured the cause of the problem. The database schema change from version 17 to version 18 is rather big, since it involves migrating snapshots to a standalone table and you have lots of them. Unfortunately the underlying database has currently some limitations about the size of a single transaction, so this particular update fails to get committed.

Probably the quickest solution

[2019-10-22 08:47] freeekanayaka commented on #6322
For example deleting all snapshots older than the first of October 2019 seems to fix the issue:

[code]

[2019-10-22 09:00] ubojan commented on #6322
Yup I would expect those number for containers and snapshots.
We would like to avoid deleting snapshots if possible, but if fix won't come soon, we might actually consider this.
BTW do you know what would be best (or easiest) way to detect and delete those snapshots (by hand)?

[2019-10-22 09:08] freeekanayaka commented on #6322
@ubojan you might be able to delete them from the database as suggested above, leave them on disk and then re-import them using the ```lxd import``` command. I think @stgraber might be able to confirm that, as I'm not very familiar with the import feature.

You could make a backup, try the above, and revert if it doesn't work.

[2019-10-22 10:32] ubojan commented on #6322
Thanks for the tip! I've deleted snapshots older than 2019-10-01 from the DB and that did the trick, lxd service is running again. I'll wait for @stgraber's advice regarding import.

[2019-10-22 11:10] s3rj1k opened #6333 "Dir quota issue, non-snap build"
* Distribution: ```Ubuntu```
 * Distribution version: ```19.10```
 * `lxc info`:
[code]
 * `mount | grep prjquota`:
[code]
 * `tune2fs -l /dev/md1 | grep features`:
[code]
 * CT Storage config:
[code]
 * ```repquota -avugPs```:
[code]
 * ```lxc exec test -- sh -c "df -h"```:
[code]

Project quota on Dir storage backend backed by ext4 filesystem on soft-raid (mdadm) device works incorectly when thi

[2019-10-22 11:26] Kramerican commented on #6331
Anything I can do to give you more detailed information here? :) To be fair, it is a non-critical issue as I can just rename those containers manually, but it is slowing some processes down on my end.

[2019-10-22 13:02] stgraber commented on #6322
You could try `lxd import NAME`, I suspect it will require you pass `lxd import -f NAME` to let you operate on a container that already exists in the database though. The container filesystem itself needs to be mounted for the backup.yaml file to be located.

[2019-10-22 13:02] stgraber commented on #6322
@freeekanayaka did you file a matching issue against dqlite? We really need this sorted. We already know we'll have a re-shuffle of storage_volumes next cycle which will cause even more changes in a single transaction than this one did.

[2019-10-22 13:08] stgraber commented on #6331
What's the simplest reproducer you have that I can run on a clean LXD host using zfs?

[2019-10-22 13:12] stgraber commented on #6333
I'll need to play with it a bit, but this isn't going to be a LXD bug, `repquota` shows we set the quota properly and the kernel shows it applied through `df`, so any issue with accounting/enforcement after that would be a kernel bug.

[2019-10-22 13:19] s3rj1k commented on #6333
@stgraber LXD snap version works with this disk layout and configs.

[2019-10-22 15:37] freeekanayaka commented on #6322
@stgraber issued filed, see above.

[2019-10-22 15:52] stgraber commented on #6333
And a container without a quota doesn't hit that error?

[2019-10-22 15:54] stgraber commented on #6333
`File too large` sounds like you may be hitting a prlimit/ulimit rather than it being a quota issue, which would explain why you would see something different between snap and manual build as one is started through systemd and our wrapper while the other isn't, possibly leading to different limits being applied.

[2019-10-22 15:56] stgraber commented on #6322
Ok, closing the LXD side of this then in favor of the dqlite issue.

This is the first report we have of someone hitting this, but likely won't be the last and as I said, we've got more changes coming up soon which will lead to even larger transactions, so it'd be good to prioritize that work accordingly.

[2019-10-22 15:56] #6322 closed

[2019-10-22 16:10] s3rj1k commented on #6333
CT without quota behaves as expected, no errors

[2019-10-22 16:21] s3rj1k commented on #6333
Inside CT:
[code]

I am actually using systemd to unit to start LXD

[code]

add LimitFSIZE=infinity, still seeing error

[2019-10-22 16:24] s3rj1k commented on #6333
Actually yes, without quota still have this error, WTF?

[2019-10-22 16:53] s3rj1k commented on #6333
@stgraber this is shitfs related. removing /lib/modules/5.3.0-19-generic/kernel/fs/shiftfs.ko fixed above error with large file.

Now the questing is how do i disable shifts property. blacklisting module did not help last time I tried.

Also there are no shiftfs settings in LXD itself

[2019-10-22 17:00] s3rj1k commented on #6333
@stgraber I can confirm that quota works as expected without ```shiftfs``.

Why on earth this is enabled by default on all kernels and LXD and in [snap is disabled](https://github.com/lxc/lxd-pkg-snap/blob/latest-edge/patches/0001-lxd-Add-temporary-variable-to-disable-shiftfs.patch)?

[2019-10-22 18:54] stgraber commented on #6333
LXD uses shiftfs whenever available, though due to kernel issues that are still being worked on, we have a patch in the snap that adds a knob to control it, disabling it by default and eventually enabling it if we're running on a known good kernel.

So sounds like this issue has nothing to do with project quotas but instead with handling of a particular filesystem operation. We'll need @brauner to

[2019-10-22 18:55] stgraber commented on #6333
Closing as there isn't any action for us to pursue in LXD, but will put it on @brauner's todo to sort this out at the shiftfs level.

[2019-10-22 18:55] #6333 closed

[2019-10-22 19:17] brauner commented on #6333
[code]

This should fix it.

[2019-10-22 19:19] stgraber commented on #6333
@brauner thanks, that was quick :)
Can you get a test kernel for @s3rj1k to validate that his stuff works fine?
And do the usual sending of the fix through the usual Ubuntu channels :)

One of these days we'll actually have shiftfs behave the way we want it!

[2019-10-22 19:19] s3rj1k commented on #6333
@stgraber @brauner Thanks )

[2019-10-22 19:20] s3rj1k commented on #6333
I am willing to test this out as soon as I get test kernel

[2019-10-22 19:24] brauner commented on #6333
I think having Kinderkrankheiten like this is pretty normal for something like shiftfs. I'm actually more and more happy since it also allowed us to find bugs in other filesystems. I'm pretty sure that our overlayfs changes should be upstreamed but there's only so hours in one day. :)

[2019-10-22 19:24] brauner commented on #6333
@s3rj1k building a kernel atm.

[2019-10-22 20:23] stgraber commented on #4656
@paride still good on your side?

[2019-10-22 20:39] brauner commented on #6333
With my fix:
[code]

Here is a kernel for you to test:
https://drive.google.com/open?id=15pLG3FAE52h6njRCfzgkZnG3tLen4ct0

[2019-10-22 20:39] brauner commented on #6333
@s3rj1k ^^

[2019-10-22 20:46] smoser commented on #4656
@stgraber,
Well, this is still failing for me.  I'm on latest stable lxd snap (3.18/12211)
I have attempted to grab all the information you had requested from paride and attached [lxc-info.txt](https://github.com/lxc/lxd/files/3758472/lxc-info.txt).  I'm not sure the debug settings actually stuck though, as journalctl doesn't look like paride's did.

let me know if you need anything else.

[2019-10-22 20:58] stgraber commented on #4656
@smoser the mount propagation intermediate mount appears missing in your case which would explain the behavior. Did you reboot your system at some point after Oct 16th?

If not, could you reboot, start a few containers and get me the output of `cat /proc/$(pgrep daemon.start)/mountinfo`?

In theory, stopping all containers and restarting LXD may also achieve most of the same effect, though having

[2019-10-22 21:05] s3rj1k commented on #6333
@brauner kernel fixes ```File too large``` error but breaks quota enforcement
![2019-10-23_00-02-55](https://user-images.githubusercontent.com/11349489/67333007-86c40100-f528-11e9-9d0b-f22a65794353.png)

as seen in screen I can create file larger then available quota

[2019-10-22 21:11] brauner commented on #6333
@stgraber, any idea about the quota stuff for the underlay?

[2019-10-22 21:46] brauner commented on #6333
I can reproduce this on non-shiftfs as well though.

[2019-10-22 21:51] s3rj1k commented on #6333
@brauner did you do ```tune2fs -O project,quota -Q prjquota /dev/sda1``` on fs before mounting it with ```prjquota``` ?

[2019-10-22 22:19] brauner commented on #6333
Might be as simple as:
[code]

[2019-10-22 22:30] s3rj1k commented on #6333
@brauner I can check later today (in morning by CEST) in my setup if you prepare updated kernel.

[2019-10-22 22:32] brauner commented on #6333
@s3rj1k sure, will link to a new kernel here.

[2019-10-22 22:45] stgraber commented on #6333
@brauner yeah, enabling project quotas needs some effort, the tooling for it is rather awful :)
LXD dir containers on a filesystem that's had the tune2fs property set and is mounted with the prjquota option will normally do the right thing then.

[2019-10-22 22:46] brauner commented on #6333
My Ubuntu vm doesn't support it and I got pretty mad when I realized that adding `prjquota` as a mount option in `/etc/fstab` forced me to reboot into rescue mode and remount my rootfs rw, so I could edit my fstab...

[2019-10-22 23:40] brauner commented on #6333
@s3rj1k
https://drive.google.com/open?id=1hZFPw7cqCQL1ptCHQINgb2NBi4A5rTp2

[2019-10-23 02:07] smoser commented on #4656
I have not rebooted since the 16th. So I'll try rebooting tomorrow and try to remember to report back here. thanks for taking a look.

[2019-10-23 06:33] s3rj1k commented on #6333
@brauner Confirming that latest kernel works correctly with quotas and shiftfs. Yay))

When this fix is expected to be publicly available? (To double test this on public kernel)

[2019-10-23 08:25] harridu commented on #3456
Is there a similar restriction for using zfs?

[2019-10-23 08:46] paride commented on #4656
@stgraber after a week, still good. From my point of view the issue looks fixed. Thanks a lot!

[2019-10-23 09:00] brauner commented on #6333
Excellent.

In a couple of weeks. I'll give you a link to the launchpad bug here.

[2019-10-23 11:41] stgraber commented on #4656
@paride good to hear, will wait to confirm that @smoser's setup looks good after reboot and then we can hopefully close this.

[2019-10-23 12:25] brauner commented on #6333
@s3rj1k here are the launchpad bugs to track:
- [shiftfs: prevent exceeding project quotas](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1849483)
- [shiftfs: fix fallocate()](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1849482)

Once a kernel will be proposed it'll be mentioned in these bugs. You can subscribe to them to get notified when that happens.

[2019-10-23 12:49] s3rj1k commented on #6333
@brauner Thanks, hoping to see this fix soon )

[2019-10-23 12:54] s3rj1k commented on #6333
@stgraber Small not related question. How can I programmatically match container with project quota ID, to get usage statistics?

[2019-10-23 13:02] stgraber commented on #6333
The id is 10000 + id of container as you'd find them in `lxd sql global "SELECT id, name FROM instances;"`

Note that the used space is also reported through `lxc info NAME`.

[2019-10-23 13:06] s3rj1k commented on #6333
@stgraber Thanks, ```lxc info NAME``` sadly does not report correct usage

[2019-10-23 13:29] smoser commented on #4656
Well... i rebooted, and survived a

    lxc launch ubuntu-daily:eoan e1 && lxc delete --force e1

which was failing yesterday.  It wasn't 100% recreate previously, but when it got into a bad state it would stay there.  I'll keep fingers crossed.

[2019-10-23 13:31] stgraber commented on #4656
@smoser can you show that mountinfo data? (`cat /proc/$(pgrep daemon.start)/mountinfo`)

[2019-10-23 13:46] s3rj1k opened #6343 "[Feature Request] Container ID in REST API"
Would be nice to have Container ID from ```lxd sql global "SELECT id, name FROM instances;"``` exposed in REST API call ```/1.0/containers/<name>```

[2019-10-23 13:51] stgraber commented on #6343
Hmm, no, we don't intend to ever export database internals over the REST API.

Those can change at any time and we don't want to end up being tied to the API backward compatibility guarantees on any of this. (Those ids specifically, did all change recently when we split snapshots to their own tables, this would be an API break if it had been exposed).

[2019-10-23 13:51] #6343 closed

[2019-10-23 13:54] s3rj1k commented on #6333
@stgraber Should I do separate Issue for ```lxc info NAME``` bug?

[2019-10-23 13:55] smoser commented on #4656
$ cat /proc/$(pgrep daemon.start)/mountinfo
    1198 1382 253:0 / /var/lib/snapd/hostfs rw,relatime master:1 - ext4 /dev/mapper/nvme0n1p6_crypt rw,errors=remount-ro,data=ordered
    1204 1198 0:23 / /var/lib/snapd/hostfs/run rw,nosuid,noexec,relatime master:5 - tmpfs tmpfs rw,size=1630164k,mode=755
    1205 1204 0:27 / /var/lib/snapd/hostfs/run/lock rw,nosuid,nodev,noexec,relatime master:6 - tmpfs

[2019-10-23 13:58] stgraber commented on #6333
Yeah, that'd be good to track down, I would have expected data to be returned just fine for dir backend.

[2019-10-23 13:59] stgraber commented on #4656
@smoser good, so you do have the intermediate mount in there now and your containers are all properly underneath it, so that should work as expected.

Tentatively closing this issue.

[2019-10-23 13:59] #4656 closed

[2019-10-23 14:01] ColinIanKing commented on #4656
This is excellent news. Thanks for solving this @stgraber.

[2019-10-23 14:08] s3rj1k opened #6345 "Incorrect disk usage report when using Dir quota"
Setup is the same like in https://github.com/lxc/lxd/issues/6333#issue-510584054

When using Dir storage backend and ext4 project quota enabled, disk usage reports are incorrect.

No related output in ```lxc info NAME``` and in direct API query.

![67396230-dc8fbc00-f5af-11e9-8031-1e2dba56d4c0](https://user-images.githubusercontent.com/11349489/67401276-99394b80-f5b7-11e9-92dd-357ba2ce8c84.png)

!

[2019-10-23 14:43] s3rj1k commented on #6345
@stgraber done
![изображение](https://user-images.githubusercontent.com/11349489/67404794-8b39f980-f5bc-11e9-9549-11a61101e5cb.png)

[2019-10-23 14:48] stgraber commented on #6345
@s3rj1k not having any luck reproducing this issue so far, I always get the disk usage data returned here.

[2019-10-23 14:51] s3rj1k commented on #6345
@stgraber do you use ext4 quota on mdadm raid? I think this can be related to enabled quota on a partition.

[2019-10-23 14:52] stgraber commented on #6345
I do have quotas enabled but on a ext4 loop device.

[2019-10-23 14:53] stgraber commented on #6345
Can you run: https://dl.stgraber.org/lxd-6345

That binary will output debug data on failure to fetch the disk usage.

[2019-10-23 15:01] s3rj1k commented on #6345
I can check on a snap version of LXD if needed

[2019-10-23 15:20] andersruneson commented on #2305
Hm, I tried the same again, but without changing /etc/docker/daemon.json and this time it worked!
Magic!
Thanks @stgraber .

[2019-10-23 15:47] stgraber commented on #6345
that container isn't running, you need the container to be running

[2019-10-23 17:06] s3rj1k commented on #6345
@stgraber did not noticed that it was stopped, sorry

[code]

[code]

[code]

Was able to replicate this with your binary then ```shiftfs``` is disabled (deleted kernel module)

[2019-10-23 17:09] s3rj1k commented on #6345
@stgraber on a side note, can we have ```quota project id``` to ```config:volatile.*``` struct?
Should not break any API promises and will make life a bit easier for me at least :)

[2019-10-23 17:12] s3rj1k commented on #6345
I think it should look for quota on ```/var/lib/lxd/storage-pools/default``` instead of ```/var/lib/lxd/storage-pools/default/containers/test```

[2019-10-23 17:12] stgraber commented on #6345
@s3rj1k what's `repquota -avugP` getting you now?

[2019-10-23 17:13] s3rj1k commented on #6345
[code]

also everything is fine inside CT using `df`

[2019-10-23 17:15] stgraber commented on #6345
I've updated https://dl.stgraber.org/lxd-6345 can you give the updated binary a go?

The path that was logged wasn't the actual path being queried, so I changed the logging to report the right one.

[2019-10-23 17:16] s3rj1k commented on #6345
![изображение](https://user-images.githubusercontent.com/11349489/67417646-ecb89300-f5d1-11e9-892d-699f38cbfcf9.png)

[2019-10-23 17:16] s3rj1k commented on #6345
@stgraber yep, just a moment

[2019-10-23 17:18] s3rj1k commented on #6345
@stgraber
[code]

[2019-10-23 17:28] s3rj1k commented on #6345
Same output, dmesg is empty
[code]

[code]

[2019-10-23 17:32] stgraber commented on #6345
stgraber@castiana:~/data/code/lxc/lxd (lxc/master)$ curl https://dl.stgraber.org/lxd-6345 -s | md5sum
4db9e3aba4e9ce8fc87ef6c44f519a88  -

^ that's the md5 you should have

[2019-10-23 17:37] s3rj1k commented on #6345
@stgraber forgot that I was doing ```patchelf --set-rpath "/usr/lib/lxd" ./lxd-6345``` to load shared libraries

re-downloaded, checked md5, patched rpath, same thing
[code]

[2019-10-23 17:40] s3rj1k commented on #6345
On a side note, while using ```shiftfs``` disk usage returns correct, while quota is broken as before (no kernel patch applied, the one from other issue)

[2019-10-23 17:40] splett2 commented on #6225
Hi, sorry for the radio silence, we ended up busy with projects and other deadlines, we're going to start working on this now.

[2019-10-23 17:42] s3rj1k commented on #6345
@s3rj1k I am running from bash console directly, I can try to redirect stderr to a file, one moment

[2019-10-23 17:44] s3rj1k commented on #6345
@stgraber

[code]

[2019-10-23 17:46] stgraber commented on #6345
So those two lines is what you're getting in the `error` file?

If so, then we'll want to try with more debugging, can you run it as:
`strace -fF -o trace -s999 ./lxd-6345 --group lxd`

Then do the `lxc info` call, kill lxd and push the `trace` file somewhere.

[2019-10-23 17:52] s3rj1k commented on #6345
@stgraber done
https://drive.google.com/file/d/1qS82wLzPIjo9ZYcW-YimM8J-v-40_yg-

[2019-10-23 17:54] stgraber commented on #6333
[code]

That's weird, it shows success and the right data, then prints the error anyway :)

[2019-10-23 17:55] stgraber commented on #6345
[code]

That's weird, it shows success and the right data, then prints the error anyway :)

[2019-10-23 17:57] s3rj1k commented on #6345
@stgraber well, quota works correctly, only reporting broken, maybe something in go, error type casting?

[2019-10-23 17:58] stgraber commented on #6345
Updated the binary with an extra logging line to see if we're getting a negative value for some odd reason.

[2019-10-23 18:01] s3rj1k commented on #6345
@stgraber Lol, good guess, negative indeed

[code]

[2019-10-23 18:02] stgraber commented on #6345
New binary, try that one. I'm forcing the type to int64_t which hopefully will avoid that issue :)

[2019-10-23 18:07] s3rj1k commented on #6345
Works correctly, YAY

[code]

So more questions, when will be fixes released approximately?
and about that ```quota project id to config:volatile.*```
https://github.com/lxc/lxd/issues/6345#issuecomment-545543902

[2019-10-23 18:10] stgraber commented on #6345
Not too sure about the volatile idea, it's reasonably expensive for us to set those keys and they do get in the way of migration as source and destination servers must support them (and would also need to update them). We're also trying to deliberately not have any DB knowledge or access from the low level storage driver where the quotas reside.

That doesn't really feel any cleaner to me than you

[2019-10-23 18:11] stgraber commented on #6345
I've updated the binary again now with the debugging removed and more typing fixes for quotas, can you confirm this still works for you?

[2019-10-23 18:11] s3rj1k commented on #6345
@stgraber I would just like to avoid running those SQLs ;)
Yep, moment

[2019-10-23 18:13] stgraber commented on #6225
@splett2 no worries, let us know if you have any questions

[2019-10-23 18:14] s3rj1k commented on #6345
@stgraber Confirming, works as expected

[2019-10-23 18:18] stgraber commented on #6345
@s3rj1k added another change to my branch exposing the `disk` struct in /state even when the container is stopped

[2019-10-23 18:22] s3rj1k commented on #6345
Stopped CT:
[code]
Started CT:
[code]

disk usage of 8GB is ok, was testing 100% usage of quota

[2019-10-23 18:24] stgraber commented on #6345
Updated the binary now with the code for stopped containers.

[2019-10-23 18:27] s3rj1k commented on #6345
@stgraber That's really handy

[code]

[2019-10-23 18:50] andersruneson commented on #2305
No, the difference when I got it working was that the container had security.privileged=true.

@stgraber do you know of another way besides the reduced security?
This suggestion maybe https://github.com/lxc/lxd/issues/2305#issuecomment-391113595

[2019-10-23 19:14] #6345 closed

[2019-10-23 20:16] Namit-Agrawal commented on #6305
I would like to work on this.

[2019-10-23 20:36] stgraber commented on #6305
Per our e-mail discussion, I suspect the main steps for this will be:
 - Build up a list of all the CGroupV1 files that we interact with today
 - Figure out the equivalent for each of those in the CGroupV2 world
 - Create a set of functions in the "cgroup" package which covers our current use of cgroups and switch over to using them
 - Add functions to detect whether a particular controller is pre

[2019-10-23 21:35] andersruneson commented on #2305
No, the suggestion from https://github.com/lxc/lxd/issues/2305#issuecomment-391113595 renders in this issue: https://stackoverflow.com/questions/45731683/docker-pull-operation-not-permitted

[2019-10-25 04:49] alex9434 commented on #2507
Hi @sgraber and @candlerb  , unfortunately I have exactly the same issue with a privileged lxc container.

[code]
I have checked that extended attributes are enabled:
[code]
Is it OK to add this to the existing issue or should I open a new one?

[2019-10-25 08:45] candlerb commented on #2507
You did check with `ls -l /usr/bin/loolforkit` that it is not a symlink?

But in any case, it's a different issue.  Firstly, you said it's an lxc container (not an lxd container).  And secondly, you said it occurs in a privileged container - this ticket is about setcap in unprivileged containers.

[2019-10-25 11:55] alex9434 commented on #2507
Thank you, I have opened a new ticket with the additional information:
lxc privileged container: setcap Failed to set capabilities on file #3172

[2019-10-25 12:34] candlerb commented on #2507
Wrong link, should be to https://github.com/lxc/lxc/issues/3172

[2019-10-25 13:11] alex9434 commented on #2507
thank you, sorry my mistake

[2019-10-25 17:57] stgraber commented on #6331
@Kramerican

[2019-10-25 18:10] Kramerican commented on #6331
@stgraber Sorry Stéphane - I'll get back to this soon-ish - I just found a workaoround which consists of doing a retry after a 5sec sleep and as that worked I've been forging ahead with out workflows. It's quite strange really, it _seems_ as if it's required that the container has been running for some time and then consistently the first rename will fail while the second always succeeds.

Anyway,

[2019-10-25 18:37] stgraber commented on #6331
So we did some changes to the way mounts are handled in the snap to avoid other issues around container deletion, my guess is that's what's getting in your way, especially with systems that would have been started with the older broken logic.

Any chance you can see if this behavior shows up after a system reboot?

If not, then we can probably ignore the issue as a side effect of the fix we did an

[2019-10-25 18:45] Kramerican commented on #6331
Yes I've been thinking that as well, as I've been following that thread as well, in that I started that one :) I can conceivably - maybe - do that test for you, but I need to think about it for a little bit. I suspect you are right. In any case, I'll try and do that test soon and get back to you - so let's keep this open for a little while longer if that's ok.

Thanks again Stéphane

[2019-10-25 18:46] stgraber commented on #6331
Yep, I'll nag you at some point next week :)

[2019-10-25 19:42] turtle0x1 opened #6352 "Both empty directories & empty files return null"
It would appear when getting a path on the api there is no difference between an empty file and an empty directory they are both `null` is there anyway this behavior can be avoided ?

[2019-10-25 19:43] #6352 closed

[2019-10-25 19:44] turtle0x1 commented on #6352
Ive realised I can probably achive what I want by look at the headers if the response is null sorry!

[2019-10-25 20:11] s3rj1k opened #6353 "[BUG] Stripping lxd binary effectively breaks it"
Is there a way of removing debug info from lxd daemon without breaking it?

[2019-10-25 20:16] stgraber commented on #6353
We've been stripping both lxc and lxd in the LXD snap for months now and haven't seen a problem doing that:

[code]

[2019-10-25 20:17] stgraber commented on #6353
We run a simple `strip -s` on them.

[2019-10-25 20:18] stgraber commented on #6353
Older versions of the Go compiler had issues with stripping, but we've not seen any of those in years and I believe started stripping our binaries around the time we switched to Go 1.10.

(Closing as even if this wasn't working, any issue would be with the Go compiler, not something we can influence ourselves.)

[2019-10-25 20:18] #6353 closed

[2019-10-25 22:12] s3rj1k commented on #6353
ok, issue actually was because of ```patchelf```

[2019-10-25 22:43] Lilyjjo commented on #6225
Hello, I'm working with David on this project

We saw two places to add logic for the mount options stemming from Start() in disk.go:
1.) Start() calls createDevice() which calls device_utils_disk.go’s DiskMount() which performs a unix.Mount(). We’re thinking of adding the raw.mount.options to this unix call, do you think that is needed? It looks to be creating the device on the host which is unmo

[2019-10-26 22:55] stgraber commented on #6225
@Lilyjjo Indeed the main spot to pass the extra mount options is the first `unix.Mount` call in `DiskMount`. I'd suggest adding an extra argument to `DiskMount` allowing for arbitrary mount options to be passed through, passing those to `unix.Mount`.

I don't think you actually need to do anything about RunConfig as that part of the mount handling is only about telling liblxc to bind-mount the dev

[2019-10-26 22:57] stgraber commented on #6225
(I realize I'm the one who mentioned RunConfig/forkmount, as it turns out, we only use those two approaches to inject a bind-mount into the container, so don't actually need to touch those at all so long as the initial mount of the device is correct)

[2019-10-27 22:39] abbykrish commented on #6174
Hi Stephane, we're starting to work on the project and I realized I was never added to this issue. Could you quickly add me?

[2019-10-27 22:45] stgraber commented on #6174
done!

[2019-10-27 22:47] anusha-paul commented on #5826
Hi @stgraber, could you add me to this issue as well?

[2019-10-28 00:13] ulziibuyan commented on #6273
Thanks for writing the elaborate guide, @stgraber. I've opened pull-request #6356 for your review.

[2019-10-28 08:31] stgraber commented on #5826
done!

[2019-10-28 09:43] gaetanquentin opened #6357 "enhancement request: using btrfs subvolume/snapshot instead of tar.gz for images"
lxd image management uses tar.gz to build and store images.

And when you create a container:
- it is slow because it unzip the archive and do a full copy
- it is a waste of resource since creating containers create a full copy each time: 3 containers = 3 full copies

btrfs and its cow system would be usefull instead:
- a subvolume would be created like for containers
- when creating a container a

[2019-10-28 09:46] stgraber commented on #6357
This isn't quite accurate. The only case where we unpack the image every time is if you're using a `dir` storage backend.

For all the others, we unpack the image (which is usually squashfs, not tar) during the first container creation, the image is then turned into a btrfs subvolume or zfs dataset or lvm lv, ... and the container is then created as a copy on write clone of that.

We cannot have t

[2019-10-28 09:46] #6357 closed

[2019-10-28 10:04] gaetanquentin commented on #6357
ok. it has always been like that?

[2019-10-28 13:55] Lesterpig opened #6359 "Invalid source directory for btrfs storage pool after snap upgrade"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04  (latest snap)
 * The output of "lxc info"

[code]

# Issue description

After latest snap refresh, trying to start a container is impossible because local storage pools points to invalid directory.

[code]

# Steps to reproduce

1. Configure LXD cluster with snap <= 3.17 and btrfs pool on `/mnt/pool`
2. Create a custom

[2019-10-28 17:34] stgraber commented on #6359
What do you see if you do:

 - nsenter -t $(pgrep daemon.start) -m -- ls -lh /var/snap/lxd/common/lxd/storage-pools/local/custom/

On host `kili`?

Also, can you show `lxc config show --expanded <container name>` and `lxc storage volume list local`?

[2019-10-28 19:16] vjeko opened #6362 "Slow Memory Leak"
# Required information

 * Distribution: Debian
 * Distribution version: Unstable
 * The output of "lxc info" or if that fails:
[code]

   * Kernel version: `5.2.0-2-amd64 #1 SMP Debian 5.2.7-1 (2019-08-07) x86_64 GNU/Linux`
   * LXC version: 3.18
   * LXD version: 3.18
   * Storage backend in use:
[code]

# Issue description

Might be the same issue as:  #5584

LXD keeps eating up more and more m

[2019-10-28 22:03] stgraber commented on #6362
Can you show:
 - grep RSS /proc/PID/status
 - lxc query /internal/gc
 - grep RSS /proc/PID/status

[2019-10-28 22:13] vjeko commented on #6362
Thanks for the quick response!
[code]

At this point the process is consuming 1.7G:

[code]

[2019-10-28 22:23] stgraber commented on #6362
@vjeko ok, RSS is a bit on the high side, with 40MB being more common but still not too bad.
Can you show the entirety of `/proc/2029/status` too?

And do you have a dump of an actual OOM killer triggering because of this?

The value you're showing here from pmap likely lines up with the virtual memory (VIRT) size, this isn't reflective of actual memory usage, that's what RSS is about, so your LXD

[2019-10-28 23:28] vjeko commented on #6362
[code]
Good point.  Let me do a bit more digging.  One thing to note is that this is a pretty memory-constrained system (8GB).

When I flush the page cache the amount of available memory goes from 2.1GB -> 2.4GB.
When I restart LXD the amount of available memory jumps to ~3.5GB (don't remember the exact number).

The last time OOM killer ran, I was even unable to ssh into the machine. I noticed th

[2019-10-29 07:56] stgraber commented on #6362
Can you show:
 - `cat /proc/self/mountinfo`
 - `cat /proc/$(pgrep daemon.start)/mountinfo`

[2019-10-29 08:19] Lesterpig commented on #6359
Thanks for your help!

* The nsenter did return nothing (on both cluster hosts)
* lxc config show

[code]

* lxc storage volume list local (extract in csv format)

[code]

---

I restarted lxc multiple time, killing remaining processes (lxcfs) when needed, but this completely crashed my cluster: all containers in STOPPED state, unable to start with the aforementioned issue.
So, I went the hard way

[2019-10-29 08:33] stgraber commented on #6359
Ah, ok, so hopefully this was the mount propagation issue we fixed in the snap packaging a bit over a week ago and now that you've restarted those systems, the mount table makes sense again and things will behave going forward.

[2019-10-29 08:33] #6359 closed

[2019-10-29 08:34] stgraber commented on #6313
@turtle0x1 did you have a chance to poke at this some more?

[2019-10-29 08:35] stgraber commented on #6331
@Kramerican ping :)

[2019-10-29 08:39] turtle0x1 commented on #6313
No sorry, i moved on clustering is wayy to annoying! We can close this if you want

[2019-10-29 10:31] Kramerican commented on #6331
Fine timing @stgraber - I will be doing the reboot test later today - will report back here :)

[2019-10-29 10:42] stgraber commented on #6331
Excellent, thanks!

[2019-10-29 11:03] AceSlash opened #6363 ""A stop job is running for Service for snap application lxd.daemon" running for 10 minutes at shutdown"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info":
[code]
   * Storage backend in use: ZFS

# Issue description

At shutdown, the message `A stop job is running for Service for snap application lxd.daemon` runs until its time out of 10 minutes.

This issue has been reproduced on a series of 10 identical servers, mainly during their initializ

[2019-10-29 11:13] stgraber commented on #6363
Can you show:
  - snap list
  - lxc storage show default
  - journalctl -u snap.lxd.daemon -n 300

[2019-10-29 11:41] AceSlash commented on #6363
- snap list
[code]
- lxc storage show default
[code]
journalctl:
[code]

[2019-10-29 14:33] suprasoil commented on #6313
I'm running into the exact same problem while installing new LXD cluster with the same ansible scripts i've been using for a long time now.

Having this problem when installing from 3.17/stable & 3.18/stable

Trying edge now. Will report back.

[2019-10-29 14:33] stgraber commented on #6363
Ok, so we do indeed see the 10min timeout:
[code]

This does suggest that `lxd shutdown` took far longer than it's supposed to, especially with no containers running. It's unclear why we're not seeing this on our test systems though, there must be something else at play.

Can you show the full `journalctl -b -1`? Assuming that the issue hit the last time you shutdown the system. This may show any

[2019-10-29 14:36] stgraber commented on #6313
Interesting, I've seen this hit once but haven't been able to reproduce it on edge, it's also never hit our daily cluster testing which automatically assembles a 8 nodes cluster using something very similar to what @turtle0x1 described. If we can get some kind of reliable reproducer we can use on our end, then we can track this down.

The message `Unaccounted raft nodes...` isn't really an issue b

[2019-10-29 14:38] suprasoil commented on #6313
Alright, edge is reporting the same problems. Both node2 & node3 are joining node1 cluster via `lxd init --preseed`

Node1:
[code]

node2:
[code]

node3:
[code]

[2019-10-29 14:46] AceSlash commented on #6363
Interesting lines from the journactl:
[code]
The full log is attached: [journalctl.txt](https://github.com/lxc/lxd/files/3784111/journalctl.txt)

[2019-10-29 14:56] stgraber commented on #6313
@suprasoil can you provide the answers you used for `lxd init` on node1 and the preseed you used for the other two?

 Also are those physical systems or are they LXD containers themselves?

[2019-10-29 15:00] stgraber commented on #6313
@suprasoil what kind of storage speed are you dealing with? I believe the only time I managed to reproduce this was on a reasonably slow systems. Everything else I'm playing with have stupidly fast NVME SSDs (including our CI runs) and so didn't seem to hit it.

[2019-10-29 15:01] suprasoil commented on #6313
node1 config:
[code]

Node2 & 3(although with different address & name) config:
[code]

Hosts are KVM/qemu virtual machines running from a SATA600 SSD.

[2019-10-29 15:01] stgraber commented on #6363
Wow, that's really weird... `lxd shutdown` should have returned at the same time as this `LXD exited cleanly`, what is it getting stuck on...

I'll try to reproduce the issue in a VM, messing with the units directly.

[2019-10-29 15:01] stgraber commented on #6363
Moving the issue over to lxd-pkg-snap as this definitely looks like a packaging script issue.

[2019-10-29 19:46] shreyassood commented on #6305
@stgraber I would like to contribute as well -- could you please assign me to the issue as well?

[2019-10-29 21:21] rcash commented on #6169
Hi @stgraber I'm a student in UT Austin's virtualization class. Does this issue still have a deadline for the end of October? I'm also curious about this for #6170

[2019-10-29 21:42] stgraber commented on #6169
@rcash Hi, in theory, yes, but we're obviously not going to make it, so those two issues will be pushed to the next development cycle for us and so we'd likely want them done by February at this point.

[2019-10-29 21:44] stgraber commented on #6169
I've now updated the forum to reflect that we won't deliver those two at the planned time and moving the deadline on them to end of January instead.

[2019-10-29 21:46] Kramerican commented on #6331
Hey @stgraber

Alright, after a reboot, I issued the command and got:

root@rom ~ # lxc rename grabandgonyf grabandgonyfsoftdelete
Error: rename /var/snap/lxd/common/lxd/storage-pools/lxd/containers/grabandgonyf /var/snap/lxd/common/lxd/storage-pools/lxd/containers/grabandgonyfsoftdelete: file exists

This particular system is running v3.11 - so yeah, not sure if this exists in later versions. Any

[2019-10-29 22:02] mparfan commented on #5211
Hi, I'm a student taking a virtualization class at UT Austin, and I'm currently collaborating with two others. @stgraber Is it possible that we can get more information about this issue if it's still available?

[2019-10-29 22:21] aadi123 opened #6365 "Error When Compiling LXD on 19.10"
# Required information

 * Distribution: Pop!_OS
 * Distribution version: 19.10

# Issue description

I run into an issue saying that listener.Wait does not have enough arguments while trying to compile LXD.

# Steps to reproduce

Go through installation instructions, and also install libsqlite3-dev. Then this error occurs during the make command

# Information to attach

[code]

[2019-10-29 22:26] stgraber commented on #6365
That's because you're building LXD from a directory other than "~/go/src/github.com/lxc/lxd", so you effectively have two copies of the LXD codebase, the one in your directory (which has the new websocket functions) and the one you retrieve when you ran "go get" which is in "~/go/src/github.com/lxc/lxd".

When building, the two get mixed up and things break.

You should always work within the Go p

[2019-10-29 22:26] #6365 closed

[2019-10-29 22:28] stgraber commented on #6331
Oh, 3.11, that's rather old, I don't even remember what kind of storage changes we've done since but it's a lot :)

So I'd indeed strongly recommend getting at least one of those over to 3.18 and see if you're still running into issues then.

[2019-10-29 22:28] #6331 closed

[2019-10-29 22:43] stgraber commented on #5211
So my understanding of that LVM feature is pretty limited so we'll need @danielrobbins to confirm that this would work for him. My understanding is that for striping, you'll want to configure both the number of stripes and the stripe size.

For LXD, we'll want this applied on a per-volume basis with support for a default volume as would typically be used for creating a new container from an image.

[2019-10-29 22:43] miranda0615 commented on #3832
Hi @stgraber , I'm a student from UT Austin. I am taking a virtualization class that requires us to work on an open source project, so I was wondering if you are still looking for people to contribute to this. If so, can I get more information on this issue? Thank you very much!

[2019-10-29 23:06] stgraber commented on #3832
@miranda0615 yes, we are!

When dealing with remote clients, LXD mostly uses TLS based authentication, where the client will connect using a client certificate and if it's in LXD's database, the access will be allowed.

Those certificates can be added remotely if the user known the the trust password (`core.trust_password`).

Now, by default both LXD and the client use independently generated TLS

[2019-10-29 23:06] stgraber commented on #3832
@wociscz would the above cover your use case?

[2019-10-30 01:09] lucindan commented on #6305
Hi Stéphane,
we're having trouble trying to set up LXD. When we do the Machine Setup
part, we run into a segfault.
[image: image.png]
This is our output when we tried running it with GDB
[image: image.png]
Do you have ideas on what we could do to fix this?
Thanks,
Lucinda

On Tue, Oct 29, 2019 at 2:46 PM Shreyas Sood <notifications@github.com>
wrote:

[2019-10-30 01:34] stgraber commented on #6305
Hi @lucindan the screenshot didn't make it to github I'm afraid so it's a bit hard to help :)

The mention of a segfault makes me think of a broken dqlite setup, did you make sure that the terminal you're running `lxd` from has those `export` variables that `make deps` gave you?

If not, it'd be missing the correct `LD_LIBRARY_PATH` which usually results in a segfault during DB initialization.

[2019-10-30 02:15] aadi123 commented on #6305
Here is some output that might be helpful

[code]

[2019-10-30 06:19] wociscz commented on #3832
Yes, exactly!
And it'd be nice to add also `ocsp` mechanism beside `crl`, and taking these parameters/variables from certificates themselves would be excellent.

[2019-10-30 06:20] wociscz commented on #3832
(sorry missclick)

[2019-10-30 08:35] stgraber commented on #6305
@aadi123 that's pretty odd. Can you run with `--debug`.

Also, @freeekanayaka has been doing some fixes around the database logic so maybe you got unlucky and built at a time things were inconsistent, you could run `make deps` again to update those bits and see if that helps.

[2019-10-30 09:10] stgraber commented on #6305
@aadi123 @freeekanayaka and I have now reproduced that failure on our systems too, looking into it.

[2019-10-30 09:15] stgraber commented on #6305
looks like building libraft with --enable-debug fixes it :)

[2019-10-30 10:15] stgraber commented on #6305
@aadi123 this has now been resolved, running `make deps` should refresh your copy of libraft and let LXD run.

[2019-10-30 12:19] panlinux commented on #4662
`[z_upgrade]` kicking in with high CPU usage could be https://github.com/zfsonlinux/zfs/issues/9410

[2019-10-30 12:24] stgraber commented on #4662
yeah, that's a kernel thread, not a lot we could do about that, though that's not one I remember seeing before (I usually see stuff coming from the various zfs tx threads).

[2019-10-30 13:10] opunix opened #6366 "Failed instance creation: Create container: Create LXC container: Interfaces must have a MAC address"
#6266 Required information

 * Distribution: 18.04 LTS
config:
  cluster.https_address: x.x.x.x:8443
  core.https_address: x.x.x.x:8443
  core.trust_password: true
  maas.api.key:zzz
  maas.api.url: http://a.a.a.a:5240/MAAS
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- e

[2019-10-30 14:26] stgraber commented on #6366
Looks like some kind of regression we must have caused when we re-did the device support in LXD, should be reasonably straightforward to track down and fix.

[2019-10-30 14:39] stgraber commented on #6366
Fixed

[2019-10-30 23:05] qaisjp commented on #3096
And the [legacy key] for this is `lxc.aa_profile`

[legacy key]: https://github.com/lxc/lxd/issues/4396#issuecomment-378322166

[2019-10-30 23:39] rcash commented on #6169
Awesome, my group is pretty interested in this one but we're pending instructor approval currently.

[2019-10-30 23:40] rcash commented on #5211
Thank you for the additional info! I'm one of @mparfan 's collaborators, we're interested in this one as well, just pending instructor approval.

[2019-10-30 23:47] stgraber commented on #5211
Cool, let me know when you get the go ahead and I'll assign it to the two of you.

[2019-10-30 23:48] stgraber commented on #6169
Excellent, just let me know when you have the go ahead and get the rest of your group to comment so I can assign it to all of you.

[2019-10-31 00:02] #6366 closed

[2019-10-31 05:46] gattytto commented on #2977
https://github.com/eclipse/che-docs/pull/891/files

[2019-10-31 18:09] ltrager opened #6378 "LXD commissioning data differs when run in a container vs metal"
MAAS 2.7 uses the LXD commissioning data. During testing we have noticed that this information differs between when commissioning data is gather with LXD on bare metal vs in an LXD container. The information isn't just different it is sometimes wrong which is causing issues with MAAS

1. Blocksize is being detected as 0([LP:1848822](https://bugs.launchpad.net/maas/+bug/1848822)). We worked around

[2019-10-31 18:15] stgraber commented on #6378
Unfortunately nothing we can do about that. Containers don't have access to the raw block devices, so this data cannot be retrieved making it all unset.

[2019-10-31 18:16] stgraber commented on #6378
The size thing needs fixing, will look into that one. Sounds like we're not properly handling a -1 or something.

[2019-10-31 18:31] ltrager commented on #6378
Could this information be added to the [socket in the container at /dev/lxd/sock](https://lxd.readthedocs.io/en/stable-2.0/dev-lxd/)? This way the information would be gathered on hardware and we wouldn't see any differences.

[2019-10-31 18:45] stgraber commented on #6378
No, this would be information leakage across privilege boundary

[2019-10-31 19:51] DannyMTran commented on #6223
Hi, I was just added to their group. Can I also be assigned?

[2019-10-31 19:55] stgraber commented on #6223
Sure!

[2019-10-31 20:45] sz17 commented on #3832
Hello @stgraber , we are students from the same virtualization class as Miranda and we would be interested in working on this issue. Is it still available? Thank you!

[2019-10-31 21:11] miranda0615 commented on #3832
Hi @stgraber , thanks so much for the reply! Would you mind assigning the issue to my group then? Thank you very much!

[2019-10-31 21:50] sz17 commented on #6171
Hi @stgraber , we are students from the University of Texas at Austin in the Computer Science Department's Virtualization class and we were wondering if you could give us more information about the skills required to complete this project? Thank you!

[2019-10-31 23:50] stgraber commented on #3832
Assigned to the two of you

[2019-10-31 23:53] stgraber commented on #6171
@sz17 this one is currently still on our list of things we're hoping we may get done ourselves over the next two weeks, if that changes and we end up postponing it until the next round (end of January deadline), then this would become an option for you.

[2019-11-01 00:57] stgraber opened #6380 "Multi-architecture clustering"
LXD clustering can be used to turn multiple LXD servers into one large instance.
Right now, this assumes that all servers in the cluster are of the same architecture.

While that's certainly the common case, there are times where it would be useful to have a single LXD cluster which supports multiple architectures, usually a mix of Intel and Arm hardware.

To make this possible, we'd need to:
 - R

[2019-11-01 00:59] stgraber opened #6381 "Automatic snapshots and snapshot expiry for custom volumes"
We've recently added support for snapshots to custom storage volumes.
We would benefit in being able to configure the volumes with a snapshot interval and pattern similar to what we do for containers. We'll also want to add an expiry to the snapshots and handle their deletion, similar to what's done for snapshots too.

[2019-11-01 01:45] stgraber commented on #6378
(Our work on containers is actually towards the other way around, we'd like to have /sys not show those devices at all unless they've been passed through by the user, but filtering /sys to that extent has been so far too costly and so hasn't been done)

[2019-11-01 03:09] rcash commented on #5211
Hi @stgraber , we're approved! Could you assign @lay-ton @mparfan and I?

[2019-11-01 03:09] rcash commented on #6169
Great, we have the go ahead! Could you assign @mparfan @Lay-ton and I? Thank you!

[2019-11-01 09:06] #6378 closed

[2019-11-01 10:12] stgraber commented on #5211
Hi @rcash I've assigned it to you and @mparfan, I can't assign to @Lay-ton as Github won't let me assign to someone who hasn't commented in the issue.

[2019-11-01 10:13] stgraber commented on #6169
Assigned it to you, I'll need @mparfan and @Lay-ton to comment before I can assign it to them too.

[2019-11-01 14:06] Lay-ton commented on #6169
Hello, could you go ahead and assign me

[2019-11-01 14:07] Lay-ton commented on #5211
Hello, could you assign me as well?

[2019-11-01 22:19] keyallis commented on #6223
Just to give an update, we had a defined project given for the virtualization class that we wrapped up last week and then took this week off. We are now going to be actively working on this issue.

I had just a couple questions after looking at the code:

1. What exactly is the distinction between the Containerx and Networkx functions in the lxd/iptables/iptables.go file? They appear to be functio

[2019-11-01 22:45] stgraber commented on #6223
1) The difference between the two ends up being the comment which is added to the rule (and visible in `iptables -L -n -v`). This comment is then later used by LXD to locate the rules that are tied to a particular network or container, so it's more than just logging, it's how we get some of the context back from the kernel when listing active rules later on.

2) That's logic we don't currently hav

[2019-11-04 00:53] #6273 closed

[2019-11-04 03:55] vjeko commented on #6362
[code]
[code]

After doing page cache flush, the system now has only 800MB avaliable. Slab is at 4GB (3.84 unreclaimable).

[2019-11-04 04:09] vjeko commented on #6362
I found a very similar issue that some other user reported: https://github.com/lxc/lxd/issues/5405

[2019-11-04 04:33] stgraber commented on #6362
Can you show `nsenter -t $(pgrep daemon.start) -m -- df -a -h`?

[2019-11-04 05:46] ryanjyoder opened #6391 "Broken ubuntu-core/16 image"
* Distribution: Ubuntu 19.10
 * The output of "lxc info" : https://pastebin.com/DP9yb1hM

# Issue description
The current Ubuntu Core image appears to be broken. When the kernel snap (pc-kernel) refreshes, the next boot fails. However, if you can catch the refresh before it happens and abort the task, the containers continues to work fine (until the next refresh). This bug appears to be very simil

[2019-11-04 05:53] vjeko commented on #6362
[code]

[2019-11-04 11:15] suprasoil commented on #6313
Would you have any tips on how to work around this problem? I'm currenly unable to setup a cluster.

I've tried setting it up automatically and manually, both result in this problem.

[2019-11-04 13:30] maran opened #6394 "api exec call in clustered mode not returning info while waiting"
# Required information

 * Distribution: Ubuntu 18.04
 * Distribution version: Linux olaris-swarm.dev.bysh.me 4.15.0-66-generic #75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[code]

# Issue description

When creating an exec command call through the API, for a container on a clustered instance that does not run on the server running the API server, and using the wait o

[2019-11-04 13:42] stgraber commented on #6362
Ok, so it doesn't appear to be a case of tmpfs using the memory.

[2019-11-04 15:01] suprasoil commented on #6313
Tested setting up cluster manually on 3 fresh ubuntu 18.04 hosts, which seems to be working fine, will investigate further.

[2019-11-04 15:12] turtle0x1 commented on #6313
They  are running 3.0.3 through right? Cause that works fine in my testing

[2019-11-04 15:19] suprasoil commented on #6313
Nope, they're running latest snap.

[2019-11-04 23:30] sz17 commented on #3832
@stgraber I unassigned myself, since @miranda0615 group will take this issue. Thank you!

[2019-11-04 23:37] sz17 commented on #6171
@stgraber our project is due around the beginning of December, so we will look at other projects. Good luck with the issue!

[2019-11-04 23:41] sz17 commented on #6170
Hi @stgraber we are students from the University of Texas at Austin Computer Science Department and we are interested in taking this issue would you please provide us with more information? Thank you!

[2019-11-05 03:44] stgraber commented on #6170
Hi @sz17, this issue mostly touches projects and would include:
 - New API extension for the feature
 - Adding all the config keys listed in the issue description to the projects codebase, including value validation for each of them
 - Updating bash completion profile to match
 - Updating documentation to cover them
 - Add wrapper functions to make it easy to check whether a particular Instance ca

[2019-11-05 10:28] cab404 commented on #5776
ooof

[2019-11-05 11:27] DBaum1 commented on #6380
Hi, another UT Austin student checking in. I'd like claim this issue.

[2019-11-05 13:55] stgraber commented on #6380
@DBaum1 assigned to you now, thanks!

[2019-11-05 13:59] stgraber commented on #5776
@cab404 ?

Note that this is currently being worked on with the storage rework that @tomponline is doing. We already have the `dir` backend using the new migration logic there which will solve this issue.

[2019-11-05 14:33] rptb1 commented on #2207
This is a note for anyone else who finds this issue and wants to check whether the `deleted` filesystems are referenced.  You can check by looking at the `origin` property.  For example:
`zfs list -r -o name,origin zp0/lxd/containers`
shows which containers are retaining which “deleted” images for me.

[2019-11-05 14:56] stgraber commented on #6394
Reproduced the issue on a local test cluster using `lxc query`.

[2019-11-05 15:30] stgraber commented on #6394
Ah, I think I see the problem, we're given a bad URL and are hitting the wrong thing somehow.

[2019-11-05 15:42] stgraber commented on #6394
Got a fix for your issue, still looking at another bug, possibly in `lxc query` that I've been hitting while debugging this.

[2019-11-05 16:10] stgraber commented on #2207
Also worth noting that the same applies to containers themselves when they're copied, so you can have a chain which keeps a whole bunch of containers and the first container's image all alive due to origin.

[2019-11-05 19:06] #6394 closed

[2019-11-05 22:46] sz17 commented on #6170
@stgraber after discussing with our professor, we were wondering if it would be possible to split up this large project into multiple PRs with the hopes of merging each PR individually? I think it would help us complete the issue better as well as allow someone else to pick up our work if we are unable to complete the entire project.

[2019-11-06 02:42] stgraber commented on #6170
@sz17 The main thing that could be done to reduce the scope of this is by implementing less of the restrictions. I'm not sure exactly how much work that would save though. When we did some similar access control work for our RBAC feature, the difficult part tends to be to figure out the right helper functions and getting the first path covered, after that, doing the other ones is pretty mechanical

[2019-11-06 11:53] suprasoil commented on #6313
Every time i try this, the first node initializes just fine, one of the other nodes connects just fine to the first node. It's always the last node that won't connect and causes the perpetual "unaccounted raft node(s) not found" errors.

[2019-11-06 12:04] suprasoil commented on #6313
I should mention the nodes are running of a ZFS root filesystem, could that have something to do with this?

[2019-11-06 12:44] cyberwillis opened #6408 "LXD and LXC integration, console memory leak"
# Required information

 * Distribution: **ubuntu**
 * Distribution version: **16.04 LTS**
 * The output of "lxc info" or if that fails:
   * Kernel version: **4.4.0-166-lowlatency**
   * LXC version: https://github.com/lxc/lxc/commit/e07039d134dd7aaf3f03955ffb45a278b28b7771 (Nov 4),  https://github.com/lxc/lxc/commit/81d15993cc84164d997e17739e9be7b24d32c4d4 (Nov 2)
and https://github.com/lxc/lxc/

[2019-11-06 12:49] suprasoil commented on #6313
I've been setting up clusters on the same ZFS setup for over a year now though, haven't encountered this before.

[2019-11-06 13:12] brauner commented on #6408
https://github.com/lxc/lxc/pull/3180 should fix it.

[2019-11-06 13:26] freeekanayaka commented on #6313
@suprasoil the YAML preseed that you pasted for node 2/3 seems wrong:

[code]

You should only have a ```cluster``` section there, and provide storage-related configuration options in ```member_config```. The YAML you are using might have worked with 3.0.3, but the format has changed since then.

Please see https://lxd.readthedocs.io/en/latest/clustering/#preseed

[2019-11-06 13:26] suprasoil commented on #6313
After looking through the clustering logic, and seeing that we're looking up nodes from the `raft_nodes` table i discovered that none of my nodes have a `raft_nodes` table.

[code]

[2019-11-06 13:27] suprasoil commented on #6313
@freeekanayaka I will look into that and report back.

[2019-11-06 13:30] freeekanayaka commented on #6313
Probably you need something like:

[code]

[2019-11-06 13:32] freeekanayaka commented on #6313
Also, FYI the ```raft_nodes``` table is in the local database:

[code]

[2019-11-06 13:35] cyberwillis commented on #6408
Yeah thank you ... it works

[2019-11-06 13:35] #6408 closed

[2019-11-06 13:38] suprasoil commented on #6313
Doh, could have guessed that.

I've tried setting it up manually by using the lxd init command as well, also results in this problem.

Now using this config:
[code]

First node is again logging these errors:
[code]

Raft nodes table on first node:
[code]

Nodes table on first node:
[code]

[2019-11-06 13:50] freeekanayaka commented on #6313
If you notice, the ```pending``` column for ```alpha-0003``` in the ```nodes``` table is set to ```1```, suggesting that it did not successfully join. That's the part you need to check: what error did it throw (if any)? What do you see in the logs?

[2019-11-06 14:30] suprasoil commented on #6313
Same result as this: https://github.com/lxc/lxd/issues/6313#issuecomment-547452963

[code]

I've been trying this from snapshots a lot of times now, always getting these errors. 1 try ago though, setting up the cluster suddenly worked, so this problem seems performance (zfs?) related.

[2019-11-06 14:49] freeekanayaka commented on #6313
Just to be clear: are you joining **first** ```alpha-0003``` and **then** ```alpha-0002```? And are you getting the join problem always on ```alpha-0003```?

Or are you perhaps joining ```alpha-0002``` and ```alpha-0003``` concurrently? (I guess not, but just to rule it out).

[2019-11-06 14:57] freeekanayaka commented on #6313
Also, the log that you pasted seems incomplete:

[code]

You should also see the same line you see in node 3:

[code]

or alternatively ```lxd init``` should return an error.

[2019-11-06 14:57] suprasoil commented on #6313
Using ansible i'm joining both at the same time, doing it manually i'm not, both result in this problem

Sometimes it's `alpha-0002` sometimes it's `alpha-0003`.

I just ran all the daemons in debug mode, saw this:
[code]

[2019-11-06 14:59] freeekanayaka commented on #6313
@suprasoil here we go I think: the task operation failure is what I was after. In theory that should somehow propagate up to the ```lxd init``` command and make it fail. Isn't it the case? That might be a bug in itself.

[2019-11-06 15:02] freeekanayaka commented on #6313
As for the problem itself, the "i/o timeout" seems to suggest indeed that there's something very slow here, perhaps disk, but I'd need to double check all the timeouts around that area. In theory we are pretty conservative and have very high timeouts.

Please can you confirm the timeout error when you run everything manually? Concurrent joins are not really well tested nor supported I think.

[2019-11-06 15:03] Lilyjjo commented on #6225
Hi,

David and I are a little stuck. We’ve changed the device config and passed the raw.mount.options to the unix.Mount() commands inside of DiskMount() but we’re not seeing the changes reflected in the container.

Here’s how we’re setting up the loop device on the host:
Make a new file file.txt, truncate it to 10M
run: sudo losetup —show -f file.txt (This creates dev/loop9)
run: sudo mkfs.vfat /d

[2019-11-06 15:07] suprasoil commented on #6313
Editted the scripts to join sequentually

Nope, lxd init command will hang for ever.

ZFS on linux on kvm/qemu virtual SATA disk on mid range SSD

I've got an appointment right now, will confirm this again manually tomorrow.

[2019-11-06 15:27] freeekanayaka commented on #6313
One theory about the fact that the error isn't propagated back to "lxd init" is that maybe the joining node is in a pretty bad state once the failures happen (it is essentially "half join") and that could cascade back to our operation notification mechanism.

[2019-11-06 15:29] freeekanayaka commented on #6313
All all those 3 nodes running inside kvm VMs on the same physical host using the same mid range physical SSD?

[2019-11-06 16:43] jdeans289 commented on #3364
Hi, I'm a student taking a virtualization class at UT Austin, and I'm currently collaborating with one other. @stgraber Is it possible that we can get more information about this issue if it's still available?

[2019-11-06 18:32] stgraber commented on #6225
@Lilyjjo What does `grep loop9 /proc/mounts` show on the host? Do you see uid/gid being set there?

Does everything show up as nobody/nogroup in the container?
If so, you need to test with a privileged container to make this easier.
`lxc config set first security.privileged true && lxc restart first` should take care of that.

[2019-11-06 18:42] stgraber commented on #3364
Hi @jdeans289,

I can't say that I've been thinking that much about this issue since it was first reported 2.5 years ago :)

My guess is that we would want a way to pass `filter=` as part of the REST query, with some language use to filter based on the fields in the associated structs.

As a first step, I suspect we'd want this added to both `/1.0/instances` and `/1.0/images`.
`filter=` should let

[2019-11-07 00:56] tokiwinter opened #6414 "Strange behaviour when looping over config file to create k8s clusters on lxd"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
[code]

# Issue description

I'm looping over a configuration file of the following format:
[code]

The loop is of the format:
[code]

If I comment out all entries except from k8s, things work fine, and the container is launched. If I uncomment the other entries, however, I receive

[code]
It is trying to read from the

[2019-11-07 01:31] Lilyjjo commented on #6225
@stgraber
Hi, we were able to test with the privileged container and verified that the raw mount options are getting passed in correctly. We also wrote an integration test, and we're trying to run the bash scripts for integration testing, but we're getting an error:

==> Checking for dependencies
==> Available storage backends: dir btrfs lvm
==> Using storage backend dir
==> Setting up directory b

[2019-11-07 01:32] #6414 closed

[2019-11-07 02:34] stgraber commented on #6225
@Lilyjjo hmm, not sure what's causing that one. Could be that some of the `export` are missing, especially the `LD_LIBRARY_PATH` one?

You can probably sort out your commits and open a pull request, then I can have a look at the tests and if all looks fine, have jenkins run them.

[2019-11-07 08:54] suprasoil commented on #6313
Yep

[2019-11-07 09:17] suprasoil commented on #6313
Just retried manually, first host i'm trying to join (alpha-0002) results in the same state:
[code]

[2019-11-07 09:48] freeekanayaka commented on #6313
Please can you also confirm that you are seeing:

[code]

also when running manually?

I'm not entirely sure that #5986 is related, in theory it shouldn't (although I don't all the details of that PR), so perhaps it's a red herring.

Assuming that you see the above DBUG message, what I can say is that the root of the issue appears to be that join failure, which in turns is due to the expiration of

[2019-11-07 10:52] suprasoil commented on #6313
Yeap, getting the same:
[code]

[2019-11-07 10:58] rudiservo opened #6416 "Container on VLAN looses nic if another container on same vlan is shutdown"
* Distribution: Ubuntu
 * Distribution version: 18.04.3
config:
  core.https_address: 192.168.200.2:8443
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- direc

[2019-11-07 14:42] suprasoil commented on #6313
Now, with setting up the hosts in sequence instead of concurrently, and with the new cluster config structure, LXD 3.18 seems to be working, this problem still occurs with LXD 3.17.

I wanted to update from 3.17 -> 3.18 on my test setup before updating my live setup, but as 3.18 is now working i'll just update the live setup and hope for the best.

[2019-11-07 15:47] stgraber commented on #6416
Confirmed, though it looks like this only happens if you shutdown the first container first.

[2019-11-07 16:06] geaaru opened #6418 "Wrong handle of bridge network with LXD Cluster"
# Required information

 * Distribution: Sabayon
 * The output of "lxc info" or if that fails:
[code]

# Issue description

There are two different issues:

a) In the creation of a new bridge, the ipv4.address is ignored and a subnet generated by LXD server is used.

b) the update of the subnet/ipv4.address parameter of an existing bridge is triggered only on node where it's executed the `lxd netw

[2019-11-07 16:27] freeekanayaka commented on #6313
I'm (re)closing this issue for now. Feel free to open again if you notice anything in your live setup.

[2019-11-07 16:27] #6313 closed

[2019-11-07 16:27] suprasoil commented on #6313
I will, thanks for the help.

[2019-11-07 20:00] cr1st1p opened #6419 "lxc image copy fails to copy aliases and set the new one - when image type changes"
# Required information

 * Distribution: archlinux (virtual machine)
 * Distribution version: 2019-10
 * The output of "lxc info" or if that fails:
[code]

# Issue description
I want to bring locally an image, with all its aliases and it fails setting **any** alias:
[code]

What I think happens, is that the image gets converted to a different type, which means a different fingerprint, but at the e

[2019-11-07 20:14] stgraber commented on #6419
Can you run `lxc monitor` in a terminal, then run the copy with `--debug` passed to `lxc image copy` and attach the output of both commands?

I can't seem to reproduce that issue so we're going to have to compare exactly what's happening on both sides to figure it out. `lxc image copy` shouldn't copy a VM image unless `--vm` is passed or it's provided with something which can only be found as a VM

[2019-11-07 20:14] cr1st1p commented on #6419
UPDATE: Adding '--vm' to the lxc image copy command works.
Which suggests to me that there could be actually 2 bugs:
- handling aliases when converting image type - what I reported first
- selecting which image to copy, in absence of '--vm' parameter ? Because I don't think I wanted the 'virtual-machine' one.

Ah, just tested as well:
[code]
I had to use the fingerprint to have it working:
[code]

[2019-11-07 20:20] cr1st1p commented on #6419
@stgraber  will do, but something is strange:
After I did the commands mentioned in the 'UPDATE:' comment, I deleted the image - it was the one brought up via the 'd6' fingerprint. Then did lxc monitor + lxc image copy.... and it worked?!?

I'll recreate the virtual environment :-(

[2019-11-07 20:25] stgraber commented on #6419
Always annoying when that happens :)

[2019-11-07 20:53] cr1st1p commented on #6419
Recreated the virtual machine 2 times, but this time they brought the image correctly.
Note that when I created this issue, I think it was my 2nd virtual machine that had the problem.

I found the debug output when lxc asked for the image copy, in my console's buffers, in case that helps:
[code]

[2019-11-07 20:55] cr1st1p commented on #6419
And.. can't stand to not say it - many many thanks for LXD! Using it for a long time and it made my dev work waaaay easier!

[2019-11-07 21:06] cr1st1p commented on #6419
Looking at the lxc client code, and especially since we're speaking about a virtual machine - think network connection problems, I see this code that rings a bell to me:
client/simplestreams_images.go:
``
// GetImageAlias returns an existing alias as an ImageAliasesEntry struct
func (r *ProtocolSimpleStreams) GetImageAlias(name string) (*api.ImageAliasesEntry, string, error) {
        alias, err :

[2019-11-07 21:30] #6416 closed

[2019-11-07 21:31] rudiservo commented on #6416
Fantastic, thank you ;)

[2019-11-07 21:36] stgraber commented on #6419
The request to LXD matches what I'd have expected, so would have been interesting to see what LXD then did internally.

For simplestreams, that's not how this works, multiple calls to `GetAlias` do not result in multiple files being retrieved over the network. We're dealing with a single (and rather large) JSON document which contains all the information for the image server, all the commands just

[2019-11-08 02:30] sz17 commented on #6170
@stgraber Our group will take this project, will you please assign it to us? Thank you!

[2019-11-08 08:30] srados commented on #4696
Hi, just to report that similar thing happened to me and zpool import tip fixed it. In my case, disk space was not full though.

[2019-11-08 12:50] zrav commented on #822
If certain counters are too costly I'd consider excluding them from the default view.

The mentioned cgtop is interesting and also htop in tree display mode can already show a lot of the stats (including block IO) grouped by container, it is just missing the function of summing all the process stats to provide totals for one container. htop manages to do this with pretty light load, so a /proc bas

[2019-11-08 17:14] geaaru commented on #6418
There is a similar issue on configuring a static IP in a managed bridge on bootstrap a new container:
[code]

[2019-11-08 21:41] #6234 closed

[2019-11-08 23:19] #6205 closed

[2019-11-09 10:58] candlerb opened #6426 "Containers sometimes not starting on boot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.6, with lxd 3.0.3 from xenial-backports.  The filesystem is btrfs.
 * The output of "lxc info"

[code]

# Issue description

For a while, I've noted in several different environments that *sometimes* containers don't start when the host boots.  As these were production systems I didn't dig deeper, and just brought up th

[2019-11-09 11:12] candlerb commented on #6426
A bitof  extra background info:

* I prebuild a VM image. This has btrfs as the base filesystem, and also has stopped containers `gold-master` (almost vanilla 16.04) and `host-master` (with extra apps installed)
* The environment running the VM is Ubuntu 18.04
* The VM starts from this master image, with qcow2 differencing files on top so that I can reset to pristine state if required
* There's a

[2019-11-09 12:10] candlerb commented on #6426
I have reproduced again, journalctl output is [here](https://gist.github.com/candlerb/5b4c034c38ad42a2dc77242f242fbbf9)

This time the error given by lxd at startup is different, although still related to the database:

[code]

[code]

[code]

It appears that after a 600 second timeout, systemd kicked it into life anyway.

[2019-11-09 12:17] candlerb commented on #6426
Reproduced again, on a different instance of the same master VM image.

[code]

This time, I don't think there's a need to post the whole journal.  It's a variation of the first problem seen with db.bin, this time "failed to set WAL mode":

[code]

And again, it did wake itself up after 10 minutes.

[code]

[2019-11-09 12:21] candlerb commented on #6426
This makes me wonder: this might not be the same problem I saw in two different production systems.  There, a container definitely hadn't been running for some hours or maybe days before I noticed it, and then kicked it into life by hand.  If that happens again I'll try to capture more information.

[2019-11-09 17:05] stgraber commented on #6426
Those are dqlite errors on LXD 3.0.3 which ships with two major releases of dqlite behind what we currently ship. We have made an intermediate 3.0.4 release which we still need to push to .deb users (it's available as a snap) that has a slightly newer version of dqlite and we're working on 3.0.5 which will have the same dqlite implementation that we're shipping in current LXD.

This should come wi

[2019-11-09 17:05] #6426 closed

[2019-11-09 17:32] candlerb commented on #6426
lxd starts fine on the retry: the error is transient and the database appears not to be permanently corrupted.

Anyway, since the problem was semi-reproducible I thought is was worth recording.  A backport to Ubuntu 18.04 (where 3.0.3 is still the supplied stable version) would definitely be appreciated.  Thanks!

[2019-11-09 17:45] aadi123 commented on #6305
@stgraber I am also part of the group from UT Austin working on this issue. Could I be assigned? Thanks.

[2019-11-09 18:53] stgraber commented on #6426
Yeah, our current plan is to do another two bugfix releases of 3.0.x, 3.0.5 hopefully by end of year, then 3.0.6 around the same time we release 4.0. After that, the 3.0.x branch will be on security update only.

All 3.0.x bugfix releases first land in 18.04 and then get backported semi-automatically to Ubuntu 16.04.

Note that if this is an option for you, you can also switch over to the snap on

[2019-11-09 18:53] stgraber commented on #6305
Done

[2019-11-09 20:22] stgraber commented on #6419
@cr1st1p any luck reproducing this?

[2019-11-09 20:22] stgraber commented on #6362
This is pretty puzzling. @brauner any idea on what else to look into?

[2019-11-09 20:29] NeonHorizon opened #6428 "Copying containers with snapshots fails on BTRFS"
# Required information

 * Distribution: Ubuntu Server
 * Distribution version: 18.04.3 LTS (fully patched)
 * The output of "lxc info":
[code]
   * Kernel version:  4.15.0-66-generic
   * LXC version: ?
   * LXD version: 3.18 (latest snap version)
   * Storage backend in use: BTRFS

# Issue description

Copying a container between hosts fails if container has a snapshot

# Steps to reproduce

lxc

[2019-11-09 20:36] stgraber commented on #6428
Both source and target servers are running 3.18?

[2019-11-09 20:42] NeonHorizon commented on #6428
Yes, they are identical. We actually have 4 servers and the fault is reproducible between any pair.

We actually noticed when trying to copy a container back from a backup server (maintained with --refresh copies) but it seems even just a basic copy shows the issue.

[2019-11-09 20:44] NeonHorizon commented on #6428
Interestingly enough the updates which we are doing with copy --refresh are working fine.

[2019-11-09 20:46] stgraber commented on #6428
That part is normal, after the initial copy, any additional transfers done through refresh use rsync rather than btrfs send/receive.

[2019-11-09 20:52] NeonHorizon commented on #6428
Not sure if its helpful but deleting the snapshot makes it copyable again.
lxc delete live:test-container/test-snapshot
lxc copy live:test-container backup:test-container
....works....

[2019-11-09 21:17] brauner commented on #6362
You mentioned that you flushed the page cache. Did you actually do:
[code]
? And if not, can you try and report back, please.

[2019-11-09 22:17] Lilyjjo commented on #6225
@stgraber we've made the pull request for this issue, it's named raw_mount_options https://github.com/lxc/lxd/pull/6429

[2019-11-10 01:40] simondeziel opened #6430 "unable to set tun's txqueuelen using SIOCSIFTXQLEN ioctl"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Bionic
 * The output of "lxc info" or if that fails:

[code]

# Issue description

When OpenVPN runs inside an unprivileged container, it fails to set the txqueuelen on the tun device. Upon creation, tun devices get a txqueuelen of [500](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/uapi/linu

[2019-11-10 01:46] stgraber commented on #6430
Not something that LXD itself has any control over, that's a kernel issue with that particular ioctl and the permission checks that are in place around it.
The fact that there is an alternate path to achieve the desired result suggests a kernel bug rather than it being blocked for security reasons.

@brauner something you want to take a quick look at?

Closing the issue as not a LXD bug but we'll

[2019-11-10 01:46] #6430 closed

[2019-11-10 01:53] stgraber commented on #6430
I'm also hoping that openVPN upstream is planning to move over to netlink as the single way to handle network configuration. I'm sure they're already doing some of it as not everything is available through ioctls these days.

[2019-11-10 03:10] fosslinux opened #6431 "Container fails to recieve IPv4 address through DHCP"
# Required information

 * Distribution: Raspbian (Hijacked with Bedrock Linux)
 * Distribution version: Buster
 * The output of "lxc info":

[code]

(Is from the LXD snap).

# Issue description

Whenever I create a container, it goes an IPv6 address, but not an IPv4 address.

Eg:

[code]

As suggested by various other issues (none of which fixed my problem), manually running `dhclient -v` (as roo

[2019-11-10 03:14] stgraber commented on #6431
Can you show `iptables -L -n` and `nft -s list ruleset`?

[2019-11-10 03:19] stgraber commented on #6431
More often than not, those kind of issues are caused by some firewalling tool interfering with LXD's networking needs. Docker is known for setting such rules, as can firewalld or ufw in some situations.

[2019-11-10 03:23] fosslinux commented on #6431
Sure can!

`iptables -L -n`:

[code]

`nft` is command not found.

Since you're looking at firewall kinda things you might like:

`ufw status`:

[code]

[2019-11-10 03:35] stgraber commented on #6431
Okay, so you have both ufw and docker playing with your rules.
Docker has that tendency to switch policy from ACCEPT to DROP on INPUT and FORWARD, though that may also have been done on purpose by ufw.

`iptables -L -n -v` would show you hit counters, likely confirming that the DROP policy on INPUT/FORWARD is what's preventing your container networking from working.

The LXD rules also appear to h

[2019-11-10 03:36] stgraber commented on #6431
(Closing as this is system firewalling/other packages interfering and not a container networking issue in itself. Still happy to help track down the culprit though.)

[2019-11-10 03:36] #6431 closed

[2019-11-10 03:48] fosslinux commented on #6431
Ok, I'll try that. Thanks for that :)

[2019-11-10 05:48] fosslinux commented on #6431
For anyone who finds this thread:

[code]

Fixed the problem.

[2019-11-10 20:26] mparfan commented on #6169
Hello, sorry for the late response but could you also go ahead and assign me

[2019-11-10 21:22] splett2 commented on #1750
@stgraber

Hi, we're going to start on this now. A few preliminary questions:

1. in the example interface you gave:
lxc config device add c1 usb-console unix-hotplug vendorid=067b productid=2303 required=true

Would we also want to give a path, so that devices of vendorid 067b, productid 2303 are automatically mounted at a particular path?

2. Also, it looks like devices.go already has a uevent l

[2019-11-10 21:26] ne-vlezay80 opened #6433 "Live migration is not working"
# Required information

 * Distribution: Arch Linux
 * Distribution version: Upsteram
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.2.9-arch1-1-ARCH
   * LXC version: 3.18
   * LXD version: 3.18
   * Storage backend in use: btrfs

# Issue description

Live migration is not working.

# Steps to reproduce

 1. Livong migration container with debian 10 node

# Information to at

[2019-11-10 21:30] stgraber commented on #6433
What happens if you run `criu check`? Looks like even the most basic criu operations don't work on your system. This can be due to lack of kernel support or criu itself failing for some reason.

You'll find detailed CRIU logs in `/var/log/lxd/NAME/` assuming that criu even started.

Log above suggests that criu was called, so this issue is most likely not a LXD issue, it's either a system configur

[2019-11-10 21:30] #6433 closed

[2019-11-10 21:30] stgraber commented on #6433
Ah and a good first start is to do `lxc snapshot name --stateful` on both nodes to make sure that basic criu works before attempting live migration.

[2019-11-10 21:31] stgraber commented on #6433
It's also worth noting that live migrating across such big kernel version difference may lead to issues, especially if migrating from the more recent kernel to the older one, programs may have detected kernel features which will then no longer be available, leading to crashes.

[2019-11-10 21:33] stgraber commented on #6169
done!

[2019-11-10 21:40] stgraber commented on #1750
1) That may be tricky as a particular device getting plugged in may result in multiple devices appearing in /dev, so for this one it may be best to not allow a path be provided, instead resolving what devices to pass in for the provided event

2) Right now the usb part of the uevent handler filters specifically for add/removed event of the usb device itself. That's the usb subsystem even prior to

[2019-11-11 01:36] #6225 closed

[2019-11-11 08:41] cr1st1p commented on #6419
I had a few VM rebuilds but the problem did not manifest again.
Maybe there was a temporarily glitch in the json downloaded from ubuntu, by the lxd daemon.

One more observation, if I may - I might be wrong, so take it with a grain of salt:
it looks like operations executed for the 'lxc image copy' command is split into 2 parts:
- client side. This retrieves instantly data from the simplestream, d

[2019-11-11 09:00] maran opened #6435 "Renaming a volume fails"
# Required information

 * Distribution: Ubuntu 18.04
 * LXD 3.18 @ bf729fbaa6bb9a5bf05a6e98f866ad0f66c53aad
[code]

# Issue description

Renaming any volume fails.

# Steps to reproduce

[code]

# Information to attach

Storage pool information
[code]

Volume information
[code]

Volume it gives a warning for even though it lives in an other pool.
[code]

[2019-11-11 11:23] cr1st1p commented on #6419
it just  happened again...

[lxc_info.txt](https://github.com/lxc/lxd/files/3830865/lxc_info.txt)
[client.log](https://github.com/lxc/lxd/files/3830920/client.log)
[server.log](https://github.com/lxc/lxd/files/3830921/server.log)

file from inside lxd daemon - [simplestreams.yaml.gz](https://github.com/lxc/lxd/files/3830924/simplestreams.yaml.gz)

Looking at the simplestreams.xml, I see that the a

[2019-11-11 11:37] cr1st1p commented on #6419
Continuing: based on my observation regarding the 1 hour cache inside lxd, while writing previous comment, I paused for 1 hour, then ran again the image copy command.
And... it worked.
The most important part, as I've observed in my last comment, is that now the order for alias '18.04' is different in the simplestream.yaml file - first is now 'container' type, and 2nd is 'virtual-machine'.
Either

[2019-11-11 19:20] ribsthakkar commented on #6174
I am having issues actually ensuring that our changes are being detected. Even when I follow the instructions to make and compile the binaries for lxc and lxd on the readme of the page, I don't think our changes are reflected in the binary itself. For example when running the command
`lxc config device add first fs disk source=cephfs:$LXD_CEPH_CEPHFS/ ceph.user_name=admin ceph.cluster_name=ceph pa

[2019-11-11 19:24] vjeko commented on #6362
I did exactly that. I the meanwhile, the host ran out of memory and crashed.

[2019-11-11 19:27] vjeko commented on #6362
I unfortunately do not have enough expertise to track down memory leaks in kernel space. When doing slabtop I did not see anything special. I will also try to replace the storage pool implementation with something else other than BTRFS.

I could also give you guys access to the live system in case you think that would help.

[2019-11-11 19:54] stgraber commented on #6174
And you built both the lxc and lxd binaries and made sure that the lxd binary you're running is the new one?

[2019-11-11 19:55] stgraber commented on #6362
That probably would help, yeah, we've not seen that on our side before, so an affected system would be interesting to poke at.

[2019-11-11 21:36] ribsthakkar commented on #6174
yup, I deleted all of the binaries and redid the process again. Still yielded the same result

[2019-11-11 21:49] ribsthakkar commented on #6174
Do I need to rename the references to other lxd dependency packages if we forked the repository?

[2019-11-11 21:58] stgraber commented on #6174
Ah, that's likely the problem, yeah. So you'd want your code to be located at `~/go/src/github.com/lxc/lxd`, if it's somewhere else, than imports will still import the upstream code, skipping your changes.

Easiest is to just remove `~/go/src/github.com/lxc/lxd` and replace it with your own tree, then build again.

[2019-11-11 22:13] ribsthakkar commented on #6174
Yup that was it. thanks!

[2019-11-11 22:36] camille-rodriguez opened #6437 "lxd cluster connection to database broken"
# Required information

 * Distribution: ubuntu 18.04
 * The output of "lxc info" or if that fails:
`Error: Get http://unix.socket/1.0: dial unix /var/snap/lxd/common/lxd/unix.socket: connect: no such file or directory`
   * Kernel version: Linux kubecon04 4.15.0-46-generic #49-Ubuntu SMP Wed Feb 6 09:36:04 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux
   * LXC version: 3.18
   * LXD version: 3.18

[2019-11-11 22:37] camille-rodriguez commented on #6437
[code]

[2019-11-11 22:44] camille-rodriguez commented on #6437
I also tried killing all the processes related to lxd and rebooting, I still get the error messageL
[code]

[2019-11-11 22:48] freeekanayaka commented on #6437
Hello Camille,

when you say "I followed the steps in this bug #4326 to resolve the situation, and it did the first time.", what steps are you referring to specifically? What commands did your run?

Your database appear to be corrupted. So far we've seen this happening mostly when servers crashed or ran out of disk space. Did anything like that happen to you?

Last but not least, clusters with 2 s

[2019-11-11 22:49] freeekanayaka commented on #6437
To get unstuck you can try to run:

[code]

(but make a backup of ```/var/snap/lxd/common/lxd/database/global/``` first).

[2019-11-11 22:56] camille-rodriguez commented on #6437
Hi! Oh the first time I ran
`sudo sqlite3 /var/snap/lxd/common/lxd/database/local.db .dump`
and the core.https_address was assigned to a wildcard, so I assigned the IP to it with
`sudo sqlite3 /var/snap/lxd/common/lxd/database/local.db "UPDATE config SET value='139.178.67.178:8443' WHERE key='core.https_address';"`
Then `sudo systemctl restart snap.lxd.daemon.unix.socket` and lxd seemed to be runn

[2019-11-11 23:11] freeekanayaka commented on #6437
After you remove that file, does that particular lxd server start correctly? What about the other one? Since you have a 2-server cluster, both servers need to start successfully in order for the ```lxc``` cli to work.

[2019-11-12 02:10] camille-rodriguez commented on #6437
According to systemctl status, the services are running in both nodes, but lxc cli hangs. My nodes are called kubecon03 and 04
[code]
[code]

[2019-11-12 02:13] camille-rodriguez commented on #6437
And there's this in the logs:
[code]

[2019-11-12 03:34] freeekanayaka commented on #6437
Okay, please stop the systemd LXD service on both nodes, and instead start the daemons by hand with ```sudo lxd --debug --group lxd```, then paste here the output of both nodes.

[2019-11-12 06:49] popsicl opened #6438 "LXD "lxc publish" command"
`root@lxd11vgtult:/lib/systemd/system# lxc --version
3.0.0`

`api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zfs_use_refquota
- sto

[2019-11-12 09:40] asolari opened #6439 "database is locked"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04.2 LTS
 * The output of "lxc info" or if that fails:

Suddenly any kind of operation (start, stop, copy, exec, ...) against every container fails with the following error:
Error: failed to add Operation 8cdeade9-6c2c-419a-a7e6-0cc00f129bcd to database: database is locked
The containers though are running and worki

[2019-11-12 10:12] asolari commented on #6439
After trying to restart lxd.daemon service:
[code]
also fails the list of the containers:
[code]
Here is the content of lxd.log:

[2019-11-12 10:26] asolari commented on #6439
Here is the file listing fo the database directory:

[code]

[2019-11-12 10:43] asolari commented on #6439
Starting lxd in debug mode provided a hint:

[code]
I made a backup of the whole "database" directory, to be safe, and then deleted the "178033-178033" file.
That fixed the problem: after that I managed to start lxd.daemon service, and all the commands now work as expected.

[code]

Please let me know if you want investigate further this issue, I can send you the database backup.

Thank you.
Aless

[2019-11-12 10:53] brauner opened #6440 "seccomp: allow redirecting mounts to fuse"
#### Status Quo
The seccomp notifier currently allows to intercept the `mount(2)` syscall. A whitelist of filessytems can be specified. If the filesystem call is in the whitelist LXD will perform the mount for the unprivileged container.

#### Problem
While the aforementioned mechanism works it assumes that the container will only ever have access to block devices that are safe to mount.

#### Sta

[2019-11-12 12:03] freeekanayaka commented on #6439
Thanks for the report. Please can you attach here or send me the content of the ```178033-178033``` file that you deleted? (email is free.ekanayaka at canonical dot com).

Also, do you know if your server or LXD daemon crashed or ran out of space before this error happened?

[2019-11-12 13:22] asolari commented on #6439
Definitely the server didn't run out of space and, as far as I can tell, didn't exhaust any other system resource.

Found these 2 lines in /var/log/syslog:

and nothing else before, but they seem to me a consequence of the issue more than the cause.

Unfortunately the lxd.log has rotated at every start attempt, so I don't have the versions before I tried to fix it. Maybe there I could have found s

[2019-11-12 14:11] camille-rodriguez commented on #6437
Mmh they're both hanging at sending a request to LXD
[code]

I could redeploy everything today, add a 3rd node, and see if the problem reoccurs. What do you think?

[2019-11-12 14:25] freeekanayaka commented on #6437
Hello, the output you pasted doesn't look like the output of  a LXD daemon.

What do ```sudo which lxd``` and ```sudo lxd version``` say?

[2019-11-12 14:27] freeekanayaka commented on #6437
It seems there is some kind of wrapper. @stgraber I'm a bit confused, did something change in the snap lately? Is such output/behavior expected?

[2019-11-12 14:34] camille-rodriguez commented on #6437
ubuntu@kubecon04:~$ sudo which lxd
/snap/bin/lxd
ubuntu@kubecon04:~$ sudo lxd version
3.18

[2019-11-12 15:02] freeekanayaka commented on #6437
@camille-rodriguez are you sure that no lxd process is running when you launch ```sudo lxd --debug --group lxd```?

[2019-11-12 15:18] camille-rodriguez commented on #6437
The first time it's true, I think even if I did pkill and stop the daemon there were still processes left hanging. I tried once more and that's the output. My my I think you resurrected it!

On kubecon04:
[code]

Same output on kubecon3.

Now I'm afraid that it'll do the exact same thing again if I deploy kubernetes again on it.

[2019-11-12 15:22] stgraber commented on #6438
You should make sure all your servers are up to date, 3.0.0 is out of date, assuming you're running Ubuntu (looks like it based on kernel), you should get 3.0.3.

I'm also not sure what you're doing with `lxc publish` here. All that this command does is turn a container into an image, the image itself should be unshifted, but the container will normally not be altered as part of that. So maybe you

[2019-11-12 15:22] #6438 closed

[2019-11-12 15:22] stgraber commented on #6438
(Closing as report is on out of date LXD and seems to be relying on undefined internal behaviors)

[2019-11-12 15:25] stgraber commented on #6437
This is most likely because of the `snap.lxd.daemon.unix.socket` unit which causes LXD to startup o n connection to the socket. When preparing for a manual run of LXD, make sure to do:

 - systemctl stop snap.lxd.daemon.service snap.lxd.daemon.unix.socket

[2019-11-12 19:12] popsicl commented on #6438
Yes, we're runing 3.0.0, but we don't have problems with other 9 lxd nodes in cluster. And we always did (with about 30 containers from LXC) to rewrite permisions.
To tell you step by step, it should go like this.
copy whole container from LXC to array storage.
Create container in LXD. Stop it. Delete whole "rootfs". Paste LXC containers rootfs in there and after that just run command lxc publish

[2019-11-12 19:17] splett2 commented on #1750
So we would want to listen for udev events instead of uevents, I'm guessing, and from what I could glean from reading this https://github.com/systemd/systemd/blob/master/src/libudev/libudev-monitor.c
it looks like udev events still occur on the same socket as uevents but with group of 2 instead of 1.

[2019-11-12 21:33] stgraber commented on #1750
My understanding was that udev was reacting to uevents, `udevadm monitor` being a nice way to see them but ultimately what we care about reacting on are the same raw uevents that triggered udev.

@brauner do you know what's going on with that group field?

[2019-11-12 21:35] brauner commented on #1750
udev generates it's own events and the are _not_ from the kernel, i.e. they are specific to udev. See
[code]

[2019-11-12 21:35] brauner commented on #1750
i.e. only the ones marked with `kernel` are actually from the kernel. these are the one you're usually interested in

[2019-11-12 21:36] stgraber commented on #6438
I'm sorry but we can't support what you're currently doing.

You are almost certainly relying on a shifting bug to get your current behavior, `lxc publish` isn't the way to get the container to shift/unshift, what you're describing sounds like a bug.

I told you about the proper way to do what you're doing above, if you still hit the same issue when using `lxd-p2c` or the `lxc init --empty` approa

[2019-11-13 01:52] splett2 commented on #1750
Ah, I think I misinterpreted what you meant by

So if my understanding is right, we would be interested in adding a new channel to deviceNetLinkListener, filtering by subsystem block or char, passing that to a set of handler that would be installed by a new device type that we create (akin to usb.go/unix.go/etc) that can filter on product/vendor ID to handle hotplugging appropriately.

[2019-11-13 04:16] DBaum1 commented on #6380
I have been having trouble running the tests for lxd.

My information:
OS: Ubuntu 18.04
Kernel: 4.15.0-69-generic
LXD version: 3.18
LXC version: 3.18

Whenever I try to run integration tests with `sudo -E ./main.sh` from the test directory, I receive the message `Missing dependencies: lxd lxc`
Running `sudo -E make check` from the repository root it fails with
`    --- PASS: TestVersionTestSuite/T

[2019-11-13 05:35] freeekanayaka commented on #6380
You might need to add ~/go/bin to your $PATH. At least that's what I have.

[2019-11-13 05:39] stgraber commented on #6380
`sudo` can be a weird beast, `sudo -E abc` doesn't act as the same as running `sudo -E -s` and then running `abc`, at least it doesn't for me.

I usually run `sudo -E -s` and then run `make check` from there. It also makes it easier for you to check if the environment variables are indeed properly applied.

[2019-11-13 05:41] stgraber commented on #1750
Yeah, the way I would do it is by modifying the uevent logic in LXD to just log every single event we get from the kernel. Then play with some USB devices to figure out what are the relevant events on plug/unplug which we can use to track down the device nodes that need to be passed in.

Once you have that, then you'd indeed want a new section in the uevent handler to process those specific events

[2019-11-13 06:49] RanMaosong commented on #3950
where is the file?

[2019-11-13 15:51] #6175 closed

[2019-11-13 17:32] #6440 closed

[2019-11-13 22:55] DBaum1 commented on #6380
Thank you for your suggestions, I am now able to run the tests. However, I am still experiencing problems with `sudo -E ./main.sh` since the result is:
[code]
I also get these warnings:
[code]
And notifications that various things are undefined:
[code]

[2019-11-13 23:17] stgraber commented on #6380
Ah yeah, this tends to happen if you're not storing your code in `~/go/src/github.com/lxc/lxd`, Go is weirdly picky about it.

[2019-11-13 23:18] stgraber commented on #6380
In most cases, it's really much easier to just give up on storing things where you want and instead just having your working copy of LXD be at the expected spot in the Go PATH (~/go/src/github.com/lxc/lxd) and running tests from there too.

[2019-11-14 01:09] Lilyjjo commented on #1750
David and I are trying to figure out how to interact with the udev database. We're considering using the go package udev (https://godoc.org/github.com/farjump/go-libudev#Enumerate) or trying to read directly from the udev database file, but for this second option we're stuck because we are struggling to find this file's location. Would it be okay to use this go udev package or do you know where th

[2019-11-14 07:41] stgraber commented on #1750
@Lilyjjo what do you need out of the udev database?

The only other case where we directly pull stuff from udev is in `lxd/resources` where we directly read some block data out of `/run/udev/data`.

[2019-11-14 18:59] s3rj1k opened #6458 "Host to Container communication"
Is there any way of communicating (mono-directional) using mkfifo pipes from Host to Container.

Writing some messages to some mkfifo pipe located in host and reading them inside container?

Or any other similar alternative without using proxy device, would like to avoid additional, forkproxy, process.

[2019-11-14 19:26] keyallis commented on #6223
With the cleaned up pull request created for point 2, I've been looking at the logic for point 3.

You said to add a firewall instance to the state struct, which is easy enough to do. Tracking down the startup logic has proven a bit more difficult. Since the State struct is created with the NewState function, which in turn is called from the Daemon's State function using only arguments gotten from

[2019-11-14 21:23] stgraber commented on #6458
fifo should be fine, just create it and pass it in the container using a `disk` device

[2019-11-14 21:25] #6458 closed

[2019-11-14 21:38] stgraber commented on #6223
1) Yes, indeed, you'll need to add a d.firewall and use that to initialize the state struct in NewState.

2) init() in daemon.go should be figuring out whether to do xtables or nftables, create a new instance of the relevant struct and put it in d.firewall which is then used whenever State() is called.

[2019-11-15 09:06] asolari commented on #6439
Hi, the same issue happened again tonight.
This time, though, simply reloading the service lxd.daemon fixed it.

Like the previous time I found nothing relevant in the system logs, and as far as I can tell there was no problem with disk space or memory.

Before reloading the service, I checked the service status and it was ok:

[code]

but every command failed with the following error:
[code]

Sim

[2019-11-15 12:55] freeekanayaka commented on #6439
Usually that error should be transient (and LXD itself will retry a number of times if it sees it). There might be a bug where somehow the database got stuck in some "locked" state, or something like that. After the process restarts there's little hope of figuring out what went wrong, and even if the process was still running we don't yet have the necessary introspection tooling to look at the sit

[2019-11-15 13:49] brauner opened #6461 "vm: failed creation doesn't clear db entry"
With current master:
[code]
Failing to launch a vm will not clean up the db entry:
[code]

[2019-11-15 16:11] #6461 closed

[2019-11-15 16:47] DBaum1 commented on #6380
Thank you, I am now running it from `~/go/src/github.com/lxc/lxd` and the Go PATH is `/home/dinah/go`
I have also added `~/go/bin` to my $PATH, and that solved the problems with undefined things. However I am still getting an error from
[code]
It seems the script is not able to locate some test files, even though I have confirmed that there are files (I guess not test ones?) located at those paths

[2019-11-15 17:18] stgraber commented on #6439
@freeekanayaka `database is locked` not going away is a somewhat frequent occurrence in my experience, so there's something wrong somewhere but it's unclear what we can do to debug it when we have it happen.

[2019-11-15 17:38] freeekanayaka commented on #6439
@stgraber as mentioned, with the raft/dqlite introspection API we should be able to look into the engine and understand in what state is it.

[2019-11-15 18:01] stgraber commented on #6380
@DBaum1 can you show the full output for that? What you listed above looks correct other than Makefile failing.

[2019-11-15 19:31] DBaum1 commented on #6380
Full output:
[code]

[2019-11-15 19:53] stgraber commented on #6380
Thanks, I'm getting the same result here. We should probably fix that test to be skipped when non-root.

Anyway, your best bet is to do:
[code]

Which will then run that test as root and should go fine (it does here anyway).

[2019-11-15 22:21] wilb commented on #6049
Absolute lifesaver - just hit this myself and was getting somewhat frustrated by the chicken & egg situation my container had gotten itself in. Thanks for the concise fix @redeye86 !

[2019-11-15 22:47] DBaum1 commented on #6380
@stgraber The result is the same when run as root.

[2019-11-15 23:11] stgraber commented on #6380
That's weird. Anyway, I'd say not worry about that too much, what's more interesting for this change is going to be the system tests.

Do those work for you if you do:

[code]

[2019-11-16 00:14] DBaum1 commented on #6380
That fails as well. Results:
[code]

[2019-11-16 00:19] DBaum1 commented on #6380
I am not running it in a VM or container.

[2019-11-16 00:36] keyallis commented on #6223
I've encountered an issue with circular inclusion that may require points 3 and 4 to be combined

[2019-11-16 01:03] stgraber commented on #6380
What OS and kernel is that system running?

The error above looks suspiciously like a kernel bug from the 5.1 kernel.

[2019-11-16 01:14] DBaum1 commented on #6380
That might be the problem - I updated my system a couple days ago, so now I'm running Ubuntu 19.04, kernel v5.0.0-36-generic. I can revert to an earlier version.

[2019-11-16 05:54] stgraber commented on #6380
Hmm, no, that should be fine, it's very similar to what we run on Jenkins actually.

Ah, I wonder if it's just path traversal being a problem. Can you try running `chmod +x /home/dinah` see if that takes care of the problem?

[2019-11-16 07:03] voxsoftware commented on #4308
any solution?

[2019-11-16 18:25] keyallis commented on #6223
After doing some digging I've determined that the issue is because our implementation of the firewall interface includes device, and in turn device includes the firewall interface. The reason we include the device package it so that we can use device.Instance as one of the arguments to the InstanceClear function. Is there a different Instance type we should be using that's outside of the device pa

[2019-11-16 18:45] tomponline commented on #6223
@keyallis I would suggest you create your own `Instance` interface in your package with *only* the functions you actually use from the main `Instance` interface. There are plans in the near future to move the `Instance` interface to its own package so that it can be referenced directly, but for now, having your own local package `Instance` interface helps to keep them loosely coupled.

This is why

[2019-11-16 18:46] tomponline commented on #6223
@keyallis you can see we've done something similar in the `storage` package too https://github.com/lxc/lxd/blob/b58304b88c841c7da8826a6c64f22d7476cfb501/lxd/storage/interfaces.go#L15-L23

[2019-11-16 18:48] tomponline commented on #6223
@keyallis alternatively, as you're only using `inst.Project()` and `inst.Name()` from what I can see, you could just have those passed in as separate args to `InstanceClear`. :)

[2019-11-16 21:12] CameronNemo opened #6463 "No space left on device during cgroup pivot"
# Required information

 * Distribution: void
 * Distribution version: 3.18
 * The output of "lxc info" or if that fails:

[code]

`lxc info --show-log local:chief-gull`

[code]

# Issue description

Launching a container fails.

# Steps to reproduce

 1. Compile sqlite-replication, libco, raft, dqlite, lxd as xbps packages from https://github.com/void-linux/void-packages/pull/15045
 2. Install lx

[2019-11-16 21:28] CameronNemo commented on #6463
I can reproduce this with plain LXC too... it appears that `cpuset.cpus` is unset for the lxc cgroups.

[code]

[2019-11-16 22:53] splett2 commented on #1750
we wanted to use the udev database in our unix_hotplug device's Start function to determine whether a device with a matching vendor/product ID are present in the host. We took a look at how this was done for USB devices, but we weren't able to find files vendorID/productID file for the block device we were using.

[2019-11-16 23:05] DBaum1 commented on #6380
`chmod +x /home/dinah` seems to help a lot - it is getting past basic usage and failing on container devices - nic - bridged.
<details>
  <summary>Results</summary>

[code]

[2019-11-17 00:15] stgraber commented on #6463
I believe that's a liblxc bug that's been fixed upstream for a few months but isn't yet in any released version of liblxc.

One workaround can be found in the lxd snap packaging here:

 https://github.com/lxc/lxd-pkg-snap/blob/latest-edge/snapcraft/commands/daemon.start#L263

[2019-11-17 00:15] #6463 closed

[2019-11-17 00:21] stgraber commented on #6380
Do you have a lxdbr0 bridge on your system? We'd normally expect the testsuite to work without it but it may have regressed in that regard without us noticing.

[2019-11-17 00:21] stgraber commented on #6380
On the upside you're way past the clustering tests :)

[2019-11-17 19:33] CameronNemo commented on #6463
Stéphane, do you happen to know the LXC commit(s) fixing this? Is it possible for me to backport it? I would need to tell LXC users to add that snippet to their `rc.local` otherwise. (I am just adding it to the runit run file for LXD).

[2019-11-17 20:22] stgraber commented on #6463
https://github.com/lxc/lxd-pkg-snap/blob/latest-candidate/snapcraft.yaml#L530

That's the list of commits we currently cherry pick for the snap, including the needed cgroups fixes.

[2019-11-18 02:54] dulinux commented on #1600
Hello, please, what version is required for this important feature to work? I have lxc 3.0.3 and it´s saying there is no security.protection.delete

[code]

Thanks!

[2019-11-18 03:01] stgraber commented on #1600
Should have been introduced around LXD 3.3.

[2019-11-18 08:46] DBaum1 commented on #6380
I do not have an lxdbr0 bridge. After some commenting out of tests, I've found that I am able to run all tests except container devices - nic - bridged (as stated above), id mapping, migration, and attaching storage volumes.

<details>
  <summary>id mapping</summary>

[code]
</details>
<details>
  <summary>migration</summary>

[code]
</details>
<details>
  <summary>attaching storage volumes</summa

[2019-11-18 09:24] asolari commented on #6439
It is happening quite often to me now since the first I reported it here.
Fortunately, except for the first time when I had to relete a file from the database directory, reloading the service is enough to fix the issue.
The strange thing is that it never happened before, in several months of production use with 2 lxd hosts.
Maybe it affects the latest release 3.18 mostlly?

Is there anything I can

[2019-11-18 11:03] freeekanayaka commented on #6439
What version where you using previously?

[2019-11-18 11:48] asolari commented on #6439
I'm using 3.18 now and I didn't take any action to switch version.
I assume that the previous version was 3.17, but I can't tell when snap decided to upgrade it, since this information is no more present in the logs.

[2019-11-18 12:06] freeekanayaka commented on #6439
Ok. Just to double check: you mention having 2 lxd production hosts, is the issue happening in both of them? Are they clustered LXD hosts or are they completely separate standalone LXDs?

[2019-11-18 12:21] asolari commented on #6439
The 2 hosts are standalone LXDs.
Actually, the second one at the moment is used simply as a backup/stand-by host: it receives every 2 hours a copy of the containers running on the first host.
The containers on second host, though, are in a stopped state, so it's probably not suprising that this issue has never happened here.

[2019-11-18 12:29] freeekanayaka commented on #6439
Please can you run ```sudo lxd sql local "SELECT * FROM config``` ?

[2019-11-18 12:51] asolari commented on #6439
[code]

[2019-11-18 13:14] freeekanayaka commented on #6439
I checked a bit the changes that occurred in LXD, dqlite and raft between 3.17 and 3.18. Didn't find any obvious correlation with this issue. I will get back to you once we complete the tooling for introspecting the db engine at run time.

[2019-11-18 16:31] geaaru opened #6467 "RFC: Add support for tunnel GRE with tun mode (Layer3)"
Currently, tunnel GRE support of network API support only tunnels GRE with Protocol Type Ethernet (0x6558) that use gettap.

An example of the command used with iproute tools is:
[code]
gretap works at Layer2.

An alternative to this is to create a tunnel with Protocol Type 0x0800 at Layer 3.
[code]

I think that this could be useful with the new feature about veth route mode but I'm not sure that

[2019-11-18 17:56] stgraber commented on #6380
idmap and attaching storage volumes are both caused by subuid/subgid issues. You can fix that by just deleting `/etc/subuid` and `/etc/subgid`.

The migration tests are failing because of CRIU being its usual unreliable self, we usually do not have CRIU installed on our test systems, so I'd say, just `apt-get remove criu` and that should fix it.

[2019-11-18 19:01] stgraber commented on #6467
LXD network tunnels expect L2 so you can connect containers on a LXD server to those on another, only having one of them operate as DHCP/DNS/router for the network.

I don't think we can really fit a L3 tunnel into the current tunnel model.

L3 is likely better handled by having the host setup the tunnel, whether that's GRE or some kind of encrypted L3 VPN, then typically ensuring a subnet is rout

[2019-11-18 19:01] #6467 closed

[2019-11-19 00:30] splett2 commented on #1750
another issue we're running into is that when we plug in our USB stick, kernel block subsystem events don't have enough information to identify the device, for ex. we get a message like

add@/devices/pci0000:00/0000:00:14.0/usb3/3-1/3-1:1.0/host5/target5:0:0/5:0:0:0/block/sdbACTION=addDEVPATH=/devices/pci0000:00/0000:00:14.0/usb3/3-1/3-1:1.0/host5/target5:0:0/5:0:0:0/block/sdbSUBSYSTEM=blockMAJOR=

[2019-11-19 03:58] stgraber commented on #1750
Does setting `Groups` to `3` rather than `1` in `deviceNetlinkListener` get you both of the event groups?

According to kernel documentation, `Groups` is a bitmask to select what netlink multicast groups to connect to, so you should be able to connect to both and save a go routine and netlink fd.

[2019-11-19 06:29] DBaum1 commented on #6380
I finally got all the tests to work! Your advice + changing the entry for lxd/root in `/etc/sub{g,u}id` to:
[code]
fixed everything! Thanks!

[2019-11-19 09:45] tomponline opened #6469 "VM Power state not maintained"
VM support currently does not update the `volatile.last_state.power` key on start and stop.

Whilst setting this on start should be trivially added to the `Start()` function in vm_qemu.go, making the equivalent of containerLXC's `OnStop()` hook function will require us to have a fork process that waits until the qemu process has ended and then calls back to LXD.

Currently VM's rely on qemu's own

[2019-11-19 14:51] stgraber commented on #6469
Yeah, we'll need something similar to `forkstart` so we can handle this and also support properly cleaning devices on the host on shutdown.

[2019-11-19 14:54] stgraber commented on #6380
Excellent!

[2019-11-19 18:57] s3rj1k opened #6473 "Add LA to lxc info CTNAME"
Latest lxcfs supports reporting correct `/proc/loadavg`, would be nice to have load average returned by in lxc Info.

[2019-11-19 19:23] Arnatious opened #6474 "bash completions are out of date and missing verbs"
https://github.com/lxc/lxd/blob/2b837b66b9eeebf40831e133367cde82ee38f339/scripts/bash/lxd-client#L63

Completion returns
[code]

Versus help
[code]

Missing:
- alias
- cluster
- console
- export
- import
- operation

No longer in lxc:
- finger
- manpage
- monitor
- query

[2019-11-19 22:15] stgraber commented on #6473
I don't think we'll be doing that.

We have a very hard security requirement in LXD to never rely on information provided from the container's filesystem. Accessing `/proc/loadavg` right now can only be done by reading the file. That's different from the other metrics which we get by instead accessing the relevant cgroup metric from the host.

A container could mount a fuse filesystem on top of /p

[2019-11-19 22:15] #6473 closed

[2019-11-19 22:16] stgraber commented on #6474
You need to look at `lxc help --all`, `finger` is indeed gone, the rest isn't.

[2019-11-19 23:05] #6474 closed

[2019-11-19 23:49] rcash commented on #5211
Hi @stgraber, I just wanted to give a status update since we've been silent for a few days and need some help/clarification on setting the volume keys.

We've spent awhile reading through files relevant to the issue and have added the storage pool config keys (`volume.lvm.stripes` and `volume.lvm.stripes.size`) and currently set the default number of stripes (`volume.lvm.stripes`) in [StoragePoolC

[2019-11-20 00:20] jackstenglein commented on #6230
Hi @stgraber, I think we are still a bit confused on the cluster logic and wanted to run our approach by you. We are able to prevent the second node that joins a cluster from immediately assuming the database role, and we can get the third node to join to assume the database role.

However, we have difficulty promoting the second node to the database role when the third node joins the cluster. Our

[2019-11-20 01:33] stgraber commented on #6230
Your plan sounds good considering what we have in place right now.
I don't love the idea of the joining node being the one kicking a re-balance but with the way things are structured right now, it's our best bet.

So I think it'd be good to know more about the failure. The `FOREIGN KEY constraint failed` suggests to me that the `node_id` is wrong, as in, doesn't exist in the `nodes` table.

Could

[2019-11-20 01:38] stgraber commented on #5211
`lvm.stripes` and `lvm.stripes.size`  should go in `changeableStoragePoolVolumeProperties`, `StorageVolumeConfigKeys` and `VolumeValidateConfig`.

One quick way to see pretty much everywhere changes are needed would be to look for `zfs.use_refquota` which is a similar key in the zfs backend.

[code]

[2019-11-20 04:08] #6174 closed

[2019-11-20 08:07] s3rj1k commented on #6473
@stgraber I hope that after bringing cgroupv2 support, cgroupv1 code will stay for some time.

[2019-11-20 10:58] brauner commented on #6473
I'm a little confused here. The `/proc/loadavg` virtualization that LXCFS is doing is not accessing the containers filesystem at all afaik. It's calculating it via cgroups and falls back to the host `/proc/loadavg` in case calculating it from cgroups fails.
You can take a look at the original pr: https://github.com/lxc/lxcfs/pull/237
Maybe I missed something.

The idea of doing it in-kernel is val

[2019-11-20 11:19] stgraber commented on #6473
@brauner for LXD to retrieve that value, we'd need to read /proc/loadavg from inside the container.

[2019-11-20 11:32] brauner commented on #6473
Oh, I overread the "returned from lxc info" part. Yeah...

[2019-11-20 12:07] s3rj1k commented on #6473
This would be nice to have at some point, especially then PSI Pressure Metrics were merged to cgroupv2

[2019-11-20 15:13] suprasoil opened #6477 "Can't create custom storage volumes on cephfs storage"
## Box

Ubuntu 18.04
[code]
[code]

Latest snap:
[code]

## Cluster
I have a working cephfs (i can mount it manually and add/remove data)
[code]

I'm running LXD clustered and added the storage

First node:
[code]

Other nodes (with unique names/addresses obviously)
[code]

Cluster setup completes without errors, storage shows up fine:
[code]

## Errors

I can't create volumes:
[code]

[code]

I'v

[2019-11-20 15:14] eviweb opened #6478 "lxc copy fails due to socket issue"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.6
[code]

# Issue description

Cannot copy a container from my local host to a remote server due to socker issue.
Running `lxc copy --mode=relay alpine remote:alpine` results in the following error `Error: Error transferring container data: exit status 2`
[code]
The error seems to come from here 'Got err writing writev

[2019-11-20 15:42] stgraber commented on #6477
Can you show `nsenter -t $(pgrep daemon.start) -m -- grep ceph /proc/mounts`?

[2019-11-20 15:45] stgraber commented on #6478
Can you look at the log on the target server?

With migration, it's always a good idea to look at the debug output on both sides as it seems likely that rsync just failed on one of the two sides.

[2019-11-20 16:05] eviweb commented on #6478
Thanks @stgraber.
It seems to be a zfs issue `:
[code]

[2019-11-20 16:19] eviweb commented on #6478
[code]
The command `zfs receive` of ZFS version 0.6.5.6 seems not to support `-o` options.
From help:
[code]

[2019-11-20 17:40] stgraber commented on #6478
Sent a branch which should fix that.

One alternative for you would be to install the HWE kernel (4.15) which will then get the snap to use ZFS 0.7, avoiding this issue.

[2019-11-20 18:38] eviweb commented on #6478
Many thanks for your help @stgraber

[2019-11-20 22:21] ralubis commented on #6230
Hello @stgraber, I created a draft pull request as seen above. As Jack stated, the error can be recreated by adding a third member to a cluster. Thank you!

[2019-11-21 01:02] stgraber commented on #6230
`lxc cluster list` during join is normal as while joining the cluster enters exclusive mode, preventing any other database access.

[2019-11-21 08:31] #6478 closed

[2019-11-21 11:18] suprasoil commented on #6477
[code]

[2019-11-21 12:30] suprasoil opened #6483 "Can't remove container after update from 3.17 -> 3.18"
## Box

[code]

[code]

## Problem

When i try to delete a container, i get the following error.
[code]

It seems lxd expects mounts to reside in `/var/snap/lxd/common/shmounts/storage-pools/zfs/containers`, while containers seem to be mounted in `/var/snap/lxd/common/lxd/storage-pools/zfs/containers`

I have tried to create the directory & mount the zfs volume there:
[code]

Still, i'm getting th

[2019-11-21 13:52] eviweb opened #6485 "none/auto value no more allowed as valid IP address setting"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.5 LTS
[code]

# Issue description

`none` or  `auto` values are no more allowed to IPv4 and IPv6 settings unlike it is described in the network documentation.

# Steps to reproduce

 1. `lxc init images:alpine/3.10 alpine`
 2. `lxc network attach lxdbr0 alpine eth0`
 3. `lxc config device set alpine eth0 ipv4.address au

[2019-11-21 14:21] stgraber commented on #6485
You're getting confused between the valid values for LXD networks (`lxc network edit lxdbr0`) and container devices (`lxc config edit alpine`).

The none/auto values are only valid for networks, not for network interfaces.
For network interfaces, they must either be set to an address in the network's subnet or not be set at all.

https://linuxcontainers.org/lxd/docs/master/containers#nictype-bridg

[2019-11-21 14:21] #6485 closed

[2019-11-21 14:23] stgraber commented on #6483
What's that system's `uptime`?

Logic around mounts has been changed in the snap packaging around October 20th to avoid such issues, so if the system hasn't been rebooted since then, I would strongly recommend that you do, this should take care of this issue.

[2019-11-21 14:25] stgraber commented on #6477
Ok, so the Ceph filesystem is indeed mounted, good.

Can you try:
 - `nsenter -t $(pgrep daemon.start) -m -- mkdir /var/snap/lxd/common/lxd/storage-pools/remote/test`
 - `nsenter -t $(pgrep daemon.start) -m -- rmdir /var/snap/lxd/common/lxd/storage-pools/remote/test`

If that similarly fails with the `read-only` error, then that'd suggest some kind of ceph fs issue preventing new writes.

[2019-11-21 14:38] eviweb commented on #6485
My bad, thanks for the clarification.

[2019-11-21 14:55] suprasoil commented on #6477
[code]

[2019-11-21 15:15] suprasoil commented on #6477
When i mount it manually as root like this:
[code]
[code]

I *can* create subdirectories, do you have any idea what's going on?

[2019-11-21 15:26] suprasoil commented on #6477
Ah, when i mount it like this:
[code]
Everything is fine.

When i mount it like this:
[code]

I'm getting these errors. I don't know what path `//` is pointing to, but it seems to be causing this behaviour.

[2019-11-21 15:35] stgraber commented on #6477
Oh, that's interesting.

What's your `lxc storage show remote` showing? I suspect we need to better handle `source=/`.

[2019-11-21 15:40] suprasoil commented on #6483
The system has been running for quite some time, i'll reboot the cluster at a more convenient time and report back.

[2019-11-21 16:00] suprasoil commented on #6477
I'm using the default, storage has been setup with:
[code]

I don't get why cephfs.path is showing forest here as i did not pass that as config.
[code]

----------------------------------

Now that i know the path is causing problems, i tried to setup the storage with the `cephfs.path` config set, but this seems to be ignored:
[code]
results in:
[code]
and:
[code]

[2019-11-21 16:11] stgraber commented on #6483
Ok, tentatively closing assuming that the fixes we've done around shmounts/shared in snap has fixed this issue. Let us know if that's still happening after reboot.

[2019-11-21 16:11] #6483 closed

[2019-11-21 16:13] stgraber commented on #6477
Ok, that should be easy enough for me to try and replicate here. We've completely rewritten the cephfs support in master so there's a good chance that the bug is gone already, but certainly worth checking.

[2019-11-21 16:21] stgraber commented on #6477
Reproduced the issue, though in my case, this led to a complete system lookup when trying to touch a file...

[2019-11-21 16:26] stgraber commented on #6477
Sent a fix

[2019-11-21 18:58] #6477 closed

[2019-11-21 23:31] ribsthakkar commented on #5826
Hi all @stgraber @tomponline @brauner
We are starting to spec out this this issue. We have approximately two and a half weeks before we need to present some sort of running implementation of this issue. With that in mind, we're hoping to get a more clear understanding of what should be the key milestone(s) for this issue. I don't expect this package to be fully fleshed given the time frame and the

[2019-11-21 23:54] ribsthakkar commented on #5826
Also, is this a process manager for processes that the user wants to trigger inside containers or that LXD creates internally?

[2019-11-22 00:28] ribsthakkar commented on #5826
Another question, does the package keep track of all of the processes that have spawned or the package just returns a process struct that can be used by lxd to spawn, kill etc ?

[2019-11-22 10:53] brauner opened #6491 "lxc profile show lists vms under 1.0/containers"
Not sure if this is intended behavior but likely not. When I do:
[code]
and I have vms (e.g. `e3-vm`) attached to that profile they get listed under `1.0/containers` when they should likely be listed under the corresponding vm API endpoint.

[2019-11-22 13:31] C0rn3j commented on #5405
Snap LXD: 3.18
Kernel: 4.18.0-24-generic
OS: Ubuntu 18.04

Caches were dropped `echo 3 > /proc/sys/vm/drop_caches`, `sync` ran too.

[meminfo-2019-11-22.log](https://github.com/lxc/lxd/files/3879700/meminfo-2019-11-22.log)
[ps-aux-2019-11-22.log](https://github.com/lxc/lxd/files/3879701/ps-aux-2019-11-22.log)
[slabinfo-2019-11-22.log](https://github.com/lxc/lxd/files/3879702/slabinfo-2019-11-22.lo

[2019-11-22 13:42] brauner commented on #5405
Why is LXD not showing in ps auxf?

[2019-11-22 13:43] C0rn3j commented on #6362
https://github.com/lxc/lxd/issues/5405 guy here.

That did not help me, I've had the SUnreclaim grow on both btrfs and ext4 backends.

I still experience leaks on both our work env (Ubuntu 18.04) and my personal setup (Arch Linux), dropped a new log in the other issue about that.

[2019-11-22 13:46] C0rn3j commented on #5405
I shut nearly everything unnecessary down to get the stats, it is normally running.

[2019-11-22 13:47] brauner commented on #5405
Hm, but if it's the LXD daemon that's causing the issue I wonder what's pinning the memory than if it's gone.

[2019-11-22 13:52] C0rn3j commented on #5405
@stgraber deduced it's a kernel bug https://github.com/lxc/lxd/issues/5405#issuecomment-454024325

The system will be running in this broken state for the next 2 hours before being nuked, if you're interested in poking around in it I could get you SSH access.

[2019-11-22 16:55] s3rj1k commented on #6362
@C0rn3j @erikmack I am curious, is this all snap versions?

[2019-11-22 17:12] C0rn3j commented on #6362
As per #5405, both snap and AUR versions trigger the issue for me.

[2019-11-22 17:49] tomponline commented on #6491
@brauner @stgraber it looks like this is hardcoded into the initial fresh DB schema that is created:

https://github.com/lxc/lxd/blob/c41ec9e3bbaac1633658134ccd0ea82ed75438db/lxd/db/cluster/schema.go#L387-L392

Should we update the query (does that need a DB patch) or should we modify the output to strip that and replace for VM types in the code?

CC @freeekanayaka

[2019-11-22 17:50] rcash commented on #6169
Hi again @stgraber, are lxc projects enabled by default or is there a setting we need to tweak to get them to work? I've been building LXD from source on the master branch and project never appears as a valid option when I type `lxc` when it is running. Some other LXD groups in the virtualization class here have also not been able to use lxc projects either. I've attached the output of `lxc`, `lxc

[2019-11-22 18:04] Lilyjjo commented on #1750
@stgraber
Hi,

So an update on what we're planning for the implementation:
1.) Modifying deviceNetlinkListener to listen on group 3 (this does allow us to get both udev and kernel events in the same go routine) and adding a new channel for unix-hotplug devices in deviceEventListener
2.) creating unix_hotplug.go to manage the new device type unixHotplug, and creating device_utils_unix_hotplug_event

[2019-11-22 19:13] s3rj1k commented on #6362
@C0rn3j I would try with current git HEAD or snap EDGE

[2019-11-22 19:39] C0rn3j commented on #6362
I've had this issue for a 1+ year, is there a specific fix that you have in mind that's in current git?

[2019-11-22 19:55] stgraber commented on #6491
oh, that's an interesting way to do this :)

So I think we'll need to change all of the views which use `/1.0/containers` to instead give us the instance name, project name and instance type.

We can then have the LXD code generate the URL based on the type and URL it's been accessed from (so that /1.0/containers/blah gives you a /1.0/containers URL but /1.0/instances/blah gives you a /1.0/instanc

[2019-11-22 19:55] stgraber commented on #6491
And yeah, we'll need a DB patch to delete and re-create those views and code change to deal with the different columns.

[2019-11-23 21:29] AydamiroV commented on #6418
Hey @stgraber! We are a group of students at UT-Austin. Could you, please, give a little more description on the issue? We can try to help you out

[2019-11-23 21:40] stgraber commented on #6169
Make sure you don't have the lxd and lxd-client packages installed on your system. The behavior you're describing would be consistent with you having the 3.0.3 version of lxd-client installed.

[2019-11-25 01:22] ralubis commented on #4567
Hi @stgraber, we tried to run `make update-schema` on a clean version of master to get a better understanding of the proper behavior for `make update-schema`. However, we are faced with the following error:
`Error: Generate code snippet: No declaration found for "Instance"`
Do you have any insight on what we can do to get around this error? I have attached the full output below.

Thanks!

<details

[2019-11-25 15:28] stgraber commented on #4567
Seems to be running fine here, maybe try rebasing on master just in case?

[2019-11-25 15:32] stgraber commented on #4567
@ralubis feel free to open a draft pull request so we can directly look at it too, it may be a change in your branch which is causing the generator to get confused.

[2019-11-25 16:07] ribsthakkar commented on #5826
Just following up again @stgraber @tomponline @brauner

[2019-11-25 18:18] #6230 closed

[2019-11-25 22:40] ralubis commented on #4567
We were able to get `make update-schema` run by including ~/go/bin in $PATH.

[2019-11-25 23:15] jackstenglein commented on #4567
@stgraber We are a bit confused about how to store the profile information in the database in order to differentiate between the nil and empty list case. Assuming that a query to the images_profiles table for a given image id returns no profiles, is that supposed to indicate the nil case or the [] case?

[2019-11-26 03:13] stgraber commented on #4567
The distinction between `nil` and `[]` should be done at the API level.
If you get `nil`, then at the DB level, you insert the `default` profile. If you get `[]`, you insert nothing.

To handle upgrades, you will need the schema update to also insert an entry for every existing image, tying them to the `default` profile.

[2019-11-26 03:24] stgraber commented on #6418
@AydamiroV I don't really have much idea of what's wrong with this one yet, I started reproducing the issues locally and digging into them. If it's a trivial issue, I'll likely just fix it as I go, if it looks bigger, I'll document and give you a chance to sort it out.

[2019-11-26 03:28] stgraber commented on #6418
@geaaru I've reproduced the first issue, interestingly if you do:
 - lxc network create test1 --target cluster01
 - lxc network create test1 --target cluster02
 - lxc network create test1 ipv4.address=10.10.0.1/24 ipv6.address=none

Then things work as expected. So it looks like something's getting in the way with the special handling of the addresses. This is most likely because those keys get au

[2019-11-26 05:47] stgraber commented on #6418
Fixed the first issue, reproduced the second one.

[2019-11-26 06:01] RanMaosong opened #6507 "How does LXD use the existing zfs pool."
I have created some containers. One day, I accidentally uninstall the LXD, then, the all containers disappear. I reinstall LXD, it still doesn't work.  So how do i restore the previous containers. Thanks!

[2019-11-26 06:30] stgraber commented on #6418
Second issue fixed, looking at the third one.

[2019-11-26 06:40] stgraber commented on #6418
Ok, the third issue is hopefully just caused by the second one.

dnsmasq cannot give you a lease for a subnet outside of the one it's running on, so it's ignoring your static lease and giving you a dynamic one. If the host interface and dnsmasq configuration had been updated and the IP was in the subnet, things would work.

[2019-11-26 06:44] stgraber commented on #6507
https://linuxcontainers.org/lxd/docs/master/backup#disaster-recovery

But that's assuming that your storage pool was separate from the LXD daemon storage, if it was some kind of loop mounted file backing your pool, then you're out of luck.

[2019-11-26 06:44] #6507 closed

[2019-11-26 06:47] stgraber commented on #6437
Closing as we ended up directly poking at the system and getting back online.
Part of the issue was the systems were on arm64 with a lot of missing kernel and system updates causing a bunch of kernel issues impacting lxd.

[2019-11-26 06:47] #6437 closed

[2019-11-26 06:50] stgraber commented on #6419
I think this got fixed in master as f59e9808ff8975e00bb5fefe350ecf9c06f7a61f

[2019-11-26 06:50] #6419 closed

[2019-11-26 07:27] stgraber commented on #5826
Sorry about the delay.

We're looking for a package which would allow for:
 - NewProcess(name string, args... string) (*Process, error)
 - ImportProcess(path string) (*Process, error)

With Process supporting:
 - Pid() (int64, error)
 - Stop() error
 - Start() error
 - Restart() error
 - Reload() error
 - Save(path string) error
 - Signal(int64) error
 - Wait() (int64, error)

We'll likely want a

[2019-11-26 07:29] stgraber commented on #1750
Approach sounds go. Using go-libudev is fine for now. We may or may not switch to directly reading the udev database, but that's something that I can take a look at later, not a blocker for this work.

[2019-11-26 08:45] #6418 closed

[2019-11-26 10:14] freeekanayaka commented on #6491
So yeah this was a bit of a hack in the db code generator, to avoid adding extra complexity. It will require a bit of work, essentially because now we'll have to change:

[code]

to something like:

[code]

but more importantly we'll have to do the same with the ```api.Project``` struct, which right now is used directly in database code. We'll have to introduce a specific ```db.Project``` struct w

[2019-11-26 10:20] DBaum1 commented on #6380
Registering the native architecture of each server in the `nodes` database table and then running `make update-schema` results in `make` failing `lxd-p2c` with `undefined: sqlite3.ErrLocked`and `undefined: sqlite3.ErrBusy`
It doesn't seem to be the changes I made to the code since running `make update-schema` on a clean copy causes `make` to fail in the same fashion.

<details>
  <summary>Full out

[2019-11-26 10:42] geaaru commented on #6418
@stgraber Thanks, I will test your fix soon.

[2019-11-26 11:04] adsanz commented on #2625
I know this has been close, but for those in the answer for something like this. Reinstalling mysql end up being the solution.

[2019-11-26 14:06] stgraber commented on #6491
@freeekanayaka we can go with the hack but use slash as separator as that's a character we prevent our users from using for both instance and project names

[2019-11-26 14:08] stgraber commented on #6380
Rebase on master, you're missing a small fix I sent yesterday to avoid this.

[2019-11-26 15:08] cyberwillis opened #6512 "Console Error: Failed running forkconsole: "attaching to the container failed""
# Required information

 * Distribution: **ubuntu**
 * Distribution version: **16.04**
 * The output of "lxc info" or if that fails:
   * Kernel version: **4.4.0**
   * LXC version: **3.2.x  (https://github.com/lxc/lxc/commit/f177506f59ec142718413c3accffcf9cc3dd0746)**
   * LXD version: **3.18 (https://github.com/lxc/lxd/commit/5759c4be9fd85ab949544c440d5ac0545bcad86e)**
   * Storage backend in us

[2019-11-26 15:11] cyberwillis commented on #6408
Hi I just found another problem related to console... I don't know if its related to this fix.

https://github.com/lxc/lxd/issues/6512

[2019-11-26 15:34] RanMaosong commented on #6507
Would you give me more detailed instructions, please?

Stéphane Graber <notifications@github.com> 于2019年11月26日周二 下午2:44写道：

[2019-11-26 15:34] RanMaosong commented on #6507
Would you give me more detailed instructions, please?

[2019-11-26 16:26] stgraber commented on #6507
Support questions are better handled in https://discuss.linuxcontainers.org where more community member are around to answer your questions.

[2019-11-26 18:12] ralubis commented on #4567
Thank you! We will keep that information in mind.

Can you elaborate further on the change made to projects in this issue? We're not really sure what you meant with:

Will we need to modify lxc functions related to projects, such as lxc project edit or lxc project show?

[2019-11-26 18:31] stgraber commented on #4567
No, it's just a database thing. The user will only be editing the image with `lxc image edit`.

The issue is that images can be tied to a project if `features.images=true` and profiles can be tied to projects too if `features.projects=true`.

So we have to deal with the following cases:
 - Default project
 - Project with neither images nor profiles enabled (effectively same as "Default project" ca

[2019-11-26 18:33] freeekanayaka commented on #6491
Actually thinking about this, I'm not totally sure what do you mean. Currently return /1.0/containers in the used_by API field that we fill for profiles and projects: so you would see that what you hit something like GET /1.0/profiles/blah, or GET /1.0/projects. There's no way there to decide whether to render the URL as /1.0/containers or as /1.0/instances.

Am I missing something?

[2019-11-26 18:37] stgraber commented on #6491
When querying something under /1.0/containers or /1.0/virtual-machines, we'll make sure to return URLs that match. For other endpoints we should return the generic /1.0/instances.

So if UsedBy is only present outside of instances, fixing this may in fact be much simpler.

[2019-11-26 18:38] freeekanayaka commented on #6491
Yeah it's only present outside instances indeed.

[2019-11-26 18:51] freeekanayaka commented on #6491
Should I just ```s/containers/instances/``` in:

[code]

then?

[2019-11-26 18:55] stgraber commented on #6491
Yeah, that should do it. Sorry for the waste of time :)

[2019-11-26 19:19] freeekanayaka commented on #6491
Hehe, no worries. I changed the PR accordingly.

[2019-11-26 21:31] #6491 closed

[2019-11-27 01:18] stgraber commented on #6512
I think I've got a fix for this one.

[2019-11-27 01:26] cyberwillis commented on #6512
Yeah ... It works. Thank you

[2019-11-27 01:26] #6512 closed

[2019-11-27 02:37] jackstenglein commented on #4567
Thanks for the detailed response! Just to make sure we understand correctly, I wanted to run some scenarios by you.

In the case of the default project and in the case of the project with neither images nor profiles enabled, suppose the project has id 1, the image `foo` has id 2 and the profile `bar` has id 3. Adding the `bar` profile to `foo` would create an (image_id, profile_id, project_id) tup

[2019-11-27 03:24] stgraber commented on #4567
I don't think you need a `project_id` column in `images_profiles` at all, both `image_id` and `profile_id` refer to records that are tied to a project already.

You will always load the image record first which gets you the image_id, for the profiles, you get the provided names and resolve them to their ids within the current project, if the project doesn't have profiles enabled, then that goes to

[2019-11-27 04:05] jackstenglein commented on #4567
Excellent, thanks a lot! We should have a pull request for this later this week.

[2019-11-27 05:29] ribsthakkar commented on #5826
I see. Essentially we'd be storing the same thing a pidfile (which is just the pid anyway) does but along with that the configuration options of the process, path to executable executable, the arguments, etc?
I suppose the first iteration of this would be a simplified implementation of Python's subprocess module?

[2019-11-27 07:46] cmars opened #6518 "Can't launch VM"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
[code]
   * Storage backend in use:
[code]

# Issue description

Unable to launch a vm with lxd on my machine.

[code]

# Steps to reproduce

 1. sudo snap install lxd --edge
 2. lxc launch --vm ubuntu:bionic

# Information to attach

 - [ ] Any relevant kernel output (`dmes

[2019-11-27 09:18] tomponline commented on #6518
@cmars are you running LXD inside another VM by any chance?

[2019-11-27 11:19] freeekanayaka commented on #6380
Hello @DBaum1, I've just pushed a PR that will make implementing this feature a bit easier.

Essentially, I did the ground work for adding a new database table, so now there's a new internal API ```NodeAddWithArch()``` that can be used to add a node specifying its architecture (the architecture must be an integer value among the ones we support, see the ```shared/osarch/architectures.go``` for a d

[2019-11-27 13:27] stgraber commented on #6518
Indeed, that particular code path would normally indicate an attempt at nested virtualization.

You'd think qemu could fail in a cleaner way though but apparently that's what it does when the virtualization layer beneath it isn't setup to allow for nesting.

[2019-11-27 13:34] stgraber commented on #5826
Yeah, it's effectively a fancy pid file, I'd recommend storing as yaml since that's what we tend to do in LXD. The functions above should be pretty easy to map to `exec.Command` and `exec.Command.Process`.

[2019-11-27 15:53] RanMaosong commented on #4619
Have you solve the problem? Tank you!

[2019-11-27 17:32] ribsthakkar commented on #5826
What is the functional difference between restarting a process and reloading a process? I suppose restarting would be to kill the current process if it is running and start it again, but I am not sure about reloading?

[2019-11-27 17:37] stgraber commented on #5826
Reload is usually sending a signal like SIGHUP to cause the process to reload its configuration.

[2019-11-27 18:03] cmars commented on #6518
Not running in a VM, this is bare metal on my laptop.

[code]

[2019-11-27 18:06] stgraber commented on #6518
@cmars interesting and is there any virtualization related flag in the firmware that's not enabled? Thinking of VT-X & VT-D for the bits that we use.

[2019-11-27 18:12] cmars commented on #6518
KVM virtualization works on this machine:
[code]

[2019-11-27 18:18] cmars commented on #6518
More info. I think rdmsr output indicates it's enabled in the BIOS according to https://askubuntu.com/a/104017:

[code]

[2019-11-27 18:20] cmars commented on #6518
Could this be caused by LXD running as a snap (edge channel)?

[2019-11-27 18:28] cmars commented on #6518
Oh, this is interesting:
[code]
Not running in a VM though.

[2019-11-28 12:40] Saviq opened #6523 "LXD-created zpool missing over reboot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.10
 * The output of "lxc info": [lxc.info.txt](https://github.com/lxc/lxd/files/3901670/lxc.info.txt)

# Issue description

The default zpool created by `lxd init` is not re-imported (or rather, the loop device isn't set up) upon reboot.

# Steps to reproduce

 1. `snap install lxd`
 2. `lxd init`, use the default ZFS stor

[2019-11-28 13:32] stgraber commented on #6523
@Saviq those steps do not work here:

[code]

[2019-11-28 13:44] Saviq commented on #6523
@stgraber I can reproduce reliably here, what else can I get you in terms of debugging info?

One potentially important thing is that I'm using [the new ZFS-on-root](https://didrocks.fr/2019/10/11/ubuntu-zfs-support-in-19.10-zfs-on-root/) layout…

[2019-11-28 14:14] stgraber commented on #6523
@Saviq ah yeah, that may be relevant.

[2019-11-28 14:15] stgraber commented on #6523
@Saviq can you show `lxc storage show default`?
Assuming you can manually import the pool to get things online.

[2019-11-28 16:42] Lilyjjo commented on #1750
@stgraber
Hello,

We've got the code working and are almost ready to submit a pull request, we just have to write the tests and organize the commits. We did have a few more questions before we do:
1.) Should we make the product ID or vendor ID mandatory? We're not sure what the expected behavior is of the code if no product or vendor ID is specified
2.) Should we add to api.go/api-extentions.md? W

[2019-11-28 16:52] tomponline commented on #1750
@Lilyjjo in response to question 3, it would be good to see the draft PR first to understand how much re-use there are between the 2 functions as to whether its worth combining them or not. Thanks

[2019-11-28 16:54] tomponline commented on #1750
@Lilyjjo if you have added any new config keys or values then this would count as an API extension as I understand it.

[2019-11-28 17:08] stgraber commented on #6523
Reproduced the issue here on a similar desktop install, adding debugging to track it down.

[2019-11-28 17:25] stgraber commented on #6523
[code]

[2019-11-28 17:26] stgraber commented on #6523
So the issue is that Ubuntu seems to have re-generated its ZFS UUID, causing an issue on import.
Solution is likely to just have LXD always import our on-disk pool with `-f` to ignore this.

[2019-11-28 17:43] stgraber commented on #6523
Actually testing a cleaner fix in the snap which would be to copy the ZFS identifier from the host.

[2019-11-28 19:27] #6523 closed

[2019-11-28 21:06] stgraber commented on #6523
@Saviq fix is already in edge and has been pushed to candidate too, will promote to stable later today if Jenkins is happy with it.

[2019-11-28 21:08] stgraber commented on #1750
@Lilyjjo yeah, one of productID or vendorID must be provided, we may change that later if adding other ways to match the devices, but for now, one of the two is needed at a minimum.

And yeah, this needs an API extension, anything which adds a new user visible functionality does, we use those strings to allow various clients to detect whether a particular LXD server will support the feature they'r

[2019-11-29 17:43] Lilyjjo commented on #1750
@stgraber @tomponline
Hi,

We made a pull request for the question of the generalization of  'unixDeviceSetupCharNum()'.

Our code works like the USB code does from the manual testing we've done. We based the unix-hotplug device's logic off of the USB device's logic and we're having some odd behaviors that the USB device code also has:
(1)  If a running container has a hotplug device that has requ

[2019-11-29 20:12] stgraber commented on #1750
1) Yes, that is the expected behavior. `required` is only enforced during startup, we don't actually want containers getting stopped if the device later goes missing.

2) Not sure how much we can really do about this case and I suspect it's likely fine to ignore right now given that LXD restarts last only a few seconds. Indeed a device going away during that time interval wouldn't be noticed as no

[2019-11-30 06:48] ribsthakkar commented on #5826
Hi Stephane, so we have the functionality you requested implemented? We are working on writing Go Tests for it. Where should we be putting the test file(s)?

[2019-11-30 07:20] Saviq commented on #6523
Ack, thanks!

[2019-11-30 12:17] Kramerican opened #6533 "Nested Docker container can "spy" on the host system"
Ubuntu Bionic
LXD 3.18 from Snap

Create an LXD container with -c security.nesting=true - set some cpu / ram limits - and then initialize a docker container:

[code]

Enter the container and install / execute htop:

[code]

You will now notice you can see all host system resources - total number of threads, total CPU use, total amount of memory and overall host system load, despite LXD being confi

[2019-11-30 17:30] stgraber commented on #6533
That's not spying, lxcfs is setup in LXD containers for convenience but someone can absolutely unmount it our mount a new instance of proc and see the real values from the system.

As Docker doesn't know how to setup lxcfs, Docker containers see the host resources directly, this is normal.

[2019-11-30 17:30] #6533 closed

[2019-11-30 19:02] Kramerican commented on #6533
Thought as much - thanks for confirming, @stgraber :)

[2019-12-01 10:08] DBaum1 commented on #6380
@freeekanayaka
I'm looking to clarify a few things:
I've been looking at `lxd/api_cluster.go` and it seems that the `Arch` field for the `ClusterPut` structure would best be filled with `ArchitectureGetLocalID()` in either  `clusterPut()` or  `clusterPutJoin()`, which joins a new node to an existing cluster.
`clusterAcceptMember()` is then invoked and `internalClusterPostAccept()`is called before

[2019-12-01 11:25] freeekanayaka commented on #6380
@DBaum1 I think my previous comment was a bit inaccurate.

The new ```Arch``` field should be added to the  ```internalClusterPostAcceptRequest``` struct, not to ```ClusterPut```.

Then inside ```clusterAcceptMember()```, which is invoked in the joining node, you can call ```ArchitectureGetLocalID()``` to fill the ```Arch``` field of the ```internalClusterPostAcceptRequest``` object that is about

[2019-12-01 12:03] DBaum1 commented on #6380
Thank you for the clarification!

[2019-12-01 18:41] stgraber commented on #5826
If using go tests, you should just use the default _test.go files so they're picked up and run by 'go test'.

The whole package will most likely reside under 'lxd/subprocess' with the package similarly called subprocess (bit of a call back to the similar Python module).

[2019-12-01 19:21] ribsthakkar commented on #5826
Should we be writing dedicated unit tests for each of the functions or a few tests that cover all of the functions?

[2019-12-01 20:18] stgraber commented on #5826
I would go with a few tests that cover all the functions, will be easier to reason about and update in the future.

[2019-12-02 15:27] davidp1404 opened #6536 "iSCSI inside a container fail to login"
Hello, I'm trying to run a container that mounts a iscsi target but it doesn't work.
I've also applied privileged mode without success.
The syslog reports:
Dec 02 15:07:54 nfs10A systemd[1]: iscsid.service: Failed to reset devices.list: Operation not permitted
Dec 02 15:07:54 nfs10A systemd[1]: Starting iSCSI initiator daemon (iscsid)...
Dec 02 15:07:54 nfs10A iscsid[1804]: iSCSI logger with pid=1

[2019-12-02 15:46] stgraber commented on #6536
Closing as it's not a LXD issue by itself, in that, there's nothing we can really do at the LXD level to make this just work.

Now what would be interesting to get is an `strace -f` output of the daemon and whatever other iscsi process you may have. I suspect we'll see an attempt at either creating device nodes directly in /dev or trying to access some specific iscsi device nodes or device mapper

[2019-12-02 15:46] #6536 closed

[2019-12-02 18:53] suprasoil opened #6537 "Can't join cluster that is using a cephfs storage pool"
I'm running edge to test if i can use cephfs after https://github.com/lxc/lxd/issues/6477 was resolved, i can now add a cephfs remote storage pool and use it, but can't setup a cluster using a cephfs pool.

[code]
[code]
[code]

When setting up the first node with this config:
[code]

and try to init the second & third nodes with this:
[code]

I run into the following error when trying to init LXD

[2019-12-02 19:24] Lay-ton commented on #5211
Hi @stgraber , we've implemented all the logic that we think is necessary to support striped volumes, however, we're running into some issues testing lvcreate-are there instances where where striping is not valid on thinly provisioned volumes (such on when there is only one physical volume in a volume group)?
 This is the error we've been seeing when trying to create a striped thin volume [here](h

[2019-12-02 20:02] tomponline commented on #5211
Does it work when using normal volumes rather than thin pools?

[2019-12-02 20:05] tomponline commented on #5211
Yes it looks like when using thin volumes its the thin pool lvm that needs the stripe settings.

"A thin pool can be striped like any other logical volume. All the thin volumes created from the pool inherit that settings - do not specify it manually when creating a thin volume. " https://wiki.gentoo.org/wiki/LVM

[2019-12-02 22:05] hadmut opened #6538 "Hangs at shutdown"
Hi,
I just installed a fresh Lubuntu 19.10 on an notebook machine. Since 19.10 does not provide a regular LXD package and asks to install a snap, I did that, but not yet configured LXD.

„A stop job is running for Service for snap application lxd.daemon

 * Distribution: Lubuntu 19.10
 * Distribution version: 19.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.3.0-24-generic

[2019-12-02 22:09] stgraber commented on #6538
Should have been fixed by the snap revision we pushed out about 15min ago.
Run `snap refresh lxd`, make sure you're on revision 12631 or newer and hopefully that problem will be gone.

[2019-12-02 22:09] #6538 closed

[2019-12-02 23:31] lucindan commented on #6305
@brauner  ,we're having trouble creating the struct that will capture the c group hierarchy at startup, Would this be the same as the struct hierarchy that is in lxc  (at https://github.com/lxc/lxc/blob/master/src/lxc/cgroups/cgroup.h ) ?  Or would it be struct that has  a list of controllers that we would set to 0,1,2 depending on their c group version (0= not enabled, 1 = c group v1, 2= c group

[2019-12-03 03:27] stgraber commented on #6537
Ah, should be easy enough to reproduce and fix. I wonder how we're handling that with RBD actually as a similar check exists but is clearly bypassed somehow when joining the nodes.

[2019-12-03 10:35] DBaum1 commented on #6380
Hi @stgraber @freeekanayaka
Would it be best to add an option to `lxc launch` that allows the user to specify the architecture they want to deploy their image to?
Also, any suggestions for testing this feature?

[2019-12-03 12:52] freeekanayaka commented on #6380
@DBaum1 there's no need of an additional option, because the architecture is implied by the image you choose. Probably the best way to test it is to use a couple of VMs of different architectures. I don't think we're going to have a way to perform automated testing of this (under ```test/suite```), so for now we'll be happy with manual testing only.

[2019-12-03 14:18] waveform80 opened #6542 "LVM storage failure"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info":

[code]

# Issue description

While attempting to take a snapshot of an unrelated LV on a server, LXD's LVM state somehow diverged from the system's LVM state. Subsequent container launches failed, as did many LXD and some LVM operations. After various attempts at restoration I managed to sa

[2019-12-03 15:31] stgraber commented on #6380
Right, testing would effectively be:
 - `lxc launch ubuntu:18.04/arm64 c1`
 - `lxc launch ubuntu:18.04/arm64 c2`
 - `lxc launch ubuntu:18.04/amd64 c3`
 - `lxc launch ubuntu:18.04/amd64 c4`
 - `lxc launch ubuntu:18.04 c5`
 - `lxc launch ubuntu:18.04 c6`

Given our normal balance algorithm this should land us with the aarch64 server running c1, c2 and c5 and the x86_64 running c3, c4 and c6.

[2019-12-03 15:34] stgraber commented on #6380
For your local testing, you may be able to do so by using a cluster made of a normal x86_64 laptop and a raspberry pi or similar ARM development board. If you can't find an aarch64 Ubuntu image for whatever board you have, you could do the same on armv7l by using `/armhf` rather than `/arm64`.

Alternatively if you have easy access to AWS instances, they provide aarch64 instances on there too whic

[2019-12-03 15:48] brauner commented on #6305
What struct do you want to recreate and why exactly?
LXD would likely only need to:
- find out whether the host is a pure unified layout, e.g. by doing:
[code]
(just in go)
- check for various controllers and record them similar to what we do now for the various v1 controllers. controllers are files in v2, e.g. to detect memory controller support you'd check for `memory.stat` or another file, for

[2019-12-03 16:35] stgraber commented on #6428
@monstermunchkin is currently rewriting the entire btrfs storage driver so this will be fixed as part of that. We just need to make sure we have a test in place which would catch such issues in the future.

[2019-12-03 21:05] stgraber commented on #6537
So good news is that I've actually fixed that one by accident when moving cephfs to the new storage model. Bad news is that I broke something else in the process, so I've fixed that now and it's working on top of master.

[2019-12-03 21:15] stgraber commented on #6428
Yeah, we're still actively looking after btrfs. For Ubuntu, we certainly have had better experiences with zfs than btrfs, but we have hundreds of thousand of users on btrfs too, especially on chromebooks, so we still very much care about it.

[2019-12-03 23:12] abbykrish commented on #5826
Hi Stephane! We finished writing the subprocess package with the functionalities you had mentioned. It is in PR #6544

One thing we wanted to point out -- for the sake of easy testing, we wrote Python scripts to be the processes that we managed in the tests. Is this okay? We had some difficulty with Go scripts because we weren't able to declare them in package `main` because they were within our s

[2019-12-04 00:11] mparfan commented on #6169
Hi @stgraber, are project limits intended to change when a project is not empty? We ask because as of right now, we think that the functionality of limits is very similar to how `features.images` or `features.profiles` are used in [lxd/api_project.go] (https://github.com/lxc/lxd/blob/master/lxd/api_project.go#L489), but that a user might want to increase the max number of containers at some point.

[2019-12-04 04:21] stgraber commented on #5826
I'll have to take a closer look. Spawning subprocesses from go test doesn't seem trivial and is likely too heavy weight. But maybe we can at least switching from python to a shell script to reduce the dependency chain for those tests.

[2019-12-04 04:23] stgraber commented on #6169
Limits will be modifiable at any time. The most typical change will indeed be an increase, though a decrease should also be possible, but should fail if the current usage exceeds the new limit.

[2019-12-04 05:30] dgreid opened #6545 "shiftfs doesn't work if built in"
When running on a kernel that doesn't support modules, shiftfs is always disabled because the check for shiftfs depends on it being compiled as a module.
This check:
https://github.com/lxc/lxd/blob/a75e207459a047835e43245f95ee50ada8854cee/lxd/daemon.go#L623
uses this code
https://github.com/lxc/lxd/blob/fbff4896fa3d1a83530ffa8351fd82d1795a0230/lxd/util/kernel.go#L12
which checks /sys/module/shifts

[2019-12-04 13:15] suprasoil commented on #6537
I'm still getting the same error, running:
[code]

[2019-12-04 14:11] stgraber commented on #6537
Weird, will have to poke at it again, it sure was working here when bringing up cephfs on a two nodes cluster.

[2019-12-04 14:15] stgraber commented on #6545
Ah yeah, for this one we should certainly be looking at `/proc/filesystems` too.

[2019-12-04 16:04] Kramerican opened #6549 "lxc copy command does *something* which causes a 2 minute delay in container startup"
Ubuntu Bionic
LXD 3.18

Interesting issue I encountered today. Reliably reproducible:

[code]

Container starts up fine as usual and you can see the ssh daemon running. Now let's make a copy and see what happens:

[code]

ssh daemon does not come up. Watching the syslog then always after about 2 minutes services will come up. This seems like the system is waiting for something and then times out a

[2019-12-04 16:25] tomponline commented on #6549
@Kramerican does it take a 'normal' time to boot up on subsequent stop and then starts of the copy?

[2019-12-04 16:26] Kramerican commented on #6549
@tomponline I'm not sure what you mean - the container copy starts and stops immediately as they usually do. However the 2 minute delay in bringing up services is consistent on each startup.

[2019-12-04 16:28] tomponline commented on #6549
@Kramerican yep thats what I meant (wanted to ensure it wasn't LXD doing the initial uid shift). What does your syslog/journctl show you for the ssh daemon?

[2019-12-04 16:40] stgraber commented on #6549
A copy operation re-triggers cloud-init, this is most likely what you're seeing here.

[2019-12-04 16:40] stgraber commented on #6549
(To be more specific, cloud-init will re-trigger after a copy if the name of the container has changed in the process, so won't kick in on remote copies usually)

[2019-12-04 17:01] Kramerican commented on #6549
@stgraber How would re-trigger of cloud-init consistently leave boot hanging for 2 minutes ?... Or well, I'm not sure if I care about the specifics really, rather: how to fix/avoid the situation? :)

[2019-12-04 17:02] stgraber commented on #6549
Look at your systemd journal, you may be able to see what's going on in there.

[2019-12-04 17:04] stgraber commented on #6549
Note that following your steps, I'm unable to reproduce such a long delay, second container has sshd come up just as fast as the first.

[2019-12-04 17:12] Kramerican commented on #6549
@stgraber That is interesting as I was certain this was not host/network specific as I am seeing the same thing on two seperate hosts in seperate locations with differing network environments. One host is an upgraded Xenial->Bionic host whilst the other is a relatively fresh Bionic host.

In any case, this is what the logs reveal around the time of a reboot/startup of a copy:

syslog:
[code]

The

[2019-12-04 17:21] tomponline commented on #6549
@Kramerican would also be worth checking that both containers dont have the same MAC address and are racing each other on the network.

[2019-12-04 17:21] Kramerican commented on #6549
I would also like to note that my reproduction steps were incomplete in my original post, as I omitted that I wrote a network config yaml file, in order to get things working in our environment. My apologies as that would have given you an immediate hint as to what I was doing "wrong"

[2019-12-04 17:22] Kramerican commented on #6549
@tomponline They seem to have differing MAC addresses - See my edit above, I think I got this figured out :)

Not sure if this is 100% good vanilla behavior - but it was easily explainable at the very least :)

[2019-12-04 17:24] stgraber commented on #6549
Sounds like we have this one tracked down then :)

[2019-12-04 17:24] #6549 closed

[2019-12-04 21:01] stgraber commented on #6537
reproduced the issue

[2019-12-04 21:29] #6545 closed

[2019-12-04 23:15] rudiservo opened #6551 "lxc copy to another storage does not change hostname"
* Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0
   * LXC version: 3.18
   * LXD version: 3.18
   * Storage backend in use: btrfs

# Issue description
copy one container into another storage does not change it's hostname.
This happens when you change to another storage inside the same storage it does not happen.
Have not t

[2019-12-04 23:22] stgraber commented on #6551
Ah, interesting, I'm guessing we're not setting the proper trigger in such case, should be easy enough to fix.

[2019-12-04 23:30] rudiservo commented on #6551
Thanks for fixing it :+1:
just confirmed that
lxc copy test test-1 -p devprofile
also does not change the hostname, hopefully it uses the same storage function so you only have to fix one :smile:

[2019-12-05 00:45] stgraber commented on #6551
Does devprofile contain a different root device too, so effectively causing the same issue?

[2019-12-05 01:40] stgraber commented on #6551
Ah, so good news is that the new storage interface does not have this issue, only the old drivers do.

[2019-12-05 01:55] stgraber commented on #6551
Got a fix for the old storage drivers. They'll go away in 3.19 so it's a bit pointless, but we can still cherry-pick that fix to the snap in the mean time.

[2019-12-05 08:29] #6537 closed

[2019-12-05 08:29] #6551 closed

[2019-12-05 11:31] pstch opened #6556 "Using ZFS, cannot create new containers on LXD 3.18"
# Required information

 * Distribution: NixOS
 * Distribution version: nixpkgs-unstable
 * The output of "lxc info" or if that fails:
[code]

# Issue description

When using ZFS with LXD 3.18, I cannot create new containers (`Unable to unpack image, run out of disk space`), although I have plenty of disk space available.

# Steps to reproduce

 1. Install LXD 3.18
 2. Create a ZFS dataset (`zfs c

[2019-12-05 13:38] rudiservo commented on #6551
Thanks, sorry for the late answer but yes the devprofile has a diferent root device.
thanks for the notice, I'll be waiting on 3.19 then.

[2019-12-05 13:49] stgraber commented on #6556
Can you show:
 - `df -h`
 - `df -i`
 - `zfs list -t all`

[2019-12-05 13:50] stgraber commented on #6556
Ah and `lxc storage show default` too

[2019-12-05 20:54] #6469 closed

[2019-12-06 00:06] fwaggle opened #6564 "lxc delete command fails "directory not empty""
# Required information

 Distribution: Ubuntu
 Distribution version: Bionic 18.04
 The output of "lxc info":

[code]

# Issue description

I think this is probably two bugs, but I don't have any idea how to reproduce the first, I'll just include it as it's important to the setup:

Occasionally, it seems an `lxc delete <container>` can fail. The ZFS dataset is destroyed, the only thing left is an e

[2019-12-06 00:32] stgraber commented on #6564
https://github.com/lxc/lxd/pull/6560/commits/7199afba981ece28b40d5230e832307f3b3e0823 in https://github.com/lxc/lxd/pull/6560 handles this type of races. So we've literally written a fix for this accidentally earlier today :)

[2019-12-06 00:33] stgraber commented on #6564
3.19 will have a completely rewritten storage layer so any existing storage bug will most likely be gone, possibly replaced by new, different bugs (as tends to happen when replacing such a large piece of code).

[2019-12-06 00:43] fwaggle commented on #6564
ACK, so should I leave this open, or close it and see if the behaviour shows up again in 3.19?

[2019-12-06 00:44] stgraber commented on #6564
I'll close it when I merge 6560

[2019-12-06 02:13] pstch commented on #6556
[code]

[code]

[2019-12-06 02:52] #6564 closed

[2019-12-06 05:47] stgraber commented on #6556
Not sure how easy it is for you to rebuild LXD with a custom patch, but if it's easy, then the following should help:
[code]

[2019-12-06 05:48] stgraber commented on #6556
That will expose the error as it's coming out of the unpacker.

[2019-12-06 06:14] chrissly90 commented on #2004
Hi,

I want to notice that the Option:
```lxc.kmsg=0```
is no longer available in LXC like to be seen here:

https://github.com/lxc/lxd/issues/4393#issuecomment-378181793

However I have the same problem under LXC right now, that I get the error
```adj_systime: Operation not permitted ```

```local_clock: ntp_loopfilter.c line 818: ntp_adjtime: Operation not permitted```
```ntp_adjtime(TAI) failed