[2020-02-21 15:48] davidfavor commented on #6666
Previous data requested. Apologies for taking so long...
[code]

[2020-02-21 15:51] tomponline commented on #6666
@davidfavor thanks, do you have any firewall rules configured on the host?

Could you show the output of `iptables -L -v -n` (assuming you're using iptables).

[2020-02-21 15:53] stgraber commented on #6913
arm64 snap is taking forever to build, once it's done, we'll release to stable

[2020-02-21 16:37] stgraber commented on #6913
Fix released to stable, running `snap refresh lxd` will get you onto that.

[2020-02-21 16:37] #6913 closed

[2020-02-21 18:12] 66hades commented on #6910
Understood, thanks!

[2020-02-21 18:23] 66hades commented on #6912
I think I found where the problem is, in the bash script for lxd-client. I'm confident I can fix this over the weekend 😊

[2020-02-21 22:24] chong601 commented on #6914
Here's the layout of the container
[code]
(This is based on the `zfs list` output)

[2020-02-21 22:38] chong601 commented on #6913
Confirming that the fix is working on one of my machine that is affected by this issue.
The containers are able to start and the storage pools are imported successfully.

[2020-02-21 23:17] tazmo opened #6916 "adding LVM storage... no matter what..."Error: Volume group "extravg" is not empty""
Hi-

I am trying to add lvm storage to lxd using an existing VG but am not able to.

Running Ubuntu 18.04.4... lxd from snap -version 3.21. According to this[1], I should be able to but no matter what, it does not work.

I have read all four ""Error: Volume group "extravg" is not empty" threads found when posting this.

root@dozer:~# vgs
  VG         #PV #LV #SN Attr   VSize   VFree
  extravg

[2020-02-22 00:03] stgraber commented on #6914
Ok, so yeah, there's no way to automatically import this.
Your best bet is to either restore a partial database backup or to manually re-add `secondary-fio-cache` to the database as well as manually re-adding the custom volumes to the `storage_volumes` table.

Once those are sorted, the containers themselves should import just fine.

I did put import/export infrastructure for custom storage volume

[2020-02-22 00:04] stgraber commented on #6916
Correct, LXD 3.21 properly enforces our storage rules to not allow using a storage pool that's got a single namespace and where items already exist. The same protection is present for ZFS and Ceph, LVM just had a bug that made it unenforced up until 3.20 or so.

@tomponline Added a new config option to bypass that test, the result of which is in current git master and will be in LXD 3.22.

If you

[2020-02-22 00:08] #6916 closed

[2020-02-22 00:39] ericrochow opened #6917 "dqlite issues preventing startup after reboot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-88-generic
   * LXC version: 3.20 (snap)
   * LXD version: 3.20 (snap)
   * Storage backend in use: ZFS

# Issue description

Following an unclean reboot of my host (console was hung and had to forcably reboot), I noticed that the containers runni

[2020-02-22 00:53] stgraber commented on #6917
@ericrochow can you run `snap refresh lxd` and try again?
We landed a fix for this issue this morning.

[2020-02-22 01:48] chong601 commented on #6914
Ah well, I guess I have to pray that the snapshotted snap data for LXD are salvagable (this server got hit by issue #6913 and recently recovered by nuking everything) and planned to just reimport, but that doesn't work as `lxd init --preseed` doesn't allow creating storage pools with existing datasets.

The main take-away of this issue is this:
- Not possible to create storage pools and volumes wi

[2020-02-22 04:38] stgraber commented on #6914
In this case, a simple `snap revert lxd` would have gotten you on the previous working revision, that's usually worth a shot when something like this happen.

If something weird happens with the database, there's also always the option to revert it, either to the previous upgrade state (that's what the `.bak` files are) or by reverting just a few segments in the current database.

It's incredibly

[2020-02-22 04:38] #6914 closed

[2020-02-22 06:21] stgraber commented on #6912
Cool, a PR would be quite welcome.

It should indeed be pretty straightforward to add that subcommand to `scripts/bash/lxd-client`.

[2020-02-22 09:49] freeekanayaka commented on #6917
I think this is actually a different issue, probably some corruption happened because of the crash.

Please make a backup copy of your ```/var/snap/lxd/common/lxd/database``` directory, then run

[code]

and try to start the daemon again.

If it starts ok but you notice anything missing (containers or whatever), just let me know and we can recover them.

[2020-02-22 13:15] ericrochow commented on #6917
I tried the snap refresh and that did not recover. I moved the requested file to my home directory and was able to start and it looks like I'm back in business. Is there a way of determining what was in that file? The last change I made to anything was to detach a container from a profile and attach to a new one, but that would have been a few days ago. From what I can see now, it appears that cha

[2020-02-22 13:42] freeekanayaka commented on #6917
There's no easy way, but given that the last actual change you did was from a few days ago, I'd say there's nothing interesting.

[2020-02-22 13:49] ericrochow commented on #6917
Perfect! Thanks so much for your assistance.

[2020-02-22 13:49] #6917 closed

[2020-02-22 16:34] freeekanayaka commented on #6439
Good news, I have now been able to reproduce the error following the steps indicated by @nanjj, running them on a VM in our company's cloud. I guess the fact that the VM has slower hardware than my laptop plays a factor. I'll investigate further.

[2020-02-22 18:38] freeekanayaka commented on #6439
Turns out that there was a timeout kicking in. The default statement execution timeout in the Go dqlite driver is currently 2 seconds, and that was to low for this workload. Setting it to 10 seconds with the ```driver.WithContextTimeout()``` option solves the issue.

@nanjj if you still have that code, could you try to modify it with something like:

[code]

and see if it solves the issue for you

[2020-02-23 09:44] sesa-me opened #6922 "security.idmap.isolated within a project results in overlapping uid/gid maps"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * LXD version, 3.19 rev 13162 via snap
 * The output of "lxc info" :
[code]

# Issue description

Setting security.idmap.isolated=true on containers within a project results in overlapping uid/gid maps; the idmap.base is consistently 1065536. Doing the same within the default project creates containers with unique, non

[2020-02-23 22:08] #6922 closed

[2020-02-24 12:03] ubojan commented on #6901
Thanks for your response. I've ran that command on server **before** I've executed lxd snap refresh (which failed, so I had to reboot it).

[code]

[2020-02-24 12:44] tazmo commented on #6916
Thank you for the response and (temporary) workaround.

The reason I ask the question is the docs [here](https://lxd.readthedocs.io/en/latest/storage/#notes-and-examples) state :

" Use the existing LVM Volume Group called "my-pool" "

Unless I am miss-understanding the above, "existing" seems to infer already there....I see no other suppositions or assumptions about where the VG came from in that

[2020-02-24 12:45] tomponline commented on #6916
@tazmo the volume group can be there already (hence "existing" wording), but should not contain any existing volumes, it should be empty.

[2020-02-24 12:49] tazmo commented on #6916
but I tried that in my examples above with nothing in the new VG:

root@dozer:~# lvremove extravg/LXDThinPool
Do you really want to remove and DISCARD active logical volume extravg/LXDThinPool? [y/n]: y
Logical volume "LXDThinPool" successfully removed

And it still didn't work.

So to be clear you are saying under THAT condition it should work?

[2020-02-24 12:50] tazmo commented on #6916
never mind... I did have other stuff in there.... sorry...

[2020-02-24 12:51] tazmo commented on #6916
btw - that doesn't seem very clear from the docs @tomponline

[2020-02-24 15:37] ostap-mykhaylyak opened #6928 "Port forwarding 1935"
Hi,

port forwarding does not work properly for the RTMP protocol, while there is no problem over HTTP

[code]

[code]

to make it work it was necessary to configure forward with iptables:

`iptables -t nat -A PREROUTING -p tcp -i ens160 --dport 1935 -j DNAT --to-destination 10.116.184.247:1935
`

[code]

[2020-02-24 15:45] stgraber commented on #6928
What error/behavior are you seeing?

Can you show `netstat -lnp` in the container too?

[2020-02-24 15:46] stgraber commented on #6928
If an option at all, testing on LXD 3.21 may be useful too. We did change quite a lot of things over those past two years :)

[2020-02-24 16:00] ostap-mykhaylyak commented on #6928
[code]

[code]

[2020-02-24 16:19] simondeziel opened #6929 "[snap/3.21] bogus GPT partition info"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Creating a VM with ```lxc launch ubuntu:18.04 v1 --vm --profile default --profile vm``` results in the following kernel logs:

[code]

Aside from those warnings, the VM seems to behave normally but I didn't test it extensively.

[2020-02-24 16:23] stgraber commented on #6929
Hmm, would be interesting to know if it's an issue in the image itself or in the resized volume only.

@tomponline @monstermunchkin can you sort this out quickly please?

[2020-02-24 16:28] tomponline commented on #6929
@stgraber @simondeziel I've just tried this now from master on ubuntu:18.04 and dont see the kernel messages and the VM boots fine. What backend storage driver are you using? I'll test inside a snap version too to check its not snap specific.

[2020-02-24 16:32] simondeziel opened #6930 "Apparmor confinement for QEMU"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails:

[code]

# Issue description

It would be nice to have the QEMU process confined by Apparmor, like libvirt does.

I did a trivial experiment using lxd's latest snap and got this (toy) Apparmor profile permitting to ```lxc start/stop/console/shell``` into the VM:

[code]

I

[2020-02-24 16:36] simondeziel commented on #6929
@tomponline I'm using ZFS and used this image:

[code]

[2020-02-24 16:38] simondeziel commented on #6929
The resize theory makes a lot of sense as the end of the disk moves so it the alt GPT table needs to be moved as well.

[2020-02-24 16:41] simondeziel commented on #6929
@tomponline the image I used is the latest one:

[code]

[2020-02-24 16:42] tomponline commented on #6929
Recreated issue on zfs on master, it doesn't occur on lvm. It doesn't prevent boot. Will look into how it can be fixed for zfs.

[2020-02-24 16:54] tomponline commented on #6929
The error only occurs when the VM is created, it doesn't occur on boot.

[2020-02-24 16:56] stgraber commented on #6930
LXD has built-in logic to generate and load apparmor profiles so no need for a helper tool.

Though the paths will be tricky as we can't hardcode snap paths or assumptions about symlink targets in there.

[2020-02-24 17:07] simondeziel commented on #6929
Indeed, the error only occurs during VM creation. I tried resizing the rootfs by editing the config and it didn't result in this error showing again.

[2020-02-24 17:08] tomponline commented on #6929
I'm thinking there might be something in the zfs driver that is causing the host OS to try and mount the VM's partition during initial creation (which shouldn't happen because it is a partitioned block device).

[2020-02-24 17:14] simondeziel commented on #6929
I think you are onto something as simply cloning the $vm.block ZVol result in this being logged by the kernel:

[code]

I did this with:

[code]

So mapping parts boundaries seems to occur naturally.

[2020-02-24 17:18] tomponline commented on #6929
This seems related: https://bugs.launchpad.net/cirros/+bug/1605588

@stgraber is this outside of the scope of LXD to modify the volume's partition table (like we don't when resizing the volume) as we don't know how it is constructed? In the case of cloud-init I understand that the VM will resize its own partitions on first boot.

[2020-02-24 17:28] tomponline commented on #6929
More info (using LVM which has same issue but doesn't generate the warnings) as I couldn't figure out where the ZFS devices were:

Parted warns of issue when trying to print partition table, lets ignore:
[code]

Using `sgparted` with the `--move-second-header` flag (
[code]

No error second time running parted:
[code]

@stgraber so I suppose we could runs this from LXD, but do we know that the par

[2020-02-24 18:52] stgraber commented on #6929
We don't. I'm also not sure why this is a problem here and not with the stock Ubuntu images. I wonder if they have a different GPT setup so there's no error is the secondary table isn't right at the end.

[2020-02-24 18:53] stgraber commented on #6929
What's our default volume size again? 10GB?

[2020-02-24 18:57] tomponline commented on #6929
These are the stock ubuntu images arent they?

[2020-02-24 18:59] tomponline commented on #6929
Thats correct. It makes sense that the gpt 2nd header isnt moved as we just unpack the image onto the raw device and dont manipulate the partition table. However we only see the warning message with zfs, even though it exists with that and lvm.

[2020-02-24 19:01] tomponline commented on #6929
@stgraber perhaps we can detect a gpt table in the image and only move it if needed.

[2020-02-24 23:12] stgraber commented on #6929
Yeah, that may be what we have to do... I was hoping the issue was just with `images:ubuntu/bionic` and not `ubuntu:18.04`, but reading the report again, it does affect the cloud images...

It's indeed odd that it would affect ZFS but not LVM, do you think it's because of block size differences or something like that?

[2020-02-25 09:07] tomponline commented on #6929
@stgraber so there's a couple of things going on here:

1. The issue of the kernel messages is only occurring with ZFS, and only at VM create time. The messages I have seen are listing the partitions in the image, e.g. `kernel:  zd112: p1 p14 p15` which suggests something in the ZFS driver is attempting to probe the image for its partition table, triggering the messages. Perhaps there is a tweak w

[2020-02-25 09:16] tomponline commented on #6929
@stgraber I've also noticed than when cloud-init inside the VM resizes the partition to use the remaining space in the disk image, it also moves the GPT alternative header to end of the disk, so VMs using cloud-init appear to be fixed on first boot.

[2020-02-25 09:25] tomponline commented on #6929
@stgraber according to the `sgdisk` manual if we try and run `sgdisk --move-second-header` on a non-GPT disk, it will detect this and exit with status code `3`. I've confirmed this is the case, so we could just run this command on all VM disk images created after unpack/resize.

[2020-02-25 11:22] stgraber commented on #6929
Sounds good. For ZFS, we should check the clone call and make sure we pass it volmode=none instead of doing on a later step

[2020-02-25 14:30] tomponline commented on #6929
@stgraber so this is interesting, clone with the volmode option seems to apply but actually doesn't:

Image source volume volmode=dev:
[code]

Image source read only snapshot (volmode not relevant):

[code]

Clone from snapshot passing volmode at time of clone:

[code]

Confirm volmode=dev is set on new volume, yes it is, great.
[code]

Check there are no partition devices in /dev/zvol/:
Hrm that'

[2020-02-25 15:30] vikrantrathore opened #6931 "LXD 3.21 introduces lxcfs error and cannot delete container with lxc"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: kernel_version: 5.0.0-1026-gcp
   * LXC version: 3.2.1
   * LXD version: 3.21
   * Storage backend in use: ZFS
   * Storage version: 0.7.12-1ubuntu5

# Issue description

After upgrading to 3.21 old containers cannot be deleted. They have been deleted fr

[2020-02-25 15:56] stgraber commented on #6931
The ZFS storage driver didn't change in 3.21 so that's unlikely to be the issue.

Your first delete fails because you forgot to pass the project, so that's normal.

The other delete fails because busy, this may be due to a snap bug as lxcfs should usually be started prior to any containers being visible, so that suggests it may have crashed and picked up those mounts on restart.

[2020-02-25 16:43] tomponline commented on #6929
So there's defo some weird behaviour here:

Test 1: Parent volmode=none, clone volmode=dev: Works as expected, only disk device appears.

[code]

Test 2: Parent volmode=default, clone volmode=dev: Doesn't work as expected, partition devices appear.

[code]

But it gets weirder, if I set the parent volmode now to something else, e.g. "none", then it seems to notice the volmode=dev on the volume and

[2020-02-25 21:00] cmars opened #6936 ""Error: Failed to connect to lxd-agent." when trying to exec into a VM"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-14-generic
   * LXC version: 3.21
   * LXD version: 3.21
   * Storage backend in use: dir

# Issue description

Cannot exec into a VM launched with `lxc launch --vm`. I get `Error: Failed to connect to lxd-agent`.

The VM also seems to lack an IP a

[2020-02-25 21:12] stgraber commented on #6936
That's normal, the `ubuntu:` images don't have the agent baked in.

Please follow: https://discuss.linuxcontainers.org/t/trying-lxd-virtual-machines/6182

[2020-02-25 21:12] #6936 closed

[2020-02-26 00:06] Kramerican commented on #6890
I'm sorry to have to bring this up again, but we have now run into the same issue as what led us to our original configuration where we set expiry to 1 day - but which then led to LXD constantly re-downloading images. What we are seeing:

When LXD fetches a new updated image, and `remote_cache_expiry=365` is set to some high value, the old images are kept around. They loose their alias (as that is

[2020-02-26 00:14] stgraber commented on #6890
Hmm, your behavior doesn't match the code. When an image is refreshed, the previous image is deleted.

One thing that would explain your behavior is if you're manually running `lxc image copy` to update the image rather than running `lxc image refresh` on the existing image. The latter should cause LXD to pull the new image and then delete the previous one.

As you're never actually using cached i

[2020-02-26 00:17] stgraber commented on #6890
So to recap, I would expect:
 - `lxc image copy image-server:alias local: --alias whatever --auto-update`

Initially to populate the local image and set the alias.
Then if you want to manually update it, you need to run `lxc image refresh whatever`.

I believe the auto-refresh should also work on those but I don't remember whether you have that enabled or not.

[2020-02-26 00:26] Kramerican commented on #6890
Alright! That makes a whole heap of sense

Thank you for the clarification @stgraber - this is exactly what I was looking for :)

[2020-02-26 00:26] #6890 closed

[2020-02-26 08:18] microcoder opened #6937 "Question: How can I get access to block devices on host inside LXD container?"
Hi!

My container now is do not privileged, but I also tried it switch to privileged, `smartctl` do not have access, but `lsblk` have it:

[code]

[code]
smartctl do not see block device /dev/sda:

[code]
I also with `ls` do not see it:

[code]

How to see host block devices in a container? How to do that Smartctl see block devices of the host?

[2020-02-26 11:41] stgraber commented on #6937
You need to pass them using unix-block devices.

Note that doing that though will allow your container to cause serious damage to the host.

[2020-02-26 11:41] #6937 closed

[2020-02-26 13:21] #6912 closed

[2020-02-26 14:36] ostap-mykhaylyak commented on #6928
I try update tomorrow and update issue

[2020-02-26 19:30] Funeoz opened #6940 "Debian rules file"
I'm currently trying to build a .deb package from the source code. Can the debian/rules file that can be found here (http://archive.ubuntu.com/ubuntu/pool/main/l/lxd/lxd_3.0.3-0ubuntu1~18.04.1.debian.tar.xz) be applied to the newer versions of lxd without any modifications ?

[2020-02-26 19:32] stgraber commented on #6940
It's possible, you should try it. If it doesn't then it probably wouldn't take too many changes for it to work for you.

Closing as this isn't a packaging repository and we are not publishing new LXD releases as debs (though others are obviously free to package it if they wish).

[2020-02-26 19:32] #6940 closed

[2020-02-27 09:26] fnordahl opened #6942 "Edge snap syntax error in bash completion"
[code]

[2020-02-27 09:27] tomponline commented on #6929
@simondeziel The PRs https://github.com/lxc/lxd/pull/6933 and https://github.com/lxc/lxd/pull/6932 should fix this issue for all storage drivers except Ceph.

The issue was two-fold:
1. There was a genuine issue with the GPT alternative header not being moved to the end of the disk (that the GPt standard mandates) when we unpack VM images onto storage devices that are larger than the source image.

[2020-02-27 09:32] #6929 closed

[2020-02-27 09:36] #6942 closed

[2020-02-27 11:24] rbalint opened #6945 "Systemd-pstore fails to start in non-privileged container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]
# Issue description

Systemd-pstore fails to start in non-privileged container without the workaround applied in the systemd package due to /sys/fs/pstore being mounted rw but the user not having permission to write it.

# Steps to reproduce

 1. Remove the line Condi

[2020-02-27 11:36] stgraber commented on #6945
pstore must be mounted rw or containers using upstart will completely fail to boot, so can't do this until Ubuntu 14.04 ESM and CentOS/Oracle/RHEL 6 are still a thing.

It's not really an issue having that particular service failing to start, though obviously it'd be preferred if it could have a condition in the unit not to start in containers (can't think of any case where you'd want this in a co

[2020-02-27 11:36] #6945 closed

[2020-02-27 13:40] #6169 closed

[2020-02-27 14:04] adrian5 commented on #1635
Just want to report back, that I just ran into this on a fresh 18.04 (VPS) with the 3.21 snap. Rebooting made no difference.

With Ubuntu packages, I expect them to "just work" upon installation, without requiring even small manual tasks like user/group changes.

[2020-02-27 14:57] davidfavor commented on #6666
[code]

[2020-02-27 14:58] davidfavor commented on #6666
Arg...

Just **lxc delete** on the container this morning succeeded.

Regards the iptables data.

Expand a bit on anything I can look for in iptables output which might provide a workaround when this intermittent problem occurs again.

Thanks.

[2020-02-27 15:10] ubojan commented on #6901
@stgraber I've got another example here. Lemme know what should we look for.

[code]

[2020-02-27 15:25] simondeziel commented on #6929
@tomponline thanks for the quick turnaround!

[2020-02-27 15:56] AceSlash opened #6949 "lxd import fails with "The instance's directory appears to be empty." when that's not the case"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-88-generic
   * LXC version: 3.21
   * LXD version: 3.21
   * Storage backend in use: zfs

# Issue description

Trying to restore a container from backup fails with lxd import:
[code]

[2020-02-27 17:43] albertodonato opened #6951 "lxc remote add fails saving servercert if remote name not specified"
# Required information

 * Distribution: ubuntu
 * Distribution version: 19:10
 * LXD versions:
[code]

# Issue description

When adding a remote, if a name is not specified the command continues, but then fails to save the server certificate, as the filename contains slashes:

[code]

[2020-02-27 17:54] stgraber commented on #1635
The snap does not and will not add user to the group, so that's expected behavior.
Any user we add to that group effectively gets root access on the system, so we're not going to start adding random users on installation :)

For the deb, it was a bit different as it was Ubuntu-specific and so could assume the behavior of the sudoers group for example. The snap is installed by many distros and we d

[2020-02-27 17:58] stgraber commented on #6949
It's quite correct, the LXD snap is within a mount namespace, if you can see a mount from the host, then things are wrong.

See: https://discuss.linuxcontainers.org/t/lxd-import-not-working/6702

[2020-02-27 17:58] #6949 closed

[2020-02-27 17:59] stgraber commented on #6951
Ah yeah, looks like we need to do some encoding around that, fun.

[2020-02-27 19:53] stgraber commented on #6901
Ok, the output above looks correct.
Is the container listed in the log a running container?

If so, it may be a process in the container keeping it active. In which case, the reboot obviously fixed that, but so would manually killing the container, starting LXD and then starting the container back up.

[2020-02-27 20:45] adrian5 commented on #1635
I see, that's fair enough.

[2020-02-28 10:29] maran opened #6953 "Ceph RBD disk usage not implemented"
I noticed that Ceph RBD disk usage was [not implemented yet](https://github.com/lxc/lxd/blob/master/lxd/storage/drivers/driver_ceph_volumes.go#L603). Is this a case of "there was no time to implement this yet" or is there a structural reason this can't be implemented?

I would be interested in contributing support for it if there is no reason for not having it.

[2020-02-28 10:44] stgraber commented on #6953
I can't think of a fundamental reason why it wouldn't work. Using the same pattern we're using for LVM should work just fine.

If you want to give it a shot, you need to populate `GetVolumeUsage` in `lxd/storage/drivers/driver_ceph_volumes.go` and I'd recommend basing this on the same function from `lxd/storage/drivers/driver_lvm_volumes.go`.

[2020-02-28 10:56] maran commented on #6953
Thanks for the tips. This should work fine when the system is mounted however what would we do when it's not? Also how do you normally deal with things like snapshots when calculating the size of an image. We could use `rbd du` but that would also include the size of the derived snapshots.

[code]

How do you handle this for other storage drivers?

[2020-02-28 11:06] stgraber commented on #6953
Using `rbd du` when not mounted should be fine. That's effectively what we do with LVM where we try to get it from the filesystem and if we can't, we go look at the thinpool usage.

We'd usually prefer to ignore the snapshots, though it always depends on how `used` is calculated.
If in your example above, `used` is only 16MB because of the previous snapshot owning the vast majority of the actual u

[2020-02-28 12:14] maran commented on #6953
Just to be clear though: this would mean that getting the volume size while the system is not mounted would result in a much larger volume than when it is mounted, especially if you have tons of snapshots. This won't be too much of an issue?

[2020-02-28 13:06] leopaul36 opened #6956 "Unable to set rootfs size with VMs and ZFS storage"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-38-generic
   * LXC version: 3.21
   * LXD version: 3.21
   * Storage backend in use: zfs

# Issue description

I am not able to set the rootfs size through the VM configuration. It works properly with regular containers.

# Steps to reproduce

 1.

[2020-02-28 13:34] stgraber commented on #6953
Correct, that's what we do for lvm so shouldn't be too much of a surprise

[2020-02-28 13:37] stgraber commented on #6956
That's normal. With virtual machines all we can do is grow the virtual disk, growing partitions must be done by the user.

If you look at /proc/partitions you should see that the disk was grown per your request.

You'll then need to run a partition growing tool to resize your root filesystem.

Cloud-init can do that for you automatically on first boot for those images that use it.

[2020-02-28 13:37] #6956 closed

[2020-02-28 14:06] tomponline commented on #6666
@davidfavor so the original error was:

[code]

That error is generated by LXD trying to send a DHCP release packet to the dnsmasq process that should be listening on 10.101.55.1 to release the lease.

I was wondering if there are any `iptables` or `ebtables` rules that may be blocking those packets.

Also, I'm not sure if its related, but I've noticed an oddity in your container config. You have

[2020-03-01 17:18] diegomontoya opened #6961 "Container start crashes after copy to remote"
Src: Lxd 3.21, Ubuntu 19.10, 5.3.0 kernel
Dest: Lxd 3.2.1, Debian 10.3, 5.5rc6 kernel

After copying container from Src to Dest, container fails to start and dmesg shows segfault with cryptic message. Have no idea what is happening. Thanks.

[code]
Src Lxc container config:

[code]

Dest Lxc container config:
[code]

[2020-03-01 17:28] diegomontoya commented on #6961
Issue resolved. Had to add "vsyscall=emulate" to grub. Turns out newer kernels disabled vsyscalls.  Jeeze.

[2020-03-01 17:28] #6961 closed

[2020-03-02 11:38] ubojan commented on #6901
Yup, this is running container:
[code]

When you say killing a container, do you mean killing specific process inside container?

[2020-03-02 12:15] stgraber commented on #6901
No, the error suggests you need the entire dataset to be unmounted which would need the entire container to be stopped.

[2020-03-02 14:56] tomponline opened #6964 "Add IPVLAN L2 support"
See https://discuss.linuxcontainers.org/t/changing-ipvlan-mode-to-l2/6704/8?u=tomp for more info.

[2020-03-02 14:57] tomponline opened #6965 "Add 2nd routed NIC support"
See https://github.com/lxc/lxd/issues/6852 for more info.

[2020-03-02 18:52] s3rj1k commented on #6965
@tomponline Shouldn't this be solved in `C` liblxc ?

[2020-03-02 20:21] eksapetm opened #6968 "Can't create container on encrypted zfs"
Hi,

I'm installing a new Ubuntu 19.10 server which comes with zfs 0.8.1. I then installed lxd 3.0.4.

My plan was to create two storage pools: an unencrypted pool and an encrypted pool. It currently looks like this:

[code]
I can create containers on the "plain" filesystem alright, but creating a container on the "crypt" filesystem fails:

`ubuntu@newhost:~$ lxc launch ubuntu:16.04 exim4 --profil

[2020-03-02 22:46] stgraber commented on #6968
LXD itself doesn't know about ZFS encryption, proper support is discussed in #2118

I would still expect things to behave so long as the parent dataset is properly loaded.
Does manually running `zfs key zpool/crypt/lxd` unstick things?

Alternatively, using a file data source should avoid the need for prompting for the secret.

[2020-03-03 07:48] tomponline commented on #6965
So the issue is that in LXD the gateway is automatically configured for each device by default.

This is not the case in liblxc, as the config options for defining the gateway are optional and by default none are setup:

https://github.com/lxc/lxd/blob/master/lxd/device/nic_routed.go#L218

So the proposal for this is described here: https://github.com/lxc/lxd/issues/6852#issuecomment-583507562

[2020-03-03 11:38] ubojan commented on #6901
OK. As lxd service is non-functional after failed update, lxc stop/start wouldn't work.
So do you think something like this would work or you have better idea on mind?
[code]

[2020-03-03 12:26] stgraber commented on #6901
You can send `kill -37` to the systemd (init) process of the container which should cause a clean setup.
If you don't care about that, sending SIGKILL to the `[lxc monitor]` process will kill the entire container.

[2020-03-03 19:50] s3rj1k commented on #6965
@tomponline I can test patches for this feature, just in case you need confirmation.
Would be nice to see this sooner. Thanks.

[2020-03-03 20:51] eksapetm commented on #6968
Thank you for your quick response, Stéphane. I now realize my mistake, the key for zpool/crypt/lxd was not properly loaded:

[code]

Since I had already mounted other filesystems under zpool/crypt/lxd I was under the impression that the key was already loaded.

I apologize for opening this issue for something that was clearly my own fault.

Best,

eksa

[2020-03-03 20:51] #6968 closed

[2020-03-03 22:42] mpuzio opened #6972 "lxd crashes when attaching a HID device"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04.4 LTS
 * The output of "lxc info" - please see below.
Note: This is an install with lxd and lxc compiled from source tarball (https://linuxcontainers.org/downloads/lxd/lxd-3.21.tar.gz), following instructions on https://github.com/lxc/lxd/.
   * Kernel version: 5.3.0-40-generic #32~18.04.1-Ubuntu SMP
   * LXC ver

[2020-03-03 22:45] stgraber commented on #6972
@brauner

[2020-03-04 03:22] neilbags opened #6973 "proxy device crashes when forwarding web traffic"
I've got a production webserver in an lxd container with ports 80 and 443 forwarded through an lxc proxy device.

About once a month or so the proxy device seems to go down. Since its in production i've just been rebooting the host os right away, and don't have any logging data.

I don't know how to reproduce this - I assume its script kiddies sending malformed packets. Is anyone else experiencing

[2020-03-04 08:00] stgraber commented on #6973
Any chance you can test this on a recent LXD release (LXD 3.21 ideally)?

We've fixed a lot of issues in the proxy since, some of those are already in 3.0.4 too (but that version isn't packaged in Ubuntu yet).

[2020-03-04 09:26] maran opened #6975 "lxc cluster remove won't remove node"
I have a lxc cluster test cluster with four nodes, I wanted to remove one of them.

I tried the following:

[code]

These are all Ceph volumes which as far as lxc are concerned are present on all nodes so it should be safe to delete these nodes as the volumes would be unaffected by this.

When I got this error I tried it again with the `--force` added to the mix. This seem to do something but not

[2020-03-04 09:43] freeekanayaka commented on #6975
First thing: if you use ```--force``` it means that the server being removed is gone **forever** and it's not supposed to be brought up anymore. So just reset/wipe away that specific server and don't run any command from it.

Did ```lxc cluster remove ubuntu --force``` return successfully or did it throw an error too? If it returned successfully you should not see that server anymore in ```lxc clu

[2020-03-04 09:54] maran commented on #6975
Yeah that was what I was intending.

I just tried this again because I couldn't remember and it worked successfully this time. Since it's gone now I can't really replicate it again to see what caused the behaviour in the first place, sorry for that.

[2020-03-04 09:55] freeekanayaka commented on #6975
It could be that:

1) the node being remove was still running when you ran ```lxc cluster remove ubuntu --force```, which is always bad (when you ran the command you should have been warned about that)

2) the node being remove was the cluster leader

That would explain why you temporarily got the ```bad connection``` error.

Maybe we should add additional confirmation prompts to ```lxc cluster re

[2020-03-04 09:56] maran commented on #6975
For me the warnings were plenty, it is a staging cluster so I wasn't too concerned. I also was not sure I could remove it normally since I had Ceph volumes mounted. If a normal removal works with Ceph I never had to use force to begin with.

[2020-03-04 09:58] freeekanayaka commented on #6975
I'd say to the least we should add an additional prompt like: ```Do you confirm this node is not running right now and will never come back? [Yes/No]. ```

[2020-03-04 10:05] freeekanayaka commented on #6975
Probably the node being remove was the leader and the behavior is a bit undefined if that happen, or at least it's not something we tested nor the code is particularly prepared for. So the original run of ```remove --force``` might have been successful or not, but in both cases the resulting state was likely to be a bit broken (and indeed you were still seeing the node in ```lxc cluster list```).

[2020-03-04 10:07] maran commented on #6975
That might be good, I must admit I did not fully read the text (tl;dr) and since it was a staging cluster anyway I wasn't too bothered by the results.

[2020-03-04 10:12] freeekanayaka commented on #6975
Probably we can make an additional check, if the node being force-removed is the leader or is not considered offline, the force will fail. That should cover a lot of misuse cases.

[2020-03-04 10:35] stgraber commented on #6975
@freeekanayaka can you take a look at the ceph side of this? We shouldn't flag volume on remove if those are on ceph.

[2020-03-04 10:50] freeekanayaka commented on #6975
@stgraber it seems we don't currently special case ceph in the ```ClusterTx.NodeIsEmpty()``` check:

[code]

[2020-03-04 10:52] stgraber commented on #6975
Right, we should do something in there.

[2020-03-04 10:53] stgraber commented on #6975
The new drivers have a field in their Info struct which tells us if they're remote or not.
If remote, we should ignore their volumes.

[2020-03-04 13:20] maran commented on #6953
Just a small follow-up question while I try to make this work;

I'm trying to figure out where in the lxc tooling the size is suppose to show up. Is it correct it should show up automatically on `lxc storage volume show ceph-dev custom/test-rbd` if it is properly implemented? The REST API docs seems to suggest as much.

[2020-03-04 15:48] stgraber commented on #6953
I believe so, yes, though only for custom volumes.

[2020-03-04 15:49] stgraber commented on #6953
[code]

[2020-03-04 16:04] maran commented on #6953
Ah but that's the configured size, not the actual current usage I want to add support for. How do I get the actual usage (GetVolumeUsage())?

[2020-03-04 16:32] stgraber commented on #6953
GetVolumeUsage right now is only used for instances. So doing `lxc info NAME` on an instance.

[2020-03-04 17:16] maran commented on #6953
[code]

So the code does seem to show it for the root disk now, however the custom disks that I attached are not showing up. Is that suppose to show up there?

[2020-03-04 17:30] stgraber commented on #6953
nope

[2020-03-04 17:36] maran commented on #6953
Just to confirm: There is no way currently to get the usage of custom storage volumes out of the system?

[2020-03-04 17:36] stgraber commented on #6953
That's correct, yes. Other than attaching to a container and using `df -h` or something through exec :)

[2020-03-04 17:37] maran commented on #6953
Yeah that's my current solution which is fine.

I do notice that when I stop the container it won't try to get the size of the root disk. So the code that's now in my else statement where it tries to get the usage from `rbd du` will never be ran. Is there some other way to see if that code is working ok?

[2020-03-04 17:42] stgraber commented on #6953
`lxc query /1.0/instances/NAME/state | jq .disk.root.usage`

It's just the CLI not fetching the value, but the API exposes it.

[2020-03-04 17:46] maran commented on #6953
Interestingly enough it seems to work but the usage when stopped is smaller then when it's running.

I guess this is because there is a parent image being used for the root disk and it's showing me the usage offset against the original image when the container is not running?

[2020-03-04 17:47] maran commented on #6953
[code]
Which matches

[code]

But when the container is running it's showing quite a bit more.

[code]

[2020-03-04 17:48] stgraber commented on #6953
Yeah, I think that's correct. The 112MB is the delta between the image it was created from and its current state. The 737MB is the used space in the container which includes the bits shared with the image.

[2020-03-04 17:49] maran commented on #6953
Ok great, I think everything is working then. Will look at the code again with fresh eyes tomorrow and send a PR.

[2020-03-04 20:02] stgraber commented on #6953
thanks!

[2020-03-05 03:28] feileacan opened #6980 "Failed to migrate to dqlite 1.0: No database dump found"
# Required information

 * Distribution: Chrome OS
 * Distribution version: 3.17
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.19.106-08245-g9eef371ee83e
   * LXC version: 3.03
   * LXD version: 3.17
   * Storage backend in use: btrfs (5.3.1)

# Issue description

Missing global/db.bin blocks lxd from starting - https://bugs.chromium.org/p/chromium/issues/detail?id=1057869

[2020-03-05 03:31] tokiwinter opened #6981 "Container not obtaining IP address"
* Distribution: Ubuntu
 * Distribution version: 16.04.6
 * The output of "lxc info" or if that fails:
[code]
# Issue description

My container, provisioned in the same way as other containers, is failing to obtain an IP address.

# Steps to reproduce

[code]
[code]
[code]
Other containers using different profiles on the same host are obtaining IP addresses with no issues.

I note that the `dnsmasq

[2020-03-05 03:31] tokiwinter commented on #6981
This container was provisioned via
[code]

[2020-03-05 03:39] tokiwinter commented on #6981
My bad, I was using a range that was already allocated.

[2020-03-05 03:39] #6981 closed

[2020-03-05 07:21] tenforward opened #6982 "Document itemization problem"
# Issue description

In the official documentation, some itemization are not converted correctly. For example,

* "Additional libraries" section in [Requirements page](https://linuxcontainers.org/lxd/docs/master/requirements)
* "Commit structure" section in [Contributing page](https://linuxcontainers.org/lxd/docs/master/contributing)

On github, these are correctly itemized.

In readthedocs, line

[2020-03-05 07:51] stgraber commented on #6982
I think it may just be the official documentation being out of data, let me go kick it.

[2020-03-05 07:53] stgraber commented on #6982
@tenforward yep, that was it, the fix was correct, it was just the online doc being out of date, fixed now.

[2020-03-05 07:58] freeekanayaka commented on #6980
So just to be clear, these are users that have been upgrading from some previous LXD version right?

What might have happened is that the last time the **previous** LXD version was run it did not shutdown cleanly and didn't have chance to dump that ```db.bin``` file. If the upgrade was done right at this point, it might produce this error.

The easiest way to fix this would be to 1: restore the ``

[2020-03-05 08:40] tenforward commented on #6982
Thanks!! :smiley:
I will send a patch for other non-itemized parts. (ex. Requirements page)

[2020-03-05 09:02] tenforward commented on #6982
I Sent #6984

[2020-03-05 09:22] dhpowrhost opened #6985 "running jailkit command jk_init in lxd instance is sometimes very slow"
# Required information

 * Distribution:
Debian
 * Distribution version:
buster 10.2
 * The output of "lxc info" or if that fails:

`config:
  core.https_address: 10.10.1.49:8443
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb

[2020-03-05 09:38] stgraber commented on #6982
Thanks!

[2020-03-05 09:38] stgraber commented on #6982
And website updating now.

[2020-03-05 09:38] #6982 closed

[2020-03-05 10:13] tenforward opened #6986 "LXD daemon dies suddenly"
# Required information

 * Distribution: Plamo Linux
 * Distribution version: 7.1
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.5.4
   * LXC version: 3.2.1
   * LXD version: 3.21
   * Storage backend in use: btrfs

# Issue description

LXD daemon dies unexpectedly. Nothing writes in the log when LXD is started nomally (with --debug).

I started with "--trace daemon", so I ge

[2020-03-05 10:21] neilbags commented on #6973
Ok i'm on 3.21 now. Let's see how it goes

[2020-03-05 12:12] #6953 closed

[2020-03-06 09:24] #6972 closed

[2020-03-06 09:24] #6986 closed

[2020-03-06 12:55] ltrager opened #6991 "Add USB and PCI devices to resources API"
The LXD resources endpoint doesn't currently show all PCI and USB devices. This information can be used to know what hardware is available for pass through. Ideally LXD would be able to tag hardware that is currently in use and unable to be redirected.

[2020-03-06 13:14] stgraber commented on #6928
@ostap-mykhaylyak any update on this?

[2020-03-06 13:15] stgraber commented on #6439
@nanjj did you have a chance to test the above?

[2020-03-08 12:26] ort163 opened #6995 "lxd operation show not very useful"
# Required information

ubuntu bionic

[code]
# Issue description

lxc operation show is not very useful

LXD status codes `created_at updated_at` identical even after several hours. May be better if the updated_at is recent.

# Steps to reproduce

 1. make a copy some huge containers (containing AOSP code)
 2. wait for it to run
 3. After few hours still the updated_at is so old.
 4.  Would be ni

[2020-03-08 16:30] stgraber commented on #6995
That would just needlessly require running a go routine and burning cpu without actually saying anything about whether something is happening.

Operations where progress information is available will show that under metadata.

[2020-03-08 16:30] #6995 closed

[2020-03-08 20:53] eagerm opened #6996 "IP addresses allocated with DHCP for unmanaged bridge device"
# Required information

 * Distribution:  CentOS
 * Distribution version: 8
 * The output of "lxc info" or if that fails:
[lxc-info.txt](https://github.com/lxc/lxd/files/4303830/lxc-info.txt)
   * Kernel version: 4.18.0
   * LXC version: 3.2.1
   * LXD version: 3.20
   * Storage backend in use:  dir

# Issue description

A container using an unmanaged bridge is getting an IP address from DHCP (fro

[2020-03-08 21:14] #6996 closed

[2020-03-08 21:15] stgraber commented on #6996
There is no way for LXD or liblxc to perform DHCP. The only way this can happen is if your container does it.

Take a close look at NetworkManager and networkd, one of the two is likely still doing this.

[2020-03-08 22:16] feileacan commented on #6980
Probably upgrading from a previous version, haven't confirmed.

Launching the previous LXD binary would be tricky since Chrome OS doesn't support downgrading OS without wiping the machine. Would restoring the previous global.bak and local.db.bak then relaunching current LXD to try the upgrade again not work?

That said, in the one case I got a disk image of there's no db.bin in global.bak either s

[2020-03-09 08:22] Coconutdog commented on #3977
My working config for 2 x NICs. The 10.1.6.0/24 network is the management network for my Cisco gear.

`---
network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s25:
       dhcp4: no
       dhcp6: no
       addresses:
        - 10.1.1.58/24
        - 2001:xxxx:4121:3b10::58/64
        - fe80::58/64
       gateway4: 10.1.1.1
       gateway6: 2001:xxxx:4121:3b10::1941
       nameservers:

[2020-03-09 08:59] freeekanayaka commented on #6980
No, it would fail in the same way, since the new binary of LXD would start off from the same state (with a missing db.bin).

I don't understand this question.

[2020-03-09 13:45] StyXman opened #6998 "Can't destroy container because LXD/LXC can't remove a file"
# Required information

 * Distribution: CentOS Linux
 * Distribution version: 7.7.1908 (Core)
 * The output of "lxc info":

[code]

   * Kernel version: 3.10.0-1062.4.3.el7.x86_64
   * LXC version: 3.12 rev.13522 from Canonical
   * LXD version: N/A
   * Storage backend in use: dir

# Issue description

[code]

This container contains (!!!) a file that has the append-only attribute set. This attr

[2020-03-10 13:10] token47 opened #7000 "lxd daemon power usage (powertop)"
* Distribution: ubuntu
  * Distribution version: Eoan
  * The output of "lxc info" or if that fails: nothing fails
   * Kernel version: 5.3.0-29-generic
   * LXC version: 3.22
   * LXD version: 3.22
   * Storage backend in use: ZFS

I've been tracking down what are the processes consuming most power in my laptop (to optimize for battery life) and noticed that lxd daemon is frequently on the top of

[2020-03-10 14:31] eagerm commented on #6996
Thanks for the info.

I found that both systemd-networkd and NetworkManager were running in the container.  NetworkManager was configuring the static IP while systemd-networkd was getting an IP using DHCP.  I disabled NetworkManager and configured systemd-networkd with a static IP.

[2020-03-10 16:08] Skrupellos opened #7001 "Update lxc-checkconfig, to reflect new NFT support."
After the addition of NFTables in 3.22 (Issue: https://github.com/lxc/lxd/issues/6223 / PR: https://github.com/lxc/lxd/pull/6875), the [lxc-checkconfig](https://github.com/lxc/lxc/blob/master/src/lxc/cmd/lxc-checkconfig.in) script should be updated to reflect the new optional kernel configuration requirements (more or less optional, if more Linux distributions drop iptables support).

(... and a b

[2020-03-10 16:27] stgraber commented on #7001
That command comes from the LXC repository instead, moving the issue over there.

[2020-03-10 16:44] #6965 closed

[2020-03-10 19:58] YL-K opened #7026 "LXC/LXD bridge security clarification"
The [lxd docs on container security](https://linuxcontainers.org/lxd/docs/master/security#container-security) don't mention the bridge at all and link to the [LXC security page](https://linuxcontainers.org/lxc/security/) for more details on container security.
On the LXC security page, under [shared network bridges](https://linuxcontainers.org/lxc/security/#shared-network-bridges), it says:  "As a

[2020-03-11 16:03] #6171 closed

[2020-03-11 17:33] respadas opened #7006 "Incongruence in storage size"
The storage info for BTRFS if inconsistence with hardware, the info showed by `lxc info` shows 274.88 GB total storage and physical disk only have 256GB.

[code]

[2020-03-11 20:08] stgraber commented on #7006
274.88GB is 256GiB, so this is correct, it's just that your drive manufacturer and other tools show GiB rather than GB.

[2020-03-11 20:08] #7006 closed

[2020-03-12 07:21] conloos opened #7025 "Error deleting storage-pool"
Hi @all

I've been using LXC / LXD on different systems for a while. I recently found that my storagepool was "dir" on a server. I assume that this change was made during the release upgrade and change to lxd in the snap version. Since I have been using BTRFS for a long time and am satisfied with the snapshots, I have changed this. I created a storage pool that created a BTRFS file system in an im

[2020-03-12 10:07] Sujai85 opened #7009 "systemd taking 100% CPU"
Hello,

I could see that systemd process taking 100% CPU on lxd containers. Can you please help me with this issue?
<img width="374" alt="systemdlxd" src="https://user-images.githubusercontent.com/57617793/76510284-5cdb8e80-6477-11ea-87c2-3ce47ff82b4f.png">

Thank you
Sujai

[2020-03-12 15:33] #6870 closed

[2020-03-12 15:36] stgraber commented on #7009
what version of LXD, what image, what version of systemd, ...

Your report is a bit light on details.

[2020-03-13 03:29] nanjj commented on #6439
@stgraber @freeekanayaka it works on my environment, even 2000 times passed. Sorry for late response.

[2020-03-13 08:17] AceSlash opened #7016 "/proc mountpoint issues after lxd snap automatic refresh"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description
I already noticed during the last update of LXD with snap from 3.20 to 3.21 that /proc/stat wasn't available anymore for some containers and I rebooted them. But this time for the 3.21 to 3.22 update, the issue impacts a large majority of m

[2020-03-13 10:00] hloeung opened #7017 "limits.kernel.nofile and systemd init / PID 1 limit"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-9-generic
   * LXC version: 3.2.1
   * LXD version: 3.22
   * Storage backend in use: dir

# Issue description

LXC/LXD documentation mentions using limits.kernel.nofile to increase max. open files for containers but that doesn't allow you to get p

[2020-03-13 12:08] stgraber commented on #7016
This actually isn't a LXD or even a snapd issue but a LXCFS reload bug which we've fixed just a few minutes ago and are actively rolling out a fix for now.

Note that to stay on specific version of the snap, we've had versioned tracks for a while now. It wouldn't have helped in this case but if your worry is around automatic jumps in LXD version, it does allow preventing that.

snap refresh lxd --

[2020-03-13 12:08] #7016 closed

[2020-03-13 12:30] stgraber commented on #7016
https://discuss.linuxcontainers.org/t/mount-fails-when-starting-container-zfs-filesystem-already-mounted-lxd-3-22/7080/2 for some more details on this.

[2020-03-13 14:45] stgraber commented on #7017
Deployed a clean Ubuntu 20.04 system and did the following per your instructions:

[code]

[2020-03-13 14:47] stgraber commented on #7017
anything else I'm missing to have this issue happen?

[2020-03-13 15:12] #6439 closed

[2020-03-13 16:07] simondeziel opened #7019 "[snap/3.22] missing Apparmor rule in snap-lxd-dnsmasq profile"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Bionic 18.04.3
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Since the snap refresh from 3.21 -> 3.22, I'm seeing those denials:

[code]

[2020-03-13 16:35] stgraber commented on #7019
@simondeziel there is no such profiles, are you sure it's not a local profile that you have?

[2020-03-13 16:47] #6170 closed

[2020-03-13 16:49] simondeziel commented on #7019
@stgraber you are right, it's indeed a local profile, sorry for the noise.

[2020-03-13 16:49] #7019 closed

[2020-03-13 16:51] AceSlash commented on #7016
Ok thank you for the details.

[2020-03-13 16:53] ubojan commented on #6901
Sorry for delay... I've tested it out some more and have some feedback.

Your suggestion works just fine. Thanks! I was able to "fix" lxd service without server reboot.

Only negative side effect of it is that I would have to do the procedure on several containers in the row (when I kill one, another issue appears in lxd log; I kill that one, third one appears in log, etc), so I have to kill all o

[2020-03-13 16:59] stgraber commented on #6901
Hmm, so you may need to make sure things are consistent on your system.

Normally what we'd expect is:
 - All containers datasets to have a mountpoint= property set
 - All containers datasets to have canmount=noauto set
 - Only running containers to have their dataset mounted

[code]

In this example on one of my servers, only the `samba-web01` container is stopped, everything else is running an a

[2020-03-13 18:59] stgraber commented on #6973
@neilbags how's that been going?

[2020-03-13 18:59] #6928 closed

[2020-03-13 19:00] stgraber commented on #6819
@rudiservo any chance you can try this again on current LXD (3.21 or 3.22)?

I'd just like to get an updated error when on the newer storage implementation we have in place.

[2020-03-13 21:04] neilbags commented on #6973
May be too early to tell, but so far no issues

[2020-03-14 21:21] conloos opened #7024 "error creating snapshot"
[code]

[2020-03-14 21:59] Ne02ptzero opened #7023 "qemu: Invalid parameter 'obsolete'"
I'm running into the following issue with a `lxc start` on a virtual-machine:
[code]
(`lxd/instance/drivers/driver_qemu.go`)

The server is on debian 9 (so debian oldstable), and the distro-packaged qemu with the following version:
[code]

I can't find in which version the parameters to `sandbox` where introduced in QEMU, but in the packaged version, it only accepts `on` or `off`.

There's no real

[2020-03-15 06:14] stgraber commented on #7023
We should put out a statement in documentation about the version of qemu we support and test on.

The version we actively develop/test on and ship with the snap is Qemu 4.2 but we also have systems running on 2.11 so we're unlikely to completely break 2.11. Versions prior to that should be considered unsupported.

I don't think we'd reject a pull request to do version detection to handle older ver

[2020-03-15 06:17] stgraber commented on #7024
@freeekanayaka

[2020-03-15 06:18] stgraber commented on #7024
@conloos what LXD version is that and can you show:
 - lxd sql global "SELECT * FROM storage_volumes;"
 - lxd sql global "SELECT * FROM storage_volumes_snapshots;"
 - lxd sql global "SELECT * FROM storage_volumes_all;"

[2020-03-15 21:46] fwaggle commented on #7024
@stgraber I have a machine that has the same issue (LXD 3.22, though it was probably updated from a much older version over the weekend) - I would rather not post full dumps of those tables in public (can email them to you if they're really important), but I hope this helps:

[code]

In the full database dump, I can see `INSERT INTO storage_volumes_snapshots` entries with that ID, all the way up t

[2020-03-16 04:28] stgraber commented on #7024
@freeekanayaka should be able to confirm in the morning

[2020-03-16 08:14] cr1st1p opened #7028 "image repository images.linuxcontainers.org, protocol LXD, is broken"
# Required information

 * Distribution: Manjaro (Arch based)
 * Distribution version: Rolling ....
 * The output of "lxc info" or if that fails:
[code]

# Issue description
I'm trying to start some containers based on images from the 'images' remote, but lately I can not succeed. I thought that I forgot how to launch them (undoubtedly :-) ) so I tried also with an 'ubuntu' remote and it worked ju

[2020-03-16 09:16] tchwpkgorg opened #7029 "lxc copy re-enables btrfs quotas"
btrfs quotas are buggy and should not be used where stability is important. They cause serious performance penalty with snapshots and affect the stability negatively. btrfs developers and community recommend to have it disabled, unless you know what you're doing.

LXD re-enables btrfs quotas if user previously disabled them. This can cause service downtime on busy servers with snapshots, lots of c

[2020-03-16 09:32] tchwpkgorg commented on #7029
BTW here is how it looks on my server when LXD decides to re-enable quotas and scan everything - pretty much anything touching btrfs filesystem can hang for hours in that state:

[code]

A cron with "run-one btrfs quota disable /data/lxd" executed every minute also doesn't help much - because the command can run 10, 20, 30, 40... or more minutes to exit once everything hangs.

[2020-03-16 09:33] tchwpkgorg commented on #7029
One more:

[code]

[2020-03-16 10:55] CountZukula opened #7030 "Arch-in-arch container not getting IPv4 after system upgrade"
# Required information

 * Distribution: Arch linux
 * Distribution version:  5.4.25.a-2-hardened
 * LXC/LXD version
[code]
 * The output of "lxc info":
[code]

# Issue description

I upgraded one of my containers ('matrix', arch). After the upgrade, no ipv4 address was assigned. I remembered I had this problem previously (see issue https://github.com/lxc/lxd/issues/4071), but the suggested soluti

[2020-03-16 11:29] CountZukula commented on #7030
Some additional information from within the container:

[code]

[code]

[code]

[code]

[2020-03-16 12:12] dhpowrhost opened #7031 "lxd 3.22 (snap) broken in Debian Buster"
# Required information

 * Distribution: Debian
 * Distribution version: 10.3 Buster
 * The output of "lxc info":
[code]

# Issue description

It seems that i learnt the hard way to disable autoupdating in snap. I was using snap 3.21 on Debian Buster and everything was working until today where i started to get loadavg alarms from guests running on my Debian lxd hosts. On the guests top was not wo

[2020-03-16 12:49] tchwpkgorg commented on #7029
I think not only lxc copy enables it - but this gets enabled periodically.

Is this something that was added in LXD 3.22? Because over the past few days, several of my LXD servers started to show serious stability issues (IO basically blocked).

[2020-03-16 13:42] stgraber commented on #7029
Hmm, we shouldn't mess with quotas unless we're dealing with a volume that has a `size` limit applied to it.

Can you show `lxc config show --expanded testct1` to confirm there's nothing in there which would have us try to apply quotas?

[2020-03-16 13:46] stgraber commented on #7031
`lxcfs.loadavg` is false by default, so that did nothing.
You most likely just got hit by the lxcfs bug we fixed last week.

https://discuss.linuxcontainers.org/t/mount-fails-when-starting-container-zfs-filesystem-already-mounted-lxd-3-22/7080/3

[2020-03-16 13:46] #7031 closed

[2020-03-16 13:48] mdone-cloudian commented on #6998
On the same note, maybe I could run cleanup code of the blocking file if there was a pre-stop/pre-delete hook. Should I open a separate issue for that?

[2020-03-16 13:49] stgraber commented on #7030
It's most likely the systemd-networkd regression hitting you.

Newer images ship a built-in workaround but there's nothing we can do to automatically fix existing containers that get updated.

Create `/etc/systemd/system/systemd-networkd.service.d/lxc.conf` containing:
[code]

Then reboot your container and network should come back up.

[2020-03-16 13:49] #7030 closed

[2020-03-16 13:51] tchwpkgorg commented on #7029
This isn't just lxc copy which re-enables the quotas. I've disabled them on several servers earlier today, and they were again enabled. I don't do lxc copy on these servers as they only have "static" containers. Interestingly, some servers did not re-enable the quotas.

Here is the requested info (name is different, also triggers re-enabling on btrfs quotas):

[code]

Also:

[code]

[2020-03-16 13:56] dhpowrhost commented on #7031
Yes by default lxcfs.loadavg is set to false, but in my environment i set it to true. and i only get problems if it is set to true.

Will the fix be released in 3.23 ?

[2020-03-16 14:04] stgraber commented on #7028
It's not broken so much as just doesn't have the same type of aliases as the simplestreams remote.
It never did and actually can't as it's a completely different protocol and arch-independent aliases aren't possible through it.

I've quickly confirmed that all the valid aliases that you can find at `lxc image alias list images:` do in fact work properly.

Most LXD clients should have picked up the

[2020-03-16 14:04] #7028 closed

[2020-03-16 14:05] stgraber commented on #7031
Ah, okay, that part wasn't clear, sorry.

@brauner can you look at why loadavg wouldn't be working and add a test for it too...

[2020-03-16 14:07] stgraber commented on #7029
@tomponline can you take care of this one quickly please?

[2020-03-16 14:13] stgraber commented on #6998
We're pretty allergic to hooks as having those behave consistently in a cluster and be properly integrated with the read-only filesystem of the snap is a pain. Instead we'd rather have LXD do the right thing from the start. In this case, we'll most likely want to use our own walk-based recursive removal logic and when encountering that error, attempt to clear the attribute and try the deletion aga

[2020-03-16 14:18] tomponline commented on #7029
@stgraber so my reproducer for this is:

[code]

[2020-03-16 14:22] tomponline commented on #7029
@stgraber and the likely candidate for this issue is: https://github.com/lxc/lxd/blob/master/lxd/storage/drivers/driver_btrfs_volumes.go#L444-L455

[2020-03-16 14:37] ubojan commented on #6901
When I run provided command on server where snapshot creation fails at least on one container (lQC-xxx in this case), everything seems to be in order (non mounted containers are stopped):

[code]
But still snapshot creation on `lQC-xxx` fails. Then I've ran: `zfs mount lxd/containers/lQC-xxx` to fix the issue.

When I run command again, relevant line is same:
[code]

Line is same also when I run c

[2020-03-16 14:45] stgraber commented on #6901
@ubojan that smells like some kind of zfs bug then... Is running `zfs mount` for every one of your running containers as feasible workaround for this (rather than rebooting)?

[2020-03-16 15:32] CountZukula commented on #7030
To confirm: creating this file in the container helped me. Thanks Stéphane!

[2020-03-16 16:29] freeekanayaka commented on #7024
@conloos, yes, please stop LXD and make a backup of your current LXD_DIR/database directory (`/var/snap/lxd/current/lxd/database` if you are using the snap), then restart LXD and run the query you mentioned.

If that works, there might be some issue in data migration logic between 3.21 and 3.22.

[2020-03-16 16:33] stgraber commented on #7024
@fwaggle could you send me (stgraber at ubuntu dot com) a tarball of `/var/snap/lxd/common/lxd/database`? I'm hoping the `.bak` directory contains your LXD 3.21 state and so lets us figure out exactly what went wrong with the upgrade to 3.22.

Same for anyone else who recently hit this, the full tarball of /var/snap/lxd/common/lxd/database may be enough for us to do a before/after comparison of th

[2020-03-16 16:42] #7026 closed

[2020-03-16 17:05] conloos commented on #7024
[code]

[2020-03-16 17:34] conloos commented on #7025
[code]

[2020-03-16 17:40] freeekanayaka commented on #7024
@conloos please can you also paste the output of:

[code]

?

[2020-03-16 17:59] stgraber commented on #7025
Oh right, meant `btrfs subvol delete`

[2020-03-16 17:59] stgraber commented on #7025
[code]

[2020-03-16 20:42] conloos commented on #7025
Hi @stgraber,

i dont have a subvol.
Have i create one to fix that problem?

[code]

[2020-03-16 20:43] conloos commented on #7024
[code]

[2020-03-16 21:15] stgraber commented on #7025
The error says it's on a read-only subvolume, so there's got to be a subvolume in there somewhere...

[code]

[2020-03-16 21:18] fwaggle commented on #7024
Hey folks,

Using some notes I left internally after I went to bed, another team member successfully fixed the issue by doing:

[code]

then taking that value and stuffing it into the sequence:

[code]

They didn't backup the database (we do have disk level snapshots of it though if that helps), but I did grab global.bak and local.db.bak already which I hope are useful to track this issue down. No

[2020-03-16 21:20] stgraber commented on #6973
Okay, let's call it good and we can re-open if it's not.

[2020-03-16 21:20] #6973 closed

[2020-03-16 21:27] stgraber commented on #6980
To be clear, `db.bin` isn't required by LXD at all. In fact, this file isn't read by LXD.
`db.bin` is a saved view of the database as assembled from Raft. It's useful for debugging purposes but it is not where the data is stored.

What you do need is at least one snapshoft or a set of segments to replay the raft transactions to your current state.

This is LXD 3.17 on ChromeOS. Can you comment on

[2020-03-16 21:27] freeekanayaka commented on #7024
Thanks @fwaggle, no LXD restart is required.

Then I think it's a data migration problem, as I suspected, for some reason the ```sqlite_sequence``` table was behind and didn't get appropriately bumped. We'll need to roll out a new release to fix that for folks that have it broken.

[2020-03-16 21:29] stgraber commented on #6980
Seeing that both the main directory and the backup directory are near empty, I wonder if it wasn't a bad shutdown leading to un-flushed btrfs transactions. LXD would have copied `global` over to `global.bak`, then opened the database from `global` and run the update.

This would have lead to most files being freshly written, so if filesystem writes weren't properly flushed, a filesystem view such

[2020-03-16 21:29] #7009 closed

[2020-03-16 21:32] stgraber commented on #7024
@freeekanayaka well, we're getting close to releasing 3.23, so as long as we have a DB fix in there, we can have folks jump to candidate once it's there or else manually update the sequence as a temporary fix.

[2020-03-16 21:36] conloos commented on #7025
yes

[code]

[2020-03-16 21:41] hloeung commented on #7017
Ah, the steps I used to reproduce this is Bionic and LXD 3.03.

https://pastebin.ubuntu.com/p/Jx8vjZ8YtS/

[2020-03-16 21:42] hloeung commented on #7017
I'll just close this off for now as we'll just rework our application reducing the max. fds required.

[2020-03-16 21:42] #7017 closed

[2020-03-16 22:11] stgraber commented on #7025
Okay, now we're getting somewhere.

[code]

Hopefully btrfs lets you delete them that way and we don't need to go flip the read-only bit off first...

[2020-03-16 22:23] conloos commented on #7025
Hi @stgraber,

done thanks.

[code]

[2020-03-16 22:52] stgraber commented on #7025
Excellent. Closing this as the bug leading to this state isn't present anymore (we don't have snapshots named that way in current LXD).

[2020-03-16 22:52] #7025 closed

[2020-03-17 00:03] tchwpkgorg commented on #7029
May I ask when it will be released as a snap (or, how to check if it's released as a snap)?

[2020-03-17 00:08] stgraber commented on #7029
should be in the next bugfix round, hopefully in a few hours if nothing fails in testing

[2020-03-17 00:08] #7029 closed

[2020-03-17 00:08] stgraber commented on #7029
oops, hit the wrong button :)

[2020-03-17 01:53] #7023 closed

[2020-03-17 01:53] #6951 closed

[2020-03-17 02:10] stgraber commented on #6975
Reproduced the error:

[code]

Will sort out a fix for this tomorrow.

[2020-03-17 09:40] jsnjack opened #7042 "Unable to publish image: Bad type"
# Required information

 * Distribution: centos
 * Distribution version: 8
[code]

# Issue description

Unable to publish an image after updating from 3.20 to 3.22.
[code]

# Steps to reproduce

 1. Create a container from existing image
 2. Try to create another image from it with command `lxc publish daily --alias daily_d8_base`

[2020-03-17 09:50] r00t3g commented on #7042
Confirming the problem, have the same issue, starting from today's upgrade to 3.22

[2020-03-17 10:24] mdone-cloudian commented on #6998
Then you should check which other attributes and alternative methods of limiting capabilities (AppArmour, SELinux? I really don't know) are available that could lead to these kind of issues.

[2020-03-17 10:41] tchwpkgorg commented on #7042
Also confirming the problem.

[2020-03-17 11:16] #7024 closed

[2020-03-17 13:28] stgraber commented on #7042
Fix pushed to candidate snap now, will roll-out to users within the next 2 hours.
Sorry about that, a bugfix uncovered another bug...

[2020-03-17 13:28] #7042 closed

[2020-03-17 13:30] stgraber commented on #6998
LXD itself normally runs unconfined at the LSM layer and its containers can't load policies to prevent themselves from getting deleted. So I can only think of the usual suspects:
 - File attributes (immutable and the like)
 - Mounts (already taken care of)
 - Read-only subvolumes in btrfs (already taken care of)

[2020-03-17 15:58] jsnjack opened #7045 "Lxd lost core.https_address after update"
# Required information

 * Distribution: centos
 * Distribution version: 8
[code]

# Issue description

After upgrading from 3.22 to candidate (following https://github.com/lxc/lxd/issues/7042), `core.https_address` disapeared from the config

[2020-03-17 16:02] stgraber commented on #7045
That's odd, there's no database change in any of the fixes in candidate, so nothing would have touched the database on startup...

Can you show the content of `/var/snap/lxd/common/lxd/logs/lxd.log` and `/var/snap/lxd/common/lxd/logs/lxd.log.1`?

[2020-03-17 16:03] stgraber commented on #7045
Just did a quick test on one of my servers:
[code]

[2020-03-17 16:16] jsnjack commented on #7045
### File /var/snap/lxd/common/lxd/logs/lxd.log (last lines - me manually updating the config)
[code]

### File /var/snap/lxd/common/lxd/logs/lxd.log.1
[code]

### I also tried to downgrade to 3.20, but wasn't able to start lxd because of the difference in db schema:
[code]

Looks like it disapeared when I updated from 3.20 to 3.22 and not from 3.22 to candidate

[2020-03-17 16:48] stgraber commented on #7045
I'm still not seeing any DB update patches that could account for this...

It'd be interesting if you could go through the `.gz` logs and see when was the last time you saw `binding TCP socket" socket=[::]:8443` in there and include that log as well as the one immediately afterwards.

[2020-03-17 16:55] jsnjack commented on #7045
yeah, so the last one with binding TCP socket is already attached (my previous message). The one that immediately after, at first I thought it was the same as lxd.log.1 and didn't attach it. However, there is a difference:
[code]

[2020-03-17 17:14] stgraber commented on #7045
Hmm, I must be missing something, so far the logs you've attached are:
 - Current state (3.22, no listen address)
 - Previous (still 3.22, no listen address)
 - A follow-up revert to 3.20 which fails due to the DB downgrade

Do you have the log for 3.20 just prior to upgrade to 3.22?

[2020-03-17 17:22] jsnjack commented on #7045
ah, no, unfortunately they are gone. :( I have attached all logs I have (the oldest one is 3.20 with broken db) [logs.zip](https://github.com/lxc/lxd/files/4344816/logs.zip)

[2020-03-17 17:25] stgraber commented on #7045
Ah yeah, that's the unfortunate thing when doing a revert to a previous release.
It usually doesn't work because of the DB schema but systemd will still try to respawn LXD a dozen times before giving up. This in turn fills all the log slots and we lose prior logs...

So we probably could have learned more about what happened if we had actually had those older logs but now they're gone :(

[2020-03-17 17:27] stgraber commented on #7045
Going to have to close this one for now as any hope to track it down disappeared with those logs and we're not seeing it on any of our long running systems.

If anyone else hits this, please immediately capture the content of your `logs` directory so hopefully we can track it down.

[2020-03-17 17:27] #7045 closed

[2020-03-17 17:30] jsnjack commented on #7045
thanks for looking into it! :)

[2020-03-17 18:04] SleeplessSloth opened #7048 "Cannot start a container with "Function not implemented - Failed to send signal through pidfd" error"
# Required information

 * Distribution: Arch Linux ARM
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: `4.19.106-1-ARCH #1 SMP PREEMPT Tue Mar 3 01:58:36 UTC 2020 armv7l GNU/Linux`
   * LXC version: `3.2.1-2`
   * LXD version: `3.21-2`
   * Storage backend in use: `dir`

# Issue description

Can't start a container. Fails with "Function not implemented - Failed to send s

[2020-03-17 18:31] stgraber commented on #7048
This is unrelated, the actual error is:
[code]

This suggests your distro is making use of `/etc/subuid` and `/etc/subgid` and you may have some misconfiguration there. Or alternatively that your kernel needs some configuration to enable the use of user namespaces.

[2020-03-17 19:43] #6975 closed

[2020-03-17 20:04] clauded opened #7050 "sshguard in lxc container blocks everything"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version: 3.22
   * Storage backend in use: ZFS

# Issue description

We've installed sshguard inside a lxc container and defined a lxc proxy:

  proxy-ssh:
    bind: host
    connect: tcp:10.10.10.10:22
    listen: tcp:x.x.x.x:

[2020-03-17 20:48] tomponline commented on #7050
This is expected, as the proxy opens a new connection from the host. If you use the `nat=true` on the proxy device config it will use DNAT instead which should then pass the source address through.

[2020-03-17 20:49] #7050 closed

[2020-03-17 22:28] stgraber commented on #6998
Confirmed that as expected, this can only be a problem inside a privileged container, so we don't need to treat this as a security/DoS at least.

[2020-03-17 23:31] #6998 closed

[2020-03-18 15:21] ubojan commented on #6901
I've tried that today and it seems to be working so far. I'll do more thorough tests tomorrow.

[2020-03-18 18:33] stiobhan commented on #6799
Not sure if I see the exact same issue, but at least similar. I'm using lxd 3.22 on Ubuntu 20.04 (maybe too soon, but I didn't want to install 18.04 at this point anymore...). After copying over a container a service inside the container fails to start with the error message that /var/log/ is read-only. On the host I see in the syslog
[code]

[2020-03-18 18:45] simondeziel commented on #6799
@stiobhan your issue is more likely to be in the systemd unit krb5-kdc.service (ReadWriteDirectories= missing /var/log), so not related.

[2020-03-18 20:52] stgraber commented on #6985
I've been playing around with jailkit on a debian 10 container for maybe half an hour without much success in reproducing a hang. Any chance you can share a clear reproducer in a freshly created container?

[2020-03-18 20:55] stgraber commented on #6985
[code]

[2020-03-18 21:34] stgraber commented on #7000
Can you install `health-check` and then run:

`health-check -f -c -p $(cat /var/snap/lxd/common/lxd.pid) -d 30`

This should show some more details on wakeups coming from LXD.

[2020-03-18 22:58] feileacan commented on #6980
Ah, that sounds plausible.

* @stgraber I've found that deleting the entire database folder allows lxd to start, then I can `lxd import` the existing containers. If we're only running containers on the same host is there anything we'd lose when we `lxd import` the container?
* @stgraber Do you have a link to the issue where out-of-disk leads to broken database? A quick github search didn't find it

[2020-03-19 01:14] stgraber commented on #6980
@feileacan you will loose any daemon configuration, network configuration, profiles, projects and storage volumes. Depending on the use case, that may not be a problem though.

@freeekanayaka may have a link to the out of disk issue we fixed a while back.

[2020-03-19 09:36] freeekanayaka commented on #6980
@feileacan the out of disk issue is very likely not relevant, since it affected the dqlite 1.x series (for reference here's the top-level [PR](https://github.com/canonical/dqlite/pull/189) where the issue was fixed).

Now, the lxd 3.17 tarball **does** sport dqlite 1.x (didn't check what version exactly, but it doesn't matter), **however** as far as I can tell the issue has happened because of an

[2020-03-19 09:37] pavel1337 commented on #5802
Hi, I believe it's the same issue Im having here:

The lxd network config is this:
[code]

Core http address is set to the same IP lxd should care about.
[code]
But after reboot we have this issue

`Mar 19 04:11:57 server lxd[903]: t=2020-03-19T04:11:57+0100 lvl=eror msg="Cannot listen on https socket, skipping..." err="listen tcp 10.1.37.1:8443: bind: cannot assign requested address"`

Is there a

[2020-03-19 11:42] stiobhan commented on #6799
@simondeziel thanks for pointing me in the right direction. So I suppose the reason why I'm seeing this only now is added functionality regarding namespaces in the kernel and/or lxd.

[2020-03-19 12:37] stgraber commented on #5802
there's no waiting possible as LXD itself creates that bridge so if LXD can't start, the IP will never show up

[2020-03-19 14:36] token47 commented on #7000
Thank you for the response.

https://pastebin.ubuntu.com/p/2TrkSr572t/

Doesn't seem too bad now. No containers running and not executing any operations.

I'll keep an eye on it and run the health-check again if I see it happening.

If you don't think there's anything of note on this report, you can go ahead and close this for new.

Thanks!

[2020-03-19 14:39] stgraber commented on #7000
LXD seems quite fine in your case. dnsmasq looks a lot busier than usual though, not sure what's going on with it.

On the LXD side, I didn't see anything obviously wrong. Last time we had such a report, we had a goroutine firing every second which was causing around 400 ctx/s, but here on a fairly non-busy LXD, I'm somewhere between 40 and 100 ctx/s which isn't too bad.

Closing for now, if someo

[2020-03-19 14:39] #7000 closed

[2020-03-19 19:32] rbalint opened #7059 "sys-kernel-tracing.mount fails to in non-privileged container"
Systemd 245 introduces a new mount for tracefs:

https://github.com/systemd/systemd/pull/14916

I fails in lxc, as observed in armhf autopkgtest results:
https://objectstorage.prodstack4-5.canonical.com/v1/AUTH_77e2ada1e7a84929a74ba3b87153c0ac/autopkgtest-focal-ci-train-ppa-service-3801/focal/armhf/s/systemd/20200318_193832_448e9@/log.gz

Please treat it the same way as `sys-kernel-debug.mount`, a

[2020-03-19 19:52] stgraber commented on #7059
Note that us adding it will not do you any good unless the host also has it mounted.
So while it's fine for us to add it similarly to debugfs and others, it won't actually fix your issue.

[2020-03-19 21:25] #7059 closed

[2020-03-20 10:24] randombenj opened #7061 "`lxc image import --public|public=true` does not import images public"
# Required information

 * Distribution: ubuntu
 * Distribution version: 18.04
 * The output of "lxc info":
[code]

# Issue description

When importing an image to a remote host the `--public` flag and `public=true` do nothing.
*remote runs same version of lxd*

Is there a workaround for this? (noninteractive)

# Steps to reproduce

Note that in the api request **public is set to false**

[code]

[2020-03-20 11:23] monkz opened #7062 "Root disk size quota doubles if snapshot is taken"
Summary:
It is possible to circumvent the quota given to a disk device size in a btrfs backed storage.

Steps to Reproduce:

1. Create a container with a root disk that has a size limit applied. (Lets say 5GB)
1.1 lxc config device set "$container" root size 5G
2. Enter container and write do disk via "dd if=/dev/zero > somefile" - dd will stop after the quota is reached (something near 5GB).
3. E

[2020-03-20 11:54] falves1 opened #7064 "Upgrade to lxc 3.2.1 fails"
I was using Ubuntu 18.04 with stock lxc, not lxd. Now I need ipvlan support so I erased all packages with the word "lxc" in the name. Then I downloaded https://linuxcontainers.org/downloads/lxc/lxc-3.2.1.tar.gz. I did the usual make,install, etc. lxc-start --version shows the correct version. But lxc-ls shows no containers exist, when in fact I do have 20 containers in the box. The tar ball does n

[2020-03-20 11:56] #7064 closed

[2020-03-20 12:02] stgraber commented on #7064
Filled against the wrong project. What you're describing would be consistent with a manually built LXC without the appropriate paths being passed to configure.

In that case it would likely look for containers in /usr/local/var/lib/lxc or something.

[2020-03-20 12:12] falves1 commented on #7064
is there any documentation on how to pass the right parameters to the ./configure ?

[2020-03-20 12:16] falves1 commented on #7064
parse.c: lxc_file_for_each_line_mmap: 142 Failed to parse config file "/usr/local/var/lib/lxc/xxx-20/config" at line "lxc.net.1.ipvlan.flags=bridge"

[2020-03-20 12:19] randombenj commented on #7061
Workaround:

[code]

[2020-03-20 12:29] falves1 commented on #7064
lxc.net.1.type=ipvlan
lxc.net.1.ipvlan.mode=l3
#lxc.net.1.ipvlan.flags=bridge
lxc.net.1.link=eth0
lxc.net.1.name = eth1
lxc.net.1.flags=up
lxc.net.1.ipv4.address = 0.0.0.0/24
The network type ipvlan does no work. It creates an interface with the same mac address as the linked interface from the host, and that is what I need, but there is no communication through.
if I try this:
arping -I eth1 xx.x

[2020-03-20 13:55] #7062 closed

[2020-03-20 14:38] stgraber commented on #7061
Looks like we've fixed that one already.

[code]

[2020-03-20 14:38] #7061 closed

[2020-03-20 14:40] stgraber commented on #6381
This has been implemented.

[2020-03-20 14:40] #6381 closed

[2020-03-20 15:35] ubojan commented on #6901
It looks like that does the trick. Thanks !

[2020-03-20 15:35] #6901 closed

[2020-03-20 15:59] florian-bellencontre opened #7065 "Failed to set up mount namespacing"
# Required information

 * Distribution: Ubuntu 18.04.4 LTS
*  LXD with snapd
 * The output of "lxc info" or if that fails:
[code]

# Issue description

After a restart of my container I have an error which is related to systemd:
[code]

I got the same error on the systemd-networkd service.

I have not changed anything in my container configuration. If I start the service manually it works perfect

[2020-03-20 16:09] stgraber commented on #7065
What's the distro in the container?
Can you also show your `dmesg` output around the time this happens?

[2020-03-20 16:12] florian-bellencontre commented on #7065
Nothing into dmesg but in syslog I see this:
[code]

* The 2 containers are a Debian 10

[2020-03-20 16:15] stgraber commented on #7065
Can you see if setting `security.nesting=true` on the container and restarting it fixes that?

[2020-03-20 16:17] florian-bellencontre commented on #7065
Yes after passing the parameter all services are working again.

[2020-03-20 16:18] stgraber commented on #7065
I just checked LXD's source code and we do set the right options for the filter in this case.
The problem is likely one of the very many apparmor mount enforcement bugs that we have opened over the years...

If `security.nesting=true` works for you, I'd suggest you do that for the time being. It comes with no additional security concerns so long as the container isn't also privileged.

I'm closing

[2020-03-20 16:18] #7065 closed

[2020-03-20 16:28] florian-bellencontre commented on #7065
Thank you for your quick help!
Where can I see in the documentation what the parameter "security.nesting" does? I saw on this link that it was used to launch Docker but what does it do exactly ?
https://lxd.readthedocs.io/en/latest/

[2020-03-20 17:22] stgraber commented on #7065
Yeah, it does two main things:
 - Propagate a /proc and /sys mount into a hidden location to bypass a kernel limitation
 - Allow arbitrary bind-mounts, so that a container filesystem can be setup.

The second part is what's making systemd work in your case.

[2020-03-20 21:36] stgraber commented on #3832
We've now implemented the logic discussed in this issue.

[2020-03-20 21:36] #3832 closed

[2020-03-21 16:11] alci63 commented on #7024
Same problem here. Updating the sequence worked.

[2020-03-21 19:38] Kramerican opened #7067 "Importance of disk I/O performance for the host system"
This is more of a general question as to how LXD containers depend on the host kernel and the underlying hardware the host system is installed on.

As we all know Linux Containers share the host system kernel - I am in the process of researching various hardware configurations for our next iteration of bare-metal servers and a fundamental question came to mind: How important is disk i/o performanc

[2020-03-21 23:43] stgraber commented on #7067
Yeah, no need for NVME for the root filesystem unless you're dealing with a very busy cluster where database commit times start to matter.

The other things that LXD write to the root disk are things like backups and images but there are now config options to control that too.

As for the kernel, no, it doesn't care about disk I/O so your host system can be running from super slow storage without

[2020-03-21 23:44] stgraber commented on #7067
Closing as not really an issue, happy to keep chatting though. In the future such questions are often better handled on the forum where other users of large LXD deployments can share their experiences.

[2020-03-21 23:44] #7067 closed

[2020-03-22 01:04] mt-caret opened #7068 "ETag header is lowercase and unquoted"
I'm building a .NET application that queries LXD's REST API, and came across what seems to be a weird quirk: GET to `/1.0` returns the following headers
[code]
My understanding was that `etag` should be appropriately capitalized and the hash should be quoted (like `ETag: "e112c0de12427702068353c64bd478b306c5c89e449ce9b1709f0b3e0704d5e8"`).
Is this intended behavior? .NET's default http library ref

[2020-03-22 02:11] stgraber commented on #7068
[code]

As reported by CURL here.

[2020-03-22 17:20] #7068 closed

[2020-03-23 14:51] pavel1337 commented on #5802
That is the thing, LXD starts normally, IP is up, but LXD cannot assign "core.https_address" to this address 10.1.37.1. And to make it work I have to first "lxc config unset core.https_address" and then set it again.

Should I create a separate issue though?

[2020-03-23 20:58] peter-held opened #7075 "Invalid swap value reported inside container"
# Required information

 * Distribution: archlinux
 * Distribution version: Linux k1 5.4.23-1-vfio-lts #1 SMP Mon, 02 Mar 2020 18:42:22 +0000 x86_64 GNU/Linux
 * The output of "lxc info" or if that fails:
# lxc info
config:
  images.auto_update_interval: "0"
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- au

[2020-03-24 08:22] esosan opened #7076 "lxc doesn't boot anymore."
* Distribution: ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-91-generic
   * LXC version:
   * LXD version: 3.23 (snap)
   * Storage backend in use: lvm (xfs)

# Issue description

lxd fail to start. I think the problem is related to some update watch during the starting process.

No container starts and I can't use lxc command.

[2020-03-24 08:46] tomponline commented on #7076
@esosan this is being caused by the custom volumes in projects upgrade patch failing.

Please can you show me the output of the `lvs` command on your system please.

Also, are you using the LVM volume group for non-LXD volumes by any chance?

[2020-03-24 08:55] esosan commented on #7076
Hi tomponline, here my las output.

There is a LVM VG. The VG used by lxc it's a nested LVM.

[2020-03-24 09:01] tomponline commented on #7076
@esosan so what appears to be the issue is that in your LXD database you have a custom volume called `####report` which would expect to have an associated LVM volume called `custom_####report` in your `lxc` volume group.

As per the new custom volumes in projects feature the patch is attempting to rename the `custom_####report` LVM volume to `custom_default_####report`, but from your `lvs` output

[2020-03-24 09:04] tomponline commented on #7076
@esosan in that output you also seem to have multiple logical volumes in the same volume group sharing the same name, this shouldn't be possible, is that a direct dump of `lvs` output?

[2020-03-24 09:08] esosan commented on #7076
@tomponline I can mail you the original output to tomp@tomp.uk ?

[2020-03-24 09:09] tomponline commented on #7076
@esosan yes that would be fine thanks

[2020-03-24 09:12] tomponline commented on #7076
@esosan ah, so have you artificially blanked out some of the LV names to avoid publicly posting them?

[2020-03-24 09:12] tomponline commented on #7076
@esosan please can you also send me the unredacted error log from LXD

[2020-03-24 09:13] esosan commented on #7076
done

[2020-03-24 09:24] tomponline commented on #7076
@esosan so I didn't get your unredacted LXD error log, but looking at your unredacted `lvs` output I can see that there is no logical volume ending in `report` so I suspect the issue is that at some point a logical volume has been removed manually rather than deleting it through LXD's cli, and as such LXD doesn't know it has gone. This is why the rename is failing.

If you could send me the unreda

[2020-03-24 09:32] esosan commented on #7076
I'm not really sure because this server was online for a very long time. But it seems strange to me to have manually removed the volume. I just mounted the container volume and the report directly exists and it's full of updated data.

[2020-03-24 09:52] tomponline commented on #7076
@esosan thanks for the log, so its as I thought, the logical volume has been manually deleted at some point and LXD doesn't know about that.

So I suggest re-creating the volume manually so that LXD can rename it and start cleanly.

Full name has been redacted.
Size doesn't matter if you are going to delete it later (via `lxc storage volume delete <pool> <volname>`)

[code]

However I am intereste

[2020-03-24 09:58] esosan commented on #7076
Sorry for the misunderstanding. I have mounted the container root volume: the supposed directory that mount report volume have is files. I did it to see if the report was still in use.

[2020-03-24 10:08] esosan commented on #7076
GREAT! All the container are coming back online!

Thank you very much @tomponline.
 I really appreciate your commitment to this project!

[2020-03-24 10:09] tomponline commented on #7076
@esosan excellent, glad that resolved the issue!

[2020-03-24 15:55] stgraber commented on #6991
For both type of items, I suspect we'll want:

 - driver
 - driver_version
 - numa_node
 - pci_address
 - product
 - product_id
 - vendor
 - vendor_id

Note that some cards will not have a driver loaded, that's fine and should just be kept empty.

We'll want those under separate rootfs, `pci` and `usb`. Those will be somewhat redundant with what we already have under network/storage so I don't exp

[2020-03-24 15:56] stgraber commented on #6991
For USB, PCI address isn't really applicable, instead it should be BusAddress and DeviceAddress I believe (looking at `lsusb`).

Note that we need to fill all of this only by looking at the filesystem (`/sys`).

[2020-03-24 16:53] Kramerican commented on #7067
Thank you so much for this information @stgraber - I will make sure to post general questions like this in the forum in the future

[2020-03-24 17:21] Kramerican opened #7079 "Beginning with v3.19, messing around with zfs volumes directly prevents container startup"
Ubuntu Bionic

I have always enjoyed the flexibility of LXD in conjunction with the ZFS filesystem and how I was able to monkey around with ZFS volumes pretty much ad-hoc and I could in this fashion do a bunch of non-standard but useful workflows when testing this and that.

Beginning with v3.19 however, if I try to do something like:

`lxc init ubuntu:bionic mytestcontainer`

And then I decide, n

[2020-03-24 18:01] stgraber commented on #7079
Our new storage logic is indeed a lot stricter than the previous one.
If something is missing that should be there, we error out immediately rather than go on and potentially hit issues later.

It shouldn't really impact what you've been doing, but you just need to make sure you do things the way LXD expects it.

In this case, the things to make sure of are:
 - mountpoint must be set properly
 - c

[2020-03-24 20:34] Kramerican commented on #7079
Awesome - now, while I applaud that filesystem/snapshot stuff is becoming more robust, I am having a bit of trouble here...

- mountpoint must be set properly

I tried looking at an existing container with zfs list and from that setting it to
`zfs set mountpoint=/var/snap/lxd/common/lxd/storage-pools/lxd/containers/mycoontainer lxd/containers/mycontainer`

And stuff blew up ... Hints? :)

- canmou

[2020-03-24 22:04] stgraber commented on #7079
`zfs set mountpoint=/var/snap/lxd/common/lxd/storage-pools/lxd/containers/mycoontainer lxd/containers/mycontainer canmount=noauto DATASET` will usually do it if not already mounted.
If already mounted, then you'll need to unmount it to avoid confusing LXD.

[2020-03-25 10:57] Kramerican commented on #7079
Awesome - I got this all working with your help. What I do, exactly, for prosperity:

[code]

That final unmount is probably not required as the canmount=noauto should prevent any auto mounting, but I play it safe. **This works!**

[2020-03-25 16:37] mdone-cloudian commented on #6998
I can confirm that 3.23 fixes this. You can close this.

[2020-03-26 12:03] AceSlash opened #7085 "Change default container configuration with "security.nesting=true""
This is a follow-up of #7065 .

The thing is that currently I have random services that do not start anymore after an upgrade because they implement `ProtectSystem=` in their systemd service file.

Typical example are redis, mariadb and powerdns.

There are 2 ways to fix this:
1. add an override system file for all those services that deactivate `ProtectSystem=` but this is not scalable, and the m

[2020-03-26 12:28] stgraber commented on #7085
We're not going to do that. `security.nesting=true` is indeed mostly harmless for unprivileged containers, though there are system administrators that do not want their users to be able to using namespacing features in containers.

It would also make then setting `security.privileged=true` on a container get both privileged AND nesting which is then extremely unsafe.

We'll keep monitoring what ha

[2020-03-26 12:28] #7085 closed

[2020-03-26 16:46] rldleblanc commented on #7076
I'm having the same problem, but haven't used LVM for my volumes. I do use BTRFS and have automated snapshots.

[2020-03-26 16:55] tomponline commented on #7076
@rldleblanc can you send the full output of the lxd startup logs please so we can see what it is trying to rename.

[2020-03-26 16:59] rldleblanc commented on #7076
It is trying to rename snapshots that I did remove. There could be hundreds of them... :( If I have to restart the daemon after every one to find the next one, that will be sad. Can I edit the database directly to drop those snapsots?

[2020-03-26 17:01] tomponline commented on #7076
@rldleblanc please can you enable debug logging so I can get a picture of what it is trying to do.

And you're saying that you've removed snapshots manually rather than using LXD cli? Thanks

[2020-03-26 17:02] tomponline commented on #7076
[code]

[2020-03-26 17:02] rldleblanc commented on #7076
Or at least query the database to generate all the snapshots in a loop. I thought I was using LXD cli, but I must have not been. I sent the logs to your e-mail.

[2020-03-26 17:05] stgraber commented on #7076
You can get an idea of roughly what's in the DB with:

[code]

But note that this is a convenience read-only DB dump, making changes to it will not help.

In generate the best option is to manually re-create what's missing and then properly delete it through the LXD API.

If not an option, then you can write a SQL patch file at `/var/snap/lxd/common/lxd/database/patch.global.sq` which will be run

[2020-03-26 17:06] tomponline commented on #7076
Thanks @rldleblanc the issue looks like this volume `mythtv_data/mythtv.mythtv_data.2019-11-05_06:34:59` because it contains a `/` in the name (which is supposed to be exclusively used to indicate a snapshot volume).  Let me see how this could occur.

[2020-03-26 17:06] tomponline commented on #7076
thanks @stgraber  yes @rldleblanc it would be good to get a copy of what in your LXD database for comparison too.

[2020-03-26 17:10] rldleblanc commented on #7076
I had just found the db and installed squlite when @stgraber mentioned it. At least that way I can generate all the snapshots again. Sending the db to your e-mail.

[2020-03-26 17:11] tomponline commented on #7076
@rldleblanc I would hold off making any DB or storage changes right now, as it may not be missing snapshots. A copy of the ` storage_volumes` table would be useful.

[2020-03-26 17:12] rldleblanc commented on #7076
I did remove all those snapshots as they were holding too much storage for very transient data.

[2020-03-26 17:23] rldleblanc commented on #7076
The '/' in the name allowed me to group snapshots for containers into subdirectories.

[2020-03-26 17:38] tomponline commented on #7076
@rldleblanc ok so what is confusing me right now is that the parent volume `mythtv_data` has a vol type of `2` meaning custom, which is expected.

However the snapshots should not have been returned as part of the DB query when selecting custom volumes to rename.

[code]

The snapshots are held in a separate table

[code]

[2020-03-26 17:38] tomponline commented on #7076
@rldleblanc im going to try and re-create this locally and see if the query is not doing the right thing.

[2020-03-26 17:59] tomponline commented on #7076
@rldleblanc I think this is caused by a bug in the database query used to select the custom volumes to rename, it is currently returning snapshots too. I'm not sure whether the the function used to retrieve the custom volumes is at fault or whether that was expected, but I've added a fix to this patch to ignore any snapshots returned by the function.

I've asked @stgraber and @freeekanayaka whethe

[2020-03-26 18:13] rldleblanc commented on #7076
Thanks for digging into this, anything I can do on may end to get the environment up?

[2020-03-26 18:16] rldleblanc commented on #7076
I tried to downgrade, but the scheme change prevented a start up.

[2020-03-26 18:25] tomponline commented on #7076
@rldleblanc its a bit tricky, but if you rename the BTRFS directories in `storage-pools/<pool>/custom/` to have the prefix `default_`, and likewise the directories in `storage-pools/<pool>/custom-snapshots/` to also have a prefix of `default_` then the patch should detect this and skip over them.

[2020-03-26 18:52] rldleblanc commented on #7076
It is skipping those directories, but it's still trying to change the non-existent snapshot.

[2020-03-26 18:52] #7076 closed

[2020-03-26 19:01] rldleblanc commented on #7076
Not sure how to manually patch the patch file in your PR. I guess I'll have to wait for a new build.

[2020-03-26 19:25] tomponline commented on #7076
Can you mail me the new error ur getting please?

[2020-03-26 22:39] stgraber commented on #3251
So I implemented this pretty quickly, it's not a very hard change.
However just looking at the amount of tests and examples we'd have to update within the LXD codebase and our website alone, this will be a very very disruptive change.

We've also implemented the same CLI patterns in other places (lxc storage) so we'd need to change and break those too.

Overall, I agree that snapshots should be se

[2020-03-26 22:39] #3251 closed

[2020-03-26 22:40] stgraber commented on #3251
https://github.com/stgraber/lxd/tree/snapshot is my implementation of this FWIW

[2020-03-27 00:39] rldleblanc commented on #7076
I downloaded the edge version of the snap and it started up, my containers are running again. I'd like to move back to stable once this is included.

[2020-03-27 00:47] stgraber commented on #7076
We have the fix in candidate now and it will be in stable in the next hour hopefully.

[2020-03-27 01:08] rldleblanc commented on #7076
I had to create all the missing btrfs snapshots (since snaps are just subvolumes, I just created empty subvols) then I could delete them all through LXD (failed to remove a snapshot if it didn't exists). Easy enough to do with some oneliners now that LXD is running. Thanks, I'll keep an eye out for it and move back to stable.

[2020-03-27 15:59] tomponline commented on #6852
@kautMaks btw, did you know you can add multiple addresses to a single `ipvlan` NIC?

i.e

[code]

[2020-03-27 16:35] tomponline commented on #6965
Also relevant to this: https://github.com/lxc/lxd/pull/7094

[2020-03-27 19:22] ltrager opened #7096 "LXD resources is not providing model names consistent with lsblk"
MAAS 2.7 uses LXD to gather commissioning information. [In LP:1869116 a user has reported that hardware testing is failing.](https://bugs.launchpad.net/maas/+bug/1869116) This is due to LXD reporting disk models with a space while lsblk uses an underscore.

lsblk model name: PERC_6/i
LXD model name: PERC 6/i

MAAS still uses lsblk for hardware testing and Curtin still uses lsblk when mapping disks

[2020-03-27 19:25] stgraber commented on #7096
The model as reported by LXD is what's read from sysfs in the `model` file.
We don't do any processing on it.

[2020-03-27 19:31] stgraber commented on #7096
How exactly do you call `lsblk`? Running it here has it report the same names with spaces as LXD does and tracing it, it's getting it from the same place too.

[2020-03-27 19:38] stgraber commented on #7096
Closing as LXD isn't going to start mangling strings from the kernel to have them line up with another reporting tool, but I'd still be interested to know how it is that your version of lsblk seems to replace spaces when mine doesn't.

[2020-03-27 19:38] #7096 closed

[2020-03-27 19:48] ltrager commented on #7096
MAAS:
https://git.launchpad.net/maas/tree/src/metadataserver/user_data/templates/snippets/maas_run_remote_scripts.py#n590

Curtin:
https://git.launchpad.net/curtin/tree/curtin/block/__init__.py#n222

I agree we shouldn't be changing strings from the kernel. I tested the command MAAS uses on my system and spaces aren't being replaces

`
$ lsblk --exclude 1,2,7 -d -P -o NAME,MODEL,SERIAL

NAME="nvme

[2020-03-27 20:34] stgraber commented on #6173
The role editing infrastructure has been merged into 4.0, so adding just the extra role can easily be done later, postponing this for now.

[2020-03-27 23:26] #6852 closed

[2020-03-28 22:50] nniehoff opened #7100 "Unable to rejoin cluster after leaving"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 Focal
 * The output of "lxc info":  https://paste.ubuntu.com/p/ms9Qmwpgnc/
   * Kernel version:  5.4.0-14-generic
   * LXC version:
   * LXD version:  3.23 (snap 14066)
   * Storage backend in use:  zfs with existing root zfs pool

# Issue description

I had a 3 node cluster (recently built after installing focal), each

[2020-03-28 22:53] stgraber commented on #7100
@freeekanayaka ideas?

[2020-03-29 00:10] nniehoff commented on #7100
FYI I can't reproduce this with VMs.  I've tried to break it and can't.  I'm thinking the failed operation that failed with "Failed to join cluster: server ID already in use (1)" is coming from dqlite but I'm not sure that's where I need some advice on where to look next.

[2020-03-29 00:38] nniehoff commented on #7100
I tried a hail marry attempt and joined the 10.12.48.40 node to the cluster I stood up in VMs, it joined right away.  I then left the cluster removed the snap and all lxd related folders, reinstalled, and it joined the real cluster right away.  Unfortunately the 10.12.48.31 node is stuck in the same place the trick didn't work for it.

[2020-03-29 01:55] tchwpkgorg opened #7101 "lxd crashes and no longer starts when disk out of space"
My disk got full after trying to create an image of a large container:

- root filesystem is 20 GB in size
- lxd storage is several terabytes in size, in /data/lxd
- an attempt to create an image of a large container created a huge image file in /var/snap/lxd/common/lxd/images/lxd_build_205173754, which filled the root filesystem 100%

After this, lxc command fails:

# lxc list
Error: Get "http://

[2020-03-29 02:14] stgraber commented on #7101
Can you try `sudo lxd --debug --group lxd`?

[2020-03-29 05:28] tchwpkgorg commented on #7101
[code]

[2020-03-29 15:06] stgraber commented on #7101
Can you list the content of /var/snap/lxd/common/lxd/database/global/ ?

[2020-03-29 21:56] craigphicks opened #7103 ""lxc info <container>" output is almost completely yaml format, but not quite."
# Required information

 * Distribution:
ubuntu
 * Distribution version:
18.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

config:
  images.auto_update_interval: "0"
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_p

[2020-03-29 22:04] stgraber commented on #7103
Yeah, it's not meant to be YAML, I actually have planned changes to make it significantly less YAML-like.

Use `lxc list NAME --format=yaml` if you want the same raw data in actual stable YAML format.

[2020-03-29 22:04] #7103 closed

[2020-03-29 23:02] craigphicks commented on #7103
Thanks @stgraber !

[2020-03-30 02:12] tchwpkgorg commented on #7101
I did the following to fix:

[code]

"global.bak" had quite an old timestamp (a week or two), but it worked after that.

For the record:

[code]

Still, the bug report is more on "LXD should have some mechanism preventing database corruption on disk full", rather than "how do I recover from this situation".

[2020-03-30 02:17] stgraber commented on #7101
You didn't quite need that, removing the last segment should have been sufficient (`0000000004069058-0000000004069870`).

We actually do have testing specifically for running out of disk space, so you must have hit a particular corner case of this.

Maybe @freeekanayaka can look into this.

Any chance you can e-mail the `global.corrupt` directory as a tarball to stgraber at ubuntu dot com?

[2020-03-30 09:49] 4ePTuk opened #7104 ""Error: EOF" after exec command on container. CGROUP errors"
# Required information

 * Distribution: Debian 4.9.189-3+deb9u2
 * Distribution version: Stretch
 * The output of "lxc info" or if that fails:

` config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_comp

[2020-03-30 09:54] brauner commented on #7104
Is LXD installed via snap?

[2020-03-30 10:01] 4ePTuk commented on #7104
yes

[2020-03-30 10:23] brauner commented on #7104
Are you running the edge snap? It should already be fixed in there if it's the issue I'm suspecting.

[2020-03-30 10:23] freeekanayaka commented on #7100
This is the behavior I'd indeed expect to see for `10.12.48.40`, given that `10.12.48.4`0 is **not** showing up in the `raft_nodes` table of node2, as you report in https://pastebin.canonical.com/p/HBJYNtCXRZ/.

If I understand correctly (from https://pastebin.canonical.com/p/p3mTQmFg8D/ and https://pastebin.canonical.com/p/p3mTQmFg8D/) you made also at least another attempt to join `10.12.48.40`

[2020-03-30 10:27] 4ePTuk commented on #7104
Here is my version
snap --version
snap    2.43.3
snapd   2.43.3
series  16
debian  9
kernel  4.9.0-11-amd64

[2020-03-30 10:31] brauner commented on #7104
On Mon, Mar 30, 2020 at 03:28:12AM -0700, Dmitry wrote:

Sorry, I meant if you switch to the edge channel for the LXD snap

snap install --channel=edge

or

snap refresh --channel=edge

Though only do this if you're not running anything important rn.

Christian

[2020-03-30 10:47] 4ePTuk commented on #7104
[code]
It's already stable channel `stable:         3.23        2020-03-28 (14066) 70MB -`

[2020-03-30 10:50] brauner commented on #7104
Can you paste the output of:
[code]
please

[2020-03-30 10:54] 4ePTuk commented on #7104
[code]

[2020-03-30 10:58] brauner commented on #7104
Ok, so can you - if your workload does allow it - try with:
[code]
and then report back if you still have the issue?

[2020-03-30 10:58] brauner commented on #7104
(Daemon might need to be restarted after that with `systemctl restart snap.daemon.service`.

[2020-03-30 11:05] 4ePTuk commented on #7104
ok, I made `snap refresh lxd --channel=latest/candidate`
restarted daemon and rebooted server...still EOF error (

[code]

[2020-03-30 11:10] brauner commented on #7104
Can you show me `findmnt`, please?

[2020-03-30 11:13] 4ePTuk commented on #7104
[code]

[2020-03-30 11:18] brauner commented on #7104
Can you show:
[code]
from _inside_ the container, please?

[2020-03-30 11:21] 4ePTuk commented on #7104
damn...i think that i will be problem. The only way to get inside is exec...
all conrainers working without update for months. Blog is new and empty one

[2020-03-30 11:26] brauner commented on #7104
No, you can either get into the container via `lxc console` or you can show me:
[code]
on the host and then I'll tell you which folder I need to look at :)

[2020-03-30 11:28] 4ePTuk commented on #7104
[code]

[2020-03-30 11:43] brauner commented on #7104
Ok, can you show:
[code]
please, that should be the container you showed the log from, right?

[2020-03-30 11:45] 4ePTuk commented on #7104
[code]

yes, this is brand new container. But other have same error

[2020-03-30 11:54] brauner commented on #7104
Huh, can you show:
[code]
please?

[2020-03-30 11:56] 4ePTuk commented on #7104
[code]

=(

[2020-03-30 12:05] brauner commented on #7104
[code]

[2020-03-30 12:08] 4ePTuk commented on #7104
but without exec i can't set default passwd right?

[2020-03-30 12:16] brauner commented on #7104
What container is that you're running. I've just created a new Debian stretch vm, install lxd from the snap and ran an ubuntu container and attached to it just fine

[2020-03-30 12:18] brauner commented on #7104
And what systemd version are you running on the host:
[code]
?

[2020-03-30 12:20] 4ePTuk commented on #7104
[code]

[code]
All containters have same error

[2020-03-30 12:21] brauner commented on #7104
Why do you have systemd 241 installed?

[2020-03-30 12:21] brauner commented on #7104
Or rather, how?

[2020-03-30 12:22] 4ePTuk commented on #7104
i don't know...never touched it

[2020-03-30 12:24] brauner commented on #7104
No, let me try and reproduce with this setup.

[2020-03-30 12:26] 4ePTuk commented on #7104
thanks...i'm close to reinstall system to get it work (

[2020-03-30 12:34] brauner commented on #7104
Ok, managed to reproduce this and it's sucky but I have an idea.

[2020-03-30 12:36] 4ePTuk commented on #7104
I'm full of attention =)

[2020-03-30 13:32] nniehoff commented on #7100
@freeekanayaka thanks for the help.  This solution sounds drastic to me especially since I have containers running on this cluster, and if I had say 100 nodes in my cluster instead of 3 I would basically have to rebuild the cluster?

No, I don't, it seemed pretty straight forward.  Although it is possible in all of my testing/troubleshooting of this I made things worse.

Good to know.  I'm using M

[2020-03-30 13:35] brauner commented on #7104
The issue is with the kernel you're using. On this kernel the restrictions to move processes between cgroups are different than they are on newer kernels. Specifically, you're running into the following check:
[code]
which dictates that in order to move a process into a cgroup you either need to be global root (no restrictions apply) or the effective uid of the process trying to move the process a

[2020-03-30 13:42] freeekanayaka commented on #7100
This disaster recovery sequence was not meant for this particular situation. But yes, I agree we might need to improve it so it can handle also situations like this more easily.

I'd say the first thing though would be to understand how the problem occurred. Probably we'd need to run more serious QA around clustering+MAAS, since afaik it's a scenario we don't exercise much or hear much about from

[2020-03-30 13:53] nniehoff commented on #7100
I would say the most likely scenario here is I accidentally tried to add .31 and .40 at the same time.  I can't say for sure as I've been doing a lot of troubleshooting, luckily this is my lab and it's been a good lxd troubleshooting learning experience for me.  I would say I doubt this has anything to do with MAAS as I am using MAAS only to deploy the OS then by hand I'm installing lxd and cluste

[2020-03-30 13:56] 4ePTuk commented on #7104
so, in this condition what do you can advice?
rollback on early version of lxd? i can't update disto right now.
How can i log into contaiver with lxd-console if there is no passwd?

[2020-03-30 13:57] brauner commented on #7104
I'll send a fix soon and then @stgraber will cherry-pick it into the snap and you should have it in a few hours (@stgraber, right?).

[2020-03-30 14:00] freeekanayaka commented on #7100
If you have time to test concurrent joins and check if you can confirm the issue can be in fact triggered that way, we might try to see if there's something reasonable we can do on our side to fix this.

[2020-03-30 14:01] 4ePTuk commented on #7104
If the Qt conference had not been rescheduled into USA and it remained in Berlin i could buy you some beer ) Thank you

[2020-03-30 15:26] stgraber commented on #7104
Yep, cherry-pick is pretty quick

[2020-03-30 15:44] 4ePTuk commented on #7104
what should i do after this? snap refresh lxc  to candidate?

[2020-03-30 18:13] #7104 closed

[2020-03-31 02:09] nniehoff commented on #7100
Ok I moved all of the containers to node2.  I then stopped lxd, and verified it was down with ps | grep lx nothing returned.  When I try to run recover-from-quorum-loss I get:

[code]

Debug output: https://pastebin.canonical.com/p/ZxKCTbkhPb/
Logs: https://pastebin.canonical.com/p/VttzTrhrGC/

[2020-03-31 02:24] stgraber commented on #7100
@freeekanayaka ah yeah, concurrent joins is something we should definitely test and if broken, fix.
I didn't see this failing much in the past when creating a 50 nodes cluster with all nodes installing around the same time, but it may just have been luck.

[2020-03-31 07:37] freeekanayaka commented on #7100
This debug output shows that `lxd cluster recover-from-quorum-loss` is able to connect to the LXD daemon process via Unix socket and the process sends back a reply.

You probably still have socket activation via systemd turned on, so even if the process is not running when you launch the command, it will be started as soon as you connect to the Unix socket.

Please try:

[code]

[2020-03-31 12:30] mdone-cloudian commented on #6772
I'm getting the same, but my storage backend is just plain `dir`. Anything I could check before restarting the server tomorrow?

[2020-03-31 13:33] truelai opened #7113 "LXD failed to mount storage pool - invalid argument"
[code]

# Issue description

I am unable to mount the btrfs storage pool. How can I fix this? I can see all the files and would be happy if I could move the containers to another LXD host. Even better if I can fix this storage pool.

[code]

[2020-03-31 13:36] stgraber commented on #7113
Can you show `sqlite3 /var/snap/lxd/common/lxd/database/global/db.bin "SELECT * FROM storage_pools_config;"`?

You'll need to install the `sqlite3` package.

[2020-03-31 13:47] truelai commented on #7113
already installed:

$ sudo sqlite3 /var/snap/lxd/common/lxd/database/global/db.bin "SELECT * FROM storage_pools_config;"
2|1|1|size|93GB
3|1|1|source|/var/snap/lxd/common/lxd/disks/Pool-1.img

[2020-03-31 13:52] stgraber commented on #7113
Can you paste `dmesg | tail -n 100`?

[2020-03-31 14:08] truelai commented on #7113
$ dmesg | tail -n 100

[35917.553711] BTRFS error (device loop4): failed to read block groups: -5
[35917.613445] BTRFS error (device loop4): open_ctree failed
[35918.116423] BTRFS info (device loop4): disk space caching is enabled
[35918.116425] BTRFS info (device loop4): has skinny extents
[35918.156313] BTRFS error (device loop4): parent transid verify failed on 97357922304 wanted 9567919 found

[2020-03-31 14:40] stgraber commented on #7113
Oh, fun, your btrfs filesystem is corrupted.

[2020-03-31 14:41] stgraber commented on #7113
`btrfs check /var/snap/lxd/common/lxd/disks/Pool-1.img` see if that does something

[2020-03-31 14:42] stgraber commented on #7113
Closing as not a LXD issue (corrupted btrfs), but we'll happily still try to get this back online.

[2020-03-31 14:42] #7113 closed

[2020-03-31 14:46] truelai commented on #7113
$ sudo btrfs check /var/snap/lxd/common/lxd/disks/Pool-1.img
parent transid verify failed on 97357922304 wanted 9567919 found 9543830
parent transid verify failed on 97357922304 wanted 9567919 found 9543830
parent transid verify failed on 97357922304 wanted 9567919 found 9543830
parent transid verify failed on 97357922304 wanted 9567919 found 9543830
Ignoring transid failure
parent transid verify

[2020-03-31 14:47] truelai commented on #7113
Like, can I publish a tarball somehow that I can import with a second hypervisor?

[2020-03-31 14:53] stgraber commented on #7113
And those running containers are on that same broken pool?

[2020-03-31 14:54] stgraber commented on #7113
Since we're talking loop files here, did you confirm you're not out of disk space on the drive backing /var/snap/lxd/common/lxd/disks?

[2020-03-31 15:05] truelai commented on #7113
Yes. those containers are in the same pool (my only pool).

I am not out of space on the drive.

~$ df -h
Filesystem      Size  Used Avail Use% Mounted on
udev             63G     0   63G   0% /dev
tmpfs            13G  2.3M   13G   1% /run
/dev/sdc1       469G  386G   59G  87% /
tmpfs            63G  4.0K   63G   1% /dev/shm
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs            63G

[2020-03-31 15:08] stgraber commented on #7113
Ok, can you show `losetup -a` too for good measure?
And `ps fauxww`?

[2020-03-31 15:12] truelai commented on #7113
Sure thing!

# losetup -a
/dev/loop1: [2081]:15206327 (/var/lib/snapd/snaps/lxd_14066.snap)
/dev/loop2: [2081]:15205468 (/var/lib/snapd/snaps/core_8689.snap)
/dev/loop0: [2081]:15207224 (/var/lib/snapd/snaps/lxd_14133.snap)
/dev/loop3: [2081]:15204710 (/var/lib/snapd/snaps/core_8935.snap)

# ps fauxww
USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         2  0.1  0.0

[2020-03-31 15:13] stgraber commented on #7113
You don't appear to have any running container on there.

[2020-03-31 15:14] stgraber commented on #7113
What do you mean by being able to see all the files then?

[2020-03-31 15:15] truelai commented on #7113
Right. Sorry for the miscommunication. I can see them here:

/var/snap/lxd/common/lxd/storage-pools/Pool-1/containers/salt/rootfs/

[2020-03-31 15:16] truelai commented on #7113
I manually rescued the files and put them there.

[2020-03-31 15:16] stgraber commented on #7113
Ah, okay, so those wouldn't be on the pool at all then as the pool isn't mounted at that path.

[2020-03-31 15:17] truelai commented on #7113
I realize now that I should have told you that in the beginning.

btrfs rescue super-recover on /var/snap/lxd/common/lxd/disks/Pool-1.img produced a segfault but I was able to use: btrfs restore -sSxmiv

[2020-03-31 15:18] stgraber commented on #7113
Ok, so you managed to get the btrfs to a mountable state then?

[2020-03-31 15:18] truelai commented on #7113
So, just to extract the directories in the pool.

[2020-03-31 15:18] truelai commented on #7113
I don't know how to make it work now that they're there.

[2020-03-31 15:21] stgraber commented on #7113
Ah, ok, well, if you have all the data out, you should be able to do something like:
 - mv /var/snap/lxd/common/lxd/disks/Pool-1.img /var/snap/lxd/common/lxd/disks/Pool-1.img.broken
 - truncate -s 100GB /var/snap/lxd/common/lxd/disks/Pool-1.img
 - mkfs.btrfs /var/snap/lxd/common/lxd/disks/Pool-1.img
 - mount -o loop /var/snap/lxd/common/lxd/disks/Pool-1.img /mnt

Then transfer all your data back i

[2020-03-31 15:24] truelai commented on #7113
Meaning:
mv /var/snap/lxd/common/lxd/storage-pools/Pool-1/* /mnt/

yes?

[2020-03-31 15:27] stgraber commented on #7113
Yep

[2020-03-31 16:53] #6991 closed

[2020-03-31 17:13] truelai commented on #7113
### **ALL HAIL STEPHANE!**

You have saved my ass **again**. And this time through has again taught me quite a bit.

You are the man. Seriously, let me buy you dinner & drinks sometime. I'm MTL too.

[2020-03-31 18:03] stgraber commented on #7113
Glad that worked and you've got your system back online!

[2020-03-31 18:08] truelai commented on #7113
One more question. lxc list works but I can't ssh and:

$ lxc exec JasperReports-Community /bin/bash
bash: /root/.bashrc: Permission denied
root@JasperReports-Community:~# ls
ls: cannot open directory '.': Permission denied

I think I probably have permissions from restoring?

[2020-03-31 18:35] truelai commented on #7113
I think I found it. Thanks again!

[2020-04-01 10:46] albertodonato opened #7116 "Machine resources: CPU reports numa_node per-core rather than per-thread"
This was first reported here: https://bugs.launchpad.net/maas/+bug/1869990

Currently the numa node information for cpu is filled once per-core (https://github.com/lxc/lxd/blob/master/lxd/resources/cpu.go#L248-L253), but  in the above case it's actually different for threads in the same core.

[2020-04-01 11:37] tchwpkgorg commented on #7101
Mailed.

As for this issue:

Is there any storage setting for it? Or one still needs to play with bind mounts?

[2020-04-01 12:20] stgraber commented on #7101
There is a setting for it, you can move images and backups onto storage volumes now. Look at the server settings in the documentation.
I think it's something like 'storage.images_volume"

[2020-04-01 14:23] stgraber commented on #7116
AMD keeps surprising us with that stuff... it really makes little sense for a thread to be on a different numa node than the other thread on the same core...

[2020-04-01 14:28] freeekanayaka commented on #7101
@tchwpkgorg thanks for sending the database.

After inspection it turns out that it's indeed a corner case that we don't quite handle, as @stgraber hinted.

The last snapshot was empty (presumably because an attempt to take it was performed when the disk was full).

In this specific case, removing the last snapshot:

[code]

(instead of removing the last segment) fully recovers the database with n

[2020-04-01 15:26] mmallon commented on #7116
Yeah, it definitely reports a little weird. I think the problem is that they're effectively two sockets in a socket and they reuse core_id (see https://developer.amd.com/wordpress/media/2012/10/51803A_OpteronLinuxTuningGuide_SCREEN.pdf - page 5). It doesn't help that I think there was a bit of marketing from AMD around threads vs cores at the time so they're not reporting threads because each core

[2020-04-01 16:04] itoffshore opened #7119 "Error: Common start logic: Failed to run: zfs mount"
# Required information

 * Distribution: `Ubuntu`
 * Distribution version: `18.04`
 * LXD via `snapd`
 * The output of "`lxc info`":

[code]

# Issue description

This is the same issue as [on the LXD forums here](https://discuss.linuxcontainers.org/t/failed-to-mount-zfs-filesystem-filesystem-already-mounted/6268) & [this githib issue concerning `zfs` not being namespace aware](https://github.com/

[2020-04-01 16:32] #7116 closed

[2020-04-01 23:42] wgrant commented on #7116
The bug here is that cpu.go addresses cores as (physical_package_id, core_id), but on AMD MCM systems it's (physical_package_id, die_id, core_id). See cputopology.rst for details.

There is another oddity here, though: because AMD's CMT implementation shares some resources between cores, for scheduling purposes they're not independent so they're closer to Linux's thread concept. So you end up with

[2020-04-02 00:24] stgraber commented on #7116
Thanks, I've sent https://github.com/lxc/lxd/pull/7120 which now handles CPU dies and should fix the reporting on such systems.

[2020-04-02 00:28] mmallon commented on #7116
I can see die_id on newer AMD cpus (Zen 2 desktop) but not on the Opteron 6376 that triggered this or my first gen Epyc hosts. Their topology entries look like this:

user@host:~$ ls -salh /sys/devices/system/cpu/cpu0/topology/
total 0
0 drwxr-xr-x 2 root root    0 Apr  2 00:21 .
0 drwxr-xr-x 8 root root    0 Mar 30 05:34 ..
0 -r--r--r-- 1 root root 4.0K Mar 30 05:36 core_id
0 -r--r--r-- 1 root ro

[2020-04-02 00:30] stgraber commented on #7116
Right, you need a newer kernel, 4.15 doesn't have the file.

[2020-04-02 00:31] stgraber commented on #7116
If you can get a newer kernel on the Opteron, please run https://dl.stgraber.org/lxd-resources

That should then show you the correct topology considering CPU dies.

[2020-04-02 00:34] stgraber commented on #7116
@wgrant went digging in the kernel code and apparently there's no logic to set the die_id to the right value on AMD chips, so that new binary is unlikely to make a difference at this point...

[2020-04-02 01:17] wgrant commented on #7116
It turns out that die_id was introduced by Intel in 2019 for Cascade Lake-AP, and is only set by the Intel topology code (based on CPUID 0x1f), so is probably only non-zero on Cascade Lake-AP (and Cooper Lake-AP in future, I guess).

amd_get_topology (based on topoext, CPUID 0x8000001e) doesn't set die_id, even though it's exposed in ECX on Bulldozer and Zen (tested Interlagos and Naples). But it

[2020-04-02 13:21] nniehoff commented on #7100
@freeekanayaka thanks I didn't see the socket.  The recover-from-quorum-loss procedure worked.  I think we are good to close this issue thanks for your help.

[2020-04-02 13:21] #7100 closed

[2020-04-02 14:16] itoffshore opened #7121 "Custom idmaps - map different uid / gid"
# Required information

 * Distribution: `Ubuntu`
 * Distribution version: `18.04`
 * LXD via `snapd`
 * Storage backend in use: zfs

# Feature description

referring to the `both` option in [https://github.com/lxc/lxd/blob/master/doc/userns-idmap.md](https://github.com/lxc/lxd/blob/master/doc/userns-idmap.md)

Not every `$USER` has the same Primary Group `id` as their `$USER id` on a network usin

[2020-04-02 14:18] stgraber commented on #7121
You can absolutely do that, the doc says it's multi-line. Just put a `uid` line and a `gid` line instead of using `both`.

[2020-04-02 14:18] #7121 closed

[2020-04-02 14:24] itoffshore commented on #7121
many thanks for the quick answer - here is an example for others:

[code]

[2020-04-02 17:47] s3rj1k opened #7123 "IPVLAN with (multple/single) tagged VLAN(s) issue"
* Distribution: Ubuntu
 * Distribution version: 19.10
 * Kernel version: 5.3.0-40-generic
 * LXC version: 3.2.1
 * LXD version: 3.23
 * Storage backend in use: Dir

Not sure that this is actual issue with LXD or LXC itself, betting on LXC.

So what works as expected:
 - network at hypervisor node has single VLAN what is configured as `Untagged`: `eno1` interface
 - `eno1` is parent NIC for contain

[2020-04-02 18:22] stgraber commented on #7119
Ok, so to confirm, the steps are:
 - Create a container
 - Live attach 3 bind-mounts to it
 - Reboot the container

[2020-04-02 18:26] itoffshore commented on #7119
I created 2 bind mounts of `zfs` datasets in a Centos 6 container - then rebooted it from a root console (as I was also changing `uidmaps`)

afterwards I created a 3rd bind mount of a zfs dataset but this time rebooted via ` lxc restart` to save time logging into the container.

[2020-04-02 18:33] stgraber commented on #7119
[code]

[2020-04-02 18:33] stgraber commented on #7119
Can you show `zfs get all zpool/lxd/containers/centos6-builder`

[2020-04-02 18:36] #6985 closed

[2020-04-02 18:36] #7048 closed

[2020-04-02 18:36] itoffshore commented on #7119
A reboot cleared the error & the container is working today:

[code]

[2020-04-02 19:30] stgraber commented on #7119
ZFS config looks correct (mountpoint & canmount are the usual suspects for that type of issue).

[2020-04-02 21:04] stiobhan opened #7124 "lxd snap v4.0.0: lxc commands hang for some time"
This is on an Ubuntu 18.04 host running kernel 4.15.0-91-generic

Since the automatic update of the lxd snap to v4.0.0 basic lxc commands hang for almost a minute,e.g.:
[code]

`lxc info CONTAINER` shows output until here:
[code]
then hangs for the same amount of time before finally showing the snapshots.

This is with few containers (around 10). Storage backend is ZFS. Reboot of the server did no

[2020-04-02 21:35] stgraber commented on #7124
Does `lxc list --fast` behave differently?

[2020-04-02 21:36] stgraber commented on #7124
Tracing the client is very unlikely to be helpful, all it does is send a REST request to the daemon.

[2020-04-02 21:38] stgraber commented on #7124
I suspect that's the feature where we go and fetch the snapshot sizes now.

I already talked with @tomponline about not doing that when we list all containers (`lxc list`).
`lxc info` has a stronger case for fetching that information, though we need to look into why ZFS is being that slow in your case.

[2020-04-02 21:39] stiobhan commented on #7124
Yes `--fast` does not hang.

RIght... I wasn't aware how lxc and the daemon communicate.

[2020-04-02 21:55] stiobhan commented on #7124
I've checked `lxc info` for all the containers now, and it only hangs for some of them. But it doesn't seem to depend on the number of snapshots. `lxc snapshot CONTAINER SNAPSHOTNAME` hangs too for these containers. `lxc delete CONTAINER/SNAPSHOTNAME` is fast however.

[2020-04-02 22:13] stgraber commented on #7124
Yeah, so that's hitting some kind of ZFS issue. So we'll be landing some changes in logic to at least speed up list and look at how we retrieve the size of snapshots in info.

But if creating a new snapshot is slow too, that does hint at some ZFS issues maybe.

Can you try manually creating and deleting a snapshot on the dataset?

[code]

And see if that also is slow for those containers?

[2020-04-02 22:20] stiobhan commented on #7124
Manually creating and destroying snapshots on these containers is fast (command returns in less than 0.1 seconds)

[2020-04-02 22:23] stiobhan commented on #7124
[code]

[2020-04-02 22:26] stiobhan commented on #7124
Just noticed that `zpool status` tells me
[code]
I suppose this is safe to do for lxd 4.0.0?

[2020-04-02 22:52] TheCoder4eu opened #7125 "Problem with mount of a loopback device during LXD startup"
Good evening,
unfortunately my server has problems starting LXD, I am unsure if it is a side effect of an upgrade to 4.0.0 but it seems unable to mount a dev/loop8 at some point (the BTRFS filesistem is ok).

This are the relevant informations, I suppose this might be a bug since a invalid argument is mentioned:

root@LXDH03 ~ # lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
D

[2020-04-02 23:08] stgraber commented on #7125
Can you show `ls -lh /var/snap/lxd/common/lxd/disks/`?

[2020-04-02 23:09] stgraber commented on #7124
Yeah, you can upgrade your pool, that's fine. What matters is that your kernel supports it but that should be the case here.

[2020-04-02 23:11] stgraber commented on #7124
Interesting about snapshot creation being fast at the ZFS level, this may suggest that something in the LXD code calls for the snapshot details and causes the same slowdown.

[2020-04-03 00:46] stgraber opened #7126 "`activateifneeded` needs to check for more conditions"
The check needs to be extended to trigger if:
 - We have scheduled instance snapshots
 - We have scheduled volume snapshots
 - Any instance is running

[2020-04-03 00:49] stgraber commented on #7126
@monstermunchkin can you take a stab at this in the morning?

`lxd/main_activateifneeded.go` is the entry point there.
Note that the amount of stuff you have access to in that state is very limited.

I'd simply check if any instance has the automatic snapshot key set, if any volume has it set.

For the running instance case, we have a check already but it's broken, we need to check in all projects

[2020-04-03 01:54] toby63 opened #7127 "(Feature request) local repos for lxd"
**Problem:**
I am using many different containers on the same computers/servers/local network and most of them run the same OS (Debian in my case).
Now when I update them, each container connects to the internet and downloads the same packages.
I think that is unnecessary traffic and a waste of resources (because obviously the internet consumes a lot of energy).

**Solution:**
LXD could include an

[2020-04-03 04:08] stgraber commented on #7127
Not something that really makes sense to do at the LXD layer.

You should create a container that either runs some kind of proxy (look at squid-deb-proxy for example) or even has a full archive mirror of your distro, then configure your other containers to pull from that.

That's not really any different than what organizations do with their physical systems/VMs.

[2020-04-03 04:08] #7127 closed

[2020-04-03 06:30] TheCoder4eu commented on #7125
Hi Stéphane,
i get this:
root@LXDH03 ~ # ls -lh /var/snap/lxd/common/lxd/disks/
total 1009M
-rw------- 1 root root 1.0G Jun 19  2019 lxdpool.img

[2020-04-03 06:55] stiobhan commented on #7124
Seems that way. I also copied one of the containers to a different host (running lxd 3.0.3), deleted it, and copied it back. Problem still persist. Let me know if you need more info, debug logs or anything

[2020-04-03 07:05] stiobhan commented on #7124
Should I see the snapshot size there somewhere? Neither `lxc list` nor `lxc info CONTAINER` shows anything about snapshot size. I just see the time when the snapshot was taken.
[code]
and the number of snapshots with `lxc list`.

[2020-04-03 07:58] tomponline commented on #7124
@stiobhan so this PR (https://github.com/lxc/lxd/pull/7117) that got merged yesterday should partially alleviate the issue somewhat as it removes the mounting of snapshots when listing information introduced in https://github.com/lxc/lxd/pull/7071.

@stgraber you are correct that when taking a snapshot before https://github.com/lxc/lxd/pull/7117 is cherry-picked into the snapd package, the issue i

[2020-04-03 08:00] tomponline commented on #7124
@stiobhan I am going to put a PR up shortly that totally removes the snapshot usage metric from the `RenderFull()` function used in in `lxc list`

[2020-04-03 08:10] tomponline commented on #7124
@stiobhan accessing the actual snapshot usage is currently only in API, e.g.

[code]

[2020-04-03 08:16] stiobhan commented on #7124
@tomponline any guess why `lxc query /1.0/instances/c1/snapshots/snap0` takes about 10 seconds for some containers and less than a second for others in my case?

[2020-04-03 08:23] tomponline commented on #7123
@s3rj1k thanks for your detailed report.

So the `ipvlan` nic type should add a static route on the host for the container's IPs, but rather than using a `local` route it instead points it to the `lo` device on the host.

Example:

[code]

[code]

Can you advise whether you are seeing static routes created for your container's IPs pointing at the `lo` interface?

The reason I went with this approa

[2020-04-03 08:24] tomponline commented on #7124
@stiobhan can you provide the `lxc config show <conainer> --expanded` for a container that is quick and a container that is slow please.

Also can you show the output of `zfs list` on the host? Thanks

[2020-04-03 08:39] itoffshore commented on #7119
the container was running mesos - Centos 6 containers do not have `acpid` so perhaps they cannot be restarted cleanly from outside the container.

[2020-04-03 08:44] stiobhan commented on #7124
quick: https://pastebin.com/ReStBdQe
slow: https://pastebin.com/qmAXPEU7
`zfs list`: https://pastebin.com/mvAUnTfw

[2020-04-03 09:00] tomponline commented on #7124
Cheers, can you get me the output of `zfs list -t snapshot` too please

[2020-04-03 09:33] s3rj1k commented on #7123
@tomponline Yes I am seeing routes for container IPs on `lo` interface.
Why not to delete those routes when container stops and re-add them on start?

[2020-04-03 10:14] tomponline commented on #7123
@s3rj1k they are deleted normally, it was a safety feature in case they are left around for some unexpected reason.

With the container started, please can you provide output of on host:

[code]

Thanks

[2020-04-03 10:57] s3rj1k commented on #7123
@tomponline Sorry, had to revert changes, I did a setup on production server.

`ip neigh` contained all relevant container IPs.

also I did policy routing for 2 VLANs, the one that `ip rule show` has, I can provide example configs for systemd-networked for this setup.

Please not that `netplan` config would not work for this setup, it lacks 2 major options in advanced routing.

[2020-04-03 11:51] stiobhan commented on #7124
pastebin is down, here's everything again on a different site (also nicer without big commercial banners ;-) ).

quick (ganglia): https://paste.ubuntu.com/p/kg59qGFPz9/
slow (zulip): https://paste.ubuntu.com/p/CNByzJg3q3/
`zfs list`: https://paste.ubuntu.com/p/kMGXDzsh2z/
`zfs list -t snapshot`: https://paste.ubuntu.com/p/XccyMJZq8x/

[2020-04-03 12:19] stiobhan commented on #7124
Another observation, this is fast:
[code]
But accessing the snapshots with e.g. `lxc query /1.0/instances/zulip/snapshots/2.0.4` takes around 10 seconds, _except_ for the last two, which I think I created with lxd 4.0.0. So does lxd store additional info now in the snapshot that needs to be retrieved in some other way if not present?

[2020-04-03 12:45] stgraber commented on #7125
Ok,  what happens if you do `mount -o loop /var/snap/lxd/common/disks/lxdpool.img /mnt` ?

[2020-04-03 12:49] stgraber commented on #7119
For containers we don't use acpi we signal the init system directly and we have clean shutdown test for all the images we publish

[2020-04-03 12:50] #7124 closed

[2020-04-03 15:23] TheCoder4eu commented on #7125
I get:
root@LXDH03 ~ # mount -v -o loop /var/snap/lxd/common/disks/lxdpool.img /mnt
mount: /mnt: failed to setup loop device for /var/snap/lxd/common/disks/lxdpool.img.

[2020-04-03 15:29] TheCoder4eu commented on #7125
Also:
root@LXDH03 ~ # losetup
NAME       SIZELIMIT OFFSET AUTOCLEAR RO BACK-FILE                                        DIO LOG-SEC
/dev/loop1         0      0         1  1 /var/lib/snapd/snaps/core_8935.snap                0     512
/dev/loop6         0      0         1  1 /var/lib/snapd/snaps/lxd_14194.snap                0     512
/dev/loop4         0      0         1  1 /var/lib/snapd/snaps/co

[2020-04-03 16:14] stgraber commented on #7125
Okay, so you're on a system with the old limit of 8 loop devices and they're currently all in use, causing this issue.

You could probably `mknod` a few more to get out of this.

[2020-04-03 16:15] stgraber commented on #7125
It's a bit odd though as 18.04 should have a working loop-control allowing for more of them to get created on demand...

[2020-04-03 16:15] stgraber commented on #7125
Closing as a plain mount call is failing too, so unrelated to LXD.
Is that a stock kernel?

[2020-04-03 16:15] #7125 closed

[2020-04-03 16:26] TheCoder4eu commented on #7125
Thank you very much Stéphane,

strange since I see:
root@LXDH03 ~ # ls -al /dev/loop*
brw-rw---- 1 root disk  7,   0 Apr  3 00:21 /dev/loop0
brw-rw---- 1 root disk  7,   1 Apr  3 00:21 /dev/loop1
brw-rw---- 1 root disk  7,   2 Apr  3 00:21 /dev/loop2
brw-rw---- 1 root disk  7,   3 Apr  3 00:21 /dev/loop3
brw-rw---- 1 root disk  7,   4 Apr  3 00:21 /dev/loop4
brw-rw---- 1 root disk  7,   5 Apr  3 0

[2020-04-03 16:59] stiobhan commented on #7124
Does that also fix the slow output for `lxc query ...` and `lxc info ...` I mentioned above?

[2020-04-03 17:05] TheCoder4eu commented on #7125
I had two storage pools, can I get rid or avoid to load this problematic one and use only the second pool to be able to start LXD ?

[2020-04-03 17:54] stgraber commented on #7125
Not particularly easily. Can you look at `dmesg` after a startup failure?

[2020-04-03 17:55] stgraber commented on #7125
It may still be a corruption issue after all, if it is, hopefully that will show it.

[2020-04-03 17:55] stgraber commented on #7125
If it's corruption, then `btrfs check /var/snap/lxd/common/lxd/disks/lxdpool.img` could help figure out what's going on.

[2020-04-03 17:57] stgraber commented on #7124
It will fix `lxc list` for sure, for the others, it should be a bit better because there will not be any attempt at mounting the pool, there's still a bit more work needed to optimize fetching the value, but those fixes may be good enough for most already.

[2020-04-03 21:14] #7126 closed

[2020-04-04 11:32] mt-caret opened #7133 "Cannot get rid of bad entry in raft_nodes"
# Required information

 * Distribution: Ubuntu
 * Distribution version:  18.04.4 LTS
 * The output of "lxc info" or if that fails:
   * suruga: https://gist.github.com/mt-caret/c1a1e64f834e6f24ca2f59052a9841f9
   * tsubasa: https://gist.github.com/mt-caret/e3b51138e8369d143a545c083904b480

# Issue description

This is a continuation of https://discuss.linuxcontainers.org/t/how-to-fix-only-having-

[2020-04-04 14:37] stgraber commented on #7133
@freeekanayaka

[2020-04-04 23:29] falstaff1288 opened #7135 "Unable to delete a VM because the filesystem is still in use [LVM storage backend]"
# Required information

 * Distribution: ArchLinux
 * Distribution version: latest (as of Apr 04 2020)
 * The output of "lxc info" or if that fails:
[code]

# Issue description
Getting the following error when trying to delete a VM:

[code]
More info about the storage
[code]

# Information to attach

 - [ ] Any relevant kernel output (`dmesg`)
 - [X] Container log
[code]
 - [X] Output of the daemo

[2020-04-04 23:53] stgraber commented on #7135
`grep containers_demo /proc/*/mountinfo` may help figure out what's keeping it busy

[2020-04-04 23:58] falstaff1288 commented on #7135
I'm getting an empty output from that command.

[code]

[2020-04-05 02:49] stgraber commented on #7135
Hmm, then I wonder why LVM thinks it's currently in use...

Try `grep demo /proc/*/mountinfo` maybe?

[2020-04-05 17:01] smahi opened #7136 "Image retrieval is too slow"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-21-generic
   * LXC version: 4.0.0
   * LXD version: 4.0.0
   * Storage backend in use: dir

# Issue description

Image retrieval is too slow even though the connection is good on my part.

# Steps to reproduce

 1. `$ lxc launch ubuntu:bionic`

[c

[2020-04-05 17:54] falstaff1288 commented on #7135
I've managed to delete the container this morning (EST timezone) simply with the command `lxc delete demo' and I'm not sure why it worked.

I'll just close this issue.

[2020-04-05 17:54] #7135 closed

[2020-04-05 19:56] foobazbar123 opened #7137 "LXD init fails to correctly parse hybrid network configs (v2&v1)"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-91-generic
   * LXC version: 4.0.0
   * LXD version: 4.0.0
   * Storage backend in use: Ceph

# Issue description

While attempting to "lxd init" a new cluster enabled host and create a Ceph remote storage pool, instead of creating the pool, this

[2020-04-06 01:46] stgraber commented on #7135
Okay so may have been either a kernel reference but that cleared or some process had an open fd which only got closed later...

Good that it looks like the error was accurate and things worked again once its source went away.

[2020-04-06 01:47] stgraber commented on #7136
Does 'images:ubuntu/bionic/cloud' download faster?

[2020-04-06 01:48] stgraber commented on #7136
You can go and download the two files by hand and import with lxc image import as an alternative indeed.

[2020-04-06 01:49] stgraber commented on #7137
@monstermunchkin can you take this one in the morning?

[2020-04-06 02:00] smahi commented on #7136
@stgraber thank you for the reply
Where can i go to get these files and what are their names ?

[2020-04-06 02:05] smahi commented on #7136
@stgraber
Yes `images:ubuntu/bionic/cloud` is faster

[2020-04-06 02:26] stgraber commented on #7136
You need a .squashfs and the matching .tar.xz for it.

You can manually find them at https://cloud-images.ubuntu.com

[2020-04-06 02:27] stgraber commented on #7136
Make sure to import as `lxc image import /path/to/lxd.tar.xz /path/to/img.squashfs` (tar.xz first)

[2020-04-06 02:27] stgraber commented on #7136
Closing as bad performance/rounting on cloud-images.ubuntu.com is sadly out of our control.

[2020-04-06 02:27] #7136 closed

[2020-04-06 07:16] s3rj1k commented on #7123
@tomponline I am curious, is `nictype: routed` has similar issue?

[2020-04-06 07:33] tomponline commented on #7123
@s3rj1k im not sure, although because with `routed` there is a 'proper' veth interface on the host side, we do add a static route to the container's IP via the container's host-side veth interface. So in that respect it is not a 'trick' to activate proxy ARP/NDP, but in fact a required static route to direct traffic.

[2020-04-06 08:26] smahi commented on #7136
@stgraber thank you so much

[2020-04-06 08:58] stiobhan commented on #7124
I would like to test this. Is it safe to install the snap from latest/edge, and then downgrade to 3.23/stable? Or is it in general not a good idea to downgrade from 4.0 to 3.23?

[2020-04-06 09:33] s3rj1k commented on #7123
@tomponline So if routed is added to veth interface this shouldn't be a problem for `routed` type.

Where you able to replicated the issue with `ipvlan`?

[2020-04-06 09:41] monstermunchkin commented on #7137
@foobazbar123 Would it be possible for you to share your `ceph.conf`? I'm unable to reproduce your issue. My `ceph.conf` is as follows:
[code]

[2020-04-06 10:33] freeekanayaka commented on #7133
I've pushed #7138 which should hopefully fix your problem.

[2020-04-06 11:15] mt-caret commented on #7133
Thank you!

[2020-04-06 12:19] stgraber commented on #7124
In general, assume that downgrades will not work. If any change had to be made to the database or on disk structure, LXD will refuse to start after a downgrade.

[2020-04-06 13:33] stiobhan commented on #7124
I tried the latest/edge snap (git-fcbba26) on a different machine, and indeed both `lxc list` and `lxc info CONTAINER` are as quick as they used to be. Any plans to push this to 4.0/stable any time soon?

[2020-04-06 13:43] stgraber commented on #7124
It's rolling out to stable now

[2020-04-06 13:57] stiobhan commented on #7124
Hi @stgraber @tomponline ! I just found the real issue, I think. I found it quite suspicious that commands like this:
[code]
took just slightly above 10 seconds as I mentioned here https://github.com/lxc/lxd/issues/7124#issuecomment-608296972

And as I mentioned here https://github.com/lxc/lxd/issues/7124#issuecomment-608402234 only the snapshots created with 4.0.0 have directories under `/var/sna

[2020-04-06 13:58] foobazbar123 commented on #7137
Unfortunately, in the meantime I needed a working cluster so downgraded to Nautilus which is working fine. I memory serves though, mine was very much like yours. However, my global section didn't have the auth bits yours mentions after the mon_host field. My mon_host field was identical to yours, I believe.

[2020-04-06 14:11] stgraber commented on #7124
Oh, yes, that could definitely be an issue :)

@tomponline can you send a branch to sort that out?
We either need a patch that creates all the missing bits one time or we need to have logic which creates the mountpoint if missing on mount.

[2020-04-06 14:12] monstermunchkin commented on #7137
That's odd. I tested it on both Nautilus and Octopus, and didn't get any error.

[2020-04-06 14:12] stgraber commented on #7137
Oh, could just be an issue of the ceph client version.

@foobazbar123 If you can get into a broken state easily enough, would you mind refreshing to `latest/beta` as that channel has a much more recent version of the ceph client.

[2020-04-06 14:13] stgraber commented on #7137
Our stable/candidate channels have Ceph 10.2.11, our edge/beta have 12.2.13

[2020-04-06 14:20] #7133 closed

[2020-04-06 14:25] tomponline commented on #7124
@stgraber will do

[2020-04-06 14:51] foobazbar123 commented on #7137
Getting into a broke state is probably easy enough. Getting back out would be less fun :D My Ceph is running on bare metal so can't just revert a snapshot.

That said, I suspect that you're probably right about the version difference in the client being likely the core issue. Especially if @monstermunchkin is using latest/beta since I definitely wasn't using it

[2020-04-06 14:57] rafaeldtinoco opened #7143 "newly-created virtual machine won't get an IP"
# Required information

 * Distribution: Ubuntu Eoan
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.3.0-46-generic
   * LXC version:
   * LXD version: 4.0.0 (14270)
   * Storage backend in use: dir

# Issue description

Everything works but 2 things happen:

1) initial qemu boot panics not finding root device
2) the second boot works but the OS won't

[2020-04-06 15:13] stgraber commented on #7143
The panic is "normal" in that some of the images try to boot initrd-less and fail, they then auto-reboot.

[2020-04-06 15:14] stgraber commented on #7143
What's in `vmdefault`?

[2020-04-06 16:07] stgraber commented on #7137
Ok, let's assume that's the issue for now then.
The error is coming from the ceph command line tool, so that's unlikely to be LXD's fault.

I'm working on fixing a number of issues with the snap ahead of moving everyone onto the new base including the new ceph release, so should just be a matter of days or a couple weeks at worst.

[2020-04-06 17:13] smahi opened #7145 "Error: Invalid devices: Invalid device configuration key for proxy: proxy_protocol"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version:  4.15.0-91-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: btrfs

# Issue description

Can not set `proxy` device key `proxy_protocol` to true, i am getting the following error

`Error: Invalid devices: Invalid device

[2020-04-06 17:14] stgraber commented on #7145
You're on 3.0.3, this is a feature which was introduced in later releases.

[2020-04-06 17:14] #7145 closed

[2020-04-06 17:15] smahi commented on #7145
@stgraber sorry i did not know.
Thank you for your help.

[2020-04-06 17:24] rafaeldtinoco commented on #7143
So, testing Eoan images from stable image repository had the same issue. I have tried with the "default" profile (zeroed) and the same thing (to discard vmdefault profile).

So currently I have reinstalled LXD from the ground, with no profile, created a network like:

rafaeldtinoco@workstation:~$ lxc network show lxdbr0
config:
  ipv4.address: 10.250.97.1/24
  ipv4.dhcp: "true"
  ipv4.dhcp.gateway

[2020-04-06 17:57] stgraber commented on #7143
Can you try the image I asked you about above please?

[2020-04-06 17:58] stgraber commented on #7143
The Ubuntu images require a `cloud-init:config` disk be attached to function, with it attached, they should work fine, though they will do that panic+reboot thing.

[2020-04-06 18:03] stgraber commented on #7143
[code]

So behaving as expected here, it does require the `cloud-init:config` drive, the images coming from `images:` do not as we have the LXD agent in those. Newer focal image eventually will not need that either.

[2020-04-06 18:11] rafaeldtinoco commented on #7143
Okay,

IF I add the config device cloud-init works and does what is expected I suppose:

rafaeldtinoco@workstation:~$ lxc list
+-------------+---------+------------------------+------+-----------------+-----------+
|    NAME     |  STATE  |          IPV4          | IPV6 |      TYPE       | SNAPSHOTS |
+-------------+---------+------------------------+------+-----------------+-----------+
| focal-c

[2020-04-06 18:16] rafaeldtinoco commented on #7143
Here is the summary:

1) Initial panic happens with and without adding a cloud-init config disk.

2) Without adding a config-disk I get no cloud-init configured and image:

[FAILED] Failed to start OpenBSD Secure Shell server.

fails to start ssh because the lack of no IP configured (lxc list shows no IP)

3) After adding the config-disk:

[    1.357756] VFS: Cannot open root device "PARTUUID=de12

[2020-04-06 18:19] rafaeldtinoco commented on #7143
And sorry I just read

"the images coming from images: do not as we have the LXD agent in those"

now. Will give it a try.

[2020-04-06 18:26] rafaeldtinoco commented on #7143
Final summary (I suppose)

Ok.. the image images:ubuntu/focal got an IP:

| vmfocal     | RUNNING | 10.250.97.253 (enp5s0) |      | VIRTUAL-MACHINE | 0
|

had the agent (lxc shell worked) but had no cloud-init run.

Images from ubuntu-daily had to have:

lxc config device add focal-cloud config disk source=cloud-init:config

and then they had cloud-init run and lxd agent was installed and worked (

[2020-04-06 21:58] stgraber commented on #7143
Yeah, you may want to use `images:ubuntu/focal/cloud` as an image that has the agent, doesn't need the config drive but does have cloud-init support.

The official focal image should get on par with that soon though, so that will be nice to see.

[2020-04-07 04:07] rafaeldtinoco opened #7148 "Nested VM can't start due to vhost-vsock issue"
# Required information

 * Distribution: Ubuntu Focal
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-18-generic
   * LXC version: latest
   * LXD version: 4.0.0 (rev: 14270)
   * Storage backend in use: ZFS

# Issue description

I'm creating a nested LXD environment to run virtual machines. It looks good until I tried to launch the VM - in the nes

[2020-04-07 07:52] tomponline commented on #7148
@rafaeldtinoco can you show the output of `lsmod | grep vsock` please, it may be there is a conflicting vsock module loaded already.

[2020-04-07 12:53] stgraber commented on #7148
So I'm not sure that we can actually nest vsock properly.

[2020-04-07 13:44] zyga opened #7149 "Offer a way to sort "lxc list" numerically"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-91-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: directory

# Issue description

I have a number of containers with a common prefix and a number, e.g. foo-42. I would love if `lxc list` sorted the list numeri

[2020-04-07 13:59] brauner commented on #7148
You likely want what's been merged in November:

[code]

[2020-04-07 14:03] Saviq opened #7150 "DHCP blocked on Fedora Rawhide"
# Required information

 * Distribution: Fedora
 * Distribution version: Rawhide
 * The output of "lxc info": [lxd.info.txt](https://github.com/lxc/lxd/files/4444850/lxd.info.txt)

# Issue description

Container get no addresses from DHCP on Fedora Rawhide Workstation.

# Steps to reproduce

 1. Install Fedora from [the latest iso](https://dl.fedoraproject.org/pub/fedora/linux/development/rawhide/

[2020-04-07 14:04] Saviq commented on #7150
As a workaround: `sudo systemctl stop firewalld` makes it work again.

[2020-04-07 14:40] stgraber commented on #7150
@tomponline want to take a stab at that one?

Probably can be done with a LXD VM of Fedora 31 and enabling firewalld in there.

It'd be interesting to see exactly what's blocking us and whether we can tweak our default firewall rules in LXD managed networks to allow traffic through in such cases.

If not possible, we should at least add a documentation paragraph on needed firewalld config to make

[2020-04-07 14:41] stgraber commented on #7148
Ah yeah, we'd indeed need that for nesting ^

@brauner is that a reasonably sized patch which we could convince @sforshee to include in the Ubuntu kernel?

[2020-04-07 14:41] stgraber commented on #7148
Closing because it's a kernel limitation.

[2020-04-07 14:41] #7148 closed

[2020-04-07 14:47] stgraber commented on #7149
@zyga do you know of a Go sorter which does that?

[2020-04-07 14:49] zyga commented on #7149
I do not. I think coreutils `sort` has `-n` with similar semantics though.

[2020-04-07 15:08] tomponline commented on #7150
@stgraber yep will take a look

[2020-04-07 16:16] stgraber commented on #7149
https://stackoverflow.com/questions/18355338/alphanumeric-sorting-in-go looks like a good starting point. I'll play with integrating this with SortByName which we use for those columns already.

[2020-04-07 18:01] s3rj1k opened #7152 "Nictype: routed broken on multiple VLANs setup"
Issue is similar to this one https://github.com/lxc/lxd/issues/7123

Multiple VLANs setup like (`ip a`):
[code]

On container start interface is created:
[code]

Container IP is `192.168.127.81`.

To actually get a working network on container, this command must be run:
`ip route add local 192.168.127.81/32 dev vethae8770ca`

This is also an ProxyARP issue as with https://github.com/lxc/lxd/issues

[2020-04-07 18:02] s3rj1k commented on #7152
@tomponline Can you please look at this?

[2020-04-07 18:03] s3rj1k commented on #7123
Similar issue with `nictype: routed` https://github.com/lxc/lxd/issues/7152

[2020-04-07 19:48] brauner commented on #7148
That's a pretty huge patch tbh.

[2020-04-07 22:52] ltrager opened #7153 "LXD Host Info doesn't contain operating system information"
When MAAS adds an LXD host it scans and models its resources as a Machine. LXD does not provide the operating system LXD is running on. The MAAS UI currently prominently displays the operating system for deployed machines leaving LXD hosts blank.

* Can this information be added to the GET /1.0 endpoint?
* Is it possible to get the true operating system the LXD Snap is running in and not the Ubunt

[2020-04-08 01:39] stgraber commented on #7149
[code]

[2020-04-08 05:56] #7153 closed

[2020-04-08 05:56] #7149 closed

[2020-04-08 06:51] patrick330602 opened #7157 "Upgrading to 20.04 Attempts to Install LXD via Snap Store"
Originally reported at:
  https://bugs.launchpad.net/bugs/1862550
# Issue description

Upgrading to 20.04 attempts to install LXD via snap which fails on WSL.
The WSL instance is unable to reach the snap store.
snap is not currently supported on WSL.

# Steps to reproduce

1. Enable and Install WSL on a Windows 10 Insider Preview machine;
2. Import Ubuntu 18.04 Image using the following method: <h

[2020-04-08 09:00] tomponline commented on #7123
@s3rj1k not yet, I need to spend some time trying to replicate it by first setting up a trunked VLAN setup locally, as I do not have one running normally.

[2020-04-08 09:04] tomponline commented on #7152
@s3rj1k please could you open a separate issue for the improvements you suggested, along with use cases explaining what you are aiming to use them for? That way they won't get lost if we close this card for the primary issue reported. Thanks

Now, with the issue in question. I need to test this using VLANs like #7123 as really proxy ARP should work as normal with them, but it maybe the kernel is n

[2020-04-08 09:32] tomponline commented on #7150
Looking at this now.

[2020-04-08 10:30] tomponline commented on #7150
@stgraber @Saviq so the issue with firewalld blocking inbound DHCP requests to the LXD bridge is caused by this section:

[code]

Despite the fact that LXD adds its DHCP allow rules as priority 0 (filter), which is a 'higher' priority than 10 (filter + 10) that firewalld's chain uses, nftables requires that all chains accept a packet before it is actually accepted. Whereas a single reject/drop wil

[2020-04-08 10:54] tomponline commented on #7150
Running the following command appears to work persistently (including after reboots).

[code]

[2020-04-08 12:01] #7150 closed

[2020-04-08 13:08] stgraber commented on #7157
Closing as not a LXD issue, this is a distro/packaging issue unrelated to LXD itself.

All users on Ubuntu 18.04 will upgrade to the snap upon moving to 20.04, this logic has been in place since 18.10.

The skip option can be used by users that have never used LXD before which includes upgrading WSL1 users, selecting that option should get your upgrade going.

[2020-04-08 13:08] #7157 closed

[2020-04-08 14:41] tomponline commented on #7152
@s3rj1k I did some testing on this today, here is my setup:

On LXD host:

Create an VLAN interface called `enp4s0f0.100`
[code]

[2020-04-08 19:43] s3rj1k commented on #7152
@tomponline About local routes you can check this great article:
https://alexaf.gitlab.io/posts/arp_proxy_going_rogue_pt1/
local routes are needed for non-local IPs it just does not work without them

[2020-04-08 19:45] s3rj1k commented on #7152
@tomponline I'll do other issues them this main problem gets solved, as in this current state LXD is unusable for my setup and this is sad :(

[2020-04-08 19:50] s3rj1k commented on #7152
@tomponline

[code]

My IPs are from same subnets, you can see in original example.

`192.168.` prefix is used to hide real IP networks from public, I am actually using none private IP address block for tests.

[2020-04-08 19:52] s3rj1k commented on #7152
@tomponline I can give you access to a server instance with this setup if needed.

[2020-04-08 20:30] amd3963 opened #7161 "off-line container creation fails with "Error: Configure instance: Failed to render instance metadata: Get container stated: allocating the container failed""
# Required information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description

A brief description of the problem. Should include what you were
attempting to do, what you did, what happened and what you expected to
see happen.

# Steps to reproduce

 1. Step

[2020-04-08 20:36] amd3963 commented on #7161
Running on CentOS 7.7 (CentOS Linux release 7.7.1908 (Core))
The output of "lxc info"
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_ti

[2020-04-08 20:41] s3rj1k commented on #7152
@tomponline To replicate issue please add another VLAN to your setup and check that IP from this VLAN **is not in default route network**

Also check your email please :)

[2020-04-08 20:59] stgraber commented on #7161
Error is coming from low level LXC, not from LXD.
Can you try: `lxc init test --empty` see if that also fails?

Where did LXD come from? snap, external RPM or hand built?

[2020-04-08 21:11] amd3963 commented on #7161
# lxc init test --empty
Creating test
LXD came from using snap, we installed it using the following:

On a machine with internet access:
# snap download core
# snap download lxd

On off-line server:
# snap ack /data/lxd/core_8935.assert
# snap install /data/lxd/core_8935.snap
# snap ack /data/lxd/lxd_14270.assert
# snap install /data/lxd/lxd_14270.snap

[2020-04-08 21:48] stgraber commented on #7161
Ok and where did your image come from?

The fact that `lxc init --empty` succeeds when your image doesn't is a bit suspicious.

[2020-04-08 21:49] stgraber commented on #7161
Also check if you got lucky enough to get a `/var/snap/lxd/common/lxd/logs/alextest2/lxc.log` file.

[2020-04-08 21:54] amd3963 commented on #7161
Sorry about the giant font earlier. :)
Got image from:  https://us.images.linuxcontainers.org/images/centos/7/amd64/default/20200402_07:08/
It did not have a metadata.yaml, so I created one with just 2 lines in it and re-created the tar.

We do not have the exact log file you listed above, we do have:
# pwd
/var/snap/lxd/common/lxd/logs
# ll
total 28
-rw-r--r-- 1 root root 5528 Apr  8 21:21 lxd.lo

[2020-04-08 21:56] stgraber commented on #7161
ah, that's probably the issue.

You want:
 - https://us.images.linuxcontainers.org/images/centos/7/amd64/default/20200402_07:08/lxd.tar.xz
 - https://us.images.linuxcontainers.org/images/centos/7/amd64/default/20200402_07:08/rootfs.squashfs

Download those two and then pass them as `lxc image import lxd.tar.xz rootfs.squashfs --alias blah`

You can also use the tar.xz for the rootfs if you prefer,

[2020-04-08 22:11] amd3963 commented on #7161
THANK YOU SO MUCH!!  That did it.
On a second note can you direct us to instructions to customize container disk size and memory and cpu?  If you prefer, I would gladly start a new issue thread.

Thanks again, you are my hero.

[2020-04-08 22:20] sirredbeard commented on #7157
It would be nice if there was a way to suppress this message, to make the upgrade from 18.04 to 20.04 on WSL smoother. Any suggestions?

[2020-04-09 01:54] stgraber commented on #7161
For support questions https://discuss.linuxcontainers.org is usually a better spot.

For resource limits, your best bet is a custom profile that you can select at creation time or apply later, set `limits.cpu`, `limits.memory`, ...

[2020-04-09 01:54] #7161 closed

[2020-04-09 08:10] s3rj1k commented on #7152
Ok, preliminarily tests show that issue occurs then policy routing is set to routed 2-nd VLAN network space through proper VLAN interface.
In this setup kernel does not know that it has to do ARP for 2-nd VLAN network on none-default gateway interface.

This is how Policy Routing is set up to replicated this issue:
[code]

[2020-04-09 08:13] isolin opened #7162 "Graphics acceleration fails with the nvidia-340 driver"
# Required information

 * Distribution: Ubuntu Server
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-91-generic
   * LXC version: 4.0.0
   * LXD version: 3.23
   * Storage backend in use: zfs

[code]

# Issue description

Any container with `nvidia.runtime` and `display` capability enabled fails to start. A problem in creating a `cgroup` r

[2020-04-09 14:40] s3rj1k opened #7164 "Wrong dirrectory quota set for CTs when quota value undefined"
[code]

[code]
[code]
[code]

[code]

[code]

[code]

[code]

[code]

[code]

 - Issue: When CT created with back-end storage `Dir` and with quota enable for backing file system and **without** setting quota value, disk quota inside that CT defaults to 8GiB.

- What should be instead: Disk quota for CT with unset quota value should be equal to disk size of backing file system or be insanely large

[2020-04-09 14:43] tomponline commented on #7152
Confirmed using 2 VLANs without default gateway works OK:

LXD host trunk port and 2 VLAN interfaces (100 and 101):

[code]

Two containers:

[code]

[code]

[code]

On another host on the connect with a trunk port:

[code]

[code]

Tests from remote host:

[code]

[code]

I'm not that familiar with policy routing, how would you expect the proxy ARP to use the multiple routing tables?

[2020-04-09 14:51] stgraber commented on #7164
Can you show `lxc config show --expanded test2`?

[2020-04-09 14:51] stgraber commented on #7164
And `lxc storage show default` too?

[2020-04-09 14:56] tomponline commented on #7123
Tested two containers running with an IPVLAN interface each, connected to two different VLANs over same trunk port.

LXD host trunk port and 2 VLAN interfaces (100 and 101):

[code]

Two containers:

[code]

[code]

[code]

On another host on the connect with a trunk port:

[code]

[code]

Tests from remote host:

[code]

[code]

Seems to work OK without local routes (just the static routes to lo

[2020-04-09 14:58] s3rj1k commented on #7164
@stgraber

[code]

[code]

[2020-04-09 15:20] s3rj1k commented on #7152
@tomponline Policy routing is need for fixing issue when CT will answer from default gateway interface instead of the interface that has respected network (of CT) defined to it.

How you can check:
 - start `tcpdump -ni eth0.100 icmp`
 - start `tcpdump -ni eth0.101 icmp`
 - `ping 10.0.1.3`
 - `ping 10.0.0.3`

What you want to see in this tcpdumps, that request and response of each ping are on same

[2020-04-09 15:23] s3rj1k commented on #7123
@tomponline Same issue as with ticked about routed setup, please do test with public IPs.

I've prepared a lab for this, you can check it out and see what I am talking about.

[2020-04-09 15:24] s3rj1k commented on #7123
Also you do not have policy routing set, refer to other issue, I tried to explain why it is needed as best as I can.

[2020-04-09 15:26] s3rj1k commented on #7123
I would hope for native fix for this issue, after all this effort to bring `ipvlan` support I would hate to fix this route problem by write custom lxc hook, thanks.

[2020-04-09 15:27] tomponline commented on #7123
@s3rj1k ok so to summarise, proxy arp is not working when using policy routing?

[2020-04-09 15:29] s3rj1k commented on #7123
@tomponline I actually did not check without policy routing, as this setup is incorrect, I can check this now and report in few minutes.

[2020-04-09 15:32] tomponline commented on #7152
@s3rj1k yes I see what you mean I think (trying to ping the remote host between subnets doesn't work) as it doesn't route to the default gateway but instead tries to resolve ARP locally over the vlan interface.

[2020-04-09 15:38] tomponline commented on #7123
@s3rj1k also are you able to test whether adding static routes to the gateway back to the container IPs (down the correct vlan interface) works with policy routing in place. This would effectively bypass the need for proxy ARP and just deliver the packets directly to the interface.

[2020-04-09 15:38] stgraber commented on #7164
Thanks.

@tomponline is that something you can take a quick look at? Should be a pretty straightforward fix.

[2020-04-09 15:39] tomponline commented on #7164
@stgraber yep will take a look, not sure where the hard coded 8GiB would be though, seems an odd value.

[2020-04-09 15:40] stgraber commented on #7164
@tomponline my guess would be 10GB in GiB or something like that

[2020-04-09 15:44] tomponline commented on #7164
@stgraber mmm true.

[2020-04-09 16:04] s3rj1k commented on #7123
@tomponline As expected, without policy routing same effect, network does not work for CTs that have none default network.

Did you mean adding static ARP record?

[2020-04-09 16:10] tomponline commented on #7123
@s3rj1k im still a bit confused, I expect the cross-subnet pinging to not work, but normal same-subnet pinging works here in my local setup. Is that what you tested (lets discount cross-subnet pinging for now). Can you clarify what you tested when it doesn't work? Thanks

Regarding the static routes, I meant add a static route on the gateway for the container's IP destined for the IP of the host i

[2020-04-09 16:17] s3rj1k commented on #7123
@tomponline I was testing network connectivity, pinging CT from some remote host and pinging 1.1.1.1 from CT.

Adding static ARP records on GW enables network connectivity, bypasses proxy_arp, but this is obviously not a solution. :)

[2020-04-09 16:37] s3rj1k commented on #7123
@tomponline

adding static route from border gateway (hardware box) to VLAN interface on LXD node as expected creates network connectivity for CTs in question, but this solution can not be used in production environment.

manually adding static routes on border gateway for a fleet of LXD servers is like using /etc/hosts as a DNS resolver

[2020-04-09 16:57] tomponline commented on #7123
@s3rj1k out of interest, have you tried adding a static route to the lo interface for the container's IP in the additional routing tables,

e.g.

[code]

In case the proxy arp logic is looking at a different routing table based on the inbound rules.

[2020-04-09 17:02] s3rj1k commented on #7123
@tomponline
[code]

Just tried that, appears to also work.

[2020-04-09 17:16] tomponline commented on #7123
Excellent, thats our way forward then. Potentially a config key like vlan, that assigns the containers nic to a routing table id

[2020-04-09 17:25] s3rj1k commented on #7123
@tomponline I am all for it as long as it will work with preconfigured VLAN interface and policy routing rules.

I can test this changes locally, I assume that this will be done in LXD only?

[2020-04-10 14:32] stgraber commented on #7162
Reproduced the issue and the fix is pretty straightforward.

`apt install libcuda1-340`

I looked at possibly having LXD run a test command of `nvidia-container-cli` to detect such cases, but it's output is rather useless in such cases and not any clearer than what we already show unfortunately.

[2020-04-10 14:32] #7162 closed

[2020-04-11 02:28] Mar-Veloz opened #7172 "`lxd init` printed preseed YAML incorrectly marks default lxdbr0 bridge as unmanaged"
# Required information

I just tested this on a freshly-installed Ubuntu 18.04 LTS system. LXD is version 3.0.3, installed via `apt`.

`lxc info` output:
[code]

# Issue description

When `lxd init` prints the preseed YAML as a result of a "yes" response to the last question, the generated YAML incorrectly labels the `lxdbr0` bridge as unmanaged. Should be extremely easy to reproduce. Sample outpu

[2020-04-11 18:02] #7172 closed

[2020-04-12 01:24] simondeziel opened #7174 "read-only recursive mounts are mounted rw"
#Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

The host has the follow zfs structure:

[code]

Adding this config snippet to a container:

[code]

Should result in /data and its descendants to be mounted read-only in the container. The problem is that only /data is ro and the descendants are r

[2020-04-12 01:51] stgraber commented on #7174
So you get the right behavior when restarting the container?

[2020-04-12 06:37] rafaeldtinoco opened #7175 "LXD VM: Multiple PCIe slots per PCIe Device Types"
# Required information

 * Distribution: Ubuntu 19.10

[code]

# Issue description

Having up to 4 network interfaces in a profile used by a virtual machine:

[code]

If I declare more network interfaces in the same profile:

[code]

# Steps to reproduce

[code]

lxc profile edit <profile> < profile.yaml

# Information to attach

ERROR: Property 'pcie-root-port.addr' doesn't take value '0x2.0x8'

[2020-04-12 13:57] pbrkr commented on #7157
This sadly makes lxd unusable for us as snaps are banned in our organisation. lxd is used as the base of all our containers and so we need control over how it is updated, this doesn't seem to be possible with snap (e.g. https://askubuntu.com/questions/1131182/how-can-i-disable-automatic-update-for-a-single-snap-in-ubuntu).

Please re-think this.

[2020-04-12 14:14] turtle0x1 opened #7176 "Renaming an instance with a backup breaks backup API"
If you do the following on LXD 4.0.0;

 - Create a container
 - Create a backup
 - Rename container
 - Get `/instances/NEW_CONTAINER_NAME/backups`
    - This works fine shows the backups
 -  Get `/instances/NEW_CONTAINER_NAME/backups/BACKUP_NAME`
     - Not found

You have to rename the container back to its original name to access the backup info (just changing instance name in the URL doesn't wo

[2020-04-12 14:22] simondeziel commented on #7174
No, the behavior is always wrong when `/data` is recursively attached.

[2020-04-12 15:25] stgraber commented on #7175
@tomponline can you take this one?

[2020-04-12 17:13] stgraber commented on #7174
@brauner can you look at this since apparently both LXD and liblxc are wrong...

[2020-04-12 17:23] stgraber commented on #7176
@monstermunchkin Can you fix this please?

[2020-04-12 17:25] stgraber commented on #7174
Closing as after discussing with Christian, this is a kernel bug and we effectively need a new syscall for this. Once we do we can make this behave appropriately.

[2020-04-12 17:26] stgraber commented on #7174
Actually, let's add a check that bans recursive + readonly at the same time.

[2020-04-12 17:32] tomponline commented on #7175
Yep will take a look

[2020-04-13 05:50] MemoWalk opened #7178 "Shared Device via ID remap > add to lxd-FAQ?"
# Required information

not applicable

# Issue description

On the lxd FAQ at https://linuxcontainers.org/lxd/docs/master/#faq under the heading _Can I bind mount my home directory in a container?_ there is only one solution listed, i.e. via creating a privileged container.

# solution proposal

1. There is not mentioned, that on a privileged container the files created in the container are creat

[2020-04-13 06:32] #7174 closed

[2020-04-13 06:41] MemoWalk opened #7179 "No id remapping when changing idmap config on privileged containers"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 LTS
 * The output of "lxc info"
   * Kernel version: 4.15.0-1079-oem
   * LXC version: lxc 3.0.3
   * LXD version: lxd 3.0.3 (lxd --version)
   * Storage backend in use: dir / storage_version "1"
   * config: {}

# Issue description

Not sure if this is an issue or intended.

Intention: create shared device disk with re

[2020-04-13 15:26] stgraber commented on #7179
Privileged containers do not use the user namespace so cannot have uid/gid remapped.

[2020-04-13 19:38] rafaeldtinoco opened #7180 "LXD VM: cloud images for VIRTUAL MACHINES should use ClientIdentifier=mac"
# Required information

Ubuntu Eoan

[code]

# Issue description

After cloning a VM I ended up having the same IP address for the cloned VM:

[code]

# Steps to reproduce

Clone a VM and make sure netplan io is configured with DHCP4 for a single interface, for example.

first machine

[code]

[code]

second machine

[code]

[code]

# Information to attach

I believe that both machines ended up wi

[2020-04-13 21:16] s3rj1k commented on #7123
@tomponline Any updates on this?

[2020-04-13 22:28] isolin commented on #7162
Thank you very much for the quick response. I checked your solution, however only partially and without success. I have 2 old machines:

-  In one of them there is a `GeForce 8800 GT` and the 340 driver. `libcuda1-340` was already installed so no change there... still getting the same error. Can it be that other packages are missing?
- The second had a GTX 480 inside which passed away two weeks ag

[2020-04-13 22:35] stgraber commented on #7162
You can try manually running the tool with something like this:

[code]

This may give you a relevant error.

[2020-04-13 23:01] stgraber commented on #7179
I think the only real action here is to update the documentation to make it clear than this only applies to unprivileged containers.

[2020-04-13 23:04] stgraber commented on #7119
@itoffshore is this still happening?

[2020-04-13 23:05] stgraber commented on #7101
@freeekanayaka did any fix for this made it in raft?

[2020-04-14 01:28] simondeziel opened #7181 "Apparmor profile for qemu"
It would be nice to have `dnsmasq` confined by an Apparmor profile.

Here is the profile I've been using since using lxd from the snap:

[code]

Since I started using it, it only required 1 modification recently (allow `mr` on the .so provided by the snap) so it should be fairly low maintenance for the lxd team.

[2020-04-14 08:31] tomponline commented on #7123
@s3rj1k no change since last week as have been on Easter break. Will pick this up in due course.

[2020-04-14 10:08] tomponline opened #7184 "Add support for ceph rbd/fs disk source for VMs"
Based on discussion here https://discuss.linuxcontainers.org/t/attach-additional-raw-rbd-device-to-vm/7366

Add support for existing ceph rbd/fs when specifying a disk to add to a VM.

Using either the Qemu built in ceph support, or mapping the RBD volume and then passing as a raw block device.

[2020-04-14 13:22] #7176 closed

[2020-04-14 17:10] #7178 closed

[2020-04-14 17:10] #7179 closed

[2020-04-14 17:16] itoffshore commented on #7119
@stgraber - the problem fixed itself after a reboot the same as for the [original LXD forum user](https://discuss.linuxcontainers.org/t/failed-to-mount-zfs-filesystem-filesystem-already-mounted/6268)

[2020-04-14 17:35] stgraber commented on #7119
Weird. Hopefully the recent mount table tweaks in the snap will help prevent this from happening again.

If someone else hits this, please let us know.

[2020-04-14 20:34] stgraber commented on #7101
Opened a bug over at raft, closing the LXD side of it.

[2020-04-14 20:34] #7101 closed

[2020-04-14 20:55] stgraber opened #7187 "Make `lxd-agent` buildable statically"
We've run into a few issues because of our cgo use in the agent.
This has caused some weird stability issues when run on CentOS 7.

It's also preventing us from shipping Alpine images as our agent is built with glibc rather than musl.
And lastly, we'll want the agent to also be runnable on non-Linux.

There were a number of blockers, a couple of which I already took care of, the current remaining

[2020-04-14 21:16] stgraber commented on #6661
Ok, so we definitely have a bug upgrading from 2.0 to 4.0 when we have a raw.lxc key set somehow.

[2020-04-14 23:01] ltrager opened #7188 "Provide virtuality on the host_info endpoint."
MAAS currently collects whether or not a machine is running in a container or is a virtual machine using systemd-detect-virt during commissioning. If this information is made available via the LXD API MAAS will be able to display this information for LXD Pods.

Note: Running systemd-detect-virt shows lxc whenever running in a Snap. LXD should only show true if the host operating system is running

[2020-04-14 23:12] ltrager opened #7189 "Resources endpoint does not provide mainboard and system information"
[MAAS is still relying on lshw to gather mainboard information.](https://git.launchpad.net/maas/tree/src/metadataserver/builtin_scripts/hooks.py#n364) The following items are missing:

* System UUID
* System vendor
* System product
* System version
* System serial
* Mainboard vendor
* Mainboard product
* Mainboard version(BIOS/UEFI firmware version)
* Mainboard date(BIOS/UEFI firmware release date

[2020-04-15 00:07] stgraber commented on #7188
I'm not really sure why you care. For pods you already know their types through the LXD API.
So I guess it's about saving you one command during commissioning which I guess is ok.

I think we'll fold that into #7189 though.

[2020-04-15 00:07] #7188 closed

[2020-04-15 00:17] ltrager commented on #7189
What I mean by virtuality is whether or not the machine running LXD is a virtual machine/container. This would allow MAAS to know if composed machines are actually nested virtual machines or not.

So lets say I setup LXD in a VMware virtual machine. I then add that LXD to MAAS as a new Pod. virtuality would be True.

[2020-04-15 00:30] stgraber commented on #7189
Adding a new `system` section in the resources API seems reasonable for this.

[code]

[2020-04-15 00:36] stgraber commented on #7189
Note that we need to be resilient to:
 - Any of those files being missing (return empty)
 - /sys/class/dmi itself being missing (will be the case on any non-x86/non-arm64 effectively)
 - systemd-detect-virt not existing or failing

We also need to cache the result of systemd-detect-virt. The rest of the files are cheap to read so we can just parse again (will avoid issues if SMBIOS is temporarily

[2020-04-15 00:37] stgraber commented on #7189
@monstermunchkin can you start with this tomorrow please?

[2020-04-15 00:37] stgraber commented on #7189
@ltrager does that cover everything you need? ^

[2020-04-15 00:57] stgraber commented on #6661
Reproduced the initial issue with this and sorted out a fix for it.

[2020-04-15 01:39] rafaeldtinoco opened #7191 "LXD VM: arm64 virtual machine stuck in UEFI"
# Required information

Ubuntu Eoan

[code]

# Issue description

The just created VM won't pass UEFI menu.

# Steps to reproduce

$ lxc image ubuntu-daily:focal arm64 --vm

$ lxc console arm64

[code]

$ lxc init images:ubuntu/focal arm64vm --vm

$ lxc console arm64vm

[code]

# Information to attach

Machine: SynQuacer E-series DeveloperBox
https://www.96boards.org/product/developerbox/

[2020-04-15 01:44] rafaeldtinoco commented on #7191
I'm using the following XML files for this machine:

https://github.com/rafaeldtinoco/technical/blob/master/notes/qemu/xmls/qemu-arm64-guest.xml

and

https://github.com/rafaeldtinoco/technical/blob/master/notes/qemu/xmls/qemu-armhf-guest.xml

Note that I'm using the following 2 cpu types:

for arm64:

    <model fallback='allow'>cortex-a53</model>

and

for armhf:

    <model fallback='allow'>cor

[2020-04-15 02:13] stgraber commented on #7191
It's normal, most images for arm64 don't have working secureboot, Ubuntu is the closest to having it work but just not quite.

Set `security.secureboot=false` and it should boot just fine (does here on various generation of arm64 anyway).

[code]

The `Access Denied` is the firmware's way to tell you that the distro's binary aren't signed by Microsoft, not exactly the best message but not much we

[2020-04-15 02:13] #7191 closed

[2020-04-15 02:26] rafaeldtinoco commented on #7191
It worked smoothly now! Thank you Stéphane!

[2020-04-15 02:41] stgraber commented on #7189
@monstermunchkin let's use `resources_system` for the API extension.

[2020-04-15 04:41] #6661 closed

[2020-04-15 08:16] tomponline commented on #7152
@s3rj1k I've re-created this issue in my environment.

Confirmed that proxy ARP doesn't take effect without adding a static route for the container into the custom routing table:

[code]

[code]
[code]

We can also see the ARP resolution attempts (and no replies) from the remote node on the LXD node's VLAN interface:

[code]

Ping from remote node on VLAN 100 fails in this case.

But adding a stat

[2020-04-15 10:15] s3rj1k commented on #7152
@tomponline This https://github.com/lxc/lxd/pull/7192 should also help with `ipvlan` https://github.com/lxc/lxd/issues/7123

And Yay !

Thanks @tomponline, @stgraber

[2020-04-15 11:07] tomponline commented on #7123
I've re-created this issue and have added PR to fix it. Interestingly the static route to the `lo` device was only needed to be added to the custom routing table to trigger proxy ARP for IPv4. IPv6 addresses seemed to trigger proxy NDP without needing it. However what apparently happens is that proxy NDP sees the wider /64 route I added manually as sufficient to activate the proxy NDP response.

F

[2020-04-15 14:45] s3rj1k commented on #7123
@tomponline Waiting this in master to confirm

[2020-04-15 15:26] #7152 closed

[2020-04-15 16:23] #7123 closed

[2020-04-15 16:58] #6964 closed

[2020-04-15 18:35] #7189 closed

[2020-04-15 18:39] ltrager commented on #7189
Looks great! Thanks for adding this!

[2020-04-15 20:29] mhansi12 opened #7199 "Ubuntu 20.04(beta): LXD 4.0 on ZFS dataset does not start after first reboot following the installation"
# Environment:

Distributor ID: Ubuntu
Description:    Ubuntu Focal Fossa (development branch)
Release:        20.04
Codename:       focal
 * The output of "lxc info" fails:
   * Kernel version: 5.4.0-21
   * LXC version:4.0.0
   * LXD version: Build 14594
   * Storage backend in use:  ZFS
installed snap :
snap    2.44.3+20.04
snapd   2.44.3+20.04
series  16

~# apt policy lxd
lxd:
  Installed: 1:

[2020-04-15 20:37] stgraber commented on #7199
[code]

This is a snapd error, not a LXD one.

[2020-04-15 21:00] mhansi12 commented on #7199
thank you for your fast response,
OK, where should I look next ? Any ideas ?

[2020-04-15 21:06] stgraber commented on #7199
https://launchpad.net/ubuntu/+source/snapd/+filebug
https://forum.snapcraft.io

Would be the two best spots to report this. The issue appears to be that the snap isn't mounted on your system.

`systemctl --failed` may be useful, assuming there are some failures in there.
The `journalctl -b0` output may help them too.

[2020-04-15 21:06] #7199 closed

[2020-04-15 21:14] mhansi12 commented on #7199
In the meantime  I have installed  a test with Ubuntu 20.04 Desktop with ZFS and same settings during LXD init. lxd works there also after reboot.
I will compare - you can close the issue.

from failing system:  journalctl -b0
(what blockdev ?)
..
Apr 15 22:49:37 loidi kernel: /var/lib/snapd/snaps/core18_1705.snap: Can't open blockdev
Apr 15 22:49:37 loidi systemd[1]: Mounting Mount unit for lxd,

[2020-04-15 21:25] stgraber commented on #7199
Sounds like something wrong going on with loop devices maybe?

Are the files at `/var/lib/snapd/snaps` accessible?

[2020-04-15 21:34] mhansi12 commented on #7199
I made progress !

when restarting  manually (  "snap-core-8935.mount".  "snap-core18-1705.mount" and "snap-lxd-14594.mount"  and then "snap restart lxd" ) eveything works again:

So it seams that the order of avaibility of the involved zfs filsystems/datasets are relevant,
I am confident to solve it soon. I see difference to the desktop version, too

THank you for your help

[2020-04-15 23:06] jsalatiel opened #7200 "No network on CentOS8 if raw.lxc: lxc.mount.auto=sys:rw && security.privileged: "true""
# Required information

 * Distribution: Linux Mint
 * Distribution version: 19.3 ( Ubuntu 18.04 base )
 lxc/lxd version: 3.0.3
[code]
# Issue description
If I set the following two lines at my profile,  CentOS8 container will have no network.
**_raw.lxc: lxc.mount.auto=sys:rw
security.privileged: "true"_**
I need those two parameters to be able to run kubernetes on lxd and they work just fine wit

[2020-04-15 23:53] stgraber commented on #7200
Looks like setting /sys to fully writable causes NetworkManager to get confused.
As this is an unsupported configuration, you're going to have to find a way around it.

Some options would be to switch to `systemd-networkd` or manually put something that does:
 - ip link set dev eth0 up
 - nmcli conn up "System eth0"

Which seems to be enough to make NM happy here.

[2020-04-15 23:53] #7200 closed

[2020-04-16 03:46] stgraber opened #7202 "Validate that the listen address is available"
During `lxd init` we should validate that the selected address for `core.https_address` is available.
The easiest would be to attempt to listen on it, if that fails, consider validation failed and require the user to try another one.

This would have saved me some confusing errors when setting up clusters :)

[2020-04-16 03:47] stgraber commented on #7202
@freeekanayaka want to take a stab at this one? Should be a quick one. We'd want this for both standalone and cluster listen address.

[2020-04-16 07:02] freeekanayaka commented on #7202
Sure.

[2020-04-16 07:12] morphis opened #7203 "Nested LXD fails with error when asking for available resources"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version:5.3.0-28-generic #30~18.04.1-Ubuntu SMP
   * LXC version: 4.0.0
   * LXD version: 4.0.0
   * Storage backend in use: zfs

# Issue description

A nested LXD within an unprivileged fails to determine available resources when calling the `/1.0/resources` API

[2020-04-16 11:17] jsalatiel commented on #7200
Thanks.
I will leave here a systemd unit that run those command in case someone else faces this problem:

[code]

[2020-04-16 12:12] stgraber commented on #7203
Yep, I sent a PR to fix that already, we'll cherry-pick it ASAP.

[2020-04-16 12:12] #7203 closed

[2020-04-16 12:37] tchwpkgorg opened #7205 "Proxy does not forward the traffic internally to the container"
Suppose we have this network:

[code]

And container is using this config:

[code]

Let's say that PUBLIC-IP IP address is mapped to "example.com" in DNS.

When we enter the container and try to connect to "example.com" (to PUBLIC-IP), it times out:

[code]

A workaround is to add "10.188.132.56 example.com" mapping in the hosts file in the container, but it would be great if iptables rules were p

[2020-04-16 13:13] stgraber commented on #7205
@tomponline should be an easy one

[2020-04-16 13:15] morphis commented on #7203
Nice, thanks @stgraber

[2020-04-16 13:23] stgraber commented on #7203
Also added a test for it and validate on all architectures for good measure.

[2020-04-16 14:15] tomponline commented on #7184
https://github.com/lxc/lxd/pull/7206 adds support for `ceph` prefix.

[2020-04-16 14:20] tomponline commented on #7205
@stgraber will take a look at this now.

[2020-04-16 18:46] jyte opened #7207 "Fail to generate lxdbr0 on lxd init"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 (up to date as of 16/04/2020)
 * The output of "lxc info" :
[code]

# Issue description
 ## Issue 1:

When I do `lxd init` it fails to create the bridge lxdbr0.

Extracted from syslog :

`Apr 16 18:33:51 ubuntu lxd.daemon[8410]: t=2020-04-16T18:33:51+0000 lvl=warn msg="Failed getting list of tables from \"/proc/self/net

[2020-04-16 19:12] tomponline commented on #7207
That warning should not prevent the bridge from being created, in fact the fact it exists and you have to remove it suggests it is being created.

What is the actual error or problem that is occuring? Thanks

[2020-04-16 20:12] stgraber commented on #7207
Yeah, this suggests a kernel without the needed netfilter modules, LXD appears to be correct to fail in this case.

Closing as it's unlikely to be LXD bug, we can still chat about it though.

@jyte please run `lxd.check-kernel`

[2020-04-16 20:12] #7207 closed

[2020-04-17 00:11] amcduffee opened #7208 "Cephfs: Parsing ceph configuration file is too rigid."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-66-generic
   * LXC version: 4.0.0
   * LXD version: 4.0.0
   * Storage backend in use: ceph

# Issue description

The direct attach of cephfs through a disk device is too rigid in how it parses and interprets the cluster conf file under /etc/

[2020-04-17 00:56] stgraber commented on #7208
Hmm so tweaking the parser to accept spaces is fine, we'll do that.

I don't think we'll be adding support for secret files or alternative location for the keyring, supporting the common setup is fine and the LXD snap allows you to have a completely separate ceph config directory if you want to keep your system one the way it is now.

[2020-04-17 01:02] rafaeldtinoco commented on #7175
I think we got a regression for this one:

qemu-system-x86_64:/var/snap/lxd/common/lxd/logs/cluster01/qemu.conf:257: PCI: slot 4 function 0 not available for pcie-root-port, in use by virtio-9p-pci

# Config drive
[fsdev "qemu_config"]
fsdriver = "local"
security_model = "none"
readonly = "on"
path = "/var/snap/lxd/common/lxd/virtual-machines/cluster01/config"

[device "dev-qemu_config"]
driver =

[2020-04-17 01:48] amcduffee commented on #7208
Ok, don't forget hyphens in addition to spaces and underscores.

It is unfortunate that you won't consider supporting secret files because it is documented and official behavior based on 'man mount.ceph'.  Sure, I could use the separate ceph config directory only for the snap, but that means managing two sets of configurations needlessly when I am already creating and using 'secretfile' mount opti

[2020-04-17 01:59] stgraber commented on #7175
@rafaeldtinoco can you show the full `lxc config show --expanded cluster01` output?

[2020-04-17 02:03] stgraber commented on #7208
It's worth noting that LXD directly calls the Mount syscall and so doesn't use `mount.ceph` at all, so `secretfile` isn't an option we can actually use. We can only use what the kernel driver supports directly, everything else we need to manually parse and process. So we're sticking with the most common setup as it's something we can more reliably test, adding more options means more config option

[2020-04-17 02:35] stgraber commented on #7175
@tomponline can you take this in the morning please?

[2020-04-17 03:57] amcduffee commented on #7208
I understand what you are saying.  That is fine.

I wasn't asking for it to be supported as a mount command option.  Rather simply, if an optional 'secretfile' configuration value was offered then it could define a path to a file containing only the secret itself.  LXD could just read the contents of the file as opposed to parsing a keyring file for the 'secret=...' line.

Considering such files a