[2021-11-12 14:53] brauner commented on #9526
There should be a proper fix in upstream systemd for this:
- discussion: https://github.com/systemd/systemd/pull/18559
- fix: https://github.com/systemd/systemd/pull/18684

[2021-11-12 14:54] brauner commented on #9526
To get the old behavior you can pass `--quiet` to `udevadm`.

[2021-11-12 14:55] mvo5 commented on #9526
You guys rock, thank you so much! I think we can close this one then.

[2021-11-12 14:56] #9526 closed

[2021-11-12 19:42] RKBethke commented on #9041
Thanks for the suggestions.  We were able to get a small cluster working to test our changes.

After adding a `--destination-target` flag to specify where the copy request would be sent to, we realized that the api copy requests lack any field to specify _where_ the volume to be copied is located.  This results in the `destination-target` searching for the source volume in itself, rather than from

[2021-11-13 01:21] stgraber commented on #9041
Ah yeah, this will make things a tiny bit more interesting to hook everything up right...
So you're absolutely correct that you'll need to add a field (I'd call it `Location`) to `api.StorageVolumeSource`.

That way when LXD gets the volume creation request it can tell that it needs to copy it and from where.

Where things will get interesting is that LXD will then need to deal with an internal vo

[2021-11-13 03:39] stgraber commented on #9525
To clarify the environment, can you show:
 - lxc remote list
 - lxc project list local:

[2021-11-14 21:22] gibmat opened #9531 "Remove use of legacy protobuf library"
# Issue description

(I'll prefix this by saying I'm not very familiar with golang's protobuf libraries, although I've spent a good chunk of today learning about the legacy and new libraries....)

LXD is currently using both the legacy/deprecated (github.com/golang/protobuf) and new (github.com/protocolbuffers/protobuf-go) versions of the protobuf library. However, the legacy version is only used

[2021-11-14 21:33] stgraber commented on #9531
I tried to do so but couldn't as the `gobgp` package itself relies on the specific use of `ptypes`.

[2021-11-14 21:36] stgraber commented on #9531
I suspect we may need https://github.com/osrg/gobgp to take the first step and move away from ptypes, then we can do the same on our side. The rest of our protobuf usage was already updated to the new packages.

[2021-11-14 22:29] gibmat commented on #9531
Ah, got it. I'll open an issue with them to make that request.

[2021-11-15 14:24] tomponline commented on #9043
So this PR https://github.com/lxc/lxd/pull/9528 moves way from using liblxc generated veth pairs for `routed` NICs, and instead uses LXD generated veth pairs and liblxc's `phys` NIC type, so this may well fix this issue.

[2021-11-15 14:50] stgraber commented on #9043
Let's tentatively close this issue as part of that PR then and if @timlee81 sees it again once that's released (4.21), we'll re-open and re-investigate this.

[2021-11-15 14:50] #9043 closed

[2021-11-15 16:28] dillonsamra9 commented on #9523
Hi. I'm a CS student at UT Austin and am currently taking a Virtualization class. I would be happy to take a look at this issue?

[2021-11-15 16:29] dillonsamra9 commented on #9479
Hi. I'm a CS student at UT Austin and am currently taking a Virtualization class. I would be happy to take a look at this issue?

[2021-11-15 16:31] dillonsamra9 commented on #9518
Hi. I'm a CS student at UT Austin and am currently taking a Virtualization class. I would be happy to take a look at this issue?

[2021-11-15 18:02] bionade24 commented on #9479
It's Open Souce. You can see that there isn't a WIP PR referenced in this issues, so just start. If you're not super slow you're the first submitting a PR for this. If it doens't get merged, you still learned something. There will be no one in the FOSS community promising to strangers that their PR definately  gets merged.

[2021-11-15 18:03] stgraber commented on #9479
@dillonsamra9 sounds good, assigning it to you!

[2021-11-15 18:06] stgraber commented on #9479
@bionade24 we're used to working with UT Austin students, every year we get a few groups of students who get to contribute to open source projects as part of their virtualization class. We steer them towards our issues labeled as Easy since those are achievable within their allotted time and the LXD team has a good idea of what needs to be done and will help them should they have questions.

For t

[2021-11-15 18:09] bionade24 commented on #9479
Cool, didn't know that, whish my university would do such things.

[2021-11-15 18:09] stgraber commented on #9518
Sounds good, assigned it to you!

[2021-11-15 18:11] stgraber commented on #9518
For this one, I'd expect the following commits:
 - `api: gpu_mig_uuid` (modifies doc/api-extensions.md and shared/version/api.go)
 - `doc/instances: Add mig.uuid on MIG GPU` (adds the property to doc/instances.md)
 - `lxd/device/gpu: Add support for mig.uuid` (actually adds handling of `mig.uuid`, should validate the leading MIG-, should prevent it be set if either mig.ci or mig.gi is set and shou

[2021-11-15 18:12] stgraber commented on #9523
Sounds good, assigned it to you!

[2021-11-15 18:13] stgraber commented on #9479
Yep, it'd be really nice if more universities would do this. It helps open source projects get a few lower priority bugs and features off their plate and shows students how the open source community works and how easy it can be to add or fix something in a random piece of software :)

[2021-11-16 04:11] ma3252788 opened #9533 "The host can be networked, but the container can't"
# Required information

 * Distribution: ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Other computers can be connected to the host through SSH, and the container can be pinged from the host. However, the container cannot be pinged from other computers, and the container cannot be connected through SSH.

![](https://ypyssl.machunji

[2021-11-16 05:18] stgraber commented on #9533
Can you show from the host:
 - `ip link show`
 - `lsmod`
 - `iptables -L -n -v`
 - `ebtables -L -v`

It looks like you have a `br1` bridge which connects to the outside and that your host and all containers share.

It could be that something is misconfigured with the bridge or that you have br_netfilter enabled somehow which is causing bridge traffic to get firewalled. If it's none of those, then

[2021-11-16 05:35] ma3252788 commented on #9533
Thank you for your reply! It is quite strange that some PCs can be connected, and some PCs are unable to connect.

ip link show
[code]
lsmod
[code]
iptables -L -n -v
[code]
ebtables -L -v
[code]

 tcpdump -ni br1
[code]

[2021-11-16 06:27] stgraber commented on #9533
Nothing obvious on the firewall front, so you'll need to keep using tcpdump. What I'd do here is `tcpdump -ni br1 host 172.25.29.182`, then try pinging the container again from a few systems and see if you get any traffic to show up.

[2021-11-16 06:38] ma3252788 commented on #9533
I run this command on the host computer, and then Ping 172.25.29.182 from the PC 172.25.17.26:

[code]

[2021-11-16 06:51] jeff2814 commented on #9128
Hi, @hQavi and I are students from University of Texas taking a virtualization class. One of our assignments is to contribute to an open source project and we thought lxd was pretty exciting! Would it be ok if we tried to tackle this issue?

[2021-11-16 09:25] tomponline commented on #9128
Thanks, have assigned to you.

[2021-11-16 09:51] tomponline commented on #9533
Are you running this LXD inside a VM by any chance, or does your upstream network have MAC filtering on it?

In your tcpdump trace above, we can see ARP requests and replies to/from 172.25.29.182, but no ICMP ping packets arriving at 172.25.29.182, suggesting that something upstream is either filtering the inbound ICMP packets, or filtering the ARP reply packets from the LXD container.

Could you

[2021-11-16 10:18] ma3252788 commented on #9533
Thank you for your reply.

I am not running this LXD inside a VM by any chance, and don't have MAC filtering on it.

tcpdump -ni enp5s0  host 172.25.29.182
[code]

[2021-11-16 10:21] tomponline commented on #9533
Please show `ip r` on the host and inside the container?

[2021-11-16 10:23] ma3252788 commented on #9533
host:
[code]

container

[code]

[2021-11-16 10:25] tomponline commented on #9533
And what is `172.21.201.7` and do you know why the container would be sending DHCP requests to it?

[2021-11-16 10:27] tomponline commented on #9533
Also can you show `ip neigh` on the host and in the container?

[2021-11-16 10:31] ma3252788 commented on #9533
`172.21.201.7` is the ipv4 DHCP server，I am using LXD in school, and this IP is the DHCP server of our school.

host
[code]

container
[code]

[2021-11-16 10:33] tomponline commented on #9533
I suspect there is some MAC filtering on the network.

[2021-11-16 10:46] ma3252788 commented on #9533
You mean use routed instead of bridge?

[2021-11-16 10:49] tomponline commented on #9533
Yes, that way your containers will use the same MAC as your host. But you will need to remove the br1 bridge and connect them directly to enp5s0, and you'll need to specify and configure the IPs manually inside the container (no DHCP).

[2021-11-16 10:53] ma3252788 commented on #9533
Oh, I see.  But I'm afraid this operation cannot be carried out for the time being. Because several colleagues are using other containers.

Their computers can be connected normally. The program is running in their container, and it can't be interrupted.

I can only wait until their program is completed before I can proceed to the next step.

[2021-11-16 10:55] tomponline commented on #9533
OK will close for now, but reopen if needed.

[2021-11-16 10:55] #9533 closed

[2021-11-16 18:03] dillonsamra9 opened #9535 "Build problem:"
* Distribution: Ubuntu 18.04.1
 * Building newest version from source (using git clone)

# Issue description

After installing dependencies, running 'make deps' and exporting environment variables, 'make' fails with the following error:
`CC="cc" CGO_LDFLAGS_ALLOW="(-Wl,-wrap,pthread_create)|(-Wl,-z,now)" go install -v -tags "libsqlite3"  ./...
client/interfaces.go:7:2: cannot find package "github.

[2021-11-16 18:09] #9535 closed

[2021-11-16 18:10] stgraber commented on #9535
You're building using Go 1.10, this isn't supported.

[2021-11-16 18:37] dillonsamra9 commented on #9535
Ah, thank you.

[2021-11-16 21:07] kaustubnvd commented on #9237
Hello, I'm a student from UT Austin taking the Virtualization class, and I would love to take a look at this issue.

[2021-11-16 21:17] kaustubnvd commented on #9268
Hello, @Gautham-Raju and I are students from UT Austin taking a Virtualization class, and we would love to take a look at this issue as part of our final project to contribute to an open source repo.

[2021-11-16 21:22] archevan commented on #7233
My group for a virtualization class at UT Austin can take a look at getting this added as part of our final project! Is there any way you could assign this issue to me so we have a record of the issues we're working on?

[2021-11-16 21:27] archevan commented on #9466
I've left some comments on a couple of other issues but this seems like something my group could tackle as part of a final virtualization project at UT Austin. Could you assign this one to me as well?

[2021-11-16 22:34] #9235 closed

[2021-11-16 22:35] stgraber commented on #9466
Done!

[2021-11-16 22:35] stgraber commented on #9407
Done!

[2021-11-16 22:35] stgraber commented on #7233
Done!

[2021-11-16 22:35] stgraber commented on #9268
Done!

[2021-11-16 22:36] stgraber commented on #9237
Done!

[2021-11-16 22:38] stgraber commented on #7559
Un-assigning for inactivity and so others can take a stab at it.

[2021-11-16 22:39] stgraber commented on #1613
Unassigned for inactivity and so others can take a stab at it.

[2021-11-16 22:39] stgraber commented on #7901
Un-assigning due to inactivity, we're starting to run low on easy issues so putting this one back in the pool.

[2021-11-16 22:40] stgraber commented on #9232
@tomponline unassigned you so this shows up as available for someone to tackle, at which point we'll provide mentoring/guidance as usual.

[2021-11-16 22:40] stgraber commented on #9236
@ulziibuyan are you still working on this one?

[2021-11-16 22:47] presztak commented on #7559
@stgraber, if you didn't mind i would like to take a look at this one.

[2021-11-16 23:08] stgraber commented on #7559
Sure!

[2021-11-17 01:46] C-Stout commented on #9508
Hello, may I be assigned this issue so my virtualization group at UT Austin can work on this?

[2021-11-17 05:08] stgraber commented on #9508
Done!

[2021-11-17 06:17] andrewli6504 commented on #1613
Hello, I am a student at UT Austin taking Virtualization - Could me and @BlakeRomero I try tackling this issue?

[2021-11-17 06:18] andrewli6504 commented on #7901
Hello, I am a student at UT Austin taking Virtualization - Could me and @BlakeRomero I try tackling this issue?

[2021-11-17 06:18] andrewli6504 commented on #9236
Hello, I am a student at UT Austin taking Virtualization, and I see that there has not been work on this issue for a little while - Could me and @BlakeRomero I try tackling this issue?

[2021-11-17 06:32] stgraber commented on #9236
@andrewli6504 currently still assigned to @ulziibuyan, if he doesn't have the time anymore or is unresponsive, we can re-assign it to you.

[2021-11-17 06:33] stgraber commented on #7901
done!

[2021-11-17 06:33] stgraber commented on #1613
done!

[2021-11-17 06:35] BlakeRomero commented on #1613
Could I get assigned as well since we will be working together on this?

[2021-11-17 06:36] BlakeRomero commented on #7901
Could I get assigned as well since we will be working together on this?

[2021-11-17 06:37] stgraber commented on #1613
Done on both of them. We can't assign unless you have commented in the issue, it's a Github spam protection :)

[2021-11-17 06:38] andrewli6504 commented on #9232
Hello, I am a student at UT Austin taking Virtualization - Could me and @BlakeRomero I try tackling this issue?

[2021-11-17 08:34] tomponline commented on #9232
Sounds good.

[2021-11-17 17:54] ulziibuyan commented on #9236
Sorry for blocking this, I've not got the time I hoped. I've unassigned myself...

[2021-11-17 20:11] stgraber commented on #9236
No worries!

[2021-11-18 03:09] vikrantrathore commented on #9525
Result for `lxc remote list`:

[code]

Result of `lxc project list local:` :

[code]

[2021-11-18 07:54] v3ss0n commented on #7119
I am using 4.20 and i still encourted this problem
Only way to solve is to reboot the entiere system.
I am using snap build of lxd.

can we repopen this?

[2021-11-18 08:20] candlerb commented on #7119
Can you try:

[code]

If the top-level dataset in the lxd pool or any of the individual container datasets have a mountpoint set, then unset it like this:

[code]

See [this discussion](https://discuss.linuxcontainers.org/t/error-upgrading-zfs/12597).

[2021-11-18 10:49] v3ss0n commented on #7119
[code]

so

`zfs set mountpoint=none,canmount=noauto default/containers` ?

[2021-11-18 10:57] candlerb commented on #7119
Since `mountpoint=none` I doubt it will make a difference, but you can try it.

If the problem remains, then I suggest you start from scratch: show exactly what you see on *your* system, what commands you type, what errors you see, and what prompts the error to occur (you already said that rebooting the system clears the problem)

[2021-11-18 11:13] v3ss0n commented on #7119
first , i was restoring a container from snapshot
lxd was updated from snap
`lxc restore magento-dev clean`

then it couldn't start

`lxc start magento-dev` givets that error.

[2021-11-18 11:15] tomponline commented on #7119
@v3ss0n shall we pick a single place to discuss this rather than spread it over two threads?

Would you like to proceed here or over at https://discuss.linuxcontainers.org/t/time-to-fix-this-once-and-for-all-failed-preparing-container-for-start-failed-to-run-zfs-set-mountpoint-none-canmount-noauto/12662?

[2021-11-18 11:18] v3ss0n commented on #7119
yes i am there now.

[2021-11-18 11:20] tomponline commented on #7119
So I would suggest removing any mount points on your ZFS datasets, as from https://discuss.linuxcontainers.org/t/time-to-fix-this-once-and-for-all-failed-preparing-container-for-start-failed-to-run-zfs-set-mountpoint-none-canmount-noauto/12662/4?u=tomp I can see some of your datasets have mount points which may be causing ZFS issues.

[2021-11-18 11:21] tomponline commented on #7119
A dataset is the value in the "NAME" column from `zfs list` output.

[2021-11-18 14:18] tomponline opened #9542 "VM exec is leaking pts device, file handles and go routines"
When running `lxc exec` or `lxc shell` a pts device, file handle and 2 go routines are being left behind when the command has finished.
I noticed this whilst working on https://github.com/lxc/lxd/pull/9540

For a LXD instance running a single VM, initial FDs opened look like this:

[code]

Then running `lxc exec v1 -- whoami` results in:

[code]

There is a lingering pts and file handle after the

[2021-11-18 14:41] brauner commented on #9542
So these leaks didn't happen before. That's new. First thing I would test is:
[code]
and similar changes.

[2021-11-18 15:22] brauner commented on #9542
See our discussion on irc. :)

[2021-11-18 17:36] candlerb commented on #7119
Related issue: https://github.com/lxc/lxd-pkg-snap/issues/61

(Seems to be triggered by updates of lxd snap and/or core snap)

[2021-11-18 17:38] v3ss0n commented on #7119
seems so , mine was updated a week ago i think.
so should create a script to snappshot and restore  a few hundred times and run it overnight . May be i will try this weekend.

[2021-11-18 21:38] knutov opened #9545 "Autostart based on last state"
As for now (latest LXD 4.20 from snap) all containers with enabled autostart starts:

1. when server starts and snapd starts
2. when LXD in snap refreshed to any new LXD version or when snapd restarts

The second case often is not desired behavior if container was stopped manually. The worst case as an example - multiple containers with routed network on different servers with the same public ip f

[2021-11-18 21:59] stgraber commented on #9545
snap refreshes do not restart containers, `snap restart lxd` would do it though but we usual advice people against doing that.

LXD default autostart is based on last state.  What you're describing suggests that you actually have `boot.autostart` set to `true` which would have LXD always start the instance every time it starts itself.

Just leave `boot.autostart` unset and it will follow the last

[2021-11-18 22:00] stgraber commented on #9545
Key                                         | Type      | Default           | Live update   | Condition                 | Description
:--                                         | :---      | :------           | :----------   | :----------               | :----------
boot.autostart                              | boolean   | -                 | n/a           | -                         | Always sta

[2021-11-18 22:16] knutov commented on #9545
So, may be some bug occures somewhere here.

My setup:

server1: ct1, routed network, public ipv4, boot.autostart=1
server2: ct2, routed network, same public ipv4, boot.autostart=1

lxc start ct1 # now all traffic goes to ct1 at server1
lxc stop ct1
lxc start ct2 # now all traffic for the same ip goes to ct2 at server2
after some time and, I suppose, new version of LXD from snap with autorefresh e

[2021-11-18 22:18] knutov commented on #9545
oh, I did not notice  that!

I suppose I understand this setting wrong before, I think it will solve the issue. Thanks!

[2021-11-18 22:18] #9545 closed

[2021-11-18 22:20] knutov commented on #9545
But ARP checks still should be done, I think. I will open different issue with bash code to reproduce that.

[2021-11-18 22:33] stgraber commented on #9545
For the ARP side of things, I'd like @tomponline's opinion, but in general, we don't prevent users from shooting themselves in the foot or doing what feels like odd setups.

What if you're trying to show a class what happens when you get a MAC or IP conflict on a network?

[2021-11-18 22:41] knutov commented on #9545
@stgraber How exactly can I do it?

How it looks like described in https://github.com/lxc/lxd/issues/9545#issuecomment-973317307

cisco c4948efs used before both servers.

[2021-11-18 22:46] knutov commented on #9545
So it does not look like ip conflict, rather ip stealing

[2021-11-19 03:56] TommyLike opened #9546 "Inconsistent of device names between host and guest os"
# Required information

 * Distribution: LXD
 * Distribution version: 4.20

# Issue description
We are trying to create a openEuler vm image by distrobuilder, this is how we configure our network device in yaml:
[code]
We can successfully launch our vm instances and the network device works well as below:
[code]
the IP address is correct, but the thing is when show instance detail with lxc command

[2021-11-19 04:57] stgraber commented on #9546
So basically LXD can't control the name in the instance, so you're getting enp5s0 regardless of what's configured on the LXD side. You could rename it in your LXD config from the default of `eth0` to `enp5s0` but that would then cause the interface to change in all containers too which isn't ideal.

But if your main concern is to have `lxc info` and `lxc list` show `enp5s0` instead of `eth0`. This

[2021-11-19 04:57] #9546 closed

[2021-11-19 05:12] TommyLike commented on #9546
@stgraber thanks, I will fix the 9p /virtiofs issue first then.

[2021-11-19 05:19] stgraber commented on #9546
Ah yeah, you'll need one of those to work so you can get the agent up, then the rest should just work.

[2021-11-19 09:35] tomponline commented on #9545
As @stgraber in general none of the LXD NIC types prevent IP conflicts (in principle it would be possible, for example, to use the `bridged` NIC type with the `ipv{n}.address` setting to setup a static DHCP allocation that conflicts with another host on the network that has had their IP configured manually).

However `routed` and `ipvlan` NIC types are somewhat different in that they alone take a

[2021-11-19 10:38] knutov commented on #9545
@tomponline

It don't took much time in real life I think. I'm still using OpenVZ 6 on some legacy projects and there are ARP checks in OpenVZ and they are fast enough.

With OpenVZ ct will start without working network in case ip is already used if I recall correctly, but I'd prefer do not start at all in such case if it is possible.

btw, why not invert this logic?

It's faster do not start in c

[2021-11-19 10:42] tomponline commented on #9545
We would need to define how long "nearly instant" is and wait that long.

[2021-11-19 11:00] knutov commented on #9545
1.5 second looks fine (but may be it can be done faster):

[code]

[2021-11-19 11:04] tomponline commented on #9545
Yep that sounds fine, but 1.5s is quite a long time with respect to a container start time, so I do think it should be optional (perhaps configurable timeout). We'd also need to figure out how to do this from go, as don't really want to be running a process for each IP specified on the NIC.

Can you open an issue https://github.com/lxc/lxd/issues here?

[2021-11-19 11:17] knutov commented on #9545
OpenVZ 6 definitely do it instantly, they do

[code]

it's from `/etc/sysconfig/network-scripts/ifup-aliases` from OpenVZ 6, may be just make the same?

[2021-11-19 11:22] tomponline commented on #9545
That takes about 2s:

[code]

[2021-11-19 11:28] knutov commented on #9545
strange, but even 4s on centos/openvz6, but...

[code]

I will attach the full code from OpenVZ a little bit later, may be some optimization for this process is possible and used by them.

[2021-11-19 11:29] tomponline commented on #9545
Likely ARPING_WAIT is coming from somewhere set to 1.

[2021-11-19 11:57] pmarini-nc commented on #7559
Will this feature allow to list all the containers in all the projects with a `lxc ls`, thus returning the project in an additional column?
Thanks in advance!

[2021-11-19 12:21] knutov opened #9547 "ARP check to avoid duplicate addresses on routed nictype"
This is feature request, as requested in https://github.com/lxc/lxd/issues/9545#issuecomment-973976440 :

It is possible to run multiple containers on the same server or on the neighbor server with the same public ip with routed/macvlan/ipvlan network.

Traffic for this public ip will be routed to the **last** **started** container which is ip stealing in fact and it is usually unwanted/unexpected

[2021-11-19 12:33] knutov commented on #9547
`arp -f` can speedup the process in case ip is used: "If you use the -f option, your arping will stop as soon as it has confirmed that the system is responding"

[code]

[2021-11-19 13:08] tomponline commented on #9547
Yes, we would expect to stop waiting after a positive response was received. But my point is that in a "normal" start sequence (where hopefully the NIC's IPs are not already in use), there will be no positive response, and so we need to decide how long to wait for an absence of a response.

In the example above, in the normal scenario where the IP is not used, `arping` wait for 2s.
So this would d

[2021-11-19 15:16] gibmat opened #9548 "Update to robfig/cron/v3?"
# Issue description

Would it be possible to update LXD's use of the robfig/cron library from v2 to v3? There are some backwards-incompatible changes with v3 (https://github.com/robfig/cron#upgrading-to-v3-june-2019), but I'm hoping LXD's relatively simple use of the library won't be too hard to update.

I ask, because I am going to need to package github.com/robfig/cron for Debian as a dependency

[2021-11-19 17:00] stgraber commented on #7559
Yes, it will.

[2021-11-19 17:28] stgraber opened #9552 "Add cluster member role to indicate the leader"
We currently have `database` (for the DB voters) and `database-standby` (for the DB followers) but there's no indication in `lxc cluster list` of who's the current leader. I believe we should add an additional role of `database-leader` and add that to the current leader in the API result.

[2021-11-19 17:45] turtle0x1 commented on #7559
Is it going to group or leave it as flat array? I.E

[code]

[2021-11-19 17:52] stgraber commented on #7559
I expect it will be a map as that wouldn't require changes to the API struct of an instance

[2021-11-19 18:38] simondeziel opened #9553 "Snapshot schedule list not working"
# Required information

[code]
# Issue description

Specifying more than one schedule alias doesn't work.

# Steps to reproduce

[code]

The above should work according to the documentation but it errors out with:

[code]

[2021-11-19 18:44] #9553 closed

[2021-11-19 18:44] stgraber commented on #9553
Fixed already in the PR I opened :)

For now, if you use `, ` as separator instead of `,` it will work.

[2021-11-19 20:27] #9548 closed

[2021-11-19 22:12] knutov commented on #9547
Yes, it will slow down normal startup, but it's still much better than chance of bad scenario where ip stealing occurs.

Adding commandline option to `lxc start` and config key like `boot.check_arp` will make it comfortable for all users I think.

btw, is it possible to use something like https://pkg.go.dev/github.com/j-keck/arping with smaller timeouts and making it in parallel with something? It

[2021-11-20 20:25] turtle0x1 commented on #9039
@stgraber / @tomponline i've run into this, what commands would be useful here?

[2021-11-20 21:50] tomponline commented on #9039
If you can get a request/response (and ideally the server-side debug log output at the same time), then that would be great. Thanks

[2021-11-20 22:00] turtle0x1 commented on #9039
How do I do `server-side debug log`?

[code]

[2021-11-20 22:02] tomponline commented on #9039
[code]

[2021-11-20 22:05] turtle0x1 commented on #9039
I think reloading the daemon fixes the problem, should I still do the above?

[2021-11-20 22:07] tomponline commented on #9039
Can you confirm what `lxc project ls` shows?

[2021-11-20 22:29] turtle0x1 commented on #9039
[code]

[2021-11-20 23:01] tomponline commented on #9039
lxc project list?

[2021-11-20 23:09] turtle0x1 commented on #9039
[code]

[2021-11-20 23:27] stgraber commented on #9039
@tomponline he said it's on 3.0.x, so no projects back then.

[2021-11-20 23:29] stgraber commented on #9039
@turtle0x1 if that only happens on 3.0.x and can't be reproduced on 4.0.x or 4.x, then we'll have to close the issue.
LXD 3.0.x is in security-only mode following the LXD 4.0 LTS release.

Looking quickly at the code, it's entirely different from what we do today and any missing file related to CPU or memory information would have had SmartError return this NotFound.

[2021-11-20 23:31] tomponline commented on #9039
Yeah I was getting to that conclusion :)

[2021-11-20 23:32] turtle0x1 commented on #9039
Okay, its only in dev anyway so no problem

[2021-11-20 23:32] #9039 closed

[2021-11-21 03:33] danielrobbins commented on #7420
My thoughts on this are that this should be a graceful warning rather than preventing the container from launching. There are too many things in lxd like this and it can make things too fragile in production -- too many 'gotchas' if some underlying configuration changes. (Another example of this is when a storage volume is missing, but it is not being used at all -- lxd will simply fail to start,

[2021-11-22 10:04] kamzar1 opened #9554 "Lxc copy to remote ignores profile"
LXD v. 4.20
Profiles:
source server: pl1
target trusted server: pl2

`lxc copy container -p pl2 --stateless --project x targetserver:`

Expected behavior:
 lxc copy [<remote>:]<source>[/<snapshot>] [[<remote>:]<destination>] [flags]
Flags:
  -p, --profile          Profile to apply to the new instance

passing -p as flag works when instance is copied locally:
We have a container c1 with profile p1

[2021-11-22 10:06] tomponline commented on #9554
Please can you clarify what the expected behaviour is? Thanks

[2021-11-22 10:17] kamzar1 opened #9555 "API get Instance with more in-depth information"
LXD v. 4.20

Whilst
`GET /1.0/instances?recursion=2`
delivers very detailed information including recursion 2 of networks/snapshots/backups…

`GET /1.0/instances/containerx?recursion=2`
is a bit sparse.

Fetching a single container out of GET /1.0/instances?recursion=2 output rather inconvenient, due to size of output in case numerous containers inside project.

It would be easier, getting same ou

[2021-11-22 13:22] tomponline commented on #9542
@stgraber let me know if you'd like me to work on this after the restricted disk path stuff.

[2021-11-22 14:13] stgraber commented on #9542
Yeah, sounds like something we should prioritize

[2021-11-22 14:29] tomponline opened #9557 "Running VM snapshot on dir pool copies config.mount incorrectly"
Snapshotting running VM on `dir` storage pool causes the snapshot to be unusable due to copying the `config.mount` directory, thus preventing starting of the VM when restored/copied to a new instance.

Reported by @brauner

[2021-11-22 14:49] ykazakov opened #9558 "Prevent concurent snapshot and snapshot expiry for a volume"
# Required information

 * Distribution: ubuntu
 * Distribution version: ubuntu 20.04 server (fully updated)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-90-generic
   * LXC version: 4.20
   * LXD version: 4.20 (installed via snap)
   * Storage backend in use: btrfs

I am sorry, I cannot run "lxc info" because lxd is currently disabled (because of the problem being repo

[2021-11-22 14:52] stgraber commented on #9558
Limiting the number of operations is likely to be too problematic but we should certainly make sure that we only have one storage operation per volume at any one time.

So we should wait for any existing snapshot creation or deletion before starting a new one on a particular volume.

[2021-11-22 14:53] stgraber commented on #9558
@tomponline we already have some kind of locking mechanism on volumes, right?

[2021-11-22 14:59] tomponline commented on #9558
Yes, we use the `github.com/lxc/lxd/lxd/locking` package, combined with `OperationLockName` helper function for selecting a lock name.

Although in order to avoid locking up the expired snapshots task, or ending up with lots of go routines hanging around locked on a long running operation, perhaps we should extend the "locking" package to allow checking if a lock exists, in those cases, skip over

[2021-11-22 14:59] ykazakov commented on #9558
It would be also great if one can see a little bit more info in `lxc operation show` about which exactly snapshots or volumes are being deleted.

[2021-11-22 15:01] stgraber commented on #9557
@tomponline as you mentioned elsewhere, moving the mount point to the devices directory should avoid this issue.

[2021-11-22 15:01] tomponline commented on #9557
@stgraber excellent will do thanks.

[2021-11-22 15:06] xaverruss opened #9560 "Vlan ranges in vlan.tagged"
Hi, I hope I am at the right place here.
I`d like to propose a convenience feature.

I am currently looking into VLAN support in bridges and found that lxd supports this since a while with

[code]
While a comma separated list works just fine, it would be nicer and more convenient to be able to specify a range here.

[code]
I am aware that there are not many containers/vms that would take benefit f

[2021-11-22 20:14] janpekar opened #9561 "lxc copy/move failed on ceph storage when not using ceph admin keyring"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
   * Kernel version: 5.4.0-52-generic
   * LXC version: 4.0.8
   * LXD version: 4.0.8
   * Storage backend in use: ceph

# Issue description

When I try to copy lxc container on ceph storage backend from one server to different remote
[code]
I get error
[code]
I'm not using admin ceph keyring, because ceph I'm using cep

[2021-11-22 20:17] #9041 closed

[2021-11-22 20:23] janpekar commented on #9561
Just adding - receiveVolume is also missing --id param.

[2021-11-22 20:24] stgraber commented on #9558
@tomponline yeah, for taking snapshots, I don't think we should skip, but for the expiry we definitely can skip as they'll be handled later on.

[2021-11-22 20:27] stgraber commented on #9554
Sounds like the issue here is that we're appending with `-p blah` instead of replacing the entire set of profiles as happens on init/launch. I think it'd make sense to line up behavior and so we should make sure that when passed, `-p` replaces any existing profile on the instance.

[2021-11-22 20:31] stgraber commented on #9547
If we are to do this, I would only do it for routed as it's the only case in which we can be sure the host is on the same network as the guest. For macvlan/ipvlan, the instance could be in a different VLAN with no guarantee that the host has any reach to it.

Will re-title to match.

[2021-11-22 20:33] stgraber commented on #9531
Closing as not actionable on our side currently. Also Go is complaining every time I update our gomod, so I already have a constant reminder of this ;)

Once gobgp is fixed, our build will almost certainly start failing due to type mismatch, we'll then correct it and that will take care of it.

[2021-11-22 20:33] #9531 closed

[2021-11-23 12:23] sparkiegeek opened #9566 "Security docs have broken/missing link to anchor in RBAC sub-heading"
# Required information
Issue in [the security docs](https://linuxcontainers.org/lxd/docs/master/security), sourced from [security.md](../tree/master/doc/security.md)

Firefox 94.0
# Issue description

The Security docs, along with other LXD documentation has an inline Table of Contents linking to sub-sections via the headers.

Clicking the `Role Based Access Control (RBAC)` header does not jump th

[2021-11-23 16:06] ru-fu commented on #9566
This is unfortunately a known issue in the tool we're using to build the documentation. We're currently looking into other means of building the docs, which will fix the issue.

[2021-11-23 16:13] sparkiegeek commented on #9566
Ah, ok - could you link to it here?

Ack. Thanks - could we consider retitling the section in the meantime?

[2021-11-23 19:40] stgraber commented on #9566
Right, it's a documentation builder bug, not something that we can change from our side easily and considering we're transitioning to Sphinx right now, it's not really worth changing the doc just for a few days.

[2021-11-23 20:29] #9557 closed

[2021-11-24 10:47] hack2spider commented on #4902
docker run --privileged hello-world
docker: Error response from daemon: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: process_linux.go:508: setting cgroup config for procHooks process caused: failed to write "a *:* rwm": write /sys/fs/cgroup/devices/docker/68fec85a2c039c8955c94ef82b10764a19e

[2021-11-24 10:47] hack2spider commented on #4902
Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 5
  Running: 0
  Paused: 0
  Stopped: 5
 Images: 3
 Server Version: 20.10.7
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Cgroup Version: 1
 Plugins:
  Volume: local
  Network: bridge host ipvlan ma

[2021-11-24 10:50] hack2spider commented on #4902
docker run -d -p 8000:8000 -p 9000:9000 --name=portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce
0664b8f2cd741fcca9431c9a788d18499d4ce8def5e21f6cd4b71cff886f0fb0
docker: Error response from daemon: AppArmor enabled on system but the docker-default profile could not be loaded: running `/sbin/apparmor_parser apparmor_parser -Kr /va

[2021-11-24 10:51] hack2spider commented on #4902
I have docker running fine under lxc with debian turnkey core ... however I can`t seem to make it run under ubuntu 20

[2021-11-24 17:10] tomponline commented on #9542
I'm working on this next.

[2021-11-25 09:41] zakufish commented on #7901
@stgraber I was preparing for job interviews and didn't really have time to work on this. Sorry about ghosting and the inconvenience I've caused.

[2021-11-25 09:42] zakufish commented on #9560
This looks like an easy implementation. Do you mind if I take this one?

[2021-11-25 14:17] KLIM8D opened #9576 "LXD shiftfs and docker with overlay2 storage driver"
I'm having some problems with docker inside a LXD, when the docker daemon is using overlay2 as storage driver. Basically I'm not able to pull any docker image and it fails with the following error message.

[code]

Related issue on docker issue tracker (https://github.com/docker/for-linux/issues/1055)

I think this is related to using shiftfs on the root filesystem for the LXC, as some workarounds

[2021-11-25 14:24] tomponline commented on #9576
Which docker version is this btw?

[2021-11-25 14:30] KLIM8D commented on #9576
Forgot that, I've added the info

[2021-11-25 14:38] tomponline commented on #9576
Looks like the fix for the docker issue you linked to isn't in docker 20.10.5, it seems to be part of the 20.10.6 milestone:

https://github.com/moby/moby/pull/42235

[2021-11-25 14:50] tomponline commented on #9576
Also please can you provide the reproducer steps as requested, so installation of docker in a fresh container, and an example command to run. Basically everything needed to get to the error.

[2021-11-25 15:39] stgraber commented on #9560
Done!

[2021-11-25 15:39] stgraber commented on #7901
@zakufish no worries!

[2021-11-25 17:08] tomponline opened #9578 "LXC exec --force-noninteractive doesn't relay signals to the running process"
Whilst working on fixing https://github.com/lxc/lxd/issues/9542 (via https://github.com/lxc/lxd/pull/9577) I noticed that when running `lxc exec <instance> --force-noninteractive` signals received by the `lxc` process are not relayed to the process running inside the instance, like they are with interactive mode.

Reproducer:

[code]

Then in another terminal we see there is the `lxc` process, the

[2021-11-25 17:11] tomponline commented on #9578
The LXD server seems to have some expectation of a control channel (which would be where signals are relayed to the LXD server on). As the exec request gets a response with 4 FDs, including a control channel:

[code]

However on further inspection it seems the `lxc` client doesn't connect on the control channel for non-interactive, and it never gets past:

https://github.com/lxc/lxd/blob/master/lx

[2021-11-25 17:15] tomponline commented on #9578
Confirmed no control socket is established by client in non-interactive mode:

https://github.com/lxc/lxd/blob/master/lxc/exec.go#L156-L160

Will work on this now.

[2021-11-25 18:33] KLIM8D commented on #9576
Fixed by setting the following options for the LXD container

[code]

Everyone finding this issue should watch this video https://www.youtube.com/watch?v=_fCSSEyiGro

[2021-11-25 18:33] #9576 closed

[2021-11-26 15:56] tomponline opened #9584 "Disk device with a custom volume source should refuse to accept shift option"
Current the setting is ignored because custom volumes can be used by multiple instances and we don't want some to use shift and some not. But this is confusing.

[2021-11-27 23:32] liamnickell commented on #9348
@stgraber Hey, I think I'm about done on this issue but just wanted to clarify something.

Should the only change to the ceph driver be that if `ceph.rbd.du` is set to disabled/false, then calls to `GetVolumeUsage` will always result in using the filesystem stats to obtain usage info (using `unix.Statfs`)?

[2021-11-28 12:33] presztak commented on #9552
@stgraber I would be happy to work on this.

[2021-11-28 13:25] presztak commented on #9555
@stgraber If this is not problem I can work on this as well.

[2021-11-28 18:40] stgraber commented on #9555
Yep!

[2021-11-28 18:40] stgraber commented on #9552
Sure!

[2021-11-29 08:40] stgraber commented on #9348
Nope, that should be it. For unmounted volumes, I believe we could return an error without it causing an actual error to the user, so that's probably best.

[2021-11-29 10:20] ykazakov opened #9593 "Clarify cluster join question handling"
# Required information

 * Distribution: ubuntu
 * Distribution version: ubuntu 20.04 server
 * The output of "lxc info"
<details>

[code]
</details>

# Issue description

Upon joining an existing cluster lxd asks for the size of the local storage pool. However this value does not seem to be used.

# Steps to reproduce

1. Reinstall lxd from snap:
[code]
2. Prepare the btrf partition
[code]
3. Obt

[2021-11-29 10:33] ykazakov commented on #9558
A short update: `btrfs check` did not show any significant problems (just some mismatches for the free space caches). After I manually deleted all volumes created by docker, btrfs does not hang anymore and lxd became fully operational. I moved the data out and reformated the partition, just in case.

I am thinking how to prevent this from happening again. Is it possible to disable the btrfs storag

[2021-11-29 14:36] tomponline commented on #9578
The VM lxd-agent is also afflicted by the same issue.

[2021-11-29 19:56] ykazakov commented on #9593
I see. Could it, perhaps, make sense to allow some sensible default value, e.g., 0 = Autodetect? I do not think many would create a cluster with a loop file.

[2021-11-29 20:58] srkunze opened #9596 "Clarify `LOOPDEV` in btrfs resize documentation"
Hi there,

I stumbled over https://github.com/lxc/lxd/blob/master/doc/storage.md#growing-a-loop-backed-btrfs-pool

[code]

Could we add some explanation of what this LOOPDEV is?

`lxc storage list` displays the <POOL>.img but not the LOOPDEV.

Best,
Sven

[2021-11-29 22:37] stgraber commented on #9596
It's whatever is listed for your `.img` in `losetup -a`

[2021-11-30 02:53] Gautham-Raju commented on #9237
Hey, I have a couple of follow up questions:
1. When you say quiesce the HTTP errors, should the HAProxy be shut down after the failed checks or should we simply remove the errors from showing up and continue the session?
2. Should the logs only be silent until the TCP connection checks are over and then they should display errors as usual?
3. Does HAProxy use one of the configurations to run on t

[2021-11-30 05:38] ledlamp commented on #5171
FWIW i'm encountering this issue:
[code]

this is lxc/lxd version 4.20 installed with snap, on centos 8.

[2021-11-30 06:34] stgraber commented on #5171
@ledlamp this most often happens if you have something on your host system which accidentally cleared the `/tmp/snap.lxd` directory.

[2021-11-30 13:28] tomponline commented on #9542
Im working on this now.

[2021-11-30 17:13] simonasGit opened #9600 "Cannot start unprivileged container"
Hi, I’m trying to run an unprivileged LXD container.
Adding `lxc config set lwt security.privileged true` works but as soon as I `lxc config unset lwt security.privileged` I get

`Error: Failed to run: /usr/bin/lxd forkstart lwt /var/lib/lxd/containers /var/log/lxd/lwt/lxc.conf: Try lxc info --show-log lwt for more info
`
[code]

Output of `lxc info --show-log lwt`

[code]
[code]

TIA

[2021-11-30 17:18] stgraber commented on #9600
Did you restart LXD after updating /etc/subuid and /etc/subgid on your system?

[2021-11-30 17:29] simonasGit commented on #9600
Yes, but I still get the same error. Also I'm using Artix Linux with s6 and i have installed the s6-rc service scripts for lxd if that matters. Running with  `security.privileged true` works though

[2021-11-30 17:48] stgraber commented on #9600
Can you show the LXD startup log?

[2021-11-30 17:55] simonasGit commented on #9600
Is it `/var/log/lxd/lwt/forkstart.log` you're talking about? Because this file is empty

[2021-11-30 18:09] simonasGit commented on #9600
[code]
No such file here. I don't know whether this is a problem with lxd-log since the service is running.

[2021-11-30 20:40] stgraber commented on #9600
No idea how any of that stuff works as that's specific to your distro, but to debug this issue further, we'll need the log output of LXD on startup.

[2021-12-01 03:53] #9578 closed

[2021-12-01 05:33] stgraber commented on #9593
Well, except for all of the ones that are built in VMs for testing where they'll usually default to ZFS on loop and so will use the property :)

There effectively are defaults for most if not all of those, you can leave them empty, they just may not be defaults that you like!
In this case leaving both of them empty would have resulted in a loop backed LVM pool with the size using LXD's default siz

[2021-12-01 05:37] stgraber commented on #9558
Sadly, no. btrfs always allows for unprivileged creation of subvolumes so it's not something which can be turned off.
The unprivileged deletion of subvolumes is a mount flag, but disabling that will just allow folks to create subvolumes and then be unable to remove them, making things even worse.

[2021-12-01 05:45] stgraber commented on #9237
1) We just want to silence them, we still need HAProxy to connect or it would mark the server as broken
2) If that's reasonably easy to do, that'd be great, yes. When dealing with a legitimate request from a HAProxy server, it'd be good to have logging working normally
3) This issue is about an external HAProxy forwarding requests to LXD's HTTPS listener
4) The logging issue is on LXD's side, HAPr

[2021-12-01 05:56] stgraber commented on #9237
Did a bit of digging and it looks like there is a `ErrorLog` attribute on http.Server which can be pointed to a `log.Logger` implementation. In this case, I suspect we could define a custom logger which will:
 - Parse the log entry in search of `http: TLS handshake error from` and if found, check if the address in the message matches one of the proxy servers, if it does, then the message should be

[2021-12-01 11:51] tomponline commented on #9073
@markylaing let me know if you need any intro/help on this issue.

[2021-12-01 11:57] tomponline commented on #9426
Finding out the guest's vsock ID is easy, so not a problem excluding that one.
Testing whether a bind to a random vsock ID works is not immediately clear how this can be done, as the `vsock` package we use just uses the one assigned by the OS (which we are assigning via QEMU), it doesn't seem to expose a way to bind to a specific vsock ID in order to test if its used by another LXD VM or non-LXD a

[2021-12-01 11:57] tomponline commented on #9124
@stgraber looking into this now.

[2021-12-01 14:41] jamielsharief commented on #9124
Its been a while since i encountered this, but let me know if I can help.

[2021-12-01 15:14] tomponline commented on #9124
To rule out any issues with snapshots and quota accounting I created a VM, exported it as an unexported backup and then re-imported it so it wasn't linked to any existing image subvolume.

After import I set the disk size to 12GiB and then filled it up as normal.

[code]

I checked using `btrfs fi du` and `du -B1` and they agree on the size of the volume's root disk file:

[code]

[code]

[2021-12-01 15:21] #9542 closed

[2021-12-01 16:43] tomponline commented on #9124
Here's something curious, if you create an empty VM, and then manually setup a loop device, filesystem, mount it and then fill up that filesystem, it doesn't exceed the disk image file's size and doesn't reach the BTRFS quota.

[code]

[code]

[2021-12-01 16:52] stgraber commented on #9584
Check should be that if a disk entry has `pool` set, then `shift` should not be allowed to be set.

[2021-12-01 17:07] tomponline commented on #9124
I even tried using `losetup` to create a loop device for the disk image and then manually modified LXD to use the /dev/loop21 device as its root disk rather than using the root file directly, and the same effect, the BTRFS quota was exceeded.
It looks like some issue between the interplay of QEMU and BTRFS quotas.

[2021-12-01 17:33] markylaing commented on #9584
I think I'm probably missing something but it looks like this check is already performed? https://github.com/lxc/lxd/blob/master/lxd/device/disk.go#L254

[2021-12-01 17:37] tomponline commented on #9584
Indeed. @brauner when you said in IRC "that shift=true currently doesn't work with custom storage volumes" do you have a reproducer of how you managed to specify it? Thanks

[2021-12-01 17:43] jamielsharief commented on #9124
I think the issue #8468 covers when creating snapshots also it changed things as well.

[2021-12-01 17:47] stgraber commented on #9584
Indeed looks like it's already handled. I suspect we ought to tweak that error a tiny bit and suggest `security.shifted=true` on the volume?

[2021-12-01 17:47] turtle0x1 opened #9608 "Add more memory information"
The `/1.0/resources` endpoint reveals a lot of information about the hardware, would it be possible to extend the `memory` details with the "version" (I.E "ddr4" / "ddr3") and the clock speed?

Feels abit empty without it;
![Screenshot from 2021-12-01 17-46-25](https://user-images.githubusercontent.com/12494629/144286372-5a2d15d2-c630-473c-b3ed-4afa20923374.png)

[2021-12-01 17:49] stgraber commented on #9124
@tomponline possibly has to do with the size of the writes. You could probably try `dd` with something like `bs=4M conv=fdatasync`? I wonder if btrfs re-computes the quota on sync and not on write or something.

[2021-12-01 17:49] tomponline commented on #9124
@stgraber I've also tried this with a BTRFS storage pool on a raw NVME device, and not on a loopdev, to avoid any issues with loopdev on loopdev. But the same thing.

It seems that I need to set `size.state` to about 1098MiB to allow a 12GiB disk image to be filled without also causing the BTRFS quota to be reached.

[2021-12-01 17:50] tomponline commented on #9124
I did start to think perhaps its a fragmentation issue, which could also be affected by block size. This would explain why the quota extents are larger than how BTRFS is tracking the actual used file sizes.

[2021-12-01 17:54] stgraber commented on #9608
I don't think that's possible. For the resources API we can only rely on things available in /sys, in this case:
 - /sys/devices/system/node
 - /sys/devices/system/memory

The memory type and clock speed isn't something that's directly known by the Linux kernel (or at least not exposed to userspace). On some platforms (those with suitable ACPI tables), you can pull that information through DMI but

[2021-12-01 18:05] #9608 closed

[2021-12-01 18:19] tomponline commented on #9124
Same thing, but slightly different. It looks like using a larger block size still ends up exceeding the quota, but not by so much.

First try and fill a 12GiB disk:
[code]

Shows the BTRFS quota reached, and causes VM filesystem to be remounted readonly due to I/O errors.
[code]

Stop the VM and check the BTRFS quota still exceeded by manually setting the size.state.
[code]

Now, set a very large

[2021-12-01 21:29] stgraber commented on #9124
What kernel are you testing on?

[2021-12-01 21:46] tomponline commented on #9124
Focal hwe

[2021-12-02 01:09] stgraber commented on #9124
Ok, I guess you could run a quick test on linux-generic-hwe-20.04-edge (5.13) but that's not sounding too promising.

[2021-12-02 08:31] randombenj opened #9610 "Is LXD altering the /etc/resolv.conf file?"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:

[code]

# Issue description

When (having to) use pulsesecure (vpn client) it alters the `/etc/resolv.conf` file.
However when running `lxc delte INSTANCE` lxd also seems to alter the `/etc/resolv.conf` file.
Is this intended behavour? Here is what happens:

[code]

# Steps

[2021-12-02 08:32] tomponline commented on #9610
What is X.X.X.X and Y.Y.Y.Y in your example?

But no, LXD does not modify /etc/resolv.conf to my knowledge.

[2021-12-02 08:34] randombenj commented on #9610
@tomponline That was fast :tada:

 It's just company dns addresses, doesn't really matter, it gets generated by pulsesecure. What does matter is that it's different after running `lxc delete INSTANCE` (doesn't happen with vms apparently).

[2021-12-02 08:36] tomponline commented on #9610
Most likely pulsesecure is modifying your DNS as it detects the container's host side interface being created.
This sounds like a pulsesecure config/feature issue.

[2021-12-02 08:48] randombenj commented on #9610
I don't know if this is the propper way to test it:

`lxc info asdf`

[code]
[code]

[code]

Does not change the `/etc/resolv.conf`

[2021-12-02 08:50] tomponline commented on #9610
Does the VPN normally modify the DNS when it starts/connects? What process set it to 8.8.8.8?

I'm thinking that when the container starts, it creates a veth pair between the host and the container, which the system will see as a new interface being added and perhaps thats triggering the VPN client to re-apply its DNS settings.

[2021-12-02 09:02] randombenj commented on #9610
Yes the VPN changes the `/etc/resolv.conf` settings when it starts. I tryed strace on the lxc client wich does not touch the file, but didn't check the daemon.

The strange thing is, creating a container does not change the DNS config.

I now disabled everything pulse related (client and service). Would you mind trying to reproduce this:

[code]

[2021-12-02 09:04] tomponline commented on #9610
LXD doesn't modify global DNS settings.

Please show output of `lxc config show <instance> --expanded`.

[2021-12-02 09:07] randombenj commented on #9610
[code]

[2021-12-02 09:08] tomponline commented on #9610
Do you have just a single container running/stopping connected to lxdbr0?

Does the issue still occur if you have two containers running, and then stop just one of them (thus leaving lxdbr0 up)?

[2021-12-02 09:09] tomponline commented on #9610
Also, to help narrow down the issue, does it also happen with `lxc stop -f <instance>` as opposed to `lxc delete -f <instance>`?

[2021-12-02 09:12] randombenj commented on #9610
I just tryed to do the same thing in a nested ubuntu:20.04 container and get the same behaviour (with systemd managed DNS):

[code]

Yes the same happens also when only stopping the container

[2021-12-02 09:17] tomponline commented on #9610
You didnt answer my question though.

[2021-12-02 09:23] tomponline commented on #9124
Tried it with `5.13.0-22-generic` and same result I'm afraid.

[2021-12-02 09:24] randombenj commented on #9610
Oh sorry missed that :)

No there are a few connected to lxdbr0:

[code]

Yes this still happens (I deleted all the running containers/vms from before):

[code]

[2021-12-02 10:42] randombenj commented on #9610
One strange thing is that, it doesn't happen with vms:

[code]

[2021-12-02 13:46] simondeziel commented on #9073
This port load-balancing behaviour seems to only occur when the `--to` includes a port range. If the `--to` argument simply points to an IP, the port won't be altered.

[code]

[2021-12-02 13:47] tomponline commented on #9073
Yep thats another optimisation we can/could do. But wouldn't help with this particular issue.

[2021-12-02 13:48] stgraber commented on #9610
Can you check /var/log/syslog? It should show what NetworkManager is doing.

I suspect it's NM noticing instances appearing and disappearing and just regenerating resolv.conf. Worth noting that NM will also do that in the background every so often (DHCP lease renewal).

In general the issue here is with your VPN client thinking that it can alter resolv.conf when another process is in charge of it.

[2021-12-02 13:51] simondeziel commented on #9073
I am assuming the listen and connect port ranges are identical most of the time which would allow to not have them repeated in the `DNAT` target and run into the undesired load-balancing behaviour.

[2021-12-02 13:53] tomponline commented on #9073
Oh I see what you mean, remove the destination port entirely (I'd read the .80 as a single target port 80) if its the same as the listen port ranges. Yes that could be a helpful optimisation, assuming it is guaranteed not to have the load balancing behaviour (is that documented anywhere?)

[2021-12-02 13:56] simondeziel commented on #9073
man 8 iptables-extensions:

[2021-12-02 13:57] tomponline commented on #9073
Perfect! Lets add that optimisation as well as the MASQUERADE one @markylaing

We can also do the same optimisation if there's only one connect port per listen range too.

Thanks @simondeziel

[2021-12-02 14:12] randombenj commented on #9610
Yeah you are probably right! There is a lot of NM activity:

(this is for `lxc delete -f INSTANCE`)

[code]

1.1.1.1 and 9.9.9.9 are already the new servers, I will look how to write a NM plugin then, thanks for your help!

As always high quality help regarding lxd from you guys :heart: Highly appreciated! :tada:

[2021-12-02 14:12] #9610 closed

[2021-12-02 15:44] #9584 closed

[2021-12-02 15:46] stgraber commented on #9124
@tomponline and just to be sure, we're feeding those btrfs quotas in bytes not in MB/MiB? Otherwise it could be a unit issue if say we create the img file using the exact size in bytes from a value in MB/GB but then set the quota in MiB/GiB instead.

[2021-12-02 15:47] stgraber commented on #9124
If that's all good, then it'd be good to send a minimal reproducer (ideally without lxd/qemu involved) to the btrfs mailing-list, reference it here and close this issue.

[2021-12-02 15:56] tomponline commented on #9124
I've not been able to reproduce it without QEMU involved sadly, using a loopdev doesn't exhibit the issue.

See https://github.com/lxc/lxd/issues/9124#issuecomment-983825398

I'll triple check the setup of the btrfs quotas and disk image size.

[2021-12-02 17:49] tomponline commented on #9124
Running `lxc config device set v1 root size=11GiB` on a fresh VM on a BTRFS storage pool results in this debug log output:

[code]

So we can see the actual size for the BTRFS quota is being calculated at `11916017664 bytes` which is `11GiB (11811160064 bytes)` for the root disk file + `100MiB (104857600 bytes)` for the state files = `11916017664 bytes`.

And we can see from `sudo btrfs subvolume

[2021-12-02 17:53] tomponline commented on #9124
@stgraber the thing I cant figure out is why this is only apparently happening when accessing the disk file QEMU, I've even tried getting QEMU to access the disk file via a manually setup loopdev (so passing `/dev/loop21` to QEMU rather than `/var/lib/lxd/storage-pools/btrfs/virtual-machines/v1/root.img`) and it had the same behaviour. So it seems to be an interplay between BTRFS quotas and someth

[2021-12-02 17:54] stgraber commented on #9124
@tomponline likely has to do with the API used by QEMU, may be related to asyncio with multiple I/O threads on the same block or something and btrfs incorrectly accounting for those writes.

[2021-12-02 17:55] stgraber commented on #9124
I'm closing the LXD issue as if there's one thing that's clear right now is that our quota and file size calculation is all correct, it's the enforcement which is problematic.

@tomponline can you send what you have to the btrfs mailing-list (or bug tracker if they have one) and we'll see if they come up with anything useful.

[2021-12-02 17:55] #9124 closed

[2021-12-02 19:44] starcraft66 opened #9617 "LXD hangs on start, all LXD/LXC commands hang"
# Required information

 * Distribution: Debian
 * Distribution version: Bullseye
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-0.bpo.2-amd64
   * LXC version: unsure
   * LXD version: latest snap stable channel
   * Storage backend in use: Unsure, all filesystems are running btrfs

# Issue description

A brief description of the problem. Should include what you were
att

[2021-12-02 19:52] stgraber commented on #9617
Stracing Go applications, especially when run through the snap layer often doesn't work too well. You could use `snap run --strace lxd.lxd --debug --group lxd` or something if you wanted a more relevant output.

Can you show the full output you got from `lxd --debug --group lxd`? If it didn't show anything at all, then that'd suggest something odd in the snap.

[2021-12-02 20:02] starcraft66 commented on #9617
I tried simply running `snap run lxd.lxd --debug --group lxd` and it still just shows no output at all and hangs.

Running `snap run --strace lxd.lxd --debug --group lxd` is much more interesting. It spits out a ton of output while finally blocks here consistently after many executions:

[code]

[2021-12-02 20:17] stgraber commented on #9617
What happens if you run `unshare -n` as root on that system? Does it similarly hang?

[2021-12-02 20:19] starcraft66 commented on #9617
Yeah, it also seems to hang. I guess that indicates a problem somewhere else in my system -_-

[2021-12-02 20:47] starcraft66 commented on #9617
I was really hoping I wouldn't have to reboot this machine as it was running some services I didn't want to take down but it was time for a kernel upgrade anyway so I went ahead and did it. It also cleared up this issue. Thanks for checking it out anyway.

[2021-12-02 20:47] #9617 closed

[2021-12-03 10:26] tomponline commented on #9073
No lets ignore the optimisation for `5000-5005 -> 5000` as its not allowed in the current config validation, and so is outside of the scope of this change. Thanks for checking.

[2021-12-03 10:31] tomponline commented on #9073
We could still add the optimisation for a proxy device with a single connect port, then a user could always add another `proxy` device with just `5000-5005 -> 5000` if they needed that configuration.

[2021-12-03 10:42] tomponline commented on #9124
I've asked on #btrfs IRC and if get no reply will post to linux-btrfs@vger.kernel.org

[2021-12-03 11:15] tomponline commented on #9124
Chatting on #btrfs IRC, `forza` says:

[2021-12-03 11:21] tomponline commented on #9124
I was asked to run the `compsize` tool which also accounted for the extra usage:

[code]

[2021-12-03 11:52] tomponline commented on #9124
@stgraber so shall I look into the compress-force mount argument for BTRFS VM volumes and/or go for the belt-and-braces approach of using a BTRFS quota of `<size.state size>+(2*<disk image size>)`?

[2021-12-03 12:04] tomponline commented on #9124
@stgraber there's various info about compression on https://btrfs.wiki.kernel.org/index.php/Compression, but the problem I see with `compress-force` is that its a mount option and so would affect all files in the storage pool. You can enable compression on a per-file basis (https://btrfs.wiki.kernel.org/index.php/Compression#Can_I_force_compression_on_a_file_without_using_the_compress_mount_option

[2021-12-03 14:34] stgraber commented on #9124
Hmm, so doubling the quota feels wrong as users will (rightfully) expect the volume to not exceed the quota they set...

The compress stuff has been absolutely horrible at causing filesystem corruption in the past and as it's indeed a global option for the entire filesystem, I'd be quite worried to turn it on.

One thing that comes to mind though is that I thought the recommendation was for VM ima

[2021-12-03 14:40] tomponline commented on #9124
Isn't BTRFS wonderful :(

Interesting, I had no idea the `nocow` option existed, nor that it was the recommended option for VM images.
I found this https://btrfs.wiki.kernel.org/index.php/FAQ#Can_copy-on-write_be_turned_off_for_data_blocks.3F and will see if that helps. It might well do given what we know now.

[2021-12-03 17:23] tomponline commented on #9124
@stgraber I'm afraid the `nowdatacow` option didn't work, I initially was encouraged, but after using snapshots of VMs from an image it didn't work. I've also checked that I am applying the `+C` attribute correctly, because it can only be applied to empty files.

I tested this by running `chattr +C` on an existing file and it didn't show as applied with `lsattr` (even though the chattr command did

[2021-12-03 18:57] crass opened #9622 "Websocket closed after hardware resume from suspend"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Focal
 * The output of "lxc info" or if that fails:
   * [lxc.info.log](https://github.com/lxc/lxd/files/7651654/lxc.info.log)

# Issue description

I noticed that my shell into a container had died with error output `Error: websocket: close 1006 (abnormal closure): unexpected EOF`. Looking in the logs I see:
[code]

This hap

[2021-12-03 19:03] crass commented on #7500
For anyone looking for a work around that allows keeping `debug` as a kernel parameter see [this comment](https://bugs.launchpad.net/snapd/+bug/1885597/comments/3) on the above mentioned bug report. The key is to use `systemd.log_level=info` on the commandline to override systemd interpretation of the `debug` parameter.

[2021-12-03 19:58] stgraber commented on #9622
Can you show:
 - journalctl -u snap.lxd.daemon -n 300
 - ps fauxww | grep lxd

[2021-12-03 20:11] crass commented on #9622
Here are the requested logs.
[snap.lxd.daemon.log](https://github.com/lxc/lxd/files/7652104/snap.lxd.daemon.log)
[lxd.ps.log](https://github.com/lxc/lxd/files/7652105/lxd.ps.log)

[2021-12-03 20:15] stgraber commented on #9622
And what was the date and time of the problematic suspend/resume which caused this disconnection?
To track things down we'd need a timestamp when the terminal was last known to be functional and timestamp for when you notice it got disconnected.

[2021-12-03 20:46] crass commented on #9622
It was last known to be functional on Dec 2 before the computer was suspended. The resume that I believe triggered the issue was the one subsequent to that suspend and it was just before Dec  3 11:36:32. I didn't notice the disconnect until some minutes later, not after Dec  3 12:37:30 and probably not after Dec  3 12:24:52 (but unsure of the latter date),

[2021-12-03 21:42] stgraber commented on #9622
Ok, so the issue looks like:
[code]

I think that's coming from some new logic @tomponline added recently. Basically there are heartbeats going on between `lxc exec` and `lxd` so that we can detect when a client's connection broke for one reason or another and can terminate the operation on the server side.

In this case, it looks like the heartbeats either didn't trigger immediately following sys

[2021-12-04 07:19] tomponline commented on #9622
I think the issue is that the current implementation relies on absolute times for calculating timeouts. Instead if we used in flight request counters it wouldn't matter how long between each request if both client and server were asleep.

[2021-12-04 18:34] dillonsamra9 opened #9623 "README links not working"
Documentation issue: After moving the installing.md to /docs, the link in README.md appears to have not been updated. I see where this happened with the link to contributing.md and security.md there are "symbolic link" files in the main directory for them, but for installing.md, when I click on the "Installing LXD" link under the "Installing LXD from packages" section of README.md, I am taken to a

[2021-12-04 18:52] stgraber commented on #9623
Currently it's really recommended to view the docs through https://linuxcontainers.org/lxd/docs/master/ which won't have that problem.

We're in the middle of a transition to a new tool to generate the docs and in this case, we can either have README.md functional on Github or have the resulting page functional on the documentation...

Moving forward the plan I believe is to separate doc/index.md

[2021-12-05 15:33] L1so opened #9625 "Launching 14.04 instance not working anymore"
# Required information
* Distribution: Ubuntu
*  Distribution version: 20.04 Focal Fossa
* Output of `lxc info`.
<details><summary>click</summary>

[code]
</details>

# Issue description
Is there any working image/template for Ubuntu 14.04 Trusty Tahr ? I frequently launch up 14.04 image to test my script, until I update my Ubuntu version and it no longer there on `lxc image list images:`. I searc

[2021-12-05 20:47] #9623 closed

[2021-12-05 20:49] stgraber commented on #9625
We don't publish EOL images on `images:`, we simply don't have the disk space or build capacity for that.

However you should still be able to find Ubuntu 14.04 on the official Ubuntu image server with `ubuntu:14.04`.
Those are larger images but they should still exist.

Alternatively, you could use distrobuilder (https://github.com/lxc/distrobuilder) to roll your own images (using an older versio

[2021-12-05 20:49] #9625 closed

[2021-12-05 23:18] andrewli6504 commented on #9232
Hello, I'm having a bit of trouble starting on this - where would most of the relevant code be located? Also, what steps do I need to perform before I can replicate the issue?

[2021-12-05 23:32] dillonsamra9 commented on #9523
Should I include the descriptions along with the listed sub-commands or just their names?
<img width="350" alt="subcmd" src="https://user-images.githubusercontent.com/60369763/144768476-04021d74-1839-4b07-9d64-d5dd32e54e16.PNG">

[2021-12-06 00:28] stgraber commented on #9523
I think having the one line description is quite useful.
I'm assuming this is all automated so we don't have to actually duplicate any of those strings, right?

[2021-12-06 00:38] stgraber commented on #9232
For basic setup of OVN, the standalone LXD OVN setup section at https://linuxcontainers.org/lxd/docs/master/networks#network-ovn should help you get such a network online.

Once you do, you should be able to reproduce the issue with the `lxc query` command I used above.

As for what will need to be done here, I suspect we'll want to:
 - Change `networkStateGet` in networks.go to instead:
   - Atte

[2021-12-06 02:51] #9552 closed

[2021-12-06 08:43] tomponline commented on #9232
@stgraber @andrewli6504 let me know when you get onto the OVN specific parts if I've not had chance before that to back to you on these as I don't have any answers right now so would need to spend some time digging into it.

[2021-12-06 09:50] tomponline commented on #9124
@stgraber Good morning. I've found out why I initially thought that the `nodatacow` option was working and then abruptly changed my mind. The reason is that initially I was testing on a VM I had imported from a backup (so it wasn't a snapshot of an image) whereas later I was testing on a VM that was created as a snapshot from an image volume.

Further reading on the subject of `nodatacow` revealed

[2021-12-06 10:02] tomponline commented on #9124
@stgraber this is effectively the same issue as LVM has for non-thin volume snapshots (where snapshots have to be created with  size that limits the total number of CoWs that can occur). For the LXD LVM driver, this has been addressed by creating the snapshot at the same size as the volume (effectively doubling the quota):

https://github.com/lxc/lxd/blob/master/lxd/storage/drivers/driver_lvm_util

[2021-12-06 10:47] ru-fu commented on #9623
Yes, https://github.com/lxc/lxd/pull/9588 will fix this issue. But it will not work with our current doc tool, so we need to wait with merging that one.

[2021-12-06 14:38] stgraber commented on #9124
Not really as in the LVM case it still won't allow me to dump 10GiB of state data on top of the quota.

In the btrfs case, if we use the approach of silently doubling the quotas and we have users who happen to start using stateful stop/snapshot, they will be allowed to exceed their quotas, potentially by tens of GiB, completely messing up any chance of doing proper resource control on the system (

[2021-12-06 14:40] tomponline commented on #9124
This is because we have conflated the state and disk file quotas by not using a separate subvolume (without quota) for the disk image file. Although this is a lot larger change, it seems like the best approach to address this cleanly.

[2021-12-06 14:48] dillonsamra9 commented on #9523
Sounds good. Correct, none of the strings were duplicated. Since the help text is generated by CobraCommand, and CobraCommand doesn't have direct support for displaying sub-commands, but it does allow the user to override the default help template, so my approach was to create an alternate help template that includes sub-commands and is only used if the --sub-commands flag is passed.

I have a few

[2021-12-06 15:05] stgraber commented on #9124
It would still be papering over an upstream issue. Yes, doing two volumes would help a bit for the block case, but we'd still get that failure on the fs volume as that one would still need a limit and so would hit the bug if ever snapshotted.

Similarly, we could absolutely reproduce this issue with a container filesystem.

I'm usually not very keen on papering over other people's bugs especially

[2021-12-06 15:14] stgraber commented on #9523
Sounds good!

[2021-12-06 15:18] tomponline commented on #9124
OK I will update the docs absolutely.

[2021-12-06 15:24] tomponline commented on #9622
Just to be clear here, is the `lxc` shell into the container running on the same host as the `lxd` server and the container?

[2021-12-06 15:45] tomponline commented on #9622
Although I've not been able to reproduce by pausing a LXD VM running LXD container inside of it using `lxc pause` I've put up https://github.com/lxc/lxd/pull/9632 as a speculative fix for this.

[2021-12-06 17:08] crass commented on #9622
Yes, `lxc` shell was running on the same host as the `lxd` server. I've not been able to reproduce it either (via a several suspend/resume cycles). I'm thinking it might be triggered by a race condition.

[2021-12-07 03:59] #9523 closed

[2021-12-07 04:00] #9622 closed

[2021-12-07 21:37] #9596 closed

[2021-12-07 23:04] #7559 closed

[2021-12-08 00:05] woutervb opened #9642 "Running snap inside lxd container on impish fails"
# Required information

 * Distribution: Ubuntu
 * Distribution version:  Impish 21.10
 * The output of "lxc info" or if that fails:
   * LXD version: 4.20 / snap
   * Storage backend in use: dir

# Issue description

Installing the snap-store-proxy snap inside the container results in only 2 services running, while it should be that only 2 don't run. Container can be either Bionic or Focal

# Ste

[2021-12-08 00:51] stgraber commented on #9642
I suspect the issue is that your container runs Ubuntu 20.04 and likely expects a cgroup1 layout, your host system is running impish which comes with cgroup2, this then results in a fair bit of confusion with snapd and that issue.

Can you try booting your host system with `systemd.unified_cgroup_hierarchy=false` passed to the kernel command line?

[2021-12-08 00:53] stgraber commented on #9642
Ah, the related forum thread mentions something about network sockets, it'd be good to have the `dmesg` output for those.

[2021-12-08 01:21] woutervb commented on #9642
Hi,
I cannot give you the dmesg, but I have a pastebin that might prove useful https://pastebin.canonical.com/p/pDzRRpwVT6/

Currently back on Focal, as this problem was blocking me.

The other info I can provide, is that running the command `snap-proxy status` inside the container gave the following output:
[code]

  Which does indeed give me the indication that something cgroup related is going

[2021-12-08 01:59] stgraber commented on #9642
[code]

Is what I suspected with running snaps in a 20.04 container on a 21.10 host, if that's the source of the issue, then there's nothing we can do as that's a snapd deficiency (which hopefully can be fixed in their 20.04 build).

[2021-12-08 02:06] stgraber commented on #9642
I've reproduced the issue here and looking at the kernel log, I'm seeing things like:
[code]

All of those are for snapd generated apparmor profiles and we're indeed seeing a lot of failures in there.

Just for completeness, I've also installed snap-store-proxy directly on the 21.10 system, it's looking moderately happier but still won't work:
[code]

So as this issue persists with LXD completely

[2021-12-08 02:06] #9642 closed

[2021-12-08 02:08] woutervb commented on #9642
That it doesn't work is as it is not configured / registered, but you got at the state that is expected. Will open a case with snapd and see what they can do.

[2021-12-08 02:14] stgraber commented on #9642
Hmm, it was still spewing a lot of DENIED in `dmesg` even when run outside of a container, so there's something a bit odd going on with that snap. I also suspect that the snapd team hasn't been very actively testing snapd inside of a pre-cgroup2 container on a cgroup2 host as that's quite a rare setup at this stage.

[2021-12-08 08:37] bboozzoo commented on #9642
I left a note in LP https://bugs.launchpad.net/lxd/+bug/1953563/comments/1 but it does not appear to be related to cgroups v2. I tried some smaller snaps, all behaved correctly. I have launched a couple of configurations (21.10 on 21.10, 20.04 on 21.10, 20.04 on 20.04). Indeed there appears to be a problem with 21.10 as a host which is observed with a nested instance of 21.10 and 20.04. However, d

[2021-12-08 10:01] tomponline opened #9647 "Replace use of project=* with all-projects parameter in /1.0/events"
See https://github.com/lxc/lxd/pull/9590#issuecomment-988285974

* Add the all-projects URL parameter.
* Have the internal struct track it as a boolean and have LXD strictly validate the project field against existing project names

[2021-12-08 10:07] #9073 closed

[2021-12-08 13:00] liamnickell commented on #9489
@stgraber Hey, I've been trying to understand the instance migration/evacuation code and was curious if I could get a bit more clarification on this issue.

The only place where the `cluster.migrate` config value is checked is in `canMigrate(inst instance.Instance)` of driver_common.go to determine whether to return true/false (and that return value is only used in `evacuateClusterMember` of api_c

[2021-12-08 13:13] tomponline commented on #9215
@stgraber one concern I do have (after reviewing https://github.com/lxc/lxd/pull/9641) is what is the behaviour (or should we even allow it to occur) when `ipv{n}.address=none` and `security.ipv{n}_filtering=false`.

This would suggest that we somehow are disabling DHCP and/or SLAAC for that instance NIC (which at least for SLAAC we cannot do).

So should we say that if `ipv{n}.address=none` then

[2021-12-08 13:24] #9554 closed

[2021-12-08 15:46] tomponline opened #9650 "Record client net.Conn in http.Request context"
As per discussion https://github.com/lxc/lxd/pull/9644#issuecomment-988651132

[2021-12-08 15:59] stgraber commented on #9650
@markylaing want to take a stab at that one?

[2021-12-08 18:02] stgraber commented on #9215
@tomponline yeah, I think that'd make sense to restrict the `none` address to only when the matching filtering feature is enabled.

[2021-12-08 21:06] dillonsamra9 opened #9651 "Typo in doc/api/extensions.md"
While working on [9518](https://github.com/lxc/lxd/issues/9518) I saw a typo in the gpu_mig section:
"This adds support for NVIDIA MIG. It introduces the mig gputype and **_associaetd_** config keys."

[2021-12-08 21:09] stgraber commented on #9651
Oh oops, want to send a PR to fix it?

[2021-12-08 21:10] dillonsamra9 commented on #9651
Yeah I'll take care of it

[2021-12-08 21:18] Gautham-Raju commented on #9561
Hey, I was looking at this issue and I think I can implement the fix. Could I get this assigned?

[2021-12-09 03:52] #9651 closed

[2021-12-09 04:56] #9239 closed

[2021-12-09 05:45] #9466 closed

[2021-12-09 06:13] andrewli6504 commented on #9236
As I was messing around with images and profiles to understand how they work, I found something that either is an issue, or I have misunderstood something. I created a new profile with `lxc profile create tempprofile`, then tried to add that profile to an image by editing the YML file by doing `lxc image edit ubuntu`, where ubuntu was the name of my image. Now, tempprofile shows up as a profile fo

[2021-12-09 06:58] #9407 closed

[2021-12-09 07:00] stgraber commented on #9561
@Gautham-Raju done!

[2021-12-09 07:04] stgraber commented on #9236
Nope, what you did is perfectly correct, I think it's simply that we don't have UsedBy on profiles track images.
That's mostly because this is a softer relationship than an instance to a profile. That is, deleting a profile shouldn't be blocked because some images default to using it.

[2021-12-09 07:11] BlakeRomero commented on #7901
I've been able to add zfs.blocksize and volume.zfs.blocksize as config options, but I am a bit confused on how I can actually provide the desired functionality to these config options.
Do you have any tips on where in the code I should be looking?

So far, I have found that in lxd/storage/drivers/driver_zfs_volumes.go, CreateVolume references a defaultBlockSize, and GetVolumeUsage references a sta

[2021-12-09 07:36] andrewli6504 commented on #9236
Also, I am trying to figure out how to add a new command flag - where should I be looking to add that in?

[2021-12-09 17:19] #9128 closed

[2021-12-09 18:31] #9647 closed

[2021-12-09 20:54] #9215 closed

[2021-12-09 21:01] GuanglinDu commented on #6167
I ran across the similar problem when creating a cluster with several old laptops. There must be something wrong when the first node was initialized. I re-created this node several times with "lxd init" before fixing the problem. I tweaked the options carefully according to my former operations and the prompts, such as the following one should be yes, then I fed it with the local cabled host netwo

[2021-12-09 22:21] #9593 closed

[2021-12-09 23:54] stgraber commented on #9642
@mvo5 can you have someone look into this?

[2021-12-10 02:41] stgraber commented on #9236
To add `--profile` to `lxc image copy`, you'd change `lxc/image.go`, look for the `cmdImageCopy` section and add a `flagProfile` section similar to what you'll find in `lxc/init.go` for example.

[2021-12-10 02:53] stgraber commented on #7901
So the code paths that would need to be covered for this are the volume creation ones:
 - CreateVolume
 - CreateVolumeFromBackup
 - CreateVolumeFromCopy
 - CreateVolumeFromMigration

And because I "think" those properties can be changed later on, probably also add support for blocksize to:
 - UpdateVolume

I suspect the easiest here would be to add a `setBlocksize(vol Volume)` function to the `zfs

[2021-12-10 02:57] stgraber commented on #7901
Ah, so I just played with them a bit. `recordsize` (for filesystem volumes) can be set to any value that's a power of 2 between 512B and 1M, it can be changed at any time.

`volblocksize` can only be set at creation time (`zfs create`), it cannot be modified at any other point.

So for `recordsize`, what I said above will work just fine, but for `volblocksize`, it will only be possible to do it fr

[2021-12-10 08:05] BlakeRomero commented on #7901
Thanks for the tips! I was able to add the necessary code for each of the places you mentioned, and I have written a `setBlocksize` function as well. I do have a couple more questions:

First, I think it would make sense to include some logic for a default value for this property, but I am unsure of what that default value should be and how I would go about including this logic. Do you have any po

[2021-12-10 08:17] andrewli6504 commented on #9236
I am trying to compile the code to see if the changes I implemented work by following the steps in installing.md. However, the last step, `sudo -E PATH=${PATH} LD_LIBRARY_PATH=${LD_LIBRARY_PATH} $(go env GOPATH)/bin/lxd --group sudo` I get the following errors:
`WARN[12-10|01:42:41]  - Couldn't find the CGroup blkio.weight, disk priority will be ignored
WARN[12-10|01:42:41] Instance type not opera

[2021-12-10 08:25] bboozzoo commented on #9642
@woutervb I am on the snapd team, anyways, I see that @stgraber has already identified a potential problem in VFS idmapping and the bug has been reassigned to the kernel for further investigation.

[2021-12-10 09:07] tomponline commented on #9236
These are not errors they are warnings (hence the "WARN" prefix) and shouldn't prevent LXD from starting. What specifically doesn't work?

[2021-12-10 09:11] andrewli6504 commented on #9236
When I try and run any commands it tells me that it cannot find the command lxc

[2021-12-10 09:12] tomponline commented on #9236
OK so thats not indicating that LXD cannot start, just that you're not actually running the `lxc` client command.

Where did you install `lxc` into, do you see it at `~/go/bin/lxc`?

[2021-12-10 09:15] andrewli6504 commented on #9236
I do see it there

[2021-12-10 09:38] tomponline commented on #9236
Did you set these?

[code]

[2021-12-10 09:42] andrewli6504 commented on #9236
I thought I did, but after doing it again it works. Sorry for the trouble.

[2021-12-10 09:45] tomponline opened #9665 "Links from README.md to installing.md, security.md and contributing.md are broken when viewed from github"
Since our `README.md` file became a symlink to `doc/readme.md` the relative links to `installing.md`, `security.md` and `contributing.md` are broken when viewed from the homepage at https://github.com/lxc/lxd.

This is because, whilst github respects the symlink for `README.md` -> `doc/readme.md` for viewing the file, it doesn't respect the links in it to, say, `installing.md` which instead just p

[2021-12-10 10:06] ru-fu commented on #9665
The only thing that has changed is the added link to installing.md - the other two links have been there for a while and they always linked to the redirect (thus: did not work).

This is an issue, of course, but it will be fixed with https://github.com/lxc/lxd/pull/9588 once we move to the new doc system.

[2021-12-10 10:09] tomponline commented on #9665
Odd, I've used those links in the past and they worked, do you know when they got broken by any chance?

Can we merge just this part https://github.com/lxc/lxd/pull/9588/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5 early so we don't knowingly leave our homepage in a broken state?

[2021-12-10 10:16] ru-fu commented on #9665
The readme redirect was added 4 years ago, so I would assume it's been a while. ;)
The links work if you are in the doc folder, however. So if you check the history it will look like they worked - until you go to the root folder of the repo at that time.

Not sure which part you mean, the link just shows the full commit for me?
I don't think we can merge part of it without breaking our documentati

[2021-12-10 10:20] tomponline commented on #9665
Oh wow, thats not good! :( I must have just used the installing.md link which worked until recently.

Ah I thought the link would take you to the specific page in that commit, basically can we just merge the new standalone README.md and contributing.md, do they depend on sphinx?

[2021-12-10 10:24] ru-fu commented on #9665
They don't, but it would mean duplicating them, since we cannot reuse the content in the docs. So we would have the same files in two locations.
Then we can also just copy installing.md, security.md and contributing.md to the root folder instead of having a symbolic link.

[2021-12-10 10:28] tomponline commented on #9665
Sounds good. But I am a bit confused, isn't your PR https://github.com/lxc/lxd/pull/9588 proposing to do that already (move the content back to their own files in root rather than "docs")? Is it just that the includes won't work on the equivalent doc/ page until we move to sphinx?

[2021-12-10 10:34] ru-fu commented on #9665
The idea of the PR is to move the content that we need in the GitHub root folder (namely README.md and contributing.md) to the GitHub root folder, and include the content that we also want in the docs from those files (single source). And we cannot do the single-source part without Sphinx.

[2021-12-10 10:37] tomponline commented on #9665
OK that makes sense, and sounds great.

But given that the github repo home page is in many ways our "store front" (for want of a better phrase) it would seem to me to be preferential to have some short-term duplication (until sphinx can be deployed to remove that duplication) rather than have broken links on the github repo home page.

What do you think @ru-fu and @stgraber ?

[2021-12-10 10:41] markylaing opened #9666 "Installing from source / development setup issues"
I encountered a few problems with setting up a development environment. I may have missed things in the documentation however, so I'll put the issues here for discussion around where/what we can improve.

# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04.3 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11.0-41-generic
   * LXC version:

[2021-12-10 10:42] tomponline commented on #9666
@ru-fu might know such improvements to a development setup guide would go?

[2021-12-10 10:51] ru-fu commented on #9666
Anything that is wrong or missing in the [Installing LXD](https://linuxcontainers.org/lxd/docs/master/installing) documentation should be fixed there.
If we need a more comprehensive "here's how to get started" guide for new developers, it should go in the Getting started section, either as a new guide or as an extension/cleanup to [Getting Started Developing](https://linuxcontainers.org/lxd/docs/

[2021-12-10 10:52] tomponline commented on #9666
Sounds good @ru-fu thanks

[2021-12-10 11:27] markylaing commented on #9414
@tomponline should we also set a default value?

e.g.
[code]

[2021-12-10 11:29] tomponline commented on #9414
I think it will be defaulting to empty string anyway so I'd leave it off (make it like the `networks_zones` table for example)

[2021-12-10 13:43] InsanePrawn commented on #7901
Please note that users can use a tunable to be able to go above 1M for recordsizes.

[2021-12-10 15:29] stgraber commented on #9665
@tomponline we're days away from the cut over to Sphinx

[2021-12-10 15:34] stgraber commented on #7901
Default should be not to set either of those properties.

`recordsize` and `volblocksize` are ZFS properties which you pass to `zfs create` or to `zfs set`

[2021-12-10 22:53] andrewli6504 commented on #9232
Have you had time to look more into the OVN parts yet @tomponline ?

[2021-12-11 01:19] andrewli6504 commented on #9236
Right now, I can't get the copy command to take in a profile argument. I am currently doing this: `cmd.Flags().StringArrayVarP(&c.flagProfiles, "profile", "p", nil, i18n.G("Profile to apply to the new instance")+"``")` to get the profile from the user, and have added a flagProfile section as was suggested. Am I missing something?

[2021-12-11 01:32] stgraber commented on #9236
I don't know, it should be very straightforward to do, like here:
[code]

[2021-12-11 01:43] stgraber commented on #9508
So looking into what @tomponline wrote and the state of the code, the actions to take here are:
 - Update device/gpu_mig.go to validate that it's only used with containers (MIG isn't supported on VMs)
 - In general clarify in the docs that while GPU passthrough in containers can match multiple GPUs at once, for VMs, a device can only match a single GPU

[2021-12-11 02:00] stgraber commented on #9489
Sorry for the delay. So indeed `evacuateClusterMember` in `api_cluster.go` is the main thing we'll want updated here.

Currently it calls `CanMigrate()` on the instance which in (see `canMigrate` in `driver_common.go`) will do:
 - Check if `cluster.evacuate` is set to `migrate`, if so, force the migration (ignore what the devices say)
 - Check if `cluster.evacuate` is set to `stop`, if so, force t

[2021-12-11 02:27] stgraber commented on #9232
- hwaddr: "mac" field from lr-lrp-ext (Logical_Router_Port)
 - mtu: maybe "mtu" field from ipv6_ra_configs  on lr-lrp-int
 - state: up
 - type: broadcast
 - ovn
   - chassis: map lr-lrp-ext in Logical_Router_Port table of SB database to name field in Chassis table

@tomponline I haven't found a way to figure out the chassis from NB alone so looks like we need to poke SB which I don't think we've d

[2021-12-11 11:20] tim-seoss opened #9678 "Containers with routed IPv4 addresses no longer able to forward traffic in 4.21 candidate"
# Required information

 * Distribution: Debian
 * Distribution version: 11
 * The output of "lxc info":

WARNING: cgroup v2 is not fully supported yet, proceeding with partial confinement
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- au

[2021-12-11 11:43] tomponline commented on #9678
Thanks for testing this. I believe this may be related to the move sway from liblxc's router implementation (needed to support routed nics with vms) and some differences between the minimum sysctls needed for ipv4 vs ipv6 functionality.

[2021-12-11 17:04] xehrad opened #9679 "Ignore project information other than project.default in metrics"
# Required information

 * Distribution: Ubuntu
 * Distribution version:  20.04
 * LXC version: 4.20
 * LXD version: 4.20

# Issue description

When I try to get lxc metrics from **/1.0/metrics**, the result contains only **project.default** information, there is no other **project**.

[2021-12-11 18:26] stgraber commented on #9679
I'm unable to reproduce this, here I'm definitely getting data over many many projects.

One thing that's worth noting is that the metrics API only returns information for running instances that are hosted on the server being queried, it will not show you entries for stopped instances and will not aggregate data across a cluster.

[2021-12-11 18:29] gibmat opened #9680 "fuidshift binary accidentally included in source"
The recent release of v4.21 appears to contain a pre-compiled fuidshift binary; looks like it was accidentally included in commit fbd6af0. (Noticed while updating my preliminary LXD packaging for Debian.)

[2021-12-11 18:31] stgraber commented on #9680
Doh, not sure how that happened (or was missed in review)...

[2021-12-11 18:33] stgraber commented on #9680
Sent a PR to remove it. The file wasn't at a usual location for a binary build, so wouldn't have been caught by .gitignore, I guess it must have been @ru-fu running a manual `go build` or similar combined with Github not making it super obvious when a binary file is included (just a one line entry in a diff...).

It's a bit unfortunate as that effectively grows the repo size by around 7MB indefini

[2021-12-11 19:14] #9680 closed

[2021-12-12 06:46] #9678 closed

[2021-12-13 06:28] xehrad commented on #9679
thnx dear stephane

So how do I get specific project data?
For example, by adding the project name at the end of the endpointt: /1.0/metrics?**project=test**
Currently only **"project default"** metrics is available

[2021-12-13 11:18] tomponline commented on #9232
I've spent a few hours this morning on this and so far the only way I've figured out how to detect the active gateway chassis is as follows:

Assuming you have an OVN central server (called `ovndb`) and 3 OVN host servers (called: `ovn1`, `ovn2`, and `ovn3`) in an OVN setup (their chassis IDs can be got via `ovs-vsctl get open_vswitch . external_ids:system-id` on each server).

[code]

On the `ovn

[2021-12-13 11:27] tomponline commented on #9232
In order to do this LXD will need to access the OVN southbound database, which as @stgraber rightly says we've not needed to do before. However OVN does require that each OVN server has the southbound connection details stored in the OVS database on each server, and as a LXD OVN network must exist on each cluster member, we should be able to get access to the OVS connection string by using the `ov

[2021-12-13 11:29] tomponline commented on #9232
Have emailed @fnordahl about this too.

[2021-12-13 13:45] markylaing commented on #9666
1. I may have installed `dnsmasq` while trying to resolve the the issue but `dnsmasq` wasn't using port 53, that was `systemd-resolved`. I had to turn off the [DNS stub listener](https://www.freedesktop.org/software/systemd/man/resolved.conf.html#DNSStubListener=).
2. I didn't knowingly install `uidmap`. Do you think it would be useful to add a note for new contributors (say under https://github.c

[2021-12-13 14:25] stgraber commented on #9666
1) That's odd. LXD's use of dnsmasq is designed to work with the systemd stub resolver on localhost otherwise we'd hit this problem on every single system where LXD would get installed. LXD itself never binds localhost, it runs its dnsmasq processes only on the bridge interfaces it creates.

2) We shouldn't recommend removing it as that may actually break other software. Instead we should say that

[2021-12-13 14:27] ru-fu commented on #9680
This is super weird, since I've never run any go builds, and I don't even have that file on my local branch. But then, I was also not the last one to force-push to that branch. ;)

[2021-12-13 14:27] tomponline commented on #9666
This can be added to this section https://github.com/lxc/lxd/blob/master/doc/installing.md#machine-setup as an extension of https://github.com/lxc/lxd/pull/9601

[2021-12-13 14:31] stgraber commented on #9680
Hmm, you're right, it most likely was me who pushed that one then... Would also explain why we didn't see it in review if it happened during the merge...

Still no idea how I'd end up with the idmap tool at that location... None of our makefile entries do that.

I'll have to check if we can't put some check in place to flag commits growing the repo by more than a MB. If caught early enough I could

[2021-12-13 14:33] stgraber commented on #9666
With the caveat that this does not apply to snap users as we completely ignore subuid on those systems. So it's limited to those installing from source and to some other distros.

[2021-12-13 14:34] tomponline commented on #9680
Could we add to .gitignore too?

[2021-12-13 14:34] tomponline commented on #9666
Yeah that whole section doesn't apply to snap users, so worth adding that.

[2021-12-13 14:37] stgraber commented on #9232
@tomponline what was I missing in my approach to find the chassis?

This was using only the SB database to trace the logical router port for a network to its chassis and then getting the name of the system from the SB chassis table.

[2021-12-13 14:39] stgraber commented on #9680
That would make sense if we had something like a test or makefile that would build in that location but we don't.

[2021-12-13 14:43] tomponline commented on #9232
Sorry I missed that bit of your post (was flitting about between several topics at the same time and must've not clocked you were proposing a solution, thought you were just asking how to achieve it).

I'm not quite following your proposal though, do you have a step by step? Also from what I could see there is a difference between cleanly shutting down a server (where the chassis entries are remov

[2021-12-13 14:44] stgraber commented on #9679
The metrics endpoint does not normally filter by project, it returns data for all running instances on the system.

If you have running instances on a system that don't show up in `lxc query /1.0/metrics` then look at the LXD log for error.

[2021-12-13 14:46] tomponline commented on #9680
Yeah it shouldn't end up there normally. But was thinking we could add it there as protection anyway.

[2021-12-13 14:49] stgraber commented on #9232
I don't have an OVN system to poke at right now (on my phone) but from what I remember I was just looking at two tables in the SB database.

In Logical_Router_Port, you locate by name the entry for your network's external router port (netX-lr-lrp-ext). Then from that entry you get the chassis id field and then line that up with the matching entry in the Chassis table, finally you get the name of t

[2021-12-13 14:50] stgraber commented on #9680
I guess we can do it for all commands.

[2021-12-13 17:17] stgraber commented on #9232
So the steps seem to be:
 - Get SB connection string with `ovs-vsctl get open_vswitch . external_ids:ovn-remote`
 - From the SB database, pull Port_Binding, in there, locate `cr-lxd-net<ID>-lr-lrp-ext`
 - Pull the Chassis table from the SB database, find the record matching the `chassis` field in the Port_Binding table and extract the `hostname` field from that `Chassis` record

[2021-12-13 17:27] tomponline opened #9688 "Running lxd cluster edit on a standalone server gives save error: At least one member must be a "voter""
Running lxd cluster edit on a standalone server and then exiting without making any changes gives save error:

[code]

Perhaps this should detect if server is clustered and either error when command is run or allow no changes to be applied.

[2021-12-13 18:08] tomponline commented on #9232
You can load the specific port using `ovn-sbctl find port_binding logical_port=cr-lxd-net<ID>-lr-lrp-ext`

[2021-12-13 18:14] tomponline commented on #9232
@stgraber yep that seems to work great, even with forcefully killing a server. :)

[2021-12-14 12:58] olegsidokhmetov commented on #2147
Hello.

I have a similar issue.
this command `lxc exec Jitsi-bak export http_proxy=http://ip:3128 does not work` from my host
I need to add this proxy to file in Jitsi-bak container `/etc/environment `

export http_proxy=http://ip:3128
export https_proxy=http://ip:3128

What command I should to use to add this from host?

[2021-12-14 13:50] stgraber commented on #2147
You can use 'lxc file edit' to edit that file remotely.

Or if you just want those variables set in your environment during exec sessions, then use 'lxc config set' and set the 'environment.http_proxy' and 'environment.https_proxy' keys.

[2021-12-14 16:45] stgraber commented on #2147
Should work fine, yeah

[2021-12-14 20:00] #9555 closed

[2021-12-14 23:05] masnax opened #9693 "lxc list --all-projects returns the wrong project if instance names are the same."
# Issue description

When creating two instances with the same name on two different projects, `lxc list --all-projects` lists the same project for both instances.

# Steps to reproduce

`lxd init --auto`
`lxc project create proj2`
`lxc profile device add default root disk path=/ pool=default --project proj2`
`lxc launch ubuntu:21.04 test-same-name --project default`
`lxc launch ubuntu:21.04 test-

[2021-12-14 23:17] tomponline commented on #9693
OK to take this @markylaing ?

[2021-12-15 10:58] maran opened #9696 "Fail to start container with IPv6 only routed devices"
# Required information

 * Distribution: Ubuntu 18.04.5 LTS
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Starting a container on LXD 4.21 with a routed Ethernet device with just an IPv6 IP fails to start.

# Steps to reproduce

 1. Add a device to your container.  For instance:
[code]
 2. Restart the container
 3. Receive an error.

[code]
We did not have this issue

[2021-12-15 11:00] tomponline commented on #9696
I'll look into this, can you try as a workaround setting `ipv4.gateway=none` on the routed NIC?

[2021-12-15 11:21] tomponline commented on #9696
Fixed the issue and added tests for this scenario as well.

[2021-12-15 11:41] maran commented on #9696
I can confirm this also works and is a better workaround then what I did, thanks.

[2021-12-15 12:21] randombenj opened #9699 "Failed to start disk device "X0""
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:

[code]

# Issue description

To start GUI applications in lxd containers we mount the `/tmp/.X11-unix/X0` file to the container:

[code]

However since version `4.21` this fails with the following error:

[code]

This used to work in version `4.20` and is reproducible on mu

[2021-12-15 12:25] tomponline commented on #9699
Can you show output of:

[code]

And

[code]

[2021-12-15 12:26] randombenj commented on #9699
[code]

[code]

[2021-12-15 12:29] tomponline commented on #9699
Does passing through `/tmp/.X11-unix/` work?

[2021-12-15 12:31] randombenj commented on #9699
Yeah that seems to work:

[code]

[2021-12-15 12:36] tomponline commented on #9699
And is the file you wanted to pass accessible inside the container that way?

The error you are getting is from:

https://github.com/lxc/lxd/blob/master/lxd/device/disk.go#L1325-L1328

It is quite a basic function call using the Go stdlib, so its strange that LXD running inside the snap mount namespace cannot open it.

[2021-12-15 12:41] randombenj commented on #9699
Sadly it's not:

[code]

Well it was a few seconds ago:

[code]

Thats strange ... ?

[2021-12-15 12:43] randombenj commented on #9699
Okay it seems to not be an lxd problem after all:

[code]

[2021-12-15 12:51] tomponline commented on #9699
Where was that run from?

[2021-12-15 12:51] tomponline commented on #9699
So it seems to be coming and going on the host or just in the container?

[2021-12-15 12:53] randombenj commented on #9699
It's from my host, so that's strange :thinking:

[2021-12-15 13:02] randombenj commented on #9699
So after a fresh reboot the `X0` file is there again in the host and contaienr and `xeyes` work again!
![image](https://user-images.githubusercontent.com/5184499/146190957-1a1ef5e9-1f51-4880-8c80-976c4b8293aa.png)

So mounting the folder seems a good workaround. Mounting the file directly still fails:

[code]

@tomponline do you have any idea why this might behave differently than in `4.20`?

[2021-12-15 13:09] randombenj commented on #9699
Just reproduce the mounting of the `/tmp/.X11-unix/` folder on all colleagues' workstation, and the behaviour is the same, after `lxc config device add ...` the directory is empty.

[2021-12-15 13:22] tomponline commented on #9699
Yeah if the file is coming and going that is going to be a problem.

[2021-12-15 13:32] tomponline commented on #9699
Any ideas @stgraber ?

[2021-12-15 13:44] #9696 closed

[2021-12-15 13:48] stgraber commented on #9699
@tomponline sounds like the issue here is with our changes to the bind mount logic and the source file being a socket.

You can't open() a socket the normal way. You may be able to open it enough with O_PATH though.

@tomponline should be reproducible by creating a socket with `nc -U -l` and attempting to pass that in.

[2021-12-15 13:49] tomponline commented on #9699
@stgraber ah OK so the socket is the difference, will test it.

[2021-12-15 13:52] tomponline commented on #9699
Yep that got it:

[code]

[2021-12-15 14:34] tomponline commented on #9699
thanks @stgraber O_PATH works well, and I was able to remove the O_READONLY as its not needed for directories when opening with O_PATH (and is ignored anyway from what I read).

Testing on VMs now to check no regression there.

[2021-12-15 15:09] #9699 closed

[2021-12-15 15:29] tomponline commented on #9699
VM disk tests seem fine with this.

[2021-12-15 17:51] VincentK-Titandc commented on #9518
Since NVIDIA driver 470 does not work with old /gi/ci syntax (eg. MIG-GPU-2e4159a0-dab5-1747-e7b7-b3396fab58b4/7/0), required env var `NVIDIA_VISIBLE_DEVICES` can be overridden as a workaround until we get `mig.uuid` working:

[code]

Hopefully raw settings are pushed at the very end of lxc.conf.

[2021-12-15 18:15] gibmat commented on #9531
gobgp has tagged a couple 3.0.0-rc releases that moves to the new protobuf library (https://github.com/osrg/gobgp/issues/2485). I've verified from a very simple standpoint that LXD 4.21 compiles with changes made to `lxd/bgp/server.go`, but as I don't have any BGP stuff setup locally, I can't test to ensure nothing's inadvertently broken LXD.

[2021-12-15 21:28] stgraber commented on #9531
https://github.com/lxc/lxd/pull/9704

[2021-12-15 23:58] jeff2814 commented on #9408
Hi, unfortunately we weren't able to tackle to this issue this semester. So it'll be best to let someone else take the issue.

We also wanted to thank the maintainers for letting us contribute to the lxd! It's been a pleasure working on lxd and we might be back in the future. In the meantime, we wish y'all the best!

[2021-12-16 00:22] gaia opened #9706 "Option to let rsync finish with errors if the operator desires"
* Kernel version: 5.10.0-9-amd64 Debian (source)/5.4.0-89-generic Ubuntu (target)
   * LXC version: 4.0.11 | 6.1.0 (both)
   * LXD version: 4.21 (source)/4.0.8 (target)
   * Storage backend in use: dir (both`are dir drivers on underlying LVM using an entire partition)

# Issue description

When copying a container with

`lxc copy demo-container node4: --stateless --no-profiles --instance-only -s s

[2021-12-16 04:34] stgraber commented on #9706
There does not appear to be an rsync flag to control this behavior.

`--ignore-missing-args` handles files that are directly requested (on the command line) which don't exist at scanning time, but per the manpage, does not cause rsync to ignore files which vanish between the scanning and transferring stage.

So with that in mind, I'm not seeing any way to prevent rsync from exiting when encounteri

[2021-12-16 04:35] stgraber commented on #9408
Thanks, I've cleared the assignee field.

[2021-12-16 05:07] gaia commented on #9706
I am under the impression it finishes and exits with a code 24.

That would be incredibly useful!

PS: one day (one can dream) a subsequent copy could even be differential (only updated files, might as well since rsync is well equipped for this purpose)

[2021-12-16 05:56] stgraber commented on #9706
@markylaing another thing you can look into, probably after that `lxc alias` thing from the forum.

For this one, the caller is effectively `lxd/storage/drivers/generic_vfs.go` and the `genericVFSMigrateVolume` function.

I think the easiest there would be to wrap the existing `rsync.Send` call into a check for:
 - vol.Type() == VolumeTypeContainer
 - !vol.IsSnapshot()

If both of those are true a

[2021-12-16 07:39] newinnovations commented on #9699
How to install this fix asap?  Reverting to 4.20 does not work as the database format has changed and edge does not feature it yet.

[2021-12-16 08:49] tomponline commented on #9699
Its been merged so should be in the edge snap channel soon.

[2021-12-16 09:30] tomponline commented on #9706
Making rsync ignore exit code 24 copy errors during a migration seems problematic (especially when we don't know for sure all the scenarios that exit code 24 occurs), especially if the migration is part of a move and at the end the source is deleted preventing any recovery of missing data should exit code 24 occur in another scenario.

Also, importantly, we already have catered for this scenario b

[2021-12-16 09:50] xehrad commented on #9679
oops, I misunderstood that the lxc cluster metric is received from one node of lxc, while
 **All nodes of cluster** must be define as targets for prometheus.
thnx dear stephane :)

[2021-12-16 17:15] stgraber commented on #9706
I guess the fsfreeze would indeed take care of the error and be overall consistent with what we've done with so far, though that will likely be problematic for the reporter of this issue and others with large instances as it will completely freeze any workload running on the source, potentially for minutes which could cause an outage.

[2021-12-16 17:18] tomponline commented on #9706
Yeah, I suppose we need to decide what the default mode is and implement it consistently, and assuming that is the "safe but interrupting" mode by default, then after that we can add a "non-interrupting but inconsistent mode" for people to opt-in to.

[2021-12-16 17:19] stgraber commented on #9706
For the LVM and Ceph cases, snapshots are problematic as xfs and btrfs will not allow concurrent mounting of a snapshot and original volume unless their identifiers are changed. That rewrite operation, at least on btrfs is very costly.

There's also the issue that we would take a snapshot while the instance is running, so writes wouldn't be flushed and the filesystem may be dirty.

[2021-12-16 17:20] tomponline commented on #9706
Thanks for that info, so I suppose we need to mark LVM as RunningCopyFreeze=false too. then.

[2021-12-16 17:21] stgraber commented on #9706
Maybe the easy solution here is to allow for that rsync error in refresh mode?

And so require the instance be copied, not moved.

[2021-12-16 17:31] tomponline commented on #9706
So even without the specific issue that the OP is encountering (the `file has vanished` error) the copy (whether in refresh mode or otherwise) is inconsistent if running for some storage pool drivers and not others. That alone is not ideal as it could catch unsuspecting users who don't understand the limitations of their chosen storage pool, but more confusingly its inconsistently inconsistent, be

[2021-12-16 17:53] #9414 closed

[2021-12-16 17:54] tomponline commented on #9665
This is fixed now, thanks @ru-fu

[2021-12-16 17:54] #9665 closed

[2021-12-16 18:11] #9679 closed

[2021-12-16 19:29] gaia commented on #9706
this would nullify the utility of the proposed solution entirely in our situation. if we could forego relying on the container performing its function we would stop it before copying.

[2021-12-16 19:36] gaia commented on #9706
this language is already a good warning of what's going to happen. it would also be useful to print a warning at the end stating that the "copy cannot be ensured to be consistent".

PS: as mentioned earlier, it might be best to disallow this flag on `lxc move`. this self healing aspect of our workload is very rarely the case in other workloads.

[2021-12-16 19:49] tomponline commented on #9706
I think we need to fix the default inconsistent mode first (which we accept won't solve your issue), and then introduce an explycit inconsistent allow mode. As my point is even with ignoring exit code 24 the copy is still inconsistent, we need to fix that behavior first in my view (its just your issue has caused me to dig into it and find the additional problem)

[2021-12-16 20:17] stgraber commented on #9706
How about we make the `--refresh` case the inconsistent one? It already has state and is meant for incremental changes, so we could have it detect exit code 24, go through the rest of the migration and then at the end return an error along the line of `Volume was refreshed but may be inconsistent`?

So basically we would:
 - Make the default `lxc copy` and `lxc move` consistent with the rest of th

[2021-12-16 20:45] tomponline commented on #9706
I like the idea of returning an error when inconsistent can occur and leaving it to the user to decide whether to pause, stop or (if we add it) procees in a knowingly inconsistent mode.

I still don't think making the refresh flag that mode, because the refresh flag is used for incremental backups to another server, and ignoring the exit code 24 issue, there is a wider problem of inconsistencies c

[2021-12-16 21:19] stgraber commented on #9706
Yeah, I guess we can do that. It's just going to be a bit frustrating to do because we'll need to tie that to migration flags and make it all work across different versions.

[2021-12-16 23:00] pajot opened #9711 "Add progress indicator for 'lxc export' command"
The `lxc export` command runs silently even as it performs multiple background tasks.

Exports can sometimes take hours. Having a progress indicator is particularly important in cases such as this in order to detect hangs and not waste time.

Currently, the only feedback provided by the command is a completion message such as

`Backup exported successfully!`

[2021-12-17 00:58] presztak commented on #9711
@stgraber Can I work on this one?

[2021-12-17 00:59] stgraber commented on #9711
For sure!

I'm not sure where the problem is exactly, I suspect it's either on the client side that we didn't plumb the operation logic to show progress or on the server side that something isn't passing the operation all the way through to the storage layer.

[2021-12-17 01:01] stgraber commented on #9518
@dillonsamra9 hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:01] stgraber commented on #9508
@C-Stout hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:01] stgraber commented on #9489
@liamnickell hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:01] stgraber commented on #9268
@kaustubnvd @Gautham-Raju hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:02] stgraber commented on #9237
@kaustubnvd @Gautham-Raju hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:03] stgraber commented on #9236
@andrewli6504 @BlakeRomero hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:03] stgraber commented on #9232
@andrewli6504 @BlakeRomero hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:03] stgraber commented on #7901
@andrewli6504 @BlakeRomero hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:04] stgraber commented on #7233
@archevan hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 01:04] stgraber commented on #1613
@BlakeRomero @andrewli6504 hello, just wanted to check if you still intend to work on this or if we should unassign it so someone else can take a crack at it?

[2021-12-17 09:04] tomponline commented on #9706
I don't quite understand what you mean by that? Do you mean the migration protobuf protocol?

[2021-12-17 18:27] #9688 closed

[2021-12-17 18:39] stgraber commented on #9706
Yeah, I was thinking of where we'd need to be aware of the new flag but maybe it ends up being simpler than I thought as only the source server really needs to handle it/

So passing `--allow-inconsistent` would set the matching property on the InstancePost struct and the source server will need it plumbed into migrate_instance and all the way through storage and storage drivers. If the source ser

[2021-12-17 18:45] tomponline commented on #9706
Yeah I think that should work as long as in pull mode the source still runs the rsync command .

[2021-12-17 19:25] stgraber commented on #9706
Yeah, it always does, the different modes just change who sets up the websocket, but once we hit the migration.Do logic, it's all the same.

[2021-12-17 19:39] tomponline commented on #9706
Excellent, that should make things simpler then.

[2021-12-17 20:07] liamnickell commented on #9489
@stgraber Hey, sorry for the delay. I do still intend on finishing this issue — I just got a little distracted with final exams this past week. I'll implement your suggestions and update the PR by tomorrow

[2021-12-17 21:00] BlakeRomero commented on #7901
Yes, I plan to hopefully finish this up soon.

[2021-12-17 21:24] gaia commented on #9706
Feedback: this detail should become part of the manual/explanation on push/pull/relay modes. it's never been clear until i read this. thanks Stéphane!

More feedback: I would have saved literally days of work had I known that the best performance for IO heavy workloads is offered by the `dir` driver (the disadvantages are clear though).

[2021-12-17 22:49] stgraber commented on #9489
Sounds good!

[2021-12-17 22:49] stgraber commented on #7901
Sounds good, thanks!

[2021-12-17 22:52] stgraber commented on #9706
Well, that part is very very workload specific, I've usually had better performance on ZFS but that's because I need raid and compression helps a lot with my workloads, so zfs with its builtin fs replication is far faster for me than ext4 on top of a mdraid.

But it's true that for many use cases, especially for databases, CoW filesystems like btrfs and zfs can have a significant performance impac

[2021-12-17 23:40] tomponline opened #9718 "Forwarded lifecycle events are not filtered by project"
As part of my work on implementing event hub member role I was researching how LXD propagates event project info (given that the `api.Event` type that is relayed doesn't contain a `project` field). **It turns out it doesn't**, and a local event lifecycle event that has project info will have it stripped when forwarded to other cluster members, causing the lifecycle event to appear in all listeners

[2021-12-17 23:49] tomponline commented on #9718
There's 2 issues here that are interconnected:

1. Project filtering is done at the server, whereas the rest of the event filter (types) is done on the client.
2. Event stream connections are re-used by the client despite different project filtering preferences.

The event hubs will expect to relay events for all projects, so will not require server-side filtering of events by project, but will ne

[2021-12-18 01:20] cavcrosby commented on #9408
@stgraber could I take a stab at this? I think I have a good diving point into the simplestreams client, probably will have questions as I go along

[2021-12-18 17:11] stgraber commented on #9408
Sounds good, assigned it to you

[2021-12-18 17:44] stgraber commented on #9566
This has been sorted out now.

[2021-12-18 17:44] #9566 closed

[2021-12-19 01:16] andrewli6504 commented on #9236
Yes, I am still working on this issue.

[2021-12-20 01:40] archevan commented on #7233
@stgraber I haven't been able to take a look yet. I'll unassign and let someone else take a look!

[2021-12-20 14:20] johanehnberg commented on #7397
Update on the workaround: as dnsmasq is no longer restarted unless there is a change, changing it twice does the trick:

`lxc network set lxdbr0 dns.domain lxdd; lxc network set lxdbr0 dns.domain lxd # restart dnsmasq`

[2021-12-20 14:49] cavcrosby commented on #9408
Had a few hours to chew on things, definitely want to make sure I am on the right track here.

For the simplestreams client, under ```./shared/simplestreams/products.Product``` (at least I believe I think this is where the additional simplestreams keys would go) I was thinking of using a field with the type ```map[string]interface{}``` because each requirement/key could possible require more infor

[2021-12-20 22:18] tomponline commented on #9718
The simplest way to solve this is to add a `Project` field to the `api.Event` struct (or perhaps `Group` as the rest of the event system seems to reference group rather than project, even though project is what is stored in group. Perhaps we should also take this opportunity to replace "group" references with "project" in the code as well).

As well as allowing project info in an event to be relay

[2021-12-20 22:22] tomponline opened #9719 "Adding multiple bridged NICs connected to same managed network breaks static IP allocation"
If you have a managed LXD network, say `lxdbr0` that provides DHCP and SLAAC functionality to the network.

Then add 2 NICs to the instance both connected to the same network, e.g.

[code]

Adding the 2nd NIC will wipe out the static IP allocation in dnsmasq of the first NIC.

This is a plausible configuration as when using nesting (or VM with containers) you may want to pass into additional NICs

[2021-12-22 23:27] gbiggs commented on #9136
Sorry for being slow to respond to this issue and check if the fix works. I've been snowed under for the past couple of months. I'll have time over the holidays to move this forward.

[2021-12-23 00:38] #9711 closed

[2021-12-23 05:39] gaia commented on #9706
checking in on this issue. also, this might be too case specific, but i had an idea that would help copying/moving CTs that shouldn't be powered off (continuity) and contain DBs and/or data that is hard to copy/move with consistency unless it is powered off (ephemeral data): an `--exclude` flag to `lxc copy/move` would skip the folder supplied to the flag and every subfolder of it.

PS: just to il

[2021-12-24 08:16] vosdev opened #9723 "Require size.state to be greated than memory for stateful stop/snapshot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11.0-40-generic
   * LXC version:
   * LXD version: 4.21 Snap
   * Storage backend in use: btrfs + ceph
[code]

# Issue description

I evacuated a node for a reboot and restored it after it came back online.
[code]
the VM k8s-dev lives on ceph.
[co

[2021-12-24 08:17] vosdev commented on #9723
For now, can I safely remove the state file to get my VMs/containers to restore using the `lxc cluster restore` command?

[2021-12-24 08:32] stgraber commented on #9723
Right, so your stateful migration never failed, instead it was stuck on I/O due to lack of disk space. Then on restart, the instance config disk is so full that LXD can't actually start the instance back up.

Your best bet is to do `lxc config device set INSTANCE root size.state 8GiB` or something along those lines which will allow for enough space for stateful stop/snapshots/migration and also fi

[2021-12-24 08:42] vosdev commented on #9723
That is a critical oversight on my part :-). It even says so on your newspost! https://discuss.linuxcontainers.org/t/lxd-4-12-has-been-released/10424

Can I request we get an error + automatic clean-up for when this happens instead of a stuck process + a no space left on device at next restart of the VM?

I just changed the size.state device and the VM works now

[code]

Cheers :-). Now I can also

[2021-12-24 14:15] tomponline commented on #9718
The other possible approach (if adding new fields to the `api.Event` is undesirable) is to add a intra-cluster event relay route on the `/internal` URL prefix using an internal event struct that contains the new field, for use with forwarding events between cluster members.

[2021-12-24 15:22] nathangokul opened #9724 "lxd init --preseed cmd execution gets hung when cluster -> enable: true"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-91-generic
   * LXC version: 4.21
   * LXD version: 4.21

# Issue description
I am trying to bring up **Lxd cluster inside another LXC container** using script but couldn't achieve it becs lxd init --preseed cmd doesn't exit.

LXC container h

[2021-12-24 22:24] wawa19933 opened #9725 "Bad data in /proc/stat inside container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
  *  server: lxd
  *  server_clustered: false
  *  server_version: "4.21"
  *  storage: btrfs
  *  storage_version: 5.4.1
  *  driver: lxc | qemu
  *  driver_version: 4.0.0 (devel) | 6.2.0
  *  firewall: xtables
  *  kernel: Linux
  *  kernel_architecture: x86_64
  *  kernel

[2021-12-26 01:24] dillonsamra9 commented on #9518
@stgraber, yes you can assign this to someone else. Thanks for all of your help as I worked to contribute to this repo!

[2021-12-26 20:46] gibmat opened #9726 "Unvendor log15 library"
# Issue description
While continuing to work on the LXD package for Debian, I noticed that there is an essentially unmodified copy of the log15 library vendored in the `shared/` directory. I did find the (still open) bug about the API breakage (https://github.com/inconshreveable/log15/issues/139) and commit 30c859499e24ba6255508cd664c09cf4c1731bbe that was applied to fix the build at the time.

To

[2021-12-26 23:00] gibmat opened #9727 "Unvendor usbid library"
# Issue description
While continuing to work on the LXD package for Debian, I noticed that the usbid library in `shared/` is a subset of the github.com/google/gousb library. Reviewing the git history for LXD, it looks like the only significant change is tweaking the loading of USB IDs from the library-supplied database to looking for a system-level database file.

Would it be possible to switch to

[2021-12-27 10:52] Kramerican opened #9728 "Cannot override a single device config key"
LXD v4.2
Host: Ubuntu Focal
Container: Ubuntu Focal

Applying a new network limit to a container by editing the profile has zero effect. Restarting the container with lxc stop/start/restart does not apply the new ingress/egress limit.

Reapplying the profile does not work either.

Changing to an entirely different profile does nothing also.

Creating a new container with the profile applies the ne

[2021-12-27 11:08] stgraber commented on #9728
What does the 'lxc config show --expanded' for the instance look like?

[2021-12-27 14:27] Sanjubisanal commented on #9136
@brauner
udevadm monitor debug logs in case of Host and Container
**Host:**
[code]
**Container:**
[code]

[2021-12-27 17:41] stgraber commented on #9136
@brauner

[2021-12-27 18:12] Kramerican commented on #9728
I can mention that I see this on v4.19 and 4.2 which is what we have in production here. I see the same behavior across many hosts.

[code]

[2021-12-27 18:18] tomponline commented on #9728
Can you show the same command without '--expanded' flag?

[2021-12-27 18:19] tomponline commented on #9728
You should not modify 'volatile.eth0.host_name' instead set 'hostname' on the device config.

[2021-12-27 19:02] Kramerican commented on #9728
@tomponline the way this is set is with:

`lxc config device set containername eth0 host_name=somename`

So, we are not setting that key explicitly and are indeed just setting hostname on the device.

without --expanded:

[code]

[2021-12-27 19:02] stgraber commented on #9723
Yeah, I think it'd be reasonable for us to refuse performing stateful stop/snapshots/migration unless `size.state` is >= `size` + `limits.memory`.

[2021-12-27 19:05] stgraber commented on #9728
What does `tc qdisc show` look like?

[2021-12-27 19:22] tomponline commented on #9728
This shoes the limit is applied in the instance config, and not from the profile, so it will override any profile config.

To my knowledge you cannot partially override a devices config, its all or nothing.

[2021-12-27 19:51] webdock-io commented on #9728
@tomponline OK so what you are saying that because we set the host name individually on a container, that "locks in" the eth0 config and makes it so that profiles cannot change the limits? This should make things clearer. This is LXD v4.21:

[code]

And indeed, after setting a new profile, the config shows the same - which makes sense, sort of - except I'd really just expect the override to just s

[2021-12-27 20:34] yurtesen opened #9729 "Nesting does not seem to function completely. Nested system never reaches multi-user target."
# Required information

 * Distribution: Ubuntu 20.04
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-91-generic
   * LXC version: 4.0.8
   * LXD version: 4.0.8
   * Storage backend in use: ZFS

# Issue description

I am trying to execute LXD container inside LXD container.
It does seem to work but the nested container never reach multi-user target

[2021-12-27 22:50] hadmut opened #9730 "lxc image copy --auto-update overrides --public"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:

config:
  core.https_address: :8443
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_

[2021-12-27 23:55] yurtesen commented on #9729
Nevermind... I had to put
[code]
in parent container.

Explained here: https://linuxcontainers.org/lxc/manpages/man5/lxc.container.conf.5.html

There could be a better user guide explaining the nested containers... Because I have originally found this: https://stgraber.org/2016/04/14/lxd-2-0-lxd-in-lxd-812/ and it is not even mentioned there...

[2021-12-27 23:55] #9729 closed

[2021-12-28 11:58] tomsucho commented on #9725
I think I've hit the same issue, for me this breaks now minikube start in lxc container.

[2021-12-28 16:05] voxsoftware opened #9731 "(Maybe question) Run LXD and VirtualBox together?"
# Required information

 * Distribution: Opensuse
 * Distribution version:Tumbleweed
   * Kernel version: 5.15.8.1
   * LXC version: 4.21
   * LXD version: 4.21
   * Storage backend in use: Irrelevant, but zfs

# Issue description

When I have LXD installed virtualbox doesn't start any vm (stuck on black screen). When I uninstall LXD I can run Virtualbox vms without problem.

**NOTE**: I have also

[2021-12-28 21:52] presztak commented on #9730
@stgraber Can I try to fix this?

[2021-12-28 21:58] stgraber commented on #9730
Sure!

[2021-12-28 22:52] stgraber commented on #9731
It's most likely something like vhost-vsock which is interfering with VirtualBox's equivalent or something.

You could probably pin point out by looking at the 'lsmod' output. Once you identify the conflicting module or modules, you should be able to unload then with 'rmmod' prior to using VirtualBox, so long as you don't have anything running in LXD the needs it.

[2021-12-29 03:29] voxsoftware commented on #9731
@stgraber Thanks for your response, but why is happening this? KVM + Libvrit doesn't  conflicts with VIrtualBox, and why LXD conflicts?

When I try to remove vhost_vsock (i stopped lxd service before make this command):
[code]
Now what can I do?

[2021-12-29 10:02] stgraber commented on #9731
You could try to blacklist the module so it can't be loaded in the first place. This will prevent running any VM with LXD but should be fine if you're using VirtualBox for that instead.

The reason why you're not hitting this with libvirt is that it doesn't use vsock by default as it doesn't normally run an agent in the guests.

[2021-12-30 14:11] VincentK-Titandc commented on #9518
@stgraber alright then I'll take it.

[2021-12-30 14:33] stgraber commented on #9518
Done!

[2022-01-01 19:35] stgraber opened #9734 "Very unreliable `lxc exec` since 4.21"
Ever since I switched to LXD 4.21, doing a large number of exec sessions, especially targeting at VMs has been quite unreliable.

I'll open more issues as I go through them, but for now, the most annoying one is a case where the exec session will just get stuck indefinitely. In this case, it's running something like:
[code]

As it's run with stdin/stdout/stderr with pipes or sockets, this will be

[2022-01-01 19:35] stgraber commented on #9734
@tomponline I read through a bunch of the code but haven't dived quite deep enough to understand all of the handler stuff in there :)

[2022-01-01 19:41] tomponline commented on #9734
OK will take a look perhaps the process has ended before the signal is sent.

[2022-01-01 19:53] tomponline commented on #9734
Do you see any warning level messages like "Unexpected read on stdout websocket, killing command" in the logs?

[2022-01-01 19:56] tomponline commented on #9734
Actually looks like an issue handling abnormal closure of the websocket connections.

[2022-01-01 20:06] stgraber commented on #9734
I'm logging at INFO level on this machine and I'm not seeing anything relevant in the log.
Also not seeing any error on the agent side, just the command it was sent.

[2022-01-01 20:51] stgraber commented on #9734
Tiny bit of extra captured details:
[code]

[2022-01-01 20:51] stgraber commented on #9734
Worth noting that initializing additional exec sessions with that VM is working just fine, both interactive and non-interactive.

[2022-01-01 20:52] stgraber commented on #9734
Also on the websocket side of things, the client appears to be running and is connected, so if we're dealing with a websocket issue, it's likely happening between the agent and LXD.

[2022-01-01 23:43] tomponline commented on #9718
@stgraber would you have any problem with adding a `Project` (or `Group`?) field to the `api.Event` struct?

[2022-01-02 05:44] #9734 closed

[2022-01-02 06:04] stgraber commented on #9718
@tomponline I think a `Project string` field would make sense given that we support `?project=XYZ` as well as `all-projects=true` on the endpoint.

[2022-01-02 12:04] spartan057 opened #9736 "lxd does not start: failed to apply update 19: CHECK constraint failed with sqlite 3.37.0"
# Required information

 * Distribution: Arch Linux
 * Distribution version: Rolling / current
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.15.12
   * LXC version: 4.0.11
   * LXD version: 4.21
   * Storage backend in use: ZFS

# Issue description

Upgrading from lxd 3.16 to 4.21 (quite a strech, I know) I face the following error while starting lxd: "Failed to initialize g

[2022-01-02 12:45] tomponline commented on #9736
What version of sqlite are you using?

[2022-01-02 12:59] spartan057 commented on #9736
It's sqlite 3.37.0

[2022-01-02 13:03] tomponline commented on #9736
It'll likely be the same issue in the snap package we saw, https://github.com/lxc/lxd-pkg-snap/commit/8174f4c5129e51ff7e7800641a6c51c9de2377ea, but not figured out why this only occurs with latest sqlite yet.

[2022-01-02 13:21] spartan057 commented on #9736
Downgrading to sqlite 3.36.0 solved the problem, lxd starts again. Thank you very much. Please let me know if I can support you in debugging the original issue.

Also one db related error log appears: `sql: Scan error on column index 2, name \"expiry_date\": converting NULL to string is unsupported`, but this doesn't look related to the sql version to me.

[2022-01-02 13:24] tomponline commented on #9736
Can you provide the full error and when it occurred?

[2022-01-02 13:26] stgraber commented on #9736
Yes, that's a breakage in sqlite 3.37.0, we have reverted to 3.36.0 for this reason in LXD itself.
Upstream sqlite has now released 3.37.1 but we haven't tested that yet to see if it helps.

[2022-01-02 13:26] stgraber commented on #9736
Closing for now as current state of investigation is that it's a regression caused by sqlite upstream and not a LXD bug, would be good to know if 3.37.1 fixed it though.

[2022-01-02 14:28] spartan057 commented on #9736
Regarding sqlite version 3.37.1, the error still occurs:

[code]

Error message is unchanged:

[code]

[2022-01-02 14:39] spartan057 commented on #9736
@tomponline: This is the complete log for the expiry_date error. It appears immediately while starting, and periodically afterwards. The log is from a fresh lxd start and contains the first occurence of the error.

[lxd_startup_log.txt](https://github.com/lxc/lxd/files/7799209/lxd_startup_log.txt)

The respective table looks like this:

[code]

[2022-01-02 14:52] tomponline commented on #9736
Thanks will take a look at that.

[2022-01-02 19:08] stgraber commented on #9736
Still seems very likely to be a sqlite regression as we have been running daily upgrade tests for years and things only broke with 3.37.0 to be fixed when we downgraded the snap to 3.36.0. Would be good if someone with some time you track down a much smaller reproducer and file a bug against sqlite and link it here.

[2022-01-02 19:46] tomponline commented on #9736
Yeah I'll keep this case open to look at the expiry_date issue on 3.36.0

[2022-01-02 22:29] stgraber commented on #9736
Oh, I somehow missed that post, yeah, that NULL conversion thing looks like something on our end that we should definitely sort out. It's not something that's showed up in the automated tests so would be interesting to track down.

[2022-01-03 21:18] Hye-Dev opened #9738 "Add last modified dates on files API"
It would be great if we were able to get the last modified date in something like a header or in the body when requesting a file from the LXD API. Maybe something for the new file management in 5.0?

[2022-01-03 22:45] pajot opened #9739 "Add option to not export ZFS pool on shutdown"
If a user creates their own ZFS pool and provides the complete pool to LXD, LXD will export it at shutdown, but not know how to reimport it.

[Here, @stgraber wrote:](https://discuss.linuxcontainers.org/t/lxd-exports-zfs-pools-at-shutdown-but-does-not-import-them-properly-at-startup/13031/2)

[code]

There should be a way to tell LXD which pool paths to search when it starts or tell it not to expo

[2022-01-04 02:41] stgraber commented on #9739
I don't think that having LXD cause ZFS to scan random binary files in paths that aren't managed by LXD is really in scope.
But adding a config key to disable the zpool export on a pool should be fine.

[2022-01-04 08:50] tomponline commented on #9728
Yes that is correct, at this time, the config for a particular device is treated as a single config set and cannot be partially overridden.

See:

https://github.com/lxc/lxd/blob/04007503de66d4fc1aaa788667972f7978ce2aaf/lxd/db/profiles.go#L331-L351

@stgraber is there a particular reason why device config cannot be partially overridden? Is this perhaps due to complexities around having different d

[2022-01-04 08:51] tomponline commented on #9723
Yes that would make it more user friendly to discover that setting.

[2022-01-04 08:57] #9518 closed

[2022-01-04 08:59] tomponline opened #9741 "Don't allow instance security.privileged=true and nvidia.runtime=true to be set together"
As per https://discuss.linuxcontainers.org/t/nvidia-gpu-passthrough-not-working-on-gentoo-host-after-running-sudo-lxc-config-set-container-name-nvidia-driver-capabilities-all/13027/2:

[2022-01-04 09:15] tomponline commented on #9736
@spartan057 can you show the output of `sqlite> .schema storage_volumes_snapshots` from db.bin?

[2022-01-04 09:16] tomponline commented on #9736
You cannot update the db.bin file directly.

[2022-01-04 09:42] webdock-io commented on #9728
@tomponline Thank you for confirming.

@stgraber It would be exceedingly great if it were possible to just override a few select properties of a device.

An "unset" / clearing option for device property overrides would be quite excellent as well.

As this is something which is not possible at the moment - how do I make sure that after a profile change, my container gets the new device settings app

[2022-01-04 12:13] tomponline commented on #9736
I've got a fix for the NULL conversion issue. However it also appears there is an issue with how the zero time is returned from dqlite due to timezone conversion, which although is already kind of handled (fudged) in some places, the wider issue is that manually editing a snapshot expiry doesn't result in the same time being returned after you've edited it (due to the time zone conversion issue).

[2022-01-04 12:18] tomponline commented on #9724
Have you tried this whilst also setting `cluster.https_address` to the same as `core.https_address`?

[2022-01-04 13:46] tomponline opened #9747 "Snapshot expiry datetime is returned differently to what is written"
When creating a snapshot the default expiry time is Go's zero date time (`0001-01-01 00:00:00+00:00`), however when read back from the database it is returned as a different time:

[code]

Read back from database via LXD (via Go) show the expiry date as `0000-12-31T23:58:45-00:01` (this shows as in LMT timezone if inspected via logging the returned time.Time variable). Using `t.UTC()` will convert

[2022-01-04 13:48] tomponline opened #9748 "Cannot use lxc storage volume set on snapshot volumes"
Should be possible to do `lxc storage volume set <pool> <volume>/<snapshot> expires_at <datetime>`

[2022-01-04 13:49] tomponline opened #9749 "lxc storage volume get doesn't work"
`lxc storage volume get zfs vol1 name` or `lxc storage volume get zfs vol1/snap0 name` doesn't work.

But content is available via `lxc storage volume show`.

[2022-01-04 14:33] tomponline commented on #9747
Tracked down the issue to go-dqlite:

https://github.com/canonical/go-dqlite/blob/4123028456df7f817eda59fa4f3672de725724a1/internal/protocol/message.go#L537-L550

Added some logging and we can see the zero time being retrieved from the database and then converted to local:

[code]

[code]

[2022-01-04 14:53] tomponline commented on #9747
Commit that introduced this broken behaviour:

https://github.com/canonical/go-dqlite/commit/34867b2d19d5ecba78e4b787a0f3030a08c01f16

[2022-01-04 16:21] #9736 closed

[2022-01-04 16:24] stgraber commented on #9738
Yeah, it will definitely be in the new websocket based file implementation as we expect to return enough `stat` info to satisfy a FUSE filesystem. As part of the switch to the new API internally, we should also be able to somewhat cheaply return it as a header on the old API.

[2022-01-04 16:25] stgraber commented on #9738
Assigning it to @tomponline to do as part of the new files API work.

[2022-01-04 17:34] tomponline commented on #9747
I think the issue here is that go-dqlite behaves like go-sqlite3 with the `?_loc=auto` connection argument passed, but only in the retrieval direction and not in the write direction (go-sqlite3 also always writes out timezone info and ignores `?_loc` setting since https://github.com/mattn/go-sqlite3/commit/7b0d180ce9aa2473631426dbc011e34b435d5c65).

However this results in datetimes being altered

[2022-01-04 17:38] stgraber commented on #9747
Yeah, treating things as UTC in the DB is probably safest. With dqlite, we could have a mix of systems across multiple timezones, so having things rely on the local timezone is quite dangerous.

[2022-01-04 17:39] stgraber commented on #9749
Isn't that expected?

`lxc storage volume get` and `lxc storage volume set`, just like all our other get/set commands only considers the `config` map, it doesn't consider properties of the volume itself.

[2022-01-04 17:40] stgraber commented on #9748
That would be because `expires_at` is a property of a storage volume snapshot, not a config.
`lxc storage volume set` only updates key/value pairs within the `config` map.

[2022-01-04 17:40] tomponline commented on #9749
Oh right, yes ofcourse, this is a special field not a config field. Yep my bad.

[2022-01-04 17:40] #9749 closed

[2022-01-04 17:43] tomponline commented on #9748
As discussed on IRC, we should detect if the volume is a snapshot and refuse to modify the config with an error saying snapshots are readonly. Rather than erroring with "not found" as it does currently.

[2022-01-04 18:26] #9747 closed

[2022-01-04 18:26] stgraber commented on #9748
I've got that mostly implemented here

[2022-01-04 19:52] #9748 closed

[2022-01-04 21:34] stgraber commented on #9728
Hey there,

It's indeed quite intentional. I remember spending a few days/weeks way at the beginning of LXD thinking about that.
@hallyn and @tych0 may remember me rambling about all of that while walking through the streets of Ghent, Belgium :)

I was basically debating a few models:
 - Devices as config, using the same config semantics. Lacked a lot of structure making validating a set of device

[2022-01-04 21:54] stgraber commented on #9727
Just looked into that one again now and it looks like it was a mix of things that caused us to go down the route of having a much smaller version of this logic and have it limited to just parsing the distro provided usb info:
 - Upstream version imports the main `gousb` package, this package uses `libusb` and so imports `C` and uses cgo. The `lxd/resources` package is used externally by tools whic

[2022-01-04 21:55] stgraber commented on #9727
So I don't think we'll be fixing this one as it's not a vendored tree so much as a fork+minimalized version to satisfy our needs as far as memory footprint, load time and avoiding cgo use. I'll add a README.md in that fork to explain that and close the issue as a result.

[2022-01-04 21:57] #9741 closed

[2022-01-04 22:09] #9727 closed

[2022-01-05 02:49] #9730 closed

[2022-01-05 08:49] webdock-io commented on #9728
@stgraber Thank you for the thorough explanation which makes a lot of sense. I understand the challenges here and the rationale.

To loop back to my use case and what we can do ... Now, this is a design which some of our network boffins came up with, so I cannot speak to the absolute specifics or if there is "a better way" but essentially speaking this is all to facilitate targeting an interface o

[2022-01-05 08:58] ywwynm opened #9755 "nvidia-smi does not show correct processes in a container"
# Required information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-163-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: zfs

# Issue description

`nvidia-smi` in one container does not show correct processes that are using GPU, whether these processes are from the same container or another

[2022-01-05 09:09] tomponline commented on #9728
@webdock-io LXD has built-in support for filtering by MAC/IP using the NIC device `security.mac_filtering` and `security.ipv{n}_filtering` settings (see https://linuxcontainers.org/lxd/docs/master/instances/#nic-bridged). However as you're using an external bridge as the NIC parent, you would need to tell LXD (via device level config) what IPs are allowed by setting `ipv{n}.address` on the NIC - w

[2022-01-05 09:13] #9726 closed

[2022-01-05 10:00] tomponline commented on #9718
Making a start on this.

[2022-01-05 14:28] stgraber commented on #9755
pid=host effectively turns off the PID namespace in a Docker container, making it, not a container anymore.

This isn't an option for LXD as unprivileged containers absolutely need their own PID namespace or no process permission will work.

The issue as mentioned in the related thread on the nvidia-docker repo is a kernel one. The NVIDIA driver should be able to convert and filter the PIDs that i

[2022-01-05 14:28] #9755 closed

[2022-01-05 17:02] stgraber commented on #9706
So looks like the plan would be:
 - Extend `InstanceSource` to add `AllowInconsistent bool`
 - Add an API extension
 - Extend client code to allow for AllowInconsistent and check for API extension
 - Plug that in the CLI with a `--allow-inconsistent` argument

[2022-01-05 17:08] stgraber commented on #9719
I think we can sort that one by renaming the `dnsmasq.hosts` file to be `<instance>.<device>` rather than just `<instance>`

[2022-01-05 17:12] kautMaks opened #9761 "Slow lxc copy"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * Kernel version: 5.4.0-91-generic
 * LXC version: 4.0.11
 * LXD version: 4.21
 * Storage backend in use: dir

# Issue description
`lxc copy` to remote node takes few times more time than common rsync.
For ex.,
[code]

At the same time, rsync of same CT to same remote node takes almost 2.5 times less time
[code]

Could you tell me , please, wh

[2022-01-05 17:12] tomponline commented on #9719
And deal with deleting the old dnsmasq.hosts `<instance>` file.

[2022-01-05 17:13] stgraber commented on #9723
I think we should do that on startup instead of during config validation as this needs to check:
 - limits.memory
 - migration.stateful
 - size.state on the root device

Mixing that in with profiles and the like could cause a lot of config update failures, so probably best to just fail startup by validating this in `Start()` of driver_qemu.go

[2022-01-05 17:15] stgraber commented on #9719
Yeah, we'll likely need a patch to do a one time transition. And will need to make sure that we clear the right files when a device is deleted (or changed to not be relevant) as well as when the instance itself is deleted.

[2022-01-05 17:19] stgraber commented on #9761
Do you get the same timing when using `-ar --devices --numeric-ids --partial --sparse --xattrs --compress --compress-level=2` ?

[2022-01-05 17:27] kautMaks commented on #9761
Yes
[code]

Seem like compress is the reason.
Is it possible to turn it off for lxc copy?

[2022-01-05 17:30] kautMaks commented on #9761
Maybe it is possible to add an arguments to `lxc copy` for controlling compression?

[2022-01-05 17:48] tomponline commented on #9761
You should be able to disable this by setting `rsync.compression=false` on the storage pool hosting the instances.

See https://linuxcontainers.org/lxd/docs/master/storage/ and ttps://github.com/lxc/lxd/pull/7977/

[2022-01-05 17:49] tomponline commented on #9761
Also see https://discuss.linuxcontainers.org/t/how-to-disable-rsync-compression-for-lxc-copy-100-cpu-and-slow-for-local-network-transfer/9028 for discussions on speeding up rsync.

[2022-01-05 17:49] #9761 closed

[2022-01-05 18:26] #9718 closed

[2022-01-05 19:07] kaustubnvd commented on #9237
@stgraber Apologies for the delayed response, we made some progress, but currently we no longer intend to work on the issue, so you can go ahead and let someone else take a crack at it.

[2022-01-05 19:09] kaustubnvd commented on #9268
@stgraber Apologies for the delayed response, we no longer intend to work on this issue, so you can unassign us from it.

[2022-01-05 19:38] kautMaks commented on #9761
@tomponline Thanks! I'll try it.

[2022-01-06 00:34] gibmat commented on #9727
Thanks for that explanation -- seems reasonable to me! :+1:

[2022-01-06 02:28] ywwynm commented on #9755
@stgraber Thanks for the reply.

And to those who may be concerned about this problem, I find a way to retrieve the GPU usage information (especially about which container is using which GPU) from the container machine. There are 5 steps:

1. Execute `nvidia-smi` in a script(e.g. python).
2. Parse the results and get important information that you want, such as GPU memory usage, processes informat

[2022-01-06 16:15] stgraber opened #9765 "Broken TCP egress when same address is used for network NAT and forward (OVN)"
Given the following network:
[code]

Along with a forward on the same address:
[code]

Traffic coming out of the instances gets the correct egress address through NAT but traffic coming back in seems to bypass the stateful NAT table and only hit the OVN load-balancer which then rejects the traffic with ICMP time exceeded.

Example:
[code]

[2022-01-07 01:01] amcduffee opened #9766 "Introduce a `raw.qemu.config` option to override `qemu.conf`"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.6 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-91-generic
   * LXC version: 4.21
   * LXD version: 4.21
   * Storage backend in use: ZFS

# Feature Request

LXD is very close to being able to host macOS virtual machines.  A few changes are required, in the generated `qemu.conf`, in order

[2022-01-07 01:08] stgraber commented on #9766
In general, we're really not keen on adding knobs to control all the different virtualized devices as each of those multiply the number of combinations to validate and support. It also increases the attack surface by introducing fully virtualized devices (rather than relying on the much simpler virtio).

One approach I mentioned in similar issues in the past is that we could add a `raw.qemu.config

[2022-01-07 01:39] amcduffee commented on #9766
I understand your concerns about too many knobs and the added support complexity, the same thing occurred to me when I was mulling over possible ways I would implement the changes myself.

I did think about a configuration option that allows overriding the entire `qemu.conf` and thought it might be too heavy handed of an approach to suggest.  It is certainly the most flexible because then a user c

[2022-01-07 04:03] gibmat opened #9767 "sqlite3 v3.37 breaks schema v19 upgrade"
Initially reported in #9736, although it was closed while fixing a different issue. I'm creating a new issue, rather than reopening the old one to hopefully keep things untangled. It is easy to reproduce with LXD v4.21 -- just build against the current version of sqlite3 and run the tests.

-----

The [upstream changelog](https://www.sqlite.org/releaselog/3_37_2.html) for sqlite3 v3.37 documents a

[2022-01-07 10:23] tomponline commented on #9767
Maybe one for @markylaing ?

[2022-01-07 10:23] tomponline commented on #9767
Thanks for digging into the detail on this @gibmat

[2022-01-07 10:26] markylaing commented on #9767
@tomponline sure :+1:

[2022-01-07 10:28] tomponline commented on #9767
Thanks, this one is probably higher priority than https://github.com/lxc/lxd/pull/9758 (as its fixing a breakage rather than an improvement), so if you get to a break point with that one then would be worth looking at this. Thanks

[2022-01-08 04:59] gbonazzoli opened #9770 "LXD 4.21 : command "lxc snapshot --stateful" is not working because of criu"
# Required information

 * Distribution:

[code]
* Kernel version:

[code]

* LXC version:

[code]

* LXD version:

[code]

* Storage backend in use:

[code]
# Issue description

It is impossible to take stateful snapshot. I think the problem resides on the criu component that is not able to serialize systemd state in the container.

Without this "basic" feature it is not possible to have any live

[2022-01-08 20:29] #9770 closed

[2022-01-08 20:30] stgraber commented on #9770
Yeah, checkpoint/restore is failing in your case because your instance is making use of a nested UTS namespace.
CRIU only works with a very very limited subset of containers, most often those that are specifically designed to work with checkpoint/restore.

Such limitations are unfortunately out of scope for LXD, we only call CRIU and can't really do anything about features that it can't handle. I

[2022-01-09 19:24] tomposmiko opened #9772 "official image repo is unavailable"
[code]

Which is actually:
[code]

Should it still be available or is it replaced with something else?

[2022-01-09 19:33] stgraber commented on #9772
The `lxd` protocol on that image server has been deprecated for quite a while and fully retired some months ago.
https://discuss.linuxcontainers.org/t/update-to-our-image-servers/12515

Doing `lxc remote remove official` followed by `lxc remote add official https://images.linuxcontainers.org --protocol=simplestreams --public` should do the trick.

[2022-01-09 19:33] #9772 closed

[2022-01-10 15:58] stgraber commented on #9724
Can you show `journalctl -u snap.lxd.daemon -n 300` inside of your container?

[2022-01-10 15:59] weastur opened #9773 "Add reservation/refreservation in addional to quota support in ZFS driver"
It would be great to add support of setting `reservation` and `refreservation` because now, as I can see, it's possible only to set a limit for container/volume size. Still, it's not possible to guaranty that space would be available in the pool.

[2022-01-10 16:01] stgraber commented on #9773
Yeah, that should be fine. I don't think we'd let you set it to a different value, that'd get a bit complicated with migrations and whatnot, but we can put a config option so you can opt a pool or potentially single volume into using those instead of regular quotas, similar to how we have a flag to use refquota already.

[2022-01-10 17:17] snappyguide commented on #9724
[journalctl output](https://gist.githubusercontent.com/snappyguide/53d4ca257a233709aaf44c1aa0335ff9/raw/f0b85e35fc3e45b314ae4f2c31d4c4ea06dae87a/lxd_journalctl_output.txt)

[2022-01-10 19:27] stgraber commented on #9724
I'm unable to reproduce the issue here:
[code]

[2022-01-10 21:35] snappyguide commented on #9724
@stgraber , find my environment dump below, let me know if need any other info to reproduce the issue.

gokul@srv1:~$ lxc project show lxd
config:
  features.images: "false"
  features.profiles: "true"
  features.storage.volumes: "true"
description: lxd project
name: lxd
used_by:
- /1.0/instances/lxdcnt1?project=lxd
- /1.0/profiles/default?project=lxd
- /1.0/profiles/lxd-devices-prof?project=lxd
-

[2022-01-10 21:54] stgraber commented on #9724
Is it easy for you to retry on a host with `linux-generic-hwe-20.04` installed? I wonder if it's another ZFS weirdness with the 5.4 kernel as we've seen a couple of times recently.

[2022-01-10 23:18] snappyguide commented on #9724
@stgraber , having above package in the container which hosts the nested lxd  , resolves above issue. I could see `lxdcnt1 systemd[1]: snap.lxd.lxd.5bfd5f73-db46-41be-9091-519c91cefed4.scope: Succeeded.`. Thanks for looking into it!

[2022-01-11 00:41] amcduffee commented on #9766
@stgraber So, I decided to take a look at the `qemu.conf` generation logic in `lxd/instance/drivers/driver_qemu.go` and it made me realize that a configuration option that overrides the entire `qemu.conf` is heavy handed and loses quite a lot of useful capabilities.  One simple example is being able to change the `limits.cpu` or `limits.memory` via `lxc config ...` commands.

However, there are mo

[2022-01-11 01:00] stgraber commented on #9766
The other thing to keep in mind is that we're slowly moving away from `qemu.conf` in favor of assembling the VM config through internal QMP calls. That's because qemu upstream is slowly deprecating the use and support for qemu.conf.

[2022-01-11 01:20] amcduffee commented on #9766
Yea, I read about that on other discussion threads.  I did also notice a number of QMP calls throughout the code.

I am not really sure what to do about this because the only two things preventing me from using LXD exclusively is the ability to change the primary GPU driver and storage driver.  It may be my own use-case bias, but I honestly feel like those are the two most significant "problem" de

[2022-01-11 03:35] #9489 closed

[2022-01-11 07:18] weastur commented on #9773
To clarify, I believe it should work together with quotas, but not instead. If we set some limit for storage, we should guarantee that this amount of space is available. If I'm acting from an inside container, for instance, running the `df` command, I expect that I'm free to use all I see there.

[2022-01-11 11:36] TommyLike commented on #5650
@stgraber Is there any way to move thoese config file into another folder which won't get cleaned?

[2022-01-11 13:57] stgraber commented on #5650
Those aren't config files, they are temporary copies of files being copied in and out of the container.

/tmp is by all definitions the correct location for this. Now if the user or a tool they're using goes and deletes files from the filesystem that they didn't themselves create, it's not too surprising that things may break.

[2022-01-11 14:00] stgraber commented on #9773
Right, in this case both should be set together.

[2022-01-11 14:20] brauner commented on #5650
You can check `journalctl` whether `systemd-tmpfiles-clean` or similar has run. That would be a suspect.

[2022-01-12 14:08] weastur commented on #9773
If you don't mind, I will work on that.

[2022-01-12 14:31] #9767 closed

[2022-01-12 14:38] toby63 opened #9783 "[Feature Request/Question] Cgroup2 usage"
Follow-up to https://github.com/lxc/linuxcontainers.org/pull/575.

It seems that the main method you suggest is to use a `systemd-run` command like:
`systemd-run --unit=unit-name --user --scope -p "Delegate=yes" -- lxc-start`

I would like to have some more explanation regarding the exact usage (also for LXD) and alternatives.
Also I would like to request some more information in the documentation

[2022-01-12 16:26] stgraber commented on #9783
This stuff doesn't apply to LXD, LXD runs as root as a system daemon so none of that applies and LXD always has full control of the cgroup1 or cgroup2 cgroups.

[2022-01-12 16:45] toby63 commented on #9783
Interesting, so no further configuration or command is necessary to use cgroup v2 with LXD?

[2022-01-12 17:33] stgraber commented on #9783
correct

[2022-01-12 20:37] stgraber commented on #9773
Certainly, assigned it to you!

[2022-01-13 02:29] stgraber commented on #9561
Going to be taking this one over as I'd like 4.22 to have the fix.

[2022-01-13 02:30] stgraber commented on #9479
Taking this over so we can hopefully have a fix in 4.22

[2022-01-13 07:05] tomponline commented on #9706
Reopening so we don't forget to address the inconsistent behavior that happens by default today.

[2022-01-13 07:06] #9561 closed

[2022-01-13 13:35] stgraber commented on #9706
Can we get a new issue for this instead?

[2022-01-13 16:07] markylaing commented on #9706
I'll create one now.

[2022-01-13 16:14] #9706 closed

[2022-01-13 16:35] markylaing opened #9789 "Make instance migration logic more consistent"
Various improvements to the consistency of instance migration logic was discussed in #9706 but these were not implemented in #9780.

In summary:
- [ ] Instances should be frozen during migration if the underlying driver does not support it (i.e. if `RunningCopyFreeze=true`). This check is already performed in `CreateInstanceFromCopy` but is not accounted for in `MigrateInstance`. (See https://gith

[2022-01-13 16:37] markylaing commented on #9789
@stgraber I wasn't clear on this from the discussion of the previous issue: Should instances *always* be frozen if `--allow-inconsistent` is false?

[2022-01-13 16:40] tomponline commented on #9706
Thanks !

[2022-01-13 16:58] stgraber commented on #9789
It should only be done when we have no other alternatives. For zfs, btrfs, we can get a cheap, consistent snapshot so don't need to. For dir, ceph and lvm, those we'd need to freeze the source during transfer.

[2022-01-13 19:37] #9547 closed

[2022-01-13 20:40] stgraber commented on #9479
I'm having a surprisingly hard time reproducing this issue.

[2022-01-13 20:46] stgraber commented on #9479
Marking as Incomplete and dropping milestone as I'm unable to reproduce it...

I managed to create myself a tree about 2500 level deep, trying to even access it from within the container gets me the `File name too long` but delete still works flawlessly, so Go's `RemoveAll` function seems to be handling it well.

That was on the `dir` backend too (ext4).

[2022-01-13 21:25] stgraber commented on #9731
Closing for inactivity (nothing actionable for us).

[2022-01-13 21:25] #9731 closed

[2022-01-13 21:26] #9724 closed

[2022-01-13 22:08] bionade24 commented on #9479
I'm not exactly sure anymore how I made this recursive copy, but I definately used the `btrfs` storage backend.
If I remeber in the next days, I'll try again, both with `dir? and `btrfs` backend.

[2022-01-13 22:22] stgraber commented on #9479
Ah, btrfs, that may explain it, will need to try with that instead.

[2022-01-13 22:22] stgraber commented on #9479
For btrfs, we don't do a standard recursive delete so much as try to locate all subvolumes, delete those and then delete the main subvolume for the instance, so there may be something there.

[2022-01-13 22:34] bionade24 commented on #9479
Another thing: I'm somewhat certain that my path was way deeper than 5000. The recursive copy did run ~10s before I realized it. Not sure if this makes any effect, though.

[2022-01-13 22:54] stgraber commented on #9479
The 5k deep one took quite a while to create, you'd think it'd be very fast but it really slows down after 1k or so.

[2022-01-13 23:09] #9600 closed

[2022-01-14 09:13] brauner commented on #9136
Is this still an issue then?

[2022-01-14 10:01] brauner commented on #9136
I need more insight into what's actually sent over the wire. Can you compile and run the following program and then show me the uevents associated with that camera, please:
[code]

[2022-01-14 16:31] #9666 closed

[2022-01-14 20:46] #9719 closed

[2022-01-14 23:16] stgraber opened #9798 "Implement server-side API filtering for storage volumes"
Reported at https://discuss.linuxcontainers.org/t/list-storage-volumes-but-not-their-snapshots/13125

It'd be convenient if one could use API level filtering to have LXD only list storage volume of a specific type as well as being able to opt out of getting snapshots listed. This would likely be done through our API filtering syntax which we currently have on /1.0/instances.

Once that's in place,

[2022-01-15 03:36] stgraber commented on #9232
@markylaing going to give you that one as getting some familiarity with OVN would be nice :)

[2022-01-15 09:58] kkremitzki opened #9800 "4.22 release no longer buildable from source on Debian Stable, but Testing OK"
# Required information

 * Distribution: Debian
 * Distribution version: 11 (bullseye)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.10.0-10-amd64
   * LXC version: 1:4.0.6-2
   * LXD version: 4.22
   * Storage backend in use: ZFS (N/A)

# Issue description

The lxd-4.22 tag is no longer buildable from source on Debian Stable following [the provided instructions](https://git

[2022-01-15 14:37] presztak commented on #9798
@stgraber Can I work on this issue?

[2022-01-15 14:38] presztak commented on #9739
@stgraber Can I work on this as well?

[2022-01-15 16:20] stgraber commented on #9800
Oh right I'll fix the announcement but one thing we did in this release is raise the minimal Go, LXC and kernel versions.

You need a minimal of Go 1.16 to build the LXD daemon now. That was forced on us by changes in the upstream net packages. For a few releases now we were pinning a specific older commit for it but that's a very bad idea from a security standpoint so we had to raise the minimal

[2022-01-15 16:21] stgraber commented on #9800
https://linuxcontainers.org/lxd/docs/master/requirements/ has the minimal requirements.

[2022-01-15 16:21] kkremitzki commented on #9800
Ah, cool, I had suspected it was something like that but I didn't see anything mentioning it in the release announcement. Thanks for the prompt response. 👍

[2022-01-15 16:21] stgraber commented on #9739
Done!

[2022-01-15 16:22] stgraber commented on #9798
Done!

[2022-01-15 17:22] stgraber commented on #9800
I've updated the announcement now.

[2022-01-15 17:22] #9800 closed

[2022-01-15 22:08] tomponline commented on #9800
bullseye backports seems to have 1.17 https://packages.debian.org/search?keywords=golang&searchon=names&section=all&suite=bullseye-backports FWIW

[2022-01-17 19:52] #9723 closed

[2022-01-17 20:04] cavcrosby commented on #9408
I believe I have a rough implementation drafted out. Do we want LXD to still be able to init a instance (e.g. create but not start the instance) even if host has a missing requirement based on the new image metadata (e.g. there exist an invalid cgroup configuration on the host)?

[2022-01-18 16:58] MaximMonin opened #9806 "LXD slowness"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info":

[code]

# Issue description

We are using lxc exec command to do some container management. Average reply from lxc exec call is about 120-150 ms on system with 1 container w/o any load. We have servers with 300+ lxd containers and average reply increases to 150-250ms. But in some moments ld

[2022-01-18 17:17] stgraber commented on #9806
Some of those errors are likely coming because we're now running with websocket heartbeats enable so if the client or server doesn't respond for a while, it will sever the connection, potentially causing one of those `bad handshake` or `unexpected EOF`.
@tomponline may have some ideas for improvements in those areas.

When LXD is misbehaving, there are a few things you could do or grab which may b

[2022-01-19 13:09] bplu4t2f opened #9810 "Cannot migrate storage pools with `lxc move` anymore"
Ubuntu server 20.04 LTS; LXD 4.0.8

It seems it's no longer possible to migrate a container to another storage pool with `lxc move`.

I’m getting `Error: Invalid number of arguments` if I try the following:

[code]

It works if I also rename the container (e.g. c1_tmp) in the same command, like so:

[code]

See also: https://discuss.linuxcontainers.org/t/migrate-from-one-storage-pool-to-another/10

[2022-01-19 15:43] stgraber commented on #9810
You're on LXD 4.0.8 which does not support server side storage pool move.

This feature was introduced with LXD 4.11.

[2022-01-19 17:11] stgraber commented on #9810
Because move then does a copy+delete.

[2022-01-19 17:13] bplu4t2f commented on #9810
I see.
That's very useful to know.

[2022-01-19 18:39] blackboxsw opened #9814 "UUID based `instance-id` for cloud-init (reset on changes)"
# Issue description
Feature request:
  **Requirements**:

  Currently LXD publishes a [static metadata.instance-id which matches the hostname](https://github.com/lxc/lxd/blob/master/lxd/devlxd.go#L104-L108) via the dev LXD API.

  Cloud-init would like the `instance-id` to change at  `/dev/lxd/sock  /1.0/meta-data` anytime the underlying container or vm
  configuration changes which tells cloud-in

[2022-01-19 18:56] stgraber commented on #9814
Okay, so having a UUID which then changes if:
 - Name is changed (copy or rename)
 - User/Vendor data has changed (`cloud-init.vendor-data`, `cloud-init.user-data`, `user.vendor-data`, `user.user-data`)
 - Network config have changed (`cloud-init.network-config`, `user.network-config`)

That part is pretty uncontroversial and shouldn't be too hard to achieve.
I'm not sure that we hit `Update()` wh

[2022-01-19 20:29] blackboxsw commented on #9814
Agreed on your header of 3 use-cases:
*  [✔]  Name change (copy or rename): (as cloud-init needs to minimally reset hostname)
*  [✔]  Change of cloud-init.vendor-data, cloud-init.user-data, user.vendor-data, user.user-data changes (direct impact to what cloud-init config modules are invoked on a system)
*  [✔] Change of cloud-init.network-config, user.network-config: (cclean need for cloud-init to

[2022-01-19 21:37] tomposmiko commented on #9772
Alright, thank you.

[2022-01-20 09:30] webdock-io commented on #9728
@tomponline

I think way back when my network team set up this filtering and our bridges they were not even aware that LXD could manage ip spoofing and MAC filtering for us if we used the LXD managed bridge. Are you telling me that if we use the managed LXD Bridge it will also take care of embedded ARP/NDP spoofs? If so, what methods do you use to accomplish this?

I believe we use ebtables much i

[2022-01-20 18:38] #9560 closed

[2022-01-20 18:56] stgraber commented on #9814
Ok, so we introduce a new `volatile.cloud-init.machine-id` which gets auto-reset if:

 - Name is changed (copy or rename)
 - User/Vendor data has changed (cloud-init.vendor-data, cloud-init.user-data, user.vendor-data, user.user-data)
 - Network config have changed (cloud-init.network-config, user.network-config)
 - The set of `nic` type devices exposed to the container (`ExpandedDevices`) has cha

[2022-01-20 19:46] tomponline opened #9818 "Align ParseNetworkVLANRange return values with ParseUint32Range"
This item was missed during the merge of https://github.com/lxc/lxd/pull/9580/files#r763225941

We should use a consistent set of return values when validating ranges of things.

[2022-01-20 21:18] #9818 closed

[2022-01-20 21:29] stgraber commented on #9789
@markylaing assigned it to you for when you have some time to look at it.

I think the plan is:
 - On btrfs and zfs, when dealing with rsync migration, generate a temporary snapshot and use that as the source, never freeze the instance
 - On everything else, unless AllowInconsistent is set, freeze the source instance during the migration
 - Make sure that we have good error handling and revert log

[2022-01-20 22:28] stgraber commented on #9479
Got it reproduced, it's indeed btrfs specific.

[2022-01-20 22:48] stgraber commented on #9479
Sent in a fix which works for me here.

[2022-01-21 00:47] stgraber commented on #9408
I think adding a `lxd_requirements` as `map[string]string]` should be sufficient here. It should allow for enough flexibility without having to either use a heavy approach with a dedicated struct or the like or one that's hard to parse like using interfaces.

I'd rather not, having an image server or image be able to cause LXD to change instance configuration, while it sounds great can also very q

[2022-01-21 00:51] stgraber commented on #9408
As for current implementation, the two things I suspect we'll do are:
 - Label a bunch of container images with `map[string]string{"cgroup": "v1"}` to indicate that they require cgroupv1 and will not work on a system that has a full cgroupv2.
 - Label some VM images with `map[string]string{"secureboot": "false"}` to indicate that the image cannot boot with secureboot enabled.

I'd expect our simpl

[2022-01-21 00:53] stgraber commented on #9408
We'll need to update `doc/image-handling.md` to specify the list of restrictions that are supported on images and what they mean, but other than that changes required for this should be pretty minimal overall.

[2022-01-21 07:14] #9479 closed

[2022-01-21 09:18] webdock-io commented on #9728
@stgraber Thank you for the link to the filtering rule generation - I will have my team review this and see if there is something in there we can grab in order to enhance our own filtering. Seems to me the NDP rules is potentially not something we are doing at the moment so this is helpful.

As to issues with network namespacing: Only thing that comes to mind is that we from time to time do run in

[2022-01-21 16:49] stgraber commented on #9728
Yep, that kernel logging message is indeed the user visible symptom of a network namespace that's not going away and depending on what's keeping it around can lead to duplicate addresses on the network, interface name conflicts, ...

[2022-01-21 17:49] #9232 closed

[2022-01-21 18:33] blackboxsw commented on #9814
Yes the internal accounting of `volatile.cloud-init.machine-id` and the trigger cases you mention should suffice for all cloud-init needs. As long as the LXD dev API 1.0/meta-data will reflect `instance-id` based on the value of `volatile.cloud-init.machine-id` without caching getting in the way we should be good here.

[2022-01-23 01:12] #9798 closed

[2022-01-23 02:59] #9408 closed

[2022-01-23 04:19] #9739 closed

[2022-01-23 17:00] presztak commented on #7901
@stgraber I can work on this if you don't mind.

[2022-01-23 17:04] stgraber commented on #7901
Absolutely!

[2022-01-24 14:04] rodalpho opened #9831 "Cannot create snapshots, error "invalid ID""
# Required information

 * Distribution: ubuntu
 * Distribution version:Ubuntu 20.04.3 LTS
 * The output of "lxc info" or if that fails: lxc info output attached

# Issue description
I can't take snapshots of my containers. This worked last week, nothing changed since then. Running snap LXD:
lxd                4.22             22277  latest/stable    canonical✓  -

08:58:01 root@myhost:~# lxc snap

[2022-01-24 15:42] stgraber commented on #9831
Hmm, ` 22277` should be the one with the fixes for that kind of issue...

Can you show `lxd sql global .dump | grep sequence` ?

[2022-01-24 22:44] turtle0x1 opened #9838 "sudo lxd --debug --group lxd cant start virtual machine"
As the title, LXD 4.22, the error message is

`project=default instance=test-vm err="lstat /usr/share/OVMF: no such file or directory"`

But it appears to be there?

[code]

[2022-01-24 22:45] turtle0x1 opened #9839 "Websocket panic"
If I open and close socket connections to LXD at "clicking speed" (hoping between one instance and another) it makes LXD panic.

Debug logs

[code]

The code that caused / fixed the problem was the following

[code]

I also encounter a strange issue with VM channels I suspect is of a similar nature, but I cant (hopefully) verify without #9838

[2022-01-24 22:48] stgraber commented on #9838
Is that with the LXD snap or some other kind of package or build?

[2022-01-24 22:50] turtle0x1 commented on #9838
LXD snap

[2022-01-24 22:52] stgraber commented on #9838
Oh, but you're manually starting LXD, so that'd be why.

[2022-01-24 22:52] #9838 closed

[2022-01-24 22:52] stgraber commented on #9838
When LXD is started through the init scripts, a bunch more environment variables get detected and initialized, in this case, you're missing LXD_OVMF_PATH

[2022-01-24 22:53] stgraber commented on #9838
Try `export LXD_OVMF_PATH=/snap/lxd/current/share/qemu` that should get you closer to what happens when the snap starts the daemon.

[2022-01-24 22:56] rodalpho commented on #9831
Sure:

`DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('schema',52);
INSERT INTO sqlite_sequence VALUES('config',1);
INSERT INTO sqlite_sequence VALUES('cluster_groups',1);
INSERT INTO sqlite_sequence VALUES('projects',1);
INSERT INTO sqlite_sequence VALUES('images',1);
INSERT INTO sqlite_sequence VALUES('images_aliases',1);
INSERT INTO sqlite_sequence VALUES('nodes',1);
INSERT IN

[2022-01-24 23:29] stgraber commented on #9831
That `storage_volumes` key looks suspiciously low...

Can you run:
[code]

And see if that solves it?

[2022-01-24 23:30] stgraber commented on #9831
That's the exact same SQL statement as was pushed as a fix last week, so if that sorts it out, we'll have to put that into the weird update fluke category as your version of the snap should have effectively applied this fix twice by now...

[2022-01-24 23:30] turtle0x1 commented on #9838
Am I doing it right `sudo export LXD_OVMF_PATH=/snap/lxd/current/share/qemu; sudo lxd --debug --group lxd`?

It fails to start with the same  error.

I also notice another one this time `instanceType=virtual-machine instance=test-vm project=default devName=eth0 err="Failed to remove interface \"tap15fc89e2\": Failed to run: ip link delete dev tap15fc89e2: "`.

Is there a better way of doing what I

[2022-01-24 23:36] stgraber commented on #9838
No, maybe try `sudo LXD_OVMF_PATH=/snap/lxd/current/share/qemu lxd --debug --group lxd`

[2022-01-24 23:41] turtle0x1 commented on #9838
Thats done it, thanks :)

[2022-01-24 23:48] turtle0x1 commented on #9839
Similar error on spice VGA socket, though this one doesn't panic

[code]

[2022-01-25 00:25] rodalpho commented on #9831
That did _not_ fix the error-- but now I get a new one.

`
Error: Failed creating instance snapshot record "auto-backup": Failed initialising instance: Failed creating storage record for snapshot: sql: Scan error on column index 0, name "seq": converting NULL to int64 is unsupported
`

[2022-01-25 00:27] stgraber commented on #9831
Hmm, that's weird...

Can you show `lxd sql global "SELECT * FROM storage_volumes"` and `lxd sql global "SELECT * FROM storage_volumes_snapshots"` ?

[2022-01-25 00:37] rodalpho commented on #9831
Sure:

`
#lxd sql global "SELECT * FROM storage_volumes"
+-----+------------------------------------------------------------------+-----------------+---------+------+-------------+------------+--------------+
| id  |                               name                               | storage_pool_id | node_id | type | description | project_id | content_type |
+-----+--------------------------------

[2022-01-25 02:38] stgraber commented on #9831
`lxd sql global "UPDATE sqlite_sequence SET seq = 420"`

[2022-01-25 12:41] rodalpho commented on #9831
That fixed the issue, thank you!

[2022-01-25 13:10] #9831 closed

[2022-01-26 04:21] derrickmehaffy opened #9842 "Cluster - storage list provides wrong used by count"
# Required information

 * **Distribution:** Linux Mint (Client) // Ubuntu (Server)
 * **Distribution version:** 20.3 (Client) // 20.04 (Server)
 * **The output of "lxc info" or if that fails:**
<details>
  <summery>lxc info output</summery>

</details>

# Issue description

I have a 3 node LXD Cluster setup:
![image](https://user-images.githubusercontent.com/8593673/151103097-972b4e61-0048-4b83-a

[2022-01-26 04:23] derrickmehaffy commented on #9842
Let me know if this is a duplicate, I tried searching other issues here and on the lxc repo / forum and didn't see anything that really described this.

Also not entirely sure if this is intended or not (I'm a bit new to lxc/lxd) or if this is even the right repo :sweat_smile: to report this issue on. If you need any other information let me know!

[2022-01-26 05:06] stgraber commented on #9842
@markylaing want to take a stab at this one?

I think it's right that the UsedBy on a storage pool should reflect volumes on all cluster members.
The URLs will need to include the `target=NAME` field though so we don't end up with duplicates, unless we're dealing with a remote storage pool that is, in which case volume should only be listed once.

[2022-01-26 05:17] #9773 closed

[2022-01-26 05:20] stgraber commented on #9136
@gbiggs @Sanjubisanal @zyga

[2022-01-26 17:23] presztak commented on #7901
@stgraber,

I think that I'm very close to finish this one but I encountered one problem. We try to use one property (blocksize) to control two others: `recordsize` for volumes of type Filesystem and `volblocksize` for volumes of type Block. It wouldn't be a problem if not the fact that this two properties can have different range of values. `volblocksize` can have value from 512 to 128k, power of

[2022-01-26 18:13] stgraber commented on #7901
So I think what we can do is:
 - Allow `recordsize` to be anything in the 512 to 1M range (I'm assuming `M` here is `MiB`)
 - When setting `volblocksize`, we cap it to 128K so any value larger than it will just cause us to set 128K instead.

[2022-01-27 05:16] #9789 closed

[2022-01-27 05:18] stgraber commented on #9839
@tomponline FYI, I've got a branch which completely rewrites our websocket logic, makes it all pure Go and moves it to a new `shared/ws` package. So far I've confirmed that it's working well for text console, vga console, interactive exec and non-interactive exec.

It however has issues when dealing with migration streams so there's a bit of work left to do to track that down before I can put it u

[2022-01-27 05:19] stgraber commented on #9839
https://github.com/stgraber/lxd/tree/websocket

[2022-01-27 07:00] tomponline commented on #9839
Cool that would be nice to remove some of that complicated c based copying logic which ive not had time to fully comprehend. Look forward to PR!

[2022-01-27 11:16] kevinmoilar commented on #9831
Had the same problem, this fixed it https://github.com/lxc/lxd/issues/9831#issuecomment-1020751652 thanks!

[2022-01-27 13:42] rodalpho commented on #9831
I would suggest being careful running commands like that, as the "420" he set the sequence to probably came from one of the previous queries I ran for him. Don't know if that could mess up someone else's config.

[2022-01-27 14:30] kevinmoilar commented on #9831
fair point. @stgraber what would you suggest for someone landing here with the same problem?

[2022-01-27 14:34] stgraber commented on #9831
We pushed the fix to all snap users already. If not using the snap, then you can use `lxd sql` to identify the highest id across both tables and set the sequence to that value.

[2022-01-27 14:49] kevinmoilar commented on #9831
Thanks @stgraber  We are using snap and did update twice around January 20th.

[2022-01-27 14:50] stgraber commented on #9831
The latest fix should have come out yesterday.

[2022-01-27 16:52] presztak commented on #7901
@stgraber I've just open PR. Should we allow for 16 MiB and allow to zfs throw the error if value is too big?

[2022-01-27 21:38] derrickmehaffy commented on #9842
Just to reinforce this, some other examples of this, the profiles show the proper count across the cluster:
![image](https://user-images.githubusercontent.com/8593673/151447816-3d390e53-9bdf-4140-9c89-f89c4fe3a501.png)

(Also thanks for answering so quickly :star_struck: )

[2022-01-28 00:37] stgraber commented on #7901
Yeah, that's fine.

[2022-01-28 20:36] #7901 closed

[2022-01-29 19:08] panticz opened #9851 "defunct / zombie processes in Ubuntu 16.04 container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.13.0-27-generic
   * LXD version: 4.0.8 (snap)
   * Storage backend in use: zfs

# Issue description
defunct / zombie processes inside of Ubuntu 16.04 container, regards i386 and amd64 architecture, Ubuntu 18.04 container works fine

# Steps to reprodu

[2022-01-29 19:48] crass opened #9852 "Add lxc storage disable"
This is a feature request. I would like the ability to "disable" storage pools. This would mean that once disabled all resources held by LXD to the underlying device/filesystem are released. A storage pool in use, say by an active container, should be prevented from being disabled. And a container which uses a storage pool that has been disabled should not be allowed to start.

This allows me to u

[2022-01-29 21:57] stgraber commented on #9851
LXD isn't responsible for the processes running inside the container.

In this case I suspect your issue is that you're trying to run a distro requiring cgroup1 on a host which uses cgroup2.

We're in the process of tagging those older distros so you get an error on startup for new instances but that won't retroactively apply to existing instances.

If you need to run a 16.04 container on a 21.10

[2022-01-29 21:57] #9851 closed

[2022-01-30 15:16] turtle0x1 opened #9853 "Is it up to the client to close sockets after control closed?"
If you do `lxc exec alpine bash` the shell doesn't "connect" (as expected) and the behaviour from LXD in this case appears to be close the control socket but not the other sockets (which will still establish successfully)

I'm not sure if the control socket is deemed important for operation but if the control socket is closed by the server shouldn't the others as well?

[2022-01-30 18:39] stgraber commented on #9853
I'll let @tomponline answer that one as he's been the one changing some of that logic recently :)

[2022-01-30 20:10] turtle0x1 opened #9854 "Can a single operation effect multiple entities?"
If we look at a message from the operations socket it may include the key `metadata.resources.instances`.

This key is currently an "array",  but can any one operation actually effect multiple entities? or is this future proofing? (Ignore the fact Ive used a command that would obviously have a 1 to 1 relation with operations)

For ease here is the output;

![ops](https://user-images.githubusercont

[2022-01-30 21:02] turtle0x1 opened #9855 "Progress % create_backup_progress operation"
Can we get a progress % on `create_backup_progress` operation message or is it speculative until completion?

[2022-01-30 23:05] turtle0x1 opened #9856 "The final success message of the "executing a command" operation doesn't emit the "command""
Can LXD emit the finished command with the final "success" response like it does with the other messages?

[2022-01-30 23:10] gattytto commented on #3391
I need start and stop hooks to allocate and remove rDNSv6 records in a bind9 server when hosts use SLAAC to get their addresses.

[2022-01-30 23:24] stgraber commented on #3391
@gattytto did you look at LXD's network zones feature?

Basically you can create your forward and reverse DNS zones in LXD, then configure LXD to listen for DNS AXFR on some address/port and you can then have your upstream DNS server transfer that zone and either serve it directly or mangle/merge it with other data.

The one catch is that currently we expose the records so long as the instance exi

[2022-01-30 23:26] stgraber commented on #9854
It's mostly future proofing though I believe we at least report both image and instance at creation time.

I don't think we do it correctly currently but the bulk state update API probably ought to use this to indicate all the instances affected.

[2022-01-30 23:35] stgraber commented on #9855
It's a streaming speculative one.

We stream the rsync or zfs/btrfs output which comes without progress into a tar writer that also doesn't give us progress and through a compressor that similarly can't give us progress :)

[2022-01-30 23:35] #9855 closed

[2022-01-30 23:37] stgraber commented on #9855
Basically how it works in LXD is that whenever we setup an io.Writer we wrap it into a ProgressTracker and if we know the target size, we set that property.

Our ProgressTracker is then in charge of updating the operation. If it knows the target size, you get a percentage progress, if it doesn't know it, then you just get the amount transferred and the speed.

[2022-01-30 23:38] stgraber commented on #9856
Probably, I'm not sure what's clearing the metadata at that point, unless the completion message for an operation just never includes it?

Anyway, it's something we should sort out :)

[2022-01-30 23:55] gbiggs commented on #9136
Here's the output of that program when run on the host and running the depthai demo application.

[code]

And here's running it in the container:

[code]

[2022-01-31 01:33] gattytto commented on #3391
thank you @stgraber I'll check it out

[2022-01-31 17:41] gattytto commented on #3391
@stgraber it looks that the mentioned feature is available for lxd managed bridges only, in my case is openvswitch-switch managed by the host OS using network/interfaces file.

[2022-01-31 18:11] presztak commented on #1613
@stgraber Can I be assign to this one?

[2022-01-31 19:19] stgraber commented on #3391
Ah yeah, in such cases LXD can't know for sure what addresses are in use as it doesn't know that EUI64 is available for configuration through SLAAC or if there's a DHCP server or what's going on...

[2022-01-31 19:19] stgraber commented on #1613
Of course!

[2022-02-02 16:33] markylaing commented on #9237
@stgraber it looks like the simple solution would be to set the value of `ErrorLog` on the `http.Server` returned [here](https://github.com/lxc/lxd/blob/master/lxd/api.go#L96) to be `log.New(ioutil.Discard, "", 0)`. However that will discard all logs from that `http.Server` which are otherwise written by the `log` packages standard logger.

[2022-02-03 01:02] kriszos opened #9861 "lxc move fail with websocket: bad handshake on cluster with network latency between nodes"
[code]

# Issue description

When moving a container between cluster nodes that has network latency between them and database leader, command fail with “Error: Copy instance operation failed: Failed instance creation: Error transferring instance data: websocket: bad handshake”

 Steps to reproduce:
 1. create cluster
 2. create container
 3. simulate latency between nodes (f.e. "tc qdisc add dev e

[2022-02-03 01:05] kriszos commented on #9861
this bug was probably introduced in 4.20
relevant thread https://discuss.linuxcontainers.org/t/lxc-move-error-websocket-bad-handshake/12754

[2022-02-03 01:30] stgraber commented on #9861
Going to give that one to @tomponline to investigate.

It may be related to the TCP user timeout and keepalive options we've got enabled and that showed up around the 4.20 release, though it's configured with a 30s timeout and here we're seeing failures within 3s to 14s after operation creation.

[2022-02-03 03:17] StormYudi commented on #7119
Same problem happend in lxd 4.22 with zfs, I can't find the reason why it happened:

root@rainyun:~# lxc start bt611252
Error: Failed to run: zfs set mountpoint=none canmount=noauto data/containers/bt611252: umount: /var/snap/lxd/common/shmounts/storage-pools/data/containers/bt611252: no mount point specified.
cannot unmount '/var/snap/lxd/common/shmounts/storage-pools/data/containers/bt611252': u

[2022-02-03 06:41] #9842 closed

[2022-02-03 11:31] giorgiga opened #9862 "Document group memberships running `lxc exec`"
# Issue description

On top of the documented caveat of executing directly through exec, `lxc exec` does not properly initialize the user's group memberships. This should be documented (or fixed, if deemed a bug).

# Steps to reproduce

Compare `lxc exec <container> -- groups` and `lxc exec <container> -- su -c groups` in an alpine container:

[code]
(see also https://www.reddit.com/r/LXD/comments

[2022-02-03 11:35] mass-im opened #9863 "Incorrect example in REST docs for image aliases"
# Required information
lxd version: 4.22

# Issue description
In the docs passing aliases is described as: `aliases: [ 'my-image' ]` but that is incorrect.
It should be: `[ { name: 'my-image' } ]`
See: https://linuxcontainers.org/lxd/api/master/#/images/images_post

I tried to find where to fix this. If you can point me in the right direction I can do a PR.

Ciao,
Massim

[2022-02-03 17:05] derrickmehaffy commented on #9842
Holy cow that was fast, thanks @markylaing & @stgraber \o/

[2022-02-03 17:50] #9508 closed

[2022-02-03 21:31] #9237 closed

[2022-02-04 03:54] #9856 closed

[2022-02-04 03:54] #9862 closed

[2022-02-04 03:54] #9863 closed

[2022-02-04 11:20] cilex-ft commented on #7119
Same here, lxc 4.22 via snap on ubuntu 20.04.3 LTS. After editing a profile, some containers (unrelated to this profile) can't reboot nor start.

[code]

Editing any profile also displays errors:

[code]

8 containers using this profile are listed in the error - but 21 total use this profile, so 13 of them are not affected. Those can be stopped and restart norminally.

`zfs list` MOUNTPOINT column

[2022-02-04 12:19] lastkrick opened #9868 "Preserve profiles order in container"
Hello! We have problem with profiles order for containers.
We are using LXD cluster with a few nodes and manage containers and profiles using terraform-lxd provider. Each container has a few profiles added to it in a special order. But, LXD Api returns it in some other order making terraform apply changes to containers on every run even on unchanged containers.

We noticed that each profile has it

[2022-02-04 13:47] cilex-ft commented on #7119
@tomponline Tom, should we open an other issue, or is it OK if we continue on this one (as @stgraber wrote last year above)?

[2022-02-04 14:09] tomponline commented on #7119
I've reopened this one, although I don't know there is much we can do until the snapd or zfs buf (which ever is causing it) is resolved.