[2021-01-30 16:38] danielhz commented on #2557
I have a similar problem:

[code]

The server host is running Ubuntu 18.04.5 LTS, the container is running Ubuntu 20.04.1 LTS. I have the same configuration in another machine and I do not have these errors.

[2021-01-30 16:52] stgraber commented on #2557
That suggests that the owning uid/gid of the source file cannot be represented in the container, you can override it with --uid and --gid

[2021-01-30 19:57] cmars opened #8407 "Unable to start VM after reboot, "User 'lxd' does not exist" error (but it does exist on the host)"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info":
[code]

# Issue description

Unable to start VM after reboot. Recently upgraded nvidia dkms drivers, but not sure if that's related.

$ lxc start wgdev
Error: Failed to run: forklimits limit=memlock:unlimited:unlimited -- /snap/lxd/19032/bin/qemu-system-x86_64 -S -name wgdev -uuid 528c2bf8-9

[2021-01-30 20:55] stgraber commented on #8407
I believe we have a fix for this already and it will be rolled out to everyone on Monday.

You could test it with `snap refresh lxd --channel=4.0/candidate` though if you do that, note that you should then do `snap refresh lxd --channel=4.0/stable` later in the week so you don't keep getting the candidate builds (but you'll have to wait for it the current candidate to hit stable first).

[2021-01-30 20:56] stgraber commented on #8407
As an alternative you could set `raw.apparmor` on the instance to `/var/lib/snapd/hostfs/etc/passwd r,`

[2021-01-30 22:03] wtarreau commented on #8401
Thanks to your detailed reproducer above, I could also reproduce it here on my macchiatobin which runs mainline 5.4.2 (not updated in a while...).

[2021-01-30 23:29] wtarreau commented on #8395
@stgraber I finally nailed the crash issue down. It's interesting. Some code we embed (xxhash) is built to support unaligned accesses when `__ARM_FEATURE_UNALIGNED` is set. But on armv5-7, 64-bit unaligned accesses with the LDRD instruction are not permitted, however they are emulated by the kernel.

But the arm64 kernels do not implement the alignment emulation since armv8 processors surpport all

[2021-01-31 00:05] stgraber commented on #8395
Thanks for getting to the bottom of this!

I wonder if it would be worth a kernel patch to catch such unaligned access from the 32bit personality and emulate the normal Linux behavior for 32bit arm. That would take care of such issues and quite possibly of some other weird issues folks have been running into :)

[2021-01-31 05:54] wtarreau commented on #8395
Yes I think it would be worth doing, but I predict that it could be a bit controversial to add support for alignment traps on a platform that theoriticaly always supports unaligned accesses. Also I remember there was not that much love for this feature for ARMv5 as there, **by default**, unaligned accesses would simply return crap instead of being emulated. You had to manually enable alignment tra

[2021-01-31 11:12] srkunze commented on #8395
Also big kudos from my side! +1

Just one noob question: is this something that will sort itself out in time? If not, I would also favor a kernel solution here.

From a user's perspective, it is massively frustrating (I can tell you that) and I was lucky that @wtarreau was so patient with me to get me to that point where we found out that the gdb is broken on armhf-on-arm64 systems. I usually trus

[2021-01-31 17:30] cmars commented on #8407
The candidate version fixed the problem, thanks!

[2021-01-31 17:30] #8407 closed

[2021-01-31 18:09] wtarreau commented on #8395
The unaligned access issue is almost addressed. I'm going to merge the patch into haproxy's copy of xxhash and passed it to Yann already for xxhash. It's uncertain whether latest versions need it or not, as this optimization is sensitive to the code structure and compiler version (I couldn't reproduce it on more recent versions nor with an older compiler).

The gdb issue is another one and could t

[2021-02-01 08:54] srkunze commented on #8395
I researched the gdb bug database and found: https://sourceware.org/bugzilla/show_bug.cgi?id=25215

Do you think it's the same?

[2021-02-01 09:50] tomponline commented on #8246
Sounds to me like dnsmasq is starting and then exiting, so LXD doesn't know about it.

Can you look in syslog/journal for dnsmasq related message?

[2021-02-01 10:31] riaanvddool opened #8409 "LXD failed to install during do-release-upgrade from 18.04 to 20.04"
# Required information

 * Distribution: Ubuntu (Server)
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-135-generic
   * LXC version: N/A
   * LXD version: N/A
   * Storage backend in use: N/A

[code]

# Issue description

While performing a `do-release-upgrade` from Ubuntu 18.04 to 20.04 the LXD installation (via snap) step failed.
See con

[2021-02-01 10:36] riaanvddool commented on #8409
It seems that LXD needs to be migrated from apt to snap:
https://blog.simos.info/how-to-migrate-lxd-from-deb-ppa-package-to-snap-package/

[code]
[code]

[2021-02-01 10:53] riaanvddool commented on #8409
After uninstalling LXD using apt, and making sure apt packages are in a good state I still get the same:

[code]

[2021-02-01 10:54] tomponline opened #8410 "LXD does not send BTRFS subvolumes efficiently in relation to parent snapshots"
Original discussed here https://discuss.linuxcontainers.org/t/no-space-left-on-device-while-changing-the-btrfs-storage-pool-of-an-lxd-container-with-docker/10040/34?u=tomp

While LXD correctly provides the parent subvolume to the BTRFS send tool in relation to LXD create snapshots when performing an optimized migration or export, it does not appear to use the relationship when transferring subvolu

[2021-02-01 12:39] #8409 closed

[2021-02-01 12:41] stgraber commented on #8409
This is an issue directly with snapd and is out of our control.

It would be consistent with something on your system having cleared directories under /tmp which it shouldn't have, so you may want to look into that first.

If you don't have any tools causing regular cleanup of /tmp, them please report this to the snapd team either through a Launchpad bug (snapd project) or on their forum at forum.

[2021-02-01 13:48] riaanvddool commented on #8409
Thanks for the pointers. I do see empty /tmp directories:

[code]

I will ask for help on the snapd forum.

[2021-02-01 15:23] xvd7 commented on #8246
Logs around the time when the problem occurred:
[code]
Is there any other keyword I should be searching for in the syslog?

[2021-02-01 15:25] tomponline commented on #8246
@xvd7 well I think that highlights the problem:

[code]

So as @stgraber said here https://github.com/lxc/lxd/issues/8246#issuecomment-743782852 it looks like something external to LXD on your system is tearing down the lxdbr0 interface as dnsmasq starts. I would check NetworkManager and systemd-networkd to make sure they are not trying to configure it.

[2021-02-01 20:49] nean-and-i commented on #8400
This was reproduceable as described above, but now, for reasons unknown following happens:

lxc testvm being created and started, but lxc switching to STOPPED state, while qemu is still running, also it can't be stopped via lxc commands nor being deleted, only if qemo is manually killed.
Not sure what and why this behaviour changed to not working, i'm still investigating and yet unclear if this is

[2021-02-01 21:20] stgraber commented on #8400
Anything relevant in the log files at /var/snap/lxd/common/lxd/logs/testvm/ ?

[2021-02-01 21:58] nean-and-i commented on #8400
here we go, got it working again.
I loaded `aufs` and `overlay` modules in order to get docker in an other container working, maybe that solved that one as well, even if that relation is unclear to me.

however, the issue is still reproducable, please find below the requested output:
I'd guess `virtiofs` is playing some tricks here,... but just guessing

`cat /proc/self/mountinfo` in the vm

[code

[2021-02-01 22:21] stgraber commented on #8400
Yeah, that's a bit confusing. Not sure what was causing the VM startup issue initially.

It's the first time I see qemu complain about 9p performance, though the option it refers in its help is a guest-side option so somewhat outside of our control. The virtiofsd process apparently panicing is likely the issue in your case as once that hits, it would immediately block all I/O to the virtiofs mount

[2021-02-01 23:07] nean-and-i commented on #8400
I'm not getting anything with strace, it just stopping

But how is that related to the `cpu` options?

In my previous tests it was not working with:
`lxc config set testvm limits.cpu 2-5`

but it was working with:
`lxc config set testvm limits.cpu 2`

btw. the start issue is back

[code]

[2021-02-01 23:24] stgraber commented on #7708
Got it working:

[code]

It's an optional column as it can be rather expensive (especially on ceph).

[2021-02-01 23:39] stgraber commented on #8400
There are a few mentions of similar qemu crashes online though nothing very conclusive.
How much free memory does that system have?

Other than checking the basics, it could really be anything from a qemu bug to a CPU/firmware problem on your system.

You're the first user reporting this of about 5k active users using LXD 4.10 with virtual machines (based on image download stats) so it seems like

[2021-02-02 00:29] cyphar opened #8416 "VM: -readconfig is soft-deprecated by QEMU"
# Required information

 * Distribution: openSUSE
 * Distribution version: Tumbleweed

<details>
<summary>lxc info</summary>

[code]

</details>

# Issue description

When trying to run LXD with QEMU 5.2 and later, you get the following error:

[code]

This is a [known issue with QEMU](https://bugs.launchpad.net/qemu/+bug/1910696) and the [SUSE QEMU maintainers have said that QEMU is soft-deprecat

[2021-02-02 00:29] cyphar commented on #8416
I can cook up a patch for this, just thought I'd submit it to check if you were already aware of this problem.

[2021-02-02 01:44] stgraber commented on #8416
I don't think we ever want to turn into libvirt and generate a qemu command a mile long.

The mailing list thread doesn't actually confirm deprecation at this point and also hints at an alternative text config file which would replace it prior to its full deprecation, so I'm unsure that there is anything for us to do at this point.

As for qemu 5.2, I'm very confused by those reports considering t

[2021-02-02 01:45] stgraber commented on #8416
If qemu ends up deprecating `-readconfig` without a replacement first being put in place, we'd probably fallback to an all QMP implementation but that would require a good chunk of work and would make it rather difficult for anyone to debug what's going on...

The config files have the advantage of keeping `ps` output readable, not risking reaching the process argument limit every time we generate

[2021-02-02 01:48] stgraber commented on #8416
Ah, the use of `--enable-modules` is apparently the trigger, we don't directly specify that to our qemu build so presumably it's being disabled and avoids this issue.

[2021-02-02 01:49] stgraber commented on #8416
Just inspected a build log and sure enough `module support: NO`

[2021-02-02 01:52] stgraber commented on #8416
Moving just the `-spice` bits should indeed be easy enough, though I'd still prefer this be handled at the qemu layer.

There is no mention of readconfig being deprecated or features being removed from it in documentation or release notes for this qemu release, so I think it's fair to treat something that used to work and doesn't work anymore as a regression and have this be resolved in qemu itsel

[2021-02-02 01:53] stgraber commented on #8416
Actually, thinking about it a bit more, if qemu upstream can't be convinced to fix this regression, then the preferred way around it would be to add QMP config support to LXD and transition the bits that currently need command line arguments (including this one) to QMP.

[2021-02-02 02:11] cyphar commented on #8416
Yeah openSUSE uses modules which is what's triggering this. Unfortunately for distributions, statically linking things is usually not acceptable.

[2021-02-02 02:31] stgraber commented on #8416
The problematic SPICE section is:
[code]

So moving just that part over to QMP shouldn't be too bad. LXD already has pretty reasonable QMP interaction support and we already use QMP to perform the actual VM startup, so adding an additional command call just prior to that should do the trick.

[2021-02-02 02:33] stgraber commented on #8416
Not sure what you mean about static linking though, the qemu binary we ship in the snap gets:
[code]

So clearly dynamically linking against a ton of stuff, including libspice-server.

[2021-02-02 02:40] cyphar commented on #8416
The way QEMU modules work is that they're shared libraries which get `dlopen(2)`'d -- so while `qemu` itself might be dynamically linked, in openSUSE the modules are also separate and it appears that is causing issues with registering the `spice` configuration hooks. I guess a better analogy would be module vs built-in (in Kconfig) rather than shared vs static.

[2021-02-02 02:43] cyphar commented on #8416
@stgraber

Sounds good, I'll cook something up then. :D

[2021-02-02 02:52] stgraber commented on #8416
If this works well, we'll probably follow it up with the other command line arguments we have today, ideally moving from:
[code]

To just:
[code]

[2021-02-02 07:49] brauner commented on #8416
Why not support `setproctitle()` like we do in liblxc? I can add that easy enough...

[2021-02-02 12:26] nean-and-i commented on #8400
new more reproduceable examples.
installed some additional packages as `qemu` was complaining when triggering manually

[code]

`apt install libspice-server1 libusbredirparser1 librbd1 ` solves this warning (might not be required for lxd)

---

from ops perspective, I'd suspect something related to `limits.cpu`
so if setting this via `lxc config set testvm limits.cpu 2` the lxc-vm freezes or stora

[2021-02-02 12:52] stgraber commented on #8416
The downside to setproctitle is that you don't know what the command is anymore so it makes it harder to run it again by hand.

Not really an issue for LXC as we spawn it through library calls anyway so not something someone can trivially do by hand but for qemu I frequently copy/paste the command for debugging.

[2021-02-02 12:57] stgraber commented on #8400
Don't try to run qemu directly the way you did, you'll get in trouble.
The snap contains all those libraries directly but you need it all mounted properly in a mount namespace.

What you're doing here is starting qemu with half the things coming from the snap and half the things from your system, likely in very different versions...

limits.cpu simply increases the number of vcpu and network queue

[2021-02-02 15:08] nean-and-i commented on #8400
I haven't startet it manually, just wanted to figure out if dependencies are missing, as explained by you this should be fine.
I'm using a regular HP DL360 G6 server, so nothing extra ordinary, maybe a bit old, but still common used hw.

however, I think I found something.

while `error: can't find command `hwmatch'.` catched my attention and I read about it on  here -> https://github.com/lxc/lxd/

[2021-02-02 15:20] stgraber commented on #8400
Ah, can you try `lxc launch images:ubuntu/20.04/cloud v1` instead?
If that behaves properly, then it may be worth filing a bug at https://launchpad.net/ubuntu/+source/linux-kvm/+filebug so someone on the Ubuntu kernel team can figure out what's up with the kvm kernel.

[2021-02-02 15:21] #7708 closed

[2021-02-02 15:43] nean-and-i commented on #8400
you mean `lxc launch images:ubuntu/20.04/cloud v1 --vm` right?

yep, this works fine so far and makes the workaround with manually switching kernel obsolete (as generic kernel is used by default) ;-)

[code]

however  if using `limits.cpu 2-5` then it won't start, so this should be avoided.
`lxc config set v1 limits.cpu 2-5`

[2021-02-02 16:18] stgraber commented on #8400
Confirmed here that there's something weird going on with limits.cpu and a specific pinning.
Will look into it some more as that sure used to work and I actually have a bunch of production systems using exactly that...

[2021-02-02 17:47] tomponline commented on #8260
For more examples also see:

https://discuss.linuxcontainers.org/t/failed-to-load-network-lxdbr0-duplicate-config-row-found-for-key-dns-mode-for-network-id-1/10101

[2021-02-02 18:03] tomposmiko opened #8417 "Proxy generates zombie process"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Focal
[code]

# Issue description
I have a couple of proxy rules defined and I can see several processes like this:

[code]

I don't know what kind of other information you need.

[2021-02-02 18:10] #8417 closed

[2021-02-02 18:10] stgraber commented on #8417
This was already reported and fixed :)

[2021-02-02 19:25] killua-eu opened #8418 "LXC binary"
Hi all,

I'm trying to move our ansible-based management to awx/tower and am hitting a major issue. We extensively use the lxd_connection plugin, which per https://github.com/ansible-collections/community.general/blob/9c648c8e3acedf0881c9fbeb08b353230457c945/plugins/connection/lxd.py#L64 requires the lxc binary (https://github.com/ansible/awx/issues/9184). I hoped that installing the lxc package w

[2021-02-02 19:40] stgraber commented on #8418
Just build the `lxc` binary from this repo. `go get -v -x github.com/lxc/lxd/lxc`.

[2021-02-02 19:40] #8418 closed

[2021-02-02 19:41] stgraber commented on #8418
You can also find static binaries for it (untested) from the `Actions` page in this repository.

[2021-02-02 22:03] stgraber commented on #8400
I've submitted a fix which appears to be working fine for me.

Apparently the issue is that in situations were pinning is used, a NUMA config is created which was then in some cases (when hugepages isn't used) would end up with the main memory definition using memfd (as was introduced with the switch to virtiofs) but the old ram backend for the NUMA definition.

Apparently that's causing some wonk

[2021-02-02 23:19] #8400 closed

[2021-02-03 01:21] matthewa150 commented on #8236
I thought I was close to a solution, but as I've worked, I've run into an issue: I'm having trouble seeing the association between pools/volumes and projects. For containers, I can see the project association when looking at the container (for example, when looking at it in a pool, it is shown with `used_by: /1.0/instances/c1?project=foo`); however, I'm having trouble finding where that associatio

[2021-02-03 01:44] stgraber commented on #8236
The `storage_volumes` database table has a `project_id` column for each volume, indicating in what project it's stored.
Though changing that isn't quite sufficient as the on-disk naming for the volume also includes the project name.

So basically you'd need to:
 - Check that the volume isn't currently in use by any instance or profile
 - Check that no custom volume of that name already exist in th

[2021-02-03 14:14] monstermunchkin opened #8421 "Unable to add zfs pool to running cluster"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.04
 * The output of "lxc info" or if that fails:
[code]
# Issue description

I have a cluster with 5 nodes.
[code]

 When trying to add a zfs storage pool once the cluster is up and running, it fails with
[code]
The `zfs.img` is created on every node, but, judging by the error, it's trying to do so a second time.

# Steps

[2021-02-03 14:26] brauner commented on #8416
It feels like the command line should be logged in the vm's log file...

[2021-02-03 15:25] stgraber commented on #8421
Interesting, I'll take a look at this one.

[2021-02-03 23:31] TimRots commented on #7901
Yes. I would like to pick this up again over the upcoming weekend.

[2021-02-03 23:36] stgraber commented on #7901
Excellent!

[2021-02-03 23:36] nean-and-i commented on #8400
Sorry, this does not fix the issue on my end, can you please reopen the issue?

Steps:

[code]

Still not working with `imits.cpu 2-5`

[code]

[code]

[code]

[2021-02-03 23:39] stgraber commented on #8400
Hmm, can you show the `qemu.conf` you're getting?

[2021-02-03 23:40] stgraber commented on #8400
You're apparently hitting kernel resource issues eventually leading to qemu dying now, so that's quite a bit different.

[2021-02-03 23:50] nean-and-i commented on #8400
cat /var/snap/lxd/common/lxd/logs/v1/qemu.conf

[code]

[2021-02-04 01:10] stgraber commented on #8400
Based on that config, you're not using a fixed LXD

[2021-02-04 01:11] stgraber commented on #8400
Oh, I forgot something in my instructions, you need a 'chmod 755 /var/snap/lxd/common/lxd.debug' before the reload

[2021-02-04 06:04] MatzeS commented on #7874
Two points:

**First**, based on some initial experimentation I feel that using swaggo requires a lot of refactoring.
For example, swaggo only generates OpenAPI information for exported struct fields. See [here](https://github.com/swaggo/swag/issues/666).
Therefore, for example
[code]
has to be refactored to:
[code]
This is not difficult or challenging, but I guess this touches a lot of code. Is t

[2021-02-04 07:56] xvd7 commented on #8246
I could not find anything that would be tearing down lxdbr0. It seems more like a timing issue:
<pre>
Jan 30 08:24:10 seaborgium lxd.daemon[3310]: t=2021-01-30T08:24:10+0000 lvl=dbug msg=Start driver=bridge network=lxdbr0
Jan 30 08:24:10 seaborgium lxd.daemon[3310]: t=2021-01-30T08:24:10+0000 lvl=dbug msg="Setting up network" driver=bridge network=lxdbr0
Jan 30 08:24:10 seaborgium NetworkManager[1

[2021-02-04 08:21] nean-and-i commented on #8400
sorry, I've overlooked that as well, thought there would be some magic fixing this on first startup.
however, looks good now, at least with the cloud image (not yet tested with the `linux-kvm`) :

lxd.debug is now running:

[code]

[code]

it boots up properly and I can access now `/mnt/external` without hangs/freezes

`cat /var/snap/lxd/common/lxd/logs/lxd.log`

[code]

`cat /var/snap/lxd/common/

[2021-02-04 10:35] keestux opened #8422 "Cluster heartbeat is sometimes nested"
When looking at the monitor logging we see that the heartbeats of our cluster is not behaving as it should. There could be multiple problems. This issue is about one of them.

# Required information

[code]

# Issue description

Besides the normal heartbeats at 10 second interval, there are also two extra heartbeats. This can be shown by looking at monitor logging, using `lxc monitor --type=loggin

[2021-02-04 11:10] brauner commented on #8422
This _might_ also be interesting to @MathieuBordere's work in debugging an issue in dqlite/raft.

[2021-02-04 11:39] keestux commented on #8422
It would be interesting to know if this happens in other installations. Maybe then we can figure out the actual cause.

[2021-02-04 11:45] keestux commented on #8422
BTW This github issue is the result of a problem discussed [here](https://discuss.linuxcontainers.org/t/excluding-offline-node-from-refresh-but-everything-seems-ok)

[2021-02-04 13:15] stgraber commented on #8422
@brauner LXD and raft heartbeats are completely separate things

[2021-02-04 13:28] brauner commented on #8422
You mean LXD has a concept of hearbeats and raft has a concept of heartbeats and LXD concept != raft concept?

[2021-02-04 13:31] tomponline commented on #8422
As I understand it the raft heartbeat is only for the database nodes in a dqlite cluster, whereas the LXD heartbeats are for keeping track of all nodes in a cluster, even the non database ones. Its used, for example, to tell if a node is up to avoid sending forkdns requests to downed nodes.

[2021-02-04 15:07] stgraber commented on #8422
@brauner correct

[2021-02-04 15:13] #8358 closed

[2021-02-04 16:14] wtarreau commented on #8395
It's possibly the same, yes.

[2021-02-04 16:57] stgraber commented on #8421
- Step 2) above only touches the database as planned, no sign of zfs.img in disks/ or zpool entries.
 - Step 3) properly creates the zfs.img file and zpool on all nodes here
 - lxc storage delete properly destroys zpools and zfs.img on all nodes.

Tested on current latest/edge.

[2021-02-04 16:58] stgraber commented on #8421
[code]

[2021-02-04 17:00] tomponline commented on #8421
Perhaps the `zfs` pool was left over from a previous pool on one of the nodes?

[2021-02-04 17:25] stgraber commented on #8421
Yeah, a pool that wasn't properly deleted by ZFS would cause this error indeed (even if zfs.img was deleted).

[2021-02-04 17:47] stgraber commented on #8421
Played with it some more and can't reproduce it, so assuming that it was indeed a dirty system and closing this.

[2021-02-04 17:47] #8421 closed

[2021-02-04 18:56] monstermunchkin commented on #8421
Nope, that's not it. `zpool list` doesn't show any pools.

[2021-02-04 19:05] stgraber commented on #8421
Track it down to running multiple LXD daemons on the same system, source= would avoid such issues.

[2021-02-04 19:54] keestux commented on #8422
And here is piece of the log, only grepping lines with Starting or Completed.
[code]
Just to show how nesting can appear.

[2021-02-05 12:33] cquike opened #8426 "LXD remote added by one user is not seen by other users"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-126-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: lvm

# Issue description

An LXD server has several users which has permission to execute LXD commands since they all belong to the lxd group. If a use

[2021-02-05 13:02] #8426 closed

[2021-02-05 13:03] stgraber commented on #8426
Remotes are a client side concept.

[2021-02-05 13:04] stgraber commented on #8426
We have another existing issue tracking a way to have system wide configuration for the client.

[2021-02-05 13:23] cquike commented on #8426
Hi,
thank you for the prompt answer.
In this case the LXD client is the same and indeed the rest of the LXD configuration is the same, only that this LXD is managed by different operators.

Could you point to the issue with the system wide configuration?

[2021-02-05 13:26] stgraber commented on #8426
https://github.com/lxc/lxd/issues/7322

[2021-02-05 13:57] kautMaks opened #8427 "Restarting LXC CT fails sometimes with network errors"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * Kernel version: 5.4.0-42-generic
 * LXC version: 4.0.6
 * LXD version: 4.10
 * Storage backend in use: dir

# Issue description
I am using LXD with ~500 LXC CTs on one node. Network on CTs configured as ipvlan.
Sometimes, `lxc restart {someCT}` fails with such errors in log:
[code]
After that, `lxc start testct` also fails with such errors.

[2021-02-05 13:59] brauner commented on #8427
@tomponline, @stgraber, this feels like an issue of not setting `SO_REUSEADDR`?

[2021-02-05 14:04] tomponline commented on #8427
Please show output of 'lxc config show <instance> --expanded' for one of the problem containers to show your device config.

[2021-02-05 14:05] tomponline commented on #8427
I thought that was to do with listening on an IP rather than adding an address?

[2021-02-05 14:06] tomponline commented on #8427
Also lxd doesn't normally set an address in liblxc as it uses dhcp except for things like routed nic and ipvlan so will confirm its one of those first.

[2021-02-05 14:09] kautMaks commented on #8427
Here is the output:
[code]

[2021-02-05 14:14] tomponline commented on #8427
What might be relevant here is that we have previously had reports with routed nic type of intermittent issues adding the host side static route on restart due to an existing route (which should only happen if the veth pair doesn't get deleted on container stop). I added a fix to remove it for routed and perhaps ipvlan could benefit from this also

[2021-02-05 14:29] stgraber commented on #8427
Yeah, I think we'll need the same here.

The issue is with the kernel really. Once the container processes are all dead, the namespaces get automatically destroyed, but in some cases, there are kernel issues causing artificial references and keeping the namespace around, either for a few seconds or sometimes indefinitely. This then results in the veth staying around on the host causing the conflic

[2021-02-05 14:34] tomponline commented on #8427
I'll add that next week.

[2021-02-05 14:35] kautMaks commented on #8427
Thanks, will wait for the fix.

[2021-02-05 18:21] xvd7 commented on #8246
After adding ```ExecStartPre=/bin/sleep 15``` to the wireguard service the log changes to:
<pre>
Feb  1 16:11:39 seaborgium lxd.daemon[424204]: t=2021-02-01T16:11:39+0000 lvl=dbug msg=Start driver=bridge network=lxdbr0
Feb  1 16:11:39 seaborgium lxd.daemon[424204]: t=2021-02-01T16:11:39+0000 lvl=dbug msg="Setting up network" driver=bridge network=lxdbr0
Feb  1 16:11:39 seaborgium NetworkManager[16

[2021-02-05 22:40] presztak commented on #7900
Hello, can I work on this issue?

[2021-02-06 04:18] stgraber commented on #7900
Certainly, assigned it to you!

[2021-02-06 12:37] Wizlonex commented on #5449
Hi Stephane:

So I also ran into this issue when copying a container from one machine to the other.  And I also got it to work, so I am posting what worked for me and, if of any value, I can post additional information:

Firstly, the container was originally created in 2017 under ubuntu 16.04 (host & container) and LXD version 2.x (the stable version that came with ubuntu 16.04 - sorry, I can't re

[2021-02-07 08:30] scubashan commented on #8162
This is still failing in 4.0.11 on bnx2x , looks like it gets a bit further then fails?

# lxc network attach internet test eth1
Error: Failed to start device "eth1": Failed to bring up the interface: Failed to run: ip link set dev eno1v1 up: RTNETLINK answers: Cannot assign requested address

 dmesg |grep bnx |tail
[ 6874.359565] [bnx2x_set_vf_mac:2704(eno1)]mac address invalid
[ 6874.862640] [bn

[2021-02-07 10:07] scubashan commented on #8162
post-up echo 16 > /sys/class/net/eno1/device/sriov_numvfs
  post-up for vf in $(ip link show eno1 | awk '/vf / {printf $2" "}'); do ip link set eno1 vf $vf mac b8:2a:71:be:ef:${vf}; done

I added the above to the interfaces file to manually set the mac addresses on boot which is successful as a workaround.
Let me know if theres anything I can do to help diagnose the issue.

[2021-02-07 10:12] tomponline commented on #8162
@scubashan In your original post your were trying to add a device with a MAC of `00:00:00:00:00:01` using `lxc config device add test eth0 nic nictype=sriov parent=eno1 hwaddr=00:00:00:00:00:01 mtu=2000`.

However in your latest manual example your using `b8:2a:71:be:ef:${vf}`. Please can you confirm that the equivalent static MAC is also causing the original issue reported with LXD?

Also, can yo

[2021-02-07 10:55] scubashan commented on #8162
@tomponline
Oops! Apologies, its been a few weeks and I'd started using LXC to manage SRIOV networks.

Using:
c# lxc config device add test eth0 nic nictype=sriov parent=eno1 hwaddr=00:00:00:00:00:01 mtu=2000
works fine.

Using:
c# lxc config device add test eth0 nic nictype=sriov parent=eno1 mtu=2000
Error: Failed to start device "eth0": Failed to bring up the interface: Failed to run: ip link se

[2021-02-07 10:56] tomponline commented on #8162
Is it possible to get access to the server remotely?

[2021-02-07 11:00] scubashan commented on #8162
Not easily :/

[2021-02-07 11:01] tomponline commented on #8162
So checking I understand correctly? The original issue is now fixed `lxc config device add test eth0 nic nictype=sriov parent=eno1 hwaddr=00:00:00:00:00:01 mtu=2000` works whereas it didnt before?

But not specifying a MAC does not work?

[2021-02-07 11:03] scubashan commented on #8162
Correct. And all 3 methods work if I set the MACs on boot. Is that expected behaviour or should LXD create the MACs?

[2021-02-07 11:05] tomponline commented on #8162
It seems that each SRIOV chipset seem to have subtly different behaviour/characteristics. So LXD has to adapt to accommodate them. On the Mellanox and Intel chipsets we have access to if we do not set a MAC address, then when we bring the VF up it uses its own MAC address, but perhaps your chipset requires us to set a (random one) if not specified by user.

[2021-02-07 11:09] tomponline commented on #8162
when you first boot the machine before setting up any VF config, what is the output of `sudo ip link` showing the VF states?

[2021-02-07 11:10] scubashan commented on #8162
There is none, LXD is creating the VFs

[2021-02-07 11:11] tomponline commented on #8162
Ah, ok, what about after doing `echo 16 > /sys/class/net/eno1/device/sriov_numvfs`?

[2021-02-07 11:17] stgraber commented on #8162
@tomponline so we may need to do a bit of a dance, try to bring it up, if that fails and we don't have an hwaddr set by the user, then generate a random one and use that? That should allow for cards that generate their own to keep doing that and to handle cards which don't?

[2021-02-07 11:18] scubashan commented on #8162
2: eno1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP mode DEFAULT group default qlen 1000
    link/ether b8:2a:72:e1:9a:d7 brd ff:ff:ff:ff:ff:ff
    vf 0     link/ether 00:00:00:00:00:00 brd ff:ff:ff:ff:ff:ff, tx rate 10000 (Mbps), max_tx_rate 10000Mbps, spoof checking on, link-state auto
    vf 1     link/ether 00:00:00:00:00:00 brd ff:ff:ff:ff:ff:ff, tx rate 10000 (Mbps), max_tx

[2021-02-07 11:19] scubashan commented on #8162
FYI - I thought I'd try bring one of those up

# ip link set eno1v0 up
RTNETLINK answers: Cannot assign requested address

[2021-02-07 11:21] tomponline commented on #8162
thanks @scubashan, so we can see your card is behaving differently than the others. Here's an example on my Intel card on a fresh boot (I'm using the PF here), but you can see that although the VFs have no MAC assigned, the interfaces associated to them do, and can be brought up without specifying a MAC, whereas yours do not.

[code]

@stgraber yes that would seem to be the way forward.

[2021-02-07 11:22] stgraber commented on #8162
I really wish the kernel would enforce a common behavior on this stuff...

[2021-02-07 11:23] scubashan commented on #8162
Great, let me know if you need anything else.

[2021-02-07 11:23] tomponline commented on #8162
@scubashan do you have to set a MAC to the VF on the PF or can you just set it on the VF interface itself and bring it up?

[2021-02-07 11:27] scubashan commented on #8162
c# ip link set eno1v0 address  00:00:00:00:00:69
c# ip link set eno1v0 up
c#

Looks like you can set the VF directly.

[2021-02-07 11:29] tomponline commented on #8162
And what does `ip link` on the PF show for the VF setting after that (so I can get a full picture)?

[2021-02-07 11:31] scubashan commented on #8162
2: eno1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP mode DEFAULT group default qlen 1000
    link/ether b8:2a:72:e1:9a:d7 brd ff:ff:ff:ff:ff:ff
    vf 0     link/ether 00:00:00:00:00:69 brd ff:ff:ff:ff:ff:ff, tx rate 10000 (Mbps), max_tx_rate 10000Mbps, spoof checking on, link-state auto
    vf 1     link/ether 00:00:00:00:00:00 brd ff:ff:ff:ff:ff:ff, tx rate 10000 (Mbps), max_tx

[2021-02-07 11:32] tomponline commented on #8162
@scubashan ok thanks, this makes more sense. Thanks

[2021-02-08 15:17] tomponline commented on #8246
OK thanks, let me see if I can recreate here.

[2021-02-08 17:01] #8427 closed

[2021-02-08 17:40] tomponline commented on #8246
Out of interest, what is the reason for using the lxdbr0 IP address on the wireguard interface? Why not use a separate address and then publish the lxdbr0 subnet as a route on that endpoint?

[2021-02-08 18:18] #8162 closed

[2021-02-08 20:28] presztak commented on #7900
@stgraber  two questions:

1. I have used validateCompression function from lxd/cluster/config.go and moved it to shared/validate/validate.go because now it's used in lxd/api_project.go to validate project config keys. Is it a good place for this function or it should be placed somewhere else?

2. Key images.auto_update_interval is a little bit tricky. We have task function (autoUpdateImagesTask)

[2021-02-09 02:08] stgraber commented on #7900
1) That sounds like an appropriate place for it. The `validate` package was somewhat recently introduced by @tomponline and has been growing quickly, it certainly makes sense to move other validation function over.

2) I'd recommend to do a PR with the easy ones first so we can have that in place. But for those more complex ones, I think the approach of running the task every hour and then checkin

[2021-02-09 08:59] danielhz commented on #3770
I got this error message when running a bulk loader of data in a database inside a container. This job has to load the data and create indexes, so it takes several hours and overloaded the system. At some point I got an "Error: websocket: close 1006 (abnormal closure): unexpected EOF." With datasets of similar sizes, sometimes it succeeds, sometimes it fails. I had a console doing this work inside

[2021-02-09 12:04] flotho commented on #2544
same here after updating to 7.9

[2021-02-09 12:50] stgraber commented on #3770
That's usually the sign of a crash from the daemon.

Look at 'journalctl -u snap.lxd.daemon' for a crash or maybe 'dmesg' for an indication of your system running out of memory and LXD being killed because of it.

[2021-02-09 12:51] stgraber commented on #2544
That's normal, those aren't files a container should be allowed to write.

Normally the only effect from those messages are a bit of noise in log files.

[2021-02-09 13:37] keestux commented on #8422
Perhaps it would be possible to add extra logging when the nested heartbeat occurs, and especially **why** it occurs.

[2021-02-09 19:21] monstermunchkin opened #8436 "Improve image refresh in a cluster"
In a cluster, whenever there's an image which can be refreshed, the new image is downloaded by all nodes that need it. We should improve that logic by having only one node download the new image. That node should then push the image to the other nodes.

[2021-02-09 23:14] tomee03 opened #8439 "Container export / start: Failed to run: zfs mount ... filesystem already mounted"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-60-generic
   * LXC version:
   * LXD version: 4.11 (from snap)
   * Storage backend in use: zfs

# Issue description

We have an automatic backup script and today we had a problem with `lxc export` in 3 from 15 running containers.
Error: Error: Cr

[2021-02-10 03:05] stgraber commented on #8439
Duplicate of https://github.com/lxc/lxd-pkg-snap/issues/61

[2021-02-10 03:05] #8439 closed

[2021-02-10 03:07] stgraber commented on #8439
The usual things to try to fix this are:
 - `grep containers/xxx1 /proc/*/mountinfo`
 - `nsenter -t PID -m umount PATH` using one of the PID and one of the mount paths from above output

If that doesn't work, you may need to unmount the overmount `/var/snap/lxd/common/shmounts` path and then repeat the previous step.

If more practical, a reboot will also clear the issue for sure.

[2021-02-10 03:35] stgraber commented on #8436
The ultimate test for this should be:
 - Setup a 3 nodes cluster
 - Set image replication to just one node (to make it easier to see what's going on)
 - Make sure storage is provided by something with optimized volumes (not `dir`)
 - Create 3 projects: a, b and c
 - Configure a working default profile in all 3
 - Copy images:FINGERPRINT into all 3 projects (use the fingerprint of an old image in `

[2021-02-10 08:52] tomee03 commented on #8439
Hello, I don't understand why you close the issue, obviously, lxd has a problem. Your answer not working. And marked issue `lxc/lxd-pkg-snap#61` too.

Output from umount:
`umount: /var/snap/lxd/common/shmounts/storage-pools/default/containers/xxx1: no mount point specified.`

We have production things on lxc, I'm afraid it's wrong.

Can you please describe why this problem with mounting happened?

[2021-02-10 10:07] cyberwillis commented on #3770
Hi @danielhz ,

if you was connected to the terminal the moment your snap updated the LXD to new build version, you will be kicked out until the process finish update or upgrade.

[2021-02-10 10:08] danielhz commented on #3770
I have this message several times at the end of `journalctl -u snap.lxd.daemon`:

[code]

[2021-02-10 10:14] cyberwillis commented on #3770
try to see the date and time your lxd was refreshed see it match with the time this happened

`snap info lxd`

[2021-02-10 10:44] danielhz commented on #3770
Hi @cyberwillis,

In the host, I opened a tmux terminal. Then, I opened a connection to the container with `lxc exec container bash`. Inside the container I started the job. Then, I detached the tmux terminal. After some hours, I attached the terminal again, and I see that the connection with the container was lost.

@cyberwillis, I think that your hypothesis of that the connection was kicked out

[2021-02-10 10:55] cyberwillis commented on #3770
Hi @danielhz ,

If you execute :
`snap changes` you will see the ID of the snap that refreshed the LXD then you can pass
`snap tasks <ID>` to verify too.

This happened to me before, so in my case was the update that kicked me out.

There are one solution for that if that is the case.
`sudo snap set system refresh.hold="2030-01-01T01:00:00-01:00"`
then start frequently update your package manually

[2021-02-10 11:38] xvd7 commented on #8246
It started historically - I was experimenting with LXC (yes - good old LXC before LXD was born). I used 10.X.Y.1 for the node and 10.X.Y.2 etc. for the containers. Then I got more servers and needed encrypted connection among all the containers. So I bolted on a peer-to-peer VPN. I did not know much about networking so I used the same IP for the vpn interface and everything just worked. I never lo

[2021-02-10 11:41] tomponline commented on #8246
I've not been able to recreate it, using dummy interfaces, and @stgraber tried using wireguard interfaces also. Without being able to recreate there's not much we can do, especially as this is likely a dnsmasq bug (we bundle our own dnsmasq inside the snap so that may be why it correlates with a specific LXD version).

Does it occur if the wireguard interface doesn't share the same IP as the lxdbr

[2021-02-10 12:56] stgraber commented on #8439
I'm closing it because it's not a LXD issue (it's a snap issue) and because we already have an issue tracking this.

Can you show 'nsenter -t PID -m cat /proc/self/mountinfo' for one of the PIDs in the initial list?

That way I can make sure that clearing shmounts is the right thing to do to unblock things.

And this has nothing to do with an export or with anything you did, it's some kind of moun

[2021-02-10 20:42] xvd7 commented on #8246
Thank you for helping to narrow down the issue.

The problem does NOT occur if the wireguard interface has a different IP than the lxdbr0 interface.

I found few changes in dnsmasq from July 2020 such as one labeled "Handle listening on duplicate addresses"
https://github.com/pi-hole/FTL/pull/848/commits. That would confirm the suspicion that the problem is related to dnsmasq bug.

[2021-02-10 21:52] tomponline commented on #8246
Yes the `l->used = 1;` bit in https://github.com/pi-hole/FTL/pull/848/commits/85c788d7c3febdac604d0319acbcd3f4b62520a8 is what is related to the `unknown interface lxdbr0` error in the logs you see.

I'll close this now, but if you report the issue to dnsmasq, and can re-open once fixed upstream, we then can pull in the changes.

[2021-02-10 21:52] #8246 closed

[2021-02-11 16:21] danielhz commented on #3770
Hi @cyberwillis, your hypothesis is very likely. It also helps me to know how I can delay snap updates to start updating packages manually.

[2021-02-11 20:58] stgraber commented on #7898
Going to look into this one next.

[2021-02-11 22:06] #8422 closed

[2021-02-12 01:14] stgraber commented on #7898
Just a quick note for myself, I think on the DB front, I'll be adding a `restricted` boolean column to `certificates` and then a separate `certificates_projects` table to assign certificates to projects.

This will support proper assignment through IDs and the extra column will allow to distinguish a restricted certificate with no project from an unrestricted certificate. This addresses a concern

[2021-02-12 03:00] cmars opened #8451 "Can't `lxc file push` files from home directory"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]
   * Storage backend in use: dir

# Issue description

I used to be able to push files from my home directory into containers. This no longer seems to work, now I get an error:

[code]

Looks like the path I passed to lxc got mapped to something snapd-related.

I can

[2021-02-12 03:31] stgraber commented on #8451
Hmm, this is a bit odd and most likely not something we can do anything about.
/var/lib/snapd/hostfs is the location of the host mount table in the snapd managed namespace.

Are any of the intermediate directories a symlink? If so, to where? We've fixed some issues with symlink handing in the past so that could be a LXD bug.

If not, it's probably some kind of mount entry issue to do with snapd.

[2021-02-12 03:37] cmars commented on #8451
Very odd. There are no symlinks (or mounts) in the path to my home directory.

[2021-02-12 03:42] stgraber commented on #8451
Interesting, can you show:

`sudo nsenter -t $(cat /var/snap/lxd/common/lxd.pid) -m ls -lh /var/lib/snapd/hostfs/home`

[2021-02-12 03:45] cmars commented on #8451
[code]

[2021-02-12 03:46] stgraber commented on #8451
Ok, so far so good :)

What about `sudo nsenter -t $(cat /var/snap/lxd/common/lxd.pid) -m ls -lh /var/lib/snapd/hostfs/home/c/.ssh/id_rsa.pub`

[2021-02-12 03:51] cmars commented on #8451
[code]

Oh dear, I completely forgot... this host doesn't have an id_rsa.pub, it uses a smartcard. Sorry for the noise.

[2021-02-12 03:51] #8451 closed

[2021-02-12 03:52] stgraber commented on #8451
:) that'd explain it!

[2021-02-12 15:21] jamielsharief opened #8455 "API Error Messages Suggestion"
Currently the error messages in the API are hard to use in other software unless you just throw out the exact error response that comes back.

For example

[code]
and
[code]

In order to use this API and give better responses to users, i would have to attempt to parse the error message string to find out what is going on.

I am wondering if the API can return a category error, and then a system er

[2021-02-12 16:12] grebennikov commented on #8358
@tomponline
I'm so sorry folks, I don't have access to the environment anymore to re-test it.
One part of the problem was that when creating the device without specifying the size was a cloze-to-zero size that just confused the VM.

[2021-02-12 16:22] stgraber commented on #8455
Initially marked as `Maybe` but unfortunately the answer really is a no in this case...

Most LXD functions just return a Go `error` which doesn't let you split the message and indicate categories like you'd want here.
This then gets turned into an ErrorResponse in the API handler.

So we could add context to tell you what API endpoint returned the error, but not much else.
In your example above,

[2021-02-12 16:22] #8455 closed

[2021-02-12 16:56] cjohnston1158 opened #8456 "lxd init says invalid input for fan underlay"
# Required information

 * Distribution: Ubutun
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-65-generic
   * LXC version: 4.0.3?
   * LXD version: 4.0.2
   * Storage backend in use: dir

# Issue description

When trying to initialize lxd on a new VM with a Fan overlay network, the question What subnet should be used as the Fan underlay? [d

[2021-02-12 17:03] stgraber commented on #8456
Yeah, that suggests that your underlay network isn't a /16 or /24 and so you'll need to manually configure it.

[2021-02-12 17:04] stgraber commented on #8456
This happens in environment where your default interface is on an unusual subnet size. There's nothing we can really do to figure out the right value, so it's up to you to specify it.

[2021-02-12 18:37] #8456 closed

[2021-02-13 11:18] jetojedno opened #8460 "Enhancement: Backup and restore configurations"
# Required information
All distributions & backends.

# Issue description

The aim is to backup the LXD setup so it can be restored on a fresh build, without any storage contents.

First step would be documentation on how to do this - what to backup and how to restore (e.g. lxd did / guid changes).

This is related to Issue [#5782](https://github.com/lxc/lxd/issues/5782)

# Steps to reproduce

 1.

[2021-02-14 03:30] GopherJ commented on #4176
[code]
I still have issue...

it's strange that lxd relies so much snap...we don't like snap at all and we will never switch to it...

[2021-02-14 03:34] GopherJ opened #8461 "No way to install except snap ? Installation instructions from google don't work at all, please provide some basic infos"
# Required information

 * Distribution: Linux Mint v20
 * Distribution version:  v20
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description

A brief description of the problem. Should include what you were
attempting to do, what you did, what happened and what you expected to
see happen.

# Steps to

[2021-02-14 03:36] GopherJ commented on #8461
I'd really like to use lxd but the PPA is deprecated and I spent the whole morning on searching:

[code]

Nothing really worked for me.

Lxd is great, but please provide at least the basic step to start...and make it clear

[2021-02-14 03:37] GopherJ commented on #8461
I can understand that you love snap but not everyone can accept it, I had really bad experience with snap and will never use it again...but I want to use lxd on ubuntuv20.04, how should I install it? ...

[2021-02-14 03:39] GopherJ commented on #8461
https://www.cyberciti.biz/faq/install-lxd-on-ubuntu-20-04-lts-using-apt/ => this looks pointing old lxd@1.0.9, pls remove it if it's not maintained anymore

[2021-02-14 03:44] GopherJ commented on #8461
I then tried to use `Install from source`:

I tried `go get -d -v github.com/lxc/lxd/lxd` it succeeds and no errors.

then if I run:
[code]
it gives:
[code]

[2021-02-14 03:46] GopherJ commented on #8461
It's really annoying that such a good tool has no good documentation even for users to start...and force the usage of snap...

[2021-02-14 05:17] stgraber commented on #8461
It's up to distributions to come up with native packages if they want them. For us as upstream the snap package is a convenient way to ship well tested builds on all distro and releases and be able to support the vast majority of our users that way.

If you don't want to use the snap, that's not a problem, but you'll indeed need to build LXD from source (you seem to have stopped reading the instru

[2021-02-14 05:17] #8461 closed

[2021-02-14 06:49] GopherJ commented on #8461
@stgraber  I do follow your instructions https://github.com/lxc/lxd/issues/8461#issuecomment-778718457 but still gets errors. I use goenv and have my `GOPATH` set to `$HOME/go/1.15.7`

[2021-02-14 07:14] stgraber commented on #8461
That error shows that you didn't follow the steps adding the needed build dependencies (liblxc-dev in this case) or followed the instructions from the 'make deps' part.

[2021-02-14 08:00] GopherJ commented on #8461
@stgraber NO, I do have it:

![image](https://user-images.githubusercontent.com/33961674/107871555-b21ced00-6edd-11eb-875d-926bdd806aa8.png)

[2021-02-14 08:06] GopherJ commented on #8461
Basically now I have no way to install it.

1. ubuntu20.04 doesn't ship snapd
2. install from source fails

[2021-02-14 15:40] stgraber commented on #8461
Ubuntu 20.04 sure ships snapd, something must be very wrong with your package lists for apt not to find it.

[2021-02-14 15:55] stgraber commented on #8461
Clean Ubuntu 20.04 system without snapd installed:
[code]

Clean Ubuntu 20.04 system building LXD from the instructions in our README:
[code]

This all works exactly as expected with simply following the instructions to the letter on a freshly installed Ubuntu 20.04 system.

[2021-02-14 16:02] stgraber commented on #8460
https://linuxcontainers.org/lxd/docs/master/backup#full-backup covers most of it, though it didn't mention subuid/subgid for the cases where this matters (doesn't for snaps).

I'm sending a PR which adds a mention of those two files.

[2021-02-14 16:04] #8460 closed

[2021-02-14 23:57] GopherJ commented on #8461
@stgraber ok probably because snapd is not shipped with Linux Mint anymore

[2021-02-15 00:45] stgraber commented on #8461
No, LXD isn't something you can build statically, so a binary build would fall to start on most platforms and randomly crash on others later on.

If you only need the client tool, we do have a static build of that as part of Github actions but the server we can't do it.

[2021-02-15 03:01] GopherJ commented on #8461
@stgraber I gave up...

![image](https://user-images.githubusercontent.com/33961674/107900788-0925cf00-6f7d-11eb-911c-f0d7b21a38a3.png)

I'll go for real virtualization

I'll go for real virtualization

[2021-02-15 03:09] GopherJ commented on #8461
libuv1-dev shipped with Linux Mint v20 is 1.34 which doesn't meet your requirements (>= 1.8)

[2021-02-15 11:14] tomponline commented on #8461
@GopherJ this works for me (building inside a nester LXD container also, for my own convenience):

Note: This is a minimal build so not all features supported, but enough to get basic containers running.

I've used the Mint liblxc LTS packages for simplicity also.

[code]

One thing I've noticed is that the `apparmor` package must be installed to start the container when nesting (otherwise you get

[2021-02-15 12:44] stgraber commented on #8461
@tomponline nope, probably just a mistake in the dnsmasq profile that we didn't hit in CI.

[2021-02-15 12:52] tomponline commented on #8461
@stgraber yeah the profile has an explicit check for being inside the snap:

https://github.com/lxc/lxd/blob/master/lxd/apparmor/network_dnsmasq.go#L58-L65

Otherwise it fails on mmap read of its own binary.

[2021-02-15 12:55] stgraber commented on #8461
Ah right, that's an AppArmor bug where you need map permission for your own binary when in an AppArmor namespace but not when outside of one...

The snap because of snap-exec always needs that even when not nested so that's why we've noticed that part and added it but haven't noticed the other case yet.

Should be a pretty simple one line fix to add something similar to the global section.

[2021-02-15 12:58] tomponline commented on #8461
@stgraber ill take a look.

For my own info, is it expected that nested containers would be unable to start without using apparmor inside the first container, when apparmor is in use on the host? My original fix for the dnsmasq issue was to uninstall apparmor in the first container, but that broke containers starting.

[2021-02-15 13:02] stgraber commented on #8461
I think so, liblxc doesn't rely on the presence of the AppArmor binaries so as long as you have a /sys/kernel/security/apparmor it will expect the profiles to be ready for use.

Some folks have had some success using a tmpfs mounted on /sys/kernel/security to completely block any AppArmor interactions in the container.

Though you obviously can't escape your parent's profile so can still run into

[2021-02-15 13:05] tomponline commented on #8461
@stgraber right that makes sense, any objections to me adding a check in LXD that if /sys/kernel/security/apparmor exists, but the profile load cannot occur then return with a more helpful error rather than letting liblxc fail?

[2021-02-15 13:09] stgraber commented on #8461
You could try setting lxc.apparmor=unconfined in such cases instead but we'd definitely want to log a warning in such cases.

[2021-02-15 17:20] #7898 closed

[2021-02-15 20:09] jetojedno opened #8466 "enhancement: move delete -i confirmation request after error checking"
# Required information

 * Distribution: openSUSE
 * Distribution version: Leap 15.2
 * lxd --version
4.10

# Issue description

The `lxc delete -i <some_name>` command requests confirmation before any error checking, so `lxc delete -i I_DONT_EXIST` prompts for confirmation, as well as many other "normal" errors, such as trying to delete a running container.

# Steps to reproduce

 1. lxc delete -

[2021-02-15 20:38] stgraber commented on #8466
That's not possible, we can't show you a server-side error coming from the requested deletion operation before we send that deletion operation through. All the checks are done on the server side as part of the delete operation, the confirmation prompt is done in the client ahead of that.

[2021-02-15 20:38] #8466 closed

[2021-02-15 21:53] jamielsharief opened #8467 "BTRFS starting containers with quota too quickly"
I am using LXD stable with a custom partition formatted using BTRFS, jobs such as creating a container or restoring from backup prematurely report status as complete, but if you try to carry out operation such as start container it fails.

If you create container, then patch it to set a quota for the disk size, you need to wait approx 15-20 seconds before you can start the container (without trigg

[2021-02-16 02:11] GopherJ commented on #8461
@tomponline thanks it actually helped, but I still have libuv issue.

![image](https://user-images.githubusercontent.com/33961674/108010222-4e123a00-703f-11eb-8779-00cb87a10946.png)

I tried to set `export PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig` but it didn't help

[2021-02-16 02:13] GopherJ commented on #8461
![image](https://user-images.githubusercontent.com/33961674/108010366-a9442c80-703f-11eb-8cf2-8ab838803a86.png)

[2021-02-16 03:53] GopherJ commented on #8461
I feel it's caused by linuxbrew:

which pkg-config gives me
[code]

[2021-02-16 05:19] stgraber commented on #8467
It's not something we've ever noticed in any of our tests or have seen any report so far.
LXD issues simple `btrfs qgroup limit` commands and waits for the command to return, there is no mention in the btrfs documentation of any of this being asynchronous so I'd be tempted to consider this a kernel bug.

Can you run `nsenter --mount=/run/snapd/ns/lxd.mnt /snap/lxd/current/bin/btrfs qgroup show -pc

[2021-02-16 05:34] stgraber commented on #7874
On our side, the main goal right now is to replace `doc/rest-api.md` with something that's generated from our code so we never forget to document an endpoint. We also would like a much better API explorer on our website so using swagger/OpenAPI makes sense there.

I've been looking at some options today, most swaggo and go-swagger but also some of the OpenAPI 3.0 options.
Basically swaggo has the

[2021-02-16 06:10] GopherJ commented on #8461
I ran into another issue, it says `missing dqlite` now.

[code]

[2021-02-16 08:23] GopherJ commented on #8461
@stgraber @tomponline guys I'm close:)

![image](https://user-images.githubusercontent.com/33961674/108036570-5ab08580-7073-11eb-86c3-b39a107e652a.png)

[2021-02-16 08:28] GopherJ commented on #8461
now it works:)

![image](https://user-images.githubusercontent.com/33961674/108037051-fcd06d80-7073-11eb-976f-b3ec514e034d.png)

[2021-02-16 11:26] jamielsharief commented on #8467
It looks like it is, the moment i created container i ran this command for a 1GB quota. If i run `sudo btrfs quota rescan /btrfs -w` it does not even take 1 second. So the 15-30 second delay seems odd. Is LXD doing something in the background.

[code]

I did find this on the BTRFS wiki
![image](https://user-images.githubusercontent.com/20553479/108056884-29738d80-7052-11eb-8212-579949e682f6.png)

[2021-02-16 11:46] jamielsharief opened #8468 "BTRFS reporting incorrect disk usage"
LXD 4.0.5 with a custom partition formatted as BTRFS and this set as the storage pool.

I noticed that disk space usage was getting lost somewhere, you can reproduce like this.

Create an Ubuntu container, send a patch request to `/instances/ubuntu` setting a the disk size to `5GB`

[code]

I then install `mysql-server` and `apache2`

[code]

 I create a snapshot by sending a post request with the

[2021-02-16 11:52] jamielsharief commented on #8468
Note running ` du -h -s /` within the container on both `ZFS` an `BTRFS` hosts return exactly the same results `1.2GB`

[2021-02-16 13:21] stgraber commented on #8467
LXD doesn't do anything in the background when it comes to storage handling.

It could be unaccounted data in the page cache which is why they suggest running sync. But that's not a viable solution as sync is a global system wide action which can take minutes and pretty much block I/O for everyone else...

If btrfs is doing some stuff in the background, they should provide a command line flag so w

[2021-02-16 14:18] tomponline commented on #8436
@stgraber this makes sense, as you say its pretty complicated so would be good to have an automated test for the scenario (even if its just a jenkins CI script and not a test).

Also, what does "Set image replication to just one node (to make it easier to see what's going on)" mean?

Would you expect multiple calls to `POST /internal/image-optimize` one for each pool where the image volume exists

[2021-02-16 14:51] monstermunchkin commented on #8436
@tomponline I guess that means setting `cluster.images_minimal_replica` to `1` (it defaults to `3`). It describes the minimal numbers of cluster members with a copy of a particular image.

[2021-02-16 22:55] aplatypus commented on #4176
More to the point No Snap-s have ever worked on our set-usp because the home directory is never the root mount.  The 'after' mount bind mount solution doesn't correct/work around the problem.  From this point of view that effectively blocks LXD from use on this site because we aren't going to support building our own PPA.  Not sure why an organisation develops a technology like this only to block

[2021-02-17 00:17] stgraber commented on #7874
Current preview: https://dl.stgraber.org/swag-lxd/

[2021-02-17 08:49] tomponline commented on #7874
@stgraber looks good!

[2021-02-17 10:15] jamielsharief commented on #8467
This is how it can be recreated from the command line
[code]

Doing this causes it hang, have to do a CTRL-c
[code]

When i run the log on the hanging
[code]

[2021-02-17 10:24] jamielsharief commented on #8467
If you think 1GB is too small, same happens with 5GB
[code]

[2021-02-17 14:37] jamielsharief commented on #8467
I think this issue is related to it, in the end it worked after x time, which is the same thing i have noticed.
https://github.com/lxc/lxd/issues/4321

[2021-02-17 20:47] jetojedno opened #8474 "enhancement: facility within container to pause (similar to hibernate)"
This will add the ability for a container to "pause" itself.

A container can be stopped from the inside by running `systemctl shutdown` (or equivalent).

It would be useful for a container to be able to run `systemctl hibernate` (or equivalent) to pause its operation.

[2021-02-17 21:11] stgraber commented on #8474
You won't be able to do that from within the container as those commands directly interact with the kernel.
But from outside the container, LXD also supports it:
 - lxc pause NAME => freezes all processes until you `lxc start` it back. Memory remains used though.
 - lxc stop NAME --stateful => saves all running state to disk, all memory is released, very rarely works though (depends on ability for

[2021-02-17 21:11] #8474 closed

[2021-02-18 01:16] ltrager opened #8477 "Blocksize incorrectly reported on IBM Z"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-65-generic
   * LXC version: 4.0.5
   * LXD version: 4.0.5
   * Storage backend in use: N/A

# Issue description

I am working on enabling IBM Z for MAAS. LXD is reporting the block size on all devices as `2199023255552` which is obviously incorrec

[2021-02-18 02:11] stgraber commented on #8477
weirdly enough, the ioctl we're sending looks correct and is getting 512 back from the kernel, it's something after that, possibly in Go's handling of the syscall that's turning it into garbage.

[2021-02-18 02:13] stgraber commented on #8477
yep, pretty sure it's a bug in `unix.IoctlGetInt` not a bug in our code...

[2021-02-18 02:56] stgraber commented on #8477
Re-implemented this thing through a direct syscall using the correct type, this should fix it on all big endian systems.

[2021-02-18 06:18] frank-heimes commented on #8477
If unix.IoctlGetInt has a problem that occurs on big endian systems only, i.e. on s390x, we can also open a LP bug and ask IBM to have a look at it and to get it fixed upstream.

Btw. the blocksize on s390x depends on the storage in use and there are largely two kinds of storage:
zFCP storage (which is virtually SCSI) will be (as usual) 512 (and zFCP is what ltrager is using),
but there is also DA

[2021-02-18 12:47] stgraber commented on #8477
So I don't think it's actually a big in that Go package, it's just confusing behavior on big endian systems that will likely hit a bunch of other people :)

The issue is that the common function to run an Ioctl from Go stores all results into an int64, regardless of what type integer the kernel actually returns.

That's harmless on little endian systems but in big endian systems this causes a comp

[2021-02-18 13:05] #8477 closed

[2021-02-18 13:23] frank-heimes commented on #8477
Ok, understood.
Well, such kind of things are typical big endian 'challenges'.
Thx for dealing with it (in #8478)!

[2021-02-18 15:09] chrisoldwood commented on #6228
For anyone else stumbling across this my scenario was launching a container remotely via a script with a block like this, which worked:
[code]

When I changed it to this it stopped working and I got `cannot unmarshal !!str lxc con... into api.InstancePut` :
[code]
(I now realise that the `lxc con` in the error message was the next line in my script 🙂.)

I'm not sure exactly what my mistake is here

[2021-02-18 15:23] stgraber commented on #6228
Prior to you adding the extra line, the next thing was an EOF which was then making LXD move on, detecting no stdin for the launch. When you added the second line, now there was something to read, so LXD went with its "YAML from stdin" code path for `lxc launch`.

Doing `< /dev/null` is the right thing to do in such cases, ensuring LXD isn't passed anything through stdin so it doesn't try to inter

[2021-02-18 18:06] matthewalanpenning opened #8484 "Move/migrate instances within cluster in projects other than default"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info":
config:
  cluster.https_address: 10.180.188.164:8443
  core.https_address: 10.180.188.164:8443
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used

[2021-02-18 18:23] stgraber commented on #8484
Should be a pretty straightforward bug, chances are we missed a `.UseTarget()` somewhere when calling the source server.

[2021-02-18 18:50] tomponline commented on #8484
@stgraber I'll take a look tomorrow if ok.

[2021-02-18 21:30] presztak commented on #7926
@stgraber Can I take this one as my second issue?

[2021-02-18 22:04] bnapalm opened #8485 "LXD fails to bind HTTPS to a self-managed network on daemon startup"
# Required information

 * Distribution: Arch Linux
 * Distribution version: Arch Linux LTS
 * The output of "lxc info" or if that fails:

[code]

# Issue description

I want to limit HTTPS client access to only from containers within a LXD-managed network, so I bind the HTTPS listener to the corresponding IP. This works as expected. But when LXD starts with this configuration, it fails to bind to

[2021-02-18 23:02] stgraber commented on #8485
So I don't think we can re-order things without breaking clusters and a setup like yours could completely deadlock you in a clustered environment as for a cluster you need to be listening on the network to connect to your peers to get the database up so you can get the database data out, including the network config.

We've actually recently relaxed this logic as it used to just completely fail st

[2021-02-18 23:03] stgraber commented on #7926
Certainly, assigning to you!

[2021-02-19 13:44] tomponline commented on #8484
Have reproduced the issue

[2021-02-19 14:21] tomponline commented on #8484
@matthewalanpenning thanks for the reproducer, have sent a PR that fixes it.

[2021-02-19 14:58] matthewalanpenning commented on #8484
@tomponline great work!

[2021-02-19 16:21] bnapalm commented on #8485
That makes in regards to clusters.
Thanks for the suggestion/workaround. `net.ipv4.ip_nonlocal_bind` sounds like a good solution.

[2021-02-19 17:00] #8484 closed

[2021-02-20 00:38] techtonik opened #8490 "Inconsistent container behavior with `shiftfs`"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
  driver: lxc | qemu
  driver_version: 4.0.6 | 5.2.0
  firewall: nftables
  kernel_features:
    netnsid_getifaddrs: "true"
    seccomp_listener: "true"
    seccomp_listener_continue: "true"
    shiftfs: "true"
    uevent_injection: "true"
    unpriv_fscaps: "true"
  kernel_

[2021-02-20 04:04] stgraber commented on #8490
I'm unable to reproduce your issue, all containers behave like your second one here regardless of name.
This is extremely unlikely to be a LXD issue and I don't see the relation with `shift=true` given the two containers you're creating here do not have any such attached device in the first place.

[2021-02-20 08:18] techtonik commented on #8490
So how to debug what's going on?

[2021-02-20 08:51] techtonik commented on #8490
I compared `lxc monitor` logs, and there are no differences, except minor message order.

[2021-02-20 09:41] techtonik commented on #8490
I run `strace dot -v` inside container, and could not make sense of it. Probably the error occurs during installation of the packages.

Restarting daemon didn't help. Only after I disabled shiftfs and restared lxd daemon, the error is gone.
[code]

Most likely filesystem driver remembered that I attached `lxc config device add "$NAME" "$NAME-shared" disk source="$PWD" path="/root/$NAME" shift=true

[2021-02-20 10:25] techtonik commented on #8490
When I reenable `shiftfs` and reload daemon, the `dot -v` start to fail again. That only repeat for this specific container. It doesn't repeat with other container.

The command I use for testing:
[code]

That doesn't make sense. Unless there is some state preserved in filesystem driver related to this container.

[2021-02-20 10:56] techtonik commented on #8490
It is pretty insane, but the bug with enabled `shiftfs` **depends on the length of container name**. The bug only manifests itself if the name is 7-8 symbols.

These work ok:
[code]
These fail:
[code]
But these again work ok:
[code]
That's repeatable.

[2021-02-20 20:12] komish commented on #7946
Just dropping a quick note that I'll be focused on this in the coming weeks!

[2021-02-20 22:45] stgraber commented on #7946
Excellent!

[2021-02-21 08:20] techtonik commented on #8490
It also seems that with enabled `shiftfs` guest doesn't immediately detect changes on host filesystem.

[2021-02-23 23:11] presztak commented on #7926
@stgraber what in situation when we copy workload between projects e.g.:

`lxc cp c1 c2 --target n1 --target-project p1`

or copy workload to other remote

`lxc cp c1 r1:c2 --target n1 --target-project p1`

should we check config key for source or destination project?

[2021-02-24 01:03] stgraber commented on #7926
The destination is all we care about, the key is there to control where something can be created.
So when going across project, the target project is what matters.

[2021-02-24 13:28] stgraber commented on #7900
Closing as we've now got all of those.

[2021-02-24 13:28] #7900 closed

[2021-02-25 13:59] brauner commented on #8490
If you change the filesystem directly from the host than shiftfs can't guarantee in all scenarios that the updates are picked up immediately; it'll basically have to keep two caches in sync. If things don't go terribly wrong after this merge window then shiftfs will slowly be faded out in favor of an upstream solution we wrote that has been merged.

[2021-02-25 15:01] techtonik commented on #8490
@brauner thanks for the clarification. It is unfortunate the `shiftfs` didn't work for me. For my development purposes I don't really need performance, and secure mount of a network filesystem without caching would solve all my problems. I successfully did that with `9p2000` filesystem, but it still requires installed FUSE driver inside guest. If LXD could extrapolate 9p filesystem support from VM

[2021-02-26 13:29] brauner opened #8501 "Network device clashes"
While fixing a networking bug in LXC I realized that the following network layout will fail the container:

[code]

Is this a case we want to account for in LXD or should it already and it's a bug?

See
https://github.com/lxc/lxc/pull/3696
https://github.com/lxc/lxc/pull/3699
for context.

[2021-02-26 13:32] brauner commented on #8501
This ends up as something like this in the LXC config:
[code]

[2021-02-26 13:56] tomponline commented on #8501
Thanks @brauner, yes we should probably check that the `name` property is unique for all of an instance's NICs (using expanded config to take into account the profile case you mention).

[2021-02-26 14:18] brauner commented on #8501
It might be worth to forbid adding network devices with the name property set to `eth%d`. LXC will handle this fine with the patch series I sent:
[code]

but I'm not sure we should allow the user to instruct the kernel to choose the name. Not because of security but because it moves things out of our control.

[2021-02-26 14:33] tomponline commented on #8501
From irc:

Kernel does this:
[code]

[2021-02-26 19:51] respadas opened #8503 "Can't interact with LXC"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails: Error: Get http://unix.socket/1.0: EOF
   * Kernel version: 5.4.0-1025-azure
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: btrfs

# Issue description

The system is uptime since september 11 and it's a production server, all worked fine until

[2021-02-26 19:58] stgraber commented on #8503
Is that a cluster?
I'm assuming you already tried `systemctl restart lxd`?

[2021-02-26 20:27] respadas commented on #8503
Hi,

is not a cluster and yes I runned the restart but the commando sticks, If I check the status have this output:

root@LXD-nodo1:~# systemctl status lxd
● lxd.service - LXD - main daemon
   Loaded: loaded (/lib/systemd/system/lxd.service; indirect; vendor preset: enabled)
   Active: activating (start-post) since Fri 2021-02-26 14:23:49 CST; 47s ago
     Docs: man:lxd(1)
  Process: 989 ExecStart

[2021-02-26 20:58] stgraber commented on #8503
Can you show `ps fauxww` and `sqlite3 /var/lib/lxd/database/local.db "SELECT * FROM raft_nodes;"`?

[2021-02-26 21:04] respadas commented on #8503
Sure!

[2021-02-26 21:21] respadas commented on #8503
Sure!

[ps_output.log](https://github.com/lxc/lxd/files/6052526/ps_output.log)
root@LXD-nodo1:~# sqlite3 /var/lib/lxd/database/local.db "SELECT * FROM raft_nodes;"
1|10.0.2.4:8443

[2021-02-26 22:09] stgraber commented on #8503
Right, so your system is setup as a cluster, a one node cluster but still a cluster.
Is your machine actually reachable at 10.0.2.4?

[2021-02-26 22:25] respadas commented on #8503
Hi, yes it's reachable.

[2021-02-26 22:53] stgraber commented on #8503
What does `nc -v 10.0.2.4 8443` get you?

[2021-02-26 23:25] respadas commented on #8503
root@LXD-nodo1:~# nc -v 10.0.2.4 8443
Connection to 10.0.2.4 8443 port [tcp/*] succeeded!

[2021-02-26 23:41] stgraber commented on #8503
Okay, that's odd.

Can you do:
 - sudo systemctl stop lxd.service lxd.socket
 - sudo lxd --debug --group lxd

See what that get stuck on?

[2021-02-27 00:22] respadas commented on #8503
root@LXD-nodo1:~# sudo lxd --debug --group lxd
DBUG[02-26|18:21:29] Connecting to a local LXD over a Unix socket
DBUG[02-26|18:21:29] Sending request to LXD                   method=GET url=http://unix.socket/1.0 etag=
INFO[02-26|18:21:29] LXD 3.0.3 is starting in normal mode     path=/var/lib/lxd
INFO[02-26|18:21:29] Kernel uid/gid map:
INFO[02-26|18:21:29]  - u 0 0 4294967295
INFO[02-26|18:21:29

[2021-02-27 02:08] stgraber commented on #8503
Just to be sure there's nothing weird going on, what does `ip -4 route get 10.0.2.4` get you?

[2021-02-28 04:48] olokos opened #8506 "LXC upgrade attempt gets stuck at "Connecting to source server" - connecting forever"
# Required information

 * Distribution:  Ubuntu
 * Distribution version: 18.04 to 20.04 update
 * The output of "lxc info":
[Link to pastebin](https://pastebin.com/kTjqkdSA)
# Issue description

I'm updating ubuntu 18.04 LTS to 20.04 LTS and lxc is attempting to upgrade from deb to snap, but it gets into infinite loop of connecting to source server, which never ends.

# Steps to reproduce

 1. Us

[2021-02-28 04:52] olokos commented on #8506
![Screenshot of the moment at which point it's stuck](https://image.prntscr.com/image/u2hioTUYQkSNB6AZCalZ_Q.png)

[2021-02-28 05:03] stgraber commented on #8506
What does `journalctl -u lxd -n 300` show you?

[2021-02-28 09:37] presztak commented on #7926
@stgraber  I've idea to implement this in `checkRestriction` function from `lxd/project/permissions.go` so in this same place where other project restrictions are checked. What do you think about it? But other project restrictions  are dependant from `restricted` config key also. Should `restricted.cluster.target` be also dependant from this setting?

In another approach we can implement this dire

[2021-02-28 15:01] olokos commented on #8506
@stgraber

It says this:
[Link](https://pastebin.com/6aPRhZtT)

I'm currently in the state as in the screenshot, using another SSH session to enter new commands.

Noticing the error I've done `sudo mkdir /var/log/lxd/` but it didn't seem to progress the `Connecting to source server` situation.
It's been like this since yesterday :D

[2021-02-28 15:10] olokos commented on #8506
Okay, seeems like it did progress after 10 minutes of me creating that directory!
![image](https://user-images.githubusercontent.com/1755581/109423375-6a1ebf80-79df-11eb-8fd0-6702e20673be.png)

[2021-02-28 18:17] komish commented on #7946
Hello again! Looking for some guidance here whenever you have a moment. @stgraber

I've been following the skeleton you provided earlier in this thread as closely as possible to help wrap my head around things.

At this point, I'll looking at the API implementation which seems to be the bulk of the work so far. Specifically, this bullet from that skeleton you provided above.

* lxd/projects: Add p

[2021-02-28 19:14] respadas commented on #8503
root@LXD-nodo1:~# ip -4 route get 10.0.2.4
local 10.0.2.4 dev lo src 10.0.2.4 uid 0
    cache <local>

[2021-02-28 19:30] stgraber commented on #8503
Can you send me a tarball of `/var/lib/lxd/database` at stgraber at ubuntu dot com?
I'll try to reproduce the issue here and get it back online.

It'd have been pretty trivial to resolve this on LXD 4.0 but 3.0 is missing much of the newer clustering tooling.

[2021-02-28 21:21] respadas commented on #8503
Files send, thank you.

[2021-03-01 04:18] stgraber commented on #7926
Yeah, `checkRestriction` sounds good and indeed this config key will be dependent on `restricted` being `true`.

We definitely cannot do this in the client alone, the keys under `restricted.*` must be enforced by the server and we consider any ways to bypass them to be security issues.

[2021-03-01 04:26] stgraber commented on #7946
The goal is to implement a new `/1.0/projects/NAME/state` endpoint.

Doing so requires the addition of a new `ProjectState` struct in `shared/api/project.go` followed by a new `APIEndpoint` struct in `lxd/api_project.go` which will implement Path "projects/{name}/state" and have only a `Get` function associated with it.
This new APIEndpoint then needs to be added to the list in api_1_0.go.

That `

[2021-03-01 17:12] turtle0x1 opened #8508 "Project list csv adds "(current)""
Compared with `json` & `yaml`, `lxc project list --format csv` will output the project name with `(current)` attached I.E

[code]

If you wanted to get a list of project names using a command like the following it would fail without extra code

`lxc project list --format csv | cut -d, -f1`

[2021-03-01 17:27] jamielsharief commented on #8468
@stgraber just wondering if you have seen this? Taking a snapshot overwrites the disk usage size and i am not sure why disk space is different when installing the same apps.

[2021-03-01 17:27] stgraber commented on #8508
Yeah, we have the same behavior in `lxc remote list`. I noticed it before but I'm not sure that we can really do anything about it.
Basically the output formats which use structs are fed the raw data (yaml/json) whereas table and csv use processed data from the client, in this case, adding in what the current project is.

Removing it wouldn't be too hard but this would break anyone who's currently

[2021-03-01 17:36] stgraber commented on #8468
Yeah, I've had that issue in my queue for a little while now.

[2021-03-01 17:42] turtle0x1 commented on #8508
`lxc project list --format csv | cut -d, -f1 | cut -d' ' -f1` would do it, thanks :smile:

[2021-03-01 17:42] #8508 closed

[2021-03-02 03:22] stgraber commented on #8503
Sent you a manually re-created version of your database with clustering disabled.
It's loading fine here and I can see your containers (24 of them, using btrfs storage pool).

[2021-03-02 12:24] tomponline commented on #8327
I've not seen this in a while and @brauner mentioned he had found and fixed a possible scenario where this could have occurred in liblxc, so will close for now and reopen if it occurs again.

[2021-03-02 13:22] #8501 closed

[2021-03-02 14:08] tomponline commented on #8327
@brauner I spoke too soon, just got this failure again now:

[code]

[code]

[2021-03-02 14:38] #8368 closed

[2021-03-02 16:03] respadas commented on #8503
Thank you a lot, the re-created database is working fine.

Regards,

[2021-03-02 16:05] #8503 closed

[2021-03-02 16:28] stgraber commented on #7874
[x] api10
[x] api10Cmd
[ ] clusterCmd
[ ] clusterNodeCmd
[ ] clusterNodesCmd
[x] projectCmd
[x] projectsCmd
[x] certificateCmd
[x] certificatesCmd
[x] eventsCmd
[ ] imageAliasCmd
[ ] imageAliasesCmd
[ ] imageCmd
[ ] imageExportCmd
[ ] imageRefreshCmd
[ ] imagesCmd
[ ] imageSecretCmd
[ ] instanceLogCmd
[ ] instanceLogsCmd
[ ] instanceBackupCmd
[ ] instanceBackupExportCmd
[ ] instanceBackupsCmd
[ ]

[2021-03-02 18:06] tomponline commented on #8410
I've confirmed that sub volumes are sent/exported with the correct parent set to the appropriate LXD created snapshot.

E.g. `/var/lib/lxd/storage-pools/btrfs/containers/c1/rootfs/mnt/somesubvol` will be sent with a parent of `/var/lib/lxd/storage-pools/btrfs/containers-snapshots/c1/snap0/rootfs/mnt/somesubvol` so only the differences between the two LXD snapshots will be sent.

However where we a

[2021-03-03 03:10] stgraber commented on #8410
It'd certainly be neat to handle this properly, btrfs is our most used backend currently so spending a bit of time on it is probably a good idea. I guess the first step would be a function we can pass a path and have it return data about every subvolume in that path and their relationship, we can then update the logic that figures out subvol ordering to consider that and the directory structure to

[2021-03-03 03:11] stgraber commented on #8436
Oops, I'm two weeks late to this question, but yes, I meant reducing minimal_replica to 1.

[2021-03-04 22:29] presztak commented on #7947
Can I work on this one?

[2021-03-04 22:36] stgraber commented on #7947
Absolutely!

[2021-03-04 23:39] #8436 closed

[2021-03-04 23:40] #7926 closed

[2021-03-04 23:40] #7891 closed

[2021-03-05 08:02] tomposmiko opened #8525 "Failed detecting root disk device: No root device could be found"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Hirsuite
[code]
# Issue description

After ugrading to 4.11 launching container failed:

[code]

After running `snap revert lxd` fixed to issue, though it remained on v4.11.
I don't know, how....I'm not sure, how useful this report could be this way.

[2021-03-05 08:08] tomposmiko commented on #8525
I don't understand snap versions:

[code]

[2021-03-05 12:37] stgraber commented on #8525
Does it work if you pass '-p default' to that launch command?

If that's the case, then try launching from a different image, if that works too, then it's an issue where your local copy of the image got detached from the default profile.

You can fix that with 'lxc image edit' by adding back the default profile to the list of profiles for the image.

[2021-03-05 22:12] presztak commented on #7947
@stgraber just to clarify, if `images.default_architecture` config is set (e.g. x86_64) and we launch instance we should pick least busy node but with x86_64 architecture. Am I right? Any other case/command which should also respect this config key?

[2021-03-05 22:18] tomposmiko commented on #8525
I cannot reproduce it anymore.

[2021-03-05 23:34] stgraber commented on #8525
Ok, so that was most likely the image getting detached from the default profile and getting fixed when it refreshed itself.
We've actually got some new logic in 4.12 to prevent this from happening in the first place, so let's hope that fixes it.

[2021-03-05 23:34] #8525 closed

[2021-03-05 23:37] stgraber commented on #7947
Yeah, that's right, when launching an image which isn't tied to a particular architecture, then we should restrict the nodes we consider to those of offering the default architecture. So in a mixed cluster with x86_64 and aarch64 nodes where the default_architecture is set to x86_64 either globally or in my project, I'd expect:

 - lxc launch images:ubuntu/20.04/arm64 => least busy aarch64 cluster

[2021-03-07 11:14] candlerb commented on #7119
I have the identical problem. I can probably leave this in a broken state for a few hours, but ideally I'd like to reboot the host to clear this (this is my authoritative nameserver for home network)

[code]

The host (nuc2) is running Ubuntu 18.04 and lxd 4.11 from snap

[code]

The container (ns-auth) was Ubuntu 16.04, and I'd just done a "do-release-upgrade" to update to 18.04.  It had just reb

[2021-03-07 11:19] candlerb commented on #7119
BTW there's nothing unusual about the config of this container.

[code]

[2021-03-07 11:32] candlerb commented on #7119
I still can't work out what's going on with shared libraries inside the snap namespace:

[code]

[2021-03-07 11:46] candlerb commented on #7119
Ha, got zfs binary to work (needed to copy `LD_LIBRARY_PATH` from `/proc/13251/environ`)

[code]

However I still can't unmount it:

[code]

`/proc/mounts` says it's mounted somewhere else - but that doesn't work either.

[code]

[2021-03-07 17:45] candlerb commented on #7119
I've restarted the server now. Sorry.

[2021-03-08 20:25] avr1 commented on #7873
Hi @stgraber, I'd like to take a look at this for my first issue if that's ok. I might need a bit of help, but I'm looking forward to learning a lot!

[2021-03-08 22:00] borgez opened #8540 "Ceph RBD map denied in container"
I have same problem like #2709, when i provision device from rook in k8s it say ok and no error.
On hypervisor side /dev/rbdX created but in container not.

Any way to auto mount it to right container?

[2021-03-09 02:31] stgraber commented on #8540
Nope, /dev isn't really namespaced so containers can't have their own version of `devtmpfs` where device nodes show up automatically (which `rbd map` relies on).

Your best way around this would be to setup custom udev hooks on the host to react to those rbd devices showing up and then automatically passing them into the container but that's pretty custom and will possibly still fail if `rbd` or a

[2021-03-09 02:31] #8540 closed

[2021-03-09 03:16] stgraber commented on #7873
Absolutely, assigning it to you and we'll be happy to give you some pointers!

[2021-03-09 19:34] presztak commented on #8005
@stgraber Can this one be my next task?

[2021-03-10 13:28] #8506 closed

[2021-03-10 13:29] stgraber commented on #8506
Closing this as the /var/log/lxd path isn't created by LXD but instead handled by distro specific packaging. So there is no change to this repository which can prevent this from happening.

[2021-03-10 15:05] avr1 commented on #7873
Hi @stgraber, newbie question incoming: In the first bullet point in one of your previous comments on this thread, you mention that I should plan on adding a custom_volume_refresh extension to the api. I'm having trouble locating the folder or file where the rest of this api is housed. Could you point me in the right direction?

[2021-03-10 15:22] stgraber commented on #7873
You need to add a new section to `doc/api-extensions.md` and add the same named entry to `shared/version/api.go`.

[2021-03-10 16:37] tomponline commented on #8410
@stgraber based on our conversation earlier about needing to take into account the ability in BTRFS to create a snapshot of a subvolume, and then move the parent subvolume underneath the snapshot of itself (which if transferring the parent before the snapshot in order to efficiently transfer the snapshot subvolume as a differential would then break because the parent directory of the source subvol

[2021-03-11 07:43] brauner opened #8546 "lxc stop should support --console"
While `lxc start` and `lxc restart` already support `--console` the `lxc stop` subcommand doesn't but often it is quite useful to see the shutdown sequence of an instance without having to pull it from the console log afterwards. I would expect
[code]
to first connect to the instance console and then initialize the actual shutdown so no messages get lost.

[2021-03-11 09:50] julian-klode opened #8549 "Post snap refresh, service is stopped, socket is owned by root:root"
# Required information

 * Distribution: Ubuntu
 * Distribution version: hirsute
 * The output of "lxc info" or if that fails: (truncated)
[code]

# Issue description

lxd socket always ends up being with wrong group if service is stopped, and then lxc obviously does not work unless I run it as root and that triggers socket activation which starts the service which then changes ownership.

[code]

[2021-03-11 09:52] julian-klode commented on #8549
Arguably the .socket unit is missing `SocketGroup=`:
[code]

[2021-03-11 10:22] julian-klode commented on #8549
Oh I guess it's the `activate` service changing ownership later on:

[2021-03-11 12:04] tomponline opened #8551 "Hang when exporting a custom storage volume in the default project when client in a non-default project"
I suspect this is due to the client ignoring events from the default project because it is the non-default project.

[code]

I'm not sure what the relationship should be between running `lxc monitor` inside a non-default project that doesn't have project-enabled storage. Should LXD generate events for both the requested project and the project that storage volume exists in, or should the client wa

[2021-03-11 12:49] stgraber commented on #8549
That service should not be disabled.
If this didn't get disabled due to manual action on your part, then it is a snapd bug which you should report to snapd upstream.

There's nothing we can really do on our side about this. The presence of the group and in fact the group name is optional and user configurable so we can't hardcode it in the unit.

If the activate unit gets disabled for some reason

[2021-03-11 12:49] #8549 closed

[2021-03-11 12:55] stgraber commented on #8551
In such cases the client connects to the monitor endpoint with project= passed which causes events to get filtered to only those related to that project.

That's a security mechanism too as when restricted to specific projects we don't want to send events for projects the user cannot access.

[2021-03-11 12:57] tomponline commented on #8551
Yes I thought that would be the issue, so it never receives the completed event. So I wondered if the request comes in from a non-default project, should we emit the events for that non-default project, even if the resource being operated upon belongs to the default project. Or perhaps emit events for both the resource's project and the monitored project?

[2021-03-11 12:57] stgraber commented on #8546
@brauner want to send a PR?
Should be trivial to do in lxc/action.go, just make sure not to allow it when --force is passed.

[2021-03-11 13:06] stgraber commented on #8551
Would make sense to send to the requestor's project I think,

[2021-03-11 13:08] tomponline commented on #8551
@stgraber My only concern with that is that if something else if watching for events on that resource, it would then miss them because they are emitted under a different project that the resource's. I suppose we would need to dynamically rewrite the event's project on a per-stream basis using the stream's requested project.

[2021-03-11 13:32] stgraber commented on #8551
If an operation is created through an API call in a project, I would expect update to that operation to send events to that project, not the default one.

If anything, sending those operation updates to the default project too may lead to confusion and maybe even ways to have a user restricted to a project attack a client connected to the default project by causing operation events to be sent to t

[2021-03-11 15:32] stgraber opened #8553 "Add `default.{in,e}gress.logging` and `default.{in,e}gress.action` for ACLs"
So we can setup different default actions and enable logging just for ingress or egress.

[2021-03-11 18:31] #8551 closed

[2021-03-11 22:29] Fl4v commented on #8546
@stgraber I am trying to improve my golang skills, I am happy to take this on.

[2021-03-11 22:40] stgraber commented on #8546
Sure, assigned it to you!

[2021-03-12 17:14] eelbrink opened #8556 "Importing Existing BTRFS Storage Pool [Block Storage] after Server Rebuild"
# Required information

 * Distribution: **Debian**
 * Distribution version: **10**
 * The output of "lxc info" or if that fails:
   * Kernel version: **4.19.0-14-amd64**
   * LXC version: **4.12**
   * LXD version: **4.12**
   * Storage backend in use: **BTRFS**

# Issue description

Hi, I did a rebuild of the server I was using to run LXD containers on. The LXD storage pool is a BTRFS pool from

[2021-03-12 17:47] stgraber commented on #8556
Please ask support questions at https://discuss.linuxcontainers.org

[2021-03-12 17:47] #8556 closed

[2021-03-13 05:28] my5t3ry commented on #7423
Hello,

first of all, i did not realize that adding the issue url in commit messages will spam this thread with my commit references. sry for that :/

i found the issue at https://discuss.linuxcontainers.org/t/easy-issues-for-new-contributors/7454.
i think i implemented what was requested. I never wrote something in golang before, so i'm pretty shure the code is crap. Maybe it's possible that some

[2021-03-13 15:02] toby63 commented on #7423
@my5t3ry Thx for the approach, but could you open a pull request for this?
Also please follow the [contributing guidelines](https://github.com/lxc/lxd/blob/master/doc/contributing.md).

[2021-03-13 15:19] toby63 opened #8559 "doc: Add a Table of Content to README"
The Readme.md is quite long, so I think a TOC could help users to find information easier and faster.

I can make it, but I would like to hear your oppinion first :slightly_smiling_face:.

@stgraber

[2021-03-13 15:31] olokos commented on #8506
Good job! I'm not that familiar with lxc/lxd so that's why I started the issue here.

[2021-03-13 16:30] stgraber commented on #8559
Certainly worth a try, probably don't want it right at the top but a bit further down and we'll want to make sure that the anchors work on both Github and the doc site.

[2021-03-13 17:14] toby63 commented on #8559
Ok.

A Problem there is, that the documentation site already has a TOC :thinking:.
OT: It's a bit buggy though, for example on the [instances page](https://linuxcontainers.org/lxd/docs/master/instances) some links don't work.

What do you think of adding a seperate page for the documentation instead?
I think it would be good to have a bit more description and introduction to the documentation in i

[2021-03-13 18:02] stgraber commented on #8559
I don't think having it show up both on the side and in-line will be a big problem for now.
Maybe we eventually want a different page but we already have a hard time keeping the README up to date, so I'm not super keen on adding more ;)

[2021-03-14 12:10] mosquito opened #8564 "BTRFS with LVM storage error when launch container"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04 (latest upgraded)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-67-generic
   * LXC version: 4.12
   * LXD version: 4.12
   * Storage backend in use: lvm

# Issue description

[code]

After starting container I have got an error `Error: Failed to query btrfs filesystem information for "/dev/ma

[2021-03-14 19:36] Fl4v commented on #8546
@stgraber Do you know if lxd plays nicely with WSL2? I have followed the docs and the build completed succesfully, however, when I invoke lxd, it just hangs, nothing happens.

[2021-03-14 19:38] stgraber commented on #8546
@Fl4v I believe it's possible to make it work, but you indeed need to start it manually as there is no systemd daemon running on WSL2.

Normally I'd expect you to run `lxd --debug` in one terminal, this should show some initialization messages and then hang once it's ready to process requests. In another terminal you should then be able to run `lxc list` and similar commands.

[2021-03-14 19:45] Fl4v commented on #8546
Thanks, I will give it a Go!

[2021-03-15 08:34] my5t3ry commented on #7237
Hello,

if you have no objections i would start working on this feature, but can predict if i'm able to implement it. :)

[2021-03-15 09:09] tomponline opened #8568 "Add support for per-instance ACL ordering for default rule action"
ACLs, and the rules within them, are by design not themselves ordered in relation to each other.

Instead the rules in an ACL are ordered based on the rule's action in the following order:

1. User defined Drop/Reject rules.
2. User defined Allow rules.
3. ACL Default action rule (allow/drop/reject).

However when an instance NIC (either implicitly through it's network's ACLs, or explicitly throug

[2021-03-15 09:17] mosquito commented on #8564
@tomponline could you please pay attention here?

[2021-03-15 10:18] maran opened #8569 "Issues growing ext4 partitions"
# Required information

 * Distribution: Ubuntu 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-66-generic
   * LXC version: driver_version: 4.0.6 | 5.2.0
   * LXD version: 4.12
   * Storage backend in use: ceph version 15.2.1

# Issue description

It appears that sometimes growing (RBD) ext4 filesystems does not work, correctly.

# Steps to reproduce

 1. Update LXC

[2021-03-15 11:03] tomponline commented on #8569
@maran so just to be clear, you're not getting any errors, its just that you don't think the filesystem is resized to the correct size?

Please could you also give an example of the output of parted and df when the resize does work, so we can see the difference?

[2021-03-15 12:15] maran commented on #8569
Sorry I was not super specific. There are no errors indeed. It just sometimes does not work.

There are two errors, I think the first one might be a LXD issue, the second one is probably more me not understanding how growing ext4 filesystems work exactly.

1. Sometimes the filesystem simply won't be grown, but the partition will be. This is I think related to not doing a filesystem check before th

[2021-03-15 12:23] tomponline commented on #8564
@mosquito your pool config seems to be mixing config keys from LVM and BTRFS pool, a scenario that is invalid and unsupported.

Here's an example of using an existing (empty) LVM volume as the backing store for a BTRFS pool:

[code]

[2021-03-15 12:25] tomponline commented on #8569
@maran please can you provide an example of what you run to resize the instance disk (without using manual rbd tools or fsck) and then showing the before and after output of commands you used to ascertain that the rbd device was resized but the filesystem was not. So a full reproducer that I can use to recreate the issue. Thanks

[2021-03-15 12:28] randombenj opened #8570 "User config inconsistency with snap packages"
# Required information

 * Distribution: ubuntu 18.04
 * The output of "lxc info" or if that fails:

[code]

# Issue description

The remote configs in the official snap package are stored in `~/snap/lxd/$VERSION/.config/lxc/config.yml`.
If `lxc remote add ...` is run, the config will be written to this file. We internally provide an 'lxdhub' where one can
push and pull images from. Now on every u

[2021-03-15 12:59] stgraber commented on #8570
Can you report this at https://forum.snapcraft.io?
This is a snapd bug, on snap refresh, it's supposed to copy the last revision data to the new revision and then change the symlink to point to the new one. If it's getting you an empty directory as this suggests, it's a bug in snapd.

Closing the issue here as it's outside of LXD's control. Though one thing I've been considering doing is moving th

[2021-03-15 12:59] #8570 closed

[2021-03-15 13:07] tomponline commented on #8564
Apparently we do support btrfs on lvm as a filesystem option, so will relook at this. My thinking was that when using BTRFS one should use a BTRFS storage pool directly.

[2021-03-15 13:08] tomponline commented on #8564
@mosquito please can you show the commands you used to create the pool so I can reproduce?

[2021-03-15 13:08] stgraber commented on #8564
This looks like a valid setup to me, the btrfs volume would only be mounted if the instance is running and you won't be able to see the mountpoint from outside the snap.

In such a setup, the only btrfs interaction that LXD should be having with it is handling filesystem resizes.

[2021-03-15 13:09] stgraber commented on #8564
@tomponline there's an entire storage pool config above. I suspect that starting from a clean VG and then creating a storage pool matching the one dumped above should do the trick.

[2021-03-15 13:10] tomponline commented on #8564
@stgraber So should we not support `limits.read` and `limits.write` in those scenarios?

[2021-03-15 13:15] stgraber commented on #8564
Ah, that explains why we're running that btrfs command.

We definitely need to have the instance volume be mounted by the time we process those kind of limits, otherwise the device that will be used for the cgroup limits will be completely wrong. This would lead to the wrong behavior not just on btrfs but for anything on lvm or ceph.

[2021-03-15 13:22] stgraber commented on #7237
Sure, assigned it to you!

[2021-03-15 13:53] maran commented on #8569
Took me a bit of time to translate our layers on top of LXD to CLI commands but it seems that with a fresh container using the CLI only I could **not** replicated the issue. Which seems to imply there is something with the way we use the API that might be triggering this. If I can figure out a way to successfully replicated this via CLI only I will update this post.

[2021-03-15 14:02] tomponline commented on #8564
I've tried reproducing this issue to no avail:

[code]

The only config item I couldn't recreate was `raw.lxc: |
    lxc.cgroup.blkio.bfq.weight = 50` as that produce a lower level liblxc start up error. But I suspect this isn't relevant to the issue, as the error should have occurred before liblxc was used.

[2021-03-15 14:06] tomponline commented on #8564
@mosquito does that set of commands above work for you?

[2021-03-15 14:23] tomponline commented on #8564
@stgraber would you expect this command to find the btrfs tool inside the snap?

[code]

[2021-03-15 14:26] stgraber commented on #8564
@tomponline no, you need `/snap/lxd/current/bin/btrfs` instead of `btrfs`.

[2021-03-15 14:28] tomponline commented on #8564
Ah OK so this works OK:

[code]

[2021-03-15 14:30] tomponline commented on #8569
@maran ah interesting, thanks for digging into it further. Let us know how you get on.

[2021-03-15 17:16] mosquito commented on #8564
Guys, this is the only 100% working configuration method that allows you to run docker inside an unprivileged container. At the same time, right now, despite the startup error, the running container works fine, docker starts up and runs nested containers.

Why would I need to run docker inside a container? To separate and limit the consumed resources like CPU, Disk I/O, and it works right now desp

[2021-03-15 17:20] tomponline commented on #8564
@mosquito yes they are handle the same now, that was my misunderstanding.

So are you saying that the container does start ok without error and its only erroring on restart. I'm a bit confused as to the exact reproducer steps at this point.

Do you get the error with my reproducer steps I posted earlier?

[2021-03-15 17:24] mosquito commented on #8564
@tomponline

[code]

[2021-03-15 17:25] mosquito commented on #8564
[code]

[2021-03-15 17:26] mosquito commented on #8564
@tomponline for similar pool with xfs filesystem it works well, but not btrfs.

[code]

[2021-03-15 17:27] tomponline commented on #8564
OK so now we know there is something different about your setup than mine as those steps worked fine for me inside a fresh LXD ubuntu focal VM.

[2021-03-15 17:31] tomponline commented on #8564
Is it possible to reboot the host to ensure the mounts inside the snap are clean (snap can sometimes get the mounts confused).

[2021-03-15 17:32] mosquito commented on #8564
@tomponline the lxd was configured from preseed yaml file like this:

`lxd init --preseed /var/snap/lxd/common/preseed.yaml`

<details>
  <summary>preseed.yaml</summary>
[code]
</details>

[2021-03-15 17:34] mosquito commented on #8564
@tomponline I performed the reboot several times, exactly more than five times yesterday.

[2021-03-15 17:34] tomponline commented on #8564
BTW, not directly related, but have you considered using overlay2 docker on ext4 on lvm, rather than btrfs?

[2021-03-15 17:45] tomponline commented on #8564
We've has reports (https://discuss.linuxcontainers.org/t/no-space-left-on-device-while-changing-the-btrfs-storage-pool-of-an-lxd-container-with-docker/10040/32?u=tomp) that overlay2 worked well on ext4 with lvm, not in privileged mode, so would be interested to know what didnt work for you specifically.

[2021-03-15 17:46] mosquito commented on #8564
@tomponline for enabling `bfq` scheduler you have to add udev rule for use it:
[code]

and add `bfq` module to `/etc/modules`:
`echo "bfq" >> /etc/modules`

after that load bfq module and reload udev rules

[code]

[2021-03-15 17:49] tomponline commented on #8564
@mosquito So you need to use privileged for the bfq scheduled? I'm still quite confused I'm afraid. :(

[2021-03-15 17:56] mosquito commented on #8564
@tomponline the main reason for me is the negligible overhead for `btrfs` in comparison with` overlayfs` and the presence of very fast compression for `btrfs`, in my experience this significantly speeds up the work of commands such as` docker pull` `docker run`.

Of course, in cases where I don't care too much about isolation, I used a shared pool with btrfs, but in this case the limits did not wo

[2021-03-15 17:56] mosquito commented on #8564
It's the host configuration, lxd didn't work with `limits.disk.priority` on latest kernels.

You wrote you want to reproduse my ennvironment, and the `lxc.cgroup.blkio.bfq.weight` configuration option breaks the containers launch.

I hope I was provide all what you need for fix it.

[2021-03-15 17:58] mosquito commented on #8564
The last thing I overlooked is the kernel startup parameters in the `/etc/default/grub` file.

[code]

[2021-03-15 17:59] tomponline commented on #8564
Oh I see now. OK, well I don't think the scheduler is relevant here as in your original posting the error isn't even getting into liblxc to start the container. I think we need to focus on the BTRFS error and why your filesystem mount appears to be being misdetected by the `btrfs filesystem show` command whereas its not in a fresh LXD VM.

Out of interest, can you try my steps from https://github.

[2021-03-15 18:07] mosquito commented on #8564
@tomponline [already done](https://github.com/lxc/lxd/issues/8564#issuecomment-799601497).

Let me repeat myself, but in my opinion the filesystem on top of LVM should not play any role, other than as @stgraber pointed out above, choosing a resizing utility. And, in my opinion, [here](https://github.com/lxc/lxd/blob/6125eca0fc3dc24da20575338f4d416aa55ce2ef/lxd/device/disk.go#L1733) you just need t

[2021-03-15 18:26] tomponline commented on #8564
@mosquito was that done in a VM or on your host (I read your post and it wasnt clear either way)? As I cannot reproduce the error, and am unfortunately not able to make changes unless I can reproduce the issue, as otherwise I wont know if its fixed it.

My understanding is that it is critical we use the `btrfs filesystem show` command in order to extract the filesystem's device major and minor num

[2021-03-15 18:26] tomponline commented on #8564
@stgraber any ideas here?

[2021-03-15 18:28] mosquito commented on #8564
@tomponline it's a baremetal host.

[2021-03-15 18:29] tomponline commented on #8564
@mosquito please can you try the suggestion in https://github.com/lxc/lxd/issues/8564#issuecomment-799627107 of trying it inside a LXD VM, so at least we can see if that works, then we can be sure its something particular to your host.

[2021-03-15 19:35] mosquito commented on #8564
@tomponline I was prepare virtualbox vm which reproduces it you can [download it from my dropbox](https://www.dropbox.com/s/i89v0lth2bjgp7r/ubuntu.tar.bz2?dl=1)

Login: ubuntu
Password: ubuntu

contains already created container created by: `lxc launch ubuntu:focal test -p network -p nano.docker`

[2021-03-15 19:36] tomponline commented on #8564
That's useful thanks will take a look

[2021-03-15 22:43] tomponline commented on #8564
@stgraber using the Vbox VM from @mosquito I've re-created the issue (although I still don't know why this happen inside the test LXD VM I used earlier - although my hunch is that the host's root fs being btrfs is something to do with it).

Although rather usefully this case has identified a different bug in LXD's container startup process introduced by https://github.com/lxc/lxd/commit/5084fb9f61

[2021-03-15 23:37] stgraber commented on #8564
That's pretty odd, what happens if you run `btrfs filesystem show /var/snap/lxd/common/lxd/storage-pools/lvm/containers/c1` instead? (so using the mountpoint rather than the device)

[2021-03-15 23:46] tomponline commented on #8564
The same thing I'm afraid.

[2021-03-15 23:47] stgraber commented on #8564
Hmm, that feels like a kernel or btrfs tools bug...

[2021-03-15 23:49] stgraber commented on #8564
@tomponline I guess what we can do is make it non-fatal and fallback to the device as identified through statvfs or mountinfo parsing (not sure what we do exactly in that logic, but basically same as ext4).

Multi-device btrfs which we're trying to handle here will never be on top of ceph/lvm, so assuming single device when the btrfs tool fails seems reasonable.

[2021-03-16 09:02] my5t3ry commented on #7237
ok great, it wil take a couple of days till i find time for it because of wage labour tickets :)

[2021-03-16 12:32] my5t3ry commented on #7423
@toby63 i created a pull request ->
https://github.com/lxc/lxd/pull/8562

i tried to fix all commits according the contribution guidelines. i'm not expecting to get it merged, but would be happy to get feedback how to work it into the right direction.

thx :)

[2021-03-16 12:39] my5t3ry commented on #7423
@toby63 i created a pull request ->
https://github.com/lxc/lxd/pull/8562

i tried to fix all commits according the contribution guidelines. i'm not expecting to get it merged, but would be happy to get feedback how to work it into the right direction.

thx :)

[2021-03-16 12:53] #8564 closed

[2021-03-16 15:40] xsoalokinx opened #8577 "Error: Failed to retrieve PID of executing child process."
# Required information

 * Distribution: Gentoo/Linux
   * Kernel version: 5.4.97
   * LXC version: 4.0.6
   * LXD version: 4.11
   * Storage backend in use: zfs

# Issue description

After starting a container, and waiting some period of time, lxc exec stops working and produces the error "Failed to retrieve PID of executing child process."
stopping/restarting the container gets rid of the error

[2021-03-16 18:13] stgraber commented on #8577
@brauner ideas?

[2021-03-16 18:51] brauner commented on #8577
Is this with all our backports?

[2021-03-16 18:52] brauner commented on #8577
And can I please get logs from a failing  container with the daemon switched into verbose and debug?

snap set lxd daemon.debug=true
snap set lxd daemon.verbose=true

:)

[2021-03-16 19:46] toby63 commented on #7423
@my5t3ry Thx for your effort, it is up to the LXD team to review and potentially merge it, just wait some time, I am sure someone will comment.
I will take a look at it too; I am no programmer though :wink:.

[2021-03-16 20:28] stgraber commented on #8577
@brauner it's Gentoo is unlikely to be snap.

@xsoalokinx can you run `lxc monitor --type=logging --pretty` in one terminal while reproducing the `lxc exec` failure in another?
Then give us both that monitor output and the `lxc info --show-log NAME` for that container.

[2021-03-16 21:09] brauner commented on #8577
Ah, didn't see that it was gentoo on my phone.

[2021-03-16 22:24] komish commented on #7946
Just a quick update that I'm making progress. I've got the instance counts done and the API responding (via curl), and am searching and piecing together functions that give me current aggregate values and the remaining states to include in the response. Haven't forgotten this issue, just slowly making progress :+1: . Trying to get it submitted before your release goal!

[2021-03-16 22:53] stgraber commented on #7946
Cool!
As mentioned above, there is logic to compute all the totals in `lxd/project/` as that's already used for enforcement, so will likely just need a bit of refactoring in some spots and then re-using for this API endpoint.

[2021-03-17 03:42] fling- commented on #8577
@stgraber  This happens on gentoo when you use `lxc` command while running portage with `cgroup` feature enabled.
It is easily reproducible:
1. First run emerge command:
`FEATURES="cgroup" emerge -1BOq gcc`
2. Then use `lxc` command while emerge is still running:
`lxc exec test bash`
3. Done, now you get `Error: Failed to retrieve PID of executing child process.` in every container until you resta

[2021-03-17 07:28] randombenj commented on #8570
Thanks for your help as always!
Reported here: https://forum.snapcraft.io/t/user-config-inconsistency-with-snap-packages/23382

[2021-03-17 08:25] brauner commented on #8577
See https://github.com/lxc/lxc/pull/3708
I'll backport this to stabl-4.0. We should probably consider making a release soon-ish.

[2021-03-17 11:28] randombenj commented on #8570
For anyone having the same issue, $HOME different than `/home/$USER` (in my case `/home/users/$USER`) is not supported.

[2021-03-17 12:41] stgraber commented on #8570
Oh, that's rather annoying... We'll definitely be looking at moving things to common as even with normal /home we've seen a few cases where this isn't handled properly...

[2021-03-17 12:42] stgraber commented on #8577
Closing as the issue was in LXC and a fix has been merged now.

[2021-03-17 12:42] #8577 closed

[2021-03-17 21:43] #8559 closed

[2021-03-18 10:57] kautMaks commented on #8427
@tomponline @stgraber
Hi!
It's sad, but upgrade to 4.12 didn't fix the problem.
It still appears.

[2021-03-18 11:01] tomponline commented on #8427
This sounds like a kernel bug, although I've not been able to recreate it.

[2021-03-18 11:02] tomponline commented on #8427
@kautMaks have you considered using `routed` NIC type, it offers very similar properties to ipvlan but using standard veth pairs.

https://linuxcontainers.org/lxd/docs/master/instances#nic-routed

[2021-03-18 12:35] randombenj commented on #8570
That would be nice!

[2021-03-18 20:18] presztak commented on #7322
@stgraber Can I work on this one?

[2021-03-18 22:07] Fl4v commented on #8546
Hi @stgraber, I do have another question. Let's say I have made some changes and want to test them, would I just need to run `make deps`?

[2021-03-18 22:14] tomponline commented on #8546
Just `make` is sufficient if you already have a full build (including the `make deps` step).

[2021-03-19 03:11] stgraber commented on #7322
Of course, assigned!

[2021-03-19 04:51] #8553 closed

[2021-03-19 04:51] #8568 closed

[2021-03-19 20:59] vrubiolo opened #8586 "Version parser is confused by release suffixes (rc2, beta1, ...)"
# Required information

 * Distribution: Fedora
 * Distribution version: 33
 * The output of "lxc info" or if that fails
[code]

# Issue description

My containers on my Fedora33 host have started to fail getting IP addresses whereas it used to work before. Upon investigation, I have found the following in the lxd log:
[code]

That rc-based version string matches the dnsmasq installed on my system

[2021-03-19 22:03] reterik commented on #6223
Any estimate on when nftables support will be implemented?

[2021-03-19 22:04] stgraber commented on #6223
It has been for months :)

[2021-03-19 22:26] reterik opened #8587 "HiveOS LXD Init"
* Distribution: HiveOS
 * Distribution version: 5.4.80-hiveos
 * The output of "lxc info" or if that fails:

kernel_version: 5.4.80-hiveos
driver_version: 4.0.6 | 5.2.0
storage backend in use: btrfs

# Issue description

I am trying to initialize an LXC container and getting the following error:

Error: Failed to create network “lxdbr0” in project “default”: Failed adding DHCP/DNS access rules for

[2021-03-19 22:35] stgraber commented on #8587
Sounds like your Linux distro has partial or broken nft support in its kernel. You can file an issue against your distro to have its kernel maintainers add the missing bits.

You can also do something like `iptables -A OUTPUT -j ACCEPT` to populate something in xtables which will then make LXD use that rather than nft on next restart of the LXD daemon (you'll need to make sure that something is pu

[2021-03-19 22:35] #8587 closed

[2021-03-20 18:23] Fl4v commented on #8546
Ok, so I have made the appropriate changes to allow `--console` to be passed to the stop action, I have also made sure not to allow it if `--force` was present. However, this is all I get:

[code]

I believe that the instance is shut down before the console can actually read the stop sequence. If you can point me in the right direction, that would be great.

[2021-03-20 18:55] stgraber commented on #8546
Can you send a PR with your code? It would make it easier to see what's going on.
I suspect the issue is that you're calling the console logic after the stop action was sent (and possibly completed).

Instead for stop, it'd make sense to start the console prior to actually processing the action.

[2021-03-20 18:58] Fl4v commented on #8546
Hi @stgraber, I have submitted the PR: https://github.com/lxc/lxd/pull/8588

[2021-03-20 19:02] stgraber commented on #8546
Right, as I suspected the issue is that the call to spawn the console is happening too late in the stop case.

So you need to start the console before the `UpdateInstanceState` call when the action is stop.
And you need to modify the call to the console later in that function to exclude stop.

That way the console should get attached just prior to the shutdown command being sent out to the instanc

[2021-03-20 19:05] Fl4v commented on #8546
Ok, I think that makes sense, thank you.

[2021-03-20 21:36] lukas2511 commented on #7477
Has there been any update on this?

[2021-03-20 22:29] stgraber commented on #7477
Nope, looking for someone to pick it up and implement it :)

[2021-03-21 15:24] brauner opened #8589 "nil-deref during auto image update"
[code]

[2021-03-21 15:24] brauner commented on #8589
[code]

[2021-03-21 17:08] stgraber commented on #8589
@monstermunchkin any idea why `info` would be nil there?
Maybe we need to do something extra to catch the fact that there is no DB match?

[2021-03-21 18:42] Fl4v commented on #8546
Hi @stgraber I have made good progress and I will soon be ready to update my PR. Before I do so, I noticed that this is displayed: `To detach from the console, press: <ctrl>+a q`, which makes sense to present when you are starting or restarting your instance, however, I think it's superfluous when you are stopping the instance. Do you agree? Do you want me to amend the Console function so it can a

[2021-03-21 22:33] #8589 closed

[2021-03-21 22:53] stgraber commented on #8546
It's still relevant as `lxc stop` just asks the instance to shutdown, if the init system in the instance does not actually shut it down, you will need to detach from the console and run `lxc stop --force` or go fix things with `lxc exec`.

[2021-03-22 07:08] monstermunchkin commented on #8586
You're running an old LXD version. The issue was fixed in LXD 4.7: https://github.com/lxc/lxd/commit/1fddf116b6e4222b69c7d834e59c26d7b88d7763

[2021-03-22 07:08] #8586 closed

[2021-03-22 07:50] vrubiolo commented on #8586
Thanks @monstermunchkin for the quick update, I will see to update to 4.x then.

[2021-03-22 08:14] vrubiolo commented on #8586
I confirm the issue is fixed after upgrading to 4.1.

For the record, here is my system info:
[code]

[2021-03-22 09:24] Fl4v commented on #8546
Makes sense. I have pushed my recent changes: https://github.com/lxc/lxd/pull/8588, I had to attach the console after `UpdateInstanceState` otherwise the instance would have never been shutdown.

[2021-03-22 12:42] utkarsh2102 commented on #1797
FWIW, https://github.com/endaaman/lxd-completion-zsh by @endaaman is a superb one for zsh.

[2021-03-22 22:12] presztak commented on #7322
@stgraber , as usual couple of questions to you:

1. Is it ok to keep global config in `/var/lib/lxd/config` (as default, of course respecting [`shared.varPath`](https://github.com/lxc/lxd/blob/e504a0c18a1eaec9d322a486ffdbeedb98357e04/shared/util.go#L207))?
2. Should we introduce new `Global` field for [`Remote`](https://github.com/lxc/lxd/blob/afff9e5620d6adb6a735f8da7d346102274619e7/lxc/config/r

[2021-03-22 23:31] stgraber commented on #7322
I think I'd want to avoid `/var/lib/lxd` as that's really the server data.
Instead, it'd be more appropriate to use `/etc/lxd` for this I believe.

[2021-03-22 23:34] stgraber commented on #7322
Introducing a `Global` bool to `Remote` similar to `Static` would probably make sense, if only to be able to show where a remote came from and to avoid saving it in the local config.

[2021-03-22 23:36] stgraber commented on #7322
Any change to a global remote should cause it to get duplicated into the local config, so if `set-url` is used, you get a copy under the same name, if `rename` is used, you get a local copy under the new provided name.

[2021-03-23 05:07] Kumar6295 opened #8595 "Unable to add second node in lxd cluster"
Hi,
Created lxd master and working fine,Try to create slave in another machine.
**commands**
sudo zpool create  disk2_pool /dev/sdb
sudo zfs create disk2_pool/clusterData
While adding second node cluster,getting error..

lxd init

Would you like to use LXD clustering? (yes/no) [default=no]: yes
What name should be used to identify this node in the cluster? [default=ps]:
What IP address or DNS name

[2021-03-23 07:01] monstermunchkin commented on #8595
You are using `disk2_pool/clusterData` as the source, and `disk2_pool` for `zfs.pool_name`. You need to use `disk2_pool` for both.

[code]

[2021-03-23 07:19] Kumar6295 commented on #8595
Thank you so much,Now it is working

[2021-03-23 07:20] #8595 closed

[2021-03-23 07:25] Kumar6295 opened #8596 "How to stop tmpfs consumption in container (LXD)"
Hi,
Created multiple container, every container tmpfs is taking 79 GB and 16 GB etc..
Can we able stop/restrict consumption..
If we done it, is have any effects of containers??

Filesystem                    Size  Used Avail Use% Mounted on
disk/containers/test  2.9T  6.6G  2.9T   1% /
none                          492K  4.0K  488K   1% /dev
udev                           79G     0   79G   0% /dev

[2021-03-23 07:35] monstermunchkin commented on #8596
I believe you're reading the output incorrectly. ` tmpfs 79G 0 79G 0% /dev/shm` means that 79G are still available, and ` tmpfs 16G 200K 16G 1% /run` means that 200K have been taken.

[2021-03-23 07:40] monstermunchkin commented on #8596
Yes, that's possible. [Here](https://lxd.readthedocs.io/en/latest/instances/) you can see how to configure an instance. If you wanted to limit memory usage to 500MB, you could for example call `lxc config set <instance-name> limits.memory 500MB`.

[2021-03-23 09:57] tomponline commented on #8327
FWIW doing:

[code]

can reliably reproduce this issue after less than 1 minute.

[2021-03-23 12:09] brauner commented on #8327
Ah, interesting. Let me trye.

[2021-03-23 12:13] tomponline commented on #8327
@brauner the go version im use (if it matters) is from Focal `go1.13.8 linux/amd64`, I've easily recreated it even if the containers are both stopped.

[2021-03-23 12:14] brauner commented on #8327
Hm, I can't reproduce here (classic). I'm on `go version go1.14.7 linux/amd64`. This is with `liblxc` master?

[2021-03-23 12:15] tomponline commented on #8327
@brauner also worth adding is that I think its a concurrency issue, because if I hardcode `threads := 1` here https://github.com/lxc/lxd/blob/b1605c0ac61f36a49db10d4d2fd8bb9d48a468bb/lxd/instances_get.go#L240 and remove the extra thread number logic then it doesn't occur.

[2021-03-23 12:17] tomponline commented on #8327
@brauner I was using https://github.com/lxc/lxc/commit/1d358fe9c0c701bfd221f25d2a0fb502f08ff114 from yesterday, I'll update now.

[2021-03-23 12:17] brauner commented on #8327
Managed to reproduce it now.

[2021-03-23 12:17] tomponline commented on #8327
@brauner excellent! :)

[2021-03-23 12:17] brauner commented on #8327
I'll try bumping concurrency to see whether that changes anything.

[2021-03-23 12:46] stgraber commented on #8596
Indeed tmpfs consumption is governed by the general instance memory limit. The default tmpfs size will still defaut to 50% of the total system RAM or whatever the kernel picks, but the consumption will be limited by the instance memory limit.

It'd certainly be nicer if the kernel would consider the cgroup limit of the mounter process and do 50% of that, but interactions between cgroups and unrela

[2021-03-23 12:46] #8596 closed

[2021-03-23 13:18] brauner commented on #8327
This looks like `c.container` going `NULL` behind `go-lxc`'s back. I wonder if this is somehow caused by the finalizer we use.

[2021-03-23 14:14] tomponline commented on #8327
@brauner yes it may be, I also tried added a mutex in `getLxcState` and it still happened, so while concurrency feels like part of the problem, its doesn't seem to be explicitly tied to concurrent calls to `getLxcState`.

[2021-03-23 14:47] brauner commented on #8327
So looking at all of this `initLXC` logic in there. How does that refcounting work, i.e. what's to happen if I have 2 go routines:

[code]

[2021-03-23 14:47] brauner commented on #8327
@stgraber ^^

[2021-03-23 14:58] stgraber commented on #8327
In general we always instantiate a new LXC driver, we never keep references to it in memory and so never share it between go routines.

[2021-03-23 15:03] brauner commented on #8327
How does this work with
[code]

[2021-03-23 15:06] stgraber commented on #8327
Some functions in the struct cause the LXC config to get populated, some don't.
If you already called a function that populated it, we don't want to do it again.

[2021-03-23 15:08] brauner commented on #8327
Sure, I know that logic but what guarantees that we're not sharing state between different go routines in this case?

[2021-03-23 16:55] brauner commented on #8327
@tomponline can you reproduce this with earlier versions of LXD? 4.0.0, 3.0.0?

[2021-03-23 17:01] stgraber commented on #8327
@brauner because as I said, we don't keep those structs globally, so even if you have two actions against the same instance happening in parallel, they're each getting their own instance of the struct.

[2021-03-23 17:03] tomponline commented on #8327
I'll try it, I've not tried it previously.

[2021-03-23 20:11] #8546 closed

[2021-03-24 05:11] Kumar6295 commented on #8596
79 Gb is not consumed but in every container it is showing 79 GB that means every container taking 79 GB memory right? How to stop it ?

[2021-03-24 05:15] Kumar6295 commented on #8596
Container data will store in disk/containers/test  ..Then why we need tmpfs??

[2021-03-24 05:19] Kumar6295 opened #8599 "After reboot server,Lxc is not working"
hi,
After reboot server master node of lxc ,Lxc is not working. it is showing below error

**Error: Get "http://unix.socket/1.0": dial unix /var/snap/lxd/common/lxd/unix.socket: connect: connection refused**
while executing zfs  list command , it is giving result.

none of the lxc commands are not working,Every command giving above error only.

ps002,ps003(slave nodes) giving below details
 lxc cl

[2021-03-24 06:03] Kumar6295 commented on #8599
Systemctl services was failed to restart but it is failling.

 sudo systemctl status  snap.lxd.daemon
● snap.lxd.daemon.service - Service for snap application lxd.daemon
     Loaded: loaded (/etc/systemd/system/snap.lxd.daemon.service; static; vendor preset: enabled)
     Active: failed (Result: exit-code) since Wed 2021-03-24 11:20:44 IST; 11min ago
TriggeredBy: ● snap.lxd.daemon.unix.socket

[2021-03-24 06:58] monstermunchkin commented on #8596
That's incorrect. Containers will take as much memory as they want/need from your system's available memory. Unlike VMs, containers share the resources.

Example:

Your system has 16 GB, and is using 6 GB for itself (Browser, etc.). That leaves you with 10 GB.
If you're running 2 containers, each of them will still see 16 GB, but they will only be able to use 10 GB at this time.

That was already

[2021-03-24 07:04] monstermunchkin commented on #8599
Could you run `snap set lxd daemon.debug=true`, and provide us with the logs from `snap logs lxd`? That will likely display the error.

[2021-03-24 07:06] Kumar6295 commented on #8599
ok , i wil do it

[2021-03-24 07:14] Kumar6295 commented on #8599
after executing debug lxd command, it is working,Thank you

[2021-03-24 07:14] #8599 closed

[2021-03-24 07:19] monstermunchkin commented on #8599
That's great. The `daemon.debug=true` setting was only to get more information in the logs. You can safely turn it off again using `snap unset lxd daemon.debug`.

[2021-03-24 07:53] Kumar6295 opened #8600 "How to Adjusting root size while creating container"
using below commands we are able create containers and after creating container we are able override root storage but while launching new container how to give/override root size for the container

sudo lxc launch ubuntu:20.04 test
sudo lxc config device override test root size=20GB
->sudo lxc exec test bash
root@test:~# df -h
Filesystem                       Size  Used Avail Use% Mounted on
disk/

[2021-03-24 08:02] monstermunchkin commented on #8600
What do you mean by root size? If you are trying to change the output of `df -h` to not show `63G` for tmpfs, it won't work for containers because they share the system's resources.

Perhaps VMs are better suited for what you are trying to achieve.

[2021-03-24 08:03] creatica-soft opened #8601 "Building from release does not work in Ubuntu 20.04"
# Required information

 * Distribution: github release tarball
 * Distribution version: 4.12

# Issue description

make fails with "go install: no install location for directory..."

# Steps to reproduce

1. Download lxd-4.12.tar.gz
2. Unpack
3. Follow building from release instrucitons in README.md. Everything works up to make.
...
make
go get -t -v -d ./...
CC=cc go install -v -tags "libsqlite3

[2021-03-24 08:11] monstermunchkin commented on #8601
Try setting the environment variable to `export GO111MODULE=off`, then run `make` again. LXD doesn't support go modules which is why you are seeing this error.

[2021-03-24 08:12] Kumar6295 commented on #8600
Actually we are using zfs pool to one of hard disk (3.0 TB)..
We are creating container using launch command.

in every container it is showing 2.9T.

root@Test-Storage:~# df -h
Filesystem                          Size  Used Avail Use% Mounted on
**disk/containers/Test-Storage  2.9T   29G  2.9T   1% /**
none                                492K  4.0K  488K   1% /dev
udev

[2021-03-24 08:29] monstermunchkin commented on #8600
You cannot assign the storage size for each container individually using `lxc launch`. You have to do the following for each containers:

[code]

[2021-03-24 08:39] Kumar6295 commented on #8600
Thank you..

[2021-03-24 08:39] #8600 closed

[2021-03-24 09:05] tomponline commented on #8600
@Kumar6295 for non-bug issues please can you post over at https://discuss.linuxcontainers.org/ thanks :)

[2021-03-24 12:34] stgraber commented on #8601
@monstermunchkin can you send a PR updating our Makefile and closing this issue?

[2021-03-24 13:16] Kumar6295 opened #8602 "unable attach storage volume to container"
i am able to attach Storage volume to container.
**commands**
sudo lxc launch ubuntu:20.04 etcd-2

sudo lxc storage volume create local  etcd-storage-1 size=200GB

sudo lxc storage volume attach local etcd-storage-1 etcd-2 etcd-1 /dev/etcd

**ERROR:**

**Error: Failed to add device "etcd-1": Failed loading custom volume: No such object**

[2021-03-24 13:21] tomponline commented on #8602
Hi @Kumar6295 please could you post this over at https://discuss.linuxcontainers.org/

[2021-03-24 13:21] #8602 closed

[2021-03-24 13:31] Kumar6295 commented on #8602
Ok,Thank you

[2021-03-24 14:54] brauner commented on #8327
This is a might weird bug.

[2021-03-24 15:01] #8601 closed

[2021-03-24 22:23] presztak commented on #7322
@stgraber should we have any possibility to add, remove system remotes from cli (`lxc`)? Or this will be allowed only manually?

[2021-03-24 22:29] stgraber commented on #7322
Just manually for now is fine.

[2021-03-25 00:28] sqllyw commented on #7237
I'll assume the snapshot taking is for the container itself, but sometimes a zfs dataset in the host was attached:

sudo lxc config device add centos6-i386 dataset disk source=/mypool/database/data path=/data

will this be included?

or is there a possibility to run a user defined script at that point? thanks

[2021-03-25 01:18] stgraber commented on #7237
Yeah, that would only affect the instance itself, though the same logic could be extended to custom storage volumes managed by LXD.

Completely external disks as you describe will not get snapshotted. We have some plans to introduce some kind of webhooks down the line which you could use to trigger such extra steps. In the meantime, you could write a small daemon that reacts to lifecycle events se

[2021-03-25 02:38] sqllyw commented on #7237
lifecycle event should be enough, any documentation on this? thanks

[2021-03-25 03:12] stgraber commented on #7237
You can see them by doing `lxc monitor --type=lifecycle`.
They get sent over `/1.0/events?type=lifecycle` which is a websocket endpoint that you can listen on.

If using Go to connect to it, you'd use `c.GetEvents()` to get an EventListener on which you'd then call `AddHandler([]string{"lifecycle"}, func)` with `func` being a function you wrote that will then get called every time a lifecycle even

[2021-03-25 20:50] ltrager opened #8606 "Unable to create VM on IBM Z DPM Partition"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-70-generic
   * LXC version: 4.0.6 | 5.2.0
   * LXD version:4.12
   * Storage backend in use: dir

# Issue description

I am unable to launch a VM on an IBM Z DPM Partition.

# Steps to reproduce

[code]

[2021-03-25 21:21] stgraber commented on #8606
Our development LPAR appears to be broken or deleted, I requested a new one so hopefully I can reproduce the issue tomorrow.

It's a bit odd though as I definitely tested on s390x after we added 9p support, maybe a regression caused by the QEMU version we're using in the snap. Anyway, shouldn't be too hard to sort out once I have access to an LPAR again.

[2021-03-26 10:16] tim-seoss opened #8608 "Error writing to /dev/null in unprivelidged containers with character device passed through"
# Required information

 * Distribution: Debian
 * Distribution version: Bullseye (testing, fully updated)
 * The output of "lxc info":
[code]
# Issue description

Writing to `/dev/null` fails in unprivileged container with character device passed through.
Adding the character device to the container works fine at runtime, but after a container reboot, /dev/null is not writeable within the contain

[2021-03-26 12:23] stgraber commented on #8608
@brauner can you look into this one? It could be an issue with our ebpf handing in liblxc?

[2021-03-26 12:43] brauner commented on #8608
Yes, will do. This will take a short while though.

[2021-03-26 12:48] tim-seoss commented on #8608
n.b. Originally this wasn't 100% reproducible for me, but I'm currently having 100% reproduction rate on the issue, so there may be some race here?

[2021-03-26 14:13] brauner commented on #8608
@tim-seoss can you switch `lxd` into debug mode via:
[code]
and then give me the container's full log, please?

[2021-03-26 14:21] brauner commented on #8608
Also, @tim-seoss if you're up for it if you would try to reproduce this with the `edge` snap for `LXD` that would be excellent and much appreciated.

[2021-03-26 14:26] stgraber commented on #8608
@brauner note that you don't need to set those keys unless you want it persistent in log file.
For a one time thing, just run `lxc monitor --type=logging --pretty` and it will show you debug messages even if the daemon wasn't started in debug mode.

[2021-03-26 14:28] brauner commented on #8608
Hm, I always forget that. :)

[2021-03-26 16:38] tim-seoss commented on #8608
After having upgraded to edge (19896) the behaviour is the same.
Non working config (with char device pass-through)...
During container start:
[code]
During container enter (`lxc exec audio bash`):
[code]
Working config (after char device pass-through deleted from container config with `lxc config device remove audio sndcontrolC0`):
[code]
During `lxc exec audio bash`:
[code]

[2021-03-26 17:35] stgraber commented on #8606
Managed to reproduce this on my LPAR

[2021-03-26 19:08] stgraber commented on #8606
Really looks like the 9p-ccw driver is just plain missing in current qemu, not sure what's up with that...

[2021-03-26 19:18] stgraber commented on #8606
Found one small fix we need to make to LXD to fix CCW networking which regressed when we added multi-queue support to our network config, that's a trivial fix which will be merged shortly.

On the 9p front, it looks like it was a regression in qemu 5.2.0. I found a recent commit which claims to fix it, so giving that a shot in a local snap build, if that works, we'll include the fix in our snaps.

[2021-03-26 19:58] stgraber commented on #8606
Fix merged in LXD for the network side of things, we'll cherry-pick into the other snaps shortly.
The snap packaging for 4.0 and latest has also been updated to include the 9p fix.

[2021-03-26 19:58] #8606 closed

[2021-03-28 18:41] gbonazzoli opened #8611 "lxd 4.12 Container Disk Usage Information Not Present On btrfs (in ZFS is OK)"
# Required information

 * Distribution: (Oracle Linux 8 & Ubuntu 20.04)
 * Distribution version: 4.12 snap
 * The output of "lxc info" or if that fails:
  os_name: Oracle Linux Server
  kernel_version: 5.4.17-2036.101.2.el8uek.x86_64
  os_version: "8.3"
  project: default
  server: lxd
  server_clustered: false
  server_name: ora02.ps.it
  server_pid: 187575
  server_version: "4.12"
  storage: bt

[2021-03-28 18:45] stgraber commented on #8611
Did you set a disk limit on your instance?

For ZFS the kernel always tracks disk usage, for btrfs this is only true if a quota has been set.

[2021-03-28 18:57] gbonazzoli commented on #8611
No I didn't set any limit on btrfs.

btrfs is much more immature and unstable than ZFS. So I tend to use it
without activating any features on it.
I have to use a machine with Oracle Linux on which ZFS is not a first
citizen....

Any way. It is one missed thing among a lot of others. :-(

On Sun, Mar 28, 2021 at 8:45 PM Stéphane Graber ***@***.***>
wrote:

[2021-03-28 19:06] stgraber commented on #8611
Yeah, to be fair, event when limits are set, the disk usage reporting isn't 100% accurate as users can pretty easily bypass their qgroup and so get unaccounted and unlimited disk usage...

Closing as AFAICT, there's no real LXD issue here, we're reporting whatever we can from the backend.

[2021-03-28 19:06] #8611 closed

[2021-03-28 19:59] cemzafer opened #8612 "Error: websocket: close 1006 (abnormal closure): unexpected EOF"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 5.8.0-44-generic
   * LXC version:
   * LXD version: 4.12
   * Storage backend in use: btrfs and zfs

# Issue description
I have two projects which are default and test, In default project profile, i use zfs, but i use btrfs in project default pro

[2021-03-28 20:14] stgraber commented on #8612
Your log is consistent with LXD having restarted.
Can you show `journalctl -u snap.lxd.daemon -n 300`?

[2021-03-28 20:16] stgraber commented on #8612
We need to figure out whether LXD restarted due to a crash or simply restarted because it got update in the background.
When it auto-updates, it waits up to 5min for background operations like `lxc exec` to be done, then it moves ahead with the update anyway causing an error like the one you're reporting.

That said, we didn't push anything to the stable channel in a while so a refresh is unlikely

[2021-03-28 20:51] cemzafer commented on #8612
[code]

[2021-03-28 21:12] cemzafer commented on #8612
Here is the output of the snap upgrade time, it may help for the error.

[code]

[2021-03-28 23:13] stgraber commented on #8612
Can you post with `-n 500`? I wasn't expecting you to already have daemon debug enabled so it's a bit more verbose and looks like we're barely missing what triggered the last LXD restart.

[2021-03-29 04:47] cemzafer commented on #8612
[code]

[2021-03-29 12:13] #8327 closed

[2021-03-29 14:11] stgraber commented on #8612
Looks like your system is verbose enough that you logged enough since I requested it to have the last startup still not be included ;)

Can you post `journalctl -u snap.lxd.daemon -b0` you may need to attach it as a file though as that may be quite long ;)

[2021-03-29 14:54] johanehnberg opened #8614 "Allow setting SNAT address per container"
This is a feature request to allow setting source IP address on a per-container basis rather than for a whole network.

The whole network setting was implemented in https://github.com/lxc/lxd/issues/5648

Allowing per-container SNAT rules avoids using macvlan, one bridge per IP, a separate public bridge or manual firewall scripts to achieve the same. This is preferable since all of them have drawb

[2021-03-29 16:37] cemzafer commented on #8612
Sorry for the late response, here is the log you are looking for. :+1:

[lxd.log.gz](https://github.com/lxc/lxd/files/6223174/lxd.log.gz)

[2021-03-29 16:53] tomponline commented on #8614
Hi @johanehnberg, have you considered using `routed` NIC type, this would allow you to have the instance NIC be bound with the actual static external IP address you want (which would then be 'published' to the external network via proxy ARP/proxy NDP), without needing to have any additional bridges setup. And unlike macvlan, would still allow your instances to communicate with the host, meaning it

[2021-03-29 17:10] stgraber commented on #8614
Alternatively a regular bridge combined with specific containers getting an external address through `ipv4.routes` could work too, but you'll need the addresses or subnets to be routed to the host first.

[2021-03-29 17:39] johanehnberg commented on #8614
I cannot speak for all use cases in previous discussions, but for us there does not seem to be any alternatives with all the options above. The key aspects are:

- Uniformly addressing containers regardless of whether they serve networks outside the host
- Making containers agnostic to the particular network they are in at any given time
- For IPv4, not burning through public IP's just to get a si

[2021-03-29 17:45] tomponline commented on #8614
Snat would not allow you to address containers, that would require a combination of snat and an associated dnat. Is that what you meant originally?

[2021-03-29 17:47] tomponline commented on #8614
Routed nic achieves your first two requirements but does require a whole IP, though it doesn't need to be public.

[2021-03-29 18:31] stgraber commented on #8612
Okay, so it was a regular update.

If you look back at `Mar 28 22:01` and the few minutes later, you'll notice:
[code]

This indicates the refresh happened at 22:01:29, LXD then shows two ongoing operations that it will wait for.
5min later it gave up on waiting and exited, LXD then restarted and has been running ever since.

You're running rev 19941 which is only available in `latest/edge`. Runni

[2021-03-29 18:31] #8612 closed

[2021-03-29 18:48] cemzafer commented on #8612
Sorry for the late response, here is the log you are looking for. :+1:
[lxd.log.gz](https://github.com/lxc/lxd/files/6223853/lxd.log.gz)

[2021-03-29 18:53] johanehnberg commented on #8614
OK, here is a bit more about our scenario.

With addressing I mean all containers on a host exist in the same network and do not require routing between themselves. Having two interfaces would get around this but seriously complicates routing in the container. We used to have a global L2 bridge (cross-provider live migration was pretty cool!). In that scenario it had been doable since the internal

[2021-03-29 20:37] stgraber commented on #8614
So should we go with this idea, the obvious restrictions would be:
 - A container will need a fixed `ipv4.address` in order to use `ipv4.nat.address`
 - Container to container communication will not be using the SNAT address, it will only be used for traffic leaving the bridge
 - The parent network will need to have `ipv4.nat` set to `true`
 - The container nic will have to be of the new `network=

[2021-03-29 22:05] presztak commented on #7871
@stgraber Can I work on this?

[2021-03-29 22:07] stgraber commented on #7871
Yep!

[2021-03-30 15:21] kautMaks opened #8619 "lxd import overrides container's disk device"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-70-generic
   * LXC version: 4.0.6
   * LXD version: 4.12
   * Storage backend in use: dir

# Issue description

lxd import overrides container's disk device.
I set root disk device in profile:
[code]

When I run `lxd import {ct}`, similar device (but without "size" field)

[2021-03-30 17:02] stgraber commented on #8619
@tomponline can you take a look into that one?

[2021-03-30 17:55] tomponline commented on #8619
@stgraber yep will do. I presume it should take the device config from the backup.yaml file?

[2021-03-30 18:31] stgraber commented on #8619
@tomponline yeah, I suspect we may want to do something like:
 - Check if a local root disk was present, if so, we definitely need to keep whatever was in there (possibly override pool property)
 - If no root device, then resolve the profiles for the instance, if that leads to a root device on the right pool, then we're good, no need to override
 - If the profiles do not lead to the right pool, th

[2021-03-30 22:01] cemzafer commented on #8612
Thanks for the investigation, sorry for inconvenience.

[2021-03-30 22:06] stgraber commented on #8612
No worries, better safe than sorry ;)

[2021-03-31 02:48] qian-fei opened #8622 "This operation can't be cancelled"
op, err := c.ExecContainer("some-ubuntu", req, &args)
if err != nil {
fmt.Println(err)
}
op.Cancel() // err: This operation can't be cancelled

[2021-03-31 04:24] stgraber commented on #8622
That's correct, LXD cannot cancel an exec operation.

[2021-03-31 04:24] #8622 closed

[2021-03-31 04:25] stgraber commented on #8622
Not all operations are cancel-able. In general operation that are handling HTTP transfers can be canceled, the rest cannot.

For exec, you may be able to interrupt the process in the container by either running another command to kill the first or if still attached to the initial command by using its control socket to send a kill signal to the process.

[2021-03-31 13:22] SLusenti opened #8625 "network create type flag unknown"
hi all,
I'm trying to create some new network bridge configuration on my updated LXD cluster hosted on bionic servers.
But  currently it seems that won't recognize type flag anymore.
please, see the example below
[code]

I saw that the handling of this flag still exist on the source-code:
https://github.com/lxc/lxd/blob/134fda606b87ed5d5145249269674347b55f179e/lxc/network.go#L274

There's some wor

[2021-03-31 13:25] #8625 closed

[2021-03-31 13:26] stgraber commented on #8625
You're using an older release which does not have that flag.

Bridges are the default so not passing it will do what you want.

[2021-03-31 14:09] tomponline commented on #8619
Confirmed the issue, importing an instance that does not have its own root device has a basic one added, rather than keeping inheriting the one from the profile.

[2021-03-31 14:51] tomponline commented on #8619
@stgraber For the 2nd scenario you mention in https://github.com/lxc/lxd/issues/8619#issuecomment-810483692, I was thinking we should also consult the `ExpandedDevices` field in the backup.yaml info, and check that its config (excluding pool) matches that of the profile's config, and if not restore it using an instance (non-expanded) copy of the device from the backed up ExpandedDevices, that way

[2021-03-31 15:42] stgraber commented on #8619
Ah yeah, sounds reasonable.

[2021-03-31 17:35] #7322 closed

[2021-04-01 20:15] #8619 closed

[2021-04-03 19:40] #7946 closed

[2021-04-04 10:17] jetojedno opened #8633 "fan network creates IPv6 local link address"
# Required information

 * Distribution: ubuntu
 * Distribution version: faocal / 20.04
 * The output of "lxc info" :
[code]

# Issue description

A brief description of the problem. Should include what you were
attempting to do, what you did, what happened and what you expected to
see happen.

# Steps to reproduce

 1. create fan network.
[code]
[code]
 2. launch container with fan network
[code]

[2021-04-04 14:22] stgraber commented on #8633
I don't see the problem with having a link local address, that's what happens on regular networks without IPv6 connectivity too.

It's also not something LXD has much control over as the interface in the container is set up by the distro's networking tools.

If you really don't want that link local address, you can configure netplan/networkd in the container to not setup the link local.

But it's

[2021-04-04 14:22] #8633 closed

[2021-04-04 16:20] jetojedno commented on #8633
My apologies.  I hadn't checked against other bridged networks - this behaviour is the same for all.

I'll drop all IPv6 traffic in the firewall.

[2021-04-06 03:35] qian-fei opened #8634 "The source code for loop is invalid"
/ GetInstanceLogfiles returns a list of logfiles for the instance.
func (r *ProtocolLXD) GetInstanceLogfiles(name string) ([]string, error) {
	path, _, err := r.instanceTypeToPath(api.InstanceTypeAny)
	if err != nil {
		return nil, err
	}

	urls := []string{}

	// Fetch the raw value
	_, err = r.queryStruct("GET", fmt.Sprintf("%s/%s/logs", path, url.PathEscape(name)), nil, "", &urls)
	if err != ni

[2021-04-06 08:38] tomponline commented on #8634
Thanks I'll look into this.

[2021-04-06 12:15] #8634 closed

[2021-04-06 21:33] presztak commented on #7947
@stgraber this issue is already done, pull request was not correctly linked to it.

[2021-04-06 21:54] #7947 closed

[2021-04-07 03:11] stgraber opened #8641 "Fix cluster image replication logic"
As mentioned in https://github.com/lxc/lxd/pull/8640 our current cluster image replication logic isn't exactly ideal.
With that code removed, there are still a few issues to sort out to get the level of reliability we need for this feature:

 - autoSyncImagesTask should run hourly instead of daily
 - autoSyncImages should iterate over all images, not just the locally available ones
 - imageSyncBet

[2021-04-07 03:51] stgraber commented on #8641
@monstermunchkin oh and make sure that the calls to autoSyncImages from the clusterNodeDelete function is a blocking call.
We shouldn't continue with the cluster node removal process if we didn't manage to replicate the images it held as that could lead to data loss.

[2021-04-07 07:10] bboozzoo opened #8643 "lxd.activate fails on Arch with AppArmor v3"
# Required information

 * Distribution: Arch
 * Distribution version: -
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11.11-arch1-1 with AppArmor via `apparmor=1 security=apparmor` in kernel command line
   * LXC version: -
   * LXD version: 4.12 rev 19823
   * Storage backend in use: -

# Issue description

Snap install of lxd rev 19823 (current 4.12 stable) fails on start

[2021-04-07 14:04] geaaru commented on #4166
add this link for users that searching for something similar to Ansible but with less memory
https://mottainaici.github.io/lxd-compose-docs/
WIP but it works.

[2021-04-07 14:48] monstermunchkin commented on #8641
@stgraber It's already run in `clusterPutJoin` when the function calls `d.startClusterTasks()`. Should we just do the same in `clusterNodeDelete` or only perform `autoSyncImages`?

[2021-04-07 14:50] monstermunchkin commented on #8641
@stgraber Nevermind, as you mentioned in your other comment it should be a blocking call, and `d.startClusterTasks()` won't block.

[2021-04-07 14:53] monstermunchkin commented on #8641
@stgraber What if `force` is set to 1? Blocking seems like a bad idea in that case.

[2021-04-07 15:29] stgraber commented on #8641
It's probably fine to ignore errors when forcing the removal as indeed we may not have another source for the image.

[2021-04-07 15:29] stgraber commented on #8641
What I mostly want to avoid is it being spun off in a goroutine and possibly having more nodes removed before it's done running, causing some images to go unreplicated and missing from the cluster.

[2021-04-08 01:54] gnuhpc opened #8648 "couldn't get ipv4 address only ipv6 address"
After setting a container via bridged network, I couldn't get ipv4 address but only ipv6 address obtained. Any help? Thank you!

BTW, I followed the instructions from https://thenewstack.io/how-to-create-a-bridged-network-for-lxd-containers/
[code]

[2021-04-08 02:09] stgraber commented on #8648
Can you show `iptables -L -n -v`? Docker has a nasty habit to put rules in place to block things like that...

[2021-04-08 14:48] gnuhpc commented on #8648
~$ sudo iptables -L -n -v
[code]

[2021-04-08 15:07] gnuhpc commented on #8648
After reseting the iptables by the command you provided, I rebooted the lxd container. One more ipv6 address popped up...

~$ lxc list
+-------------+---------+------+--------------------------------------------+-----------+-----------+
|    NAME     |  STATE  | IPV4 |                    IPV6                    |   TYPE    | SNAPSHOTS |
+-------------+---------+------+-----------------------------

[2021-04-08 16:00] #7237 closed

[2021-04-08 16:01] #7423 closed

[2021-04-08 16:03] #7960 closed

[2021-04-08 16:16] stgraber commented on #8648
Can you show `iptables -L -n -v` again?

I wonder if br-netfilter is enabled, if it is, then maybe try:
 - iptables -I FORWARD -o br0 -j ACCEPT
 - iptables -I FORWARD -i br0 -j ACCEPT

And see if that solves it.

[2021-04-08 18:49] rvalo opened #8649 "Importing VMs previously exported w/ --optimized storage flag ended w/ error"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.2 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux pila 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 4.12
   * LXD version: 4.12
   * Storage backend in use: ZFS

# Issue description

I have two identical machines, with identica

[2021-04-08 21:42] tomponline commented on #8649
I've recreated this and am looking into it.

[2021-04-08 23:58] #8649 closed

[2021-04-09 00:30] gnuhpc commented on #8648
Great! Done! Thanks!

[code]

[2021-04-09 00:30] #8648 closed

[2021-04-09 07:42] rvalo opened #8651 "VM snapshots copying not working correctly"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.2 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux pila 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 4.12
   * LXD version: 4.12
   * Storage backend in use: ZFS

# Issue description

When trying to run copied VM snapshot on rem

[2021-04-09 08:01] #8641 closed

[2021-04-09 08:02] tomponline commented on #8651
Thanks I'll look into this now.

[2021-04-09 08:11] tomponline commented on #8651
Recreated. Only affects copying snapshots as new VMs.

[2021-04-09 08:17] tomponline commented on #8651
Seems to work OK when using the migration system between pools on the same node.

However when doing cross-node transfers it is failing even when doing a non-optimised transfer (ZFS -> LVM for example) with an error:

[code]

[2021-04-09 08:59] tomponline commented on #8651
This actually looks like a client bug, the `CopyInstanceSnapshot` function is not populating the instance type field in the POST request:

https://github.com/lxc/lxd/blob/0ef7797a64667a4c372119685607ffeb977f303c/client/lxd_instances.go#L1194

Compared to:

https://github.com/lxc/lxd/blob/0ef7797a64667a4c372119685607ffeb977f303c/client/lxd_instances.go#L387

[2021-04-09 09:14] tomponline commented on #8651
@stgraber confirmed, hardcoding the `Type` field in that POST request fixes it.

But I am unsure how best to proceed here with a fix.

My first thought was to add a `Type` field to the `api.InstanceSnapshot` struct type, this would then allow us to populate the source type in https://github.com/lxc/lxd/blob/a7ece9de1d21fe591dcf2a725aa6d3393dc587de/lxc/copy.go#L167 and then use it when we call http

[2021-04-09 12:21] janmuennich opened #8653 "Memory Leak"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[lxc info.txt](https://github.com/lxc/lxd/files/6285533/lxc.info.txt)

# Issue description

Since our migration from LXD 3 via .deb to LXD 4.0.5 via Snap, we are observing a memory leak in LXD. This happens in two independent clusters with each ca. 10 hosts.

Every day, memo

[2021-04-09 12:39] krzysztofp opened #8654 "Host host-name.lxd not found: 3(NXDOMAIN)"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04 / amd64
 * The output of "lxc info" or if that fails:
[code]

# Issue description

I would like to reach my container by it's name, but when doing host host-name, I'm receiving this error:
[code]

# Steps to reproduce

 1. It's a fresh Dedicated Cloud installation of Ubuntu 20.04 on OVH
 2. I've installed lxc, lxd and n

[2021-04-09 12:55] stgraber commented on #8654
LXD does not configure your system's DNS to hit LXD's dnsmasq so this can't really be a LXD bug.

I'd recommend asking at https://discuss.linuxcontainers.org instead for such support and integration questions.

I suspect you'll want to at least show your resolved config.

[2021-04-09 12:55] #8654 closed

[2021-04-09 13:19] krzysztofp commented on #8654
$ cat /etc/resolv.conf
[code]

[2021-04-09 13:23] krzysztofp commented on #8654
@stgraber this issue was reported back is 2018, shame LXD/XLC hasn't resolved it completely:
https://github.com/lxc/lxd/issues/4337

[2021-04-09 13:23] tomponline commented on #8654
@krzysztofp that won't work as you want, because the first IP may give an answer (even a negative one) which will stop the resolver trying the LXD bridge resolver.

[2021-04-09 13:29] krzysztofp commented on #8654
Ok, switching the IP addresses helped:

[code]

[code]

Thank you @tomponline !

[2021-04-09 15:05] stgraber commented on #8651
@tomponline can't we have `CopyInstanceSnapshot` effectively do:
 - Check if server supports VMs, if not, take the easy path
 - Do `source.GetInstance(instanceName)` to figure out the type
 - Set the type in `InstancesPost` to match the one retrieved

[2021-04-09 15:08] tomponline commented on #8651
@stgraber yep we can, thats basically the same as my 2nd proposal, but just doing it inside the `CopyInstanceSnapshot` function rather than modifying `InstanceSnapshotCopyArgs` - I wasn't sure if that was OK as seemed a bit inconsistent with how other copy functions are done (i.e gathering configuration outside).

[2021-04-09 15:14] stgraber commented on #8651
Well, the issue with it being in args is that it's not really an option, you can copy a VM as a container or the other way around.

[2021-04-09 15:16] tomponline commented on #8651
@stgraber I dont really understand what you mean, we'd only pass in the correct type to the argument InstanceType, but don't worry about it, as this way is nicer as it doesn't modify any structs.

[2021-04-09 16:43] xiaofan-linux commented on #2709
Hi Hello, I am using kind to deploy rook-ceph storage. pod mounting pvc prompts the following error. Have you encountered this problem? Please answer it. Thank you.

Error message: rbd: map failed: (30) Read-only file system

[2021-04-09 17:10] #8651 closed

[2021-04-10 06:37] jetojedno opened #8657 "Add options for automated host selection in cluster"
# Feature description

Add options to control the automated selection of host for new instances:
- host-enabled: **true** / false (for each host)
- algorithm: **number** / load (for cluster)
- algorithm.load-period: **30** minutes

If host-enabled is false, don't auto-select that host for new instances; if true, always consider
If algorithm is number, select host with lowest number of instances (t

[2021-04-10 21:19] gareththered opened #8658 "Cannot exec into VM on arm64"
# Required information

 * Distribution: Debian arm64 (on Raspberry Pi 4)
 * Distribution version: 10
 * The output of "lxc info":
[code]

# Issue description

https://discuss.linuxcontainers.org/t/running-virtual-machines-with-lxd-4-0/7519

states that `lxc exec <vm> sh` will give a command prompt.

Instead, I get `Error: Failed to connect to lxd-agent`.

Apparently, images are built with random

[2021-04-11 00:31] #8658 closed

[2021-04-11 00:32] stgraber commented on #8658
The issue is virtiofsd not behaving on arm, we've fixed this last week already.
LXD 4.13 has the relevant fix. For LXD 4.12, try setting `migration.stateful=true` on your VMs as a workaround which will similarly disabled virtiofsd and should make the agent behave properly.

[2021-04-11 00:36] stgraber commented on #8657
We've been pretty resistant on changing that algorithm or introducing options for it as we'd very very quickly find ourselves in a rabbit hole, having to deal with a whole lot of hardware behavior differently. The load average isn't a particularly great metric nor one that LXD track. We also have been using a general policy of never storing temporary state in our database so not too keen on having

[2021-04-11 07:40] jetojedno commented on #8657
Thanks.  Blocking auto-allocation on the control servers would solve half my issue with this.

The counting instances approach depends on the assumption that there are a large number of instances so the differences between instance resource consumption averages out to more-or-less equal.  My use case is different with a very unbalanced mix of instances having small number of high CPU & memory dema

[2021-04-11 07:40] #8657 closed

[2021-04-11 14:54] stgraber commented on #8657
Yeah, we suspect that in many cases more complex scheduling will often be better handled externally. Load based scheduling is one approach but I think you'll quickly want to also consider the size of the instance you're deploying, whether it needs special hardware, what other instances already exist on given nodes, ...

For now a completely external scheduler that tells you what target to select i

[2021-04-12 16:43] my5t3ry commented on #7902
@stgraber if you have no objections, i would try to remove rsync from the normal copy process and implement the --snapshots-only switch . i didn't quite understand if --snapshots-only should be implemented only for instances that exist on the target, or if in case the instance doesn't exist on the target yet, it should be created from the last snapshot.

[2021-04-12 17:19] stgraber commented on #7902
Hey, I'm not really sure of what we want here yet. I'm pretty sure we'll want to allow for --refresh to use a temporary snapshot and avoid rsync before we do any work to add new options like this --snapshot-only.

Figuring out snapshot relationships to do an incremental copy using snapshots just always gets very tricky especially with filesystems like btrfs that have nestable snapshots which can a

[2021-04-12 17:30] my5t3ry commented on #7902
Hello :) ok, i see. i will look for another issues to work on. do you maybe have any suggestions?

[2021-04-13 11:44] cbc02009 commented on #733
For anyone coming here via google, the link in the post by @stgraber above is dead, but I think this (https://ubuntu.com/blog/custom-user-mappings-in-lxd-containers) is a mirror of the same article.

[2021-04-14 09:00] janpekar opened #8668 "Error: Failed instance creation: invalid character '\x00' after top-level value"
Hi all,

I have problem creating new lxc container.
I get `Error: Failed instance creation: invalid character '\x00' after top-level value
`
I run
```lxc launch images:debian test01```

Last debug messages are
[code]

The same I see in ```lxc monitor```, no other error messages.
The log in `/var/snap/lxd/common/lxd/logs/lxd.log` shows no errors, the same syslog o kern.log

How can I debug it more?

[2021-04-14 09:01] tomponline commented on #8668
Please see https://discuss.linuxcontainers.org/t/linuxcontainers-org-image-server-appears-to-be-broken/10768

[2021-04-14 09:01] #8668 closed

[2021-04-14 10:49] vosdev opened #8669 "Host 10Gbit network, containers/VM only get 1Gbit"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

My 3-node cluster hosts have 10Gbit network. All guests are on the host network through macvlan. They only get a 1Gbit nic

LXD 4.13, ubuntu 20.04, ceph 15.2.10

# Steps to reproduce

 1. create vm/container on a host with 10gbit network
 2. test

[2021-04-14 13:23] stgraber commented on #8669
Can you install iperf3 and use that to test your network throughout (so it doesn't depend on an external service)?

In any case, there is no way to throttle a macvlan device so it can't be a LXD bug.
It could be a bug in the macvlan driver or in your physical network card's driver though.

I personally run many instances with 10gb networking but I don't believe any of those use macvlan, they're al

[2021-04-14 13:23] #8669 closed

[2021-04-14 15:59] stgraber commented on #7901
@TimRots hey, any progress on this?

[2021-04-14 16:01] stgraber commented on #7902
@my5t3ry if interested in networking stuff, those two may be interesting to you:
 - https://github.com/lxc/lxd/issues/7943
 - https://github.com/lxc/lxd/issues/7477

For non-network stuff:
 - https://github.com/lxc/lxd/issues/8011

[2021-04-14 17:01] stgraber commented on #8490
Well, 9pfs in VMs is also terrible for performance, that's why the world is switching to virtiofs instead which is significantly faster but also even more tied to how VMs work.

@brauner I still owe you a review on the liblxc side for the shifted mounts but were you planning on also adding direct LXD support or are we going to have to wait for a new LXC release that brings in that support before w

[2021-04-14 17:18] my5t3ry commented on #7902
shure, i will find time to work them through. at first glance it looks i can resolve them.

To be honest, this ticket has given me a much better understanding of inodes, what the 'i' in indo stands for, linux vfs, and filesystems in general compared to 2 days ago. will maybee cancele my symlink ultras membership at some point :)

I've looked at the code for migrating instances and have a rough ide

[2021-04-14 19:44] simondeziel opened #8670 "Support for multiple snapshot schedules"
The doc for `snapshots.schedule` says:

But I can't make the comma separated list work.

# Required information

[code]

# Issue description

Works:

[code]

Does not work:

[code]

P.S: thanks for adding those keywords, the @startup is especially handy!

[2021-04-14 20:49] stgraber commented on #8670
Might just be the validator that's wrong though I suspect my @startup logic is also not expecting comma separated values.

[2021-04-16 01:00] fergus-dall opened #8674 "DeferTemplateApply triggers don't stack"
# Required information

 * Distribution: Chrome OS
 * Distribution version: 4.0.5
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.110
   * LXC version: 4.0.6
   * LXD version: 4.0.5
   * Storage backend in use: btrfs

# Issue description

When LXD image template triggers are queued with DeferTemplateApply, only the last trigger applies. Concretely, if you create a container

[2021-04-16 12:18] brauner commented on #8608
https://github.com/lxc/lxd/pull/8677 should fix this.

[2021-04-16 13:24] brauner commented on #8490
Direct LXD support as in LXD setting up idmapped mounts for hotplugging into containers?
This obviously will not work for virtiofs right now but the virtiofs developers want this to be a thing.

[2021-04-16 13:38] #8608 closed

[2021-04-16 15:23] stgraber commented on #8490
@brauner direct LXD support as in detecting availability of the new kernel feature on startup and using it everywhere we use shiftfs today.

[2021-04-16 15:26] brauner commented on #8490
Oh, yeah. I think that should be mostly doable it would need to be in the generic part of the storage code with a test whether the filesystem supports that feature.

[2021-04-16 15:28] stgraber commented on #8674
The easiest fix there would be not to update the volatile key if it's already set, that way copy/create would not get overridden by rename.

[2021-04-16 16:54] srkunze opened #8679 "Applying limit.cpu to default profile has no effect on containers"
According to https://stgraber.org/2016/03/26/lxd-2-0-resource-control-412/ this should work but it doesn't on my machine.

Example in the blog:
[code]

On my machine:

[code]

[code]

[2021-04-16 17:56] #8679 closed

[2021-04-16 17:56] stgraber commented on #8679
The raspberry pi kernel comes with a lot of cgroups disabled by default causing this.

[2021-04-16 17:57] stgraber commented on #8679
Try booting with `cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1` passed to your kernel.

[2021-04-16 18:08] stgraber opened #8680 "Volume snapshots should only be done on one node"
`cephfs` volume snapshots appear to be done by all of my servers causing in this case 3x as many snapshots as I should have...

[2021-04-16 19:16] srkunze commented on #8679
In case somebody finds this and needs to do the same:

https://askubuntu.com/questions/1189480/raspberry-pi-4-ubuntu-19-10-cannot-enable-cgroup-memory-at-boostrap

[2021-04-16 19:16] srkunze commented on #8679
@stgraber here again the question:

would it make sense to check for these kernel modules to warn the user that his/her profile manipulation has no effect on the containers?

[2021-04-16 19:36] stgraber commented on #8679
LXD is already checking for those on startup and logging a warning in lxd.log

[2021-04-16 20:03] srkunze commented on #8679
Mhh, I see.

Somehow, UX-wise doesn't file quite right as it hides the issue somewhere disconnected from the user's input.

What about this:

[code]

[2021-04-16 20:42] Fl4v commented on #8680
Hello again @stgraber , if you point me in the right direction, I am happy to take this on.

[2021-04-17 00:20] stgraber commented on #8680
@Fl4v thanks!

I'll have to dig into the code a bit, basically I'd track down where the scheduled snapshots are handled for volumes and then in that function we're going to have to check if the storage pool is remote and if it's remote add logic so that we use a stable random to determine what cluster member will preform the actual snapshot.

I thought we had put logic in place to do that already

[2021-04-17 00:20] stgraber commented on #8679
That's why we're working on a new warnings API (see open PR) :)

[2021-04-17 02:33] stgraber commented on #8680
`autoCreateCustomVolumeSnapshots` in `storage_volumes_snapshot.go` is what creates the volume snapshots.

[2021-04-17 02:33] stgraber commented on #8680
I found the regression, it's simply code we removed by accident... I'll send a trivial PR to revert that change.

[2021-04-17 02:36] stgraber commented on #8680
@Fl4v if you'd like another similar issue to look into, https://github.com/lxc/lxd/issues/8670 should be a good one!

[2021-04-17 02:38] stgraber commented on #8680
@Fl4v or https://github.com/lxc/lxd/issues/8674 would be another easy one to fix

[2021-04-17 07:21] techtonik commented on #8490
There is still no explanations of bug with container name.

[2021-04-17 07:38] srkunze commented on #8679
#8582

[2021-04-17 10:01] srkunze opened #8682 "[FEATURE] resource limits of one server"
Looking at https://lxd.readthedocs.io/en/latest/server/ and https://lxd.readthedocs.io/en/latest/instances/

Applying limits to instances separately is quite helpful. Not available (from reading the docs) are resource limits for the whole LXD server. So, given this example:

- 14 cores out of 20 should be used for all LXD instances (leaving 6 core for the rest of the system)
- split these 14 cores

[2021-04-17 14:34] Fl4v commented on #8680
Hi @stgraber, sure thing, I will give it a try.

[2021-04-17 15:02] #8680 closed

[2021-04-17 16:57] Fl4v commented on #8670
Hi @stgraber, feel free to assign this to me, I will give it a try.

[2021-04-17 16:58] stgraber commented on #8670
Thanks, done!

[2021-04-19 12:20] #8674 closed

[2021-04-19 14:31] fliiiix opened #8686 "CLI help shows extra characters"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-99-generic
   * LXC version: 3.0.2
   * LXD version: 4.13
   * Storage backend in use: dir

# Issue description

Some commands (publish|export) show additional `` characters in cli help.

[code]

These characters are also present in the code:
[cod

[2021-04-19 16:20] #8686 closed

[2021-04-19 16:46] fliiiix commented on #8686
thanks :tada:

[2021-04-19 19:13] genet022 opened #8688 "Failed to start the daemon: Failed to start dqlite server"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Focal
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-72-generic
   * LXC version: lxc (1:4.0.2-0ubuntu1) [universe]
   (*Comes from stable Focal Cloudinit image which pulls from Universe*)
   * LXD version: lxd (1:0.9) [universe]
   (*Comes from stable Focal Cloudinit image which pulls from Universe*

[2021-04-19 20:09] genet022 commented on #8688
Looks like we don't collect `/var/snap/lxd`. And since the environment has been cleaned and redeployed I can't get to it.
I'll add that to crashdump collection for the future though.

[2021-04-19 20:25] stgraber commented on #8688
Thanks, without it, there's really nothing else we can do, especially since we've fixed a number of bugs in that area over the past weeks so this may have been resolved already.

[2021-04-19 20:25] #8688 closed

[2021-04-20 00:17] ltrager opened #8689 "Boot failure causes VM to be unable to start."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-72-generic
   * LXC version: 4.0.6
   * LXD version: 4.0.5
   * Storage backend in use: dir

# Issue description

I am working on fixing secure boot deployments with MAAS. Currently this is broken due to [LP:1865515](https://bugs.launchpad.net/maas

[2021-04-20 00:54] stgraber commented on #8689
What's the error when you run lxc start?

[2021-04-20 04:08] ltrager commented on #8689
[code]

[2021-04-20 04:09] stgraber commented on #8689
Can you show `ps fauxww`?

[2021-04-20 05:04] my5t3ry commented on #8011
I start working on this issue : )

[2021-04-20 08:10] tim-seoss commented on #8608
Works with:
[code]

Thanks.

[2021-04-20 09:17] tim-seoss opened #8691 "systemd-networkd.service fails to set local IPv4 in unprivileged Debian 11 (bullseye/testing) container"
# Required information

 * Distribution: Debian
 * Distribution version: testing (11 pre)
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Unprivileged container (Debian 11 bullseye/testing) fails to obtain an IPv4 address.  Works when same container is set to privileged.

# Steps to reproduce

Unpriv (failing) `journalctl -b -u systemd-networkd.service`:
[code]
Priv (wor

[2021-04-20 09:23] tomponline opened #8692 "Auto custom local volume snapshots in cluster don't get created on correct member"
The `autoCreateCustomVolumeSnapshotsTask` function treats all custom volumes as if they were volumes on remote storage pool (and only tries to create the snapshot on a single cluster member). However this is incorrect behaviour for local custom volumes which only exist on a single cluster member.

Reproducer on a 2 member cluster:

[code]

On VA member (with debug statements added), no snapshot is

[2021-04-20 09:26] tomponline commented on #8691
Does setting `security.nesting=true` on the container fix the issue (make sure not to run this with privileged).

[2021-04-20 11:35] tomponline opened #8694 "Custom volume snapshot auto name doesn't take member locality into account"
When using auto custom volume snapshots in a cluster, if there are multiple local volumes of the same name on each member, then when the snapshots are taken, the snapshot name increments taking into account the snapshot names of the other local volume.

E.g.

Member A vol1: snap0
Member B vol1: snap1
Member A vol1: snap2
etc...

The next snapshot name should only take into account the existing sna

[2021-04-20 11:37] #7943 closed

[2021-04-20 11:40] tomponline opened #8696 "lxc storage volume set doesn't accept/use the flag --target"
When editing a custom storage volume in a cluster where a volume of the same name exists on multiple members, it is not possible to use `lxc storage volume set` as it (correctly) requests the use of the `--target` flag, but it continues to complain even when providing the `--target` flag.

[2021-04-20 13:50] tomponline opened #8697 "Ensure all cluster members are online before allowing remote storage pool operations that need to notify members"
As per https://github.com/lxc/lxd/pull/8693#issuecomment-823270222 we need to check that all cluster members are online before attempting remote storage pool operations that rely on notifying the other cluster members, otherwise we can end up in a state of partially completing the operation but not being able to notify all the members, and ending up with orphaned DB records and some cluster member

[2021-04-20 14:28] #8692 closed

[2021-04-20 16:10] ltrager commented on #8689
[code]

[2021-04-20 16:19] ltrager commented on #8689
The qemu process looked suspicious, I confirmed that LXD says that the VM is stopped. I then killed that process and LXD was able to start the VM. In [LP:1865515#67](https://bugs.launchpad.net/maas/+bug/1865515/comments/67) Dimitri mentions the `-no-reboot` option may be a concern.

[2021-04-20 16:30] stgraber commented on #8689
Ok, so it's just qemu being in a bad state. We have a fix for this kind of thing already merged.

no-reboot is normal, we always want LXD in control of reboots.

Closing as LXD 4.13 has the fix for handing qemu hangs and we already backported to 4.0 just haven't done a new point release yet.

[2021-04-20 16:30] #8689 closed

[2021-04-20 19:35] stgraber commented on #8569
@maran did you figure out what's going on?

[2021-04-20 19:38] stgraber commented on #8416
@cyphar do you know if this is still a problem with current qemu or if they sorted out the module build to not screw up spice?

[2021-04-20 19:41] stgraber commented on #8653
Holy crap, that's a lot more goroutines than you should have :)
You have 29513 of them when a normal server often has less than 20!

[2021-04-20 19:45] stgraber commented on #8653
You appear to have an insane amount of WebsocketProxy goroutines and handlers for GetEvents (may be related as GetEvents is a websocket API).

I suspect the memory usage is likely all coming from what's held by those goroutines.

[2021-04-20 19:49] stgraber commented on #8653
I looked at my production cluster which also has automated snapshots (daily, delete after 7) on all instances and volumes but I'm not seeing any suspicious goroutine in my case. Mind you, it's running LXD 4.13 not 4.0.5 so maybe it's something we fixed somehow...

Can you confirm that your snapshot creation and deletion is handled through LXD's snapshot scheduling and snapshot expiry and not throu

[2021-04-20 20:04] stgraber commented on #8691
How exactly did you create this container?
Our images for Debian don't use networkd and get me working IPv4 and IPv6 out of the box here.

[2021-04-20 20:05] stgraber commented on #8691
[code]

[2021-04-20 20:27] stgraber commented on #8691
A nicer workaround for the systemd capabilities that are broken inside of containers would be:
[code]

@monstermunchkin can you add logic in distrobuilder to automatically add this to all container images with systemd (so we don't need to keep duplicating it)? Once done, you can likely drop the systemd-networkd overrides we have in place for alt, arch and fedora.

Going to move this issue over to

[2021-04-20 20:35] stgraber commented on #8682
Marking this as a maybe.

In theory it's possible, but we'd need LXD to maintain a parent CGroup used for all its instances and side processes and apply the global limit to that, causing everything else to have to fit within it. All pinning configuration would then need to check against that as would our pinning scheduler.

So it's not technically impossible and we've had this kind of stuff in min

[2021-04-20 21:55] edacval commented on #8416
Just checked against freshly compiled qemu 6.0.0-rc4, bug still in place.

[2021-04-21 00:00] cyphar commented on #8416
Yeah this is still an issue. I tried to write up a patch when we first discussed this but I figured out that either the QMP documentation is incomplete, or QMP cannot be used to configure SPICE and we would need to add the spice parameters to the commandline as the original bug report I linked suggested.

[2021-04-21 00:06] cyphar commented on #8416
The patch required to switch to the `-spice` command-line is pretty trivial so I'll just post that.

[2021-04-21 03:47] stgraber commented on #8416
Yeah, so that's not a great look for qemu upstream... wanting to deprecate readconfig pointing to QMP as the way to populate config objects instead, then both making significant QMP API changes in 6.0 and also not actually having feature parity with what it's supposed to replace...

[2021-04-21 03:49] stgraber commented on #8416
The thing I've always hated with libvirt is just how impossibly long and unreadable the qemu command lines would become... With readconfig we had a good solution to get a nice diff-able config file and keeping the length of the qemu command line somewhat under control so admins have a chance to read a ps output on their system. In theory moving to QMP could do the same minus the ability to easily

[2021-04-21 03:54] stgraber commented on #8416
@cyphar was it the qom-* and object-* QMP commands that you tried and couldn't get to work?

[2021-04-21 04:11] cyphar commented on #8416
Oh, are those how you specify arbitrary changes to the configuration? I didn't mange to figure that out tbh (so maybe this is PEBKAC), I was mostly confused by the lack of a `set-spice` (given `query-spice`) and looking for `CONFIG_SPICE` didn't really get me anywhere. One other thing I wasn't sure about was whether we need to configure the spice server before the VM starts (in which case, I think

[2021-04-21 04:21] stgraber commented on #8416
I played a bit and there's no QOM object type for spice so that's currently a bit of an issue...
LXD doesn't actually start the VM immediately, we do it through QMP, so it'd be easy to complete the config setup through QMP.

[2021-04-21 04:21] stgraber commented on #8416
Anyway, in this case, even in 6.0 it doesn't appear to be possible yet. There seems to be good support for most normal devices but not so much for the bits we'd like to get rid from the command line (spice and smbios mostly).

[2021-04-21 04:47] maran commented on #8569
Sadly no. I'm guessing it might have been a race condition in our own code somehow. I don't think it happened anymore in the last two months or so but I will ask around and make sure.

[2021-04-21 05:23] #8485 closed

[2021-04-21 05:23] #8694 closed

[2021-04-21 05:23] #8696 closed

[2021-04-21 05:23] #8697 closed

[2021-04-21 05:50] #8416 closed

[2021-04-21 09:18] janmuennich commented on #8653
Thanks for looking at the issue!

The snapshots are not managed by LXD snapshot scheduling. A backup script creates the snapshot with `lxc snapshot` and transfers it directly with ZFS to a backup storage. Next time the backup script runs, the old snapshot is deleted with `lxc delete`. So there is never an excessive amount of snapshots on the servers, maximum 2 per instance. On another cluster that

[2021-04-21 16:41] jlokier commented on #2930
Please reopen this issue, it is obvious, reproducible, and not fixed.

tcpdump still broken in an LXD Ubuntu 21.04 container on an Ubuntu 20.10 host.

- Logged in over SSH to the container
- Ubuntu 21.04 container, on Ubuntu 20.10 host (but given the 4 years history of this bug, probably all versions).
- `tcpdump` just returns with no output when run, and no clue to the error, because it can't wri

[2021-04-21 16:59] tomponline commented on #2930
FWIW I tend to use `tcpdump -l` which I find works.

[2021-04-21 17:07] jlokier commented on #2930
I was about to write another handy workaround.  `tcpdump -l` by itself doesn't work, but if piped though `cat` it does:

    container$ sudo tcpdump -l -i lo | cat    container$ echo $?
    tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
    listening on lo, link-type EN10MB (Ethernet), capture size 262144 bytes
    ... etc

Without the `cat` it doesn't work:

    contai

[2021-04-21 17:10] candlerb commented on #2930
Have you tried exactly the following, inside the container?

[code]

This works for me in all the host/container combinations I use - but I only use LTS versions so haven't tried 20.10 / 21.04

[2021-04-21 17:22] tomponline commented on #2930
From looking further up the thread it seems this an apparmor bug so probably best to post on the linked issue. Thanks

[2021-04-21 17:27] candlerb commented on #2930
Correctly disabling apparmor for tcpdump, using the commands shown, will prove it one way or the other.

[2021-04-21 18:03] srkunze commented on #8682
Alright. Sounds like a first idea.

Just to make sure that we do not talk of a fully featured resource limit such as what is already possible with instances: it’s just about limiting the number of available cores to LXD.

So, from the simplified outside/UX perspective: setting #cores and be done with it.

Rough Task List:

- [ ] add config variable server.limits.cores, prepopulate with current num

[2021-04-21 19:06] stgraber commented on #8682
We also need to make sure that all other supporting processes get tied to that and that containers and VMs which do not specifiy a limits.cpu are still restricted to those CPUs.

[2021-04-22 00:13] stgraber opened #8702 "Allow for user. config keys inside of devices config"
We currently allow `user.*` keys everywhere in LXD config except for within device configuration.
This should be a very trivial change to our validator to allow it.

[2021-04-22 00:16] stgraber opened #8703 "Add new project restrictions for snapshots and backups"
Snapshots and backups can be expensive both to produce and store them, so it would make sense to make them a restricted feature.

We should add:
 - restricted.backups (allow/deny)
 - restricted.snapshots (allow/deny)

Which will restrict the creation of any instance backups/snapshots or volume backups/snapshots.

[2021-04-22 00:26] stgraber commented on #8236
@matthewa150 hey there, are you still interested in fixing this one?

[2021-04-22 00:27] stgraber commented on #7948
@DDEFISHER hey there, just checking in to see if you're still planning on implementing this one.

[2021-04-22 00:29] stgraber commented on #7871
@presztak how's this going? need any pointers?

[2021-04-22 00:30] stgraber commented on #7559
@tbobo hey there, are you still looking at implementing this?

[2021-04-22 00:31] stgraber commented on #1613
@tbobo hey there, are you still looking at implementing this?

[2021-04-22 02:32] tbobo commented on #7559
Many apologies. Personal circumstances have kept me away and occupied. I'll implement this as soon as possible and open a PR in the coming weeks, if that's okay.

[2021-04-22 02:32] tbobo commented on #1613
Many apologies. Personal circumstances have kept me away and occupied. I'll implement this as soon as possible and open a PR in the coming weeks, if that's okay.

[2021-04-22 12:06] mDfRg opened #8705 "Disabled ipv6 makes lxd fail to start lxdbr0"
# Required information

 * Distribution: Ubuntu 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-72-generic
   * LXD version: 4.13 (snap)
   * Storage backend in use: zfs

# Issue description

I have disabled ipv6 at work due to having network issues otherwise. After update to 4.13 lxdbr0 doesn’t work (and thus lxd in general). When I start fresh (snap remove -> insta

[2021-04-22 12:22] tomponline commented on #8705
Can you show output of `lxc network show lxdbr0` please

[2021-04-22 13:45] tomponline commented on #8705
@mDfRg if you can set `lxc network set lxdbr0 ipv6.firewall=false` this should fix it in the short term.

[2021-04-22 13:56] mDfRg commented on #8705
[code]

This is after I nuked my config (that worked with previous versions). I initially thought the error was on my side so I tried to reinstall by this steps:
0. lxc export <mycontainer> mycontainer.tar.gz
1. sudo snap remove lxd
2. zfs destroy mypool/lxd
3. zpool export mypool
4. rm /home/lxd/mypool.img (path to file where imagefile was stored)
5. reboot

Then I proceed to install everything a

[2021-04-22 13:58] tomponline commented on #8705
@mDfRg I have a fix for this, but if you can init without a bridge and add it later then setting `ipv6.firewall=false` will fix your current version.

[2021-04-22 14:01] mDfRg commented on #8705
Great! BTW here is a probably related bug:  #2842

[2021-04-22 14:12] mDfRg commented on #8705
Emm.. Can you help me with this? How can I set this setting when I cannot set lxdbr0? I can run ```lxd init --preseed < lxd_preseed.yml ``` and not specify eth0 device at all, but how to do it beforehand? Can I set a YAML setting in preseed file? Here is my setup:

**lxd_preseed.yml**

[code]

**lxdbr0.yml**

[code]

[2021-04-22 14:22] mDfRg commented on #8705
I am aware this question is unrelated to the bug, but is there a way to rollback snap update to previous version? ```snap list lxd --all``` gives me only one version of lxd.

[2021-04-22 14:48] DDEFISHER commented on #7948
Yes sorry about procrastinating on this. I am going to give myself until the end of this weekend to have something or I will un-assign myself if that works for you.

[2021-04-22 16:11] tomponline commented on #8705
You should specify `ipv6.firewall: "false"` in your network (not NIC device) config for lxdbr0.

[2021-04-22 16:12] tomponline commented on #8705
The PR https://github.com/lxc/lxd/pull/8706 will restore the earlier behaviour of implicitly disabling `ipv6.firewall` if `ipv6.address` is `none`.

[2021-04-22 17:01] tomponline commented on #8705
If @stgraber doesnt cherry-pick this into the 4.13 snap, then it will be in the 4.14 release which will be in roughly 2 weeks I think.

[2021-04-22 17:50] #8705 closed

[2021-04-22 17:51] stgraber commented on #7948
yep, no problem :)

[2021-04-22 19:26] presztak commented on #7871
@stgraber I already have most of the implementation. PR should be ready in next week. Is it ok for you?

[2021-04-22 19:27] stgraber commented on #7871
yep, that's great, thanks!

[2021-04-22 20:26] dontlaugh opened #8708 "Allow passing a path to a cert on disk when joining a cluster"
This is not a bug, it's a feature request.

The cluster bootstrap docs here show how to join a cluster.https://lxd.readthedocs.io/en/latest/clustering/

But it seems that embedding a pem-encoded cert inside yaml is our only option.

Templating yaml with large strings (like certificates) is error prone. It would be friendlier to automation if a filepath could be specified instead. This would avoid

[2021-04-22 21:02] jetojedno opened #8709 "enhancment: allow ipv4.address on macvlan networks"
# Required information

Ubuntu focal 20.04
LXD 4.13

# Issue description

I have an LXD MACVLAN network on a switch without DHCP server, so the instances don't acquire an IP Address.

`lxc network lxdmvl0 assign XXXX eth0 eth0` (lxdmvl0 is the macvlan network) followed by
`lxc config device set XXXX eth0 ipv4.address aa.bb.cc.dd` doesn't work - it seems to have no effect.

The way I found to give

[2021-04-22 22:04] stgraber commented on #8709
Supporting `ipv4.address` wouldn't do you any good without a way to configure a gateway, DNS, ...
You can do all that through `user.network-config` with cloud-init instead which is likely a better fit in this case.

[2021-04-22 22:04] #8709 closed

[2021-04-23 05:07] arren-ru opened #8710 "DHCP stopped to work with LXD 4.13"
# Required information

 * Distribution: archlinux
   * Kernel version: 5.11.15
   * LXC version: 4.0.6
   * LXD version: 4.13
   * Storage backend in use: lvm | zfs

# Issue description

Simply after upgrading from 4.12 to 4.13 network stopped to work in terms of no IP addresses was assigned via external DHCP while no configuration was changed.

# Information to attach

- [Several configurations]

[2021-04-23 06:02] tomponline commented on #8710
Can you try setting ipv4.firewall and ipv6.firewall to false on your network. I think it could be related to https://github.com/lxc/lxd/pull/8706

[2021-04-23 06:28] arren-ru commented on #8710
Yes it works, but why it is enforced? Anyway thanks for the answer.
I would like to recommend to leave this issue opened for those people who will face such kind of problem until it is resolved in #8706.

[2021-04-23 06:44] tomponline commented on #8710
It was an issue that has been fixed in #8706 that has already been merged and will be in 4.14 or cherry picked into 4.13. Will close this now, but is still searchable.

[2021-04-23 06:44] #8710 closed

[2021-04-23 13:53] stgraber commented on #8670
@Fl4v sorry about that but I'll be fixing this issue myself as it's actually causing a bug:
https://discuss.linuxcontainers.org/t/lxd-stopped-taking-containers-snapshots/10840/9

I've noticed that the code does try to support multiple patterns already but doesn't know that cron patterns already support commas so we need to be a bit careful.

[2021-04-23 15:33] #8670 closed

[2021-04-23 21:34] Fl4v commented on #8670
No worries @stgraber, thanks for letting me know.

[2021-04-23 22:13] cyberwillis opened #8713 "cannot start a container if has a device disk added from another blockdevice mount point"
# Required information

 * Distribution: **Ubuntu**
 * Distribution version: **19.04**
 * The output of "lxc info" or if that fails:
   * Kernel version: **5.4.0-70-lowlatency**
   * LXC version: **4.0.0-devel** (https://github.com/lxc/lxc/commit/6e66aa5b3e75f19c6db19673ce9f80e771c76cc0)
   * LXD version: **4.13** (https://github.com/lxc/lxd/commit/bf1b683213414566b6303ca0778a64a6a382c438)
   * St

[2021-04-23 22:56] stgraber commented on #8713
What's `lxc info --show-log c2` showing you?

[2021-04-23 23:00] cyberwillis commented on #8713
[code]

[2021-04-23 23:32] stgraber commented on #8713
Okay, closing this side of the issue since it's apparently a LXC regression.

However note that it could also be some kind of kernel issue on your system being exposed through this. The Ubuntu version you're running is out of support and I remember the 5.4 kernel as having a lot of VFS (mount) related issues.

[2021-04-23 23:32] #8713 closed

[2021-04-23 23:35] cyberwillis commented on #8713
I will upgrade to 5.8 to check

[2021-04-25 15:29] srkunze commented on #8682
Updates todo list

[2021-04-25 16:24] stgraber commented on #8682
Things like virtiofsd or forkproxy can easily consume more resources than the instance they serve.

[2021-04-26 09:52] benaryorg opened #8714 "LXD Cluster crashes and API unresponsiveness likely due to latency"
# Required information

- Distribution: Gentoo
- Distribution version: Gentoo Base System release 2.7
- The output of "lxc info"
  - note: this is the LXD 4.13 build (regular portage tree only holds LTS versions) however the behaviour is exactly the same on both 4.0.4 and 4.0.5

[code]

# Issue description

My cluster, both with 3 or 4 nodes consistently has the LXD daemon crash, without any relev