[2020-10-20 12:20] stgraber commented on #8060
We don't care if it's an empty disk or an empty partition, we're asking if you have one of those.

[2020-10-20 13:35] tomponline commented on #8060
We will clarify the question to avoid confusion.

[2020-10-20 13:43] #8060 closed

[2020-10-20 13:51] stgraber commented on #8061
The UK mirror is currently out of sync for an unknown reason, the hosting provider was alerted and is looking into it.

[2020-10-20 16:19] Foxboron opened #8065 "`virtfs-proxy-helper` not in `$PATH`"
# Required information

 * Distribution: Arch Linux
 * Distribution version: rolling
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version: 4.0.4
   * LXD version: 4.7
   * Storage backend in use: VM(?)

# Issue description

Currently the code assumes `virtfs-proxy-helper` is always somewhere in `$PATH` when executed, and it doesn't seem like there is any attempts ver

[2020-10-20 16:23] stgraber commented on #8065
On Debian/Ubuntu, virtfs-proxy-helper is in PATH at least.

[2020-10-20 16:23] stgraber commented on #8065
We can easily enough add logic to check for it in both PATH and /usr/lib/qemu though

[2020-10-20 16:25] stgraber commented on #8061
Confirmed that the sync issue has been resolved and all mirrors are back in sync.

[2020-10-20 16:25] #8061 closed

[2020-10-21 06:35] snhardin commented on #8065
Happy Hacktoberfest! I'd like to work on this, please. 🙂

[2020-10-21 10:04] maran commented on #7369
I've upgraded the whole test cluster to 4.7 and tried it again but I can't get it to work.

Some more info.

**Communication node**
[code]

**Node that is running the container**
Basically nothing.

[code]

[2020-10-21 10:07] tomponline commented on #7369
@maran are you able to post a set of instructions you use to make the API requests so I can re-create?

[2020-10-21 10:07] tomponline commented on #7369
@maran also does it work when the container isnt running?

[2020-10-21 10:27] maran commented on #7369
This is tightly integrated in a Ruby on Rails project using Hyperkit so it's a bit hard to replicate directly via the API.

If I stop the container it does something but gives an error. This might be related because of corruption that happened earlier so I will try it on a fresh disk in a bit.

[code]

[2020-10-21 10:28] tomponline commented on #7369
@maran you could try recreating using `lxc query` perhaps?

[2020-10-21 10:44] maran commented on #7369
[code]

This replicates the behaviour and wants to mount the already mounted RBD instance on the communication node.

[2020-10-21 11:13] tomponline commented on #7369
@maran thanks thats great, I'll try to reproduce here and look to fix it.

[2020-10-21 11:15] feileacan opened #8071 "`lxc rename` then `lxc import` without running container in between results in a broken container"
# Required information

Trimmed `lxc info` output
[code]

# Issue description

`lxc rename` then `lxc import` without running container in between results in a broken container.

# Steps to reproduce

1. Create container "penguin"
2. `lxc rename penguin foo`
3. Shut down LXD and delete the database (so we can import the container)
4. Restart LXD
5. `lxd import foo`

You now end up with a container

[2020-10-21 12:05] tomponline commented on #7369
@maran and what error do you get when using your reproducer above?

[2020-10-21 12:08] tomponline commented on #8071
@feileacan so I can try and re-create, which storage pool driver are you using? Thanks

[2020-10-21 12:17] stgraber commented on #8071
@tomponline based on LXD version and container name, this is on a Chromebook, so storage is btrfs.

It will be interesting to see if our recent work on backups has somehow fixed this already.

[2020-10-21 12:18] tomponline commented on #8071
@stgraber ok thanks

[2020-10-21 12:33] maran commented on #7369
Various things go wrong. The most obvious is that the disk does not get properly resized and it will stay the same size in the container. After reboot the "used space" column in `df -h` will often go into the negative. It might actually corrupt the filesystem, I should probably test this.

[2020-10-21 13:21] stgraber commented on #8065
Hey there, assigned it to you!

In this case, you most likely want to poke `exec.LookPath` to see if `virtfs-proxy-helper` can be found. If so, then keep passing `virtfs-proxy-helper` to subprocess. If not, use `shared.PathExists` on `/usr/lib/qemu/virtfs-proxy-helper`, if that exists, then pass that path to subprocess.

[2020-10-21 16:19] tomponline commented on #7369
@maran please can you confirm whether you see the issues if the container is stopped before executing each resize request.

The reason I ask is that I've seen some issues with resizing custom ceph volumes when they are attached to running instances (even when the resize request is initiated on the same node as the running instance where the ceph volume is mounted).

It seems like the root issue is

[2020-10-21 17:00] tomponline commented on #7369
@stgraber so just to check I've got my understanding right here:

1. ceph rbd volumes should not be mounted on more than one node at a time?
2. This means that we should not allow a ceph volume to be attached to multiple instances (this is currently blocked).
3. Also, ceph driver indicates that it doesn't not support online resize (which makes sense given it provides block devices) which means we

[2020-10-21 18:46] stgraber commented on #7369
1) Correct, that would cause data corruption
2) That's correct, that's why we instead recommend ceph-fs for such cases
3) Indeed we should check for running instances and refuse resizing if the volume is in active use
4) That's correct with the exception of cephfs where multiple nodes can attach the same volume and where a resize can be performed from any of them.

[2020-10-22 09:23] tomponline commented on #7369
@stgraber thanks

Also, did ceph/cephfs volumes have multiple nodes defined at some point in the past, as currently I observe that ceph volumes have a nil node ID in the DB, however these lines suggest that previously it was normal for a ceph volume to be defined with multiple node addresses:

https://github.com/lxc/lxd/blob/4bb48ec45df1e7debf7402f83d1a7574f69179ab/lxd/cluster/connect.go#L135-L148

[2020-10-22 09:39] feileacan commented on #8071
Yup, it is indeed btrfs on Chromebook.

[2020-10-22 10:01] tomponline commented on #8071
@feileacan thanks I will get onto this one next.

[2020-10-22 12:33] diegomontoya opened #8075 "lxc move need to check origin container DELETE permission before execution"
db is on storage1 and security.protection.delete set to true.

I want to move db to storage2
[code]
There is nothing wrong with the error but lxc on MOVE command should first check the orginal container can be deleted before doing the COPY then DELETE operation. Otherwise, DELETE may fail which is not good usability-wise.

[2020-10-22 12:39] diegomontoya commented on #8020
@freeekanayaka  Any luck decoding the corrupt db I sent?

[2020-10-22 13:39] stgraber commented on #8075
The issue is that `lxc move` is just expanded in the API as `lxc copy` and `lxc delete`.

That said, we can have the client unset security.protection.delete before deleting the container following the copy operation. We don't really like having to make the client do that kind of trick, but it should be fine in this case.

[2020-10-22 13:52] stgraber commented on #7369
@tomponline yeah, that's right. We used to duplicate the volume record for every single node, which cause a variety of problems.
These days we just mark it as NULL to indicate that location is irrelevant for such volumes.

[2020-10-22 14:01] diegomontoya commented on #8075
I am against this bypass for the reason that `security.protection.delete=true` should be treated as a immutable state that should be honored when any attempt to delete is performed on the container. Would rather have `lxc move` stop execution when it encounters the security bit=true.

Having  `security.protection.delete=true` is a true piece of mind and safety guard for critical data since lxd is

[2020-10-22 14:06] diegomontoya commented on #8075
`lxc move` is expansion to `lxc copy` AND/&& `lxc delete`. It can be argued that the 2 commands must execute successfully in a serial fashion. However, If the second command is guaranteed to fail, the first expanded command should not execute. As in this case where `lxc move` encounters the security bit.

[2020-10-22 15:20] stgraber commented on #8075
The fact that move is implemented as copy+delete is an implementation detail. As far as the user is concerned, the data was moved and therefore never deleted, so the deletion protection should not kick in.

We actually have alternative APIs that get used during move in some environments which already will not fail because of this config option (as they don't call the delete API), so this change wi

[2020-10-22 15:40] #8075 closed

[2020-10-22 22:35] stgraber commented on #8004
Ah, forgot to close this one, lxc-to-lxd now fully runs from within the snap so this shouldn't be an issue anymore.

[2020-10-22 22:35] #8004 closed

[2020-10-22 22:36] stgraber commented on #7910
@badsmoke any update on this?

[2020-10-22 22:37] stgraber commented on #7852
Closing for inactivity.

[2020-10-22 22:37] #7852 closed

[2020-10-22 22:38] stgraber commented on #7857
Closing for inactivity and because we've pushed a tentative fix (and haven't gotten similar reports).

[2020-10-22 22:38] #7857 closed

[2020-10-23 11:07] badsmoke commented on #7910
I'm in the process of setting up an equivalent server, so I'll check the next weeks if it works the same way (the old server worked the first time too).

I will then contact you again

[2020-10-23 13:12] raginigupta6 commented on #3670
Hi, can we do stress testing using Apache bench on LXD containers?

[2020-10-23 14:49] stgraber commented on #3670
They're normal Linux systems so if you're running a web server in a container, sure, you can run ab2 against it.

[2020-10-24 16:16] komish commented on #7946
Sorry for the delay in any kind of update, I've been a bit short on time. I know this is listed as a Hacktoberfest issue but if it's alright with the project, I'll likely find more time to make progress on this after the event ends.

[2020-10-24 17:59] stgraber commented on #7946
Yep, that's fine with us :)

[2020-10-26 11:02] freeekanayaka commented on #8020
I can reproduce the startup issue, unfortunately that's not enough to understand how we got to that state in the first place. I was hoping that following more or less the same procedure you could come up with a reproducer.

[2020-10-27 07:50] Saviq opened #8081 "Create failed due to datasetd dependent on the image snapshot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * [The output of "lxc info"](https://github.com/lxc/lxd/files/5443624/lxc_info.txt)

# Issue description

Instances fail to launch when a `zfs destroy` fails. This is likely some corruption in my LXD+ZFS's state, but maybe there is something that can be done about it?

[code]

I have, since, resolved this by removing t

[2020-10-27 12:19] diegomontoya opened #8082 "lxc copy (remote) issue due to rsync"
**EDITED: Unrelated to parallel copy. Further tests shows a single lxc copy from remote A to B (local 10G network) can trigger this. Please use the latest posts as guide for this issue. The original msg below is no longer valid.**

All servers are running on non debug version of snapd lxd 4.7 on Ubuntu 20.04/5.9.1 mainline kernel.

First I don't know if this is unique to my config or something tha

[2020-10-27 12:25] diegomontoya commented on #8020
I have a gut feeling the new issue, also caused by concurrent lxc copy, is related. https://github.com/lxc/lxd/issues/8082 The new issue is a more extreme example of concurrent lxc copy where 1 Source server is doing N copies to M servers, all concurrently.

[2020-10-27 12:39] stgraber commented on #8081
Did those two dependent VMs actually exist in LXD?

If so, destroy shouldn't have been called, instead LXD should have performed a rename.

The fact that this is happening during a new instance creation is odd too.

[2020-10-27 16:58] tomponline commented on #8071
@stgraber have confirmed using `dir` backend that a similar issue still exists in main branch.

[code]

Will work on a fix (re-writing backup.yaml when renaming).

[2020-10-27 18:41] diegomontoya opened #8084 "Wrong path shown in lxc rename error message"
Ubuntu 20.04/Snap LXD 4.7

[code]

The issue is not about the error but the paths shown in the error which doesn't exist.

I have two storage enabled for lxd, ```default1``` and ```default2```. Both are simple ext4 dirfs mounted to two different hard drives.

[code]

The error is that the ```default2``` storage somehow contains a "db" container which doesn't exists. I have confirmed the empty dire

[2020-10-27 18:42] #8071 closed

[2020-10-27 18:43] stgraber commented on #8084
The path in the error is absolutely correct from LXD's point of view.
You can take a peak at what LXD sees through `/var/snap/lxd/common/mntns`.

[2020-10-27 18:43] #8084 closed

[2020-10-27 18:45] stgraber commented on #8084
In short, LXD runs in a mount namespace, letting it mount things as it pleases without messing up what you see on your host system. With your configuration, LXD will have bind-mounted /raid0/lxd-data1 onto /var/snap/lxd/common/lxd/storage-pools/default and same for default2 and it then operates under those bind-mounts.

This allows for LXD to never actually do anything outside of /var/snap/lxd/com

[2020-10-27 19:00] nodens opened #8085 "github.com/CanonicalLtd/candidclient is archived and no longer maintained - please switch to github.com/canonical/candid"
# Required information

 * Distribution: Debian
 * Distribution version: unstable
   * LXD version: 4.0.x

# Issue description
I recently resumed working on the packaging of LXD stable in Debian. That's now possible because the libco/dqlite issue (local fork needing patch) is now solved, thanks for that :)

The first step is to package the many Go library that aren't yet in Debian.

Among them, gi

[2020-10-27 19:03] nodens commented on #8085
PS: I'd really appreciate if such a change was pushed to the stable-4.0 branch, as that's the on I intend to package ;)

[2020-10-27 19:21] diegomontoya commented on #8084
@stgraber Thanks for the detailed explanation. Now everything is clear. The path shown in errors are not host paths but paths within the roofs used by LXD with is by design an isolation feature from external OS/host.

[2020-10-27 20:33] stgraber commented on #8085
Ah yeah, I didn't notice that they moved it over, we'll definitely update that and it will make it to stable-4.0.

[2020-10-27 22:03] nodens commented on #8085
Thanks!

[2020-10-27 22:06] #8085 closed

[2020-10-27 22:27] IngCr3at1on commented on #8012
The more I look at this it doesn't seem particularly straight forward or easy (as the issue itself implies) to me, there are several cases where I can see that we would want to return a user value from Authenticate (instead of an empty string) but getting the data for that doesn't really seem directly possible in several of these:

[code]
"Internal cluster traffic" to me makes it sound like it's n

[2020-10-27 23:05] stgraber commented on #8012
[code]

[2020-10-28 08:10] Saviq commented on #8081
Not at the time of the error.

Indeed…

[2020-10-28 13:34] #7369 closed

[2020-10-28 13:51] #8012 closed

[2020-10-28 16:49] stgraber commented on #8081
Ok, so the real issue would be why we had leftover datasets in this case more than the error afterwards.

I looked over that logic yesterday and we do re-create the dataset (and hit the codepath above) if we need to create a VM with a root disk smaller than what was done the last time around. The logic will perform a rename if we know it's still in use, though in your case, this failed due to thos

[2020-10-28 16:49] #8081 closed

[2020-10-28 19:36] stgraber commented on #7910
Ok, closing this as there's nothing we can action at this stage. Feel free to commit in there and we'll re-open as needed.

[2020-10-28 19:36] #7910 closed

[2020-10-28 20:58] stgraber commented on #7630
I've made a bit of progress on this trying to track down goroutines and potentially associated memory and network connections.
I don't have a system with such a bad case of it but I'm looking at what number of goroutines I have here.

[2020-10-28 23:11] stgraber commented on #7630
I've sent fixes for a few issues I've tracked down. There seems to be a much larger issue around dqlite leaking goroutines and likely keeping connections active. I provided the details to that to @freeekanayaka who can hopefully shed some light on it.

@mt-caret if you can identify a server with what looks like more connections than normal, can you do:
 - lxc config set core.debug_address 127.0.0.

[2020-10-29 11:43] gf-mse opened #8096 "Feature request -- extend zfs.clone_copy functionality to allow a rebase"
# Required information

 * Distribution: (X)Ubuntu
 * Distribution version: 18.04 Desktop
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-117-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: ZFS

# Summary

In essence, `zfs.clone_copy = false` causes a full send. Instead, it may make sense to base the new container on the same base imag

[2020-10-29 11:50] gf-mse opened #8097 "Feature request -- create a command-line option for zfs.clone_copy"
# Required information

 * Distribution: (X)Ubuntu
 * Distribution version: 18.04 Desktop
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-117-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: ZFS

# Feature request

Would be nice to have a command-line option, something like
[code]

To do the same thing as below atomically:
[code]

The r

[2020-10-29 20:27] #8065 closed

[2020-10-31 05:54] mt-caret commented on #7630
I've since moved jobs and countries; adding to the discussion the people currently responsible for the lxd cluster @190ikp @nkpoid

[2020-10-31 12:14] srkunze opened #8105 "bash completion for lxd-client works for root but not for other users"
Not exactly sure if that is an issue for the LXD package but I guess it's a starting point.

Using:
- Ubuntu 20.04 (set up on 26.10.2020)
- latest LXD using snap (set up on 30.10.2020)
- .bashrc and .profile used from /etc/skel/

Bash completion works for root out of the box. Other users however do not enjoy it. Something to consider here?

[2020-10-31 12:51] balajeerc opened #8106 "Unable to start lxd daemon: "Error creating database""
I am trying to run lxd on admittedly unconventional hardware. This is basically an old Android Moto G5S Plus that I had lying around.

lxd is being run within a chroot environment with `Arch Linux armhf` build.

This kernel does not support `cgroups`, does not have support for user namespaces.

When running lxd daemon, I run into an error talking about missing database.

Output from `lxd` when sta

[2020-10-31 14:27] #8096 closed

[2020-10-31 15:12] stgraber commented on #8105
[code]

[2020-10-31 17:13] stgraber commented on #8106
Can you run lxd under "strace -f" to see exactly what it's doing?

[2020-10-31 21:37] srkunze opened #8107 "missing /boot/config-5.4.0-52-generic in container"
Using the following versions in Ubuntu 20.04 (fresh install) and installing Kubernetes in a LXD container, I found
`/boot/config-5.4.0-52-generic` to be missing.

[code]

Current work-around:
[code]

[2020-11-01 01:43] diegomontoya commented on #8082
We have isolated the issue to Rsync and we can also reproduce this issue 100% of the time without doing any parallel lxc copy. A single lxc copy from Server A to Server B will suffice. When copying a DIRFS based 330GB instance from A to B, the following error will always present itself at round 58GB mark. The copy speed, before failure, was around 2.2Gbp/s.

[code]

Both Server A and B have same s

[2020-11-01 02:15] diegomontoya commented on #8082
@stgraber

Below the is the debug log of an error run on Rat1 doing a remote copy from Rat1 of the "db-general-all" instance.

Server Rat1: 8.8.8.8 (wan ip), 10.0.1.131 (lan ip2), 10.0.5.1 (lxdbr0)
Server Rat2: 8.8.8.7 (wan ip), 10.0.1.132 (lan ip2), 10.0.5.1 (lxdbr0)

I obfuscated the real WAN IP and used the 8.8.8.1/24 range as replacement in the logs.

Rat 1 and 2 are hardware, software, lxd in

[2020-11-01 02:34] diegomontoya commented on #8082
Changed

From
[code]

To
[code]

Re-ran the above ```lxc copy 10.0.1.131:db-general-all db-general-all -s default1 --debug --verbose```.  All the strange non-10.0.1.X ip operations are gone but the core issue of rsync failed still not resolved.

[code]

[2020-11-01 02:52] diegomontoya commented on #8082
Add 100MB/s bwlimit to both Rat1/2 storage and repeated lxc copy and still same error. Confirmed via network tools and ps that the bwlimit was taking effect. So not related to network speed.

[2020-11-01 03:57] #8107 closed

[2020-11-01 03:58] stgraber commented on #8107
This file ships with the kernel packages, containers don't run kernels and therefore do not have the package installed.
So this is really expected behavior.

Whatever software thinks it needs this is likely flawed in some way. A workaround like the one you used will only work until the next update of the host kernel.

[2020-11-01 04:13] balajeerc commented on #8106
@stgraber Thanks for responding.

Attaching the output from `strace -f lxd --debug > /tmp/strace_lxd.txt 2>&1`:

[strace_lxd.txt](https://github.com/lxc/lxd/files/5470184/strace_lxd.txt)

[2020-11-01 04:29] diegomontoya commented on #8082
Update. There is a 99% chance the above errors are caused by a bad NIC/sfp/cable. Once confirmed, we will close this issue. Sigh. We are still trying to find out how it is possible for a NIC issue to not log any packet drops/errors/etc.

[2020-11-01 11:34] srkunze commented on #8107
Alright, thanks for that clarification and good point regarding the update of the host kernel.

I will raise this issue then to kubernetes to make them aware of it.

[2020-11-01 12:29] diegomontoya commented on #8082
Back full circle. Rat1 NIC issue resolved and it did not affect the error of rsync during lxd copy. So unrelated to any NIC issues. The NIC was switching from 1g to 10g speed during port on/off operations.

We have used ```iperf``` to test bidirectional data transfer from Server Rat1 to Rat2 without error.

The original error condition still stands and rsync is still back on the bullseye for this

[2020-11-01 12:35] diegomontoya commented on #8082
@stgraber What is the best way for me to test alternate version of rsync? The bundled rsync with snap lxd is 3.1.2. I want to replace the rsync to the latest 3.2.x release to see if it fixes my problems.

[2020-11-01 19:54] stgraber commented on #8106
What do you have in `/var/lib/lxd/`?

The error suggests that `/var/lib/lxd/database` doesn't exist somehow.

[2020-11-02 01:53] balajeerc commented on #8106
`/var/lib/lxd` seems to have a series of subdirectories, one of which is indeed `database` but that subdirectory seems to be empty.

[code]

[2020-11-02 01:56] stgraber commented on #8106
Ok, that's pretty weird. Your strace shows an open of /var/lib/lxd/database/local.db with O_CREAT which fails suggesting the parent directory doesn't exist...

What does `touch /var/lib/lxd/database/local.db` get you?

[2020-11-02 01:59] balajeerc commented on #8106
Just works:

[code]

[2020-11-02 02:07] balajeerc commented on #8106
From skimming through the code in `lxd/db/db.go::OpenNode` function where this error seems to be originating from, I can see that it's SQLITE libraries that the function attempts to create.

If this is useful in anyway: I am able to confirm that sqlite3 is indeed installed and am able to create SQLITE files using the command-line `sqlite3` tool, create tables etc.

[2020-11-02 02:08] stgraber commented on #8106
How does it behave now that the file exists (albeit empty)?

[2020-11-02 02:19] balajeerc commented on #8106
Tried running it again with the empty file already present:

[code]

[2020-11-02 02:42] stgraber commented on #8106
Can you show the output of `env`?

[2020-11-02 02:45] balajeerc commented on #8106
[code]

P.S: Thanks so much for taking the time out to help with quick replies. Much appreciated.

[2020-11-02 21:29] stgraber commented on #8106
The error really makes no sense, the directory exists and file creation should succeed but the kernel says it didn't...

Can you maybe try mounting a tmpfs on `/var/lib/lxd` to see if it's the underlying filesystem causing issues somehow?
`mount -t tmpfs tmpfs /var/lib/lxd` then try starting LXD again?

[2020-11-03 01:49] waldekkot opened #8111 "mistake in dir storage pool creation can easily corrupt the LXD global database"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
config:
  cluster.https_address: 192.168.100.131:8443
  core.https_address: 192.168.100.131:8443
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
-

[2020-11-03 02:41] stgraber commented on #8111
@tomponline assigning to you, let's try to fix this soon.
I think the cleanest way to fix this would be to track the state on a per-node basis by adding a state column to both:
 - storage_pools_nodes
 - networks_nodes

Then when a node is notified to create the pool or network, it would attempt to do it, if it fails, it returns an error.
If it succeeds, it updates its state in the database from pe

[2020-11-03 03:32] balajeerc commented on #8106
Results are identical to previous runs:

[code]

[2020-11-03 03:51] stgraber commented on #8106
Try:
 - echo ".save/var/lib/lxd/database/local.db" | sqlite3
 - ls -lh /var/lib/lxd/database/
 - lxd --debug --group lxd

[2020-11-03 03:52] stgraber commented on #8106
If that still doesn't work, I think we're going to be blaming the kernel because we're clearly issuing a syscall which should work and the kernel is giving us a nonsensical answer based on what you're showing.

[2020-11-03 03:53] stgraber commented on #8106
Maybe look in `dmesg` for any weird kernel error. Sadly Android kernels do tend to be heavily modified by the manufacturers and already customized by Google with some unusual behaviors added for security reasons, so who knows what's really happening here.

[2020-11-03 08:58] #7875 closed

[2020-11-03 09:16] vvolas opened #8112 "lxd cluster, copying windows vm from ceph to local btrfs gives Error: You cannot shrink block volumes: Cannot be shrunk."
LXD 4.0.3 ubuntu18

I even tried to increase vm size by 5GB before copying in w10-dev-terminal but it failed again.
devices:
  root:
    path: /
    pool: ceph-lxd
    size: 65GB
    type: disk

lxc copy --debug w10-dev-terminal w10-dev-terminal-ssd --instance-only --target paralel-linux -p default -s ssd

lxc monitor output
[code]

[2020-11-03 12:09] badsmoke opened #8113 "vm copy to remote not working"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
config:
  cluster.https_address: 192.168.1.50:8443
  core.https_address: '[::]'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_us

[2020-11-03 13:02] tomponline commented on #8113
Looks similar to https://discuss.linuxcontainers.org/t/copying-vm-snapshot-to-other-host-not-working-attempts-to-create-a-container/9363

[2020-11-03 13:05] tomponline opened #8114 "Allow creation of instance with root disk size smaller than pool's default volume size"
We need to detect when the size of the volume created by `EnsureImage()` is larger than the instance profile's root disk size and in scenarios where the instance volume cannot be shrunk create a fresh volume and unpack image directly into it rather than using cached image volume snapshot.

Reproducer:
[code]

[2020-11-03 13:42] tomponline commented on #8114
@stgraber I've been working on this today. The issue as I see it is that `CreateInstanceFromImage()` currently conflating its responsibilities with `EnsureImage()` which makes for some difficult logic to follow.

Instead I am planning to modify `EnsureImage()` (which is called already from `CreateInstanceFromImage()`) to call `SetVolumeQuota` with the pool's current `volume.size` or default block

[2020-11-03 16:06] tomponline commented on #8113
@badsmoke what error message do you get?

[2020-11-03 16:11] tomponline commented on #8113
@badsmoke also what storage pool type is the source and destinationn?

[2020-11-04 11:22] vvolas commented on #8112
OK i managed to copy, but this was from differenct cluster member(i moved instance before).

Issue was reported from same cluster member to different storage pool.

I honestly have no idea what or why it happened.

[2020-11-04 11:36] tomponline commented on #8112
@vvolas I will be looking into this soon.

[2020-11-05 02:45] #8114 closed

[2020-11-05 08:30] mullumaus opened #8117 "Requested image's type 'virtual-machine' doesn't match instance type 'container'"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
api_status: stable
api_version: "1.0"
auth: trusted
public: false
auth_methods:
- tls
environment:
  addresses: []
  architectures:
  - x86_64
  - i686
  certificate: |
    -----BEGIN CERTIFICATE-----
    MIICADCCAYegAwIBAgIRAJY/Om1FMKn+PVgq2twn41YwCgYIKoZIzj0EAwMwMzEc
    M

[2020-11-05 11:18] stgraber commented on #8117
Can you do:
 - snap set lxd daemon.debug=true
 - systemctl reload snap.lxd.daemon

Then repeat what you were doing and after you hit the error, send us `/var/snap/lxd/common/lxd/logs/lxd.log`?
This should get us the full REST call done by Juju so we can see exactly what was requested.

[2020-11-05 13:38] waldekkot opened #8119 "Loop-backed ZFS storage pool creation fails with error about minimum size (64M)"
# Issue description

Hi,
This looks like a small bug, but I am not 100% sure and might have overlooked something.

Using LXD 4.7 on Ubuntu 20.10, I am trying to create a new loop-based ZFS storage pool, but I am getting error about "the minimum size (64M)" of ZFS pool, which I guess should not happen...Seems like the default minimum for the ZFS pool size in LXD is set too low. Have not verified it

[2020-11-05 13:39] waldekkot commented on #8111
BTW: the same (original) issue also happens with ZFS storage pools, i.e. not just "dir" ones

[2020-11-05 13:47] stgraber commented on #8119
This suggests that one of your systems may have been low on disk space. Resulting in a default size lower than 64MB.

[2020-11-05 13:57] waldekkot commented on #8119
That was my initial thinking too, but checked and df shows a ~5 GB available. Also, in the scenario above I was able to create the temp 2GB file for ZFS pool with truncate without any problems. Just to be 100% on the safe side, I also checked if this works: dd if=/dev/urandom of=test.bin bs=500MB count=1 **on each node** and seems to be fine...

waldek@lxd-host-03:~$ ls -l
total 32780
drwxrwxr-x 2

[2020-11-05 14:09] waldekkot commented on #8119
That was my initial thinking too, but checked and df shows ~5GB avail. Also, in the scenario above, I was able to create the temp file of 2 GB with truncate. Also, no problem with dd-ing a large file on every node as below (my LXD nodes are actually VMs on a laptop, so double checked if the host and guests have free disk space too, but it all seems to be fine...):

[2020-11-05 17:13] waldekkot commented on #8119
I have just done another quick test. Created a fresh new cluster (like before, 3 nodes) and a 4th LXD node, which is **not** part of any cluster. The error about the minimum size appears only when doing "lxc storage create X zfs" on the LXD cluster. For the standalone node the pool creation works fine.

Could the default be set differently for cluster and non-cluster nodes ?

[2020-11-05 17:57] stgraber commented on #8119
I'll take a look at this one. Normally the `size` property which is node-specific should be calculated in `storagePoolFillDefault` by looking at the free space in /var/snap/lxd/common/lxd/disks but this should have a 5GB lower size, in your case it suggests something is effectively passing 0 through.

[2020-11-05 17:58] stgraber commented on #8119
Can you try manually passing size=15GB or whatever size to each of the targeted creates?

[2020-11-05 18:16] waldekkot commented on #8119
Yes, passing the size attribute works fine for the cluster.
And confirming that the size of the img file in /var/snap/lxd/common/lxd/disks/myzfspool.img is indeed 0 if the size attribute is not passed.

[2020-11-05 19:10] kautMaks opened #8122 "Warnings with lxc exec in non-interactive mode"
# Required information

* Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version: 4.0.4
   * LXD version: 4.7
   * Storage backend in use: dir

# Issue description

There are warnings in lxd container's log, while performing lxc exec in non-interactive mode:
[code]

This pack of warnings appears for every lxc exec wit

[2020-11-05 23:08] mullumaus commented on #8117
thanks, I have set the config for lxd. The issue happens occasionally, I will upload the log when I see it again.

[2020-11-06 04:39] diegomontoya commented on #8082
@stgraber @tomponline  Please help guide me on how to replace the snap lxd packaged rsync 3.1.2  I believe tha latest 3.2 rsync may provide more clues and help me fru so I can isolate and fix this bug. I gave 12x (2 different models/makers) servers which all exhibit this issue so not related to hardware/nic and I can reproduce it 100%. Thus far I have isolated to rsync as best source of bug and I

[2020-11-07 15:01] waldekkot opened #8128 "lxc list should return 'project' as one of the pre-defined columns"
# Issue description

There seems to be a small usability issue with lxc list... I started playing with LXD projects and just wanted to list all currently running instances in my LXD cluster and see to which project they have been assigned. I can see instances per project (using the lxc list's global flag: _--project_, but I need to specify the exact project name to get back the instances' info. I

[2020-11-07 16:11] #8128 closed

[2020-11-07 16:11] stgraber commented on #8128
We already have an issue to add a way to list instances from all projects.

[2020-11-07 16:38] waldekkot commented on #8128
Thanks ! Issue #7559 - I should have checked that before. I have not been referring to just listing of instances from all projects, but in general that the `lxc list -c` should allow specifying "project" as a column (so, in a sense would be consistent with other options, esp. lxc list -c L), but hope #7559 solves this too :-)

[2020-11-07 19:22] stgraber commented on #8128
Well, `lxc list` only shows things from your current project, so right now such a column would be pointless.
Once we add an API to query across projects, then the column will make sense.

[2020-11-07 21:23] 7kilobytes opened #8129 "Unable to redirect output to /dev/stdout."
# Required information

 * Distribution: Ubuntu Bionic
 * Distribution version: 18.04.5 LTS
 * The output of "lxc info":
[code]
   * Kernel version: 5.4.0-47-generic
   * LXC version: 3.0.3
   * LXD version: 3.0.3
   * Storage backend in use: ZFS

# Issue description

Unable to redirect printed symbols to /dev/stdout.
Here is the output:
[code]
However:
[code]
I could you this as workaround, but I

[2020-11-07 22:14] stgraber commented on #8129
This isn't a LXD bug. The exact same behavior can be observed over ssh:
[code]

Maybe there is some kind of sudo option to have sudo change the ownership of the pts device, but it's clearly not doing it out of the box. LXD behaves exactly like SSH in this regard, so we're going to consider our behavior to be correct.

[2020-11-07 22:14] #8129 closed

[2020-11-07 22:25] 7kilobytes commented on #8129
Hi, @stgraber
If I login to the container over ssh it works correctly.
[code]

[2020-11-08 00:35] stgraber commented on #8129
That's not the same. What I was saying is that if you ssh as root to any Linux system (in my example above a physical server) and then sudo to a regular user, this user will not be allowed to write to /dev/stdout

So this behavior is not LXD specific and so seems correct.

[2020-11-09 02:36] diegomontoya commented on #8082
Closing issue. Underlying issue caused.

1) There is hidden issue with the linux bonding module which bonded 2x 10G NIC (even though 1x is in-active).
2) The bonding caused unreported (zero error in linux reporting regarding packet loss/error/overflow) packet loss
3) due to the mysterious issue, any tcp transmission scp/rsync that transmits large files at any data rate will stall at a random point

[2020-11-09 02:36] #8082 closed

[2020-11-09 02:55] stgraber commented on #8082
Oh wow, that's a weird one!

[2020-11-09 04:58] balajeerc commented on #8106
Sorry for the delayed response.

Here's the output you asked for:

[code]

Whenever I try to run `lxd --debug` the following are the `dmesg` logs I see:

[code]

[2020-11-10 13:54] florian-bellencontre opened #8137 "lxc start container: filesystem already mounted"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04.5 LTS
 * The output of "lxc info" or if that fails:
[code]

# Issue description

[code]

# Steps to reproduce

 1. start the container
 2. failed to start

# Information to attach

 - [ ] Any relevant kernel output (`dmesg`)
[code]

 - [ ] Container log (`lxc info NAME --show-log`)
[code]
 - [ ] Container configu

[2020-11-10 23:09] stgraber commented on #8137
Looks like snap misbehaving, will re-assign.

Can you show `/proc/125320/mountinfo` or similar output from any of the other hits?

[2020-11-11 01:30] diegomontoya opened #8141 "lxc copy error can result in invalid container on dst due to security.protection.delete flag"
Ubuntu 20.04, snap lxd 4.7

Server A and Server B are identical in terms of hardware, os and software.

1) Containers storage are using DIRFS
2) Src container profile and dst profile have ```security.protection.delete``` set to true.
3) ServerB: ```lxc copy ServerAIp:c1 c1```
4) after a few seconds of copy over tcp, rsync fails for whatever reason
5) ServerB now attempts cleanup due to failed lxc

[2020-11-11 02:15] stgraber commented on #8141
I remember observing that before and it unfortunately not being trivial to resolve but I'll take another look :)

[2020-11-11 14:13] #8119 closed

[2020-11-11 19:29] turtle0x1 opened #8143 "API memory doesn't match "free""
Im not sure if this is an LXD issue or me miss understanding the API but;

LXD Version: 4.7 snap

if you run
[code]

or

[code]

then you do

[code]

You can see the values dont match

[2020-11-11 19:41] stgraber commented on #8143
LXD reports the raw cgroup memory usage (`memory.usage_in_bytes` on V1 or `memory.current` on V2).

`free` reports used memory as being used-buffer. In your output above, if you add up the 50MB of buffers with your 130MB of used space, you do get to the cgroup memory consumption of 180MB with the only part left in the difference being MB vs MiB.

LXCFS has a bunch of logic to generate a full `memi

[2020-11-11 19:41] #8143 closed

[2020-11-11 21:01] stgraber commented on #8113
No response and pretty good chance that we've since resolved this issue with the recent storage changes.
Please test 4.8 once it's around, if it still doesn't work, we'll sort it out.

[2020-11-11 21:01] #8113 closed

[2020-11-11 21:02] stgraber commented on #8112
@tomponline any idea what this may have been?

[2020-11-11 21:03] stgraber commented on #8020
What's the status on this one?
I believe that other issue ended up being network related?

[2020-11-11 21:03] tomponline commented on #8112
@stgraber this is in my backlog to look at

[2020-11-11 21:06] stgraber commented on #8106
Hmm, I'm really not sure what else may be going on there, this is pretty weird.
Honestly short of having access to that system to poke around, I'm not sure that I'll be of much help.

This very much feels like a kernel issue of some kind but maybe there's some way to trick it into working anyway.

I'm closing this issue just because I don't believe there's an actual LXD bug here, it's far more lik

[2020-11-11 21:06] #8106 closed

[2020-11-11 21:31] tomponline commented on #8112
@stgraber have recreated in 4.0-stable and master.

[2020-11-11 21:37] tomponline commented on #8112
@stgraber looks like a rounding issue potentially between the device's config of "5GB" and the actual byte size of the volume sent and created from the migration header. The latter is larger than the former in some cases and when the former is applied in `instanceConfigureInternal` it tries to shrink the volume.

[2020-11-12 03:35] balajeerc commented on #8106
@stgraber Nevertheless, thanks for taking the time to debug this with me.

If you would like ssh access to this device to poke around, I can make that happen via an ssh tunnel perhaps. Please let me know if you'd like that.

[2020-11-12 03:57] #8112 closed

[2020-11-12 03:58] stgraber commented on #8106
Yeah, that'd be interesting.

https://github.com/stgraber.keys has my current SSH key.

[2020-11-12 05:22] balajeerc commented on #8106
@stgraber I've added your key.

You should be able to access the device via: `ssh android@2.tcp.ngrok.io -p 18064`

[2020-11-12 08:14] freeekanayaka commented on #8020
Do we have a reproducer?

[2020-11-12 10:38] paride opened #8148 "lxd launch --vm should wait for lxd-agent to be ready before returning"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.04 (devel)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-25-generic
   * LXC version: 4.7
   * LXD version: 4.7
   * Storage backend in use: zfs

# Issue description

Currently when `lxd launch --vm` returns there's not guarantee that the VM is already reachable via `lxd-agent`. When using LXD in

[2020-11-12 13:06] stgraber commented on #8148
This is not really any different than waiting for networking or cloud init to complete with containers.

Not all VM images will have the agent running either and more importantly, LXD has no idea when the agent is ready.

The agent responding and then going away in your case is most likely because the VM rebooted to do a clean cloud-init run.

I'll take a quick look at that part of the logic as we

[2020-11-12 13:14] tomponline commented on #8148
@stgraber could we add something to the `lxc info <vm>` command showing that we have an lxd-agent connection?

[2020-11-12 13:27] paride commented on #8148
@stgraber one difference with waiting for network/cloud-init is that in those cases it's easy to wait for them:
[code]
What would you think of a `lxc launch --wait` flag that *makes documented assumptions* on the container/vm (like: has systemd, has lxd-agent, ...)

[2020-11-12 14:47] stgraber commented on #8148
@tomponline we already have that to some extent, PID is -1 until we have an agent.

@paride as I said, LXD has absolutely no idea when the agent is ready and with instances like Windows, MAAS, ... it actually never will be. Having LXD keep poking those instances indefinitely would be a waste of time and resources.

Having to wait for something to respond is a pretty normal thing to do when interac

[2020-11-12 16:24] #8148 closed

[2020-11-12 17:21] florian-bellencontre opened #8150 "lxc restore snapshot stuck"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.5 LTS
 * The output of "lxc info" or if that fails:
[code]

# Issue description

When I made my snapshot and tried to restore it, it was stuck for more than 5 minutes. I stopped the process by performing a CTRL + C.

I then tried to start my container but it was also stuck for several minutes.

# Steps to reproduce

1.

[2020-11-12 17:23] stgraber commented on #8150
Can you show the output of `dmesg`?

This very much sounds like a kernel issue.

[2020-11-12 17:50] florian-bellencontre commented on #8150
dmesg log:
[code]

[2020-11-12 17:50] stgraber commented on #8106
@balajeerc SSH is prompting me for a password, so that suggests that my key isn't being considered for authentication

[2020-11-12 17:50] stgraber commented on #8150
Ok, that's all fine, can you show `ps fauxww`?

[2020-11-13 03:16] balajeerc commented on #8106
@stgraber So sorry about that. There was a typo in `authorized_keys`. I have corrected it and rechecked your key. You should be able to login now.

[2020-11-13 04:25] stgraber commented on #8106
Ok, so I think I figured it out.

Basically the issue is the chroot environment. LXD does some mount namespace manipulations during startup which effectively results in it seeing the host mount namespace rather than your chroot, causing the weird failure to locate files.

I think this could be avoided if you had PID namespace support on your kernel as the current chroot could be made more solid an

[2020-11-13 04:54] balajeerc commented on #8106
Yes, building a custom kernel is what I realised would be the way to go as well.

Thanks again for debugging this.

[2020-11-13 09:08] florian-bellencontre commented on #8150
Unfortunately, it's very very long to look at the ps output and anonymize everything, there are critical production data so I can't give you the output since I may miss something. If you can narrow down what you need, I'll can give you a more succinct extract.

[2020-11-13 12:34] monkz opened #8152 "Feature Request: Manual/OnChange trigger for metadata.yaml template creation/rerendering"
# Problem description

As of LXD 4.8 there are only 3 options when to trigger a render for a template. [copy,start,create]
If the configuration of a container changes, while it is running no change is applied.
This results in inconsistencies if the template mechanismn is used for cloud-init.
(Like in the "ubuntu:" containers. A change is only applied there if the container is created or copied.)

[2020-11-13 13:34] stgraber commented on #8150
I'm looking for any "zfs" process running in there.

[2020-11-13 14:20] florian-bellencontre commented on #8150
The only zfs process I can find is this one:
[code]

[2020-11-13 14:50] stgraber commented on #8150
Thanks, this is a kernel bug then.

[2020-11-13 14:50] #8150 closed

[2020-11-13 14:52] stgraber commented on #8150
In the above output, you can see LXD running `zfs mount ...`, this calls `/bin/mount` which is then getting stuck in I/O wait (D state). This denotes being stuck on a kernel operation usually.

You can look at /proc/2346/stack for example to get a better idea of exactly what it's stuck on.

Unfortunately there's nothing LXD can do in such cases. Those processes are unkillable and may only ever ret

[2020-11-13 15:23] stgraber commented on #8152
There is a way to manually re-run the templates, it's the `volatile.apply_template` key which is processed on the next instance start. Doing `lxc config set blah volatile.apply_template create` will re-run all templates that use the `create` trigger.

`on-change` would certainly be great to have, but we have no idea what variable a template may use. All LXD does is expose a bunch of context to the

[2020-11-13 15:23] #8152 closed

[2020-11-14 15:03] dngray opened #8159 "Crash lxc exec bash with LXD 4.8 on musl"
# Required information

 * Distribution: Alpine Linux 3.12.1
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.43-1-lts
   * LXC version: 4.8
   * LXD version: 4.8
   * Storage backend in use: zfs

# Issue description

It would appear `lxc exec <container> bash` causes this fatal error. I'm guessing it's something to do with musl.

# Steps to reproduce

[2020-11-14 15:41] stgraber commented on #8159
@brauner any idea?

[2020-11-14 16:15] stgraber commented on #8159
@dngray can you post the `lxc info` output?

I can see how this could happen if you have a LXD built against liblxc 4.0.5 but are running on a system with liblxc 4.0.4 or lower.

[2020-11-14 18:16] dngray commented on #8159
Hmm, I think you might be right

[code]

[2020-11-14 18:54] dngray commented on #8159
I bumped lxc-libs up to 4.0.5 and upgraded my system to latest bleeding edge, and it appears to have solved it.

I guess i should now recompile a later version of lxc/lxc-libs for this. It would appear 4.0.2 is too old.

[2020-11-14 21:08] mattdombrowski21 commented on #7867
@tomponline sorry for the late response, just now getting to this. We had a separate project that we had to finish before going on to this, but my group and I are ready to start working on this issue. Thanks

[2020-11-15 04:47] #8159 closed

[2020-11-15 06:57] abitrolly commented on #6087
Is it possible to still show the headers in verbose mode?

[2020-11-15 21:12] monkz commented on #8152
Thank you

[2020-11-16 18:18] tomponline commented on #7867
@mattdombrowski21 Great! Searching the code base for `"apply_quota"` will be a good starting point to see how the current logic works today.

You will then see that if the `size` property of a disk gets updated on a running instance, the `d.applyQuota` function can return an error of type `storagePools.ErrRunningQuotaResizeNotSupported`. In this situation, the storage driver is indicating to LXD t

[2020-11-16 21:58] scubashan opened #8162 "LXD trying to set MAC to 00:00:00:00:00:00 when using SR-IOV"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:# lxc info
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
  images.auto_update_interval: "0"
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_

[2020-11-17 00:17] scubashan commented on #8162
Same result after upgrading from 4.0/stable/ubuntu-20.04 to 4.8/stable

[2020-11-17 03:15] stgraber commented on #8162
That's the normal way to clear any MAC restriction on the VF.

[code]

How do you clear the MAC restriction on your card so that all MACs can once again be used without hardware filtering?

[2020-11-17 03:27] scubashan commented on #8162
Unsure...

# ip link set dev eno1 vf 0 mac 00:00:00:00:00:00
RTNETLINK answers: Invalid argument
# ip link set dev eno1 vf 0 mac 00:00:00:00:00:01
#

Its the bnx2x driver.

[2020-11-17 03:40] stgraber commented on #8162
@tomponline

[2020-11-17 10:10] tomponline commented on #7867
This forum post (https://discuss.linuxcontainers.org/t/live-storage-volume-resize-error/9494) references this card as the new volume in-use detection added in LXD 4.8 is (correctly - as it currently stands anyway) preventing in-use custom volumes from being resize. However we should allow online growth for lvm/ceph custom filesystem volumes when in-use the same as we want to do for container volum

[2020-11-17 14:59] waldekkot commented on #8119
I confirm the issue has been resolved in LXD 4.8. Thanks guys :-)

[2020-11-17 16:44] matthewa150 commented on #7949
I'd like to try and implement this if it's still available.

[2020-11-17 16:47] tomponline commented on #8162
@stgraber I suppose we could try and reset it and if it fails ignore the error, that way problematic devices like this one can still work.

As we only go onto set it to the static or volatile MAC after that anyway, its just that IIRC some devices required it be reset first before setting a new one.

[2020-11-17 17:05] stgraber commented on #7949
Yep, definitely still available. Assigned it to you.

@tomponline should be able to give you more details on what's needed here.

[2020-11-17 17:14] tomponline commented on #7867
@stgraber whilst working on https://github.com/lxc/lxd/pull/8163 to allow profile changes to disk size to be asynchronously applied to VMs it has also highlighted how the driver level `RunningQuotaResize` property is too coarse to be able to accurately represent the different scenarios and restrictions we have today.

My feeling on this is that we should remove the `RunningQuotaResize` field entir

[2020-11-17 17:22] tomponline commented on #7949
I believe the original suggestion came from here:

https://discuss.linuxcontainers.org/t/support-for-port-isolation-on-bridge-interfaces/9036

It has examples and explanation of what is trying to be achieved and why.

Looking at this file is the place to start: https://github.com/lxc/lxd/blob/master/lxd/device/nic_bridged.go

It contains the bridge NIC driver implementation, and is where the veth/

[2020-11-17 17:37] stgraber commented on #7867
@tomponline sounds good to me

[2020-11-17 21:21] turtle0x1 opened #8166 "Empty devices"
When you `GET` an instance with no devices you get an empty `devices` key, if you try to `PUT` that empty `devices` key back you get something like;

[code]

This is a mild annoyance because you have to remove the empty `devices` key despite LXD giving it to you (ive seen in other comments you tend to `omit` keys not set by the user)

It would be good if LXD could just silently ignore the empty `d

[2020-11-17 22:47] wester162 commented on #7869
@tomponline Sorry about the long delay on this, we had another project to do before we started on this one, but we're looking to get started working on this now.

I've taken a peek into ``api_1.0.go`` and see the existing ``Driver`` and ``DriverVersion`` fields for lxc, as well as having looked into ``driver_qemu.go`` and found the origins of the ``qemuBinary`` variable that stgraber was talking a

[2020-11-18 12:12] tomponline commented on #7867
@mattdombrowski21 I'm likely going to end up implementing this card by way of my other changes happening https://github.com/lxc/lxd/pull/8163

So I'll assign this one to me, are you OK to look at a different task? Thanks

[2020-11-18 17:24] larsemil commented on #7891
I got the exact same problem today. Manually killing forkproxy got me starting the machines again.

[2020-11-18 22:12] stgraber commented on #8166
I think it's a problem in your logic.

I can reproduce your error with:
[code]

But that's because my input is invalid, `devices` is a map/dict, not a list.

All of those succeed:
 - `lxc query /1.0/instances/test -X PUT -d '{"architecture": "x86_64", "profiles": ["default"]}' --wait`
 - `lxc query /1.0/instances/test -X PUT -d '{"architecture": "x86_64", "profiles": ["default"], "devices": null}'

[2020-11-18 22:38] turtle0x1 commented on #8166
Ah yeah PHP

Sorry!

[2020-11-18 22:38] #8166 closed

[2020-11-18 23:32] stgraber commented on #6362
As there has been no activity on this for months and we've not found any indication of persistent memory leaks at present, I'm closing this.

There are two things to keep in mind for anyone who sees what looks like a leak:
 - Go 1.13 or higher does not mark memory as dont-need, instead marking it as free. The implication there being that your RSS isn't actually the total used memory but instead ef

[2020-11-18 23:32] #6362 closed

[2020-11-18 23:36] stgraber commented on #6362
Should you catch LXD using an excessive amount of memory, consider doing the following and attaching your findings in a new issue:
 - lxc config set core.debug_address 127.0.0.1:8444
 - curl http://localhost:8444/debug/pprof/goroutine?debug=2
 - go tool pprof -top http://localhost:8444/debug/pprof/heap
 - go tool pprof -top http://localhost:8444/debug/pprof/allocs

The first is a full list of all

[2020-11-18 23:38] stgraber commented on #7630
Thanks!

Sadly there's really not much for us to go on with here. I did a complete audit of all our goroutines on a few of our larger clusters and fixed a few un-needed ones, but those wouldn't really cause growth overtime.

I'm going to close this issue for now as there's nothing actionable for us at this time.

Should it happen again, I'd recommend following the steps I just posted in another is

[2020-11-18 23:38] #7630 closed

[2020-11-18 23:39] stgraber commented on #8117
@mullumaus any luck getting this to happen again?

[2020-11-18 23:40] stgraber commented on #8020
@diegomontoya did you run into this again? I seem to remember the other issue being a network problem in the end, would this also have happened because of that network problem?

[2020-11-19 00:09] mullumaus commented on #8117
No, I ran the test many times over these weeks but it didn't happpen again.

[2020-11-19 00:39] #7867 closed

[2020-11-19 00:41] stgraber commented on #8117
Ok. There was bad image ordering logic in LXD which we fixed a little while back. This shouldn't have affected your LXD daemon because it was recent enough to get the fix in theory, however Juju uses the LXD library and so may have been using an older version internally.

Let's hope that this was the issue and call it good. If this shows up again, hopefully your system will still have the debuggin

[2020-11-19 00:41] #8117 closed

[2020-11-19 09:38] tomponline commented on #7869
Hi @wester162 I've been looking into this today.

@stgraber can you confirm you are thinking of modifying the `api.ServerEnvironment` struct to make it so that multiple drivers (and their associated versions) can be returned in the output of `lxc info`?

Perhaps introducing a new `InstanceDrivers` field to  `api.ServerEnvironment`  of new type `[]api.InstanceDriver` (containing `Name` and `Version

[2020-11-19 16:03] stgraber commented on #7869
@tomponline no, I was planning on doing the same we do for storage. That keeps the exact same key and uses a separator to list multiple values.

That avoids any API breakage.

[2020-11-19 16:07] tomponline commented on #7869
@stgraber ah OK I see what you mean now.

@wester162 the current `lxc info` command outputs the storage drivers and their associated versions in the following format:

[code]

So we should update the `driver` and `driver_version` fields to do the same, e.g.

[code]

[2020-11-19 16:10] tomponline commented on #7869
@wester162 so have a look at how we use `storagePoolDriversCacheUpdate()` and `readStoragePoolDriversCache()` and then create a similar set of functions for instance driver cache.

[2020-11-19 16:40] visit1985 opened #8171 "Allow listing device keys in `lxc list`"
# Issue description

Follow-up to: Support device keys as lxc list columns #6275

Could we maybe extend the custom columns format `[config:|devices:]key[:name][:maxWidth]` to allow listing the device keys?
For example: `lxc list <container> -c devices: --format=csv`

This would be nice for iterating in shell scripts.

[2020-11-19 17:03] wester162 commented on #7869
@tomponline Got it. I'll let you guys know if I have any further questions.

[2020-11-19 20:16] stgraber commented on #8171
I don't understand what you want to do. The current syntax lets you add columns for any device config key you want.

[2020-11-20 06:19] CoolCold commented on #6362
Thanks for your comments on LXD/GO internals.
On the side note, just to share info - I've checked the same server after several months and so far it's doing fine:
[code]
This actually may be related to low activity of the Gitlab commits/running LXC based builders since August (in short - new LXC env is created/destroyed on GItlab pipeline run, more on https://github.com/lxc/lxd/issues/6362#issueco

[2020-11-20 11:54] tomponline commented on #8111
@stgraber making a start on this now.

[2020-11-20 13:23] visit1985 commented on #8171
Given:
[code]
I would like to do:
[code]

[2020-11-20 15:09] stgraber commented on #8171
Don't we have a 'lxc config device list' for that?

[2020-11-20 15:19] visit1985 commented on #8171
Yes, you are right. :man_facepalming: Thanks!

[2020-11-20 15:19] #8171 closed

[2020-11-20 17:50] tomponline commented on #8111
@stgraber I started working on the network side of this task first as I've recently worked on the clustering for networks and it is more familiar to me.

I've added the `state` column to the `networks_nodes` table and chased it through the code base so its correctly set in all the various scenarios.

I've then updated the network drivers to allow being started when the network itself is still pend

[2020-11-20 19:44] rctravers commented on #7947
Hello, I'm a student at UT. Could I be assigned this Issue?

[2020-11-20 19:44] rctravers commented on #7995
Hello, I'm a student at UT. Could I be assigned this Issue?

[2020-11-20 23:06] stgraber commented on #7947
Done!

[2020-11-20 23:06] stgraber commented on #7995
Done!

[2020-11-20 23:31] turtle0x1 opened #8173 "State disk null on offline VM"
Virtual machines that are powered down have a `null` value under state disk, powering it on gives the total disk size,

Im implementing #7946 in my project, following along the comment suggests this value is needed for `limit.disks`

[code]

[2020-11-21 04:33] stgraber commented on #8111
I think we want 2).

Indeed, I'd expect the user to create the network on each node, making them go to pending.
Then do the global create which will then fail on one or more node. Those that succeeded should go to ready while those that failed should remain in pending state. The global network entry should only go into ready when all nodes are ready.

When in a situation where some of the nodes ar

[2020-11-21 22:24] tomponline commented on #8111
@stgraber thanks, yes that makes sense. And if there is a scenario where the global config is causing problems with one or more nodes (I can't think of an actual real-world example for that at the moment though) then one can just delete the network entirely and all 'created' nodes will be cleaned up fully and pending nodes will just have their records removed.

[2020-11-22 01:54] stgraber commented on #8111
Yep!

[2020-11-22 02:36] wester162 commented on #7869
@tomponline I've implemented most of the functionality necessary to make this work [here](https://github.com/wester162/lxd/blob/wester162/lxd/instance.go), but I've run into something of a snag trying to grab the ``qemuBinary`` value from ``driver_qemu.go``. This is probably just because I'm not super familiar with Go and its way of handling packages/scope, but if I try and pass the ``qemuBinary``

[2020-11-22 03:34] stgraber commented on #7869
I took a quick look at your current approach. The cache mechanism & locking looks fine, but you really shouldn't have any logic specific to qemu or lxc be directly in that file.

Instead I would expect a new `Info() Info{}` function be added to the `Instance` interface and implemented in both `driver_qemu.go` and `driver_lxc.go`.

This `Info` struct would then include both `Name` and `Version` pro

[2020-11-22 07:23] gzhang1218 commented on #8005
Hi, I'm a student at UT Austin working with some other students looking for issues to contribute to. If possible, could my group claim this issue to work on for our virtualization class? Thanks!

[2020-11-22 13:59] #8173 closed

[2020-11-22 17:04] stgraber commented on #8005
Done, assigned it to you!

[2020-11-23 10:52] tomponline commented on #7869
Thanks @wester162 please could you open a draft pull-request against LXD project and then we can review and add specific comments.

For example of what @stgraber is suggesting with regards to an `Info` struct, take a look at something very similar we have used in the storage subsystem:

https://github.com/lxc/lxd/blob/master/lxd/storage/drivers/interface.go#L25-L27
https://github.com/lxc/lxd/blob/

[2020-11-23 21:37] OddBloke commented on #7292
@stgraber I believe (and have confirmed with a few launches locally) that LXD uses the `NoCloud` DS, not the `ConfigDrive` DS. That _does_ have support for cloud-init's networking format: https://github.com/canonical/cloud-init/blob/master/cloudinit/sources/DataSourceNoCloud.py#L187-L188, https://github.com/canonical/cloud-init/blob/master/cloudinit/sources/DataSourceNoCloud.py#L227-L232

Could we

[2020-11-24 13:30] stgraber commented on #7292
When the LXD agent is used, NoCloud is used in the exact same way as in the containers which does include rendering the network config file too.

The only case where network config is ignored is when the user attaches a config drive to the instance.

[2020-11-24 15:16] OddBloke commented on #7292
NoCloud is used for containers, for VMs with lxd-agent _and_ for VMs without the LXD agent. Using:

[code]

If I launch a bionic instance (without the LXD agent, so `password.yaml` is backdooring it for SSH access):

[code]

Then we can see that NoCloud is used, but there is not a seed directory:

[code]

ConfigDrive is only used when an OpenStack platform is detected. NoCloud also handles configu

[2020-11-24 16:12] stgraber commented on #7292
Yeah, I don't remember the internal details of cloud-init, but basically, if you don't have the lxd-agent, then your config comes from the config drive you've attached and cloud-init does not support reading a YAML network v2 from that.

So if you have a lxd-agent, then the data for user/vendor/network is copied into /var/lib/cloud/seed and the instance rebooted.

[2020-11-24 17:31] OddBloke commented on #7292
Right, I think this understanding is mistaken. LXD mounts a `cidata` drive:

[code]

and that's what cloud-init is using:

[code]

The lines of code which do this are https://github.com/canonical/cloud-init/blob/master/cloudinit/sources/DataSourceNoCloud.py#L113-L137; this mounts the ISO and then reads it as a regular seed directory: compare those lines to the seed directory path: https://github.c

[2020-11-24 17:59] stgraber commented on #7292
`cidata` is only present if you have added the `cloud-init:config` drive which is only used for legacy images that do not have the agent. Raw disks can easily be attached to LXD VMs, this has always been supported, so it'd be easy for you to test :)

I remember reading some cloud-init code which specifically didn't support the full network-config case, though that may have been in an older version

[2020-11-24 18:04] stgraber commented on #7292
https://github.com/lxc/lxd/pull/8182

[2020-11-25 02:25] CajuM opened #8185 "Failure launching VMs when lxd-agent is a symlink to a file on a read-only filesystem"
* Distribution: NixOS
* Distribution version: unstable
* LXD version: 4.8
* Storage backend in use: btrfs

# Issue description

When attempting to launch a virtual machine lxd will fail to do so if lxd-agent is on a read-only filesystem and lxd-agent in PATH is a symlink inside that filesystem.
It will produce the following error message:
[code]
The issue seems to be at: https://github.com/lxc/lxd

[2020-11-25 02:35] #7894 closed

[2020-11-25 12:00] olivier-lz opened #8187 "Lxc copy with -d option do not work with snapshot"
* Distribution: **Debian**
 * Distributions versions: **9.13** => **10.6**
 * Debian 9.13 (**source**) :
   * Kernel version: **4.9.0-9-amd64**
   * LXC version: **4.8**
   * LXD version: **4.8**
   * Storage backend in use: **dir**
 * Debian 10.6 (**destination**) :
   * Kernel version: **4.19.0-12-amd64**
   * LXC version: **4.8**
   * LXD version: **4.8**
   * Storage backend in use: **btrfs**

[2020-11-25 12:52] stgraber commented on #8187
Hmm, I thought @tomponline fixed this a week or so ago.

[2020-11-25 14:21] tomponline commented on #8187
@stgraber @olivier-lz yes it does sound very similar to https://github.com/lxc/lxd/pull/8161 I'll take a look.

[2020-11-25 14:24] #8185 closed

[2020-11-25 22:58] kevtheappdev commented on #7903
Hi! My team and I have an implementation for this issue, but we have been unable to get tests up and running on our machine. Running `sudo -E make check` in the root directory gives us the following error: `can't load package: package github.com/golang/lint/golint: code in directory /home/kturnt/go/src/github.com/golang/lint/golint expects import "golang.org/x/lint/golint"`.
Do you have any sugges

[2020-11-26 00:19] ne-vlezay80 opened #8189 "If restoring state container from criu, with host_name, tring creating two network interfaces"
# Required information

 * Distribution: Void Linux
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.7.10_1
   * LXC version: 4.0.4
   * LXD version: 4.8
   * Storage backend in use: 5.6.1

# Issue description
If a saving stateful from the container, and start, exist's the bug.

# Steps to reproduce

 1. lxc start container -stateful
 2. lxc start conta

[2020-11-26 00:49] stgraber commented on #8189
I don't see how this bug is possible in the first place given that current LXD with CRIU does not let you have network interfaces.

[2020-11-26 00:50] stgraber commented on #7903
Try `go get -v golang.org/x/lint/golint` looks like it got moved.

[2020-11-26 11:34] tomponline commented on #8187
Starting on this now.

[2020-11-26 11:57] #8010 closed

[2020-11-26 14:28] tomponline commented on #8187
So the difference compared to #8161 is that this instance's config is invalid rather than its snapshot. I believe I'm going to need to update the instance creation code to differentiate between user requested and implicit instance creation so we can ignore device validation issues during creation in the latter scenario.

[2020-11-26 14:41] tomponline commented on #8187
Ah actually there are 2 problems. The specific issue regarding invalid snapshots is that this is a different check that was failing and being run as part of the profile validation before the instance was initialised. PR incoming for that shortly.

@stgraber for instances (not snapshots) with attached disks that fail validation should we prevent the migration?

[2020-11-26 14:46] stgraber commented on #8187
@tomponline I think it's fine to fail instances since they can get overriden easily enough.

[2020-11-26 15:05] olivier-lz commented on #8187
I'm not sure to understand what is invalid in the configuration, the device is the same in the snapshot and in the CT.
[code]

[code]

[code]
In the destination, the pool name, is not `data` but `default`.

[2020-11-26 15:29] tomponline commented on #8187
Yes, but overriding devices does not override snapshots as they are readonly.

[2020-11-26 15:47] olivier-lz commented on #8187
`readonly` is the key of my understanding :smile:

[2020-11-26 15:50] #8187 closed

[2020-11-26 19:45] mlow commented on #2305
I was able to get the zfs backend working inside a zfs-backed LXD container without any obvious ill-effects...

The LXD container must be privileged, then simply having the device:
[code]
Will get things going - docker creates its new datasets relative to the LXD container's root dataset:
[code]

However, I think it's better to create a dedicated dataset for docker. It needs to be mounted somewher

[2020-11-26 22:10] stgraber commented on #2305
The latter is very much preferred especially from a security standpoint :)

You can do it all through LXD by creating a second storage pool using any of the supported backends except for ZFS.

 - lxc storage create docker dir
 - lxc storage volume create docker my-container
 - lxc config device add my-container docker disk pool=docker source=my-container path=/var/lib/docker

[2020-11-26 23:20] dontlaugh commented on #7891
This happened to me as well. Killing the single forkproxy process associated with the device configuration attached to my instance allowed me to re-bind with the same device config.

This was the device I was trying to re-add

[code]
This was originally a part of the container config, but a restart of the container failed with

[code]
The original configuration
[code]

[2020-11-27 14:38] #8141 closed

[2020-11-27 18:10] diegomontoya commented on #8020
@stgraber We have not been able to reproduce this problem again since the initial report. So this may be an one-off concurrency bug that is hard to repeat. My last comment about relating to #8082 is wrong as that was linux network caused and unrelated to this issue.

[2020-11-27 18:27] stgraber commented on #8020
Thanks. As there isn't enough data to go on and we haven't seen other similar crashes since, we'll close it for now.
Should this happen again, please let us know here and we'll be more than happy to re-open.

[2020-11-27 18:27] #8020 closed

[2020-11-28 03:52] #7869 closed

[2020-11-28 14:53] zeevdiukman opened #8198 "Proxy host's LXD socket to LXD container stops working in container after restarting the container"
LXD version 4.8 installed on Ubuntu 20.10
Proxy host's LXD socket to LXD container stops working in container after restarting the container.
The problem is that the LXD snap service inside the container is starting after the proxy device init from the host when starting the container.
any solution to this ? or I have to remove the proxy device and set from begining after the container is up ?

**

[2020-11-28 15:18] #8198 closed

[2020-11-30 13:32] tomponline commented on #7891
Is this reproducible using LXD 4.8? Thanks

[2020-11-30 14:38] QkiZMR commented on #6936
So add this info on your website https://linuxcontainers.org/lxd/getting-started-cli/#shellterminal-inside-virtual-machine

[2020-11-30 19:17] Lyamc opened #8200 "lxd init does not set up network properly"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04.1 LTS
 * The output of "lxc info"
[code]
# Issue description

Install LXD, create new container, fails to ping google or 8.8.8.8.

# Steps to reproduce

 1. Run `sudo snap install lxd`
 2. Run `sudo lxc init` or `lxd init`
 3. Choose the following options:
[code]
 4. Run `lxc launch images:ubuntu/groovy/amd64 gro

[2020-11-30 19:18] stgraber commented on #8200
Can you show `ps fauxww` as well as `iptables -L -n`?

[2020-11-30 19:22] Lyamc commented on #8200
`ps fauxww`
[code]
And `iptables -L -n`
[code]

[2020-11-30 19:26] Lyamc commented on #8200
I'm not sure if you wanted the container to run the command or the host so here's the container output as well just in case
Container `ps fauxww`
[code]

Container `iptables -L -n`
[code]

[2020-11-30 19:46] Lyamc commented on #8200
@stgraber What additional information is needed?

[2020-11-30 20:35] gzhang1218 commented on #8005
Hey @stgraber, I'm having a little trouble getting started on this issue, if you have some time, some guidance would be greatly appreciated. Thanks!

[2020-12-01 00:54] matthewa150 commented on #7949
I've been mulling over the code now for some time. I believe I have gotten the validation part down, but I'm a little lost as to how to use the `bridge` commands (from the [linked post](https://discuss.linuxcontainers.org/t/support-for-port-isolation-on-bridge-interfaces/9036)) in the `Start()` function. Any advice would be greatly appreciated!

[2020-12-01 05:28] WilliamGrossKC commented on #7274
Hi, Im working with vpranav5 on this issue. We have a few questions if that is ok. We want to know what files we are modifying  to create the Move Instance method and the MoveCustomVolume method and want to know if we should create a whole new branch for development locally. Unfortunately, whenever we try to follow the Adding Your Fork Remote instruction we get a permission denied error. Thanks! @

[2020-12-01 09:48] tomponline commented on #7949
@matthewa150 please can you put up a draft PR of what you have so far so we can see it. With regard to the bridge commands I believe there was an example in the first reference https://discuss.linuxcontainers.org/t/support-for-port-isolation-on-bridge-interfaces/9036?u=tomp

I would suggest setting up a normal bridge using `lxc network create <net name>` and then manually trying those commands and

[2020-12-01 12:15] jamielsharief opened #8203 "Invalid storage volume content type name"
Previously I could create a volume on a storage pool via the API by posting the following data to `/storage-pools/default/volumes`, however now I am getting the error `Invalid storage volume content type name`

[code]

Note: the same error occurs if using the example from the REST docs

[code]

[2020-12-01 13:59] stgraber commented on #8203
@tomponline can you take a quick look? Feels like we're failing to default to fs content type when not specified?

[2020-12-01 13:59] tomponline commented on #8203
@stgraber yep will do

[2020-12-01 14:02] tomponline commented on #8203
@jamielsharief can you give me an example of the HTTP request you're sending, are you POSTing to that URL?

[2020-12-01 14:05] tomponline commented on #8203
@jamielsharief also what version of LXD please

[2020-12-01 14:07] stgraber commented on #8200
Looking at above dnsnasq isn't running for some reason.

Can you show (from the host):
 - netstat -lnp
 - lxc network show lxdbr0

[2020-12-01 14:08] stgraber commented on #8200
Chances are you have something else listening on port 53 or 67 which isn't configured to just deal with the interface it needs.

[2020-12-01 14:08] #8200 closed

[2020-12-01 14:10] stgraber commented on #8200
Nevermind, I found it in your process list. You have bind9 (named) on your system. In its default configuration, that DNS server binds port 53 on all interfaces, preventing dnsnasq from starting.

Uninstall bind9 if unused or if you actually are using it, configure it to only listen to those interfaces you need it on.

[2020-12-01 14:13] tomponline commented on #8203
I think ive found the issue

[2020-12-01 14:29] tomponline commented on #8203
@jamielsharief by the way in the interim you can also complete the request by providing the `content_type` field set to "filesystem" (which will be the default if empty) of "block" for block volumes.

[2020-12-01 15:21] Lyamc commented on #8200
You're right on the money! Thank you!

[code]

Perhaps LXC or LXD should inform the user that dnsmasq cannot start and which log to check

[2020-12-01 18:16] jamielsharief commented on #8203
Sorry for the delay

- LXD version 4.8

note. The manual says set to `custom` but I had tried `filesystem` earlier but it said I don't have permissions. I am trying to look into now, just LXD is giving EOF errors on everything. I will let you know shortly.

[2020-12-01 18:18] tomponline commented on #8203
volume type (custom) and content type are different concepts.

[2020-12-01 18:18] tomponline commented on #8203
@jamielsharief do you have a reproducer using `lxc query` command?

[2020-12-01 18:31] jamielsharief commented on #8203
The EOF error was caused because of change I made before i left earlier, ignore that comment.

I have added the `content_type` and it now works again, my PHPUnit tests from 2-3 months ago stopped working as well, so I presume this is something to do with a recent update?

[2020-12-01 18:39] #8203 closed

[2020-12-02 01:51] stgraber commented on #8200
LXD actually logs it on startup, or is supposed to anyway.
Alternatively modifying any setting would have also failed with an error showing dnsmasq failing to start.
Though getting from there to figuring out what's conflicting isn't always trivial :)

[2020-12-02 15:07] Jdogtherock commented on #7900
Hello, I am currently working on this issue and I was wondering if I could have some help. What are configuration keys, profiles, and projects?

[2020-12-02 20:46] stgraber commented on #8005
An in-cluster copy is initiated through `POST /1.0/instances/NAME` which hits `instance_post.go`.
You then hit the `targetNode != ""` of `containerPost` which eventually gets you onto the migration logic with two possible outcomes:
 - containerPostClusteringMigrateWithCeph
 - containerPostClusteringMigrate

Looking at that latter, it sets up a function called `run` which performs an API move (copy

[2020-12-02 20:54] stgraber commented on #7274
You should hit the fork button on Github and then use `git clone ssh://git@github.com/WilliamGrossKC/lxd` to get a local clone that you can push to.

I think the plan for this one is:
 - Add a new `MoveInstance` to the `lxd/storage` package with a signature like this:
[code]
 - Have this function use `MigrateInstance` and `CreateInstanceFromMigration` to move the data across, update the DB record

[2020-12-02 21:07] stgraber commented on #7900
https://linuxcontainers.org/lxd/docs/master/ may help with some of the general concepts.

I'd say to start with `backups.compression_algorithm` and `images.compression_algorithm` as those are pretty easy ones.
Right now when we need that value we first look at a user provided override and if not set, look at the global config, if there's nothing there, then we use a default value.
This needs to be

[2020-12-02 21:36] TheRealFalcon opened #8208 ""lxc stop" of VM hangs until another LXD command run"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Groovy (20.10)
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 5.8.0-31-generic
   * LXD version: latest/candidate: 4.8         2020-11-30 (18461)
   * vm profile:
[code]

# Issue description
`lxc stop <vm>` hangs. It will hang until I run a different lxd command. This ONLY happens for the latest/can

[2020-12-02 21:55] stgraber commented on #8208
This has been fixed already in edge, fix will be pushed to candidate shortly (does not affect stable).

[2020-12-02 21:55] #8208 closed

[2020-12-03 09:34] tomponline commented on #7274
@stgraber sounds viable, however some careful consideration is going to be needed to get the `CreateInstanceFromMigration` to create it on the correct pool.

@WilliamGrossKC take a look at the `CreateInstanceFromCopy` function as this new function will share much of the same makeup.

For consistency with `CreateInstanceFromCopy` and `RefreshInstance`, the pool represented by the `b` variable (i.e

[2020-12-03 12:05] ssh3ll commented on #3844
It's viable nowadays, too.

[2020-12-03 17:51] maran commented on #7708
Hi @vpranav5, are you still working on this issue? Can I help you somehow?

[2020-12-04 01:50] kevtheappdev commented on #7925
Hi! My team and I have a solution for this, and it passes local runs of build/integration tests. How can we best test this addition locally before publishing our PR?

[2020-12-04 08:56] tomponline commented on #7925
@kevtheappdev have you followed the build instructions at https://github.com/lxc/lxd#installing-lxd-from-source and got a running LXD?

[2020-12-04 08:57] #7903 closed

[2020-12-04 09:46] aguytech opened #8221 "Compression formats are not all availble to publish container (not like in documentations)"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

* Distribution:

`lxd --version`

* `lxc-start --version`

   * `uname -a`

# Issue description

Not all compression format are available to publish container in local like explained at:
[](https:/

[2020-12-04 22:10] ltrager opened #8215 "No way to map between USB device and storage/network resource"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-29-generic
   * LXC version: 4.0.5
   * LXD version: 4.8
   * Storage backend in use: LVM

# Issue description

MAAS 2.10 will model all PCIE and USB devices using LXD output. MAAS will also create associations between existing storage and network

[2020-12-05 00:07] cvmiller opened #8216 "qemu-system-x86_64:/var/log/lxd/avm/qemu.conf:68: Could not open '/var/lib/lxd/virtual-machines/avm/qemu.nvram': No such file or directory"
# Required information

 * Distribution: Artix
 * Distribution version: Rolling release
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:
cvmiller@koa:~$ lxc info
config:
  images.auto_update_interval: "0"
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- con

[2020-12-05 00:09] cvmiller commented on #8216
Captured lxd debug log with command `sudo lxd --group lxd --debug` during the launch of the VM
[lxd.log](https://github.com/lxc/lxd/files/5646126/lxd.log)

[2020-12-05 03:03] stgraber commented on #8216
Ah, looks like we need to deref the source path of OVMF_VARS.fd at least to accommodate for that.

[2020-12-06 13:14] theworldhealer1 commented on #7815
My archlinux installation received ZFS 2.0 today and LXD refuses to start. Is there any way to fix this?

[2020-12-06 13:15] rajil commented on #7815
My Archlinux host received ZFS 2 and LXD refuses to start. Is there any fix for this?

[2020-12-06 17:03] stgraber commented on #7815
Just pushed basic support to the edge snap, if that builds properly, I'll push it to candidate/stable next.

[2020-12-07 08:49] sfPlayer1 commented on #7687
This happened for us with LXD 4.0.4, I unfortunately didn't notice the issue before fixing this manually. The pid is fine after the restart, but no idea whether it was before..

[2020-12-07 12:13] strk commented on #7687
It just happened for me with lxd 4.8, in a nested containers setup. The outermost container had this forkproxy stuck, even while no subcontainer even existed. I had to kill it manually.

[2020-12-07 13:21] stgraber commented on #7687
Did you check the content of the pid file prior to killing it?

[2020-12-07 15:41] jamielsharief opened #8219 "Importing backup using API"
LXD 4.04
Ubuntu 20.04.01

I am trying to restore a backup using the API, I am not sure if I am understanding the manually correctly, but I am posting the backup file in RAW to `1.0/instances/c1`, however I get an error back

[code]
Which returns

 `{"error":"invalid character '\\x1f' looking for beginning of value","error_code":400,"type":"error"}`

The manual says this

![image](https://user-imag

[2020-12-07 16:08] #7870 closed

[2020-12-07 16:11] stgraber commented on #8219
You need to push this to `/1.0/instances` not `/1.0/instances/NAME`, the endpoint you're pushing to right now is meant for renames/migration of an existing instance and is expecting JSON input.

The name is included in the backup usually but can be overriden with the `X-LXD-name` HTTP header.

[2020-12-07 16:11] #8219 closed

[2020-12-07 17:01] monstermunchkin commented on #8216
@cvmiller Are you sure? The [ovmf package repo](https://gitea.artixlinux.org/artixlinux/packages/src/branch/master/ovmf/trunk/PKGBUILD) for Artix suggests that it's located at `/usr/share/ovmf/x64/OVMF_VARS.fd`. In that case, setting `LXD_OVMF_PATH` to `/usr/share/ovmf/x64` should do the trick.

[2020-12-07 19:00] deviantintegral commented on #7815
The commonly used jonathonf/zfs PPA has also pushed updates to ZFS 2.0: https://launchpad.net/~jonathonf/+archive/ubuntu/zfs

@Deltik thanks for the script, it got my lxc containers back up and running. There wasn't any prompt to apply or remove the patch, and I'm not seeing anything that looks like it'd do that. However, I think that the easiest way to revert back will be to run `sudo snap refres

[2020-12-07 19:40] #8111 closed

[2020-12-07 19:42] stgraber commented on #7815
Since edge appears to be behaving, I'd expect the next push to stable will include it too.

[2020-12-07 20:02] #8189 closed

[2020-12-07 20:31] cvmiller commented on #8216
It is true, Artix puts OVMF files in `/usr/share/ovmf/x64/OVMF_VARS.fd`, and I created a sym-link to that directory to make it appear to be in ` /usr/share/OVMF/`

I also tried to use ENV vars in the /etc/init.d/lxd script. But Artix is running OpenRC, and doesn't appear to pass ENV Vars down to children. Is there a way to put ENV vars in /etc/config.d/lxd ? I don't see this method in the LXD docu

[2020-12-07 20:56] #8216 closed

[2020-12-07 20:56] #8221 closed

[2020-12-07 22:26] stgraber commented on #8215
Hmm and you had that information before through some other tool?

Because looking around at sysfs and the udev database, neither seem to record a link from a particular instance of a usb-storage or usb-net stack and its underlying port...

[2020-12-07 23:50] stgraber commented on #8215
I think I found a way to get the information we need, no idea if it's reliable though.

[2020-12-08 02:50] ltrager commented on #8215
Thanks for the fix! Verified I can now map USB storage and network devices to their USB entry. I think this should be good enough for now, I'm just starting to model all hardware for 2.10, we'll be doing more advanced config in the future :)

[2020-12-08 07:11] #8215 closed

[2020-12-09 11:00] feileacan opened #8227 "lxc delete container/snapshot doesn't update backup.yaml"
# Issue Description

`lxc delete container/snapshot` doesn't update backup.yaml to remove mention of the snapshot

Similar to https://github.com/lxc/lxd/issues/8071 we can also trigger backup.yaml getting out of sync with `lxc delete CONTAINER/SNAPSHOT`. Trying to `lxd import CONTAINER` after then fails with e.g. "Error: open /mnt/stateful/lxd/storage-pools/default/containers-snapshots/penguin: no

[2020-12-09 14:44] aguytech opened #8230 "Expose DNS to host"
# Required information

 * Distribution:

   * Kernel version:

   * LXC version:

   * LXD version:

   * Storage backend in use:
`btrfs`

# Issue description
with following documentation at [](https://linuxcontainers.org/lxd/docs/master/networks):
Unable to expose lxd DNS (dnsmasq) to host
`resolve call failed: DNSSEC validation failed: no-signature`

`resolvectl status`

# Solution
May be preci

[2020-12-09 15:27] stgraber commented on #8230
I believe network manager's dnsmasq instance reads additional config files from `/etc/NetworkManager/dnsmasq.d/` at least it looks like it would here.

[2020-12-09 15:28] #8230 closed

[2020-12-09 16:54] olivier-lz opened #8232 "Copy incremental with storage volume"
It's not a bug, but a feature asking, don't know if it's the best place to ask ?

# Required information

 * Distribution: **Debian**
 * Distributions versions: **10.7** => **10.7**
 * Debian 10.7 (**source**) :
   * Kernel version: **5.8.10-1~bpo10+1**
   * LXC version: **4.8**
   * LXD version: **4.8**
   * Storage backend in use: **btrfs**
 * Debian 10.7 (**destination**) :
   * Kernel version:

[2020-12-09 17:01] avsdev-cw commented on #7374
Rather than open a new issue about this (I think @vic-t is right, this is a documentation issue) I'm going to tie in #6916 and request/suggest:

It would be useful if the documentation explained the ramifications of using an existing volume group or pool and what happens to the existing logical volumes in the life-cycle of lxd.  Some further clarification on the docs that are already there would b

[2020-12-09 17:12] aguytech commented on #8230
May be a important thing to add to documentation to have a SIMPLE persistent dns resolving for host:
**No need to use interactive resolvectl to that**

Just create the  folder
`/etc/systemd/resolved.conf.d/`
and the file
`/etc/systemd/resolved.conf.d/lxd.conf`
with content
[code]
`systemctl restart systemd.resolved.service`
it's done !

`resolvectl status`
show nothing, but the configuration file

[2020-12-09 17:20] stgraber commented on #8230
This approach doesn't tie it to a particular interface so if you somehow have that subnet on multiple interfaces, resolved will get confused, same if the interface goes away, you'd now be leaking DNS queries to the internet.

[2020-12-09 17:27] stgraber commented on #7374
1) Deleting an instance that has an attached custom storage volume does not delete the custom storage volume.
2) You can only delete custom storage volumes which are not in use.
3) Deleting a storage pool in LXD only works if no LXD resources are left on it. If the VG existed, LXD should have set a property on that storage pool indicating as much, in which case it will delete the thinpool it creat

[2020-12-09 17:27] stgraber commented on #8232
https://github.com/lxc/lxd/issues/7873

[2020-12-09 17:27] #8232 closed

[2020-12-09 17:30] olivier-lz commented on #8232
Oh sorry, I search, but not find in existing issue :(
I will follow this ticket.

[2020-12-09 17:48] aguytech commented on #8230
Good point, I'm waiting you're implement this responsive dns solution in lxc ;o)

Actually I don't see a natural solution to dynamically bind a container to a proxy ?
Either I use a dynamical command that I need to reuse at each Host restarting ( so it doesn't follow the life cycle of network between...)
So I put configuration in a file, that I need to modify when network changes...

I'm going to

[2020-12-09 18:46] stgraber commented on #8230
Yeah, using `ipv4.address` may be the easiest way there :)

We do have a vague plan to add a built-in DNS server to LXD that would expose networks with public DNS zones, it wouldn't let you have two networks that are exported with the same dns.domain (obviously) but for anything non-overlapping that should work and we'd also allow for zone transfers so you can front it with a proper dns server too

[2020-12-09 19:01] aguytech commented on #8230
It's look good. Good works ;o)

[2020-12-09 20:35] gzhang1218 commented on #8005
Thanks so much for the help @stgraber! I've been trying to figure out how to filter the events for the `CopyInstance` call by looking at lxc/copy.go and other files which use `dest.getEvents()` but I'm still not really sure how I would go about filtering the events from a listener object returned by `dest.getEvents()`. I see some code regarding a ProgressRenderer but I'm not entirely sure how to u

[2020-12-09 21:12] stgraber commented on #8005
GetEvents() gets you an EventListener, you call AddHandler on that to record a handler for the type you care about (in this case `operation`).

You then have the function you passed to that handler get called every time an operation is updated, you then need to match that with the operation id you got from the CopyInstance call, if they match, you then get the Metadata of that operation and use it

[2020-12-09 21:31] matthewa150 commented on #7949
Sorry for delay, I've made a preliminary pull request ( #8234 )

[2020-12-10 08:58] #8227 closed

[2020-12-10 09:10] tomponline commented on #7374
@avsdev-cw in addition to what @stgraber I would like to clarify that we will not remove a volume group or thinpool if it is non-empty (even if `lvm.vg.force_reuse=true` wasn't specify when the storage pool was created). Although creating volumes in a volume group or thinpool used by LXD may still expose you to naming conflicts (as @stgraber mentioned above).

The `lvm.vg.force_reuse` setting was

[2020-12-10 09:24] avsdev-cw commented on #7374
Thanks to both of you for the clarifications.  From an integrity point of view it's pretty important to understand what lxd is doing and that has cleared things up greatly and given piece of mind!

[2020-12-10 11:08] avsdev-cw opened #8236 "Allow moving storage volumes between projects"
# Required information

 * Distribution: Debian
 * Distribution version: Buster (10) (with backports)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-0.bpo.2-amd64
   * LXC version: 4.8
   * LXD version: 4.8 (snap rev 18546)
   * Storage backend in use: LVM
   * Storage version in use: 2.02.176(2) (2017-11-03) / 1.02.145 (2017-11-03) / 4.42.0

# Feature Request

I noticed

[2020-12-10 13:03] jamielsharief opened #8237 "Storage Limit larger than set"
Ubuntu 20.04 and LXD 4.04 with ZFS storage pool

**Issue**: I am creating an instance with a 1GB storage limit yet the disk size says it is 1 .4GB.

![image](https://user-images.githubusercontent.com/20553479/101772874-43da3980-3aec-11eb-9221-43954e096023.png)

When getting the info on the instance via the API, it shows the following in the `devices`
[code]

Interestingly, when I migrate the conta

[2020-12-10 13:47] tomponline commented on #8237
Can you show output of:

[code]

And then find the volume that relates to your instance and run, for example:

[code]

This will show the raw quota size LXD is setting.

[2020-12-10 14:36] jamielsharief commented on #8237
Ahh. My second LXD host I setup i tested the migrate on, might be configured differently (i set it up a few months ago) - which maybe why the result is different.

[code]
Then
[code]

[2020-12-10 15:06] tomponline commented on #8237
@jamielsharief try using the first part i.e `lxdpool/containers/ubuntu` rather than the full mount path (as its likely not available due to the snap).

E.g.
[code]

[2020-12-10 15:14] jamielsharief commented on #8237
I see

[code]
Thank you for your time and sorry for the misunderstanding.

[2020-12-10 15:14] #8237 closed

[2020-12-10 15:44] tomponline commented on #8237
No worries. I just checked the quota setting when copying a container from one zfs pool on one node to a zfs pool on a different node on master branch and it transfers the quota correctly:

Node 1
[code]

Node 2:
[code]

[2020-12-10 20:27] #7925 closed

[2020-12-10 23:20] rctravers commented on #7995
Working on these now. Do you have recommendations for where to start, or specifics about how you want them implemented?

[2020-12-10 23:20] rctravers commented on #7947
Working on these now. Do you have recommendations for where to start, or specifics about how you want them implemented?

[2020-12-11 05:11] vpranav5 commented on #7274
@stgraber Apologies for the late response and thanks for your help! What specifically should we update in lxc/move.go? We're a little confused on how to use the Pool field with MigrateContainer since we are adding the Pool field in api.InstancePost and not in api.ContainerPost. Also, in lxd/instance_post.go, should we be making our call to our new MoveInstance function within the containerPostClus

[2020-12-11 19:58] xvd7 commented on #7935
After upgrading to LXD 4.0.4 the issue was resolved on roughly 1/3 of my servers. Unfortunately, the other 2/3 still suffer from this problem - IP address not assigned to the container unless I apply the bridge.mtu trick. ```systemctl restart snap.lxd.daemon``` does not fix it.

These are logs from a freshly re-installed server:
[code]
[code]

[code]

[code]

[code]

[code]

[code]

Is there any o

[2020-12-11 20:08] xvd7 opened #8246 "LXD 4.0.4 IP address not assigned to container (previously issue #7935)"
After upgrading to LXD 4.0.4 the issue was resolved on roughly 1/3 of my servers. Unfortunately, the other 2/3 still suffer from this problem - IP address not assigned to the container unless I apply the bridge.mtu trick. ```systemctl restart snap.lxd.daemon``` does not fix it.

These are logs from a freshly re-installed server:
[code]
[code]

[code]

[code]

[code]

[code]

[code]

Is there any o

[2020-12-11 21:07] stgraber commented on #8246
@tomponline any suggestions?

I suspect you'd want to check what's on disk in `/var/snap/lxd/common/lxd/networks` as that's what dnsmasq consumes.

[2020-12-11 21:30] tomponline commented on #8246
Is dnsmasq running?

[2020-12-11 21:32] xvd7 commented on #8246
[code]

[code]

[code]

[code]

After applying the bridge.mtu trick (setting and unsetting) the previously empty dnsmasq.leases file is now:
[code]

[2020-12-11 21:36] xvd7 commented on #8246
After rebooting the server:
[code]
After applying the bridge.mtu trick:
[code]

[2020-12-11 21:38] tomponline commented on #8246
So to confirm my understanding, dnsmasq is not starting automatically, but when it does IPs are allocated ok?

[2020-12-11 21:40] xvd7 commented on #8246
That's correct. Running the bridge.mtu trick starts dnsmasq which subsequently assigns IP address to the container.

[2020-12-11 23:46] Jdogtherock commented on #7900
So, I have found the keys and they are apart of server configuration. The goal is to effectively transfer them to project configuration, and have them be set in precedence over the server configuration values?

[2020-12-11 23:58] Jdogtherock commented on #7900
Also, would these keys be set in the lxc or lxd file? I've been trying to peruse through the code but I can't seem to find the answer.

[2020-12-12 15:20] rajil commented on #7815
@stgraber Is LXD 4.9 the latest release with ZFS-2.0 support?

[2020-12-12 15:26] stgraber commented on #7815
4.9 definitely has the snap logic for it but I thought that the 4.8 currently in stable got it too

[2020-12-12 15:28] stgraber commented on #8246
What's in lxd.log and `journalctl -b 0 | grep dnsmasq`?

[2020-12-12 15:47] xvd7 commented on #8246
[code]

[code]

However, lxdbr0 exists:
[code]

Another piece of information from syslog:
[code]

[2020-12-12 16:50] stgraber commented on #8246
That's odd, it suggests the interface vanished prior to dnsmasq starting...

[2020-12-12 17:03] tomponline commented on #8246
Maybe something else is trying to configure it?

[2020-12-12 17:04] xvd7 commented on #8246
It has something to do with my VPN (tinc). If I turn tinc off then dnsmasq seems fine. I will keep digging.

[2020-12-12 17:20] xvd7 commented on #8246
I have two interfaces with the same IP (so that all LXD containers deployed on various physical servers can talk to each other through the VPN):
[code]

This used to work fine up until version 4.0.2. It looks like a race condition on **some** servers (it affects roughly 2/3 of my Ubuntu 20.04 servers; all Ubuntu 18.04 which are on LXD 3.0 are fine).

I have a hack for now - by adding ```ExecStartP

[2020-12-12 17:37] tomponline commented on #8246
Do you use the fan network at all?

[2020-12-12 17:46] xvd7 commented on #8246
I don't use fan network. I found the solution using tinc vpn long before fan network was introduced and I followed the "do not fix it if it ain't broke" rule. Looks like I should look into fan network setup ...

[2020-12-12 17:50] tomponline commented on #8246
It's fine, I only mentioned it because it can look for interfaces using IP so having two interfaces with same IP may confuse it, but that won't be it if you don't use it.

[2020-12-12 21:03] toby63 commented on #8246
It is interesting to see this, my macvlan setup also stopped working yesterday, but I have not investigated it yet.

[2020-12-14 09:23] tomponline commented on #7995
There was a brief discussion about how to approach this on https://github.com/lxc/lxd/pull/7966 (see https://github.com/lxc/lxd/pull/7966#issuecomment-702205356 and https://github.com/lxc/lxd/pull/7966#issuecomment-702241991).

I wonder if in order to avoid killing an unrelated process, we should try and inspect the running process's command line to check that its qemu and has a matching uuid argu

[2020-12-14 16:06] BobVul opened #8252 ""Failed to set up mount namespacing: Permission denied" from systemd when the container is privileged"
This seems to be the same issue as #7065. It only happens on a `security.privileged="true"` container.

Error in journalctl:

[code]

Relevant(?) line in dmesg:

[code]

As in #7065, `security.nesting=true` does 'fix' the issue.

I've managed to reproduce the error with a fresh container; it only occurs when `security.privileged="true"`.

I've raised this as a new issue since it's specifically the

[2020-12-14 20:37] #8252 closed

[2020-12-14 20:39] stgraber commented on #8252
Sorry, there's nothing we can do about this.

`systemd` units can use some "security" features which effectively run your unit into some kind of container.
Setting up this security feature requires permissions which make your privileged container extremely unsafe.

For this reason, we cannot do it out of the box as we do for unprivileged containers.

`security.nesting` is appropriate in such cases

[2020-12-15 08:46] #7949 closed

[2020-12-15 09:12] tomponline commented on #7995
@rctravers so after chatting with @stgraber yesterday, although the ideal approach would be to use a pidfd wrapper, for now we think a reasonably safe approach would be to detect when `statusCode` returns `api.Error` and then inspect the command running for the recorded pid. If the command running includes the word `qemu` and has an argument `-uuid` followed by a UUID value that matches the VM's `

[2020-12-15 12:00] ye-yng opened #8253 "`lxc delete instance --force` ramps up memory usage and freezes system momentarily"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-58-generic
   * LXC version: 4.9
   * LXD version: 4.9
   * Storage backend in use: ZFS

# Issue description

After upgrading to snap channel `4.9/candidate`, I noticed that when I try to `--force` delete a VM instance, LXD starts to ramp up memory

[2020-12-15 12:01] tomponline commented on #8253
As it would happen I am looking at this issue right now.

[2020-12-15 12:44] tomponline commented on #8253
@ye-yng #8254 should fix it

[2020-12-15 14:07] #8253 closed

[2020-12-15 14:49] tomponline commented on #8253
@stgraber looks like the upstream package started closing the channel in their recent changes.

[2020-12-15 15:08] ye-yng commented on #8253
Thank you, the update should be available in `latest/edge`?

[2020-12-15 15:35] tomponline commented on #8253
@ye-yng yes should be and if not then in a few hours.

[2020-12-15 18:19] ixil opened #8256 "Container group execute permissions"
# Required information

 * Distribution: Archlinux
   * Kernel version: 5.9.14
   * LXC + LXD version: 4.9
   * Storage backend in use: btrfs

# Request

The container `/var/lib/lxd/storage-pools/default/containers/foobar` permissions are set to `100` as per
https://launchpad.net/bugs/cve/CVE-2016-1582 and https://bugs.launchpad.net/ubuntu/+source/lxd/+bug/1829071
However, afaiu any user in the `l

[2020-12-15 18:26] stgraber commented on #8256
Some LXD daemons also run using the `lxd` group but then run apparmor confined to prevent access to things like the LXD socket. Relaxing filesystem access would make such cases more difficult to keep track of.

It's also quite plausible that in the future we will support tying individual uids accessing the socket to less privileged LXD roles.
For now we're implementing this through the TLS API fir

[2020-12-15 18:26] #8256 closed

[2020-12-15 21:27] matthewa150 commented on #8236
I'd like to try and tackle this.

[2020-12-15 23:05] #7868 closed

[2020-12-16 00:47] Lyamc opened #8258 "Change the editor for "lxc profile edit abc123" to nano in the snap version"
Version Info
[code]

Fresh Ubuntu install & apt update
Run `sudo snap install lxd`
When I type `lxc profile edit default` I get vi which is jarring. I'm assuming that the snap doesn't have access to nano or at least has different defaults?

[2020-12-16 01:08] stgraber commented on #8258
The snap respects `EDITOR`, make sure it's set to `EDITOR=nano` in your bashrc and you'll be good to go.

[2020-12-16 01:08] #8258 closed

[2020-12-16 01:09] stgraber commented on #8258
(Support questions are usually better handled in https://discuss.linuxcontainers.org)

[2020-12-16 02:14] Lyamc commented on #8258
That doesn't work

![2020-12-15 17-35-41](https://user-images.githubusercontent.com/10787681/102295494-4976bb80-3f00-11eb-8d07-a3fe0d7339f2.png)

[2020-12-16 02:44] stgraber commented on #8258
[code]

That works just fine here.

[2020-12-16 02:44] stgraber commented on #8258
In your case it seems like you may have set `EDITOR` but not exported it?

[2020-12-16 02:47] Lyamc commented on #8258
Ah, yes you're right. It works now.

[2020-12-16 04:35] jrens opened #8260 "LXD fails to start with Duplicate config row"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
 * The output of "lxc info" or if that fails: **Fails** unix.socket: connect: connection refused
   * Kernel version: 5.4.0-58-generic
   * LXC version: 4.9
   * LXD version: 4.9
   * Storage backend in use:

# Issue description

I can't start the lxd daemon. The following snap change occurred today (about 3.5hrs ago)

[2020-12-16 06:16] wgrant commented on #8260
This happened for me on an automatic upgrade from 4.8 to 4.9. DB state after the upgrade is thus:

[code]

[2020-12-16 06:21] jrens commented on #8260
Similar. Removing the line didn't work. It reappeared as I restarted lxd.
[code]

[2020-12-16 07:37] tomponline commented on #8260
I'll prepare a patch file for you to run to fix this.

[2020-12-16 07:38] tomponline commented on #8260
Do you run a cluster?

[2020-12-16 07:39] wgrant commented on #8260
My machine is not a member of a cluster.

[2020-12-16 07:46] tomponline commented on #8260
@wgrant thanks, can you run this query, as I find it strange LXD thinks there is duplicate config for you:

[code]

[2020-12-16 07:47] tomponline commented on #8260
@jrens the issue with your DB are these two lines:

[code]

It looks like you have some old config in there, which subnet is your current one?

[2020-12-16 07:52] tomponline commented on #8260
@jrens if you create a file at `/var/snap/lxd/common/lxd/database/patch.global.sql` containing:

[code]

And then try starting LXD

[2020-12-16 07:53] tomponline commented on #8260
@wgrant ah its the `ipv6.address` rows (IDs 5 and 8), if you remove the one that is not accurate for your setup (using the patch file above) then it should start.

[2020-12-16 08:01] tomponline commented on #8260
@jrens @wgrant have those networks existed since before LXD 4.8 was installed out of interest?

[2020-12-16 08:02] wgrant commented on #8260
Ah, thanks, `patch.global.sql` was the mechanism I was looking for. That's got things up and running.

This network is at least several months old. One of my other systems, which didn't have a custom subnet defined, upgraded to 4.9 apparently without incident.

[2020-12-16 08:05] tomponline commented on #8260
@wgrant thanks, I identified a way to insert duplicate config during clustered network setups in LXD 4.8, but hadn't realised there had been a way previous to that get duplicate config into the database. There is a patch in LXD 4.9 that will automatically remove duplicates that are have same key and same value. But currently duplicate keys with different values are not handled automatically.

The

[2020-12-16 08:41] jrens commented on #8260
@tomponline That worked perfectly thanks. This machine has been running lxd since before their was a snap version. My guess would be that network was from migrating over from those days.

[2020-12-16 10:08] tomponline commented on #8236
Thanks! Assigned to you.

[2020-12-16 11:11] goapunk commented on #8260
Had the same issue, the patch file worked. Thanks for the quick fix!

[2020-12-16 18:04] jamielsharief opened #8265 "Failed instance creation: Unknown configuration key: volatile.uuid"
Ubuntu 20.04
LXD 4.9 (VirtualBox)
ZFS storage pool on a custom partition

Steps: I create an Alpine container, stop it, and then try to move it

[code]

I get the error
`Failed instance creation: Unknown configuration key: volatile.uuid`

Looking at the [source code](https://github.com/lxc/lxd/blob/master/lxc/move.go#L193) for `move`  it says *keep the volatile entries*  and the `--debug` shows th

[2020-12-16 18:37] xvd7 commented on #8246
My initial hack - adding ```ExecStartPre=/bin/sleep 15``` to the tinc systemd service - has sometimes negative side-effects:

It prevents LXD from listening on port 8443.

```root@server ~ # netstat -tulpn | grep lxd``` does not return any output.

It could be fixed by running ```snap restart lxd```

On **some** servers an alternative hack works: it involves adding ```ExecStartPre=/bin/sleep 15```

[2020-12-16 20:34] stgraber commented on #8265
LXD does not support moving instances from one server to an older server.

[2020-12-16 20:34] #8265 closed

[2020-12-16 20:37] stgraber commented on #8265
To be a bit more verbose, you're getting this error because the server you're moving the instance to does not know about `volatile.uuid` which is a new internal configuration key that we recently introduced.

Copying from an older server to a newer one will work fine and we'll sort any issue in that direction, but going to an older version gets you into the same kind of issue as trying to downgrad

[2020-12-16 21:22] jamielsharief commented on #8265
Thanks for the explanation, I must of upgraded one of the test servers yesterday.

[2020-12-17 00:55] stgraber commented on #7900
Someone should be able to do:
`lxc project set default backups.compression_algorithm gzip`

This would hit `lxd/api_project.go`, needs to be stored in configuration and retrieved from there where they're consumed in `lxd/images.go` and `lxd/backup.go` at least.

[2020-12-17 00:56] stgraber commented on #7900
The code should already have logic to look for a compression algorithm directly in the user's request, then fallback to the server value which then falls back to the hardcoded default.

So you just need to add an intermediate between what's in the user's request and hitting to the server value.

[2020-12-17 17:56] #8260 closed

[2020-12-17 19:30] #7450 closed

[2020-12-18 11:44] avsdev-cw opened #8273 "lxc copy <ct>/<snapshot> --target-project <proj> <new-ct> causes odd behavior"
# Required information

 * Distribution: Debian
 * Distribution version: Buster (10) (with backports)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-0.bpo.2-amd64
   * LXC version: 4.8
   * LXD version: 4.8 (snap rev 18546)
   * Storage backend in use: LVM
   * Storage version in use: 2.02.176(2) (2017-11-03) / 1.02.145 (2017-11-03) / 4.42.0

# Issue description
Copying a

[2020-12-18 13:27] stgraber commented on #8273
@tomponline can you take a look?

[2020-12-18 13:30] tomponline commented on #8273
@stgraber yep looking now

[2020-12-18 18:31] #8273 closed

[2020-12-18 19:12] avsdev-cw commented on #8273
Thank you very much for the quick fix!

[2020-12-21 09:16] ma3252788 opened #8277 "I don't assign GPUs to the container, but all GPUs are displayed in the container"
# Required information

 * Distribution:Ubuntu
 * Distribution version:16.04
 * The output of "lxc info" or if that fails:

[code]

   * Kernel version:4.4.248-0404248-generic
   * LXC version:3.0.3
   * LXD version:3.0.3
   * Storage backend in use:zfs

# Issue description
I don't assign GPUs to the container, but all GPUs are displayed in the container

# Steps to reproduce

 1. Step one ：`lxc e

[2020-12-21 09:57] artmakh opened #8278 "Ubuntu 16.04 lxc-to-lxd requires glibc 2.27"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04 LTS
 * The output of "lxc info" or if that fails:
<details>
  <summary>lxc info</summary>

config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_c

[2020-12-21 15:59] stgraber commented on #8277
Your config shows you're passing /dev/nvidia-uvm to the container, what happens if your remove that device?

Also, please show "find /dev" inside the container.

[2020-12-22 18:33] stastnypremysl opened #8279 "Why lxc cp accross cluster take so much time?"
Hello.

I have run `lxc cp blank mail1 --target alpha` across two cluster nodes and it take several hours to be done. I think, there is no real reason to the operation be so much slow. Is there any way, how to optimize it?

The cp takes the longer the more snapshots I have (around 5000), but the snapshot copy on btrfs is itself much faster on my network and takes only few minutes on such small dat

[2020-12-22 20:48] stgraber commented on #8279
Issue is missing the required data from the issue template.

[2020-12-23 19:10] panticz commented on #4005
Thanks for the solution, works also on Ubuntu 20.04, maybe a small improvement for more clarity
`lxc config device add test modules disk source=/usr/lib/modules path=/usr/lib/modules`

[2020-12-23 22:23] kautMaks opened #8280 "lxd import breaks container's quota and disk usage"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-58-generic
   * LXC version: 4.0.5
   * LXD version: 4.9
   * Storage backend in use: dir

# Issue description
lxd import breaks container's quota and disk usage

# Steps to reproduce
1. `lxc launch ubuntu:18.04 test`

Output of `repquota -avugPs`:
[code]

Output of `lxc i

[2020-12-24 01:10] stgraber commented on #8280
Ah yeah, the container changing id and so projectid during the import on dir backend would explain it.

[2020-12-24 03:42] tomponline commented on #8280
Shall we store the Id used for project quota in volatile so it's not changed on import?

[2020-12-24 06:28] stgraber commented on #8280
@tomponline I think it's going to be easier to just change the project quota id on import.

We could store in volatile but that then opens up the door for duplication on import/migration/restore which would be more problematic.

[2020-12-24 21:16] turtle0x1 opened #8281 "Events / operations still say "container" when using a VM"
When you start a VM you will get an event with the message "starting container"

Would it be possible to say "starting container" or "starting virtual machine" or if easier just the agnostic "starting instance"

[2020-12-24 21:18] stgraber commented on #8281
Yeah, I've been planning on renaming all the operations to say instance instead. I've already done that to the lifecycle events in 4.9

[2020-12-24 21:19] turtle0x1 commented on #8281
Great thanks!

[2020-12-27 12:26] ogelpre commented on #5967
I have opened a ticket on upstream OpenRC project: https://bugs.gentoo.org/761918

[2020-12-27 15:42] strk opened #8282 "Give a way to tell from `lxc config` and `lxd init --preseed` if any configuration changed"
It would be useful to know, when configuring LXD (via `lxc config` or `lxc init --preseed`) if any configuration setting really changed. Right now the only way to do that would be saving `lxd init --dump` output to a file before and after a change, to check if anything changed (and would still fail to determine if the `core.trust_password` configuration changed.

[2020-12-28 22:33] lcherone commented on #7891
It's reproducible for me in 4.0.4 on ubuntu 20.04

Add the proxy, then reboot container, it won't start. Upon removing the proxy from the container the forkproxy process is still running, so cannot add the proxy back. The only fix seems to kill the orphaned process

![Screenshot_2020-12-28_22-31-10](https://user-images.githubusercontent.com/3892806/103246753-7c876900-495c-11eb-9664-9ad944078ef3.pn

[2020-12-29 16:29] olivier-lz opened #8283 "Snapshots lost expires after fullcopy"
# Required information

 * Distribution: **Debian 10**
   * Kernel version: **5.9.0-0.bpo.2-amd64**
   * LXC version: **4.9**
   * LXD version: **4.9**
   * Storage backend in use: **btrfs**

# Issue description

After copying CT from `source` to `destination` with `lxc copy --refresh source:lecollectif lecollectif`, I can see with `lxc info`.

[code]

[code]

Obviously I can delete manually the s

[2020-12-29 17:52] wpbrown opened #8284 "docs: incorrect name for vm image in unified tarball"
I found the correct name in https://github.com/lxc/lxd/blob/stable-4.0/lxd/images.go#L924 .

In the [Image Handling](https://lxd.readthedocs.io/en/latest/image-handling/) section, under `Supported Compression`

and under `Content`

`root.img` should be `rootfs.img`.

[2020-12-29 18:26] kautMaks opened #8285 "LXD daemon completely stucks after force reboot of memory overfull container"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-58-generic
   * LXC version: 4.0.5
   * LXD version: 4.9
   * Storage backend in use: dir

# Issue description
LXD daemon completely stucks after force reboot of memory overfull container

# Steps to reproduce
1. Launch two CTs
[code]

2. Set memory limits
[code]

3. Run `

[2020-12-29 23:06] stgraber commented on #8285
Can you show `dmesg` and `ps fauxww` when stuck?

[2020-12-29 23:06] stgraber commented on #8283
Should be a pretty easy issue with the serialization work done as part of migration.

[2020-12-29 23:39] #8284 closed

[2020-12-30 07:49] jamielsharief commented on #8283
Yesterday I encountered a similar problem.

When copying a container to a different server, snapshot device information is lost.

For example, if  you have a proxy setup for the container

[code]

Then create a snapshot of the container and run

[code]

On the remote server, the snapshot does not have the proxy device.

[2020-12-30 08:00] jamielsharief commented on #8283
Ubuntu 20.04.1 LTS
LXD version: 4.0.4

[2020-12-30 09:22] jamielsharief opened #8287 "Cant wait for snapshots"
Ubuntu 20.04.1 LTS
LXD version: 4.0.4

When creating a snapshot the background task `Snapshotting container` returns a status of `Success` however the size of the snapshot, continues to increase when checking at regular intervals afterwards.

I think the snapshot process is still running despite waiting for the operation reports it as complete.

[2020-12-30 10:38] kautMaks commented on #8285
Sure.
Output of `dmesg`:
[code]

Output of `ps fauxww`, which concerns LXD:
[code]

And I also noticed that if you do a force restart without attempt of normal restart, then the problem does not appear. And container restarts.
LXD daemon stucks exactly after an attempt of a normal restart, which does not complete, and after that a forced restart.

[2020-12-30 11:00] jamielsharief commented on #8287
I believe this is the cause for the problem with information loss from snapshots when copying instances with snapshot to a remote. This could be related to #8283.

It can be replicated perfectly using alpine/ubuntu instance with a proxy setup, basically wait for snapshot operation to complete, then copy it using CLI or API. The device proxy information is lost, unless you wait for maybe 20 seconds

[2020-12-30 12:42] tomponline commented on #8285
Sounds like could be another operation related busy wait. I fixed one that sounds very similar to that which was already cherry picked into the LXD 4.9 snap. Are you running the snap package?

[2020-12-30 12:49] kautMaks commented on #8285
No, LXD compiled from sources. (Release v4.9).
Try to build it from master and check?

[2020-12-30 13:04] tomponline commented on #8285
Yes try that there are several important fixes that have been cherry picked into stable snap.

[2020-12-30 13:07] tomponline commented on #8285
See https://github.com/lxc/lxd-pkg-snap/blob/latest-candidate/snapcraft.yaml#L1115

[2020-12-30 18:41] kautMaks commented on #8285
@tomponline Yes, it's already fixed in master.

@tomponline @stgraber
Thank you :)

[2020-12-30 18:41] #8285 closed

[2020-12-31 11:27] iainlane opened #8288 "Support IP ranges in `no_proxy`"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 "Focal", arm64
 * The output of "lxc info":

[code]

This is lxd from the `latest/edge` snap channel, revision `18781` AKA `git-ceafe2a`.

# Issue description

I've been playing with using lxd clustering. I want to move the Ubuntu autopkgtests to use this, as managing lxd remotes manually is proving to be a pain, especi

[2021-01-01 10:33] jamielsharief opened #8289 "Incorrect usage amount after creating from custom image"
Ubuntu 20.04.1 LTS
LXD version: 4.0.4
zfs-0.8.3-1ubuntu12.5
zfs-kmod-0.8.3-1ubuntu12.5

I created an ubuntu instance, and ran `apt install apache2 mysql-server php`, and then created an image of this using the API by sending a post request to `/images`.

When I create a new instance using this image, the usage amount is reported as 38MB. If I create an instance and manually install usage is shown

[2021-01-01 11:51] stgraber commented on #8289
That's perfectly normal. When crating from a clone, ZFS only tracks the divergence from the base image as disk usage.

If you want to consider the entire size of the dataset, you can switch the `zfs.use_refquota` option.

[2021-01-01 11:51] #8289 closed

[2021-01-01 14:18] #8288 closed

[2021-01-01 15:02] jamielsharief opened #8291 "Post hook: Failed to run: zfs set quota=1000000000 lxdpool/containers/ubuntu: cannot set property for 'lxdpool/containers/ubuntu': size is less than current used or reserved space"
Ubuntu 20.04.1 LTS
LXD version: 4.0.4

When testing backing up and restoring I came across the following error, I am noticing this because I am using 1GB limit, but it might apply to any instance on ZFS that goes into the extra 300MB.

[code]

Here is the info

![config-device-show](https://user-images.githubusercontent.com/20553479/103437374-4f221000-4c27-11eb-8e0b-2b52c0931d25.png)

This is disk

[2021-01-02 12:04] peter-held opened #8292 "Error starting containers after upgrading the kernel to 5.10"
Hello,

I'm receiving the following error after upgrading the kernel to 5.10:
[code]

[code]

Thank you.

[2021-01-02 13:49] stgraber commented on #8292
Yeah, that's a known liblxc issue, which was fixed upstream and that will get sorted when we tag the next liblxc release hopefully in the next week or so.

Closing as that's not a LXD issue but an issue with one of the libraries it uses.

[2021-01-02 13:49] #8292 closed

[2021-01-03 03:05] muir opened #8293 "cannot compile lxd 4.0.4: dependency problem with qmp: please add explicit dependency tracking"
# Required information

 * Distribution: Ubuntu 20.04
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: n/a
   * LXC version: 4.0.4
   * LXD version: 4.0.4
   * Storage backend in use: n/a

# Issue description

Cannot build from source: dependency go-qemu/qmp has changed APIs:

[code]

# Steps to reproduce

[code]

Now cut'n'paste those `export` commands.

[2021-01-03 05:39] #8293 closed

[2021-01-03 05:40] stgraber commented on #8293
Our official release tarballs include the dependency tree.

[2021-01-03 21:42] muir commented on #8293
@stgraber For my immediate uses, the tarball is fine.  However, if anyone wanted to build on top of LXD in Go, then including dependency information becomes very useful.

[2021-01-04 11:53] brauner opened #8294 "panic when stopping vm"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-33-generic #36-Ubuntu SMP Wed Dec 9 09:14:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 4.0.0-devel
   * LXD version: 4.9
   * Storage backend in use: btrfs

# Issue description

Panic in `qmp` when running `lxc stop <vm> --force`

#

[2021-01-04 12:02] brauner commented on #8294
Note that this issue seems to be gone when restarting the LXD daemon. Maybe it was a dependency issue like @tomponline pointed out on irc. In any case this can be closed if that's not a bug likely to hit users when upgrading.

[2021-01-04 12:03] tomponline commented on #8294
It does look like there is a possibility of a race here https://github.com/lxc/lxd/blob/master/lxd/instance/drivers/qmp/monitor.go#L175-L176 so probably need to move critical section below to include this check

[2021-01-04 12:06] brauner opened #8295 "lxd-agent fails to start"
h Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
[code]

# Issue description

All `lxd-agent`s fail to start after upgrading LXD. Any idea how that can happen?

[2021-01-04 12:16] kamzar1 opened #8297 "Lxc config device add unix-block mounts host root device into container"
* Distribution: Ubuntu
 * Distribution version: 18.04.5
   * Kernel version: 4.15.0-128-generic x86-64
   * LXC version: 4.9
   * LXD version: 4.9
   * Storage backend in use: zfs
   * Container: Alpine edge (3.12)

`sudo zfs create -s -V 1G zp2/pl2/1001/vd2`
`sudo chown -R 1000000.1000000 /zp2/pl2/1001/vd2`

`ls -lh /dev/zp2/pl2/1001/vd2`
lrwxrwxrwx 1 1000000 1000000 13 Jan  4 09:10 /dev/zp2/pl2/

[2021-01-04 12:58] #8297 closed

[2021-01-04 12:59] stgraber commented on #8297
This is perfectly normal, you're passing `/dev/vd2` in the container, the underlying block device on the host for it is stored on `vg-root` so the bind-mount of that block device file shows up properly.

It's just how bind-mounting special files works on Linux.

[2021-01-04 15:11] tomponline commented on #8291
@jamielsharief I think you are hitting issues related the shared concept of ZFS quotas.

By default LXD creates ZFS instance volumes from snapshots of the base image volume. In this way the quota used related to the differences between the base image and the instance's snapshot volume.

If you want to have dedicated quota for each volume then enable the the following storage pool setting `volume.z

[2021-01-04 15:12] #8291 closed

[2021-01-04 15:37] tomponline commented on #7891
@lcherone Hi, I've not managed to recreate this using LXD 4.0.4, see below:

[code]

Please can you enable debug logging and then show the output when you attempt to restart an instance with a proxy:

[code]

[2021-01-04 16:04] tomponline commented on #8283
RE the original problem report regarding snapshot expiry being lost, this is occurring even on local instance copies, e.g.

[code]

[2021-01-04 18:17] #8294 closed

[2021-01-04 18:35] jamielsharief commented on #8291
So If I am not using ZFS and set the root disk size, then what?

[2021-01-04 18:37] tomponline commented on #8291
Then the quota system of the non zfs pool will be used. I'm not quite following the question though, your report was talking about zfs quotas?

[2021-01-04 18:42] jamielsharief commented on #8291
Yes my report was about that, but I am trying to understand properly.

On my installation I am testing ZFS, and I thought if i set the root disk size, then that is the size of the disk.But if I understand you correctly, you are saying that depending upon driver it could mean totally different things.

E.g I create a container and set the root disk size, on ZFS, disk size means difference between s

[2021-01-04 18:49] tomponline commented on #8291
The disk 'size' property sets the disk quota for the volume on the pool. Depending on the pool driver this is implemented differently based on the functionality provided by the storage system. For example btrfs uses a filesystem level quota and lvm uses a logical volume of the specified size.  Zfs for containers uses a zfs quota and this takes into account actual space used by the snapshot not cum

[2021-01-05 08:24] vvolas opened #8301 "lxd forgets container FS and treats all containers as ext4 on ceph, lxd 4.0.4"
For some reason better or worse I had set this at some point  and have containers with xfs and ext4.  This is on ceph.
volume.block.filesystem xfs
And when I try to resize container it treats it as ext4, ceph volume gets resized. I fixed size with:
[code]

Probably if I didint mess around with that option everything would have been fine. Solution would be store containers FS in config or detect it

[2021-01-05 08:55] tomponline commented on #8301
The setting storage pool setting `volume.block.filesystem` is only applied to new volumes created after that is changed, it is not applied to existing volumes.

Please can you show output of `lxc storage volume <pool> ls` and then `lxc storage volume show <pool> container/<instance volume>`

E.g. I'm using an LVM storage pool here as it also has the same `volume.block.filesystem` setting as ceph p

[2021-01-05 09:12] tomponline commented on #8283
Reopening for snapshot devices missing on copy.

[2021-01-05 09:15] tomponline commented on #8283
Confirmed snapshot devices are copied when copying instance locally but not when copying remotely.

[2021-01-05 10:10] vvolas commented on #8301
`lxc storage volume list ceph-lxd`
[code]
and that line  appears on all cluster members

`root@cluster-linux:~# lxc storage volume show ceph-lxd container/katalogas-stage
config:
  block.filesystem: xfs
  block.mount_options: discard
  size: 60GB **actual size is 120+ now**.
description: ""
name: katalogas-stage
type: container
used_by:
- /1.0/instances/katalogas-stage
location: cluster-linux
cont

[2021-01-05 10:15] vvolas commented on #8301
I doubt I can reproduce this and cant expiremnt now, as I said I ceph volume got resized, but needed partition growing.

What happened, when I created ceph I set XFS then some time later I changed back to default ext4. And this is leftower xfs vm, then when resizing this bug occurs. If nobody else is complaining maybe this can be left behind.

[2021-01-05 11:46] tomponline commented on #8283
Found the issue, PR posted now, was actually an intermittent issue on the source sender based on Go's behaviour of changing the loop pointer variable used for assigning the device name.

[2021-01-05 13:50] tomponline commented on #8301
@vvolas did you manually change the filesystem on the volume without updating the LXD volume meta data about its filesystem?

[2021-01-05 13:51] tomponline commented on #8287
@jamielsharief can you provide reproducer steps for this issue please?

[2021-01-05 17:30] #8280 closed

[2021-01-05 17:31] #8283 closed

[2021-01-05 17:53] jamielsharief commented on #8287
With respect to snapshot size increasing, i am using a web based interface which reports the size, i noticed it says one size, then a while later it said something else - that i cant reproduce right now however

I think I was looking at container device and this caused confusion to me thinking it actually came back, now by isolating the specific snapshot data (rather than looking at it all) it see

[2021-01-05 18:05] tomponline commented on #8287
@jamielsharief yep I fixed the snapshot devices getting lost in https://github.com/lxc/lxd/pull/8302

I'll close this issue for now, but if you are able to recreate we can re-open.

[2021-01-05 18:05] #8287 closed

[2021-01-05 18:21] tomponline commented on #8287
What API route or lxc command are you using for 'snapshot meta'?

[2021-01-05 18:26] jamielsharief commented on #8287
I am using this
[code]
But my concern is despite waiting for the snapshot operation to complete, it not complete.

[2021-01-05 18:29] jamielsharief commented on #8287
At 30 seconds AFTER the background operation reported it as complete, it still has not completed, it is as 2.16mb, then another 10 seconds or after that it goes to 2.22MB.

I suspect the background operation is mistakenly reporting the snapshot complete, after the snapshot record is created in the db or something .

[2021-01-05 19:19] jamielsharief commented on #8287
ZFS using a custom partition.

[2021-01-06 08:32] muslu opened #8304 "Cant call alias command in container .bashrc!"
# Required information

 * Distribution: Ubuntu 18.04
   * Kernel version: 5.4.0-59-generic
   * LXC version: 4.9
   * LXD version: 4.9
   * Storage backend in use: zfs

Hi All;

If i create any alias command in container’s .bashrc and call alias than i get error.

For example:

I added alias `netp=’clear; netstat -pulten’`  to **.bashrc** in container (u18base) and `source .bashrc`

When I call `

[2021-01-06 09:28] tomponline commented on #8287
I just tried this on a ZFS pool using:

[code]

I can see the following debug logs showing the incoming snapshot request, operation listener and successful completion of the operation.

[code]

At the same time I polled `/1.0/instances/c1/snapshots?recursion=1` and looked at the `size` field and it did not change.

However if I made a modification to the main container (i.e installed a package usi

[2021-01-06 09:37] tomponline commented on #8287
So this shows the underlying ZFS behavior:

[code]

If I take a snapshot then I can inspect the size of the snapshot via ZFS directly:

[code]

This does not increase on an inactive container.

However if then modify the original volume, by installing a package, then the snapshot size also increases:

[code]

Which is also shown in the LXD API query:

[code]

So I believe this is just LXD reportin

[2021-01-06 10:44] tomponline commented on #8287
@jamielsharief Unfortunately we cannot change the underlying ZFS behaviour LXD just reports on it. If the snapshot size reported by ZFS is changing (as we have both experienced) then it will change in LXD too.

As for restoring snapshot device information, I believe I fixed this in my PR yesterday https://github.com/lxc/lxd/pull/8302

[2021-01-06 11:22] vvolas commented on #8301
No, I did not make any manual changes to filesystem beyond xfs_grow command ever.

It could have changed(as far as I understand how lxd works) when I copied container with lxc copy, now I cant tell exact scenario because that was long time ago. For example from btrfs to -> ceph.
I often had problems simply moving containers from one to another cluster member or different volume, so I might  had us

[2021-01-06 11:30] jamielsharief commented on #8287
I thought it was a bug, because it reports the snapshot operation complete, but i noticed the size was changing, which indicates the opposite. And since i was getting random ZFS busy error and errors restoring from snapshots that were copied to remote machines, I was digging into the reason why.

[2021-01-06 11:37] tomponline commented on #8301
@vvolas thanks, so it could be that there is an issue with inheriting the volume specific `block.filesystem` setting for the ceph driver, and its reverting to using the current pool `volume.block.filesystem` setting (which if missing also defaults to ext4).

You've shown that the volume config itself has the `block.filesystem: xfs` value set, so one would expect that if resizing volume using `lxc

[2021-01-06 11:44] #8304 closed

[2021-01-06 11:45] stgraber commented on #8304
Closing as such support/usage questions are better handled at https://discuss.linuxcontainers.org

I suspect that non-interactive `bash -c` may not be sourcing the `.bashrc` file, but I've never looked into it.
You may want to look at the bash manpage for that.

`lxc exec u18base -- netp` does not go through a shell at all, so it makes sense that this would not respect .bashrc and would just exit

[2021-01-06 11:47] #8277 closed

[2021-01-06 11:47] #8279 closed

[2021-01-06 11:51] stgraber commented on #8282
Your best bet if you need to automate something like this through LXD is to do:
 - GET /1.0/whatever
 - Retrieve the ETag value
 - Determine if you want to change something
 - If you do, push change with ETag value
 - LXD will apply the change or if something changed in between will reject it due to ETag mismatch

At that point you'll know that any change you request has been applied and the state

[2021-01-06 11:51] #8282 closed

[2021-01-06 12:26] jamielsharief commented on #8287
Okay I just recreated the container, installed LAMP and then did the snapshot, the moment background operation reported it as complete, I hit restore and the process completed without error.  So I am going to close this.

[2021-01-06 13:11] #8281 closed

[2021-01-06 22:09] ltrager opened #8308 "LXD resources return null when there are no USB devices"
MAAS 2.10 will be modeling all USB and PCI devices on the system. It is using LXD as its data source. A few machines in the MAAS CI do not have any USB devices. LXD is expressing this as

[code]

Typically LXD omits objects which have no value instead of returning null. I can produce this on both x86_64 and PPC64 machines which do not have USB devices. This may be an issue for PCI devices as well

[2021-01-06 23:49] #8308 closed

[2021-01-07 09:35] srkunze opened #8310 "Iteration and Container Selection"
### Hi everyone,

quite recently, I found myself having a handful of containers and want to keep them up to date. For this purpose, I felt to do something like

[code]

As far as I read the docs, this is currently not possible.

### 2 Questions
1) What would be the simplest way of doing it now without knowing the complete list of containers?
2) Do you think it's worth adding container selection (b

[2021-01-07 18:32] brauner opened #8313 "RFE: lxc restart --console <instance>"
I find myself often wanting to use `lxc restart --console --force <instance>` to not lose any console input when restarting an instance. I could of course do `lxc stop --force <instance>` and then `lxc start --console <instance>` but it would be nicer if I could do this with the single restart command. What do you think?

[2021-01-07 19:15] stgraber commented on #8313
It's already supported :)

[2021-01-07 19:15] #8313 closed

[2021-01-07 19:29] stgraber commented on #8310
Duplicate of https://github.com/lxc/lxd/issues/1045

For now, you could do `for ctn in $(lxc list -cn -f csv myprefix); do lxc exec ${ctn} -- apt update; done`

[2021-01-07 19:29] #8310 closed

[2021-01-07 20:17] brauner commented on #8313
Hahaha :)

On Thu, Jan 7, 2021, 20:16 Stéphane Graber <notifications@github.com> wrote:

[2021-01-09 13:55] gvijqb commented on #4574
Hi @cyberwillis were you able to access GPU view nvidia.runtime in privileged mode in LXC? I'm still facing this issue. I get a forkstart error on lxc container reboot.

[2021-01-09 15:56] cyberwillis commented on #4574
Hi...

This problem happened to me a long time ago. Previously I was using LXD 3.0 but now I am using 4.0 and I don't use the following settings anymore:
`security.privileged=true`

[2021-01-09 17:35] cyberwillis commented on #4574
I remember now .. I used that setting to be able to map a shared folder with Host machine ...  because without that the folder become without owner "nobody" and only root will be able to use this folder.

Right now I use
[code]

In this way I have normal access to my folders mapped in host with my "custom" user inside the container without needing the priviledged that can cause GPU access problems

[2021-01-09 19:50] gvijqb commented on #4574
Thanks @cyberwillis for this suggestion. It did enable me to get GPU access inside lxc container. But my issue is that I am trying to run docker with GPU inside my lxc container. So when I do this:

`sudo docker run --rm --runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=all -it nvidia/cuda
`
It displays this error:

`stderr: nvidia-container-cli: mount error: write error: .....  operation not permitted
`

[2021-01-10 13:32] gargath opened #8318 "Feature Request: Support GVRP on macvlan Networks"
# Overview

When creating a new VLAN link, `iproute2` supports activating GVRP via the `gvrp on` option:
[code]

This is useful where switches rely on GVRP to configure port<>VLAN memberships.

When creating a network of type `macvlan` lxd seems to execute the same `ip link add link` as above, but does not support the addition of GVRP: https://github.com/lxc/lxd/blob/3e3f3fe032fc536876bb265db19dcb

[2021-01-11 02:32] aplatypus opened #8319 "snap install fails onUbuntu 20.10"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-36-generic x86_64 bits: 64 compiler: gcc v: 10.2.0
   * LXC version: Unavailable did not install (see below)
   * LXD version: Unavailable did not install (see below)
   * Storage backend in use: N/A

# Issue description

Installed latest stable ve

[2021-01-11 14:04] stgraber commented on #8319
Not a LXD bug but some snapd oddity.

I wonder, do you have anything which may clean your `/tmp` regularly? This kind of error is usually related to something having decided to cleanup things in /tmp which are still in use...

I'd recommend rebooting and trying again, if this persists, please report at https://forum.snapcraft.io

[2021-01-11 14:04] #8319 closed

[2021-01-11 15:32] kautMaks opened #8320 "lxd import breaks lxc exec CT"
* Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-58-generic
   * LXC version: 4.0.5
   * LXD version: 4.10
   * Storage backend in use: dir

# Issue description

lxd import breaks lxc exec CT

# Steps to reproduce

 1. `lxc launch ubuntu:20.04 test`
 2. `lxd import test --force`
 3. Output of `lxc exec test -- bash`:
[co

[2021-01-11 15:44] stgraber commented on #8320
That should be fixable, this error usually happens as a result of not having an up to date `lxc.conf` for the container.

[2021-01-11 15:45] stgraber commented on #8320
@tomponline can you look at a quick fix for this?

[2021-01-11 17:41] tomponline commented on #8320
@stgraber there is already an exported `SaveConfigFile()` function on the `Instance` interface so can use that. However it is currently returning `ErrNotImplemented` for VMs. Is it expected that `lxd import` work for VMs at this time? If not I'll add a check to fail on non-container instances for now.

[2021-01-11 22:06] stgraber commented on #8320
@tomponline not sure about VMs, if it works, it's likely by accident :)
As I mentioned earlier, qemu does not need its configuration after startup, so I think having the function return nil for VMs should be fine.

[2021-01-12 11:17] vvolas commented on #8301
I encountered same errors when trying to copy vm, to same or different pools.

[2021-01-12 11:19] tomponline commented on #8301
@vvolas can you enable debug log and then show the output when you're trying to perform one of these operations.

[code]

[2021-01-12 11:34] vvolas commented on #8301
This is copy to same pool

[code]

[2021-01-12 11:39] tomponline commented on #8301
Please show output of

[code]

[2021-01-12 11:49] vvolas commented on #8301
[code]

[2021-01-12 12:12] tomponline commented on #8301
Yes looks like when the snapshot was taken the volume's meta data indicated the filesystem was ext4, but was actually something else (xfs). You could try altering the DB record for the snapshot and see if that helps:

[code]

[2021-01-12 12:48] vvolas commented on #8301
Thanks for workaround, but is this output correct, because  I m getting multiple IDS, should I update them all?
[code]

[2021-01-12 12:50] tomponline commented on #8301
@vvolas do you have multiple projects containing instance of the same name?

Try this:

lxd sql global 'select * from storage_volumes_snapshots join storage_volumes on storage_volumes.id = storage_volumes_snapshots.storage_volume_id where storage_volumes.name = "katalogas-ng" and storage_volumes_snapshots.name = "snap0"'

[2021-01-12 12:54] vvolas commented on #8301
No I dont use projects, maybe this have something to do with cluster members?

[code]

[2021-01-12 13:11] tomponline commented on #8301
@vvolas ah yeah older versions of LXD stored a copy of each volume's config for each cluster member (newer versions don't do that and have a null `node_id` value instead).

You should update the config for each on of them.

[2021-01-12 14:01] vvolas commented on #8301
copying to same pool failed in with same error and log messages as before, but copying to btrfs hdd seems ongoing.

[2021-01-12 14:34] #8320 closed

[2021-01-13 09:28] jason-lo opened #8326 "mount failed: Operation not permitted. in LxC"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4 LTS
 * The output of "lxc info" or if that fails:
[code]

   * Kernel version: 4.15.0-128-generic
   * LXC version: 4.10
   * LXD version: 4.10
   * Storage backend in use:

# Issue description

Cannot loop mount inside container.

# Steps to reproduce

 1. Step one
 sudo mount -oloop work/volumes/abb-dfa-apc2200/part

[2021-01-13 09:36] tomponline opened #8327 "lxd crash when running lxc ls intermittently"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-36-generic #40~20.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 5e4dddcf9b2f84f52f71095f2e8b8c59872ec861
   * LXD version: 5a80c0910b251325811f5e8b4c0e6aa264c00d79
   * Storage backend in use: zfs

# Issue description

I've not m

[2021-01-13 11:03] vvolas opened #8328 "lxc rename VM on ceph fails to rename both ceph images lxd 4.0.4"
[code]
It leaves like this
virtual-machine_w10-management
virtual-machine_w10-management**s**.block

I have to manually rename on ceph virtual-machine_w10-management -> virtual-machine_w10-management**s**

[2021-01-13 11:17] jason-lo opened #8329 "In LxC container, loop mount failed: Operation not permitted."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4 LTS
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 4.15.0-128-generic
   * LXC version: 4.10
   * LXD version: 4.10
   * Storage backend in use:

# Issue description

When doing mount, error with permission denined.

# Steps to reproduce

 1. Step one
 sudo mount -oloop work/volumes/abb-dfa-

[2021-01-13 13:20] #8329 closed

[2021-01-13 13:23] stgraber commented on #8329
That's normal, loop device handling isn't namespaced on Linux and so isn't available in containers.

Additionally mounting block devices also isn't allowed in unprivileged containers so should you have been able to setup a loop device you still wouldn't have been able to mount it.

We have workarounds for that second part, but for the former, our attempts at namespacing loop devices have so far no

[2021-01-13 13:24] #8326 closed

[2021-01-13 13:24] stgraber commented on #8326
Looks like a duplicate issue.

[2021-01-13 16:32] azmeuk opened #8330 "lxc list: dqlite connection error"
# Required information

 * Distribution: Debian
 * Distribution version: buster 10
 * The output of
   * `lxc-start --version` 3.0.3
   * `lxd --version` 4.10
   * `lxc-checkconfig`
[code]
   * `uname -a` Linux xxxx.yyyy.tld 4.19.0-11-amd64 lxc/lxc#1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux
   * `cat /proc/self/cgroup`
[code]
   * `cat /proc/1/mounts`
[code]

`/var/snap/lxd/common/lxd/l

[2021-01-13 16:48] stgraber commented on #8330
How big a cluster is this? It suggests that you don't currently have a quorum of cluster members.

[2021-01-13 17:00] azmeuk commented on #8330
This is a single lxc server with a few containers.

[2021-01-13 17:11] tomponline commented on #8328
Confirmed, looking into this now.

[2021-01-13 17:23] stgraber commented on #8330
Is LXD running on both of those systems and with port 8443 responding on those two IP addresses?

[2021-01-13 18:32] lucasmoura opened #8331 "Error when running shutdown of a instance"
# Required information

 * Distribution: bionic
 * Distribution version: 18.04.5
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-59-generic
   * LXC version: 4.10
   * LXD version: 4.10
   * Storage backend in use: ext4

# Issue description

Sometimes, when shutting down an instance. Looking at the logs, I get the following error msg:

[code]

# Steps to reproduce
This iss

[2021-01-13 18:34] azmeuk commented on #8330
Yes actually the other node is down and does not start. I will try to repair this and tell you if this solved this.

[2021-01-13 18:36] stgraber commented on #8331
Nothing shown here looks wrong. Those warning messages are harmless and seen on most containers.

[2021-01-13 18:41] stgraber commented on #8331
Chatting privately, it seems like the issue is something in the container calling `shutdown` and then the container not actually shutting down. When this happens, the issue is usually in the container with some service not wanting to shut down or some systemd issue.

During such a clean shutdown, LXD isn't involved at all, other than once init in the container exits, it unmounts the storage of the

[2021-01-13 18:41] #8331 closed

[2021-01-13 18:43] azmeuk commented on #8330
I can confirm that this situation is solved when all the nodes are up and running.

[2021-01-13 18:43] #8330 closed

[2021-01-13 18:49] stgraber commented on #8330
Good. LXD clustering requires a majority of nodes to be online to form a quorum. As a quorum of 1 is pointless, you need a minimum of 2. That means that a two nodes cluster is actually the worst case scenario as the loss of either node will take down the clustered database.

[2021-01-13 23:10] #8328 closed

[2021-01-14 07:54] azmeuk commented on #8330
Thank you for the insight.
Thinking of this situation, I think that `Error: failed to begin transaction: failed to create dqlite connection: no available dqlite leader server found`is not a very explicit error message, what about something like `Cannot reach node xx.xx.xx.xx. Aborting`?

[2021-01-14 14:33] stgraber commented on #8330
Yeah, that would need a bunch of work be done in dqlite though, LXD doesn't currently get to know anything more than what it shows you.

[2021-01-14 14:47] lds-lds opened #8335 "no lxd iptables rules after installation"
# Required information

 * Distribution: ubuntu bionic
 * Distribution version: snap 4.0.4
 * The output of "lxc info"

config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_

[2021-01-14 16:53] axinojolais opened #8336 "LXD's cleanup of /run upon start breaks network namespaces"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-62-generic
   * LXC version: ?
   * LXD version: snap 18150 (4.0/stable right now)
   * Storage backend in use: N/A

# Issue description

I have some custom systemd scripts creating network namespaces before network.target (a tweaked version of htt

[2021-01-14 17:35] tomponline commented on #8335
LXD is using the nftables firewall:

[code]

So take a look at the nft rules:

[code]

[2021-01-14 17:35] #8335 closed

[2021-01-14 18:12] stgraber commented on #8336
Everything the LXD snap does is done in a separate mount namespace and so cannot impact the entries on the host.
You can easily see the two different /run copies with (as root):
 - ls -lh /run
 - ls -lh /proc/$(cat /var/snap/lxd/common/lxd.pid)/root/run/

I wonder if you're maybe dealing with a systemd bug there where a mount in a separate mount namespace is somehow re-triggering your mount unit.

[2021-01-14 18:12] #8336 closed

[2021-01-14 20:04] ghomem commented on #7423
One thing I am missing is an option to list the instances (containers and VMs) with the limits (CPUs, memory, disk,....) to get an overview of resources allocated for the physical system. Would it make sense to add this to the lxc list command? Or is there a separate command for that purpose?

thanks in advance!

[2021-01-14 22:25] stgraber commented on #7423
[code]

[2021-01-14 22:26] stgraber commented on #7423
[code]

[2021-01-14 23:52] ghomem commented on #7423
@stgraber awesome! Somehow we didn't find it. Thank you :-) :+1:

[2021-01-15 10:34] mdione-cloudian opened #8337 "Failed to remove device "eth1": route ip+net: no such network interface"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Not sure how to describe it or to trigger it. I'm using Terraform + LXD provider to create and destroy LXD containers. I do this a few times a day, and so far hadn't had any issues with this. I also from time to time run tests that create and des

[2021-01-15 15:09] ghomem commented on #7423
@stgraber here is a script that prints that list and sums the rows to obtain the totals:

https://bitbucket.org/asolidodev/ironman/src/master/puppet/is_lxd/files/lxd-used-resources.sh

Would be better if LXD could sum the summable fields directly but for now this script is a must for us.

![Screenshot_20210115_150935](https://user-images.githubusercontent.com/3352900/104743525-b2da2c00-5743-11eb-8

[2021-01-15 15:42] tomponline commented on #8327
@brauner I wonder if you could cast your eye over this stack trace and see if you can see where things are going wrong?

I've taken a look and the `state` function in go-lxc has a check for `c.container` being nil to prevent calling into liblxc, but that apparently isn't working in this case or is something else. Thanks

[2021-01-15 15:43] tomponline commented on #8327
@brauner for context I get these fairly frequently (once or twice a week usually) when running `lxc ls`. Everything is freshly built and up to date.

[2021-01-15 15:45] tomponline commented on #8327
There seems to be several go routines calling `getLxcState` at the same time which might have something to do with it, although c.State() is protected by a rwlock.

[2021-01-15 16:30] brauner commented on #8327
Ok, will take a look soon.

[2021-01-15 16:34] brauner commented on #8327
When did this start?

[2021-01-15 16:40] tomponline commented on #8327
@brauner im not sure exactly, its been before Christmas at least.

[2021-01-15 16:42] brauner commented on #8327
So what you can see here:
[code]

is that both `container` arguments are `0x0`.

[2021-01-15 16:44] brauner commented on #8327
For the `state()` method itself that seems correct as it's void anyway but `go_lxc_state()` expects a valid pointer.

[2021-01-15 16:44] brauner commented on #8327
I thought you sent a patch for that to go-lxc a while ago?

[2021-01-15 16:53] tomponline commented on #8327
@brauner mmm yes I thought that was the issue, but `state()` has a nil check which should have prevented calling `lxc_state`

https://github.com/lxc/go-lxc/blob/v2/container.go#L282

[2021-01-15 16:53] tai271828 opened #8339 "Missing CPU name and vendor values when curl unix.socket"
# Required information

 * Distribution: Ubuntu Server
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:

[code]
The system installed the lxd snap (with core18)

[code]

# Issue description

Failed to fetch cpu name and vendor name.

Please note `lxd.log` was collected on an TaiShan 2280 V2 ARM server (lab codename: kreiken), and this could
 be reproduced on many differe

[2021-01-15 16:57] tomponline commented on #8327
@brauner unless `c` itself is nil, but in that case would have thought Go would have panicked at he `c.container == nil` line https://github.com/lxc/go-lxc/blob/v2/container.go#L282

[2021-01-15 17:01] tomponline commented on #8327
Yes this one https://github.com/lxc/go-lxc/commit/70331db540ebc4a30247e6d8e4ef2c6330375f18#diff-14bacfb63a209323729af295c64c9bb978c84e810d18e3e7b7ae66d9b3cd7aca

[2021-01-15 17:02] tomponline commented on #8327
@brauner I suppose it could be possible that `c.container` is being set to nil in the time between the nil check and being passed to `go_lxc_state()`.

[2021-01-15 18:22] dannf commented on #8339
fyi, I believe the canonical way to expose CPU model names on ARM servers is via SMBIOS Type 4. `lscpu` recently started parsing that per https://github.com/karelzak/util-linux/commit/367c85c472869b75eaf770d4be0b360e30710b95.  Ubuntu >= 20.10 ship with an `lscpu` new enough to support it.

[2021-01-15 20:23] axinojolais commented on #8336
Related : https://github.com/lxc/lxd-pkg-snap/commit/a58e72e819f37495cd6bb174b551a2ba928e1efc

Thanks @stgraber :)

[2021-01-15 21:38] stgraber commented on #8339
Can either of you provide me with access to a system where this is supported?
Neither of my test systems here appear to be implementing this.

[2021-01-15 21:44] stgraber commented on #8339
It'd be great if the kernel would finally export vendor/model information for CPUs in sysfs rather than having a dozen different ways to get to that data though...

The current logic is in https://github.com/lxc/lxd/blob/master/lxd/resources/cpu.go#L218 and we've made those fields optional in the LXD API specifically because it's not available in a consistent manner across all architectures.

It s

[2021-01-15 21:47] stgraber commented on #8337
@tomponline any idea what's going on here?

[2021-01-15 23:11] dannf commented on #8339
Yeah, I'll follow up with access information via private email.

[2021-01-16 20:03] piwaniuk opened #8340 "TestIsAddressCovered failing when localhost resolves to IPv6 address"
# Required information

 * Distribution: Debian
 * Distribution version: bullseye
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.7.4
   * LXC version: 4.0.5
   * LXD version: 4.10
   * golang version: 1.15.6

# Issue description

When trying to build LXD from sources, the process failed at the unit test phase. After investigation it turns out the cause is that `net.LookupHost

[2021-01-16 20:09] stgraber commented on #8340
[code]

So maybe more at play here?
What's in your `/etc/hosts` exactly?

[2021-01-16 20:30] piwaniuk commented on #8340
Here is my `/etc/hosts`:

[code]

`net.LookupHost` returns a list of addresses and in the mentioned function only the first element is taken:

https://github.com/lxc/lxd/blob/lxd-4.10/lxd/util/net.go#L188

On the machine I run the build, the lookup apparently resolves to `{"::1", "127.0.0.1"}`. When I changed the function to compare all elements of the lookup result, the test passed.

[2021-01-17 11:10] diegomontoya opened #8341 "LXD device nic add routed ipv4(6).address (comma delimited list) should check for duplicates"
Version: lxd snap 4.10

The ipv4(6).address list should be error checked for uniqueness. Otherwise, really bad things can happen.

We made a mistake and added around 40 ips as list with about  6 out of 40 as duplicates by mistake and this server/network pretty much went down. Not sure if arp storm, due to conflicting ips was cause but it was so bad and so sudden we dare not to try again unless in

[2021-01-17 20:24] stgraber commented on #8341
@tomponline guess we should extend the checks in `validate` to look for duplicates?

[2021-01-17 20:25] stgraber commented on #8340
Looks like you prepared a fix for this, are you going to send it as a pull request?

[2021-01-18 03:46] stgraber commented on #8339
[code]

[code]

[code]

So looks good on the first two, bit odd on the last one but lines up with what dmidecode reports, so whatever :)

Worth noting that reading DMI table requires root, so this will only work when the logic is run as root on the host, unprivileged users and use from within a container will not work.

[2021-01-18 09:00] #8339 closed

[2021-01-18 10:03] tomponline commented on #8341
@stgraber @diegomontoya Yes it makes sense to extend the validation to improve the user experience. However I've not been able to reproduce the issue reported above.

When I tried adding duplicate IPs the container failed to start because it couldn't add the duplicate static route on the host (which makes sense).

That being said it did appear to leave the ARP proxy entries on the host, so perhaps

[2021-01-18 10:52] tomponline commented on #8337
@stgraber no idea, looking at the config the physical and bridge NICs shouldn't be manipulating routes.

@mdione-cloudian please can you enable snap debug mode and show the log output when this occurs:

[code]

[2021-01-18 11:07] mdione-cloudian commented on #8337
@tomponline ack

[2021-01-18 11:57] #8341 closed

[2021-01-18 11:59] stgraber commented on #8337
@tomponline that shouldn't get you anything more than the monitor output above as that contains the DBUG statements.

[2021-01-18 12:02] tomponline commented on #8337
@stgraber ah OK didn't know that. I've no idea I'm afraid, and I cannot find any examples of errors containing "route ip+net" in a web search that might suggest what is happening.

[2021-01-18 12:37] stgraber commented on #8337
Error clearly comes from deviceRemove, most likely the `Remove()` call.

The format of the error suggests it's coming from something we call in the `net` package.

[2021-01-18 12:39] stgraber commented on #8337
Possibly in `networkClearLease` where we do a fair amount of `net.` parsing.
`InterfaceByName` run on a missing interface may yield that error.

[2021-01-18 12:40] tomponline commented on #8337
Yes but what I cannot explain is how the "route ip+net" words appeared, I cant find them reference anywhere. Perhaps the config is being changed at some point.

[2021-01-18 12:41] stgraber commented on #8337
[code]

[2021-01-18 12:44] tomponline commented on #8337
ah ok so its coming from the stdlib.

[2021-01-18 13:07] mdione-cloudian commented on #8337
So one of my interfaces does not exist? Makes not much sense, since they're the same interfaces I declare when create the container.

[2021-01-18 13:08] tomponline commented on #8337
@mdione-cloudian yes indeed, I'll go through the code and check there isn't anything obviously wrong here. As @stgraber said it may be come corruption in dnsmasq leases file.

Can I just confirm something though, as you seeing this error for both eth1 and eth0 devices, as your problem description example shows the error from eth1 but your debug log shows eth0.

[2021-01-18 13:16] mdione-cloudian commented on #8337
Yes, it alternates seemingly randomly.

[2021-01-18 15:20] tomponline commented on #8337
So it could be coming from https://github.com/lxc/lxd/blob/master/lxd/device/nic_bridged.go#L755 if the `parent` interface has been removed by the time the container's device is being removed. Could that possibly be happening in your setup?

[2021-01-18 15:22] tomponline commented on #8337
I can reproduce the error as so:

[code]

[2021-01-18 16:19] #8337 closed

[2021-01-18 16:30] tomponline commented on #8301
Found the bug.

`lxc snapshot <instance>` appears to be copying the current value of the pool's `volume.block.filesystem` setting into the snapshot's volume config, rather than using the instance volume's config that it is snapshotting.

[2021-01-18 17:15] tomponline commented on #8327
Didn't fix it unfortunately, got this crash today running `lxc ls` with a freshly built go-lxc, liblxc and lxd:

[code]

[2021-01-18 17:34] stgraber commented on #8327
Quick observation (though unlikely to affect this) but you may want to drop the .deb version of golang and `snap install go --classic` so you can get onto 1.15.

[2021-01-18 18:41] #8340 closed

[2021-01-18 19:46] #7896 closed

[2021-01-18 19:53] tomponline commented on #8327
@stgraber thanks. Given the `state()` function has a != nil check on `c.container`:

https://github.com/lxc/go-lxc/blob/v2/container.go#L321-L325

I am struggling to understand how it apparently gets passed as nil to the `go_lxc_state` C function.

[2021-01-18 20:29] #8301 closed

[2021-01-19 01:47] #8295 closed

[2021-01-19 01:51] stgraber commented on #1613
@dramos20 @ej-castillo Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:51] stgraber commented on #7237
@zhenr667  Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:51] stgraber commented on #7319
@grant-he Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:51] stgraber commented on #7322
@zhenr667 Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:52] stgraber commented on #7423
@chang-andrew Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:52] stgraber commented on #7559
@ej-castillo @dramos20 @tbobo Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:52] stgraber commented on #7708
@vpranav5 Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:52] stgraber commented on #7871
@grant-he Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:53] stgraber commented on #7872
@kevtheappdev Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:53] stgraber commented on #7873
@grant-he Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:53] stgraber commented on #7874
@WilliamGrossKC Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:53] stgraber commented on #7900
@Jdogtherock Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:54] stgraber commented on #7901
@TimRots are you still looking into this?

[2021-01-19 01:55] stgraber commented on #7946
@komish still looking into this?

[2021-01-19 01:55] stgraber commented on #7947
@rctravers Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:55] stgraber commented on #7948
@DDEFISHER still looking into this?

[2021-01-19 01:55] stgraber commented on #7995
@rctravers Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:55] vpranav5 commented on #7708
Hi @stgraber, Apologies for the delayed response. Yes, please go ahead and assign this issue to someone else.

[2021-01-19 01:56] stgraber commented on #8005
@gzhang1218 Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-19 01:56] stgraber commented on #8236
@matthewa150 are you still looking into this?

[2021-01-19 01:58] chang-andrew commented on #7423
Apologies, yes would you mind unsigning me? I have not been able to make much progress on this.

[2021-01-19 01:58] matthewa150 commented on #8236
Yes, sorry for delay. End of year/new year got pretty busy for me, should have something soonish though.

[2021-01-19 02:01] komish commented on #7946
@stgraber I haven't had a chance to come back to it yet :(. I got as far as provisioning a fresh machine in the home lab. My apologies, may be best to unassign me to free it up for others and/or if this is moving up in the priority.

[2021-01-19 02:08] stgraber commented on #8236
Excellent, looking forward to it!

[2021-01-19 02:09] stgraber commented on #7946
We're planning to have this in a release by mid April so there's still some time for you to take a stab at it :)

[2021-01-19 02:37] zhenr667 commented on #7237
@stgraber I don't think I can work on this, sorry for the trouble.

[2021-01-19 02:40] zhenr667 commented on #7322
@stgraber I don't think I can work on this, sorry for the trouble.

[2021-01-19 03:25] WilliamGrossKC commented on #7874
Hi,

I am very sorry. I recently experienced a death in the family and had to file for an incomplete for the class I was contributing to this GitHub for. I do not think I will be able to finish the assigned issue. I’m very sorry for the inconvenience.

Sent from my iPhone

[2021-01-19 06:56] tbobo commented on #7559
Sorry about the delay, we intend to follow up on this soon.

[2021-01-19 06:56] tbobo commented on #1613
Sorry about the delay. We intend on following up on this soon.

[2021-01-19 09:22] #7934 closed

[2021-01-19 11:30] brauner commented on #8327
Yeah, it's very odd...

[2021-01-19 11:30] brauner commented on #8327
Unless there's a refcount issue such that it gets deallocated in C and not in go?

[2021-01-19 11:33] tomponline commented on #8327
@brauner one thing that the stack trace shows is that there are multiple concurrent calls going onto `go_lxc_state` and albeit it with different pointer values (representing each instance in the `lxc ls` output), perhaps we should prevent multiple concurrent calls with a mutex in lxd.

[2021-01-19 14:11] stgraber commented on #7874
Sorry for your loss, I'll unassign this from you.

[2021-01-19 14:40] brauner commented on #8327
But each instance should be a separate object so why would the concurrency matter in this case?

[2021-01-19 14:42] tomponline commented on #8327
@brauner it shouldn't be needed, thought I might try that to see if it helps and then it may point to something shared in liblxc or go-lxc.

[2021-01-19 21:08] DDEFISHER commented on #7948
@stgraber Yes I got side tracked with some other things but plan on looking into this still. If it's urgent though I understand if you need to re-assign.

[2021-01-20 00:13] stgraber commented on #7948
Nope, not urgent at present. Let me know if you have any question or need any help!

[2021-01-20 06:19] grant-he commented on #7873
Let's have someone else have a go at it.

[2021-01-20 06:19] grant-he commented on #7871
Let's have someone else have a go at it.

[2021-01-20 06:19] grant-he commented on #7319
Let's have someone else have a go at it.

[2021-01-20 13:26] mdione-cloudian commented on #8337
how can I be notified when this fix is released?

[2021-01-20 13:27] stgraber commented on #8337
Stable got updated a few minutes ago with cherry-picks that include this fix.

[2021-01-20 14:59] vrubiolo commented on #6188
Hi there, I confirm I got the same issue w/ Vagrant using the shell provisioner to start an lxc container. I am looking into whether the `</dev/null` workaround fixes things for me.

[2021-01-20 14:59] stgraber commented on #7926
@kevtheappdev Do you still intend to work on this or should we un-assign so someone else can have a go at it?

[2021-01-20 17:08] #8318 closed

[2021-01-20 22:56] Jdogtherock commented on #7900
Hello, may I be unassigned?

[2021-01-21 05:46] grebennikov opened #8358 "Configuration of VM isn't updated when adding new disks"
Focal
LXD 4.10
Storage backend - file

Created a VM with one additional volume, VM runs, volume is working.
Shutdown the VM, add 2 more volumes, "lxc config" reflects that.
However looking into the qemu config for the VM still see that only one volume is attached.

$ lxc storage volume list default|grep osd
| custom          | osd1         |             | block        | 1       |
| custom

[2021-01-21 09:21] tomponline commented on #8358
VM's config file is only updated at next start. Are you able to post a full-reproducer showing the commands you run to add the drives, and the lack of devices being represented in the VM at next start?

[2021-01-21 09:40] yoshikado opened #8359 "creating container sometimes fails with Failed to add device "eth0": database is locked""
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1 LTS
 * The output of "lxc info":
config:
  cluster.https_address: 10.10.11.136:8443
  core.https_address: 10.10.11.136:8443
  core.trust_password: true
  images.compression_algorithm: none
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_fil

[2021-01-21 12:42] #8359 closed

[2021-01-21 16:28] tomponline opened #8368 "Avoid selecting SR-IOV VF interfaces that are UP or configured with a non-link local IP"
When selecting an SR-IOV VF to be used with an instance we currently do not consider if an external user/software is using the VF interface already.

We should avoid selecting a VF interface that is UP or has a non-link local IP defined on it.

[2021-01-21 19:33] gvijqb commented on #4574
Hi @cyberwillis were you able to run docker container with GPUs inside LXC container by just providing the nvidia runtime and the idmap settings? I am unable to do so. It still results in operation not permitted error.

[2021-01-21 20:03] cyberwillis commented on #4574
Nope. Appear is not possible anymore.

[2021-01-22 03:00] ihanick opened #8370 "LXD 4.10 breaks kubernetes support due to nf_conntrack_tcp_timeout_established"
# Required information
 * Distribution: ubuntu focal (Vagrant ubuntu/focal64)
 * Distribution version: snap LXD 4.10
 * The output of "lxc info" or if that fails:
[code]

# Issue description

After snap refresh from 4.9 to 4.10, I'm not able to run K3S. This kubernetes distribution (and other ones) requires a specific value for `sysctl net.netfilter.nf_conntrack_tcp_timeout_established=86400`. In

[2021-01-22 03:05] stgraber commented on #8370
Hmm, LXD doesn't have any control over that. This is purely up to the kernel.

[2021-01-22 03:09] ihanick commented on #8370
The issue is not happening with snap install lxd --channel=4.9/stable
Also different kernels allows to reproduce same problem: e.g. from Fedora 33: 5.10.8-200.fc33.x86_64

[2021-01-22 12:29] iam-TJ opened #8372 "devices: disk: EPERM on fchmod() and utimensat() calls"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11-0-rc3
   * LXC version: 4.10
   * LXD version: 4.10
   * Storage backend in use: dir

# Issue description

EPERM returned by calls to utimensat() with a host directory mounted inside a container.

I use containers for building software, with source

[2021-01-22 12:41] eddyateighty20 opened #8373 "Importing instance: 100% (XXXMB/s)Error: Backup is missing index.yaml"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-64-generic
   * LXC version: 4.0.2
   * LXD version: 4.0.2
   * Storage backend in use: btrfs

# Issue description

We had a server running Ubuntu 18.04, on which lxd was running with a few containers. Due to certain reasons we had to setup a

[2021-01-22 12:52] #8373 closed

[2021-01-22 13:26] stgraber commented on #8372
@brauner ideas?

[2021-01-22 15:39] brauner commented on #8372
You're not privileged over the inode which is required to change ownership. Simply put that "nobody:nogroup" indicates that you don't have an idmapping for the uid and gid in question and so the kernel will not allow you to change the owner or mode. It looks like some of your files aren't writable for the other group. Thta's why utimensat files. If you change that utimensat should work.

[2021-01-22 16:13] stgraber commented on #8372
Oh yeah, oops, I missed that the entry you were trying to change was outside of the container's uid/gid range, so indeed the error makes sense then.

[2021-01-22 16:13] #8372 closed

[2021-01-22 18:28] #7274 closed

[2021-01-22 22:42] tomponline commented on #7956
Fixed by https://github.com/lxc/lxd/pull/8355

[2021-01-22 22:42] #7956 closed

[2021-01-24 01:23] 6e622dafdae9 opened #8377 "LXC profile does not allow setting UID / GID for GPU device"
# Required information

 * Distribution: Debian
 * Distribution version: NA
 * The output of "lxc info" or if that fails:
   * Kernel version: NA
   * LXC version: NA
   * LXD version: 4.10
   * Storage backend in use: NA

# Issue description

A brief description of the problem. Should include what you were
attempting to do, what you did, what happened and what you expected to
see happen.

I'm not

[2021-01-24 07:48] #8377 closed

[2021-01-24 16:05] drybjed commented on #8293
I also encountered this problem while investigating why my build of LXD from source code stopped working.

I'm building the LXD binaries on Debian Buster based on the cloned git repository of the codebase. For some time now I've been using the `stable-4.0` branch since the [4.0.1 release had broken dependencies](https://github.com/debops/debops/commit/9341c1c2eec773b8c677e98dd8acb54c38af1482). The

[2021-01-26 09:47] lukaszczerpak opened #8383 "nginx's sendfile() failed on kernel 5.10.10 and LXD 4.0.6"
# Required information

 * Distribution: Arch Linux
 * Distribution version: latest
 * The output of "lxc info" or if that fails:

[code]

# Issue description

nginx fails inside newly created container with the following error - looks like sendfile() function is the root cause:

[code]

strace:

[code]

All works fine when running the same system and container on kernel 5.4.92-1-lts.

The above p

[2021-01-26 11:50] geppi commented on #3442
@stgraber Since I'm facing the same issue but definitely also want to provision Samba just as a pure AD DC without providing file services, i.e. just netlogon$, could you please post the samba-tool command that worked for you to provision the AD DC in an unprivileged container ?

[2021-01-26 13:33] stgraber commented on #8383
@brauner can you look into this one?

[2021-01-26 13:41] brauner commented on #8383
This is a kernel regression that is about to be fixed upstream. There's a few more similar to:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f8ad8187c3b536ee2b10502a8340c014204a1af0

[2021-01-26 13:42] brauner commented on #8383
In other words, it's not our bug and I already worked around this in upstream `LXC` and I'm not happy about it. :)

[2021-01-26 14:26] #8383 closed

[2021-01-26 14:44] lukaszczerpak commented on #8383
Thank you!

[2021-01-26 17:15] reuben opened #8385 "Error only when mounting second GPU due to error: Failed to mount "/var/lib/lxd/devices/container/unix.gpu2.dev-nvidia-caps" on "/usr/lib/x86_64-linux-gnu/lxc/dev/nvidia-caps""
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Starting a container with a single GPU device works, but starting a container with two or more GPU devices fails.

# Steps to reproduce

 1. Create the container with the following API call:

[code]

 2. Then try to start it and it fails

[code]

[2021-01-26 18:23] reuben commented on #8385
Hm, I think this might be related to this part of the code: https://github.com/lxc/lxd/blob/ef5d8b6d9b80fe65021c6922047637b52455b4de/lxd/devices.go#L324-L366

It's looking at everything under `/dev` that has the `nvidia` prefix, but that includes `nvidia-caps`, a folder with devices inside. This folder seems to be a relatively new addition to the drivers: https://docs.nvidia.com/datacenter/tesla/m

[2021-01-26 19:01] reuben commented on #8385
I'm trying to test a modification to the code snippets above but having a hard time building 3.0.3 from source, since the dependencies are just tracking master branches of GitHub repos, some of which have disappeared and some of which have changed in breaking ways. Is there a known solution for building older versions from source, with pinned versions of dependencies?

[2021-01-26 20:43] vosdev opened #8386 "Live migrate VMs"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux node1 5.4.0-64-generic #72-Ubuntu SMP Fri Jan 15 10:27:54 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version:
   * LXD version: 4.10
   * Storage backend in use: Ceph

# Issue description

I was trying to move a running VM to a second node

[2021-01-26 21:14] #7995 closed

[2021-01-26 21:18] stgraber commented on #8386
VM live migration is on the roadmap but it will take time for us to get there.
We have some initial work scheduled for this cycle to attempt to get stateful stop and snapshots working with VMs.

On the CRIU side, CRIU is currently pretty broken with LXD. We have @brauner working on a couple of critical issues there, once that's sorted we should be able to resume automated testing of live migration

[2021-01-26 22:38] stgraber commented on #8385
2.0, 4.0 and latest are all currently buildable, 3.0 currently isn't as we need to transition it to current dqlite first.

[2021-01-27 05:58] aydintd commented on #8117
Hello,

I think I am having a similar issue on a similar environment mentioned in the first comment, let me quickly summarize and give some information about my test environment :

I am trying to deploy the openstack-base bundle in an environment with MAAS v2.9.1 (9153-g.66318f531) provisioned juju v2.8.7-focal-amd64, I have 3 compute VM nodes (Ubuntu 20.04) and 1 juju controller (Ubuntu 18.04) al

[2021-01-27 09:11] tomponline commented on #8386
I fixed the error message that mentioned container and changed it to instance. https://github.com/lxc/lxd/pull/8387

[2021-01-27 09:14] reuben commented on #8385
Since I don't need Multi Instance GPU support, I worked around the problem by removing the `/dev/nvidia-caps` folder and creating a symlink to another NVIDIA device node to prevent the driver from re-creating the folder:

[code]

[2021-01-27 12:14] vosdev opened #8388 "Cluster in broken state after a single snap failed to upgrade"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux node1 5.4.0-64-generic #72-Ubuntu SMP Fri Jan 15 10:27:54 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version:
   * LXD version: 4.9 > 4.10
   * Storage backend in use: ceph

# Issue description

Hey guys,

A few weeks ago I found my cluster i

[2021-01-27 13:38] Lesterpig opened #8389 "forkdns should return NODATA instead of NXDOMAIN when unable to resolve (e.g. IPv6)"
# Required information

 * Distribution: Armbian
 * Distribution version: Ubuntu Bionic
 * Kernel version: 4.14.150
 * LXC version: 4.0.6
 * LXD version: 4.0.4

# Issue description

Forkdns replies NXDOMAIN for IPv6 requests, even if an IPv4 is available.

Some resolvers interpret this as a domain name failure and ignore the IPv4 result.
See for instance the [following bug report on Alpine 3.13](h

[2021-01-27 14:34] stgraber commented on #8388
This is unfortunately expected behavior. The LXD DB schema isn't backward compatible, so we can't allow an older server to still interact with the database. Patches applied during a major upgrade may also affect multiple servers, especially in the case of data migration when shared storage or networking is used.

As a result, when a DB change is performed or when a new API is introduced (LXD doesn

[2021-01-27 14:34] #8388 closed

[2021-01-27 15:06] stgraber commented on #8117
@aydintd I believe this is a Juju issue actually.

As your log shows, Juju directly interacts with LXD by using an image fingerprint, it doesn't request LXD do the simplestreams image lookup, this is done by Juju itself.

So I suspect it's broken/missing logic in Juju itself that should filter out VM images when looking up a suitable Ubuntu image from simplestreams.

[2021-01-27 16:39] #8389 closed

[2021-01-28 03:55] stgraber commented on #7872
I'll take this one over.

[2021-01-28 06:53] vvolas opened #8393 "lxd 4.0.4 vms started to fail to start on ubuntu18, apparmor errors"
This is on two VMS, on different servers, one is on ceph other on btrfs. Current VM was running and after restart cant start anymore.

I dont know when it started since I dont restart VMS very often.

[code]
[code]

Second VM also has some GPT errors on ceph.
[code]

[2021-01-28 08:24] vvolas opened #8394 "lxd 4.0.4 ceph cluster cant move vm if one member is not reachable"
This is on ceph so there shouldnt be anything holding to do so?

I had one cluster member locked up and  tried move my vm to other cluster member.

lxc move  something --target aa
"Error: Migration API failure: Missing event connection with target cluster member"

[2021-01-28 13:18] vvolas commented on #8393
Now I dont know if it is very bad(different snap version on cluser), but I did snap revert on one node and now I can start vms again.

I m not apparmor expert (or wherever actual problem lies) If there is more elegant workaround for these errors it would be good to know.  Interestingly both 18150 and 19032 says that it is 4.0.4

[code]

[2021-01-28 13:27] stgraber commented on #8394
LXD doesn't need all servers to be online for such an operation and I've frequently done it on cluster with some dead machines.

The error you're getting means that the server your CLI client is configured to talk to and the target server of that move operation aren't talking to each other properly.

[2021-01-28 13:51] timricese commented on #8393
We also encountered this issue and solved it by snap revert from 19032 to 18150.

We noticed this only when a production vm running under LXD died for some reason and it was then impossible to start it.

Frankly, given that it doesnt seem possible to hold a snap version longer than 60 days (wtf?), this is quite terrifying that such a problem made it through to being released.

[2021-01-28 14:13] timricese commented on #8393
oh, and running snap revert also restarted all the other vms on the same host :/

[2021-01-28 14:23] srkunze opened #8395 "Documenation and Tooling: Constraining Architectures"
Currently figuring out https://github.com/haproxy/haproxy/issues/1035

It could be an issue with the used ARM-Architecture but not for sure. @wtarreau saw the difference between the host and container architecture.

Reading the docs here https://lxd.readthedocs.io/en/latest/architectures/ it doesn't seem to be an issue but apparently I do not know.

As it would have be a no-brainer to use the arm6

[2021-01-28 16:50] stgraber commented on #8395
So are you saying that `lxc launch ubuntu:20.04` got you an armhf container instead of arm64?

[2021-01-28 16:54] stgraber commented on #8395
Running armhf containers on arm64 host can indeed be a bit funny because of how the kernel reports this as `armv8l`.

The Ubuntu kernel has a custom patch which lets you set `compat_uts_machine=armv7l` on the kernel command line to override that name to `armv7l`, avoiding such issues. But that's very much an Ubuntu specific hack so something better suited for distro documentation than for LXD's.

[2021-01-28 16:59] stgraber commented on #8393
We had a similar issue in the `latest` branch and have fixes for it there. LXD 4.0.5 that's due out today and should hit stable on Monday will have those apparmor policy changes included.

We saw those issues pop up out of nowhere in the latest track too, so could have been minor bugfixes to qemu, apparmor or some change in how the policies are enforced in the kernel interacting with some of the u

[2021-01-28 16:59] #8393 closed

[2021-01-28 17:07] srkunze commented on #8395
To be honest, not quite. I used

[code]

So, now I realize that it might just work without the architecture spec but I still think it might be good idea to warn users of that they might try something "funny" here :-D

Don't remember where I copied it from but  back then it seems like as if the /armhf should be there.

[2021-01-28 17:57] srkunze commented on #8395
@stgraber Just to understand this bit here correctly because I am not familiar with it: you are saying that haproxy should be able to handle armhf regardless of the underlying hardware, right?

[2021-01-28 19:06] stgraber commented on #8395
Yeah, if all that makes it crash is seeing `armv8l` from the kernel rather than `armv7l`, then that definitely seems like a bug in the application.

If that's not the issue, then the problem could be that haproxy was built with some hardware extensions enabled which somehow aren't present on the 32bit API of the raspberry pi. This certainly can happen and isn't limited to Arm either. You can get i

[2021-01-28 19:21] wtarreau commented on #8395
@stgraber indeed, it took us some time to understand that it was a 32-bit binary running on a 64-bit host, and I agree with you that normally it should work flawlessly. What puzzles me is that the user receives a SIGBUS making me think about something like an alignment issue, while this is the regular binary from the package used by default on native ARM machines (and I could double-check that it

[2021-01-28 21:21] stgraber commented on #8395
@wtarreau @srkunze do you have a pretty short reproducer for the issue?

I have access to rpi4 and a variety of other arm64 platforms so would be interesting if I could reproduce it on rpi4 and then see if the same happens on APM/Ampere silicon. I'm always a bit wary of the rpi because of odd architectural limitation in the past, though I must say that the rpi4 seems like a pretty solid aarch64 pl

[2021-01-28 22:01] wtarreau commented on #8395
So the first visible thing in his image is that just issuing `gdb --args /bin/id` then `run` loops forever inside ld-linux.so. So I conclude that at this point there's something fishy in this setup, even though I have no idea whether it's related to the combination of archs or just a software bug somewhere. I'll let @srkunze provide all the details to avoid saying stupidities.

And I agree with yo

[2021-01-28 22:25] stgraber commented on #8385
Looking into this now

[2021-01-28 22:28] stgraber commented on #8385
Our normal daily test uses 440 so I guess that's too old to hit the issue, trying 460 now.

[2021-01-28 22:37] stgraber commented on #8385
460 still doesn't get me /dev/nvidia-caps

[2021-01-28 22:40] reuben commented on #8385
Hm... weird. How are you installing it? I used the NVIDIA deb repos on Ubuntu 18.04 aka

[code]

The new driver came as a dependency of CUDA, so maybe the driver only creates the folder if CUDA is actually installed?

[2021-01-28 23:00] stgraber commented on #8385
We're using the official Ubuntu packages, I've reproduced the issue when using 455 from NVIDIA on 20.04.

[2021-01-28 23:04] stgraber commented on #8385
So I think the easiest for now will be to skip the nvidia related directories. nvidia-caps is meant for things like MIG which we're waiting on hardware for to properly enable.

[2021-01-28 23:54] #8385 closed

[2021-01-29 03:20] stgraber commented on #7708
I'll take a look at that one next.

[2021-01-29 10:47] xvd7 commented on #8246
The same issue appears when wireguard interface has the same IP as the LXD bridge:
[code]

This has not been an issue in LXD 3 and early releases of LXD 4. I think it started somewhere around version 4.0.2 or 4.0.3.

[2021-01-29 10:50] vvolas commented on #8394
OK maybe I m doing something wrong.

[2021-01-29 10:50] #8394 closed

[2021-01-29 10:54] tomponline commented on #8246
Does dnsmasq start OK, can you show output of `ps aux | grep dnsmasq` as well as `sudo ss -ulpn` thanks

[2021-01-29 10:57] nean-and-i opened #8400 "processes freeze when accessing mounted device within VM"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1 LTS
 * The output of "lxc info"

[code]

# Issue description

processes freeze when accessing mounted device within LXC VM if `limits.cpu` set to `2-5`
VM is still usable but mounted device can not be used, any process accessing it will freeze.
It does not matter if mounted folder originates from a `xfs` or a `zfs` fi

[2021-01-29 11:08] xvd7 commented on #8246
[code]

[code]

[2021-01-29 11:09] xvd7 commented on #8246
I have a temporary fix (it is not pretty tough) by adding ```ExecStartPre=/bin/sleep 15``` to the [Service] section in /etc/systemd/system/multi-user.target.wants/wg-quick@wg0.service

[2021-01-29 11:52] tomponline commented on #8246
Can you remove the workaround, enable debug mode and see if dnsmasq is failing to start with an error in syslog and then review the LXD start up logs and see if LXD reports failing to start dnsmasq:

[code]

[2021-01-29 13:03] srkunze commented on #8395
Here we go:

[code]

[code]

Checks for the setup
[code]

[2021-01-29 13:14] srkunze opened #8401 "armhf debugging using gdb does not work"
Here we go. Let's start from this to avoid confusing with the other issues (https://github.com/haproxy/haproxy/issues/1035, https://github.com/lxc/lxd/issues/8395)

[code]

[code]

Should result in
[code]

Checks for the setup
[code]

[2021-01-29 14:02] stgraber commented on #8400
That's unusual, can you show:
 - `cat /proc/self/mountinfo` in the vm
 - `dmesg` in the vm
 - `ps fauxww` on the host
 - `dmesg` on the host

[2021-01-29 15:30] #8401 closed

[2021-01-29 15:30] stgraber commented on #8401
[code]

[2021-01-29 15:33] stgraber commented on #8401
This log shows the exact same issue reproduced outside of a container on an aarch64 system.
So this implies a kernel/toolchain problem causing this kind of issue when running the 32bit personality on those 64bit systems.

LXD/LXC are properly switching the personality based on the image that's requested by the user and default to the 64bit image when the 32bit image isn't directly requested. So as

[2021-01-29 15:33] stgraber commented on #8401
@brauner you may find this interesting :)

[2021-01-29 16:31] #7872 closed

[2021-01-29 16:55] danboid opened #8402 "Docs: Poor example to get a shell"
I was looking at the LXD quickstart guide today:

https://linuxcontainers.org/lxd/getting-started-cli

The example command given in the section to get a shell inside a running container seems like a poor example to use:

https://linuxcontainers.org/lxd/getting-started-cli/#shellterminal-inside-container

[code]

Surely using:

[code]

Instead is easier to read, understand, type and remember?

[2021-01-29 17:00] stgraber commented on #8402
Yes and no. `lxc shell` is a convenience built-in alias which will only work with images that ship a working `su` command have have a proper PAM stack. It may also result in the environment getting reset depending on PAM settings.

As a result we never use it in our tests or documentation because it will not work with all images and its behavior as far as environment is dependent on the image.

[2021-01-29 17:00] #8402 closed

[2021-01-29 18:34] srkunze commented on #8401
@stgraber xD

Well, at least reproducible. Where can I file a report on this?

[2021-01-29 19:36] kevtheappdev commented on #7926
Sorry for the late reply, been on winter break. You can go ahead and un-assign!

[2021-01-29 20:48] stgraber commented on #8401
Not sure, maybe reaching out to the kernel arm maintainers would be a good first step?
It may be "expected" due to some weird architectural limitation though but then I would expect there to be some kind of kernel documentation around issues with this personality.

[2021-01-30 00:45] brauner opened #8405 "crash when calling lxc start/restart on a container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.10
 * The output of "lxc info" or if that fails:
[code]

Backtrace:
[code]

[2021-01-30 00:50] stgraber commented on #8405
That's with all Go dependencies up to date (especially go-lxc)?

[2021-01-30 00:51] stgraber commented on #8405
The error points at a segfault in liblxc when fetching that cgroup information.
If reproducible, you may have some chance with running lxd under gdb or capturing the core and getting a stacktrace out afterwards.

[2021-01-30 00:51] brauner commented on #8405
Let me do a clean slate on everything.

[2021-01-30 00:52] brauner commented on #8405
It's reproducible without my last commit btw.

[2021-01-30 01:00] brauner commented on #8405
Triggered by `lxc list` apparently...

[2021-01-30 01:05] stgraber commented on #8405
Hmm, odd, did you get a stacktrace that you can use to see what's going on in liblxc?

[2021-01-30 01:26] brauner commented on #8405
So, I think my env must've gotten messed up somehow. I logged exited the too shell, and su-ed to root again, source .profile and exported LD_LIBRARY_PATH for compiled liblxc and all was well...

[2021-01-30 01:26] brauner commented on #8405
liblxc didn't coredump. I would've seen that via coredumpctl.

[2021-01-30 04:22] stgraber commented on #8405
@brauner so not an actual issue then?

[2021-01-30 06:04] wtarreau commented on #8401
And I'm thinking that it would also make sense to first try to reproduce this with a mainline kernel, because it could very well be related to one of the thousands patches affecting this rpi kernel. I've never had any issues running armv7 code on an arm64 machine and still cannot reproduce these problems on other ones.

[2021-01-30 08:04] tomponline commented on #8405
This sounds similar to https://github.com/lxc/lxd/issues/8327

Although I've not experienced it this week.

[2021-01-30 08:31] xvd7 commented on #8246
[code]

[2021-01-30 14:36] brauner commented on #8405
Well, it was a bug in a local patch of mine. :) Now fixed!

[2021-01-30 14:36] #8405 closed

[2021-01-30 15:13] stgraber commented on #8401
My reproducer above was on an APM X-Gene server using a generic kernel (non-pi) though that's still an older 5.4 kernel with a mountain of cherry-picks done by Ubuntu so a test on pure current mainline would be interesting