[2021-07-22 21:16] stgraber commented on #9035
The logic to populate `DeviceID` is pretty straightforward. We take the block device name (should be `sda` in your case), then we list `/dev/disk/by-id/` and look at the target of those symlinks, looking for anything that points to `/dev/sda`. The lack of value in your case suggests that nothing matches.

Can you show `ls -lh /dev /dev/disk/by-id/`?

[2021-07-22 22:15] wmchris opened #9036 "lxc exec / shell triggers POLLNVAL event"
problem just appeared - lxc exec container bash simply does nothing anymore. all other (common) commands work flawless

Base system: proxmox 7 (debian 11)
Kernel: Linux pve 5.11.22-2-pve #1 SMP PVE 5.11.22-4 (Tue, 20 Jul 2021 21:40:02 +0200) x86_64 GNU/Linux
LXD 4.16 installed via snap
lxd error:
`Detected poll(POLLNVAL) event`

lxc info:
[code]

lxc exec container bash --debug=true
[code]

[2021-07-23 01:25] stgraber commented on #9036
Is it stuck waiting at that point or just returning immediately?

[2021-07-23 05:05] knutov commented on #8924
I had this situation today again and it was caused by `reboot` inside ct. So it was regular reboot and I had to manual fix it from node side again. It still looks like something not ok on LXD side may be near go aync functions or something like that.

I did save `ip a` and `ip r` this time:

[code]
(ip masked to 1.2.3.4 from real for security reason)

[2021-07-23 07:27] wmchris commented on #9036
the command finishes immediately

[2021-07-23 08:03] tomponline commented on #8924
Does `veth0c123` exist in `ip a` output?

We've not been able to reproduce and we run many automated daily tests.

[2021-07-23 08:11] knutov commented on #8924
Yes, it does:

[code]

Ubuntu 18.04, 5.4.0-64-generic, latest lxd from snap.

This is production server, will lxd debug affect cpu usage?
Is there any way to enable it without restarting lxd?

[2021-07-23 08:13] tomponline commented on #8924
Can you confirm specific LXD version please.

Reloading LXD does not restart your containers.
Depending on how much activity you are doing with LXD, debugging can produce a lot of disk writes due to logging, but this is only happens when LXD activity is happening, not on activity inside your containers.

[2021-07-23 08:18] knutov commented on #8924
[code]

ok, I did `sudo snap set lxd daemon.debug=true; sudo systemctl reload snap.lxd.daemon`

[2021-07-23 08:22] tomponline commented on #8924
OK thanks.

You can run `sudo tail -f /var/snap/lxd/common/lxd/logs/lxd.log` to see what is being written if you are unsure about the amount of overhead being added.

Next time it happens it would be useful to see a copy of that file along with the actions you were doing at the time and the name of the affected container thanks.

[2021-07-23 12:45] wmchris commented on #9036
after setting up a completly fresh system - issue appears at the moment the kernel 5.11.22-2-pve is installed, 5.11.22-1-pve works flawless. i'm not sure if this is an issue with LXC/LXD, Proxmox Kernel Modifications or an error in the kernel itself.

[2021-07-23 13:44] stgraber commented on #9036
Those aren't Ubuntu or Debian kernel versions, likely Proxmox are doing their own thing and may have picked up the same bad commit Debian did and missed the follow-up fixes.

Given reverting to a previous bugfix release fixes it, it's a kernel regression and you should reach out to the Proxmox folks to have this sorted out. We have daily tests on the current mainline kernel so we can catch those k

[2021-07-23 13:44] #9036 closed

[2021-07-23 13:44] stgraber commented on #9036
@brauner do you have link to LKML for this handy?

[2021-07-23 14:50] #8912 closed

[2021-07-23 14:59] wmchris commented on #9036
well the kernel itself is based on ubuntu hirsute 5.11.0-24.25

[2021-07-23 15:11] stgraber commented on #9036
I know that the Ubuntu kernel team temporarily broke our kernels too, though it got caught in the -proposed kernel and then fixed prior to it hitting users, I believe this was the 5.11 kernel.

It's worth noting that if your kernel is in fact based on 5.11.0-24.25, then it is missing the CVE fix as that's only in 5.11.0-25.27

[2021-07-23 15:19] wmchris commented on #9036
i tested it with the version 5.11.22-5 (in the test repository) and its working there again.

[2021-07-23 16:13] turtle0x1 opened #9039 "Resouces route "disappears" in LXD 3.0"
I keep running into this weird issue where the `/1.0/resources` route will disappear from LXD 3.0.4 installed via SNAP.

The problem exists on the CLI when using `lxc query /1.0/resources` as well.

I have checked and LXD is not installed via APT - that being said restarting the machine fixes the issue.

Ive rebooted right now and so the error has cleared but I have a feeling it will come back, if

[2021-07-23 16:14] tomponline commented on #9039
Please can you define "disappear"? What response do you get instead?

[2021-07-23 16:17] turtle0x1 commented on #9039
I mean the route doesn't work even on the CLI, from memory it 404's but that seems unlikely.

Ill wait for it to happen again - is there any fancy `journalctl` command I can run to find errors in LXD 3.0? perhaps its logged.

[2021-07-23 16:19] tomponline commented on #9039
If you can get a request/response (and ideally the server-side debug log output at the same time), then that would be great. Thanks

[2021-07-23 16:21] raphael10-collab opened #9040 "Issue with IP address linked to the Linux Container"
In Ubuntu 20.04 I have a working service that has webconsole:

![image](https://user-images.githubusercontent.com/70313067/126810439-bd6282e5-164f-4851-abea-d8d4f2218759.png)

Within Ubuntu 20.04 I created a Linux Container whose O.S. is Ubuntu 20.04 as well, that I called "ubuntuone"

I installed within this Linux Container the same service `I2PD` which seems working fine as well:

    root@ubunt

[2021-07-23 16:28] stgraber commented on #9040
Can you run this inside the container:
 - apt install net-tools
 - netstat -lnp

[2021-07-23 16:30] raphael10-collab commented on #9040
hi @stgraber ! Thank you for your kind prompt reply.

    root@ubuntuone:/# netstat -lnp
    Active Internet connections (only servers)
    Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
    tcp        0      0 0.0.0.0:5269            0.0.0.0:*               LISTEN      1255/lua5.2
    tcp        0      0 127.0.0.53:53           0.0.0.0:*

[2021-07-23 16:31] tomponline opened #9041 "lxc storage volume {copy,move} ignore --target flag"
LXD 4.16:

[code]

Reported from: https://discuss.linuxcontainers.org/t/remove-or-copy-storage-volume-between-nodes-in-a-cluster/11677

[2021-07-23 16:34] #9040 closed

[2021-07-23 16:35] stgraber commented on #9040
Ok, so that shows your problem.

[code]

Your service is configured to bind `127.0.0.1` only, so it's only available on localhost inside the container.
So you'll need to reconfigure your service to bind either the container's address or bind all addresses instead.

[2021-07-23 16:38] raphael10-collab commented on #9040
ok thank you very much

[2021-07-23 17:01] tomponline commented on #9041
Looks like the command doesn't handle `--target` at all. Although copy/move works for remotes, so should be reasonably straight forward to hook it up to use `--target`.

[2021-07-23 17:43] stgraber commented on #9041
@tomponline So I think we'll have to think this through a bit. Unlike instances, storage volumes can have the same name on multiple servers. In the context of storage volumes, `--target` is used to select what server and therefore what volume you're dealing with.

So in this case, it feels like we need a `--target` and `--destination-target` or something to both select the volume we want to move a

[2021-07-24 22:40] monkz commented on #8152
Hi @stgraber , after a long time I need to reopen this issue albeit for different reasons.
I need to render/generate templates while the container is running.
Basically
[code]

[2021-07-25 09:03] mmeier86 opened #9042 "CephFS disk device does not work with modern(?) ceph.conf"
# Required information

 * Distribution: Arch Linux
 * Distribution version: N/A
 * The output of "lxc info":
[code]

My Ceph cluster is running version 15.2.12.

# Issue description

I'm trying to mount a `CephFS` disk device into a LXC VM. This fails.

The error message looks like this:

`Error: Failed to start device "warehouse": Unable to mount [v2:10.86.5.102:3300/0:6789,v1:10.86.5.102:6789/0

[2021-07-25 13:36] marsblkm commented on #7319
I went through the codebase again and realised that there is an exisiting method called `RenderTable` that potentially can be used in this case.

I will try to re-work on the pr, using the same exisiting method for the above scenarios.

[2021-07-25 16:43] timlee81 opened #9043 "LXD delaying host reboot by 5 minutes"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04.2
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-80-generic
   * LXC version:
   * LXD version: 4.16 (snap package)
   * Storage backend in use: zfs

# Issue description

Two containers on my system, one with macvlan nictype and the other with routed nictype.
macvlan container is set for autobo

[2021-07-25 16:57] stgraber commented on #9043
Did you try lowering `core.shutdown_timeout`? It defaults to 5min which is how long LXD will wait for existing instances and ongoing operations to complete prior to giving up and killing everything.

[2021-07-26 18:58] bigcat2014 opened #9047 "Containers with gpu device fail to start when connected to docking station"
* Distribution: Ubuntu Linux
 * Distribution version: 20.04
 * lxc info: https://pastebin.ubuntu.com/p/VNv2NWPRWM/

# Issue description

When starting a container with a gpu device while plugged into my docking station, the container fails to start with the following error message:

Try `lxc info --show-log test` for more info

nvidia driver version: 465.31

gpu section of profile:
[code]

When no

[2021-07-26 19:34] stgraber commented on #9047
Can you show:
 - ls -lh /sys/class/drm/
 - ls -lh /sys/class/drm/card0/
 - ls -lh /sys/class/drm/card0/device/
 - ls -lh /sys/class/drm/card0/device/device

/sys is always quite messy so just knowing the content of the directory without seeing all symlinks involved makes it difficult to debug.

[2021-07-26 19:42] bigcat2014 commented on #9047
Here is the output from those commands
ls -lh /sys/clas/drm/
[code]

ls -lh /sys/class/drm/card0/
[code]

ls -lh /sys/class/drm/card0/device
[code]

ls -lh /sys/class/drm/card0/device/device
[code]

[2021-07-26 19:57] stgraber commented on #9047
Ah, looks like your dock may have a displaylink type graphics card. I don't think we have any of those in our test hardware and so never had to deal with a graphics card on USB before.

[2021-07-26 19:59] stgraber commented on #9047
I'm poking at the logic a bit and will send you a small static test binary to run so we can check that we're properly detecting those in the future.

[2021-07-26 20:07] bigcat2014 commented on #9047
Yes, correct. For completeness, the dock is a ThinkPad USB 3.0 ultra dock, model # DK1523 and my PC is a System76 Gazelle, gaze15. Using the DisplayLink 5.4 driver

[2021-07-26 20:10] hadmut commented on #8976
There is, btw., a problem with the _gateway hostname offered by systemd-resolved as mentioned above. Since this is not an RFC2396 compliant hostname, it cannot be used as part of a URI. E.g. the ruby runtime does not accept it as a hostname.

[2021-07-26 20:25] stgraber commented on #8976
I suspect that was somewhat intentional to avoid clashing with normal legitimate entries and is also why we used it for LXD as you can't call a container _gateway

[2021-07-26 20:28] bigcat2014 commented on #9047
Yes, here's the output after running
https://pastebin.ubuntu.com/p/P4QVzThMSn/

[2021-07-26 20:30] stgraber commented on #9047
Hmm, okay, so it doesn't crash but it's also not properly recording the USB address... Let's see what's up with that.

[2021-07-26 20:32] stgraber commented on #9047
@bigcat2014 I've updated the binary at that URL, can you run the new version?

[2021-07-26 20:33] bigcat2014 commented on #9047
Yes, here's the new output
https://pastebin.ubuntu.com/p/jxxhKdjVJC/

[2021-07-26 20:34] stgraber commented on #9047
`usb_address: "2:6"`

Can you show `lsusb -tv` just to confirm this is correct?

[2021-07-26 20:39] bigcat2014 commented on #9047
This is the output when running `lsusb -tv`
[code]

[2021-07-26 20:40] stgraber commented on #9047
All good, bus 2 device 6 is indeed the DisplayLink controller.

[2021-07-26 20:51] bigcat2014 commented on #9047
Based on your commit message "Add support for USB GPU" I just want to make sure the correct issue is solved in your fix.
My GPU is internal to the laptop, not running over USB from the docking station.
I don't know the details of how the GPU is being referenced or used for the gpu devices in lxd, but I would think you would want to point the lxc gpu device to the GPU itself, right, not the Display

[2021-07-26 21:04] stgraber commented on #9047
Yeah, basically when dealing with GPUs, LXD uses our resources API to fetch a list of all GPUs and then filters it down based on your criteria, in your case, a PCI address.

Because it was failing on USB GPUs, it never managed to pull a full device list and so failed even though you're not trying to use a USB GPU.

Now with this change, it'd in theory be possible for someone to directly use a USB

[2021-07-26 21:06] bigcat2014 commented on #9047
Ah, ok. That makes more sense. Thanks!

[2021-07-27 02:08] timlee81 commented on #9043
"lxc config set core." won't tab-complete core.shutdown_timeout. It looks like it was merged 4.15.
Never the less, the setting did appear to reduce the delay (I set it to one minute, and it took about 1 minute).

It'd probably be better to understand why ovs is being used/invoked at all and avoid any timeout altogether, but I don't have time to dig into the code to determine why.

[2021-07-27 03:15] stgraber commented on #9043
Can you show `lxc network list`?

[2021-07-27 03:16] stgraber commented on #9043
It's also worth noting that those errors wouldn't cause a shutdown delay, so there still must be something else keeping LXD from just shutting down and instead hitting the timeout.

[2021-07-27 09:00] ThomasLamprecht commented on #9036
Just for the record, that was patched separately to allow fast rollout:
https://git.proxmox.com/?p=pve-kernel.git;a=commitdiff;h=97b871128f3d409e41b9ee667b8751bbdaffec6c

We then updated to base off Ubuntu-5.11.0-26.28 afterwards doing a slow rollout with that one.

[2021-07-27 15:11] #9047 closed

[2021-07-28 11:35] tomponline opened #9054 "Make clear why a profile device cannot be modified on an instance"
We see this question/problem fairly often:

https://discuss.linuxcontainers.org/t/setting-disk-read-write-limits/11717

lxc config device set container root limits.read 30MB
Error: The device doesn’t exist

The problem is that the `root` disk device exists in the profile(s) not in the instance's own config, and thus doesn't exist to be modified on the instance.

We could make this clearer by detec

[2021-07-28 12:02] marsblkm commented on #7319
To test what I have changed, I simply launch an instance and snapshot it. Below is what I got by running ```lxc info ubuntuone```

I believe this ticks some of the boxes mentioned in this ticket. Thoughts? @stgraber

[code]

[2021-07-28 20:44] tomponline opened #9057 "Don't allow starting instance during instance create"
It is currently possible to try and start an instance whilst it is still being created.
We should prevent this from occurring.

[2021-07-28 22:05] stgraber commented on #8854
@tomponline should we close this once jenkins says it's happy with 6.1-rc1?

[2021-07-28 22:07] stgraber commented on #9039
@turtle0x1 any luck?

[2021-07-28 22:07] stgraber commented on #9035
@jardon can you provide the requested information please?

[2021-07-28 22:08] tomponline commented on #8854
@stgraber yep I reckon so. :)

[2021-07-28 22:09] stgraber commented on #8983
@drscrewdriver any update?

[2021-07-28 23:18] stgraber commented on #8748
@marius-nicolae just to confirm that this is still a problem before I nag @brauner again to look into it?

[2021-07-28 23:54] turtle0x1 commented on #9039
No & im feeling silly - maybe it has something to-do with reboot.

I'll close it for now - can always re-open later!

[2021-07-28 23:57] stgraber commented on #8854
@tomponline so hmm, looks like qemu 6.1-rc1 works but it's ignoring the CPU configuration from qemu.conf...

[code]

Gets me a single-CPU VM...

[2021-07-28 23:57] stgraber commented on #8854
[code]

I'll revert our edge snap for now.

[2021-07-29 08:20] tomponline commented on #8854
Ah that's ashame. Can I get my hands on that snap and can I then manually install it so I can test local LXD builds with it?

[2021-07-29 13:54] tomponline opened #9062 "Custom volume backup index files have snapshot names in their full format `<parent>/<snap name>`"
Custom volume backup index files are incorrectly storing the snapshot names in their full format `<parent>/<snap name>` rather than just `<snap name>` (as indicated by the API docs https://github.com/lxc/lxd/blob/712b25ea69c62555f01c3f57153feb34f116fa3c/shared/api/storage_pool_volume_snapshot.go#L42).

We need to stop generating backup index files with the incorrect format, but still allow histori

[2021-07-29 14:33] tomponline commented on #8854
@bonzini has fixed it here https://patchew.org/QEMU/20210729141058.228405-1-pbonzini@redhat.com/

[2021-07-29 14:40] #9054 closed

[2021-07-29 15:30] tomponline opened #9064 "Support custom block and filesystem export for all drivers"
It looks like when custom volumes gained block content type support (https://github.com/lxc/lxd/pull/7479) that no provision was made to update the storage drivers to support exporting those volume types.

As such doing something like:

[code]

Results in a basically empty tarball with no block image files present.
Also affects ZFS and likely any block backed storage driver (such as LVM, ZFS, and

[2021-07-29 16:18] stgraber commented on #8854
excellent, we'll wait for rc2 and test it again

[2021-07-29 16:29] #9062 closed

[2021-07-29 22:28] stgraber commented on #8896
I figured it out (had to setup a Gentoo cgroup2 VM), fix on its way.

[2021-07-29 22:36] epsilon-0 commented on #8896
thanks!

[2021-07-30 03:00] #8896 closed

[2021-07-31 00:54] stgraber commented on #7319
This looks pretty good to me!
I'd replace the `False` with a YES/NO instead.

I'd also add a blank line before the `Resources` and `Snapshots` lines.

For the top section, it may look better to go with:
[code]

The main changes here are the removal of `Profiles`, some re-ordering, capitalization of PID and capitalization of the status string.

[2021-08-01 12:53] marsblkm commented on #7319
Updated!
PR here: https://github.com/lxc/lxd/pull/9019
Here is what does it look like:
[code]

[2021-08-01 18:02] timlee81 commented on #9043
Odd- I don't recall using a profile that makes use of the bridge. I do remember copying the default profile...

[2021-08-01 21:21] stgraber commented on #9043
Can you show `lxc network show lxdbr0`?

[2021-08-02 17:24] stgraber commented on #7319
I'd replace `Ips` with `IP addresses` too.

[2021-08-02 20:33] morphis opened #9073 "Proxy device with NAT enabled has a single firewall rule per port"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: `5.8.0-1037-oracle #38~20.04.1-Ubuntu`
   * LXC version:
   * LXD version: 4.0.7
   * Storage backend in use: zfs

# Issue description

Adding the following proxy device to a container causes one iptables rule in the nat table to be generated per port:

[2021-08-03 11:55] marsblkm commented on #7319
Got that solved!

[2021-08-04 14:43] tomponline commented on #9073
I believe we could add an optimisation to add a single rule per proxy range, e.g.

[code]

However as the proxy config allows for multiple ranges, we would need to restructure how the proxy device parses config, as right now it is expanding each range into a separate connect address/port, which is why when it gets to the firewall driver it adds them as individual rules.

[2021-08-04 16:29] jdstrand opened #9083 "periodic AppArmor denial with Centos 8 guest"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description
Seeing the following apparmor denial periodically (every 20-30 minutes) in a Centos 8 container:
[code]

# Steps to reproduce
$ lxc launch images:centos/8/amd64 centos8-test

Then see in host syslog:
[code]

[2021-08-04 17:15] thermitegod opened #9084 "Glibc 2.34 adds close_range() which conflicts with local close_range()"
# Required information

 * LXD version:  4.16

# Issue description

Building LXD against glibc-2.34 fails because of conflicting close_range()

# Steps to reproduce

- Install glibc-2.34
- Try to build lxd

# Information to attach

[code]

[2021-08-04 18:18] stgraber commented on #9084
@brauner can you sort this one out?
Maybe there's an ifdef we can use?

[2021-08-04 20:47] #9084 closed

[2021-08-04 20:53] stgraber commented on #9073
Ah yeah, that must be a case where when we use forkproxy we need to split them but for the firewall case we could deal with the ranges, so expanding should be made to append later I guess.

[2021-08-05 03:50] #7319 closed

[2021-08-05 08:58] tomponline opened #9089 "Don't allow instance bridged NIC ipv{n}.address setting to be set to that of the managed parent network"
Currently setting an instance `bridged` NIC's `ipv{n}.address` to that of the parent managed network's address is allowed (although it doesn't actually work, as dnsmasq will ignore it).

But its not a good user experience, so we should prevent it.

Same goes for `ovn` networks.

[2021-08-05 14:05] #9083 closed

[2021-08-05 19:30] stgraber commented on #9042
Going to be testing with:
        mon_host = [2602:fc62:b:1015:5054:ff:fe5e:ea44],[2602:fc62:b:1015:5054:ff:fe0a:750f],[2602:fc62:b:1015:5054:ff:fe5e:4c7b]
        mon_host = v2:[2602:fc62:b:1015:5054:ff:fe5e:ea44],v2:[2602:fc62:b:1015:5054:ff:fe0a:750f],v2:[2602:fc62:b:1015:5054:ff:fe5e:4c7b]
        mon_host = v2:[2602:fc62:b:1015:5054:ff:fe5e:ea44]:3300,v2:[2602:fc62:b:1015:5054:ff:fe0a:750f]:3

[2021-08-05 19:32] #9020 closed

[2021-08-05 22:09] #9042 closed

[2021-08-06 12:01] jdstrand commented on #9083
Thanks for the fix!

[2021-08-06 13:19] nfetisov opened #9093 "raw.lxc key does't appened but inserted into container's lxc.conf"
# Required information

* LXC version: 4.0.10 ( >= 4.0.7)
* LXD version: 4.17

# Issue description

According to instances.md, configuration key `raw.lxc`  contains "Raw LXC configuration to be appended to the generated one". For LXD 4.17 the strings from `raw.lxc` key does not **appended to** the generated lxc.conf but **inserted somewhere in** that file.
Due to the changes in LXC >= 4.0.7 ([1](h

[2021-08-06 13:23] tomponline commented on #9093
Yes that makes sense that it would be a problem after the change in liblxc.

[2021-08-06 22:19] #9093 closed

[2021-08-07 18:42] stgraber commented on #8854
@tomponline I've got latest/edge running on rc2 for 24h or so and things seem to be behaving so far.

[2021-08-07 18:42] stgraber commented on #9043
@timlee81

[2021-08-07 18:42] #9035 closed

[2021-08-07 18:43] #8983 closed

[2021-08-07 18:43] #8748 closed

[2021-08-08 01:41] timlee81 commented on #9043
Apologies for the delay:

[code]

[2021-08-08 01:55] stgraber commented on #9043
Thanks, that's interesting since there's no mention of openvswitch so it's odd to see it called.
@tomponline any ideas?

[2021-08-09 02:59] stgraber commented on #822
Our current approach to tackle much of this (and quite a bit more because of scale) is to introduce a new metrics endpoint which returns data in a prometheus compatible format. The specification can be found here: https://discuss.linuxcontainers.org/t/lxd-metric-exporter-for-instances/11735

This isn't exactly what was first suggested in this issue as it doesn't really provide you with a `lxc top`

[2021-08-09 06:22] wallyworld opened #9099 "nested focal containers - snapd broken"
Not sure if this should be filed here or against snapd. This showed up because we use a focal or bionic LXD container to host nested LXD containers and in those nested containers snap install things. For nested bionic containers, everything works. But nested focal containers have started to have an issue with completing the snapd seeding.

# Issue description

It seems recently something broke wit

[2021-08-09 08:56] tomponline commented on #9043
If we assume that the call to `ovs-vsctl del-port eno1 vethfe128f2f` is:

1) the cause of the delay (which from what I can tell is not entirely clear yet).
2) and that the call is triggered by LXD (which I'm not 100% sure it is).

Then the suggestion here is that there is a veth interface that is being attempted to be removed from a physical interface rather than an OVS bridge, and that is somehow

[2021-08-09 08:59] hacktivista opened #9101 "Unable to exec after a while of not connecting to lxc"
# Required information

 * Distribution: Debian
 * Distribution version: 10
<details>
  <summary>The output of "lxc info" or if that fails</summary>

[code]

</details>

   * Kernel version: 4.19.0-17-amd64
   * LXC version: 4.0.10 ? (last snap lxd 4.16)
   * LXD version: 4.16
   * Storage backend in use: zfs

# Issue description

I have 4 working lxc containers, I left these operating normally du

[2021-08-09 09:17] brauner commented on #9101
Can you put the daemon in debug mode, then try to attach and give me the full debug log of the container, please:
[code]
Then restart the container and try to attach to it and paste the output of:
[code]

[2021-08-09 09:25] hacktivista commented on #9101
[code]

[2021-08-09 09:26] hacktivista commented on #9101
[code]

[2021-08-09 10:37] dcore94 opened #9102 "Keep lxd able to bind when network changes"
# Required information

 * Distribution: ubuntu 20.04
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * LXD version: 4.16

# Issue description

I noticed that when working out of office with mobile hotspot, I'm unable to run lxc/lxd. `lxc list` just hanges as any other command.
I run my lxd in cluster mode and it looks like lxd is unable to start because it doesn't

[2021-08-09 10:39] tomponline commented on #9102
Is the IP address on your LAN changing? The cluster address of a member shouldn't change, so that might be the issue.

[2021-08-09 11:09] dcore94 commented on #9102
Yes, that's exactly the issue ... maybe I haven't expressed myself clearly enough. I'd like to know if there is a workaround for this to fix it whenever I'm away from my original LAN ... thanks.

[2021-08-09 11:45] tomponline commented on #9102
The LXD cluster requires that each member's address doesn't change (although I believe you can use a DNS name for each member's address too although that doesn't sound like it would help in this situation).

I'd like to understand more about your setup. You say you're using a cluster, but also that you want to use LXD whilst you're not connected directly to your LAN. How are you connecting to the

[2021-08-09 12:25] dcore94 commented on #9102
Legitimate curiosity :-) I actually use a cluster in order to keep the same structure, deployment as our production deployment. This helps when experimenting cluster specific functionality. But most of the time (for example when testing new software) I still use only one physical node thus actually falling back to a standard usage.
So, maybe trying to restate the question: what I'am actually looki

[2021-08-09 12:32] dcore94 commented on #9102
Yes, it worked creating an alias interface with something like:

`sudo ifconfig wlp0,,,f3:0 192.168.1.90 up`

and it defintely looks like the temporary fix I was looking for! Thank you @tomponline for the right pointer!

[2021-08-09 12:32] #9102 closed

[2021-08-09 12:48] stgraber commented on #9043
But as far as we can tell, OVS isn't used at all here.

[2021-08-09 12:50] brauner commented on #9101
Ok, reproduced. This happens on a 4.19 kernel. Thanks!

[2021-08-09 12:52] tomponline commented on #9043
Yeah indeed, but I'd like to try and find out that LXD is the cause and whether its a LXD network or a LXD instance, as there are some case inside LXD where it would make an ovs call related to bridges when discovering if a bridge is native or OVS type, such as `DetachInterface`. I'm wondering if one of instance `bridged` NICs is incorrectly setup to use `eno1` as its parent, causing `DetachInterf

[2021-08-09 13:56] brauner commented on #9101
So this looks like the same bug as https://github.com/lxc/lxd/issues/9036 . This is a kernel regression that got backported to a whole range of kernels and I would assume that it also got backported to 4.19 since it's an LTS kernel. Meaning you need to upgrade your kernel. This should be fixed in updated 4.19 LTS kernels.

[2021-08-09 14:03] stgraber commented on #9101
Ah yeah, that 4.19.0-17 kernel is that affected one, you need to update to a newer version of it.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=990072

[2021-08-09 14:03] stgraber commented on #9101
We do have our own tests on Debian Buster running several times a day, so we know that the current kernel has received the fix since our tests have been passing for a few weeks now.

[2021-08-09 14:04] stgraber commented on #9043
Ah yeah, that could explain it indeed.

[2021-08-09 17:09] stgraber commented on #9099
Yes, this is unfortunately normal.
AppArmor only supports a single level of namespacing.

So LXD on the host sets up an apparmor namespace which then allows for that first level container to load apparmor profiles, in this case making it possible to use snaps.

Now installing LXD inside that first level container will work but it won't be able to create new namespaces for its nested containers. Th

[2021-08-09 17:09] #9099 closed

[2021-08-09 19:45] hacktivista commented on #9101
indeed, upgraded kernel and all is working flawlessly now, thank you guys

[2021-08-10 02:53] timlee81 commented on #9043
So it appears the issue is only present when both containers are running.

Debugging:

1. Disabled LXD, reboot: No issue / fast reboot
2. Re-enabled LXD, stopped all instances, reboot: No issue / fast reboot
3. (Both containers active after reboot) Stopped 'routed' nictype container (pihole), reboot: No issue / fast reboot
4. (Both containers active after reboot) Stopped 'macvlan' nictype containe

[2021-08-10 08:41] tomponline commented on #9043
OK so we are getting closer, but I still don't see any potential link between those two NIC types (macvlan and routed) and OVS.

So we can be 100% certain which NIC is causing the `del-port` command, rather than us rely on a randomly generated `veth....` interface name (as we can see being used in the `del-port` command) please can you set the `host_name` setting on the `routed` NIC using:

[code]

[2021-08-10 10:44] tomponline commented on #9043
I've had a look in the liblxc source code and cannot see a reason why it would call del-port either.

[2021-08-10 10:55] Freeaqingme opened #9104 "lxc hangs"
I'm not entirely sure if this issue pertains to LXC or LXD. I just wanted to enter a VM using `lxc exec <vmName> bash`. That command hangs consistently without any output shown. `lxc ls` also hangs with no output whatsoever (unless in debug mode):

[code]

I _think_ that for a command like this there could/should be a timeout on the call to the unix.socket, but that obviously wouldn't fix the prob

[2021-08-10 11:33] Freeaqingme commented on #9104
I figured I might be able to attach a debugger to see what's going on. However, unfortunately, gdb doesn't know what to do with Go. Also, Delve complains that it "could not open debug info" (presumably because of missing DWARF headers).

Having said that, for one reason or another* everything just seems to have resolved.

I realize this issue reads a little like a support issue, but I think that t

[2021-08-10 13:56] stgraber commented on #9104
Can you show the output of `dmesg` and `ps fauxww`?

Per the output above, LXD itself is responding, but then gets locked up when trying to access the instances, so this smells like a kernel or hardware issue.

[2021-08-10 14:02] soupdiver opened #9105 "Unable to set cluster.images_minimal_replica to -1"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-77-generic
   * LXC version: 4.17
   * LXD version: 4.17
   * Storage backend in use: dir

# Issue description

According to https://github.com/lxc/lxd/blob/master/doc/clustering.md#images I should be able to set `lxc config set cluster.images_mini

[2021-08-10 14:10] Freeaqingme commented on #9104
@stgraber dmesg is - for that time period - empty. Just to give an idea:
[code]

I didn't do ps fauxww while the problem was going on. I did however do this:
[code]

Re the label 'incomplete'. I think this issue maybe hardly actionable, other than perhaps some error handling or timeout to the call to the socket. But perhaps we can figure out what caused it :)

[2021-08-10 14:12] stgraber commented on #9105
Ah yeah, it's a good old case of your shell eating the `-` :)

There are a few ways around this kind of problems in general:
 - lxc config set cluster.images_minimal_replica -- -1
 - echo -n "-1" | lxc config set cluster.images_minimal_replica -
 - lxc config edit

The first is usually how you get around such issues in most commands, by telling the parser where the delimitation between flags and a

[2021-08-10 14:13] stgraber commented on #9105
The most common case of this seen by LXD users is with `lxc exec` where you need to do `lxc exec blah -- ls -lh /` to prevent the `-lh` to be interpreted as an argument to `lxc exec`.

[2021-08-10 14:16] tomponline commented on #9105
`lxc config set cluster.images_minimal_replica=-1` also works.

[2021-08-10 14:19] stgraber commented on #9104
Unfortunately the `systemctl` output doesn't provide me with the information I'd have liked to see (process state).
I agree that given the issue went away, there's not a whole lot we can do about it at this point :)

Based on your log output, LXD itself was responding to the API calls, so it wasn't a case of the socket not responding or the client not giving you a connection timeout. Instead the A

[2021-08-10 14:19] #9104 closed

[2021-08-10 14:19] stgraber commented on #9105
Oh oops, forgot about that one, will add it to the list above ;)

[2021-08-11 02:17] timlee81 commented on #9043
Ran: `lxc profile device set routed_192.168.1.9 eth0 host_name=piholelxd` and rebooted several times.

Can no longer reproduce the issue... I thought this would be another debugging step and not a 'fix' :)

[2021-08-11 08:01] tomponline commented on #9043
@timlee81 how very odd.

Can you remove the host_name entry to recreate the problem and then enable LXD debug mode so we can gather the system logs to discover where in the process is causing the delay? We need to identify if this is happening in LXD or liblxc.

[code]

And then you can see the logs as lxd.daemon in syslog.

[2021-08-12 14:35] toby63 opened #9109 "[Feature Request] Rename `lxd init --auto`"
Related to this discussion: https://github.com/lxc/linuxcontainers.org/pull/496#discussion_r687713325

The `--auto` flag might sound a bit misleading, as it only applies a standard setup, while some people might assume it automatically recognizes the correct options for their computer.

Suggestions are:
- `--minimal` (@tomponline)
- `--simple` (@tomponline)
- `--default` (me)

I think "minimal" is

[2021-08-12 18:34] #9109 closed

[2021-08-13 15:47] timlee81 commented on #9043
@tomponline

[all.log](https://github.com/lxc/lxd/files/6983621/all.log)
[lxd.log](https://github.com/lxc/lxd/files/6983622/lxd.log)

Unsetting host_name from the profile reproduces the issues (thankfully no heisenbug).

Logs represent full boot-up and shutdown request (with 5 minute hang).

lxd.log is just the lxd.daemon output.
all.log is most of the systems log (filtered out some kernel/audit s

[2021-08-13 17:06] timlee81 commented on #9043
[success.log](https://github.com/lxc/lxd/files/6984039/success.log)

Managed to get a log for a no-hang scenario. The 'power failure' message is present, but with no 5 minute hang.
Likely some weird timing going on....

[2021-08-14 18:25] turtle0x1 opened #9114 "Failed to initialize cpuset.cpus"
LXD / LXC version 4.17, did a restart nothing else changed - try to start a container and im getting errors like the below and now nothing starts.

Let me know what info you need!

[code]

[2021-08-14 20:00] brauner commented on #9114
This should be fixed really soon. This was a bug in liblxc. @stgraber

[2021-08-14 20:05] turtle0x1 commented on #9114
Ah bummer, thanks for the update :smile:

[2021-08-15 00:01] stgraber commented on #9114
Should have also been limited to the edge channel. At least that's the only place we saw it in our automated tests.

[2021-08-15 00:01] #9114 closed

[2021-08-17 14:25] tomponline commented on #9043
Looking at your log files, you have a project called `defaultfovs` - that suggests you have at some point done something with OVS to me :)

[code]

Can you explain a bit about how that project came about and what you were doing, it may suggest something has been left over.

[2021-08-17 16:10] NateKomodo opened #9121 "Swagger spec is invalid"
# Issue description

The [swagger spec](https://github.com/lxc/lxd/blob/master/doc/rest-api.yaml) contains a number of errors and cannot be used for codegen. I tested the version on master as well as the 4.0.7 tag.

# Steps to reproduce

 1. Copy the swagger spec (by either downloading it or ctrl+c and ctrl+v, or importing from the url)
 2. Paste it into editor.swagger.io or any other swagger vali

[2021-08-17 16:44] stgraber commented on #9121
The swagger spec is available for API documentation purposes only (effectively for https://linuxcontainers.org/lxd/api/master/) and not for use with code generation. LXD actively relies on a bunch of things which swagger cannot represent (protocol over websocket, TLS based authentication, ...).

[2021-08-18 05:24] stgraber commented on #8152
@monkz sorry for the delay.

I've been thinking about this on and off for the past few days and I'm struggling to find a safe way to allow this as well as provide something which will work the same way across both containers and virtual machines. In general, the template mechanism was designed to render files in the instance prior to it starting with the various triggers letting you decide on what

[2021-08-18 08:48] tomponline opened #9124 "BTRFS quota is reached when filling up VM disk image file"
Even though LXD sets the BTRFS quota 100MB (by default) larger than the VM disk file max size, if the VM uses all of its disk space the underlying BTRFS filesystem sees that the referenced disk quota has been reached and prevents LXD from starting the VM because it cannot write the backup file. Even though there should be some space free.

It seems like BTRFS quota isn't working the way we think i

[2021-08-18 09:56] knutov commented on #6815
I had the same issue just now on 5.04 HWE kernel.

This problem has consequences - `lxc move` does not handle this situation, and DO NOT report it was not able do destroy container on old node after moving to the new node, so after server reboot containers will start on both nodes.

[2021-08-18 10:23] knutov opened #9125 "lxc move and "lxc delete error: Failed to run: zfs destroy""
ubuntu 18.04 with hwe kernel (5.4.0-40-generic)
lxd from snap - latest/stable:    4.17
zfs 2.0.4

After `lxc move` container `c6` to the new server (without any errors) I found this container on the old server with STOPPED state.

After `lxc delete` I've got "lxc delete error: Failed to run: zfs destroy" error like in #6815

After server reboot container was started so it became running on two nod

[2021-08-18 12:06] stgraber commented on #9125
`lxc move` does wait for and report errors from both the source and target servers.

We'd really need the log from the source server to see why the move operation was considered successful in this case.

[2021-08-18 12:08] knutov commented on #9125
Is there any suitable log I can found after the server was rebooted?

[2021-08-18 12:10] stgraber commented on #9125
lxd.log is rotated so you can find lxd.log.1 or even .gz compressed versions for older startups.

[2021-08-18 12:27] knutov commented on #9125
what should I grep from that log?

[code]

at the end of log there was multiple trying to do `lxc delete c6`, this container still was not deleted at the end of log.

[2021-08-18 12:51] jamielsharief commented on #9124
Could it be related to this
https://github.com/lxc/lxd/issues/8468

[2021-08-18 13:03] knutov commented on #9125
Another container same problem, but there was ther error after `lxc move` this time - should I close this and open another issue about "zfs dataset is busy"?

[code]

[code]
returns nothing this time

[2021-08-18 13:38] stgraber commented on #9125
In this case, what's busy is a snapshot, can you check whether you have any `zfs send` or `zfs receive` process running on that system?

[2021-08-18 13:40] knutov commented on #9125
yes:

[code]

[2021-08-18 13:47] stgraber commented on #9125
Ok, so that's what would have kept it busy. Now that it's exited, the container should delete just fine.
Any chance you can retry with a clean setup, making sure both sides don't have any leftover `zfs send` or `zfs receive` and attempt the transfer again to see if something gets stuck again?

Our testsuite does hundreds of such migrations in our test runs and other than a few very rare issues wit

[2021-08-18 13:54] stgraber commented on #9124
It's possible, yeah. btrfs quotas are really frustrating to work with and very odd compared to what you get on ZFS or through project quotas on ext4/xfs, for one thing, it seems somewhat asynchronous, making it possible to exceed the limit by a few hundred MBs before the quota kicks in. This may well be the source of the issue here but we'll need to investigate some more.

[2021-08-18 13:55] tomponline commented on #9124
Yes I noticed that when I looked into it initially, the quota consumption kept changing even thought the actual instance wasn't running.

[2021-08-18 13:58] knutov commented on #9125
That is production setup, so it is hard to repeat again due to reboots of containers.

The strange thing - those processes exitted only after I do `strace -p` them. It does not look normal (but this is may be zfs only side).

As for now both servers are freshly booted, the only differences are one with Ubuntu 20.04 and latest hwe kernlel, another with 18.04 and HWE.
ZFS is zfs-2.1.0-0york2 and LXD

[2021-08-18 14:09] stgraber commented on #9125
Yeah `strace` unblocking things is very very often an indication of a kernel issue as strace doesn't alter the process' behavior in general.

`lxc move` only deletes the source if the target reports that the migration is complete and didn't hit any errors, which in this case would mean that the datasets were correctly received.

[2021-08-18 14:15] jamielsharief commented on #9124
Issue #8468, is about incorrect disk usage, as seen in the examples, it says the usage was 9MB despite the usage being 500MB. If i remember correctly creating a snapshot resets the usage.

It was an other issue where i reported the delay of information.

[2021-08-18 14:16] jamielsharief commented on #9124
So I am thinking that calculation of usage is somehow calculating the difference in the filesystem and the most recent snapshot, as opposed to the original image.

[2021-08-18 14:16] tomponline commented on #9124
Its not even that simple because if you wait some time thought you'll see the utilisation change on the original volume too as BTRFS performs an async usage scan after taking the snapshot.

[2021-08-18 14:19] jamielsharief commented on #9124
I think submitted that as a different issue, but my understanding was that is how the storage driver works, so deal with it. Its mainly noticeable to users when using a web UI for lxd. Using the command line, you probably wont notice it.

[2021-08-18 14:20] tomponline commented on #9124
Yes its not ideal if the BTRFS reporting tools are async. But if it allows users to exceed their quotas due to that async nature then its pretty nasty.

[2021-08-18 14:22] jamielsharief commented on #9124
I think we are talking about two different problems, the problem I discovered was that when creating a snapshot using custom BTRFS partition, it resets the usage to almost nothing. This means that the reported use is way lower that is available, so i am not sure if that later leads to the problem reported above.

[2021-08-18 14:23] stgraber commented on #9125
Sounds good. We certainly don't test the DKMS versions of ZFS on old kernels. Our ZFS 2.1 systems currently are on 5.13 I believe, 2.0 comes with 5.11 and you get 0.8 with 5.4 I think (we rely on whatever ZFS is in the Ubuntu kernel as that's got testing, validation and support from the kernel team).

[2021-08-18 14:23] tomponline commented on #9124
In this case I am talking about the example above.

[2021-08-18 14:27] jamielsharief commented on #9124
No problems, i just saw the issue come through, and it reminded me of similar problems, which could create bugs if the usage information is used by the API for something else.

[2021-08-19 03:53] ma3252788 opened #9127 "How to free up space after using snapshots?"
# Required information

 * Distribution:Ubuntu
 * Distribution version: ubuntu 16.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

At some point in the past, I took a snapshot of a container, and recently when I was organizing the container, I noticed that the space inside the container was not freed up after the files were deleted, and I think this is because I took a

[2021-08-19 08:25] tomponline opened #9128 "Add ipv{n}.routes setting for routed NIC type."
Add `ipv{n}.routes` for `routed` NIC type to support routing additional subnets from the host to the instance NIC (without L2 ARP/NDP proxy).

See https://discuss.linuxcontainers.org/t/nictype-routed-ipv6-prefix-range/11870/7?u=tomp

[2021-08-19 13:17] monkz commented on #8152
Thank you for your extensive answer.  We'll resort to template outside of LXD and `lxc file push` it.

[2021-08-19 16:05] hadmut opened #9130 "wrong group for lxd control socket"
* Distribution: Lubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

snap list lxd
Name  Version  Rev    Tracking       Publisher   Notes
lxd   4.17     21260  latest/stable  canonical✓  -

I'm having a service group lxd and put myself into this group in order to control LXD as a

[2021-08-19 16:22] #9127 closed

[2021-08-19 16:23] stgraber commented on #9127
Closing as this is a support question and not really an issue (nothing actionable for us).
In general those are better handled at https://discuss.linuxcontainers.org

But yes, you're correct, a snapshot is always free at the time it's taken but becomes costly overtime as the state diverges.
If you create an instance with 2GB of data, you make a snapshot and then proceed to delete that 2GB of data.

[2021-08-21 10:40] cemzafer opened #9134 "Error: Error occurred when starting proxy device: Error: listen udp 192.168.1.5:53: bind: address already in use"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 5.11.0-27-generic
   * LXC version: 4.17
   * LXD version: 4.17
   * Storage backend in use: zfs

# Issue description

There are two nameserver in the cluster ns1 and ns2, these are listening on port 53 and proxy on it. They are both running well

[2021-08-21 10:41] cemzafer commented on #9134
[code]

[2021-08-21 11:05] cemzafer commented on #9134
I solved the case reference to that link.
Thanks.
[https://discuss.linuxcontainers.org/t/making-sure-that-ips-connected-to-the-containers-gameserver-proxy-shows-users-real-ip/8032](url)

[2021-08-21 11:05] #9134 closed

[2021-08-23 15:21] gbiggs opened #9136 "USB device attach events are missing for a specific device"
# Required information

 * Distribution: ArchLinux
 * Distribution version: latest
 * [The output of "lxc info"](https://gist.github.com/gbiggs/1827d23d3addc4a100712e0dab0aa68b)

# Issue description

USB device attach events are missing for a specific device.

I have a USB camera that has two modes. In the first (startup) mode, bootloader mode, it is a USB2 device. To use the camera the camera's A

[2021-08-23 19:10] stgraber commented on #9136
@brauner this is going to be one for you as you wrote all that fun uevent handling logic!

[2021-08-23 20:37] simondeziel opened #9137 "Not providing `cluster.https_address` can lead to bogus cluster URL"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
 * lxc version:  4.17 (snap version 21260)

# Issue description

If one configures `core.https_address` without configuring `cluster.https_address`, the cluster URL will be bogus.

# Steps to reproduce

 1. Configure `core.https_address`:
[code]
2. Enable cluster support:
[code]
 3. Inspect cluster list:
[code]

In th

[2021-08-23 23:06] turtle0x1 opened #9139 "VM memory reporting as 0"
The API seems to be reporting 0 memory used in `4.17`.

VM in question is a ubuntu 18.04 image.

[code]

[2021-08-23 23:12] stgraber commented on #9139
Reports it correctly here.

[2021-08-23 23:12] stgraber commented on #9139
Can you provide the usual bug report details?

[2021-08-23 23:13] stgraber commented on #9139
This may suggest you're running on a kernel without a memory cgroup (like is the case on the raspberry pi).

[2021-08-23 23:16] turtle0x1 commented on #9139
Stock ubuntu 20.04, I was on the edge snap and then went back to 4.17.

Is there particular debug information you want? Ill try a new VM maybe its a one off type thing, had this one around a while.

[2021-08-23 23:33] turtle0x1 commented on #9139
Nope same issue with a alpine 3.11 vm

[2021-08-24 02:35] stgraber commented on #9139
Oh, I somehow missed the fact that it's a VM, let me see what that looks like here.

[2021-08-24 02:36] stgraber commented on #9139
[code]

[2021-08-24 02:37] stgraber commented on #9139
Is your VM's lxd agent working? Can you use `lxc exec` against it?

[2021-08-24 15:49] simondeziel opened #9143 "Not providing `core.https_address` prevents the creation of a cluster"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
 * lxc version:  4.17 (snap version 21260)

# Issue description

If one configures `cluster.https_address` alone (no `core.https_address`) the cluster cannot be created:

# Steps to reproduce

 1. Configure `cluster.https_address`:
[code]
2. Enable cluster support:
[code]

The last command hangs and the following is l

[2021-08-24 16:33] tomponline commented on #5992
As of https://github.com/lxc/lxd/pull/9142 we now support Go Modules on LXD.

[2021-08-24 16:39] Foxboron commented on #5992
That is great news. Thank you so much :)

I'll build an RC for Arch and verify there isn't any regressions in the `Makefile` for downstream packagers!

[2021-08-26 08:49] hanjl93 opened #9151 "Update failed"
the 4.17 installed success，why update failed？

![Snipaste_2021-08-26_16-50-11](https://user-images.githubusercontent.com/89497692/130932175-df0ffe20-69b3-46cf-aaa9-8febaafdebab.png)

[2021-08-26 08:50] #9151 closed, assigned to nobody

[2021-08-26 12:06] kautMaks opened #9153 "Ability to run lxd recover as noninteractive"
Could you make ability to run `lxd recover` as noninteractive.
It needs to run `lxd recover` in bash scripts.

I think would be great something like this:
`lxd recover ctname --backend=dir --source=/var/lib/lxd/storage-pools/default`

`ctname` may be optional, if empty - try to recover all finded ct's

[2021-08-26 15:53] #9153 closed, assigned to nobody

[2021-08-29 17:54] markmcb opened #9162 "Undecorated Table Format Option"
The default table formatting makes output hard to read, especially on smaller terminals. Vertically is reduces what's visible by 50%, and horizontally makes for a very hard read if the lines wrap.

Current output for something like lxc list (17 lines):

[code]

Suggested alternative (no decoration text, 3-space delimiters, only 9 lines):

[code]
I feel like that should be the default, and if there

[2021-08-30 15:55] simondeziel opened #9163 "`cluster.https_address` should default to listening on port 8443"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
 * lxc version:  git-8fbbbde (snap version 21428)

# Issue description

If one configures `cluster.https_address` without providing a port, the cluster cannot be created:

# Steps to reproduce

1. Workaround #9143 by enabling `core.https_address`:
[code]
 2. Configure `cluster.https_address`:
[code]
2. Enable cluster

[2021-08-31 04:54] #7873 closed

[2021-08-31 10:20] m-ar-c opened #9165 "--refresh and --no-profiles flag conflict"
Hello,

after a passage on IRC, I was told I should fill a bug about the following situation :

I first ran `lxc copy remoteA:cont1 remoteB:cont1 --no-profiles --stateless`, it ended with no error. I can start and access cont1 on remoteB. But when I ran it a 2nd time with `--refresh` added, I got the following error :

I thought it was a profile issue ( remoteA/cont1 uses 2 profiles (`default` and

[2021-08-31 20:10] VERTlG0 opened #9168 "failed compiling lxc-to-lxd on Gentoo using ebuild"
* Distribution: Gentoo
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.10.60
   * LXC version: 4.0.10
   * LXD version: 4.17
   * Storage backend in use:

# Issue description

I tried compiling lxd-4.17.ebuild in my distro gentoo's packagemanager Portage.
Package fails to compile with error message:

[code]

[2021-08-31 20:16] stgraber commented on #9168
This isn't showing any actual compilation error. I'd recommend having the build step be run twice as the second one should result in a much more concise output with the error clearly visible.

[2021-08-31 20:35] cemzafer opened #9169 "Error: tls: failed to find any PEM data in certificate input"
# Required information

 * Distribution: Ubuntu
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description

I have get the code from ```https://pkg.go.dev/github.com/lxc/lxd/client#hdr-Overview``` and modify a little bit like that.

func main() {
	//-------------------------------

[2021-08-31 20:37] #9169 closed

[2021-08-31 20:37] stgraber commented on #9169
X509 PEM encoded certificates are multi-line.

[2021-08-31 20:38] stgraber commented on #9169
If you've indeed passed both as a single-line string, then it'd make sense that the Go PEM decoder would get very confused :)

[2021-09-01 06:47] cemzafer commented on #9169
You are a life saver @stgraber , appreciate your help.
Regards.

[2021-09-01 10:38] esosan opened #9172 "Increase root device error (LVM storage with nested lvs)"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04.3
   * Kernel version: 5.4.0-81-generic
   * LXC version: 4.17
   * LXD version: 4.17
   * Storage backend in use: LVM (nested lvs - lvm.use_thinpool )
   * lvm.external=true

# Issue description

On existing container I try to increase the root device with the command
`lxc config device override lb root size=8GiB`

I g

[2021-09-01 10:40] tomponline commented on #9172
`sudo lvs` and `sudo vgs` output please.

[2021-09-01 10:44] esosan commented on #9172
[code]

[code]
/dev/pool00/containers_lb (and /dev/pool00) exists.

[2021-09-01 13:41] christoph-conrads opened #9175 "Certificate error: `lxc image ls images:` not working, `lxc launch images:xyz container` working"
# Required information

* Distribution: Ubuntu
* Distribution version: 18.04.5, 20.04.3
* The output of "lxc info": [lxc-info-ubuntu-18.04.5.txt](https://github.com/lxc/lxd/files/7091376/lxc-info-ubuntu-18.04.5.txt) [lxc-info-ubuntu-20.04.5.txt](https://github.com/lxc/lxd/files/7091469/lxc-info-ubuntu-20.04.5.txt)

# Issue description

`lxc image ls 'images:'` is not working but `lxc launch 'image

[2021-09-01 13:42] tomponline commented on #9175
This is likely due to an ongoing network issue, please follow IRC channel #lxc for updates.

[2021-09-01 13:42] #9175 closed

[2021-09-01 13:42] stgraber commented on #9175
Our infrastructure is in the middle of a DDoS attack, things may be a bit bumpy for a bit.

[2021-09-01 14:24] christoph-conrads opened #9176 "Build problem: cannot find package "github.com/hashicorp/hcl/hcl/printer""
# Required information

 * Distribution: Debian 11
 * The output of "lxc info" or if that fails:
   * LXD version: 4.17

# Issue description

LXD 4.17 does not build on Debian 11. `make` fails with the error shown in the console output below.

# Steps to reproduce

[code]

This seems to be hashicorp/hcl#449.

# Information to attach

 - [ ] Any relevant kernel output (`dmesg`)
 - [ ] Container log

[2021-09-01 14:29] stgraber commented on #9176
The instructions you see have been updated ahead of 4.18 which now uses gomod.
As you're building 4.17, you should look at the README that's included in that tarball instead.

The online version is at: https://github.com/lxc/lxd/tree/lxd-4.17#from-source-building-a-release

This should have the instructions on setting GOPATH such that the build can work.

[2021-09-01 14:29] #9176 closed

[2021-09-01 14:45] christoph-conrads commented on #9176
Thank you, it is building now.

[2021-09-01 14:46] tomponline commented on #9175
We are investigating the certificate expiry of https://us.images.linuxcontainers.org/ and https://uk.images.linuxcontainers.org/

[2021-09-01 15:16] stgraber commented on #9175
This should have been sorted now.

[2021-09-02 02:56] #9143 closed

[2021-09-02 02:56] #9163 closed

[2021-09-02 04:13] VERTlG0 commented on #9168
I figured out the problem.. it was with a lib dqlite. I had to upgrade from dqlite-1.8.0 to dqlite-1.9.0 and now it compiles.

[2021-09-02 11:10] stgraber commented on #9168
Ah okay, it must have been hitting the new RecoverExt function then.

[2021-09-02 11:10] #9168 closed

[2021-09-02 14:42] simondeziel opened #9183 "Duplicate join token"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
[code]
# Issue description

On a cluster, adding a join token results in two identical tokens being created.

# Steps to reproduce

 1. Setup a cluster (a single node will do)
 2. Issue a join token for

[code]
 3. Confirm 2 identical tokens are available
[code]

There should only be one token for the node named 'foo'

[2021-09-02 16:08] simondeziel commented on #9183
FYI, this is no longer reproducible on edge snap rev 21455.

[2021-09-02 17:02] tomponline commented on #9183
This was fixed by https://github.com/lxc/lxd/commit/75bb51b22e31ec18d10c23d71f45325c0062c89b

[2021-09-02 17:02] #9183 closed

[2021-09-02 17:56] #9165 closed

[2021-09-02 19:20] simondeziel opened #9186 "IPv6 addresses ending with ":" confuse LXD into thinking the port is missing"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
[code]
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description

On a system with an IPv6 address ending with ":" if the `cluster.https_address` is configured without the square brackets/port, LXD complains about a missing

[2021-09-02 20:34] simondeziel opened #9187 "4.0 requires `server_name` for token-based cluster joins"
# Required information

[code]

# Issue description

In 4.0, in order to do a token-based cluster join, one has to add the `server_name` field to the preseed. `latest/edge` doesn't require that field suggesting a problem with the feature backport.

# Steps to reproduce

 1. Setup a cluster with 4.0/edge
 2. Try joining a node with the following preseed:
[code]

The above will fail with:

[code]

A

[2021-09-02 20:35] stgraber commented on #9187
@tomponline looks like a regression, most likely in my backport of it as master works fine.

[2021-09-02 21:33] simondeziel opened #9188 "`cluster.https_address`'s listener doesn't persist through reloads"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.3
[code]

# Issue description

If one configures `cluster.https_address` alone (no `core.https_address`), no listener shows up after reloading LXD.

# Steps to reproduce

 1. Install LXD from the latest/edge snap
[code]
 2. Set a `cluster.https_address`
[code]
 3. Check for the listener
[code]
 4. Reload LXD
[code]
 5.

[2021-09-03 07:29] Freeaqingme opened #9189 "LXD refuses to start if kernel does not support AIO"
I had to compile my own kernel for various reasons, and while I was doing so I figured to harden it a little. Among other things, I decided to disable AIO because it's typically defined as legacy and has had many security issues in the past (besides, io_uring is the new kid on the block).

However, once running on this kernel, 'lxd init --preseed' no longer works because lxd won't start. In the lo

[2021-09-03 07:59] tomponline commented on #9189
This seems like a issue in dqlite or go-dqlite @MathieuBordere are you able to take a look? Thanks

[2021-09-03 08:05] MathieuBordere commented on #9189
Thanks, I'll have a look.

[2021-09-03 08:53] tomponline commented on #9187
@stgraber reproduced and looks like https://github.com/lxc/lxd/pull/9113 just didn't get backported - it applied cleanly.

[2021-09-03 09:11] bjornt opened #9191 "500 error getting network info from API: Network interface "tap4eb1e6f0" not found"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.04
 * The output of "lxc info" or if that fails: https://paste.ubuntu.com/p/KcYN5X4P9m/

# Issue description

In MAAS, we have code like this, using pylxd:

  `networks = [net.state() for net in client.networks.all()]`

If that runs while a VM is stopped, a 500 error is returned from the LXD API:

    Network interface "ta

[2021-09-03 13:51] #9187 closed

[2021-09-03 14:26] stgraber commented on #9191
Yeah, we'll likely need to make our SmartError wrapper or something turn this into a Missing error instead of InternalError.

[2021-09-03 14:30] tomponline commented on #9191
@stgraber @masnax now that we have `api.StatusError()` and `response.SmartError()` is already configured to recognise it by type, you can use `api.StatusErrorf()` to return an `api.StatusError()` with a particular HTTP status code and custom message that will then be returned to the requester with the correct HTTP status code.

E.g.
https://github.com/lxc/lxd/blob/f9ce1c2d3191b4c88973dc2141841c268

[2021-09-03 14:32] tomponline commented on #9191
This should be a small change to https://github.com/lxc/lxd/blob/fc743968e05d941e796643b7558a991a2f62d1f6/lxd/resources/network.go#L437 to replace:

[code]

with

[code]

[2021-09-03 15:39] simondeziel opened #9193 "pprof listener bind to TCP/8443 if no port is specified"
# Required information

[code]
# Issue description

If one set `core.debug_address` without specifying a port to bind to, the listener will be on TCP/8443 which risks conflicting with `core.https_address` and `cluster.https_address`. Also, TCP/8443 usually comes with the expectation of HTTPS whereas is plain HTTP.

# Steps to reproduce

 1. Install LXD
[code]
 2. Enable the pprof listener
[code]
3

[2021-09-03 15:45] tomponline commented on #9193
And worse, if you reload LXD after setting the core.debug_address to that LXD fails to start with:

[code]

[2021-09-03 15:49] tomponline commented on #9193
A port should always be required, so either in the format `:<port>` or `<ip>:<port>`.
Also needs to handle wildcard formats for IPs `0.0.0.0` and `::`, as well as validating that IPv6 addresses can be differentiated from the port specified.

[2021-09-03 16:08] tomponline opened #9194 "Warnings not directly created in init() are resolved on LXD start (even if triggered during startup)"
Warnings that are triggered during LXD start (such as network failures) are immediately marked as resolved as LXD finishes starting up due to https://github.com/lxc/lxd/blob/0754c9fe9d35e7b76a618263e0cc15682525be3b/lxd/daemon.go#L1322-L1342

This means that these warnings that are triggered during LXD start but are not directly created by the `init()` function are never visible to the user.

Perha

[2021-09-03 16:09] tomponline opened #9195 "Storage pools are not unmounted on LXD shutdown"
If LXD is cleanly shutdown (including its instances), the networks are cleaned up but the storage pools are not unmounted.

[2021-09-03 17:29] #9186 closed

[2021-09-03 18:02] tomponline commented on #9193
I think `validate.IsListenAddress()` will likely be useful here.

[2021-09-03 22:15] #9188 closed

[2021-09-03 22:15] #9191 closed

[2021-09-03 22:15] #9193 closed

[2021-09-03 22:16] stgraber commented on #9043
@timlee81 ping

[2021-09-03 22:16] #9139 closed

[2021-09-04 03:07] ne-vlezay80 opened #9200 "Failed start container vm"
# Required information

 * Distribution: Archlinux
 * Distribution version: current
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.13.13-arch1-1
   * LXC version: 4.17
   * LXD version: 4.17
   * Storage backend in use: lvm

# Issue description

Problem start container with vm mode.

# Steps to reproduce

 1. `lxc init images:debian/current docker --vm`
 2. lxc start docker
#

[2021-09-04 03:09] ne-vlezay80 commented on #9200
[code]

[2021-09-04 03:17] #9200 closed

[2021-09-04 03:18] stgraber commented on #9200
You didn't provide the required `lxc info` output but based on the error and the distribution, it sounds like you're running LXD on ArchLinux with QEMU 6.0. This isn't supported as QEMU 6.0 has a bunch of config parsing issues.

You need to either go back to QEMU 5.x or go to QEMU 6.1 both of which work properly.

[2021-09-04 13:46] timlee81 commented on #9043
That doesn't ring a bell (this is a fairly fresh host box).

Regarding the specifics of this box, it's primarily hosting an instance of pi-hole (via routed network type) and a macvlan network type instance for some iTunes Remote library support.

I setup the routed instance via this blog: https://blog.simos.info/how-to-get-lxd-containers-get-ip-from-the-lan-with-routed-network/

I haven't used lxd

[2021-09-06 01:49] ghost0zxc opened #9201 "lxd cannot load GPU correctly"
# Required information
 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-81-generic
   * LXD version: 4.17
   * Storage backend in use: ZFS

# Issue description
My container cannot be started correctly. But it can start normally after setting nvidia.runtime = false .After checking the resources, I found that the GPU is not reading we

[2021-09-06 02:17] stgraber commented on #9201
Please show `lxc config show --expanded NAME-OF-CONTAINER` and `lxc query /1.0/resources`

[2021-09-06 02:29] ghost0zxc commented on #9201
lxc config show --expanded NAME-OF-CONTAINER
`Error: not found`
lxc query /1.0/resources
[code]

[2021-09-06 03:23] ghost0zxc commented on #9201
lxc config show chen0 --expanded
architecture: x86_64
config:
  boot.autostart: "true"
  limits.cpu: "36"
  nvidia.runtime: "false"
  volatile.base_image: 8c30c3621672584e14b6ad6ec778bad6b99bf5bc30917c2588d5d161e2344335
  volatile.eth0.host_name: veth4eb159f8
  volatile.eth0.hwaddr: 00:16:3e:85:1d:a0
  volatile.idmap.base: "0"
  volatile.idmap.current: '[{"Isuid":true,"Isgid":false,"Hostid":100000

[2021-09-06 03:57] stgraber commented on #9201
GPU ID 0 is your ASPEED BMC GPU, not the NVIDIA card. Did you try with id 1?

[2021-09-06 04:04] ghost0zxc commented on #9201
The problem remains the same after the change, and my previous use is good. Maybe the installation of virtualgl has changed my nvidia_uvm?
[code]

[2021-09-06 09:38] TommyLike opened #9202 "Bind lxd container port to specific namespace"
This is a general question that now we can use proxy plugin to expose container's port to host via command below:
[code]
Can we bind lxd container port to specific namespace? The usecase is we want to manage lxd container by its parent kubernetes pod while we can expose the container port via kubernetes traffic, something like that:
[code]
Question:
1. Is it possible to support this in lxd? Will i

[2021-09-06 14:20] monstermunchkin commented on #9194
@tomponline That won't work because `startTime` is set at the end of `init` (in the `Ready` function) which would cause all warnings to be resolved.

[2021-09-06 14:24] tomponline commented on #9194
Could we not set it earlier or take another reading earlier?

[2021-09-06 14:32] monstermunchkin commented on #9194
We could set it earlier, e.g. in `Init()` (which calls `init()`). Looks like `startTime` is only used for image updates.

[2021-09-06 17:52] turtle0x1 opened #9204 "Limits as bytes"
Should the API returning `limits` as bytes? Clients have to approximate this by converting string to bytes.

Are you internally converting "10GB" to bytes?

This is fine as long as it matches the internal behaviour.

[2021-09-06 18:32] stgraber commented on #9204
LXD always returns current usage in bytes as that's how we get it from the kernel and allows for the client to choose whatever precision they see fit.

As for what the client can use to set limits, they can give us a straight amount of bytes or use any suffix they want (both SI and IEC notations are supported).

[2021-09-07 02:21] #9194 closed

[2021-09-07 11:10] ghost0zxc commented on #9201
Is it related to user permissions? I noticed that the permissions of these three files have been changed. Will lxd call them?
[code]

[2021-09-08 01:40] stgraber commented on #9201
Sorry I'm not responding faster on this. I don't have NVIDIA hardware available in my own computer so need to get one of our VMs up so I can get you some more debugging steps.

[2021-09-08 02:06] stgraber commented on #9201
Just re-tested here and everything looks fine with our basic `GT 730` we use for testing.
But your output shows less details which may explain why nvidia-container doesn't behave...

[code]

[2021-09-08 02:09] stgraber commented on #9201
[code]

[2021-09-08 02:10] stgraber commented on #9201
Can you try those two commands in your case to see what's being reported?
A `nvidia-smi` output may be useful too.

[2021-09-08 02:21] stgraber commented on #9202
Hmm, no, LXD will always deal with the host and the container, it doesn't support attaching to an arbitrary network namespace rather than the host's.

I'm also not sure that it's something we'd have much interest in doing as there are some difficulties with that.
We'd need to either get provided the path to a bind-mounted nsfd entry or be given a PID to attach to.

Now in general LXD runs under so

[2021-09-08 03:18] TommyLike commented on #9202
@stgraber thanks, you are correct, after investigating the lxd code, we preferred to mount the share directory into both of the containers and connect them by domain socket.

[2021-09-08 03:18] TommyLike commented on #9202
@stgraber thanks, you are correct, after investigating the lxd code, we preferred to mount the share directory into both of the containers and connect them by domain socket.

[2021-09-08 03:27] da-moon opened #9206 "mounting sys:rw with custom exported image forces logout"
# Issue description

I am using [kubedee](https://github.com/schu/kubedee) to quickly bootstrap a K8s cluster.

after reading Kubedee scripts, it looks like the process has two main phases :

- create a custom LXD image based on `ubuntu:20.04`. Some tools are installed and then the image is published
- create nodes based on the custom image.

When Kubedee is creating nodes based on custom image, i

[2021-09-08 03:37] #9206 closed

[2021-09-08 03:38] stgraber commented on #9206
Closing as anything coming from `raw.lxc` is unsupported. The config described here completely disables all security on a privileged container. Such a container is able to do anything it wants to the host system, access any data it wants and reconfigure any device which is likely what's causing issues here.

[2021-09-08 03:43] stgraber commented on #9206
Basically:

 - lxc.console.path=none (exposes the host's /dev/console to the container, potentially allowing things like tty reconfigs)
 - lxc.apparmor.profile=unconfined (disables all apparmor profiles and namespaces, causes host apparmor profiles to apply to procsses inside the container)
 - lxc.apparmor.allow_nesting=1 (meaningless given the above)
 - lxc.apparmor.allow_incomplete=1 (meaningles

[2021-09-08 03:44] stgraber commented on #9202
Cool, glad that approach works for you!

[2021-09-08 03:44] #9202 closed

[2021-09-08 03:48] ghost0zxc commented on #9201
![image](https://user-images.githubusercontent.com/33685664/132443414-fa4cbfbb-82ac-46c1-a18a-267643c414b4.png)

[2021-09-08 04:13] da-moon commented on #9206
@stgraber thanks you so much for your detailed feedback; this makes things much more clear.

[2021-09-08 04:24] da-moon commented on #9206
@stgraber one thing that stood out to me was that these steps worked with `ubuntu:20.04` image

- launch a container

[code]

- set container config

[code]

- restart container

[code]

this makes me wonder if taking snapshot and using the exported snapshot is what might be causing a problem.
essentially, `kubedee-container-image-v0-7-0-66-g34ea3c3-dirty`is created by running the following:

[cod

[2021-09-08 09:25] ghost0zxc commented on #9201
It’s amazing, I can’t load it under root privileges, but it’s fine under non-root users
[code]
[code]

[2021-09-08 13:40] phiser678 opened #9207 "lxd recover: No unknown volumes found. Nothing to do."
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04.3 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-84-generic
   * LXD Client version: 4.18
   * LXD Server version: 4.18
   * Storage backend in use: zfs

# Issue description

I cannot do any restore of `lxd recover`, always **No unknown volumes found. Nothing to do.**

# Steps to rep

[2021-09-08 14:02] tomponline commented on #9207
Please can you provide full commands you run for the reproducer so I can investigate.

[2021-09-08 14:10] phiser678 commented on #9207
1. lxc launch ubuntu:20.04 c1
2. lxc stop c1
3. zfs snapshot tank/lxd/containers/c1@1
4. zfs send tank/lxd/containers/c1@1|zfs recv tank/c1
5. lxc delete c1
6. zfs rename tank/c1 tank/lxd/containers/c1

[2021-09-08 14:49] yuklia commented on #2930
Hi! Issue still exists:
[code]

[2021-09-08 14:50] stgraber commented on #9201
Can you run `strace -f nvidia-container-cli info` as root?

[2021-09-08 14:51] stgraber commented on #9201
I'm closing the issue as this isn't a LXD problem, but I'd still like to understand what's going on with your system that'd cause root to have less privileges than a normal user ;)

[2021-09-08 14:51] #9201 closed

[2021-09-08 15:04] ghost0zxc commented on #9201
Thank you very much for your help in locating this problem. Could it be a file permission problem in nvidia-container-runtime?
[code]

[2021-09-08 15:20] ghost0zxc commented on #9201
I think my configuration is correct, but it doesn't seem to be the case
![Snipaste_2021-09-08_23-15-26](https://i.loli.net/2021/09/08/N69DbMhHgt1mSOC.png)
![Snipaste_2021-09-08_23-15-01](https://i.loli.net/2021/09/08/EDCkjy5xc723TzX.png)

[2021-09-08 15:29] tomponline commented on #9207
Thanks looks like @stgraber has spotted the issue.

[2021-09-08 15:39] stgraber commented on #9201
This suggests that your root user is quite restricted for some reason, anything showing up in `dmesg`?

[2021-09-08 16:00] ghost0zxc commented on #9201
Is there a problem with this?And my lxd is installed by ordinary users. Isnvidia-container-cli running under ordinary permissions not enough to support it?

![image-20210908235347971](https://i.loli.net/2021/09/08/sY2C13To6XVvi5t.png)
![image-20210908235411251](https://i.loli.net/2021/09/08/ZPIflJo7Owq2QSU.png)
![image-20210908235729439](https://i.loli.net/2021/09/08/cMT6PytzQDld9ra.png)
![image-2

[2021-09-08 16:29] stgraber commented on #9201
LXD when setting up the container's bind-mounts and devices is performing those actions as root. Unprivileged users aren't allowed to do this so it really must be made to work for root.

Your kernel looks in a bad shape, nothing apparently nvidia specific but it's showing a bunch of processes being badly stuck and some CPU related errors, you definitely should reboot your system.

[2021-09-08 16:37] phiser678 commented on #9207
Thanks! The whole time I thought I was doing something wrong :+1:

[2021-09-08 17:18] stgraber commented on #9207
It's one of those cases where it all works so long as the LXD pool name matches the ZPOOL name but doesn't work when they don't or when using a dataset on a pool. I fixed a few of those recently but apparently forgot that one there.

[2021-09-08 17:59] stgraber commented on #9204
Closing as this sounded like a question on behavior rather than a bug.

[2021-09-08 17:59] #9204 closed

[2021-09-08 18:04] #9207 closed

[2021-09-09 02:42] ghost0zxc commented on #9201
Is my system still worth saving? Should I go directly to reinstall the system?
When I created a new user today, I found that my subuid file seemed unreasonable.
[sudo dmesg](https://github.com/ghost0zxc/ghost0zxc/blob/master/x.txt)
[code]

[2021-09-09 03:50] ghost0zxc commented on #9201
Thanks again Stgraber, I uninstalled virtualGL completely to ensure the operation of lxd, it seems that they can not work well together, this may be some permissions problems, I will continue to do some attempts...

[2021-09-09 03:52] stgraber commented on #9201
Oh, that's odd, though I won't pretend to know how virtualGL works and its interactions with the NVIDIA driver :)

[2021-09-09 10:28] candlerb commented on #7119
I have this problem again.  I am now running lxd 4.18 from snap under Ubuntu 18.04.5, kernel `linux-image-generic-hwe-18.04 (5.4.0.81.91~18.04.73)`, zfsutils-linux `0.7.5-1ubuntu16.12`, and my default pool is zfs.

I have a number of containers, including one called "netbox" and another called "netbox3".  I simply wanted to rename the container "netbox" (which was running fine) to "netbox2".

When

[2021-09-09 19:33] bitranox opened #9210 "can not stop lxc containers with a systemd service on host reboot"
# Required information

 * Distribution: Ubuntu Hirsute

 * The output of "lxc info":

[code]

   * Kernel version: 5.11.0.34
   * LXC version: 4.18
   * LXD version: 418
   * SNAPD Version : 2.51.4
   * SNAP core20
   * Storage backend in use: dir

# Issue description

I can not stop LXC Containers with a service - always some errors like :

[code]

# Steps to reproduce

just any service descript

[2021-09-09 19:46] stgraber commented on #9210
The systemd error seems to be coming from the fact that your script is being triggered through a stop action on the same systemd target as what snapd uses for the transient units created whenever a `lxc` command is run. This then causes systemd to fail with that error telling you that you're trying to run a `start` action as part of a `stop` operation and fail.

You may have some luck by moving de

[2021-09-09 19:46] #9210 closed

[2021-09-09 20:25] bitranox commented on #9210
Thanks Stephane - I opened the same issue on https://discuss.linuxcontainers.org. to discuss it there further ...
thanks a lot
Robert, Vienna

[2021-09-10 04:38] stgraber commented on #9121
Closing as we're not aiming for a valid spec but instead for a spec which generates the output we want for our online doc.

In an ideal world, both would be the same, but it's currently not the case and fixing most of the reported issues would actually regress the API documentation that we generated.

It looks like some of what we're doing (like examples for parameters) is supported by some of the

[2021-09-10 04:38] #9121 closed

[2021-09-10 04:40] stgraber commented on #9189
@MathieuBordere let me know if this is something we should relocate to go-dqlite or dqlite.

[2021-09-10 04:41] stgraber commented on #9043
Can you show:
 - lxc project list
 - lxc project show defaultfovs

[2021-09-10 04:44] stgraber commented on #9124
@tomponline assigning to you so we can decide what to do with this.

If the issue is that btrfs applies quotas asynchronously, then I suspect the only thing we can do is mention it in doc/storage.md and close the issue. For those affected, setting the `size.state` property on the root device to something quite large like 1GiB should do the trick to let you start things back up, but it's not someth

[2021-09-10 04:45] stgraber commented on #9136
@brauner reminder to look into this when you're back

[2021-09-10 04:46] stgraber commented on #9125
@knutov any update?

[2021-09-10 04:47] stgraber commented on #9172
Could you show `ls -lh /var/snap/lxd/common/mntns/dev/`?

[2021-09-10 06:19] MathieuBordere commented on #9189
We should probably move it to raft.

[2021-09-10 07:27] esosan commented on #9172
[code]

[2021-09-10 13:20] zer0def commented on #9206
Just to expand on this - this used to be the case on OpenSUSE Tumbleweed images as well, and stems from systemd's udev being a little too grabby (I used to have a link to the specific systemd commit, where Lennart outright states that `sys:rw` in containers is an unsupported case) - if you can neuter (through masking, maybe?) udev during the image's build without compromising on Kubedee's goal, it

[2021-09-10 14:08] da-moon commented on #9206
@zer0def I looked into it a bit more, so these were my findings:
- I could not replicate the problem on another machine that was provisioned with the exact same scripts; the only difference was the on the machine without the problem, I am using refind as bootloader and on the faulty system I am using grub.
- it looks like it's not a kernel panic; it seems like X server is crashing. I modified boot

[2021-09-10 14:50] zer0def commented on #9206
Definitely not a kernel panic, I would lean towards the container, under the assumption that it's the sole init on that boot (there are no additional checks being made after `/sys` is found as `rw`), invasively poking somewhere between TTYs, DRI and the framebuffer, potentially yanking out the GPU from underneath your host's Xorg session.

[2021-09-10 15:39] stgraber commented on #9189
Manually moved to https://github.com/canonical/raft/issues/228

[2021-09-10 15:39] #9189 closed

[2021-09-10 16:18] stgraber commented on #9172
Ok, so the pool looks present there...
What does `ls -lh /var/snap/lxd/common/mntnfs/dev/pool00/` show you?

[2021-09-10 16:28] da-moon commented on #9206
@zer0def do you think it may have something to do with the fact that the faulty system has an Nvidia GPU ? there might be something wrong with the nvidia GPU driver I have installed. That system is running a Ryzen 9 with AMD integrated graphics and an Nvidia GPU.

[2021-09-10 16:33] stgraber commented on #9206
That's possible. When running a full writable /sys, udev in the container will trigger new uevents for every device on your system. Depending on how udev on the host then behaves, it could re-initialize some hardware and cause this kind of issues.

[2021-09-10 16:42] zer0def commented on #9206
I would start by investigating Xorg.log and dmesg as soon as you are crashed out to get a better picture. I don't have a good post-mortem from when I was encountering this issue, but it did "automagically solve itself" over the course of updating container image bases and the host system, which is utterly unhelpful as aid and guidance.

[2021-09-10 18:50] da-moon commented on #9206
@stgraber @zer0def your help has been invaluable. thank you. I will update this thread if I find a surefire way to fix this as others may encounter the same issue.

[2021-09-11 01:35] da-moon commented on #9206
It looks like it was the GPU setup. The faulty laptop is a Lenovo Legion Slim 7 ( gen 6 ). In the bios, it has two graphic card settings: [Discrete Graphics and Dynamic Graphics](https://www.lenovo.com/ca/en/faqs/gaming/gaming-graphic-cards). By default, it was using Dynamic Graphics mode. I switched to Discrete graphics and the error went away.

[2021-09-11 02:51] #9089 closed

[2021-09-11 04:12] zer0def commented on #9206
Glad you managed to sort it out - considering my host is Arch as well and that I had this occurrence sometime during the spring this year with Tumbleweed, you may want to try changing the base image, for example, to `ubuntu:21.04` or a different distribution base entirely - it would narrow down the source of the issue, though time-wise it leans towards being an unfortunately buggy version of syste

[2021-09-11 07:27] esosan commented on #9172
[code]

[2021-09-11 17:30] stgraber commented on #9172
Will let @tomponline follow up as he's far better verse in LVM than I am :)

[2021-09-11 19:33] da-moon commented on #9206
@zer0def I tried multiple ubuntu images ( I couldn't do it with Kubedee, so I manually made a profile with `sys:rw` and launched different images ); it was the same thing.
Basically, it turns out that by using [`optimus-manager`](https://github.com/Askannz/optimus-manager), I can avoid this problem. This problem only happens when the profile is in the `hybrid` mode;  setting the profile to `integr

[2021-09-11 21:33] da-moon commented on #9206
@zer0def It looks like you are correct. I created a profile called `kubernetes`:
[code]

applying this profile to my alpine container did not cause X to crash.

[2021-09-12 01:36] timlee81 commented on #9043
[code]

[2021-09-12 05:11] stgraber commented on #9043
@tomponline could it have been just `default` with the `ovs` from the next line getting mixed in?

[2021-09-12 12:36] zer0def commented on #9206
I've decided to take a look at udev's source between Ubuntu's 20.04 and 21.04 releases (systemd v245 and v247, respectively) and, barring distro-specific patches, bumped into these two commits that may be of relevance:
- https://github.com/systemd/systemd/commit/5abee64ed40039404d68414f0189245988635e6c (shipped with v246, which also happens to be the major version packaged with `ubuntu:20.10`, ima

[2021-09-13 07:56] lathiat commented on #6098
For reference if others find this issue while research, I hit the same issue (stuck in phase: copy snap "lxd" data), filed a bug against snapd with the details:
https://bugs.launchpad.net/snappy/+bug/1943419

Also found a report of the same behaviour on the core snap:
https://bugs.launchpad.net/snappy/+bug/1843589

[2021-09-13 08:10] tomponline commented on #9043
Yes possibly.

Looking at the `all.log` again, the fact that the lines:

[code]

Are occurring before the:

[code]

lines, suggests that its liblxc that is triggering the ovs call, before calling into LXD to perform the netns stage clear up.

I need to spend some time in liblxc to address the regression caused by https://github.com/lxc/lxc/commit/365136359f8bf991ed172b498909000ec18b32de so will at

[2021-09-13 08:25] tomponline commented on #7119
I've reopened this as there still seems to be some issues with ZFS when snap package is refreshed.
Did you reboot the machine after day 2, and did that fix the issue again?

[2021-09-13 08:31] candlerb commented on #7119
It may or may not be related, but soon afterwards this machine started to report some errors with the zpool on the SSD:

[code]

This is a single-device vdev  (no redundancy).

Although it still appeared to be functioning, I took the precaution of replacing the SSD, and rebuilding the machine with Ubuntu 20.04 while I was at it, so I'm afraid that means the error state is now lost.

[2021-09-13 08:32] tomponline commented on #7119
Ah OK that sounds suspect, I'll close again but if you see reoccur without any ZFS errors then let us know. Thanks

[2021-09-13 09:57] Freeaqingme opened #9215 "Allow ipv4_filtering even when no ip is set"
Suppose you have a bridge that has both IPv4 and IPv6 connectivity. A VM is created and an IPv6 address is assigned. That VM is only allowed to communicate over that single IPv6 address.

Ideally, one would be able to configure:
[code]

This is not possible however, because you can only enable ipv4_filtering if an ipv4 address is set. Currently, you either need to add a 'fake' (e.g. ipv4 link-loca

[2021-09-13 09:59] tomponline commented on #9215
@Freeaqingme ah yes indeed, keeping it to `true` only makes sense. Just need to drop the requirement for having an IP address specified.

[2021-09-13 10:06] Freeaqingme commented on #9215
As a small follow-up, I focused this on instances that should only have an ipv6 address. However, the opposite could be true as well of course. An instance might as well have an IPv4 address while all IPv6 traffic should be restricted (sad, but true :rage:).

[2021-09-13 10:14] tomponline commented on #9172
@esosan is it possible to get a login to this host?

[2021-09-13 12:45] esosan commented on #9172
sure

[2021-09-13 12:54] tomponline commented on #9172
My SSH key is https://launchpad.net/%7Etomparrott/+sshkeys

[2021-09-13 13:40] tomponline commented on #9172
Thanks @esosan I think that's helped to find the issue.

First, I confirmed that the snap was able to see the LV via the external `lvs` command using:

[code]

And that using the built-in `lvs` command it couldn't (due to no nesting enabled):

[code]

Then looking into how the `lvm.external` snap setting actually works I found this:

https://github.com/lxc/lxd-pkg-snap/blob/1f4e2092aebdf26f3aa43c3

[2021-09-13 13:43] tomponline commented on #9172
Confirmed the fix:

If I do:

[code]

Then I can run the command:

[code]

[2021-09-13 16:36] #9172 closed

[2021-09-13 19:37] #9195 closed

[2021-09-14 08:29] tomponline opened #9218 "Dont allow limits.memory to be set to zero"
Otherwise instance will fail to start.

See https://discuss.linuxcontainers.org/t/failed-to-run-a-container-bad-file-descriptor-failed-to-allocate-new-network-namespace-id/12145/6

[2021-09-14 15:03] aqueos opened #9221 "cannot prevent lxd from loading ZFS modules even with no zfs filesystem"
# Required information

 * Distribution: ubuntu
 * Distribution version :  20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11.0-34-generic
   * LXC version:
   * LXD version: 4.18
   * Storage backend in use: btrfs

# Issue description

While i use only btrfs and purged all zfs ubuntu packages LXD allways reload all ZFS kernel modules.

I also have

: cat  /etc/modprobe.

[2021-09-14 19:41] #9218 closed

[2021-09-15 14:00] jadjay opened #9227 "FEATURE REQUEST - LXD "client only" binary"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
   * Kernel version:
   * LXC version:
   * LXD version: stable/latest

# Issue description

Is there a way to get only LXD as a client application ? e.g. via remote links ? with no local LXD daemon ?

The best would be to have a "lxd_lxc binary" to download, which is only able to access to remote LXD servers (the kille

[2021-09-15 14:05] #9227 closed

[2021-09-15 14:06] stgraber commented on #9227
https://github.com/lxc/lxd/actions builds a `Linux` artifact with every build which includes a static version of the LXD client (`lxc`) that can be used for this.

[2021-09-15 21:21] cquike opened #9228 "A Centos 7 container running on Debian 11 is unable to mount cgroup"
# Required information

 * Distribution: Debian
 * Distribution version: 11

# Issue description

I have installed lxd in Debian 11 using the snap package but I fail to have a running Centos 7 on it. lxc init and lxc start seem to work fine, but the container doesn't get an IP address and only /sbin/init process seems to be running.
The log seems to indicate that systemd is unable to mount cgroup:

[2021-09-15 21:31] #9228 closed

[2021-09-15 21:32] stgraber commented on #9228
Yes, that's normal. Systemd in centos7 does not support cgroup2. You're running on a cgroup2-only system and so such containers will fail to start.

If you can't move your containers to an OS which supports cgroup2, then you will need to configure your host to use cgroup1 instead.

[2021-09-15 21:35] cquike commented on #9228
I need to use Centos 7 as the container image. Is there actually a way to use cgroup1 in Debian 11?

[2021-09-15 21:47] stgraber commented on #9228
Yeah, you need to update your grub config to pass `systemd.unified_cgroup_hierarchy=false` to the kernel, then run `update-grub` and reboot.

[2021-09-15 22:11] cquike commented on #9228
That indeed works!
Thank you very much for your support.

[2021-09-15 22:32] stgraber commented on #9228
np, glad it worked!

[2021-09-16 06:02] etrivel opened #9229 "cannot change profile for the next exec call: No such file or directory for android studio"
Installed android studio using snap
                snap install android-studio --classic
work fine with first time then not opening
               try with commandline---------->android-studio
                                   throw error----->cannot change profile for the next exec call: No such file or directory
                    (┌──(root💀kali)-[~]
└─# android-studio
cannot change profile f

[2021-09-16 06:07] stgraber commented on #9229
Please provide the information requested in the issue template

[2021-09-16 11:39] etrivel commented on #9229
After snap refresh, reboot doesnt fix issue.

snap interfaces                                                        1 ⨯
Slot                             Plug
certbot:certbot-metadata         -
gnome-3-28-1804:gnome-3-28-1804  -
gnome-3-38-2004:gnome-3-38-2004  mysql-workbench-community
gtk-common-themes:gtk-2-themes   -
gtk-common-themes:gtk-3-themes   mysql-workbench-community
gtk-common-themes:

[2021-09-16 11:40] etrivel commented on #9229
┌──(root💀kali)-[~]
└─# ps fauxww
USER         PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root           2  0.0  0.0      0     0 ?        S    16:58   0:00 [kthreadd]
root           3  0.0  0.0      0     0 ?        I<   16:58   0:00  \_ [rcu_gp]
root           4  0.0  0.0      0     0 ?        I<   16:58   0:00  \_ [rcu_par_gp]
root           6  0.0  0.0      0     0 ?        I

[2021-09-16 13:51] #9229 closed

[2021-09-16 13:53] stgraber commented on #9229
Closing as the issue doesn't include the required information for a LXD bug (even after direct request for it to be updated with it).

[2021-09-16 21:44] oddomatik commented on #9153
We have a use-case I believe applicable for exposing "lxd recover" as an API endpoint or accepting input flags.

If a host loses an OS drive (common at our scale), we run ansible playbooks against a freshly imaged machine that detects the scenario and imports the zpool. I'd like to automate the remainder of the process so that we can issue an API command to automatically run the `lxd recover` from

[2021-09-16 22:35] stgraber commented on #9153
You can hit the `/internal/recover` API for this if you really need to, but it's an internal API so subject to change.
We're not likely to be adding this kind of feature to the stable user facing API any time soon though.

[2021-09-17 04:32] stgraber opened #9231 "Add tab completion for snapshot names in `lxc restore`"
It would be nice if `lxc restore foo <tab>` would offer the list of snapshots for the instance.

Should be retrievable with something like:
[code]

Note that this will unfortunately be a bit flaky as it's going to be a bit hard to handle specific remotes and projects.
That's probably fine as it'd still be an improvement for the standard local case though.

[2021-09-17 04:36] stgraber opened #9232 "Report OVN network state in /1.0/networks/NAME/state"
Currently trying to fetch the network state for an OVN network returns:
[code]

Compare to what we get for a traditional bridge:
[code]

OVN networks are a bit special but we should still be able to:
 - Compute the addresses section from the known virtual router addresses
 - Maybe fill in the counters? (@tomponline is there such a thing on an OVN router?)
 - Fill in the hwaddr, mtu, state and type

[2021-09-17 04:37] stgraber commented on #9232
@tomponline anything else worth adding?

[2021-09-17 04:45] stgraber opened #9233 "Update `lxc cluster list` to show roles instead of boolean database column"
Currently `lxc cluster list` just has a simple `DATABASE` column which will show `YES` if the server is acting as either a database or standby-database. This isn't very specific and as we're adding more roles, doesn't paint the whole picture.

Instead we should show the actual roles, so going from:
[code]

To:
[code]

Note that doing this will require some changes to our tests as they are currentl

[2021-09-17 04:50] stgraber opened #9234 "Fix image copy between two remotes when source is not in default project"
There is an issue when doing:
`lxc image copy local:some-image remote: --project foo`

Where the target server isn't told what project to fetch from resulting in an error if the `default` project on the source doesn't happen to contain the image too.

[2021-09-17 04:53] stgraber opened #9235 "Support for moving instances and custom volumes between projects"
We currently have server-side support for moving instances or custom volumes between storage pools.
But we don't currently have support for moving between projects. Instead the client handles it as copy+delete.

We should expand the `POST` operation on both instances and custom volumes to support moving between projects and have LXD itself handle the copy+delete.

One thing to be careful about her

[2021-09-17 04:57] stgraber opened #9236 "Add a `--profile` option to `lxc image copy`"
Images in LXD can have a set of profiles applied to them. By default it's just the `default` profile, but this can be changed through `lxc image edit`.

It would be nice if when copying an image with `lxc image copy`, the set of profiles could also be modified, something like:

[code]

[2021-09-17 05:00] stgraber opened #9237 "Quiesce HTTP errors caused by HAProxy connectivity checks"
When HAProxy is run in front of LXD, it performs TCP connectivity checks which then trigger errors as the connection is terminated early. This looks like:
[code]

This is caused by HAProxy never going through a full TLS handshake and terminating the session early.
We should find a way to quiesce those errors, at least when LXD is configured for HAProxy.

[2021-09-17 05:01] stgraber opened #9238 "Add `linux.sysctl.*` configuration keys for containers"
This should set the matching `lxc.sysctl.*` configuration keys and allow the user to preset specific sysctls for the container.

This will be a config option that requires a restart to apply and should be a pretty small change to `driver_lxc.go` and matching documentation.

[2021-09-17 05:03] stgraber opened #9239 "Split the storage documentation into per-driver tables"
Following the pattern in `instances` and `networks`. The `storage` documentation should be modified to have each storage driver have its own section with its configuration keys.

[2021-09-17 05:05] stgraber opened #9240 "Fix `tpm` devices to not require `path` for virtual machines"
`tpm` devices currently require a `path` property regardless of whether used for a VM or container.
While `path` is required for containers, it is not for VMs, so the validator should be tweaked to accomodate that.

[2021-09-17 07:00] OhSoGood opened #9241 ""Unable to find quota group" when getting volume size"
Hi All

I'm on Debian 10, kernel 5.10, LXD 4.18 with btrfs storage (btrfs 5.4.1).
The command  `lxc storage volume list local:default -ctnU` returns the message `Error: Unable to find quota group` because of the 'U' option (I got that command from https://github.com/lxc/lxd/issues/7708 ). Unless I forgot, I'v never set any quota anywhere. Do I miss something or is that a bug? Thanks for your help!

[2021-09-17 08:30] tomponline commented on #9233
Can we show the leader as well?

[2021-09-17 08:32] tomponline commented on #9232
@stgraber I've assigned this to myself for now as I'll need to spend some time researching to answer those questions.

[2021-09-17 13:14] stgraber commented on #9233
I suppose we could but we'd need to add a database-leader role and have the server fill that in as it's not something the API currently exposes.

[2021-09-17 13:15] tomponline commented on #9233
Is there an existing way to find that out currently?

[2021-09-17 13:29] stgraber commented on #9233
Not externally, no. And I don't remember how cheap/expensive it is to figure it out internally.

[2021-09-17 14:27] presztak commented on #9233
@stgraber , Hey, can I work on this one?

[2021-09-17 14:30] presztak commented on #9234
@stgraber Can I take this one as well?

[2021-09-17 14:31] stgraber commented on #9233
Absolutely!

[2021-09-17 14:32] stgraber commented on #9234
Absolutely!

[2021-09-17 17:03] stgraber commented on #9241
Hmm, qgroup should be setup the first time you set a `size` limit on a root device of one of your containers on btrfs.
Did you do that already?

If so, then we need to figure out what could have unconfigured it. If you haven't, then we should look into why we're not detecting this and just returning 0 for everything.

[2021-09-17 17:24] turtle0x1 opened #9246 "Possibly Expose "ZFS Send" or Stream Backup Over Websocket?"
`zfs send` seems like the most popular way to make backups quickly [list of of forum posts] could it be exposed through an API?

If not `zfs send` could a `backup` be streamed over a web-socket?

LXD Cluster is recommended to be co-located (the same data centre) so any down stream, centralised, app should be hosted there as well, even in single host environments. Streaming a backup over a socket s

[2021-09-17 17:27] stgraber commented on #9246
This is already what our migration API does. One could hit `POST /1.0/instances/NAME` to trigger a migration, send a migration struct saying that their side does ZFS and what features are supported and they'll get the ZFS send stream from LXD over the migration websocket.

[2021-09-17 17:27] #9246 closed

[2021-09-17 17:30] stgraber commented on #9246
The main limitation currently is that this gets you a full stream with or without snapshots, that's what's used during `lxc copy`, `lxc move` and the matching `lxc storage volume` commands.

What's currently not supported is a refresh. That's why `lxc copy --refresh` and `lxc storage copy --refresh` use more bandwidth as the delta is handled by rsync instead.

We have plans to allow most storage d

[2021-09-17 17:34] turtle0x1 commented on #9246
https://github.com/lxc/lxd/issues/9246#issuecomment-921961801

Well, im a silly person - ill look at that.

Any idea what version that supports back to / an `api extension` I can check for?

[2021-09-17 19:57] stgraber commented on #9246
At least 2.0, likely earlier than that.

[2021-09-18 02:15] simondeziel opened #9248 "Setting `core.https_address` to `0.0.0.0` listens on IPv6 too"
# Required information

[code]

# Steps to reproduce

1. Tell LXD to listen on all IPv4 addresses
[code]
 2. Check which IP/port is bounded
[code]
 3. Confirm IPv6 connectivity
[code]

Connecting to IPv6 should *not* work.

[2021-09-18 10:29] OhSoGood commented on #9241
Hi Stephen.
My containers are small ones on huge SSDs, so I have never felt the need to set size limits. So in my case the relevant action would be "we should look into why we're not detecting this and just returning 0 for everything."
Thank you

[2021-09-18 14:03] janmuennich opened #9250 "4.0.7: lxc list timeout/error with stopped container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-84-generic #94-Ubuntu SMP
   * LXD version: 4.0.7
   * Storage backend in use: Ceph

# Issue description

I noticed today that `lxc list` takes a very long time in a cluster and the reported state of all containers on only one host is `ERROR`. This

[2021-09-18 14:21] stgraber commented on #9241
Ok, cool. Can you try to set a size limit on one of them? Just doing that should initialize the qgroup, you can then unset the limit.

[2021-09-18 14:23] stgraber commented on #9250
What's `lxc cluster list` showing you?
And then can you go on the system where you're getting the ERRORed containers and run `lxc list` from there to make sure you get the same output and if you do, then get us the `dmesg` output too for that system?

[2021-09-18 15:51] janmuennich commented on #9250
Works fine without any delay.

This also takes a long time but displays all instances correctly, including the local ones that are displayed as ERROR when running `lxc list` from another cluster member.

`dmesg` does not show anything in relation to the issue or while running `lxc list`. I already checked the LXD logs on the host and nothing happens there either.

Some more information:
This doesn

[2021-09-19 05:56] stgraber commented on #9250
Hmm, this is still a bit odd, unless the system is extremely overloaded by that container or the container is itself blocked on slow I/O, retrieving network info is quit fast even with lots of interfaces and addresses.

For a non-profit I run, we commonly have containers with over 300 interfaces and around 3 addresses on each of those.

[2021-09-19 08:37] janmuennich commented on #9250
Let me know if there is anything more I can do to debug this!

[2021-09-19 17:57] knutov opened #9252 "no autostart for CT after OOM"
latest LXD from snap.

[code]

Usually `init` is not killed by oom but in this case it happened and container was not started after it was killed. And this is definitely bad.

Is it possible to configure LXD to start containers in such case?
If not, is it possible to implement?

`boot.autostart: "true"` for this container.

[2021-09-20 06:55] stgraber commented on #9252
As far as LXD is concerned, init exited and so the container is stopped.

LXD will restart the container only if the container asks the kernel for it.

boot.autostart is used to control what containers should be brought back up after a host system restart.

As it stands, LXD cannot differentiate a container being stopped by init exiting normally to one exiting because of the kernel killing the ini

[2021-09-20 06:57] stgraber commented on #9250
Would be good to get the `uptime` output on the system as well as checking how long a `lxc info` takes for that container.

`lxc info --show-log NAME` could also be useful

[2021-09-20 08:30] #9233 closed

[2021-09-20 09:23] janmuennich commented on #9250
The host is not overloaded. `lxc info` actually takes very long as well when the container is stopped. I thought I tried that before but probably missed it.

[code]

[2021-09-20 09:35] jadjay commented on #9227
Thanks a lot,

It's what we need, but, is there a way to catch the "release url" via api or else ?

Regards,

[2021-09-20 09:58] stgraber commented on #9227
Though the Github API, probably, not that I've ever done so. I'd love it if there was a unique URL to get the actions result for a particular tag but I'm yet to find one...

[2021-09-20 09:59] stgraber commented on #9250
Hmm, that is quite odd. Can you show `lxc config show --expanded NAME` for that container?
Also just to confirm, that container has no snapshot?

Can you also tell us what storage backend is in use by that container?

[2021-09-20 10:38] janmuennich commented on #9250
[code]

When the container is stopped, the line `volatile.eth0.host_name: vethbde7b23d` is missing, which is probably correct.

Storage backend is Ceph. There are no snapshots.

[2021-09-20 21:20] OhSoGood commented on #9241
When I set "size: 100GB" in the profile used by the container and close it, I get this message: `Project: default, Instance: cloud-alpine: Failed to update device "root": Failed to get subvol information: Failed to run: btrfs subvolume show /var/snap/lxd/common/lxd/storage-pools/default/containers/cloud-alpine: ERROR: quota query failed: Success`

If I manually run `btrfs subvolume show /var/snap/

[2021-09-21 16:23] ricab opened #9260 "REST API docs unclear/contradictory with respect to sync vs async operations"
# Issue description

The REST API docs do not clearly specify which requests result in synchronous vs. asynchronous operations. Different places have contradictory indications. For instance, [I read](https://linuxcontainers.org/lxd/docs/master/rest-api#return-values):

But there are examples in the [API reference](https://linuxcontainers.org/lxd/api/master/#/) where the HTTP code is 200 while the

[2021-09-21 17:00] simondeziel commented on #9248
@tomponline, I don't know what are the implications of using `tcp`, `tcp4` or `tcp6` but I'd expect the following behavior:

`[::]`: listen on all available IPs (assuming `net.ipv6.bindv6only` is left at its default value of 0, all IPv6s otherwise)
`0.0.0.0`: listen on all IPv4s
`192.0.2.1`: listen on just 192.0.2.1
`2001:db8::1`: listen on just 2001:db8::1
`ipv4only.example.com`: listen on the IP

[2021-09-21 17:04] tomponline commented on #9248
According to Go doc, it will only listen on a single IP at most.

[2021-09-21 17:05] tomponline commented on #9248
https://pkg.go.dev/net#Listen

[2021-09-21 17:06] tomponline commented on #9248
Thanks, that should be sufficient for this particular issue then.

[2021-09-21 17:07] tomponline commented on #9248
Its a known golang issue https://go-review.googlesource.com/c/go/+/45771/4/src/net/dial.go

https://go-review.googlesource.com/c/go/+/45771/

[2021-09-21 17:10] simondeziel commented on #9248
That makes sense as otherwise it would need to deal with two (or more) sockets. Thanks.

[2021-09-21 18:16] ricab commented on #9260
Except that would be for type "async" IIUC, while the implementation is actually "sync" nowadays :slightly_smiling_face: On a cursory look, other parts of the API seemed to be in the same situation.

Anyway, thanks for following up!

[2021-09-21 20:50] sergiodj opened #9263 "snapd.seeded.service doesn't finish on non-amd64 (possible udev issue)"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Impish (development)
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Ref.: https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1944004

On non-amd64 architectures, `snapd.seeded.service` is blocked during container boot time and doesn't finish, which ends up blocking `cloud-init.service`, which in

[2021-09-21 22:46] stgraber commented on #9234
No, we know the source project from the remote that's currently being used and we know the target project from the `--project foo` being passed here.

So if I do:
 - lxc project switch default
 - lxc image copy image:blah dest: --project foo

This will copy from the local `default` project over to the `foo` project on dest.

If I do:

 - lxc project switch blah
 - lxc image copy images:blah dest:

[2021-09-21 22:49] #9240 closed

[2021-09-21 22:51] stgraber commented on #9263
LXD doesn't behave any differently on non-Intel architectures, so if there's a difference it's far more likely to be an issue with the image and the software it contains.

[2021-09-21 22:57] stgraber commented on #9263
Looking into it a bit, I'm seeing:
[code]

Followed by:
[code]

The `"m"` file mode in apparmor for some reason almost only applies to running inside of containers, so that could explain why the exact same profile used on the host doesn't hit this issue.

Now a cursory check at the snap-confine apparmor profile didn't really explain why this isn't allowed as there is an entry which appears to matc

[2021-09-21 23:05] stgraber commented on #9263
Looking again for patterns.
On amd64, we see:
[code]

On arm64, we see:
[code]

So this shows that when the image was first built, snapd failed to initialize.
As a result, it's now happening on first boot and fails because `udevadm trigger` won't return 0 inside a container.

So this suggests an image building issue to me, the non-intel images are shipping with snapd in a failed state whereas on i

[2021-09-21 23:05] #9263 closed

[2021-09-21 23:06] stgraber commented on #9263
The fix should be to ensure that the images as generated by the CPC team are properly initialized on all architectures and that they never ship with an unclean `snap changes` as is the case here.

[2021-09-22 08:25] #9260 closed

[2021-09-22 09:21] tomponline opened #9265 "Update the instancesOnDisk function to handle VMs"
The `instancesOnDisk` is called by the `instancesShutdown` function during LXD daemon shutdown when the cluster database isn't available (perhaps the cluster has lost quorum). It attempts to scan the local storage to find instances to shutdown.

However currently it only supports detecting containers, and it should be updated to detect VMs too.

[2021-09-22 11:17] tomponline opened #9268 "Don't leave gaps in VM disk scsi-id that is derived from bootindex"
See https://discuss.linuxcontainers.org/t/wrong-boot-order-for-maas-generated-lxd-config/12117/6?u=tomp for more info.

Currently scsi-id is generated from the disk's boot index.
However if there is a network boot device too, then the scsi-ids generated can have gaps in the sequence.

This doesn't cause a problem. But would be nice to not have that, so we could generate the scsi-id based on the bo

[2021-09-22 12:53] spirritus opened #9269 "Superflous "snapshot-" prefix on snapshots on ZFS"
Snapshots on ZFS have the prefix "snapshot-" before the snapshot pattern. This is useless, with the default pattern the generated snapshot is named snapshot-snapshot-$somedate. Changing the pattern sill leaves the prefix e.g. the pattern TEST becomes the snapshot name snapshot-TEST.

# Required information

 * Distribution: debian
 * Distribution version: 10
 * The output of "lxc info" is attached

[2021-09-22 17:12] stgraber commented on #9269
They are not superfluous, they are used to differentiate temporary snapshots such as those generated for refresh/migration from persistent snapshots that are in LXD's database.

[2021-09-22 17:12] #9269 closed

[2021-09-22 17:23] ricab opened #9271 "Getting undocumented status code 112 (Error)"
# Issue description

Another API documentation issue. I just reported that we were not handling the Error state on our side: https://github.com/canonical/multipass/issues/2250. But then I realized why that was: it is not documented, at least not in https://linuxcontainers.org/lxd/docs/master/rest-api#status-codes

[2021-09-22 17:23] stgraber commented on #9265
Ah yeah, that's quite critical when shutting down an entire cluster as the last two servers will not have quorum and so will rely on this.

[2021-09-22 17:24] spirritus commented on #9269
I beg to differ, the "snapshot-" part is also added when a snapshot is created with "lxc snapshot instance".
This does not happen on BTRFS

[2021-09-22 17:27] stgraber commented on #9271
Ah yeah, looks like we need to resync that with shared/api/status_code.go

[2021-09-22 17:28] spirritus commented on #9269
So this seems to be ZFS specific, in that case I might suggest using a ZFS property instead of the name. Since some backup tools e.g. sanoid depend on the snapshot name.

[2021-09-22 17:30] #9271 closed

[2021-09-22 17:30] AceSlash opened #9273 "cpu usage reported as "-1" on Debian 11 (seems related to cgroup v2)"
# Required information

 * Distribution: Debian
 * Distribution version: 11
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.10.0-8-amd64
   * LXC version: 4.0.7
   * LXD version:4.0.7
   * Storage backend in use: zfs

# Issue description

The CPU usage reported via the unix-socket is stuck at `-1`:
[code]
# Steps to reproduce

 1. Run a container with an host on Debian 11
 2.

[2021-09-22 17:31] stgraber commented on #9269
Again, this is absolutely intentional. Any legitimate snapshot generated by LXD, either through scheduling or through a user running `lxc snapshot` WILL result in a `snapshot-NAME` snapshot name in ZFS.

This lets us easily separate those from temporary snapshots generated as part of publish, export, import and migration operations as LXD can rely on anything starting with `snapshot-` having a DB

[2021-09-22 17:32] stgraber commented on #9273
@monstermunchkin looks like this one isn't properly implemented in `lxd/cgroup`, can you fill it in?

[2021-09-22 17:34] spirritus commented on #9269
Ok thx for clearing that up

[2021-09-22 22:17] stgraber opened #9275 "LXD fails to build on armhf and s390x"
[code]

[2021-09-22 22:18] tomponline commented on #9275
@stgraber is this a recent regression do you know?

[2021-09-22 22:19] tomponline commented on #9275
Presumably the introduction of `FSTypeToName` caused it.

[2021-09-22 22:20] stgraber commented on #9275
24-48h looks like based on snap builds

[2021-09-22 22:21] tomponline commented on #9275
@stgraber ok thanks, is there a test machine in MAAS we can use for build tests? I remember last time this was only an issue on 32bit arm which wasn't available in MAAS.

[2021-09-22 22:23] stgraber commented on #9275
rpi01, rpi02 and rpi03 can be deployed with arm64 and then build/run 32bit userspace, probably inside of a LXD container on it.

[2021-09-22 22:24] stgraber commented on #9275
canonical-lxd should also have a bunch of remotes already added to deploy containers on most architectures

[2021-09-22 22:41] stgraber commented on #9275
[code]

That lets you easily spawn armhf (on the arm64 ones) or s390x instances which can then build and run LXD.

[2021-09-22 22:42] tomponline commented on #9275
Perfect thank you.

[2021-09-23 08:07] tomponline commented on #9275
Working on this now.

[2021-09-23 09:29] tomponline opened #9278 "Support LVM storage pool unmount"
Ever since we started to unmount storage pools on LXD shutdown (https://github.com/lxc/lxd/pull/9217) we have seen LVM errors on subsequent start up (although only in the test suite not reproducible locally) when using LVM on a loop file.

The errors we see are similar to:

[code]

Searching online this suggests the LVM has become corrupted somehow.

The only way I have managed to get the loop dev

[2021-09-23 13:38] #9273 closed

[2021-09-23 13:59] monstermunchkin commented on #9273
@AceSlash in case you run into problems with this, make sure the resources are delegated. You'll need to create a unit overload for your user by running `systemctl edit user@1000.service` (if your user ID is 1000). Here's what you need to add:
[code]

Source: https://wiki.archlinux.org/title/cgroups#As_unprivileged_user

[2021-09-23 15:50] AceSlash commented on #9273
@monstermunchkin : I'm not sure I understand... I have the result via the unix-socket with curl, how does the user matters in this case?

Anyhow, I'm running it as root.

Currently I changed our monitoring system to get the CPU usage via `cat /sys/fs/cgroup/lxc.payload.$1/cpu.stat |grep usage_usec| cut -d' ' -f2`. It gives the same value as LXD except that it is in microseconds while yours is in n

[2021-09-23 16:31] monstermunchkin commented on #9273
@AceSlash When I tested this PR without the unit overload, LXD reported missing `cpu` and `io` controllers. Once the unit overload was in place, it returned the cpu usage correctly.

[2021-09-23 16:52] tomponline opened #9284 "Intermittent cluster handover failure in test suite (clustering config remove leader)"
We are seeing intermittent occurrences of this error in the test suite for "clustering config remove leader":

[code]

@MathieuBordere has advised that this error is likely occurring because LXD is requesting the node be changed to the role it already is.

[2021-09-23 21:08] stgraber commented on #9273
Hopefully this won't be a problem with the snap package, if it is, we can look at ways to tweak the snap to do the right thing on startup for cgroup2 systems.

[2021-09-23 21:13] #9275 closed

[2021-09-24 07:37] monstermunchkin commented on #9273
It won't be a problem in the snap, I just checked. Both `/etc/systemd/system/snap.lxd.daemon.service` and `/etc/systemd/system/snap.lxd.activate.service` set `Delegate=true`.

[2021-09-24 11:01] #9265 closed

[2021-09-24 17:36] hacktivista opened #9288 "pull -p doesn't create dirs"
# Required information

 * Distribution: Debian
 * Distribution version: 11
 * Kernel version: 5.10.0-8-armmp-lpae
 * LXC version: 4.18
 * LXD version: 4.18 (on snapd)
 * Storage backend in use: btrfs

# Issue description

`lxc file pull` doesn't create directories when the flag `--create-dirs` or `-p` is given

# Steps to reproduce

 1. `lxc file pull container/path/filename ./existing-dir/non-ex

[2021-09-24 19:24] simondeziel opened #9289 "4.0 backport request for `lxc config trust add --name`"
The `4.0/edge` snap version doesn't understand `lxc config trust add --name foo`:

[code]

The above works on 4.18. It would be great to have this little feature backported to 4.0, please.

[2021-09-24 20:49] #9289 closed

[2021-09-26 03:51] pendulm opened #9291 "lxc profile edit error"
# Required information

 * Distribution: fedora
 * Distribution version: 34
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.13.14-200.fc34.x86_64
   * LXC version:
   * LXD version: 4.18
   * Storage backend in use:  btrfs

# Issue description

can't edit lxd profile

# Steps to reproduce

 1. Step one
[code]
 2. Step two
 lxc --debug profile edit dev
![image](https://user-ima

[2021-09-26 07:18] pendulm commented on #9291
I had built from source, and use the new lxc client, It works.

But the client from snap channel is broken.

[2021-09-26 09:40] pendulm commented on #9291
reinstall lxd fix this issue.

[2021-09-26 09:40] #9291 closed

[2021-09-26 21:00] presztak commented on #9234
@stgraber,

thanks for the explanation. I thought that `--project` flag is responsible for setting source project. From help of lxc tool:
`--project       Override the source project`

So, how should we handle this kind of situation:

We currently use `remote1` and we do:

`lxc image copy remote2:alpine/3.12 remote1: --project p1`

how can we know source project if we are on `remote1`?

Anyway I s

[2021-09-27 01:35] stgraber commented on #9234
[code]

We can see the CLI correctly asking for a token from the source but then the target fails to connect to the source as the project isn't specified.

It feels like this should grow a `project` field as part of the source information:
[code]

[2021-09-27 14:15] stgraber commented on #2283
Indeed, we don't want to do string matching on things like that but could make better use of some HTTP codes to indicate that something is already in the desired state.

[2021-09-27 20:30] #9288 closed

[2021-09-28 08:21] #9284 closed

[2021-09-28 15:19] Ne00n commented on #5806
Anyone has a solution to this?
Still happening, reboot does solve it but no permanent fix.

The container is just stock Debian 10, nothing running on it.
I did find the issue to be operating system independent.

https://pastebin.com/raw/GQ8rGnXE

[2021-09-28 15:20] Ne00n commented on #5806
LXD reports the container as stopped, but its still mounted?
| lxcc39dbb31 | STOPPED |                    |                                            | CONTAINER | 0         |

[2021-09-28 15:22] tomponline commented on #5806
If you unmount each one of those repeated mounts that should solve it:

[code]

You may need to do it inside the snap's namespace, so try also:

[code]

Repeat until all the mounts for that instance are gone.

[2021-09-28 15:25] Ne00n commented on #5806
Is there an API for this? any way to automate this?
Because this problem happens randomly.

Any plans to fix this?

[2021-09-28 15:26] tomponline commented on #5806
We would need a reproducer for it as it does not happen randomly normally (in our test suites or experience).

[2021-09-28 15:29] Ne00n commented on #5806
So, I should ditch LVM? or is this a known bug to other storage backends too?
I can reproduce this bug on several machines, running different ubuntu kernels, apparently the kernel dosen't matter at all.

[2021-09-28 15:29] Ne00n commented on #5806
Where do I need to look, what info do you need?

[2021-09-28 15:31] tomponline commented on #5806
Its not a known bug.

This is why we would need more information.

Please post over at https://discuss.linuxcontainers.org/ with your system details, and steps you perform (after a fresh reboot) to get into this mount state. Then we can go through it together and if necessary reopen this issue or open a new issue.

[2021-09-28 15:33] Ne00n commented on #5806
That is the problem, I don't know the machine gets into this state.
The machine works without issues, until you try to delete it.

There is no specific software running inside the container.
Hence I asked, if any log file maybe gives what you need, so I asked where shall I need to look.

But I will for sure post later.

[2021-09-28 15:34] tomponline commented on #5806
Thank you. I suggest you start and stop the container repeatedly until it happens.

The LXD logs are stored in /var/snap/lxd/common/lxd/logs/lxd.log

[2021-09-29 10:58] paride opened #9306 "lxd launch --vm on ppc64el => qemu-system-ppc64: No large decrementer support"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info"

# Issue description

LXD fails to start VMs on some (older?) ppc64el machines. It seems that the bundled qemu may be missing a flag.

# Steps to reproduce
[code]
[code]
[code]
[code]
[code]
# Information to attach

 - [ ] Any relevant kernel output (`dmesg`)
 - [x] Container log (`lxc info N

[2021-09-29 11:29] paride opened #9307 "Network interface is left unconfigured on ppc64 LXD VMs"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info"

# Issue description

On ppc64 the network interface of LXD VMs is left unconfigured, leaving the VM without network unless manually fixed. Apparently this happens because there is a mismatch in the interface name between the cloud-init network-config and the actual interface.

# Steps to rep

[2021-09-29 14:30] tomponline opened #9309 "Clarify the behaviour of lxc file push"
Originally from: https://discuss.linuxcontainers.org/t/error-the-remote-xxx-doesnt-exist-with-lxc-file-push/12260/3?u=tomp

`lxc file push` usage shows:

[code]

Suggesting that you can specify exactly 1 source path and multiple target instance paths (potentially on different remotes).

However running something like:

[code]
Successfully copies both source files into `c1/root/` which suggests the

[2021-09-29 14:44] stgraber commented on #9307
I think it's simply because we can't get PCIe on ppc64el VMs and instead just have regular PCI.
This turns `05:00.0` into `00:05.0` because of how the different buses work.

The fix for this is likely a change to the CPC script which generates the image metadata so it uses enp0s5 instead of enp5s0 on pcp64el.

[2021-09-29 16:32] stgraber commented on #9307
I've submitted a fix to the CPC team which fixes this issue:

[code]

I've manually applied it to a ppc64le instance to confirm it works with:
 - lxc init ubuntu:20.04 v1 --vm
 - lxc config template edit v1 cloud-init-network.tpl
 - lxc start v1

Closing as there isn't anything left for us to do on the LXD side of things, this is an issue with the image metadata needing a different interface name

[2021-09-29 16:32] #9307 closed

[2021-09-29 16:33] tomponline commented on #9307
Thanks! And that explains why s390x works OK too.

[2021-09-29 17:33] #9306 closed

[2021-09-30 15:41] #9064 closed

[2021-09-30 16:13] #9309 closed

[2021-09-30 20:26] #9248 closed

[2021-09-30 21:28] simondeziel opened #9317 "`lxc config trust add --project does-not-exist --restricted` should not succeed"
This should not succeed:

[code]

Additional information:
[code]

[2021-10-03 03:14] turtle0x1 opened #9322 "Metrics missing keys (?)"
So according to the [spec](https://discuss.linuxcontainers.org/t/lxd-metric-exporter-for-instances/11735)

`lxd_cpu_seconds_total{cpu="<cpu>", mode="<mode>"}`

But if we analyse the output of [stgraber gist](https://gist.github.com/stgraber/ab7f204fb4bf53dbe134f6460bf41470) we can notice the `cpu` property is missing here https://gist.github.com/stgraber/ab7f204fb4bf53dbe134f6460bf41470#file-metri

[2021-10-03 03:14] turtle0x1 opened #9323 "Metrics returning empty"
When I run `lxc query /1.0/metrics` I get an empty string (on the edge snap)

[2021-10-03 12:28] knutov opened #9324 "live migration is not working with criu"
Ubuntu 20.04 on both servers.
lxd latest/stable 4.18 from snap on both servers.
criu.enable=true
ubuntu hwe kernel: 5.11.0-37-generic
storage backend: 2.1.1-0york0~20.04 from ppa:jonathonf/zfs

[code]

from `/var/snap/lxd/common/lxd/logs/lxd.log`:
[code]

[log of `lxc monitor` during transfer](https://github.com/lxc/lxd/files/7273314/iTerm2.Session.3.Oct.2021.at.5.26.01.PM.txt)

What is wrong with

[2021-10-03 12:52] stgraber commented on #9324
As the error indicates, CRIU can't dump nested namespaces, in this case a UTS (hostname) namespace.

To check whether LXD live migration is otherwise functional, we recommend testing with images:alpine/edge as it doesn't have an init system which uses seemingly every single kernel feature under the sun (like systemd).

If that works in your environment, then there's hope that you can trim the list

[2021-10-04 03:38] stgraber opened #9325 "lxd_procs_total metric should be a gauge"
`lxd_procs_total` is currently defined as a counter, but it doesn't behave like a counter (it can go down) and so should be a gauge instead.

[2021-10-04 07:25] tomponline opened #9326 "Image synchronization issue with LXD 4.0.7"
Looks like there is still an image synchronization issue with LXD 4.0.7, just saw:

[code]

Caused by a POST /1.0/containers to create a container from an image and I guess that somehow overlaps with LXD internally synchronizing the images from other nodes in the cluster.

[2021-10-04 07:25] monstermunchkin commented on #9322
That's not a bug. The CPU stats we get are for each CPU individually *and* a total of all. The latter obviously doesn't contain a `cpu` tag. I will update the spec to clarify this.

Also not a bug. If we don't know the name of the filesystem, we omit it. Currently, LXD supports `btrfs`, `tmpfs`, `ext4`, `xfs`, `nfs`, and `zfs`. Which filesystem are you not seeing?

[2021-10-04 07:35] tomponline commented on #9326
This caused a cluster to become stuck trying to scale down an LXD node, so remove it, the "lxc cluster remove lxd212 --debug" fails with "Error: Failed getting image info for "0e99a1e0c6d64202d301c90dec22f7b6ede5b2e00ca7535f94e2487f1da86d93": No such object"

Attempted:
lxc storage volume delete ams0 image/0e99a1e0c6d64202d301c90dec22f7b6ede5b2e00ca7535f94e2487f1da86d93
Result:
Error: Get image "0

[2021-10-04 08:01] tomponline opened #9327 "Stopping instances during LXD shutdown when no database available doesn't work"
When a LXD server is shutdown using `lxd shutdown` one of the steps in the shutdown process is to attempt to cleanly shutdown any of the instances running on that server.

In a clustered environment it is possible that the server has no DB access (perhaps this is the last member of the cluster to be shutdown and the cluster DB no longer has quorum).

In this situation there is functionality in LXD

[2021-10-04 08:22] monstermunchkin commented on #9322
I've updated the [spec](https://discuss.linuxcontainers.org/t/lxd-metric-exporter-for-instances/11735).

[2021-10-04 08:35] turtle0x1 commented on #9322
Looking at the gist that would imply its only true of VM's? as no `container` has entries have a similar entry but the VM does?

Looking a the gist https://gist.github.com/stgraber/ab7f204fb4bf53dbe134f6460bf41470#file-metrics-L381-L382 are the only 2 lines were the `type` key is missing in `lxd_filesystem_avail_bytes` .

Zabbix Prometheus parser is a bit weird, maybe im doing something wrong.

[2021-10-04 08:48] monstermunchkin commented on #9322
You're right, only VMs show the CPU seconds of all CPUs together (missing `cpu` tag). Containers will always list the CPU number.

Actually, LXD doesn't omit the fstype. If the name is not known, it'll only show the hexadecimal value.

[2021-10-04 08:53] monstermunchkin commented on #9322
I looked at the metrics (not the gist) when running containers and VMs, and cannot see that the `type` is missing. It's present everywhere.

[2021-10-04 09:01] turtle0x1 commented on #9322
Not be that guy but does that make sense? Offering an aggregate for one type and not the other? Is it not better to have a consistent format which the user can aggregate if they want?

Maybe the gist is out of date, my `/1.0/metrics` endpoint doesn't work so I'm parsing the provided example :sweat_smile:

[2021-10-04 09:09] monstermunchkin commented on #9322
We could to that. Since the aggregated value can be computed, I'd say we drop that value. @stgraber @tomponline what do you think?

That could be. After the fixes are merged, your `/1.0/metrics` endpoint should work. In the meantime, what does your LXD log show? There should be an error regarding the metrics failure.

[2021-10-04 09:11] turtle0x1 commented on #9323
Forgot to include the syslog entry

[code]

[2021-10-04 09:12] turtle0x1 commented on #9322
I've updated #9323 to include the syslog entry (sorry forgot to paste the other night)

[2021-10-04 09:33] monstermunchkin commented on #9323
You're getting this because swap accounting is disabled on your machine. You can enable it by setting `swapaccount=1` in your kernel cmdline.

[2021-10-04 12:02] #9323 closed

[2021-10-04 12:02] #9325 closed

[2021-10-04 13:35] vosdev opened #9333 "Configurable timeout for manually stopping instances"
# Required information

 * Distribution: Ubuntu 20.04
 * LXD version: 4.18

# Issue description

https://linuxcontainers.org/lxd/docs/master/api-extensions#container95host95shutdown95timeout

The `boot.host_shutdown_timeout` option is only used on a clean shutdown of the LXD daemon.

I would like to request a similar option (`boot.instance_shutdown_timeout`?) that is used for the timeout when stop

[2021-10-04 14:19] tomponline commented on #9333
Or perhaps we just use the same `boot.host_shutdown_timeout` setting for `lxc stop` too if no `--timeout` flag specified.

[2021-10-04 14:20] #9322 closed

[2021-10-04 14:38] stgraber commented on #9333
So from what I remember, `lxc stop` isn't supposed to have a timeout at all unless `--timeout` is set.

[2021-10-04 14:39] stgraber commented on #9333
[code]

[2021-10-04 14:40] stgraber commented on #9333
And I confirmed that the CLI sets the timeout value to `-1` too.

[2021-10-04 14:44] stgraber commented on #9333
I've had a `lxc stop` running for over 2 minutes here so seems to be working, though that's with a container.

[2021-10-04 14:45] stgraber commented on #9333
Testing with a VM now (using Windows as it ignores the first shutdown request so makes for an easy test subject).

[2021-10-04 14:48] tomponline commented on #9333
I think there maybe be a misunderstanding here. The original post here https://discuss.linuxcontainers.org/t/boot-host-shutdown-timeout-ignored/12286/5 was expecting that `boot.host_shutdown_timeout` apply to `lxc stop` as well as `lxd shutdown`, rather than having to specify `--timeout` explicitly.

[2021-10-04 14:49] stgraber commented on #9333
@tomponline the way I read the forum post, the issue is that it's timing out after 30s when the VM takes longer than that to shutdown.

My point is that there is no such timeout in place normally, so the user shouldn't have to pass `--timeout` to get a "longer" value as the default is to wait indefinitely.

[2021-10-04 14:50] stgraber commented on #9333
[code]

Is the problem that was reported in the forum post and which I'm unable to reproduce on current LXD 4.19 as my `lxc stop` correctly waits for far more than 30s.

[2021-10-04 14:51] tomponline commented on #9333
I'd need @vosdev to confirm, but my thinking was that @vosdev wanted `lxc stop` to apply a 90s timeout based on the instance's setting, rather than have no timeout or to have to specify `--timeout`.

[2021-10-04 14:56] stgraber commented on #9333
Sounds like a separate issue to me, the first thing which was showed over there is `lxc stop` failing after 30s would be a bug. As we are not setting a timeout internally, there's really nothing to bump/align with the shutdown timeout.

I also don't think we can change the behavior to timeout based on `boot.host_shutdown_timeout` as anyone who currently sets `boot.host_shutdown_timeout` but expect

[2021-10-04 14:57] tomponline commented on #9333
Agreed the example in the forum thread is strange as no `--timeout` of 30s was specified and it defaults to no timeout.

[2021-10-04 15:14] simondeziel opened #9336 "lxc should suggest to lauch 20.04 instead of 20.04"
[code]

The above should suggest 20.04.

[2021-10-04 15:17] vosdev commented on #9333
I run LXD 4.18 with a 3 node cluster, my `lxc stop` command for these VMs times out after 30 seconds, or any other VM that is slow at shutting down. I am not specifying a `--timeout`.

If there is no timeout by default, that's great. Then my stop operation timing out is not related to this feature request and then I'm not sure if this feature request is needed.
The error made me think it was relat

[2021-10-04 15:20] tomponline commented on #9333
Ah OK thats useful to know, I'll keep this open as it may be a different issue.

[2021-10-04 15:53] stgraber commented on #9336
@simondeziel want to send a branch for this?

[2021-10-04 16:20] #9336 closed

[2021-10-04 16:51] stgraber commented on #9250
Sorry, somehow missed the reply on this issue...

Can you go on the server with that slow instance and:
 - Stop it
 - Run `lxc monitor --type=logging --pretty` in a terminal
 - Run `lxc info container` in another
 - Wait 10s or so after starting `lxc info container` (so while it's still running) and run `ps fauxww`

As you're on Ceph, my suspicion is that it's `rbd du` taking a very very long time

[2021-10-04 19:56] #9317 closed

[2021-10-05 11:21] janmuennich commented on #9250
Right, it is `rbd du`:

[code]

[code]

[code]

If I understand it correctly, `fast-diff` (and prerequisites `object map` and `exclusive locking`) are normally [enabled by default](https://docs.ceph.com/en/octopus/rbd/rbd-config-ref/#image-features). Does LXD disable this when creating an image?

Is there any way to locally disable `rbd du` usage? This seems to have been [implemented not too long

[2021-10-05 12:20] stgraber commented on #9250
LXD uses a very conservative set of CEPH features by default as it relies on the kernel performing the RBD operations.

If you're running a recent kernel on all of your systems, you can change the default set of CEPH features though the ceph.rbd.features config key.

We likely could add another CEPH storage pool config key to complement disable the use of rbd du though I'm not sure what would brea

[2021-10-05 12:45] janmuennich commented on #9250
I enabled `fast-diff` now for this container image and rebuilt the object-map for the image and all snapshots. `rbd du` still takes nearly 3 seconds. This is much better but could accumulate until timeout with a couple of stopped instances on one host.

In my opinion it might be better to not calculate disk usage of stopped Ceph instances for standard `lxc info` and `lxc list` commands. Disk usage

[2021-10-05 13:01] ulziibuyan commented on #9231
Hi @stgraber, I'll grab this

[2021-10-05 13:05] ulziibuyan commented on #9236
Hi, @stgraber. I'll grab this too. BTW, Did LXD opt-in for Hacktoberfest this year? Hoping my PR count towards the goal.

[2021-10-05 14:30] stgraber commented on #9236
We are indeed!

[2021-10-05 14:32] stgraber commented on #9250
It's sadly not quite that simple as we have no idea what the client actually uses as far as data and while `lxc list` doesn't show it by default, some external monitoring systems definitely do...

[2021-10-05 14:33] stgraber commented on #9250
@janmuennich was that the source of this entire issue? If so, I'd close it and open an issue to add a flag like `ceph.rbd.du` so you can opt out of using `rbd du`.

[2021-10-05 15:19] janmuennich commented on #9250
Yes, that was the source of the issue. It's good to know now and we can live with it. An `ceph.rbd.du` option would be very helpful though!

[2021-10-05 15:20] #9250 closed

[2021-10-05 16:09] skob opened #9347 "Introduce cluster role for OVN gateways"
# Required information

 * Distribution: ubuntu
 * Distribution version: focal
 * The output of "lxc info" or if that fails: <too many info for my request>
   * Kernel version: 5.4.0-84-generic
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: zfs

# Issue description

In my setup, I have cluster with 8 servers with OVN networks.
I want to receive public traffic only on tw

[2021-10-05 16:22] stgraber opened #9348 "Add a `ceph.rbd.du` storage option to disable the use of `rbd du`"
Running `rbd du` can be very resource intensive so there are users who would prefer to miss the disk usage data for stopped instances instead of dealing with the performance hit.

This should be a pretty easy change with just a small addition to the ceph driver for the config key and associated API extension and doc entry.

[2021-10-05 16:26] stgraber commented on #9347
So if we always expect an environment where some cluster members can act as OVN gateways and some others can't, then we could introduce a cluster member role and if set on one or more servers, restrict the server selection for OVN to those.

Now this may not be flexible enough if you're dealing with multiple uplink networks with each only being available on some (different) servers, but I suspect

[2021-10-05 16:43] #9326 closed

[2021-10-06 02:12] stgraber commented on #7948
Re-assigning to @masnax as we have this on roadmap and so need it done by end of month.

@masnax this should add a new `nodes_config` table with the usual key=value scheme.
This should support our usual `user.*` keys that can be set to any value the user wishes and have it exposed through GET/PUT/PATCH on /1.0/cluster/members/NAME.

We'll then add a `scheduler.manual` config key (better names welc

[2021-10-06 08:07] tomponline commented on #7948
@stgraber is this the thing we chatted about the other day re. cluster group targetting?

If so, did we decide on using a key that would accept a string value such as `scheduler.mode=` and then have `manual` and `auto`, and later we were going to add `targetted` which would include any groups that the member belonged to?

Also, is this only going to affect instance scheduling? If so is it worth ca

[2021-10-06 17:44] turtle0x1 opened #9354 "Non distinguishable entities in lxd_memory_Dirty_bytes"
Sample from `lxc query /1.0/metrics`

[code]

[2021-10-06 19:04] tomponline commented on #7948
How about scheduler.instance with initial values of 'all' (default) and 'manual'. Then later can support 'group'.

[2021-10-06 20:17] Mohamedemad4 opened #9356 "containers aren't getting an IPV4 address on startup (but ipv6 works)"
# Issue description
The lxd instance has been working normally for the past 3 months or so.
but today it not allocating ipv4 addresses to containers when they start (ipv6 works fine!!)
I have verified that `dnsmasq` is working on the host. And i am out of ways to debug this issue.

# Steps to reproduce

- try starting any container it will start and get an ipv6 address but no ipv4 address (notice

[2021-10-06 23:02] stgraber commented on #9356
Closing as it's almost certainly the usual issue with Docker on the host system firewalling off all traffic.

[2021-10-06 23:04] stgraber commented on #9356
If you have Docker running alongside LXD, it messes with iptables and blocks all traffic from other container and VM managers (well, all IPv4 traffic that is). To fix that, remove Docker or reconfigure it to not mess with the entire system's firewalling.

If there's no Docker on the host system, please provide:
 - iptables -L -n -v
 - ip6tables -L -n -v

[2021-10-06 23:05] stgraber commented on #7948
Yeah, that'd work.

[2021-10-06 23:50] Mohamedemad4 commented on #9356
so i disabled the docker snap and rebooted the instance. but the issue still persists
the output of `iptables -L -n -v` is :

[code]

[2021-10-07 12:41] tomponline commented on #9356
Also can you confirm that running `lxc exec <container> -- dhclient` doesn't result in an IPv4 address being allocated?

[2021-10-07 13:45] tomponline commented on #9356
OK so there is something wrong inside your container, its not requesting a DHCP allocation.

I would double check what is running inside the container and ensure the network configure is correct, also check journalctl inside the container for any errors.

[2021-10-07 15:22] simondeziel opened #9358 "Add warning entry for missing instance driver"
Sounds similar to #9194 which is supposed to be fixed in 4.19 which is what I reproduced it with:

[code]

In the last command, I would expect the "KVM support is missing" to show up.

[2021-10-07 15:50] stgraber commented on #9358
I think that's because it usually gets logged as part of the startup-time messages and those are shown as a list, @monstermunchkin would know for sure :)

[2021-10-08 08:39] tomponline commented on #9347
Yes that makes sense, admittedly I am not familiar yet with the cluster roles concept, but the way you're describing it, it would allow an OVN network to detect on startup whether it should add itself to the chassis group.

I don't think that would get the manual prioritisation control that @skob was asking for though (as the chassis would still be added with a stable random priority) so failover

[2021-10-08 15:30] skob commented on #9347
my relevant setup is:

[code]
[code]
[code]
[code]
[code]

[2021-10-08 23:42] turtle0x1 opened #9365 "snapshots.schedule.stopped=true doesn't appear to work"
Using the edge snap (git-0b55622) setting `lxc config set alpine snapshots.schedule.stopped=true` doesn't prevent snapshots being taken. Only setting `lxc config set alpine snapshots.schedule=""` prevents more snapshots.

[2021-10-14 03:45] #9125 closed

[2021-10-14 05:04] falves1 commented on #1911
I have the same problem after copying a container to a different box with rsync
rsync -qarlptog -stats --partial --progress --numeric-ids -e 'ssh -C -p22' ngnx1 root@XXXXXXX:/var/lib/lxc/name .
The container works fine at the original box, but after transferring it, systemctl fails
Failed to get D-Bus connection: No such file or directory
and resinstalling dbus and even systems does not fix the is

[2021-10-14 07:43] aivanise commented on #9041
I have tried referecing cluster members directly as separate remotes and that kinda works, but only partially, looks like --target is taken into account in some cases, but in others not
`
1 > lxc storage volume create lxd12:ee testvol
Storage volume testvol created
0 > lxc storage volume copy lxd12:ee/testvol lxd13:ee/testvol
Storage volume copied successfully!

Works, nice ;)

0 > lxc storage vol

[2021-10-14 09:20] tomponline opened #9374 "VMs cannot be launched with pinned CPU cores when using QEMU in snap package"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-88-generic
   * LXC version: 4.0.10
   * LXD version: 4.19
   * Storage backend in use:

# Issue description

When launching a VM with pinned CPU cores when using LXD from the snap package, the launch fails with the error:

[code]

Extract from qem

[2021-10-14 09:56] knutov commented on #9125
@stgraber yes, we did upgrade two days ago and now all our servers are ubuntu 20.04 with 5.11 hwe kernel and zfs 2.1.0 from ppa:jonathonf/zfs.

The problem is not reproducible in this setup.

So it looks like it was something about zfs + 5.4 kernel.

[2021-10-14 11:54] tim-seoss opened #9375 "lxd fails to start during system boot on Debian 11, apparmor errors are logged"
# Required information

 * Distribution: Debian
 * Distribution version: 11.1
 * The output of "lxc info" or if that fails:
   * Kernel version: `5.10.0-9-amd64 #1 SMP Debian 5.10.70-1 (2021-09-30) x86_64`
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: dir

# Issue description

lxd fails to start at boot time with apparmor errors:

[code]

This was observed on:

[code]

[2021-10-14 12:12] tomponline commented on #9374
@stgraber I've spent the morning looking into this issue and have found the following things:

We should be able to use QMP to add the memory object using a command like:

[code]

However because we need this object to exist before the CPUs are added, we would also need to move the CPUs to be added via QMP. I've not looked into that aspect yet as I got hit by another issue.

On my Focal machine ru

[2021-10-14 14:37] #9375 closed, assigned to nobody

[2021-10-14 19:14] simondeziel opened #9381 "Please implement non-interactive `lxc cluster remote --force`"
ATM, removing a cluster member is interactive:

[code]

Since force removal will be used whenever units are removed from a Juju deployment, it would be nice to have a way to skip the confirmation prompt.

[2021-10-14 19:56] stgraber commented on #9238
Absolutely!

[2021-10-14 20:55] #9381 closed, assigned to nobody

[2021-10-15 13:07] tchwpkgorg commented on #7205
I still see this issue with LXD 4.19. Was it really fixed?

[2021-10-15 15:33] tim-seoss commented on #9375
Thanks Stéphane.  For anyone that finds this issue - the forum post is: https://forum.snapcraft.io/t/lxd-snap-fails-at-boot-time-on-debian-11-cgroup2/27045

[2021-10-16 19:16] ericpareja opened #9385 "LXD failed to start daemon : unable to load network lxdbr0 with converting NULL to string error"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.6
 * The output of "lxc info" or if that fails: Fails with error: Error: Get "http://unix.socket/1.0": dial unix /var/snap/lxd/common/lxd/unix.socket: connect: no such file or directory
   * Kernel version: 4.15.0-159-generic
   * LXC version:
   * LXD version: 4.19
   * Storage backend in use: ZFS

# Issue description

[2021-10-16 20:13] ericpareja commented on #9385
Thank you, this workaround did the trick. LXD successfully starts now.

[2021-10-17 05:02] #9385 closed

[2021-10-17 07:40] lnostdal commented on #885
[code]

[2021-10-19 16:40] tomponline opened #9396 "Container fails to start after stateful stop (CRIU)"
Basic stateful stop and start when using an Alpine container with no NIC fails with CRIU errors:

[code]

[code]

[2021-10-19 19:30] eniac111 opened #9398 "LXD database corrupted after Snap upgrade to 4.19"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-54-generic
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: ZFS

# Issue description
LXD was recently upgraded to 4.19 from a Snap automatic upgrade. Now LXD is not loading and the database seems to be corrupted.

[code]
H

[2021-10-19 19:32] #9398 closed, assigned to nobody

[2021-10-19 19:40] itoffshore opened #9399 "FEATURE - check container is unprivileged from inside the container (so software can configure itself accordingly)"
# Required information

 * Distribution: Ubuntu
 * Distribution version: `21.10`
   * Kernel version: `5.13.0-19-generic`
   * LXC version: `4.19`
   * LXD version: `4.19`
   * Storage backend in use: `zfs`

# **FEATURE** description

I think it could be useful for software running inside an unprivileged LXD container to be able to check if it is operating in a user namespace so it can [configure

[2021-10-19 21:06] masnax opened #9400 "Cluster unresponsive for ~15 mins after leader loss."
# Required information

 * Distribution: ubuntu
 * Distribution version: focal
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-89-generic
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: zfs

# Issue description

On a cluster with >2 members (I tested 3 and 6), if the leader abruptly loses network access or is suddenly powered off, LXD becomes ent

[2021-10-20 02:12] stgraber commented on #9399
Yeah, the definition of an unprivileged container is a container where the host root id (0) isn't mapped into the container.

[2021-10-20 08:17] tomponline commented on #9400
Yes there is certainly an issue here. Investigating...

[2021-10-20 09:05] brauner commented on #9396
I'd like to see the `TRACE` output and the container's config, please.

[2021-10-20 09:06] brauner commented on #9396
And works fine for me here.

[2021-10-20 09:07] tomponline commented on #9396
@brauner using the same reproducer steps as above out of interest?

[2021-10-20 13:10] duck-rh opened #9403 "copy/move to another host hangs forever"
# Required information

 * Distribution: Debian
 * Distribution version: bullseye (on Elwing) + unstable (on Annael)
 * The output of "lxc info" or if that fails (output from Elwing but both use the same exact versions of lxc and lxd):
[code]
# Issue description

`lxc move` hangs forever. I read in the past (~2 years ago) that CRIU was not up to the task and it did not seem to work better (criu.c:

[2021-10-20 13:51] stgraber commented on #9403
Can you try using `--mode=relay` or `--mode=push` to eliminate potential network issues?

[2021-10-20 17:35] duck-rh commented on #9403
Quack,

Thanks for the quick reply. Here are the debug logs for both relay and push.
[lxd_move_relay_Annael_command.log](https://github.com/lxc/lxd/files/7383166/lxd_move_relay_Annael_command.log)
[lxd_move_push_Annael_command.log](https://github.com/lxc/lxd/files/7383168/lxd_move_push_Annael_command.log)

It's very strange to get all these certificate problems since my remote is define like this:

[2021-10-21 03:54] stgraber commented on #9396
Closing this issue as it's effectively a missing CRIU feature which is causing the start failure here.
Running an older liblxc would work as a workaround but that sure isn't ideal as the change in pts allocation was done for security reasons.

The reason for closing this is that there's nothing actionable here in LXD, once CRIU is fixed to handle this, things will just start working again.

[2021-10-21 03:54] #9396 closed

[2021-10-21 04:07] stgraber commented on #9403
LXD doesn't care too much about the DNS (SANs) records in the certificate as it usually expects a self-signed certificate in which case it prompts for the fingerprint, dumps the cert in ~/snap/lxd/common/config/servercerts/ and then expects an exact match on the cert from that point on.

The only time where LXD will care about the DNS (SANs) records is when using a valid certificate for the server

[2021-10-21 10:08] brauner opened #9407 "Enable LO_FLAGS_DIRECT_IO by default on loopback devices"
Turning on `LO_FLAGS_DIRECT_IO` is recommended by hch and axeboe and will improve performance of loop devices singificantly. We should turn this on.

[2021-10-21 10:36] tomponline opened #9408 "Add image requirements metadata"
Adding additional image metadata that indicates the requirements the image has, so that LXD can inspect it and check the system and settings for compatibility.

This would be useful for (at least) the following two scenarios:

1. VM images that require secure boot be disabled.
2. Container images that use systemd and require the host to have a supported cgroup configuration.

If LXD could access t

[2021-10-21 13:39] tomponline opened #9410 "Nested LXD won't start due to being unable to access /dev/.lxd-mounts"
Since https://github.com/lxc/lxd/pull/9357 was merged, LXD has been unable to start when running inside an unprivileged container.

This is due to `/dev/.lxd-mounts` being inaccessible as its owned by `nobody nogroup`.

When the fsmonitor's fsnotify driver tries to access that directory it fails to initialise, cause LXD start up to fail also.

Perhaps we should skip over directories that are inacc

[2021-10-22 05:08] berenddeboer opened #9413 "Ubuntu 16.04 container does not have network"
* Distribution: Ubuntu
 * Distribution version: 21.10
 * The output of "lxc info"
[code]

# Issue description

Create Ubuntu 16.04 container. It has no network. Ubuntu 18.04 container has network.

You can enter the container and add an ip addr, but that doesn't help, you still don't have any network.

This worked till Ubuntu 21.04 (although I probably didn't create a container there, but used a c

[2021-10-22 08:18] tomponline opened #9414 "Remove use of sql.NullString and ensure all description fields are not nullable"
Historically some database tables have allowed NULL description fields.
However there is no need for this as an empty string aligns more closely with Go's default string value and can indicate "no description" without needing the field to be NULLable.

Right now we use a mixture of Go's `sql.NullString{}` to handle parsing NULLs from the database results or handle it at the databse layer using `IF

[2021-10-22 08:31] juippis opened #9415 "lxd-4.0.8 release missing (test-related?) go modules"
Hey,

if you compare the sizes between release tarballs in https://linuxcontainers.org/lxd/downloads/ you'll quickly notice that 4.0.8 is a lot smaller than the previous ones. E.g:
[code]
When packaging lxd it's always done in an offline, sandboxed environment. I can still compile 4.0.8 fine, but the test phase fails for me:
[code]
I can verify it works in 4.0.7. So to me it looks like some test-r

[2021-10-22 13:40] #9413 closed, assigned to nobody

[2021-10-22 13:40] tomponline opened #9417 "Add heartbeat/timeout support to dqliteProxy"
Currently the `dqliteProxy` function has no provision for network timeouts.

https://github.com/lxc/lxd/blob/dca4643257ff0dfdd90f5c911ac6c5b972162226/lxd/cluster/gateway.go#L1152

This means that if the remote side of a connection abruptly disappears it can leave connections blocking for up to 15minutes (until the default TCP retransmission timer fails, even with keep alive enabled see https://sta

[2021-10-22 20:39] sysedwinistrator opened #9418 "lxc move fails with btrfs-progs>=5.14.2"
# Required information

 * Distribution: Arch Linux ARM
 * Distribution version: Latest
 * The output of "lxc info" or if that fails:
 <details>
<summary>`lxc info`:</summary>

[code]
</details>
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description
`lxc move -v instance remote:instance` fails with the following output:
[code]
This is due to a [n

[2021-10-23 00:05] stgraber commented on #9413
No because Linux doesn't allow for some containers to run a cgroup version to that of the host.

So if your host is on cgroup2, all containers have to be too whether they support it or not.

[2021-10-23 00:06] stgraber commented on #9418
Ah fun, we'll have to see if older versions supported --force already or if we're going to need to detect the version for every call...

[2021-10-23 03:00] #9417 closed, assigned to tomponline

[2021-10-23 09:06] pixrl opened #9419 "Cannot start any container - Arch Linux - kernel 5.10.75-1-lts"
# Required information

 * Distribution: Arch Linux
 * Distribution version: rolling release
 * `lxc-start --version`
[code]
 * `lxc-checkconfig`
[code]
   * `uname -a`
[code]
   * `cat /proc/self/cgroup`
[code]
   * `cat /proc/1/mounts`
[code]
# Issue description
Cannot start any container after kernel upgrade probably.

# Steps to reproduce

 1. Trying to use `lxc start` to start container and g

[2021-10-23 15:17] tomposmiko opened #9420 "Managing alternative virtualization solutions"
hi,

It would be great, if we could run and/or manager other virtualization solutions too.
I don't mean vmware, but some cutting edge, like rust-vmm, firecracker and cloud-hypervisor. Actually I'm not fully it makes sense and these are really kvm and lxc alternatives. Correct me, if I'm wrong.

[2021-10-23 15:38] lephilousophe opened #9421 "Cannot run Docker in Debian Bullseye container created with LXD"
# Required information

 * Distribution: Gentoo | Ubuntu
 * Distribution version: rolling release | 21.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.14.11-gentoo | 5.11.0-31-generic
   * LXC version: 4.0.10 | snap version 4.19 21750
   * LXD version: 4.19 | snap version 4.19 21750
   * Storage backend in use: dir

# Issue description

A Debian container is running on both

[2021-10-24 10:44] tomposmiko opened #9423 "Cannot launch container after recovery"
# Required information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
[code]

# Issue description
I had to reinstall and recovery an LXD setup:
https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1947203

Recovery process went fine with an existing container and a VM, ast least I was able to start the container.

If I want to launch new guest I get this m

[2021-10-24 17:43] wusikijeronii opened #9424 "Can't enable br_netfilter module in a containe"
# Required information

 * Distribution: Alma Linux
 * Distribution version: 8.4 (Electric Cheetah
 * The output of "lxc info" or if that fails:
    Kernel version:
[code]
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: lvm

# Issue description
I can't enable the br_netfilter module in a container. The Docker engine requires this one to work with swarm mode. In docker lo

[2021-10-24 18:51] dnegreira opened #9425 "LXD metrics throwing errors about failing to get swap usage"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info":
https://paste.ubuntu.com/p/ms8qtqMsGT/

# Issue description

snap lxd log is full with the same message:
Oct 24 20:29:06 boksee-dev lxd.daemon[223010]: t=2021-10-24T20:29:06+0200 lvl=warn msg="Failed to get swap usage" err="strconv.ParseInt: parsing \"\": invalid syntax"

# Steps to reproduc

[2021-10-24 20:14] #9424 closed, assigned to nobody

[2021-10-25 05:55] #9415 closed, assigned to nobody

[2021-10-25 12:03] tomponline opened #9426 "Nested VMs conflict with vsock IDs of host VMs"
When working on the VM stateful migration work I have discovered that the vsock `guest-cid` ID seems to be able to conflict with VMs running on the host.

Host OS: Ubuntu 21.10
Kernel: 5.13.0-20-generic

Guest OS: Ubuntu 20.04
Kernel: 5.11.0-38-generic
With LXD agent running inside.

If a VM running on host ends up having the same DB ID as a VM running inside the guest VM, then the guest VM cannot

[2021-10-25 12:58] #9419 closed, assigned to stgraber, brauner

[2021-10-25 14:03] #9425 closed, assigned to nobody

[2021-10-26 13:57] simondeziel opened #9433 "Disk, memory and transfer units are not consistently using IEC units"
# Required information

[code]
 # Issue description

Disk and memory should be expressed with IEC units but that is not consistently done everywhere.

# Steps to reproduce

[code]

The above should report something like 142MiB.

`git grep -F 'GetByteSizeString('` should be looked at to fix all those related to memory, disk and transfer/IO progress.

[2021-10-27 15:51] catsem opened #9435 "lxc import read from stdin"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-89-generic
   * LXC version:
   * LXD version: 4.19
   * Storage backend in use: lvm

# Issue description

Would it be possible to add the functionality that lxc import could read from stdin?

My use case is, that I pipe the backup directly to the

[2021-10-28 11:50] danboid opened #9439 "Add doc section on pongo2 syntax for snapshots (timestamp example)"
Currently, if the user configures LXD snapshots and doesn't know about snapshots.pattern or how to configure it using Pongo2 syntax (who does?), the user gets snapshots named something like

snapshot-snap0

I think a much more sensible default is

snapshot-$DATEANDTIME

Which a user can configure by running a command such as:

$ lxc config set hermes snapshots.pattern "{{ creation_date|date:'2006-

[2021-10-28 13:45] joedborg opened #9440 "Cannon remove lxd snap 4.0.7"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04

# Issue description

Trying to run `snap remove lxd --purge`, results in

[code]

[2021-10-28 14:21] #9440 closed, assigned to nobody

[2021-10-28 22:30] dnegreira opened #9444 "Unable to boot VM after changing limits.cpu"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.10 and 21.04
 * LXD version: 4.19

# Issue description

If I change the `limits.cpu` of a VM I am not able to boot it anymore.
I can reproduce it on my laptop (Ubuntu 21.10) and on a server (21.04) easily if I do:
1. `lxc config set <VM> limits.cpu=2`
2. `lxc start <VM>`
looks ok and VM is usable
3. `lxc stop <VM>`
4. `lxc

[2021-10-29 04:08] #9444 closed, assigned to nobody

[2021-10-29 16:43] mvo5 opened #9447 "Snapd nested lxd tests fails in 21.04"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.04
 * The output of "lxc info": attached

# Issue description

Snapd in nested lxd stopped working in the edge channel for 21.04 (but seems to be okay for older versions of Ubuntu).

# Steps to reproduce

This is what we are doing: https://github.com/snapcore/snapd/blob/master/tests/main/lxd/task.yaml#L72

The error happen

[2021-10-29 21:39] tomponline commented on #9403
There's a good chance the hanging is fixed by https://github.com/lxc/lxd/pull/9432

[2021-10-30 14:30] turtle0x1 opened #9449 "Certificate last used"
This might be out of the question due to the possible 1 query per request requirement but would it be possible to a `last_used` field on trusted certificates?

Its probably a niche issue because I end up recycling certs alot but I have about 120~ certs trusted on my system and its hard to know (without scripting) which ones I can delete.

[2021-10-30 15:47] gibmat opened #9450 "Remove use of legacy github.com/mpvl/subtest"
# Issue description

As Golang 1.13 is the minimum supported version for building LXD, the use of github.com/mpvl/subtest to run subtests is no longer needed and has become an unnecessary dependency. Please consider updating code to use Golang's testing module directly.

This was noticed while reviewing dependencies needed to cleanly package LXD for Debian.

[2021-10-30 20:46] stgraber commented on #9449
Hmm, yeah, I can see how that'd be useful but indeed I don't think it's something we can realistically do.

This is one a code path where we really really can't be hitting the database every time. Most LXD requests are made of around 3 HTTP requests, if each one of those needs a database write, overall performance will drop like a rock.

It's a codepath which is already optimized currently specifi

[2021-10-30 20:46] #9449 closed

[2021-10-30 20:56] turtle0x1 commented on #9449
@stgraber  thanks for the work around, as I suspected it's was unrealistic expectation from the LXD team.

At least its now documented and if in 3 years you add it I can be quietly sanctimonious as I was with (#5955) ;)

[2021-10-30 23:52] bstivers commented on #7397
I am pretty sure I narrowed my issue down to dnsmasq being installed system wide. Removed dnsmasq via apt, rebooted, and back to normal. Not sure why that was even installed. (Probably because metal life started out as a server and was turned into a desktop.)

[2021-10-31 21:16] presztak commented on #9435
@stgraber Can I work on this?

[2021-10-31 21:43] stgraber commented on #9435
Absolutely!

[2021-11-01 02:48] #9231 closed

[2021-11-01 06:10] tomposmiko commented on #9423
My assumption was that the relevant higher level information also should be stored.
I accept this behavior though, thx.

[2021-11-01 06:10] #9423 closed

[2021-11-01 07:37] hypnoglow commented on #9450
/assign

[2021-11-01 09:26] tomponline opened #9453 "Panic during shutdown"
I saw this panic on a recent Jenkins test run:

[code]

https://jenkins.linuxcontainers.org/job/lxd-github-pull-test/5083/arch=amd64,backend=dir,compiler=golang-tip/consoleFull#console-section-34

[2021-11-01 10:08] tomponline opened #9455 "Fix nested LXD when not using snap"
- Fix dnsmasq apparmor profile when nested without snap.
- Fix liblxc when apparmor package not installed when nested without snap.

See https://github.com/lxc/lxd/issues/8461#issuecomment-779204445

[2021-11-01 12:48] zyga commented on #9136
@stgraber is this still on @brauner's TODO list?

[2021-11-01 13:00] brauner opened #9456 "vm: SMT not working"
I need to test scheduler patches for SMT but none of my VMs seem to have SMT supported. Here's my host `lscpu` layout:
[code]

[2021-11-01 13:19] brauner commented on #9136
@gbiggs, I sent a tentative fix for this but can you please show me the output of `udevadm monitor debug` on the host with all the events that you expect to see and then `udevadm monitor debug` from inside the container with the received events.

[2021-11-01 13:36] stgraber commented on #9456
There is an SMT issue on AMD that I need to send a fix for, but on Intel SMT does work properly.

We just can't pass SMT topologies to the guest when the host threads aren't pinned as that would cause false confidence in the guest about scheduling across core/thread.

So you need to pin to a set of core/threads through limits.cpu which will then be emulated in the guest.

[2021-11-01 14:36] #9453 closed

[2021-11-01 17:28] #9456 closed

[2021-11-01 17:54] #9435 closed

[2021-11-01 21:57] #9450 closed

[2021-11-01 21:59] #9421 closed

[2021-11-01 21:59] #9420 closed

[2021-11-01 22:01] #9324 closed

[2021-11-01 22:02] stgraber commented on #9252
@brauner ping

[2021-11-01 22:04] stgraber commented on #9215
I think for consistency, I'd make `ipv4.address=none` and `ipv6.address=none` be a thing for instance NICs too.
At which point we could keep requiring those config keys be set but have it so that if they're `none` we prevent any address for the matching family.

@tomponline how does that sound?

[2021-11-01 22:14] sargun commented on #9421
@stgraber An aside, rather than parsing /proc/<pid>/stat(us), I have a little kernel module for introspection here: https://github.com/Netflix/taskintrospection

[2021-11-01 22:36] stgraber commented on #9421
Looks like a nice and simple netlink API indeed. I believe Andrey Vagin and possibly other CRIU folks have been looking at replacing much of /proc with something more programmatically accessible (I think they were also leaning towards netlink?) as parsing ever changing text files can be very error prone...

[2021-11-02 00:04] presztak commented on #9235
@stgraber Can I be assign to this one?

[2021-11-02 00:37] stgraber commented on #9235
Yep!

[2021-11-02 08:24] mvo5 commented on #9447
Thanks @stgraber ! The host is also 21.04 (or 21.10, same failure there).

We try to run snaps inside the nested container. This test used to work on 18.04/20.04 but if the nested use-case is not really supported and we were just lucky I think we can just remove this test and not test that snaps work inside nested lxd containers - if you are okay with this I will push a PR that removes this part o

[2021-11-02 11:01] brauner commented on #9252
We do current expose the exist status in the common shell format
[code]
already in the `error_num` member of the container.

I don't think exposing information in the `post-stop` or `on-stop` hook environment is the way to go for this. We would need to come up with an easy digestible and parseable format so that hooks could consume exit information in the environment. That's not impossible but I w

[2021-11-02 12:17] WRMSRwasTaken opened #9462 "lxd shutdown hangs forever although the daemon already exited"
lxc info:
[code]

# Issue description

Stopping lxd via `lxd shutdown` hangs forever. This is how the systemd service also stops lxd which causes it to hang aswell until it's reaching the unit timeout. So both ways (either via `lxd shutdown` or `systemctl stop lxd`) hang.

Running lxd in the terminal foreground instead of letting systemd start it, the shutdown works correctly, but I can't really t

[2021-11-02 12:58] stgraber commented on #9252
Not sure how that would work though as onStop runs inside of LXD and not from the process which spawned the container, so it does not have access to the struct.

onStop is effectively called through a LXC hook which is why I was asking about post-stop or similar hooks having that be exposed to them.

[2021-11-02 13:16] WRMSRwasTaken commented on #9462
This might be caused because systemd also has the `lxd.socket` unit file active:

[code]

[code]

[2021-11-02 13:54] WRMSRwasTaken commented on #9462
Masking the `lxd.socket` unit file fixes this problem for me. I am going to close this ticket and open one on the Arch Linux bugtracker to change the lxd systemd unit file.

[2021-11-02 13:54] #9462 closed

[2021-11-02 14:01] brauner commented on #9252
As usual we'd expose it through the command socket.

[2021-11-02 14:05] stgraber commented on #9252
Ok, that should be fine. We'll need to bump our minimal LXC version a bit though as we currently say 3.0 or higher but only 4.0 allows for access to the monitor from within a hook context. Prior releases have a blocking single threaded mainloop and so when a hook is running, it's impossible to do anything over the command socket.

[2021-11-02 14:08] stgraber commented on #9447
Ah, okay, so I'm quite confused as to how any of this used to work ;)

If snapd attempts to load apparmor profiles at installation time as the log suggests, then this should never have worked as nested containers don't have an apparmor namespace to load them into and also lack cap_mac_admin and cap_mac_overide which would be needed to perform that action.

It could be that the apparmor shell funct

[2021-11-02 14:08] #9447 closed

[2021-11-02 19:47] morphis opened #9464 "`lxc cluster remove` fails with EOF"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4
   * LXC version: 4.0.11
   * LXD version: 4.0.8
   * Storage backend in use: zfs

# Issue description

In a cluster of 8 nodes removing one of the nodes when running `lxc cluster remove <name>` on the node to be removed causes the following error: `

[2021-11-02 19:49] stgraber commented on #9464
Based on previous chats, it looks like two behavior may occur in this scenario:
 - Cluster member is successfully removed but EOF is returned as LXD is restarted prior to the request completing
 - Cluster member removal straight up fails with `Error: Unable to inspect leader: No such object`

[2021-11-02 19:50] stgraber commented on #9464
We should add a test to cover this particular scenario as part of one of the existing clustering testsuites and then sort out whatever is causing this issue.

[2021-11-02 20:00] tomponline commented on #9464
We can probably use the ManualResponse type to send the response before restarting

https://github.com/lxc/lxd/blob/3ff91aa566d32f84b463d1aa9dfd23281bb5fc04/lxd/api_cluster.go#L760

[2021-11-02 20:30] morphis commented on #9464
As I was scaling the cluster node by node further down I now ran into

[code]
Look at the cluster (from the same node the remove command was execute on by the charm):

[code]

After a few more retries of the failed Juju hook the `lxc cluster remove` command finally went through and the node was dropped from the cluster. Running `lxc cluster ls` from the remaining nodes shows a healthy cluster.

[2021-11-02 22:58] masnax commented on #9464
This seems to be because using `http.Flusher.Flush()` to get a response before restarting takes a tad too long. Trying to figure out why it's slow, but just adding as much as a 100ms sleep seems to fix this as a bandaid.

This one's really weird. The only way this can happen is if for some reason the leader address we get from the gateway is not actually in the nodes database. As yet I haven't bee

[2021-11-02 23:59] tomponline commented on #9464
I wonder if waiting until r.Context() is done before restarting would be a better way of ensuring the client has got the response before restarting.

[2021-11-03 09:11] tomponline commented on #9215
That sounds good, I can't see any issue with that.

[2021-11-03 12:21] tomponline opened #9466 "GetNonPendingNetworkIDs function is not project aware"
The `GetNonPendingNetworkIDs` function is not project aware, and yet returns a map of network names to IDs.
This means its possible for the same network to exist in different projects and for one to be overwritten with the other in the output.

This function is currently used during cluster member join.
This function either needs to be removed, and the cluster member join process reworked or this

[2021-11-03 13:02] morphis commented on #9464
I got the `Error: Unable to inspect leader: No such object` error reproduced. Basically adding and removing nodes over and over again and at some point the problem shows up.

https://private-fileshare.canonical.com/~morphis/lxc-unable-to-inspect-leader.log has the log of the lxd node which our charm tries to remove with executing `lxc cluster remove <name>` from the node itself.

The juju log show

[2021-11-03 18:39] stgraber commented on #9464
@morphis when you get one of the weird ones (so not the EOF), can you check if LXD crashed/restarted on any of the servers?

[2021-11-03 18:47] morphis commented on #9464
@stgraber No, haven't seen any crash on the other nodes. Uploaded their logs at https://private-fileshare.canonical.com/~morphis/node-logs/

[2021-11-03 19:52] tomponline opened #9469 "panic in fsmonitor"
https://jenkins.linuxcontainers.org/job/lxd-github-pull-test/5100/arch=amd64,backend=dir,compiler=golang-tip/console#console-section-2

INFO[11-03|19:05:50] Loading daemon configuration
INFO[11-03|19:05:50] Initializing networks
INFO[11-03|19:05:50] Pruning leftover image files
INFO[11-03|19:05:50] Done pruning leftover image files
INFO[11-03|19:05:50] Starting device monitor
WARN[11-03|19:05:50]

[2021-11-03 23:58] #9469 closed

[2021-11-04 05:36] duck-rh commented on #9403
@tomponline thanks for letting me know :-)

@stgraber Is there anything I can collect about the storage problem in the last test? I did not see any other BR with this problem and I'm not sure how to reproduce it since I just simply deleted the container and retried the transfer with the options you gave me and only the last time did it trigger. Unless there is a way to fix my LXD instance I plan t

[2021-11-04 06:23] pcouderc12 commented on #4157
Mmm, certainly I do not understand well the answer, but I do not want to add a nic, I just want to modify the MAC address of the container.
I use a bridge declared with :
lxc network attach-profile br0 default eth0
The  interest of modifying MAC address is that the container receives all parameters from the DHCP server.

[2021-11-04 09:09] tomponline commented on #4157
@pcouderc12 all instances require at least 1 NIC device (https://linuxcontainers.org/lxd/docs/master/instances#type-nic) to have network connectivity. These devices can be added directly to the instance via the `lxc config device add` command or they can be implicitly added to the instance via the profile(s).

In your case when you do `lxc network attach-profile` LXD is adding a `bridged` (https:/

[2021-11-04 09:27] pcouderc12 commented on #4157
Thank you very much for this very clear information, that fully answers my question :
1 :  I have not to add a nic but to modify the soon existing one
2 : to do that, stop using unrecommended :
lxc config set <instance> volatile.<nic_name>.hwaddr=<MAC>
but use documented :
lxc config device override <instance> <nic_name> hwaddr=<MAC>

[2021-11-04 09:28] tomponline commented on #4157
Yes that's the preferred way of specifying a static MAC address for a NIC.

[2021-11-04 16:25] knutov opened #9476 "One container - multiple zfs datasets - common quota per container"
There are cases when per-folder zfs optimization can lead to much better performance.

The simple example: container with some web-related project usually contains mysql/pg, some web server code and logs.

For mysql (`/var/lib/mysql`) it's better to have `recordsize=16k` (and sometimes disabled compression)
For logs (`/var/logs/`) it usually save to have `sync=disabled` (and may be stronger compre

[2021-11-04 17:12] stgraber commented on #9476
Currently, no, your only option is to use storage volumes which I'd likely recommend for the /var/lib/mysql case.
Quotas indeed can't be shared because they're not under the instance's dataset.

In general I don't think we have any interest in implementing this directly in LXD as it would make handling at least migration and import/export significantly more complicated (as we've noticed with all t

[2021-11-04 17:12] #9476 closed

[2021-11-04 17:13] bionade24 opened #9479 "LXC can't delete containers with very long paths in it"
Due to an accident I got this super-long path in a container. Deleting the container was impossible.  Deleting the path inside the container and then the container worked.

lxc version: 4.19 (snap)
Distro: Ubuntu 18.04(container) Ubuntu20.04 (host)

[code]

[2021-11-04 17:19] tomponline opened #9477 "SQL scan error during syncing images"
https://jenkins.linuxcontainers.org/job/lxd-github-pull-test/5117/arch=amd64,backend=zfs,compiler=golang-1.16/console#console-section-4

[code]

[2021-11-04 17:30] 1000283 commented on #2574
It could be useful to import from a .qcow2 file into LXD's storage backend, be it ZFS or what not.
(I'm searching for a working template for Slackware and thinking about installing it on a KVM VM and using the disk as baselite for the rootfs.)

[2021-11-04 17:37] brauner commented on #9479
Transferring to LXD.

[2021-11-04 18:27] stgraber commented on #2574
`lxc image import` for VMs takes a tarball as first argument (for metadata) and a QCOW2 as second argument for the rootfs, so we effectively already support that.

[2021-11-04 19:39] #9477 closed

[2021-11-04 19:39] #9418 closed

[2021-11-05 15:11] TheNeroNex commented on #9439
Hey! Me and my partner @RKBethke are students from UT Austin's fall 2021 Virtualization class, and we'd like to make some contributions on issues for the repo. We were thinking of starting with this pretty simple one while we get familiar with the codebase, could I be assigned?

[2021-11-05 15:25] RKBethke commented on #9439
Excited to begin contributing to this repo! Commenting here to also be assigned.

[2021-11-05 17:15] RKBethke commented on #9433
Hello! @TheNeroNex and I would be happy to tackle this one to get more familiar with the code base.

When would IEC units be preferable to SI units?  We noticed SI is almost exclusively used throughout the repository as of now.

[2021-11-05 17:17] TheNeroNex commented on #9433
Dropping comment for assignment :)

[2021-11-05 17:37] #9464 closed

[2021-11-05 17:40] stgraber commented on #9439
Done!

[2021-11-05 17:46] stgraber commented on #9433
Done!

[2021-11-05 23:54] #8386 closed

[2021-11-05 23:55] stgraber opened #9489 "Automatically attempt live migration during evacuation (for VM)"
Now that we have live migration of VMs within clusters, we should:
 - Make the `auto` evacuation mode attempt live migration for those VMs that are migratable
 - Introduce a `live-migrate` option for `cluster.evacuate` which will force a live evacuation

[2021-11-06 10:10] danboid commented on #9439
What I didn't know about LXD when I opened this ticket was that the `lxc info` command shows the time and date each snapshot was made it. However, I presume this depends upon you having made the snapshot with LXD and you having its db intact. I will still be inserting the time and date into my snapshots so that they are logically named outside of LXD.

[2021-11-06 16:06] tomposmiko opened #9492 "ZFS dataset cannot be deleted"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Container cannot be deleted. I don't know if it matters, first I tried to do it via the `-f` enabled.

[code]

# Steps to reproduce
I do not know any.

[2021-11-06 16:39] stgraber commented on #9492
`grep containers/vcc /proc/*/mountinfo`

That should tell us why it thinks it's busy

[2021-11-06 18:15] tomposmiko commented on #9492
[code]

[2021-11-06 18:20] tomposmiko commented on #9492
[code]

Should lxcfs exit, when container is stopped?

As for the `3663992` I don't understand, it's a totally different container. I probably don't understand the logic here well...

[2021-11-06 19:17] stgraber commented on #9492
Hmm, yeah, looks like they cloned the mount entry which is preventing the deletion.

You can likely sort it out with:
 `nsenter -t 216040 umount /var/snap/lxd/common/lxd/storage-pools/default/containers/vcc`

[2021-11-06 20:17] tomposmiko commented on #9492
[code]

[2021-11-06 21:34] stgraber commented on #9492
Can you show `cat /proc/216040/mountinfo`?

[2021-11-06 21:50] TheNeroNex commented on #9041
Hello! @RKBethke and I would love to try and tackle this issue and would appreciate guidance/mentoring in how to approach a solution. After a preliminary look, we're thinking we'd start trying to implement a `--destination-target` flag as mentioned previously.

[2021-11-06 21:51] RKBethke commented on #9041
Leaving comment for assignment.  Looking forward to tackling this one!

[2021-11-06 21:57] tomposmiko commented on #9492
Sure thing:

[code]

[2021-11-06 23:00] stgraber commented on #9492
Doh, it was just a typo earlier, the following should work:
[code]

[2021-11-06 23:07] tomposmiko commented on #9492
Yeah, that did the trick, thank you.
So is this a kind of bug?

[2021-11-07 01:17] stgraber commented on #9492
Yeah, it's a very mild version of the same problem you reported in https://github.com/lxc/lxd-pkg-snap/issues/61

[2021-11-07 01:17] stgraber commented on #9492
(Closing as we have the other bug for tracking)

[2021-11-07 01:17] #9492 closed

[2021-11-07 06:09] tomposmiko commented on #9492
@stgraber
Are you sure about this? This time  I was able to start the container after stopping it with no problem.

[2021-11-07 15:56] stgraber commented on #9492
That's because a few weeks ago we made a change to LXD which allows it to bypass the mount check in ZFS. The underlying problem is still the same but was effectively made less visible.

[2021-11-07 17:15] tomposmiko commented on #9492
Alright, thanks, that makes it a bit more usable.

[2021-11-08 15:50] lutenica opened #9498 "Prometheus with built in metrics returns SSL error"
# Required information

 * Distribution: Debian
 * Distribution version: 10.11
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.19.0-17-amd64
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: BTRFS

# Issue description

As per the new metrics endpoint documentation described [here](https://linuxcontainers.org/lxd/docs/master/metrics) on a cluster of 3 m

[2021-11-08 15:57] stgraber commented on #9498
Not a bug so will close this but basically you have two options:
 - `insecure_skip_verify: true` in the prometheus config to ignore the self-signed LXD certificate.
 - Update the cluster certificate with a valid certificate for whatever FQDN your cluster uses. Use `lxc cluster update-certificate` to have LXD deploy the new certificate for you on all cluster members.

Ideally we'd want to have an o

[2021-11-08 15:57] #9498 closed

[2021-11-08 17:23] amcduffee opened #9499 "mdev GPU devices not cleaned up on mdev errors"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.6 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-89-generic
   * LXC version: 4.19
   * LXD version: 4.19
   * Storage backend in use: ZFS

# Issue description

When a VM with an mdev GPU fails to start due to an mdev error the created mdev device isn't cleaned up which leads to exhausting

[2021-11-08 21:33] paulstelian97 commented on #3161
Probably remount /proc inside the container I guess, to account for the cgroup.

[2021-11-09 07:43] presztak commented on #9235
@stgraber, PR almost done but still I'm not sure what do you mean by "access checker". Which mechanism is it?

[2021-11-09 11:30] aadnehovda commented on #6676
Ran into this on Proxmox and I resolved it by adding `lxc.cap.drop: sys_rawio` to my config and this is the result, no more error. What may I be missing by dropping that cap in an unprivileged container?

[code]

This was also an interesting read, don't know if it's relevant: https://systemd.io/CONTAINER_INTERFACE/

[2021-11-09 13:38] stgraber commented on #6676
I don't think you're likely to miss anything by dropping `sys_rawio` inside of an unprivileged container as I'd expect just about every kernel codepath requiring this capability to check it against the host namespace. We in theory could add mediated raw PCI access or something down the line through syscall interception which would then make use of that capability in the container, but it's not som

[2021-11-09 14:36] #9499 closed

[2021-11-09 15:15] gibmat opened #9504 "Particular reason for using farjump/go-libudev and not jochenvg/go-udev?"
# Issue description

Was there a particular reason why LXD chose to use github.com/farjump/go-libudev rather than the upstream (github.com/jochenvg/go-udev) of that fork? Both of those repositories appear identical, and it's nice to not depend on unneeded forks of libraries.

This was noticed while reviewing dependencies needed to cleanly package LXD for Debian.

[2021-11-09 17:53] stgraber commented on #9504
Sent a fix!

[2021-11-09 20:10] jeff2814 commented on #9215
Hi, @hQavi and I are students from University of Texas taking a virtualization class. One of our assignments is to contribute to an open source project and we thought lxd was pretty exciting! Would it be ok if we tried to tackle this issue?

[2021-11-09 20:11] jeff2814 commented on #9239
Hi, @hQavi and I are students from University of Texas taking a virtualization class. One of our assignments is to contribute to an open source project and we thought lxd was pretty exciting! Would it be ok if we tried to tackle this issue?

[2021-11-09 20:11] jeff2814 commented on #9408
Hi, @hQavi and I are students from University of Texas taking a virtualization class. One of our assignments is to contribute to an open source project and we thought lxd was pretty exciting! Would it be ok if we tried to tackle this issue?

[2021-11-09 20:38] #9504 closed

[2021-11-09 23:39] stgraber commented on #9408
Sure! I've assigned it to you for now. I need to have @hQavi comment in here so I can assign them too.

[2021-11-09 23:40] stgraber commented on #9239
Sure, I've assigned it to you. I'll need @hQavi to comment in here so I can assign them too.

[2021-11-09 23:40] stgraber commented on #9215
Sure, I've assigned it to you. I'll need @hQavi to comment in here so I can assign them too.

[2021-11-09 23:49] hQavi commented on #9239
Thanks, commenting to get assigned.

[2021-11-09 23:49] hQavi commented on #9215
Thanks, commenting to get assigned.

[2021-11-10 00:30] gibmat opened #9506 "LXD depends on dead version of juju/httprequest"
# Issue description

LXD has a single include of github.com/juju/httprequest, but that repo seems to be dead (https://github.com/juju/httprequest/issues/59). Would it be possible to switch to the upstream version of that library, https://github.com/go-httprequest/httprequest ?

This was noticed while reviewing dependencies needed to cleanly package LXD for Debian, where go-httprequest/httprequest

[2021-11-10 01:13] liamnickell commented on #9489
Hi, I'm a CS major at UT Austin and was hoping to contribute to LXD as part of my final project in my Virtualization course. This seems like a cool feature to work on — would you mind expanding a bit on the code changes it entails and whether it would be a good first issue to take on? Thanks!

[2021-11-10 02:22] liamnickell commented on #9348
Hi, I'm a CS major at UT Austin and am interested in working on this feature. I also commented on [this issue](https://github.com/lxc/lxd/issues/9489#issuecomment-964689991) for reference.

[2021-11-10 03:01] stgraber commented on #9348
Assigned it to you!

[2021-11-10 03:01] stgraber commented on #9489
Assigned it to you!

[2021-11-10 03:01] stgraber commented on #9215
Done!

[2021-11-10 03:02] stgraber commented on #9239
Done!

[2021-11-10 03:02] stgraber commented on #9408
Done!

[2021-11-10 03:04] stgraber commented on #9506
Seems to indeed be building fine with go-httprequest, so let's try that :)

[2021-11-10 04:22] #9439 closed

[2021-11-10 05:40] #9433 closed

[2021-11-10 07:04] stgraber commented on #9235
You can call `rbac.UserHasPermission(r, targetProject, "manage-containers")` which will return true if the user is allowed instance creation on the target project. For custom volumes, you'd want the same but using "manage-storage-volumes" instead.

[2021-11-10 08:51] #9506 closed

[2021-11-10 10:39] tomponline opened #9508 "Multiple GPU device passthrough doesn't work for VMs"
Whilst fixing an issue preventing multiple `usb` device passthrough in VMs (https://github.com/lxc/lxd/pull/9497) it was noticed that `gpu` devices on VMs also have the same issue.

@stgraber said https://github.com/lxc/lxd/pull/9497#issuecomment-963278299

So we should also support that sort of functionality for VMs, and where it doesn't make sense, clarify the docs and the validation.

The follo

[2021-11-10 11:59] presztak commented on #9358
@stgraber Can I tackle this one?

[2021-11-10 12:20] tomponline commented on #9358
Assigned to you. Thanks

[2021-11-10 13:49] tomponline opened #9511 "Panic during network create"
https://jenkins.linuxcontainers.org/job/lxd-github-pull-test/5183/arch=amd64,backend=dir,compiler=golang-1.16/console#console-section-3

[code]

[2021-11-10 14:11] stgraber commented on #9511
@tomponline the `defer stmt.Close()` should be after the error checking, in this case we got an error and therefore a nil `stmt` so calling .Close() on it causes a panic.

[2021-11-10 18:30] #9511 closed

[2021-11-10 23:25] RKBethke commented on #9041
We made a few simple changes in an attempt to solve the issue.  It looks like both `storage volume {copy, move}` were not set up to use the target command line flag, and as @stgraber mentioned, this use case would also require a `--destination-target` flag.
Here is our branch with these current changes: https://github.com/RKBethke/lxd/tree/iss9041-lxc-storage-volume-ignore-target

Unfortunately, w

[2021-11-11 05:46] stgraber opened #9518 "Add support for UUID selection of NVIDIA MIG devices"
NVIDIA driver 470 and up have changed from the easy /gi/ci syntax for the device to a new obscure UUID.
To support this, we should add a `mig.uuid` option which takes a valid UUID (must start with MIG-).
When this is set, `mig.ci` and `mig.gi` must become invalid.

The UUID is then used as the device to be passed to nvidia-container.

[2021-11-11 05:47] stgraber opened #9519 "Add support for OVN certificates"
Currently our OVN implementation doesn't support `ssl` mode. We should look for `ssl` in the connection string and if found, use the well-known locations in `/etc/ovn` to load the needed certificates.

[2021-11-11 10:50] aivanise commented on #9041
you can try building in nested containers instead of VMs, I've been doing that while testing and successfuly hosted a 3 member cluster in 8G of memory, probably even less

have a look at this gist: https://gist.github.com/aivanise/e6efcbdf18ca998a9dcaa808feba952f

[2021-11-11 19:15] stgraber opened #9523 "Add `lxc help --sub-commands` to list all sub-commands"
The `lxc` command line tool has a lot of sub-commands at this point.
`lxc help` or `lxc --help` will show a subset of the top level ones (all if `--all` is passed).

It'd be nice for `lxc help --sub-commands` to show a tree of the sub-commands, so `lxc help --all --sub-commands` would show absolutely everything that's supported.

[2021-11-11 19:17] stgraber commented on #9041
Right, running LXD inside of LXD containers works pretty well to limit usage.

For VMs, you also don't need a lot of resources, my test VMs are commonly one vCPU and 1GB of RAM running a simple Ubuntu Server image. Most laptops have at least 4GB of RAM so should be able to run a couple of those at least.

[2021-11-11 19:19] #9358 closed

[2021-11-11 21:10] #9519 closed

[2021-11-12 04:30] knutov commented on #9324
@stgraber  Unfortunately I do not know how to work with alpine, even wasn't able to setup routed network.

I need live migration with systemd-based distros. Is it all problem on the CRIU side? Should I open issue in CRIU's github? Or is it possible to do something with current setup with systemd-based distros like ubuntu 20.04 and centos 7 ?

[2021-11-12 04:41] stgraber commented on #9324
I'm not aware of us having had any success with such "recent" systemd. I believe we had some luck with Ubuntu 16.04 but even then, it may have been with a limited set of services.

When getting "Can't dump" type errors, those are indeed CRIU issues and can/should be reported to them.
Note however that a lot of those will need additional kernel interfaces in Linux before CRIU can make use of them,

[2021-11-12 06:38] vikrantrathore opened #9525 "Add ability to set attributes in image set commands"
After the cluster upgrade to version 4.19 find an issue in lxc image copy with projects. Steps to replicate error:

[code]

This used to work until version 4.18 and stopped working as soon as LXD upgrade to 4.19.

Probably some changes done in the new updates for image handling.

[code]

Maybe need an lxc image set command

Reference discussion at https://discuss.linuxcontainers.org/t/error-in-lxc

[2021-11-12 10:54] mvo5 opened #9526 "Running snapd inside lxd in 21.10 fails with: Permission denied errors from udev"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.10
 * The output of "lxc info" or if that fails: [lxc-info.txt](https://github.com/lxc/lxd/files/7526933/lxc-info.txt)

# Issue description

In 21.10 our snapd lxd test is failing currently. I extracted a minimal reproducer in the script: [lxd-reproducer.sh.txt](https://github.com/lxc/lxd/files/7526960/lxd-reproducer.sh.tx

[2021-11-12 14:49] stgraber commented on #9526
`udevadm trigger` changed in 21.10 to return errors for conditions that didn't use to trigger one.

After some discussions upstream, the compromise made to still have LXD behave was that their systemd unit (systemd-udev-trigger.service) would be configured to ignore non-zero return values from udevadm. I believe snapd needs to do the same here, call `udevadm trigger` but not fail when it returns n