[2017-08-18 20:17] jkroepke commented on #3680
[code]

[2017-08-18 20:21] stgraber commented on #3680
@brauner can you make it so that all storage backends properly set volatile.pristine on create and then make the wiping conditional on that?

That should improve this kind of situation a bit.

[2017-08-18 20:21] jkroepke commented on #3680
/dev/md3 is the root device.

[2017-08-18 21:36] jfgibbins commented on #1045
Interesting method, and certainly old school unix, but I see kybd sales going through the roof from all the pounding of the keys. :)

[2017-08-19 00:03] renky opened #3682 "Problem with LXD Import"
Refering to Issue #3005

----------

lxd import doesn't work porperly on my system...
OS: Debian Stretch, LXD 2.16 (Snap)

Created a new container from scratch (ubuntu 17.04)
made some changes, created 3 Snapshots of the container (with lxc snapshot ....)
here is zft list -t all:
[code]

then I made a zfs-backup:
[code]

important: i didn't save the snapshots-dataset for this container (maybe this

[2017-08-19 00:04] renky opened #3683 "Problems with Quota inside container"
Referring old issue #2319

I have further problems with quota inside containers

Operating System Debian Stretch, LXD 2.16 (Snap)
Container Ubuntu 16.04
Storage Backend ZFS

Tried to set the quota-optios for mountpoint like described in Issue 2319:
[code]

[code]
so setting seems to work
BUT: my device is called root - while i set lxc.rootFS.options... so it might be a problem because of that...
B

[2017-08-19 00:05] stgraber commented on #3682
Can you include the backup.yaml file that's in your zpool1/lxd/containers/test dataset?

[2017-08-19 00:06] stgraber commented on #3683
The initial raw.lxc with lxc.rootfs.options should be right. What does /proc/self/mountinfo contain when read from inside the running container?

[2017-08-19 02:44] #3678 closed

[2017-08-19 13:37] asarubbo opened #3685 "lxc-checkconfig should look for CONFIG_NETFILTER_XT_MATCH_COMMENT"
On Gentoo, which has a custom kernel made by user, on lxd init I get:
[code]

Manually launch the commando excluding "-m comment --comment generated for LXD network lxdbr0" works for me, so lxc-checkconfig should look for CONFIG_NETFILTER_XT_MATCH_COMMENT if you want to set command via iptables.

lxc version: 2.0.8
lxd version: 2.14

[2017-08-19 15:15] asarubbo opened #3686 "error: Failed to list ipv6 rules for lxdbr0 (table )"
* Distribution: Gentoo
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.34-gentoo
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in use: default

# Issue description

The lxd init fails because of the error: error: Failed to list ipv6 rules for lxdbr0 (table )
# Steps to reproduce

 1. lxd init
[code]

Additional info:
[code]

[2017-08-19 16:29] #3685 closed

[2017-08-19 16:30] stgraber commented on #3686
What LXD version are you actually running?

2.21 doesn't exist (yet).

[2017-08-19 16:33] stgraber commented on #3686
Also what does this give you;

    ip6tables -w -S

[2017-08-19 20:27] asarubbo commented on #3686
It was a typo. I have lxd-2.14.

[code]

[2017-08-19 20:36] asarubbo opened #3687 "unable to stop/restart a container"
* Distribution: Gentoo
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.34-gentoo
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in use: default

# Issue description
The command to stop or restart the container freezes with no output. I'm able to do it with the -f option

[code]

Other info:
[code]

[2017-08-19 20:41] asarubbo opened #3688 "FEATURE: make ipv6 optional"
If possibile, would be great make the ipv6 support optional with something like --enable-ipv6 --disable-ipv6 at configure time

[2017-08-19 21:03] asarubbo opened #3689 "seccomp not enabled"
* Distribution: Gentoo
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.34-gentoo
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in use: default

Lxc were compiled with the seccomp support (--enable-seccomp), however, a tool that inspect the hardening of the running binaries, reports no seccomp enabled.
The tool reports the seccomp enabled for other progr

[2017-08-19 21:12] stgraber commented on #3688
If you don't want IPv6, just don't set an IPv6 address on your bridge. Why would we need a global configure flag for this?

[2017-08-19 21:13] stgraber commented on #3689
Look at what's applied to PID 1 of the container, not processed outside of it.

[2017-08-19 21:16] stgraber commented on #3686
You didn't run the command I gave you :)
I gave ip6tables, not iptables.

[2017-08-19 21:18] stgraber commented on #3687
Does passing --force get the container to stop?

[2017-08-19 21:18] stgraber commented on #3687
Also, what image was used to create the container?

[2017-08-20 08:08] asarubbo commented on #3686
OK, I found the issue, I need iptables with ipv6 support, which I don't have atm.

[2017-08-20 08:09] asarubbo commented on #3686
https://bugs.gentoo.org/show_bug.cgi?id=628346

[2017-08-20 08:09] #3686 closed

[2017-08-20 08:15] asarubbo commented on #3688
I came from gentoo, where is my habit to always configure as minimal as possible.
The lxd installation on gentoo forced me to enable ipv6 where not needed for other things:
[code]
To avoid complain I had to enable ipv6 in the kernel, which was previously disabled.
Also, usually, all software that has ipv6 support has always a ipv6 configure option to enable/disable
So making it optional would say

[2017-08-20 08:18] asarubbo commented on #3687
I specified it in the first post:
"The command to stop or restart the container freezes with no output. I'm able to do it with the -f option"

I followed exactly what is described here: https://linuxcontainers.org/it/lxd/getting-started-cli/
So the image is ubuntu:16.04 pulled from the default url.

[2017-08-20 08:29] asarubbo commented on #3688
And the absence of ipv6 related things would make "lxd init" to fail as described in #3686

[2017-08-20 08:39] huegelc opened #3692 "Feature: aliases or tags for container names"
Hi,

would be nice if it be possible to have aliases (like for images) or tags for container names. We have all kinds of container not following any naming nomenclatures and it would be nice if we could tag them like *DBs*, *proxy* etc. Thank you

[2017-08-20 15:06] stgraber commented on #3688
Hmm, so a system that's missing IPv6 should be fine so long as you use "none" for ipv6.address. Looks like that's not quite the case right now, I'll send a fix for that.

Go doesn't really have the concept of configure flags that autotools does, it only does build tags which are a massive pain to make code conditional on, so the right fix here is just to make LXD not blow up when ip6tables is miss

[2017-08-20 15:22] stgraber commented on #3692
[code]

That's effectively tagging for you :)

[2017-08-20 15:23] stgraber commented on #3692
You can also add columns to "lxc list" to show those config keys:

    lxc list -c ns46,user.foo:FOO

[2017-08-20 15:24] stgraber commented on #3687
Ah, interesting, so it's a problem with the container itself, not with LXD then.

When you run "lxc stop" or "lxc restart" without the "-f" flag, all that LXD does is send a signal to PID1 in the container. When the container doesn't react, it's usually because PID1 crashed or is otherwise stuck.

Can you paste the output of "ps fauxww" from inside the container?

Systemd usually behaves in this w

[2017-08-20 15:49] asarubbo commented on #3687
[code]

[2017-08-20 16:48] asarubbo commented on #3687
the same issue happens on  a freshly installed centos7 container

[2017-08-20 17:05] asarubbo opened #3693 "unable to reduce the disk space"
* Distribution: Gentoo
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.34-gentoo
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in use: btrfs

I followed the steps reported here to reduce the disk of the container: https://stgraber.org/2016/03/26/lxd-2-0-resource-control-412/

however I don't get the same result:

[code]

[2017-08-20 17:20] stgraber commented on #3693
btrfs quotas never show up in the df output. It's design limitation of btrfs. zfs, lvm and ceph will all appear in df.

[2017-08-20 17:20] #3693 closed

[2017-08-20 17:23] huegelc commented on #3692
Thats, perfecty fine :), thank you

[2017-08-20 17:33] huegelc opened #3694 "LXD assigns wrong IP to container"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: Xenial
 * The output of "lxc info" or if that fails:
[code]

# Issue description

When creating multiple containers with static dhcp entry it fails

[2017-08-20 17:36] #3692 closed

[2017-08-20 17:41] stgraber commented on #3694
Does restarting it solve the problem?

[2017-08-20 17:42] stgraber commented on #3687
Sounds like you don't have the systemd cgroup mounted on your host which then causes systemd to fail in your containers.

[2017-08-20 17:43] stgraber commented on #3687
https://wiki.gentoo.org/wiki/LXC#Mounted_cgroup_filesystem seems to include the Gentoo instructions to setup all cgroups, including the systemd one.

[2017-08-20 17:44] huegelc commented on #3694
Unfortunately not:
[code]

[2017-08-20 17:44] asarubbo commented on #3693
ok, that's fine..but let me ask another question. When I made the btrfs storage pool, the size was 45GB.
Now I notice that something like **"lxc config device set centos root size 50GB"** works for me without issues.
Can I allocate now 50GB or it is just a virtual limit? In case I can't allocate, can I resize the btrfs pool?

[2017-08-20 17:51] stgraber commented on #3694
Can you tail /var/log/syslog  while restarting the container to see what dnsmasq does?

[2017-08-20 17:52] stgraber commented on #3693
btrfs quotas can be bigger than the size of the filesystem (overcommit). I think the idea is that you'll grow you btrfs filesystem before the quota is reached.

[2017-08-20 17:53] stgraber commented on #3693
lxd itself doesn't know how to grow your btrfs filesystem, but you can do it directly yourself and things should be fine.

[2017-08-20 17:54] huegelc commented on #3694
Sure:

[code]

[2017-08-20 17:57] asarubbo commented on #3693
is documented somewhere if it is possible to do it via lxc client?

[2017-08-20 18:00] asarubbo commented on #3687
ok, it worked for me. I didn't find it at https://wiki.gentoo.org/wiki/LXD

[2017-08-20 18:00] #3687 closed

[2017-08-20 18:35] huegelc commented on #3694
`echo "00:16:3e:50:df:55,id:*,10.0.4.10" >> /storage/lxd/networks/lxdbr0/dnsmasq.hosts`
`lxc start cont10`
[code]

doesn´t work either. Weird.

[2017-08-20 19:11] stgraber commented on #3693
It's not, that's why I said that lxd itself doesn't know how to do it

[2017-08-20 19:12] stgraber commented on #3693
You need to use the normal btrfs tools to do that

[2017-08-20 19:12] stgraber commented on #3687
You could add a link to the other page since it's a wiki

[2017-08-20 20:27] huegelc commented on #3694
I´ve find also this lines in the logs:

[code]

[2017-08-21 01:00] jfgibbins opened #3695 "Templates and metadata.yaml"
Playing around with some of the features I haven't used yet and came across the lxc config template commands.  Is there a way to also edit the corresponding metadata.yaml file in order to be able to use the created templates or is required to create an all new image?

[2017-08-21 02:44] stgraber commented on #3695
lxc config metadata edit?

[2017-08-21 05:45] jfgibbins commented on #3695
alright, I seriously need to increase my font size, or maybe the wife will let me get a 60" 4k as a monitor, it was there, just couldn't see it

[2017-08-21 05:45] #3695 closed

[2017-08-21 05:47] stgraber commented on #3695
:)

[2017-08-21 09:13] #3688 closed

[2017-08-21 12:02] asarubbo commented on #3687
What do you think if lxc-checkconfig checks about /sys/fs/cgroup/systemd ?

[2017-08-21 13:26] brauner commented on #3680
@stgraber, ha I knew we end up here. Good that we added this property with ceph. :)

[2017-08-21 14:03] brauner commented on #3680
@stgraber, this wouldn't have helped here at all would it? The pool would've been marked pristine on creation since it was empty on creation and then he would've overmounted it with some directory and we would've deleted it. So for this scenario there's really nothing we can do. If the pool is empty from a db point of view on delete but get's overmounted with something else you're hosed.

[2017-08-21 14:41] jfgibbins commented on #2977
not sure if this helps for your particular situation, but docker-machine supports lxd containers using the generic driver, example below is what I use for my environment, and only requires a running container, which in my environment is created with terraform.  It even handles installing the current version of docker engine on it.

docker-machine create --driver generic  --generic-ssh-user "user"

[2017-08-21 15:06] jkroepke commented on #3680
Maybe you purge only files managed by lxd like apt and yum does instead purge everythink

[2017-08-21 15:50] stgraber commented on #3680
@brauner the reproducing steps from the reporter are:
[code]

[2017-08-21 15:51] brauner commented on #3680
Ah, missed that.

[2017-08-21 15:53] brauner commented on #3680
Well, in that case we will simply refuse to create the pool I'd say. This is a folder under the control of LXD itself.

[2017-08-21 15:57] brauner commented on #3680
Also, this was one of the reasons why we didn't let users create dir storage pools somewhere on the system.

[2017-08-21 16:04] stgraber commented on #3687
@brauner thoughts on adding code to lxc-checkconfig to check for the usual suspects?
(I guess we at least want freezer, then check for name=systemd and unified)

[2017-08-21 18:38] Kramerican opened #3698 "Clarification on Image expiration - lxc config set images.remote_cache_expiry 1 not working?"
Hello,

As per previous discussions I have set the config option `lxc config set images.remote_cache_expiry 1` in order to expire old images after 1 day. This in conjunction with `lxc config set images.auto_update_interval 0` which forces LXD to fetch new images whenever they are updated, the hope was that I could have an always up-to-date image repository which wouldn't bloat up to crazy levels o

[2017-08-21 19:01] stgraber commented on #3698
Can you paste "lxc image info b20779efd4db"?

[2017-08-21 19:05] Kramerican commented on #3698
Sure thing

[code]
Hmm I see ... Expires Never?

[2017-08-21 19:11] stgraber commented on #3698
The "Expires: never" part isn't particularly relevant in this case, what should be is the "Last used: 2017/08/16 08:55 UTC" part, which should then have caused LXD to flush the image a day later on the 17th.

Can you paste "lxc config show" and "lxc info", that should contain what I need to reproduce this.

[2017-08-21 19:13] Kramerican commented on #3698
Merci :O)

[code]

[code]

[2017-08-21 19:18] stgraber commented on #3698
Ok, I think I found the issue, for some reason the internal "cached" property doesn't appear to be set to the right value, at least in some cases...

Tracking down exactly what's going on now.

[2017-08-21 19:20] stgraber commented on #3698
my current guess is that once an image gets auto-updated, its "cached" property gets cleared, preventing it from later expiring...

[2017-08-21 19:21] Kramerican commented on #3698
Cool - I love it when I help out finding bugs, and it's not just my own retardedness at work :laughing:

Let me know what the solution is, whenever you get it tracked down / sorted. And ... Thanks!

[2017-08-21 19:24] brauner commented on #3687
@stgraber, sure sounds fine with me.

[2017-08-21 19:41] stgraber commented on #3687
@brauner is that something you could add to your 2.1 branch? Seems like it'd save us a number of bug reports.

[2017-08-21 20:04] #3679 closed

[2017-08-21 20:04] #3680 closed

[2017-08-21 20:45] jfgibbins commented on #3440
I do similar in regards to creating bridges to attach containers on to, and then placing the tags on the patch port.  But inherently limited to functions by bridge.  Would love to be able to utilize the OVN and take advantage of the entire SDN/micro-segmentation concept.  <-new buzzword for marketing to resell what we've been doing in networking already for 20+ years.

[2017-08-21 20:50] #3698 closed

[2017-08-21 20:57] stgraber commented on #3689
[code]

This shows all the containers running on this system are clearly running with seccomp (in mode 2, bpf filtering).

As you mentioned, lxc/lxd itself isn't confined, only its sub-processes (the containers) are:

[code]

[2017-08-21 20:57] #3689 closed

[2017-08-21 21:01] stgraber commented on #3683
The lxc log here shows me:
[code]

So that suggests that LXD is passing the value properly to liblxc which then passes that onto the kernel. I however do not have those showing up in /proc/self/mountinfo, makes me wonder if that's a zfs issue.

[2017-08-21 21:18] stgraber commented on #3683
Oh, I wonder if it's as simple as being mount options that can only be set on the main filesystem, not on bind-mounts, not sure how that'd work with zfs though, I'll test with ext4.

[2017-08-21 21:20] stgraber commented on #3683
Yep, those flags appear to be superblock mount options, so don't work on bind-mounts unlike say the "ro" flag.

[code]

Closing as we've confirmed that LXD does get the option, sends it to liblxc, which sends it to the kernel, no errors are reported by anything along the chain, but the filesystem just silently drops the flag.

[2017-08-21 21:20] #3683 closed

[2017-08-21 23:50] ScottHaney opened #3700 "Launch command completes before ubuntu user is added"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.4.0-81-generic
   * LXC version: 2.0.8
   * LXD version: 2.15
   * Storage backend in use: zfs

# Issue description

The lxc launch command completes before the ubuntu user is actually added to the container. If a command soon after the lxc launc

[2017-08-22 02:43] stgraber commented on #3700
Hi,

As far as LXD's concerned, the container is launched when the init process in the container has started.
What happens during the container's boot sequence is out of LXD's control.

The "ubuntu" account creation is done through init scripts inside your container (by cloud-init) so LXD has nothing to do with that part of the boot sequence.

When scripting LXD, you can either add a fixed sleep a

[2017-08-22 02:43] #3700 closed

[2017-08-22 06:00] stgraber commented on #2895
Can you paste "lxc profile show default"?

[2017-08-22 06:25] stgraber commented on #2895
So I'm still unable to reproduce the issue myself but I did manage to reproduce inconsistencies in the sorting of devices. As we're sorting them, I'd expect their order to be constant, yet it's changing.

I'll track that down and fix it, hoping it's the source of the problem you've been running into.

[2017-08-22 06:39] asarubbo commented on #3689
I verified, it is fine as you said. Thanks.

[2017-08-22 08:46] #3660 closed

[2017-08-22 10:33] huegelc commented on #3694
Hi @stgraber ,

can you confirm this behavior? Can you explain the issue and is there a workaround till you can fix it in 2.17? Many thanks

Cheers

[2017-08-22 13:11] brauner commented on #3687
@stgraber, added to the 2.1 branch. `lxc-checkconfig` will now give a lot more information about cgroups.

[2017-08-22 19:36] stgraber commented on #3694
I've not had time to look into this yet. I'll take a brief look before tagging 2.17.

[2017-08-22 19:58] huegelc commented on #3694
Take your time, thank you.

[2017-08-22 20:00] #2895 closed

[2017-08-22 20:43] stgraber commented on #3694
First attempt to reproduce on current LXD didn't work (they all got their expected IPs).

[2017-08-22 20:48] stgraber commented on #3694
So I managed to reproduce a case where the container didn't get its expected address, but that one looked like a dnsmasq bug as the hosts file contained the expected MAC and a restart of the container got it to release its current address and get the right one from dnsmasq.

[2017-08-22 21:14] stgraber commented on #3694
Ran your reproducer 10 times (so 50 containers total). Out of those 10 runs, I had 3 cases where one of the containers didn't get the expected IP.

In all 3 cases, dnsmasq.hosts was correct, syslog showed dnsmasq was properly respawned after dnsmasq.hosts got updated, the request was coming from the correct MAC, yet dnsmasq returned the wrong IP. In all cases, bouncing the dhcp client in the conta

[2017-08-22 21:15] stgraber commented on #3694
Moving this issue back to un-milestoned and incomplete as I can't reproduce the case described in this issue.

Can you reproduce this behavior somewhat reliably on your side?

[2017-08-22 21:21] stgraber commented on #3694
For the occasional failure I'm seeing, I think it can be blamed on dnsmasq being a bit slow at reloading its configuration. Sadly the only interface we have for that is SIGHUP, so that's not telling us when it's actually done processing it...

[2017-08-22 21:25] stgraber commented on #3694
I wonder if using --dhcp-hostsdir would be more reliable.

[2017-08-23 07:47] huegelc commented on #3694
Hi @stgraber , thank you for looking into this.

ok, so here is what I did:

1. deleted the container which got the wrong IP (contX)
2. re-created the container with:

`lxc init ubuntu:16.04 contX`

[code]
*10.0.4.3 and 10.0.4.2 are production container*

`lxc config device add contX eth0 nic nictype=bridged parent=lxdbr0 ipv4.address=10.0.4.4`

`lxc start contX && lxc list contX`

[code]

The dns

[2017-08-23 11:56] ajthemacboy commented on #3638
Any update on this? Perhaps I should open another issue since this is a completely different discussion.

[2017-08-23 16:17] stgraber commented on #3638
Looks like a systemd issue. You could file a bug at https://launchpad.net/ubuntu/+source/systemd/+filebug and post the URL here so we can subscribe to it.

[2017-08-23 16:20] stgraber commented on #3694
The "unknown interface" and missing IP problems you've been running into is because you ran "ifdown eth0" inside the container but "ifup eth0" outside of it.

    lxc exec contX -- ifdown eth0 && ifup eth0

Should have been:

    lxc exec contX -- ifdown eth0 && lxc exec contX -- ifup eth0

Or:

    lxc exec contX -- sh -c "ifdown eth0 && ifup eth0"

[2017-08-23 16:21] stgraber commented on #3694
The missing entry in the hosts file is still troubling. Can you paste your /var/log/lxd/lxd.log to see if there's anything in there that could explain it?

[2017-08-23 16:21] stgraber commented on #3694
I'm hoping that switch to per-container hosts file will solve this issue or at least make it easier to debug, will try to set that up later today.

[2017-08-23 17:34] akarelas opened #3709 "Missing descriptions in the github releases"
You are not writing descriptions in the github releases, and we have no way of seeing "what is new". You can see the releases here: https://github.com/lxc/lxd/releases

This is bad documentation.

[2017-08-23 17:36] stgraber commented on #3709
https://linuxcontainers.org/lxd/news/

[2017-08-23 17:37] stgraber commented on #3709
Because Github provides a feature doesn't mean we have to use it, and there's no way of turning off the /releases page unfortunately (which also provides bad tarballs...).

[2017-08-23 17:44] gentunian commented on #2621
We came across this issue with `lxc-vpe-2.0` and we found [this](https://www.solaris-cookbook.eu/virtualisation/proxmox/proxmox-lxc-running-docker-inside-container/) a solution to the issue.

[2017-08-23 17:45] stgraber commented on #3709
We can however update our README to link to the website.

[2017-08-23 18:54] #3709 closed

[2017-08-23 19:34] parak opened #3711 "Group issue after updating to 2.16"
I'm getting a weird problem after updating to 2.16 (previous version worked fine) on Ubuntu 14.04. The upstart command fails with the following in the log:

[code]

Yet the group definitely exists:
[code]
Both stop and start fail in a similar manner, and the commands hang.

Weirder still is that this works on some instances just fine, yet fails on others, with the only common pattern being that th

[2017-08-23 19:37] stgraber commented on #3711
That's pretty weird...
Can you do:
 - sudo initctl stop lxd
 - sudo strace -fF -o debug lxd --debug --group lxd

And then post the "debug" file that strace will generate?

[2017-08-23 19:40] parak commented on #3711
Seems pretty short, so posting inline:

[code]

[2017-08-23 19:43] stgraber commented on #3711
What I need is the content of the "debug" file that strace generated.

[2017-08-23 19:46] parak commented on #3711
Oh, doh, sorry. Here you go.

[debug.zip](https://github.com/lxc/lxd/files/1246801/debug.zip)

[2017-08-23 19:51] stgraber commented on #3711
Can you attach a zip file with your /etc/nsswitch.conf and /etc/group files?
Looks like there's something weird going on when they're being parsed.

[2017-08-23 20:18] parak commented on #3711
Group file does contain some non-public information, so I can't quite just attach it.. anything I might be looking for?

[2017-08-23 20:28] stgraber commented on #3711
Anything that'd make the parser crash on it. It could be a line which is missing some fields, could be a duplicate line (same group name twice), ...

[2017-08-23 20:31] stgraber commented on #3711
Could also be a bad line-break (dos style instead of unix) or something like that

[2017-08-23 21:18] parak commented on #3711
I've looked at it with line endings turned on, checked for duplicates, missing fields, compared to a file from a working box, and so far I can't see anything :(

What parser is this using? I've checked that getent works, and the grp module in python works as well for example. Any way for me to just run the parser code itself?

[2017-08-23 21:36] stgraber commented on #3711
Can you download and run https://dl.stgraber.org/test-group (sha256: 887bfab785317b9b5e5b6359d446182e1c6fcf2b0e55dee47a643eb7b0df482c)

It's an isolated copy of the current group parsing code.
You can run it as an unprivileged user.

[2017-08-24 01:08] jfgibbins opened #3712 "Docker requirements"
Using LXD to test some docker stuff.  Had issues with overlays running in the ver 1.12+ swarm due to modprobe, particularly br_filter.  Modules loaded on the host and the kernel usually solves for most problems, but did not for this particular case.  Found an old reference #2321, referred to adding a file /.dockerenv as the docker code uses it as a marker that it is virtualized and stop default be

[2017-08-24 08:18] gaetanquentin opened #3714 "lxd 2.12: lxc remote add ask for password even if client certificate is added and core.trust_password unset"
# Required information

 * Distribution: ubuntu
 * Distribution version: 17.04
 * The output of "lxc info"
side 1:
config:
  core.https_address: :8443
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_man

[2017-08-24 09:10] gaetanquentin commented on #3714
it looks like if this pb occurs only in root account. My colleague created a new user account and regenerate a certificate: it works now.

[2017-08-24 09:27] #3712 closed

[2017-08-24 09:27] #3694 closed

[2017-08-24 12:03] R3curve opened #3715 "Live Migration fails"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2 LTS
 * The output of "lxc info" or if that fails:
  Host 1
      config:
      core.https_address: 192.168.1.100:8443
      core.trust_password: true
    api_extensions:
    - storage_zfs_remove_snapshots
    - container_host_shutdown_timeout
    - container_syscall_filtering
    - auth_pki
    - container_last_used_a

[2017-08-24 12:35] jfgibbins commented on #3712
@brauner Way better than my incoherent mess that I wrote. You the man. :)

[2017-08-24 12:45] brauner commented on #3712
@jfgibbins, well thank you for the compliment but I'm passing it along to @stgraber since I'm just the merger not the mergee. :)

[2017-08-24 13:59] Remigius2011 commented on #2977
@jfgibbins This sounds excellent! Could you share the terraform script you use for this? Is the lxd container running in privileged od unprivileged mode?

[2017-08-24 14:35] jfgibbins commented on #2977
I'm currently rewriting my terraform module for docker at this very moment.  Debating on whether to run as a local exec command that executes the above on each interation, or running an independent script that does all the work, calling terraform to just create the containers for me.  I will probably do the latter, as I want to be able to set env variables to automate the entire process, including

[2017-08-24 15:13] Remigius2011 commented on #2621
I don't think disabling apparmor is a good idea (nor that it is really necessary). afaik, privileged mode only (or mainly) preserves UIDs in (nested) containers - could someone please confirm or reject this?

[2017-08-24 15:19] huegelc commented on #3694
Thank you for merging. I´m looking forward to test the fix.

[2017-08-24 15:21] Remigius2011 commented on #2977
@jfgibbins I am currently working on a combo of terraform and ansible to configure docker clusters on metal and in cloud and a talk on BaselOne in October (all to be published). I don't use docker-machine, though. I'm also interested in newer upstream docker versions (certainly 1.13+, preferrably 2017.x), but they (seem to) require lxd containers in privileged mode, which I'd like to avoid. Unfort

[2017-08-24 15:29] jfgibbins commented on #2977
@Remigius2011 I'm currently running mine using docker 1.13, with security.nesting = true, security.privileged = false, but in order to use network overlays, I added #3712, sorry, transposed numbers on previous message.  My environment is basically docker-machine and docker on host, create containers with terrraform, and use docker-machine to add the containers and install docker 1.13 using the com

[2017-08-24 15:32] jfgibbins commented on #2977
@Remigius2011 My only issue I'm stuck on right now, to automate the whole setup is how to get the value of count in terraform.  I want the resource count value, not the index which is all I can find reference to.  I script the writing of my .tf files with excel as my initial source of info.  excel -> csv -> php -> .tf, so I may just set what I need based on count in php to write the .tf file.

[2017-08-24 16:06] techtonik commented on #3712
This ticket is about `network overlay`s for Docker, right? Is it some Docker-specific solution or a common Linux mechanism?

[2017-08-24 16:10] jfgibbins commented on #3712
@techtonik docker looks for a file called /.dockerenv as a marker to if it is running inside a virtual environment.  When the file is detected, docker changes its behavior on certain aspects, such as trying to force load of modules, which of course can't be done inside lxd containers.  The mechanism seems to be applied to any hosted environment.  Hope that answers what you were looking for.

[2017-08-24 16:20] techtonik commented on #3712
This answers partially. `/.dockerenv` from #2321 is still looks like a hack, but I am not sure if it is a Docker hack or Linux kernel. From what I can understand the problem is either:

1. Docker can't load some `overlay network` module
2. Docker can't detect that `overlay network` module is loaded

So, if I understand correctly, we are dealing with the 2nd problem. Then the question is - why Dock

[2017-08-24 16:31] stgraber commented on #3714
I wonder if it can be as simple as you running under "sudo -s" which would use your user's home directory rather than root's. In which case uploading /root/.config/lxc/client.crt to the target server won't do you much good as the certificate that's actually used is /home/some-user/.config/lxc/client.crt.

[2017-08-24 16:33] stgraber commented on #3714
Can you show:
 - "lxc config trust list" on the remote server
 - "openssl x509 -in ~/.config/lxc/client.crt -noout -text -fingerprint -sha256" on the client

[2017-08-24 16:33] jfgibbins commented on #3712
@techtonik From my research, it seems that docker, tries to force load the modules it needs, regardless of whether it is already loaded or not.  .dockerenv was added into the docker code, to allow it to know if it inside a container or not, and if so, don't force the behavior.  This enabled, for example, running docker-in-docker and such.  Trying to find the link where I found the source code insi

[2017-08-24 16:38] stgraber commented on #3712
Can someone contribute a simple check to Docker to look at /sys/modules/NAME prior to attempting a force load of the module?

[2017-08-24 16:38] stgraber commented on #3712
that should be a pretty trivial and uncontroversial change that would most likely resolve this particular issue

[2017-08-24 16:39] jfgibbins commented on #3712
@techtonik From docker code, which is how .dockerenv is used, as well as the code that was giving me the issue running overlay

https://github.com/docker/libnetwork/blob/master/drivers/bridge/setup_bridgenetfiltering.go
func isRunningInContainer() bool {
	_, err := os.Stat("/.dockerenv")
	return !os.IsNotExist(err)
}

https://github.com/docker/libnetwork/blob/19ac3ea7f52bb46e0eb10669756cdae0c441a5

[2017-08-24 16:43] jfgibbins commented on #3712
@stgraber I believe you mean into docker code to check that, and that would certainly fix the issue for that, but I did see reference to isRunningInContainer throughout the docker code, so wouldn't even want to guess how many things need that check.  I would stay safe with just adding the file, rather than additional code to handle case by case issues as they seem to have already done that in code

[2017-08-24 17:03] parak commented on #3711
Aha, I think I found it. The affected nodes have a group with more users in it than other nodes. Specifically, they have a group with 81 users in it. With a bit of experimentation, the lxd group works when there are 64 users in the group, but not 65 or higher, producing the 'unknown group lxd' error.

[2017-08-24 17:16] nlienard opened #3716 "creating a container in ceph storage"
After updating into lxd 2.16 on my ubuntu 16.04 LTS, wanted to make a try with new lxd storage feature :  ceph storage as i 've a ceph cluster for a while.

Here what i did  :

     root@inxovh-hy001 (node1):~# lxc storage create lxd-pool ceph
     Storage pool lxd-pool created

     root@inxovh-hy001 (node1):~# ceph osd lspools
     0 data,6 libvirt-pool,7 .rgw.root,9 lxd-pool,

     root@inxovh-

[2017-08-24 17:41] stgraber commented on #3716
I think the feature mismatch may be the bug we fixed in LXD 2.17 where the image clones wasn't inheriting the feature set of the image.

[2017-08-24 17:42] stgraber commented on #3716
If you're using xenial-backports to get your LXD, you should be getting 2.17 early next week which will contain the fix. https://github.com/lxc/lxd/commit/4d0416053f8424d67d1e4accc0e6a7e00924aaf6

[2017-08-24 17:44] stgraber commented on #3716
If you want to try 2.17 ahead of its release in backports, you can download and manually install those two packages:
 - https://launchpad.net/~ubuntu-lxc/+archive/ubuntu/lxd-stable/+files/lxd-client_2.17-0ubuntu1~ubuntu16.04.1~ppa1_amd64.deb
 - https://launchpad.net/~ubuntu-lxc/+archive/ubuntu/lxd-stable/+files/lxd_2.17-0ubuntu1~ubuntu16.04.1~ppa1_amd64.deb

We've not received any negative feedbac

[2017-08-24 17:57] stgraber commented on #3711
And that's a group other than the lxd group right?

[2017-08-24 17:57] parak commented on #3711
Correct.

[2017-08-24 17:58] stgraber commented on #3711
And does the test binary I gave you show the same error?

[2017-08-24 18:03] parak commented on #3711
Yep.

[2017-08-24 19:10] nlienard commented on #3716
I updated to LXD 2.17

    certificate_fingerprint: d551307dac375c378eccdd6c928464c6681d0b2dd77524a54b714864b23f5cc8
     driver: lxc
     driver_version: 2.0.8
     kernel: Linux
     kernel_architecture: x86_64
     kernel_version: 4.4.0-92-generic
     server: lxd
     server_pid: 26548
     server_version: "2.17"
     storage: zfs | ceph
     storage_version: 0.6.5.6-0ubuntu16 | ceph version 1

[2017-08-24 19:18] stgraber commented on #3716
@brauner ideas?

[2017-08-24 21:45] #3711 closed

[2017-08-24 22:05] brauner commented on #3716
I guess we can somehow try to parse the ceph feature table but that's going to be costly. I'd rather update the document and state that users are expected to set `rbd default features = 1` in their ceph config. Is that acceptable? @nlienard, can you try if that helps, please?

[2017-08-24 22:11] brauner commented on #3716
@nlienard, also, please show the relevant `dmesg` output, please.

[2017-08-24 23:30] stgraber commented on #3431
Finally getting back to this.

[2017-08-25 00:11] #3715 closed

[2017-08-25 00:37] stgraber commented on #3431
Figured it out, it's actually not LXD's fault or even dnsmasq's. It's simply that the container itself is releasing the lease on shutdown.

[code]

So that's effectively expected behavior from dnsmasq, the client is releasing the lease and dnsmasq flushes it from its lease file immediately.

That's a bit different from other DHCP servers where they will still keep a trace of the old lease after it

[2017-08-25 00:37] #3431 closed

[2017-08-25 00:38] stgraber commented on #3431
Sorry it took me so long to finally dive into this one. I was expecting it to be some weird issue in our dnsmasq handling code when in fact it's just the way dnsmasq handles the DHCPRELEASE packet that's sent on container shutdown.

[2017-08-25 00:43] stgraber commented on #2352
@freeekanayaka Giving that one to you as you've pretty much been doing this work already :)

[2017-08-25 05:07] freeekanayaka commented on #2352
@stgraber sure thing :) I think we should indeed try to avoid ORMs (even regardless of how much sqlite-aware are), at the end of the day they usually don't buy that much and reduce your freedom. What you generally want is to come up with your own "ORM" (as we effectively have, despite it's not very DRY), which is tailored for the app.

[2017-08-25 05:24] stgraber commented on #2352
Yup, absolutely. What we want are convenient helpers that match our DB handling patterns.

The LXD database is pretty simple and so are our requests. We also try to be pretty consistent so there's a lot of similarities between the various DB tables. That's where those helpers come into play and make it easy to read/write data without re-inventing the wheel with every new object collection we have

[2017-08-25 08:13] nlienard opened #3719 "Live Migration fails"
I can't perform live migration :

    root@inxovh-hy001 (node1):~# lxc move inxovh-xmpp002 node3:
    Transferring container: inxovh-xmpp002: 1.48GB (1.91MB/s)
    error: Failed container creation:
      - https://192.168.10.1:8443: Error transferring container data: migration dump failed
     (85.301569) Warn  (criu/autofs.c:77): Failed to find pipe_ino option (old kernel?)
     (85.956130) Warn

[2017-08-25 08:22] nlienard commented on #3716
my dmesg is flooded by bad messages

I found this which is related about your suggestion : https://pve.proxmox.com/pipermail/pve-devel/2016-April/020731.html

So it is safe to add this default parameter in my ceph.conf ?

[2017-08-25 08:28] nlienard commented on #3716
I added the default in [client] section of my ceph.conf

during lxc create, i got this in log:

    Aug 25 10:25:27 inxovh-hy001 lxcfs[8056]: message repeated 5 times: [ bindings.c: 3865: proc_uptime_read: failed to write to cache]
    Aug 25 10:26:08 inxovh-hy001 kernel: [210006.457342] libceph: mon0 10.0.0.1:6789 missing required protocol features
    Aug 25 10:26:20 inxovh-hy001 lxcfs[8056]: bi

[2017-08-25 08:34] brauner commented on #3716
Did you restart ceph (e.g. via systemctl)?

[2017-08-25 08:40] nlienard commented on #3716
restarting OSD or MON ? or both ?

[2017-08-25 08:41] brauner commented on #3716
@nlienard, I think OSD should be sufficient. :)

[2017-08-25 08:51] techtonik commented on #2352
I don't mind against DRY databases as long as they don't require C compiler like `sqlite`.

[2017-08-25 09:00] nlienard commented on #3716
Ok i restarted my OSD on all nodes ( 6 OSD) but same issue

     root@inxovh-hy001 (node1):~# grep -B 3 default /etc/ceph/ceph.conf  |tail -4
     [client]
     rbd_cache = true
     rbd_cache_max_dirty_age = 5
     rbd default features = 1

     root@inxovh-hy001 (node1):~# ps auxw |grep osd |grep ^ceph
     ceph     19696  2.8  1.0 1369360 345376 ?      Ssl  10:50   0:13 /usr/bin/ceph-osd -f --c

[2017-08-25 09:12] brauner commented on #3716
Can you please retry with another image and report back. I suppose that the image has already been created in the pool with the wrong feature set.

[2017-08-25 09:16] nlienard commented on #3716
how can i cleanup the existing content ?

     root@inxovh-hy001 (node1):~# rbd -p lxd-pool ls
     lxd_lxd-pool

Should i remove it ?

[2017-08-25 09:21] brauner commented on #3716
Well is there anything in the pool currently?

[2017-08-25 09:22] nlienard commented on #3716
In the pool (lxd-pool) there is only an object called "lxd_lxd-pool"

     root@inxovh-hy001 (node1):~# rbd -p lxd-pool ls
     lxd_lxd-pool

Here the info about this object:

    root@inxovh-hy001 (node1):~# rbd info lxd-pool/lxd_lxd-pool
    rbd image 'lxd_lxd-pool':
        size 0 bytes in 0 objects
        order 22 (4096 kB objects)
        block_name_prefix: rbd_data.d3a703238e1f29
        fo

[2017-08-25 09:23] brauner commented on #3716
Oh, didn't see it, sorry. No that should be fine that just there for LXD to track whether the pool hasn't been used by another LXD instance.

[2017-08-25 09:25] brauner commented on #3716
Can you please show me the output of `lxc info` again?

[2017-08-25 09:26] nlienard commented on #3716
root@inxovh-hy001 (node1):~# lxc info
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zf

[2017-08-25 09:32] brauner commented on #3716
Did you send the updated `ceph.conf` file to you other nodes via `ceph-deploy config push`?

[2017-08-25 09:37] nlienard commented on #3716
nope, i edited manually ceph.conf on my 3 nodes, then restarted OSD one by one.

[2017-08-25 09:40] brauner commented on #3716
@nlienard, can you do manually:

`rbd map lxd-pool/lxd_lxd-pool`

please?

[2017-08-25 09:44] nlienard commented on #3716
root@inxovh-hy001 (node1):~# rbd map lxd-pool/lxd_lxd-pool
    rbd: sysfs write failed
    In some cases useful info is found in syslog - try "dmesg | tail" or so.
    rbd: map failed: (110) Connection timed out

in log

    Aug 25 11:43:25 inxovh-hy001 kernel: [214643.017298] libceph: mon2 10.0.0.3:6789 feature set mismatch, my 106b84a842a42 < server's 40106b84a842a42, missing 400000000000000

[2017-08-25 09:48] brauner commented on #3716
Can you try manually creating an image with not image features enabled and try to map it?

[2017-08-25 09:48] brauner commented on #3716
@nlienard, wait you don't even need to do that, just disable the `layering` feature on the already existing volume in the pool and try to map again.

[2017-08-25 09:55] nlienard commented on #3716
root@inxovh-hy001 (node1):~# rbd feature disable lxd-pool/lxd_lxd-pool   layering
     rbd: failed to update image features: (22) Invalid argument2017-08-25 11:55:04.721931 7fe3441e3100 -1 librbd: cannot update immutable features

[2017-08-25 09:56] brauner commented on #3716
*sigh*
Right, then if you could try my first suggestion that would be great.

[2017-08-25 09:56] brauner commented on #3716
Thanks btw!

[2017-08-25 10:04] nlienard commented on #3716
hum how to disable layering ?

with rbd create lxd-pool/test --size 4096, it adds automatically layering :(

And why is layering an issue ? i thought it is used for cloning feature.

[2017-08-25 10:12] nlienard commented on #3716
in ceph.conf, i got rbd_default_format = 2

rbd_default_features
Description
The default features enabled when creating an block device image. This setting only applies to format 2 images. The settings are:

1: Layering support. Layering enables you to use cloning.

2: Striping v2 support. Striping spreads data across multiple objects. Striping helps with parallelism for sequential read/write work

[2017-08-25 10:49] nlienard commented on #3716
ok i managed to create an image without layering  but same issue

    root@inxovh-hy001 (node1):~# rbd create lxd-pool/test --size 4096   --image-format 1
    rbd: image format 1 is deprecated
    root@inxovh-hy001 (node1):~# rbd info lxd-pool/test
    rbd image 'test':
        size 4096 MB in 1024 objects
        order 22 (4096 kB objects)
        block_name_prefix: rb.0.d3d337.2ae8944a
        f

[2017-08-25 11:10] techtonik commented on #3712
I see `isRunningInContainer` only in `setup_bridgenetfiltering.go` - everything else are tests - https://github.com/docker/libnetwork/search?utf8=%E2%9C%93&q=isRunningInContainer&type=

https://github.com/moby/moby/search?utf8=%E2%9C%93&q=isRunningInContainer&type=

[2017-08-25 12:07] nlienard commented on #3716
Should i update kernel from 4.4 to 4.11 ?

http://docs.ceph.com/docs/master/rados/operations/crush-map/?highlight=tunables

WHICH CLIENT VERSIONS SUPPORT CRUSH_TUNABLES5

v10.0.2 (jewel) or later
Linux kernel version v4.5 or later (for the file system and RBD kernel clients)

[2017-08-25 12:33] brauner commented on #3716
Well, your kernel seems to be exploding all over the place and I have no further explanation for this. Can you try to set 'ceph osd crush tunables legacy`?

[2017-08-25 12:33] brauner commented on #3716
@nlienard, yeah if you can try updating to a newer kernel.

[2017-08-25 12:38] nlienard commented on #3716
root@inxovh-hy001 (node1):~# ceph osd crush tunables legacy
adjusted tunables profile to legacy
     root@inxovh-hy001 (node1):~# rbd map lxd-pool/test
/dev/rbd0

[2017-08-25 12:42] nlienard commented on #3716
Looks good !!

     root@inxovh-hy001 (node1):~# lxc launch ubuntu-xenial-infranix inxovh-nli5001 -s lxd-pool
     Creating inxovh-nli5001

     The container you are starting doesn't have any network attached to it.
       To create a new network, use: lxc network create
       To attach a network to a container, use: lxc network attach

     Starting inxovh-nli5001

[2017-08-25 12:44] brauner commented on #3716
@nlienard, so this must be an ancient kernel module version. Upgrading to a new kernel might really help.

[2017-08-25 12:51] tobozo commented on #3716
Problem was probably related to this https://bugs.launchpad.net/ubuntu/+source/ceph/+bug/1578484

[2017-08-25 13:09] nlienard commented on #3716
trying to move the ceph container to another node (where i created the same ceph storage )

root@inxovh-hy001 (node1):~# lxc move inxovh-nli5001 node2:
error: Failed container creation:
 - https://192.168.10.1:8443: Failed to run: rbd --id admin --image-feature layering, --cluster ceph --pool lxd-pool --size 10737418240B create container_inxovh-nli5001: rbd: create error: (17) File exists
2017-08-

[2017-08-25 13:35] brauner commented on #3716
@nlienard, do you have two LXD instances using the same OSD pool in the same cluster?

[2017-08-25 14:01] jfgibbins commented on #2050
For networking, I've found the easiest and most flexible way is to utilize openvswitch on the host.  The bridges show up as networks in 'lxc network list'.   Utilizing the cloud enabled versions from images.linuxcontainers.org, I use the following example in my lxc configs.  No need for lxdbr0, dnsmasq or anything else setup specifically for lxc.  Just handle everything networking, dns, dhcp, stat

[2017-08-25 14:04] jfgibbins commented on #2050
@stgraber @brauner hint for OVN *wink*, you're integration with OVS is awesome, simple and easy, and makes containers indistinguishable from a physical server, OVN provider and you've got SDN for linux containers as good as any other solution out there, including ACI and NSX

[2017-08-25 15:03] ajthemacboy commented on #3638
Created the issue here: https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1713086

[2017-08-25 15:19] nlienard commented on #3716
Hello
What do you mean by 2 LXD instances ?
I've created a storage (lxd-pool) on my 3 hypervizors using same name "lxd-pool":

     root@inxovh-hy002 (node2):~# lxc storage list
     +----------+-------------+--------+-----------+---------+
     |   NAME   | DESCRIPTION | DRIVER |  SOURCE   | USED BY |
     +----------+-------------+--------+-----------+---------+
     | default  |             | z

[2017-08-25 15:35] brauner commented on #3716
So you have a three separate LXD daemons running on three nodes belonging to the same ceph cluster sharing the same osd pool? If that is the pool then this is very much not supported apart from backup purposes. This is also mentioned in our storage document in this repo. This obviously won't work since the storage volume already exists in the pool. We only support sharing the osd pool among multip

[2017-08-25 15:38] stgraber commented on #3719
I believe that's what I fixed yesterday: https://github.com/lxc/lxd/commit/f4b6f27e367ace763bcb3508a26c2634e7b82491

What version did you last had this working with? Based on the code I could see, live migration must have been broken since LXD 2.13 or so.

Closing this issue since the fix has already been merged.

[2017-08-25 15:38] #3719 closed

[2017-08-25 15:43] stgraber commented on #3716
@brauner should we make "lxc storage create" fail when attempting to add an existing ceph pool and require something like "ceph.force_existing=1" be passed as a config key to force the use of an existing pool?

[2017-08-25 15:45] stgraber commented on #3716
To be clear, being able to use one shared ceph pool for multiple LXD hosts is absolutely on our roadmap, but we can't do so without also having the LXD hosts talk to each other and share one global view of the existing containers, images and custom storage volumes.

Right now, you'll want a separate osd pool per LXD host.

[2017-08-25 19:11] stgraber commented on #3638
thanks, subscribed the lxd team to it

[2017-08-26 02:54] sequoiar commented on #2050
+1

[2017-08-26 11:29] srkunze commented on #1045
@stgraber What do you think about this feature? Would you like a pull request?

[2017-08-26 11:44] nlienard commented on #3716
Right now, i got 3  physicals servers (node1/node2/node3) where i created a ceph cluster with 2 OSD per server. I use it to host VM (KVM). In parallel, i use these same nodes to host LXD containers using ZFS local storage.
I thought with LXD Ceph storage that i would be able to do the same as i do with KVM VM meaning hosting a container on a node using ceph storage throught libvirt and performing

[2017-08-26 16:40] pgassmann opened #3721 "wrong ip assigned to container with fixed ip, after container was copied"
Dnsmasq assigns a random IP to a running container which has a fixed ip address configured with
`lxc config device set www2 eth0 ipv4.address 10.0.3.10`
when a copy of that container was created.
The stopped copy contains the same fixed ip address configuration and this seems to "confuse" dnsmasq when renewing the ip address lease of the running container.

This happened to my setup this early mor

[2017-08-26 16:44] stgraber commented on #3721
I'm not sure what we can really do about this. LXD does tell dnsmasq about what you want, that is, two containers with the same static IP.

dnsmasq then apparently considers that to be invalid and ignores both static entries.

There's unfortunately no real API to configure dnsmasq, all that LXD can do is dump a bunch of text files into place and send SIGHUP to dnsmasq to have it reload its configu

[2017-08-26 16:52] stgraber commented on #3721
The few options we have are unfortunately all bad...

# Prevent you from copying the container in the first place
You'd then need to alter the source container to remove its static IP before you can copy it, which may cause your source container to loose its IP at that point...

# Only apply DHCP static leases when the container is running
There are a few problems with this approach, one is that r

[2017-08-26 16:58] stgraber commented on #3721
So it looks like dnsmasq will let you have multiple MACs get the same address if it's listed on the same dhcp-host line. The issue with this is that we also use the dhcp-host line to set the DNS entry for the container which means we have the container name in there...

[2017-08-26 16:58] stgraber commented on #3721
I'll have to check whether it's allowed to have multiple dhcp-host lines for the same MAC. If so, then we can have one line which does the MAC to NAME assignment and another which does the MACs to IP part, but I doubt that dnsmasq is going to let us get away with that.

[2017-08-26 16:59] stgraber commented on #3721
Oh, unless we can also specify multiple names on the same line, then we may be able to keep things working that way. I'll have to experiment.

[2017-08-26 17:01] stgraber commented on #3716
Yeah, we're slowly working towards a way of getting multiple LXD daemons to talk to each other which will allow them to share storage pool information when a storage pool is remote (as ceph is). It's going to take us a little while to figure everything out, but we'll get there :)

[2017-08-26 17:01] #3716 closed

[2017-08-26 17:04] stgraber commented on #1045
I'm fine with it so long as it's pretty self contained (doesn't cause a huge amount of change to every command) and it doesn't cause regressions to existing behavior.

So yeah, if you want to work on this, send us a PR and we can then look into all the tiny details :)

[2017-08-26 18:07] huegelc commented on #3721
Somehow related to: https://github.com/lxc/lxd/issues/3694 ?

[2017-08-26 19:10] pgassmann commented on #3721
A simple solution would be to delete the static address when creating a copy.
Then one could set a new ip. lxd could prevent or warn if an ip is already configured.
As a shortcut lxd could promt for a new ip when creating a copy, respectively allow it to be specified as an option.

PS: Stéphane your response time and dedication is phenomenal. Thank you a lot!

[2017-08-26 19:20] stgraber commented on #3721
@huegelc I don't think so. dnsmasq would have logged an error if that had been the case, something like:

    Aug 24 00:44:02 castiana dnsmasq[9831]: duplicate dhcp-host IP address 10.204.119.8 at line 1 of /var/lib/lxd/networks/lxdbr0/dnsmasq.hosts/cont8

[2017-08-26 19:27] stgraber commented on #3721
@pgassmann deleting the static IP would be pretty easy indeed, except for a few things:
 - There is no mechanism in the LXD API for giving a "warning" back to the user. Just errors. That's something we may want to add for such cases.
 - The user may actually want the two containers to have the same IP address. Assuming they never plan for the two of them to be running at the same time.
 - We'd nee

[2017-08-26 19:42] pgassmann commented on #3721
Yes, the user might want that. But only if it does not affect the one running container properly. With the current behaviour it is better not to allow setting two times the same IP than allowing it and risk a totally different IP.

Interactive behaviour can be omitted by throwing an error and prompting to either specify a new ip or set a flag to drop the ip configuration.

Example

[code]

[2017-08-27 01:21] jfgibbins commented on #3721
From a networking standpoint, you never want two machines with the same mac.  Not only will it cause the above problems, but if those MAC addresses hit the network on two different ports, ie, it was copied to another host, you will get MAC flapping which can bring down ports, or even cause issues on the control plane of a switch and bring it down.  I would suggest that the MAC address,  be recreat

[2017-08-27 01:43] stgraber commented on #3721
LXD ensures that the MAC isn't the same, unless the user really forces us. So that part is fine. We're only talking about IP here. And yes, two containers running with the same IP but different MAC is not much better as far as the network is concerned as you're going to be hitting one or the other depending on what's in your ARP cache.

But at least it won't trip things like loop detection at the

[2017-08-27 02:18] jfgibbins commented on #3721
Ah, I was thinking IP from MAC-reservation, not host-name.  Typically don't allow my server administrators to use anything but static configs.  DHCP is strictly for clients, so never an issue.  But on a clone, doesn't the hostname get set in the meta-data from the container name?  I know cloud-init it doing some work, but thought LXD was as well, since hostname does get set even on the non-cloud e

[2017-08-27 03:28] stgraber commented on #3721
The hostname part that's related to dnsmasq is so that dnsmasq can generate the relevant DNS records (both forward and reverse) for the container's IPv4 and IPv6 addresses.

[2017-08-27 03:28] stgraber commented on #3721
On a normal LXD, that gets you container-name.lxd to resolve to the container's IPv4 and IPv6 addresses (regardless of whether static DHCP assignment is used or not).

[2017-08-27 09:10] scm20008 opened #3723 "docker: Error response from daemon: Could not check if docker-default AppArmor profile was loaded: open /sys/kernel/security/apparmor/profiles: permission denied."
# Required information

 * Distribution: ubuntu 16.04
 * Distribution version: ubuntu 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.4.0-21-generic
   * LXC version: 2.0.10
   * LXD version: 2.0.10
   * Storage backend in use: zfs
* Docker version: 17.05.0-ce

# Issue description

in win7, I have a vmware workstation, and in vm I have installed ubuntu16.04 with lxd.
and

[2017-08-27 13:29] jfgibbins opened #3724 "self-hosted build process for images"
I don't know how many people would want to be able to do this, and I'm sure a few have already done it on their own, but I personally would love to be able to run my own image server/jenkins/etc process like you run for images.linuxcontainers.org.  Sadly, my ubuntu-fu is a bit weak on that subject as I'm just a poor dumb network guy.  My goal would be to customize the process to tweak the images f

[2017-08-27 14:02] asbachb opened #3725 "D-Bus fails to start with archlinux image"
# Required information

 * Distribution: archlinux
 * Distribution version: latest

[code]

# Issue description

When creating a new (unprivileged) container based on archlinux image dbus is unable to start. So that systemd is not working too.

[code]

[code]

# Steps to reproduce

 1. lxc launch images:archlinux container1
 2. lxc exec container1 -- systemctl status

# Information to attach

[cod

[2017-08-27 14:09] brauner commented on #3725
Can you show the outpuf of `ps auxf` inside the container?

[2017-08-27 14:11] asbachb commented on #3725
[code]

[2017-08-27 14:12] brauner commented on #3725
Systemd did not start up correctly. This is likely unrelated to `dbus`. Can you show:

    cat /proc/1/mounts | grep cgroup

from the host and from inside the container?

[2017-08-27 14:15] asbachb commented on #3725
When I get it right systemd depends on d-bus.

[code]

[code]

[2017-08-27 14:16] brauner commented on #3725
And `ls -al /sys/fs/cgroup/unified` from inside the container please. :)

[2017-08-27 14:17] asbachb commented on #3725
sure :)

[code]

[2017-08-27 14:18] brauner commented on #3725
Hm, `ls -al `/sys/fs/cgroup/unified/lxc` on the host, please.

[2017-08-27 14:20] brauner commented on #3725
Hm, and dmesg output from the host and `journalctl` output from inside the container. :)

[2017-08-27 14:20] asbachb commented on #3725
[code]
[code]

[2017-08-27 14:24] asbachb commented on #3725
[code]

[code]

[2017-08-27 14:28] brauner commented on #3725
Right, I suspect that this is due to `liblxc` not handling hybrid cgroup layouts. I've implemented support for this in git master but we haven't released a new version yet. The two patches you need are:

https://github.com/lxc/lxc/pull/1713/commits/04ad7ffe2a42fb2fa2e78e694990b385fd2dd5e0
https://github.com/lxc/lxc/pull/1713/commits/6328fd9c05d2730182eb738ffd320de716f062bb

Until then you can try

[2017-08-27 14:32] asbachb commented on #3725
Works with your workaround. Looking forward for the new release :)

[2017-08-27 14:33] #3725 closed

[2017-08-27 16:05] stgraber commented on #3723
You are running a Linux 4.4.0-21 kernel when the current kernel for Ubuntu 16.04 is 4.4.0-92.115 so you're about 70 kernel updates behind, including the one that's needed to support running Docker inside a LXD container.

Update your system and reboot, then confirm you're on a 4.4.0-92 kernel and then try again.

[2017-08-27 16:05] #3723 closed

[2017-08-28 09:26] Mantwon opened #3726 "/dev/rbd0: File name too long"
# Required information

 * Distribution: Ubuntu Server
 * Distribution version: 16.04.3 (fully updated)
 * The output of "lxc info" or if that fails:
[code]
# Issue description
I am unable to provision a container -- I've verified that using the manual process for creating images / mounting / formatting works.

[code]

I've also tried it with a different image

[code]

# Steps to reproduce

 1. us

[2017-08-28 09:26] jadjay opened #3727 "LXD Network ovs bridge - Error with interfaces ipv6 link-local address - "Only unconfigured network interfaces can be bridged""
https://github.com/lxc/lxd/blob/d59a112ff91d8914ca31ef536d6d9eeddbceaffb/lxd/networks.go#L659-L678

The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.4
 * The output of "lxc info" or if that fail

[2017-08-28 09:47] brauner commented on #3726
Right, so this seems to be a limitation of ceph not of LXD. To quote:

osd max object namespace len = 64

Maybe we should consider making `xfs` instead of `ext4` the default.

[2017-08-28 09:48] brauner commented on #3726
Related issue is here http://tracker.ceph.com/issues/16187 .

[2017-08-28 09:57] brauner commented on #3726
You can also retry by setting

    lxc storage set <pool-name> volume.block.filesystem xfs

[2017-08-28 10:27] Mantwon commented on #3726
Yeah, I was able to use ext4 manually -- however when I tried to provision through LXD it did not work properly.

as well --

[code]

[2017-08-28 10:34] brauner commented on #3726
@Mantwon, thanks that looks like a bug. Let me take a look real quick!

[2017-08-28 10:41] brauner commented on #3726
@Mantwon, is it possible for you to destroy the osd pool and create a new ceph storage pool via:

    lxc storage create lxd ceph volume.block.filesystem=xfs

and report back if that works? If not it's fine as well.

[2017-08-28 10:50] Mantwon commented on #3726
This is very weird, I would have though that would work!

[code]

[2017-08-28 11:00] brauner commented on #3726
I just tried with current git master and I don't have any problems with creating `ext4` or `xfs` based `osd` storage pools. The difference is that I'm on the Jewel (10) release of CEPH so the problems you're describing might really just kick in with later releases. Can you please run your daemon with

    sudo lxd --debug --group lxd --logfile /some/path/to/a/logfile.log

try to create and try to

[2017-08-28 11:05] brauner commented on #3726
I have a suspicion of what is going on. So what LXD is doing before it creates a container it will create an image. The image data set name will be:

    <osd-pool-name>/images_<fingerprint>

I have no clear idea how ceph stores these names internally and what it additionally adds to the name itself in terms of metadata but he combination of `strlen(images_<fingerprint>) + ceph_metadata` might exc

[2017-08-28 11:14] techtonik commented on #3712
@jfgibbins I don't see where Docker force loads the module in https://github.com/docker/libnetwork/blob/master/drivers/bridge/setup_bridgenetfiltering.go

It checks file `/proc/sys/net/bridge/bridge-nf-call-iptables` and writes to it, but I see no module manipulation.

[2017-08-28 11:19] Mantwon commented on #3726
[code]

[2017-08-28 11:21] Mantwon commented on #3726
I will append: I created an image called something like "d4b61f799ac371b36f790eaceff06d406c72729c0383c651df09fc546cd09d86" manually, (I copied from one of the failed one), I mapped it, mkfs'd it, and mounted it no problem using manual process, so it accepted that fingerprint length

[2017-08-28 11:28] brauner commented on #3726
@Mantwon, can you show:

    rbd ls <pool-name>

please?

[2017-08-28 11:33] Mantwon commented on #3726
[code]

[code]

[2017-08-28 11:34] scm20008 commented on #3723
@stgraber Thanks very much, when I upgraded the kernel, and  another error appears:

docker: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:252: getting pipe fds for pid 737 caused \"readlink /proc/737/fd/0: permission denied\"".

root@docker-server:~# uname -a
Linux docker-server 4.4.0-92-generic #115-Ubuntu SMP Thu Aug 1

[2017-08-28 11:36] brauner commented on #3726
Ah right, I've implemented ceph sort of transactional, meaning everything **should** be reverted on failure. Ok, can you give me the exact steps when you manually created a dataset?

[2017-08-28 11:41] Mantwon commented on #3726
[code]

[2017-08-28 11:44] brauner commented on #3726
Hm, let me check if the code that parses out `/dev/rbd/<idx>` is doing something weird.

[2017-08-28 11:45] scm20008 commented on #3723
lxc config set <containter_name> security.privileged true

after run the upper command, and the docker container start successfully!
thanks very much again!

@stgraber

[2017-08-28 11:50] brauner commented on #3726
Can you please try:

    lxc storage volume create <pool-name> bla

and report back if that works?

[2017-08-28 11:52] Mantwon commented on #3726
Did not work, same error

[2017-08-28 11:56] brauner commented on #3726
Can you create + map an image manually named:

`lxd/images_58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08`

?

[2017-08-28 11:58] Mantwon commented on #3726
[code]

[2017-08-28 11:59] brauner commented on #3726
Thanks!

[2017-08-28 12:02] Mantwon commented on #3726
here is w/ a 256 char name as well:

[code]

[2017-08-28 12:23] brauner commented on #3726
The LXD daemon sits on the same node where you're calling `mkfs.\<type\>` from?

[2017-08-28 12:40] R3curve commented on #3715
Thanks for the quick fix! I pulled the current master and build it on both servers. The live migration still fails, it says the action script fails.

To narrow down the problem I tried a "lightweight" live migration, meaning I did a snapshot of the container moved the container and restored it, leading to the following issue:

First, I expected it to be a problem with CRIU but I tested the "lightw

[2017-08-28 13:23] renky commented on #3682
where is this file placed? I cant find any "backup.yaml" on my whole disk?! But I thinks it's only not mounted so that "locate" cannot find it?!

[2017-08-28 14:45] brauner commented on #3715
The `rdma` cgroup controller is a fairly recent addition in kernels. CRIU tries to restore this mount on a system that doesn't support the `rdma` controller apparently and it fails. It seems CRIU is not handling controller mismatch. This is unrelated to LXD.

[2017-08-28 16:21] stgraber opened #3729 "Expose available host resources over the API"
This is a placeholder issue for now. I'll update it with details of what we want to expose at:
 - daemon level (host CPU, host memory, ...)
 - storage level (pool size, used space, available space, ...)
 - network level (amount of data transferred, number of available ports, ...)

[2017-08-28 17:18] stgraber opened #3730 "Allow exporting/importing containers (for backups)"
This is a placeholder issue for us to think about and implement a better, simpler backup mechanism for those who want offline backups of their containers.

[2017-08-28 17:45] stgraber commented on #3682
It's in the zfs dataset, so yeah, it's probably just not mounted right now.

[2017-08-28 17:52] stgraber commented on #3727
It's usually a good idea to disable IPv6 on the underlying devices, just to avoid a kernel race condition where it may grab a global IPv6 right before it gets bridged, but yes, the check should be relaxed to allow bridging interfaces that only have an IPv6 link-local device.

[2017-08-28 18:25] Mantwon commented on #3726
yes, it does.

[2017-08-28 18:59] kbrenneman commented on #1862
I just stumbled across this today, and I found that the problem with using pigz is actually in the command line that lxd uses.

When lxd runs the compression command, it puts the command-line flags after the source filename:

`pigz source_file -c`

That fails with pigz, because it follows normal POSIX rules, where option flags like `-c` must precede positional arguments. Gzip (and probably most ot

[2017-08-28 19:30] Kramerican commented on #3730
I have been doing this with an adapted script from [https://github.com/vistoyn/backup-tools](https://github.com/vistoyn/backup-tools) where you essentially dump the container config and then tar gzip it along with the rootfs, excluding proc sys and tmp.

I've also written a number of CLI tools in order to restore existing containers from such backups, or provision new ones (and fixing up the netwo

[2017-08-28 21:01] huegelc commented on #3730
I follow this topic with high interest. I've tried different methods backing up lxd containers described in the lxd backup strategy and for now I'm sticking with doing this on the filesystem level (Btrfs). I know it's not 100% reliable and maybe not the "right way" but in lack of other options my best choice.

[2017-08-28 22:59] #3721 closed

[2017-08-28 22:59] #3727 closed

[2017-08-28 23:02] stgraber commented on #3714
Assuming it was the simple sudo issue highlighted above, so closing this issue. Feel free to comment with the information requested above if it's not a simple confusion between /root/.config/lxc and /home/USER/.config/lxc.

[2017-08-28 23:02] #3714 closed

[2017-08-28 23:07] stgraber commented on #3429
Looked into this one a bit more now. I don't think casync is really getting us anything over rsync and the latter is much more widely available. casync's strength seems to be in delta transfers such as what happens when mirroring a large set of ever changing content. That's not what we use rsync for in LXD.

Our use of rsync is strictly limited to a one or two step sync of a filesystem tree. We do

[2017-08-28 23:07] #3429 closed

[2017-08-28 23:12] stgraber commented on #3079
@ParanoikCZE did you get to try this again on something recent like 2.16 or 2.17?

@FransM did you make any more progress on this? Is it still affecting you with newer LXD releases?

[2017-08-29 05:48] Mantwon commented on #3726
I think I may have found the problem, it has to do with Bluestore + the 100MB partition, I was able to repro the error that was happening manually by:

[code]

255 char vs 256 char... I wonder if there is a temp file of some sort that has a very long name writing some sort of metadata to

/var/lib/ceph/osd/ceph-0

I will continue to experiment.

[2017-08-29 08:14] pgassmann commented on #3721
Thank you! What solution did you implement?

[2017-08-29 09:25] renky commented on #3682
Hmm... i don't get any files - where are the files placed?
zfs list shows me that:
[code]
when I try to mount the container it seems already to be mounted:
[code]
but the directory is empty:
[code]

[2017-08-29 13:10] davidfavor opened #3736 "lxd copy slow + appears to run multiple copies of rsync"
When lxc copy runs several potential oddities can occur....

1) Sometimes cloned containers fail to start in various ways, for example /var/lib/mysql files are corrupt, so database fails to start.

2) Sometimes lxc copy completes, with no error + new container simply doesn't exist.

3) Looks like three simultaneous rsync commands occur for each lxc copy, which means it's anyone's guess how multipl

[2017-08-29 13:14] davidfavor commented on #3730
@Kramerican, be great if you can post your cli restore tools, in a zip file.

I'm in the same situation, where I have 100s of LXD containers running across many machines + require a mechanism to restore a container on any machine, any time + have the container work.

This was very easy with LXC + ridiculously difficult with LXD.

I'll take a look at the above link.

Thanks for posting it.

[2017-08-29 13:29] brauner commented on #3726
Yeah, I wasn't able to reproduce this with the `luminous` release you're using either. So I highly suspect this might be related to your storage that is somehow limited.

[2017-08-29 13:31] brauner commented on #3736
What's the storage backend you're using?

[2017-08-29 15:42] davidfavor commented on #3736
[code]

[2017-08-29 17:35] stgraber commented on #3721
We detect if two containers have the same ipv4.address and ipv6.address, if that's the case, the second container gets its mac address added to the static entry of the first.

So we effectively give you exactly what you asked for. Both containers do get the same addresses as requested.

[2017-08-29 17:52] stgraber commented on #3682
Hmm, is the container running? If so, that may be while zfs isn't letting you mount it.

What's in your /proc/self/mountinfo?

[2017-08-29 19:42] renky commented on #3682
Yes, it is running. So do i have to stop it and then mount offline?

Am 29. August 2017 19:52:57 MESZ schrieb "Stéphane Graber" <notifications@github.com>:

[2017-08-29 19:47] renky commented on #3682
ok thats it:

[code]

[2017-08-29 20:06] stgraber commented on #3682
Cool, that should be enough to try to reproduce this. @brauner can you take a look?

[2017-08-29 20:18] FransM commented on #3079
Hi Stephane,
Last week I picked this up again and tested with 2.16. The issue is still there.I hope to have time to debug this further in a week or two. The plan is to run a wiresharkon both the container machine and the machine running the test and see where in thecommunication it fails (but feel free to coin other debug ideas).
Best regards, Frans

      From: Stéphane Graber <notifications@gith

[2017-08-29 21:03] brauner commented on #3682
Uhm, this smells an aweful lot like the infamous zfs EBUSY bug.

[2017-08-29 21:03] brauner commented on #3682
Oh, nm the container was running.

[2017-08-29 21:03] stgraber commented on #3079
@FransM thanks for the update. I really hope that wireshark will shed some light on exactly what's going on here as all the logs we've seen so far have failed at doing that...

[2017-08-29 21:04] brauner commented on #3682
Which is still the EBUSY bug but we might be able to handle this by telling the user that {s,h}e needs to stop the container before importing.

[2017-08-29 21:19] stgraber commented on #3682
@brauner the import succeeded. The container got created and is running. The issue is that all snapshots got lost.

The reproducing steps are in the bug description. The rambling after that in comments was just to get to the backup.yaml which did indeed need to workaround the usual EBUSY issue.

[2017-08-29 21:30] brauner commented on #3682
I'm sorry, I'm still very confused. So any storage entity created under

`<pool-name>/snapshots/<name>`

is supposed to be an ephemeral entity that e.g. gets created on migration and similar things so this is not actually something that LXD is supposed to backup. Especially since it seems the author stated that he didn't back it up. The container itself seemed to have been backed up just fine incl

[2017-08-29 21:31] brauner commented on #3682
Ah, the snapshots itself are not in the database.

[2017-08-29 21:38] stgraber commented on #3682
Right, that :)

The zfs backup and restore went fine based on this report, the snapshot information is properly contained in the backup.yaml file, yet none of the snapshots actually got created in the LXD database on import.

[2017-08-29 21:39] brauner commented on #3682
So the explanation seems straightforward:
For the import to succeed the code must have had access to the container's `backup.yaml` file at some point during the import otherwise the import would have failed right away.  My suspicion is that during the import the dataset got umounted for whatever reason (@stgraber, explanation for this?). Then our code checks for discrepancies between snapshots tha

[2017-08-29 21:43] renky commented on #3682
just to clarify: the backup.yaml that i postet up was BEVORE an import... so after I didn't get the conatiner running I deleted everything and started from scratch... this current container "test" was running properly - I added 3 snapshots - but I didn't yet delete it and restore over zfs... do you think the backup.yaml would change then? If so, I can delete it now and then do the lxd import and a

[2017-08-29 21:59] renky commented on #3682
ok, now I deleted the container and restored the zfs dataset with snapshots:
zfs list -t all shows the snapshots:
[code]
but i again didn't backup zpool1/lxd/snapshots/test

now lxd import test worked without error, but then lxc start test gives me the same error as described  - and the backup.yaml is now about 2k smaller than before - here again:
[code]

[2017-08-29 22:48] Mantwon commented on #3726
I think I've found something...

it looks like LXD is expecting the image to be in a the ceph store, yet the default image store is set to use the local storage.

what is the LXD switch to point the image store at ceph instead of local storage?

I found this was being called

[code]

image_58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08 does not exist, it exists in /var/lib/lxd/im

[2017-08-29 22:51] Mantwon commented on #3726
also @brauner it looks like that
'Config parsing error: the key size cannot be used with CEPH storage pools'
was caused from
'size: 15GB'
being set in the default pool config

[2017-08-29 22:59] brauner commented on #3726
@Mantwon, I'm sorry, I don't really understand want you mean by local store and ceph store?

[2017-08-29 23:17] Mantwon commented on #3726
it looks like LXD is expecting thar 'lxd/image_58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08@readonly' exists, but it doesn't.

That image only exists on in /var/lib/lxd/images

[code]
[code]

so when it goes to clone the 16.04 image to create the root fs, its looking for an image in the ceph pool but it doesn't exist.

I think I need to tell lxd to save the 16.04 image as rbd:/

[2017-08-29 23:21] brauner commented on #3726
Ah, no what you referring to is just the tar file in the image store. This has nothing to do with the storage volumes itself. The logs clearly show that LXD tries to create the image in the rbd storage pool but fails due to the limit in the storage device that is used.

[2017-08-29 23:40] Mantwon commented on #3726
We are still having a miscommunication - I was able to get this sort of working by:

[code]
rbd snap create lxd/image_58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08@readonly
[code]
rbd snap protect lxd/image_58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08@readonly
[code]
lxc launch 58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08
[code]

[2017-08-29 23:43] brauner commented on #3726
LXD internally will do:

    rbd image create
    mkfs.<type
    unpack + import tar contents into the image file
    rbd snap create
    rbd snap protect
    rbd clone container from protected image

[2017-08-30 00:40] Mantwon commented on #3726
I ran it in debug mode, and caught it while the image still existed on rbd before it ran mkfs - I then used rbd map manually, and ran mkfs.xfs manually and it worked.

I am truly stumped to what is going on.

You can close this ticket if you want, or leave it open and when I figure it out can post information.

[2017-08-30 01:35] Mantwon commented on #3726
Update:

I got it to work -- by manually creating the image and importing it to RBD

[code]

I went through all of the steps outlined in the code, and did them manually to just get it to the point the image exists, and the rest worked.

There appears to be a problem with my setup and the initial copy of the image over to the rbd volume (which you suspected), the rest of the process works great.

C

[2017-08-30 02:20] Mantwon commented on #3726
More:

[code]

I added a sleep 300 at the part where it breaks, and then did that step manually:

[code]

[2017-08-30 02:50] Mantwon commented on #3726
I hard coded '/dev/rbd/lxd/image_38431cacc7971d3faa5c23c917897e840ac499fd3744625484720dfb38a4146b' into the mkfs command, and it progressed passed that point, until it started using /dev/rbd2 as the RBDDevPath and failed again.. I believe it doesn't like using /dev/rbd(#).

Though /dev/rbd(#) works fine manually.

[2017-08-30 06:17] stgraber commented on #3726
We unfortunately can't use the /dev/rbd/... paths because those are dependent on a udev rule which isn't always present in all environments (like in our snap package for example).

[2017-08-30 06:26] brauner commented on #3726
Hm, can you try hardcoding /dev/rbd2 and see if it still fails.

[2017-08-30 07:30] Mantwon commented on #3726
it does not work hardcoding /dev/rbd(x) -- but oddly, it fails silently and just says it can't run -- it doesn't give the same error.

[2017-08-30 07:52] Mantwon commented on #3726
Maybe its a problem with Go?

TERMINAL 1:

[code]

Terminal 2:
[code]

Code I changed:
[code]

[2017-08-30 10:13] Kramerican commented on #3730
@davidfavor our tools are very much baked into our management tools, so it would be a bit difficult and time consuming to split out the relevant parts for you. However, feel free to shoot me any specific questions you might have and I'll try to help the best I can.

[2017-08-30 11:00] brauner commented on #3682
Right, I managed to reproduce and my reasoning from above holds up nicely. So this is tricky since this will lead us right back to poking for the existence of the storage entity directly. And that in turn is dependent on the storage driver and that in turn is difficult since some drivers such as Ceph's RBD images may not even be mapped which makes them basically undiscoverable on disk itself.

[2017-08-30 11:02] brauner commented on #3682
I mean, there's always the possibility that we can take the container's word for it and assume that all snapshots listed in the `backup.yaml` file actually exist but that is dangerous since we might end up with db entries for storage entities that do not actually exist on disk which makes it impossible to delete.

[2017-08-30 14:12] brauner commented on #3726
So one more thing I'd like you to try. Do the same stuff you did with stopping the daemon and then call `mkfs.<type>` on the corresponding `/dev/rbd<idx>` path and immediately after execute `$?` in the shell and report back the exit code. It maybe the case that the command actually creates the filesystem but still fails due to being unable to write the appropriate metadata. LXD calls `TryRuncomman

[2017-08-30 14:21] brauner commented on #3726
Sorry, I also need to correct myself. The problem doesn't come from the filesystem support for the RBD image itself. The problem comes from using `ext4` as the underlying filesystem for the OSD storage pool itself. If you do that then we won't support it since Ceph is explicitly warning about his. Ideally we'd only support `xfs`. I talked to @javacruft about this as well.

About `Bluestore` the ge

[2017-08-30 15:27] Mantwon commented on #3726
The OSDs are using bluestore, and have an XFS based partition for the metadata -- the only time EXT4 was ever introduced was before I swapped the storage pool backend to xfs inside LXD, but that didn't seem to make any difference.

I will do more debug today and get back to you.

tl;dr -- there is no ext4 in my setup.

[2017-08-30 15:30] brauner commented on #3726
Thanks!

[2017-08-30 15:36] knitzsche commented on #2767
I had the same issue. Same steps fixed it:
sudo rm /var/lib/lxd/networks/lxdbr0/dnsmasq.pid
sudo systemctl restart lxd
lxc restart mycontainer
now it has an IPv4 address.

lxc: 2.0.8-0ubuntu1~16.04.2
lxd: 2.5-0ubuntu1~ubuntu16.04.1~ppa1
(maybe that ppa version was the issue... it arrived from the ubuntu-sdk-team ppa which I've now killed off:
 *** 2.5-0ubuntu1~ubuntu16.04.1~ppa1 500
        500 ht

[2017-08-30 15:38] stgraber commented on #2767
@knitzsche yeah, 2.5 is very very much unsupported at this time and indeed never received the bugfix for the dnsmasq pid issue.

On 16.04, you should either run LXD 2.0.10 (xenial-updates) or LXD 2.17 (xenial-backports). The former doesn't have support for LXD managed networking and the latter does contain the fix for this issue.

[2017-08-30 18:19] memed81500 opened #3741 "x509 certificate error, using rest API (unknown authority...)"
Hi stephan :)

Here a description of my problem:
- Three physicals different servers are involved.

**1st server : Bare Ubuntu/LXD running a website/phpscript**

**2nd server: Bare Ubuntu/LXD hosting container ( like a slave VPS provider )**
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- conta

[2017-08-30 18:23] stgraber commented on #3741
Your POST request to create the container needs to have the third server's certificate added to the "source" struct so that the second server knows what certificate to expect and refuse connections if something is attempting a man in the middle attack.

So you'll need to set: req["source"]["certificate"] to be the PEM encoded x509 certificate of the 3rd server.

[2017-08-30 18:28] memed81500 commented on #3741
Thanks i'll try it ! Just amazing how fast you are to answer ! Just as LXD is fast to run container :)

[2017-08-30 18:31] parak opened #3742 "LXD hangs on startup"
Hi again,

This is apparently different to the previous issue with lxd group, but oddly similarly affecting only select group of nodes, even though all of them are running the same kernel and lxd version (2.17-0ubuntu2~ubuntu14.04.1~ppa1).

Essentially the startup hangs on this line:

[code]

I've tried actually removing all of the directory contents along with fully removing and reinstalling LXD/

[2017-08-30 18:36] stgraber commented on #3741
[code]

That's an example request as generated by "lxc copy".

[2017-08-30 18:37] stgraber commented on #3741
Closing this issue as it seems like the expected LXD behavior when not provided a certificate and the system CA can't validate the target.

[2017-08-30 18:37] #3741 closed

[2017-08-30 19:40] stgraber commented on #3742
Can you manually start LXD, passing the "--debug" flag?

 - systemctl stop lxd.service lxd.socket
 - lxd --debug --group lxd

[2017-08-30 19:41] stgraber commented on #3742
Oh, sorry, Ubuntu 14.04...

 - initctl stop lxd
 - lxd --debug --group lxd

[2017-08-30 19:45] stgraber commented on #3736
You may also want to keep an eye on /proc/PID/fd/ for each of the rsync PIDs. That would give you a good idea as to what file it's busy transferring, letting you see if any one file is causing problems.

[2017-08-30 20:12] parak commented on #3742
Yep, just hangs after the last line:

[code]

[2017-08-30 20:21] stgraber commented on #3742
Oh, your LXD is stuck in setup mode apparently. Can you try removing /var/lib/lxd/.setup_mode and then start it again?

[2017-08-30 20:23] stgraber commented on #3742
Setup mode is used so that the distribution packaging can inject LXD configuration before the daemon starts spawning containers and the like.

What's very weird is that setup mode isn't used with the LXD 2.17 package at all, so that'd have come from the original LXD 2.0.x that you had installed. It may have been stuck in setup mode prior to you upgrading to 2.17.

[2017-08-30 20:23] stgraber commented on #3742
I suspect removing that file from all affected servers will fix your problem.

[2017-08-30 20:28] parak commented on #3742
Yay, that was it, thanks. Really weird how it stuck around for so long and only caused an issue now, and explains why removing /var/lib/lxd/* didn't help either... rm -rf doesn't delete hidden files with that pattern :(

[2017-08-30 20:32] #3742 closed

[2017-08-30 21:59] Mantwon commented on #3726
welp, I figured out what it is.

[code]

[code]

the warning messages that you can't disable in ceph for the bluestore stuff is being passed into the mkfs for some reason.

[2017-08-30 22:39] brauner commented on #3726
Wait wait, do you get the message when you map the volume?

[2017-08-30 22:40] brauner commented on #3726
Because that would explain why this gets passed to mkfs.<type>.

[2017-08-30 22:42] Mantwon commented on #3726
Yes, when you map the volume manually -- that message comes up, and that does explain why.

I've upgraded to 12.2.0 where that setting is default now (?maybe?), and commented it out of the config - and it looks like everything is working.

12.2.0 was released yesterday :) fffffffffff

Maybe the fix for this could be to sanitize the output of the ceph client

[2017-08-30 22:44] Mantwon commented on #3726
so anyone running ceph version lower than 12.2 and using bluestore will run into this same problem.

[2017-08-30 22:51] brauner commented on #3726
I'm going to sanitize our path handling! Thanks so much man, you saved me a ton of debugging. We really really appreciate the effort! I'll send a fix for this tomorrow right away. (Baring any weird issues popping up.) :)

[2017-08-31 00:34] brauner commented on #3726
@Mantwon, can you try to build with my #3744 it should fix your issue if we're right. I assume you're fine with building from source given your debugging skills. :)

[2017-08-31 01:24] Mantwon commented on #3726
Confirmed works! nice.

[code]

[2017-08-31 04:15] #3726 closed

[2017-08-31 09:56] ParanoikCZE commented on #3079
@FransM Sorry for not responding, our priorities changed after release (memory leaks, performance and security) so we weren't able to investigate this further. However, I have it still in my todo.

[2017-08-31 10:50] nlienard opened #3747 "Ceph container and Live Migration"
Hello

I've a LXC container into ceph and i would like to know how to move it (live or not) from a node to another.

For now, got this error

     root@inxovh-hy001 (node1):~# lxc move inxovh-nli5001 node2:
     error: Failed container creation:
      - https://192.168.10.1:8443: Failed to run: rbd --id admin --image-feature layering, --cluster ceph --     pool lxd-pool --size 10737418240B create

[2017-08-31 10:55] brauner commented on #3747
This seems to be the same issue that you already had a couple of days back so my comment https://github.com/lxc/lxd/issues/3716#issuecomment-324956166 here still applies. :) Please also see the relevant section https://github.com/lxc/lxd/blob/master/doc/storage.md#ceph . Especially:

[2017-08-31 10:55] #3747 closed

[2017-08-31 11:02] nlienard commented on #3747
i created this specific issue because the previous was not related to live migration but container creation with ceph storage, sorry for the inconvenience.
So if we can't share a ceph pool between multiple LXD instances, what is the benefit to use ceph ?

Is it on roadmap to have live migration support between multiple LXD instances ? :)

thanks again

[2017-08-31 12:10] brauner commented on #3747
@nlienard, as @stgraber pointed out in the previous issue sharing storage pools between LXD instances is very much on our roadmap. However, there's a lot of plumbing to do to get this to work correctly. :)

[2017-08-31 21:05] rsindlin commented on #2008
@yn5 - fyi, it looks like this was fixed in lxcfs - https://bugs.launchpad.net/ubuntu/+source/lxcfs/+bug/1656309

[2017-08-31 21:39] brauner commented on #2008
@rsindlin, yes, this has in fact been fixed for a very long time now. :)

[2017-09-01 15:04] olivier-etienne opened #3750 "How to compute/retrieve the fingerprint of an exported image"
I have generated an image using lxc image export image_name image_archive_name
I can get the fingerprint of an existing image with : lxc image info

But I would like to retrieve the fingerprint of the image_archive before to import it again.

How can I do that ?

Olivier

[2017-09-01 15:28] yn5 commented on #2008
Thanks for the update @rsindlin @brauner

[2017-09-01 17:08] jadjay opened #3751 "How to set network a description ?"
# Required information

 * Distribution: all
 * Distribution version: all
   * Kernel version: 4.10
   * LXC version: 2.17
   * LXD version: 2.17

# Issue description

When show network
[code]

There is a description field which you can't update :

[code]

Nor during creation :
[code]

The only way is to edit
[code]

It's not really easy to change if you need to define via scripts...

[2017-09-01 18:46] stgraber commented on #3751
Yeah, "lxc network edit" is the only way to do it as "description" is an attribute of the network object, not a config property. The same is true for a few other properties here and there.

At the API level it's all pretty nice and clean, it's just at the CLI level that this looks a bit awkward.

"lxc network edit" does allow parsing stdin, so you can technically script it.

[code]

[2017-09-01 18:47] stgraber commented on #3750
If you have a single file, do "sha256sum FILE", if it's a split image, you need to "cat META ROOTFS | sha256sum".

[2017-09-01 18:48] stgraber commented on #3750
In the split image case, the order matters, the first file must be the tiny metadata file and the second one be the large rootfs file.

[2017-09-02 00:58] Mantwon opened #3752 "rbd snapshots need uuid to be re-generated on clone"
Hello there!

I've noticed that when creating more than 1 container with the same image per LXD host, the rbd clone function does not change the UUID of the snapshot.

[code]
[code]

This causes Linux to throw an error

[code]

I was able to solve the problem by running

[code]

on the containers that would not start.

[2017-09-02 02:34] stgraber commented on #3752
@brauner Looks like the ceph backend is missing a call to xfsGenerateNewUUID()

[2017-09-02 03:59] brauner commented on #3752
@stgraber, sent a pr that moves the xfs uuid generation into the mkfs function itself.

[2017-09-02 05:41] debdattabasu opened #3754 "Network isolation"
Hi.
I have created two bridge networks using lxc network create. I expect containers on these networks to be isolated from each other. However, containers created on these networks can freely access each other over tcp. What do I need to do to set this up?

Regards
Debdatta Basu

[2017-09-02 05:44] stgraber commented on #3754
Good old fashion firewalling on your host.

[2017-09-02 05:45] stgraber commented on #3754
iptables -A FORWARD -i bridge1 -o bridge2 -j REJECT
iptables -A FORWARD -i bridge2 -o bridge1 -j REJECT

Or something more specific depending on exactly what you want to allow/block.

[2017-09-02 05:52] debdattabasu commented on #3754
Hi,
This is what I was planning to do, but this is an extra step from an orchestration standpoint. I wanted to  check if lxd had something like this built in.

Thanks for your quick response.
Regards,
Debdatta Basu

[2017-09-02 15:15] stgraber commented on #3754
Hi,

No, we've been staying away from implementing firewalling capabilities in LXD, at least for now.
This would add a lot of code and complexity which wouldn't always be welcome by our users as most tend to have existing firewalling tools and scripts on their servers.

[2017-09-02 15:15] #3754 closed

[2017-09-02 15:30] jfgibbins opened #3755 "LXD on 17.04 using juju bootstrap does not create container"
https://jujucharms.com/docs/2.0/clouds-LXD states that juju only works on Xenial, though I have seen numerous references, of systems running on Yakkety and Zesty.  Is the website just out of date, or is support still iffy?  I attempted to "juju bootstrap lxd test", and while it creates the controller, it does not show up as a container as in @stgraber https://stgraber.org/2016/06/06/lxd-2-0-lxd-an

[2017-09-02 15:34] stgraber commented on #3755
My understanding is that the version of Juju in the Ubuntu archive is quite a bit behind and not particularly well supported. Unless you're using the Ubuntu LTS.

They do have a PPA which gets the newer releases and may work better. I believe you'll want Juju 2.2.x or higher.

[2017-09-02 16:18] jfgibbins commented on #3755
@stgraber Appreciate the help.  So far the 2.2.x version created the container.  I try to stick with the archive versions unless I know of a reason to do otherwise.  Had seen about Xenial only, but hadn't about updated version, and figured you of all people would know.  I'll continue testing, but close this as this particular issue is solved.  BTW, reason I'm trying juju, is from what I've seen so

[2017-09-02 16:18] #3755 closed

[2017-09-02 17:35] #3752 closed

[2017-09-02 18:50] nlienard opened #3756 "Log showing : bindings.c: 3865: proc_uptime_read: failed to write to cache"
Got plenty log saying

Sep  2 20:44:35 inxovh-hy001 lxcfs[9071]: bindings.c: 3865: proc_uptime_read: failed to write to cache
Sep  2 20:45:00 inxovh-hy001 lxcfs[9071]: message repeated 7 times: [ bindings.c: 3865: proc_uptime_read: failed to write to cache]
Sep  2 20:45:13 inxovh-hy001 lxcfs[9071]: bindings.c: 3865: proc_uptime_read: failed to write to cache
Sep  2 20:45:16 inxovh-hy001 lxcfs[9071

[2017-09-02 19:01] stgraber commented on #3756
That's coming from lxcfs, can you open an issue at https://github.com/lxc/lxcfs/issues?

[2017-09-02 19:54] brauner commented on #3756
Which LXCFS version is this. There's a commit for uptime in git master that should fix this. This is the same issue as the "bad data in proc uptime" errors.

[2017-09-02 20:01] nlienard commented on #3756
root@inxovh-hy001 (node1):~# dpkg -l |grep lxc
ii  liblxc1                              2.0.8-0ubuntu6~ubuntu16.04.1~ppa1          amd64        Linux Containers userspace tools (library)
ii  lxc-common                           2.0.8-0ubuntu6~ubuntu16.04.1~ppa1          amd64        Linux Containers userspace tools (common tools)
ii  lxc-templates                        2.0.8-0ubuntu6~ubuntu16.04.

[2017-09-02 20:04] nlienard commented on #3756
sorry didn't know it was a separate project

[2017-09-02 20:08] nlienard commented on #3756
looks related to https://github.com/lxc/lxcfs/pull/205

    root@inxovh-hy001 (node1):~# cat /var/lib/lxcfs/proc/uptime
    0.00 0.00

[2017-09-02 22:02] rayxis opened #3757 "lxd 2.17 init issues with dnsmasq"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: CentOS
 * Distribution version: 7
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.12.10-1.el7.elrepo.x86_64
   * LXC version: 2.17
   * LXD version: 2.17
   *

[2017-09-03 02:59] stgraber commented on #3757
Hmm, that's going to become annoying if we need to add version checks for dnsmasq now...

[2017-09-03 03:00] stgraber commented on #3757
A temporary workaround for you is to start LXD with "--debug", this will have it skip that part of the code.

[2017-09-03 03:43] stgraber commented on #3757
What version of dnsmasq do you have? Apparently this feature has been included in dnsmasq 2.67 back in late 2013.

[2017-09-03 03:47] rayxis commented on #3757
The version is 2.66. I don't know why none of the centos repos haven't included an update since then.

[2017-09-03 03:57] stgraber commented on #3757
What does this show you?

    dnsmasq --version | head -1 | awk '{print $3}'

[2017-09-03 03:58] stgraber commented on #3757
Hopefully that'll print 2.66. We can add a version check but I need to be reasonably sure that dnsmasq's --version output is constant :)

[2017-09-03 04:08] rayxis commented on #3757
It's saying 2.66. I decided to just download and build a newer copy (2.77). I'm jumping through a ton of hoops everytime I install lxd on centos anyway, so it's not that much more big of a deal. Most of the headache is coming from shadow-utils getting along with libtool, not an lxd issue though. Maybe the repos can add lxd so I don't have to pretend I'm using Slackware again. :) It's doubtful thou

[2017-09-03 04:12] rayxis commented on #3757
Boom. The update to 2.77 worked. Thanks!

[2017-09-03 04:13] stgraber commented on #3757
Ok, cool. I'll send a branch which adds logic to detect the dnsmasq version and skip those flags if on < 2.67, that may help some other users.

[2017-09-03 07:53] huegelc commented on #3694
Updated to lxc 2.17 now this is getting weird, none of the containers got the actual IP address:

`for i in {5..10}; do lxc init ubuntu:16.04 cont$i; lxc config device add cont$i eth0 nic nictype=bridged parent=lxdbr0 ipv4.address=10.0.4.$i;lxc start cont$i; done`

[code]

[code]
[code]

[2017-09-03 08:59] asarubbo commented on #3688
I don't remember if I suggested this on another place, but since what you said, how sounds make lxc-checkconfig to check only what related to ipv4 with something like: lxc-checkconfig --without-ipv6

[2017-09-03 09:09] huegelc commented on #3694
Another steps which apparently worked:

`for i in {5..10}; do lxc stop cont$i;done`

Deleting wrong leases:

` cat /storage/lxd/networks/lxdbr0/dnsmasq.leases | grep -v "cont" > /storage/lxd/networks/lxdbr0/dnsmasq.leases `

`killall dnsmasq -SIGHUP`

Extracting MAC addreses of containers:

`for i in {5..10};do mac=`lxc config show cont$i | grep "volatile.eth0.hwaddr:"| awk '{print $2}'`; echo "$m

[2017-09-03 10:42] huegelc commented on #3694
This is getting frustrating:

[code]
[code]

[code]
[code]

[code]
No cont* leases in dnsmasq.leases

[code]
[code]

This issue cannot be reproduced and I´m not sure if this in fact a LXD or dnsmasq issue

[2017-09-03 10:50] asarubbo opened #3758 "error while loading shared libraries: cannot make segment writable for relocation: Permission denied"
* Distribution: Gentoo
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.44
   * LXC version: 2.0.8
   * LXD version: 2.16
   * Storage backend in use: btrfs

# Issue description
During the lxd init, on an host where is running pax+grsecurity I get:

[code]

I fixed it locally by enabling the kernel config CONFIG_PAX_ELFRELOCS=y but you may want to know that it is happening:
h

[2017-09-03 14:40] brauner commented on #3758
The Gentoo hardened kernel is - afaik - being deprecated. So I'm not sure that it's worth changing stuff in liblxc for this. :)

[2017-09-03 15:48] iyakimavetc opened #3759 "lxd zpool disappear"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu 16.04
driver: lxc
  driver_version: 2.0.8
  kernel: Linux
  kernel_architecture: x86_64
  kernel_version: 4.4.0-93-generic
  server: lxd
  server_pid: 2097
  server_version:

[2017-09-03 16:13] asarubbo commented on #3758
Hi, maybe that was a misunderstanding.

The hardened kernel on gentoo has been deprecated because there are no more grsecurity public releases.
But everyone can buy the grsecurity patches or use the latest public available set of patches.
What I would to mention is not the issue with grsecurity, but there is something to improve from the security side. That's all. :)

[2017-09-03 16:50] Mantwon opened #3760 "What is the best way to go about resizing rbd based images?"
What I've done now:

1) stop container
2) rbd resize <image> --size 30G
3) rbd map <image>
4) xfs_growfs /dev/rbpath
5) rbd unmap <image>
6) start container

is there an easier way to do this? is this bad to do it this way?

[2017-09-03 17:17] brauner commented on #3760
I can send a branch to implement this. What you did is fine but your lxd instance will have the wrong size property. You'd need to manually update it in the db iff you know what you're doing. :)

[2017-09-03 17:32] Mantwon commented on #3760
Branch will be fine, I have a build pipleline setup to cut my own packages (I already cut a package for the previous changes the last while).

[2017-09-03 18:16] stgraber commented on #3694
That really feels like dnsmasq being racy... Would have been interesting to try an "ifdown eth0 && ifup eth0" inside that container without restarting it and without reloading dnsmasq. If it then gets the right IP, that'd show that dnsmasq didn't process the reload signal in time and so the container got assigned an IP before dnsmasq actually refreshed its cache...

[2017-09-03 18:19] stgraber commented on #3758
Hmm, yeah, that'd ultimately be a Go compiler (cgo) bug so not something we have much/any control over.

The C code we maintain (liblxc and lxcfs) both can and usually are build with PIE/PIC so the problem here appears to be the way the Go compiler builds and links against cgo and external library code.

[2017-09-03 18:19] #3758 closed

[2017-09-03 18:23] stgraber commented on #3759
Can you paste:
 - "find /var/lib/lxd/"
 - "sqlite3 /var/lib/lxd/lxd.db 'SELECT * FROM storage_pools;'"
 - "sqlite3 /var/lib/lxd/lxd.db 'SELECT * FROM storage_pools_config;'"
 - /etc/zfs/zpool.cache (it's a binary file)

[2017-09-03 18:24] stgraber commented on #3759
Also, the entire /var/log/lxd/lxd.log (and any rotated file /var/log/lxd/lxd.log.*) would be useful too.

[2017-09-03 18:30] iyakimavetc commented on #3759
[https://gist.github.com/iyakimavetc/1f38a55abf9ca784c2ec3e564127d89e](url) - find
1|lxd|zfs| -  storage_pools
6|1|source|lxd
7|1|zfs.pool_name|lxd
zpool.cache - https://yadi.sk/d/8GAOuWmy3MZqgS

[2017-09-03 18:33] stgraber commented on #3759
Do you have a file at /var/lib/lxd/zfs.img?

[2017-09-03 18:35] iyakimavetc commented on #3759
No

[2017-09-03 18:39] iyakimavetc commented on #3759
https://yadi.sk/i/vt4wJKXp3MZrMe - lxd.log
https://yadi.sk/d/YgLyK98D3MZrMb - lxd.log.1

[2017-09-03 19:11] stgraber commented on #3759
Based on those logs it looks like you upgraded to 2.17 successfully and your containers were functional, then you shutdown or rebooted the system and ZFS couldn't come back up because its backend file wasn't around anymore.

[2017-09-03 19:12] stgraber commented on #3759
Sadly those two log files don't give enough historical data to see more of what happened...

Can you paste:

 - sudo sqlite3 /var/lib/lxd/lxd.db "SELECT * FROM patches;"
 - sudo sqlite3 /var/lib/lxd/lxd.db "SELECT * FROM schema;"

[2017-09-03 19:12] stgraber commented on #3759
That should help fill a bit more of the timeline.

[2017-09-03 19:20] iyakimavetc commented on #3759
1)
1|invalid_profile_names|1494763860
2|leftover_profile_config|1494763860
3|network_permissions|1496761342
4|storage_api|1496761343
5|storage_api_v1|1496761343
6|storage_api_dir_cleanup|1496761343
7|storage_api_lvm_keys|1496761343
8|storage_api_keys|1496761343
9|storage_api_update_storage_configs|1496761343
10|storage_api_lxd_on_btrfs|1496761343
11|storage_api_lvm_detect_lv_size|1496761343
12|sto

[2017-09-03 19:55] brauner commented on #3760
@Mantwon, I currently cannot access our ceph test server. If you could test and report back any errors that would be +1.

[2017-09-03 19:57] huegelc commented on #3694
OK here we go:

`for i in {21..25}; do lxc stop cont$i && lxc delete cont$i;done`

Creating containers:

[code]
[code]
[code]
[code]
[code]

[2017-09-03 20:08] iyakimavetc commented on #3759
Maybe I incorrectly put it. After the reboot, the containers did not turn on state stopped/ sorry for google translate

[2017-09-03 21:20] brauner commented on #3759
@stgraber, given from what he pasted:
[code]
His storage pools is not a loop-based pool so there'd be no disk file around. :)

[2017-09-03 23:39] stgraber commented on #3759
@brauner the zpool.cache file shows that it was backed by /var/lib/lxd/zfs.img

[2017-09-04 00:00] brauner commented on #3759
That doesn't make a lot of sense though given that the upgrade succeeded and the containers were functional. If the upgrade wouldn't have detected a `zfs.img` file it would still be in `/var/lib/lxd`. If the upgrade would have detected it it would have been either moved to `/var/lib/lxd/disks` or, if the rename or copy of the file failed, the upgrade would have failed and the file would still be i

[2017-09-04 01:52] stgraber commented on #3759
Yeah, the DB state is consistent with the fact that /var/lib/lxd/zfs.img had been gone before the upgrade to 2.8+

[2017-09-04 02:04] stgraber commented on #3759
Based on DB timestamps:
 - Initial install of LXD (between 2.2 and 2.7) on May 14th 2017
 - Upgraded LXD (to something between 2.11 to 2.14) on June 6th
 - Upgraded to LXD 2.17 on September 3rd

That last upgrade ran:

 - 12|storage_api_insert_zfs_driver|1504455436
 - 13|storage_zfs_noauto|1504455436
 - 14|storage_zfs_volume_size|1504455436
 - 15|network_dnsmasq_hosts|1504455436

None of which int

[2017-09-04 04:14] stgraber commented on #3694
And dnsmasq.hosts/cont25 contains 10.0.4.25?

[2017-09-04 04:15] stgraber commented on #3694
If so, can you send SIGHUP to dnsmasq and then try the ifdown&ifup again (so without ever stopping/restarting the container)?

That way only dnsmasq gets poked and LXD never gets involved. If that fixes it, then that pretty much narrows it down to dnsmasq's reload code being racy and occasionally dropping events on the floor...

[2017-09-04 04:16] stgraber commented on #3694
I really wish dnsmasq had a proper API to configure and query it... text files and POSIX signals doesn't really make a reliable API...

[2017-09-04 04:17] stgraber commented on #3760
@brauner what's wrong with our test server?

[2017-09-04 04:31] iyakimavetc commented on #3759
Uptime ~100d

[2017-09-04 06:43] huegelc commented on #3694
Hi @stgraber , thank you for you patience.
[code]

Yes, you´re right:

[code]

[code]

However, what I do not understand: shouldn´t LXD create the static host entry if the ipv4.address property is set on the container's network device?

If I create the container with the command:

[code]
All container receive bogus IP addresses:

[code]
and no host files are created:

[code]
If I create the contai

[2017-09-04 06:49] stgraber commented on #3694
The files certainly do get created here...

[2017-09-04 06:56] stgraber commented on #3759
Hmm, then it's going to be pretty much impossible to figure out what happened...

What we know based on all you provided is that your system was already broken on June 6th, it just wasn't apparent because you didn't reboot your system then.

Because of how files work on a unix system, you can have a ZFS pool be online, backed by a backing file which has been removed from disk. Everything will keep

[2017-09-04 07:00] stgraber commented on #3694
[code]

[2017-09-04 07:10] huegelc commented on #3694
Well, as you can see I can reproduce this every time. No host files are created:

[code]

[code]
[code]

[code]

[2017-09-04 07:24] jadjay commented on #3751
Ok, it's lame but it works...

Do you think CLI will give solution in future ?

[2017-09-04 07:34] stgraber commented on #3694
lxc network show lxdbr0
   ls -lh /var/lib/lxd/networks/lxdbr0/

[2017-09-04 07:39] huegelc commented on #3694
[code]
[code]

[2017-09-04 08:06] devec0 opened #3762 "Failure to run snaps in juju-launched LXD container with artful host"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: Artful Aardvark 17.10
 * Container Distribution version: Xenial Xaurus 16.04
 * The (relevant) output of "lxc info":
[code]
# Issue description

Whe

[2017-09-04 08:09] stgraber commented on #3694
What happens if you restart the LXD daemon? do they appear then?

[2017-09-04 08:11] stgraber commented on #3694
Also, what exactly are you running? Are you running current LXD from git master?

[2017-09-04 08:12] #3762 closed

[2017-09-04 08:12] stgraber commented on #3762
This is a snapd bug.

[2017-09-04 08:12] stgraber commented on #3762
https://bugs.launchpad.net/snapd/+bug/1709536

[2017-09-04 08:14] devec0 commented on #3762
Thanks for the pointer Stéphane, my searches did not turn this up. I'll me-too the snapd bug.

[2017-09-04 08:14] stgraber commented on #3751
Possibly. We have some general CLI rework on our list for LXD 3.0 (next 6 months or so) which does include surfacing some of those more hidden properties.

[2017-09-04 08:21] iyakimavetc commented on #3759
Can I say goodbye to my data?

[2017-09-04 08:34] huegelc commented on #3694
[code]

[code]

`service lxd restart`

[code]
[code]
The manually created hosts (cont2x) are removed

[code]
I´m almost tempted do backup all containers, remove lxc/lxd and re-install again :/

[2017-09-04 09:30] iyakimavetc commented on #3759
https://github.com/lxc/lxd/issues/3386 mya be file went away in this time

[2017-09-04 09:58] jadjay commented on #3751
If I can make propositions :

- Enable list dashed/undashed,
- Enable selection for visible attributes
- Enable those FOR EVERY OBJECTS (containers, networks, storages, profiles, AND FUTURE STUFF)
- Why don't you externalize in a dedicated listing module every object will call for listing ?
- Create a per user configuration (.lxdrc/.lxcrc) with default listing

Hope those propositions will help,

[2017-09-04 12:18] brauner commented on #3760
@stgraber, as i said on IRC I can't reach canonical-lxd to jump through to the test server.

[2017-09-04 14:10] tatraian opened #3764 "debugging "Resource temporarily unavailable""
Hello,

I use lxd to develop a program. Basically my application is built and runs in a CentOS 6 container that runs on my 17.04 Kubuntu. Sometimes (not always) I get error when I start this application (it contains several processes and inside the processes there are several threads). I always get this kind of error:
[code]

I tried to figure out what limit breaks the start but I don't find any l

[2017-09-04 14:15] brauner commented on #3764
Can you please show the output of:

- `cat /proc/sys/kernel/threads-max`
- `cat /proc/sys/kernel/pid_max`
- `ulimit -u`
- `ps auxH | wc -l`

I suspect that your process limit is too low

[2017-09-04 14:24] tatraian commented on #3764
The limits are the next on the host machine as root:
[code]

First `ps` output is the system in idle. Second when application has been started, third when a youtube playing is running and in that case the application cannot start.
And the same information from my container:
[code]

[2017-09-04 15:39] stgraber commented on #3759
That particular DB fix wouldn't have caused LXD to remove the .img file.
It could be that it's whatever led to the broken database back then which did though... Since the problem would only appear after a system reboot, it's very hard to tell.

You may want to do this for good measure:

    sudo find / -name zfs.img
    sudo find / -name lxd.img

Just to see if maybe those files got moved somewher

[2017-09-04 15:40] stgraber commented on #3759
Unfortunately undeleting file gets harder and harder as time passes since the space may already have been reclaimed for something else. It tends to work okay if you realize the problem immediately and re-mount the underlying storage read-only within seconds but in your case we're already talking days, so you'd need to be very very lucky for ext4 not to have written anything over the previously use

[2017-09-04 15:49] stgraber commented on #3764
For your first question, that particular error comes straight from the kernel and unless it triggers a kprintf where you'd get an entry in "dmesg", that's about as much information as you'll get from the kernel...

Does running the container privileged somehow fixes this?

[2017-09-04 19:46] Shashwatsh opened #3765 "59adaae8: cpio: cap_set_file"
# Required information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version: 2.0.10
   * LXD version: 2.0.10
   * Storage backend in use: zfs

## i got an error while installing k8s on a fedora running on LXD. it's possibly an LXD bug.

[code]
 - [ ] any relevant kernel output (`dmesg`)
 - [ ] container log (`lxc info NAME -

[2017-09-04 19:54] stgraber commented on #3765
The Linux kernel doesn't currently allow unprivileged users to set filesystem capabilities which results in that error when it is attempted. @hallyn has been working on a kernel patch to fix this for a while now, but it's yet to be merged.

Once that's merged upstream, any kernel that has this change will then be able to set such capabilities, fixing problems like the one you ran into.

Until then

[2017-09-04 19:54] #3765 closed

[2017-09-04 20:01] Shashwatsh commented on #3765
@stgraber i made the container privileged but i still have this issue

[code]

[2017-09-04 20:02] brauner commented on #3765
Did you restart the container after making it privileged?

[2017-09-04 20:02] Shashwatsh commented on #3765
No, let me try that

[2017-09-04 20:08] Shashwatsh commented on #3765
it works! thanks.

[2017-09-04 21:08] #3760 closed

[2017-09-05 01:03] itisnotdone commented on #2534
http://cloudinit.readthedocs.io/en/latest/topics/network-config.html#network-configuration-sources
If you prefer to work with cloud-init.
If you also prefer to work with MAAS, you can create containers with cloud-init network configuration and reserve the IPs with its hostname using MAAS API so you can access them using domain(or FQDN) provided by MAAS.

[2017-09-05 07:28] tatraian commented on #3764
Can I change the type of my container with command:
[code]

Will this cause problem of file ownerships?

[2017-09-05 07:37] stgraber commented on #3764
You'll have to restart the container after you change that property. LXD will re-map all the container files for you (well, all of those that are part of the container's rootfs anyway).

[2017-09-05 08:41] tatraian commented on #3764
Thanks! I turned my container to privileged and that doesn't solved the problem BUT I found that my user's process limit remains 1024, so I figured out that this limitation must comes from Cent OS setup. I found file:
`/etc/security/limits.d/90-nproc.conf` that contains the next:
[code]

So I modified this threshold to unlimited and that solved the problem. I'm not sure but I think this is because

[2017-09-05 08:41] #3764 closed

[2017-09-05 11:42] olivier-etienne commented on #3750
Thanks !

[2017-09-05 11:42] #3750 closed

[2017-09-05 12:07] brauner opened #3767 "Setting lxd.idmap via raw.lxc"
When users set `lxc.idmap` directly via `raw.lxc` LXD will happily create double mappings. Assume that LXD uses the idmap:

[code]
for the container but a user also sets:

[code]
directly. In this case LXD will create the union of these mappings. While I understand that setting `raw.lxc` is discouraged it is still helpful for users to be able to set `lxc.idmap` via `raw.lxc` directly even if `raw.

[2017-09-05 18:49] stgraber commented on #3767
I'd say just ignore this case. raw.lxc is appended to the generate config, we shouldn't try to special case things there.

The supported way of modifying id mapping in LXD is raw.idmap, not raw.lxc.

[2017-09-05 18:54] brauner commented on #3767
@stgraber, meaning don't implement any of the options and just let it fail as is?

[2017-09-05 18:58] stgraber commented on #3767
Yep. I don't think we need to ban it as it's very useful for us to debug stuff and that'd break users who upgraded from LXD releases that didn't have raw.idmap.

So just keep things as they are now and make sure we never tell anyone to use raw.lxc for idmap stuff.

[2017-09-05 18:59] brauner commented on #3767
Cool.

[2017-09-05 18:59] #3767 closed

[2017-09-06 03:41] niedbalski opened #3770 "Regression: "error: websocket: close 1006 (abnormal closure): unexpected EOF""
# Required information

 * Distribution: Ubuntu Xenial
 * Distribution version: 16.04.2
 * This issue is reproducible from 2.15 (built from commit https://github.com/lxc/lxd/commit/62908649b6e64e6f6cd15c709901e3dbacc90c3e to 2.17 as released in the current xenial-backports version 2.17-0ubuntu2~ubuntu16.04.1)
  driver: lxc
  driver_version: 2.0.8
  kernel: Linux
  kernel_architecture: x86_64
  ker

[2017-09-06 03:57] stgraber commented on #3770
Unable to reproduce this on my local system. Will try on a clean Ubuntu 16.04 next.

[2017-09-06 04:07] stgraber commented on #3770
Same result on a fresh system:

[code]

Been sitting there for 5 minutes or so, running "lxc exec" against the various containers.

[2017-09-06 04:17] stgraber commented on #3770
What kind of load is your system under when those errors show up?

I've managed to get LXD to get some of those when I interact with over 100 containers in parallel, at first glance those are caused by the system being so loaded that it's not scheduling enough time for the websocket client to react to events before the daemon closes the session as a result of the process exitting.

[2017-09-06 04:20] stgraber commented on #3770
It looks like in the past such errors were being silently dropped, the new client code is much stricter about catching such websocket errors and surfacing them back to the user.

My guess is that the old code would suffer from the exact same issue but rather than showing you an error, it would simply exit 0 and never report that some of the data got lost.

[2017-09-06 04:21] stgraber commented on #3770
Increasing parallelism even more, we eventually even hit a bunch of "error: not found", which is what you'd expect if the client gets so busy that it fails to retrieve the operation data within 5s of the operation having completed (the client attempts to fetch state of an operation that's already been garbage collected).

[2017-09-06 04:48] niedbalski commented on #3770
@stgraber

Thanks for looking into this.

OK, I can't definitively reproduce the problem in a newly deployed xenial virtual machine, but on a production system with moderate load average (56 cores, 22 points of load average, 5 minutes window) it's fairly easy to get the "error: websocket: close 1006 (abnormal closure): unexpected EOF" errors during the lxc exec loop" on 2.17. Maybe as part of the

[2017-09-06 04:51] stgraber commented on #3770
The LXD daemon is pretty aggressive on websocket handling, if the client doesn't handle events in a timely manner, the connection gets dropped. That's needed so that we don't end up with a bunch of open connections on the server when a network problem occurs. It's obviously less relevant for clients using the unix socket, but the LXD daemon doesn't know how someone connected to the API.

[2017-09-06 05:13] niedbalski commented on #3770
@stgraber Could you please point me to the current timeouts/deadlines at the server and client side? I don't think my system was so overloaded as I'd expect ms latency as no swap was in use at the moment of the problem and the load average was high, but not extreme at the seconds levels ..

Also, if you look at the specific websocket error 1006 (abnormal closure) this seems
to indicate that the pr

[2017-09-06 05:13] stgraber commented on #3770
Sent a pull request which fixes a race in the server side code. This fixes at least one cause for the message you've been getting at least on my test systems.

[2017-09-06 05:14] stgraber commented on #3770
@niedbalski LXD never sends a close frame because it never closes that connection. A /1.0/events API call is never ending. The only way it can get disconnected is the server going down or network failure, both of which cause a network disconnection without a websocket close frame.

[2017-09-06 09:48] #3770 closed

[2017-09-06 13:04] niedbalski commented on #3770
@stgraber

I just tested a fresh build of 2.17 with the patch for #3771 applied on top, and it seems
that the reported message (close 1006) isn't being returned anymore.

Thank you!

[2017-09-06 13:48] treba123 opened #3775 "lxc delete aborts if btrfs subvolume is already absent"
Ubuntu 16.04, lxc version 2.17

###

When using `lxc delete` on a container residing in a btrfs storage and the corresponding subvolume does not exist anymore, it failes with the message:

`error: Failed to run: btrfs subvolume delete [...]: ERROR: cannot access subvolume: [...]: No such file or directory `

IMO, lxc should check if the subvolume is already absent and remove the container from its

[2017-09-06 14:38] brauner commented on #3775
So, this is something I thought about as well but if we do something like this we'd likely need to add a new flag since `--force` only mentions running containers and it would be surprising to users if that also wiped the container from the db even if the storage is gone. Maybe they just didn't mount it or forgot to plugin the relevant disk or something. So we have to be careful here. I agree that

[2017-09-06 17:10] davidfavor commented on #3736
The problem is multiple copies of rsync running.

There should be only one copy.

Running multiple copies chews up CPU resource + produces unnecessary disk i/o thrash.

Thrash is the biggest problem.

Imagine cloning/copying many containers simultaneously, all of which have many small files.

The process of just building the file list can take a machine down... which is exactly what I'm seeing.

S

[2017-09-06 17:29] stgraber commented on #3736
Can you please provide the information I asked for?

LXD only spawns a single rsync, rsync spawns subprocesses.

[2017-09-06 17:59] stgraber commented on #3775
@brauner I'd say that if the pool is properly mounted and the thing no longer exists, we should just silently move on.

I ran into that on systems that ran out of disk space, where an image is half-created and I can't remove it unless I first create an empty dataset/subvolume...

[2017-09-06 18:03] stgraber commented on #3736
I just ran a quick test here and sure enough, the process tree shows that LXD only spawns one rsync command which then forks twice:

[code]

So this looks exactly like what you've noticed, except that the tree output makes it clear that it's normal rsync behavior.

[2017-09-06 18:03] #3736 closed

[2017-09-06 23:38] jfgibbins commented on #3440
@stgraber @brauner Not expecting you have any code written, but was curious any thoughts or ideas you might have brainstormed for this.

[2017-09-06 23:57] jfgibbins commented on #3724
Tried again reading through some of the repositories.  Particularly in terms of using jenkins and figuring out how it goes, though noticed that then .jenkins file is in the .gitignore so couldn't read those.  The effort cost me a few Excedrins.

[2017-09-07 02:46] stgraber commented on #3440
No clear plans yet. I need to experiment a bit more with openvswitch, then decide what we want to do in LXD and what we should do in lower level liblxc. OVN is also pretty interesting but I need to figure out how to have it fit in our existing networking model and our future cross-host story.

[2017-09-07 02:51] stgraber commented on #3724
The way our images are built is roughly:
 - Daily run of templates/lxc-ubuntu (from github.com/lxc/lxc) using bin/build-image (from github.com/lxc/lxc-ci). That results in a number of artifacts that you can see on Jenkins: https://jenkins.linuxcontainers.org/job/lxc-template-ubuntu/
 - A separate server downloads those artifacts, generates a tiny metadata tarball for LXD with a metadata.yaml file

[2017-09-07 02:52] jfgibbins commented on #3440
Wish I could help more in terms of how it fits with your current networking, but I have to admit, I haven't used any of it.  Everything I do networking wise, is simply to attach the container to an openvswitch bridge, either as a switchport or trunk.   Static is set through cloud-init, and dns/dhcp is all done through traditional bind/dhcpd servers on the network.

[2017-09-07 02:55] jfgibbins commented on #3724
No wonder I get a headache when I try to decipher it.

[2017-09-07 03:10] stgraber commented on #3724
Yeah, I have a vague plan to completely rework the template system in LXC for 3.0, moving it to something out of the LXC code tree entirely and moving from the current complex shell scripts to something more declarative.

A lot of those templates also include a lot of legacy stuff. Nowadays most Linux distributions build official tarballs for use in the cloud or Docker containers, those could be i

[2017-09-07 03:15] jfgibbins commented on #3724
That sounds like it'd be a lot less work for you guys to maintain.  And if it's something we can setup as well, then tweak to build our own images, that would be even better.  For example here at least, images, with puppet-agent pre-installed, lxd uninstalled(no offense, I hate when I generate certificates because I do lxc list, when I'm shelled in, doh!), stuff like that.  Speed up container spin

[2017-09-07 03:29] 19wolf opened #3778 "Upgrade took down Br0, taking whole system with it."
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubunutu 16.04.3
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.13
   * LXC version: ??
   * LXD version: 2.0.10 -> 2.0.17
   * Storag

[2017-09-07 03:32] stgraber commented on #3778
Upgrading from the LTS branch to the feature branch (2.0.10 to 2.17) is a very big upgrade and will significantly rework a number of things on your LXD deployment, which includes networking and storage.

For now, can you please include:

 - Content of "/etc/default/lxd-bridge.migrated"
 - Output of "lxc network list"

[2017-09-07 03:45] 19wolf commented on #3778
[code]

After manually re-enabling eno1 and br0 on the host, everything seems to be working except ipv6 (which I wasn't actually making use of)

[2017-09-07 03:56] stgraber commented on #3778
Oops, sorry, I meant "/etc/default/lxd-bridge.upgraded".

And can you show "lxc config show br0"? That should show the configuration as it was on LXD 2.0.10 and the configuration which was generated as part of the migration to 2.17.

[2017-09-07 08:51] treba123 commented on #3775
I'd support that and suggest to add two new flags:
 - delete whether storage is mounted or not, something like `ignore-storage-absent` or `ignore-errors`
 - delete from database only. Since containers can get imported, there're cases when people actually don't want to delete the container from storage. Something like `retain-on-storage`. Not that important, though :)

[2017-09-07 10:02] brauner opened #3780 "ceph: use uuid when creating zombie storage volumes"
Ceph is similar to zfs in that storage volumes need to be kept around in case they have dependent snapshots. That is:

[code]

will fail since \<snap1_protected\> is dependent. Because of this the way I implemented the ceph driver it will map the delete() operation onto a rename() operation:

[code]

But consider the following:

[code]

To avoid this we suffix each storage volume with a UUID so th

[2017-09-07 10:32] asarubbo commented on #3758
Do you have a different output for this?

[code]

After compiling the package I get:
[code]

[2017-09-07 17:20] 19wolf commented on #3778
[code]

[2017-09-07 17:22] stgraber commented on #3778
Oops, meant "lxc network show br0"

[2017-09-07 17:24] stgraber commented on #3778
Also:

 - ifconfig "br0"
 - brctl show

[2017-09-07 18:02] 19wolf commented on #3778
[code]

[2017-09-07 18:10] stgraber commented on #3778
How was your eno1 device getting bridged before?

And can you attach the content of /var/log/lxd/lxd.log? That may shed some light on what's going on with IPv6 on this bridge.

[2017-09-07 18:42] 19wolf commented on #3778
I went through a lot of steps several months ago to set up a bridge that would put my containers directly on my LAN so I could assign them IPs with my router. I don't remember how I set it up exactly, just that it works.

My /var/log/lxd/lxd.log is full of creating and destroying my container's hourly snapshots, so I took out most of it
[code]

[2017-09-07 18:47] Mantwon opened #3782 "error: Failed to delete RBD storage volume for container "test" on storage pool "node001""
Greetings,

Would it be possible to add a --force to the delete of an rbd based container? for now this error occurs when you try to delete a container which failed during the image creation step.

```error: Failed to delete RBD storage volume for container "test" on storage pool "node001"```

I've been manually removing data from the lxd.db

```delete from containers where id=7```
```delete from

[2017-09-07 18:48] stgraber commented on #3778
Ok, so lets just figure out what you actually want from a network point of view rather than try to reproduce your previous setup.

So you want a bridge called "br0" which is connected to "eno1". DHCP and DNS is handled by your router and you just need "192.168.1.2" to be the IP of the host, correct?

[2017-09-07 18:52] stgraber commented on #3778
If so, you'll want to run "lxc network edit br0" and update the "config" part of the file to look like:

[code]

This will have LXD create the bridge, set the IP you want on it, bridge eno1 into it and then not do anything else with it.

[2017-09-07 19:06] stgraber commented on #3758
[code]

[2017-09-07 19:08] stgraber commented on #3782
Looks like a bug in the ceph driver. The database entry shouldn't be created in the first place if the storage fails to create.

@brauner

[2017-09-07 19:12] brauner commented on #3782
@Mantwon, but no storage volume got created on disk?

[2017-09-07 19:12] stgraber commented on #3775
Flags are pretty expensive to add since we're doing everything over a backwards compatible REST API.

So I prefer to just make sure our code does the right thing rather than have a bunch of confusing flags that users will randomly pass in the hope that it will fix things for them.

For the case where you want to re-import a container, "lxd import" already lets you import over an existing container

[2017-09-07 19:16] Mantwon commented on #3782
no storage volume existed on disk.

I actually think I remember seeing this in the debug, I think it has to do with the rollback maybe - it removed the rbd image but didn't remove the container.

[2017-09-07 19:18] brauner commented on #3782
Ah, so this is in the container codepath, thanks!

[2017-09-07 19:21] brauner commented on #3782
@stgraber, that's not a bug in the ceph driver, that's a bug in `containerCreateInternal()` or `containerCreateFromImage()` iiuc since they creates the db entry before the storage but don't wipe the db entry on error.

[2017-09-07 19:41] #3780 closed

[2017-09-07 19:59] 19wolf commented on #3778
I have two different things I'd like.
1. (Easier)
Router: 192.168.1.1
Host: 192.168.1.2
Containers: 192.168.1.100-200

2. (Harder)
Router: 192.168.1.1
Host: 192.168.1.2
Containers: 192.168.**2**.2-200 <-- but still accessible from other computers on the network (192.168.1.5) through a reverse proxy. (probably out of scope for this bug report)

[2017-09-07 20:07] 19wolf commented on #3778
I edited the config to match what you suggested, and now my host cannot access the internet.

[2017-09-07 20:14] stgraber commented on #3778
So the main problem I can see here is that LXD doesn't let you set a default gateway for your bridge. So that'd leave you in a state where you can ping your host and containers but the host can't get out to the internet.

[2017-09-07 20:17] stgraber commented on #3778
Given what you're doing, it feels like the easiest would actually be to:
 - Stop all your containers
 - Delete the bridge from LXD with "lxc network delete br0"
 - Temporarily get your host back online, probably with "sudo dhclient eno1"
 - Install the bridge-utils if not already installed

Then edit /etc/network/interfaces and make sure you have the following in there:

[code]

Then reboot the ma

[2017-09-07 20:32] #3778 closed

[2017-09-07 20:34] #3670 closed

[2017-09-07 20:52] smoser opened #3784 "/var/lib/lxd/containers/<name>/rootfs only exists when container is running."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.10
 * The output of "lxc info" or if that fails:

       config: {}
       api_extensions:
       - storage_zfs_remove_snapshots
       - container_host_shutdown_timeout
       - container_syscall_filtering
       - auth_pki
       - container_last_used_at
       - etag
       - patch
       - usb_devices
       - https_al

[2017-09-07 20:58] stgraber commented on #3784
Yes, that is expected behavior. Keeping all the containers mounted was causing a number of kernel issues, so we're only mounting things on demand now.

Direct access to the container's filesystem at /var/lib/lxd/containers/NAME/rootfs has never been part of any documented/supported way of interacting with LXD.

Interactions with the container's filesystem should be done through our file management

[2017-09-07 20:59] brauner commented on #3784
Is `zfs mount -a` and then `zfs umount -a` an option? That would mount all filesystems though.

[2017-09-07 21:03] stgraber commented on #3784
I don't believe "zfs mount -a" mounts the filesystems that are flagged as "canmount=false".
Either that or something other than "zfs mount -a" is used at boot time.

In any case, I wouldn't recommend mounting everything because that's just asking for the zfs EBUSY kernel bug to bite you. You should really only ever mount what you need and nothing more, making sure that things are unmounted before

[2017-09-07 21:06] smoser commented on #3784
the other issue with zfs (or any other backend) is that i have to have backend specific knowledge and determine which backend is in use.

[2017-09-07 21:11] stgraber commented on #3784
Yep, but that part isn't new. We've never kept containers mounted when they're on LVM or Ceph.

[2017-09-07 21:12] smoser commented on #3784
I guess i'd argue that any problems you had due to "Keeping all the containers mounted" are still inevitable.  If there are kernel issues then you just pushed finding these issues to when a user starts *running* a bunch of containers all at once rather than just having a bunch of containers at rest (and who does that?)

[2017-09-07 21:15] stgraber commented on #3784
Not really. The problem we had was that if containers were auto-mounted, then daemons starting at boot time (snapd for example) would potentially fork your mount table, confusing ZFS among other things.

With them only being mounted immediately before the container's mount namespace is created, this avoids that problem entirely.

Believe me, we don't like doing those kind of annoying multi-release

[2017-09-07 21:42] srkunze commented on #1045
While setting up an IDE again for this, I've learned that list already has this kind of mechanism using regexes. So, it already seems to be decided: regex instead of globbing.
![image](https://user-images.githubusercontent.com/1389648/30186415-ce014606-9425-11e7-8033-21f421146246.png)

So it seems it's already there, just needs some refactoring out and applying to other commands. Particular intere

[2017-09-07 21:55] jfgibbins commented on #1045
So the base is there to do it, just not available across the board.  That seems like a good thing.  Appreciate you putting the time into it.  I would, but I just don't know the language.  Can't we just all go back to Fortran. :)  Picking a programming language nowadays is like going to baskin-robbins.

[2017-09-07 22:20] stgraber commented on #1045
@srkunze it's just more flexible that way. "lxc list" gets the "cheap" API answer with the container list, then after that does the more expensive calls only for the containers that will be displayed.

Doing the filtering on the server side wouldn't really makes thing much faster since the same data would still need to be retrieved in the first place and designing a good and user friendly way to f

[2017-09-08 00:12] #3782 closed

[2017-09-08 00:30] jfgibbins commented on #3784
Was that a recent change?  Cause I used to ls through those directories all the time.  At what density did you start to see issues?  I've been up around 40-50, but hadn't noticed anything.  BTW, Stephane, Christian and Scott all in one thread, scary!

[2017-09-08 01:05] stgraber commented on #3784
We've seen issues with as low as 4-5 containers, the problem tended to be more closely related to the number of mount namespaces, when those were created and whether the kernel would reap them quickly enough, more than the number of containers (number of containers would make the mount table bigger, making it take longer to flush).

[2017-09-08 01:06] stgraber commented on #3784
And those directories will still work fine for most users, so long as the container is running. It's only when it's not running that we keep it unmounted.

[2017-09-08 01:58] jtopjian opened #3787 "libacl dependency is onerous"
https://github.com/lxc/lxd/pull/3625 introduced a dependency of libacl. This now requires applications that consume LXD to have `libacl1-dev` (or similar, depending on the distribution), gcc, et al installed when building, which is kind of a pain.

Is libacl required when a Go application is _only_ communicating with LXD via the API? If it's not required, can the libacl stuff be moved out of `shar

[2017-09-08 02:48] mrliaon opened #3788 "why Ceph RBD can not be used as a LXD storage backend with version 2.17"
# Required information
* Distribution: Ubuntu
 * Distribution version: 16.04.2
 * The output of "lxc info" or if that fails:
  driver: lxc
  driver_version: 2.0.7
  kernel: Linux
  kernel_architecture: x86_64
  kernel_version: 4.4.0-62-generic
  server: lxd
  server_pid: 12154
  server_version: "**2.17**"
  storage: zfs
  storage_version: 0.6.5.6-0ubuntu15

# Issue description

when using "lxd ini

[2017-09-08 03:32] stgraber commented on #3788
Make sure you have ceph-common or whatever package provides the "ceph" and "rbd" commands.

We only list filesystems that are supported by your system.

[2017-09-08 03:33] stgraber commented on #3788
That's an Ubuntu 16.04 system using the same LXD you're using but on a system which does have the ceph tools installed and configured:

[code]

[2017-09-08 03:36] stgraber commented on #3787
We should be able to move all the idmap functions and related code to a separate shared/idmap package which would then only be used from the lxd and fuidshift tools, eliminating that dependency for the client code.

[2017-09-08 03:36] stgraber commented on #3787
@albertodonato can you look into that?

[2017-09-08 10:22] mrliaon commented on #3788
thank u very much

[2017-09-08 10:26] #3788 closed

[2017-09-08 19:28] #3787 closed

[2017-09-09 00:22] jtopjian commented on #3787
That did the trick! Thank you so much for doing this so quickly. You folks rock!

[2017-09-09 00:34] #3784 closed

[2017-09-09 00:35] #3759 closed

[2017-09-09 00:36] stgraber commented on #3756
Ah yeah, it could well be that issue, LXCFS 2.0.8 will contain the fix. We still have quite a bit of patch backlog before we're ready to release a bunch more stable releases though. Most optimistic timeline is a couple of weeks.

[2017-09-09 00:36] #3756 closed

[2017-09-09 03:17] thewyzard44 opened #3791 "Issue with testing a consuming Ruby module"
# Required information

 * Distribution: Ubuntu 16.04
 * The output of "lxc info" or if that fails:
config:
  core.https_address: '[::]:8443'
api_extensions:
- id_map
api_status: stable
api_version: "1.0"
auth: trusted
public: false
environment:
  addresses:
  - 10.0.2.15:8443
  architectures:
  - x86_64
  - i686
  certificate: |
    -----BEGIN CERTIFICATE-----
    <truncated>
    -----END CERTIFI

[2017-09-09 03:45] stgraber commented on #3791
"lxc stop" only sends SIGPWR (or similar) to PID1 in the container. If PID1 in the container hasn't yet setup its signal handler, then nothing will happen and "lxc stop" will hang.

This is an unfortunate but expected behavior. POSIX signals are unidirectional so there's no way for LXD to know if PID1 is doing something about it.

I suspect in your case you actually want "lxc stop --force" which i

[2017-09-09 04:00] thewyzard44 commented on #3791
this context is under the hood of a chef provisioning driver where stop probably wants a graceful shutdown - but also in that context, will not normally happen within 2-3 seconds of the start command.  I do do a force if chef wants to destroy, and that does work well.

Thank you for the insight!  I'll look into kill 1 - sounds brutish, but i likely won't put it into production and only do it in te

[2017-09-09 04:53] thewyzard44 commented on #3791
i do have to wonder, though, if you should be returning from `start` in some 'sane' state that is ready to reliably respond to additional commands

[2017-09-09 16:47] huegelc commented on #3694
I´ve deinstalled all lxd packages and removed orphaned configuration files.
Then:

`add-apt-repository ppa:ubuntu-lxc/lxd-stable`
`apt update && apt install lxd lxd-tools`

[code]
[code]
`for i in {51..55};do lxc exec cont$i -- ifdown eth0 && lxc exec cont$i -- ifup eth0;done`

lxd doesnt care about setting the ip manually:

[code]

[code]
[code]
[code]

I´m out of ideas.

[2017-09-09 17:40] jfgibbins commented on #3791
I use the following code to check that cloud-init is finished, before preceeding with any other commands.  You could modify or implement something similiar to verify that the container has actually booted first, before trying to run other commands, including shutdown:

"while [ ! -f /var/lib/cloud/instance/boot-finished ]; do echo 'Waiting for cloud-init...'; sleep 5; done;"

[2017-09-09 17:43] jfgibbins commented on #3791
fyi, the sleep amount could be anything, mine is at five, because it shows at equal intervals with terraform reporting, and my cloud-init usually runs quite a few things, anywhere from 3 secs up to 5-10 mins, depending on if the container is installing applications

[2017-09-09 17:49] tomposmiko opened #3792 "Feature request: update backup.yaml during snapshot creation"
Please correct me if I'm wrong.
Currently if there is snapshot created it can be restored properly only on the same machine.
It is because the container configuration of the snapshot time is saved only in the central lxd database. Am I right?
If it's not copied to the backup server together with the data volume, then the configuration cannot be restored.
Hence it would be desired to update backup.

[2017-09-09 18:27] stgraber commented on #3791
The problem is that there is no way for LXD to know when the container is "ready" as that completely depends on what's running in the container. There's no way for LXD to check whether the container's init system is going to be responding to a particular signal or ignore it.

So your best bet is indeed to do your own check based on what matters to you, or call "lxc stop --timeout=30" (or whatever

[2017-09-09 18:28] stgraber commented on #3791
Our behavior here is very similar to what you'd have with a VM. A VM hypervisor will say that the VM is running as soon as it's started executing the virtual BIOS. A VM shutdown just sends an ACPi signal, if that's ignore by the VM, then it never goes down, unless you decide to kill it.

[2017-09-09 18:28] stgraber commented on #3694
I'll re-check with exactly the same packages and environment you have to see if I can get it to finally happen here too.

[2017-09-09 18:34] huegelc commented on #3694
Ok i figured this out. Actually this post was helpful: https://ubuntuforums.org/showthread.php?t=1890662&p=12390176#post12390176

My DHCP range started from .101 on wards but the assigned IP addresses where not from this range (.21-25 and .51-55)
I´ve edited the lxdbr0 and changed the range. Now the container get the proper IP address assigned:

[code]

Sorry for the noise.

[2017-09-09 18:54] thewyzard44 commented on #3791
excellent parallel!!  So After sleeping on it, I'm leaning towards something like:
(pseudocoded)
[code]
Any issue that you can think of with sending too many SIGPWR's?  They just go into oblivion if they're not received?  Or if one is received and it takes longer than --timeout=10 to shutdown gracefully, will a subsequent SIGPWR cause issues?

RE: using cloud-init...  I also like the sounds of tha

[2017-09-09 19:03] stgraber commented on #3791
I think most init systems will just ignore subsequent signals, so it should be fine to do it.

[2017-09-09 19:14] thewyzard44 commented on #3791
thank you!!  I'll use --timeout=1 in my testing in an effort to flush those issues out

[2017-09-09 19:14] #3791 closed

[2017-09-09 21:38] 19wolf opened #3793 "RAM usage inside and outside container don't match"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu 16.04.3
[code]

# Issue description

Memory usage inside and outside container don't match.

# Steps to reproduce

[code]

[2017-09-09 21:47] stgraber commented on #3793
Can you file a bug at https://github.com/lxc/lxcfs including your /proc/meminfo from the host and from inside the container? As well as the content of /sys/fs/cgroup/memory/lxc/container1/memory.stat?

[2017-09-09 21:47] stgraber commented on #3793
This is a lxcfs bug, which I suspect is related to the way we count the usage of cached/buffered resources.

[2017-09-09 21:50] 19wolf commented on #3793
#https://github.com/lxc/lxcfs/issues/210

[2017-09-09 21:50] #3793 closed

[2017-09-09 21:53] 19wolf commented on #3793
Should I assume my host's `free -h` is the more accurate?

[2017-09-10 04:14] Mantwon commented on #3760
I think there was still some math wrong somewhere, I was able to use 100G but it actually made the volume 100T

[2017-09-10 04:28] Mantwon commented on #3760
hah yeah

I made it 1T and the resulted in 1024T

[2017-09-10 05:01] brauner commented on #3760
What exactly did you pass to LXD? I'm especially curious about the suffix since we only support "TB" and not "T".

[2017-09-10 06:20] Mantwon commented on #3760
ah yeah, that was just my lingo... I put TB into the file, but I just meant T.

I compiled it w/ what I thought might fix it and it did - but I don't know if there is a better way.

[code]

[2017-09-10 07:14] brauner commented on #3760
That patch is correct. We pass in the size converted to bytes so we should divide by 1024 two times to get MB. Can you send a signed-off patch?

[2017-09-10 07:56] Mantwon commented on #3760
#3794 submitted

[2017-09-10 20:49] Roosterfish commented on #3444
@stgraber I am also using raw.lxc for applying swap limits directly. It would be nice to have an option in the LXD tool chain to set this.

[2017-09-11 16:26] scottb76 commented on #2248
I also had this problem with a container running on a VM and it was immediately resolved by enabling promiscuous mode on the VMWare vSwitch. Thank you all of you, saved me hours no doubt!

[2017-09-11 21:13] 19wolf commented on #3778
Not sure if this is related, but I've just noticed my host has no internet access, while the containers all do. I have no trouble pinging LAN addresses, but cannot reach the internet.

[code]

[2017-09-11 23:29] stgraber commented on #3778
Sounds like a gateway problem, you could tcpdump the traffic on the bridge to see what's sent out to your gateway, but it looks like the ping is headed to your gateway and then doesn't reach its destination from there.

[2017-09-12 09:44] Kramerican opened #3795 "After import of tarball-ed backup - disk usage is not reported correctly"
Ubuntu 16.04
ZFS
LXD 2.17

Running `lxc info containername` results in "unexpected" reporting of Disk usage:

Running `df -h` in container reports actual disk usage:

[code]

Which is correct, however the profile allows for 60GB disk space. So LXD is doing "Allowed disk usage + image size" when setting the total disk size.

Container was recently restored from a backup tarball (Image was imported,

[2017-09-12 11:25] lukaszmatczak opened #3796 "Command 'lxc ... stop' hangs"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Zesty Zapus
 * The output of "lxc info":
[code]

# Issue description

After few hundreds cycles of starting and stopping container, command 'lxc container-name stop' hangs, but container is stopped and can be successfully started with 'lxc ... start'. Then 'lxc ... stop' hangs again and need to restart lxd daemon to make it '

[2017-09-12 11:55] Kramerican commented on #3698
I still see this happening even after upgrading to v2.17

I am however in doubt whether the images I have, which are "stale", pre-date the v2.17 upgrade, and thus whatever flags need to be set have not been set properly, preventing the new version from cleaning them up.

I am doing a test today on a fresh 2.17 system, which will receive an updated image today and should therefore nuke the old imag

[2017-09-12 12:38] gattytto commented on #2004
lxc.aa_profile: unconfined
lxc.cgroup.devices.allow: a
lxc.cap.drop:
lxc.cgroup.devices.deny:
lxc.mount.auto: proc:rw sys:ro cgroup:ro
lxc.kmsg: 0
lxc.autodev: 1

[2017-09-12 13:32] Kramerican opened #3797 "Monitoring Disk I/O for containers"
Ubuntu 16.04
ZFS
LXD 2.17

I'd like to be able to track down which specific containers are using high disk i/o. This is usually the cause of slowness on our servers, but it can be hard to figure out which container is misbehaving when I have 30+ containers on a host.

I have looked at zpool iostat - but that just gives me overall stats for the pool. lxd info doesn't reveal much useful information

[2017-09-12 13:45] brauner commented on #3796
This is likely related to the `lxc-monitord` binary. Can you try and reproduce the same behavior with liblxc 2.1?

[2017-09-12 14:55] mdalacu commented on #2904
I have the same issue....lost eveything after the first host reboot.
No *.img in /var/lib/lxd
Is there anything i can do to save my work? My head will eplode if i have lost the containers...a week work...
`mdalacu@mdonline:~$ sudo tree /var/lib/lxd
/var/lib/lxd
├── containers
│   ├── lxc-monitord.log
│   ├── mdopenhab -> /var/lib/lxd/containers/mdopenhab.zfs
│   └── mdopenhab.zfs
├── devices
│   └

[2017-09-12 17:05] stgraber commented on #3797
I'd recommend using "iotop" on your host, that tends to be the easiest way.

The blkio cgroup stats aren't super useful in general, so even if we were to expose that over the API, you'd have to be very lucky for them to make sense :)

[2017-09-12 17:06] stgraber commented on #3796
Or just confirm that killing any leftover lxc-monitord helps with this situation.

Also, are you calling "lxc stop" or "lxc stop --force"? The former hanging could indicate that the init system in the container is unhappy. The latter hanging would be a LXD/LXC issue.

[2017-09-12 17:07] stgraber commented on #3795
What's "zfs get all lxd/containers/illum" showing you?

[2017-09-12 17:07] stgraber commented on #3795
"lxc config show --expanded illum" would be good to have too

[2017-09-12 17:53] lukaszmatczak commented on #3796
Yes, killing lxc-monitord helps. I'll checks liblxc 2.1 tomorrow.

However, when 'lxc stop' hangs, 'lxc stop --force' ends up successfully.

[2017-09-12 19:28] brauner commented on #3796
@lukaszmatczak, yeah that's what we expected. :)

[2017-09-12 20:00] Kramerican commented on #3795
Sure

[code]
[code]

[2017-09-12 20:06] Kramerican commented on #3797
Hmmm ... Well, I tried iotop early on but dismissed it, as all that gives me is an overview of processes using disk i/o at this very second, without me being to discern which container they belong to.

That is, I have lots of LAMP and LEMP stacks, so I'd typically see quite a few php-fpm processes doing something - but with no clue which container to start poking around in...

Any magic commandlin

[2017-09-12 20:15] stgraber commented on #3797
ZFS doesn't do I/O tracking so that's not going to help you.
iotop will show you the PID and you can then track down what container that belongs to in "ps fauxww"

I've also just confirmed that ZFS doesn't hit the blkio counters so it reports 0 bytes read which means cgroups won't help you either.

So iotop/iostat is unfortunately your best bet, as limited as they may be.

[2017-09-12 20:56] Kramerican commented on #3797
Alrighty  I just played with it a bit, and I've found something somewhat workable:

Execute iotop with `iotop -a -P -o -d 5` - This means: cumulative, processes not threads, only ones actually using i/o, interval 5 seconds

Identidy a PID of something you are interested in, then fire up htop, hit F5 to go to tree view, type in the PID (don't use the search function, just start typing the numerical

[2017-09-12 23:55] stgraber commented on #3797
cat /proc/PID/cgroup may also be a quick way of figuring out the container it belongs to

[2017-09-13 13:37] tererero commented on #3254
Hi Stephan, sorry to bother you again. You said:

There you said "have a bridge with no IPs on it at all". So should I create a br0 in the /etc/network/interfaces of the host without any bridge_ports line?

There you said "then on the host add a manual IPv4 and IPv6 route for each one of the IPs you want to use with your containers". What is the correct way to do that? IP Alias (br0:0 or eth0:0) a

[2017-09-13 16:32] stgraber opened #3798 "Incremental stateless migration of containers"
For very big containers which can't be live-migrated, it would be nice if we would support:

    lxc move c1 dest: --stateless

Where if "c1" is running and "--stateless" is passed, we'd hit the exact same codepath as live migration except that we'd never dump/restore state. Instead we'd just do a clean shutdown of the container and then start it again on the target (we'd use the same container sh

[2017-09-14 00:26] Kuinox opened #3799 "cant install redis-server on a debian/buster container"
# Required information

 * Distribution: Debian
 * Distribution version: Stretch/Buster
# Issue description
Bug reproduced with a fresh install of debian buster on a VM on another hardware.
lxd installed with snapd.
# Steps to reproduce

 1. lxc launch images:debian/buster test
 2. lxc exec test /bin/bash
 3. apt-get install redis-server

[code]
Same install work fine a debian/stretch using backpo

[2017-09-14 10:41] lukaszmatczak commented on #3796
I can't reproduce it with liblxc 2.1. Thank you

[2017-09-14 10:41] #3796 closed

[2017-09-14 12:20] Kramerican commented on #3795
BTW just as an FYI: I have seen this behavior since I started using LXD, and actually built in functionality into my system where I would note down my base image size, and then I add that to the disk usage reported by lxd info in order to accurately reflect how much disk space (resource) the user is actually using on our host for their container.

So yeah, this seems baked into LXD - and I get the

[2017-09-14 17:05] jfgibbins opened #3800 "ubuntu-minimal image"
It seems that the ubuntu images for lxd, are in essence ubuntu-server, both with and without cloud-init, depending on server downloaded from.  If the server has capacity, can an ubuntu-minimal image be created, both with and without cloud-init?  Looking for the most stripped down image possible, so that what's needed can be added, rather than having to purge extraneous packages.

[2017-09-14 18:30] stgraber commented on #3800
images:ubuntu/xenial would be a very light Ubuntu image you can use instead of ubuntu:16.04 and doesn't contain cloud-init.

[2017-09-14 18:35] stgraber commented on #3254
https://discuss.linuxcontainers.org/t/public-ip-in-the-ct/453 should help

[2017-09-14 18:50] jfgibbins commented on #3800
I personally do use the cloud-init version, otherwise I end up with no networking, I just mentioned with/without as I know one of your image servers is cloud-enabled and the other isn't.  Currently using xenial for most images. Yakkety is already out of support, and xenial is currently disfunctional when it comes to overlays in docker 1.13 swarm, so using zesty for that.  They're all a bit heavy (

[2017-09-14 18:57] stgraber commented on #3799
Looks like it's an issue with systemd's private namespaces as used by the redis-server unit.

[2017-09-14 19:09] adomenech73 commented on #2977
@jfgibbins When I try to use lxd containers with generic drivers I've got this:

[code]
Any clue how can I go out¿

[2017-09-14 19:18] jfgibbins commented on #2977
@adomenech73 due to a issues with various aspects, my containers include the following:
config:
  security.nesting: "true"
  security.privileged: "true"

 as well as a empty file in the container /.dockerenv
I'm also currently using ubuntu:zesty, but that's because docker 1.13 swarm with overlays has issues with ubuntu xenial, and yakkety apt sources are limited to 17.06

[2017-09-14 22:18] Mantwon opened #3801 "file system support for 'volume.block.filesystem'"
Greetings (again),

I am just wondering if there is any plan to add more file systems for 'lxc storage create lxd ceph volume.block.filesystem' type configurations.

Right now I see ext4/xfs are only supported.

xfs + ceph are not playing nice at the moment, and would like to try a few different file systems for the backends there.

[2017-09-14 22:21] Kuinox commented on #3799
So i should post the issue on redis ? Between, redis work fine on my debian buster, but not in the container.

[2017-09-15 00:06] stgraber commented on #3799
I've been looking into this a bit but haven't yet pinpointed exactly what part of the systemd unit is failing.
There is a good chance that this is effectively a systemd bug but I need to dig into it some more to see exactly what bit's blocking this (and redis is using just about all systemd feature so that's not helping).

[2017-09-15 00:07] stgraber commented on #3801
What filesystems are you thinking about?

More can be added but this needs specific code in LXD for the LVM and Ceph code paths.

[2017-09-15 00:11] stgraber commented on #3800
So if you want to use a pre-made Ubuntu image, you have two choices:
 - ubuntu:<release> (full ubuntu-server with cloud init)
 - images:ubuntu/<release> (somewhat minimal ubuntu image without cloud-init)

You can add/remove stuff from those and publish as a new local image.

Or alternatively you can build a rootfs from scratch on your host using "debootstrap", install whatever you want in there, t

[2017-09-15 00:19] stgraber commented on #3795
Ok, so this is pretty confusing :)

[code]

This shows that your container sees 9.88GB worth of files but only 163MB are specific to the container, the rest comes from the parent image. A quota of 60GB is in place, meaning that the container has 59.85GB of free space.

So the "df" output in this regard is correct, albeit confusing.

In your case, I think you really want to use "refquota" rather th

[2017-09-15 00:24] jfgibbins commented on #3800
I'm sorry, I thought the images: versions were only different in terms of cloud-init, let me check out one of those versions

[2017-09-15 00:40] jfgibbins commented on #3800
Thank you, that was what I was hoping for.  I thought the two remotes had the same images, except for being "cloud-enabled".  I can use the images: as a base, add cloud-init, and then the particulars for a couple of images.  With that image, I can even drop it into CI and never have to look at it again. :)

[2017-09-15 00:40] #3800 closed

[2017-09-15 05:10] Mantwon commented on #3801
Actually, really now that I think about it -- probably just btrfs.

[2017-09-15 07:05] stgraber commented on #3801
Ok, that should be reasonably straightfoward to add. We just need to check how to re-generate the btrfs fs uuid on copy, assuming that btrfs would be confused by the exact same uuid being present multiple times.

[2017-09-15 12:19] Kramerican commented on #3795
Alrighty - excellent that there is a solution - and yes, a bit confusing :)

However when attempting to set the use_refquota, I get

[code]
I am on lxd v2.17

[2017-09-15 12:20] Kramerican commented on #3795
Ah ... The correct command seems to be:

`lxc storage set lxd volume.zfs.use_refquota true`

[2017-09-15 12:32] pavlodvornikov commented on #1540
Hello,

Is any updates on this ?

[2017-09-15 12:37] Kramerican commented on #3698
I can confirm this is still not resolved as discussed. On a clean v2.17 system a stale image does not expire:

[code]

[code]
[code]

[2017-09-15 12:43] Kramerican commented on #3730
I have encountered an issue in connection with this recently, which is a bit of a catch-22 for me.

As mentioned, I want portable off-site backups of containers - that's why I don't use snapshotting.

This has worked fine, untill we had a container with hundreds of thousands of files on an HDD setup. This container would take about ~10 hours to "snapshot" instead of the usual couple of minutes.

T

[2017-09-15 16:51] n0guest opened #3803 "Is there a way to add custom properties on image import? (possible bug)"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04/xenial
 * The output of "lxc info" or if that fails:

[code]

# Issue description

I'm trying to import an image from tar.gz file with adding custom properties. But it always ends like this:

[code]

Looks like it's related to properties parsing (https://github.com/lxc/lxd/blob/lxd-2.17/lxc/image.go#L689):

[code]

Thou

[2017-09-15 16:58] adomenech73 commented on #2977
Just tested!! works perfectly. Thanks a lot @jfgibbins

[2017-09-15 19:52] tomposmiko commented on #3730
AFAIK you can dump ZFS snapshots and upload them to the ftp server.

[2017-09-15 20:08] Kramerican commented on #3730
@tomposmiko got anything you can link to on this?

[2017-09-16 15:43] AndrewVos opened #3804 "Ubuntu 17.04 is not correctly setup after running launch, causing apt to fail weirdly"
This issue makes it pretty hard to build containers.

Note how in **LXC output with delayed apt-get update** everything works as expected (I just added `sleep 10` before `apt-get update`).

I haven't found a workaround so far. I tried something like `curl --retry 10 https://www.example.org` but the network does seem to be working before `apt-get update` fails.

I'm running Ubuntu Gnome 17.04.

The

[2017-09-16 19:23] AndrewVos commented on #3804
I noticed this https://github.com/lxc/lxd/issues/3700.

Is there any planned support for something that waits until the system is in a "ready" state? I'm not even sure how it would work. The test for `ubuntu` username doesn't really work. It's not that the username isn't setup I don't think.

[2017-09-16 19:25] Roosterfish opened #3805 "Failed to remove ZFS backed container"
# Required information

 * Distribution: ubuntu
 * Distribution version: 16.04
   * Kernel version: 4.4.0-93-generic
   * LXC version: 2.17
   * LXD version: 2.17
   * Storage backend in use: ZFS

# Issue description

If you try to migrate a container with storage quota attached to the root device to another host and that process failed due to a too small amount of the quota on the target machine,

[2017-09-16 19:53] Roosterfish commented on #3805
The container can be deleted without any errors after rebooting the host.

[2017-09-16 22:19] stgraber commented on #3804
The behavior you're describing is expected and isn't any different than what you'd get if running code very early on in a virtual machine or similar systems. There is no reliable cross-distro way to know when a system is ready as the definition of "ready" very much varies on what you plan on doing with it.

LXD's interaction with a container finishes when the init system is spawned inside it, whic

[2017-09-16 22:19] #3804 closed

[2017-09-16 22:20] stgraber commented on #3804
We did discuss an extension of the /dev/lxd/socket protocol to allow signaling LXD when the container is ready but that's not been implemented yet and when it is, you'd still need to manually craft an init script which will talk to it once your container reaches what you consider to be a ready state.

[2017-09-16 22:21] stgraber commented on #3804
For the specific apt scenario here, one option is to use cloud-init to update and install any package you need. You can pass a cloud-init configuration through the user.user-data configuration key of the container.

[2017-09-16 22:21] stgraber commented on #3803
Looks like a bug, I'll take a look.

[2017-09-16 22:23] stgraber commented on #3803
Reproduced the crash here.

[2017-09-16 22:30] stgraber commented on #3803
got a fix

[2017-09-16 22:44] n0guest commented on #3803
Thanks. As I understand, this fix will be included in 2.18 (~19 Sep or later)?

[2017-09-16 23:47] #3803 closed

[2017-09-17 02:10] jfgibbins commented on #3804
@AndrewVos Cloud-init is probably one of the better ways to handle clouds like lxd, etc.  It has builtin handling for executing command in the right order, apt update after network is up, etc.  If you're writing your own scripts, then you can also use the following to test when cloud-init has finished, which shouldn't complete til the network is up.  Even if not using cloud-init to do actual confi

[2017-09-17 05:17] stgraber commented on #3803
That's correct

[2017-09-17 05:18] stgraber commented on #3698
What does "lxc image info" show for both images?

[2017-09-17 05:19] stgraber commented on #1540
The C library has been fixed upstream, but this may take a while for distributions to pick it up.

[2017-09-17 05:22] stgraber commented on #3795
Hmm, I guess we could make it so that the disk usage reported respects the refquota setting. So if you set use_refquota, then the reported space would be the referenced disk space rather than the used disk space.

[2017-09-17 05:23] stgraber commented on #3730
zfs send blah@snapshot > file.img

Then when you want to restore: zfs receive blah < file.img

[2017-09-17 11:31] AndrewVos commented on #3804
I think I might be using the wrong tool for what I'm doing tbh. I'm trying to convert the tests for https://github.com/AndrewVos/box because Lxd seemed like a more lightweight docker. I would prefer to avoid docker for something so simple.

[2017-09-17 12:17] jfgibbins commented on #3804
Think of LXD as a lightweight version of a hypervisor, minus the hardware emulation, and bios.  And the kernel is shared, instead of being a separate running instance.  But like anything else, including docker, the container still has to boot, before you can execute commands against it.

[2017-09-17 14:03] Kramerican commented on #3795
@stgraber That would be **_excellent_**

[2017-09-17 14:47] Kramerican commented on #3730
@stgraber I have stumbled on this myself these last few days, and have had wonderfully mixed, but always far superior results with zfs send / receive. Mixed in the sense that I have a problem with zfs send fluctuating wildly in speed, but I've reached out to the zfs mailing list to diagnose this.

The remainder here is probably a bit off topic, but I'll leave it here for your comments and if other

[2017-09-17 18:35] AndrewVos commented on #3804
Thanks, I'll continue to use Docker for now then.

Thanks so much for your help @jfgibbins, I do appreciate it.

[2017-09-17 18:56] stgraber commented on #3730
What you're doing should be fine and I in fact intend for us to support something like this natively with #3443. Effectively letting you export a container (and its snapshots) as a tarball which either contains the raw fs tree (good old tarball) or contains the storage backend optimized format (result of zfs send, btrfs send, ...).

What format you'd export as would therefore depend on what you ex

[2017-09-17 18:57] stgraber commented on #3795
Cool, I'll look into that later today, shouldn't be too difficult to setup.

[2017-09-17 18:59] Kramerican commented on #3730
@stgraber Thank you for setting my mind at ease, and awesome to hear this will be supported natively so I can clean up my scripts a bit :smiley:

[2017-09-17 19:02] Kramerican commented on #3698
Voila

[code]

[code]

[2017-09-18 04:17] stgraber commented on #3757
@albertodonato can you take care of this one? We'll want a function that lets us compare dnsmasq versions and if it's less than 2.67, not pass the --quiet-* options.

[2017-09-18 04:18] stgraber commented on #3801
@albertodonato can you send a branch which adds support for mkfs.btrfs where we currently support mkfs.ext4 an mkfs.xfs?

[2017-09-18 04:18] stgraber commented on #3801
@albertodonato this will need an API extension string.

[2017-09-18 04:21] stgraber commented on #3795
@albertodonato can you send a branch which makes ZFS look at "referenced" rather than "used" if the volume has zfs.use_refquota set to true (should be the same logic we have in place for setting/reading the quota).

[2017-09-18 07:57] pavlodvornikov commented on #1540
Thank you.

[2017-09-18 13:51] stgraber opened #3811 "Changing volume.block.filesystem causes container creation failures"
When changing volume.block.filesystem on a pool with existing images, then creating a container from one of those existing image, you'll get the wrong filesystem and will most likely hit an error as LXD tries to run fs-specific code for the wrong filesystem.

Instead we should add code to the LVM and Ceph backends so that when doing CreateFromImage, we check whether the existing volume's filesyste

[2017-09-18 15:25] #3795 closed

[2017-09-18 15:30] #3801 closed

[2017-09-18 20:32] stgraber commented on #3355
We now have control of http://lxd.readthedocs.io/en/latest/

We should improve it to look good and then I'll figure out how to get the embedded code for that stuff going so that it can integrate with our website.

@albertodonato can you take a look through the readthedocs rendering of our docs and send fixes for anything that looks broken/wrong?

[2017-09-18 22:25] bodleytunes commented on #3257
Hi,

Any chance of re-opening this one?  I've got the same problem.  I've fitted a new system disk, now I'm stuck trying to import the containers on the ZFS pool back into a new install of LXD.

I'm running the version in the stable PPA.

I get same issue with  .... "error: Provided ZFS pool (or dataset) isn't empty"

Cheers!

Jon.

[2017-09-18 22:28] stgraber commented on #3257
@bodleytunes can you show "zfs list -t all" on your system?

[2017-09-18 22:29] stgraber commented on #3257
The error you're getting is expected if you're attempting to run "lxc storage create" against an existing pool. This isn't the way to get your containers back into LXD, "lxd import" is the way to do that. The command above should let me see if things are roughly where they need to be for lxd import to do its job.

[2017-09-19 13:41] brauner commented on #3798
Right, I spent **way** too much time thinking about this somehow. What confused me is your request to stop the container first which is not needed I think. The stateless copy path doesn't stop the container either and actually can't. So the patch I'm sending will not stop the container in the move path either. If we really really wanted to - and there's a good argument for it - we can stop it in t

[2017-09-19 15:34] bodleytunes commented on #3257
Hi Stephan
Thanks for the fast reply.

Here is the output:

`NAME                                                                                               USED  AVAIL  REFER  MOUNTPOINT
large1-5                                                                                           700G   649G   699G  /large1-5
mirr1tb

[2017-09-19 15:35] bodleytunes commented on #3257
![image](https://user-images.githubusercontent.com/619239/30600904-8792408a-9d58-11e7-949b-7baa82d5a448.png)

[2017-09-19 17:47] Kramerican commented on #3698
Did that tell you anything useful @stgraber ?

[2017-09-19 18:35] stgraber commented on #3257
@bodleytunes Ok, so you'll want to do "zfs mount mirr1tb/containers/plex" and then make sure that you have some stuff in /var/lib/lxd/storage-pools/default/containers/plex.

Once that's the case, "lxd import plex" should then work better.

[2017-09-19 18:36] stgraber commented on #3698
Well, the flags are correct at least, it's just unclear why it's not expiring them then...

[2017-09-19 18:45] stgraber commented on #3698
Ok, so I found one obvious bug at least.

[2017-09-19 19:14] bodleytunes commented on #3257
OK I will try now!

Cheers,
Jon.

On Tue, 19 Sep 2017 at 19:35 Stéphane Graber <notifications@github.com>
wrote:

[2017-09-19 19:16] bodleytunes commented on #3257
OK got further this time but seen this message before, I think its looking in the wrong place and might need a symlink?

`root@bramdc-src-01:/home/jon# lxd import plex
error: open /var/lib/lxd/containers/plex/backup.yaml: no such file or directory
root@bramdc-src-01:/home/jon# `

[2017-09-19 19:24] stgraber commented on #3257
Gah, I thought we had that one fixed...

So yeah, try creating a symlink from /var/lib/lxd/containers/plex to /var/lib/lxd/storage-pools/default/containers/plex and then try the import again.

[2017-09-19 19:32] stgraber commented on #3682
Expected behavior for this as discussed on IRC: http://paste.ubuntu.com/25433159/

[2017-09-19 19:47] #3416 closed

[2017-09-19 19:54] bodleytunes commented on #3257
no joy :(

`root@bramdc-src-01:/home/jon# ln -s  /var/lib/lxd/storage-pools/default/containers/plex /var/lib/lxd/containers/plex
root@bramdc-src-01:/home/jon# lxd import plex
error: not found`

[2017-09-19 19:54] bodleytunes commented on #3257
![image](https://user-images.githubusercontent.com/619239/30612521-c8b65992-9d7c-11e7-9df1-fbee48eff0c7.png)

[2017-09-19 20:03] stgraber commented on #3257
Re-opening this. @brauner can you look into this and add it to your ever growing list of things to fix in "lxd import"?

Hopefully the design we agreed on in #3682 will help making things reliable in the future...

[2017-09-19 20:06] #3757 closed

[2017-09-19 20:15] bodleytunes commented on #3257
`root@bramdc-src-01:/var/lib/lxd/containers/plex# lxd import plex
error: No root device could be found.

[2017-09-19 20:55] #3797 closed

[2017-09-19 21:13] bodleytunes commented on #3257
Got a bit further I think

Ran this:

`lxc profile device add default root disk path=/ pool=default`

Which then let me import plex

`root@bramdc-src-01:/var/lib/lxd/containers/plex# lxd import plex
root@bramdc-src-01:/var/lib/lxd/containers/plex# lxc list
+------+---------+------+------+------------+-----------+
| NAME |  STATE  | IPV4 | IPV6 |    TYPE    | SNAPSHOTS |
+------+---------+------+--

[2017-09-19 21:20] stgraber commented on #3257
Ok, can you tell me:

 - lxc config show --expanded plex
 - What does /var/lib/lxd/containers/plex point to?
 - Does that target exist?
 - What's in /var/lib/lxd/storage-pools/
 - What does "lxc storage list" show you?

[2017-09-19 21:22] bodleytunes commented on #3257
root@bramdc-src-01:/var/lib/lxd/containers/plex# lxc config show --expanded plex
architecture: x86_64
config:
  boot.autostart: "true"
  image.architecture: amd64
  image.description: ubuntu 17.04 amd64 (release) (20170412.1)
  image.label: release
  image.os: ubuntu
  image.release: zesty
  image.serial: "20170412.1"
  image.version: "17.04"
  limits.network.priority: "8"
  volatile.base_image: a

[2017-09-19 21:27] bodleytunes commented on #3257
Just checking, looks empty ....  :(

[2017-09-19 21:30] stgraber commented on #3257
Exists but empty is what we're expecting.

[2017-09-19 21:34] bodleytunes commented on #3257
OK yes its empty:

root@bramdc-src-01:/home/jon# ls /var/lib/lxd/containers/plex

root@bramdc-src-01:/home/jon#  ls /var/lib/lxd/storage-pools/default/containers/plex
backup.yaml  metadata.yaml  plex  rootfs  templates

[2017-09-19 21:35] bodleytunes commented on #3257
root@bramdc-src-01:/home/jon# ls /var/lib/lxd/storage-pools/
default

[2017-09-19 21:35] bodleytunes commented on #3257
![image](https://user-images.githubusercontent.com/619239/30616656-dfb95802-9d8a-11e7-96e8-c233ca5057da.png)

[2017-09-19 21:42] stgraber commented on #3257
oh, hmm, that's confusing, so /var/lib/lxd/containers/plex is a directory and not a symlink?

[2017-09-19 21:53] n0guest commented on #1600
Looks like you're talking about some analog for "terminate protection" from AWS EC2.

And we tried to solve same problem by adding flag "user.protected: true" to container params and creating a wrapper-script (which checks this param and refuses to delete "protected" containers). But with CLI commands there is one small problem - people, who likes to use commands from history and pressing Enter wi

[2017-09-19 21:56] bodleytunes commented on #3257
Sorted it, it must have been some remnants of a fudged symlink, I did it all again ad its running 🥇

[2017-09-19 21:56] bodleytunes commented on #3257
Thanks for your help!

[2017-09-19 21:57] stgraber commented on #3257
sweet

[2017-09-19 21:57] stgraber commented on #3257
Did it work properly for your other containers without manual messing with symlinks and such?

[2017-09-19 21:57] stgraber commented on #3257
If so, then I guess we can close this issue again as 2.17 seems to behave for you after you upgraded to it.

[2017-09-19 22:03] #3751 closed

[2017-09-19 23:50] brauner commented on #3257
This seems to be LXD 2.13 and if this is the symlink issue than this has been fixed and removed from my "ever-growing list" of import issues.

[2017-09-20 04:47] stgraber opened #3819 "Extend UserAgent string to include distribution and kernel architecture and version"
This will make it much easier to figure out what distribution and kernel versions to focus our testing on based on image server access. It will also allow us to filter specific images based on whether the target host is going to be able to run it.

[2017-09-20 04:53] stgraber commented on #3792
Snapshots do contain a backup.yaml. If you backup only a snapshot and then restore that on a target system in the location where the full container would be expected, "lxd import" should allow you to import.

Did you actually confirm that your snapshot doesn't contain a backup.yaml file?

[2017-09-20 05:25] brauner commented on #3792
As snapshots are literally snapshot of the original container they very much do contain a `backup.yaml` file. I don't really understand what the issue is here.

[2017-09-20 08:40] brauner commented on #3805
So what seems to happen here is that the `zfs send` call never exits. When I start to `strace` it it immediately exists and I can delete the container.

[2017-09-20 10:18] brauner commented on #3805
@stgraber, this is some weird websocket stuff that seems to be going on somehow the `ioutil.ReadAll()` call hangs on reading from `stderr` if I skip that call and explicitly call `stderr.Close()` for the `stderr` pipe it still hangs in `Wait()` with `S+`. You're more familiar with the websocket code so you might have a better idea of what's going on here. Stopping the receiving side's daemon won't

[2017-09-20 10:25] brauner commented on #3811
A few more notes here from the irc discussion. The filesystem type can be gathered from the `block.filesystem` property that gets set on creation time for every storage volume that uses a block device based driver. This means that the storage volume's db entry should be retrieved if not already initialized directly via a call to the storage initializers. The correct functions to retrieve storage v

[2017-09-20 10:29] Kramerican commented on #3698
Ok so I grabbed that file and did (listing steps here just in case I'm doing it wrong)

[code]

left it for a minute then ctr+c out of it

Then did `lxc service start` and `lxc image list`

Result: I still see the old image hanging around. It did not expire.

[2017-09-20 12:50] bodleytunes commented on #3257
Hi Sorry for the delay in response.

I tried the import, and it succeeds but I still have to do the symlink . Even though I'm now using 2.17

Unless its something strange with my specific setup?

Cheers,
Jon.

[2017-09-20 13:25] wociscz opened #3822 "LXD PKI setup not accepting ECDSA keys."
* Distribution: ubuntu
 * Distribution version: 16.04
 * The output of "lxc info":
[code]

# Description
When i set up pki for certs+keys for lxd and lxc clients, i have got "no cipher suite supported" when using ECDSA 256b keys. If i create RSA 2048b keys everything start working as expected.

# Steps to reproduce

 1. Create PKI and generate keys and certificates with ECDSA 256bit
 2. Put them t

[2017-09-20 13:26] brauner commented on #3257
Hm, let's see.

[2017-09-20 13:28] brauner commented on #3257
@bodleytunes, did you restart your daemon after you upgrade to 2.17? The commit is definitely in lxd-2.16 and lxd-2.17.

[2017-09-20 13:38] bodleytunes commented on #3257
Possibly not unless it restarts the daemon when using apt dist-upgrade

I'll try again and see what happens.

On Wed, 20 Sep 2017 at 14:28 Christian Brauner <notifications@github.com>
wrote:

[2017-09-20 14:10] bodleytunes commented on #3257
imported okay but looks to have not created the symlink properly

![image](https://user-images.githubusercontent.com/619239/30648389-e632379a-9e15-11e7-8fa3-64fde9e0edb7.png)

[2017-09-20 14:39] bodleytunes commented on #3257
deleted the attempted symlink (vmhost) and created the manual way, rebooted and it works.

[2017-09-20 15:30] treba123 opened #3824 "Feature request: import storage pool"
Right now, a storage pool can't be imported (afaik).
To emulate that, I create a storage pool within an empty (btrfs-)subvolume, replace it with the one I want to import and then import the containers with `lxd import ...`.

It would be great if there was either something like `lxd storage import` or if `lxc storage create` had a flag to allow creation in not-empty source folders. Currently it abo

[2017-09-20 15:32] brauner commented on #3257
Ok, I'm about to rewrite the whole lxd import stuff so I'll keep this open for now.

[2017-09-20 15:33] brauner commented on #3682
https://github.com/lxc/lxd/issues/3257

[2017-09-20 15:35] hallyn commented on #1245
This is finally fixed upstream in Linus' kernel (not yet available in distro kernels, I assume).

[2017-09-20 15:55] alex-left opened #3825 "memory usage from lxd api dont show real ram consumed by processes of the container"
# Required information
[code]
 * Distribution: Ubuntu 14.04
OR
[code]
 * Distribution: Ubuntu 16.04

# Issue description

into container you can watch the ram of a process through "top" o "ps". The processes into container consumes more ram than the amount of the output "lxc info [container] or don't match"
for example, I have a container with an elasticsearch process with using > 1G of ram:
[code

[2017-09-20 16:44] mismacku opened #3826 "lxc OpenGL performance"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.3
 * The output of "lxc info":
[code]
Container config:
[code]
Profile:
[code]
# Issue description
I'm running lxc containers on machines with (3) Nvidia K5000's driving (9) 1080p displays and using glmark2 for testing. X is running at a resolution of 5916x3448. It looks as though the lxc (and docker) containers perform

[2017-09-20 17:02] stgraber commented on #3826
@3XX0 does that ring a bell?

[2017-09-20 17:41] albertodonato commented on #3819
We want something like the following:

- `LXD 2.18 (Windows; x86_64)`
- `LXD 2.18 (Darwin; x86_64)`
- `LXD 2.18 (Linux; x86_64; 4.4.0-78-generic; Ubuntu 16.04)`

[2017-09-20 19:49] stiobhan commented on #1245
Thanks for the update. Is this the commit? https://github.com/torvalds/linux/commit/8db6c34f1dbc8e06aa016a9b829b06902c3e1340

[2017-09-20 20:17] hallyn commented on #1245
Yup.

[2017-09-20 21:50] #3822 closed

[2017-09-20 22:07] #3775 closed

[2017-09-20 22:16] jeovanevs commented on #2984
I've made an script based on some online solutions. It worked for me. I hope it would be useful for you.

[centosLXD.sh.txt](https://github.com/lxc/lxd/files/1319385/centosLXD.sh.txt)

[code]

[2017-09-20 22:39] stgraber commented on #3825
The value that gets reported by LXD is what the kernel's memory cgroup is counting as memory use for your container. Running the same thing here on a 4.13 kernel, I'm seeing something that looks closer to the expected value:

[code]

Anyway, I'm going to close this issue because there's really not much LXD can do about this. We read and return the memory.usage_in_bytes value for the container as i

[2017-09-20 22:39] #3825 closed

[2017-09-20 22:41] stgraber commented on #3819
To cover some of the corner cases:

 - Unable to get kernel information: `LXD 2.18 (Linux; x86_64; Ubuntu 16.04)`
 - Unable to get OS information: `LXD 2.18 (Linux; x86_64; 4.4.0-78-generic)`
 - Unable to get either: `LXD 2.18 (Linux; x86_64)`

[2017-09-20 23:01] Eddie85 commented on #2004
Dear gattytto
Could you please provide the whole profile for it?
I got this error:
            lxc 20170920225750.923 ERROR    lxc_apparmor - lsm/apparmor.c:apparmor_process_label_set:234 - No such file or directory - failed to change apparmor profile to unconfined lxc.cgroup.devices.allow=a lxc.mount.auto= proc:rw sys:ro cgroup:ro lxc.kmsg= 0 lxc.autodev= 1

This is how my profiles looks like:
..

[2017-09-20 23:07] brauner commented on #2004
This line is wrong. It needs to be:

[code]
Also, please note that `lxc.kmsg` is deprecated as of liblxc 2.1 and `lxc.autodev` shouldn't need to be set as this is the default anyway. Additionally, `cgroup:ro` will currently only be respected if cgroup namespaces are **not** supported by the running kernel. If they are this statement has no effect since the isolation due to cgroup namespaces should

[2017-09-20 23:47] 3XX0 commented on #3826
Um difficult to say, GLX is really not container friendly right now.
We're working on it but it might take a while until we figure out all the nitty-gritty details.
Headless EGL on the other hand shouldn't incur any overhead. We're planning on releasing proper support soon for libnvidia-container/nvidia-docker2 which should work seamlessly in LXC.

[2017-09-21 04:26] slesru commented on #1245
Just because I'm root on host and both host and container are cenots 7 , I just did chroot to container's fs and yum update - it installed iputils in centos 7 container without need to comment out

lxc.cap.drop = mac_admin mac_override
# setfcap
in centos.common.conf
and container restart :-)

[2017-09-21 08:30] treba123 opened #3830 "Can't delete absent storage if volumes were attached to it"
This is probably related to (and partly fixed by) #3775

When trying to delete an absent storage pool (that is: it's not mounted or the file structure got deleted by other means) that had volumes attached to it (containers, images), it obviously fails with
[code]

So first I'd have to delete the volumes, but this in turn fails with the error:
[code]

I think it would be nice to have a similar chec

[2017-09-21 08:31] treba123 commented on #3775
thx @brauner !

[2017-09-21 08:58] brauner commented on #3830
Right, this situation should be solvable with my branch which landed in git master. You should be able to remove the remaining non-existing storage volumes from the storage pool and then finally remove the non-existing storage pool itself.

I don't much like the idea of deleting the pool when it has volumes attached to it even if the pool doesn't seem to exist anymore. The problem with this approa

[2017-09-21 09:05] brauner commented on #3830
That being said, btrfs might be a little special as the pool needs to be mounted before the delete can proceed. I'm off today but I'm sure I can come up with something tomorrow.

[2017-09-21 12:07] alex-left commented on #3825
At this level, I can't know which could be the kernel's issue, if it exists. I don't know how works the kernel & lxd, But, returning to my "elasticsearch" example, i can see that the value of the memory usage inside the service is correct:

[code]
So maybe the value is correct but don't show their children, or something like, or maybe that is not the correct place to get the total memory

[2017-09-21 12:49] wociscz opened #3832 "Paswordless PKI mode (with CRL for revocation)"
I've tried pki setup with lxd server and lxc clients - works perfect. But i was little bit dissapointed because there still need to be "paired" or "trusted" clients and servers with password. With your own CA the advantage of it is only you shouldn't check fingerprints of certificates.
Wouldn't be more useful when - if you using your own CA - you should omit passwords in trusting - the trust is re

[2017-09-21 14:01] bodleytunes commented on #3257
OK :)

On Wed, 20 Sep 2017 at 16:34 Christian Brauner <notifications@github.com>
wrote:

[2017-09-21 15:55] #3819 closed

[2017-09-21 16:40] stgraber commented on #3832
So the main issue right now is that there is no CRL handling in LXD. So the need for the client to be added to the server's trust store is the only mechanism in place to allow you to remove a client.

[2017-09-21 16:42] stgraber commented on #3830
Pretty sure this indeed did get fixed yesterday. The other issue in the initial report here is that to delete an image you need to prefix it with image/.

So you'd have wanted:

    lxc storage volume delete dev image/58f90cbf68927c3fc43e6ee1386446a04f3d8068c1a75a291339cb2be01dec08

[2017-09-21 16:42] wociscz commented on #3832
Ah, so when (if) crl/ocsp will be added - this shoud be possible.. so do you have some kind of "wish list"?

[2017-09-21 16:43] stgraber commented on #3824
"lxd import" will import the storage pool for you. You just need to mount things in place under /var/lib/lxd/storage-pools/POOL and then run "lxd import" for one of the containers. The storage pool DB entry will then get created based on the storage pool data contained in the backup.yaml of that container.

[2017-09-21 16:44] stgraber commented on #3832
Yeah, I think once we support having a .crl file on both the client and server, then we can add a flag allowing for password-less trust.

[2017-09-21 16:46] wociscz commented on #3832
Thanks!

[2017-09-21 16:46] stgraber commented on #3832
PKI mode isn't something we're spending very much time on so I may get to it at some point on my spare time, but if you want this implemented quickly, it may be faster for you to send a branch.

[2017-09-21 16:47] stgraber commented on #3825
What's the value of /sys/fs/cgroup/memory/memory.use_hierarchy on your system?

[2017-09-21 16:48] stgraber commented on #3825
It should be "1" and that should then ensure that memory consumption in child cgroups count towards the limit of their parent. The output above seems to show that this is somehow off.

[2017-09-21 20:10] cloud4g commented on #3333
Disabling by default is backwards thinking IMO.  IPv4 has run out of address space while IPv6 is plentiful.  Customers will demand  IPv^, IPv6 rPTR/DNS etc.  It is up to providers to mitigate the difficulties or your competitors will.

[2017-09-21 22:20] brauner opened #3834 "storage: cleanup StoragePool{Volume}Update()"
As part of this work ceph should be made to behave like lvm whenever it makes sense.

[2017-09-22 01:09] LawfulHacker commented on #2977
Just adding more information...

I tried to create a swarm inside LXD but I was unsuccessful.

To create the swarm I create this script: https://gist.github.com/LawfulHacker/1f95ba8e1cfb566bb4167019c37ba5bd

The swarm runs fine but I was unable to create any service which exposes ports. It shows this error:

    "starting container failed: error creating external connectivity network: cannot restr

[2017-09-22 02:54] jfgibbins commented on #2977
The script looks good.  I assume that docker node ls from the master shows all nodes up and running.  In addition running 'lsmod | grep brnet' in the container shows that you have the bridge filter running.  But I don't see your 'docker service create' or a docker stack deploy compose file, so the problem might be in how you're trying to create the service itself.  If you can share that, at the le

[2017-09-22 03:26] LawfulHacker commented on #2977
Any service on swarm which exposes a port isn't working.

For example, `docker service create --name web --publish 80:80 nginx` isn't accessible and we can't connect to the swarm.

Also portainer which runs on port 9000 doesn't work, so it isn't a matter of privileged ports.

Below is the full command list.

[code]
Create the service:

[code]

It runs but isn't accessible:

[code]

[2017-09-22 08:51] kakulukia commented on #3799
i think i have the same issue or at least the same error message, been trying o find out the cause, but /var/log/syslog or the suggested "journalctl  -xe" is not printing any clue as to whyits not starting. Starting it manually works tho as well as starting with the redis user like this

    su -c "/usr/local/bin/redis-server /etc/redis/redis.conf" -s /bin/sh redis

So rights should be fine, files

[2017-09-22 09:02] alex-left commented on #3825
indeed, in my server is "0", do you know which parameter of sysctl manage this value or activate it at startup?
I can not do an "echo" in the file because it is busy, even with the service shutdown
Should not the lxd installer activate this parameter?
thanks!

[2017-09-22 10:39] niko-daniel commented on #2977
@LawfulHacker try to use -p  "docker service create --name $name -p 80:80 $images", I also get same problem when use --publish.

**My setup**
[code]
**Swarm service**
[code]

**Listen port**

[code]

**Result**
[code]

[2017-09-22 11:17] stgraber commented on #3825
This needs to be set to 1 before any cgroup is created, so it's usually the job of the init system.

I know that LXC used to have logic to attempt to do that, but that was before init systems started configuring cgroups, at which point it became futile since lxc would never be the first one to setup the controller.

[2017-09-22 14:01] LawfulHacker commented on #2977
@niko-daniel the [docker engine documentation](https://docs.docker.com/engine/reference/commandline/service_create/#options) states that `-p` and `--publish` are the same option, I tried it and it make no diference on the service. It continues not accepting connections.

What is your configuration? I using the binaries provided by canocial for LXD (apt install lxd lxd-client).

    sergio@halley:~

[2017-09-22 14:04] jfgibbins commented on #2977
@LawfulHacker l I was just about to ask what version of ubuntu you're running.  I'll take it what you listed is for the host, what about the container itself?  I'm running 17.04 on the host, and generally run LTS as a guest, but the new docker swarm is an epic fail on LTS when using the overlay.  Try running your container as zesty.

[2017-09-22 14:16] ddag opened #3836 "lxc publish does not set hostname in /etc/hosts"
lxc publish properly sets the hostname in /etc/hostname, but it there is no corresponding set for /etc/hosts. i.e. 127.0.0.1 `<published name>`. As a result, sudo calls fail with "sudo: unable to resolve host `<published name>`".

[2017-09-22 14:23] niko-daniel commented on #2977
@LawfulHacker yeah, I know that. thats why I said. so, you need to try that.
host system use xubuntu/xenial 16.04
[code]
container config
[code]
container system also use xenial
[code]
docker
[code]