[2020-08-09 20:51] brauner commented on #7627
Both `ext4` and `btrfs` look fine to me with the usual inconsistencies that are caused by the blkio controller being the blkio controller.
Maybe I'm still missing something though.
But a few more notes:
- it is really crucial to call `sync` after `dd` or use the `direct` option otherwise the kernel might decide to delay the actual write to whatever time it deems fit and it won't show up in the cou

[2020-08-09 20:51] iPabro commented on #7751
hope, I did it right: `root@95.142.44.112` default port

[2020-08-09 22:21] stgraber commented on #7627
Yeah, so on ZFS here, I can see that:
 - Pure I/O doesn't get counted.
 - Sync calls do get counted.
 - Metrics don't show until something which is counted shows up.

So as long as you're on ZFS, those metrics are unlikely to be of much use, I suspect the mentioned Docker containers were on a different storage backend.

It doesn't appear that LXD needs to do anything at the cgroup level to have th

[2020-08-09 22:21] #7627 closed

[2020-08-09 22:26] #7749 closed

[2020-08-10 02:18] stgraber commented on #7751
Taking a look now, access works and I do see the bad behavior, not sure I'll figure it out tonight though, may have to try again tomorrow morning.

[2020-08-10 02:28] stgraber commented on #7751
[code]

This may be causing some issues.

[2020-08-10 02:33] stgraber commented on #7751
I've used a bit of trickery to shrink those the two storage pools on your system, freeing up a lot of disk space.

[2020-08-10 02:36] stgraber commented on #7751
Then after killing the leftover forkproxy processes, things behave properly:

[code]

So long story short, the issue was your system running out of disk space.
You have two pools, one with a 20GB limit, another one with a 100GB limit. The total capacity of your server's harddisk is 125GB.

This really doesn't give you much room for system files and when your disk got completely full, it was preven

[2020-08-10 02:38] stgraber commented on #7751
Oh, I see, we would normally have done a PID file and then used that to track the process, but we can't because there's no space for a PID file :)

[2020-08-10 02:38] #7751 closed

[2020-08-10 05:32] iPabro commented on #7751
Yes, there was a problem with free space, but I thougth a little of free space should be enough. Thank you for your help, now all lxc's launching successfully!)

[2020-08-10 07:17] tomposmiko commented on #7728
Do you want me to restart the lxd daemon?
Where can we make this more interactive? IRC?

[2020-08-10 12:49] harolds opened #7758 "Copying containers failes with error: failed to create mountpoint"
When I try to copy an existing container it results in an error. Reading other simular issues did not help me to fix it.

root@dev ~ # lxc copy kasupg5 kasupg3
Error: Create instance from copy: Failed to run: zfs clone tank/containers/kasupg5@copy-47c738fe-5d80-40a7-8d8b-69ec682ab175 tank/containers/kasupg3: cannot mount '/tank/containers/kasupg3': failed to create mountpoint
filesystem successful

[2020-08-10 13:42] stgraber commented on #7728
`journalctl -u snap.lxd.daemon -n 300 | cat` so it doesn't paginate the output and we can see the whole 300 lines.

[2020-08-10 14:52] #7758 closed

[2020-08-10 14:52] tim-seoss opened #7760 "Documetation usability bug -"
The online docs e.g. https://lxd.readthedocs.io/en/stable-4.0/instances/#keyvalue-configuration currently have some formatting issues which makes the instance key/value configuration section very difficult to read.

The key value information is presented as a large table, and the full width of it cannot be viewed horizontally (a horizontal scroll-bar appears at the bottom of the table) zooming out

[2020-08-10 14:53] stgraber commented on #7758
This error normally indicates that you have altered the `mountpoint` property of some of your containers, in this case it's showing `/tank`.

LXD only supports having datasets mounted where it sets them to be `/var/snap/lxd/common/lxd/storage-pools/POOL/...`.

Showing `zfs list -t all -o name,mountpoint` should make it quite visible where things have gone wrong.

[2020-08-10 14:57] stgraber commented on #7760
Yeah, the bad style is one of the reason why we've moved away from readthedocs.io.

https://linuxcontainers.org/lxd/docs/master/instances renders a fair bit better here and is where we've moved the documentation for the main branch and will soon follow with the stable branches (I'll add 4.0 now as it has the needed metadata).

Horizontal scrolling is likely to be a necessary evil though as wrappin

[2020-08-10 14:57] #7760 closed

[2020-08-10 15:19] tim-seoss commented on #7760
OK, that's better thanks.

At least I can fit it all on screen by zooming out (although that's not viable for lower resolution displays).  If there were some way to optionally/temporarily hide the left and right contents bars, that would make this sort of wide table more usable for more people.

It's a tricky problem, but in the case of this particular table, the layout forces a lot of white-space

[2020-08-10 15:30] harolds commented on #7758
Thanks that helped! It wasn't the mountpoint for the containers by the 'main' mountpoints.
For unknow reasons their where wrong. As far as I can remember I did not change it manually.

root@dev ~ # zfs list -t all -o name,mountpoint
NAME                                                                                           MOUNTPOINT
tank

[2020-08-10 15:33] tim-seoss opened #7761 "Some Documentation section navigation anchor links are non-functional (special character problems?)."
When navigating the master docs at:

https://linuxcontainers.org/lxd/docs/master/instances#hugepage-limits-via-limitshugepagessize

... some of the quick navigation (anchor) links displayed in the right-hand column don't function (such as the one which produced the link included above) - apparently due to the use of characters such as `/` and `[` in the section names.

[2020-08-10 17:21] stgraber commented on #7758
Ah yeah, then they'd get inherited down the tree.

[2020-08-10 17:23] stgraber commented on #7760
We'd need the various columns to have a specific class so we can then change the behavior in our custom CSS, currently that's not the case and may be more of a limitation of python-markdown

[2020-08-10 18:20] stgraber commented on #7760
https://linuxcontainers.org/lxd/docs/stable-4.0/ has stable-4.0 now

[2020-08-11 04:04] tomposmiko commented on #7728
[code]

[2020-08-11 13:38] simondeziel opened #7765 "excessive logging from dnsmasq"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04.1 64 bit
 * The output of "lxc info" or if that fails:
[code]

Snap package info:

[code]

# Issue description

dnsmasq generates logs like every seconds:

[code]

Here are some numbers to show the kind of volume:

[code]

There seems to be a correlation with the number of instances if we compare between 'lxd01'

[2020-08-11 13:54] stgraber commented on #7765
@simondeziel can you check that your LXD is idle yet still causes dnsmasq to log this?
You can do that by looking at `lxc monitor --type=logging --pretty`

Also, can you check the logs to see if those messages are for the same daemon or if the dnsmasq daemon is apparently getting respawned constantly?

[2020-08-11 13:58] simondeziel commented on #7765
Both LXD daemons are quiet, nothing shows up on the monitors. It's the same dnsmasq PID that keeps logging.

[2020-08-11 14:41] stgraber commented on #7765
@simondeziel can you check `stat -L /etc/resolv.conf`?

[2020-08-11 14:42] stgraber commented on #7765
Having just that one message printed with nothing else would suggest that the modify time of /etc/resolv.conf (well, its target) has change causing inotify to trigger a dnsmasq reload.

[2020-08-11 15:00] simondeziel commented on #7765
Indeed, watch'ing 'stat -L /etc/resolv.conf' shows the target is constantly being modified. This is weird because those boxes are configured with static IPs and there are no new network devices being created:

[code]

At this point it now looks more like a 'systemd' but than a LXD one so feel free to close if you agree ;)

Thanks

[2020-08-11 15:53] stgraber commented on #7765
Yeah, we're not doing anything that would cause writes to /etc/resolv.conf.

Must be networkd or resolved going a bit crazy. If the file gets touched every second, strace should make it easy to figure out which one of the two is at fault.

[2020-08-11 15:53] #7765 closed

[2020-08-11 18:21] simondeziel commented on #7765
To close the loop here, this was reported to https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1891215

[2020-08-11 20:33] cyberwillis commented on #7734
Makefile:114: recipe for target 'update' failed
make: *** [update] Error 1
go get -t -v -d ./...
unrecognized import path "vbom.ml/util/sortorder": reading https://vbom.ml/util/sortorder?go-get=1: 503 Service Unavailable
Makefile:19: recipe for target 'default' failed

[code]

[2020-08-12 20:37] tomposmiko commented on #7728
@stgraber
Is the above suitable and enough?

[2020-08-13 13:43] stgraber commented on #7728
Yeah, it shows an error here: `Aug 04 02:13:32 tummy lxd.daemon[1215188]: Failed to mount new mntns: Invalid argument`

Failure to run the shmounts code would certainly expect the later behavior, though that particular kernel error isn't very clear as to what happened...

[2020-08-13 16:03] ackalker opened #7771 "Github popup when opening first new issue: [contributing guidelines] link doen't follow symlink"
(deliberately not following the template as I believe this is a meta-issue.)
When I tried to create a new issue for this project on Github, I was greeted with a popup whose text starts with:
[code]
(links in Markdown syntax)

When I follow the link [contributing guidelines], I end up on a page which among other things states that the object is a "symbolic link" followed by a single line of text: "

[2020-08-13 16:06] ackalker commented on #7771
The commit which moved the CONTRIBUTING.md document: f4dcf512073811bef6fa7eea30fb02e9d8bc179b

[2020-08-13 16:26] ackalker opened #7772 "`lxc manpage <target>`: Lots of go-md2man warnings"
# Required information

 * Distribution: Void Linux x86_64 (glibc)
 * Distribution version: Rolling release
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:
[code]

# Issue description

I wanted to test generating man pages for the various `lxc` commands, as my distribution doesn't supply those, so I created a tempo

[2020-08-13 16:30] ackalker commented on #7772
The issue looks similar to spf13/cobra#1137. That issue was closed by upstream as expected behavior, recommending a change in notation.

[2020-08-13 16:32] stgraber commented on #7771
Yeah, we have reported this mis-behavior to Github before and there is an issue about it in the private OSS maintainers project with Github.

It's certainly a bit annoying but moving it to the root would then break our online documentation which to us matters more than Github's behavior.

[2020-08-13 16:32] #7771 closed

[2020-08-13 16:33] stgraber commented on #7771
(Annoyingly Github also follows symlinks, sometimes... so it's not a very consistent experience)

[2020-08-13 16:45] stgraber commented on #7772
Yeah, that's not really going to work for us as we have things like this:

[code]

`<blah>` is used for user input, `[]` is used to indicate an optional part of the command line, other characters listed are mandatory.

So in the example above `:` and `/` are mandatory characters.

Removing the `<>` within the `[]` blocks would look like:

[code]

Making it much harder to figure out what's the actu

[2020-08-13 16:45] #7772 closed

[2020-08-14 08:05] alpana17 opened #7776 "non-privileged container to privileged container"
I have a non-privileged container and want to convert it to privileged container.
It was launched using docker.

How can this be done?

Can this be done from inside the container?

[2020-08-14 08:06] ackalker commented on #7772
@stgraber
I found out that this project: cpuguy83/go-md2man (a fork?) offers a solution to the problem by supporting HTML entities (such as &lt; for `<` and &gt; for `>`), see cpuguy83/go-md2man#11 (note: the issue title is a bit misleading).

[2020-08-14 08:16] ackalker commented on #7772
See also: moby/moby#10667.

[2020-08-14 13:57] stgraber commented on #7776
This is the LXD project, not the Docker project, we can't help you with Docker.

[2020-08-14 13:57] #7776 closed

[2020-08-14 13:59] stgraber commented on #7772
Going through the linked issue in moby, they're using go-md2man directly rather than having spf13 spit out markdown which is then turned into a man page. LXD never directly imports go-md2man and so doesn't really have any control over that part so I'm not seeing any way for us to opt into the HTML entities support here.

[2020-08-14 18:14] arthur-e commented on #2660
This script no longer seems to be in the `scripts` folder. Has it been deprecated? What is the best way to migrate `lxc` containers to `lxd` today?

[2020-08-16 19:30] gattytto commented on #670
take a look at this, minikube (single node kube cluster) can be run inside a LXC container:
https://github.com/eclipse/che-docs/pull/885/files

[2020-08-17 09:52] mkhon opened #7779 "lxc move keeps other container mounts"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-23-generic
   * LXC version: 4.4
   * LXD version: 4.4
   * Storage backend in use: lvm

# Issue description

"lxc move" keeps other container mounts, so that these containers can not be restarted (device is in use)

# Steps to reproduce

 1.

[2020-08-17 13:01] stgraber commented on #7779
`lxc move` isn't meant to be long running though so as soon as it's done, whatever mount namespace snapd put it in can expire.

This is ultimately caused by snapd creating a per user copy of the snap's mount namespace, causing those mounts to get pinned.

Could you try running that lxc move as root and see if the issue disappears then?

[2020-08-17 13:06] vikikumar opened #7780 "lxc-0.9.0 ipv6 interface details is not shown using ifconfig"
Hi,

I am using lxc-0.9.0 and configured a bridged ipv6 interface in my lxc configuration as below

lxc.network.type  = veth
lxc.network.link  = br_external
lxc.network.name  = eth2
lxc.network.flags = up
lxc.network.hwaddr = 4a:49:43:49:79:bf
lxc.network.ipv6 = 2003:db8:1:0:214:1234:fe0b:3597
lxc.network.ipv6.gateway = fe80::210:20ff:fe30:4050

The container is not throwing error if I used the ab

[2020-08-17 13:12] stgraber commented on #7780
This is the wrong project, you're not using LXD.

LXC 0.9 is over 7 years old and very much unsupported at this point.
The most likely issue you're running into though is that your container is simply resetting its network config on boot.

When using such preconfigured networking, you must make sure that nothing you run in your container will attempt to configure networking on boot.

[2020-08-17 13:12] #7780 closed

[2020-08-17 17:28] vvolas opened #7782 "lxd snap 4 LTS daemon fails to start if network is slow to start"
LXD rapid restarts 6 times every 0.1 seconds and then gives up.

I doubt this is intentional behavior.

https://ihatesystemd.com/ugly/#content
https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/

**TLDR I fixed it with adding:
After=network-online.target
Wants=network-online.target**

But it could be fixed adding longer pauses between restarts too, like 10s or even more.

PS. I dont h

[2020-08-17 18:09] stgraber commented on #7782
LXD doesn't strictly require network to start up, could you show `journalctl -u snap.lxd.daemon -n 300` to see what caused it to restart?

[2020-08-18 03:34] vvolas commented on #7782
As I said network is not up.

systemctl show snap.lxd.daemon.service
RestartUSec=100ms (default)

I think increasing it would be quite harmless and would solve such slow startups.

[code]

[2020-08-18 04:47] aagt-prog opened #7784 "Unable to build LXD master branche"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04

# Issue description

On build operation we have an error:
package vbom.ml/util/sortorder: unrecognized import path "vbom.ml/util/sortorder": reading https://vbom.ml/util/sortorder?go-get=1: 503 Service Unavailable
make: *** [Makefile:19: default] Error 1

I think it's a dependency error and web site vbom.ml real

[2020-08-18 07:51] tomponline commented on #7784
I checked just now and this is working OK, so it suggests the 503 you received was just a temporary network issue, can you retry and let us know if it works.

[2020-08-18 07:51] #7784 closed

[2020-08-18 07:58] tomponline commented on #7782
So the issue looks like you've set a LXD bind address on a specific IP address, which explains why it can't listen on that address until the network is online.

You may also be able to workaround this issue by allowing non-local binds https://www.cyberciti.biz/faq/linux-bind-ip-that-doesnt-exist-with-net-ipv4-ip_nonlocal_bind/

[2020-08-18 08:48] aagt-prog commented on #7784
When i'm try to open url in browser. I see message:
Go 1.9 is no longer available. Please refer to https://goo.gl/aESk5L for more information.

Try to get url by curl:
# curl -I https://vbom.ml/util/sortorder?go-get=1
HTTP/2 503
date: Tue, 18 Aug 2020 08:47:05 GMT
content-type: text/html
set-cookie: __cfduid=db8b3b7f56ead4945b939d938f55f7f2b1597740425; expires=Thu, 17-Sep-20 08:47:05 GMT; path=/;

[2020-08-18 08:50] aagt-prog commented on #7784
Maybe this package is cached by you? On clean ubuntu i have this error now.

[2020-08-18 09:00] tomponline commented on #7784
@aagt-prog what version of go are you using? LXD requires go >= 1.13

[2020-08-18 09:02] aagt-prog commented on #7784
go version 1.15

[2020-08-18 09:47] tomponline commented on #7784
@aagt-prog I've reproduced it in empty container, although earlier running `go get -u vbom.ml/util/sortorder` worked OK, deleting it entirely and re-running produces the issue.

The package itself is still available here https://github.com/fvbommel/util but I suspect we'll need to vendor it or switch to another package.

[2020-08-18 09:52] tomponline commented on #7784
@stgraber how would you like to proceed?

[2020-08-18 09:55] tomponline commented on #7784
@aagt-prog in the meantime you can resolve this by doing:

[code]

[2020-08-18 14:54] stgraber commented on #7782
That would cause other issues though. I think we should go for a 1min retry loop when binding addresses, then if it's core.https_address, we move on, if it's cluster.https_address, we fail.

[2020-08-19 05:35] mkhon opened #7788 "Volume resize: false positive failure"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.03
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-23-generic
   * LXC version: 4.0.4
   * LXD version: 4.0.4
   * Storage backend in use: lvm

# Issue description

Seems there is a false positive failure when container volume is downsized:
[code]

# Steps to reproduce

 1. Downsize container root

[2020-08-19 14:28] stgraber commented on #7788
@tomponline can you take a look at this one?

[2020-08-19 14:42] Saviq opened #7791 "`lxd.migrate` of empty servers often blocks for 10 minutes on GitHub Action runners"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.4 LTS
 * [The output of "lxc info"](https://github.com/lxc/lxd/files/5097173/lxd_info.txt)

# Issue description

When running `lxd.migrate` on an empty / uninted LXD instance in GitHub Actions, removing the packages most often takes around 10 minutes.

It is the removal of lxd / lxd-client that lasts this long:
[code]

[2020-08-19 14:58] tomponline commented on #7788
@stgraber will do, looks like fsck (which is a requirement to be run before shrinking a filesystem) has modified the system and is returning a non-zero error code. I will see if that error code is different from a genuine error, although given the risks with automatically fixing filesystems, I may be tempted to see if there is a flag we can pass to just bail out and don't modify the filesystem at

[2020-08-19 18:05] stgraber commented on #7791
Can you show the same timing output on the one taking several minutes?

[2020-08-19 18:12] Saviq commented on #7791
Not easily, since this is invoked by `lxd.migrate`, but I'll try setting up apt prefs in a way that will make those go into apt's terminal log.

[2020-08-19 19:01] stgraber commented on #7791
Moving over to the snap packaging as if there's some kind of workaround we can do, that's where it should go.

[2020-08-20 00:41] jfp42 opened #7792 "lxc export to a soft-link directory on a different disk fails."
Ubuntu 20.04.1 LTS
LXC version: 4.4
LXD version: 4.4

lxc info:
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zfs_use_r

[2020-08-20 01:02] stgraber commented on #7792
Ah, looks like we need to switch that handle over to shared.HostPathFollow, should be easy enough

[2020-08-20 08:14] tomponline commented on #7788
OK so according to manpage of e2fsck the exit codes are:

[code]

So if we check for 0 and 1 then that should be fine.

[2020-08-20 08:52] tomponline commented on #7788
Reproduced the issue:

[code]

[2020-08-20 08:52] tomponline commented on #7788
@mkhon by the way, if you try to shrink the disk again it should succeed the 2nd time as e2fsck has fixed the missing `lost+found` directory.

[2020-08-20 09:53] mkhon commented on #7788
1) Just doing "lxc start" helps.

2) Do you think exit code 2 is also legitimate?

[2020-08-20 10:03] tomponline commented on #7788
@mkhon mmm perhaps.

[2020-08-20 10:07] tomponline commented on #7788
Actually I think I won't add that now as we unmount the volume first before running e2fsck and that exit code shouldn't occur unless its mounted.

[2020-08-20 12:43] #7788 closed

[2020-08-24 15:04] paride opened #7801 "lxc network detach-profile: typo in help message"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Groovy
 * LXD 4.4 (snap)

# Issue description

[code]

I think `<instance>` should be replaced by `<profile>`.

[2020-08-24 16:36] #7801 closed

[2020-08-24 17:00] paride opened #7804 "Can't delete networks without running detach-profile first"
When configured to setup a LXD bridge cloud-init does the following:
1. `lxd init --auto`
2. deletes the automatically created `lxdbr0` bridge (https://github.com/canonical/cloud-init/blob/master/cloudinit/config/cc_lxd.py#L271)
3. creates a new bridge as specified.

Bridge deletion is done by running `lxd network delete <bridgename>`, however as https://github.com/lxc/lxd/commit/baaa81c71be93cf2e

[2020-08-24 17:28] stgraber commented on #7804
Hmm, in your profile, is it using `nictype=bridged + parent=lxdbr0` or `network=lxdbr0`?

If using `network=lxdbr0`, then this is similar to `pool=name` for `disk` devices and should definitely prevent the deletion of the network or you'd have a DB reference to something which does not exist.

Now this behavior should NOT happen if you use `nictype=bridged + parent=lxdbr0` as that would be equival

[2020-08-24 17:35] paride commented on #7804
The profile has `network: lxdbr0`:

[code]

[code]

[code]

so I think the behavior is the expected one.

[2020-08-24 18:33] stgraber commented on #7804
Yeah, that's indeed expected and failure to behave that way actually leads to inconsistent data.

[2020-08-24 18:33] #7804 closed

[2020-08-24 22:17] stgraber commented on #7745
I fixed the snapshot handling issue now which at last gets me to hit the rsync failure you first reported :)

[2020-08-24 22:21] stgraber commented on #7745
Current state of things is when VM instance is running:
 - zfs to zfs initial => works
 - zfs to zfs refresh => fails
 - zfs to dir initial => fails

I'll be looking into why `zfs to dir` fails as that's the main puzzling one which I would have expected to work (albeit slowly).
With that one resolved, I suspect the zfs refresh case will also work but will be incredibly slow and that will likely re

[2020-08-25 07:49] pranjalnanavaty opened #7806 "Memory leak over time"
Required information

 * Distribution: **Ubuntu**
 * Distribution version: **Ubutnu 18.04.4 LTS**
 * The output of "lxc info"
[code]

# Issue description

After the host machine is rebooted and all the containers are started, slowly over time I notice some memory leak, which builds-up to occupy more than 80% of total RAM on the host machine.

If I add up all the RAM utilized by the containers runn

[2020-08-25 07:57] freeekanayaka commented on #7806
Since when are you running this exact setup? Since when have you experienced the memory leak? In other words, is there a point in time you can say a regression occurred?

[2020-08-25 08:32] pranjalnanavaty commented on #7806
I have been using this setup for the last 3 years. I am using `snap` to install `lxd`.

I have started to face this issue from the 3-4 months, can't say the exact `lxd version`, might be `4.0` or `4.1`.

[2020-08-25 09:07] freeekanayaka commented on #7806
So would you be able to positively say that 3 months ago the bug was already there?

[2020-08-25 09:22] pranjalnanavaty commented on #7806
Yes, I am positive about the fact that I am facing a memory leak since the last 3 months.

[2020-08-25 09:48] freeekanayaka commented on #7806
Okay, it suggests that if we have regressed that's because of a change older than 3 months then.

[2020-08-25 09:54] badsmoke commented on #3161
how can this problem be solved?

[2020-08-25 10:12] badsmoke commented on #6533
how can this problem be solved?

[2020-08-25 12:48] stgraber commented on #7806
I don't suppose you can give us access to one of them so we can try to sort out where the memory usage is coming from?

[2020-08-25 14:53] pranjalnanavaty commented on #7806
The complete setup is within a private network and is running production environments, thus I regret to say that I won't able to give you access to any of the host.

Although I can run any specific commands that you can suggest and share their outputs or I can share my screen with you to debug this memory leak.

[2020-08-25 17:31] stgraber commented on #7806
I guess a good starting point would be:
 - free -m
 - cat /proc/meminfo
 - ps fauxww
 - cat /proc/spl/kstat/zfs/arcstats
 - cat /sys/fs/cgroup/memory/lxc.payload.*/memory.usage_in_bytes
 - `df -h -Ta | grep tmpfs` in every container

That should let us check how much memory LXD and related processes actually use (those are the bits we control, so if those look okay, we'll close the issue) as well

[2020-08-25 20:14] toby63 opened #7810 "[Feature Request] Prompt before remapping"
When LXD does not find the kernel module shiftfs it automatically disables the shiftfs option and during container start, starts remapping the container.

I would like to see two things:

1. Warn if shiftfs gets disabled and why (kernel module not found).
2. Ask before remapping the container.

[2020-08-25 23:06] stgraber commented on #7810
1) Is advertised in `lxc info`. We don't know why but we do report if the system supports it or not.
2) Can't be done. There is no way for the server to interactively ask the client. This also wouldn't work for any case where the server itself is starting/stopping instances.

For 2), we do have a config key which prevents remapping though, setting it to true would prevent the instance from ever st

[2020-08-25 23:06] #7810 closed

[2020-08-25 23:07] stgraber commented on #7810
`security.protection.shift` would be the key in question.

[2020-08-26 06:12] #7745 closed

[2020-08-26 08:06] pranjalnanavaty commented on #7806
Here is a gist of outputs of all these commands https://gist.github.com/pranjalnanavaty/3d7a4bd3fbc1cdf34e70adca89cb7773

[2020-08-26 14:31] zrav opened #7815 "Running LXD on ZFS 2.0 causes "Required tool 'zpool' is missing""
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
[code]

# Issue description

ZFS on Linux is gearing up for the release of version 2.0 and there's now an 2.0.0-rc1. When using this version compiled from source, LXD fails to start properly with "Required tool 'zpool' is missing". I tried following the advice from https://discuss.linuxcontainers.org/t/lxd-init-fails-

[2020-08-26 14:52] monstermunchkin commented on #7815
I think you're running into this problem because you're using the snap which ships its own zfs tools (versions 0.6, 0.7, and 0.8). Upon start, the daemon checks which zfs version you have and sets the appropriate entry in PATH. Now, since you're using version 2.0.0, and the snap doesn't, it won't be able to find any binaries.

Try building LXD from source and run it from a shell (not the snap). Th

[2020-08-26 14:54] stgraber commented on #7815
Correct, the LXD snap only supports stable ZFS releases, so 0.6, 0.7 and 0.8 are currently included.

[2020-08-26 14:54] #7815 closed

[2020-08-26 14:55] stgraber commented on #7815
As building the ZFS tools is quite costly, we usually wait until the first distro includes a new ZFS version before we start bundling it in the snap. Though maybe this time around we can get rid of 0.6 as we add 2.0, we'll see.

[2020-08-26 15:06] toby63 commented on #7810
I saw no message anywhere, it is also not very useful if it's just in the logs.
Logs are imo for investigations after something happened and prevent nothing.

Well maybe there should be such an option, there are many cases in which user interaction might be helpful, for example whenever certain devices, networks etc. are not available.

And in case of automation, the interaction could be disabled.

[2020-08-26 15:38] zrav commented on #7815
I see. I understand that LXD shouldn't use the system provided tools due to snaps concept of being self contained, but isn't that also a potential source of problems, as the exact minor version of ZFS in use on the system is outside of snaps control?

Anyway, it seems the interface is stable enough so that compiling 2.0.0-rc1 as 0.8.5 (for instance), is enough to make LXD happy.

[2020-08-26 21:20] stgraber commented on #7815
As far as ZFS is concerned, they do not break userspace <-> kernel APIs in micro releases so this isn't a problem, what matters for bugfixes is the kernel side, the userspace is independent.

However there can (and definitely were) API changes between minor releases (0.6 to 0.7 for example) so that's why we ship the each of those in the snap and select based on kernel module version.

[2020-08-26 21:23] stgraber commented on #7810
It won't log a warning or anything, not having shiftfs isn't a bug, it's a feature which is used opportunistically.
LXD itself doesn't even know if a container was using shiftfs before. It can't distinguish a privileged container being turned unprivileged from a container which used shiftfs being started on a non-shiftfs system.

`lxc info` as I mentioned does report whether the system is capable

[2020-08-26 22:49] stgraber commented on #7181
Updating title to reflect the fact that we did dnsmasq and forkdns.
I've also now sent one for forkproxy.

I think qemu will now be next, then we can close this. In theory we could add confinement for all the other `fork*` subcommands but it feels like the most critical are the long running ones (and also where the impact of creating a custom profile is reasonable) so we should be good with that s

[2020-08-27 09:09] nfournil opened #7817 "Remplacement of lxd-client package (who stops with 3.0.x) in a container without privilèges ?!"
Hello,

I'm using LXC/LXD since 1.x and I use it in production since. Everything was ok... before trying Ubuntu 20.04 with LXC/LXD over snap... who is really a big change !

We are using an homemade cloud supervisor IN A CONTAINER who runs lxd-client cli command calls ... and of course we had to install snap to get lxd-client inside the container and ... container snapd inside snapd without privil

[2020-08-27 10:48] AceSlash opened #7818 "container impossible to restart after out of memory"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.5 LTS
 * The output of "lxc info":
[code]
# Issue description

A container was killed because of oom. The oom reaper started to kill apache httpd but after a lot of killing, the conatiner was simply off with the following log in lxd.log:
[code]
Trying to restart it fails with the well known zfs/namespace error:
[code]
T

[2020-08-27 11:02] AceSlash opened #7819 "lxd import doesn't work"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1 LTS
 * The output of "lxc info" or if that fails:
[code]

# Issue description

lxd import fails.

# Steps to reproduce

Send a snapshot with the dataset containing the file system of target container from server a to server b:
[code]
Set the properties that are local to the dataset the same way as it was on the source

[2020-08-27 11:19] AceSlash commented on #7819
If anyone has the same issue, this is a workaround

1. sent the dataset of the old container to the new server outside the LXD dataset
1. on the new server, init a new container with the same name as the old one: `lxc init ubuntu:20.04 container`
1. restore the config from the old container on this one via `lxc config edit container`
1. destroy the dataset of the newly created container
1. rename

[2020-08-27 12:42] stgraber commented on #7819
Looks like you missed the NOTE section in the doc.

I suspect that is you nsenter you'll see that your dataset isn't actually mounted in there and so is invisible to LXD.

[2020-08-27 16:02] stgraber commented on #7818
Can you show `grep pub-app-1 /proc/22955/mountinfo`?

[2020-08-27 16:06] stgraber commented on #7817
So you can definitely run just the LXD client from the snap inside an unprivileged container.
What exactly is your setup and what's the error you'regetting?

[2020-08-29 14:12] toby63 commented on #7810
Ok, but the remapping is still annoying without any warning and prompt.
But I read your oppinion as `wontfix`.

Confusing explanation, but from your first comment:

I assume my second option is correct:
`[it is] now protected against a change of uids (aka "remapping")`

You still could edit the explanation in the docs, so everyone can understand what it means exactly.
`Prevents the instance's file

[2020-08-30 22:27] AceSlash commented on #7818
Here is the result:
[code]

[2020-08-30 22:30] AceSlash commented on #7819
Okay you are right, I didn't see the NOTE. I'm sure it's low priority, but shouldn't lxd import do everything without having to read the documentation on an external website?

Closing in the meantime since it's not actually a bug.

[2020-08-30 22:30] #7819 closed

[2020-08-31 09:54] GPelz opened #7828 "raw.lxc lxc.apparmor.profile=unconfined -> Permission denied"
Using Ubuntu 20.04.1 LTS with:
`snap list`:
[code]
`lxc info`:
[code]

I stopped mycontainer, ran:
[code]
and then got:
[code]
when calling `lxc list` or anything else lxc related.

Looking at the journalctl I saw:
[code]
so it seemed like somehow `lxc config set mycontainer raw.lxc lxc.apparmor.profile=unconfined` caused appamor to lock me out. :(

Rebooting the server didn't help.

I noticed tha

[2020-08-31 10:08] brauner commented on #7828
This seems to be fixed by an update to snapd so did you try `snap install snapd` as suggested in #7239?

[2020-08-31 10:26] GPelz commented on #7828
`snap install snapd` reports that it is already installed.
I also already run a newer version then mentioned in that thread.
`snap --version`
[code]
running `snap refresh` (which should trigger updates) reports that all snaps are up-to-date.

[2020-08-31 11:20] GPelz commented on #7828
when setting up an nfs-server it's enough to use:
[code]
which for this container is enough for me, but `raw.lxc lxc.apparmor.profile=unconfined` seems to be broken on current Ubuntu 20.04.1 with current snap.

[2020-08-31 16:51] stgraber commented on #7828
This is almost certainly a snapd bug, looks like the apparmor policy for LXD isn't being applied properly to the `lxc` command line. I don't know if there's an easy way to force it to be re-generated but I'd recommend asking at https://forum.snapcraft.io

Traditionally a refresh should fix that, but right now the only real refresh that's available to you would be the candidate channel than include

[2020-08-31 16:51] #7828 closed

[2020-08-31 16:53] stgraber commented on #7819
Yeah, I put an entry in our backlog a little while back to completely revamp `lxd init` so that it interactively asks you about your storage pools, sets them up and lets you import their content rather than needing the user to figure out how to put everything in the right spot.

[2020-08-31 16:55] stgraber commented on #7818
Can you try `nsenter -t 22955 umount /var/snap/lxd/common/shmounts/storage-pools/default/containers/pub-app-1`?

[2020-08-31 21:05] AceSlash commented on #7819
Okay, you are talking about full restore I guess?

I'm always using `lxd import` to restore from backup (or move an lxc container when there is an issue like #7818), in this case, the host is already in production and running several containers so `lxd init` enhancement would not help.

[2020-08-31 21:07] AceSlash commented on #7818
Sure, here it is:
[code]

[2020-09-01 04:28] stgraber commented on #7818
Hmm, slightly annoying. Can you show `cat /proc/22955/mountinfo`?
Sorry for the delay, I'm off until next Tuesday (8th) so only looking at notifications every now and then...

[2020-09-01 07:17] 1wxyz opened #7830 "LXD Overlay"
# Required information

 * Distribution: Fedora
 * Distribution version: 32
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.4-200.fc32.x86_64
   * LXC version: 4.0.4 (lxcfs)
   * LXD version: 4.3
   * Storage backend in use: dir

# Issue description

Overlaid container unable to start. Even with id mappings applied.
[code]
Attempt to "resolve" the `Permission denied - Failed

[2020-09-01 08:23] pranjalnanavaty commented on #7806
Did you get a chance to look at the gist of outputs to check if there is any memory leak from LXD or the related processes?

[2020-09-01 08:40] AceSlash commented on #7818
I had to mangle the names of other containers in the following result, hopefully you won't need it but I should be able to find the original if needed:
[code]
Don't worry about the delay, you have a right to be in vacation ;-)
I'll try to not restart the host until then, baring an other issue, it should be allright.

[2020-09-01 14:19] redno2 opened #7831 "Restoring snapshot storage volume, doesn't restor the right uid/gid as before"
# Required information

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

Linux host 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

$ lxc --version
4.4
$ lxd --version
4.4

* Storage backend in use: ZFS

# Issue description

After created a new volume and attached it to my container. I've create some

[2020-09-01 14:23] tomponline commented on #7831
Please can you provide output of `lxc config show test --expanded`.

[2020-09-01 14:39] tomponline commented on #7831
Confirmed issue.

[2020-09-01 15:01] redno2 commented on #7831
I just remove the cloud-init conf data.

$ lxc config show test --expanded
architecture: x86_64
config:
  image.architecture: amd64
  image.description: ubuntu 18.04 LTS amd64 (release) (20191021)
  image.label: release
  image.os: ubuntu
  image.release: bionic
  image.serial: "20191021"
  image.version: "18.04"
  user.user-data: "........."
  volatile.base_image: d6f281a2e523674bcd9822f3f61be337

[2020-09-01 15:39] tomponline commented on #7831
Thanks.

So there appears to be an issue with the `storagePoolVolumeAttachShift()` function that is run when an instance starts the disk device that mounts a custom volume.

When the snapshot volume is restored the volume's volatile config keys are removed (@stgraber is this expected?). E.g.

[code]

However when starting the instance if not running inside the snap, although the re-shifting is log

[2020-09-01 15:42] AceSlash commented on #7818
I may have to reboot the host in the end: I can't connect to the socket via the pylxd and this is an issue because my backup script uses that.
If you have time and have any more commands to run. I'll run those commands before the reboot tonight else we'll have to reproduce the issue an other time.

[2020-09-01 16:12] tomponline commented on #7831
Actually I take that back, the issue is not specific to snap packaging. The reason I wasn't seeing it locally was that my subuid range wasn't large enough to allow another level of shifting and an unhandled error here https://github.com/lxc/lxd/blob/b361dde6df5e7da01b27098461121cafd3485b07/shared/idmap/idmapset_linux.go#L476 was being silently ignored.

Setting my subuid/subgid to `root:1000000:10

[2020-09-01 16:15] tomponline commented on #7831
@redno2 can you also provide output of

[code]

and

[code]

[2020-09-01 16:36] tomponline commented on #7831
@stgraber so I think the issue here is that when restoring a custom volume snapshot, the lxc client PUTs to `/storage-pools/%s/volumes/%s/%s` with a `Restore` field but without any config, see https://github.com/lxc/lxd/blob/9f8f2f581224e93f3f45881bc6fc573e8a672116/lxc/storage_volume.go#L1623-L1625

Then the handler detects the `Restore` field and correctly restores the snapshot.

However it then

[2020-09-01 16:50] tomponline commented on #7831
The PR above implements option 1.

[2020-09-02 07:56] #7831 closed

[2020-09-02 10:15] minhvip20956 opened #7834 "Internet connection in the container is lost after opening the port!"
Hi, I am a newbie. Today I had some experimentation with lxd. Everything went very well until I opened port 22 of the container. I had a problem with losing internet connection in the container. Details of my commands are as follows (I am using Ubuntu 18.04):

apt update -y;apt upgrade -y
apt install lxd -y
lxd init (enter,enter and enter.....)
lxc launch images:debian/10 myvm
lxc exec myvm bash (

[2020-09-02 14:42] tomponline commented on #7834
Please show output of the following commands:

On the LXD host:

`ip a`
`ip r`
`lxc config show myvm --expanded`

Inside the container:

`ip a`
`ip r`

[2020-09-02 21:07] AceSlash commented on #7818
I did reboot the host and while I have a specific issue on it which I don't understand (https://github.com/lxc/pylxd/issues/413), I could delete the faulty container since I moved it to an other host.

[2020-09-02 21:46] strugee opened #7838 "Hook into glibc NSS to resolve in-container UIDs"
# Required information

 * Distribution: Debian
 * Distribution version: buster/10
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Because of the UID mapping, LXD containers break tools that attempt to resolve numeric UIDs to string usernames. `lsof` is (presumably) the most common culprit here. See e.g. [this complaint](https://discuss.linuxcontainers.org/t/lsof-no-pwd

[2020-09-02 23:01] stgraber commented on #7838
Nope, we won't be doing this.

It's extremely unsafe for a container manager to interact with NSS in a container and LXD in general makes a hard line choice that we never execute code or trust any files coming from within the container.

Even if this part was fine, you'd have the problem that the same UID/GID may be used by multiple containers. As the nss API doesn't let you resolve the name of a

[2020-09-02 23:01] #7838 closed

[2020-09-02 23:05] stgraber commented on #7830
This isn't supported by LXD and it working in the past was effectively just an accident.
Direct user modifications under LXD's directory aren't supported specifically because we can change the way we handle things there at any time.

This particular change was most likely either caused by the snap using a mount namespace (and so isolating it from mount operations done outside of it) or by the new

[2020-09-02 23:05] #7830 closed

[2020-09-03 02:20] xqfone070 opened #7839 "Failed to start container"
# Required information

 * Distribution:CentOS
 * Distribution version:CentOS Linux release 7.6.1810 (Core)
 * The output of "lxc info" or if that fails:
[code]

# Issue description

After installed lxd, I created serveral containers(less than 5), some can start successfully, but some failed.
I tried to reboot the host, but the issue still exists, sometimes container A failed to start, sometimes c

[2020-09-03 03:41] nehz opened #7840 "GPU information with nvidia.runtime"
* Distribution: Debian 10 Buster
 * Kernel version: 5.7.0-0.bpo.2-amd64
 * LXD version: 4.4 (via snap)
 * Storage backend in use: ZFS

# Issue description

Using `nvidia.runtime="true"` does not seem to mount the `gpus` in `/proc/driver/nvidia/gpus` which contains information about the GPUs

# Steps to reproduce

 1. Use `ubuntu:focal image`
 2. Add gpu device
 3. Use `nvidia.runtime="true"` and `

[2020-09-03 04:40] strugee commented on #7838
Right, this makes a lot of sense, and that hardline choice is actually one of the reasons I picked LXD in the first place. I guess I was picturing some sort of agent running inside the container which would interact with NSS and output something easy to parse (with code to audit for security vulnerabilities)... but now that I actually write it out that seems kinda ugly.

Could there at least be a

[2020-09-03 18:54] stgraber commented on #7838
That's possible though I'm not sure it could be easily be done in a performant way.

LXD can only tell whether it used a particular uid/gid by loading the details of every container in the database as well as all profiles, then compute the map for each of them and see if one or multiple of them have a particular uid/gid mapped.

This is very expensive to do and would be done for every nss call as

[2020-09-04 01:59] ak2766 commented on #1600
This is one **_cool_** feature - I wish I knew this before yesterday when, as stated above, I fat fingered something silly - :(.  But, no pain no gain, so there's that at least; a setting that I'll never forget.

[2020-09-04 02:42] xqfone070 commented on #7839
After I remove all the modules depended by lxd, update the centos to 7.8(yum update),  and then reinstall the lxd, It works.

[2020-09-04 02:42] #7839 closed

[2020-09-04 07:03] vvolas opened #7843 "btrfs csum warnings when using vms"
I m getting btrfs csum warnings on 3 different images in 3 different machines so this shouldn't be local issue of mine. I don't know if it is actually serious but these errors are definitely not pretty.

These errors are on root.img file

[code]

I guess it is related how images are being accessed/written? And what could/should do lxd team I have no idea.
https://btrfs.wiki.kernel.org/index.php/Go

[2020-09-04 07:13] nfournil commented on #7817
Hello,

To be more precise, it's more than we can't make lxd work via apt installation, without privileged mode. Here is more details about the issue :

We are forced to install snap and lxd in an offline environment ( from a local repo )

so far, we tried multiple ways to install it  :

First on an new and empty container, ( without snap ) , we disabled snapd.pref ( rm /etc/apt/preferences.d/snap

[2020-09-04 07:13] nfournil commented on #7817
Hello,

after a bit more digging from our side, we managed to make it work :

here are the differents steps we followed :

- On a fresh container, we first rm /etc/apt/preferences.d/snapd.pref to install lxd via apt ( We are forced to install snap and lxd in an offline environment, from a local repo )

- We rebooted the container, and then got a clean snap list :

snap list
Name    Version   Rev

[2020-09-05 16:21] stgraber commented on #7817
Ok, so that's likely normal.

Interface auto-connection happens as a result of signed store metadata (assertion).
It sounds like in your offline environment, those assertions aren't getting loaded into snapd causing this issue.

I don't know what's in your 4.4 deb but maybe there's something wrong with the store assertions it contains which prevents the auto-connect and require that additional ste

[2020-09-05 16:21] #7817 closed

[2020-09-07 14:42] Tampa opened #7845 "Proxy for nginx php xml content shift"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 kts
 * The output of "lxc info" or if that fails:
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices

[2020-09-07 22:47] stgraber commented on #7845
Looks like you're using LXD 3.0.3 which had a very limited and somewhat buggy implementation of the proxy logic.
Any chance you could upgrade to LXD 4.0 as there is a good chance this will fix the problem.

[2020-09-08 13:17] panlinux opened #7846 "lxd vm launch fails on arm64: MSI-X is not supported"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info":
[code]

# Issue description
[code]

Might be related to https://bugs.launchpad.net/ubuntu/+source/libvirt/+bug/1706630

# Information to attach
Please let me know if you need more info. Hardware, based on the output of `lshw`, is an `HP ProLiant m400 Server Cartridge` "moonshot".

[2020-09-08 15:00] Saviq commented on #7846
@panlinux you may need `-c security.secureboot=false` on arm.

[2020-09-08 16:12] Tampa commented on #7845
Annoyingly the provider only offers Bionic so I can't install from snap as snap itself won't install due to kernel missing patch. I have a test environment on Focal, am about to test it there to see if it still does it. If there is a ppa for Bionic with version 4 I'd happily test it there as well.

I somewhat suspect it really is just this version causing the issue, but I couldn't find concrete in

[2020-09-08 18:21] m-ueberall opened #7848 "`lxc export <name_of_container> -` creates, then discards temporary tar archive"
**EDIT:** This might better be moved to lxc/lxc (but OTOH, there's only a single `lxd` snap).

# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version (`uname -rsv`): `Linux desktop01 5.4.0-20-generic #24 SMP Wed Mar 25 23:29:54 CET 2020`
   * LXC version: 4.4
   * LXD version: 4.4
   * Storage backend in use:

[2020-09-08 22:16] stgraber commented on #7845
That's odd, what kernel is your provider running on bionic?

bionic should be on 4.15 at minimum and I know snapd happily works at least as far back as 4.4 so a bit confused as to why this isn't a viable option for you.

[2020-09-08 22:17] stgraber commented on #7846
A fix has been merged.

[2020-09-08 22:17] #7846 closed

[2020-09-09 11:33] Tampa commented on #7845
snap install lxd --channel=4.0/stable
error: system does not fully support snapd: cannot mount squashfs image using "squashfs": mount:
       /tmp/sanity-mountpoint-998328098: unknown filesystem type 'squashfs'.

Haven't found conclusive results as to what causes this other than the kernel not being up to the task to run snap properly, but it is 4.15.

[2020-09-09 12:04] dionysius opened #7849 "Can't build lxd by release 4.5 on xenial, BPF_* undeclared"
# Required information

 * Distribution: ubuntu
 * Distribution version: xenial
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux ct1 4.4.0-184-generic #214-Ubuntu SMP Thu Jun 4 10:14:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: liblxc1 3.0.3-0ubuntu1~16.04.1 from xenial-backports
   * LXD version: -
   * Storage backend in use: -

# Issue description

I use

[2020-09-09 12:39] Tampa commented on #7845
I just finished setup on Focal and installed everything just like I did on bionic and I see no shifted output and the basic return is also not cutoff in the end either. So this really must be the outdated LXD version.

Installed on Focal via snap LXD 4.4 and the container config being the same, I also tried ppa for php and nginx to get the latest version there, but no matter which php or nginx I i

[2020-09-09 13:08] melato opened #7851 "lxc config device add: wrong usage"
snap version:  lxd     4.4          16926  latest/stable  canonical

# Issue description

The usage for "lxc config device add" incorrectly mentions that it can add a device to an instance or a profile.
The way to add a device to a profile is with another command:  lxc profile device add

Steps to reproduce:
lxc config device add -h

Result:  The help mentions:

[code]
This couldn't work because w

[2020-09-09 13:32] stgraber commented on #7851
Yeah, this is because we use the same functions to process instance and profile devices, though I may have figured out a way to still have the help differ somehow, giving that a go now.

[2020-09-09 15:12] #7849 closed

[2020-09-09 15:23] jhobbs opened #7852 ""Failed connecting to global database (attempt 1145): failed to create dqlite connection: no available dqlite leader server found""
* Distribution: ubuntu 20.04.1
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-47-generic (buildd@lcy01-amd64-014) (gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)) #51-Ubuntu
   * LXC version:
   * LXD version: snap 4.4
   * Storage backend in use: whatever juju configures by default

# Issue description

juju is deploying LXD on a focal machine; lxd never gets going because i

[2020-09-09 15:55] freeekanayaka commented on #7852
Do you have more details about "juju is deploying LXD" ? Is juju installing a non-clustered LXD? The "no available dqlite leader server found" error can happen in a cluster when the majority of voting nodes is offline, but we never observed it on a single-node non-clustered LXD deployment, I think.

[2020-09-09 16:19] jhobbs commented on #7852
This is just a single node cluster; it's juju setting up lxd on a single
node as part of a deployment on top of maas so that some units can go into
containers.

On Wed, Sep 9, 2020 at 10:56 AM Free Ekanayaka <notifications@github.com>
wrote:

[2020-09-09 16:23] freeekanayaka commented on #7852
Do you still have this broken deployment up for inspection? Can you make a tarball of `/var/snap/lxd/common/lxd/database` and send it to me? (free.ekanayaka@canonical.com)

[2020-09-09 19:24] #7851 closed

[2020-09-09 20:03] #7848 closed

[2020-09-09 20:34] stgraber commented on #7843
Sorry for the delay. I've done a bit more research about this, I was specifically wondering if turning off some of the copy on write bits may help avoid this, but this seems unrelated.

I'm also not finding any actual bug resulting from this, other than btrfs detecting an in-flight data change and recording it.
This looks like normal behavior for direct I/O and if this was directly incompatible wi

[2020-09-09 20:34] #7843 closed

[2020-09-09 20:37] stgraber commented on #7845
Ok, that's good to know. We'll be closing this issue as LXD 3.0.x is in security-only mode at this point. It's worth noting that we do have a few proxy fixes in the stable-3.0 branch which will be included in an upcoming 3.0.5 release, so this may still be fixed there.

As for running 4.0 on bionic, this should definitely work fine. I suspect you're getting this `squashfs` error because you're run

[2020-09-09 20:37] #7845 closed

[2020-09-09 21:09] stgraber commented on #7818
Ok, closing this one for now as the reboot would have cleared any additional data we could have gotten.
I'm hoping this won't show up again or that if it does, I'll be around for a faster debugging cycle to track down what happened...

[2020-09-09 21:09] #7818 closed

[2020-09-09 21:10] stgraber commented on #7834
Closing for inactivity, comment in here and we'll re-open when we have sufficient data to track down the issue.

[2020-09-09 21:10] stgraber commented on #7840
I'll take a look at this one. This is almost certainly kernel behavior that we can't really do anything about (especially given the nvidia driver is proprietary) but I'd like to see it for myself :)

[2020-09-09 22:35] Tampa commented on #7845
Think the reason for this is the provider being OVH, which haven't even bothered to update their mirrors to focal at this point and it seems their custom kernel is missing some parts, which means my best option is to bother them to get their act together.

I don't really want to spend the effort to compile a kernel for this potentially breaking other hardware compatibility so I will just wait and

[2020-09-09 22:54] stgraber commented on #7840
Hmm, so this appears to be deliberate and done by the nvidia-container tools.

[code]

You can restore the normal entries with `umount -l /proc/driver/nvidia`

I'm not sure exactly why nvidia made the container logic do this, but it appears to be somehow deliberate?

[2020-09-09 22:54] #7840 closed

[2020-09-09 22:56] stgraber commented on #7840
If you want to file an issue about this behavior, https://github.com/NVIDIA/libnvidia-container should be a good place for it.
I've checked that we have no code that would cause this, so it's the call to `nvidia-container-cli configure` which is triggering this behavior.

[2020-09-09 23:12] #7687 closed

[2020-09-09 23:12] stgraber commented on #7687
(Closing for now due to no update, feel free to comment in here still and we'll re-open as needed)

[2020-09-09 23:15] stgraber commented on #7806
Sorry for the long delay, I've been on vacation for the past 10 days or so and just catching up on things now.

[2020-09-09 23:23] stgraber commented on #7806
A few observations so far:
 - You seem to have both the LXD snap and deb installed. You should remove the LXD deb, though that will only save you 20MB or so of RAM.
 - LXD snap uses 172MB of RAM
 - ZFS ARC is using 36.5GB of RAM
 - Your container use around 46GB of RAM

Your total used memory is 106GB of which:
 - VFS cache uses 21.5GB
 - Containers use 46GB
 - ZFS uses 36.5GB

This leaves you wit

[2020-09-09 23:23] #7806 closed

[2020-09-09 23:24] stgraber commented on #7630
@mt-caret any luck?

[2020-09-09 23:24] stgraber commented on #7539
Anyone had any luck working around this problem or otherwise reported this regression to CentOS/RedHat?

[2020-09-09 23:26] stgraber commented on #7845
Hmm, I wonder if you could just switch to the official Ubuntu repositories and get the regular 4.15.

I've also been using OVH extensively for my servers (in fact linuxcontainers.org and some of our image servers run there), but never used their image of Ubuntu, instead getting the server into rescue mode or using IPMI KVM (when available) and then performing a clean stock Ubuntu Server install fr

[2020-09-10 02:41] nehz commented on #7840
Awesome thanks for looking into it

[2020-09-10 06:14] vvolas commented on #7843
[Tue Sep  8 14:01:39 2020] BTRFS warning (device sdc3): csum failed root 970 ino 285 off 608002048 csum 0x92406385 expected csum 0x46532d88 mirror 2
[Tue Sep  8 14:01:39 2020] BTRFS info (device sdc3): read error corrected: ino 285 off 608002048 (dev /dev/sdc3 sector 125881080)

I have btrfs raid on all machines and I got few of those, these are rare. I dont know specifics, but could these correct

[2020-09-10 08:38] Tampa commented on #7845
I switched the server into prod so can't do that at the moment, but if OVH continues to lack behind on updating to focal I may have to switch to mainline. Fact I couldn't go up to focal still bothers me greatly with ubuntu not really backporting anything bionic is a minefield of outdated software that does not make it fun to setup and use. Good to know that this is an option though, you never know

[2020-09-10 09:17] jsnjack commented on #7539
The issue was reported in centos bug tracker here https://bugs.centos.org/view.php?id=17461

[2020-09-10 15:30] #7539 closed

[2020-09-11 09:44] melato opened #7854 "zfs error: cannot receive: local origin for clone does not exist"
I cannot use zfs send/receive to copy the LXD ZFS dataset in certain cases after copying and deleting containers.

This must be a ZFS bug, but I can only reproduce it with LXD.  Could you please find out the equivalent zfs commands that reproduce this problem, so we can pass it on to ZFS.

# Version information

Distribution:  Debian 10.5, with backports, snapd, and ZFS installed, as per:
https://

[2020-09-11 09:46] melato commented on #7854
A similar issue was reported here:  https://github.com/openzfs/zfs/issues/10135

[2020-09-11 10:58] melato commented on #7854
I edited the description and removed the second "lxc snapshot", which is not needed.

[2020-09-11 14:36] pranjalnanavaty commented on #7806
Thank you for the detailed explanation and pointing out the memory distribution.

[2020-09-12 07:25] erdelyijanos opened #7857 "LXD sql problem: failed to open cluster database"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0.48
   * LXC version: 4.5
   * LXD version: 4.5
   * Storage backend in use: btrfs

# Issue description

Error: failed to open cluster database

# Steps to reproduce

 It just happended after a power loss

# Information to attach

Sep 11 22:13:20 se

[2020-09-13 12:56] 1wxyz commented on #7830
I believe only LXD that is installed via snapd has `/run/snapd/ns/lxd.mnt`. If I choose to fetch the source and build it by myself, what is the trick besides the one mentioned above?

[2020-09-13 14:10] fvbommel commented on #7784
The package previously named `vbom.ml/util/sortorder` is now available again as `github.com/fvbommel/sortorder`, see fvbommel/util#7.

My apologies for the inconvenience.

[2020-09-13 14:10] fvbommel commented on #7734
The package previously named `vbom.ml/util/sortorder` is now available again as `github.com/fvbommel/sortorder`, see fvbommel/util#7.

My apologies for the inconvenience.

[2020-09-13 19:38] oneptr opened #7858 "mkfs.ext4 arguments generated in wrong order for lxc launch"
# Required information

 * Distribution: void linux
 * Distribution version: rolling
 * The output of "lxc info"

[code]

# Issue description

The command "sudo lxc launch images:voidlinux/musl" fails with:

[code]

**And it is obvious why it fails: the generated mkfs.ext4 command is generated wrong; The device name needs to be after the options!**
/dev/lxc/images_36..... needs to be at the end; -

[2020-09-14 03:17] stgraber commented on #7734
Ah, good to know it has a more reliable home now, thanks!

[2020-09-14 03:18] stgraber commented on #7830
Correct, the separate mount namespace is only present with the snap.

If not using the snap, then the difference you may have observed is simply that LXD is more aggressively unmounting volumes when it's not using them.

[2020-09-14 03:25] stgraber commented on #7858
[code]

So the problem is with the `mkfs.ext4` in your distro :)
Maybe consider that we may actually have testing for this in place before assuming that we do not...

[2020-09-14 03:28] stgraber commented on #7858
@tomponline can you send a branch to re-shuffle argument order to accommodate distros where the order matters?

[2020-09-14 03:31] stgraber commented on #7857
@freeekanayaka can you take a look at this?

@erdelyijanos it'd be great if you could make a tarball of `/var/snap/lxd/common/lxd/database` and send it to both:
 - stgraber at ubuntu dot com
 - free dot ekanayaka at canonical dot com

That should make it easy for us to replay the failure and get a fix out in short order (and possibly a quite workaround for your specific setup in even shorter order

[2020-09-14 03:36] stgraber commented on #7854
Definitely smells like a ZFS bug...
Can you show `zfs list -t all -o name,origin,clones`? Maybe this will show some oddity?

I'm closing the issue as this really feels like a ZFS bug. I subscribed myself to the openzfs issue so will get notified if upstream asks for something that's related to LXD.

[2020-09-14 03:36] #7854 closed

[2020-09-14 05:22] oneptr commented on #7858
Sorry. It's just frustrating that things don't work for such stupid reasons.
Also, want to point out that your command works on a file (test.img) while my command works on a device name. (/dev/...)
Hard to believe that the distro matters here, since the version of mkfs.ext4 is the same (1.45.6) in both our cases.

[2020-09-14 07:29] freeekanayaka commented on #7857
It looks like patch 34 is making some unmet assumption on existing data. Having a tarball of the database would indeed help figuring out what's wrong.

[2020-09-14 08:39] tomponline commented on #7858
@stgraber yep will do.

Tested on Ubuntu Focal with a 'real' LVM volume device and it works with the current ordering too:

[code]

[2020-09-14 12:00] dhpowrhost commented on #7815
@zrav Did you find a way to install lxd with zfs 2.0. I would also like to do some testing on zfs 2.0 :)

[2020-09-14 14:59] zrav commented on #7815
@dhpowrhost like I said, compile ZFS 2.0.0 as 0.8.5 by editing the META file, then following the custom package following the [instructions](https://openzfs.github.io/openzfs-docs/Developer%20Resources/Custom%20Packages.html).

[2020-09-14 15:06] #7858 closed

[2020-09-15 03:52] chang-andrew commented on #7423
Hi there, my name is Andrew and I'm a CS student at UT Austin. Would it be okay if I worked on this issue as part of a learning requirement for a Virtualization class I am taking right now?

[2020-09-15 04:17] stgraber commented on #7423
@chang-andrew certainly, that sounds good. I'll assign it to you.

As mentioned, we agree with the general need to add more filtering options to `lxc list` though don't really agree with the proposed options above and will need to think about this a bit more to come up with a set of options that should cover most needs, is easily extensible and doesn't end up consuming too many command line flags.

[2020-09-15 13:34] rusher97 opened #7864 "lxc commands mixed german and english"
Distribution: Ubuntu
Distribution version: 18.04.5 LTS
Kernel version: GNU/Linux 4.15.0-117-generic x86_64
LXC version: 3.0.3
LXD version: 3.0.3
Storage backend in use: zfs

Hi,

the first nine lxc commands are upper case and german, i think its since the last update. Last time i changed container configuration i just used "lxc config", now its called "lxc Konfiguration", see my "lxc help" below.

[2020-09-15 14:20] stgraber commented on #7864
That's unfortunately a common pattern with partly translated software which we can't really control.
Official LXD translations can be found and fixed at https://hosted.weblate.org/projects/linux-containers/lxd/

Though in the case of Ubuntu, there's also Launchpad which may have differing distro-specific translations impacting this.
One thing I noticed is that a few of our commands are incorrectly

[2020-09-15 17:13] #7864 closed

[2020-09-16 01:57] stgraber opened #7867 "Allow online growth of containers on LVM/Ceph"
Currently growing a container backed by LVM or Ceph (block storage) requires a restart.
This should not be required so long as the container is backed by ext4 or btrfs.

We should check the filesystem and attempt a live resize if on ext4 or btrfs and only use the current behavior of doing it on next startup for filesystems which cannot be resized online (xfs).

[2020-09-16 01:59] stgraber commented on #6757
@freeekanayaka what's the status of this?

[2020-09-16 02:01] stgraber commented on #3440
I believe we now have this. LXD has improved OVS device support (properly releases the ports) and supports setting the VLAN ID for the untagged VLAN and additional tagged VLANs.

[2020-09-16 02:01] #3440 closed

[2020-09-16 02:03] stgraber opened #7868 "`proxy` device support for VMs (NAT-only)"
We should add support for `proxy` devices on virtual machines but restricting them to NAT mode for now as implementing the full range of proxy device options through the agent would be a lot of work.

Just doing the NAT piece should be very straightforward, re-using what we have in place for containers.

[2020-09-16 02:07] stgraber opened #7869 "Report `qemu` driver with version in `/1.0`"
Similar to how we're reporting `lxc` and its version in `driver` and `driver_version`, we should include `qemu` and its version in there when available.

I suspect this should be done by:
 - Adding an `Info()` function in the `instance` interface, similar to what we're doing for storage
 - Having a function in the `instance` package which lets you query the `Info` for all drivers
 - Updating the `

[2020-09-16 02:09] stgraber opened #7870 "Allow `user.*` keys everywhere we store configuration"
The `user.*` key namespace is meant to allow users to store any additional data they see fit.
This is allowed in a few places right now, most notably in instance/profile config, but we should make sure it's also valid in:
 - networks
 - projects
 - server
 - storage pools
 - storage volumes

[2020-09-16 02:18] stgraber opened #7871 "Move all iproute (`ip` command) calls to a separate package"
Our long term plan is to switch from calling `ip` as a subprocess and instead hit netlink directly from Go.

But as a first step, we need to refactor our calls to `ip` and move everything into a new package, providing a first abstraction layer that we can then use as the basis for the switch to netlink.

So for this issue, we'll want to locate all calls to `ip`, figure out what they do, from that

[2020-09-16 02:21] stgraber opened #7872 "New `pci` device type for virtual machines"
This is a new device type exclusively available to virtual machines and which relies on the existing VFIO logic we have for `nic` and `gpu` passthrough.

The expectation is that a user would provide either a `pci` address or `vendorid` and `productid` (similar options to `gpu` type).
From that we locate the PCI device and pass it in with VFIO to the VM.

The main benefit of this is to allow passin

[2020-09-16 02:24] stgraber opened #7873 "Support refreshing custom storage volume copies"
This is the same idea as `lxc copy --refresh` which allows updating an existing copy, both locally and remotely.
But this time, we want to do it for storage volumes, so at the `lxc storage volume copy` level.

The infrastructure should be identical and so require little to no changes at the storage package layer.
As the same migration structs are used for both instances and storage, that layer sho

[2020-09-16 02:42] stgraber opened #7874 "Auto-generated API documentation"
Over the years, we've certainly hit the limits of `doc/rest-api.md` as a suitable way to describe our API and its valid input/output.
Advanced users know to go look at `shared/api` to find everything that's possible for every endpoint but this is far from ideal.

I'd like us to switch over to auto-generated API documentation.
Looking around, I've found https://github.com/swaggo/swag which seems to

[2020-09-16 02:54] stgraber opened #7875 "Make `lvm.thinpool_name` node-specific"
Originally from https://discuss.linuxcontainers.org/t/failed-to-join-cluster-due-to-missing-config-part-in-lxc-profile-show/8538/26,

In July 2018 the `lvm.thinpool` key was made node-specific (https://github.com/lxc/lxd/commit/1b67e1cc9a9f4851695c898fbb16bc31b444dfe3), however it was likely a typo as this key has apparently never actually been in use.

Instead it should have been `lvm.thinpool_na

[2020-09-16 03:00] stgraber commented on #7423
@chang-andrew btw, not sure how many more in that class are looking for good first contributions but I've just gone through some of our backlog and created suitable issues on the LXD project. They can also all be found (for all our projects) at https://discuss.linuxcontainers.org/t/easy-issues-for-new-contributors/7454

Feel free to circulate that link to anyone else interested. We've had great co

[2020-09-16 03:43] chang-andrew commented on #7423
@stgraber that is amazing and very helpful, thanks so much! I will be sure to share that with the class 😃

[2020-09-16 04:38] oneptr commented on #7858
I was curious to understand the root cause of this:
"This is not a problem on glibc since GNU getopt(3) will reorder the
arguments. However, alternative libc such as musl libc (or glibc with
$POSIXLY_CORRECT set) will not permute argv and fail to parse the -o
<options>."

So putting options at the end is not POSIX compliant, and libraries like
musl, which are (more) POSIX compliant don't support t

[2020-09-16 04:44] oneptr commented on #7858
The problem really is that you don't support linux based on musl.
As explained below, glibc relies on a non POSIX-compliant extension of
getopt and the library used here, musl, does not do that and your code does
not check for that.

On Sun, Sep 13, 2020 at 9:26 PM Stéphane Graber <notifications@github.com>
wrote:

[2020-09-16 07:36] #7181 closed

[2020-09-16 08:12] freeekanayaka commented on #6757
What we could do is 1) have a way to better expose the fact that a node is blocked waiting for other nodes to be upgrade, without requiring log inspection 2) have a way to kick out a not-yet-upgraded nodes if you know they are dead and they won't come back.

From an implementation point of view, the regular `/1.0/` API endpoint is not yet available in that stage (since we block on the `setupChan`)

[2020-09-16 09:25] avsdev-cw commented on #7625
I had assumed that this update had fixed it (at the time I didn't have a beta testing capability, so I waited until 4.4 was in stable), but apparently not:
[code]

[2020-09-16 15:28] Saviq opened #7877 "Cryptic "The requested image couldn't be found" even though it's listed in `lxc image list`"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
 * [The output of "lxc info"](https://github.com/lxc/lxd/files/5233048/lxc.txt)

# Issue description

I'm getting an "image not found" without any detail when working with a prototype streams:

[code]

While it's obviously a problem with my streams, the error could say more? Maybe the URL it was trying?

# Steps to re

[2020-09-16 16:16] stgraber commented on #7877
That tends to be hidden away a bit by the LXD API a bit since in this case the actual download will be initiated by your local server.

Debugging streams tends to be easier when only relying on the client code, so in this case, try:
 - lxc image list buildd-test:
 - lxc image show buildd-test:0e6b24b6a420
 - lxc image export buildd-test:0e6b24b6a420

And that last one tells you what's going on:
[c

[2020-09-16 16:17] stgraber commented on #7877
it's a `.tar.gz` vs `.tar.xz` thing in this case.

[2020-09-16 16:20] stgraber commented on #7877
Oh, actually, in my case I'm actually getting the right error:
[code]

I think what you're hitting in your case is the simplestreams cache. LXD downloaded your stream the first time you tried a copy, probably when the index wasn't working (explaining your error), you've then fixed that issue but the cache hasn't expired yet and so you're still getting the error.

So get things working with `lxc im

[2020-09-16 16:20] #7877 closed

[2020-09-16 17:02] Saviq commented on #7877
Yeah I realized that in the mean time… Sorry for the noise, then. It was still weird to see the image in the list, but have it 404 when trying to use it…

[2020-09-16 20:32] stgraber commented on #7625
Sent a fix, though note that what you're trying to do above will never work.

It's impossible for the alias parser to know that `lxc --project test shell c1` should be split as:
 - Flags: --project test
 - Command: shell
 - Arguments: c1

Rather than:
 - Flags: --project
 - Command test
 - Arguments: shell c1

It first needs to know what the command is before any argument parsing can be done so th

[2020-09-17 04:30] #7625 closed

[2020-09-17 04:56] Deltik commented on #7815
I made a silly workaround script that lets you use the system ZFS 2.0 version number with the currently installed lxd snap:

[code]

This script will restart the lxd snap.  It forces the lxd snap daemon to use the ZFS 0.8 binaries unless an older version is installed, in which case that version will be used instead.

To roll back, just run the script again and specify `y` when prompted.

[2020-09-17 07:45] vvolas opened #7881 "Ceph missing rbd "--name" option?"
[code]

In ceph storage I wanted to change from admin user to client.lxd.

In ceph I created user and added capabilities "ceph auth caps client.lxd mon 'profile rbd' osd 'profile rbd pool=ceph-lxd'"
created keyring in /etc/ceph/ceph.keyring
[client.lxd]
        key = xxx

On lxd side with "lxc storage edit ceph-lxd" I changed user from admin to client.lxd.

First minor problem was ceph.keyring get

[2020-09-17 09:40] vvolas commented on #7881
False alarm. I written in lxd config client.lxd and it should have been just lxd.

But first issue still kinda exists, its very weird first time after reboot lxc list works, second time it doesnt, but with same /etc/ceph/ceph.client.admin.keyring  (actually lxd keyring) it seems to work.

[2020-09-17 09:40] #7881 closed

[2020-09-17 21:25] toby63 commented on #7423
@chang-andrew @stgraber Could you post the resulting propositions for the flags?
Maybe some people would like to comment :slightly_smiling_face: .

[2020-09-17 22:24] stgraber commented on #7423
@toby63 my current hope is that we can do away with flags completely and extend the filter syntax instead to match based on API fields. This may be slightly longer to type but would never need updating as it would just automatically evolve as we add more properties in the API.

`lxc list type=virtual-machine location=node03 status=RUNNING user.foo=bar abc -c n46`

This would list anything which:

[2020-09-17 22:31] WebsliceNL opened #7886 "Feature request, user/group quota support for dir ext4 storage backend"
# Required information

 * Distribution: Centos8 or latest Ubuntu
  * Storage backend in use: dir ext4

# Issue description

Already tried to get the status clear on the forum.
With the lack of feedback, I will assume it's not supported yet.

https://discuss.linuxcontainers.org/t/is-regular-user-and-group-quota-supported-inside-a-container-using-ext4-dir-backend/8502

Can we have full user/group q

[2020-09-17 22:33] stgraber commented on #7886
The reason why nobody's giving a clear answer is that it's really not something we can control at the LXD level.

Those are seldom used filesystem-specific features. LXD does give you control on mount flags when using something like LVM with ext4 per-container, but then I highly doubt that the kernel would allow any of the quota related ioctls when coming from inside an unprivileged container.

[2020-09-17 22:33] #7886 closed

[2020-09-17 22:35] stgraber commented on #7886
So I would expect user/group quotas to function inside a privileged container running on a dedicated ext4 filesystem as you'd get from using the LVM backend when combining that with the appropriate mount options.

For unprivileged containers, I don't see how the kernel could allow that without at the same time allowing any normal user on your system to bypass the quota.

[2020-09-17 22:36] stgraber commented on #7886
@brauner any idea how user/group quotas work? What's the actual API used for this, is it something we could syscall intercept in theory?

[2020-09-18 08:40] NicolasGoeddel opened #7891 "Error when starting proxy device: bind: address already in use"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.5 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-112-generic
   * LXC version: 4.5
   * LXD version: 4.5
   * Storage backend in use: zfs

# Issue description

We restart some of our containers over night for backup purposes. Some of them did not start again because of this error:
[code]
`

[2020-09-18 08:48] NicolasGoeddel commented on #7891
Okay, I figured out how to make it work again.
I found some `forkproxy` processes which I was able to kill. After that the containers started again.
In #7751 I saw the assumption for too less free space available on the device for PID files. I can not confirm that on my side. My ZFS pool has 2,21 TB free space available. And only some loop devices are 100% in use, but that should be normal.
[code]

[2020-09-18 12:20] mt-caret commented on #7630
@stgraber Apologies for the late response. I've recently changed jobs and have been relatively busy with relocating.

I have the lxc monitor logs and the netstat output showing a large number of connections on effected nodes. Given the sensitive nature of the logs I think it's best if I contact you directly, is there some preferred email address that I can send the logs to?

[2020-09-18 12:27] stgraber commented on #7630
stgraber at ubuntu dot com

[2020-09-18 12:32] mt-caret commented on #7630
I've sent the logs.

[2020-09-18 14:15] typomedia commented on #7864
Workaround: `sudo mv /usr/share/locale-langpack/de/LC_MESSAGES/lxd.mo /usr/share/locale-langpack/de/LC_MESSAGES/lxd.mo.bak`

[2020-09-18 16:07] NicolasGoeddel commented on #7891
I will wait and check if the same thing happens tonight. If it does not happen again, we can close this issue I guess.

[2020-09-18 19:13] toby63 commented on #7423
:thinking: While I understand the benefits of this approach, it seems a bit too long and complicated for me.
I thought about something like this:
For example typing `lxc list r` or (at least) `lxc list running` would list all running containers.

While one could maybe add something like this with `lxc alias` (I suppose it's possible?), this is not very convenient, because it would need many entrie

[2020-09-18 23:20] stgraber commented on #7423
`lxc list r` is already a valid syntax listing all containers starting with the letter `r`.

And yeah, we can make the existing API filtering code in LXD understand `vm` to be `virtual-machine` to keep that one short.

Ideally this feature should be built on the filtering API that the UTexas students implemented last year as it allows just passing those filters (in much the same syntax I listed ab

[2020-09-18 23:21] stgraber opened #7894 "Add IOMMU group information to resources API"
When dealing with device passthrough, it's quite useful to know the IOMMU group for a particular device.
We should add this to our PCI entries in the resources API.

[2020-09-18 23:39] devosb opened #7895 "Error occurred when starting proxy device: bind: permission denied"
I realise this might be a support question, but given two similar issues I created another issue. I apologise if that is incorrect.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 focal
 * The output of "lxc info":
[code]

# Issue description

For two months I have been using 3 containers with X11 support. This week they stopped working. When I try to start a contai

[2020-09-19 01:17] stgraber commented on #7895
Fixed has been merged already.

[2020-09-19 01:18] #7895 closed

[2020-09-19 01:22] stgraber commented on #7895
The fix has been cherry-picked into the snap, however as LXD 4.6 has been released and is currently in candidate with a tentative rollout to stable for Monday, your only option to get a quick fix is to switch over to that channel and the 4.6 LXD.

`snap refresh lxd --candidate` in a couple of hours from now should get you LXD 4.6 as well as this fix.

[2020-09-19 07:00] johanehnberg commented on #7724
Fix working nicely on 4.5

[2020-09-19 18:20] mattdombrowski21 commented on #7867
Hello, I am a student at UT Austin and am looking to contribute to this project. I see some of my classmates have contacted you already, and you went through and added a bunch of good issues that our groups can work on. My group would like to tentatively claim this one. Thank you!

[2020-09-19 18:28] nzubair76 commented on #7894
Hi, also a student at UT Austin and looking to contribute to this project. My group would like to tentatively claim this issue. Thank you!

[2020-09-19 18:34] stgraber commented on #7867
Sounds good, assigned it to you for now.

@tomponline should be able to provide more details on what needs changing to fix this issue.

[2020-09-19 18:37] wester162 commented on #7869
Hi, I'm also a student at UT with @nzubair76 and @mattdombrowski21. Sorry for the sudden deluge of issue claims, but we'd like to tentatively claim this one as well to work on. Thanks!

[2020-09-19 18:43] stgraber commented on #7894
Sounds good, assigned it to you for now.

This should be a pretty simple one to resolve, with changes needed in:
 - doc/api-extensions.md (introduce a new API extension)
 - shared/version/api.go (add the API extension to the list)
 - shared/api/resource.go (add the new field to `ResourcesPCIDevice`)
 - lxd/resources/pci.go (fill the newly introduced field)

I'd expect this to result in 3 commits:

[2020-09-19 18:50] stgraber commented on #7869
Sounds good, assigned to you.

@tomponline should be able to give you more details instructions on what would need changing for this.
It should be pretty straightforward, effectively introducing an Info struct in the instances package and implementing it in both lxc and qemu, then having the logic in `lxd/api_1.0.go` use that data and render it in the `driver` and `driver_version` fields the same

[2020-09-19 21:38] kevtheappdev commented on #7872
Hi! I'm interested in working on this along with some colleagues of mine as part of a course on Virtualiztion at UT Austin. Can we work on this issue? Thanks!

[2020-09-19 22:44] grant-he commented on #7871
Hi, I'm a CS student at UT Austin and looking to contribute to this project. My group would like to tentatively claim this issue. Thank you!

[2020-09-19 22:46] grant-he commented on #7873
My group would also like to tentatively claim this issue. Thank you!

[2020-09-19 22:50] grant-he commented on #7870
My group is interested in working on this. Could you please elaborate on the tasks needed to close the issue? Thank you!

[2020-09-19 23:03] grant-he commented on #7319
My group would also like to tentatively claim this issue. Thank you!

[2020-09-19 23:08] grant-he commented on #7868
My group would also like to tentatively claim this issue. Thank you!

[2020-09-19 23:43] stgraber commented on #7873
Assigned it to you, thanks!

As mentioned, everything needed for this should already be there already so it's mostly a matter of connecting the dots.

This will need an API extension and CLI change, so I expect the final list of commits to look something like:

 - api: Add custom_volume_refresh extension
 - shared/api: Add Refresh to StorageVolumeSource
 - client: Add Refresh to StoragePoolVolumeC

[2020-09-19 23:45] stgraber commented on #7872
Yep, assigned it to you.

I expect this will end up with a set of commits like:

 - api: pci_devices extension
 - doc: Add PCI devices
 - lxd/devices/pci: Add new PCI device type

This will only apply to virtual machines so will need to be marked as such.
The only properties this should allow is:
 - pci
 - productid
 - vendorid

@tomponline should be able to help you with any questions regarding o

[2020-09-19 23:45] stgraber commented on #7871
Thanks, assigned to you.

[2020-09-19 23:46] stgraber commented on #7870
Thanks, assigned to you.

[2020-09-19 23:46] stgraber commented on #7868
Thanks, assigned to you

[2020-09-19 23:48] stgraber commented on #7319
Thanks, assigned to you.

This is one of the more subjective one as it's really about making it more user friendly, so best will be to play with editing `lxc/info.go` a bit (for the instance aspect of it as that's what that issue is about) and propose some alternative ways for it to render the same information as well as extend what it displays a bit to cover more of what we know about instances.

[2020-09-20 00:15] stgraber commented on #6757
Yeah, adding more stuff based on `/internal` seems fine and we can eventually find a way to move some of those to the main API.

So having a low level `lxd cluster status` and `lxd cluster remove-member` to forcefully remove a member that's holding back an upgrade seems reasonable. Provided the usual warnings about this not being a good idea unless definitely stuck, ...

[2020-09-20 00:26] AndrewElvisDeng commented on #7875
Hi! I'm a student from UT and my group would like to claim this issue. Thanks!

[2020-09-20 00:27] zhenr667 commented on #7322
Hi! I'm a student from UT and my team would like to tackle this issue!

[2020-09-20 00:33] zhenr667 commented on #7237
Hey, I'm a student at UT and my team would like to claim this issue for a class, if that's ok!

[2020-09-20 00:41] stgraber commented on #7875
Thanks, assigned it to you.

@tomponline should be able to help you with this one.

Fixing the typo wherever it's present should be pretty straightforward, then we need a one time patch to fix any deployment where it's incorrect. We should have some examples of this somewhat readily available in `lxd/patches.go`.

Worth noting that while a DB schema update would be more suitable for such changes,

[2020-09-20 00:41] stgraber commented on #7322
Thanks, assigned it to you.

[2020-09-20 00:42] stgraber commented on #7237
Thanks, assigned it to you.

https://github.com/lxc/lxd/issues/7237#issuecomment-617495306 instead of the issue description is what we should really be aiming for here.

[2020-09-20 13:06] WebsliceNL commented on #7886
Tried that now, but lvm device does not seem to be available from the container

lxc storage create lvm-container1 lvm source=/dev/nvme1n1 lvm.vg_name=lvm-container1
lxc launch -s lvm-container1 images:centos/8 lvm-container1

lxc set lvm-container1 security.privileged true

lxc storage volume set lvm-container1 container/lvm-container1 block.mount_options=discard,usrjquota=aquota.user,grpjquota=a

[2020-09-20 13:25] stgraber commented on #7886
Interesting, so yeah, that means there's no chance of quotas being a thing unless some serious kernel work happens.

The error above suggests that the quota code requires direct access to the backing block device. This device is never exposed to containers as access to it would let you attack the kernel in a rather trivial way, not only escaping the container but even corrupting the kernel on the

[2020-09-20 13:27] stgraber commented on #7886
There is the possibility that accessing the backing device directly is just a convenience/shortcut that the authors of the quota tools took and that the kernel API itself may not require that, instead using ioctls on the root path or something, in which case it would be possible for someone to make those tools smarter.

But we'd need someone to go dig in the kernel code to understand exactly how t

[2020-09-20 13:46] stgraber opened #7896 "Smarter handling of `volatile` keys in restricted projects"
Right now, `restricted` projects that do not have `restricted.containers.lowlevel` and/or `restricted.virtual-machines.lowlevel` will prevent the user from setting/altering `volatile.*` config keys.

This is a good thing in general and avoids a lot of potential attacks against the host, however this also breaks quite a lot of things, including instance copies:

[code]

I suspect at a minimum we ne

[2020-09-20 13:56] WebsliceNL commented on #7886
This seems to work;

lxc config device add lvm-container1 lvm-container1/containers_lvm--container1 unix-block path=/dev/lvm-container1/containers_lvm--container1

useradd quotauser

quotacheck -cmug /
quotaon /

repquota -a
*** Report for user quotas on device /dev/lvm-container1/containers_lvm--container1
Block grace time: 7days; Inode grace time: 7days
                        Block limits

[2020-09-20 14:17] stgraber opened #7897 "Crash when attempting to update a running VM config"
[code]

This showed up as the result of:
 - lxc storage volume attach remote-fs stgraber-data stgraber-vm1 data /data

Where `stgraber-vm1` is a running VM.

[2020-09-20 14:52] stgraber commented on #7886
Right, that will work, but now your container can directly write to its backing block device, attacking the kernel and crashing it or worse injecting arbitrary kernel code that can affect your entire machine.

[2020-09-20 15:00] toby63 commented on #7423
But is it possible to shorten it with `lxc alias` then?

[2020-09-20 15:23] WebsliceNL commented on #7886
So, for ZVOL it is implemented differently?
I understood it's very simular to the LVM mount inside the container.
So the regular quota tools inside de container seem to be able to access the raw device, but than securely in that case?

[2020-09-20 15:46] stgraber commented on #7423
Yeah, you can still alias things, just don't alias a valid command to something else or you'll get surprised.

Setting an alias from `lxc lsvmr` to `lxc list state=RUNNING type=virtual-machine` for example would be fine, not that we would ship with any of those by default though.

[2020-09-20 15:47] stgraber commented on #7886
For an actual zvol, it would be identical as zvol is also a block device and so would be identical as far as the kernel is concerned.

user/group quotas on top of a dataset may be different though, not sure how those work.

[2020-09-20 18:44] WilliamGrossKC commented on #7874
Could I be assigned this issue?

[2020-09-20 18:49] stgraber commented on #7874
yep, done!

[2020-09-20 18:54] vpranav5 commented on #7708
Can I be assigned this issue?

[2020-09-20 19:02] stgraber opened #7898 "Restrict a client certificate to a particular project"
Currently anyone who's in the LXD trust store has global access to LXD unless they're using external authentication through candid and access policies through RBAC.

This is all fine for production servers and clusters where that additional machinery is expected, but we have now seen cases we'd want to tie a single user (certificate) to a particular project and prevent that user from escaping the

[2020-09-20 19:03] jtajonera commented on #7896
Hi I am a student at UT Austin and am currently taking a Virtualization course. Is it possible for me to tentatively claim this issue?

[2020-09-20 19:10] stgraber commented on #7896
Yep, assigned to you now.

[2020-09-20 19:10] stgraber commented on #7708
Yep, assigned to you now.

[2020-09-20 19:15] stgraber opened #7900 "Add `images.*` and `backups.*` server config keys to per-project"
Title pretty much says it all. We currently have the following configuration keys:

 - backups.compression_algorithm
 - images.auto_update_cached
 - images.auto_update_interval
 - images.compression_algorithm
 - images.remote_cache_expiry

Which are all related to objects that can be stored in profiles these days and so those keys now make a lot more sense being per-project rather than global.

Th

[2020-09-20 19:15] Jdogtherock commented on #7898
Hello, I am a UT Austin student, can I be assigned to this issue?

[2020-09-20 19:17] stgraber commented on #7898
Done!

[2020-09-20 19:23] vpranav5 commented on #6881
Hi, I'm Pranav and I'm working with a group of computer science students at UT Austin in a Virtualization course.
Can we tentatively be assigned this issue?

[2020-09-20 19:27] stgraber commented on #6881
@vpranav5 I'd probably recommend looking at a different issue as this one is currently tagged "Maybe" which indicates we haven't quite made up our mind on whether we think this change should be done or not :)

[2020-09-20 19:33] vpranav5 commented on #7274
Hi, Can I be tentatively assigned this issue?

[2020-09-20 19:38] stgraber commented on #7274
Done!

[2020-09-21 00:01] Jdogtherock commented on #7900
Hello. I am a UT student in Virtualization, and I was wondering if I could work on this issue rather than the one I stated earlier?

[2020-09-21 00:16] stgraber commented on #7898
Un-assigned as requested in #7900

[2020-09-21 00:17] stgraber commented on #7900
Sure, updated!

[2020-09-21 03:47] tbobo commented on #7450
Hi! I would like to work on this issue along with some colleagues (@ej-castillo and @dramos20) as a part of a course on Virtualization at The University of Texas at Austin. Would it be alright if we were assigned this? Thanks in advance.

[2020-09-21 03:48] tbobo commented on #7559
Hi! I would like to work on this issue along with some colleagues (@ej-castillo and @dramos20) as a part of a course on Virtualization at The University of Texas at Austin. Would it be alright if we were assigned this? Thanks in advance.

[2020-09-21 03:52] InsanePrawn opened #7901 "Option to configure the ZFS block size on volumes"
Custom volumes on ZFS (both filesystems and zvols) should expose control of their `recordsize` or `volblocksize` properties respectively.
This is commonly used to "tune" (read: fix) performance of applications like databases on ZFS, where it can have a huge impact due to its COW nature.

[2020-09-21 04:09] tbobo commented on #1613
Hi! I would like to work on this issue along with some colleagues (@ej-castillo and @dramos20) as a part of a course on Virtualization at The University of Texas at Austin. Would it be alright if we were tentatively assigned this? Thanks in advance.

[2020-09-21 07:26] johanehnberg opened #7902 "Feature request: --snapshots-only flag for copy"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * Kernel version: 5.4.0-47-generic
 * LXC version: 4.5
 * LXD version: 4.5
 * Storage backend in use: ZFS

# Feature request

Allow instances to be copied only with their snapshots, such as with a --snapshots-only flag for copy.

The benefits of such a feature are very fast mirroring of an instance, since we can skip t

[2020-09-21 07:36] tomponline opened #7903 "Add contextual logger to Instances"
Currently the logging done in the instances drivers for LXC (https://github.com/lxc/lxd/blob/master/lxd/instance/drivers/driver_lxc.go) and Qemu (https://github.com/lxc/lxd/blob/master/lxd/instance/drivers/driver_qemu.go) are all done using the global logger, e.g. `logger.Info()`.

We have been updating other subsystems of LXD (such as device, storage and network) to use a per-struct local logger

[2020-09-21 07:45] tomponline commented on #7869
@wester162 let me know when you are getting started on this and I'll flesh out the instructions.

[2020-09-21 07:47] tomponline commented on #7867
@mattdombrowski21 let me know when you are planning to make a start on this and I'll dig into the code and give you some more detailed instructions. Thanks

[2020-09-21 12:46] stgraber commented on #7902
Worth noting that currently `--refresh` ONLY uses rsync, even for the snapshots, so this won't really improve that part so much.
It will definitely reduce the sync time for the first copy but subsequent refreshes will still rsync the new snapshots.

[2020-09-21 12:47] stgraber commented on #1613
Assigned it to you. I can only assign people who have commented in an issue so @ej-castillo and @dramos20 will have to comment before I can assign them.

[2020-09-21 12:49] stgraber commented on #1613
Looking at this issue again, these days we have a better way of handling it and one that should be easier to implement too.

Instead of doing a lot of namespace magic which would hit a lot of weird cornercases, I think this should be done with apparmor instead. Effectively making such that the unpacker call causes a custom AppArmor profile to be generated and then run the unpacker under that profi

[2020-09-21 12:52] stgraber commented on #7901
Yeah, should be easy enough to add a new ZFS-specific volume property.

`volume.zfs.blocksize` when configured on a POOL, `zfs.blocksize` when configured directly on a volume.

[2020-09-21 12:53] stgraber commented on #7559
Done! Similar to the other one, I can only assign people who have commented in an issue so will assign the other two when they comment.

[2020-09-21 12:54] stgraber commented on #7450
Assigned. Same deal as the other two, I'll assign @ej-castillo and @dramos20 once they comment in the issue.

[2020-09-21 12:56] tomponline commented on #1613
@stgraber aside from the compressor/decompressor program, we use the Go tar writer now to generate the tarball, however on the extraction side we still use the `tar` command. Is there potential to use the Go tar reader to unpack files an recreate them directly, or do we depend on something specific to the `tar` command (or something not supported by Go's tar reader)?

[2020-09-21 13:40] stgraber commented on #1613
@tomponline I prefer to use the external tar for mostly untrusted tarballs as a bug in the parser is a lot easier to contain that way.
If we find that using a Go tar reader would be a better approach, I suspect we may still stick it as a fork* type wrapper so we can apparmor restrict it too.

I know we do have a few places where we do use a tar reader in Go today, usually where we need to pass som

[2020-09-21 15:16] sbromberger commented on #6929
Sorry to resurrect this issue, but I've just come across similar messages in my new lxc/lxd install (snap version 4.0.3 on Ubuntu 20.04):
[code]

I'm using a zfs loop (.img) file on two containers and a VM:
[code]

What other information can I include that will be helpful?

[2020-09-21 16:23] turtle0x1 opened #7907 "API Extension features.networks"
Hi if you POST `features.networks` to `4.0` it complains, there is no extension to check it supports `features.networks` could you add one ?

[2020-09-21 16:23] dramos20 commented on #7559
Hi, I will be working on this with @tbobo . Can I be assigned to this? Thank you!

[2020-09-21 16:24] dramos20 commented on #7450
Hi, I will be working on this with @tbobo . Can I be assigned to this? Thank you!

[2020-09-21 16:24] dramos20 commented on #1613
Hi, I will be working on this with @tbobo . Can I be assigned to this? Thank you!

[2020-09-21 16:59] #7897 closed

[2020-09-21 17:10] devosb commented on #7895
Thank you very much for the details on the timeline of the fix. Without the details, I would have been mystified why my setup worked, then did not work, and then started working again.

[2020-09-21 17:10] stgraber commented on #7559
Done!

[2020-09-21 17:10] stgraber commented on #7450
Done!

[2020-09-21 17:11] stgraber commented on #1613
Done!

[2020-09-21 17:11] stgraber commented on #7895
Worth noting that we did promote 4.6 to stable today, so users of the stable channel now have this working once again.

[2020-09-21 17:12] ej-castillo commented on #7559
Commenting to be assigned to issue.

[2020-09-21 17:12] ej-castillo commented on #7450
Commenting to be assigned to issue.

[2020-09-21 17:12] ej-castillo commented on #1613
Commenting to be assigned to issue.

[2020-09-21 17:40] #7907 closed

[2020-09-21 18:24] sbromberger commented on #6929
Per discussion with @tomponline , here's some possibly relevant output:
[code]

Note that I set the root size to 50GB from its original (4GB) and then used `growpart` and `resize2fs` within the VM to expand it. I wonder if that had anything to do with this issue (though it seems to have worked properly).

[2020-09-21 19:06] turtle0x1 commented on #7907
Thanks, going to be back ported to 4.6?

[2020-09-21 21:33] tczaude opened #7909 "'BPF_PROG_TYPE_CGROUP_DEVICE' undeclared"
# Required information

 * Distribution: Funtoo
 * Distribution version: 1.4
 * The output of "lxc info" or if that fails:
   * Kernel version:  Linux-5.7.10_p1-debian-sources-x86_64-Intel-R-_Core-TM-_i7-4810MQ_CPU_@_2.80GHz-with-gentoo-1.4
   * LXC version: --
   * LXD version: 4.6
   * Storage backend in use:

# Issue description

compiling lxd i recive this

[code]

[2020-09-21 21:39] stgraber commented on #7909
@brauner more bpf fixing fun for you?

[2020-09-22 09:07] tomponline commented on #6929
@sbromberger I've tried reproducing this using the master branch on a ZFS storage pool backed by a loopback file and have been unable, here are the steps I took:

[code]

Now resize:

[code]

Please can you try to post a set of reproducer commands like the above.

[2020-09-22 09:09] tomponline commented on #6929
@sbromberger also please can you check your logs for this line:

"
Skipped moving GPT alternative header to end of disk as sgdisk command not found
"

[2020-09-22 09:29] badsmoke opened #7910 "disk usage of container/vms is not displayed"
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04.1
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 5.4.0-47-generic
   * LXC version: 4.6
   * LXD version: 4.6
   * Storage backend in use: btrfs

# Issue description

No more disk usage is displayed for the containers.
In the beginning it was sporadic, now there are no more values.

Container

[2020-09-22 12:45] tczaude commented on #7909
@tomponline thanks i start testing :)

[2020-09-22 14:09] kautMaks opened #7916 "It seems, that "limits.memory.swap = false" doesn't work."
**Required information**

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-48-generic
   * LXC version: 4.5
   * LXD version: 4.5
   * Storage backend in use: dir

**Issue description**
It seems, that "limits.memory.swap = false" doesn't work.
I set limits.memory.swap = false and limits.memory.enforce = hard.
If swapacc

[2020-09-22 14:55] stgraber commented on #7916
So, the config you have here:
[code]

Should expand to cgroup config of:
 - /sys/fs/cgroup/memory/memory.memsw.limit_in_bytes = 4294967296
 - /sys/fs/cgroup/memory/memory.limit_in_bytes = 4294967296
 - /sys/fs/cgroup/memory/memory.swappiness = 0

Can you check inside your container the above paths and check if the values are as expected?

To be clear, there is no way to fully turn off swapping on

[2020-09-22 15:17] kautMaks commented on #7916
Thanks for the quick response.
Inside CT, if swapaccount=1 doesn't set, there is no /sys/fs/cgroup/memory/memory.memsw.limit_in_bytes file.

- /sys/fs/cgroup/memory/memory.limit_in_bytes = 4294967296
- /sys/fs/cgroup/memory/memory.swappiness = 5 (I guess this value is taken from the node)

If swapaccount=1 set:

- /sys/fs/cgroup/memory/memory.memsw.limit_in_bytes = 9223372036854771712
- /sys/fs/cg

[2020-09-22 15:38] stgraber commented on #7916
Yeah, there seems to be something wrong with handling of the `swappiness` key, I'm not seeing it getting set here either.

[2020-09-22 17:41] stgraber commented on #7916
@brauner can you take care of this one? Should be a trivial bug in the cgroup abstraction or in the container code that should issue the config.

[2020-09-22 18:33] cawhite6 opened #7920 "Snap LXD 4.6 does not start - upgrade error for cluster database (instance is not in a cluster)."
# Required information

 * Distribution:Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-118-generic
   * LXC version: 4.6
   * LXD version: 4.6
   * Storage backend in use: zfs

# Issue description

Server maintenance and 'lxc list' returned Error: Get "http://unix.socket/1.0": dial unix /var/snap/lxd/common/lxd/unix.socket: connect:

[2020-09-22 18:48] stgraber commented on #7920
Ok, so you're upgrading from something a bit older right? Like 4.2 or 4.3?
This particular patch should not trigger during a normal 4.5 to 4.6 or even 4.4 to 4.6.

In any case, this is the patch that dedups entries in storage_volumes for users of ceph/cephfs.
Are you using ceph or cephfs?

And could you send me a tarball of `/var/snap/lxd/common/lxd/database` to stgraber at ubuntu dot com?

The mo

[2020-09-22 19:13] cawhite6 commented on #7920
Thanks for the quick reply  - I've sent over the tarball. I am not sure what upgrade was previous - this is a secondary server and our primary is running fine - identical installation, same 4.6 snap version.

Both using zfs filesystem on containers

[2020-09-22 19:24] stgraber commented on #7920
@cawhite6 you indeed do have an inconsistent DB record from a previous update.
The `id` of `storage_volumes` and `storage_volumes_snapshots` must be unique to allow for an aggregate view to work properly.

To fix your setup, write a file at `database/patch.global.sql` containing:

[code]

Then start LXD again and it will succeed the upgrade as seen here upgrading using the DB you sent me:
[code]

[2020-09-22 19:27] stgraber commented on #7920
For anyone else attempting this kind of fix on their own, be very careful.
You can see if there's something wrong by running `SELECT * FROM storage_volumes_snapshots WHERE id IN (SELECT id FROM storage_volumes);`

If you find a record, you'll need to update its id to a value which has not yet been used in either table.

[2020-09-22 19:50] tczaude commented on #7909
this patch no resolve above problem

[2020-09-22 19:51] stgraber commented on #7909
@tczaude sorry, confused by your message, do you still have the issue with the patch applied?

[2020-09-22 19:53] tczaude commented on #7909
Yes i apply patch from above commit and i have this same error

[2020-09-22 19:53] stgraber commented on #7910
Can you show the output for a container too?

[2020-09-22 19:55] stgraber commented on #7909
@brauner back to you :)

@tczaude can you show the output again in case something changed a bit in it?

[2020-09-22 19:58] tczaude commented on #7909
[build.log](https://github.com/lxc/lxd/files/5263695/build.log)

[environment.log](https://github.com/lxc/lxd/files/5263700/environment.log)

I add build.log and env maybe give more info

[2020-09-22 20:02] cawhite6 commented on #7920
Perfect - worked like a charm, back up and running (I feared the worst)!

[2020-09-22 20:24] #7920 closed

[2020-09-23 05:46] badsmoke commented on #7910
api output from a container

`"disk": {},`

[code]

[2020-09-23 06:56] sbromberger commented on #6929
I decided to do a complete wipe/reinstall of the machine. I haven't seen the issue crop back up so far. Thanks.

[2020-09-23 07:36] s4uliu5 commented on #7909
The root cause of this issue is that currently Funtoo has headers of 4.14 kernel.
`BPF_PROG_TYPE_CGROUP_DEVICE` and  `BPF_CGROUP_DEVICE` appeared in 4.15.

[2020-09-23 07:39] StyXman commented on #6772
Again today. Last time I fixed it by rebooting the hosts (they were several). This time I can't do the same. @stgraber  How should I investigate this?

[2020-09-23 09:32] kautMaks commented on #7916
Thanks, will wait for fix :)

[2020-09-23 10:04] StyXman commented on #6772
I was debugging with the `snapd` people and we found that for some reason, reading from `/proc/self/mountinfo` was timing out. `cat`ing the file too 3m40s+. What I found is this anomaly:

[code]

As you can see, the same mount point (with different numbers) is found many times. Not only many, but exponentially many: between loop devices, we find first 1, then 2, then 4, then 8 and it keeps growing

[2020-09-23 10:10] StyXman commented on #6772
For comparison, this is the host's `mountinfo`:

[code]

[2020-09-23 13:30] brauner commented on #7909
Well, yes we know that. The problem is that enums and structs can't be detected from cgo so we can't detect at build-time what kernel headers are supported. The solution is usually to (ab)use a define that can be detected when including the header via `#define` of some constant that was introduced around the same time as the feature. But for the one we used to use bpf has moved it into an enum in

[2020-09-23 20:43] stgraber opened #7925 "Add a new `limits.instances` key in project"
This key will count containers+virtual-machines and so act as an overall limit on top of the existing container/virtual-machines limits.

[2020-09-23 20:49] stgraber opened #7926 "Add a new `restricted.cluster.target` project config key"
This key should default to `block`, effectively preventing the user from using `--target` to specify what cluster member to place a workload on or the ability to move a workload between members.

If configured to `allow`, the user will be allowed to place/move workloads on specific cluster members.

This may later be expanded to restricting targeting and placement to a specific set of cluster memb

[2020-09-24 03:00] stgraber commented on #7910
Thanks.

Can you query the container again but this time in a separate console run `lxc monitor --type=logging --pretty` and paste that output here?

I'm hoping that you're hitting a failure from the storage driver and that this will be recorded in that debug log.

[2020-09-24 04:52] #7916 closed

[2020-09-24 06:57] badsmoke commented on #7910
does not look very promising

[code]

[2020-09-24 08:40] iamhermes commented on #7920
Same issue with snap package. lxd isn't starting now

`Sep 24 08:09:17 Ubuntu-1804-bionic-64-minimal lxd.daemon[3808]: => LXD failed to start
Sep 24 08:09:17 Ubuntu-1804-bionic-64-minimal systemd[1]: snap.lxd.daemon.service: Main process exited, code=exited, status=1/FAILURE
Sep 24 08:09:17 Ubuntu-1804-bionic-64-minimal systemd[1]: snap.lxd.daemon.service: Failed with result 'exit-code'.
Sep 24 08

[2020-09-24 08:43] tomponline commented on #7920
Can you tar up `/var/snap/lxd/common/lxd/database` and send to thomas dot parrott at canonical dot com?

[2020-09-24 09:28] iamhermes commented on #7920
link for the database tar (127MB) is sent

[2020-09-24 10:22] tomponline commented on #7920
@iamhermes received thanks.

Running the query @stgraber mentioned above, shows an inconsistency:

[code]

So I think a patch query should fix it:

[code]

But I am not certain as to the relationship between IDs in these tables, and whether just selecting the max snapshot ID +1 would prevent future issues, so would like confirmation from @stgraber first.

[2020-09-24 12:25] stgraber commented on #7920
@tomponline it must be an unused id in both tables, usually I would pick the next id from snapshots and just make sure it's not already used for a volume.

[2020-09-24 12:28] tomponline commented on #7920
@stgraber thanks, so @iamhermes this should fix it (as ID 32535 is not used in either table) :

[code]

[2020-09-24 12:30] iamhermes commented on #7920
Problem solved. Thanks. All containers are up again

[2020-09-24 14:27] stgraber commented on #7910
Ok, so it did hit the right function but then didn't return anything. I'll take a look.

[2020-09-24 14:34] stgraber commented on #7910
@badsmoke do you have a disk limit in place on those instances?
If not, you won't get a btrfs quota group setup which would then prevent reporting the disk usage.

[2020-09-24 14:52] badsmoke commented on #7910
yes I have set a disk limit

[2020-09-24 18:57] stgraber commented on #7910
I've been unable to reproduce the issue here:

[code]

[2020-09-25 06:02] badsmoke commented on #7910
yes that's the problem, from the beginning it worked for me without problems, then it didn't work for hours/days, then it worked again and now it doesn't work at all

[2020-09-25 14:18] stgraber opened #7934 "Bulk instance state change API"
There has been interest in making `lxc start --all` and similar stop/restart/pause commands be handled server-side rather than client side.

This would also allow those to respect the `boot.autostart.priority`, boot.autostart.delay` and `boot.stop.priority` properties either out of the box or when provided an extra flag.

The current plan is to implement this through `PUT /1.0/instances` taking a

[2020-09-25 15:05] turtle0x1 commented on #7934
Will LXD safely skip or "throw an exception" if for example I try to stop a stopped instance? In the case of the exception is the whole operation "transactional"? (I.E do you check and throw before you actually start  any instances?)

The reason I ask is because if you "throw an exception" with out transactions it means some clients may have todo all the logic checks anyway at which point, how har

[2020-09-25 17:57] stgraber commented on #7934
Initially we'd just have it behave as we need for `--all` in start/stop/restart/pause so it would behave the same way, that is, select instances in a suitable state and perform the action on those. The only case where you'd get an error is if the action fails, instances already in the target state will not cause errors.

I think it would however be useful to expand this API later on to support ser

[2020-09-25 20:54] stgraber commented on #7910
Can you do `nsenter --mount=/run/snapd/ns/lxd.mnt` and then in that new shell, do:
 - /snap/lxd/current/bin/btrfs qgroup show -e -f --raw /var/snap/lxd/common/lxd/storage-pools/LXDpro/containers/poseidon/
 - /snap/lxd/current/bin/btrfs qgroup show --raw /var/snap/lxd/common/lxd/storage-pools/LXDpro/

[2020-09-26 20:38] xvd7 opened #7935 "LXD 4.0.3 apparmor denied operation mount"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04.1 Focal
 * The output of "lxc info":

[code]

Snap info:
[code]

# Issue description

After rebooting the server the LXD containers are not assigned an IP address.
Both lxd and snapd snap packages were automatically updated since the previous reboot.

The log file /var/log/syslog on the hardware node shows:

[cod

[2020-09-26 23:24] stgraber commented on #7935
Can you try starting a new clean container?

Those failures suggest it's the systemd isolation failing in the container and not a LXD issue in itself.

[2020-09-26 23:25] stgraber commented on #7935
Also, what image was the container created from, what distro is it and is it a privileged or unprivileged container?

[2020-09-27 04:55] diegomontoya opened #7936 "Add config option to disable rsync compression during migration"
Rsync compression can cause up to 11x lxc copy degration over fast localprivate networks.

Lxc copy which may use rsync which enables compression=2 causes two local servers (amd 3900x with nvme/raid0) with 10g nics to communicate at only 300Mbps with 100% cpu usage on a single cpu core. Disabling compression in source enabled lxc copy to reach 3500Mbps at 80% cpu usage on the same cpu core.

https

[2020-09-27 10:35] kamzar1 opened #7937 "`lxc config trust add` broken in snap"
Is there a way to install LXD on Ubuntu in traditional 'apt install lxd' way?
LXD by itself has a sharp learning curve. Now add another forced complexity to it with snap.
Snapd adds 130-150 MB by itself, creates a core of 400 MB+ put itself everywhere:
/snap
/home/user/snap
/var/snap
keeps at least two versions of each app
and obfuscate the app, changes paths, complicate the privileges, containers

[2020-09-27 10:38] kamzar1 opened #7938 "Candid executable file not found in $PATH"
lxc config set candid.api.url http://10.0.6.32:8081
lxc config set candid.api.key OotnGM3FTgF8WysLpZZ46i0J0hx5pC2ItBdYgMWRGkg=
lxc config set core.https_address :8443
lxc remote add localhost https://localhost:8443 --auth-type=candid

Opening an authorization web page in your browser.
If it does not open, please open this URL:
http://10.0.6.32:8081/login?did=681a4139e0c0ed60fc3e4d039266fdbb117bc35

[2020-09-27 10:46] kamzar1 opened #7939 "lxc ls"
lxc list --columns
works only with --format csv and --table
--format yaml and --format json do not honor the --columns choice and spit the whole config file.
Sure, it is called --columns which are naturally only in csv and tables given.
But it would be nice getting the keys/values of --columns in yaml and json as well without piping the lxc config show into third party 'yq' or 'jq' or 'grep' etc.

[2020-09-27 10:51] kamzar1 opened #7940 "lxc project"
Is there a way to have a whole overview despite having multiple projects?
lxc ls --all-projects
or similar?
right now by having multiple projects, not easy to see all containers as host admin.
1. lxc project list
2. lxc project switch to x
3. lxc ls
4. lxc project switch to y
5. lxc ls
...

[2020-09-27 11:37] kamzar1 opened #7941 "lxd cluster"
Is there a way to remove/disable/dissolve cluster?
I mean not the single nodes, but the whole cluster which was enabled?
It actually competes with:
1. pure lxc command (lxc command [remote:]
2. lxd api (curl remotehost:8443/... command)
3. ssh remotehost lxc command...
which do not require complex configurations and homogeneous iface/bridge storage pools ...
without any visible advantage, beside u

[2020-09-27 13:49] #7939 closed

[2020-09-27 13:50] stgraber commented on #7939
The JSON and YAML outputs aren't in the same format as our list outputs and can't easily be filtered especially since some fields come from deeply nested entries.

This complex filtering job is far better handled by a tool like jq or yq and so we don't expect to be changing this behavior.

[2020-09-27 14:02] stgraber commented on #7941
No. The LXD database goes through irreversible changes when clustering is enabled which is why there is no disable option in `lxc cluster`.

You can shrink it back down to a single node but you can never change a node address as that's part of the disturbed log that backs the database.

And yes, for some having multiple standalone LXD servers and using them as distinct remotes is a better solution

[2020-09-27 14:02] #7941 closed

[2020-09-27 14:03] stgraber commented on #7940
There is an open issue about adding an API to query instances across projects.

[2020-09-27 14:03] #7940 closed

[2020-09-27 14:04] stgraber commented on #7938
Sounds like you didn't open that second link fast enough and candid expired your authentication token somehow.

[2020-09-27 14:05] #7938 closed

[2020-09-27 14:06] stgraber commented on #7938
Closing as support questions are better handled at https://discuss.linuxcontainers.org

[2020-09-27 14:09] stgraber commented on #7937
The only package that we directly provide ourselves as upstream is the snap as that's the one requiring the least amount of effort from us to cover the most users at once.

We're quite supportive of packagers making other packages available for various distributions but so far nobody has stepped up to make native deb packages for Debian or Ubuntu.

[2020-09-27 14:09] stgraber commented on #7937
The error you're showing above is a trivial bug in that `lxc` command. I'll send a fix for it shortly.

[2020-09-27 14:13] stgraber commented on #7936
We'd do that by introducing a new pool property called `rsync.compression` which would default to true. When set to false, the migration logic would report compression as unsupported during transfer.

[2020-09-27 14:52] xvd7 commented on #7935
It is an unprivileged container. The image source is https://images.linuxcontainers.org (alias: ubuntu/focal/amd64).
[code]

[2020-09-27 15:09] xvd7 commented on #7935
I created a new container: ```lxc launch ubuntu:20.04 test```

It also does not get the IP address assigned: ```lxc list```
| NAME   |  STATE      | IPV4 | IPV6 |   TYPE          | SNAPSHOTS |
| ---------- | --------------- | ------ | ------ | ----------------- | ------------------- |
| cb2a      | RUNNING |          |         | CONTAINER | 0                     |
| test        | RUNNING |

[2020-09-27 15:13] xvd7 commented on #7935
The same problem happens when the container is based on an older version of Ubuntu: ```lxc launch ubuntu:18.04 test```

[2020-09-27 15:16] stgraber commented on #7935
That's odd, can you show `lxc config show --expanded NAME` for one of those containers?

[2020-09-27 15:17] stgraber commented on #7935
Actually, that last log shows no such DENIED messages.

Can you show:
 - ps fauxww
 - netstat -lnp (may need to install `net-utils`)
 - iptables -L -n -v

Your issue may be caused by either a conflict with dnsmasq on startup (due to another DHCP/DNS server on your machine) or firewalling problems (we've mostly seen this on systems where Docker is installed).

[2020-09-27 15:18] stgraber commented on #7937
@kamzar1 are there symlinks somewhere in that path you provided?

[2020-09-27 15:27] xvd7 commented on #7935
Interestingly when I upgrade LXD to 4.6 the problem is gone.

[2020-09-27 15:41] xvd7 commented on #7935
[code]

[2020-09-27 15:48] xvd7 commented on #7935
[code]

[2020-09-27 15:51] xvd7 commented on #7935
[code]

[2020-09-27 15:55] xvd7 commented on #7935
[code]

Information for the other container (lxc config show --expanded) was included before: https://github.com/lxc/lxd/issues/7935#issuecomment-699645310

[2020-09-27 16:53] ivzhh commented on #2574
Or maybe zvol.

[2020-09-27 17:56] kamzar1 commented on #7937
Indeed there symlinks.
I try to do same, using hard links.
Thanks very much for the hint.

[2020-09-27 22:54] kevtheappdev commented on #7903
Hi! Could my team and I work on this? Thanks!

[2020-09-27 23:13] kevtheappdev commented on #7934
My team and I interested in pursuing this one if possible!

[2020-09-27 23:20] kevtheappdev commented on #7925
My team and I would love to work on this! Can you elaborate what is meant by `limits.instances` key.

[2020-09-27 23:21] kevtheappdev commented on #7926
My team would love to work on this one!

[2020-09-28 02:18] #7937 closed

[2020-09-28 03:55] stgraber commented on #7926
Assigned to you!

[2020-09-28 03:58] stgraber commented on #7925
Yeah, you'll find that we currently have both `limits.containers` and `limits.virtual-machines` implemented.

If I set `limits.containers=10` and `limits.virtual-machines=10`, I'm allowed 10 of each but there are environment where you'd want something like `limits.containers=20`, `limits.virtual-machines=10` and `limits.instances=20``, meaning that a user can have a maximum of 20 instances, all 20

[2020-09-28 03:59] stgraber commented on #7934
Assigned!

[2020-09-28 03:59] stgraber commented on #7903
Sure, assigned!

[2020-09-28 08:35] tomponline opened #7943 "Prevent multiple routed NIC devices from using "auto" gateway mode"
If you attach multiple `routed` NICs to a container then the container will fail to start if using `ipv4.gateway` or `ipv6.gateway` in "auto" mode (which is the default if not specified).

An example error that the user will see currently:

[code]

We should improve the container start checks to ensure to give a helpful error message explaining the problem.

[2020-09-28 08:38] tomponline opened #7944 "When creating a cluster if the authentication password is set to empty cluster members cannot join"
Currently during cluster setup, if the first node enables password authentication but sets it to empty then other cluster noders are unable to join.

This is easily done during `lxd init` by just accepting the defaults.

We should enforce that if password authentication is enabled a non-empty password is provided.

[2020-09-28 12:18] stgraber opened #7946 "Add a project limits consumption API and CLI"
Projects have a set of limits that can be applied to them, but users can't easily tell how far along they are in consuming those resources.

We should add a basic API under `/1.0/projects/NAME` to query the current usage for a project and add a `lxc project info` CLI option to display it.

[2020-09-28 12:56] badsmoke commented on #7910
[code]

[2020-09-28 13:49] stgraber commented on #7910
Ok, that would be a problem, so quotas just aren't enabled at all...

Can you show `lxc storage show LXDpro`?

[2020-09-28 13:57] stgraber opened #7947 "Add concept of default architecture (global and per-project)"
Right now in a mixed architecture cluster, spawning an image like `ubuntu:18.04` will go to the least busy node, regardless of its architecture. This means that you may do one `lxc launch` and get x86_64, then do it again and get aarch64.

While technically fine since you didn't tell LXD what you want, it can still be a bit surprising.

We should add a `images.default_architecture` global config k

[2020-09-28 14:00] stgraber opened #7948 "Allow disabling auto-target on a cluster member"
By default when LXD launches an instance without a `--target` passed, it will pick the cluster member with the least instances.

This works fine except that sometimes there are specialized cluster members with very different specifications which should not automatically get instances.

For this, we should introduce the ability to set config keys on cluster members and then introduce an initial key

[2020-09-28 14:50] badsmoke commented on #7910
[code]

[2020-09-28 17:08] xvd7 commented on #7935
I replicated the problem on a freshly reinstalled server with Ubuntu 20.04 (64 bit). A new container is created but no IP address assigned.
[code]

[code]
[code]

/var/log/syslog on the physical server:
[code]
/var/log/syslog in the test container:
[code]

[2020-09-28 18:20] stgraber opened #7949 "Add support for port isolation"
It's been suggested that we should add a new security feature to LXD managed bridges.

This should be a new `security.port_isolation` boolean defaulting to false and where when set to true will turn on the `isolated` port feature for all ports.

There should be an exception for external interfaces and for tunnel devices when the system itself isn't a router (so where the tunnel will be used as an

[2020-09-28 19:52] xvd7 commented on #7935
It is getting more interesting. Altogether I have 8 servers which have the same problem so it does not look like a quirky hardware problem.

I managed to fix the problem on one server (i.e. the IP address is correctly assigned to the container) by running:
[code]
After downgrading - it still works!
[code]
After rebooting the problem re-occurred. This time I was able to fix it by running:
[code]

H

[2020-09-28 20:00] xvd7 commented on #7935
I am getting to the root of the problem - as Stéphane suggested the problem is with dnsmasq. If it is not running the IP address is not assigned.

Running ```snap refresh lxd ...``` or ```systemctl restart snap.lxd.daemon``` SOMETIMES fixes dnsmasq. If it does then the IP address is correctly assigned.

So now the question is why dnsmasq is randomly starting and randomly failing.

[2020-09-28 20:35] stgraber commented on #7910
`lxc storage show LXDpro --target rhea`

I'm trying to figure out if storage is coming from a sub-path of a host-managed path or if it was provided a dedicated block device or loop file.

We only enable quotas on the device if we created the filesystem. If LXD uses a pre-existing filesystem, it will not mess with that feature, which may be what you're seeing.

[2020-09-28 21:08] stgraber commented on #7935
Anything in `grep dnsmasq /var/snap/lxd/common/lxd/logs/lxd.log*`?

[2020-09-29 05:06] badsmoke commented on #7910
it should be an extra block device in this case even an extra ssd

[code]

I have the drive additionally under "/mnt/LXD" mounted, could this cause problems?

[2020-09-29 14:22] ItsMattL opened #7953 "lxc export fails with Failed to run: zfs send ... signal received"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Running lxc export on a specific container fails with a ZFS error, somewhat reproducibly. Other containers on the same system do not exhibit this failure.

[code]

The only obvious difference between the failing container and the successful conta

[2020-09-29 14:25] stgraber commented on #7953
Are you perhaps just running out of disk space on your system?

The export will write to `/var/snap/lxd/common/lxd/backups`, so you need sufficient disk space on the device backing this.
Alternatively you may use the `storage.backups_volume` setting to place backups onto a storage pool volume.

[2020-09-29 14:25] tomponline commented on #7953
@ItsMattL do you have sufficient space to export the image on the partition that runs LXD (as a temporary copy is made before it is copied to your specified target file)?

[2020-09-29 14:36] ItsMattL commented on #7953
The destination has plenty of space but the /var/snap intermediate may indeed be the issue. Will confirm.

[2020-09-29 14:45] stgraber commented on #7953
Right, LXD is a client/server system, so the way an export works is:
 - Client tells the server to make a backup
 - Backup is written to /var/snap/lxd/common/lxd/backups
 - Client fetches the backup
 - Client tells the server to delete the backup

lxc import/export is effectively all based on the built-in backup API.

[2020-09-29 15:26] drs-11 commented on #7936
Looks fun to me. Do I need to be assigned to work on this?

[2020-09-29 15:33] stgraber commented on #7936
Sure, assigning it to you!

[2020-09-29 16:26] xvd7 commented on #7935
Unfortunately not.

[a] case when dnsmasq does NOT start after reboot:
[code]

[b] case when dnsmasq successfully starts after reboot: same as above plus
[code]

Not sure why the name resolution of images.linuxcontainers.org failed. It works from the commanline:
[code]

Cases [a] and [b] seem random. Sometimes the containers are assigned IP addresses after reboot, sometime not. Sometime ```systemc

[2020-09-29 20:52] ItsMattL commented on #7953
Looks like that was indeed the issue. Sorry for the noise.

[2020-09-29 20:52] #7953 closed

[2020-09-30 03:17] stgraber commented on #7910
This is weird, reading our logic, the first time you set a limit on a volume or instance it should hit code which will try to list the qgroups, if that fails, it will then try to turn on quotas and re-try the qgroup operation.

Can you try:
 - lxc monitor --type=logging --pretty

While this the monitor is running in a shell, in another run:
 - lxc init images:alpine/edge a1 --storage LXDpro --targ

[2020-09-30 03:20] stgraber commented on #7935
When in a situation where it doesn't start, can you try:
 - lxc network set lxdbr0 bridge.mtu 1400
 - lxc network unset lxdbr0 bridge.mtu

This will cause dnsmasq to be respawned and may yield a better error.

[2020-09-30 09:53] tomponline opened #7956 "Add validation of bridge networks to prevent overlap of ipvX.dhcp.ranges and ipvX.ovn.ranges"
When using bridge (https://linuxcontainers.org/lxd/docs/master/networks#network-bridge) networks as the uplink parent of an OVN network (https://linuxcontainers.org/lxd/docs/master/networks#network-ovn) you have to set `ipv4.dhcp.ranges` and `ipv4.ovn.ranges`.

We should add validation to ensure that these ranges do not overlap between keys. The ranges themselves are comma delimited so each key ca

[2020-09-30 14:13] ageric commented on #7157
Seconded. Snap packages (or rather, uncontrollable updates) are forbidden in every government agency in sweden, as well as all municipalities, healthcare and other vital function banks and everyone who wants to connect with either of the above. It's largely the same across all of europe. I can't imagine this was a developer decision, but I can't for the life of me understand why Canonical would wa

[2020-09-30 14:19] tomponline commented on #7157
We've got an article on the forums that covers some options for managing/delaying automated updates, including the snap proxy which is suitable for larger deployments where updates must only be applied after being approved. https://discuss.linuxcontainers.org/t/managing-the-lxd-snap/8178

[2020-09-30 16:06] stgraber opened #7959 "Prevent internal cluster migration of instances with backups"
Backups cannot be moved, so if an instance has an existing backup, we need to have the user delete those backups prior to moving the instance.

[2020-09-30 16:10] stgraber opened #7960 "Allow using a single remote non-block based (cephfs) volume for images/backups"
Currently, images and backups can be stored on a storage volume as configured with `storage.images_volume` and `storage.backups_volume`. This is a per-node value and it's currently expected that when using ceph/cephfs for it, it be different on every node.

However, it should be perfectly fine for cephfs to hold a cluster-wide images and backups store on a single volume.
When this is the case, we

[2020-09-30 18:03] markkrj opened #7961 "changing running vm config won't work and won't persist reboot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.5
 * The output of "lxc info":
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_cr

[2020-09-30 18:14] stgraber commented on #7961
I believe @tomponline fixed this issue this morning by making it properly fail now.
Live config updates for VMs are currently limited to shrinking memory or setting user config keys, everything else must be done with the VM offline. We intend to improve this in the near future, especially around networking, but it is currently not supported.

[2020-09-30 18:14] #7961 closed

[2020-09-30 18:28] Saviq opened #7962 "Orphan qemu process on VM start / KVM failure"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
 * The output of "lxc info": [lxc-info.txt](https://github.com/lxc/lxd/files/5307469/lxc-info.txt)

# Issue description

I'm in a weird state where a VM doesn't start, as far as LXD is concerned, but qemu is left orphaned.

# Steps to reproduce

 1. `lxc start instance`
 1. observe that it doesn't start
 1. `lxc start

[2020-09-30 18:35] tomponline commented on #7961
https://github.com/lxc/lxd/pull/7955

[2020-09-30 19:13] stgraber commented on #7962
I've seen this before and killing the previous qemu does usually resolve it.
However I'm not sure what's the right way to get the system into such a situation or why that previous qemu just won't die on its own :)

Is this something you can make repeatedly happen somehow?

@tomponline any ideas?

[2020-09-30 19:23] Saviq commented on #7962
Right now, yes. This wasn't a one off, I can do kill the qemu, and start and go into the same situation again.

[2020-09-30 19:29] Saviq commented on #7962
I wonder if running a VirtualBox VM at the time when you start a LXD one would go there. KVM and VBox don't like each other, so may well be a way to reproduce?

[2020-09-30 20:46] tomponline commented on #7962
@Saviq I'd be interested in getting more info about the state of the qemu process at stage 2 of your original post, can you show the output of `lxc info NAME --show-log` after the initial failure to launch? Also can you advise what you mean by "observe it doesn't start" is there no qemu process at all?

[2020-09-30 20:52] Saviq commented on #7962
@tomponline,

It's this initially:
[code]

And a few seconds after:
[code]

No, qemu is running:
[code]

But LXD doesn't think it is:
[code]

[2020-10-01 03:56] komish commented on #7944
@tomponline Interested in working on this but just getting started poking around the codebase. How do you want this implemented? Some target questions:

* How is password authentication "enabled" formally for clusters? I didn't see a configuration option during `init` that seems to explicitly enable password authentication. Is this just a function of whether the trust-password is part of the confi

[2020-10-01 06:06] badsmoke commented on #7910
have shortened the edition a little

[code]
[code]
i don't know if this is the case since yesterday's reboot or only now after creating the new image, it will now be 0 byte for almost every container/vm

[2020-10-01 08:07] Saviq commented on #7962
Just as a data point, this one instance has this issue (corrupted image¿?), I can launch new VMs fine. That doesn't change the fact that LXD should realize the original error :)

[2020-10-01 08:40] itcrowdsource opened #7964 "Unable to refresh snap: Failed to get unit file state for snap.lxd.activate.service: No such file or directory"
# Required information

 * Distribution: Ubuntu
Distribution version: 18.04 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-118-generic
   * LXC version: 4.0.4
   * LXD version: 4.6
   * Storage backend in use: zfs

# Issue description

LXD stopped working suddenly. Unable to launch lxc command. Snap refresh fails:
root@VM1:~# snap refresh lxd
error: cannot perform th

[2020-10-01 12:47] stgraber commented on #7964
This would be a snapd bug unfortunately...

I've seen some variants of this popping up every now and then so it looks like something is racy.

Could you report this at https://forum.snapcraft.io and post a link here so I can go comment?

(Closing the issue as it's external to us but will definitely follow it over there and help you get back online)

[2020-10-01 12:47] #7964 closed

[2020-10-01 13:10] tomponline commented on #7944
@komish so an example of the issue is this:

Setting up node 1 in a new cluster: (just press return when being asked for the trust password for new clients without specifying one).
[code]
We would like the validation to reject empty passwords at this stage, as the problem this causes is exemplified below:

Now on node 2, try joining the cluster with an empty trust password:

[code]

The asking thi

[2020-10-01 13:11] itcrowdsource commented on #7964
@stgraber here's the link to the forum post:

https://forum.snapcraft.io/t/unable-to-refresh-snap-failed-to-get-unit-file-state-for-snap-lxd-activate-service-no-such-file-or-directory/20311

[2020-10-01 15:01] drs-11 commented on #7936
Hey so I dived into the code and wanted to ask if I'm going in the right direction.

Here is what I think is supposed to be done:
1) Add `rsync.compression` entry in `storagePoolConfigKeys`(in storage_pool_config.go) to validate entry
2) Add logic to `storagePoolFillDefault`(in storage_pool_config.go) to set the default bool value of `rsync.compression` as `True`
3) Provide the `rsync.compression`

[2020-10-01 15:48] stgraber commented on #7936
Right, I'd expect you to have to:
 - Add to `storagePoolConfigKeys` as `validate.Optional(validate.isBool)`
 - Add the key to `doc/storage.md`
 - Add an API extension to `shared/api/version.go` and `doc/api-extensions.md`, call it `storage_rsync_compress` or something along those lines
 - Modify each of the storage drivers under `lxd/storage/drivers/` to strip `compress` from `rsyncFeatures` if th

[2020-10-01 15:53] #7962 closed

[2020-10-01 15:59] stgraber commented on #7944
Right, looking at all the places where we use `cli.AskPassword` or `cli.AskPasswordOnce`, I think the easy fix for this is to simply make those functions refuse an empty string as a valid value.

So that would be a change directly to `shared/cmd/ask.go` to make both functions call `invalidInput()` when provided with an empty string and then have them ask again until they get a non-empty response.

[2020-10-01 15:59] stgraber commented on #7944
@komish assigning the issue to you for now.

[2020-10-01 16:05] drs-11 commented on #7936
Alright yeah that is a better way and makes more sense. Thanks!
Will a unit-test be required with the PR?

[2020-10-01 16:07] xvd7 commented on #7935
Even the first command ```lxc network set lxdbr0 bridge.mtu 1400``` restarts dnsmasq and subsequently IP address is assigned to the test container.

Unfortunately, there was no information logged in /var/snap/lxd/common/lxd/logs/lxd.log

/var/log/syslog contains:
[code]

Executing ```lxc network unset lxdbr0 bridge.mtu``` again yields no information in /var/snap/lxd/common/lxd/logs/lxd.log.

/var/

[2020-10-01 16:07] komish commented on #7944
Understood - thanks for the guidance. More to come as I have it!

[2020-10-01 16:11] stgraber commented on #7935
Ok, any chance we could have you do:
 - snap set lxd daemon.debug=true

And then reboot the system, hoping that it will once again fail to start dnsmasq?
This time around `/var/snap/lxd/common/lxd/logs/lxd.log` should contain a lot more details.

[2020-10-01 16:12] stgraber commented on #7935
Your log above shows a dnsmasq failure to access a timezone file. I don't know if that's the source of the problem or not, it seems unlikely but I'll send a fix for it anyway.

[2020-10-01 17:51] xvd7 commented on #7935
[code]

[2020-10-01 18:14] stgraber commented on #7935
Can you show `dmesg | grep DENIED`?
And also tell me if you've already gotten dnsmasq back to a running state or not (will affect my interpretation of that kernel log).

[2020-10-01 18:32] xvd7 commented on #7935
After rebooting dnsmasq did not start. Actually it is quite consistent. I rebooted several times and so far dnsmasq never started.
[code]

[2020-10-01 19:07] stgraber commented on #7935
Ok, can you show me `ls -lh /etc/localtime`?

Assuming this is a symlink to `/usr/share/zoneinfo/Etc/UTC`, can you try:
 - rm /etc/localtime
 - cp /usr/share/zoneinfo/Etc/UTC /etc/localtime

Then reboot and see if that did the trick?

[2020-10-01 19:18] xvd7 commented on #7935
It was a symlink.
Before change:
[code]
After change:
[code]
Unfortunately, after rebooting still no luck.
[code]

[2020-10-01 19:20] stgraber commented on #7935
This is weird, I wonder what's causing this access to /etc/localtime in the first place.
Can you show `lxc network show lxdbr0`?

[2020-10-01 19:21] xvd7 commented on #7935
[code]

[2020-10-01 19:28] stgraber commented on #7935
Hmm, okay, this is really bizarre. I have no idea why we're not seeing this behavior on any of our other 20.04 based deployments.
I'm hoping that it is an issue with those localtime/zoneinfo files as that's easy to fix.

I just sent another bugfix for /etc/localtime specifically just now. Once that's in too, I'll refresh our stable-4.0 branch and will update the candidate channel for the 4.0 branc

[2020-10-01 19:35] xvd7 commented on #7935
Thank you, Stéphane. Your prompt help is much appreciated! I will try the new candidate once it is out. In the meantime the ```lxc network set``` hack works.

[2020-10-02 05:15] badsmoke commented on #7910
ok before i executed the command i checked again now it is again""disk": {},"

then i created a new container and checked after every command how the disk usage is.

as soon as i execute "lxc config device set a1 root size 50GiB" almost all containers/vms have disk usage 0 byte again

in this state:
[code]

[2020-10-02 07:52] ne-vlezay80 opened #7972 "Super jumbo frame support"
# Required information

 * Distribution: Arch Linux
 * Distribution version: stream
 * The output of "lxc info" or if that fails:
   * Kernel version:  5.4.24-rt15-2-rt
   * LXC version: 4.0.4
   * LXD version: 4.6
   * Storage backend in use: 5.7

# Issue description

A brief description of the problem. Should include what you were
attempting to do, what you did, what happened and what you expect

[2020-10-02 09:19] tomponline commented on #7972
This seems like a fine change to make, but I'd like to understand more about what your application is here, as this setting will set the MTU of the veth interfaces at the network layer, rather than setting the MTU at the link layer (where link layer MTUs of 9216 are commonly seen when the network layer's MTU is 9000).

Are you tunnelling another protocol over the veth that needs MTU of 9000?

Than

[2020-10-02 14:28] stgraber commented on #7910
The behavior you're reporting would be consistent with something running `btrfs quota disable`, effectively dropping all quotas you have in place and getting the filesystem to report `ERROR: can't list qgroups: quotas not enabled`.

LXD has no such code (I just looked through the code for `disabled` to make sure), so I'm wondering if it's not something outside of LXD messing with your btrfs filesy

[2020-10-02 15:25] komish commented on #7944
Just an update that I think I'm almost done with this. Just working on testing changes but I'm fighting pre-installed (via snap) `lxd` in cloud images of Ubuntu 20.04, and getting my source-built binary in place to test. I'll get more time on it going into the weekend.

[2020-10-02 15:26] tomponline commented on #7944
@komish if its easier you can built your lxd/lxc go binaries and then move them into the snap temporarily using:

[code]

[2020-10-02 20:45] AndrewElvisDeng commented on #7875
We've fixed the typo and are working on the patch

[2020-10-02 22:40] DDEFISHER commented on #7959
I am going to look into fixing this.

[2020-10-02 23:25] ne-vlezay80 commented on #7972
You using mtu = 16384 in internal lxd container server between virtal
machines. External network inside hypervisor using mtu = 16384 bytes.

[2020-10-02 23:36] stgraber commented on #7935
@xvd7 not in `candidate` yet because there's some more stuff I need to review and backport, but you can try it in 4.0/edge with `snap refresh lxd --channel=4.0/edge`. To go back to stable afterwards, do `snap refresh lxd --channel=4.0/stable`.

There is no DB change between current 4.0 and edge so downgrading back to stable on standalone nodes will work fine.

[2020-10-02 23:38] stgraber commented on #7959
Okay, assigned to you.

I suspect the best spot for the check would be in `containerPost` in `lxd/instance_post.go`, the condition you care about for this is the `targetNode != ""` one which handles internal cluster instance move.

[2020-10-02 23:38] stgraber commented on #7875
Cool!

[2020-10-03 01:01] nia1048596 opened #7973 "nftables backend failed to parse ruleset with named concatenations"
# Required information

 * Distribution: Gentoo
 * Distribution version:
 * The output of "lxc info" or if that fails:
[code]

# Issue description

I want to use nftables as firewall backend but lxd uses iptables backend instead.

The debug message of lxd:
[code]

An example nftable rules:
[code]

I use [named concatenation](https://wiki.nftables.org/wiki-nftables/index.php/Concatenations) feature

[2020-10-03 01:11] stgraber commented on #7973
@tomponline can you take this one?

[2020-10-03 06:55] tomponline commented on #7973
Will do.

[2020-10-03 15:16] xvd7 commented on #7935
It is looking good. One server upgraded to the 4.0/edge channel and after reboot dnsmasq is running (and consequently IP address assigned to the containers). Thanks again.

[2020-10-03 15:17] stgraber commented on #7935
Excellent, closing the issue since we merged the fix. Next week will be rather busy for me but I'm hoping we may do a new 4.0.x release the week after which will include this fix.

[2020-10-03 15:17] #7935 closed

[2020-10-03 16:36] komish commented on #7944
Circling back in case anyone finds this discussion helpful in the future. I figured out that I can just run my built `lxd` binary and then run `lxd init` and it'll talk to the socket that's generated by `lxd`, even on a system that has it installed via snap already. That was enough to test the `init` workflow. 👍

Thanks again for the guidance! More than helpful for someone who hasn't looked at the

[2020-10-03 17:30] #7944 closed

[2020-10-04 18:04] DDEFISHER opened #7978 "make deps fails because of sqlite3 deps"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04

# Issue description

When trying to build from source despite following the install from source steps first `make deps` fails with `No package 'sqlite3' found`

[code]

I was able to get this working by running `apt-get install libsqlite3-dev`

# Steps to reproduce

 1. follow build from source steps
 2. run `make deps

[2020-10-04 18:20] #7936 closed

[2020-10-04 19:16] #7978 closed

[2020-10-04 22:56] komish commented on #7946
Am I understanding that the information for the limits already exists, and this feature would simply allow querying and presenting that data? I could work on this, just need to get more familiar with things.

[2020-10-05 00:09] stgraber commented on #7946
That's right. The limits are enforced right now so there is existing logic to query the limit and its current usage.

[2020-10-05 00:09] stgraber commented on #7946
Assigned it to you.

[2020-10-05 02:46] stgraber commented on #7946
The limits currently available are:
 - limits.containers
 - limits.cpu
 - limits.disk
 - limits.memory
 - limits.networks
 - limits.processes
 - limits.virtual-machines

The API endpoint to return the limits for a project should:
 - Load all instances in the project
 - Iterate through them and perform a count based on their type (to get the current usage of `limits.containers` and `limits.virtual-

[2020-10-05 08:05] tomponline commented on #7972
So what is the maximum mtu you're looking to set, the original post suggested you were trying to set an MTU of 9216, but are you trying to set something higher than that (16384?). Thanks

[2020-10-05 08:31] tomponline commented on #7920
For other readers affected by this issue, in order to be able to run the query `SELECT * FROM storage_volumes_snapshots WHERE id IN (SELECT id FROM storage_volumes);` on an LXD that will not start, you need to use the `sqlite` command to open the database read only DB file as so:

[code]

This way you can open the database without needing to start LXD.

[2020-10-05 08:46] ne-vlezay80 commented on #7972
I used mtu = 16384 for local lxd cluster. mtu = 9216 i instelled in test lxd server.

[2020-10-05 09:06] dkruyt commented on #7920
@tomponline  Thanks for this, so I run the SQL, got this.
[code]
So I should do this then? But I am confused about that I got 2 results from the first Select from.

`UPDATE storage_volumes_snapshots SET id=422 WHERE id=480;`

[2020-10-05 09:16] tomponline commented on #7920
@dkruyt as you have to affected volumes you would need 2 update queries, 1 for each volume, setting a unique ID for each one.

You need to create a patch file as mentioned in https://github.com/lxc/lxd/issues/7920#issuecomment-696930106

[2020-10-05 09:38] dkruyt commented on #7920
@tomponline , ok created the patch file and restarted, now it is running,
[code]

But, still got the socket error...

[code]

lxd seems running...

systemctl status snap.lxd.daemon.service
● snap.lxd.daemon.service - Service for snap application lxd.daemon
   Loaded: loaded (/etc/systemd/system/snap.lxd.daemon.service; static; vendor preset: enabled)
   Active: active (running) since Mon 2020-10-0

[2020-10-05 09:49] tomponline commented on #7920
Can you show output of `ps aux | grep lxd` please

[2020-10-05 09:55] dkruyt commented on #7920
[code]
From: /var/snap/lxd/common/lxd/logs/lxd.log

t=2020-10-05T11:51:06+0200 lvl=info msg="Starting container" action=start created=2020-03-17T08:17:29+0100 ephemeral=false name=bitwarden-rs project=default stateful=false used=2020-03-17T08:17:54+0100
t=2020-10-05T11:51:06+0200 lvl=info msg="Downloading image" alias=18.04 server=https://cloud-images.ubuntu.com/minimal/releases
t=2020-10-05T11:51

[2020-10-05 09:58] tomponline commented on #7920
So so as you say, lxd seems to be starting now, but you've got other issues going on here.

Can you see any of the container specific logs in /var/snap/lxd/common/lxd/logs/?

[2020-10-05 10:16] dkruyt commented on #7920
Container logs looks like this...

[code]

[2020-10-05 10:35] tomponline commented on #7920
Can you run:

[code]

[2020-10-05 10:58] dkruyt commented on #7920
I think it has todo with this error, something in the database...

`t=2020-10-05T12:57:05+0200 lvl=dbug msg="Database error: &errors.errorString{s:\"No such object\"}"
`

[code]

[2020-10-05 11:02] tomponline commented on #7920
@dkruyt not necessarily, but perhaps, that is (in my opinion) a rather alarming message that can occur in a normal scenario when a DB row is looked up and not found. It occurs quite often in my experience and doesn't normally indicate an issue.

Please can you describe more about what version of lxd you were running before the upgrade, and what storage pool configure you had. Thanks

[2020-10-05 11:11] dkruyt commented on #7920
The previous versie would be then 4.4 or 4.5, its just updating with snap.
[code]
Storagepool is ZFS.

zpool list
NAME        SIZE  ALLOC   FREE  EXPANDSZ   FRAG    CAP  DEDUP  HEALTH  ALTROOT
lxdpool01   179G  75.1G   104G         -    44%    41%  1.00x  ONLINE  -

[2020-10-05 11:13] tomponline commented on #7920
@stgraber do you have any ideas for this, lxd seems to be starting now after the DB patch, but containers not starting.

[2020-10-05 11:13] #7972 closed

[2020-10-05 11:15] #7973 closed

[2020-10-05 11:18] stgraber commented on #7920
Can you show `zfs list -t all`? Error would be consistent with an incorrect mountpoint.

[2020-10-05 11:19] dkruyt commented on #7920
[code]

[2020-10-05 11:28] stgraber commented on #7920
[code]

That's very very unusual. Are you using some kind of bind-mount for data under /var/snap?

[2020-10-05 11:30] dkruyt commented on #7920
@stgraber No, no bind mounts here.

[2020-10-05 11:33] stgraber commented on #7920
Ok. If that's an acceptable solution for you, I'm 99% sure that a reboot would do it.
If restarting the system isn't an option, I'm sure we can find some weird ways to get the socket to behave inside the snap environment but that will need some more poking around to see how it broke.

[2020-10-05 11:41] dkruyt commented on #7920
Rebooting in 3.2.1...

Yes, lxd is working again, only needed to manually start the containers, no containers where started automatically.

Thanks...

[2020-10-05 12:39] stgraber commented on #7920
You may want to stash `boot.autostart=true` in your `default` profile if you want to ensure all containers are always started, regardless of their last state.

[2020-10-05 13:57] masip85 commented on #5009
This issue stills in my case much higher version, but I really don't know why:
[code]

[code]

[2020-10-05 14:51] stgraber commented on #5009
Hmm, can you show `dmesg | grep DENIED`?

[2020-10-05 14:52] masip85 commented on #5009
`[442112.097065] audit: type=1400 audit(1601902411.313:615): apparmor="DENIED" operation="connect" profile="lxd-ssh-agent_c1_</var/snap/lxd/common/lxd>" name="/home/vmasip/agent" pid=7666 comm="lxd" requested_mask="w" denied_mask="w" fsuid=1000 ouid=1000`

[2020-10-05 16:04] matt4d617474 opened #7982 "v4.6+ build currently fails on older kernels (e.g., rhel7) down to shared/idmap/shift_linux.go:32's #include of linux/posix_acl_xattr.h"
# Required information

 * Distribution: RedHat Enterprise Linux
 * Distribution version: 7
 * The output of "lxc info" or if that fails:
   * Kernel version: 3.10.0-957

# Issue description

A recent-ish change to shared/idmap/shift_linux.go depends on kernel headers from newer kernel versions.  In talking to stgraber on #lxcontainers, he asked me to submit a ticket here to condition out the usag

[2020-10-05 20:29] stgraber commented on #5009
Thanks, can you show:
 - lxc config show --expanded bionic
 - cat /var/snap/lxd/common/lxd/security/apparmor/profiles/lxd_forkproxy-ssh-agent_bionic

I think that second path is correct based on what you showed above but if not, look for something that looks like it.

[2020-10-05 21:57] DDEFISHER commented on #7959
Hey I have a decent understanding of this at this point however I am not seeing the condition `targetNode != ""` be met even on a successful `lxc move ip-172-31-2-179:hello4 ip-172-31-11-25:hello2`.

The container will be migrated fine however if I place a debug statement in that `if` block it will never get printed (it will get printed if I place it before or after that if block).

I am assuming

[2020-10-05 22:29] stgraber commented on #7959
That's because you're not using a cluster, you're just dealing with two LXD servers transferring instances between each other.

https://linuxcontainers.org/lxd/docs/master/clustering
https://discuss.linuxcontainers.org/t/lxd-cluster-on-raspberry-pi-4/9076

You can likely reset your two systems and cluster them together, at which point you should hit the issue when doing:
 - lxc move hello --target

[2020-10-05 22:36] DDEFISHER commented on #7959
Just to be clear I thought I was using a cluster.

[code]

[2020-10-05 22:38] DDEFISHER commented on #7959
ah okay the secret sauce I was missing was the wrong command.

[2020-10-05 22:38] DDEFISHER commented on #7959
`lxc move hello4 --target ip-172-31-2-179` vs `lxc move ip-172-31-2-179:hello4 ip-172-31-11-25:hello2`

[2020-10-05 22:39] DDEFISHER commented on #7959
Thanks for the help I can move forward now

[2020-10-05 22:39] stgraber commented on #7959
Haha, that explains it :)

[2020-10-06 07:39] masip85 commented on #5009
[code]

And:

[code]

[2020-10-06 08:49] tomponline commented on #7875
@AndrewElvisDeng please let me know if you get stuck on anything and need help. Thanks

[2020-10-06 15:52] #7909 closed

[2020-10-06 15:52] #7982 closed

[2020-10-06 18:04] stgraber commented on #7891
@NicolasGoeddel  did this show up again?

[2020-10-06 18:09] NicolasGoeddel commented on #7891
No.

[2020-10-06 18:58] stgraber commented on #5009
I managed to reproduce the exact setup and issue. It's most likely an Ubuntu Core specific issue in this case because of how /home is mapped on those systems. Testing a fix now.

[2020-10-06 19:29] stgraber commented on #5009
Sent a fix for it

[2020-10-07 04:28] komish commented on #7946
Thanks for the info. Very much appreciated. It'll likely take me some time and I'm sure to have questions. For starters:

I read this in the documentation:

Instances created before a project has a limit defined in config don't seem to have this restriction. That is - they continue to run without the config key. API requests to create instances _were_ met with an error if they didn't contain the c

[2020-10-07 13:53] stgraber commented on #7946
Yeah, that's correct. It's a pretty unusual situation as we normally expect the admin to set the limit prior to anything getting created, but it's certainly a possible situation.

Similarly, it's possible for an admin to lower the project limits after things got created, effectively giving you a situation where the reported usage is higher than the limit. In such a situation, nothing new can get c

[2020-10-07 16:06] tomponline opened #7995 "Kill hung qemu processes when doing lxc stop on errored VM"
Following on from https://github.com/lxc/lxd/pull/7966, we should investigate allowing an `lxc stop` of an errored/hung qemu process that no longer has the monitor socket responding, but killing the remaining qemu process.

[2020-10-08 10:18] wmchris commented on #6439
Hello,
i just stumbled over this issue, same error with snap installed LXD 4.6 in a cluster enviroment.
can be easily triggered by editing a profile, only solution so far is the reboot of the whole cluster.

[2020-10-08 10:43] freeekanayaka commented on #6439
How many nodes do you have in your cluster? After you restart the whole cluster, what are the steps to follow in order to trigger the issue again?

[2020-10-08 10:52] wmchris commented on #6439
i have 12 nodes.

how to trigger this issue:
lxc profile edit profile1, quit without saving
this will in 9 out of 10 times result in a message like ```Config parsing error: failed to notify peer 172.16.0.199:9443: The following containers failed to update (profile change still saved)``` with any reason. abort reopening of the editor by pressing CTRL+C

now the database is locked permanently.

[2020-10-08 11:22] freeekanayaka commented on #6439
I tried to follow these steps but I didn't get an error after quitting the editor without saving. Please can you paste an example of the full error that you get, including the "random reason"? It might help shedding some more light on this.

[2020-10-08 11:33] wmchris commented on #6439
When editing a profile with 10 containers assigned, each one on a different LXD-Node, at least one will trigger a message like that:

[code]

but there are other error reasons as well. In the past i just restarted the nodes which didnt like to follow the profile change. now i cannot restart the nodes anymore:
[code]

[2020-10-08 13:10] #7959 closed

[2020-10-08 13:11] freeekanayaka commented on #6439
I managed to reproduce the issue using 10 nodes and 10 running containers. However in my case it is relatively more rare (one failure every >20 tries, when running the edit command in a tight loop) and no cluster restart is necessary after the failure, retrying the same thing works.

I'm going to dig deeper.

[2020-10-08 13:50] wmchris commented on #6439
i have this behaviour on two different clusters (one with 21 nodes, one with 12 nodes). both have in common, that it's using dedicated machines on debian with LXD via snap and using a ceph as storage backend.

[2020-10-08 14:56] freeekanayaka commented on #6439
I could reproduce also the case where a database connection gets "stuck" and all queries from a specific node fail with "a transaction is already in progress", requiring a restart of that node. I believe that's probably what @wmchris has observed.

[2020-10-08 19:05] freeekanayaka commented on #6439
@wmchris the branch that should fix the issue you reported has landed in the master branch, and will be included in the next 4.7 release, please just follow up here if after you upgrade you still see the problem.

[2020-10-09 00:50] DDEFISHER commented on #7948
I am going to work on this if that is okay.

[2020-10-09 01:39] stgraber commented on #7948
Absolutely! Assigned to you now.

[2020-10-09 05:25] artmakh opened #8004 "Snap lxc-to-lxd tool libcrypto.so.1.1 error on ubuntu 16.04"
# Required information

 * Distribution: **Ubuntu**
 * Distribution version: **Ubuntu 16.04.7 LTS**
 * The output of "lxc info" or if that fails:
[code]

# Issue description

[code]

# Steps to reproduce

 1. Fresh install Ubuntu 16.04 LTS
 2. ```apt install snapd```
 3. ```snap install lxd```
 4. ```lxd.lxc-to-lxd```

[2020-10-09 10:39] keestux opened #8005 "Verbose option does not output anything"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The summary output of "lxc info":
[code]

# Issue description

Using `--verbose` with `lxc move` or `lxc copy` does not give progress information as it used to.

# Steps to reproduce

Just create a new container and copy or move it to a different node on the cluster (or any other remote)
[code]

[2020-10-09 11:20] stgraber commented on #8005
Are you sure you were getting progress information when copying within a cluster instead of between remotes?

[2020-10-09 11:21] stgraber commented on #8005
In any case, it's something that we should report progress for, I'm just trying to figure out if it's an actual regression rather than just a case where progress details were not added.

[2020-10-09 11:39] keestux commented on #8005
I don't know about within a cluster. We started using the cluster just recently.
So, you're saying with remotes you get verbose, but not within a cluster. If that is so, then it is not intuitive.

[2020-10-09 11:42] stgraber commented on #8005
Yeah, in some cases we should be able to provide the progress data here.

`lxc copy a b --target blah` in a cluster is using the same code path as a local `lxc copy a b` which also does not provide you with progress details.

[2020-10-09 11:43] stgraber commented on #8005
Whereas a `lxc copy remote1:a remote2:b` uses a different API (migration) with the client talking to both servers and getting progress data from both sides. (In the other cases, the client only talks to a single server)

[2020-10-09 17:41] stgraber opened #8010 "Introduce new `virtual-machine-restarted` and `container-restarted` events"
Right now when an instance self-restarts (reboot inside the instance), all we get is a `container-started` type event.

Instead, we should add logic so that instance initiated reboots only log a single `container-restarted` event.
Similarly, running `lxc restart blah` should also only log a single `container-restarted` event rather than the current `container-stopped` + `container-started` combina

[2020-10-09 17:44] stgraber opened #8011 "Record requestor as part of `lifecycle` events"
`lifecycle` events would be quite useful for auditing if they would also record who asked for a given action.

To do this, I suspect we'll want to:
 - Refactor the current SendLifecycle calls to be done through a common function on instance driver
 - Have that function take care of adding context like instance name, instance project, resources, ...
 - Add some way to store the requestor onto the s

[2020-10-09 17:47] stgraber opened #8012 "Make it so we always have a `user` context on requests"
We currently have a `user` context field which we fill with the certificate fingerprint or candid username when available.

To make it more generally useful, I believe we should make sure it's always set and is prefixed with the type of connection used.
That would allow values such as:
 - candid:stgraber@usso
 - unix:1000
 - tls:e30cd729e816fc9dc3c460360929e25fdd2c141db6d6d4ebba3f60c2a5a3feeb

Whi

[2020-10-09 19:05] mattparryNZa opened #8014 "lxd init command should include option - do you want the containers to be acceptable to your local network (Y|N)"
<!--
When creating a container, I cant believe that it is not accessible from the local network - why on earth would you not want to access the application (for example Nextcloud, Odoo or Kodi installed in a container) NOT to be accessible from the local network?

My WIFI box gives out addresses in the 192.168.1.X range and when starting a container it is in the 10.14.X.X which I cannot reach.

Ha

[2020-10-09 19:06] mattparryNZa commented on #8014
<!--
When creating a container, I cant believe that it is not accessible from the local network - why on earth would you not want to access the application (for example Nextcloud, Odoo or Kodi installed in a container) NOT to be accessible from the local network?

My WIFI box gives out addresses in the 192.168.1.X range and when starting a container it is in the 10.14.X.X which I cannot reach.

Ha

[2020-10-09 19:07] keestux opened #8015 "Migration operation fails"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The summary output of "lxc info":
[code]

# Issue description

Copying/moving a container to another node in a cluster fails.

# Steps to reproduce

1. create a container from an image that is not (yet) present on the cluster
2. copy / move the container to another node with the `--target` option

[code]

What you ge

[2020-10-09 19:15] stgraber commented on #8014
Hmm, weird empty issue, so we're going to close it.

If this is about putting instances directly on your physical LAN, this is possible already by telling LXD init to use an existing interface/bridge. Though this doesn't work in a lot of cases (virtual machines, cloud, wifi networks, ...) so it's not something we want to promote any more heavily.

If this is about controlling whether instances can

[2020-10-09 19:15] #8014 closed

[2020-10-09 19:33] mattparryNZa commented on #8014
Hi Stephane,

Thank you for your quick response.  I don't see this as an empty issue,

I'm trying to use lxd, but it is giving me the wrong IP address.  I
understand that you are an expert and I am a novice, but please hear my
concerns :-)

I want my container to be on the same network IP address as all my other
devices so that I can access nextcloud - but this is not the default and
having spent

[2020-10-09 20:19] stgraber commented on #8014
This Github issue shows up as having no description, only a title and then having a follow-up empty response.

LXD supports `macvlan` which does let you attach to a physical network, this however does not work with:
 - Wifi interfaces
 - Cloud instances
 - Some network card vendors
 - Networks that use MAC filtering

None of that is under LXD's control and they are hardware limitations. There is a

[2020-10-09 20:19] stgraber commented on #8014
Questions and support discussions are better handled at https://discuss.linuxcontainers.org

[2020-10-09 21:13] IngCr3at1on commented on #8012
I'd like to work on this.

[2020-10-09 21:30] stgraber commented on #8012
Thanks, assigning it to you.

[2020-10-09 22:11] #8015 closed

[2020-10-10 07:38] brettmilford opened #8018 "Support ceph msgr2 address config"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-48-generic
   * LXC version: 4.6
   * LXD version: 4.6
   * Storage backend in use:

# Issue description
When creating a lxd ceph storage pool for a Ceph Octopus cluster I encountered the following error:
[code]
This is the address format for msgr

[2020-10-10 07:59] brettmilford commented on #8018
This might be a limitation of the luminous client packaged with lxd snap.
[code]

[2020-10-10 16:07] stgraber commented on #8018
It's not a LXD thing, it's a snap thing. The snap ships with Ceph 12 which does not understand the new addresses.
We'll be rebasing the snap on Ubuntu 20.04 in the near feature which will give us Ceph 15.

Until then, you can configure the snap to use the client from the host system with:
 - snap set lxd ceph.external=true
 - systemctl reload snap.lxd.daemon

Which will take care of this.

[2020-10-10 16:07] #8018 closed

[2020-10-10 16:41] dlemel8 commented on #8010
Hey @stgraber  , I want to do this.
Can you guide me a bit?
Thanks.

[2020-10-10 18:12] stgraber commented on #8010
Assigned it to you.

You can see what events are emitted today with `lxc monitor --type=lifecycle` and then restart a container/virtual-machine both from inside (`lxc exec NAME reboot`) or outside (`lxc restart NAME`).

The current logic can be found in `lxd/instance/drivers/driver_lxc.go` and `lxd/instance/drivers/driver_qemu.go`.

I suspect I would do changes in this order:

 - Add the new event

[2020-10-10 18:13] stgraber commented on #8010
Let me know if you have more specific questions when looking at the various bits.

Also feel free to send PRs as you go through this. Pretty much ever bullet-point above should be an improvement on its own and so could be submitted and be merged progressively.

[2020-10-10 18:35] turtle0x1 commented on #7898
@stgraber how will the user be limited on the wider API?

I.E If I limit a user to a project will they still be able to hit `/1.0/resources` and get information about the system?

[2020-10-10 18:59] turtle0x1 opened #8019 "Implement `HEAD` for file transfer API"
When using the files API it would be nice to know if a entry is a "file" or "directory" otherwise you have to download the entry to find out - which is obviously "expensive"

The use case is fairly obvious but when listing directory contents in a "view" (webpage) for a user its best to indicate the "entry type"

_Ignore the poor ordering_

![lxd](https://user-images.githubusercontent.com/12494629/

[2020-10-10 20:41] stgraber commented on #7898
In general a protect restricted user can see just about everything so long as it's not owned by another project.

There are a few restrictions though, currently off the top of my head:
 - The logging part of the events API is blocked
 - The server configuration is always returned as empty

The resources API is available and we don't expect to block it as it is useful to choose targets and also doe

[2020-10-10 21:09] stgraber commented on #8019
Originally I was going to punt that to a wider rework of the file API where we would ideally implement a full webdav-ish (ideally compatible) endpoint but after thinking about it some more, I think we can at least do something more sane for both listing and getting file information by implementing the `HEAD` method in the file API.

This is a method we've never used within LXD so will need a tiny

[2020-10-10 21:16] stgraber commented on #8019
@brauner something for you to think about, can you think of a more flexible way for LXD to perform file operations inside a container?

Right now we have one `forkfile` type call for each operation, requiring dedicated C logic for everything we do in there.

It would be quite neat if we could instead have a single Go `forkfile` codepath which would take in a communication fd and provide a REST API

[2020-10-10 22:05] turtle0x1 commented on #8019
You've made my heard hurt

As long as you return `isDirectory`~ json key i could care less

[2020-10-11 02:06] diegomontoya opened #8020 "Lxd 4.6/dqlite corruption: Failed to start dqlite server"
1) Ubuntu 20.04
2) snap lxd 4.6

Steps that may have contributed to corruption

1) multiple concurrent (10x) lxc copy from remote
2) while lxc copy was not complete on some volumes, performed lxc storage volume set default container/xxx block.mount_options=rw,noatime,nodiratime
3) while lxc copy was not fully complete, perfomed snap set lxd lvm.external=true

I cannot reproduce the corruption afte

[2020-10-11 02:32] stgraber commented on #8020
Can you send the database to free dot ekanayaka at canonical dot com ?
@freeekanayaka should be able to take a look to see what's going on.

Based on the error, you could get LXD back online by moving both `0000000000000238-0000000000000244` and `0000000000000245-0000000000000270` aside. It's unclear how much data this may revert though.

[2020-10-11 02:33] stgraber commented on #8020
Can you also look at `journalctl -u snap.lxd.daemon -n 300` for a LXD crash?

With the activity you described, it seems plausible that you hit a LXD bug which would have caused the daemon to crash and then cause the database issue as a side effect. So we may have a clear LXD crash in the log which we can track down and fix on its own.

[2020-10-11 03:00] diegomontoya commented on #8020
@stgraber  @freeekanayaka Email sent with issue url as part of subject.

I checked both systemctl log and lxd/logs/ and there were no crashes.

A little bit more history on the issue as it appeared originally

0) Started the concurrent remote lxc copy and other stuff in above bug issue. All lxc copy completed without error.
1) Multiple sequential commands of  ```lxc list``` showed DIFFERENT list o

[2020-10-11 08:14] freeekanayaka commented on #8020
What do you mean exactly? That you have set up again a brand new lxd, tried to follow the same steps and did not hit the bug?

[2020-10-11 23:36] diegomontoya commented on #8020
I manually removed the LXD database files, removed all LVM thin volumes, and performed LXD init again to recreate the clean database. Then I started the same concurrent remote lxc copy again only this time I waited for all to complete before making container config changes. No corruption encountered.

[2020-10-12 08:25] vrubiolo commented on #2660
Finding this ticket as I am looking for information as well.

There seems to be a dedicated binary now in charge of doing this migration: https://github.com/lxc/lxd/tree/master/lxc-to-lxd.

Here is some information on how to build and use it: https://discuss.linuxcontainers.org/t/exporting-from-lxc-and-importing-to-lxd/2823

[2020-10-12 15:56] IngCr3at1on commented on #8012
I'd like to start on this this evening. Since this will be my first contribution to LXD is there any direction you can provide as a starting point?

[2020-10-12 15:59] tomponline commented on #8012
@IngCr3at1on follow the build instructions at https://github.com/lxc/lxd#installing-lxd-from-source to get latest version running and then you can make changes the source and iterate.

[2020-10-12 16:07] IngCr3at1on commented on #8012
@tomponline I was more referring to the issue in question; the code base is _not_ small as I'm sure you're aware it would be nice to have a starting point for what I'm actually looking for in the code; just a nudge, I'm more than willing to read and learn the code once I know the best place to start from.

[2020-10-12 16:33] tomponline commented on #8012
@IngCr3at1on I believe what @stgraber is referring to are the instances of `context.WithValue(r.Context(), "username", username)` in the code base, as well as the usage of it `r.Context().Value("username").(string)`.

There are functions like `userIsAdmin` and `userHasPermission` that will likely need to be made aware that username value can be prefixed with a `type:` pattern.

Also, validation ma

[2020-10-12 16:38] stgraber commented on #8012
I'm not concerned about usernames with colons in them if we always prefix with the protocol and the protocol itself may not contain colons.

[2020-10-12 16:39] stgraber commented on #8012
And yeah, I suspect updating `Authenticate()` to return usernames in the suggested format and for all auth sources should do the trick.

[2020-10-12 16:39] stgraber commented on #8012
For unix, getting the ucred will be slightly tricky I suspect. I may look up some example logic for that (from our devlxd code).

[2020-10-12 16:41] IngCr3at1on commented on #8012
Thanks y'all, I'll look into this after work today. That should be enough for me to get a lay of the land and at least get things rolling.

[2020-10-12 16:42] tomponline commented on #8012
@stgraber I noticed there is also a protocol context value, which is either "tls" or "cluster", does this have any relation to this task?

[2020-10-12 17:41] stgraber commented on #8012
Oh, right, forgot we had that. So then I think it's fine to not prefix `username` with the protocol but just make sure that whenever we log the username, we also log the protocol alongside it.

[2020-10-12 21:04] mhansi12 opened #8024 "Ubuntu 20.04/LXD 4.6 (snap) - unable to add serial/usb device to container "...is mounted nodev""
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.1
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-48-generic
   * LXC version: 4.0.4
   * LXD version: 4.6
   * Storage backend in use:  ZFS

# Issue description

Migrating containers from Ubuntu 16.05 / LXD 3.x to Ubuntu 20.04 / LXD 4.6

whenn adding a unix-char or usb device I get:

Error: Fai

[2020-10-13 00:11] stgraber commented on #8024
You may need to reboot the system for this change to propagate into all mount namespaces.

[2020-10-13 00:24] mhansi12 commented on #8024
I was able to "solve" the problem by creating a dedicated ZFS dataset for /var/snap and added the "devices=on" option.

After rebooting I checked the mountoptions of the relevant  mountpoints ( /var and /var/snap), /var was set to "devices=off" again and marked as "temporary".

Currently I do not know the Ubuntu/ZFS boot process enough to understand who sets this option for /var

But anywhy thanks

[2020-10-13 00:25] #8024 closed

[2020-10-13 08:14] renky opened #8026 "Network setting ipv6.routes doesn't accept correct values"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * Storage backend in use: zfs

lxc info
[code]
# Issue description

I recently migrated from apt-lxd to snap-lxd
it migraded from V3.0.3 to the current snap-version 4.6
After the migration my network-settings (bridges) didn't work any more.
I use several additional ip-adresses and subnets for ipv4 and ipv6
the ipv4.rou

[2020-10-13 08:25] tomponline commented on #8026
@renky the validation error message is correct, we added stricter validation in recent versions of LXD.

The problem is that you have specified a host IPv6 address, with a non /128 subnet.

Because the `ipv6.routes` setting can be used to route multiple addresses via a single subnet, the value you have provided is unclear. On the one hand it could be interpreted that you're asking for a route of `

[2020-10-13 08:25] #8026 closed

[2020-10-13 08:48] renky commented on #8026
Hi Tom

ok, it works with fine dropping the 1 or replacing it with a 0

but afaik it is officially allowed to use a single ip-address to specify a subnet, because in combination with the subnet-mask its clear... so I'd expect that it masks out all bits from the 81st one in my case
2a01:4f8:192:11a1:1::1/80
many tools work like this - e.G.
https://www.ultratools.com/tools/ipv6CIDRToRange
there you

[2020-10-13 08:51] tomponline commented on #8026
@renky the old one didn't validate it, it just passed it to `ip` command directly, which then ignored part of your requested route and created a different route.

We prefer to validate it more strictly and make sure that the route that is actually created matches the route the user requested. Avoids accidents that way :)

[2020-10-13 12:08] catsem opened #8027 "Question: How can I set noatime mount option if I use lvm as storage backend?"
Hello,

for performance reasons I'd like to set the noatime mount flag for a single container (I/O consuming application).
I'm using lvm as storage backend.
Already tried to set the volume.block.mount_options=atime at my storage pool which did not have the desired effect.

How can it be done?

OS: Ubuntu 18.04
LXD 3.0.3

Thanks and best regards.

[2020-10-13 13:13] tomponline commented on #8027
@catsem I tried this and can confirm that `atime` specifically doesn't take effect, however using `noatime` does.

I've also confirmed that this is behaviour of the `mount` command too, which suggests that `atime` is considered a default, or at least equivalent to the default `relatime` option which is used instead.

See https://ubuntuforums.org/showthread.php?t=1530291

[2020-10-13 13:13] #8027 closed

[2020-10-14 07:01] catsem commented on #8027
Sorry to bother you again.
You are right I had a typo in my original question it supposed to mean volume.block.mount_options=**noatime**. Shame on me. I edited my question in order to fix it.

But still I couldn't get it to work.

[code]

When I start my container "repo" with this config it leads to the following mount options (output of mount command):
`/dev/mapper/vg00-containers_repo on /var/li

[2020-10-14 07:44] tomponline commented on #8027
@catsem that setting only applies to new volumes, and the value of that setting is copied into each volume as the `block.mount_options` setting.

You can see the current volume config using:

[code]

[2020-10-14 09:28] pranjalnanavaty opened #8030 "Storage size shrinks after any file is deleted"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 18.04.3 LTS
 * The output of "lxc info" :
[code]

# Issue description

I have assigned a profile to each container with an upper limit of 5GB as root. Whenever a file(or a directory containing multiple files) is deleted either from the container's rootfs or lxd volume attached to it, the actual storage also shrinks the

[2020-10-14 09:34] tomponline commented on #8030
What storage pool are you using?

Please can you show the output of `lxc config show <container> --expanded` and `lxc storage show <storage pool>`?

[2020-10-14 09:35] tomponline commented on #8030
Also how are you creating the large file you are removing, please show full reproducer steps. Thanks

[2020-10-14 10:07] pranjalnanavaty commented on #8030
Output of `lxc config show <container> --expanded`

[code]

Output of  `lxc storage show <storage pool>`

[code]

[2020-10-14 10:15] pranjalnanavaty commented on #8030
Actually, I didn't specifically create these large files.

I observed this issue for the first time when I deleted a directory, which was a git repo that contained multiple dependencies in the form of modules and libraries, thus that directory was close to 300MB. After I deleted that directory, I noticed that the rootfs has also shrunk by 300MB.

Later, I tried deleting logs on a different contain

[2020-10-14 13:02] stgraber commented on #8030
Can you show `zfs list -t all -o name,quota,referenced,volsize`?

I suspect it's either ZFS pressure on the pool due to other quotas or it may be snapshots on the instance in question causing this behavior. Effectively, when you delete the file from the instance, it's still in a snapshot, so its space gets moved over to the snasphot, causing the instance dataset to appear to shrink and the snapsho

[2020-10-14 13:39] pbrkr commented on #7157
@tomponline Sadly that's too little, too late. The net effect of this issue is that I removed Ubuntu completely from my infrastructure and switched to Alpine Linux instead (after 8+ years of running Ubuntu). Switched from LXD to Docker (and soon to Podman). I have concerns with docker and would prefer to use LXD but it's not an option if issues like this are considered EWONTFIX.

[2020-10-15 05:07] pranjalnanavaty commented on #8030
The ZFS is having enough storage available, the output of `zpool list`
[code]

The output of `zfs list -t all -o name,quota,referenced,used,volsize`:
[code]

[2020-10-15 06:36] catsem commented on #8027
@tomponline
Thanks for pointing me the right direction.
It's also possible to change the mount options of an existing container (that answers my question).
e.g.
`lxc storage volume set <storage pool> container/<container name> block.mount_options discard,noatime`

[2020-10-15 08:05] tomponline commented on #8030
@stgraber thats interesting, so ZFS quota includes the snapshots of a volume?

[2020-10-15 12:13] stgraber commented on #8030
They should, yes. Otherwise a LXD user could far exceed their quota just by creating snapshots of their instances.

[2020-10-15 15:10] stgraber commented on #8030
@pranjalnanavaty okay, so definitely looks like it may be expected behavior with snapshots. Does removing the snapshots on an affected container get you the expected disk size?

[2020-10-15 23:10] manswizzle commented on #3838
I recently ran into this same quandary.  Thanks for the ulogd2 solution.  For anyone else looking for a solution, there was a good post showing the use of ulogd2 and nflog to accomplish the same task here:

[https://lxadm.com/Iptables:_LOG_target_not_working_in_LXD_containers](url)

[2020-10-16 16:45] 10101010101010001 opened #8046 "How to recreate deleted shared library symlink in a container?"
# Required information

 * Distribution: Ubuntu
 * Distribution version: focal 20.04, container 18.04
 * The output of "lxc info"
Name: sql
Location: none
Remote: unix://
Architecture: x86_64
Created: 2020/05/19 15:32 UTC
Status: Running
Type: container
Profiles: public
Pid: 1021997
Ips:
  eth2: inet    172.#.#.#   eno2np1
  lo:   inet    127.0.0.1
  eth1: inet    10.#.#.#  eno1np0
  eth1: inet6

[2020-10-16 16:52] stgraber commented on #8046
I very much doubt you could boot such a system even with rescue mode :)
It's true that you could for most libraries, but your C library would prevent anything from running.

In this case, a workaround may be:
 - lxc file pull test-container/lib/x86_64-linux-gnu/libc-2.27.so .
 - lxc file push libc-2.27.so test-container/lib/x86_64-linux-gnu/libc.so.6

This doesn't make it back into a symlink, you'

[2020-10-16 16:52] #8046 closed

[2020-10-16 16:52] stgraber commented on #8046
(Closing as not a bug, support questions are usually better handled at https://discuss.linuxcontainers.org)

[2020-10-16 16:54] stgraber commented on #8046
Ah, just thought of an alternative which may or may not work.

`lxc exec test-container /bin/busybox sh`

This assumes the presence of a static busybox, but there's a good chance that your distro will have one.

[2020-10-16 17:02] 10101010101010001 commented on #8046
@stgraber  Thanks for your help in resolving this. I really appreciate all your hard work, I've learned a lot from your forum posts, keep it up!!!

[2020-10-17 19:01] kedare opened #8048 "A single container running rclone cause the whole LXD system to hang"
Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.LTS
 * The output of "lxc info" or if that fails:
[code]
# Issue description

I first had this issue randomly when running gitlab in a container (I stopped using it like this since).
Now I can reproduce is 100% of the time, in my case I am doing a backup of a Prometheus snapshot using rclone with an encrypted backend ( I

[2020-10-17 19:06] stgraber commented on #8048
Not a LXD issue really.

Looking at your screenshot, you have a large number in uninterruptible wait (D) state, hinting a I/O being the issue here.

You're effectively trying to write so much stuff or to do so many sync transaction to your underlying storage that any process attempting to use the storage is getting stuck for possibly quite a long time. When that happens, the process goes into D st

[2020-10-17 19:06] #8048 closed

[2020-10-17 19:09] kedare commented on #8048
It's local SSD storage.
But I would be surprise that would be the issue, there is almost no data going out from the server (a few megabytes) when this happen, also all the others containers backups (That have the same kind of sizing or bigger, same target and encryption settings) have no issues.
The I/O issue may be more related to a network impact than a storage issue ? (I do see weird things on

[2020-10-17 19:17] stgraber commented on #8048
No, network doesn't result in D state, this is almost certainly storage related.
You can do `cat /proc/PID/stack` for one of the processes stuck in D state to see exactly what they're stuck on.

Note that not all SSDs are born equal and a lot of recent (even NVME) SSDs use a tiered system where you have a very very fast layer of SLC NAND in front with a limited size (8 to 32GB seems common) which

[2020-10-17 19:33] kedare commented on #8048
Thank you for the advice, I will keep investigating on this direction then.

[2020-10-18 00:11] TimRots commented on #7901
Isn't this the other way around?

[2020-10-18 02:40] stgraber commented on #7901
no

[2020-10-18 02:41] stgraber commented on #7901
On a pool, the config keys that will impact volumes are all prefixed with `volume.` whereas no such prefixing is needed on volume keys since they can only affect volumes :)

[2020-10-18 12:17] TimRots commented on #7901
Thank you for clearing this up @stgraber.
Would like to give this one a shot to implement.

Do you have some tips/guidance on this? I'm still getting familiar with the code base.

[2020-10-18 16:29] LukasHanusek opened #8050 "LXD another network interface has no internet access"
Host distro: Debian Buster
Container's distro: Debian Buster

lxc info:
[code]

I have 2 static IPv4 addresses on my machine, I want to create another lxc network interface for the secondary IP so that I can have a container with that static IP so all udp/tcp ports are forwarded to that container so I can host services like apache and sql db inside that container under the secondary IP. However on

[2020-10-18 23:26] stgraber commented on #7901
The easiest is likely to based it off another option we have and look for that in the codebase.
In this case, I'd look for `volume.zfs.use_refquota` which is mentioned in:
 - doc/storage.md
 - lxd/storage_pools_config.go
 - lxd/storage/utils.go
 - lxd/storage/drivers/driver_zfs_volumes.go
 - lxd/storage/drivers/driver_zfs.go
 - scripts/bash/lxd-client

It's a bit different in that this one will ta

[2020-10-18 23:35] stgraber commented on #8050
Ok, so LXD seems to be doing as configured. What you're missing is configuration inside the container to have the IP present in there.

For a test you could just run `ip -4 a add dev lo 138.*.16.151/32` in the container, then see if you can reach it from the outside world over that address.

[2020-10-19 00:52] stephenjamieson opened #8051 "Issue with last snap refresh for latest/beta"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-51-generic
   * LXC version:
   * LXD version: 4.7, latest/beta
   * Storage backend in use: BTRFS

# Issue description

Starting LXD unix socket failing

# Steps to reproduce

 1. Try to start lxd socket

# Information to attach

Issue is here whe

[2020-10-19 01:15] stgraber commented on #8051
Not sure what's causing this error but it's triggered because of a recent patch that @tomponline added.

Could you make a tarball of `/var/snap/lxd/common/lxd/database` and send it to me at: stgraber at ubuntu dot com

That will let me try a quick fix for your case and let us reproduce the issue to introduce a proper fix tomorrow.

[2020-10-19 01:24] stephenjamieson commented on #8051
Sent

[2020-10-19 01:28] stgraber commented on #8051
Thanks, I'll look at it shortly.

Until then, I suspect that putting this in `/var/snap/lxd/common/lxd/database/patch.global.sql` will do the trick:
[code]

Then try starting LXD.

[2020-10-19 02:22] stephenjamieson commented on #8051
That worked, thank you @stgraber

[2020-10-19 02:48] stgraber commented on #8051
Managed to get your DB loaded and have the issue show up, going to test a proper fix now.

[2020-10-19 02:52] stgraber commented on #8051
Sent a fix which worked with your database here.

[2020-10-19 06:50] #8051 closed

[2020-10-19 07:56] tomponline commented on #8050
@LukasHanusek you could also look at using the `routed` NIC type rather than having the complexity of an additional bridge with a private /30. This would manage setting up the static route on your host and the proxy ARP/NDP entries (if needed) on your external interface.

See https://linuxcontainers.org/lxd/docs/master/instances#nic-routed

[2020-10-19 08:07] tomponline commented on #7901
@stgraber shouldnt be difficult, as we've already made provision for taking that out at some point.

I think this section is dead code now that all storage drivers are ported over: https://github.com/lxc/lxd/blob/master/lxd/storage/utils.go#L307-L344

Which means we could then get rid of https://github.com/lxc/lxd/blob/master/lxd/storage/utils.go#L296 entirely as its only called from one place any

[2020-10-19 08:08] tomponline commented on #7901
@stgraber one thing I was a bit caution around was the use of `storagePoolValidateConfig` in the old patches for storage pool, as didn't want to interfere with the historical conversion process.

[2020-10-19 08:33] pranjalnanavaty commented on #8030
I tried the following:

1. Took a snapshot of a container.
2. Deleted a directory whose size was around 1GB.
3. I checked the file system using `df -h`, and observed that **the rootfs got shrunk by 1GB**.
4. Then, deleted the snapshot, here I observed that **the rootfs was back to its original size**.

[2020-10-19 09:16] nav2een commented on #8030
ZFS [documentation](https://docs.oracle.com/cd/E19253-01/819-5461/gbiqe/index.html) on snapshots:

@stgraber So when applying quota limits to root file-system of a container, we must also consider space required for snapshots (2-3 days retention). How do you stop user from using that extra bit of storage that was added for snapshots? Also this seems like more of a ZFS problem than lxd. Thanks a lo

[2020-10-19 12:37] stgraber commented on #8030
Yeah, it would be nice if there was an option in zfs to change that behavior, but short of that, we don't really have any option.

The current behavior is ideal for an environment where you allow your users to create their own snapshots as it allows for an unlimited number of snapshots without exceeding the configured quota.

To do what you want instead, a very convoluted fix would be to update th

[2020-10-19 12:38] stgraber commented on #8030
Closing the issue as there doesn't appear to be a LXD bug, this is just standard ZFS behavior.

If there's a config option to change this that I'm not aware of, we can certainly expose it through LXD.

[2020-10-19 12:38] #8030 closed

[2020-10-19 12:41] stgraber commented on #7901
Yeah, seems worth adding a card to clean things up when we have some time.

For things being used from patches, we can move what we must keep to patches_utils.go

[2020-10-19 13:36] LukasHanusek commented on #8050
I solved it by using routed nic.

[2020-10-19 13:36] #8050 closed

[2020-10-20 11:20] mtausig opened #8060 "Nonsenical answers to ZFS pool creation question during lxd init"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-47-generic
   * LXC version:  (contained with snap)
   * LXD version: 4.7
   * Storage backend in use: ZFS

# Issue description

After installing LXD via snap and during the run of lxd init, one of the questions contains nonsensical answers:

[code

[2020-10-20 11:47] nidico opened #8061 "Image listed but missing on server (404)"
While an image is listed in `lxc image list`, it may not be available for download yet, see below.

This issue has been discussed as comments in [another closed issue](https://github.com/lxc/lxd/issues/1260#issuecomment-616982911) and seems to occur due to mirror sync issues.

Nevertheless from a user perspective this is an issue which should be fixed. Feel free to move the issue to another repo (