[2017-05-26 18:28] stgraber commented on #3353
We also do have some amount of detection for space related errors though your case didn't trip any of those. It's near impossible to figure out how much space a given image will actually take ahead of time as things like sparse files, zfs compression and dedup may get involved, giving results that are all over the place.

[2017-05-26 18:40] igittigitthub commented on #3353
Thank you for your explanation! The mv command isn't working because the content of the directories is read-only. Should I stopped lxd first?

[2017-05-26 18:50] stgraber commented on #3353
Oh, right, you're on 2.0.9 so there likely is a bunch of zfs filesystems mounted under there too...

Can you paste "zfs list -t all"? that should let me figure out the extra steps needed.

[2017-05-26 18:57] igittigitthub commented on #3353
Yes, you are right. There are 7 zfs filesystems mounted. Is this output enough?
[code]

[2017-05-26 19:12] stgraber commented on #3353
Yes, that should be enough.

Before we fix that part, can you just confirm which of the two "mv" failed? Based on the fact that /var/lib/lxd/images is listed above as being on ZFS, I'm assuming it's the second one, but I'd like to be sure.

Can you also paste:
 - ls -lh /var/lib/lxd/images
 - ls -lh /var/lib/lxd/images.orig
 - cat /proc/mounts

That should let me make sure I have the correct view

[2017-05-26 19:26] igittigitthub commented on #3353
Yes, the second mv command couldn't remove the files.

[code]

[code]

[code]

[code]

[code]

[2017-05-26 19:40] stgraber commented on #3353
Ok, lets first try doing this through ZFS:
 - zfs unmount virtpool/images/489c3fa793c4a903c772099e71607606cc816f1fd3cc36e155bf1f06cd073684
 - zfs unmount virtpool/images/50865e8d5d95e64a6f94291d91fe44d0e6da3f3d883849236924d5cf73480078
 - zfs unmount virtpool/images/8fa08537ae51c880966626561987153e72d073cbe19dfe5abc062713d929254d
 - zfs unmount virtpool/images/a425df004fda0876a060d5b4f76ac790e85c72

[2017-05-26 19:41] stgraber commented on #3353
If that goes properly, the "cat /proc/mounts" should show nothing mounted under /var/lib/lxd/images.orig at that point. If that's the case, then you can clean things up and remount them with:
 - rmdir /var/lib/lxd/images.orig/*
 - rmdir /var/lib/lxd/images.orig
 - zfs mount -a

If that failed to unmount, then we'll need to use "umount" directly to bypass ZFS.

[2017-05-26 20:07] igittigitthub commented on #3353
[code]

So, I guess that I can delete the files in the `.zfs`-directories under `/var/lib/lxd/images` and mount it afterwards?
[code]

[2017-05-26 20:09] stgraber commented on #3353
Yep, that should work fine. Looks like the original mv ended up copying a bunch of files from the mounts.

[2017-05-26 20:25] brauner opened #3354 "storage: allow for drivers selection during build"
I think it would be nice for our users to have the option of selecting all drivers they want to have supported as a compile-time flag. For example something like

    make -s btrfs,zfs

which would build LXD with support for the btrfs and zfs driver without support for other drivers. (@stgraber)

[2017-05-26 20:36] stgraber commented on #3354
What would the benefit of this be?

It sounds like quite a bit of work that would then let people build "snowflake" version of LXD that will miss some particular features and make it more painful for us to debug issues. If the different storage backends were bringing in external packages that would cause LXD to grow significantly or use more memory just because it's been built with those backends,

[2017-05-26 20:52] brauner commented on #3354
Hm, ultimately I was thinking to slowly introduce compile-time switches to disable and enable certain features that might alter LXD quite a bit.

For storage it's about giving people the option of simply disabling certain drivers that they don't want people to use. For example btrfs and it's weird quotas.

Also, what would be cool is if we had a storage module API. Meaning users could implement th

[2017-05-26 21:04] stgraber commented on #3354
Restricting what kind of storage backend can be used strikes me as something better done as part of the upcoming user ACLs feature, where we'd indeed be able to prevent some users from creating storage pools using some specific storage backends.

I'm also very strongly against external plugins or hooks, especially when integrated within the lifecycle (so not there merely as observer). Supporting t

[2017-05-26 21:04] nicolas33 opened #3355 "Improve and make LXD documentation more visible"
- There are the lxc man pages but there is nothing about lxd.
- There is no clear documentation about how lxd integrates with lxc.
- It is not clear what of lxc is relevant when working with lxd.

Each time I need yet another information I have to search online for someone who wrote something about my own use case or CLI option. Once the correct information is found (and this might be VERY hard so

[2017-05-26 21:04] igittigitthub commented on #3353
[code]

Now `lxc publish` and `lxc image export` is working, too. 👍

**Thank you for your support!**

[2017-05-26 21:05] stgraber commented on #3353
Good to hear! Closing this issue then.

[2017-05-26 21:05] #3353 closed

[2017-05-26 21:13] brauner commented on #3354
Hm, I'm just in favor of modularity but these are certainly valid points.

[2017-05-26 21:13] #3354 closed

[2017-05-26 21:19] stgraber commented on #3355
LXD does ship with manpages for every one of the LXD commands (auto-generated as the preferred way to access the help is with "lxc COMMAND --help":
[code]

All configuration options as well as more general topic information is included in the source tree and all source tarballs: https://github.com/lxc/lxd/tree/master/doc

There is certainly a lot of confusion between LXC and LXD and the naming is

[2017-05-26 22:12] nicolas33 commented on #3355
Sorry about the man pages. I'll open a bug report to my distrib not packaging them.

Also, related to #477 that is 2 years old. I don't know if contributors are enthusiastic when it comes to documentation but I know for sure that the user experience is poor sometimes.

I'm used to read the --help doc but it's not easy to get the full overview. For example:
- I still do not make clear distinction b

[2017-05-26 22:15] nicolas33 commented on #3355
Oh, and thanks for the above quick response. :-)

[2017-05-26 22:39] nicolas33 commented on #3355
Another example:
[code]

So, reading the doc more closely, this says:
[code]

Hmm, looks like the lxc push spec should be:
[code]

So, let's fix my command:
[code]

Is it possible to push a file to a local image? The spec says `[<remote>]` (optional remote) while the error seems to require a remote image?

Ok, now I'm really **frustrated**. :-/

[2017-05-26 22:43] nicolas33 commented on #3355
(notice my last command obviously wrong but this doesn't invalidate my point about the "remote" thing).

[2017-05-26 22:55] stgraber commented on #3355
The current help for "lxc file push" is:

[code]

Which means:

[code]

"~" is dependent on the user and its home directory so can't be expanded by LXD, full paths are required for file operations (since all pushes happen as root I'm assuming you meant "/root/" above).

[2017-05-26 22:57] nicolas33 commented on #3355
Ok, thanks. The lagging version of the distrib does not help either...

[2017-05-27 07:52] renky commented on #2959
I reopened this topic now, because I think my "problem" belongs to this...
I followed all the above information and tried both: adding device to container and also seting the profiles root size.
But my guest-system always shows to much size?!

[code]

[code]

[code]

[code]

[code]

Is this correct? and how do I get it really to 2GB?

[2017-05-27 10:06] tchwpkgorg commented on #3159
Here it is - unfortunately it doesn't give any extra info (I think):

`
# lxc launch images:ubuntu/xenial/amd64 lxd-hang-test -c raw.lxc="lxc.loglevel=debug" -c raw.lxc="lxc.aa_allow_incomplete=1"
Creating lxd-hang-test
Starting lxd-hang-test

# lxc info lxd-hang-test --show-log
Name: lxd-hang-test
Remote: unix:/var/lib/lxd/unix.socket
Architecture: x86_64
Created: 2017/05/27 10:02 UTC
Status: Run

[2017-05-27 10:17] brauner commented on #2959
I'd also need to see the output for the storage pool

    lxc storage show <pool-nam>

I suspect that you're using `quota` and not `refquota`. When you use `refquota` the value should be correct. So what you'd need to do is:

    lxc config device unset evolved-javelin root disk size
    lxc storage set <pool-name> volume.zfs.use_refquota true
    lxc config device set evolved-javelin root disk si

[2017-05-27 13:16] renky commented on #2959
hmm. might be - I didn't change anything about quota or refquota - just followed the tutorial by Stephan Graber: https://stgraber.org/2016/03/26/lxd-2-0-resource-control-412/
maybe he should add this info to zfs-setup or resource control...

Ok, but now I tried your commands - first of all:
[code]

[2017-05-28 07:21] Conjohnsonjohnson opened #3357 "lxc list -- IPV4 table element not being populated on Gentoo"
* Distribution: Gentoo
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version: linux-4.8.17-hardened-r2
   * LXC version: 2.0.7
   * LXD version: 2.11
   * Storage backend in use: dir

After creating a network, attaching the network, and starting the container, 'lxc list' shows an entry for IPV6 but not IPV4.

# Steps to reproduce
It seems likely this is a missi

[2017-05-28 08:48] brauner commented on #2959
LXD by default will use `quota` on zfs and use `refquota` when either `zfs.use_refquota` is set to true on the container's storage volume or when `volume.zfs.use_refquota` is set to true on the storage pool.

[2017-05-28 09:13] renky commented on #2959
Ok, I think I don't get it working because of the history - I think first quota property must be deleted - only calling `lxc config device unset evolved-javelin root disk size` didn't remove the quota-property...

I now started from scratch:
[code]

so now it works
great - thanks...

I think refquota would be a great additional information for St. Grabers Tutorial...

any idea how to fix the quota

[2017-05-28 18:05] renky commented on #2959
thanks a lot

[2017-05-29 09:07] gedOHub commented on #2703
How to set multi-lines?

[2017-05-29 09:55] tkedwards commented on #3336
Comment from the systemd devs:

[2017-05-29 09:55] tkedwards commented on #3336
How do I know whether or not I'm using user namespacing in an LXC/LXD container? How is that different from running the container unprivileged (which I'm doing as far as I know)?

[2017-05-29 10:03] brauner commented on #3336
@tkedwards, uhm. `LXD` runs unprivileged containers per default so we definitely definitely do use `user namespaces`. That's one of our biggest security features. Can you show the output of:

    lxc config show <container-name>
    cat /var/log/lxd/<container-name>/lxc.conf

[2017-05-29 10:06] tkedwards commented on #3336
Ok, I confirmed in the meantime that the container is running unprivileged - the processes (openvpn) running inside the container as root appear as UID 100000 on the host. Here's the output of those commands:

[code]

[code]

[2017-05-29 10:14] tkedwards commented on #3336
[code]

That's on the host, seems to show openvpn inside the container running as UID100000 as expected as far as I understand?

[2017-05-29 14:59] justinmnoor commented on #1759
Hi how are you, my name is Justin. I am new with LXD and I am not quite clear on the recommendation above:

_"If you're already feeding cloud-init user data, you can add the "manage_etc_hosts: True" key to it."_

I think this may relate to some really strange behavior that I get with LXD, but my issue seems to be slightly different.

I posted [about it here](https://askubuntu.com/q/920060/598599)

[2017-05-29 19:21] stgraber commented on #3336
Correct, that uid 100000 would be uid 0 in the container, mapped by user namespace, so definitely an unprivileged container.

[2017-05-29 19:27] stgraber commented on #3159
Can you post an updated "lxc info"? we've got updated LXC, LXD and LXCFS in flight right now, so wondering what was used there :)

The debug log is pretty useful though. We clearly see the container being asked to shutdown, it being shutdown (calling the hook), LXD triggering the rebalance as a result of that, but the shutdown operation staying in running state...

[2017-05-29 19:31] stgraber commented on #3357
Sounds like your container simply never grabbed an IP address...

Can you run:
 - lxc exec centos -- ps fauxww
 - lxc exec cetnos -- ip -4 addr show

What image are you using for that centos container?

[2017-05-29 19:31] stgraber commented on #3357
(IPv6 will auto-configure through the kernel without the need for any dhcp client or similar user space process, so that explains why it'd be setup when ipv4 isn't).

[2017-05-29 21:39] renky opened #3359 "lxc image copy from remote to local doesn't create zfs dataset"
Tried on a fresh installed lxd instance on a fresh installed Ubuntu Server.
Using ZFS as backend.

Creating cointainers (and implicitly caching images) creates a dataset for the image and for the container.
But Copying an image to the local images doesn't do that - all imagefiles that are copied are saved in rootfs in that case

[code]

call launch for three times:
lxc launch ubuntu:17.04

[code]

[2017-05-29 21:43] brauner commented on #3359
This is intended behavior LXD will only create a dataset for the the image in the pool if a container is created from it. Otherwise the compressed data is simply stored in the local image store.

[2017-05-29 21:45] renky commented on #3359
Ok, thanks for the fast reply
And is there a way to save the local image store also in a zfs dataset?

[2017-05-29 21:50] stgraber commented on #3359
You can move /var/lib/lxd/images to be itself on zfs if you want. You'll need to move the current content aside, create a zfs filesystem with /var/lib/lxd/images as mountpoint and then move the current content back onto it.

That will just move the compressed files to be stored on a zfs filesystem though. You'll never get away from having those files around as the LXD API allows for images to be c

[2017-05-29 21:51] stgraber commented on #3359
Closing as there doesn't appear to be an actual LXD bug/issue there.

[2017-05-29 21:51] #3359 closed

[2017-05-29 21:58] renky commented on #3359
I already tried that - to be honest, that was my first shot, when I saw, that images didn't have a mountpoint. so i did the following (moved away all images before):
[code]
now moved back all images
df now shows  that /zpool1/lxd/images has content

and now the following  happens when creating a new container from one of the local images:
[code]

[2017-05-29 22:43] stgraber commented on #3359
Oh, I think I see what's going on.

[2017-05-29 22:46] stgraber commented on #3359
@brauner So we have a problem in the ZFS driver where we call zfsPoolVolumeCreate which doesn't set mountpoint=none and then as a second step we call zfsPoolVolumeSet to set the mountpoint.

That's a problem when /var/lib/lxd/images is itself on the zpool as ZFS now attempts to mount over /var/lib/lxd/images/FINGERPRINT which already exists (as the tarball).

I think we should change zfsPoolVolume

[2017-05-29 23:09] brauner commented on #3359
Already had this on my list. :)

[2017-05-30 01:16] tchwpkgorg commented on #3159
Here it is:

[code]

[2017-05-30 01:25] stgraber commented on #3159
oh, that's nice, so that's latest everything :)

[2017-05-30 01:33] brauner commented on #3159
If I may chime in as well: @tchwpkgorg, can you please provide the logs of the failing container itself? Especially:

- `/var/log/lxd/<container-name>/lxc.log`
- `/var/log/lxd/<container-name>/forkstart.log`
- `/var/log/lxd/<container-name>/lxc.conf`
? That would be really helpful.

[2017-05-30 01:49] Conjohnsonjohnson commented on #3357
Thanks for the help Stéphane,

The result of -- ps fauxww is:
USER        PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         16  0.0  0.0 151028  3464 ?        Rs+  01:01   0:00 ps fauxww
root          1  0.0  0.0  42476  3992 ?        Ss   00:58   0:00 /sbin/init

And the result of -- ip -4 addr show is:
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN q

[2017-05-30 02:59] #3351 closed

[2017-05-30 03:02] stgraber commented on #3357
So looks like systemd in your container is pretty sad. Having just the init process running is the usual sign of systemd having failed to start.

The most common reason for that, at least for Gentoo users, is a missing "name=systemd" cgroup on the host, explained by the fact that Gentoo doesn't use systemd itself.

You should be able to fix this with:
[code]

But you'll then need to make sure this

[2017-05-30 03:43] brauner commented on #3357
@stgraber, this should be possible as a mount hook. This somewhat relates to https://github.com/lxc/lxc/pull/1597 where someone wants to mount cgroups prior to systemd start. The trick here would be to have this run **after** the cgroup namespace has been unshared. So we would make it so that `lxc.hook.mount` is executed **after all** namespaces have been created.

[2017-05-30 03:44] brauner commented on #3357
Obviously, this is only possible as a mount hook in case the hierarchy has been created on the host first. Otherwise the kernel will refuse the mount with `EPERM` since it enforces that hierarchies can only be created in the initial root user namespace.

[2017-05-30 03:53] ladams00 commented on #2621
Commenting to say this thread was helpful.  Thank you for the Docker blurb in the README.md

[2017-05-30 04:01] stgraber commented on #3357
@brauner hmm, I thought you couldn't mount new controllers as part of a cgroup namespace, otherwise systemd would just mount it itself.

[2017-05-30 04:02] brauner commented on #3357
@stgraber, yeah, that's what I mentioned in the next comment. :) It's just that it might be convenient to have this setup as a hook but e.g. placed the systemd controller as an fstab entry on the host (or something saner).

[2017-05-30 04:04] stgraber commented on #3357
@brauner I don't really like having such a systemd special case in LXD's code... I'd prefer that the gentoo init script just mounts /sys/fs/cgroup/systemd before starting LXD, possibly optional as that'd only be needed for those running systemd containers (gentoo on gentoo would be fine).

[2017-05-30 04:05] brauner commented on #3357
@stgraber, oh sorry, we misunderstood each other. I just meant that the user can just set a `raw.lxc` value for that.

[2017-05-30 04:05] stgraber commented on #3357
Ah, yeah, they could. I still feel like for this, the user is more likely to just dump the mkdir + mount in /etc/rc.local and call it done :)

[2017-05-30 04:14] Conjohnsonjohnson commented on #3357
Possibly I'm misunderstanding the mkdir + mount instructions... cuz its giving me this:

mount: wrong fs type, bad option, bad superblock on cgroup,
       missing codepage or helper program, or other error

Possibly the best solution is to abandon the hardened kernel and compile a Gentoo kernel. There is support in the later for systemd:

Gentoo Linux  --->
     Support for init systems, system a

[2017-05-30 04:17] brauner commented on #3357
@Conjohnsonjohnson, well I guess Gentoo will soon drop `grsecurity` since they effectively un-open-sourced themselves.

[2017-05-30 04:30] Conjohnsonjohnson commented on #3357
@brauner Yes, they've dropped the 3.x series already and say "the 4.x series will not be as reliable as the 3.x series was"... so hardened is looking more like softened at this point. I think you're right, it may be dropped altogether some day soon.

[2017-05-30 12:22] techtonik opened #3363 "No privileges from Windows pushes"
* The output of "lxc info" or if that fails:
[code]
[code]

### Issue description
[code]

The same with recursive uploads. I am thinking if `0o777` should be the default if no more information it given?

[2017-05-30 12:38] techtonik commented on #3363
Just discovered `--mode` parameter. `lxc file push build.sh --mode 744 lx/root/build.sh` works for me without implicit magic.

[2017-05-30 13:13] geodb27 opened #3364 "Support for filtering REST collections"
* Distribution: Ubuntu
 * Distribution version: LTS 64
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.4.0-78-generic
   * LXC version: 2.13
   * LXD version: 2.13
   * Storage backend in use: DIR

As for now, when issuing a GET on https://lxd-server:8443/1.0/containers one get a dict listing all containers hosted on the lxd-server.
Would it be possible to add the ability to f

[2017-05-30 13:39] smoser commented on #1759
For better or worse, some applications will essentially do `hostname -f` and then bind to that socket, or advertise that address as their address ([bug 871966](http://pad.lv/871966)).  That is why the default behavior in Ubuntu images is to not write an entry for `hostname`.  To my knowledge, currently in lxd cloud-init would not have enough information to write an entry in /etc/hosts other than a

[2017-05-30 13:48] techtonik commented on #3363
`--mode` flag doesn't work with recursive pushes. Reopening.
[code]

[2017-05-30 14:54] stgraber commented on #1759
@smoser well, this was a reply to a closed bug, so not much closing we can do :)

But yes, I also couldn't reproduce it here with recent LXD. It "may" be a problem with older LXDs though where dnsmasq isn't managed by LXD itself. Though even then, dhclient running in the container will create the required DNS entries...

The most obvious case where this wouldn't work is if directly bridged to an e

[2017-05-30 15:01] stgraber commented on #3364
So it's certainly something we can look at at some point. Implementing the filtering shouldn't be very difficult, the tricky part is to come up with the right language for those filters. I expect we'd want support for more complex logic in there and need a way to differentiate filters for direct object properties (name, architecture, ...) vs nested object properties (config and devices).

So that'

[2017-05-30 15:06] stgraber commented on #3363
The problem with supporting --mode with -r is that you don't want the same mode for files and for directories.

Though maybe we can do something clever with masking there, effectively granting execute access to directories where read would be granted. @brauner

[2017-05-30 15:09] geodb27 commented on #3364
Thanks a lot for your quick answer stgraber :-)
As a matter of fact, and to give you some more example, I have hosts that runs many containers.
My work consists in initializing these containers, set them up and then they are up for the co-workers that have to administer them. That's why I've written my own gui to achieve this.
But I've fallen into some troubles as I wrote my gui :
There is no easy

[2017-05-30 18:42] stgraber commented on #3334
Did you get past this issue with the modules I mentioned?

[2017-05-30 19:02] Conjohnsonjohnson commented on #3334
Yes Stéphane. Thank You. Specifically I believe it was xt_CHECKSUM. I'm still working on assembling a set of kernel requirements that must be added to a default kernel configuration. I'll publish my findings either here or on the mailing list, or both.

[2017-05-30 19:24] #3334 closed

[2017-05-30 23:15] renky commented on #3359
Thanks guys - you are all very helpful and fast in answering - that's really great.

[2017-05-31 00:25] brauner commented on #3359
We try to do our best. :)

[2017-05-31 06:00] techtonik commented on #3363
The PR above at least makes uploaded files and dirs
[code]

[2017-05-31 10:47] georghopp commented on #2781
This commit only removes IPv4 leases. I wrote a comment to it.

[2017-05-31 11:21] georghopp opened #3367 "Globally defined dnsmasq.conf read with lxc network create."
# Required information

 * Distribution: gentoo but shouldn't make any difference
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.11.1
   * LXC version: 2.0.7
   * LXD version: 2.11
   * Storage backend in use: btrfs 4.10.2

# Issue description

The dnsmasq process spawned by lxd read the global configuration in /etc/dnsmasq.conf
So if you run a dnsmasq process on your host fo

[2017-05-31 14:55] dosaboy commented on #3169
I just created a container using 2.0.9-0ubuntu1~16.04.2 (version of lxd in xenial-updates) and upgraded to 2.13-0ubuntu3~ubuntu16.04.1 and hit this exact same problem. Seems the upgrade path is broken and given that both of these versions are "stable" I think we need to fix this.

[2017-05-31 15:21] #3363 closed

[2017-05-31 15:41] lutostag opened #3371 "Cannot restart container after stopping it with open exec"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2 LTS (Xenial Xerus)
 * The output of "lxc info": http://pastebin.ubuntu.com/24727414/
   * Storage backend in use: zfs

# Issue description

[2017-05-31 15:45] lutostag commented on #3371
`sudo systemctl restart lxd` will allow us to start/stop the container again, so there is a workaround.

[2017-05-31 15:54] stgraber commented on #3169
@brauner can you look into @dosaboy's report? I've not seen that behavior when upgrading my own servers from 2.0.x to 2.10 but something might have regressed later.

@dosaboy anything special with that deployment?

[2017-05-31 16:13] stgraber commented on #3367
Interesting, kinda surprised we never noticed that :)

[2017-05-31 16:20] stgraber commented on #3371
Does that reliably happen for you?

The "monitor is hung" error comes from LXC but we've never managed to reliably get it to happen.

@brauner

[2017-05-31 16:35] lutostag commented on #3371
@stgraber yes, using those exact steps I have replicated it at least 3 times (sometime the "monitor is hung" error shows up and sometimes the `lxc start foo` get hung forever). On two different systems, one amd64 one ppc64el. with the ppa version.

The snap version hits a different error about the zfs filesystem already mounted (but that is a problem I often hit on that machine and think I may hav

[2017-05-31 16:50] brauner commented on #3169
Yeah, can do but won't be before Friday because of travel.

[2017-05-31 22:01] stgraber commented on #3357
Closing this issue as there's nothing for us to fix in LXD that I can see.
Let us know if anything is still misbehaving after you got a working kernel and cgroup configuration.

[2017-05-31 22:01] #3357 closed

[2017-06-01 00:03] justinmnoor commented on #1759
Hi thank you so much for responding.  @smoser I get the same output. Yet as I am writing this, my container has no internet access, therefore, I cannot install anything on it.  The containers work fine when I first launch them. Over time I get [these errors.](https://askubuntu.com/q/920060/598599) When I the installed LXD Snap, I used all of the default settings that the installer prompted me with

[2017-06-01 00:45] #3367 closed

[2017-06-01 07:10] brauner commented on #3169
@dosaboy, can you please provide the following info:
- did you install 2.0.9 fresh and create a single container and then upgraded to 2.13 or was the 2.0.9 instance in use for longer time and had other containers and images?
- what exactly is your setup, especially:
  - storage backend in use by the 2.0.9 instance
  - any special setup? e.g. symlinks for the `/var/lib/lxd` folder to somewhere?

[2017-06-01 07:52] brauner commented on #3169
Also, can you show the output of:

    lxc storage show <pool-name>
    lxc profile show default
    lxc config show <container-with-missing-pool-property>

?

[2017-06-01 08:51] Kramerican commented on #3331
Hello Brauner

There is still some funkyness here on LXD 2.13 - It doesn't to seem to be as "bad" as before, as I do not have to remove the zfs mount point before remounting. Anyway, symptoms:

1) A stopped container (seemingly randomly) no longer has any data in /var/lib/lxd/containers/containername/
-  I have to detect this, as I use rsync to backup my containers, and it rsyncs that dir

2) If I

[2017-06-01 08:59] BegBlev opened #3375 ""vlan" property not available for "physical" interfaces"
Hi,

Today, "vlan" property is available for "macvlan" NIC type but not for "physical". In my use case, I need it.
Is there any argument not to do it or is it only nobody asked for it before?

**Use case**
I use nested containers.
1 Container per customer. Several "service" containers inside "customer container".
Customer container is connected using VLAN (i.e eth0.100 for customer A and eth0.101

[2017-06-01 09:15] jordanauge opened #3376 ""lxd network create" fails on a machine in a 10.0.0.0/8 network: Unable to find a free IPv4 subnet"
Hello,

I am running LXD on a machine in a 10.0.0.0/8 network and noticed some hardcoded network in LXD, in [lxd/network_utils.go](https://github.com/lxc/lxd/blob/master/lxd/networks_utils.go).

The relevant piece of code is the following:

If the host has a route towards 10.0.0.0/8, `lxd network add` with always fail with the error "Unable to find a free IPv4 subnet". Would it be possible to have

[2017-06-01 09:18] sajoupa opened #3377 "LXD's zpool backend keeps growing"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2
 * The output of "lxc info":
[code]

# Issue description

The ZFS pool that LXD uses keeps growing, very slowly, but continuously, despite having lots of free space:
[code]

[code]
[code]

# Steps to reproduce

unknown

# Information to attach

 - [ ] any relevant kernel output (dmesg)
 - [ ] container log (lxc info N

[2017-06-01 10:32] brauner commented on #3331
@Kramerican, this is totally intentional from LXD's perspective. LXD will mount the container's storage volume on container start and will unmount it on container stop. This is not at all random. The reason for this is to not clutter the host's mount namespace with pointless mounts when a container is not running and thus need not access the storage volume.

[2017-06-01 10:34] brauner commented on #3375
@stgraber

[2017-06-01 10:54] Kramerican commented on #3331
Ahaa I see. That makes total sense.

I am now thinking that maybe I should revisit my decision to back up stopped containers. Not sure if that makes a whole lot of sense in the first place.

Thank you for your excellent input, as usual!

[2017-06-01 11:12] BegBlev commented on #3375
Hi Christian,
Excuse my ignorance but what does that mean?
Stéphane will be triggered as you mention him or does that mean I have to write to him directly?

Regards
Vince

[2017-06-01 11:47] brauner commented on #3371
@lutostag, can you try to reproduce with `lxc.loglevel = debug` and provide me the old and the new container log, meaning:

    /var/log/lxd/<container>/lxc.log
    /var/log/lxd/<container>/lxc.log.old

So on the affected container do `lxc config set <container> raw.lxc "lxc.loglevel=debug"`.

[2017-06-01 14:02] brauner commented on #3375
Oh sorry for the confusion, I was just making @stgraber aware that I couldn't look into this. Hell respond soon, I'm sure. :)

[2017-06-01 14:12] brauner commented on #3375
s/Hell/He'll/

[2017-06-01 14:28] lutostag commented on #3371
Seems like, it happens only when the container is started when it is being stopped in another terminal (or for some time period shortly after -- if you wait too long it doesn't occur). Had to run it a few times to get it to show up.

Please let me know if there is any other logs/debug session I can provide. (I think I can grant y'all access to the machine to poke it actively if you would like as w

[2017-06-01 14:32] brauner commented on #3371
I know, I have some theories. :)

[2017-06-01 16:34] stgraber commented on #3375
@BegBlev you need macvlan to do what you mention, that or create a bridge per VLAN and bridge the eth0.ID interface into it.

The reason for that is that eth0 and eth0.100 are tied together at the kernel level, so you can't move eth0.100 into a container without eth0 itself coming alongside it (and any other vlan interface you have).

[2017-06-01 16:35] stgraber commented on #3375
If there had been a way to implement this without macvlan, that's how I'd have done it in the first place. People usually don't like using macvlan unless they actually have to :)

[2017-06-01 16:40] stgraber commented on #3377
Hi,

ZFS doesn't support freeing newly unused blocks yet (TRIM) and I suspect they've not made their loop backend particularly clever about block re-use either, which explains why your sparse file is growing.

To have the file size go down as ZFS frees blocks, you'd need to have ZFS support TRIM or a similar mechanism to notify the underlay that a particular block is now unused. That's being worke

[2017-06-01 16:40] #3377 closed

[2017-06-01 16:43] stgraber commented on #3376
This is the intended behavior and there's no real reason to change it.
The random subnet code is pretty conservative and will not let you mask part of an outside network. So the logic appears to be working perfectly fine in this case.

In this case, you simply need to directly tell LXD what you want:
[code]

That will configure the LXD bridge with that subnet and not use the random subnet generato

[2017-06-01 16:43] #3376 closed

[2017-06-01 16:44] #3169 closed

[2017-06-01 18:58] #1927 closed

[2017-06-01 19:01] kattunga commented on #3326
I need this feature too.
Right now I'm directly using zfs send/receive to keep a replication of my containers between hosts.
But this conflict with LXD snapshots and you need to be very careful to implement it.
I think that LXD need a native solution to implement HA.

Regards

[2017-06-01 20:39] brauner commented on #3375
Closing as there is nothing we can do about this restriction currently.

[2017-06-02 08:18] BegBlev commented on #3375
@stgraber,
Actually this is possible to move only eth0.100 to a container and eth0.101 to an other without moving eth0. This is my current implementation and it works like a charm.
My only problem is that I have to create the VLAN device previously and then attach this device to the container using :
`lxc config device add customer-A eth0 nic nictype=physical parent=eth0.100`

In order to avoid th

[2017-06-02 08:18] hjabbour commented on #2248
To be specific for those suffering its the vswitch configuration on ESXi make it promiscuous mode

[2017-06-02 09:21] ogai commented on #2098
@stgraber  Trying to check the fingerprint manually after issuing in my laptop:

    lxc remote add <name> <ip>

The command above shows:

    Certificate fingerprint: <a long decimal number>
    ok (y/n)?

However, `lxc info` on the server shows

    certificatefingerprint: <an hexadecimal long number, lowercase, without colons>

Both systems are running Ubuntu 16.04. How are you supposed to chec

[2017-06-02 12:01] jordanauge commented on #3376
It is impossible to understand why it fails without looking at the source code.

[2017-06-02 14:18] stgraber commented on #2098
@ogai yes, that's a bug which was fixed in LXD 2.14 and LXD 2.0.10, a format string got messed up and the fingerprint was shown in decimal form rather than hexadecimal which made comparing a bit difficult.

[2017-06-02 15:19] gjedeer opened #3378 "error: Block device doesn't support quotas"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Block I/O quotas aren't working.

[code]

Possibly having to do with md-backed zfs.

# Steps to reproduce

 1. Follow part 4 of the blog posts
 2. It doesn't work
 3. Cry

# Information to attach

[code]

[2017-06-02 15:27] stgraber commented on #3378
Hmm, right so we don't know how to resolve device mapper devices to backing physical disk.

To be fair, even if we did, it wouldn't really work. ZFS tends to bypass blkio limits (because of ZFS being a ported Solaris kernel module and not using a lot of the Linux VFS infrastructure). The blkio limits are also tied to a physical block device, not a partition and not a virtual device, so to be able

[2017-06-02 15:47] stgraber commented on #3378
I pushed a commit to my branch which should give a bunch more details on what works and what doesn't with regard to blkio limits.

[2017-06-02 16:11] wociscz commented on #3254
Just solved it right now on ovh (after trying everything)
Not so nice but works. Follow this howto:
https://hibern8.wordpress.com/2014/03/16/ipv6-in-lxc-at-ovh/

in short:
host:
br0 (pyhisical eth0 in it) - public ipv4 and public ipv6 subnet (with ::1) from ovh, gateway to ovh :ff:ff
lxdbr0 - bridge managed by lxd with private ipv4 only (and with nat)
npd6 daemon configured and started

containers

[2017-06-02 16:13] mheroux2 opened #3379 "VLAN containers working Non VLAN not working?"
I have a host LXC machine that uses VLANs for some containers but not for others. I've been able to migrate and get containers VLAN containers working but am unable to figure out how to get containers that operate on the same network to work. Any help would be appreciated - I've read through the docs and tried numerous combinations. I don't want to use the LXD bridge (lxdbr0).

HOST /etc/network/i

[2017-06-02 16:16] gjedeer commented on #3378
Thank you.

If I may suggest something, perhaps the discussion of preferred filesystems for LXD should also mention this so other people don't fall into this trap. "ZFS is the best as long as you use raid-z instead of md" or something similar.

[2017-06-02 16:19] gjedeer commented on #3378
Actually it seems that if I/O limits don't affect ZFS, there's no single recommended file system for LXD? btrfs is unstable and will likely have the same issues, and ext* or LVM have other issues?

[2017-06-02 16:21] stgraber commented on #3375
Interesting, so I guess they managed to decouple the two devices at the kernel level somehow.
There is still one pretty big limitation which makes this unsuitable for LXD to offer as it'd confuse users more than anything else:

[code]

So that shows that you can indeed move the VLAN device into the container and keep the parent in the host. But that means you won't be able to create another device

[2017-06-02 16:29] stgraber commented on #3375
So if you are lucky enough to have exactly one container per VLAN and never any more than that, then that may indeed work. Note however that you may run into problems when restarting containers as the kernel will usually cleanup the network namespace in the background, so that VLAN device may end up stuck for a few minutes in a dying network namespace, preventing you from starting the container ag

[2017-06-02 16:38] stgraber commented on #3378
@gjedeer yeah, unfortunately the answer as to what the best storage backend for LXD is "it depends", as is often the case with those things.

[2017-06-02 16:42] gjedeer commented on #3378
Thanks you, closing the issue then.

[2017-06-02 16:42] #3378 closed

[2017-06-02 16:57] stgraber commented on #3379
So I think you're simply hitting the usual macvlan limitation where a container cannot talk to its host when using macvlan.

Since all your devices are actually bridges, you could simply change the "macvlan" nictype for "bridged" and things should work just fine.

[2017-06-02 17:47] mheroux2 commented on #3379
I made that change and the VLAN containers that were working before are still working. However, no change with the container that doesn't operate on the VLAN, the

The container that doesn't work operates on the 172.16.x.x network whereas the other containers use the "cad" VLAN. which connects to the 10.1.x.x network. The host machine is on the 172.16 network. Therefore, I would imagine it would u

[2017-06-02 18:36] stgraber commented on #3379
Your "standard" and "br0" bridges use the same interface (eno1), that's not possible since an interface can only be part of one bridge.

Did you try setting the parent for your container to "standard"?

[2017-06-02 18:42] smoser opened #3380 "--format=json ignored by lxc image info"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.10
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.10.0-21-generic
   * LXC version: 2.14-0ubuntu1
   * LXD version: 2.14-0u

[2017-06-02 19:01] stgraber commented on #3380
"--format=json" is only implemented by "lxc list" and "lxc image list" as shown in the usage.

Our command line parser is a bit annoying in that it doesn't know what sub-commands are, so when you do "lxc image info --help" it shows you the same as "lxc image --help", but the listed usage for "lxc image info" is correct.

[2017-06-02 19:02] stgraber commented on #3380
The various "lxc * info" commands are also bad candidates for supporting --format as they don't directly map to any API object and so don't really have a good structure for us to serialize.

That's unlike the "lxc * show" commands which output raw yaml and can be easily parse.

[2017-06-02 19:02] #3380 closed

[2017-06-02 19:11] smoser commented on #3380
Well, if i were trying to parse output of lxc command line tools, i'd like to have *some* format that is consistent.
lxc list --format=json will outpt json.
lxc show --format=IGNORED will output yaml

Perhaps if you just added and honored '--format=yaml' to lxc list, then i could at least know that i can always get yaml out.  converting json to yaml should be simple enough as you clearly have a ya

[2017-06-02 19:14] stgraber commented on #3380
Yeah, adding "yaml" as an option to the list commands should be easy enough.

[2017-06-02 19:31] mheroux2 commented on #3379
Stgraber, that solves it. Thank you for your assistance!

I recommend adding that bit about bridges vs macvlans to the bridged or macvlan for connection to physical network documentation https://github.com/lxc/lxd/blob/master/doc/containers.md

[2017-06-02 19:31] #3379 closed

[2017-06-02 22:06] deadlybore commented on #2895
I got the same problem on a gentoo server (with openrc) with lxd 2.11 and Linux 4.9.24
I have 4 shared directories and it's always the same directory that may not appear
I added --debug and --verbose but I see no difference between a reboot where all the shared directories are properly mounted and a reboot that did not

Furthermore, even when the shared directory doesn't show in the container I ca

[2017-06-03 02:47] FlorianHeigl commented on #1129
since @alexforster showed this is actually solvable, it would be wonderful to have a bit less pushback against having console access.
A system without console access is hard to take for serious.

What are the things that need to be solved to get it in acceptable quality?

(excluding the "running a window manager on it" part though, Xvfb should be good enough?)

[2017-06-03 18:38] siteshbehera opened #3382 "custom sysctl - how to set"
I want to add some container specific sysctl configs. I can very well do it inside container as sysctl -w  net.ipv4.conf.vrrp150.rp_filter=0.

I added it to /etc/sysctl.conf, but when we reboot the container, we dont see the config added. Is there a way to add sysctl confgs via raw.lxc settings ?

I tried adding something like this:
  raw.lxc: |-
    lxc.config.sysctl.net.ipv4.conf.rp_filter: 0

B

[2017-06-03 18:46] stgraber commented on #3382
Nope, doing it through an init script in your container is the way to go.

/etc/sysctl.conf really should work, but I suspect your init system is skipping the application of sysctls for some reason (likely a container check)... You may want to file a bug against your init system for that issue, or if you don't feel like it, just put the sysctl call in your own init script.

[2017-06-03 19:59] siteshbehera commented on #3382
I am using ubuntu16.04. So you think its a systemd issue?

I can see sysctl configs added under /etc/sysctl.d/99-salt.conf. I can see none of the sysctls get applied.  So its basically an init / systemd issue ?

[2017-06-03 20:16] stgraber commented on #3382
Yes, I expect systemd-sysctl is failing because of some sysctl keys which can't be set in containers. Then rather than ignoring those and moving on, it fails immediately and never gets to applying yours.

[2017-06-03 21:29] siteshbehera commented on #3382
Makes sense, thx. I will do the cleanup. You can close the bug.

[2017-06-03 21:29] #3382 closed

[2017-06-04 18:38] psirek commented on #2964
Is this really fixed? I am running LXD 2.13 and I still get "100%" CPU usage by

1. SSH into the LXD host
2. "LXC exec container bash"
3. Close the tab / terminal to terminate the connection

Efter the above I see much higher CPU consumption. If I do a "LXC exec container bash" again the CPU usage is back to normal. At the moment I am quickfixing this problem by having a CRON job executing a comma

[2017-06-04 18:43] brauner commented on #2964
What exactly are you terminating how?

[2017-06-04 18:51] brauner commented on #2964
Also can you provide the logging output Stéphane requested above, please?

[2017-06-04 18:56] brauner commented on #2964
So essentially `lxc monitor --type=logging`. :)

[2017-06-05 07:43] ogai commented on #2098
@stgraber Ubuntu Xenial has 2.0.9 at the time of writing: Mo 5. Jun 09:23:57 CEST 2017. Is it getting 2.0.10 soon? Otherwise, I wonder how can one of the strings be converted to match the other.

[2017-06-05 12:35] suutari-ai commented on #2098
Try
[code]
as suggested in https://github.com/lxc/lxd/issues/3293#issuecomment-300099477

[2017-06-05 17:35] stgraber commented on #2504
For anyone interested, the currently planned design for this would be:
 - A new "proxy" device type in LXD
 - Each "proxy" device would get a matching proxy process running
 - That process will be the bridge between the host network namespace and the container's network namespace. First binding the host side, then switching context to the container and binding the other side there.
 - This will su

[2017-06-05 17:45] stgraber commented on #2098
@ogai yes, I uploaded it but it's waiting for review by the SRU team. Once reviewed, it's going to sit for 7 days in xenial-proposed before being released to xenial-updates. That's all assuming that no regressions are found.

[2017-06-05 20:32] asbachb opened #3384 "Cannot start some containers after lxd update"
# Required information

 * Distribution: Arch Linux
 * Distribution version: -

lxc info
[code]

# Issue description

I'm running about 20 containers. After updating lxd from 2.13 to 2.14 I'm not able to start some of them. The issue seems to be the same for the containers since the error message is quite equal:

/var/log/lxd/arch-roundcube/lxc.log

[code]

[2017-06-05 20:39] stgraber commented on #3384
lxc 20170605202023.812 ERROR    lxc_start - start.c:lxc_spawn:1186 - Failed to set up id mapping.

That's the main problem here.

Can you show "lxc config show NAME --expanded" for a container which works and one which doesn't?

[2017-06-05 20:42] asbachb commented on #3384
Thanks for your fast response.

Non working container:

Working container

[2017-06-05 20:45] brauner commented on #3384
@asbachb, could you please post the output of:

    lxc-checkconfig

?

[2017-06-05 20:46] asbachb commented on #3384
Sure!

lxc-checkconfig
[code]

[2017-06-05 20:48] stgraber commented on #3384
Can you pate /etc/subuid and /etc/subgid?

[2017-06-05 20:50] brauner commented on #3384
@asbachb, can you please show

    /etc/subuid
    /etc/sbugid

[2017-06-05 20:53] asbachb commented on #3384
cat /etc/subgid
[code]

cat /etc/subuid
[code]

[2017-06-05 20:55] brauner commented on #3384
chmod +x /usr/bin/newuidmap
    chmod +x /usr/bin/newgidmap

should fix it. Both binaries should be setuid root.

[2017-06-05 20:55] stgraber commented on #3384
chmod u+s /usr/bin/newuidmap /usr/bin/newgidmap

That should make lxc-checkconfig happier and fix your problem.
For some reason ArchLinux isn't shipping those two as setuid.

[2017-06-05 20:56] brauner commented on #3384
I'm pushing a fix to @lxc/lxc now for this. :)

[2017-06-05 20:56] stgraber commented on #3384
glad we agree :)

[2017-06-05 20:58] stgraber commented on #3384
The "fix" that @brauner is mentioning above is that LXC right now will not call those two binaries if they're not setuid, EVEN if called by root, so in a case where the setuid bit doesn't really matter (as is the case with LXD).

[2017-06-05 21:00] asbachb commented on #3384
[code]

Fixed the problem. Thanks!

[2017-06-05 21:22] #3384 closed

[2017-06-06 09:18] iyakimavetc opened #3386 "Failed to initialize container storage"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info":
`config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compressi

[2017-06-06 09:56] BegBlev commented on #3375
So, if I find time to submit a patch, do you think it would have a chance to be merged?

[2017-06-06 10:39] iyakimavetc commented on #3386
sqlite3 /var/lib/lxd/lxd.db

sqlite> select * from storage_pools;
1|lxd||zfs

sqlite> select * from patches;
1|invalid_profile_names|1494763860
2|leftover_profile_config|1494763860
3|network_permissions|1496732959
4|storage_api|1496732971
5|storage_api_v1|1496732971
6|storage_api_dir_cleanup|1496732971
7|storage_api_lvm_keys|1496732971
8|storage_api_keys|1496732971
9|storage_api_update_storage_con

[2017-06-06 15:52] mcgoo opened #3387 "starting the docker service on an lxc/lxd host causes traffic to lxc containers to stop"
Installing Docker on the same host as lxd causes connectivity to lxc containers to stop.

According to https://github.com/rkt/rkt/issues/3683 it is because Docker changes the default iptables FORWARD rule to drop. The solution for me is to add forwarding rules as described in that thread.

[code]

I hope this is not a duplicate report - I can't believe that I'm the only person who has seen this, b

[2017-06-06 15:55] brauner commented on #3386
@iyakimavetc, can you run

    lxc storage show lxd

?

[2017-06-06 20:15] brauner opened #3389 "storage api: attaching storage volumes to containers"
Since it's implementation the LXD storage API has supported attaching storage
volumes to containers. One of the oustanding challenges before a working
implementation of the shiftfs concept in the kernel is how to deal with id
mappings when mounting custom storage volumes. This spec tries to propose a
viable solution that aims at security.

When a new custom storage volume is created:

    lxc stor

[2017-06-06 22:18] stgraber commented on #3387
Thanks for the report. I'm going to close it since there's no actual LXD issue there. If anything, that'd be a Docker bug.

Changing default table policy on a machine is a very bad idea and will indeed conflict with things like LXD, libvirt, rkt, ... not to mention that if you decide to run Docker on your home gateway, then you'll be in a lot of troubles :)

[2017-06-06 22:18] #3387 closed

[2017-06-06 22:41] stgraber commented on #3375
If we were to merge this change, it'd have to come together with a very clear explanation of what's happening there, otherwise people will use "nictype=physical parent=eth0 vlan=100", spawning a container with that just fine. Then try to spawn a second one and wonder why it's not working anymore. They would get further confused by the fact that the parent eth0 interface will exist on the host and

[2017-06-07 04:56] ronaldpetty commented on #2825
Hello, I am probably in over my head here.  Trying to run docker via LX[CD].  Previous it was mentioned to use docker.io versus other.  That did not work here.  I am on a Mac running this in a VM (Fusion).  Any tips would be great.  I am trying to run Swarm across several LXD instances in a VM.

[code]

[2017-06-07 07:13] iyakimavetc commented on #3386
@brauner
ilya# lxc launch ubuntu: test3
Создание test3
error: no storage driver was provided
ilya# lxc storage show lxd
description: zfs
config:
  size: "19193135104"
  source: /var/lib/lxd/disks/lxd.img
name: lxd
driver: ""
used_by:
- /1.0/containers/test
- /1.0/containers/test1
- /1.0/containers/test2
- /1.0/containers/test3
- /1.0/images/8fa08537ae51c880966626561987153e72d073cbe19dfe5abc062713d

[2017-06-07 15:15] cryptk opened #3391 "Add support to call external hooks"
It would be nice if LXD had support for a few different areas to add in "hooks" to have extra logic run, One use could potentially be having a hook script fire off an alert into a monitoring system when a container move starts, and then another hook script to resolve that alert when the container move completes.

What I think my "best case scenario" for these hooks would be is adding a pre- and po

[2017-06-07 15:22] stgraber commented on #3391
This kind of thing was mentioned a few times and we've so far been pushing back pretty hard on it as such hook scripts introduce a lot of uncertainty and make it very hard for us to debug issues.

I'm pretty sure we won't be adding support for having LXD directly call a bunch of scripts from the host filesystem, but we may add something to the REST API which would let you get events that you can a

[2017-06-07 15:31] stgraber commented on #3386
[code]

This will fix your database.

@brauner is working on fixing the upgrade code to deal with this regression.

[2017-06-07 15:34] iyakimavetc commented on #3386
Thanks, it works

[2017-06-07 15:41] stgraber commented on #3386
Perfect, re-opening the issue to track the proper bug fix.

[2017-06-07 16:50] cryptk commented on #3391
Perhaps you could resolve those debugging related issue by having the hooks behind a config settings (maybe something like core.enable_hooks, defaults to false) and making it clear that any issues that are reported must be reproducible with that setting disabled.  This would give an easy way for people to quickly disable all of their hooks and see if their problem still exists, allowing them to de

[2017-06-07 16:52] cryptk commented on #3391
At that point, the only issue relating to hooks that LXD would need to be concerned about would be if a properly configured hook just is not being executed at all... if that hook is executed, and it breaks something, then that is not your problem (unless for some reason LXD decided to ship a hook script themselves)

[2017-06-07 17:44] Kramerican commented on #3331
Hello @brauner

I am sorry to bother you again, but I think I have a legitimate concern at this point :)

Ok, so the deal is that I have concluded that I have to back up stopped containers. This is due to the fact that some users might (for some reason or another) not have their containers running all the time, but may start them from time to time and thus create new data which needs to be backed

[2017-06-07 18:28] stgraber commented on #3331
The error you got is a ZFS bug.

The most common source of this is when the image the container was created from got expired by LXD. When that happens the image is renamed from images/XYZ to deleted/images/XYZ, this causes ZFS to unmount all the filesystems that were created from the image, including running containers.

At that point, you have a running container "NAME" that doesn't have its /var

[2017-06-07 18:39] Kramerican commented on #3331
Howdy

Absolutely epic support as always. You are not only a gentleman, but indeed a scholar as well, sir! :+1:

Anyway, now that _that_ is out of the way - then I am pleased this has a logical explanation and may be fixed. And most importantly that we have workaround(s).

_**But**_ This opens up a new kettle of worms: How to correctly update images?

I haven't gotten this far in my todolist, so I

[2017-06-07 18:51] stgraber commented on #3331
The best way to manage images in your case should be:
 - Setup a LXD host just for use as an image source
 - Mark all images that you intend downstream servers to use as public
 - Setup an alias for each of those images. If updating, you'll change the alias to point to the new version.

That's all that's needed on the image server side.
Now on the client side, you'll do:
 - lxc remote add local-im

[2017-06-07 19:14] Kramerican commented on #3331
Parfait! :+1: :+1:

Pretty much what I thought. I am a bit unclear on

_If updating, you'll change the alias to point to the new version._

Do you mean

`lxc image delete my-alias`
`lxc image publish some-container --alias=my-alias`

Or is it better to

`lxc publish some-container`
`lxc image alias create my-alias <fingerprint from prv. comman>`
`lxc image delete <old fingerprint>`

[2017-06-07 20:24] stgraber commented on #3331
Both approach work. I usually tend to prefer the latter because it gives you a chance to make sure the image is functional before you change the alias.

[2017-06-08 05:03] #3386 closed

[2017-06-08 16:55] ajthemacboy opened #3393 "Cannot run KVM inside privileged container with KVM device exposed"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.04
 * LXC version: 2.14 from the upstream repo: https://launchpad.net/~ubuntu-lxc/+archive/ubuntu/lxd-stable
 * The output of "lxc info": https://gist.github.com/ajthemacboy/ff567997f23d47fa08c16d915d7e9a1c

# Issue description

I have created a LXC container, set `security.nesting` and `security.privileged` true, and adde

[2017-06-08 16:56] stgraber commented on #3393
So you shouldn't even need the container to be privileged for this. An unprivileged container with /dev/kvm should work fine.

[2017-06-08 16:57] stgraber commented on #3393
I do have my libvirt server running inside of LXD, but that's using 16.04 in the container. I'm trying with 17.04 now.

[2017-06-08 17:02] ajthemacboy commented on #3393
I removed `security.privileged` and `security.nesting` to test without them and the same thing happens.

This is the output of `service libvirtd status`:
[code]

[2017-06-08 17:03] stgraber commented on #3393
[code]

[2017-06-08 17:05] ajthemacboy commented on #3393
Can you send test.xml so I can test myself?

[2017-06-08 17:07] stgraber commented on #3393
[code]

So no sign of the error you got.

[2017-06-08 17:07] stgraber commented on #3393
[code]

[2017-06-08 17:07] stgraber commented on #3393
It's a pretty useless VM with 4GB of RAM, 2 CPUs and no disk or network. But that's enough to get kvm to start it.

[2017-06-08 17:08] ajthemacboy commented on #3393
[code]

[2017-06-08 17:09] ajthemacboy commented on #3393
I will recreate the container from scratch to see if I can replicate my issue, although I have already done so several times over the last few days.

[2017-06-08 17:09] stgraber commented on #3393
[code]

[2017-06-08 17:10] stgraber commented on #3393
[code]

[2017-06-08 17:11] stgraber commented on #3393
[code]

[2017-06-08 17:15] ajthemacboy commented on #3393
[code]

[2017-06-08 17:26] ajthemacboy commented on #3393
What is your host OS? Perhaps it is related to Zesty.

[2017-06-08 17:29] stgraber commented on #3393
My host OS is artful but that's using the same kernel as zesty.

[2017-06-08 17:34] stgraber commented on #3393
I've seen mention somewhere on the internet of a bug in the kvm kernel module which could get you those same symptoms.

Can you paste the output of "dmesg", then try the following:
 - lxc stop kvmbox
 - rmmod kvm_intel
 - rmmod kvm
 - modprobe kvm_intel
 - lxc start kvmbox

Note that in my case, /dev/kvm in the container seems to be owned by root:root in some cases (after restarting the container)

[2017-06-08 17:38] ajthemacboy commented on #3393
dmesg output from host: http://termbin.com/dvde
[code]
dmesg from kvmbox: http://termbin.com/kds5

[2017-06-08 17:39] ajthemacboy commented on #3393
When I ran `chgrp kvm /dev/kvm` inside kvmbox, I can run the VM successfully!
[code]
It looks like you've fixed my issue, thank you!

[2017-06-08 17:44] stgraber commented on #3393
Ok, so original problem was most likely the kernel being annoying, followed by the bad ownership of the device in the container.

Note that to avoid having to do that chgrp every time, you can get the group id for kvm and update the "kvm" device in LXD to have the "gid" property set to it.

[code]

[2017-06-08 17:44] stgraber commented on #3393
Looks like that's this issue sorted then, closing.

[2017-06-08 17:44] #3393 closed

[2017-06-08 18:00] stgraber opened #3395 "Bad container content when copying with snapshots"
[code]

So in the copy with snapshots case, the container itself is set to match the latest snapshot rather than the source state.

[2017-06-08 18:02] stgraber commented on #3395
[code]

[2017-06-08 18:33] ajthemacboy commented on #3393
This is an unrelated problem but I didn't want to open a new issue. How do I setup NAT networking in the container for the virtual machines? I cannot start the default `virbr0` interface:
[code]
I also tried creating a bridge on my host interface, called `lxdkvm0`, and I created a new network profile with the nictype physical, and attached this profile to the container, so that it receives an IP o

[2017-06-08 18:39] stgraber commented on #3393
Ah right, that kernel/libvirt issue again... I thought someone finally fixed sysfs but apparently not.
Your best bet then is to mark your container as privileged again (lxc config set kvmbox security.privileged=true) and restart it. That should solve the issue.

[2017-06-08 18:41] stgraber commented on #3393
I don't have that problem with my own setup because I don't use libvirt bridges/networks, I instead connect on bridges that I create by hand and which are connected to my physical network (vlans).

[2017-06-08 18:50] ajthemacboy commented on #3393
I'll just use a manual interface as well, thank you again!

[2017-06-08 21:06] #3395 closed

[2017-06-09 04:33] Conjohnsonjohnson commented on #2534
@davidfavor
"After I roll all this info into a simple step-by-step guide, I'll drop the link here."

Is this step-by-step guide available? I suggest this issue is still relevant. I'm having no success assigning an IP address of my own choosing to a container. I have several questions that I'm not able to answer for myself from this interesting discussion:
1) Why is dhcp required for this use case?

[2017-06-09 12:17] psirek commented on #2964
Hi Brauner

I am doing the following:

1. SSH nuc.serek.eu
2. lxc exec nextcloud bash
3. "Close the iTerm tab from my client that I used to SSH into my server - nuc.serek.eu

Afterward I see this in htop:

<img width="863" alt="screen shot 2017-06-09 at 14 13 22" src="https://user-images.githubusercontent.com/9695166/26974994-338bc72a-4d1e-11e7-8742-78773960f615.png">

If I do this a few times it

[2017-06-11 10:19] spacekookie opened #3397 "Unprivileged containers fail to start"
I know this isn't exactly the main usecase of LXD but I'm a fan and I'd like to get it to run with all it's features on my favourite distribution. I should add that I followed this [wiki article](https://wiki.archlinux.org/index.php/LXD), especially when it comes to the section `Sub{u,g}id configuration`

# Required information

 * Distribution: Arch Linux
 * The output of "lxc info"
[code]
# Issu

[2017-06-11 14:33] brauner commented on #3397
Right, Archlinux doesn't make `new{g,u}idmap` setuid. The next release of liblxc (our runtime) will be smarter in that regard. As a fix for now you should be able to just do:

[code]

please report back if that works.

And thanks for the kind words, we appreciate it. :)

[2017-06-11 23:21] butla commented on #2667
@pcdummy @stgraber Is there an elegent way of getting the user ID to use with chown? I've used [this stackoverflow answer](https://askubuntu.com/a/742527/238067) to determine that the ID I should use is 165536. And from what I see, all the containers are using the same ID.

[2017-06-12 09:03] wociscz opened #3398 "Wrong STIME on processlist inside container"
* Distribution: Ubuntu
 * Distribution version:  Xenial 16.04.2
 * lxc info:
  driver: lxc
  driver_version: 2.0.8
  kernel: Linux
  kernel_architecture: x86_64
  kernel_version: 4.10.0-22-generic
  server_version: "2.14"
  storage: zfs
  storage_version: 0.6.5.9-2

processes inside container has/shows STIME in future. Right now it is +4days (vary on different servers, dont see any "rule" for that

[2017-06-12 09:21] brauner commented on #3398
This is a bug in `LXCFS` and not in `LXD`. I'm closing this issue here but would ask you to open it up again on https://github.com/lxc/lxcfs . :)

[2017-06-12 09:21] #3398 closed

[2017-06-12 09:25] wociscz commented on #3398
oh sorry, done.

[2017-06-12 09:40] spacekookie commented on #3397
Oh you're a life-saver, yea that worked. Thank you <3

And thank you for writing awesome software. I've been using LXC for over a year and LXD for around a year and it has cut my personal hosting headaches down to a bare minimum. So thank you :) And have a nice day!

[2017-06-12 09:40] #3397 closed

[2017-06-12 10:05] brauner commented on #3398
@wociscz, no reason to be sorry. :)

[2017-06-12 11:39] stamster commented on #1363
I'm quite surprised this core feature haven't been implemented yet.
Really, what is the use of containers if no one is able to use them from external world? The very basic feature set over which Internet was conceived  was exactly computer connectivity at first place.

How I see this general problem - same as with other stuff working in a LAN only. Let master (LAN) DHCP server assign addresses to

[2017-06-12 15:05] MarkusTeufelberger commented on #2834
Just linking https://github.com/lxc/lxc/issues/1267 here, since I found both issues via Google after trying to debug why lxdbr0 wasn't created.

[2017-06-12 15:08] renky opened #3399 "zfs: incorrect mountpoint on dummy datasets when using existing zfs pool with mountpoint set"
Trying to get LxD running on Debian Stretch with zfs-dkms

fresh install of Debian Testing (Stretch) today (12th of June 2017).
Updated kernal to 4.9.0-3 - because after installation system is running with 4.9.0-2 and with that zfs-installation doesn't work

[code]
then installed zfs:
```apt-get install zfs-dkms```

-> is running well

added pool and datasets:
[code]

Added datasets:
[code]
instal

[2017-06-12 16:46] brauner commented on #3399
Sorry, just saw this issue this second. Will push a fix in a couple of minutes.

[2017-06-12 16:56] brauner commented on #3399
@renky, what I just realized is that you're setting a mountpoint on the `LXD` dataset. You should create the pool with `mountpoint=none`. `LXD` will set another mountpoint in any case. It will, as is mentioned in the storage documentation, assume that this pool is fully under its control.

[2017-06-12 20:33] renky commented on #3399
ok, I'll try that - but I didn't explicitly set the mountpoint, I only used the same commands as on my first try on Ubuntu 17.04 - is there somewhere a different behaviour depending on the zfs-implementation? Because, if I remember right, then I also had mountpoints after creating the datasets... unfortunatelly I cannot check this, because it's the same server - reinstalled with debian stretch for

[2017-06-12 20:54] dann1 opened #3402 "Memory overcommitment + container limits"
Hello, I'd like to know how does LXD manage the RAM over-commitment. KVM uses KSM + ballooning.

Also I'd like to know the limits in terms of how much RAM, CPU, NICs and mounts LXD supports ( I mean max numbers per container, and max numbers per daemon) and the max amount of containers per daemon.

I haven't found that info in the documentation

[2017-06-12 20:55] renky commented on #3399
Ok, sorry, I was wrong: Yes, I set a mountpoint - because I diddn't want the default one - so If I don't set a specific one, then this happens:
[code]
so in the end it is the same, but with another mount-point...

now just for a try, I removed the mountpoint:
[code]
and after that lxd init worked fine...

but really: I did exactly the same on ubuntu 17.04 - I didn't remove the mountpoint explicitl

[2017-06-13 00:39] hooramin opened #3403 "Failed to add device"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:

lxc info
config:
  core.https_address: '[::]:8443'
  core.trust_password: true
  storage.zfs_pool_name: MainMachine1
apiextensions:
- id_map
apistatus: stable
apiversion: "1.0"
auth: trusted
public: false
environment:
  addresses:
  - 148.251.155.201:8443
  - '[2a01:4f8:210

[2017-06-13 05:29] stgraber commented on #2667
@butla containers aren't guaranteed to share the same ID. The "security.idmap.isolated" setting if set will actually make sure that they do not.

One trick that usually works so long as the container filesystem is mounted is to look for the owner of /var/lib/lxd/containers/NAME/rootfs. Otherwise the only really reliable way is to grab the container map using "lxc config show" (volatile.last_state.

[2017-06-13 05:40] stgraber commented on #3402
LXD container will support as much ram, cpu, nics, mounts as your host would. It's all shared kernel objects so the same limits apply.

There are no limits to then number of containers you can run, though it's rare that you can exceed 10000 without getting into some serious slow downs due to the very high amount of kernel objects resulting from that.

To get you past around 500 containers you will

[2017-06-13 06:21] brauner opened #3404 "Replace all calls to s.zfsPoolVolumeCreate() with zfsPoolVolumeCreate()"
Currently, we use the `s.zfsPoolVolumeCreate()` method everywhere but the new `zfsPoolVolumeCreate()` function is (imho) a lot cleaner. It's not a huge deal if we keep using the former but if someone from the community is interested then feel free to send a pr. :)

[2017-06-13 06:43] erickeller opened #3405 "lxc image copy to remote, x509: certificate signed by unknown authority"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

#

[2017-06-13 07:03] anoxi commented on #2964
"LXC exec container bash"
Close the tab / terminal to terminate the connection
Efter the above I see much higher CPU consumption. If I do a "LXC exec container bash" again the CPU usage is back to normal. At the moment I am quickfixing this problem by having a CRON job executing a command on all running containers every 5 minutes which also removes the high CPU usage.

I can confirm this behaviour

[2017-06-13 09:24] brauner commented on #2964
So this is tricky (@stgraber, @hallyn you might find this interesting as well). A while back I implemented signal forwarding for `lxc exec`, meaning you can send a signal to `lxc exec` and it will forward it to the program it is executing. So essentially, when you exit the shell `lxc exec` will receive `SIGHUP` and forward it to the program that is executing which also means that `lxc exec` itself

[2017-06-13 10:12] haasn commented on #2269
Old issue, but google still finds it. I wanted to point out that manually copying over every dataset with a `zfs send | zfs recv` is a bad idea, especially as highlighted by the fact that you were missing snapshots which LXD depends on.

The proper way to do this is to use `zfs snapshot -r` (recursive) followed by `zfs send -R` which sends a replication package of the entire tree and all snapshots

[2017-06-13 13:30] techtonik commented on #1363
@stamster I solved container access problem from LAN with `macvlan` interface. But I still consider it insecure for development setup in public spaces, so I am still looking for a solution to forward ports over secure channels. The most obvious way was to reuse LXD channel, but I don't know Go good enough to complete the code.

[2017-06-13 13:36] leowmjw opened #3407 "Headless install, init (with ZFS) and config for lxd"
Tried to find but was unsuccessful to find steps for the above  :(

All the docs are showing users typing the commands and manually menu selections.  Please provide some pointers on if the whole process can be automated end-to-end (configuration file of some sort?).

I'll be happy to do a PR with updated documentation and examples; but just need pointers to get started.  Thanks!

[2017-06-13 14:34] elupus commented on #3287
Note this is a real issue. lastlog is a spare's file. It can be huge on any system (http://www.noah.org/wiki/Lastlog_is_gigantic) so lxd should really handle these types of file.

[2017-06-13 15:31] dann1 commented on #3402
OK thanks a lot @stgraber

[2017-06-13 15:31] #3402 closed

[2017-06-13 15:38] stgraber commented on #2834
Not sure why this one is still open, the feature was merged.

[2017-06-13 15:38] #2834 closed

[2017-06-13 15:57] brauner commented on #2964
So the simple solution is to simply forward the signal and then send it to ourselves but that somewhat defeats the purpose of the signal-forwarder. The more clever way would be to detect whether our parent has died and then kill ourselves (I know, that's a dramatic statement.).

[2017-06-13 16:04] gaetanquentin commented on #2269
ok. i am using btrfs now and this feature is missing (copying recursively subvolumes with their snaphots) ;-)

[2017-06-13 19:40] cryptofuture opened #3409 "LXD fails to mount btrfs storage pool"
LXD fails to mount storage pool (btrfs subvolume)
I can browse containers under `/var/lib/lxd/disks/default/containers/` without any problem.
Happened on third power loss (some lovely person washed UPS) on the test backup lxd host. Also with`btrfs subvolume list -p /`
I can ensure that  all containers subvolumes still here, and can mount subvolumes manually.
Obviously, since lxd can't mount pool a

[2017-06-13 19:42] stgraber commented on #3409
Can you paste "lxc storage show default"?

[2017-06-13 19:52] cryptofuture commented on #3409
[code]

[2017-06-13 19:56] stgraber commented on #3409
Reproduced the issue, working on a fix.

[2017-06-13 20:00] stgraber commented on #3409
Testing a fix now

[2017-06-13 20:01] stgraber commented on #3409
Looks like that's working

[2017-06-13 20:08] cryptofuture commented on #3409
Thanks, thats a god speed. I think I need more than 10 minutes to build and to test it.

[2017-06-13 20:09] stgraber commented on #3409
I've built a LXD binary that's identical to the LXD 2.14 in Ubuntu 16.04 but with this fix added to it.
To install it, do the following as root:
 - systemctl stop lxd.socket lxd.service
 - mv /usr/bin/lxd ~/lxd.bak
 - curl https://dl.stgraber.org/lxd-3409 > /usr/bin/lxd
 - sha256sum /usr/bin/lxd (and confirm it's: 11f35551ed2dab478d83684ff5e80da834254c6efedba35f98f96fdd424eb2f7)
 - chmod 755 /usr/

[2017-06-13 20:11] butla commented on #2667
@stgraber thanks!

[2017-06-13 20:14] stgraber commented on #2964
Yeah, I suspect for some signals at least we'll want to forward them and then interpret them ourselves in the client.

[2017-06-13 20:17] cryptofuture commented on #3409
Tested. It works!

[2017-06-13 20:18] stgraber commented on #3409
Perfect, waiting for Jenkins to confirm that my fix didn't regress anything, then I'll let @brauner merge it and finally will push updated packages to Ubuntu to fix anyone else who'd have run into this.

[2017-06-13 20:23] stgraber commented on #3409
keeping the issue open, will be closed when the fix hits master

[2017-06-13 21:10] #3409 closed

[2017-06-13 21:43] stgraber commented on #3407
https://github.com/lxc/lxd/blob/master/doc/preseed.md

[2017-06-14 05:53] leowmjw commented on #3407
@stgraber Thanks; exactly what I was looking for!

[2017-06-14 05:53] #3407 closed

[2017-06-14 05:55] stgraber commented on #2294
So I think it's time to look into this one again. I expect this is going to be a bit of ongoing work until we get all the existing operations to support cancellation.

Looking at the current code in operations.go, it looks like all the bits are in place to support cancellation for all operation types. We "just" need to have them define a onCancel function.

My guess is that the onCancel function w

[2017-06-14 06:49] flaub opened #3411 "error: Failed to run: /usr/bin/lxd forkstart dev /var/lib/lxd/containers /var/log/lxd/dev/lxc.conf:"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Cannot start containers. Used to work, not sure what happened but now it doesn't work. I did add a new user to the system, perhaps that did something?

# Steps to reproduce

[code]

# Information to attach

[code]

/var/log/lxd/lxd.log
[code]

/e

[2017-06-14 06:53] flaub commented on #3411
[code]

[2017-06-14 07:42] brauner commented on #3411
Can you show me the contents of `/var/log/lxd/lxc.conf`, please? :)

[2017-06-14 08:41] flaub commented on #3411
`/var/log/lxd/dev/lxc.conf`:
[code]

[2017-06-14 10:56] brauner commented on #3411
Right, you need to give lxd `1000000000` {g,u}ids.

So change the entry for lxd/root in `/etc/sub{g,u}id` to:

    root:1000000:1000000000
    lxd:1000000:1000000000

[2017-06-14 13:58] brauner commented on #2964
So yes, that sounds reasonable. I guess `SIGHUP` is the most obvious candidate here.

[2017-06-14 16:21] #3399 closed

[2017-06-14 17:24] tim-sueberkrueb commented on #3411
Hey, I get almost the same error messages but the problem only happens when I stop a container, reboot and then try to start it again. I tried changing the `{g,u}ids`, but that didn't seem to help. Is my problem likely to be the same as this or should I open a new issue? Thanks :)

[2017-06-14 17:47] flaub commented on #3411
@brauner why is it asking for so many IDs? I purge/removed the lxd package and reinstalled and yet we get this behavior. I'm wondering how this changed. Is there some sort of template that is used by LXD to generate the per-container lxc.conf file?

[2017-06-14 17:48] flaub commented on #3411
BTW, making the change you suggested does work, just curious how we got here and how I can convince the system that it doesn't need so many IDs.

[2017-06-14 18:52] wwwtyro opened #3412 "Containers sporadically not starting after host reboot"
* Distribution: ubuntu
 * Distribution version: xenial
 * [lxc info](https://gist.github.com/wwwtyro/15c52c8da2f831671487f1a131de0bba)

We have 42 containers running on a single VM with a ZFS backend. After reboot, some of the
containers fail to start. We see errors in `/var/log/lxd/<container_id>/lxc.log`:

[code]

And related logs in `/var/log/lxd/lxd.log`:

[code]

This is a recent development,

[2017-06-14 19:43] stgraber opened #3413 ""lxc image list" crashes if first column has duplicates"
[code]

Looks like SortImage needs to be reworked to work with the new "-c" argument of "lxc image list".

[2017-06-14 19:52] stgraber commented on #3411
@flaub this is rather weird. The LXD log you've posted seems to indicate that LXD used its fallback map which should really only ever happen if any of:
 - newuidmap tool is missing from PATH
 - newgidmap tool is missing from PATH
 - /etc/subuid is missing or unreadable
 - /etc/subgid is missing or unreadable
 - /proc/self/uid_map is present but unreadable
 - /proc/self/gid_map is present but unrea

[2017-06-14 19:54] stgraber commented on #3411
@flaub can you undo the change you did to /etc/subuid and /etc/subgid, then restart LXD (systemctl restart lxd) and post an updated /var/log/lxd.log?

I wonder if the issue will re-occur. If it does, please include:
 - output of "which newuidmap"
 - output of "which newgidmap"
 - output of "ls -lh $(which newuidmap)"
 - output of "ls -lh $(which newgidmap)"
 - content of /etc/subuid
 - content of

[2017-06-14 20:42] brauner commented on #3412
The insight is that we need to fix zfs.

That being said I can try for some workarounds. But I guarantee they won't be as satisfactory.

[2017-06-14 20:43] brauner commented on #3412
I'm not sure. I guess the fact that we mount and umount as needed to not pollute the host namespace just raises the probability that we run into the zfs bug.

[2017-06-14 22:08] flaub commented on #3411
[code]

[2017-06-14 22:20] flaub commented on #3411
Even when I use the extended range in my `/etc/subuid`, the container now will start, but if I try to specify a `raw.idmap` in my config, I get a similar error:

[code]

[2017-06-14 22:22] flaub commented on #3411
OK, adding `root:1000:1` fixed that issue.

[2017-06-14 22:42] stgraber commented on #3411
@flaub you only reverted /etc/subuid, not /etc/subgid and you didn't provide an updated /var/log/lxd/lxd.log

[2017-06-14 22:42] stgraber commented on #3411
I'm interested in what LXD detects as its map on startup as that's what it'll then use for your containers.

[2017-06-14 23:00] flaub commented on #3411
[code]

[2017-06-14 23:04] stgraber commented on #3411
Ok, cool, so it did pick up the right range this time:
[code]

If you do have a raw.idmap entry for your container, you'll indeed need the extra map entry for that in subuid/subgid. I have a blog post coming out tomorrow which goes into more details on how that all works, but what you did earlier with "root:1000:1" is correct and should fix that one container.

[2017-06-15 00:24] flaub commented on #3411
The log might show that it picked up the right range, yet the container won't start. It only seems to start if my subuid and subgid have very large ranges.

[2017-06-15 03:27] stgraber commented on #3411
@flaub Can you post "lxc config show --expanded NAME" for that container?

[2017-06-15 03:44] flaub commented on #3411
[code]

[2017-06-15 03:46] stgraber commented on #3411
Ok, that shows the problem. The container recorded the previous map which includes the billion uid/gid and is now failing because it's not getting that anymore.

To force LXD to recalculate things, the following should do the trick:
 - lxc stop dev
 - lxc config set dev security.privileged true
 - lxc config unset dev security.privileged
 - lxc start dev

[2017-06-15 03:50] flaub commented on #3411
That works! Thanks :) Looks like I need to perform that procedure on each container to reset things. I wonder how we got into this state.

Thanks again.

[2017-06-15 03:51] stgraber commented on #3411
You can fix them all at once by doing the change to the default profile.

 - lxc profile set default security.privileged true
 - lxc profile unset default security.privileged

[2017-06-15 03:52] stgraber commented on #3411
So it looks like the problem was that your LXD somehow failed to read /etc/subuid, /etc/subgid or for whatever reason newuidmap/newgidmap weren't available. So it used its fallback map and then started your containers with it.

The containers recorded their new map, you then got LXD fixed to use the map it was supposed to be using and now all your containers are trying to map uid/gid that no longe

[2017-06-15 03:54] flaub commented on #3411
It's odd that I even went thru an uninstall, reboot, re-install of LXD. But I suppose maybe I didn't delete something entirely in between.

[2017-06-15 03:56] stgraber commented on #3411
Yeah, it's getting difficult to figure out the timeline of everything that happened. Once LXD picks up the fallback map, the rest makes sense, but it's still unclear what failed and caused it to use that fallback map in the first place... Could have been a filesystem glitch causing newuidmap/newgidmap to appear to be missing, or there was something funky in subuid/subgid which got cleared by your

[2017-06-15 03:57] stgraber commented on #3411
In any case, I'm glad that your LXD is now using the correct map once again and that you have an easy trick to get the containers map updated to the right thing again.

[2017-06-15 03:59] stgraber commented on #3412
@brauner what's odd there is that the rootfs isn't mounted, yet we still call forkstart and attempt to spawn the container. Shouldn't we have failed in StorageStart?

[2017-06-15 04:07] flaub commented on #3411
Indeed, thanks for your patience with me. Looks like things are working for me again.

[2017-06-15 04:07] #3411 closed

[2017-06-15 05:05] dnshs commented on #2524
What about network devices using DPDK ?

[2017-06-15 07:39] bodleytunes opened #3414 "Tag Vlan on Veth to Openvswitch bridge"
Hi

Just wondering if its possible to set a tag on a container's veth port, similar how to you would manually do it with ovs-vsctl and end up with something like this. (basically putting it on a access port on vlan 80)

manual command : ovs-vsctl set port vethB8NH5G tag=80

results in ...

Bridge "lxdbr80"
        Port "vethB8NH5G"
            tag: 80
            Interface "vethB8NH5G"
        Por

[2017-06-15 09:33] #3413 closed

[2017-06-15 12:56] matlink opened #3416 "Bad behavior when UID from the host is in the range mapped into the container"
# Required information

 * Distribution: ubuntu
 * Distribution version: 16.04 LTS
 * The output of "lxc info" or if that fails:
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
-

[2017-06-15 17:23] brauner commented on #3412
@stgraber, well, under certain circumstances we want to move on even though we get `EBUSY` so right now `EBUSY` is ignored in zfs's mount method. I'll get back to that.

[2017-06-15 17:26] brauner commented on #3412
It's not going to be pretty since we would special case zfs everywhere.

[2017-06-15 19:06] cryptofuture opened #3418 "lxd init preseed autogeneration (feature request, question)"
I'm trying to automate with salt my lxd default setup with `lxd init` right now. And its easier for me to setup lxd just with lxc commands (lxc storage create default btrfs ... etc). However since, we have preseed, maybe I should stick with it.
And my usual (base) configuration is quite common.
[code]
Maybe its viable to autogenerate [pressed](https://github.com/lxc/lxd/blob/master/doc/preseed.md)

[2017-06-15 19:15] stgraber commented on #3418
The LXD init questions won't randomly change on any given install, so sending the answers on stdin should work fine. Do note that we may however add, remove, change or re-order them between releases so that may be a problem after upgrade.

I've not played with preseeding much myself, but I'd be surprised if bad input was accepted without an error. However one thing that LXD will always silently ig

[2017-06-15 19:21] matlink commented on #3416
The actual issue is that the UID of the user from the host is in the range mapped to the container:

    $ cat /etc/subuid
    lxd:100000:1000000000
    root:100000:1000000000
    lxd:119373:1
    root:119373:1

    $ cat /etc/subgid
    lxd:100000:1000000000
    root:100000:1000000000
    lxd:2001:1
    root:2001:1

    $ lxc config get test raw.idmap
    uid 119373 1000
    gid 2001 1000

This c

[2017-06-15 19:40] #3412 closed

[2017-06-15 19:44] stgraber commented on #2524
I've not played with DPDK network devices personally and am unsure what kind of interface is used for userspace to communicate with the DPDK kernel driver.

I seem to remember reading that in one mode at least, this was done through a char device in /dev, which would make it suitable for a unix-char device in LXD, with the network interface itself behaving like a normal interface that can be moved

[2017-06-15 19:47] stgraber commented on #3414
This isn't possible right now and isn't something that LXD itself could do until such a feature would be added at the liblxc level. If liblxc grows support for openvswitch configuration of tagged and untagged vlan, then LXD can be updated to make use of it.

[2017-06-15 20:00] stgraber commented on #3416
Going back and forth on this in my head, not sure what the right option is between:
 - Just don't allow this, return a clear error
 - Allow this mapping and resolve the double mapping issue by creating a hole at uid 19373 in the container (which is what used to be mapped to host uid 119373). Leading to:
   - 0 => 100000
   - 1000 => 119373
   - 19372 => 119372
   - 19373 => -1
   - 19374 => 119374

[2017-06-15 20:46] #3418 closed

[2017-06-15 21:00] brauner commented on #3416
@stgraber, the last two options all have problem that we need to guess what the user wants. Which is never ideal. However, the third option sounds like the best option.

What about a combined option?
- we shift the whole map iff root and lxd have the same single map entry
- we punch a whole if only one of the two has a single map entry

[2017-06-15 21:04] stgraber commented on #3416
@brauner I don't think we want to do automatic hole punching based on the subuid/sugid data. Our input is raw.idmap. subuid/subgid are only a safety net the the system can have and shouldn't really be considered an input.

[2017-06-15 21:06] brauner commented on #3416
Ah, so `raw.idmap` is set. That makes sense. Then as I said I think the best solution is option three.

[2017-06-15 21:09] stgraber commented on #3416
Yeah, it's just going to be pretty painful to implement without breaking anything :)
Good thing we have pretty good tests around that.

[2017-06-15 21:11] brauner commented on #3416
Yeah, I'm pretty happy about the good testing there too!

[2017-06-15 21:25] matlink commented on #3416
Well, it's a quite not frequent situation here. Don't bother if you think nobody will profit of this enhancement

[2017-06-15 21:35] stgraber commented on #3416
Well, I would have benefited from it yesterday :)
I had to change my default range to avoid that very problem when writing my blog post :)

[2017-06-16 02:20] bradmwalker commented on #1259
A use case for `lxc.network.type = none`: open-iscsi's `iscsid` apparently works only when run in the host's network namespace due to a NETLINK socket (and passing thru device nodes, mounting sysfs:rw, and preloading modules...)

[2017-06-16 10:08] bodleytunes commented on #3414
OK That's fair enough.

In that case, is there a way I can get LXD to keep the veth "ID"/code static, so that would mean I can manually go in and tag the veth on the bridge and then after a reboot, if it stays the same, it shouldn't overwrite it or generate a new one which is what seems to be happening?

Cheers,

Jon

[2017-06-16 12:13] techtonik opened #3421 "Mount snap "core" (1689) ([start snap-core-1689.mount] failed with exit status 1"
How to test snaps with LXD?

[code]

[code]

[code]

# Required information

 * Distribution: Ubuntu 17.04
 * The output of "lxc info" or if that fails:
 driver: lxc
 driver_version: 2.0.8
 kernel: Linux
 kernel_architecture: x86_64
 kernel_version: 4.10.0-23-generic
 server: lxd
 server_pid: 2214
 server_version: "2.12"
 storage: dir
 storage_version: "1"

# Information to attach

 - [ ] any rele

[2017-06-16 12:48] brauner commented on #3416
@stgraber, I'm not sure if we're currently doing this (haven't looked at the code) but it would be cool if could isolate the id mapping algorithm into a separate package in LXD. Would make it more modular and also easier testable. In my mind, this piece of code has quite some fundamental security impact. But as I said, I might've missed you already making this a package.

[2017-06-16 20:04] stgraber commented on #3421
Did you install "squashfuse" prior to installing your snap package?

[2017-06-16 20:05] stgraber commented on #3421
It's a known issue with snapd inside containers and one which is tracked by the snapd people upstream.

[2017-06-16 20:06] stgraber commented on #3421
https://bugs.launchpad.net/snappy/+bug/1628289

[2017-06-17 00:06] stgraber commented on #3416
@brauner could probably be better split. The idmap range handling, kernel parsing, subuid/subgid parsing, ... is all in shared/idmap. The isolation handling (cutting new sub-maps) is handled in lxd/

[2017-06-17 01:30] ProjectInfinity commented on #1363
@srkunze I can't speak for _all_ of the features discussed in here but VMware and VirtualBox sure supports forwarding ports from guest to host which is what this ticket originally discussed.

[2017-06-17 04:57] techtonik commented on #3421
There is no such package in Ubuntu 16.04
[code]

[2017-06-17 05:07] stgraber commented on #3421
You may need to run "apt update" to update the package list.

[2017-06-17 05:14] techtonik commented on #3421
Yes. After `apt update` squashfuse installe successfully. `snap install micro --beta` was ok too. Why `ubuntu:16.04/amd64` comes not updated? I thought that these images are updated frequently.

[2017-06-17 05:18] stgraber commented on #3421
The image is indeed updated every few weeks and the packages in the image are therefore up to date.
"apt update" doesn't update any actual package (that's what "apt upgrade" would do), instead it just updates the package index files which are used to look up packages.

Anyway, looks like things are working as is expected. Hopefully snapd will finally bundle squashfuse soon and then things will be

[2017-06-17 05:18] #3421 closed

[2017-06-17 05:27] techtonik commented on #3421
@stgraber the question is why `ubuntu:16.04/amd64` comes with updated software but outdated indexes/

[2017-06-17 07:39] techtonik commented on #1363
@srkunze and speaking of containers, port exposure is a core feature of Docker.

[2017-06-17 08:13] #3414 closed

[2017-06-17 16:27] stgraber commented on #3414
@bodleytunes you can set the host_name property on the nic to have it be set to whatever name you want on the host. The device will however still be recreated every time the container starts as the container going down causes the kernel to destroy the device.

[2017-06-17 16:28] stgraber commented on #3421
I'm not sure, my best guess is that since those index files expire pretty quickly and can be somewhat big, they may not be included in the image itself, instead relying on the user (or cloud-init) running the update.

[2017-06-17 21:05] saaby opened #3423 ""bad data in /proc/uptime" error messages"
Hi,

After the latest lxd update, when inside a container, using "top", I get repeated messages on the console reading "bad data in /proc/uptime", and pid cpu% is reported in rounded hundreds "100%, 200%, 300%, 400%". lxcfs issue?

 * Ubuntu 16.04, both on host and container. lxd version 2.14 on both host and container.

lxc info output:
# lxc info
config: {}
api_extensions:
- storage_zfs_remove_s

[2017-06-18 01:37] Conjohnsonjohnson commented on #3357
The correct mount command is:
mount -t cgroup -o none,name=systemd systemd /sys/fs/cgroup/systemd

[2017-06-18 07:43] stgraber commented on #3423
Hi,

Yeah, /proc/uptime is a lxcfs file, could you file an issue at https://github.com/lxc/lxcfs/issues and include the version of lxcfs you're running?

Thanks

[2017-06-18 07:46] techtonik commented on #3421
How to find out the size of container? `df` seems to report params of the host system,
[code]
After `apt update`:
[code]

(22299136-22138504)/1024=**156.87 Mb** which seems to much, because `image list`:
[code]

[2017-06-18 07:47] stgraber commented on #1363
#2504 is our preferred implementation for such port/socket forwarding. Obviously in a production environment we still expect most people will not need to use something like that as their containers won't be connected to a host-local bridge but instead connected to their normal network and firewalling infrastructure.

[2017-06-18 07:48] stgraber commented on #3421
Only ZFS and LVM will report the container size properly in "df -h". For everything else, your best bet is likely "du -sch /var/lib/lxd/containers/NAME/rootfs" on the host...

[2017-06-18 07:48] stgraber commented on #3421
Well, I'd expect "du -schx /" inside the container to give you the right number too.

[2017-06-18 08:27] techtonik commented on #3421
[code]
(763-606)/606=0.26 - 26% increase is not that much, and I guess that people who need extra small images are using https://developer.ubuntu.com/core anyway.

[2017-06-18 10:39] srkunze commented on #1363
@stgraber I like the proposal over there in #2504. Let's see if others think so as well.

[2017-06-18 10:40] srkunze commented on #2504
What about performance when the complete traffic goes through another process?

[2017-06-18 11:35] laralar opened #3424 "Can't create new container after canceling"
# Required information

 * Distribution: ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.4.0-79-generic
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in use: btrfs

# Issue description

I was going to create a container, and messed up with the name, then I pressed Ctrl_C and tried to create the container again. but I

[2017-06-18 11:43] brauner commented on #3424
Yeah, we currently do not support cancelling container creation. What does `lxc list` show?

[2017-06-18 12:45] gregsifr opened #3425 "How to write .yaml / .sh files to configure and deploy containers similarly to docker recipes (run commands upon container initiation)"
How to deploy containers in a similar way to docker recipes.

For example how to:
 - specify all the container details (shared/mounted devices, network, etc)
 - specify what commands to run upon initial start

From doing research there appears to be an option to configure the containers using a yaml file: https://askubuntu.com/questions/617865/is-there-a-way-to-configure-lxd-containers-with-cloud-

[2017-06-18 12:54] laralar commented on #3424
The containers are not there.

Fine if it's not supported. But now I can't create any new container.

It's seems that the database got something and didn't roll out back and it's corrupted.

Any workaround to fix the DB and being able to create new containers again?

[2017-06-18 12:56] laralar commented on #3424
Basically I created a container with lxc launch, immediately after the message creating xxxx I pressed control C.

After that I can't create any new containers

Start stop of exceeding containers works fine

[2017-06-18 13:16] gregsifr commented on #3425
I've noticed the documentation shows the configuration format: https://github.com/lxc/lxd/blob/master/doc/preseed.md

How to specify which commands to run when the container is first created and initiated?

[2017-06-18 13:56] brauner commented on #3424
@laralar, yeah the db seems to be messed up. So what should help you is:

    sqlite3 /var/lib/lxd/lxd.db "DELETE FROM containers WHERE name='test3'"
    sqlite3 /var/lib/lxd/lxd.db "DELETE FROM storage_volumes WHERE name='test3'"

can you also verify that no storage volume for the container has been created in the storage pool you are using. If so, delete it and you should be good to go.

[2017-06-18 13:58] laralar commented on #3424
thanks,  I don't  have access to the server right now.  i'll try tomorrow and update.

[2017-06-18 14:39] saaby commented on #3423
Hi,

tomponline beat me to it: https://github.com/lxc/lxcfs/issues/191

As far as I can see it has already been fixed in master. Will patiently wait for 2.0.8. Thanks!

[2017-06-18 14:39] #3423 closed

[2017-06-18 17:00] elitegreg opened #3426 "Privileged containers cause host /home to unmount"
* Distribution: Ubuntu
 * Distribution version: 17.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.10.0-22-generic
   * LXC version: 2.0.7
   * LXD version: 2.12
   * Storage backend in use: zfs

# Issue description

For quite a few months, I have had a container running in privileged mode sharing /home from the host. The other day after reboot, /home on the host was not mo

[2017-06-18 17:29] brauner commented on #3426
Can you please show:

    lxc config show <container-name>
    cat /var/log/lxd/<container-name>/lxc.conf
    lxc profile show default

[2017-06-18 17:53] stgraber commented on #3421
Yeah, anyway, we don't have any control on that. Those images are the same Ubuntu images used for all cloud instances, not special LXD ones.

[2017-06-18 17:59] stgraber commented on #2504
@srkunze you'd certainly take a bit of a CPU hit with this approach but would benefit from more flexibility (cross-protocol, no need for network connectivity in the container, host doesn't need to be the gateway, ...)

I also wouldn't be opposed to allowing for optimizations in that device type. Say adding a "proxytype" property (similar to nictype for nic device) which could take "relay" or "forw

[2017-06-18 18:01] stgraber commented on #3424
Please don't run the commands above, they will leave records behind in the database.
@brauner when giving such SQL commands, don't forget that sqlite3 doesn't cascade by default.

[2017-06-18 18:04] stgraber commented on #3424
First you should try:
 - lxc delete test3

With a bit of luck, that will let you clear the DB records.

If not, then you should do: sudo sqlite3 /var/lib/lxd/lxd.db
And then type in:

    PRAGMA foreign_keys=ON;
    DELETE FROM containers WHERE name='test3';
    DELETE FROM storage_volumes WHERE name='test3';

Can you also provide us with your /var/log/lxd/lxd.log?

As @brauner mentioned, we don't

[2017-06-18 18:06] stgraber commented on #3426
Would be interesting to know if /home on the host is getting unmounted as a result of the container starting or as a result of the container stopping/rebooting.

I have a theory why the latter may happen (zfs bug) and that'd be limited to privileged containers, which explains why we didn't see widespread reports of this.

[2017-06-18 18:17] brauner commented on #3424
sqlite3 doesn't cascade?

[2017-06-18 21:11] hallyn commented on #2964
Not being particularly helpful, but just pointing out that this kind of code has been 'delicate' in su :)   https://github.com/shadow-maint/shadow/blob/master/src/su.c#L319   Of course in su there's the problem of less-privileged users signaling more-privileged code, which isn't relevant here.  So yeah I think you just want to special-case based on signal here.

[2017-06-18 21:12] hallyn commented on #2964
Wrong button.

[2017-06-19 01:28] elitegreg commented on #3426
Hello,

I have found and fixed the issue. I will describe it briefly here in case someone else runs into it.

I'm exporting /home with NFSv4 which requires that I bind mount /home -> /exports/home. To do this, I had a bind mount entry in fstab. It turns out, this doesn't work correctly with ZFS on Linux. However, it does give the impression that it works. See, I was correctly seeing my home volume

[2017-06-19 01:28] #3426 closed

[2017-06-19 04:28] stgraber commented on #3424
@brauner only if you tell it to :)

That's what the PRAGMA statement above does.

[2017-06-19 05:36] laralar commented on #3424
lxd.log.. The problem started with creating zential container which I misspelled the name.

lxc list only shows the previous containers before this happens, none of these ones is shown

The DB seems to be OK, there is nothing to delete.  Maybe the Filesystem?
sqlite> select * from containers ;
1|abdf-runner1||2|0|0|0|1497704398|2017-06-17 13:08:09.223647172+00:00
2|abdf-runner2||2|0|0|0|1497704633

[2017-06-19 05:37] laralar commented on #3424
The storage pools neither got created

root@node8:/var/lib/lxd# btrfs su li .
ID 261 gen 4340 top level 5 path lxd
ID 262 gen 72 top level 261 path storage-pools/default
ID 263 gen 1314 top level 262 path storage-pools/default/containers
ID 264 gen 116 top level 262 path storage-pools/default/snapshots
ID 265 gen 1955 top level 262 path storage-pools/default/images
ID 266 gen 72 top level 262 path

[2017-06-19 05:43] laralar commented on #3424
This command tells there is a violated constraint

root@node8:~# lxc launch ubuntu:x  test
Creating test
error: UNIQUE constraint failed: storage_volumes.storage_pool_id, storage_volumes.name, storage_volumes.type

however there is no such container in the DB

sqlite> select storage_pool_id, name,type from storage_volumes;
2|abdf-runner|0
2|abdf-runner1|0
2|abdf-runner2|0
2|abdf-runner3|0
2|abdf-r

[2017-06-19 05:43] laralar commented on #3424
And the image is there

root@node8:~# lxc image list
+------------+--------------+--------+---------------------------------------------+--------+----------+------------------------------+
|   ALIAS    | FINGERPRINT  | PUBLIC |                 DESCRIPTION                 |  ARCH  |   SIZE   |         UPLOAD DATE          |
+------------+--------------+--------+-------------------------------------

[2017-06-19 06:06] techtonik commented on #2504
How does it work with port forwarding?

1. LXD client opens encrypted channel to host to start container and disconnects
2. container starts, services bootstrap and start listening

Now what? I need to access container port from client. Which command should I execute to get to it?

[2017-06-19 09:17] brauner commented on #3424
@laralar, can you also check that there are not left-over entries in the `storage_volumes_config` table?

[2017-06-19 09:38] laralar commented on #3424
It's empty,

sqlite> select * from storage_volumes_config;
sqlite>

Did the storage configuration got corrupted?

[2017-06-19 09:39] brauner commented on #3424
@laralar, can you please try to delete the image the container is supposed to be created from. I suspect that the image creation actually failed and not the container creation.

[2017-06-19 09:53] laralar commented on #3424
I did before, deletede the image and copied it back from another local server where I have it instead of ubuntu:x

I'm doing it again removing the image (lxc image delete 1e59027d1d58) and (lxc launch ubuntu:x test)..
I'll update in a few minutes (for some reason internet connection from that server is slow.)

There are no traces of the test or half-broken containers in the database
[lxd.db.sql.tx

[2017-06-19 10:19] laralar commented on #3424
This error:
error: UNIQUE constraint failed: storage_volumes.storage_pool_id, storage_volumes.name, storage_volumes.type

Seems to me that it is trying to insert a new storage volume violating the constraint.  The name is not there  (any name fails)

CREATE TABLE storage_volumes (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    storage_p

[2017-06-19 10:48] laralar commented on #3424
Could it be that the problem is related to the way I am importing the image:

lxc image copy devaprasad:1e59027d1d58 local: --copy-aliases
Image copied successfully!

this works fine and it is really fast.

lxc image copy devaprasad:1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d local: --copy-aliases

or

lxc image copy devaprasad:x local: --copy-aliases

Takes forever and I have

[2017-06-19 10:48] laralar commented on #3424
This worked!

root@node8:/var/lib/lxd/images# mv 1e59027d1d58 1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d
root@node8:/var/lib/lxd/images# mv 1e59027d1d58.rootfs 1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d.rootfs

This is how I am copying the images:

lxc image copy devaprasad:1e59027d1d58 local: --copy-aliases
Image copied successfully!

For some reason

l

[2017-06-19 10:51] laralar commented on #3424
so .. the issue was not because of the Ctrl-C.. Ctrl-C and DB integrity were fine
It seems that the issue is with the copy using a short hash name and being inserted in the DB with the full hash, plus being put in the images folder with the short name

Then the container creation assumes that the the checksum that is already in the DB exists, goes and looks for the file, but the file has the short

[2017-06-19 10:56] laralar commented on #3424
and basically I never created any container in this server before, the internet connection is too slow, that is why I had to use an intermediate server.. or maybe I did but using local:1e59027d1d58   This I don't remember

[2017-06-19 11:00] brauner commented on #3424
@albertodonato did you change something here recently and have a clue what's going on?

[2017-06-19 11:24] laralar commented on #3424
root@node8:/var/lib/lxd/images# mv 1e59027d1d58 1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d
root@node8:/var/lib/lxd/images# mv 1e59027d1d58.rootfs 1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d.rootfs

Basically after I copy the container with
lxc image copy devaprasad:1e59027d1d58 local: --copy-aliases

The files are created as 1e59027d1d58  and 1e59027d1d58

[2017-06-19 11:26] laralar commented on #3424
I tried to reproduce in the lxd demo server. but I can't, the file gets the correct name.  I am using 2.14 and the demo server has 2.09 I dont know if that makes a difference

[2017-06-19 11:52] laralar commented on #3424
PS.  I am using a 2.12 server where the image is stored and a 2.14 client where I am importing the image and gets the short file name

[2017-06-19 12:28] laralar commented on #3424
Summary:

I updated to 2.14 the server where I'm storing the image and the issue is still there.  also the client is using 2.14

lxc image copy devaprasad:1e59027d1d58 local: --copy-aliases
ls -la
total 157476
drwx------ 1 root root        62 Jun 19 17:29 .
drwxr-xr-x 1 root root       234 Jun 19 17:29 ..
-rw-r--r-- 1 root root       840 Jun 19 17:28 1e59027d1d58
-rw-r--r-- 1 root root 161251328 J

[2017-06-19 12:29] laralar commented on #3424
sorry for the bold text.. I don't know how It got displayed like that..

[2017-06-19 13:04] brauner commented on #2964
So this is not caused by the `SIGHUP` I can reproduce this without a signal handler for `SIGHUP`.

[2017-06-19 13:46] laralar commented on #3424
OK.. Some new findings. I have an empty host  Ubuntu 16.04 lxd 2.09 rootfs on btrfs

lxd init with dir pool
lxc image copy devaprasad:1e59027d1d58 local: --copy-aliases
1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d
1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d.btrfs
1e59027d1d58873fc7e23f769232cd4846c6d675ea292bc71037fafc1547649d.rootfs

works fine.. the file

[2017-06-19 18:10] #2964 closed

[2017-06-19 20:24] brauner commented on #1258
### Ceph storage driver

#### Preconditions

These are steps that LXD will assume have been taken by the user. LXD will not take care of these since most of them actually require sensitive and often interactive modifications to the underlying system:

- Ceph tools must be installed and functional
- A ceph-deploy user must have been created:
- ceph-deploy must have been installed
- an admin node mu

[2017-06-20 10:57] oquidave commented on #1298
I had to add it there manually for it to work in Ubuntu 16.04 LTS.  This is how my config looks like

[code]

[2017-06-21 07:53] cryptofuture opened #3429 "Overview viability to add casync support to lxd"
http://0pointer.net/blog/casync-a-tool-for-distributing-file-system-images.html
I think, it could replace rsync on directory, also it maybe viable to test it speed vs rsync and btrfs-send and overview viability to include it in lxd.

[2017-06-21 09:07] brauner commented on #3429
That looks like a `systemd` specific binary. I don't necessarily mind using it but we should probably wait how general adoption goes and also it is questionable whether the team can dedicate time implementing this right now. In general, we'd need to discuss whether this is a good fit for us.

[2017-06-21 09:15] vwvol opened #3430 "Cannot start unprivileged nested container"
# Required information

 * Distribution: Debian
 * Distribution version: 9.0
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Cannot start unprivileged container inside unprivileged container.
And I'm not sure is it a misconfiguration or an issue.

# Steps to reproduce
[code]

# Information to attach

- `lxc info` output on host ([host_lxc_info.txt](https://github.com/lxc

[2017-06-21 09:25] laralar commented on #3424
Another issue on lxc image copy

root@node7:/var/lib/lxd# rm -Rf images
root@node7:/var/lib/lxd# lxc image copy node8:7a7ff654cbd8f5f09bec03aa19d8d7d92649127d18659036a963b1ea63f90d25 local: --copy-aliases
Image copied successfully!

And nothing was copied because the images directory was removed.

[2017-06-21 10:57] jkroepke opened #3431 "lxd removes dhcp reversations if container is offline"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.8
   * LXC version: 2.0.7
   * LXD version: 2.14
   * Storage backend in

[2017-06-21 13:11] widder opened #3432 "Options to disable all iptables rules including DHCP and DNS"
Required information

 * Distribution: Ubuntu
 * Distribution version:  16.04
 * The output of "lxc info" or if that fails:
  driver: lxc
  driver_version: 2.0.8
  kernel: Linux
  kernel_architecture: x86_64
  kernel_version: 4.4.0-81-generic
  server: lxd
  server_pid: 12419
  server_version: "2.14"
  storage: zfs
  storage_version: 0.6.5.6-0ubuntu16

# Issue description

One lxd network was crea

[2017-06-21 19:31] stgraber commented on #3429
It may be a valid alternative to rsync, but until it's as widespread and proven as rsync, it's not something we should really rely on. Lets keep this as a maybe for now and revisit in a few years.

[2017-06-21 19:42] stgraber commented on #3431
What do you have in /var/lib/lxd/networks/br1/dnsmasq.leases?

[2017-06-21 19:44] stgraber commented on #3430
Do you have newuidmap and newgidmap in your container?

[2017-06-21 19:46] stgraber commented on #3430
@brauner does that ring a bell?

[2017-06-21 20:09] vwvol commented on #3430
@stgraber yes, I have both of them in my container.

[2017-06-21 20:19] jkroepke commented on #3431
Looks inconstent, containers like irc, nessus or test are deleted.

[code]

[code]

[2017-06-21 21:18] #3432 closed

[2017-06-22 06:51] enzian commented on #670
I'm interested in that too and I'm ready to contribute - I've started writing a CRI shim for LXD which I can publish as soon as there is interest and I've made some more progress! This is not going to be an overnight thing and I'd need help doing this in the long haul. My company is currently backing this as a research project with 10% of my weekly work time.

I would keep the code in a [dedicated

[2017-06-22 07:32] brauner commented on #670
Sorry, wrong button. :)

[2017-06-22 07:39] jkroepke opened #3434 "Make lxd shutdown timeout configuable"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.8
   * LXC version: 2.0.8
   * LXD version: 2.14
   * Storage backend in

[2017-06-22 10:32] widder commented on #3432
Thank you for fixing it. Another problem related to this is the dnsmasq being started for this network. I think it should not start because neither dns nor dhcp is enabled. I hope this is also fixed.

[2017-06-22 11:47] caio1982 commented on #670
Hey Michael, that sounds great! Have you pushed anything to the repo yet so we can take a look at it too and ser how we could contribute?

Cheers

[2017-06-22 17:43] stgraber commented on #3434
Isn't that exactly what "boot.host_shutdown_timeout" is for?

[2017-06-22 17:44] stgraber commented on #3434
(it's a per-container configuration key, you can set it in a profile if you want to apply the same value to a bunch of containers)

[2017-06-22 19:01] donpdonp opened #3436 "lxc file push vs rest api"
lxd has been working very well up to this point. I'm using the REST API to push a file into a container. The daemon I'm writing does a PUSH that is identical to the lxc client file push operation, yet the REST call does not create the target file (return value shows OK) and the lxc command line push creates the file.

[code]
pushing to /tmp/start does nothing
[code]

yet this works

[code]

I've b

[2017-06-22 19:59] jkroepke commented on #3434
Yeah, I know. It's well documented.

[code]

But it doesn't help well on a host reboot.

On a reboot systemd stop the service lxd-containers.servicer which running lxd shutdown.

After 60 seconds the command lxd shutdown will be return a message something like `LXD still running after 60s timeout.` From systemd side the service lxd-containers has been stopped and reboot the host completely. And th

[2017-06-22 20:02] sanderbrandenburg commented on #3405
I think I've encountered the same problem, but in my case there was no route to the first address of environment.addresses in lxc info, resulting in an 'unable to connect' error message.

I've worked around this by setting the core.https_address to a single ip address.

[2017-06-22 20:45] falfaro commented on #2338
I'm hitting this problem, even my btrfs is mounted with the option:

/dev/mapper/vg0-lxd on /var/lib/lxd type btrfs (rw,relatime,ssd,space_cache,user_subvol_rm_allowed,subvolid=5,subvol=/)

[2017-06-22 20:45] falfaro commented on #2338
$ lxc delete --force openstack
rm: cannot remove '/var/lib/lxd/storage-pools/default/containers/openstack/rootfs/var/snap/conjure-up/common/lxd/storage-pools/default/containers/juju-d4fdec-0/rootfs/var/lib/docker/btrfs/subvolumes/83787ab6a3354805a13ea57af0d233d7d361da4e2fc2db2172a77d872d721c69': Operation not permitted
rm: cannot remove '/var/lib/lxd/storage-pools/default/containers/openstack/root

[2017-06-22 21:36] brauner commented on #2338
Can you show `lxc info`?

[2017-06-22 22:47] donpdonp commented on #3436
Finally found the problem, the FilePush was happening immediately after container creation which is working as advertised.... then Alpine finishes booting including clearing out /tmp, making the file disappear. Using another folder is working file.

[2017-06-22 22:47] #3436 closed

[2017-06-23 00:58] falfaro commented on #2338
# lxc info
config:
  core.https_address: 0.0.0.0:8443
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zfs_use_refquota
- storage_lvm_mount_options
- network
-

[2017-06-23 01:00] falfaro commented on #2338
And I can wipe the subvolumes from outside the LXC container with this command:

# btrfs subvolume delete /var/lib/lxd/storage-pools/default/containers/kubernetes/rootfs/var/snap/conjure-up/common/lxd/storage-pools/default/containers/*/rootfs/var/lib/docker/btrfs/subvolumes/*

Then, I can delete the LXC container:

# lxc delete kubernetes

[2017-06-23 04:14] stgraber commented on #2338
If you still have such a broken container, can you post "btrfs subvolume list /var/lib/lxd/storage-pools/default/" prior to any attempt at deleting it?

That should give us enough information to reproduce this if it's a "simple" issue of subvolume ordering or subvolume detection.

[2017-06-23 04:16] stgraber commented on #3405
The way LXD transfers images is by having the DESTINATION connect to the SOURCE.

In this case, LXD identified "10.0.2.15" as the source server IP address (your local LXD) and so the remote (192.168.33.9) is attempting to connect to it to fetch the image.

Now if 10.0.2.15 as seen from 192.168.33.9 is another machine, that would explain the certificate mismatch.

[2017-06-23 06:12] enzian commented on #670
@caio1982: not yet but somewhere in the next two weeks - currently in a fight with golangs vendoring system...

[2017-06-23 07:16] enzian commented on #670
Well - why delay this: I checked in the initial project structure which is loosely based on what the [rktlet guys](https://github.com/kubernetes-incubator/rktlet) created. Suggestions, ideas and mostly help dearly welcome! :-)

[2017-06-23 08:37] sanderbrandenburg commented on #3405
The DESTINATION assumes that the first advertised address of environment.addresses is the way to access the SOURCE (or maybe via the certificate, I do not know). When core.https_address is INADDRY_ANY and SOURCE only has one ip address, this is correct.

However, if SOURCE has multiple ip addresses you can only assume this is correct when DESTINATION can reach SOURCE over all those ip addresses (o

[2017-06-23 10:00] renky opened #3437 "Issue with ZFS unmounts when LXD is inside a mount namespace (snap)"
After several tests with the debian strech testing in the last weeks i have now switched over to newest debian stable (complete reinstall). Installed zfs-dkms and lxd (snap).
Difference to my older tests: instead of lxdbr0 I'm using br0 now (set up directly in the host, to reach all vms directly from network) -> that all works fine!! after my last issue (zfs-mountpoint of dataset had to be set to

[2017-06-23 15:17] soliverr commented on #3397
Cool. It helps me too!
I saw warning in output of command in my Ubuntu 16.04:
[code]
But I was wrong with command:

[code]

It turns out, it needs to set SGID too. Now I still got warning in lxc-checkconfig, but unprivileged containers all gets up!

Thank you!

[2017-06-23 16:16] falfaro commented on #2338
I've reconstructed my container (I have it automated with Ansible, so can recreate it as many times as needed). Here's the output you requested:

<pre><div>
ID 1238 gen 33863 top level 5 path storage-pools/default/containers/kubernetes/rootfs/var/snap/conjure-up/common/lxd/storage-pools/default/containers/juju-b89057-0/rootfs/var/lib/docker/btrfs/subvolumes/6657ea76babe687fbfb2ea256e9eae3bea966ed7

[2017-06-23 17:59] brauner commented on #2338
@falfaro, can you try and reproduce this behavior with LXD 2.14?

[2017-06-23 17:59] stgraber commented on #3405
Yeah, I have improvements in my latest branch that should fix all that. The new CopyImage function in the new client library will always iterate over all the source addresses as well as the address that's listed for the remote (starting with that one actually), the error on the client will then include the result for each address should they all fail.

[2017-06-23 18:00] stgraber commented on #2338
@brauner I looked at our changelog and I didn't see anything related to recursive btrfs deletion since 2.12, anything specific you have in mind?

[2017-06-23 18:04] stgraber commented on #3437
Smells to me like a case of zfs being confused by mount namespaces...

Next time this happens, can you post:
 - cat /proc/self/mountinfo
 - cat /proc/$(pidof lxd)/mountinfo
 - ls -lh /var/snap/lxd/common/lxd/containers/c000331975/
 - ls -lh /proc/$(pidof lxd)/root/var/snap/lxd/common/lxd/containers/c000331975/

[2017-06-23 18:05] stgraber commented on #3437
that should let you compare what the snap sees with what's on the host.

[2017-06-23 18:09] brauner commented on #2338
@stgraber, I wonder whether this is a LXD that didn't handle the case when `/var/lib/lxd` is placed on a btrfs fs already. In that case it would e.g. have created a btrfs loop pool and it might actually not have mounted it with `user_subvol_rm_allowed` contrary to the `/var/lib/lxd` subvolume.

@lfaraone, can you show: `lxc storage show default`?

[2017-06-23 18:14] brauner commented on #3371
Tentatively closed by https://github.com/lxc/lxc/pull/1618 .

[2017-06-23 18:14] #3371 closed

[2017-06-23 18:16] jfgibbins opened #3438 "unable to start container named ca"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 17.04
 * The output of "lxc info" or if that fails:
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- co

[2017-06-23 18:19] brauner commented on #3438
Can you try and reproduce with `2.14`?

[2017-06-23 18:20] tchwpkgorg opened #3439 "raw.idmap: container fails to start with a simple mapping"
[code]

[code]

In container config, I have:

[code]

Unfortunately it fails to start with:

[code]

Repeated attempt shows a slightly different error:

[code]

Not sure how to debug this.

[2017-06-23 18:21] brauner commented on #3439
You need to add

lxd:1000:1
root:1000:1

into `/etc/subuid` and `/etc/subgid` for this to work.

[2017-06-23 18:22] stgraber commented on #3438
Marking as incomplete as the report doesn't show any actual error or failure in any of the provided logs or output.

[2017-06-23 18:24] stgraber commented on #3439
See https://stgraber.org/2017/06/15/custom-user-mappings-in-lxd-containers/ for more details on how to get this done.

[2017-06-23 18:24] #3439 closed

[2017-06-23 18:30] jfgibbins commented on #3438
thank brauner, I spun up 2.14 on a test box, ca creates fine on it,and not sure what changed between the versions or caused just ca to not function.   I'll have to update prod, and sorry stgraber, lack of error messages in log, because process never completed.  running lxc start ca never finished or produced anything, and provided all I knew how to find, any other suggestions on debugging/logging

[2017-06-23 18:42] lfaraone commented on #2338
@brauner: wrong person? I'm a huge fan of LXD, but I use it on ZFS :)

[2017-06-23 18:49] stgraber commented on #2338
haha, yeah, he probably meant @falfaro

[2017-06-23 18:50] jfgibbins opened #3440 "Improve support for OVS based nic devices"
Currently using lxd with openvswitch, and for the most part is a piece of cake.  Nice job!  However, as far as I can tell, I only have two options.  If parent is an access port, ie ovs-vsctl add-br mainbridge subbridge 400, the nic gets an untagged vlan, as expected, as conversely if parent is a trunk, ie ovs-vsctl add-br bridge, I get an trunk with all vlans.  I would like to be able to get only

[2017-06-23 18:51] stgraber commented on #3438
Ah, so it's a hang at startup. That could be our favorite lxc-monitord bug at play.

Can you reproduce this issue reliably or is intermittent? If the latter, it's most likely the monitord isuse. You can unstick "lxc start" in such cases by running "pkill -9 lxc-monitord".

The next LXC release should have this resolved by having us remove the dependency on the monitord code entirely.

[2017-06-23 18:57] jfgibbins commented on #3438
Like 99% of the time.  That's what was messing me up.  I thought I was screwing up with my terraform implementation, cause on rare occasion it would work.  But then I dropped to just the basic lxc launch etc, and it failed pretty much every time I tested it, hence why I went to adding as issue. Racked my brain last night screwing with this and terraform.  Even recompiled terraform lxd-provider fro

[2017-06-23 23:56] stgraber commented on #3438
Ok, going to close this issue based on the assumption that it's triggering the lxc-monitord issue, this issue was fixed in github.com/lxc/lxc already and the fix will be in the next liblxc release.

[2017-06-23 23:56] #3438 closed

[2017-06-24 00:01] stgraber commented on #3440
Sounds like we've been hitting a number of limitations related to liblxc's somewhat limited OVS support.
It may be time for me to look at doing the OVS integration directly in LXD itself and just tell LXC what device to use in such case.

[2017-06-24 00:16] jfgibbins commented on #3440
Sounds great.  I've been using LXD and OVS together quite a bit, and exploring ways to expand it.  Needless to say I've bounced around the limitations a few different ways.  Hit me up if you'd like any ideas, and especially if you want some testing around ovs.

[2017-06-24 02:18] tchwpkgorg commented on #3439
Thanks.

@brauner - could you explain why it's:

```root:1000:1```

And not for example:

```root:1000:5```

or:

```root:1000:1000```

?

[2017-06-24 02:22] stgraber commented on #3439
- "root:1000:1" means: Allow the "root" user to map 1 uid starting at uid 1000 (so just 1000)
 - "root:1000:5" means: Allow the "root" user to map 5 uids starting at uid 1000 (so 1000 to 1004)
 - "root:1000:1000" means: Allow the "root" user to map 1000 uids starting at uid 1000 (so 1000 to 1999)

They will all work, but it's usually recommended to be specific.

[2017-06-24 04:20] bitscher opened #3441 "lxc closing file descriptors on the host"
* Distribution: Ubuntu
 * Distribution version: Zesty
 * The output of "lxc info" or if that fails: [lxcinfo.txt](https://github.com/lxc/lxd/files/1099423/lxcinfo.txt)
   * Kernel version: 4.10.0-24
   * LXC version: 2.14
   * LXD version: 2.14

# Issue description
When calling `lxc exec` from inside a loop reading from a redirected file, lxc seems to break my file descriptor and the file can't be

[2017-06-24 04:26] stgraber commented on #3441
That's normal behavior for tools like "lxc exec" which do connect your stdin to the remote server.
You'll observe the exact same behavior from ssh.

We even support the same arguments that ssh does "-n" which will instruct "lxc exec" not to connect stdin to the remote container.

[code]

[2017-06-24 04:26] #3441 closed

[2017-06-24 04:38] bitscher commented on #3441
Oh right, that was a stupid mistake... Thank you

[2017-06-24 05:32] brauner commented on #3440
Could also be nice to have liblxc itself support this in a little more depth. The code is already there.

[2017-06-24 08:55] laralar opened #3442 "Installing samba on ZFS inside container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version:4.4.0-81-generic
   * LXC version:2.14
   * LXD version:2.14
   * Storage backend in use:zfs

# Issue description

I'm trying to install SAMBA on a ZFS container. for that I executed the following command
'zfs set acltype=posixacl vol0/lxd/containers/zent

[2017-06-24 09:00] laralar commented on #3424
Same issue happens to me when copying/moving a container from another server after a fresh installation.  It seems that in some cases, lxd init doesn't create containers and images directory.  It is not that I deleted them on purpose.  But no information is given.

When copying a container though, an error is given.  when copying an image no error is giving, but instead you get the previous succes

[2017-06-24 13:57] huegelc opened #3443 "Backup LXD container"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Xenial
 * Distribution version:
 * The output of "lxc info" or if that fails:

[code]
   * Storage backend in use:
btrfs
# Issue description

I have two identical LXD servers runni

[2017-06-24 14:15] stgraber commented on #3443
https://github.com/lxc/lxd/blob/master/doc/backup.md

[2017-06-24 14:15] #3443 closed

[2017-06-24 15:59] jfgibbins opened #3444 "memory swap limit"
Unless I'm mistaken, at some point in LXC, there was the ability to set a limit to amount of swap exposed to a container as exampled below.  If that is still available, is it possible to expose that to LXD as well, with a configuration that either specifies amount of swap, or as I believe LXC did it, mem+swap.

    # Memory limits
    lxc.cgroup.memory.limit_in_bytes = 2G
    lxc.cgroup.memory.mem

[2017-06-24 16:43] davidfavor commented on #2534
Conjohnsonjohnson wrote:

Rather than answering your questions individually...

http://links.davidfavor.com/wf/click?upn=npdP0-2FMHcGNgMeleDP-2B5CwDT8yGN7SPfWqbXTvyBZ-2Bok79XNVC27qhCKP5ZEg9iC_s5UH8bhnBaopYjthcNSRcaC8fv1GYJ42u9dW4Ymps68fQF2Bwu68aaBpwvP0gTDdFOPj1wREGu0weJoJOtBs0DojgwEcKC3qXEKGq3tJBtD-2FKlv05s-2FnWFtQ47rf1ZMG4XKLl5fVSOCAb96N8k89x5zCtrYw7RnR8a-2FQ1FES8v-2Br5N-2BCc82g1i0r2GexAWLjKqi-2B

[2017-06-24 21:52] nrsekhar opened #3445 "LXD 2.14 collectd crash with tomcat GenericJMX Plugin"
Hi ,

I am facing issue with lxd 2.14 in ubuntu16.04 .
issue:  collectd deamon crashing if i use tomcat Generic JMX plugin, same configuration is working on 2.13,
do we have any information about why its failing??

{and i want to revert to 2.13 , is it possible ?? how can we go back to 2.13 version ?}

Logs : i am not getting much logs in syslog but service status giving me below message.

● colle

[2017-06-24 22:57] wagoodman opened #3446 "lxc file push -r of CWD results in incorrect file names"
# Required information

 * Distribution: Ubuntu 16.04
 * Kernel version: 4.4.0-79-generic
 * LXC version: 2.14
 * LXD version: 2.14
 * Storage backend in use: dir

# Issue description
When you attempt to run `lxc file push -rp ./ CONTAINER/dest` all of the filenames at `/dest` within the container are missing characters at the front of all files and dirs. For instance, a ls of the current working

[2017-06-25 17:08] killua-eu opened #3448 "doc/lxd-ssl-authentication.md unclear"
**This is a documentation ticket.** I noticed that the docs on "LXD REST API's security done right" is a bit sparse, spread over multiple files and still requiring to delve deep to understand its possibilities and caveats. Assuming a server with lxd called **mightyserv** and a devs notebook with lxd called **devnb** and a setup along the following:

[code]

i found it hard(er) to find info on the

[2017-06-25 18:06] stgraber commented on #3448
1) The first time you add or interact with a remote server
2) Remove them and new ones will be generated on next connection (obviously they won't be trusted)
3) In the database (certificates table)
4) "lxc config trust remove FINGERPRINT"
5) "lxc config trust list"
6) No real reason why LXD can't be exposed to the internet. Especially if no trust password is set, then there's no risk of even brute

[2017-06-25 18:06] stgraber commented on #3448
lxd-ssl-authentication.md would probably benefit from being converted into a more general security.md document. Improving our docs and having them included in our website is part of our planned work for the coming months.

[2017-06-25 18:17] killua-eu commented on #3448
Thanks for the swift answers @stgraber, they made everything crystal clear to me. Feel free to close the ticket or keep it around opened if it has any meaning for the planned documentation work. Also thanks for the great work on lxd, I really appreciate.

[2017-06-26 02:36] stgraber commented on #3442
You may want to also set "xattr" to "sa" on your ZFS filesystem but I'm not sure if that's the cause of the problem here.

Any chance you can re-run just the failing command to reproduce the crash and if that works, then run it under strace to see exactly what syscall failed?

[2017-06-26 02:37] stgraber commented on #3442
I do run 6 samba4 domain controllers inside unprivileged LXD containers on ZFS, but those aren't deployed with zentyal, instead just directly installed on Ubuntu 14.04 or 16.04 and all my ZFS pools have acltype=posixacl and xattr=sa

[2017-06-26 02:41] stgraber commented on #3445
Downgrade from 2.14 to 2.13 isn't possible due to a database change. Going through the changelog I'm not seeing anything which would affect any running workload though.

[2017-06-26 02:44] stgraber commented on #3445
Could it be that this issue appeared after you upgraded your kernel to 4.4.0-81 for the recent security issue? If so, there is a known regression in that security issue fix which may explain the crash.

[2017-06-26 02:45] stgraber commented on #3445
(it's really a wild guess as the crash above doesn't clearly point at a particular issue, but crashes after the container is started typically can't be a LXD issue)

[2017-06-26 02:48] stgraber commented on #3444
Those knobs are still directly available, yes. Though the way they work can be somewhat confusing (and somehow changes reasonably often) so we've so far decided not to expose them directly, only allowing to enable or disable the use of swap.

So in your case, I'd say just use the "raw.lxc" config key to directly set those keys, in the case above:

[code]

Followed by a restart of the container sho

[2017-06-26 02:56] stgraber commented on #3424
I'll take a look at this. I suspect things will be quite different now with the new client library we just landed, but still want to check what happened in 2.14.

As for the earlier comment. The demo server actually does run LXD 2.14, don't believe what "dpkg -l" tells you on it, use "lxd --version" instead as we build our own binaries that are then put over the ones coming from the package :)

[2017-06-26 02:58] stgraber commented on #3434
So given how shutdown works, I "think" it should be safe to just not have any timeout by default for "lxd shutdown", which would then have it wait until LXD is actually done. Ultimately systemd will still have its own timeout that may mess with things, but that's outside of our control as far as LXD itself is concerned.

[2017-06-26 03:02] stgraber commented on #3425
You're welcome to script around "lxc exec" and the various "lxc file" commands. There is however no way in LXD to have it run the equivalent of a DockerFile. Most people will use their own deployment tools for such things, be it Ansible, Puppet, ...

To roll your own thing from a clean host, you could:
 - Use "lxd init --preseed" to setup the LXD daemon itself
 - Use "lxc init" rather than "lxc la

[2017-06-26 03:02] stgraber commented on #3425
The yaml that's valid for "lxc config edit" is the same you'd see when doing "lxc config show" against an existing container.

[2017-06-26 03:20] stgraber commented on #3405
Closing this now as my branch was merged and includes the new logic I described above.

[2017-06-26 03:20] #3405 closed

[2017-06-26 03:23] stgraber commented on #3403
Hi,

Does that still happen after you restart the container?

Can you include the output of:
 - lxc config show --expanded host1
 - ls -lah /var/lib/lxd/devices/host1/
 - cat /proc/self/mountinfo
 - lxc exec host1 -- cat /proc/self/mountinfo

[2017-06-26 03:25] stgraber commented on #3389
@brauner can you work on this before any of the ceph stuff? Bonus points if we can have it land in time for LXD 2.15 (Tuesday) as we'd then be able to better explain the whole storage volume story.

[2017-06-26 03:27] stgraber commented on #3335
To make this possible, we'd need to support the creation of symlinks in the file API. Right now the only types support are directory or file, symlink would be its own separate type with the content being the target.

[2017-06-26 03:28] stgraber commented on #3327
Closing as the core of the issue above was ".lxc" vs ".lxd".

[2017-06-26 03:28] #3327 closed

[2017-06-26 03:35] stgraber commented on #3317
The http client is re-used but I very much doubt that the bottleneck is with the HTTP side of things. Instead I'd expect the fact that we need to spawn a task and attach to the container's namespace for every file you're sending to be where the bottleneck is :)

All the "file" commands are certainly very convenient but they are also very expensive due to LXD having to spawn a subprocess for each o

[2017-06-26 03:35] #3317 closed

[2017-06-26 03:41] stgraber commented on #3121
Sorry it took me so long to circle back to this bug. I'll attempt to reproduce it with a clean Centos 6 and Centos 7 containers on LXD 2.0.9. If I can't reproduce it, the only real assumption I'd be left with is that something in your custom image is unmounting the bind-mount.

I know systemd has been known to do such things in a limited number of cases, though I've never seen it myself. Looking a

[2017-06-26 03:45] qq690388648 commented on #3121
ok, thanks for your patience!!!

[2017-06-26 04:58] stgraber commented on #3121
So I just tried with LXD 2.0.10 on Ubuntu 16.04 using the "dir" backend, so similar setup as the reporter.
I then did:
 - lxc launch images:centos/6 centos6
 - lxc launch images:centos/7 centos7
 - lxc config device add centos6 vda unix-block path=/dev/vda
 - lxc config device add centos7 vda unix-block path=/dev/vda

This gave me:
[code]

And just to confirm we get the same when we have the bind-

[2017-06-26 04:58] #3121 closed

[2017-06-26 04:59] stgraber commented on #3121
Note that I had to use /dev/vda above since I was testing with a VM with only /dev/vda available as block storage.

[2017-06-26 05:59] jkroepke commented on #3434
And can be simply configured.
https://www.freedesktop.org/software/systemd/man/systemd.service.html#TimeoutStopSec=

In Ubuntu its by default 90s. Maybe you should be notice somewhere in the documentation.

[2017-06-26 06:18] stgraber commented on #3157
Closing this at least until we have some kind of reproducer we can use to track this down.

[2017-06-26 06:18] #3157 closed

[2017-06-26 06:18] #3195 closed

[2017-06-26 06:19] #3271 closed

[2017-06-26 06:19] #3310 closed

[2017-06-26 06:23] stgraber commented on #3314
Ok, so that's clearly not something that LXD itself is doing. It's a weird interaction between ZFS, mount namespaces and the hidden (and usually not recommended), ".zfs" trick to access snapshots of a ZFS filesystem.

I'm not familiar enough with ZFS internals to know how that stuff works, but it smells like they're dynamically creating mount entries when accessing the snapshots, autofs-style and

[2017-06-26 06:23] #3314 closed

[2017-06-26 06:28] stgraber commented on #3430
Can you paste (all from inside the container):
 - lxc config show --expanded c1
 - ls -lh $(which newuidmap)
 - ls -lh $(which newgidmap)

[2017-06-26 06:46] vwvol commented on #3430
Sure
[code]

[code]

[code]

[2017-06-26 08:53] davereiner commented on #3163
Sorry for the long delay @stgraber since then we changed from ZFS to LVM, however the problem remains. What I noticed is that the VM seems to be stuck with very high `si` (system interrupts) numbers when looking at `top` and that there are a lot of `kworker` and `ksoftirqd` processes running and doing _something_.
1) systemctl restart lxd does not help
2) we tried with both limits and without limi

[2017-06-26 09:06] erickeller commented on #3405
thank you all for the quick response time and improvements...
@stgraber does it mean it is available from the ppa?

[2017-06-26 09:12] albertodonato commented on #3424
I can confirm the issue copying images between two LXD servers using the short hash (the files get created with the short hash as name and never get removed).

Also, if the `images/` directory is removed while lxd is running, following image copy don't error.

Both issues are no longer present in current master.

[2017-06-26 09:18] brauner commented on #3424
Cool, if it is fixed in master we can close this since `2.15` will be released soon.

[2017-06-26 09:25] brauner commented on #3430
If you have the script `lxc-checkconfig` available can you run it an paste the output, please?

[2017-06-26 09:32] brauner commented on #3430
The crux of the problem is

[code]
which indicates that you kernel a) does support `CLONE_NEWUSER` but disallows it. This can either be a sysctl on a standard kernel or it can be caused by using the `grsecurity` patchset which also allows administrators to disallow  `CLONE_NEWUSER`. In any case I suspect this is neither `LXD` nor `liblxc`s fault.

Since you're running `Debian 9` it seems `CLONE_NE

[2017-06-26 09:50] techtonik commented on #3317
1. Where does this happen?
2. Why a subprocess is required for each file?

[2017-06-26 11:21] despens commented on #3327
Is there a place where I could ask about some details about LXC/LXD? For example, the ppa `ubuntu-lxc/lxd-git-master` does contain LXD and LXD version 2.14, and lots of documentation I found leaves out the version information.

Any recommendation—IRC channel, forum, …—would be greatly appreciated!

[2017-06-26 12:46] brauner commented on #3327
@despens sure. I think for any non-technical issues the best place nowadays is https://discuss.linuxcontainers.org/ where we maintain a support forum. :)

[2017-06-26 13:41] vwvol commented on #3430
Enabling of `CLONE_NEWUSER` has helped.
Thanks a lot!

[2017-06-26 13:41] #3430 closed

[2017-06-26 13:42] brauner commented on #3430
@vwvol, sure no problem. :)

[2017-06-26 14:03] jfgibbins commented on #3444
Thanks, somehow my brain never quite registered that everything from lxc could still be mapped through raw.  I had been using it a lot for lxc.id_map, but guess never made the jump.  Perhaps, a bit more to the documentation, to call out that feature, as it can do so much, maybe some additional examples like you just gave, in addition to the ones that are there for the id_map.
On a side note, why w

[2017-06-26 14:44] jfgibbins opened #3450 "Permission of created directories during file push"
lxc file push -p --uid=999 --gid=999 --mode=400 /home/jfgibbins/htpc/files/puppet.key puppet/etc/puppetlabs/puppetserver/ssh/id-control_repo.rsa

results:
file: -r-------- 1 pe-puppet pe-puppet 3243 Jun 26 10:35 id-control_repo.rsa  -- perfect
parent: dr--------  2 pe-puppet pe-puppet    3 Jun 26 10:33 ssh/  -- not so good

As it would be impossible to tell intended owner of parent directories, I

[2017-06-26 15:05] jfgibbins opened #3451 "Allow specifying the start of an isolated range (security.isolated.start)"
Last time I worked on this issue, was over a year ago, when the documentation wasn't quite as friendly.  Nice job guys on improving it.  It's allowing us to use all those great features you've added.  But one issue I could never get to work nicely, was initial creation of container with different ids.  My first go around, I would use a script, to sed the subuid/gid file to a new initial value, res

[2017-06-26 16:53] nrsekhar commented on #3445
Hi Stephen,
Thanks for Quick response ,
I able to figure out the issue, yes its recent security issue in  4.4.0-81.
[Started Collectd JMX plugin with Stack size    **JVMArg "-Xss1280k"** ]
And one more , shall we have old repo packages for minor releases 2.13 ???

[2017-06-26 17:05] stgraber commented on #3445
You can grab the older LXD builds from Launchpad if you want to. But we won't support them and as I mentioned earlier, LXD will not let you downgrade. So you'd have to wipe your /var/lib/lxd clean and start from scratch.

That's because LXD stores most of its config data in its database and then the rest on the filesystem. The database schema does change from time to time which prevents downgrade

[2017-06-26 17:05] #3445 closed

[2017-06-26 18:47] stgraber commented on #3430
Just pushed a change to our snap package to do that by default on Debian systems (looks like LXD wasn't installed from the snap package here, but figured it'd help some other users at least).

[2017-06-26 18:49] stgraber commented on #3317
That all happens on the daemon side. A subprocess is needed because of the setns calls and since there is no bulk file transfer in the API, every file creation that's requested means a separate call to the API.

HTTP pipelining or similar tricks would just let you get more requests into the API endpoints but wouldn't change the way things are handled after that, which is where the bottleneck actua

[2017-06-26 18:50] stgraber commented on #3424
I'm re-opening because the new client library doesn't explain why the server side of this issue would have been resolved. Yes, current git master won't trivially reproduce this because our client is now smarter, but it sounds like the backend may still be broken.

[2017-06-26 18:50] stgraber commented on #3424
Anyway, I'll take a look into this myself.

[2017-06-26 18:51] stgraber commented on #3405
@erickeller nope, it will be in the next LXD release (2.15) which is currently scheduled for late tomorrow.

[2017-06-26 18:51] stgraber commented on #3405
So it may be a couple of days before this hits the PPA as we need to put out the release, have it uploaded to Ubuntu dev release, then wait for CI to confirm it's good at which point the PPA will auto-update.

[2017-06-26 18:55] stgraber commented on #3163
That's very weird, also is likely to be workload specific as we've not heard anyone else running into such issues. Next time you run into this, I'd recommend you file a bug against the Linux kernel with your distribution. If Ubuntu, you can do so here: https://launchpad.net/ubuntu/+source/linux/+filebug

Then post the link here and I'll make sure we're subscribed so we can provide some additional

[2017-06-26 19:02] stgraber commented on #3444
Well, it's not exactly a feature we like to call out as it can interfere with the keys that LXD sets itself and cause some situations that are really annoying to debug :)

We do look at what people use raw.lxc for an where it makes sense, implement a nice high level feature in LXD instead. That's what happened with lxc.id_map which now turned into security.idmap.isolated, security.idmap.size and r

[2017-06-26 19:02] #3444 closed

[2017-06-26 20:13] stgraber commented on #3451
If all you want is LXD to map 1800 uids/gids starting at uid/gid 200, you can do so with:

[code]

[2017-06-26 20:44] dnegreira commented on #3404
Hi, I am currently working on this issue, I hope to be able to test and do a PR soon.

[2017-06-26 20:45] jfgibbins commented on #3451
Actually quite the opposite.  Creating the holes works no problem.  The above is a bit simplified for the map, but I map all kinds of UIDs between host and guest.  What I want, is when the container is created, for the UIDs, mainly 0-200 in the container, to be created starting with a different definable value, rather than just the number that is listed first under /etc/subuid.  As you know, the c

[2017-06-26 20:48] stgraber commented on #3451
Ok, so the above shows you mapping only up to uid/gid 2000, this makes the container POSIX incompatible and the lack of uid/gid 65534 may be a problem.

Anyway, to do what you're doing above but through LXD, you'd set:
[code]

[2017-06-26 20:52] stgraber commented on #3451
[code]

[2017-06-26 20:59] jfgibbins commented on #3451
I am mapping a whole range of 65536, as shown in the first post, so staying posix compatible.  I'm wanting the feature of isolated, but I want to statically pick the unique values are for each container, rather than just getting the next allocation.  I will probably switch to idmap, as the id_map is a hold over from before idmap existed.

[2017-06-26 21:01] jfgibbins commented on #3451
FYI, the reason, as you may have seen in the first post, is I create users "container1-root:100000:100000" "container2:100200:100200" etc to match so that I get container and service names showing on the host and can see exactly which container, service, uid, etc is doing without having to track it down.  Hope that makes more sense.

[2017-06-26 21:16] stgraber commented on #3451
Ah right, so yeah, someone who wants to do the same you do but without the need to pick the specific range, could use security.idmap.size=65536 and the rest of what I showed above.

In your case, it sounds like you're indeed stuck with manually setting up the maps.
That or you could have LXD do it for you, then extract the map from "lxc config get c1 volatile.idmap.base" and update subuid/subgid t

[2017-06-26 21:25] jfgibbins commented on #3451
Not sure how LXD would do it for me.  If I do a lxc init with isolated, it'll pick the next range, and I can pull the config to see what it used, but if I recreate the same container, it'll most likely pick a different range the next time.  Would a security.idmap.start be possible, so that we could set where we want the range to begin in addition to how many ids we want?

[2017-06-26 21:29] stgraber commented on #3451
It should be possible, yes. Obviously that'd let you stamp over an existing container as that'd bypass the code that checks for non-overlapping ranges.

[2017-06-26 21:30] jfgibbins commented on #3451
I'm cool with that.  Thanks.

[2017-06-26 22:02] stgraber commented on #3424
Confirmed that the new client will report an error on copy if you destroy images/:
[code]

[2017-06-26 22:21] stgraber commented on #3424
Reproduced the short hash issue on current LXD. Working on a fix for it now.

[2017-06-26 22:25] zerkms commented on #3391
I'm also missing pre-start/post-stop hooks in lxd: I use those in lxc to add a route to the container, so that it was visible from the local network.

[2017-06-27 00:24] #3424 closed

[2017-06-27 01:44] tkedwards commented on #3335
I was thinking more that symlinks should be created inside the container, rather than the contents copied over. It'd be a bit of a change in behaviour to what most people expect - e.g. tools like cp or rsync don't copy the contents of symlinks but instead copy the symlink to the target. If the symlink's not valid any more on the target that's up to the user to decide to ignore or fix, not cp or rs

[2017-06-27 01:46] tkedwards commented on #3335
(well technically cp and rsync can copy symlinks as the contents, but you have to explicitly specify that with -L or whatever the option is, it's not the default)

[2017-06-27 01:47] stgraber commented on #3335
That's what I meant. When I said "the content being the target" I mean, the content of the HTTP request would be the target path as a string.

[2017-06-27 01:50] stgraber commented on #3335
[code]

That would create a symlink at /tmp/a which points to /tmp/b

[2017-06-27 01:51] tkedwards commented on #3335
ok, understood. I didn't realise the lxc file stuff was implemented as HTTP requests, I assumed it was file system operations, but makes sense

[2017-06-27 01:54] stgraber commented on #3335
All communications between the client tool and LXD are done as HTTP requests using our REST API.

[2017-06-27 04:10] stgraber commented on #3159
So since this was first reported, we've reproduced a number of similar hangs due to the lxc-monitord process. A fix for this has been merged in liblxc which effectively drops the use of lxc-monitord for normal operations. This fix will be in the next LXC stable release.

As the liblxc issue matches this report perfectly, I'm going to close this issue.

If you do see this happen again, can you plea

[2017-06-27 04:10] #3159 closed

[2017-06-27 06:56] nrsekhar commented on #3445
Thank you for info   :+1  :)

[2017-06-27 10:27] nnovikov opened #3456 "volume group is not empty"
The template below is mostly useful for bug reports and support questions.
Feel free to remove anything which doesn't apply to you and add more information where it makes sense.

# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2 LTS
 * The output of "lxc info" or if that fails:
% lxc info
config:
  core.https_address: '[::]'
  core.trust_password: true
api_extensions

[2017-06-27 10:28] brauner commented on #3456
Can you show `vgdisplay vg0`?

[2017-06-27 10:56] AceSlash commented on #3437
I have the same issue with a container named "pasiphae", I did your commands so here is the result:
[code]
You'll notice that there are no result to the command `cat /proc/$(pidof lxd)/mountinfo|grep pasiphae`.

Also additional info about my env:
[code]

And of course the original error:
[code]

[2017-06-27 11:36] nnovikov commented on #3456
[code]
[code]

[2017-06-27 12:14] ApertureSecurity commented on #2984
Any chance of LXD supporting CentOs better? I ask because CentOs is the defacto install  for so many Enterprise environments. I don't mind there being more packages to install or something. Just a cleaner install with all the features working would be nice. The one that I see is a hack....

[2017-06-27 12:23] brauner commented on #3456
Yeah, so `LXD` will not use any volume groups that have existing logical volumes in them. This is a safety measure. `LXD` will assume it has full control over the pool and it might tear it down when you delete the pool via `LXD`. If you want to use an existing VG you need to give `LXD` an empty one. This should also be documented in the storage documentation in this repo.

[2017-06-27 12:30] techtonik commented on #3317
So the solution is to implement `-r` type endpoint on the server side, which will do `for` loop on the input to create multiple files in single thread that already passed through `setns` call, right?

[2017-06-27 12:38] AceSlash commented on #3437
Rebooted the host and reran all commands:
[code]
If I try to reboot any container, the issue arise immediately.

In the meantime, do you have any way to get back the correct mount points so we can use a container after its restart? Currently I don't see any solution beside rebooting the host...

[2017-06-27 12:39] nnovikov commented on #3456
It's bad. Why you don't want use full control of thinpool instead of volume group? For creating new volume group I need additional physical volume. It's very hard to add on already configured server.

[2017-06-27 12:41] brauner commented on #3456
If you have a volume group that only has a thinpool in it then you can pass the name of the volume group and the name of the thinpool to `LXD` and it will use it. It will however, still refuse it if there's any other logical volume besides the thinpool in the volume group.

[2017-06-27 13:02] renky commented on #3437
For me the zfs unmount of the containers dataset worked to get it running again...

Am 27. Juni 2017 14:38:23 MESZ schrieb AceSlash <notifications@github.com>:

[2017-06-27 13:47] kattunga commented on #3327
I have exactly the same problem using Ubuntu 16.04 Server and LXD 2.14.

I'm using a custom lxd domain called lxd-02

Bridge configuration:
[code]
I instaled dnsmasq on host
added `/etc/dnsmasq.d/lxd-02`
[code]

lxc list:
[code]

/var/lib/lxd/networks/lxdbr0/dnsmasq.hosts
[code]

/var/lib/lxd/networks/lxdbr0/dnsmasq.leases
[code]

Querying `dig ldap.lxd-02` leads no results.
Querying `dig @10.123.

[2017-06-27 14:54] ice-8 commented on #3456
I'm agree with nnovikov, I'd like to provide a thinpool to lxd, even in group with other logical volumes, but not the whole volume group.

[2017-06-27 16:59] nnovikov commented on #3456
This makes lvm backend useless for me. This is very sad.

[2017-06-27 17:01] brauner commented on #3456
So your exact use-case is an already existing volume group with a pre-existing thinpool and some other logical volumes?

[2017-06-27 17:17] brauner commented on #3456
I sent a PR that allows you to use an already existing non-empty volume groups iff the requested thinpool does already exist. If it does not exist we'd need to start guessing sizes which is not something we want to do.

[2017-06-27 17:54] nnovikov commented on #3456
Yes, pre-existing thinpool is a good solution. Guessing sizes is not required. I think in this case you must stop creating storage with error message..

[2017-06-27 18:47] #3389 closed

[2017-06-27 19:04] #3456 closed

[2017-06-27 20:12] #3434 closed

[2017-06-27 21:04] #3446 closed

[2017-06-28 04:29] #3425 closed

[2017-06-28 07:30] #3451 closed

[2017-06-28 09:52] laralar commented on #3442
xattr=sa did some progress..

I was able to look into the log file and it seems to crash with th following command, i executed it on the shell and got the same output as in the log files

root@zentyal:/var/log/zentyal# samba-tool domain provision  --domain='aibl' --realm='AIBL.NET' --dns-backend=BIND9_DLZ --use-xattrs=yes  --use-rfc2307  --function-level=2003  --server-role='dc' --host-name='zenty

[2017-06-28 09:54] laralar commented on #3442
How do I run it under strace?

[2017-06-28 10:06] laralar commented on #3442
i did the xattr=sa an executed command line with strace, does it seems to be something related with the chown?

09:58:44.222946 fcntl(29, F_SETLKW, {l_type=F_RDLCK, l_whence=SEEK_SET, l_start=39416, l_len=1}) = 0
09:58:44.222990 fcntl(29, F_SETLKW, {l_type=F_UNLCK, l_whence=SEEK_SET, l_start=39416, l_len=1}) = 0
09:58:44.223034 fcntl(29, F_SETLKW, {l_type=F_RDLCK, l_whence=SEEK_SET, l_start=11800,

[2017-06-28 10:34] laralar commented on #3442
It sees that the chown 0:3000000 on /var/lib/samba/sysvol is not accepted .. it actually only accepts 65535 as max GID

i tried increasing GID_MAX in /etc/login.defs to no avail

[2017-06-28 12:31] laralar commented on #3442
as a privileged container it seems there are no issues

[2017-06-28 12:52] AmirBouzouina opened #3462 "Lxc containers won't start after ubuntu upgrade"
Hi there ,

I upgraded Ubuntu Gnome to version 17.04 from 16.04 , and since then , i cannot start a very important container

here is the error message :

lxc start mysql
error: Bad key: volatile.idmap.base
Try `lxc info --show-log mysql` for more info
------------------------------------------------------------

Here is the lxc info of the container

lxc info mysql
Name: mysql
Remote: unix:/var/l

[2017-06-28 13:15] brauner commented on #3462
I'll punt on that for now and leave this for @stgraber but he'll very likely ask you the same questions:

- What version of LXD where you running on `16.04`?
- Can you show the output of `lxc info`?

[2017-06-28 13:30] AmirBouzouina commented on #3462
Thanks for your answer brauner

Here is the output of lxc info `grow@grow-HP-ENVY-m6-Notebook-PC:~$ lxc info
apiextensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zf

[2017-06-28 15:52] stgraber commented on #3462
You have LXD 24.1 on Ubuntu 17.04? that seems a bit weird, 17.04 comes with LXD 2.12 which would support volatile.idmap.base.

Can you make sure you are indeed on Ubuntu 17.04 (and not 16.10) and that your system has all update applied (which should get you LXD 2.12)?

[2017-06-28 15:53] stgraber commented on #3462
Your kernel version is also consistent with you being on Ubuntu 16.10 rather than Ubuntu 17.04 (you have 4.8 when you should have 4.10).

[2017-06-28 16:02] AmirBouzouina commented on #3462
Ah Sorry , i just saw that i was on ubuntu  16.10 , what should i do ? update Lxd ?

[2017-06-28 16:04] stgraber commented on #3462
you should update to Ubuntu 17.04, Ubuntu 16.10 is going to be end of life in a few days.

[2017-06-28 18:42] AmirBouzouina commented on #3462
Yeah well ... while updating , the setup process was saying that "root can't add packages"  and that i have held broken packages , so now i don't even have lxd installed on my machine , recovering my container is impossible now.

[2017-06-28 18:46] stgraber commented on #3462
What do you have in /var/lib/lxd/?

[2017-06-28 18:46] stgraber commented on #3462
Unless the package is purged (and the upgrader isn't supposed to ever do that), then the data is still on disk and installing LXD again should give you back your container.

[2017-06-28 19:17] parak opened #3464 "Unable to connect to remote images server in 2.15"
Hi,

It seems that the following commit might have broken something for me with remote images:

https://github.com/lxc/lxd/commit/efdb5b8120484e7d91c935f830bf9538bc5c8b47

I have a remote server that I typically add with the following:

`lxc remote add lxc-images lxc-images.somecorp.com --public`

And it's added as expected:

`| lxc-images      | https://lxc-images.somecorp.com:8443 | lxd

[2017-06-28 19:18] stgraber commented on #3464
Doh, no, I think the new client code is just trying to be a bit too clever with public remotes. I'll send a fix.

[2017-06-28 19:20] stgraber commented on #3464
I'm also adding a test for this, we somehow don't have one for --public...

[2017-06-28 19:45] stgraber commented on #3464
Fixed in my bugfix branch and has a teest to make sure it doesn't show up again.

[2017-06-28 19:52] AmirBouzouina commented on #3462
Hi , I don't have a /var/lib/lxd anymore :(

[2017-06-28 19:54] parak commented on #3464
Thanks for the quick response!

[2017-06-28 20:56] parak commented on #3464
On a very slightly related note, it's apparently not possible to downgrade via the ubuntu-lxc ppa as apt-cache always only shows the most recent, even though the previous version is available in the pool. I guess I can switch to the lxd-git-master archive as a workaround instead once that gets merged and built.

[2017-06-28 21:10] stgraber commented on #3464
If you are to downgrade, you'd need to pick up the 2.14 version of lxd-client and only downgrade that. Never downgrade LXD (lxd package) itself unless one of the developers tell you it's safe to do as database and on-disk storage changes somewhat frequently and will not cope with downgrading.

In this instance, as soon as my branch is merged, I'll be uploading cherry-pick of all the fixes to the U

[2017-06-28 21:11] stgraber commented on #3464
If you need an immediate fix. You can download https://dl.stgraber.org/lxd-3464 (sha256: ef929bf889eddbc97da615dbc1f6d75fac8e65e767b92348d95e3fe1e839b79d) which is a built of the 2.15 client with my fix applied.

[2017-06-28 21:30] #3464 closed

[2017-06-28 22:10] pshemk opened #3465 "Wrong scheme version after upgrade"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.2
 * The output of "lxc info" or if that fails:
   * Kernel version:
4.4.0-81-generic
   * LXC version:
2.0.8
   * LXD version:
2.0.10
   * Storage backend in use:
btrfs

# Issue description
It's been about 2 months since I rebooted my container host (used to run on 4.4.0-71 and on lxd 2.0.9). After a reboot this mornin

[2017-06-28 22:41] stgraber commented on #3465
The description above suggests that you have now potentially seriously corrupted your LXD instance.
There's a good reason why this check is in place and it's to prevent LXD downgrades from messing up your data.

[2017-06-28 22:42] stgraber commented on #3465
The LXD 2.0.x branch is currently at schema V32. Higher version of the schema can only have been obtained if you at some point ran a more recent copy of the LXD daemon.

[2017-06-28 22:44] stgraber commented on #3465
Your schema would have been upgraded to V34 if you had run LXD 2.3 up until LXD 2.9 (which would have gotten you V35).

[2017-06-28 22:45] pshemk commented on #3465
As I said - I have not touched the box for over 2 months, so the only plausible reason is that the underlying db somehow got corrupted. I run standard 16.04. there and do not have any additional ppas there.

[2017-06-28 22:46] stgraber commented on #3465
Can you post "ls -lh /var/lib/lxd" on the affected system?

[2017-06-28 22:47] pshemk commented on #3465
[code]

[2017-06-28 22:48] stgraber commented on #3465
[code]

This particular entry could only have been created by LXD 2.3 or higher. So looks like your system did run a more recent LXD on the 12th of November 2016.

[2017-06-28 22:48] pshemk commented on #3465
I still have the original lxd.db if that helps

[2017-06-28 22:49] stgraber commented on #3465
LXD 2.0.x doesn't have the concept of networks at all and is therefore incapable of having created the "networks" directory. Only LXD 2.3 or higher has such a concept, running such a LXD version would explain the directory being created and the DB schema being updated.

[2017-06-28 22:50] stgraber commented on #3465
The content of the "patches" table in your database would also confirm that and let us pinpoint exactly what LXD version was run.

[2017-06-28 22:50] pshemk commented on #3465
ok, so I must have downgraded at some stage then, probably when I was setting the box up. The question is how the 2.0.9 worked in that scenario through a few restarts with no issues.
In any case that's clearly not a bug.

[2017-06-28 22:51] pshemk commented on #3465
[code]

[2017-06-28 22:54] pshemk commented on #3465
I think I remember now the sequence of events. I've started on 16.10, created a separate partition for /var/lib/lxd. Then I went back to 16.04, but only recreated the main partitions. I must have left the original /var/lib/lxd and reuse it. 🤦‍♂️

[2017-06-28 22:56] stgraber commented on #3465
The reason why LXD 2.0.9 worked for you is because that check wasn't present then. We introduced the downgrade safety check in LXD 2.0.10. That's meant to prevent harm to user data in the event that they accidentally downgrade their systems.

[2017-06-28 23:00] stgraber commented on #3465
So looks like you ran LXD 2.4 then downgraded to LXD 2.0.
The database is going to be fine as the schema changes were only additions that simply won't get used.

The filesystem should be fine too. You have some extra bits like that networks directory, but they'll similarly just not be used.

The problem you will run into though is that you won't be able to upgrade from 2.0.x to a more recent versi

[2017-06-28 23:00] #3465 closed

[2017-06-28 23:01] pshemk commented on #3465
Ok, if I  restore the original db, add the lxd-stable ppa and use that version - will the upgrade to 2.15 work for me?

[2017-06-28 23:03] stgraber commented on #3462
I'm puzzled as to how this could have happened since only a purge of the LXD package would remove /var/lib/lxd, simple package removal will keep /var/lib/lxd around specifically to avoid such data loss.

There's unfortunately not much we can do at this point. The original issue was because of an upgrade from LXD 2.0.10 in Ubuntu 16.04 LTS to LXD 2.4.2 on Ubuntu 16.10 (which isn't supported anymore

[2017-06-28 23:03] #3462 closed

[2017-06-28 23:07] stgraber commented on #3465
Yes, original DB and recent LXD feature releases will work fine. Note that this is a very big version jump though which introduces the LXD network API and LXD storage API, the upgrade should work fine, but some of LXD's behavior will be slightly different afterwards due to the new features.

Rather than using the PPA, I'd recommend you use xenial-backports instead, which we only update once we've

[2017-06-28 23:07] stgraber commented on #3465
I'd recommend you also make a backup of your current lxd.db before doing that, just in case there were some changes made to your containers between the time you upgraded to LXD 2.0.10 and now.

[2017-06-28 23:12] pshemk commented on #3465
Thank you for your help here.

[2017-06-29 15:47] hnakamur opened #3466 "Client API deprecation should be visible at http://godoc.org/github.com/lxc/lxd"
I noticed the following comment

[code]

at https://github.com/lxc/lxd/blob/lxd-2.15/client.go#L3-L5

However this comment is not visible at http://godoc.org/github.com/lxc/lxd

If both github.com/lxc/lxd/client.go and github.com/lxc/lxd/config.go, the above comment should be placed at the package document position, that is, before `package lxd` line.

Or, if only github.com/lxc/lxd/client.go is d

[2017-06-29 17:26] stgraber commented on #3466
good catch, pushed a fix to my branch

[2017-06-29 18:21] #3466 closed

[2017-06-29 23:06] dnegreira commented on #3404
fixed on https://github.com/lxc/lxd/pull/3468

[2017-06-29 23:08] #3404 closed

[2017-06-30 09:12] candlerb opened #3469 "lxd high cpu usage"
# Required information

 * Distribution: ubuntu
 * Distribution version: 16.04.2 server amd64
 * The output of "lxc info"

[code]

# Issue description

This seems similar to #2964 - possibly the exact same, if fix isn't in lxd 2.0.10.

lxd is periodically using 100% of one CPU (running on an i3-3220, 2 core / 4 thread)

[code]

`strace` doesn't show anything much happening:

[code]

`lxc monitor -

[2017-06-30 09:36] brauner commented on #3469
The fix isn't yet in 2.0.10. It will be in 2.0.11. assuming that I'm not mistaken and we've backported a whole bunch of my exec code.

[2017-06-30 09:36] #3469 closed

[2017-06-30 09:42] brauner opened #3471 "zfs: move all helpers from storage_zfs.go to storage_zfs_utils.go"
My goal is to have all `storage_<storage-driver>.go` files to only contain the interface functions and nothing else. All of the other helpers should go into separate `storage_<storage-driver>_utils.go` files. The reasoning is that the interface implementation should be clean and lean if one is just interested in the high-level implementation of this stuff.

[2017-06-30 09:46] candlerb commented on #3469
Thank you.

#2964 / #3427 don't appear to have been backported to stable-2.0 yet - last commit to stable-2.0 was on May 24.

[2017-06-30 11:08] brauner opened #3472 "zfs: make the helper functions sane"
Currently the `zfs` helper functions are - well - not ideal and for some of the other storage backends as well. For instance,

[code]

The function should either take a dataset argument and the name of the dataset is constructed outside of the function or it should take a pool, and a dataset argument and the path constructed inside. And it likely shouldn't be a method so that it can be used in oth

[2017-06-30 11:09] brauner commented on #3472
@monstermunchkin, this is what I was talking about. :)

[2017-06-30 11:19] #3448 closed

[2017-06-30 12:51] dnegreira commented on #3472
@brauner I can pick up this one as well

[2017-06-30 12:57] brauner commented on #3472
Yup, sure, if you want. :) There's work for two. One can do `btrfs` and one `zfs`. :)

[2017-06-30 15:33] stgraber commented on #3469
Yeah, I'm quite a bit behind on stable-2.0 backports, it'll get done before 2.0.11 for sure.

[2017-06-30 16:54] #3450 closed

[2017-06-30 21:21] jfgibbins commented on #3450
thank you very gentlemen :)

[2017-07-01 06:05] stgraber commented on #3442
Hmm, so those subuid and subgid value should be enough to avoid that particular issue.
Can you post "lxc config show --expanded zentyal"?

[2017-07-01 06:06] stgraber commented on #3442
And the content of /var/log/lxd/lxd.log would be useful too, just to make sure your subuid/subgid was parsed properly.

[2017-07-01 06:11] stgraber commented on #2294
We've got the initial pass of the server side of this implemented. I'll take the issue over to get the initial pass of the client integration done. We should be able to get that done with a helper in lxc/utils.go that wraps around a lxd.Operation struct and effectively calls Wait() + support cancellation through SIGHUP/SIGKILL.

[2017-07-01 16:32] erickeller commented on #3405
can confirm it works fine with the latest release thank you all...

[2017-07-01 18:09] stgraber commented on #3431
Hmm, in your example above you show a range of 10.0.10.10-10.0.10.12 so just 3 available IPs, is that intentional? If so, I'm kinda surprised how any of this works and how all your containers ended up with IPs outside of the range.

[2017-07-01 21:31] dnegreira commented on #3472
I will start to work on the zfs part.

[2017-07-01 21:50] jkroepke commented on #3431
It was only an example to reproduce this behavior easier. Here is my config:

[code]

[2017-07-01 22:14] #2294 closed

[2017-07-01 23:00] ladams00 commented on #2506
Commenting for posterity: I've hit this issue with the Edge channel of LXD in snap (git-d36b797) which 'lxd --version' shows 2.15.  Revising the ufw rules as suggested (though not ideal) helps greatly as a workaround.

[2017-07-02 05:02] stgraber commented on #3335
[code]

[2017-07-02 12:13] akarelas commented on #2954
What is the parameter of lxd import? The help screen of lxd is not very clear or helpful. Should I place my backed-up directory in the storage for lxd import to be able to find it?

[2017-07-02 12:47] akarelas opened #3479 "How do we lxd import? Instructions are extremely unclear"
I use Ubuntu 16.04, and all i got for importing instructions was the help screen when I type just: lxd import

To test this feature, I had already done a backup of a container from the containers directory, with zfs send | zfs receive.

Then I targz-ed the directory I sent, as root user in order to preserve file ownerships. I took it to a different machine, with a fresh install of the newest lxd (

[2017-07-02 15:43] #3335 closed

[2017-07-02 17:04] stgraber commented on #3479
We have https://github.com/lxc/lxd/blob/master/doc/backup.md for that. Suggestions on how to extend that documentation would be welcome.

[2017-07-02 17:57] akarelas commented on #3479
I had read that also, and still couldn't figure out what to do.

I wish this page mentioned that all I need to backup is the container I want (and nothing else is necessary) from zfs (with zfs send, for example).

Also instructions how to restore (with zfs receive -d default).

Before that, I had my backed-up files, and I was placing them in /var/lib/lxd/containers, which was wrong... but how coul

[2017-07-02 18:08] stgraber commented on #3479
@brauner can you clarify and then update the documentation?

IIRC we only need the container to be restored in /var/lib/lxd/storage-pools/... with LXD re-creating the symlink in /var/lib/lxd/containers, but maybe I'm wrong and we have a bug :)

[2017-07-02 18:10] akarelas commented on #3479
lxd import doesn't recreate the bug. Also mention fuidshift of lxd-tools (ubuntu package), as it might be needed after a backup restore operation.

[2017-07-02 18:19] stgraber commented on #3479
fuidshift shouldn't be needed when using "lxd import" as the container's id map is part of backup.yaml, letting LXD do the remapping on container start.

[2017-07-02 18:20] akarelas opened #3480 "fuidshift doesn't work: what am I doing wrong??"
First I typed:

`fuidshift -t rootfs b:165536:100000:65536`

and got

`Error: "Bad idmap: \"rootfs\""`

(with wrong quotes)

Then I did:

`fuidshift rootfs -t b:165536:100000:65536`

and that worked (What?!)

Then I did:

`fuidshift rootfs b:165536:100000:65536`

and that didn't work. I got:

`Error: "Failed to change ownership of: rootfs"`

Am I wrong here or is there something wrong with this so

[2017-07-02 18:21] akarelas commented on #3480
I'm root, and I'm residing inside root@test-vm:/var/lib/lxd/storage-pools/default/containers/test-container

[2017-07-02 18:27] akarelas commented on #3480
Also I'm getting another line which I just saw:

[code]

[2017-07-02 18:27] akarelas commented on #3480
What does that mean???

[2017-07-02 18:27] akarelas commented on #3480
basepath??? What is that?

[2017-07-02 18:32] stgraber commented on #3480
The first issue is because you weren't following the argument ordering that's listed in usage (--help):
[code]

"basepath" in the error refers to the path you provided (".") in your case.
The id shifting code must be very careful to follow some symlinks but not all, effectively checking whether a symlink is inside the container or not. If you provide a relative path like ".", it can't do so.

I'd

[2017-07-02 18:34] stgraber commented on #3480
In your case, it sounds like you're doing this as part of the restoration of a backup, which is almost certainly wrong. You should never need to use fuidshift when using "lxd import". The container map is tracked as part of container metadata and LXD should be the one doing necessary remapings.

Remapping the filesystem like this behind LXD's back may cause LXD to then attempt to "fix" the map on

[2017-07-02 18:37] stgraber commented on #3480
Lets close this issue and focus on your "lxd import" issue instead, restoring the container the right way.

[2017-07-02 18:37] #3480 closed

[2017-07-02 18:41] stgraber commented on #3479
So assuming that you're using ZFS and have backed up the container with send/receive. You should:
 - Ensure that there are no containers with the same name in your LXD
 - Cleanup any manual restore attempt you may have done such as a direct restore in /var/lib/lxd/containers or leftover files for your container in /var/lib/lxd/storage-pools/
 - Do your "zfs receive" to recreate the ZFS filesystem

[2017-07-02 18:45] stgraber commented on #3479
If that all works and the container fails to start, then please post the error as well as "lxc config show --expanded NAME". It could well be that LXD doesn't recalculate the map on "lxd import", if that's the case, there is a very simple trick to force LXD to do so, which should unstick things.

[2017-07-02 19:42] akarelas commented on #3479
I followed your steps (all of them as root). Here's the result: When I typed lxd import test-container, I got:

[code]

which I *believe* means I need to do ln -s from there to there.

I did that, and ran import again. It ran. Now I'm doing start and exec bash. Oops, problem!

[code]

[2017-07-02 19:44] akarelas commented on #3479
What trick do you have to suggest to me? Couldn't you have it do it automatically, without trick?

[2017-07-02 19:55] stgraber commented on #3479
You didn't provide the "lxc config show" I asked above.

[2017-07-02 19:56] stgraber commented on #3479
As for the need to make the symlink, yes, that shouldn't be needed as LXD should be able to locate the container in /var/lib/lxd/storage-pools. @brauner I thought you fixed that one?

[2017-07-02 19:58] stgraber commented on #3479
Can you also provide the following from your ZFS backup filesystem, before running a "lxd import":
 - ls -lh /var/lib/lxd/storage-pools/default/containers/test-container/rootfs/
 - cat /var/lib/lxd/storage-pools/default/containers/test-container/backup.yaml

[2017-07-02 20:09] brauner commented on #3479
@stgraber, symlinks are not needed for import to work.

[2017-07-02 20:11] stgraber commented on #3479
@brauner Any idea what cause the error above?
[code]

[2017-07-02 20:13] brauner commented on #3479
I want to see the output of `lxc info`.

[2017-07-02 20:14] brauner commented on #3479
I see one potential problem in the code.

[2017-07-02 20:18] akarelas commented on #3479
[code]

More answers coming soon...

[2017-07-02 20:42] akarelas commented on #3479
[code]

[2017-07-02 20:46] akarelas commented on #3479
root@test-vm:~# lxc info
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- directory_manipulation
- container_cpu_time
- storage_zfs_use_refquota
- storage_lvm_mount_options
- network
- profile_usedby
-

[2017-07-02 20:53] stgraber commented on #3479
Thanks, so the backup looks good with the right ownership on files which matches what's in backup.yaml.

Can you now create the symlink in /var/lib/lxd/containers/ and then run "lxd import test-container" but don't start the container after that. Instead, post:
 - ls -lh /var/lib/lxd/storage-pools/default/containers/test-container/rootfs/
 - lxc config show --expanded test-container

That should l

[2017-07-02 20:57] akarelas commented on #3479
[code]

[code]

I haven't started the container yet.

[2017-07-02 21:00] stgraber commented on #3479
Ok, perfect, that does show a bug in the import code then.
It shows the following changing from:
[code]

To:

[code]

Instead of the expected:
[code]

[2017-07-02 21:01] stgraber commented on #3479
Run:
    lxc config set test-container volatile.last_state.idmap '[{"Isuid":true,"Isgid":false,"Hostid":165536,"Nsid":0,"Maprange":65536},{"Isuid":false,"Isgid":true,"Hostid":165536,"Nsid":0,"Maprange":65536}]'
    lxc start

That should fix the issue.

[2017-07-02 21:02] stgraber commented on #3479
@brauner any idea what's going on here? Looks like we're replacing the existing idmap with the current system one, which is reasonable, but we do so without keeping the previous value for volatile.last_state.idmap so the container doesn't remap the filesystem on startup.

[2017-07-02 21:07] akarelas commented on #3479
Indeed, that command you gave me just now fixed the problem (for this one time).

[2017-07-02 21:08] brauner commented on #3479
@stgraber, sounds like the `backup.yaml` file couldn't not be updated and hence is missing the updated volatile key.

[2017-07-02 21:09] brauner commented on #3479
Oh, ok the original `backup.yaml` contains the correct entry.

[2017-07-02 21:10] akarelas commented on #3479
The container directory itself was owned by 165536 (if that's of any use to anyone):

[code]

[2017-07-02 21:12] brauner commented on #3479
@stgraber, why should this be a bug in the import code? All the import code does with `backup.yaml` is to unmarshal it into a go struct. It doesn't alter the values.

[2017-07-02 21:12] brauner commented on #3479
Hm, wait.

[2017-07-02 21:14] brauner commented on #3479
We're currently wiping all `volatile.*` keys on import except for `volatile.base_image`. I'll take a look at the volatile keys now and see which ones would make sense to keep.

[2017-07-02 21:51] zerkms opened #3482 "Current swap counter overflow (?)"
# Required information

 * Distribution: ubuntu
 * Distribution version: xenial
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Sometimes `lxc info <container-name>` command returns the negative value of swap used (and there is no the peak swap usage there at all).

# Steps to reproduce

 1. Run a container with low memory limit (eg 100Mb)
 2. Run any tool/command that c

[2017-07-02 21:52] akarelas commented on #3479
Question: Shouldn't the developers of lxc have tested their product before claiming that lxd import does not need the link to exist before tunning the command? Whenever you fix a bug, you should test the product to see that the bug has been fixed. I think that's the proper way...

[2017-07-02 21:53] stgraber commented on #3482
Can you run the same "lxc info" with "--debug" so we can see the raw API reply too?

[2017-07-02 21:55] zerkms commented on #3482
[code]

[2017-07-02 21:57] stgraber commented on #3482
Thanks. Looking at the code, it seems like it's mostly just bad error handling.

Basically what seems to be happening here is that we're getting some kind of error from the kernel and rather than fail, we're just setting the value to -1. The problem is that the swap value is then computed as "-1 - <mem>" leading to swap being reported as the negative of the memory - 1 when an error occurs.

[2017-07-02 21:57] stgraber commented on #3482
Looks to me like a better behavior would be to set to 0 so that the client doesn't show the field and it's more obvious that the value couldn't be retrieved at teh time.

[2017-07-02 21:58] stgraber commented on #3482
obviously not having the kernel tell us to go away would be nice too, but we're dealing with what we have :)

[2017-07-02 21:59] zerkms commented on #3482
Yep, sounds reasonably.

And could you please share something about the peak swap usage? As you may see it never appears in the output at all.

[2017-07-02 22:03] stgraber commented on #3482
Looking at that now

[2017-07-02 22:08] stgraber commented on #3482
So the peak reporting actually looks like a kernel problem...

The memsw values are always supposed to be the combined value of memory+swap. So to get the swap value you need to grab the memory value and substract it from the memsw value which gives you the swap.

But that doesn't seem to work for max_usage_in_bytes (peak) here:
[code]

Actually the values above may make sense, it's just the kerne

[2017-07-02 22:11] stgraber commented on #3482
just looked and there doesn't appear to be any source for that data that we could use. There's no peak value recorded in memory.stat either, just current values...

[2017-07-02 22:12] stgraber commented on #3482
So that's a bit annoying because it means that the peak swap will only ever show up in rather limited cases... And with cgroupv1 being effectively feature frozen as it's being replaced with cgroupv2, there's little chance we can improve that at the kernel level until the switch to groupv2.

[2017-07-02 22:15] zerkms commented on #3482
Thanks
PS: that's amazingly quick response and a bugfix

[2017-07-02 22:18] stgraber commented on #3479
We have automated testing for this feature which wasn't cleaning everything up, @brauner's fix is now fixing that particular issue so that this doesn't regress.

Not requiring the symlink was one of the very many details we discussed back when the feature was implemented and was forgotten when the test code was written. https://github.com/lxc/lxd/blob/master/test/suites/backup.sh

Bugs happen, whe

[2017-07-02 22:24] #3479 closed

[2017-07-02 22:31] akarelas commented on #3479
Ok ok!

[2017-07-02 22:34] akarelas commented on #3479
Did you also fix the uids problem? Is it planned to be fixed? Do you need reminders? Should I open a new ticket for that?

[2017-07-02 22:46] brauner commented on #3479
The uid problem is also addressed in the branch I sent.

[2017-07-02 23:02] #3482 closed

[2017-07-02 23:13] davidfavor opened #3484 "Make --fast and --columns mutually exclusives"
This works as expected...
[code]
Adding --fast quietly ignores --columns directive.
[code]
I've scripted around this for now + likely best if --fast + --columns work together or an error is thrown saying, they're mutually exclusive.

[2017-07-02 23:19] stgraber commented on #3484
Yeah, I guess we should throw an error. The help does say that it's just an alias for "-c nsacPt" already.

[2017-07-02 23:40] davidfavor opened #3485 "Request for correlating container pids to host pids"
Debugging resource hog processes in containers becomes complex due to pid namespace.

Looking for a /proc way to convert container pids from container pid namespace to host pids.

Best way I've come up with so far is to search host level /proc/*/cmdline looking for "lxd monitor", then scan pid tree of each monitor looking for systemd, then adjust container pids by the difference of host level syst

[2017-07-02 23:58] stgraber commented on #3485
There is no concept of container as far as the kernel is concerned, so there's no super easy way to do so.
It's also made more complicated by the fact that the container itself can be using the pid namespace.

Very recent kernels do let you see the PID at every level of the namespace tree, but that's still not very useful as there is no way to say "give me the host pid for pid X in container Y".

[2017-07-03 00:00] stgraber commented on #3485
The best approach for a LXD container is probably a mix of cgroup and proc, something like:
[code]

[2017-07-03 00:01] stgraber commented on #3485
That's still not ideal though because if you use nested PID namespaces, that'd still fail.

[2017-07-03 00:03] stgraber commented on #3485
[code]

That version should be safe as it will only look at the first level of PID namespace.

[2017-07-03 00:13] stgraber commented on #3485
I personally just tend to use "ps fauxww" which shows me a nice tree of processes under each container monitor process and makes it pretty easy to visually get what you want. But for a scripted approach, the trick above should work fine.

Closing this issue as there's no real LXD bug here :)

[2017-07-03 00:13] #3485 closed

[2017-07-03 00:36] davidfavor commented on #3484
Apologies. I completely missed the alias not.

[2017-07-03 00:47] davidfavor commented on #3485
This gives me a starting point.

If I come up with anything useful, I'll post it.

Thanks!

[2017-07-03 01:05] davidfavor commented on #3485
Here's a quick way to surface out some info.

1) iotop -P -a -d 1

<< to select sort on DISK WRITE

After a few seconds an offender will surface, pid 6105 in my case.

2) cat /proc/6105/cgroup | grep freezer
4:freezer:/lxc/net12-jasites

So if mysqld is the iotop offender in question, this is a quick way to determine container name.

[2017-07-03 02:46] stgraber commented on #2179
So with the way LXD currently works, I'm not sure that we can/should fix this.

The problem is that we rely somewhat on it ignoring keys that it doesn't know about when a newer client talks to an older LXD. We don't allow the user to attempt to use features that aren't supported by the target LXD but our client library will always send the full API struct, including those fields that aren't known

[2017-07-03 02:46] #2179 closed

[2017-07-03 03:01] yoniy0 commented on #3479
@brauner May I reiterate the request to update [backup.md](https://github.com/lxc/lxd/blob/master/doc/backup.md)?

The instructions there are quite vague, and I can't quite make what I read here and on [3481](https://github.com/lxc/lxd/pull/3481) into a complete backup-and-restore sequence.

[2017-07-03 03:20] BobVul commented on #3367
Does this now make it impossible to add conf options to lxd's dnsmasq?

I have one server where I have the host going through lxd's dnsmasq - which dnsmasq didn't like (since it was forwarding to itself). The solution was to specify a different resolver list/file via dnsmasq.conf, so the host resolves against dnsmasq and dnsmasq forwards correctly to an external resolver.

This was to make it easi

[2017-07-03 04:09] stgraber commented on #3367
You can always add extra statement to LXD"s dnsmasq instance by using the "raw.dnsmasq" configuration key.

[2017-07-03 05:54] laralar commented on #3442
Sorry for the delay

root@node17:~# lxc config show --expanded zentyal
description: ""
architecture: x86_64
config:
  image.architecture: amd64
  image.description: ubuntu 16.04 LTS amd64 (release) (20170619.1)
  image.label: release
  image.os: ubuntu
  image.release: xenial
  image.serial: "20170619.1"
  image.version: "16.04"
  volatile.base_image: 7a7ff654cbd8f5f09bec03aa19d8d7d92649127d186590

[2017-07-03 06:17] BobVul commented on #3367
Ah... completely missed that config, sorry. I probably should've read the commit more carefully!

[2017-07-03 06:25] laralar commented on #3442
Ok.. maybe I posted some misleading information.  I am not getting the UID/GID issue anymore.

I am restoring a snapshot, then executing
zfs set xattr=sa vol0/lxd/containers/zentyal
zfs set acltype=posixacl vol0/lxd/containers/zentyal

strace samba-tool domain provision  --domain='aibl' --realm='AIBL.NET' --dns-backend=BIND9_DLZ --use-xattrs=yes  --use-rfc2307  --function-level=2003  --server-role

[2017-07-03 06:27] laralar commented on #3442
root@node17:~# lxc config show --expanded zentyal
description: ""
architecture: x86_64
config:
  image.architecture: amd64
  image.description: ubuntu 16.04 LTS amd64 (release) (20170619.1)
  image.label: release
  image.os: ubuntu
  image.release: xenial
  image.serial: "20170619.1"
  image.version: "16.04"
  volatile.base_image: 7a7ff654cbd8f5f09bec03aa19d8d7d92649127d18659036a963b1ea63f90d25

[2017-07-03 06:29] stgraber commented on #3367
It's also listed in the documentation :)
https://github.com/lxc/lxd/blob/master/doc/networks.md

[2017-07-03 06:30] BobVul commented on #3367
Yea, I must be completely blind today, considering it's even mentioned in the opening comment on this issue.

[2017-07-03 06:31] tkedwards opened #3487 "lxc file push --recursive can't handle file names with spaces"
* Distribution: Ubuntu
 * Distribution version: 16.04.2
 * The output of "lxc info" or if that fails:
[code]

# Issue description

When using `lxc file push --recursive ` to copy a directory from the host into a container the command will fail if any file or sub-directory in the directory being copied has spaces in the file name

# Steps to reproduce

On the host:
[code]

Inside the container:
[co

[2017-07-03 06:32] tkedwards commented on #3335
Thanks! I've now had time to test this and it works as far as copying symlinks goes.
Unfortunately I hit another bug relating to files with spaces in their names, see https://github.com/lxc/lxd/issues/3487

[2017-07-03 06:33] tkedwards commented on #3487
The context of this is that I'm copying into the container a directory (with sub-dir) which contains config files and a few scripts. E.g. one of them contains all the stuff to setup OpenVPN as a VPN client for my 'vpncontainer' container.

[2017-07-03 06:34] tkedwards commented on #3487
[code]

[2017-07-03 06:35] stgraber commented on #3442
Hi,

Good, so the strace does show the problem is caused by an attempt to write to "security.NTACL".

My understanding of the xattr kernel code is that the "security" namespace is restricted to real root and therefore cannot be used by unprivileged containers.

That namespace is usually used for data that the kernel itself sets or parses, such as filesystem capabilities, IMA checksums, ...

It's u

[2017-07-03 06:37] stgraber commented on #3487
Sounds like we're not doing the proper escaping on the filename when building the URL. Spaces should be encoded in the URL (%20 I believe?).

[2017-07-03 06:54] laralar commented on #3442
why is this configuration of samba using this "feature"?  you said you had samba running on unprivileged containers, right?  because I don't see anything special in zentyal smb.cnf

root@zentyal:~# cat /etc/samba/smb.conf
[global]
    workgroup = aibl
    realm = AIBL.NET
    netbios name = zentyal
    server string = Zentyal Server
    server role = dc
    server role check:inhibit = yes
    serv

[2017-07-03 06:57] laralar commented on #3442
and shares.conf    .  #maybe the line in bold?

[homes]
    comment = Home Directories
    path = /home/%S
    read only = no
    browseable = no
    create mask = 0611
    directory mask = 0711
    **vfs objects = acl_xattr full_audit**
    full_audit:success = connect opendir disconnect unlink mkdir rmdir open rename
    full_audit:failure = connect opendir disconnect unlink mkdir rmdir open ren

[2017-07-03 07:13] stgraber commented on #3442
Earlier in this issue you showed your samba-tool command as spawned by Zentyal, that included "--use-xattrs=yes" which I suspect is what's causing most of the problem.

I am using samba4 in containers as a domain controller, not as a file server so I may also be avoiding a number of xattr related issues because of that.

[2017-07-03 09:30] #553 closed

[2017-07-03 09:54] brauner commented on #3479
@yoniy0, without wanting to relay the question back to you what exactly are you looking for? I just want to make sure that I'm not putting anything useless in there. What exactly are you looking for? Implementation details or an example command line like `lxd import <container-name>`?

[2017-07-03 10:30] yoniy0 commented on #3479
@brauner TL;DR: a complete man page for `lxd import`.

Longer:

- One has the data (including `backup.yaml`) of an old container `<container-name>` on some media, and a new LXD instance. We can also assume no container in the new instance is currently named `<container-name>`.
- What steps should one take to import the old container into the new instance?

[2017-07-03 12:06] brauner opened #3489 "installing LXD on various distros (e.g. CentOS)"
We receive a lot of requests on how to install LXD on other distros. We usually point users to snaps but we understand that there is a need for native packages or general install instructions as well. This is of course not necessarily something which upstream itself can leverage on a regular basis. It might make sense to either come up with some sort of wiki for this that is community maintained o

[2017-07-03 12:07] brauner commented on #3489
@ApertureSecurity I'm tracking this here.

[2017-07-03 12:15] ApertureSecurity commented on #3489
I searched this when before I asked. Sorry if I opened a duplicate issue.

Thanks for tracking this.

[2017-07-03 12:22] brauner commented on #3489
@ApertureSecurity, I just opened this. :)

[2017-07-03 14:15] #3487 closed

[2017-07-03 17:21] #3484 closed

[2017-07-03 17:22] stgraber commented on #3489
@brauner those kind of instructions really ought to go on the website.

[2017-07-03 17:26] brauner commented on #3489
Yeah, whatever works best.

[2017-07-03 17:26] ApertureSecurity commented on #3489
@brauner, thanks!

@strgaber I think its perfectly fine to have them here too. I mean , if I was looking at this on G.H then I would scroll down to look for instructions.