[2019-07-26 06:18] laralar commented on #6014
PS: If I delete the line **maas.subnet.ipv4: AIBLSRV** from the default profile.. there are no issues,, the container is created without any problem, althoutgh it is not registered in MAAS.  If later on I try to add the line to the default profile it fails

More, if I override the device in the container itselt.  it is not understanding the maas.subnet.ipv4 entry

[2019-07-26 07:34] divanikus commented on #6013
So, should I reopen it in k8s tracker?

[2019-07-26 09:17] gabrik opened #6015 "Unable to assing a WiFi interface to a container using profile, on Ubuntu 18.04"
#5318 Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.2
 * The output of "lxc info" or if that fails:
[code]

   * Kernel version: 4.15.0-54-generic
   * LXC version: 3.15
   * LXD version: 3.15
   * Storage backend in use: zfs

# Issue description

I want to attach a WiFi interface to a container using a profile, but the container will not start because the interface

[2019-07-26 09:30] tomponline commented on #6015
Likely related to https://github.com/lxc/lxc/issues/3105

[2019-07-26 13:03] spirritus opened #6016 "lxd cannot reach socket"
lxd has worked fine.
Then I switched the hosts networking from eno1 to a bridge on that adapter eno1br1.
Since then lxd cannot be reached - lxc info reports "Error: Get http://unix.socket/1.0: EOF"

However the ip has stayed the same.
Rebooting did not remedy the situation. Any ideas?

Debian Buster
LXD 3.15
storage backend: zfs

# cat /proc/version
Linux version 4.19.0-5-amd64 (debian-kernel@list

[2019-07-26 13:38] stgraber commented on #6013
Yes, filing those issues in the k8s tracker (when not already present) would be good.

[2019-07-26 13:39] stgraber commented on #6015
Yep, same issue we relocated to liblxc yesterday.

[2019-07-26 13:39] #6015 closed

[2019-07-26 13:41] stgraber commented on #6016
Can you show the `ip link show` and `ip addr show` output?

[2019-07-26 13:41] stgraber commented on #6016
and `netstat -lnp` too

[2019-07-26 18:52] stgraber commented on #6014
Ok, sounds like those are MAAS errors rather than LXD's, so I wonder what may have changed on that side.

What MAAS version are you running?

[2019-07-27 05:10] laralar commented on #6014
Nothing has changed in the MAAS configuration. Originally I had 2.4.2 MAAS, but upgraded to the latest 2.6.0 and still I have the same issue.

The only thing that has changed is the snap LXD version

Is **maas.subnet.ipv4: AIBLSRV** still a valid argument in the device configuration?

1. If I add that line in the profile and create a container, I get an **Error: success**,
2. the register is added

[2019-07-27 07:55] rosbeef commented on #5179
hello,
I'm in the same case. I just explain my situation .
i'm with snap package 3.15 under ubuntu 18.04 armhf trying to run a self hosted multisite cluster.
LXD cluster is running over a ipv6 tap interface mounted by [freelan](http://freelan.org/) so over udp/https. I have in minutes more than hundred tcp connections.
I notes that sometimes udp packets takes more than the expected time to be "rec

[2019-07-27 08:49] freeekanayaka commented on #5179
@rosbeef hm so are you running the the members of your LXD cluster in physically distant networks? That might be a problem, or at least something we didn't expect users to do. Essentially things might get brittle due to the higher latency and unreliability of the network.

[2019-07-27 12:33] aaronvegh commented on #5179
Not sure what the better venue for this discussion is, but I opened a discussion about this on the Linux Containers forum:

https://discuss.linuxcontainers.org/t/lxd-3-15-cluster-hangs-with-massive-connection-count/5341/5

[2019-07-27 12:38] rosbeef commented on #5179
@freeekanayaka my reply at @aaronvegh [lxc forum link](https://discuss.linuxcontainers.org/t/lxd-3-15-cluster-hangs-with-massive-connection-count/5341/5)

[2019-07-27 13:44] rosbeef commented on #5179
some logs from /var/snap/lxd/common/lxd/logs/lxd.log

i dont really understand this error : "Failed connecting to global database (attempt 8): failed to create dqlite connection: no available dqlite leader server found"

...

[2019-07-27 14:59] stgraber commented on #6014
Yes, that config key is correct, all the errors you've seen so far were directly reported by MAAS when LXD fed it the configuration. The LXD side of this logic hasn't changed since we first introduced it.

Failure to configure MAAS would cause the container creation to fail on LXD's side, so that explains the missing container. On container creation failure, LXD will attempt to delete the MAAS all

[2019-07-27 15:26] stgraber commented on #6014
Not running into this issue with LXD 3.15 and MAAS 2.6.0 here:

[code]

[2019-07-27 15:28] stgraber commented on #6014
The error sounds like MAAS resource pools may be at play. Are you using those?

[2019-07-27 16:01] stgraber commented on #6014
[code]

So yeah, seems like a resource pool problem then.

[2019-07-27 16:08] stgraber commented on #6014
Hmm, no, looks like that error came due to LXD not having connected to MAAS yet, lxd.log is quite a bit more specific about this, not sure why the returned error was wrong though.

[2019-07-27 16:13] laralar commented on #6014
Yes.. I am using resource pools.. I'll try disableing them and update

On Sat, Jul 27, 2019 at 9:32 PM Stéphane Graber <notifications@github.com>
wrote:

[2019-07-27 16:27] laralar commented on #6014
OK.. I deleted the resource pools. and I am in the same end as you now.
[code]

[code]

The container entry is created in the MAAS machine, but now the container is not created.

[2019-07-27 16:38] stgraber commented on #6014
Marking as incomplete. All I managed to get here are some error handling issues which I'll send a branch for, but no actual issue on the LXD side that I could find.

We need your full /var/snap/lxd/common/lxd/logs/lxd.log to maybe make more sense of this, though it looks like it's MAAS that's returning a weird error in your case, so looking at the MAAS log may help too.

[2019-07-27 16:41] laralar commented on #6014
Did you manage to be able to create a container again?

I mean,, what did you do in MAAS to get the error, createad a resource pool and added the machine in the resource pool?

Because Now.. I don't have any resource pools and I am getting the error that you reported "seems like a resource pool issue"

I'll try to look into MAAS logs, As I remember I already did and there was no specific informati

[2019-07-27 16:43] stgraber commented on #6014
Ah, my version of the go maasapi package from the juju folks was a bit old locally, they recently added some support for pools, I wonder if that's what's causing the issue.

[2019-07-27 16:44] stgraber commented on #6014
yep, that looks like the culprit...

[2019-07-27 18:19] stgraber commented on #6014
Sent a pull request to the Juju team, hopefully they'll merge it and then the next snap refresh will correct this.

I tried a few workarounds on our side, but there's nothing I can do to bypass that validation.

https://github.com/juju/gomaasapi/pull/80

[2019-07-27 18:19] #6014 closed

[2019-07-28 03:33] Sarke opened #6021 "lxd snap keeps creating 57 MB volume mounts"
[code]
![image](https://user-images.githubusercontent.com/2719310/62001782-01f25400-b0ad-11e9-9d3f-1b8482407d8b.png)

![image](https://user-images.githubusercontent.com/2719310/62001797-40880e80-b0ad-11e9-849c-8cde6a88e783.png)

![image](https://user-images.githubusercontent.com/2719310/62001806-601f3700-b0ad-11e9-9c50-7a7ee5d3ac7c.png)

# Required information

 * Distribution: Ubuntu MATE
 * Dist

[2019-07-28 13:27] rigred commented on #6016
Likely the same problem has occurred to me as well along with the 3.15 auto-refresh issue.
https://github.com/lxc/lxcfs/issues/295

[code]

I can't connect to lxd with lxc, but containers are actually running since my services are online. The snap is also 'pretending' to fail and attempting to restart in a loop, to no avail.
Doing a `snap restart lxd ` does nothing useful. Changing versions does n

[2019-07-28 13:33] rigred commented on #6016
Actually I managed to just get further. I did a daemon-reload on systemd and the `snap.lxd.daemon.unix.socket` came back again and could be started.

[code]

Now the debug gives
[code]

Any idea what's going on?

[2019-07-28 13:40] rigred commented on #6016
Ran another `snap restart lxd` and then ran `sudo lxd --debug --group lxd 2>&1 | tee lxd_debug_4.log` While this is running I can access lxc commands again, albeit responses are very slowl (I presume due to the debug output)
[lxd_debug_4.tar.gz](https://github.com/lxc/lxd/files/3439221/lxd_debug_4.tar.gz)

[2019-07-29 03:57] stgraber commented on #6021
Yeah, not really something that LXD can do anything about, I'd recommend bringing this up at https://forum.snapcraft.io

snapd keeps the past 3 revisions of the snap mounted (I think?). So that's what you're seeing here.

I believe there is a snapd option to change that down to just 1, or obviously if you're not using lxd, you can just uninstall it.

I'd certainly prefer snapd either use some moun

[2019-07-29 03:57] #6021 closed

[2019-07-29 12:41] spirritus commented on #6016
#ip link show
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode DEFAULT group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
2: eno1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq master eno1br1 state UP mode DEFAULT group default qlen 1000
    link/ether zz:zz:zz:zz:zz:zz brd ff:ff:ff:ff:ff:ff
3: eno2: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu

[2019-07-29 14:32] lcligny opened #6022 "dqlite error: Error during dqlite proxy copy: tls: use of closed connection"
# Required information

 * Distribution: Debian
 * Distribution version: 9.9 stretch
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.9.0-9-amd64
   * LXC version: 3.15
   * LXD version: 3.15
   * Storage backend in use: ZFS

# Issue description

LXD two-nodes cluster loops in start, since upgrade to 3.15. It fails on both nodes to connect to global database with error:

Then,

[2019-07-29 16:12] stgraber commented on #6022
@lcligny I'm assuming you've tried restarting them both at the same time to limit the wait time as they come back up?

Also, can you confirm both systems are close to each other (latency < 10ms) and that their clock match. Clustering doesn't do well with latencies or time skews.

[2019-07-29 16:17] stgraber commented on #6016
@spirritus is yours also a multi-node cluster or is it a single node that happens to have cluster enabled?

[2019-07-30 08:20] lcligny commented on #6022
Thank you for your response. My servers are sync with NTP and I have sub miliseconds latency between them. Also 8443 port is reachable from each other. I restarted snap.lxd.daemon.service on both servers within one second, but it still loops with the very same logs on both servers.

I see I have two mount systemd entries for LXD, is it normal ?

[code]

Here are the NTP, ping and 8443 port tests

[2019-07-30 09:02] freeekanayaka commented on #6022
This makes my head scratch: the fact that a leader was elected at all means that configuration **should** be okay. However, the fact that it took so long for the election to succeed and that it lasted so shortly might indicate that something is odd in the internal raft configuration. Would you mind sending me a couple of tarballs with the content of ```/var/snap/lxd/common/lxd``` on both nodes? fr

[2019-07-30 09:49] lcligny commented on #6022
Hello, email sent.

[2019-07-30 11:43] spirritus commented on #6016
That would be a single node that happens to have cluster enabled.

[2019-07-30 11:55] spirritus commented on #6016
My coworker "fixed" it by deleting snap and reinstalling lxd.

[2019-07-30 12:41] stgraber commented on #6016
Do you mean your coworker had the same issue on another system or was working on the same system you were and reinstalled it?

Just wondering if you still have access to the broken system as a tarball of /var/snap/lxd/common/lxd/database would have been useful for us to debug this further.

[2019-07-30 18:59] Nani-o opened #6026 "Unable to start snapd inside an LXD container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.02
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-20-generic (also tested with 4.18)
   * LXC version: 3.15
   * LXD version: 3.15
   * Storage backend in use: dir

# Issue description

I try to run snapd after installing it either in a privileged or unprivileged container. This always leads to

[2019-07-30 20:18] stgraber commented on #6026
I just tried `ubuntu:18.04` which comes with snapd, this appears to work properly here.
Same goes for `images:ubuntu/bionic` with manual installation of snapd and fuse.

In this latter case, this looked like:
[code]

[2019-07-30 20:20] stgraber commented on #6026
In my case snapd wasn't running simply because it was waiting for socket activation, which triggererd it properly when performing a snap installation.

In your case, it's unclear that there's an actual problem, it just shows snapd is waiting to get a request to be activated.

[2019-07-30 20:44] Nani-o commented on #6026
It seems that I lack some knowledge about snapd, it is indeed just waiting for a connection, I can perform a `snap install` and the service appears up after that. I was mislead by the fact systemctl was saying the process was dead, I didn’t even try to install something.
[code]
I have now errors when trying to install LXD, but that’s another story, I close the issue, thanks and sorry to waste your

[2019-07-30 20:44] #6026 closed

[2019-07-31 10:53] rigred opened #6027 "snap lxd daemon - SIGSEGV, invalid memory address or nil pointer dereference"
LXD Daemon in snap wont start, keeps looping "database locked"

 * Distribution: Ubuntu
 * Distribution version: 18.04.2 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux hetz-hel1 4.15.0-55-generic #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: snap 3.15
   * LXD version: snap 3.15
   * Storage backend in use: zfs

# Issue de

[2019-07-31 11:06] surfer190 opened #6028 "Installing from source issue on ubuntu 16.04"
An issue with the readthedocs documentation.

In the instructions if you run:

`sudo apt install acl autoconf dnsmasq-base git golang libacl1-dev libcap-dev liblxc1 liblxc-dev libtool libuv1-dev make pkg-config rsync squashfs-tools tar tcl xz-utils ebtables`

you get:

[code]

# Required information

 * Distribution: ubuntu
 * Distribution version: Linux ubuntu-xenial 16.04
 * The output of "lxc i

[2019-07-31 11:33] surfer190 commented on #6028
Oops, #5198 explains the issue. Although this should be added to readthedocs.

[2019-07-31 11:33] #6028 closed

[2019-07-31 14:51] mrceresa opened #6030 "GPU Passtrough problem"
# Required information

 * Distribution: Fedora
 * Distribution version: 29
 * The output of "lxc info" or if that fails:
[code]

# Issue description
I installed lxd using snap on Fedora 29.
I'm trying to pass my gpu in this way: (elaborated from [here](https://asciinema.org/a/174076))
* lxc launch -t m3.large images:ubuntu/18.10/amd64 ub
* lxc config device add ub gpu gpu id=0
* lxc config set ub

[2019-07-31 16:34] #6027 closed

[2019-07-31 17:48] stgraber commented on #6030
There is a reasonable chance that this is failing due to a kernel bug in the 5.1 kernel.

Can you try a simple:

    lxc config device add ub test unix-char source=/dev/kmsg

If that fails with the same error, then it's indeed a kernel issue.

@brauner found that cross-mntns mounts were broken and this got resolved in 5.2 I believe. I don't know whether your particular distribution has taken this

[2019-08-01 02:01] aplatypus commented on #4176
The most recent stable lcd snap will only run on my Ubuntu 19.04 if i run it as Rooy.  Some problem with xauthorise or selinux it seems, from launchpad.

I just think it is ADVISABLE to transition critical system level and infrastructure things like lxd  and not to drop 'customers' in to an under tested/qualified new method with no  woek around.

I can't believe any one is going to use lxd if it c

[2019-08-01 08:56] mrceresa commented on #6030
Thanks @stgraber! It is confirmed: with 5.1 it was not working, upgrading to last version solved the problem both for test and for the real gpu.
Now it is working :)

[2019-08-01 08:56] #6030 closed

[2019-08-01 11:49] spirritus commented on #6016
He was working on the same system. So we do not have the broken system anymore. Should this error resurface I am sure to post the db here :-)

But realy, all I idid was move the network from eno1 to eno1br1 and lxd was not reachable anymore.

[2019-08-01 12:58] stgraber commented on #6016
Yeah, that's an odd one because LXD doesn't care about interfaces, it only cares about the IP, so I suspect your change is actually unrelated to the failure.

Since we don't have access to logs, database or a broken system, there's little we can do at this point. I'm closing this, but should it happen again to you or anyone else, please comment here and we will re-open it.

[2019-08-01 12:58] #6016 closed

[2019-08-01 14:23] AdamIsrael opened #6034 "Inconsistent support of CLI flag --format"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-21-generic
   * LXC version: 3.15
   * LXD version: 3.15
   * Storage backend in use: zfs

# Issue description

LXD inconsistently offers the `--format` flag amongst its CLI commands. It's convenient to use the flag to use when checking lxc program

[2019-08-01 14:36] stgraber commented on #6034
Yep, it's something I've been meaning to sort out for a while, ideally we'd move them all to a shared set of functions to handle the various outputs.

I may take a look at it next week, see if we can't sort that out in time for 3.16.

[2019-08-01 17:28] rigred opened #6036 "LXD instance fails to start, can't open cluster database - but is not a cluster"
* Distribution: Ubuntu
 * Distribution version: 18.04.2 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15-55
   * LXC version: 3.15 snap (Stable & Edge)
   * LXD version: 3.15 snap (Stable & Edge)
   * Storage backend in use: zfs

# Issue description

LXD instance wont start from systemd service or from snap, gives below log info. Only starting manually with `lxd --group

[2019-08-01 18:07] stgraber commented on #6036
Hmm, I don't get why starting it directly with `lxd --group lxd` would work but through systemd wouldn't, normally both should fail if it's not a random issue which isn't persistent.

@freeekanayaka

[2019-08-01 19:17] freeekanayaka commented on #6036
@stgraber I presume that ```lxd --group lxd``` is using ```/var/lib/lxd``` vs ```/var/snap/lxd/common/xd``` ?

[2019-08-01 19:19] freeekanayaka commented on #6036
@rigred can you send us the ```/var/snap/lxd/common/lxd/logs/lxd.log``` too?

[2019-08-01 19:50] rigred commented on #6036
I don't think it's using /var/lib/lxd as nothing's there that's recently been touched.
[code]

And based on journalctl data it's definetly running out of `/var/snap/lxd/common/lxd/`

The log you asked for is quite limited, I've replaced the public IP with IP_ADDR.
[code]

Where can I email database info instead of here?
I can send you the full output of ` lxd --group lxd` that prints A LOT of info

[2019-08-01 19:54] rigred commented on #6036
Just for clarity this system doesn't have any apt lxd/lxc/lxcfs remnants. lxd points to /snap/bin/lxd

[2019-08-02 07:27] freeekanayaka commented on #6036
[You can email the database to me at free dot ekanayaka at canonical dot com.

One possibility is that the lxd daemon is racing with something else (perhaps lxd wait) when started using systemd/snapd. Would it be possible for you to make sure that absolutely no lxd-related process is running and then try again to start the systemd unit? ```systemctl start snap.lxd.daemon```

[2019-08-02 07:56] freeekanayaka commented on #6022
@lcligny I could not find anything wrong in the database of your two nodes (and btw sorry, I asked you to send me the whole tarball of ```/var/snap/lxd/common/lxd``` but actually I only needed the ```./database``` sub-directory).

One cheap thing you could attempt would be to restore the ```./database/global.bak``` directory on both your nodes, and try to start both daemons again. That will perfor

[2019-08-02 10:15] julian-klode opened #6038 "Error: Failed to start dqlite server: run failed with 13"
# Required information

 * Distribution:Ubuntu
 * Distribution version:eoan
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.2.0-9-generic
   * LXC version: 3.15
   * LXD version: 3.15 (11437)
   * Storage backend in use: btrfs

# Issue description

Yesterday's upgrade to 3.15 (11437) broke stuff, lxd does not start

[code]

# Steps to reproduce

Run lxc

# Information to attac

[2019-08-02 10:41] julian-klode commented on #6038
Reverting to the previous version did not help, though.

[2019-08-02 10:46] julian-klode commented on #6038
Rebooting did not help either.

[2019-08-02 11:46] lcligny commented on #6022
Thanks for the idea.

It helps understanding what's going on. After I did the manipulation on
both hosts, I have one that successfully did the upgrade:

# Server1

/var/snap/lxd/common/lxd/logs/lxd.log:

t=2019-08-02T12:52:44+0200 lvl=info msg="LXD 3.15 is starting in normal
mode" path=/var/snap/lxd/common/lxd
t=2019-08-02T12:52:44+0200 lvl=info msg="Kernel uid/gid map:"
t=2019-08-02T12:52:44+0200

[2019-08-02 12:21] adamryczkowski commented on #6038
I have the same error. Also from yesterday.

[code]

[2019-08-02 14:44] freeekanayaka commented on #6038
It would be helpful to know for sure if the problem happened after an upgrade from 3.14 to 3.15, or post 3.15.

[2019-08-02 14:45] freeekanayaka commented on #6038
From inspecting the database, it seems that some files containing committed entries are missing.

[2019-08-02 18:10] rcj4747 opened #6040 "Add simplestreams filetype 'lxd_combined.tar.gz' for rootfs w/ metatdata"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 3.15
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-21-generic
   * LXC version:
   * LXD version:
   * Storage backend in use: dir

# Issue description

Images that will match the Ubuntu buildd images are becoming available and are indexed via simplestreams @ https://cloud-images.ubuntu.com/buildd/d

[2019-08-02 18:17] rcj4747 commented on #6040
@sergiusens FYI.

[2019-08-02 23:45] #6040 closed

[2019-08-04 17:35] adamryczkowski commented on #6038
@freeekanayaka If the fix is difficult, perhaps you can tell me, how can I salvage the containers?

[2019-08-04 19:48] freeekanayaka commented on #6038
@adamryczkowski a fix might prevent this from happening again in the future, but unfortunately it won't solve your situation. Your best bet is to remove all files named ```MMM-NNN``` and leave only the ones named ```metadata*```, ```db.bin*``` and ```snapshot*```. Hopefully those snapshots still have the data about your containers.

[2019-08-05 08:48] adamryczkowski commented on #6038
Thanks. Everything works now.

[2019-08-06 06:25] freeekanayaka commented on #6022
Please can you paste here the output of:

[code]

you should run this command on Server 1, after it has successfully started (and for Server 1 to successfully start you'll need to be sure  that Server 2 is running, even if it's failing).

On a last note, I'd like to remind everyone that although we allow users to create LXD clusters with only 2 members, that should be considered only a temporary s

[2019-08-06 08:15] lcligny commented on #6022
Hello,

I restarted LXD on Server2 to make sure it is running while failing, but
each time I launch the command on Server1 it fails with:

lxd sql global "SELECT * FROM nodes"
Error: failed to begin transaction: exec

Directely from global database

- Server1:
/var/snap/lxd/common/lxd/database/global# sqlite3 db.bin

sqlite> SELECT * FROM nodes;
1|host2||138.64.94.146:8443|14|133|2019-07-18 01:52:

[2019-08-06 10:51] freeekanayaka commented on #6022
Please can you paste also the content of the local database on both servers?

[code]

both on Server1 and on Server2.

[2019-08-06 11:37] aaronsuns opened #6044 "sshfs mount point not able to access by other user"
# Required information

lxd with ubuntu 18.04
$ lxc info | grep version
api_version: "1.0"
  driver_version: 3.2.1
  kernel_version: 4.15.0-55-generic
  server_version: "3.15"
  storage_version: 0.7.5-1ubuntu16.6

# Issue description

sshfs mount as usera is not accessible by another user

# Steps to reproduce

1. make sure user_allow_other is enabled
cat /etc/fuse.conf  | grep user_allow_other
us

[2019-08-06 11:48] #6044 closed

[2019-08-06 11:48] felonwan commented on #5606
I

Al last, I found that the real problem is the broken assigned gpu device. Delete the broken device, add a new device just works.

[2019-08-06 11:49] aaronsuns commented on #6044
not a bug, usera's home directory has wrong permission.

[2019-08-06 12:23] lcligny commented on #6022
- Server1:

 echo "select * from config" | sqlite3
/var/snap/lxd/common/lxd/database/local.db
1|cluster.https_address|138.64.94.146:8443
2|core.https_address|138.64.94.146:8443

echo "select * from raft_nodes" | sqlite3
/var/snap/lxd/common/lxd/database/local.db
1|138.64.94.146:8443
3|138.64.93.213:8443

- Server2:

echo "select * from config" | sqlite3
/var/snap/lxd/common/lxd/database/local.db
1

[2019-08-06 12:35] rigred commented on #6036
So I have figured out what some of the problem was.

The `nodes` table in db.bin for some reason had an entry that was pointing at the public IP of the server instead of 0.0.0.0 as it does on a good local install.

This apparently confused the ?newly? added cluster check.

Similarly raft_nodes in local.db contained an entry for the systems public IP with port 8443.
So what I did

1. Removed the WA

[2019-08-06 12:50] freeekanayaka commented on #6022
Oh I think I get it now. You've been hit by by upgrade bug that was introduced in 3.15.

Please try to write a file called ```/var/snap/lxd/common/lxd/database/patch.global.sql``` on server 1 with the following content:

[code]

then restart server 1 (as usual you need server 2 to be running, even if it's failing). Assuming server 1 starts successfully, then restart server 2.

[2019-08-06 13:27] freeekanayaka commented on #6036
A few questions:

1. What do you mean exactly with "Removed the WAL files"? What files did you remove?
2. What do you mean exactly with "changed the nodes table entry to use 0.0.0.0 and none for name"? How did you do that?

Note that any modification to db.bin* is going to be a no-op, since those files are only dump of the raft state, and get rebuilt.

Also, if you had a row in the ```raft_nodes``

[2019-08-06 13:42] lcligny commented on #6022
I just tried but:

t=2019-08-06T15:40:27+0200 lvl=eror msg="Failed to start the daemon: failed
to open cluster database: failed to ensure schema: failed to execute
queries from /var/snap/lxd/common/lxd/database/patch.global.sql: FOREIGN
KEY constraint failed"

Le mar. 6 août 2019 à 14:50, Free Ekanayaka <notifications@github.com> a
écrit :

[2019-08-06 13:56] rigred commented on #6036
I have a copy of all original files just to make that clear. I have just emailed that to you

Regarding your questions:
1. In `database/global/` there presently exists:
[code]
The db.bin Write ahead log doesn't exist on my healthy systems (And I know it's not a good idea to remove a WAL) But I tried it anyway as a test. Restarting LXD normally rebuilt db.bin with the older values. Removing the WAL

[2019-08-06 14:03] rigred commented on #6036
So to solve this what I would like to accomplish is to uncluster this instance and prevent snap auto refreshes and do them manually only after I've verified against a local reference system.

I've had several lxd instances break with the 3.15 auto refresh (which were easily fixed)
https://github.com/lxc/lxd/issues/6016
But this one testing instance this issue is about has been giving one issue aft

[2019-08-06 14:36] stgraber commented on #6022
@freeekanayaka you can't re-number the `nodes` table due to foreign key constraints, that's why we had to relax the heartbeat logic and now send both the nodes id and raft_nodes id in the heartbeats as well as match based on address.

So I don't think @lcligny database tables are a problem here.
@freeekanayaka is it normal that the second node may have a `db.bin` that's WAY behind that of the othe

[2019-08-06 14:44] stgraber commented on #6036
You can't disable clustering the way you've done it. The raft database itself has a record of the nodes, so modifying nodes/raft_nodes in that way, effectively just prevents it from connecting.

Mind sending your pre-modification database tarball to stgraber at ubuntu dot com?

I'll take a quick look at how much of the clustering was configured and what may be needed to have it come back online.

[2019-08-06 14:48] rigred commented on #6036
I've just sent one to freeekanayaka, sent to you also now.

[2019-08-06 15:17] freeekanayaka commented on #6022
@stgraber hm you're right, we're supposed to look at the address in the nodes table to figure out the ID. I was confused by the ```Inconsistency: local node not found``` error message, which is surely the culprit of everything but right now I can't really figure how it could happen given the data at hand.

Re ```db.bin``` we dump it both on leader and on followers when we shutdown the daemon (in `

[2019-08-06 15:22] freeekanayaka commented on #6022
@lcligny please can you try to run again:

[code]

from Server1 (I mean, the server that starts **correctly**)?

It's pretty weird that you got the error you pasted above (```Error: failed to begin transaction: exec```), if the LXD daemon starts correctly. Maybe you ran the command on the other server?

[2019-08-06 16:24] stgraber commented on #6036
Thanks, I responded to your e-mail. I'm having your database load just fine here once I replicated the IP address of your node on my system. I'd recommend you:
 - Restore your /var/snap/lxd/common/lxd/database from the tarball
 - Check that you don't have a `/var/snap/lxd/common/lxd.debug` file on your system
 - Confirm that you're on up to date stable with `snap list` (revision 11437)
 - Show us

[2019-08-06 16:53] rigred commented on #6036
Ok so snap list
[code]
Nothing odd in process tree
[code]
lxd systemd related bits
[code]
Nothing using port 8443

Public IP is definetly up and tied to eth0 device else I would not be able to SSH into this system. IP_ADDR everywhere here corresponds to the public IP.
Second device br0 is a public bridge with /29 network some containers have interfaces routed through this.

Network wise everything

[2019-08-06 17:05] rigred commented on #6036
Following with
` sudo journalctl -u snap.lxd.daemon.service -b 0 --follow`
I can just see lxd service restarting endlessly with the same output

[code]

[2019-08-07 03:08] stgraber commented on #6036
That's really odd, I'm failing to think of something that would explain it behaving when started manually vs from the systemd unit...

Can you show `systemctl cat snap.lxd.daemon.service`.

[2019-08-07 08:04] lcligny commented on #6022
Hello,

As the server1 (the one that started properly after global database restore
and upgrade) was failing again, I dit one more time the global
restore/upgrade procedure on both servers, and I can now launch the command
on Server1:

- Server1

lxd sql global "SELECT * FROM nodes"
+----+-------+-------------+--------------------+--------+----------------+-------------------------------------+---

[2019-08-07 12:04] freeekanayaka commented on #6022
There is something I can't make sense of: the ```nodes``` seems to contain correct values for both nodes (address, schema version and API extensions count). Yet server 2 still logs ```Wait for other cluster nodes to upgrade their versions```, which should definitely not happen given the above values.

@lcligny could you please enable debug logging on both nodes?

[code]

then restart the daemons,

[2019-08-07 12:27] rigred commented on #6036
[code]

Verified to be matching a working install.

[2019-08-07 13:58] Hooloovoo commented on #2188
For further background, please see:
[https://github.com/linux-audit/audit-kernel/wiki/RFE-Audit-Container-ID](https://github.com/linux-audit/audit-kernel/wiki/RFE-Audit-Container-ID)
and the various links in there.

There was also a (2016) LWN on this:
[https://lwn.net/Articles/699819/](https://lwn.net/Articles/699819/)

[2019-08-07 15:39] lcligny commented on #6022
Here we go.

- Server1:

t=2019-08-07T17:19:25+0200 lvl=info msg="LXD 3.15 is starting in normal
mode" path=/var/snap/lxd/common/lxd
t=2019-08-07T17:19:25+0200 lvl=info msg="Kernel uid/gid map:"
t=2019-08-07T17:19:25+0200 lvl=info msg=" - u 0 0 4294967295"
t=2019-08-07T17:19:25+0200 lvl=info msg=" - g 0 0 4294967295"
t=2019-08-07T17:19:25+0200 lvl=info msg="Configured LXD uid/gid map:"
t=2019-08-0

[2019-08-07 21:50] tokiwinter opened #6048 "Some containers dhclient generate blank /etc/resolv.conf"
# Required information

 * Distribution: CentOS
 * Distribution version: 7.6.1810
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Some containers have empty `/etc/resolv.conf` files

# Steps to reproduce

We build an image using Packer that has 20 `images:centos/7` containers running on it. After reboot, we note that `/etc/resolv.conf` in some containers is empty. For ex

[2019-08-07 22:12] tokiwinter commented on #6048
`/var/log/messages` on the container shows that `/etc/resolv.conf` is written and reports no issues:
[code]
That was when the container was provisioned, and after a restart we see:
[code]
[code]

[2019-08-07 23:18] stgraber commented on #6048
Would be good to have a dhclient script which dumps the nameserver information. If it's there, then the problem must be with the default dhclient script doing something wrong with /etc/resolv.conf.

LXD itself doesn't touch that file (or any file in the container), all it does is run the DHCP server.
If the reply from our DHCP server includes the DNS servers, then things are fine on our side and t

[2019-08-08 02:06] tokiwinter commented on #6048
The response from the DHCP server contains the correct information as other containers on the same bridged network are fine.

I'll hack around it with DHCP hook overrides for now.

[2019-08-08 02:06] #6048 closed

[2019-08-08 07:17] freeekanayaka commented on #6022
@lcligny thanks for attaching the debug logs. Unfortunately those confirm the weirdness that I noticed before: server 2 refuses to start because it thinks there are other cluster members that have versions less then its own one, however this does not seem to be possible given the db dumps you reported.

Since I have a tarball of your database directories, I'll setup the same networking that you ha

[2019-08-08 09:05] helamonster opened #6049 "Error: Common start logic: Load go-lxc struct: Failed to load raw.lxc"
Someone please help, I can't look at this any more... All I'm trying to do is start a container I had running perfectly fine under 16.04. Once I upgraded to 18.04, this started happening:

[code]
Sure, it looks like #4501, but what does  "You should simply replace lxc.aa_profile with lxc.apparmor.profile" mean, if not the following:
```lxc config set boot  raw.lxc "lxc.apparmor.profile = unconfine

[2019-08-08 14:09] stgraber commented on #6049
Can you try `lxc config edit boot` and then change both:
 - Add `pool` property to the `root` device
 - Change raw.lxc to be `lxc.apparmor.profile` instead of `lxc.aa_profile`

Assuming that those are the only two issues, the config should then validate.

[2019-08-08 14:22] stgraber commented on #6038
Moved to https://github.com/canonical/raft/issues/57

[2019-08-08 14:22] #6038 closed

[2019-08-08 16:52] freeekanayaka commented on #6022
I was somehow able to reproduce your environment, but it seems I'm getting something else. Basically Server2 crashes with:

[code]

which is even more weird. I need to debug this further. Will try again tomorrow.

[2019-08-08 21:12] #6034 closed

[2019-08-09 02:23] helamonster commented on #6049
```root@util ~ # lxc config  edit boot```

[code]

[code]

[code]

[code]

[2019-08-09 03:38] stgraber commented on #6049
Interesting, this appears to be a rather old data migration bug, probably dating back from way back when we introduce the concept of storage pools.

Can you show:
 - lxc storage pool list
 - lxc profile list
 - lxc profile show default

With that, I can figure out instructions to fix the database entries at which point you'll be able to fix the raw.lxc entry and be back in business.

[2019-08-09 03:42] helamonster commented on #6049
Yes, very strange indeed...

[code]

[2019-08-09 04:05] stgraber commented on #6049
Ok, excellent, so your profile looks right, it's just the per-container entries that are incorrect.

The easiest fix likely is:
[code]

This will immediately make all containers inherit from the default profile.

[2019-08-09 08:13] syswipe commented on #5806
now, i rebooted all nodes. problem solved. but the reason remains unclear

[2019-08-09 08:13] #5806 closed

[2019-08-09 08:22] lcligny commented on #6022
Hello

In fact that's an error I had when running lxd --debug --group lxd if I
remember correctly, but it was before I did the restore database procedure.

Le jeu. 8 août 2019 à 18:52, Free Ekanayaka <notifications@github.com> a
écrit :

[2019-08-09 11:20] helamonster commented on #6049
I don't want to assume that I should use "2" instead of "'disk'" but here's what I have:

[code]

[2019-08-09 12:49] syswipe opened #6056 "Unable to start containers after Hardware reboot"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.6
 * The output of "lxc info" or if that fails:
[code]
# Issue description

After the unplanned hardware reboot, I'm not able to start some LXC containers. Also, i can't copy/move containers between nodes

# Steps to reproduce

[code]
also:
[code]

# Information to attach

`t=2019-08-09T14:45:42+0200 lvl=eror msg="Rsync

[2019-08-09 13:16] syswipe commented on #6056
also, I saw the next messages in dmesg:

[2019-08-09 13:35] stgraber commented on #6049
Oh, sorry about that, yes, 2 is correct.

[code]

In your case that will effectively empty that whole table as you don't have devices other than the root of the containers.

[2019-08-09 13:39] stgraber commented on #6056
For the moving part `No space left on device` is a pretty clear indicator of the issue there.
The dmesg output similarly suggests a space related issue?

For your startup error, you can do:
 - lxc config set NAME raw.lxc lxc.log.level=trace
 - lxc start NAME
 - lxc info --show-log NAME

That should get you even more details on the startup failure.

[2019-08-09 13:56] syswipe commented on #6056
yep, i understand, but i can't find the reason. As i can see - there are a lot of free space in Pool.

lxc info --show-log output - in attachment

[2019-08-09 14:53] stgraber commented on #6056
For the move, my best guess is that your container doesn't have a `root` device with a `size` property directly attached to it (might be coming through a profile), causing the target server to allocate the standard volume size (10GB) which is too small for your container.

Sounds plausible?

[2019-08-09 14:54] danielrobbins opened #6057 "storage pools - a cautionary tale"
I experienced some upgrade woes when I moved to lxd-3.14, related to ZFS storage pools.

With other storage pools, at least of the btrfs variety, if the pool is not available then the containers that use the storage pool fail to start, but all other containers start.

In this particular scenario, I had upgraded a server to a new debian-sources-lts kernel release, and I had decided to not rebuild t

[2019-08-09 15:04] stgraber commented on #6056
As for the startup failure, currently my best guess is that there is an issue finding/executing `/sbin/init` in that container.

Can you manually mount the LV of that container somewhere and inspect `rootfs/sbin/init` in there?

[2019-08-09 15:12] stgraber commented on #6057
Normally LXD will happily start with missing storage, the 3.15 upgrade however wasn't such a case as one time migration logic had to be performed on all storage pools prior to the daemon being able to safely operate.

LXD's database file is generated from the raft log entries and so cannot be user modified (it just gets reset on startup), however we have a documented process to run commands immedi

[2019-08-09 15:14] stgraber commented on #6057
Sending a branch to have ZFS properly wrap its errors:

Before:
[code]

After:
[code]

[2019-08-09 15:23] stgraber commented on #5999
Sorry for the delay, finally looking into this now.

[2019-08-09 15:33] syswipe commented on #6056
Unfortunately no. I've mounted container rootfs manually:

`/dev/mapper/local-containers_rmq----2  9.8G  929M  8.3G  10% /mnt/rmq-2
`
there is enough free space

[code]
also i note, that LVM didn't remove volumes which were deleted via lxc storage delete. When i try to remove ones manually, i get an error:
[code]
sounds like a problem with LVM backend?

[2019-08-09 16:28] #6057 closed

[2019-08-09 16:33] stgraber commented on #6056
Can you try:
 - chroot rootfs
 - /sbin/init --help

Just to make sure it's not because of a bad library or corruption of the binary itself as those can cause the kernel to return `no such file or directory` in a pretty confusing way.

[2019-08-09 16:35] stgraber commented on #6056
The `lvremove` failing isn't a good sign, it may be the indication of more underlying LVM problems on that system.

Can you check that `grep custom_demo--storage /proc/*/mountinfo` doesn't return anything, just to make sure that it's not actually in use somewhere. Also maybe run `pvscan --cache` to make sure that what you see in `lvs` matches what's on disk.

As the LXD snap has to use its own cop

[2019-08-09 19:06] #5999 closed

[2019-08-09 21:33] danielrobbins commented on #6057
Thanks for the reply. Oh, lxd sql looks like what I needed.

I think the ideal way to handle the one-time upgrade scenario would be to print a clear error message and then say something like "Storage pool X not found. Cannot perform one-time update steps for lxd x.y. Lxd will exit. Please correct the issue by making the storage pool available or use the 'lxc sql' command to remove storage pool if

[2019-08-10 01:10] charles-d-burton opened #6061 "Cannot Get Bridged Networking to function"
#5318 Required information

 * Distribution: ubuntu
 * Distribution version: 18.04.2
 * The output of "lxc info" or if that fails:
[code]

# Issue description

I cannot get containers to DHCP on my network via a bridged interface.  This was all working prior to wiping and reloading my machine.

# Steps to reproduce
Have a server with three network interfaces, one configured with a static IP and tw

[2019-08-10 02:16] stgraber commented on #6061
In your setup you have the same subnet on both enp6s0 and br0. That's unlikely to be the source of your problem but that certainly won't help with stable connectivity on your host.

As for the containers, is that a physical system or a virtualized one? Some virtual machine solutions filter MAC addresses such that only the primary mac of the interface can send traffic through.

Other than that, the

[2019-08-10 03:20] charles-d-burton commented on #6061
The DHCP on the br0 interface was just there to show that I'm able to make requests on those interfaces.  I turned it back off and I know that DHCP is coming out from the container.  Here's a tcpdump log:
[code]

The MAC assignment in the request matches the interface as well.

[2019-08-10 03:23] charles-d-burton commented on #6061
The DNSMasq server on my unifi router doesn't report anything as reaching it though from that MAC address.
[code]

[2019-08-10 03:25] charles-d-burton commented on #6061
When I try to set it manually lxc complains that the device doesn't exist.

[code]

[2019-08-10 03:28] charles-d-burton commented on #6061
One quick note too, this is a bare metal server with bone stock Ubuntu server.  The only thing I've installed is lxd and zfsutils.

[2019-08-10 03:35] stgraber commented on #6061
Can you try tcpdump on `enp2s0f1` to see if the DHCP query from the container makes it there?

[2019-08-10 03:36] stgraber commented on #6061
Oh, you have Docker on your system, that's been known to sometimes do some funny things with firewalling.

Can you show:
 - iptables -L -n -v
 - ebtables -L -v

[2019-08-10 03:54] charles-d-burton commented on #6061
Nothing from DHCP on the enp2s0f1 interface.  Iptables is reporting:

[code]
ebtables:

[code]

[2019-08-10 04:09] charles-d-burton commented on #6061
Aha, it was docker.  Once you said something I poked around a bit and found out how to get it to work.  Thanks for your help on this.

[2019-08-10 05:21] #6061 closed

[2019-08-10 14:15] melato opened #6062 ""lxc file pull" of huge file continues to write the file to /tmp even after killing the command"
Client version: 3.15
Server version: 3.15
snap lxd   3.15     11437  stable    canonical✓  -
Host: Ubuntu 18.04
uname -r:  4.15.0-55-generic

Steps to reproduce:
- create a large file "/var/log/file.log" in a container "a".  The file should be large enough so that you can do the rest of the steps before it finishes copying.  I used 16GB.
- from the host, run: lxc file pull a/var/log/file.log {dest

[2019-08-10 14:58] akarelas opened #6063 "Documentation about PKI is incomplete"
In page https://lxd.readthedocs.io/en/latest/security/, we can read that to enable PKI mode you need to add a client.ca file inside ~/.config/lxc . The document forgets to mention where we are going to find this 'client.ca' file (or how we are going to create it).

Could you please fill-in this information? Because I really would like to use PKI with LXD. Thank you,

[2019-08-10 15:13] helamonster commented on #6049
Getting closer...

[code]

[code]

[code]

[code]

[code]

[2019-08-10 15:17] stgraber commented on #6061
Good to hear

[2019-08-10 15:21] stgraber commented on #6063
That's the CA file from your PKI. The administrator of your corporate PKI should provide that to you.

If you use something like easy-rsa to generate your own, it will similarly give you a ca.crt as well as public/private pairs for every server/client you add to your PKI.

We don't go in details on where to find it because that's completely dependent on the PKI that you use. Most of our users for

[2019-08-10 15:21] #6063 closed

[2019-08-10 15:24] stgraber commented on #6049
Oh wow, something must have seriously gone terribly wrong with a very old update on your system...
For that container, you will need to:
 - zfs set canmount=noauto rpool/lxd/containers/boot
 - zfs set mountpoint=none rpool/lxd/containers/boot
 - rm /var/snap/lxd/common/lxd/containers/boot
 - mkdir -p /var/snap/lxd/common/lxd/storage-pools/default/containers/boot
 - ln -s /var/snap/lxd/common/lxd/s

[2019-08-10 15:28] stgraber commented on #6062
Aborting on ctrl+c isn't doable for that particular command as you're dealing with a REST API, killing the client has no affect on the server which will only notice the client connection having gone away AFTER it's done fetching the file and attempts to write it to the now dead http connection.

We "may" be able to skip the usage of the temporary file by having the C subprocess pipe the data to th

[2019-08-10 19:55] helamonster commented on #6049
Here we go...

[code]

Note: That never shows the log, but I found it...

[code]

Oops, a typo in the directory... eventually fixed that...

[code]

😃  Excellent 👍

I have an identical system I'll need to do the same for. Thank you for your assistance! This was a nasty one... the first showstopper issue I've ran into. Looking forward to expanding my LXD use...

[2019-08-11 01:03] stgraber commented on #6049
Yeah, that's very very odd because all that data migration should have happened a long long time ago, around LXD 2.8 or so I believe and we're at 3.15 now.

Did you recently upgrade from LXD 2.0.x?

Closing as this is sorted out and we know in the common case things do behave (we have daily testing for 2.0.x to 3.x) so there's very little chance we can actually build a reproducer. If someone does

[2019-08-11 01:03] #6049 closed

[2019-08-12 01:10] stgraber commented on #6062
Just spent a couple of hours poking around our logic to see what can be done with streaming.

We can pretty easily get our subprocess (`forkfile`) to receive a PIPE and stream the data to that, the problem is what happens afterwards. To return the proper http response, we need to know the file size, the file type and its modification time. That's data we could have the C process return separately

[2019-08-12 01:11] stgraber commented on #6062
(Oh, and in case someone is wondering, we can't just access the file directly from the container's filesystem and have the file transfer code use that, as accessing files inside a container without properly joining its namespace as our `forkfile` subprocess does is the source of HUGE security problems without would allow a user in the container to attack the host.)

[2019-08-12 02:51] stgraber commented on #6036
@rigred did things fail again ever since they decided to start when I was playing with the daemon?

[2019-08-12 07:50] melato commented on #6062
This is not a high priority issue for me.  I will just know to not use lxc file pull/push for large files. Perhaps it suffices to document this in "lxc file pull -h" and/or ask for confirmation if the file is larger than a certain size (e.g. 1MB or 0.1% of current RAM).

I mainly use "lxc file push" to push small initialization/installation scripts to a new container, typically to setup an account

[2019-08-12 08:49] syswipe commented on #6056
output is empty

looks like lvs shows all LV correctly

[2019-08-12 08:56] #6062 closed

[2019-08-12 09:52] syswipe commented on #6056
If i understand you properly, LXD's lvm tools may cause some inconsistency? And i'm not able to repair my VG/LV with host tools?

[2019-08-12 10:20] rigred commented on #6036
It's been working perfectly ever since.
Though I can sometimes make it fail by running a daemon reload in
successive order.

I suspect it's something timing related that's happening.

On Mon, Aug 12, 2019 at 4:51 AM Stéphane Graber <notifications@github.com>
wrote:

[2019-08-12 14:29] stgraber commented on #6056
The tools themselves are usually fine, the problem is the various caches that LVM maintain as those will go out of sync. That's what `pvscan --cache` normally resolves by re-scanning the devices, extracting the metadata from there and then updating the cache.

You could also try:
 - nsenter -t $(pgrep daemon.start) -m
 - export PATH=/snap/lxd/current/bin/:${PATH}
 - export LD_LIBRARY_PATH=/snap/lx

[2019-08-12 14:31] stgraber commented on #6036
@freeekanayaka does `database locked` type error happening when restarting the daemon very quickly make sense to you?

I do remember seeing this behavior locally a couple of times when quickly restarting the daemon for some tests and systemd's restart policy certainly wouldn't help us there, but I've failed to reproduce this behavior locally now.

[2019-08-12 15:00] freeekanayaka commented on #6036
@stgraber, no restarting the daemon quickly shouldn't have any particular effect in that regard. It feels like some kind of bad cascading error:

[code]

It feels that leadership is not stable for some reason, and causes some cascading error which we might not handle too well.

[2019-08-13 07:29] syswipe commented on #6056
hi, @stgraber
Today the situation is the next: lxd on node with bad LVM is completely unavailable.
all lxc related commands return the next:
`Error: Get http://unix.socket/1.0: EOF`

[code]
now i'm trying to move data from stopped containers. But how can i save running containers?

[2019-08-13 07:54] syswipe commented on #6056
Also, when i try to import tarballs on another cluster node, i get an error:
[code]
i'm stuck...

[2019-08-13 09:46] syswipe commented on #6056
i can't use nsenter because of snap.lxd.daemon restarted continuously, so pids always different.

[2019-08-13 10:12] syswipe commented on #6056
finally my cluster show that all nodes are offline, because of second node shows:

any suggestions?

[2019-08-13 14:13] stgraber commented on #6056
@syswipe any chance I can get onto that system to figure out what's going on?
The error seems pretty weird, it effectively says that everything worked, yet exitted non-zero as if something wrong happened...

[2019-08-13 14:27] syswipe commented on #6056
@stgraber, I've replied to you in private message.

[2019-08-14 09:17] syswipe opened #6077 "LXD failed to start: failed to start dqlite server"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.6
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.4.0-143-generic
   * LXC version: 3.16
   * LXD version: snap 3.16 rev 11595
   * Storage backend in use: LVM

# Issue description
I completely lose access to clustered LXC.
As i can understand, thats because of first cluster node unable to start LXD

[2019-08-14 09:21] syswipe commented on #6077
lxd --debug --group lxd
[code]

[2019-08-14 11:27] syswipe commented on #6077
it's very strange, but
[code]
returns my cluster to normal state.
but what the hell it was?

[2019-08-14 11:50] freeekanayaka commented on #6077
We saw this in our test builders too. It should happen only if the LXD daemon did not get a chance to shutdown gracefully and/or was killed abruptly (e.g. OOM).

The failure is due to a broken sanity check in raft which is too aggressive and bails out in a situation which is actually fine.

The fix got committed [here](https://github.com/canonical/raft/pull/61), and should be propagated to the sna

[2019-08-14 11:50] #6077 closed

[2019-08-14 13:13] stgraber commented on #6077
Snap is rebuilding now to take in some fixes including this one, should be available in stable channel in the next two hours.

[2019-08-14 19:53] #5515 closed

[2019-08-15 08:56] waynegemmell commented on #2462
FYI @stgraber , I came across this issue following https://ubuntu.com/blog/network-management-with-lxd-2-3 . Either I'm not following it well or it needs a little clarity there.

[2019-08-15 12:50] captainwasabi opened #6087 "lxc list --format=csv should not display headers"
latest snap

# Issue description

The output of lxc list -cs --format=csv now includes headers

# Steps to reproduce

 1. Run the above command
 2. See the header

# Information to attach

lxc/utils.go - lines 280 & 281

or add a flag to suppress the header line

[2019-08-15 16:33] #6087 closed

[2019-08-16 06:55] hoatienii commented on #1298
every i turn of lxc container, i have type command to have internet.

[2019-08-16 07:05] idef1x commented on #5759
The problem still exists in 3.16. Copying/refreshing goes fine and the container is in stopped state on the backup server, but the power state (volatile.last_state.power: RUNNING) is still running.
There also seems to be a running LXD process that checks regurly for stopped containers and starts it when the volatile.last_state.power: RUNNING is set in the config.
So after the backup (copy/refresh)

[2019-08-16 16:34] stgraber commented on #5759
@idef1x
https://github.com/lxc/lxd/pull/6093

[2019-08-17 09:54] mikescott opened #6095 "Containers do not get IP addresses in Debian 10.0 with UFW enabled, but do in Debian 9.9"
# Required information

 * Distribution: Debian 10 Buster
 * Distribution version: 10.0
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Debian 10 containers under Debian 10 do not get an IP address, but do in Debian 9 with the same configuration.

Disabling UFW in Debian 10 allows containers to successfully get an IP.

# Steps to reproduce

 1. Install Debian from debia

[2019-08-17 16:20] stgraber commented on #6095
So sounds like ufw changed behavior between Debian 9 and Debian 10.
That or there is something else getting in the way of the container sending a DHCP request through.

DId you confirm that disabling ufw on Debian 10 fixes it?

[2019-08-17 19:11] maelstrom256 opened #6096 "LXD config non-maintainable when daemon wontstart"
# Required information

 * Distribution: Ubuntu bionic
 * Distribution version: 18.04.3 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-23-lowlatency
   * LXC version:
   * LXD version: 3.0.3
   * Storage backend in use: ZFS

# Issue description

When daemon encounters a storage error it try to be smart, but gone completely unconfigurable.
History:
* Host installed as

[2019-08-17 19:41] mikescott commented on #6095
Hi, disabling ufw does fix it in Debian 10

[2019-08-17 21:36] stgraber commented on #6095
Okay, so the different is either a change to ufw or a difference in default configuration for ufw.

I would recommend looking into the ufw documentation and its current settings to have it behave the way it used to on Debian 9.

LXD doesn't integrate with ufw in any way, so it's not really a LXD bug when some firewall solution on the system prevents containers from reaching the host.

[2019-08-17 21:36] #6095 closed

[2019-08-17 21:41] stgraber commented on #6096
The normal way to do what you did with LXD would have been:
 - Setup your new zpool
 - Add it as a new storage pool to LXD
 - Move the containers from the old to the new pool with `lxc move --storage`
 - Once empty, delete the old pool from LXD

Manually reshuffling things behind LXD's back, while possible if done very carefully, isn't something we support.

It is possible to have LXD update its d

[2019-08-17 21:41] #6096 closed

[2019-08-18 07:32] idef1x commented on #5759
Really thanks again :)

[2019-08-18 08:47] maelstrom256 commented on #6096
Thanks for quick reply! It helps, now daemon and all containers run correctly.

But, when you suddenly need to migrate, there no time to learn every package manuals. Therefore, manuals usually do not describe caveats.
And more, no one can expect from high quality software that it can just struck, leave you alone with nothing just some kind of non-editable config.

It just dark pattern of app desin

[2019-08-18 16:18] m4ntic0r opened #6097 "Export/Import messes around with my uids?"
I have a really frustrating problem..

I have a debian 9 host, with lxd v. 3.16 and some containers with debian 10 buster. Storage is dir format. All containers are set to "lxc config set name security.privileged true"

I backup my containers with
/snap/bin/lxc export name1 /backup/container/name1-$datum.tar.gz --container-only
/snap/bin/lxc export name2 /backup/container/name2-$datum.tar.gz --con

[2019-08-18 17:15] kevinkk525 opened #6098 "snap lxd refresh stuck on 'Copy snap "lxd" data'"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.0.0-23-generic
   * LXC version:
   * LXD version: 3.16
   * Storage backend in use: zfs

# Issue description

snap tried to refresh lxd to the latest version and is stuck during the process of 'Copy snap "lxd" data' since soon 12 hours:
[code]

I have

[2019-08-18 18:13] kevinkk525 commented on #6098
Oddly enough after killing the non responding external hdd (that wasn't even connected to any lxd container in any way) the process continued but now has a different error:

Status  Spawn                Ready                Summary
Done    today at 06:40 CEST  today at 20:07 CEST  Ensure prerequisites for "lxd" are available
Undone  today at 06:40 CEST  today at 20:07 CEST  Download snap "lxd" (11

[2019-08-18 18:13] #6098 closed

[2019-08-18 18:56] stgraber commented on #6097
Sent a fix, though this will sadly only fix newer backups, it won't fix unpacking old ones.

One workaround you may be able to use as a one off way of loading your backups is to temporarily alter /etc/passwd and /etc/group on the target system to match the source server, this will then cause tar to unpack with the right uid/gid.

[2019-08-18 18:56] stgraber commented on #6097
Worth noting that backups done using --optimized-storage will not be impacted by this issue.

[2019-08-18 21:20] #6097 closed

[2019-08-19 14:36] tomponline opened #6102 "Old dnsmasq leases left after disabling DHCP prevents container from being deleted"
Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

# Issue description

If a container is launched connected to a managed bridged network with dnsmasq running and then subsequently the managed network has DHCP disabled by removing the bridge

[2019-08-20 06:10] laralar commented on #6014
Hi.. I saw that this change was merged into juju API 8 days ago,, will it come in the next LXD/LXC snap ?

thanks

[2019-08-20 14:26] stgraber commented on #6014
It should be in the current snap already, I made sure to rebuild the LXD 3.16 snap after the fix got merged.

[2019-08-20 14:34] Ferdinanddb commented on #6098
I'm having a similar issue on a 3 nodes cluster.. Only 1 node out of 3 managed to do the auto-refresh.
The auto-refresh on each node was done on 3 different dates and the 2 nodes that failed have this similar  `snap change ID` output :
[code]
Also, I use ZFS and it seems that there are a lot of writes on the disk using `top` command (might be linked to the `Copy snap "lxd" data` ?)

I can't do the

[2019-08-20 15:51] dshcherb opened #6105 "lxc list Error: Failed to fetch field Config: Failed to fetch ref for containers: project"
# Required information

 * Distribution: ubuntu
 * Distribution version: 19.04

[code]

[code]

# Issue description

`lxc list` fails while some other commands work:

[code]
# Information to attach

A few lines from /var/snap/lxd/common/lxd/logs/lxd.log (probably generated by the container auto-start logic because lxc list does not produce the same):
[code]

`lxc list` with `lxc monitor` running i

[2019-08-20 16:04] n3k2t1 opened #6106 "container fail to start, when /sys/class/net/bonding_masters exist"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.2
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-50-generic
   * LXC version: 3.116
   * LXD version: 3.16
   * Storage backend in use: zfs

# Issue description
When exist bonding_masters file(not directory) under /sys/class/net, fail to read infiniband device information.

# Steps to reproduc

[2019-08-20 16:15] tomponline commented on #6106
@n3k2t1 please can you provide the output to ```lxc config show NAME --expanded```

[2019-08-20 17:36] chris-sanders opened #6107 "Fscrypt path errors when mounted into container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:

# Issue description

Mounting a filesystem that is protected with fscrypt into a container is causing the error "Required key not available" for some, but not all, operations. For example, mounting a folder into a container I can edit files with vim. However, trying to cat

[2019-08-20 18:11] stgraber commented on #6098
You'll want to do `snap changes` then for anything that's stuck, do `snap abort`, give snapd some time to give up on it, then attempt a refresh again.

[2019-08-20 18:14] stgraber commented on #6105
When did this first start?
Can you post the output of `lxd sql global .schema` and also:
 - `lxd sql global "SELECT * FROM containers;"`
 - `lxd sql global "SELECT * FROM containers_config;"`
 - `lxd sql global "SELECT * FROM projects;"`

[2019-08-20 18:14] stgraber commented on #6105
@freeekanayaka does this ring a bell?

[2019-08-20 18:20] stgraber commented on #6106
Right, it's the weird sysfs behavior, you don't get no such file or directory so the existing check doesn't work.

[2019-08-20 18:24] stgraber commented on #6106
Sent a PR to sort this one out. I suspect the upcoming infiniband changes would also fix this by relying on the resources API that already has the suitable check, but fixing this first will let me cherry-pick the fix.

[2019-08-20 18:40] tomponline commented on #6106
Thanks @stgraber

[2019-08-20 19:03] #6106 closed

[2019-08-20 19:05] dshcherb commented on #6105
@stgraber

Looks like it happened ~ 10 days ago but I haven't been using LXD on this machine (laptop) since then.
[code]

My other machine with a pretty old LXD installation (long-running server, 18.04) is OK but it also has 3.16.

The rest of the info:

https://gist.github.com/dshcherb/8e28d994876cafb4eafc247eb72a44f2

[2019-08-20 19:29] stgraber commented on #6105
Thanks, I'm not seeing anything immediately wrong in there. We've had similar errors caused by database corruption (duplicate config entries) but that doesn't appear to be the case for you.

Would you mind making a tarball of /var/snap/lxd/common/lxd/database and sending it to stgraber at ubuntu dot com?

I'll load it up on a test system here and try to figure out what's wrong with the database an

[2019-08-20 20:37] dshcherb commented on #6105
Ditto

https://gist.github.com/dshcherb/8e28d994876cafb4eafc247eb72a44f2#gistcomment-3003667

[2019-08-21 04:09] stgraber commented on #6105
Thanks, going to take a quick look now.
Sorry for the slow turnaround, I'm at a conference on the west coast this week, so got limited time and very little time overlap with the rest of the LXD folks in Europe :)

[2019-08-21 08:58] BartVB commented on #4836
Does going In/out of promiscuous mode coincide with starting/stopping containers?

I had similar problems (with LXC, no LXD), this was caused by another container using the same IP address. Also make sure that you are using unique MAC addresses per interface.

[2019-08-21 09:14] nicolas33 opened #6109 "panic when starting lxd: checking the version of dnsmasq fails"
# Required information

 * Distribution: manjaro (archlinux AUR: aur/lxd)
 * The output of "lxc info" or if that fails:
   * LXD version: 3.15

# Issue description

[code]

# Steps to reproduce

 1. systemctl restart lxd

# Possible fix

Adding the following line to `/etc/systemd/system/multi-user.target.wants/lxd.service` fixes the issue:
`Environment="LANG=C"`

I guess this is the best thing to

[2019-08-21 11:04] dshcherb commented on #6105
@stgraber, no problem, I can wait (found myself a different LXD to test on).

[2019-08-21 12:43] Ferdinanddb commented on #6098
Thank you for your answer. How much times would it takes for snapd to give up? Because nothing changed since 20 minutes.
[code]

I can provide some other logs if you want :
from `top` :
[code]

from `iostat` I can see that the two disks using ZFS are writing a lot..
[code]

[2019-08-21 14:40] freeekanayaka commented on #6105
I see this at startup when running with ```--debug```:

[code]

so it seems there's some inconsistency.

[2019-08-21 14:40] freeekanayaka commented on #6105
I will debug this tomorrow unless @stgraber steps in.

[2019-08-21 14:41] stgraber commented on #6098
Well, that's odd. I'd say, try to abort any running task, give it a minute, then restart snapd itself (`systemctl restart snapd`), hopefully that will unstick things.

[2019-08-21 14:44] stgraber commented on #6109
@tomponline can you look into this? We'd want to run all such version info commands without locales (so using LANG=C.UTF-8) to avoid such issues. We may need another small RunCommand type function for that (RunCommandC or something).

[2019-08-21 14:51] Ferdinanddb commented on #6098
Thanks for your quick answers. We decided to reboot all the nodes which failed the auto-refresh and everything is fine now, the LXD auto-refresh has been successful this time..!

[2019-08-21 15:45] tomponline commented on #6109
@stgraber will take a look at this first thing tomorrow.

[2019-08-21 16:32] stgraber commented on #6098
Okay, so bouncing snapd would likely have achieved the same.

If you have a bit of time, can you report this behavior on the snapcraft forum (forum.snapcraft.io).

[2019-08-22 07:52] freeekanayaka commented on #6105
@dshcherb just to double check, are you seeing the "UNIQUE constraint failed" error too? It requires to switch on debug mode:

[code]

From what I see the database disk image that is stored in the last snapshot is malformed. I did not have time yet to further debug what corruption exactly happened (it might be that SQLite is throwing that error somehow spuriously), but I believe it's the first tim

[2019-08-22 13:33] dshcherb commented on #6105
Service journal with debug mode enabled:

[code]

@freeekanayaka I removed the files you mentioned since I don't think there was any state that couldn't be restored. `lxc list` is working now.

Thanks a lot!

[2019-08-22 13:35] #6105 closed

[2019-08-22 14:20] m-shibata opened #6112 "forkproxy segmentation fault when add proxy device"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

When proxy device is added, `lxc config device add` succeed but forkproxy segmentation fault.

 - Ubuntu 18.04 LTS + lxd 3.0.3-0ubuntu1~18.04.1 (apt)
  => doesn't occur
 - Ubuntu 18.04 LTS + lxd 3.0.4 (snap)
  => occur
 - Ubuntu 18.04 LTS + lxd 3

[2019-08-22 17:02] #6109 closed

[2019-08-22 17:09] stgraber commented on #6107
How did you setup fscrypt on the source path?

I'd like to reproduce that environment to take a look at it.
This looks like a kernel error so it seems unlikely we'll be able to do something about it, but I'd still like to understand exactly what's going on.

[2019-08-22 17:58] chris-sanders commented on #6107
I suspect you are right and it's a kernel issue. I setup encryption for my home directory following http://tlbdk.github.io/ubuntu/2018/10/22/fscrypt.html although I suspect you could setup fscrypt on any folder and not mess with unlocking at log-in to recreate.

[2019-08-22 19:45] nicolas33 commented on #6109
Thanks!

[2019-08-22 21:13] charlie-ht commented on #3770
I saw this today, on an unloaded system running lxd 3.16. It's not clear how to reproduce. Are there logs that can be attached?

[2019-08-22 21:50] stgraber commented on #6107
Ok, been playing with this stuff for an hour or so.
It's pretty tricky and relies on the kernel keyring being setup properly.

I couldn't easily reproduce this issue at first because my keyring setup didn't seem to prevent other users from using my keys, so the container was able to get hold of the ext4 key and so read/write content just fine.

Then I started missing with keyring permissions and m

[2019-08-22 21:50] #6107 closed

[2019-08-22 22:12] truelai opened #6115 "database is locked repeatedly"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 16.04.6
 * The output of "lxc info" or if that fails:
  config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices

[2019-08-22 22:54] truelai commented on #6115
Just now noticed that RAID firmware was out of date. Tainted kernel gone from DMESG.

[2019-08-22 23:12] stgraber commented on #6115
Does that self-resolve or do you need to reload LXD for it to go away?

[2019-08-22 23:14] truelai commented on #6115
Fixed the kernel taint. Still having the same issues. A reload remedies it only temporarily.

[2019-08-22 23:14] truelai commented on #6115
Just failed to start container as well.

lai@R610-LXD2-LAN:~$ lxc start ldap
Error: Failed to run: /snap/lxd/current/bin/lxd forkstart ldap /var/snap/lxd/common/lxd/containers /var/snap/lxd/common/lxd/logs/ldap/lxc.conf:
Try `lxc info --show-log ldap` for more info
lai@R610-LXD2-LAN:~$ lxc info --show-log ldap
Name: ldap
Location: none
Remote: unix://
Architecture: x86_64
Created: 2018/03/07 20:29

[2019-08-22 23:15] truelai commented on #6115
Log:

lxc ldap 20190822231327.621 ERROR    conf - conf.c:run_buffer:352 - Script exited with status 1
lxc ldap 20190822231327.621 ERROR    start - start.c:lxc_init:887 - Failed to run lxc.hook.pre-start for container "ldap"
lxc ldap 20190822231327.621 ERROR    start - start.c:__lxc_start:1991 - Failed to initialize container "ldap"
lxc ldap 20190822231340.216 ERROR    lxccontainer - lxccontainer.c

[2019-08-23 00:21] stgraber commented on #6115
That part is unrelated to the database issue, though could be related to storage issues.
What's in your `lxc.log`?

[2019-08-23 07:35] vsenko commented on #5402
Good day!

I'm having a similar problem on my system.
 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info"
[code]

Attempting to add gpu ends with the following error: `Error: Common start logic: Failed to retrieve mode of device /dev/dri/card0: open /dev/dri/card0: invalid argument`

Python output is similar to the one @danielrobbins had:
[code]

But the file is defi

[2019-08-23 09:08] tomponline commented on #6112
@stgraber I've re-created this issue, it only occurs in the snap. Investigating now.

[2019-08-23 09:38] tomponline commented on #6112
@stgraber So I think this is the issue:

1. This `os.Remove` (https://github.com/lxc/lxd/blob/lxd-3.0.4/lxd/main_forkproxy.go#L314) is attempted for all listener types, even TCP ones, however if it fails with `os.IsNotExist` then the error is skipped and it proceeds normally.
2. I believe this is OK on a non-snap system as the OS will always return IsNotExist when trying to delete the listen name

[2019-08-23 09:48] tomponline commented on #6112
@stgraber I suspect this would also have been an issue in the lxd 3.0.3 snap too.

How would you like me to proceed? Should I produce a new PR against the lxc-3.0 branch with a fix to this?

[2019-08-23 13:05] truelai commented on #6115
lxc 20190822224359.160 ERROR    commands_utils - commands_utils.c:lxc_cmd_sock_rcv_state:72 - Resource temporarily unavailable - Failed to receive message

[2019-08-23 13:09] truelai commented on #6115
Since stopping one of our HomeAssistant containers, I've not having the same issues. Here are its logs. Had it running with SQLite

lxc 20190822225845.947 ERROR    commands_utils - commands_utils.c:lxc_cmd_sock_rcv_state:72 - Resource temporarily unavailable - Failed to receive message
lxc ha7200bc 20190822230049.397 ERROR    conf - conf.c:run_buffer:352 - Script exited with status 1
lxc ha7200bc

[2019-08-23 16:09] stgraber commented on #6115
Sorry, I meant `lxd.log` which you can find at /var/snap/lxd/common/lxd/logs/lxd.log

[2019-08-23 16:12] stgraber commented on #6112
@tomponline yeah, a PR against stable-3.0 would be good as the commit which fixed this isn't going to be cherry-picked (no multi-port support in 3.0).

Note that you won't be able to have the PR build, that's okay. I'll review the change and merge it, then deal with getting things building later :)

[2019-08-23 16:18] steveblowjob opened #6118 "Containers cannot start: saving config file for the container failed"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
[code]
# Issue description
A few hours ago I noticed weird issues on my containers; all started to fail or slow incredibly down. So I simply decided to reboot the whole server. But after it went back online, none of my LXD containers successfully booted up.

When I tried to

[2019-08-23 16:20] stgraber commented on #6118
Can you pick a container and show:
 - lxc config show --expanded NAME
 - lxc info NAME --show-log
 - ls -lh /var/snap/lxd/common/lxd/logs/NAME
 - df -h
 - df -i
 - dmesg

[2019-08-23 16:48] steveblowjob commented on #6118
- [lxc config show --expanded NAME](https://pastebin.com/S8sZ8rqX)
- [lxc info NAME --show-log](https://pastebin.com/i4S4dEwi)
- ls -lh /var/snap/lxd/common/lxd/logs/NAME
[code]
- df -h
[code]
- df -i
[code]
- [dmesg](https://pastebin.com/Xt456Yag)

Thanks btw @stgraber its incredible that you take the time to help users even on the week-end. I hope you are paid for this.

[2019-08-23 18:30] #6102 closed

[2019-08-23 19:02] stgraber commented on #6118
Hmm, so the network config looks a bit confusing, though I'm not sure why this would prevent from saving the configuration at all.

Can you try two things:
 - Make sure that this fails too: lxc launch images:alpine/edge test1
 - Then try:
    - lxc profile create test
    - lxc profile device add test root disk path=/ pool=limited-pool
    - lxc launch images:alpine/edge test2 -p test

Effectively

[2019-08-23 19:19] steveblowjob commented on #6118
omg Im so sorry as I tried to run ``` lxc launch images:alpine/edge test1``` it clearly explained to me that I was out of storage space :man_facepalming:
I just had to extend my zfs storage pool and it solved the whole problem. I managed to restart all my containers. Btw I followed [this article ](https://askubuntu.com/questions/812820/increase-lxd-zfs-loop-storage)to extend my storage pool.

[2019-08-23 19:19] #6118 closed

[2019-08-23 19:21] stgraber commented on #6118
Oh, excellent then :)

[2019-08-24 09:03] pvincent974b commented on #4947
Got the same issue today on my BETA machine, but not on my PROD machine fortunately.
The BETA machine is much slower than PROD, in case this information might be useful.

the `snap refresh lxd` did fix the `lxc list`issue => unexpected response type 6
however I noticed there were the last 2 containers missing (the last 2 I've recently created, a couple of days ago). The list shows up 8 of 10 conta

[2019-08-24 09:08] freeekanayaka commented on #4947
@pvincent974b what version of LXD was this machine running? The 3.0.x stable series or the 3.x development one?

[2019-08-24 09:41] pvincent974b commented on #4947
@freeekanayaka
The 3.0.x stable series, I guess so.
Months ago, I've installed with this command `snap install lxd`.
Quite sure, I did not try a development branch.

## Last news

Good news, I re-create the 2 containers by using the same names.
Noticed a message of type 'Error: Common start logic: The container is already running'
Then, `exec -- bash` into these containers, and all the previous da

[2019-08-24 13:47] alizowghi opened #6119 "failed to create dqlite connection: no available dqlite leader server found"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.3 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-58-generic
   * LXC version: 3.16
   * LXD version: 3.16
   * Storage backend in use: zfs

# Issue description
I have a three nodes cluster and after 2 weeks lxc list stopped working for me.
lvl=warn msg="Failed connecting to global database

[2019-08-24 14:18] freeekanayaka commented on #6119
You attached the log of one of the LXD daemons. Can you please attach the logs of the other two daemons as well? Are all daemons running? A cluster of 3 nodes can tolerate at most one down node, so you need to have at least 2 nodes running.

[2019-08-24 14:34] alizowghi commented on #6119
node2:
[lxd-node2.log](https://github.com/lxc/lxd/files/3537285/lxd-node2.log)

node3:
[lxd-node3.log](https://github.com/lxc/lxd/files/3537286/lxd-node3.log)

Yes all of them are running

[2019-08-24 15:03] freeekanayaka commented on #6119
Can you make sure that:

1) You can reach all nodes from one another, network-wise.
2) All nodes are running the same lxd version (run ```snap refresh lxd```)

?

[2019-08-24 15:07] alizowghi commented on #6119
1. I checked this with telnet and all nodes are reachable
2. Yes all hosts have the same version

My cluster is via public ip address, may this cause problem?

[2019-08-24 16:05] freeekanayaka commented on #6119
@alizowghi oh yes, public IPs can definitely be a problem, since all cluster nodes are expected to run locally and have a low latency connection. What is the average TCP roundtrip time across those nodes?

[2019-08-24 16:37] alizowghi commented on #6119
ping average under 1 ms
rtt min/avg/max/mdev = 0.475/0.775/1.269/0.287 ms

[2019-08-25 16:24] cyberwillis commented on #3770
I think one way to reproduce this is:

- install a earlier version than;
- start a new job inside your container
- schedule the time of Snap to update your LXD software a few seconds or minutes later

Then you will see it stop your container to do the update.

[2019-08-25 17:29] #6119 closed

[2019-08-25 19:02] freeekanayaka opened #6122 "Unit tests crash after dqlite has started spawning its own thread"
The final dqlite 1.0 was simplified to avoid requiring the user to manually manage dqlite's background thread. Clustering-related unit tests in LXD have started failing since then and have been skipped.

[2019-08-26 07:23] harolds opened #6123 "Unable to delete new container"
Distribution: Ubuntu
Distribution version: Ubuntu 18.04.3 LTS

The output of "lxc info":
[code]

# Issue description

I was unable te delete an new container after I created it a few days ago. The error message only contained this:

[code]

This is the debug info of 'lxc delete' command:

[code]

The work-around for this was renaming (move) the container to 'delete-me' and then delete that:

[code

[2019-08-26 08:50] stgraber commented on #6123
When this failed, did you try waiting a few minutes before trying again?
There is clearly a logging issue here which prevents us from knowing what the actual error was, but assuming that it's our old friend "something is busy", then this will often clear on its own.

[2019-08-26 08:58] harolds commented on #6123
Yes I tried it again after a few days.

Anyways there is an work-around so not such a big problem. I just wanted to inform you about it.

[2019-08-26 08:58] #6123 closed

[2019-08-26 09:04] stgraber commented on #6123
Yeah, it's usually a ZFS bug, but we need to fix error reporting to be sure.

[2019-08-27 05:26] penM000 opened #6125 "lxd starts before Networkonline and generates a dns error."
# Required information

 * Distribution:debian
 * Distribution version:10
 * The output of "lxc info" or if that fails:
   * Kernel version:4.19.0-5-amd64
   * LXC version:3.16
   * LXD version:3.16

# Issue description
I got a dns error when trying to set up a container.
[code]
When checking the log, it seems that "/etc/resolv.conf" is not found.
[code]
I checked the systemd startup sequence and

[2019-08-27 17:05] geaaru opened #6127 "RFC: Add support to authentication header for Simplestreams Remote Nodes"
Currently, LXD simplestreams protocol implementation doesn't support the Authorization header on fetch LXD images. Often, a company could choose to share their LXD images through Simplestreams Remote node under Authorization or token.

For example, through the Mottainai project, we share private namespaces that are visible through HTTPS with a token

`Authorization: token xxxx`

Could be cool to a

[2019-08-27 17:32] penM000 commented on #6125
My system gets an IP address with dhcp. The IP address is not fixed because it is managed by the dhcp server. Therefore, NetworkManager is used.
/etc/resolv.conf
It is initialized every time.
From the following information, resolv.conf is the IP address of the dns server. This is actually a symbolic link. Therefore, if NetworkManager is not running or is not running, the system cannot use name res

[2019-08-27 21:33] geaaru commented on #6127
ah cool, thanks. Probably it's a good idea to add a note about this on `lxc` help message.

So, the feature then could be handle `--auth-type "token xxx"` or `--auth-type "bearer xxx"` that FWIS is not handled directly as hack inside URL directly by golang http library.

The idea is customize Authorization header with different schemas:
- token
- bearer
- ..

http://www.iana.org/assignments/http-a

[2019-08-28 01:40] grawlinson opened #6130 "compilation fails due to dqlite"
# Required information

 * Distribution: Arch Linux
 * Kernel version: Linux node304 5.2.10-arch1-1-ARCH #1 SMP PREEMPT Sun Aug 25 18:01:31 UTC 2019 x86_64 GNU/Linux

# Issue description

Cannot compile lxd ver 3.16 due to dqlite API changing. Compilation occurs in a clean chroot, so I'm not sure what the issue is.

# Steps to reproduce

[code]

[code]

[2019-08-28 05:04] freeekanayaka commented on #6130
It seems that you are using ```make deps``` to download and build the C libraries needed by lxd. Note that ```make deps``` only works if you build LXD from the master git branch. If you are building a LXD release,  you need to build the C library versions included in the LXD tarball, and set your ```GOPATH``` environment variable to the go src tree shipped in the tarball.

[2019-08-28 07:40] geaaru commented on #6127
eh eh, I imagined that could be complex and that require API changes. This is the reason because I open this "brainstorming" issue :)

One of the reasons that often (FWIS) it's better to use a token is the:
- for M2M services not always is available a USER/PWD but are used token with an expire time and/or more easy to disable for security reason
- for security reason, USER/PWD has more restriction

[2019-08-28 08:55] penM000 commented on #6125
Docker's systemd service reference relied on online networks. Snapd syatmd was edited referring to this.
This should work. Thank you very much.

[2019-08-28 13:16] #6127 closed

[2019-08-29 07:32] grawlinson commented on #6130
@freeekanayaka How are the C library versions built, and where exactly is the go src tree?

[2019-08-29 07:52] freeekanayaka commented on #6130
The go src tree should be in the tarball. The C libraries are built with the same command you find in the ```Makefile``` under the ```deps``` rule. Or see [here](https://github.com/canonical/dqlite#build).

[2019-08-29 11:24] hakimov2021 commented on #4402
-- sudo service apparmor teardown
-- docker stop $(docker ps -qa)

1) sudo service apparmor restart

[2019-08-29 12:25] twhite-work opened #6134 "lxc launch creates LVM volume too small to hold image"
# Required information
 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_compression_algorithm
- dir

[2019-08-29 13:17] twhite-work commented on #6134
Also in the documentation for Storage pools, there is no differentiation between the "size" and "volume.size" properties, and both say they default to "0".  The "size" property did not work (I got a bunch of TAR error messages) and clearly the volume.size is defaulting to 10GB (at least for LVM's).

[2019-08-29 15:52] stgraber commented on #6134
We can't easily know how large an image will be once uncompressed. For filesystems that's not a problem as the image itself doesn't have a quota, the quota is applied to the container only. For block based backends like LVM and CEPH, a block device must be created and formatted before the image can be unpacked.

[2019-08-29 16:02] twhite-work commented on #6134
Thank you for the quick response...

I did not know if the size could be captured when the image is created and stored as meta data inside the image.  Regardless, I think something should be added to the documentation to address the default value and the difference between the two "size" attributes.

[2019-08-29 16:47] stgraber commented on #6134
Not really because the actual size on disk will vary based on filesystem and could vary based on mount options, both of which are user configurable...

I haven't gotten to the doc yet (on vacation) but will keep this issue around so we can take a look.

 - `size` on a storage pool is the size of the loop device created to back the pool (read-only after pool creation).
 - `volume.size` on a storage

[2019-08-29 18:36] smoser commented on #4656
Oh well. For my future self when I get here again, the (or *a*) related kernel bug is filed in [Ubuntu bug 1779156](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1779156)

[2019-08-31 04:34] loxK commented on #5905
Here is what monit developer says: https://bitbucket.org/tildeslash/monit/issues/385/used-memory-size-detection#comment-28251649

I have a container with: `limits.memory: 2GB`

Here is the output **from the container**:
[code]

[2019-08-31 06:10] voxsoftware commented on #2574
Why not simply use ZFS on RAW file.
[code]

[2019-08-31 09:11] nightuser opened #6137 "Cannot build previous version of lxd due to API changes"
# Required information

 * Distribution: ArchLinux, but it's a distribution-agnostic problem
 * Distribution version: 3.16
 * The output of "lxc info" or if that fails: a problem with building the package

# Issue description

It's impossible to build a release-version of lxd due to API changes in dqlite. On of the latest commits to master fixes this issue upstream. `make update` downloads the lat

[2019-08-31 11:20] idef1x commented on #5759
hmmm looks to be working fine for the last power state settings, but apparently I also have a few containers with boot.autostart set to true. So will always be started when LXD (re)starts. Not sure if that should be an issue, since I specifically had set it. If you think that those values could be stripped as well, then I'll leave my backup script as is, otherwise I'll have to adapt it myself afte

[2019-08-31 17:44] stgraber commented on #6137
All release tarballs include a copy of the library sources needed to build them, so you'll want to use the release tarball instead of the git tag and make sure you use the included Go packages and C libraries.

[2019-08-31 17:44] #6137 closed

[2019-08-31 17:45] stgraber commented on #5759
I don't think we'd want to strip that one as that may cause some surprises.

In your case it may be best to not set that property on your containers directly but instead rely on a profile to set it, you can then have that profile set it to true on your main host and false on your fallback host.

[2019-08-31 19:00] idef1x commented on #5759
That's actually a good idea! I'll do that..Thanks

[2019-08-31 22:49] chris-sanders opened #6139 "Profile removed on reboot"
#5318 Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04.03
 * The output of "lxc info" or if that fails:
[code]
# Issue description
I have a profile applied (lxd) to 1 container on a machine while all other containers are using a different profile (default). This machine was Juju deployed and this 1 container had it's profile changed after deployment (to the profile lxd)

[2019-09-01 09:11] stgraber commented on #6139
LXD doesn't have any code that can alter containers in such a way.

So it's either filesystem corruption causing your LXD database to not be written to disk properly and so the change never persisting or it's Juju resetting the container config on startup. The latter seems more likely to me

[2019-09-01 13:04] Kramerican opened #6140 "Still no way to "hide" the host load average in an LXD container?"
LXD 3.16 from Snap on Ubuntu Bionic

I have been looking into this issue lately, and it seems to be an old one, but I am confused as to whether this is still "pending" upstream updates, or what is going on. It looks to me this open issue is what's being worked on, on the lxc side:

https://github.com/lxc/lxcfs/pull/278

But it is unclear to me where we are at, at the moment. Is it impossible to "h

[2019-09-01 13:38] ambiaflo opened #6141 "make fails on debian 9 "Error 1""
# Required information

 * Distribution: Debian
 * Distribution version: 9 (stretch)
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.19.0-0.bpo.5-amd64
   * LXC version:
   * LXD version:
   * Storage backend in use:

* Enviroment:
[code]

# Issue description

Hello,

I tried to install LXD acording to the description on GitHub but once I execute `make` it fails with the follo

[2019-09-02 12:08] geodb27 opened #6142 "lxcfs not stopped after snap update"
# Required information

 * Distribution: ubuntu-server
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-45-generic
   * LXC version: 3.16
   * LXD version: 3.16
   * Storage backend in use: ceph

I had problems with my ubuntu servers machines running lxd : the /var partition was reported as full by df while du showed only half the space used.

[2019-09-02 14:40] gaetanquentin opened #6143 "Enhancement: 'Error: not found': please be more specific in error message."
# Required information

* Distribution: ubuntu 18.04
* snap lxd 3.16

# Issue description

Lot of lxc commands returns 'Error: not found': it may be not sufficiant to know what it is speaking about.

Examples:

1. lxc file push XXFile remote-cont/opt/Installs/
=> Error: not found

what is not found? the remote? the file? The target path?

2. lxc image  alias rename remote-cont:'alias name' 'new al

[2019-09-03 02:46] stgraber commented on #6143
We already have an issue that covers this.

#5548

[2019-09-03 02:46] #6143 closed

[2019-09-03 02:51] stgraber commented on #6142
Closing as this isn't a LXD bug (would be more suitable for lxd-pkg-snap).

Anyway, the logic is specifically to NEVER stop lxcfs as doing so would break all existing containers.
However the logic detects the existing lxcfs and tell it to reload itself using the newer library.

So you should only ever have a single lxcfs process that was spawned from whatever revision of the snap was present on in

[2019-09-03 02:51] #6142 closed

[2019-09-03 02:52] stgraber commented on #6141
Per the documentation, we don't build with Go below 1.10, you're running 1.7.

[2019-09-03 02:52] #6141 closed

[2019-09-03 02:52] stgraber commented on #6140
https://github.com/lxc/lxd-pkg-snap/issues/38

[2019-09-03 02:52] #6140 closed

[2019-09-03 03:00] stgraber commented on #6022
@freeekanayaka @lcligny what's the state of this issue?

[2019-09-03 03:01] stgraber commented on #6036
@rigred how are things going for you lately? did this issue ever reappear?

[2019-09-03 03:02] stgraber commented on #6056
@syswipe I believe our conclusion was that a reboot was needed and you were going to do that a bit later. Did that solve it?

(Looked like the kernel being pretty confused about the state of device mapper)

[2019-09-03 04:32] freeekanayaka commented on #6022
@stgraber I didn't make it to debug this further. I'll have to look again to this when I'm back.

[2019-09-03 08:27] Kramerican commented on #6140
@stgraber Thanks Stéphane, much appreciated 👍 I will excitedly await that update :)

[2019-09-03 08:34] lcligny commented on #6022
Hi,

I had no luck making it work.
As my LXC containers are still running on the problematic host, and are
used daily by my team, I left it like that, prying the host remains up
until I can plan a full reinstall.

Le mar. 3 sept. 2019 à 06:32, Free Ekanayaka <notifications@github.com> a
écrit :

[2019-09-03 10:38] s3rj1k opened #6145 "[Feature] Disable clustering support at compile time"
Would be nice to have an option to disable clustering support at compile time, so that one would not need to build custom patched sqlite.

This will help greatly with LXD Debian packaging.

[2019-09-03 11:47] s3rj1k opened #6146 "[Docs] Provide more examples with XFS project quota"
Current storage quota documentation is lacking for XFS project quota setup.
Would be nice to have more detailed example for this setup.

[2019-09-03 12:55] s3rj1k commented on #6130
@freeekanayaka I am curious why are build instructions are so obscure?

[2019-09-03 13:05] stgraber commented on #6146
LXD will use project quotas when the underlying filesystem has been configured for it.
How to achieve that varies between Linux distributions and kernel versions so it's best handled by distribution documentation than it is ours.

[2019-09-03 13:05] #6146 closed

[2019-09-03 13:06] stgraber commented on #6145
We will not be doing this. Doing so would require supporting two entirely different database backends in parallel as well as having part of the API shut off based on build tags. That would double our testing efforts, our maintenance efforts and introduce a lot of complexity in already complex code.

[2019-09-03 13:06] #6145 closed

[2019-09-03 13:12] chris-sanders commented on #6139
Ok thanks, I'll check in with the juju team to see what could be causing this.

[2019-09-03 13:12] #6139 closed

[2019-09-03 13:13] stgraber commented on #6139
Thanks, let us know if we can help with anything.
If you need proof of what's going on, starting LXD with `--debug` would show all API queries, that should include `PUT` calls against /1.0/containers/NAME causing those configuration changes.

[2019-09-03 13:18] #6134 closed

[2019-09-03 13:24] s3rj1k commented on #6130
@grawlinson I was able to build 3.16 release from tarball, like this:

- `wget https://github.com/lxc/lxd/releases/download/lxd-3.16/lxd-3.16.tar.gz -O /root/lxd-3.16.tar.gz`
- `tar xvzf /root/lxd-3.16.tar.gz -C /root/`
- `export GOPATH="/root/lxd-3.16/_dist"`
- `cd $GOPATH/src/github.com/lxc/lxd`
- `make deps`
- `export CGO_CFLAGS="-I${GOPATH}/deps/sqlite/ -I${GOPATH}/deps/libco/ -I${GOPATH}/deps

[2019-09-03 13:35] s3rj1k commented on #6146
@stgraber this does not answer a question on how to specify quota size in lxd config.

[2019-09-03 13:41] stgraber commented on #6146
Same as with all storage backends, you set the `size` property on the `disk` device which backs the / of your container. That's typically the device called `root`.

[2019-09-03 13:44] s3rj1k commented on #6146
@stgraber thanks

[2019-09-03 14:58] stgraber commented on #6112
This got merged in 3.0 branch

[2019-09-03 14:58] #6112 closed

[2019-09-04 02:56] nik-johnson-net opened #6149 "LXD daemon fails to start with missing volume group"
At some point in the past I migrated from LVM backed storage to btrfs storage, and later migrated to a new disk. Since (I thought) I didn't need the LXD VG pool anymore I didn't move it to the new disk. After a recent upgrade, LXD failed to start, complaining about the lack of a volume group. I can't say whether or not the VG was declared by something when I moved disks.

If the LXD daemon could s

[2019-09-04 06:25] stgraber commented on #6149
Yeah, depending on the LXD version being started and what the previous version was, some migration step will absolutely require all storage pools be brought online during startup before we can safely allow access to the API. This is needed for data migration / upgrade purposes.

In your case, you have two options:
 1) Create a dummy LVM setup that will allow LXD to start. Something like:
  - trunc

[2019-09-04 13:12] syswipe commented on #6056
Maybe. Or maybe not. In fact, some times later after LVM corruption LXD lost access to the whole cluster because of trouble with cluster database (dqlite). So I stopped my attempt to recover cluster and LVM and restored whole environment from backups...

[2019-09-04 13:23] nik-johnson-net commented on #6149
Thanks Stephen. Steps I followed:
[code]
Which brought up LXD as you suggested. I had three old containers still using the removed pool as their root. Deleted them and the old profile, removed the temp pv, and restarted LXD. All is working well now.

[2019-09-04 16:13] stgraber commented on #6149
Perfect, glad this worked.

[2019-09-04 16:13] #6149 closed

[2019-09-04 16:15] stgraber commented on #6056
Oh, that's unfortunate. Closing as there seems like there's little for us to do in this issue at this point.
The system I looked at definitely had some weird LVM issues going on which, I don't know about the clustering issues though.

[2019-09-04 16:15] #6056 closed

[2019-09-05 10:31] vduseev commented on #4947
I have been getting a similar error. Any calls to `lxc` binary were just failing.

[code]

[code]

The containers in the cluster, however, were just fine with the web-services running on them responding to the external calls and pings.

The command by @stgraber fixed this issue.
`systemctl reload snap.lxd.daemon`

[2019-09-05 14:17] Napsteer opened #6152 "Disable NAT on fan mode network"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
config:
  cluster.https_address: 192.168.1.211:8443
  core.https_address: 192.168.1.211:8443
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- cont

[2019-09-05 19:23] #5819 closed

[2019-09-06 06:03] kizzna opened #6159 "lxc storage volume attach on lxd cluster is not working"
# OS / LXD / LXC
OS: Ubuntu 18.04.3 LTS (Linux b2 4.15.0-58-generic)
LXD & LXC version: 3.16 (snap)

# Steps to reproduce

### 1. List LXD cluster
root@b2:~# lxc cluster list
+------+--------------------------+----------+--------+-------------------+
| NAME |           URL            | DATABASE | STATE  |      MESSAGE      |
+------+--------------------------+----------+--------+------------------

[2019-09-06 18:01] adrian5 opened #6163 "Minor doc changes"
In [storage.md](https://github.com/lxc/lxd/blob/master/doc/storage.md), it reads:

Also, the description of Btrfs storage creation doesn't reflect my observations:

It creates a storage-pool named "pool1" in LXD, but doesn't create a Btrfs subvolume of that name. Instead, it creates LXD specific subvolumes under the path defined by `source`, i.e. `/some/path/{containers,images,custom}` etc.

[2019-09-06 20:27] #6163 closed

[2019-09-08 05:10] penM000 opened #6166 "Memory limit is not effective free command for docker in lxd."
# Required information

 * Distribution:debian
 * Distribution version:10
 * The output of "lxc info" or if that fails:
   * Kernel version:Debian 4.19.37-5+deb10u2
   * LXC version:3.16
   * LXD version:3.16
   * Storage backend in use:btrfs

# Issue description

In the case of lxc container, the memory limit was applied by "lxc config set debian10-lxc1 limits.memory 4000MB", but the memory limit

[2019-09-08 12:24] lepokle opened #6167 "Validate cluster.https_address at configuration and allow change if node is not part of a cluster yet."
# Required information

 * Distribution: Arch Linux
 * Distribution version: Rolling Release
 * The output of "lxc info" or if that fails:
  config:
  cluster.https_address: 192.168.167.1:8443
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- htt

[2019-09-08 19:05] Kramerican opened #6168 "Clarification regarding swap: Possible to define swap volume?"
LXD 3.16
Ubuntu Bionic

I've been reading up on swap limiting as I've encountered poor performance (unsurprisingly) in containers that need to swap to disk, as on my new systems the main OS is on spinning rust.

As the containers are zfs backed on an SSD, I've been looking around for information on whether it is possible to tell my containers/lxd to swap out to their zfs volume instead of the host

[2019-09-08 19:24] Kramerican commented on #6168
Ok as I've never had to fiddle with swap allocation before, I didn't know it was so easy to just create a volume on the zpool as a swap volume and then tell the host to use that instead of the disk. I basically just followed this guide:

https://github.com/zfsonlinux/pkg-zfs/wiki/HOWTO-use-a-zvol-as-a-swap-device

Problem solved I guess :) I'll leave this open for now in case the experts have any

[2019-09-08 20:08] Kramerican commented on #6168
OK maybe not solved after all. I found this issue:

https://github.com/zfsonlinux/zfs/issues/7734

And after doing my own stress test I encountered the deadlock as described in this issue. I am now considering buying a dedicated (small) SSD drive to hold my swap.

[2019-09-09 05:06] stgraber commented on #6166
That's simply because Docker doesn't know about or use lxcfs, so /proc/meminfo in the Docker container doesn't show the cgroup limits but instead shows the system-wide memory information.

In LXD containers, /proc/meminfo is setup as a bind-mount of the lxcfs meminfo file which is what provides you with per-container data in `free` and other tools.

[2019-09-09 05:06] #6166 closed

[2019-09-09 05:14] stgraber commented on #6168
Swap devices are global so there is currently no way to use a separate swap file or device for specific containers and it's unclear that it's something which would ever be practical to implement due to how the kernel decides what to move to swap (and whether it can always track this down to a particular container).

The main thing you can do through LXD is control the swapiness through `limits.mem

[2019-09-09 05:14] #6168 closed

[2019-09-09 05:52] penM000 commented on #6166
Thank you for answering this.
I learned about lxcfs for the first time.
The free command continued correctly by mounting / var / lib / lxcfs / proc / meminfo on / proc / meminfo.
Now you can use lxc like vm.

[2019-09-09 06:00] stgraber commented on #670
Given that LXE is a thing these days and this issue was there mostly for tracking/discussion purposes, I think it's time to close it.

That obviously doesn't mean we can't comment some more on there but I would suggest that https://discuss.linuxcontainers.org may be a better place to chat about Kubernetes/LXD integration.

[2019-09-09 06:00] #670 closed

[2019-09-09 06:03] stgraber commented on #850
Going to close this one as we've not seen much more need for this in general and don't like allowing for arbitrary root commands to be run on the host through the remote API.

The uid/gid part of this which at the time could only really be dealt with through filesystem ACLs is I believe better handled through shiftfs these days which is now available on Ubuntu systems and for other distributions t

[2019-09-09 06:03] #850 closed

[2019-09-09 06:06] stgraber commented on #1987
So looking through this issue, I think we actually have all that these days through support for `--refresh` on `lxc copy`.

So a container can be copied from a system to another, then changes further changes to the source can be copied without requiring a full copy. This effectively resets the destination to once again match the source.

We also have the backup API which allows for downloading tar

[2019-09-09 06:06] #1987 closed

[2019-09-09 06:12] stgraber commented on #2752
@mark0978 this should now be possible by using the new `storage.images_volume` option, storing the image artifacts on the same storage pool as the containers.

As for the rest of the issue, I just went through it all and I don't think we're going to be implementing this. The main reason being namespace collision between such containers/snapshots and local image aliases and I don't like the idea of

[2019-09-09 06:12] #2752 closed

[2019-09-09 06:14] stgraber commented on #2977
Closing this issue as there's nothing actionable on the LXD side and not much conversation has happened here in a while (2 years). Discussions are also better hosted on discuss.linuxcontainers.org these days.

I've also found someone who actually did do this work, though I don't know how well this works and whether this is headed upstream any time soon. https://github.com/BrendanBall/docker-machin

[2019-09-09 06:14] #2977 closed

[2019-09-09 06:15] stgraber commented on #3079
@ParanoikCZE @FransM either of you still hitting this or could attempt to reproduce this issue on current LXD?

[2019-09-09 06:16] stgraber commented on #3251
So obviously we missed our opportunity to do this for 3.0 but it's something I'm certainly considering for 4.0

[2019-09-09 06:22] stgraber commented on #6115
I'm not seeing anything odd in there.

You could try doing `lxc config set NAME raw.lxc lxc.log.level=trace` on the container and then attempt starting it again which will produce much more output in `lxc info NAME --show-log`.

One potential issue is you running out of resources of some kind on your system, be that memory, processes, files, ... You may want to look at `dmesg`, make sure you have

[2019-09-09 06:23] stgraber commented on #6115
You could also try switching to the HWE kernel which would get you onto the same 4.15 kernel as Ubuntu 18.04, especially if anything odd comes up from looking at dmesg.

[2019-09-09 06:26] BrendanBall commented on #2977
@stgraber that work is half done. If I remember correctly I was stuck at getting a usable boot image, but haven't looked at it in a long time.

[2019-09-09 06:36] stgraber opened #6169 "Limits (quotas) for projects"
Projects as they are today are a great way to segment a LXD host, having its own containers, images and profiles (depending on configuration). Combined with RBAC, it's then possible to have some users/groups only have access to specific projects.

But right now, access to a project means you still get to create as many containers as you want, use as much CPU and memory as you want, potentially run

[2019-09-09 06:57] stgraber opened #6170 "Restrictions for projects"
Somewhat similar to #6169, another big part of delegating access to LXD to users is being able to restrict them to operations that will not allow attacks to the host system.

For this we should introduce a new `restrict` key namespace that's used to block access to a variety of features, an initial set would be:

 - restricted (boolean, if enabled, all restrictions apply)
 - restricted.containers.

[2019-09-09 07:07] stgraber opened #6171 "Storage volumes in projects"
Right now storage volumes are a global resource, they show up in every single project and can be used by containers of any projects. This may be the desired behavior for some users that have containers in multiple projects and wish to share access to storage volumes but it would be much nicer to have the option to keep those volumes tied to projects.

To do that, we need to:
 - Introduce `features

[2019-09-09 07:16] stgraber opened #6172 "Cluster member roles"
Right now every cluster member can either be a database node or not with LXD making this decision at the time of join or when promotion is required. To make things more flexible for added functionality moving forward, we should make this a bit more visible by introducing the concept of roles.

Each cluster member would then have the following roles available:
 - database
 - standby-database (mutua

[2019-09-09 07:27] stgraber opened #6173 "Rework event distribution"
A common issue we have with clustering is the network chatter caused by our current broadcast approach to event distribution where every single member connects to all other members.

To improve this, we should switch to using event hubs, Effectively select LXD servers (ideally not a database node) which will receive events from all members and then forward those onto all other members.

The setup

[2019-09-09 07:34] stgraber opened #6174 "Direct attach of ceph rbd/fs to containers"
We've had a number of users who reached out wanting to connect an existing CEPH RBD or FS directly to a LXD container, without those coming from a LXD managed pool.

This should be doable by extending our current `disk` device, adding options to specify the backend (rbd/fs), the pool name, volume name and other CEPH related options.

[2019-09-09 07:41] stgraber commented on #4840
This should integrate with #6172

[2019-09-09 09:18] stgraber commented on #2977
Thanks for the update, hopefully if someone wants to use it they may complete the work to get it fully functional

[2019-09-09 10:18] ParanoikCZE commented on #3079
Checked on 3.0.3, same TC, 20x1000 calls. 0 failed. So, seems solved.

[2019-09-09 10:27] tomponline opened #6175 "Add routed network mode"
Add support for LXC's router network mode to LXD.

https://github.com/lxc/lxc/pull/2921

Propose the follow:

- New network nic type called `routed` (to align with existing `bridged` type).
- Have it require a `parent` property and one or more of `ipv4.address` or `ipv6.address` (support comma delimited for multiple addresses like ipvlan).
- If >0 IPv4 addresses supplied, then check for the same s

[2019-09-09 11:33] stgraber commented on #3079
Ah, that's great news! Tentatively closing then.

[2019-09-09 11:33] #3079 closed

[2019-09-09 12:35] zrav opened #6177 ""Found snapshot with no associated instance" preventing schema upgrade"
# Required information

 * Distribution: Ubuntu
 * Distribution version:  18.04 LTS / snap
 * The output of "lxc info":
[code]
# Issue description

Upgrading to 3.17 failed because the DB consistency check failed: "Found snapshot mytest/snap0 with no associated instance". This references a deleted container/snapshot. I don't remember any unusual circumstance when deleting this container.

How can

[2019-09-09 13:12] stgraber commented on #6177
Write a patch.global.sql file in /var/snap/lxd/common/lxd/database containing:

DELETE FROM containers WHERE name="mytest/snap0";

LXD should then run that on startup before trying the upgrade again.

[2019-09-09 16:18] stgraber commented on #6177
@zrav did that work?

[2019-09-09 17:39] truelai opened #6179 "dial unix /var/snap/lxd/common/lxd/unix.socket: connect: no such file or directory"
[code]
Can I manually delete this snapshot and then restart?

[2019-09-09 17:42] stgraber commented on #6179
Yes, this is similar to #6177 and the fix would be the same.
Create a file at /var/snap/lxd/common/lxd/database/patch.global.sql containing:

[code]

On startup, that entry will then get deleted and the upgrade attempted again. It may or may not fail on another one, if it does, then you'll need to repeat that step with the different name.

[2019-09-09 17:45] zrav commented on #6177
@stgraber yes, that seems to have done the trick. Thanks you.

[2019-09-09 17:45] #6177 closed

[2019-09-09 17:45] truelai commented on #6179
OMG. I think I messed up big time.

I created a patch like this and rebooted server:

DELETE FROM nodes;
INSERT INTO nodes(id, name, address, schema, api_extensions, pending) VALUES(1, 'none', '0.0.0.0', 1, 1, 0);

Looks like I lost everything??

[2019-09-09 17:47] stgraber commented on #6179
Why did you do that?

But yes, that would likely be a very bad idea as there are foreign key references to the nodes table from pretty much everything else in the database. That delete likely cascaded and effectively deleted everything except the most global settings.

Look for a `global.bak` directory in /var/snap/lxd/common/lxd/database, if it's there and the timestamp looks reasonable, then get

[2019-09-09 17:48] truelai commented on #6179
root@R610-LXD2-LAN:~# ll /var/snap/lxd/common/lxd/database/global.bak/
total 64164
drwx------ 1 root root    1824 Sep  9 13:42 ./
drwx------ 1 root root      72 Sep  9 13:42 ../
-rw-r--r-- 1 root root 7343448 Sep  9 13:42 1115610-1116313
-rw-r--r-- 1 root root 1285440 Sep  9 13:42 1116314-1116440
-rw-r--r-- 1 root root  785280 Sep  9 13:42 1116441-1116517
-rw-r--r-- 1 root root 1653168 Sep  9 13:4

[2019-09-09 17:49] truelai commented on #6179
What can I do?? Looks like everything here is new?

[2019-09-09 17:50] truelai commented on #6179
I just wiped everything out, didn't i?

[2019-09-09 17:55] stgraber commented on #6179
It may not be that new, it's a copy, so all those files got copied recently.
Try:
 - mv backup backup.broken
 - cp -r backup.bak backup

Start and see what happens.

[2019-09-09 17:57] truelai commented on #6179
so:

mv /var/snap/lxd/common/lxd/database/global /var/snap/lxd/common/lxd/database/global.broken
and
mv /var/snap/lxd/common/lxd/database/global.bak /var/snap/lxd/common/lxd/database/global

correct?

[2019-09-09 17:59] truelai commented on #6179
I did that and then:

root@R610-LXD2-LAN:~# service snap.lxd.daemon restart
root@R610-LXD2-LAN:~# lxc list

No output. Just hanging.

[2019-09-09 18:12] truelai commented on #6179
Rebooted the server. I'm still getting no output when I _lxc list_

[2019-09-09 18:12] truelai commented on #6179
root@R610-LXD2-LAN:~# lxd --debug --group lxd
DBUG[09-09|14:12:31] Connecting to a local LXD over a Unix socket
DBUG[09-09|14:12:31] Sending request to LXD                   method=GET url=http://unix.socket/1.0 etag=

[2019-09-09 18:27] truelai commented on #6179
Is this a hint?

root@R610-LXD2-LAN:~# /bin/sh /snap/lxd/11824/commands/daemon.stop
/snap/lxd/11824/commands/daemon.stop: 9: /snap/lxd/11824/commands/daemon.stop: SNAP_COMMON: parameter not set

[2019-09-09 18:30] truelai commented on #6179
Ok. Got it to stop and start and looks loaded:

[code]

But list is still hanging.

[2019-09-09 18:39] truelai commented on #6179
I see it says:

Setting up ZFS

But I'm not running ZFS

[2019-09-09 20:49] stgraber commented on #6179
This has been sorted offline by reverting the last transaction and applying the db patch from above.

[2019-09-09 20:49] #6179 closed

[2019-09-10 07:41] lkthomas commented on #3306
still not work here

[2019-09-10 08:37] bodleytunes commented on #5014
Out of interest, which kernel version fixes these issues, they seem to be run into quite frequently on 18.04

[2019-09-10 11:17] stgraber commented on #5014
I would recommend you try the 4.15 HWE kernel as 4.9 is not a kernel that's looked after a lot.

The trace only shows some kind of lockup in device mapper, this could be due to a locking bug in the kernel or an hardware issue with the underlying device, we can't really tell from the trace so without being able to track this down to a specific bug with a reproducer, it's impossible to know whether

[2019-09-10 15:37] julian-klode commented on #4029
This is breaking lxd networking in Ubuntu eoan.

[2019-09-10 16:29] Strum355 commented on #4108
Is there a roadmap time for when this will become a thing?

[2019-09-10 17:07] stgraber commented on #4108
Nope, but I'll put it on our roadmap and will create an issue for it soon (at a conference right now)

[2019-09-10 17:42] 5paceToast opened #6185 "LXD new NIC logic fails to predict NIC name"
Note: no information is censored because this is a test instance in an isolated environment - it's all getting destroyed as soon as the issue is fixed.

# Required information

 * Distribution: Alpine Linux
 * Distribution version: Edge
 * The output of "lxc info":
[code]
   * Storage backend in use: dir (btrfs on another system)

# Issue description

When starting a container with lxd >=3.16, the

[2019-09-10 18:32] tomponline commented on #6185
@5paceToast Hi, I've tried this on an Ubuntu 18.04 host and it works fine with an alpine image, so looks to be something specific to Alpine host.

Can you detail how you install LXD on alpine and I'll try to set it up and re-create the issue.

[2019-09-10 18:33] tomponline commented on #6185
@5paceToast can you also show the full output of `ip a` on the host before and after creating and trying to start the container. Thanks

[2019-09-10 18:45] 5paceToast commented on #6185
Hey @tomponline, no problem at all.
You install alpine, switch to the "edge" repositories and run `apk add lxd`.
To start the daemon you run `rc-service lxd start`.
Your `/etc/apk/repositories` file should look like so:
[code]

As for the outputs of `ip a`, before:
[code]

After:
[code]

[2019-09-10 21:03] Kramerican commented on #6168
Just to add some details I've found out over the last few days:

- zram and zswap works, but not ideally so
- Best is to have a dedicated swap partition as normal and have it on an SSD drive. This is by far the fastest and most "standard" option.
- If you plan on having lots of memory-limited containers which may end up swapping, then you should probably consider giving your system lots of swap sp

[2019-09-11 08:19] tomponline commented on #6185
@5paceToast I've managed to reproduce this issue and it was as I suspected, LXD relies on the functionality of the `ip` command, specifically the ability to create a veth pair with both the host-side and the peer interface names specified (we don't guess what the OS will generate). However the `ip` command in busybox which comes by default with Alpine does not support specifying the peer name, onl

[2019-09-11 08:20] tomponline commented on #6185
@stgraber maybe we should modify LXD to check for iproute2 installed, e.g.

[code]

[2019-09-11 13:57] paride opened #6188 "[3.17 regression] lxc consuming stdin breaks existing scripts"
# Required information

 * Distribution: Ubuntu
 * Distribution version: any running the latest snap
 * Kernel version: any
 * LXC version: 3.17
 * LXD version: 3.17

# Issue description

LXD 3.17 allows the container configuration to be passed in YAML format to the standard input of the `lxd init` and `lxc launch` commands ([release notes](https://discuss.linuxcontainers.org/t/lxd-3-17-has-been-r

[2019-09-11 14:04] stgraber commented on #6185
@tomponline I think we need to put `ip` in `neededPrograms` so that we fail if it's entirely missing. However if someone installed a limited shim (like busybox), I don't think it's on us to go out of our ways to detect that.

[2019-09-11 14:40] 5paceToast commented on #6185
@tomponline re: cgroups, you can just start the `cgroups` service (same as with `lxd`).
You end up with a few missing things so my production deployment runs hand-written scripts that I never managed to get in upstream.

Confirming that with iproute2 installed everything works as expected.
Just notified the alpine maintainer that LXD should depend on iproute2, thanks!

[2019-09-11 14:40] #6185 closed

[2019-09-11 14:47] stgraber commented on #6188
Sorry that this feature addition broke your workload.

I see that doing something like `cat blah | (lxc launch ubuntu:18.04 c1 ; lxc exec c1 -- some-command)` would have worked, but I'd still argue that passing stdin data to commands that you don't want to have consume it is usually a bad idea and might bite you.

Specifically, `lxc init` and `lxc launch` both could already consume `stdin` in some

[2019-09-11 14:47] #6188 closed

[2019-09-11 14:48] tomponline commented on #6185
thanks @5paceToast

[2019-09-11 14:53] paride commented on #6188
Thanks for the additional details @stgraber.

[2019-09-12 17:41] consultit opened #6195 "debian 10.1: opengl not working with LXD 3.17 and nvidia accelerated driver (418.74-1)"
# Required information

 * Distribution: `debian`
 * Distribution version: `10.1`
 * The output of "lxc info":
[code]
   * Kernel version:
`Linux hosta 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2 (2019-08-28) x86_64 GNU/Linux`
   * LXC version:
   * LXD version:
`3.17`
   * Storage backend in use:
[code]

# Issue description
Opengl with the nvidia accelerated driver has always worked perfectly inside c

[2019-09-13 15:59] consultit commented on #6195
for @stgraber

[code]

[code]

[code]

[code]

[2019-09-13 16:30] stgraber commented on #6195
Ok, so the issue is about nvidiaX and nvidiactl being missing.
These days, this relies on nvidia-container which is shipped inside the snap and is supposed to detect nvidia hardware, but apparently something is broken with that.

I know we bumped its version with the 3.17 snap, so I wonder if that's the problem.

[2019-09-13 16:30] consultit commented on #6195
for @gartnera

with the current configuration I already see these libraries inside the container:
[code]

I've never run an xserver inside containers. I just run individual applications, for example:
[code]

[2019-09-13 16:32] stgraber commented on #6195
@consultit can you show `dpkg -l | grep nvidia` and `modinfo nvidia`?

[2019-09-13 16:32] stgraber commented on #6195
I just tested with LXD 3.17 and nvidia GPUs on Ubuntu here and it's behaving as expected (the nvidia specific details are included in `lxc info --resources`, so the bundled nvidia-container appears functional, at least with the version of the nvidia module I've got here).

[2019-09-13 16:52] consultit commented on #6195
`dpkg -l | grep nvidia` inside container
[code]
`sudo modinfo nvidia` inside container
[code]

[2019-09-13 16:56] stgraber commented on #6195
Hmm, got a pending kernel update? That modinfo shouldn't fail unless the module is called something else somehow?

[2019-09-13 16:57] stgraber commented on #6195
Maybe look for the module name in /proc/modules?

[2019-09-13 17:05] consultit commented on #6195
on the host `sudo modinfo nvidia` reports:
[code]
on both container and host  `sudo cat /proc/modules | grep nvidia`
[code]
Sorry, what do you mean by "pending kernel upgrade"? I have always kept the packages synchronized both in the containers and on the host, and currently all the systems are updated

[2019-09-13 17:33] consultit commented on #6195
I've found that on the both host and containers  `sudo modinfo` recognizes these modules  `nvidia-current nvidia-current-drm nvidia-current-modeset nvidia-current-uvm`

[2019-09-13 21:38] stgraber commented on #6195
Ah, okay, can you show `modinfo nvidia-current`?

[2019-09-13 21:38] stgraber commented on #6195
You appear to be on a version that's significantly more recent than mine, so I'm confused as to why yours wouldn't work with nvidia-container.

[2019-09-13 21:53] stgraber commented on #6195
@consultit can you run:

[code]

[2019-09-14 07:44] consultit commented on #6195
[code]

[code]

[2019-09-14 08:12] stgraber commented on #6195
Ok, so that driver error is the issue. I'll need to figure out how to get debug data out of nvidia-container again

[2019-09-14 09:19] stgraber commented on #6195
@consultit can you run:

[code]

And then paste the content of `/var/snap/lxd/common/nvidia.debug`?

[2019-09-14 09:29] consultit commented on #6195
[nvidia.debug.txt](https://github.com/lxc/lxd/files/3612566/nvidia.debug.txt)

[2019-09-14 10:00] consultit commented on #6195
I've tried installing the `libcuda1` package. But running
[code]
reports on console:
[code]
and gives this new [nvidia.debug.txt](https://github.com/lxc/lxd/files/3612582/nvidia.debug.txt) (I first cleared it)

[2019-09-14 10:10] stgraber commented on #6195
Ah, on Ubuntu we get libcuda automatically with the driver these days, so that seems to be a bit of a packaging difference on the Debian side. I'm also not sure if the libcuda version needs to match with the driver or something for nvidia-container to be happy.

Looks like the easiest way out of this would be for us to add fallback logic to the GPU resources code so it can attempt to track down th

[2019-09-14 10:59] stgraber commented on #6195
Sent a branch which adds fallback detection logic and that should then still provide the device nodes needed inside the container.

[2019-09-14 12:20] #6195 closed

[2019-09-14 15:28] turtle0x1 opened #6201 "Error: failed to begin transaction: not an error"
# Required information

 * Distribution: ubuntu
 * Distribution version: 19.04

# Issue description

I setup a cluster and its been working for a couple of hours

Been making api requests to `/1.0/clusters` and `/1.0/resources` and all kinds of other endpoints no problem,

Then I tried to hit `https://MY_IP:8443/1.0/images?project=default` and I got the response

[code]

Then i looked in `/var/log

[2019-09-14 15:38] stgraber commented on #6201
Can you try running 'systemctl reload lxd.snap.daemon' on all cluster nodes, see if that makes it recover?

[2019-09-14 16:16] turtle0x1 commented on #6201
[code]

Its installed through snap

[2019-09-14 17:58] stgraber commented on #6201
Ah, sorry, should have been `systemctl reload snap.lxd.daemon`

[2019-09-14 23:20] stgraber opened #6205 "Add virtual machine support"
As some may have figured out by now through looking at some of the database and devices refactoring we've been doing for the past few months, we'll be adding support for virtual machines directly in LXD.

This isn't going to be some kind of virtual-machine/container hybrid but instead be fully fledge virtual machine support using the same API and user experience as LXD currently provides for conta

[2019-09-14 23:25] stgraber commented on #6205
Current status of master is:
 - New /1.0/instances API (will be unified endpoint for container & vm)
 - New Go API functions for instance management
 - Update CLI and internal codebase to use the new functions
 - Support for downloading and storing VM images

Next steps are:
 - Replace internal `container` interface with a new `instance` interface
 - Re-shuffle functions in the `instance` interfac

[2019-09-15 04:44] #6159 closed

[2019-09-15 04:45] #6152 closed

[2019-09-15 04:45] #6167 closed

[2019-09-15 07:46] turtle0x1 commented on #6201
That didn't fix the issue at this point I need to purge and re-install LXD

Usefull debugging information is probably lost as I have had t restart, also I was running a two node cluster (this is a temporary dev thing not a "production" cluster) and LXD now can't connect as a dqlite leader is missing

[2019-09-15 07:46] #6201 closed

[2019-09-15 13:02] rigred commented on #6036
Missed your comment in the clutter of my other notifications.
The issue hasn't reoccurred since, which both nice yet also concerning, since I have no idea when/how/why it might reoccur.

[2019-09-15 13:11] stgraber commented on #6036
Ok, for now we'll assume that this was one of the many issues that we've sorted out with changes to dqlite around the dqlite 1.0 release. If it does happen again for you or anyone else, please comment here and we'll re-open.

[2019-09-15 13:11] #6036 closed

[2019-09-15 13:12] stgraber commented on #6115
@truelai how are things going?

[2019-09-15 22:48] tomposmiko commented on #6205
I am so excited about this feature!
Can I suggest also to rename the command `lxc` to `lxd` or something like that?;)

[2019-09-16 08:32] Spital14 opened #6208 "lxc init command doesn't work anymore with java ProcessBuilder"
# Required information

 * Distribution: snap
 * Distribution version: 3.17
 * Version :
   * Kernel version: 4.15.0-60-generic
   * LXC version: 3.17
   * LXD version: 3.17
   * Java version: 1.8.0_212
   * Linux version: Ubuntu 18.04.3 LTS

# Issue description

We are facing a bug when we try to use an lxc init command with ProcessBuilder.
For example, when we try to use "lxc init ubuntu:18.04",

[2019-09-16 08:37] stgraber commented on #6208
The problem is your standard input (`stdin`). LXD 3.17 now reads from stdin for YAML data during `lxc init` and `lxc launch`.

Your hang is most likely because Java or your application is setting up /dev/stdin to a blocking file, LXD tries to read from it and gets stuck.

You'll want to instead set your stdin to something like /dev/null or the java equivalent.

(Note that this effectively shows a

[2019-09-16 08:37] #6208 closed

[2019-09-16 14:20] karlfiabeschi commented on #6205
I am so excited too, do you mind to explain why are you taking this step? (add vm support)

[2019-09-16 16:19] stgraber commented on #6205
@karlfiabeschi we've found that many users are running both VMs and system containers on the same systems, this is a bit annoying because you end up having to define network and storage twice, it also means using two distinct set of tools and prevents getting a good complete solution for small teams using clustering.

For a while we were hoping we'd see libvirt or other solutions provide a cloud-l

[2019-09-16 17:58] karlfiabeschi commented on #6205
Thanks a lot you for the explanation, I'm looking forward to try it on version 3.19

[2019-09-16 22:30] tokiwinter opened #6214 "Mounting lxc path from one container to others via profile"
Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 16.04
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux node-1 4.4.0-1087-aws #98-Ubuntu SMP Wed Jun 26 05:50:53 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 3.14
   * LXD version: 3.14
   * Storage backend in use: dir

I'd like to mount a directory among multiple containers. The direc

[2019-09-17 03:09] vikrantrathore opened #6215 "After upgrading lxd 3.17 the cluster failed and cannot create new containers"
Just upgraded my cluster to lxd 3.17 and it broke the whole cluster. Now cannot create any new containers. It continuously give errors.

# Required information

[code]
# Issue description

After snap refresh lxd the version installed is 3.17 and it starts giving error whenever launching new containers.

# Steps to reproduce

 1. Create a container using lxc launch as follows with error.

[code]
 2

[2019-09-17 06:22] s3rj1k commented on #6205
@stgraber Can this be somehow optional? Not everyone want/need/allowed to install qemu on servers with LXD.

[2019-09-17 07:11] stgraber commented on #6214
With the directory backend, you can but it's certainly not something we'd recommend.

Something like: `lxc config device add NAME shared disk path=/shared source=/var/snap/lxd/common/lxd/storage-pools/default/containers/OTHER-NAME/rootfs/PATH` should do the trick

In general we'd recommend you make a custom storage volume with `lxc storage volume create` and then attach it to all containers, that

[2019-09-17 07:11] #6214 closed

[2019-09-17 07:12] stgraber commented on #6215
Can you try with a different image, see if that's the problem?

[2019-09-17 07:13] stgraber commented on #6205
@s3rj1k yeah, the snap will bundle qemu but for those manually building/packaging LXD, if qemu isn't around, we'll just skip vm support.

[2019-09-17 09:50] vikrantrathore commented on #6215
I have tried with different image the errors are same.

[code]

[2019-09-17 10:07] stgraber commented on #6215
@vikrantrathore Can you show `lxc profile show default`?

[2019-09-17 10:12] stgraber commented on #6215
And `lxc network list`

[2019-09-17 10:15] vikrantrathore commented on #6215
Here you go:
[code]

[2019-09-17 10:24] stgraber commented on #6215
@vikrantrathore can you check if `/var/snap/lxd/common/lxd/networks/br0` exists?
It shouldn't as this isn't a LXD managed bridge and if it does, would explain the error.

[2019-09-17 10:28] vikrantrathore commented on #6215
It does exists.

[code]

[2019-09-17 11:22] freeekanayaka commented on #6022
I confirm that starting the cluster still fails with:

[code]

I investigated the situation, and my impression is that some data corruption occur, because the content of the raft entries on disk is not quite valid. I tried also to remove all closed segments and leave just the last snapshot, but no luck, it seems equally broken. I don't think there's much we can do to recover this specific deployme

[2019-09-17 11:31] stgraber commented on #6215
Ok, so that's your problem, the presence of that directory is used as a cheap way to know if a network is managed, if it exists, we go query the database for it, which then fails because it's not actually managed in your case.

So you should either get onto an actual LXD managed bridge (assuming whatever was problematic with GCE can be fixed/worked aorund) or if you want to keep using your workaro

[2019-09-17 11:31] #6215 closed

[2019-09-17 11:33] vikrantrathore commented on #6215
But this wasn't a performance in earlier versions.

On Tue, 17 Sep 2019 at 7:31 PM, Stéphane Graber <notifications@github.com>
wrote:

[2019-09-17 13:06] stgraber commented on #6215
Sure, it's a change from 3.16 to 3.17 which was done to improve performance for the majority of our users and works perfectly fine so long as you don't go behind LXD's back creating directories which shouldn't exist given the LXD configuration.

We don't break our REST API or our CLI, but internal storage and internal database may change format and behavior at any time and should not be expected t

[2019-09-17 13:15] stgraber commented on #6022
@lcligny did you end up reinstalling that cluster?

If not, we may be able to re-generate a new database structure for you from the last consistent state on disk, but that will take us a bit of time so we'd rather not waste that time if you've already moved on.

[2019-09-17 15:39] zzlinwq commented on #6175
1111111111

[2019-09-17 17:34] ribsthakkar commented on #5826
Hi @stgraber, my team with @abbykrish, @anusha-paul, and myself will work on this issue

[2019-09-17 17:35] ribsthakkar commented on #6174
Hi @stgraber, my team with @abbykrish, @anusha-paul, and myself will work on this issue

[2019-09-17 19:10] Conan-Kudo commented on #6205
I'm not sure why you expected libvirt to develop a REST API out of nowhere... The closest right now would probably be the Cockpit API interface for libvirt that uses libvirt-dbus underneath it.

If you wanted one that badly, why not use libvirt with LXD instead of reimplementing everything?

[2019-09-17 20:23] BryanQuigley commented on #5688
This breaks sosreports assumptions on it's ability to collect data from /proc/sys.  I'd like to better understand the reasoning for this.

"The reason for passing all of those is legacy init systems which require those to be mounted or be mountabled inside the container.

The majority of those will not be writable (or even readable) from inside an unprivileged container and will be blocked by our

[2019-09-17 20:28] tokiwinter commented on #6214
Thanks - I didn't even think about `storage volume`. Awesome.

[2019-09-18 07:59] stgraber commented on #5688
Upstart requires them to be mounted and with the right filesystem type or it will attempt to mount them again, fail and hold the entire boot.

So as long as we care about Ubuntu 12.04, Ubuntu 14.04 or Centos/Rhel/Oracle 6, we can't remove that logic.

[2019-09-18 08:19] stgraber commented on #6205
libvirt has been playing with remote access in the past and so could have decided to adopt a more modern remote API, similar to what LXD and cloud providers provide. Instead the project decided to remain as a low level abstraction between multiple hypervisors. That's perfectly fine and even reasonable though it is surprising that we have seen so much development around improved user experience for

[2019-09-18 08:20] stgraber commented on #5826
@ribsthakkar assigned it to you for now, I'll need to have the other two comment so Github lets me assign it to them too.

[2019-09-18 08:20] stgraber commented on #6174
@ribsthakkar assigned it to you for now, I'll need to have the other two comment so Github lets me assign it to them too.

[2019-09-18 10:33] lcligny commented on #6022
Hello,

I still didn't recreated the cluster, but if doing the new DB structure is
going to take you lot of time, we can close the report, as it seems my
problem is a very specific one and seems linked to some local context on my
installation.
It will take take on my end, to rebuild without too much outage and keeping
containers data, but hey I was warned it is dangerous to run only two nodes
on c

[2019-09-18 10:38] Cynerd opened #6220 "Allow modification of image expiration field"
The expiration field for images currently is read-only. The possibility to allow modification of it might allow automatic removal of old images created locally.

Forum post: https://discuss.linuxcontainers.org/t/automatic-local-image-expiration-how-to-set-expires-at/5761

[2019-09-18 11:51] stgraber commented on #6022
@freeekanayaka will get you a database tarball including a new `global` directory to put in `/var/snap/lxd/common/lxd/database` on both nodes, at which point starting them both back up should work.

[2019-09-18 11:58] stgraber commented on #6220
This issue would be a good candidate for a new contributor to tackle.

What needs to happen is effectively:
 - Add an API extension in doc/api-extensions.md
 - Add the matching string in shared/version/api.go
 - Update shared/api/images.go to move ExpiryDate from Image to ImagePut
 - Update lxd/db/images.go to have it accept updating that database field
 - Update lxd/images.go to have ImagePut pas

[2019-09-18 12:16] freeekanayaka commented on #6022
@lcligny please can you just check which version of the snap do you have installed right now? on both nodes

[2019-09-18 12:18] melato opened #6221 "wrong usage for lxc exec --cwd"
Client version: 3.17
Server version: 3.17

run:
`lxc exec -h`

result:
In the Flags section, there is a line:

This seems to be accidentally copied from the --group flag
I expected something like:

[2019-09-18 12:24] freeekanayaka commented on #6022
@lcligny also, can you run ```sudo sqlite3 /var/snap/lxd/common/lxd/database/global/db.bin .dump``` (on any of the two nodes) and check that it has all the containers? That file contains the most recent consistent database state that we have, but if it's too old, there's no point in trying to recover.

[2019-09-18 12:35] stgraber commented on #6221
Sent a PR to fix this

[2019-09-18 12:49] lcligny commented on #6022
Hi,

Running the sqlite3 commands show me 23 INSERT INTO "containers"
statements, which correspond to my 23 containers spread over the two nodes.
I also see on the list, the very last container I setup a few days before I
had problems with my installation.

Le mer. 18 sept. 2019 à 14:24, Free Ekanayaka <notifications@github.com> a
écrit :

[2019-09-18 12:55] Ferdinanddb commented on #6098
Just did the report on forum.snapcraft.io since now the problem is on the node that was working when the 2 other nodes were stuck... I will try what you said about restarting snapd.

[2019-09-18 13:03] freeekanayaka commented on #6022
@lcligny just sent you an email with the new database tarball and files, I hope it works, although I'm not 100% sure.

[2019-09-18 13:20] Ferdinanddb commented on #6098
Just did what you mentionned about `systemctl restart snapd` after aborting running tasks and it worked. I also reported the issue on [snapcraft](https://forum.snapcraft.io/t/snap-auto-refresh-lxd-is-stuck-in-doing-status-since-2-days/13300).

Could you please provide me some tips about using LXC with snap in a production environment? Cause it seems that the auto-refresh function of snap is mandat

[2019-09-18 14:05] #6221 closed

[2019-09-18 14:07] stgraber commented on #6098
You can configure a weekly maintenance window for normal refreshes:
  https://snapcraft.io/docs/system-options

For LXD, we've also introduced temporary tracks for our feature releases, so you could do:
 - snap refresh lxd --channel=3.17

Which will then keep the system on 3.17 indefinitely. To upgrade to 3.18, you'll then need to manually do `snap refresh lxd --channel=3.18`. This may be a good o

[2019-09-18 18:28] truelai commented on #6115
@stgraber - I upgraded to 18.04 and looks like the kernel had some bug fixes for btrfs. Since then, the issue has not repeated so it may have been related. I'd call this closed for now. Thanks for checking in!

Also, if you're in Montreal, please shoot me an email. I owe you food and drink.

[2019-09-18 21:40] BryanQuigley commented on #5688
I was trying to figure out another way forward, so I booted a 14.04 Cloud Image, but don't see any way to tell that binfmt_misc in indeed a filesystem of that type:
https://pastebin.ubuntu.com/p/3xqnXB7bYF/

If you have any other bug/issue links I'd happily read up on it.  Just trying to evaluate if there is another way..  Thanks!

[2019-09-19 02:53] vikrantrathore commented on #6215
That's fine I used that location thinking it won't be checked for network status. It's fine I removed the directory from the original location and moved it outside of snap. It works now.

Still my suggestion is not to auto refresh snap to new version by default. Earlier twice it created issues and for one of them need to wait for patch update on snap stable channel.

[2019-09-19 07:49] stgraber commented on #6215
There are versioned tracks that you can use to stick on a particular LXD release, manually switching to the next one.

[2019-09-19 07:49] #6115 closed

[2019-09-19 07:50] C0rn3j commented on #4029
Installing nftables and starting the nftables.service seems to be enough to break IPv4 container networking on Arch also.

[2019-09-19 08:54] stgraber opened #6223 "`nftables` support for firewalling rules"
As more and more Linux distributions switch to nft, we need to cleanup our existing logic and add an nft alternative implementation.

The todo will look something like:

- [x] Centralize all our iptables, ip6tables and ebtables calls into one struct in a separate package, implementing a `firewall` interface.
- [x] Updating all existing code to load that struct (effectively asking for a `firewall`

[2019-09-21 01:48] KsaRedFx opened #6225 "Mount options for disk device mounts"
Currently you can mount a device into a container by adding it as disk to your containers configuration using: `lxc config device add <container> <name> disk source=/dev/<device> path=<relativepath>`

While this works great for basic filesystems like ext4, this makes using specific mount options difficult for anything more complex like btrfs.

I'm trying to specifically mount a btrfs subvol inside

[2019-09-21 07:27] dshcherb opened #6226 ""database is locked" after encountering out of disk space condition"
# Required information

 * Distribution: ubuntu
 * Distribution version: 19.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.3.0-050300rc7-generic
   * LXC version: 3.17
   * LXD version: 3.17
   * Storage backend in use: btrfs

# Issue description

- System ran out of disk space (apparently building chrome requires > 50G);
- snapcraft --use-lxd was used so this was triggere

[2019-09-21 12:04] dshcherb commented on #6226
I did the following to unblock myself:

[code]

But I still have the backed up database files which have the broken state.

[2019-09-21 12:47] Whytey opened #6227 "Can't Start Container"
#5318 Required information

 * Distribution:
 * Distribution version: Ubuntu 14.04
[code]

# Issue description

Have been playing adding a usb serial device using 'lxc config device add/remove' and found that the usb device wouldn't disappear within the container.  Did a container stop with the intent to restart it but now it won't start.  I don't recall having restarted the container in a while (

[2019-09-22 03:38] Whytey commented on #6227
I read into it a bit more.  Looked like it was a ZFX related issue in that some 'files' were locked by some process, preventing LXD from starting the container.  (I don't completely understand :P )

I did a host reboot and it all seems to have come good again, but will leave this open in case there is an LXD related issue needing investigating.

Please close if you think this is out of scope.

[2019-09-22 19:14] stgraber commented on #6227
Yeah, it's the zfs refcount issue. You could have likely resolved this without a reboot by doing:
[code]

This isn't a LXD issue but something we're tracking in multiple other places (snap packaging, zfs upstream and Linux kernel).

[2019-09-22 19:14] #6227 closed

[2019-09-22 19:15] stgraber commented on #6226
Could you e-mail a tarball of the database to stgraber at ubuntu dot com and I'll forward it to @freeekanayaka to look at any potential fix/improvements to do in dqlite upstream for such cases?

Closing as the issue is likely in dqlite rather than LXD and we'll have @freeekanayaka take a look at it once we get access to the DB.

Thanks!

[2019-09-22 19:15] #6226 closed

[2019-09-22 19:18] stgraber commented on #6225
So I'm still not fond of the idea (this has been suggested before) but as we don't really have a better answer to it, I suspect a `raw.mount.options` config option on the disk device would probably be okay.

Once we start implementing project restrictions (#6170) this would then get restricted in the same way a `raw.lxc` config option would be.

[2019-09-22 19:43] dshcherb commented on #6226
@stgraber

Done, thanks!

[2019-09-22 21:23] xrobau commented on #5550
As I mentioned in the forums, @freeekanayaka 's concept would be the correct one for the end user (regardless of using `lxd` or `lxc` to trigger it).  There are plenty of ways that LXD can get itself confused, and a destructive 'blow everything away' would be the correct way to handle this.

In my situation, I had lost a backing store, and two (out of 5) LXD hosts were missing. I'd restored from b

[2019-09-22 22:07] tokiwinter opened #6228 "Trying to launch container fails"
#5318 Required information

 * Distribution: CentOS
 * Distribution version: 7
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Trying to launch a container in a script fails, but works on the command line.

# Steps to reproduce

 We have a script which produces profiles, networks and containers. Up until recently this was working, until we removed `mtu` from the profiles

[2019-09-22 22:21] stgraber commented on #6228
Your script appears to be passing some data through stdin which LXD now interprets as a container configuration yaml.

Try using: 'lxc launch ... < /dev/null' to ensure that no data is passed through stdin

[2019-09-22 22:39] tokiwinter commented on #6228
That worked, thanks!

[2019-09-22 22:39] #6228 closed

[2019-09-23 05:38] Linkinverse commented on #4865
I am experiencing this same issue on Debian, and the link you provided is down... What can i do? I don't understand how to set LD_LIBRARY_PATH exactly

[2019-09-23 07:05] freeekanayaka commented on #4865
LD_LIBRARY_PATH must point to the directory where libdqlite.so.0 is, and the lxd process must be started with that environment variable set.

[2019-09-23 07:07] Linkinverse commented on #4865
Thank you freeekanayaka

[2019-09-23 16:47] splett2 commented on #1750
hi, lily and I would like to claim this issue for our group.

[2019-09-23 16:48] splett2 commented on #6225
Hi, Lily and I would like to claim this issue for our group.

[2019-09-23 18:52] stgraber commented on #6225
Excellent, for this one, I expect roughly the following commits:
 - api: Add `container_raw_mount` API extension
   - Add that string to `shared/version/api.go`
   - Add a matching entry to `doc/api-extensions.md`
 - lxd: Add support for `raw.mount.options:
   - Add the new option to `lxd/device/disk.go`
   - Make the logic in `disk.go` add the mount options to the returned RunConfig
   - Add matc

[2019-09-23 19:11] stgraber commented on #6174
Excellent, for this one, I'd expect roughly the following commits:
 - api: Add `container_disk_ceph` API extension
   - Add that string to `shared/version/api.go`
   - Add a matching entry to `doc/api-extensions.md`
 - lxd: Add support for CEPH RBD backed disks
   - Add the new options to `lxd/device/disk.go`
   - Follow and extend the logic currently used to handle block device mounts and combine

[2019-09-23 19:13] stgraber commented on #6174
@tomponline how does that sound to you? I'm not super fond of having to split `disk` through `disktype` but it'd be consistent with `nic` and it feels to me like adding two more device types for this would be even more confusing.

In theory we could do some clever parsing of `source` to avoid needing a `disktype` entirely, but distinguishing between ceph-rbd and ceph-fs then becomes a bit tricky.

[2019-09-23 19:52] stgraber commented on #5826
For this issue, we'd like a completely standalone Go package that we could then transition some of our code over. So rather than directly modifying LXD from the start, this should start as a new Go package under our `shared/` directory, defining the struct and functions to achieve the goals outlined in this issue.

Once we think it covers all we need to spawn/stop/restart/track background processe

[2019-09-23 19:53] stgraber commented on #5826
For this one, good contacts would be @brauner, @tomponline and myself

[2019-09-23 19:57] stgraber commented on #6022
@lcligny did this let you recover your cluster?

[2019-09-23 20:02] stgraber commented on #2797
Other than some rare issues with pylxd, we've never seen this hit anyone else in any other bindings or tests, so I'm going to close this issue at least for now.

If someone comes up with a clear reproducer or log showing such an issue on current LXD, please comment here and we'll gladly re-open the issue.

[2019-09-23 20:02] #2797 closed

[2019-09-23 20:04] truelai opened #6229 "Unable to set snapshots.pattern key in profile on LXD 3.17"
[code]
When attempting to add _snapshots.pattern_ to an LXD profile, the following error is thrown:
`Config parsing error: yaml: line 23: did not find expected key`

Shouldn't I be able to set this in a profile? Per docs:

[2019-09-23 20:11] stgraber commented on #6229
[code]

[2019-09-23 20:12] stgraber commented on #6229
[code]

[2019-09-23 20:13] stgraber commented on #6229
@truelai how exactly did you set the key and to what value?

The error you got suggests that the YAML input was invalid, which would suggest you used `lxc profile edit` or the API directly and mis-indented something or didn't quote the pattern as seen in my `lxc profile show` output above.

[2019-09-23 20:15] truelai commented on #6229
Yes, I used lxc profile edit. Why is this wrong?

Ideally, I'd like to have:
`snapshots.pattern: "{{ creation_date|date:"2006-01-02_15-04-05" }}"`

[2019-09-23 20:17] truelai commented on #6229
Looks like it works but it stripped the internal quotes:

root@R510-LXD6-Backup:~# lxc profile show default
[code]

[2019-09-23 20:22] stgraber commented on #6229
Yeah, it would have because you had double quotes inside double quotes.

Using `snapshots.pattern: '{{ creation_date|date:"2006-01-02_15-04-05" }}'` would probably work.

[2019-09-23 20:23] truelai commented on #6229
Gotcha. Thanks much!

[2019-09-23 20:23] #6229 closed

[2019-09-23 20:32] stgraber opened #6230 "Only extend cluster database when reaching three members"
As it currently stands when bringing up clustering, the first three members all immediately become database members. This isn't ideal as unfortunately many people will only bring up a two servers cluster, ending up in the worst situation where loosing either of them leads to a broken cluster.

I believe it would instead be preferable to not have the second member act as a database member until a t

[2019-09-23 20:33] stgraber commented on #6230
@freeekanayaka this can all be done in LXD itself correct?

We only need to modify the joining logic so we don't bring up the database unless there are at least three members in the cluster, at which point we should promote whatever members are needed to have a database backed by three of them.

[2019-09-23 23:30] ribsthakkar commented on #5826
Thank you for the updated information. We'll let you know about updates when we get to working on them!

[2019-09-24 03:45] freeekanayaka commented on #6230
Yes, in principle that would work indeed, and we already have high-level logic promotion that should be possible to reuse.

[2019-09-24 07:37] tomponline commented on #6174
@stgraber could we do something similar to LXC where we prefix a protocol to the source, e.g. `ceph:<pool>/<volume>` and `cephfs:<pool>/<volume>`? With nictype, many of the options available are different from others, but with disk would the majority of options still be available?

[2019-09-24 07:38] tomponline commented on #6225
@splett2 Yep let me know if you have any questions.

[2019-09-24 09:45] dionysius opened #6231 "Using CPU limit with share influence under load (lmits.cpu.allowance & priority & cgroup)"
# Required information

 * Distribution: independent
 * LXD version: branch master (currently commit sha ed9782036ed847a0306bf6873bf8f96cf1786204)

# Issue description: Feature request

Currently it's not possible to use a hard cpu time limit (currently `limits.cpu.allowance` with `_ms/_ms` notation, which basically sets cgroup cpu quota and period) with a cpu time sharing indicator under load (cu

[2019-09-24 09:54] freeekanayaka commented on #6226
I can reproduce the issue with the database dump that @dshcherb sent us. Like in another cases we have seen, raft refuses to start because it finds that the last segment has some trailing zeros that should have been truncated instead. Since the logic to finalize open segments first truncates the file then renames it (with an fsync in between) that situation should never happen.

I'll try to run th

[2019-09-24 11:27] captainwasabi opened #6232 "lxd/lxc hwaddr only accepts lower case letters"
If a containers hwaddr contains any upper case letters the container will fail to start.

# Steps to reproduce

 1.Set the container to have uppercase letters in it's mac address
 2. Try to start the container
 3. See error message

MAC addresses should definitely be allowed to have upper case letters in their mac addresses, unless something has changed recently the usage of uppercase would be con

[2019-09-24 11:55] stgraber commented on #6232
So this isn't the first time someone gets annoyed by the stricter validation from 3.16 and higher so we should allow both cases and just bring everything to lower before using it.

[2019-09-24 13:30] #6232 closed

[2019-09-24 14:53] stgraber opened #6234 "Implement initial LXD VM agent"
As part of the work to get LXD virtual machine support (#6205), some features will need the assistance of an agent in the VM.

# API
The agent will listen over a vsock, running an HTTPS server with a REST API similar to what LXD itself does. The address should be ANY and port should be 8443.

For the initial implementation, we're looking at getting the following API endpoints implemented:
 - /1.0

[2019-09-24 14:58] ColinIanKing commented on #4656
Been digging into this a bit further with lxc 3.17 on Eoan with lxc delete --force:

lxc launch ubuntu:bionic zfs-bug-test
Creating zfs-bug-test
Starting zfs-bug-test
lxc delete zfs-bug-test --force
Error: Failed to destroy ZFS filesystem: Failed to run: zfs destroy -r default/containers/z1: cannot destroy 'default/containers/z1': dataset is busy

However, re-running the delete works fine:
lxd.lxc

[2019-09-24 15:25] stgraber commented on #4656
@ColinIanKing hmm, how did you end up seeing the commands be run in that order?

Causing LXD to log all subcommands gets me:

[code]

Spaces have been added to denote, create, start, stop, delete.
This was done by running:
[code]

[2019-09-24 15:26] stgraber commented on #4656
Note that you won't see repeat destroys above as the initial one succeeds here.

[2019-09-24 15:29] ColinIanKing commented on #4656
I added copious amounts of debug into the zfs driver and examine the reference counting, this allows me to see the ZFS ioctl() commands and various system calls using dump_stack() to see where the call chains were coming from.

[2019-09-24 15:50] stgraber commented on #4656
@ColinIanKing what did you do to get a reliable destroy failure?

[2019-09-24 15:54] ColinIanKing commented on #4656
@stgraber just doing the following:

lxc launch ubuntu:bionic z1
lxc delete z1 --force

..and that fails, then re-running: "lxc delete z1 --force" it's OK.

[2019-09-24 15:59] turtle0x1 commented on #6234
Please scrape CPU load avgs this should be a non-issue compared to using lxcfs right ?

[2019-09-24 16:20] stgraber commented on #4656
Same here but it's not failing.
I'm running current LXD from master, on Eoan with 5.3.0-10-generic and ZFS 0.8.1-1ubuntu11.

[2019-09-24 16:37] ColinIanKing commented on #4656
cking@sharkbay:~$ lxc launch ubuntu:bionic z1
Creating z1
Starting z1
cking@sharkbay:~$ lxc delete z1 --force
Error: Failed to destroy ZFS filesystem: Failed to run: zfs destroy -r default/containers/z1: cannot destroy 'default/containers/z1': dataset is busy
cking@sharkbay:~$ lxc delete z1 --force
cking@sharkbay:~$ lxc --version
3.17
cking@sharkbay:~$ uname -a
Linux sharkbay 5.3.0-10-generic #11-

[2019-09-24 17:48] stgraber commented on #4656
I doubt that's master making things more stable.

I just took a random MAAS node here, running up to date eoan and did:
[code]

Followed by:
[code]

Also, not a single error in this case, so there clearly is more than just installing current LXD on eoan and deleting some containers, otherwise our automated CI would have long run into those issues.

[2019-09-25 12:26] mdlayher commented on #6234
Hello! I was linked here by a friend. You may be interested in my vsock package for Go: https://github.com/mdlayher/vsock. Hope this helps your efforts.

[2019-09-25 12:38] stgraber commented on #6234
@mdlayher We've been using your package for a quick prototype we wrote last week. One issue we have though is that a rather significant part of our user base is on Go 1.10, so we'll either need to find a way to get this working on 1.10 or deal with the issues that would come with raising our own minimal Go version to 1.11.

[2019-09-25 12:42] mdlayher commented on #6234
Unfortunately you are going to have to deal with a lot of headaches unless you're using at least Go 1.11 and possibly Go 1.12. The hooks that allow the package to efficiently work with the go runtime and enable the use of timeouts simply do not exist before Go 1.11.

That said, I am willing to accept patches if you can get some reasonable subset of functionality working on Go 1.10.

[2019-09-25 14:28] ahktenzero opened #6239 "Unable to access container config through /dev/lxc/sock in containers in projects"
# Required information

 * Distribution: Debian
 * Distribution version: 10
 *  "lxc info":
[code]
# Issue description

If a container is created in a project other than the default, accessing the container config using `/dev/lxd/sock` only works in an LXD exec session. Attempting to retrieve configuration in any other context fails with an error: `Failed to fetch container "test_debian-test" in p

[2019-09-25 19:40] stgraber commented on #6239
Got a fix for this, also managed to reproduce it using just `screen` without needing to use ssh.

[2019-09-25 19:47] keyallis commented on #6223
Myself and my partner from the UT Virtualization class would like to take this issue as part of our class project

[2019-09-25 19:48] keyallis commented on #6220
Myself and my partner from the UT Virtualization class would like to take this issue as part of our class project

[2019-09-25 20:57] stgraber commented on #6220
Thanks, assigned it to you. Hopefully the instructions I pasted in the previous comment will help you figure out what needs to happen.

I would expect a pull request made of 3 commits for this one:
 - api: Add images_expiry API extension
 - shared/api: Make image ExpiryDate modifiable
 - lxd: Make image ExpiryDate modifiable

This should all be pretty easy to do and a good start to see how to cont

[2019-09-25 21:01] piluke commented on #6223
Hi, I'm the partner, could I also be assigned?

[2019-09-25 21:01] piluke commented on #6220
Hi, I'm the partner, could I also be assigned?

[2019-09-25 21:07] stgraber commented on #6223
Thanks, assigned it to you. Unlike the image expiry issue, this one will be a bit trickier and will likely be done through multiple distinct pull requests to make things easier to review.

1) The first stage is to look at all our current uses of the `iptables`, `ip6tables` and `ebtables` commands in the LXD code, understand what each call does and design a list of functions that will perform these

[2019-09-25 21:07] stgraber commented on #6220
Done

[2019-09-25 21:08] stgraber commented on #6223
@tomponline and myself will be the main contact points for this one.

[2019-09-25 21:08] stgraber commented on #6223
@tomponline does the above plan sound good to you?

[2019-09-25 21:28] #6239 closed

[2019-09-26 08:43] tomponline commented on #6223
@stgraber yep sounds good to me.

Worth making explicit that the interface and the implementations should be in their own package outside of `main`.

Do you have any initial thoughts on what the logic for step 6 would be?

[2019-09-26 12:26] stgraber commented on #6223
@tomponline what I described in the issue's description:
[code]

[2019-09-26 14:32] paride commented on #4656
In https://github.com/lxc/lxd/blob/master/lxd/storage_zfs_utils.go#L255 the umount is done by
[code]
The umount2(2) manpage writes about `MNT_DETACH`:

Could this be it? The `MNT_DETACH` umount looks partially asynchronous. All the subsequent `destroy` commands may fail because they keep the mount point busy. Finally the retry loop ends, the umount happens for real and the following `destroy` succ

[2019-09-26 14:37] ColinIanKing commented on #4656
This must be the root issue, I was tracing the system calls and zfs ioctl() activity and was seeing the mount occur in the wrong order, and with async umounting this is most probably what is happening.

[2019-09-26 14:41] stgraber commented on #4656
What doesn't make sense is that the destroy loop isn't a tight loop, we're waiting 500ms in between calls, so that's plenty of time for the kernel to flush things.

[2019-09-26 14:56] paride commented on #4656
That's indeed strange, given that the second command in
[code]
suceeds even if the first failed, and there are certainly less than 500ms between them.

But there could be an explaination for this. For example: does the kernel flush the pending umounts initiated by a process when the process terminates? Just throwing an idea, this isn't really my territory.

[2019-09-26 14:58] ColinIanKing commented on #4656
When a process exits it will drop the reference count, so perhaps pending async umounts could indeed be actioned at that point.  IMHO, async umounts should be avoided when possible to avoid any potential race windows.

[2019-09-26 15:01] stgraber commented on #4656
That's not it. LXD is a daemon process running as root, `lxc` is just a REST API client, so your `lxc delete` doesn't itself call umount or destroy, the main LXD process does and that process isn't exiting at all.

[2019-09-26 15:02] stgraber commented on #4656
The issue with `umount2` is that there is no MNT_REC flag for it, so you can't unmount an entire tree without using MNT_DETACH.

[2019-09-26 15:07] paride commented on #4656
What about an umount with `MNT_DETACH` followed by an umount without it?

[2019-09-26 15:25] stgraber commented on #4656
won't work, MNT_DETACH immediately gets rid of the mount entry, you can't call umount on it after that

[2019-09-26 16:11] suprasoil opened #6245 "Can't copy ceph storage volumes."
[code]

I'm unable to copy storage volumes to storage volumes:
[code]

I'm unable to copy a storage volume from a snapshot
[code]

Copying a storage volume with snapshots results in snapshots being copied, but not the volume itself:
[code]

Please let me know if you need any more information.

[2019-09-26 19:03] anonymouse64 opened #6248 "lxc suggests running the exact command I am running"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 19.04 (well an ubuntu 18.04 lxd container running on an ubuntu 19.04 native host)
 * The output of "lxc info":

<details>

[code]

</details>

# Issue description

lxc suggests to try the exact command I am running:

[code]

# Information to attach

Note that this was running from inside a lxd container, so perhaps thi

[2019-09-26 21:23] #6245 closed

[2019-09-26 22:28] #6248 closed

[2019-09-27 02:43] abbykrish commented on #5826
Hi @stgraber, I'm Abby, could you assign me to the issue? Thanks ahead!

[2019-09-27 02:43] anusha-paul commented on #6174
Hi, could you add me to this issue.

[2019-09-27 13:53] #6172 closed

[2019-09-27 17:08] stgraber commented on #6174
Done

[2019-09-28 15:58] Buri opened #6257 "cgfsng - cgroups/cgfsng.c:__do_cgroup_enter:1500 - No space left on device - Failed to enter cgroup "/sys/fs/cgroup/cpuset//lxc.monitor/test/cgroup.procs""
# Required information

 * Distribution: OpenSUSE
 * Distribution version: Tumbleweed
 * The output of "lxc info":
[code]
# Issue description

After todays system upgrade I'm unable to start any lxc containers.
[code]
# Steps to reproduce

 1. Start any container (previously created or new)
# Information to attach

 - [ ] Any relevant kernel output (`dmesg`)
 - [x] Container log (`lxc info NAME --

[2019-09-28 16:08] stgraber commented on #6257
Is that with the snap or with a native lxd package?
If snap, can you show `snap info lxd`

That error usually indicates an incorrect cgroup setup, but we've put some mitigation in place in the snap and its built-in copy of liblxc, so it's a bit odd that you'd be hitting this.

[2019-09-28 16:09] stgraber commented on #6257
(Also, we have automated testing of the snap on opensuse tumbleweed which did not show this behavior)

[2019-09-28 16:25] Buri commented on #6257
No, this is native package. Funny thing is docker is running normaly (I assume it also uses cgroups?)

[2019-09-28 17:38] stgraber commented on #6257
Docker doesn't make use of quite that many cgroups.

Ok, so your issue should likely be reported to your distro's packager then, specifically, the liblxc package should include a cherry-pick of:
      b31d62b847a3ee013613795094cce4acc12345ef  # cgroups: initialize cpuset properly

A workaround we had prior to that fix being pushed to liblxc, was this:
[code]

Running that prior to spawning any con

[2019-09-28 17:38] #6257 closed

[2019-09-28 20:32] splett2 commented on #6225
@tomponline

I'm guessing most of the logic we're implementing for lxd: Add support for `raw.mount.options:
would be in the Start() function, and I see that there are already a number of mount options. If a user decides to pass in options via raw mount options, should we ignore any other potential mount parameters?

[2019-09-28 20:39] stgraber commented on #6225
I think raw.mount.options should get appended to anything we already came up with internally

[2019-09-29 20:08] simondeziel opened #6258 "Uneeded dependency on iptables modules"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Bionic 18.04.3 64 bits
 * The output of "lxc info":
[code]

# Issue description

lxd insists on having iptables related modules loaded when editing/creating networks even when ipv{4,6}.firewall: "false". Here are the steps to reproduce the issue with iptable_mangle and ip6table_nat.

# Steps to reproduce

1. Remove modules
``

[2019-09-29 20:24] stgraber commented on #6258
Right now we can't tell whether a network is getting created for the first time or updated so ignoring cleanup errors can be a problem if you were trying to turn off firewalling rather than creating a new network with it disabled.

It shouldn't be particularly hard to pass that extra data through at which point we can start being a bit smarter with this and other similar cases.

[2019-09-30 03:39] #6022 closed

[2019-09-30 06:49] sfPlayer1 commented on #6257
I don't think this should be considered a distribution issue as OpenSUSE ships the latest lxc and lxd releases, apparently without any source patches. Please consider a new LXC release or adjust LXD to not need it (3.15 was fine IIRC).

Closely related: As of 3.17 `lxc start <container>` doesn't yield any errors and exits with code 0, although failing as per the log file or lxc list. `lxc info --s

[2019-09-30 17:13] IcarusWizard opened #6262 "Fail to start first container"
# Required information
* Distribution: Ubuntu
 * Distribution version: 18.04
 * The output of "lxc info" or if that fails:
[code]
   * Kernel version: 4.18.0-21-generic
   * LXC version: 3.17
   * LXD version: 3.17
   * Storage backend in use: zfs

# Issue Description
I was follow an instruction to build a template image. But I fail to start it when I call `lxc start`

# Steps to reproduce

 1. `s

[2019-09-30 17:24] stgraber commented on #6262
Can you run:
[code]

See if it's the NVIDIA integration that's the problem?

[2019-09-30 18:07] vazhnov commented on #3343
@tuapuikia, there are no direct equivalent of Dockerfile in LXC/LXD, but you can try [mkosi](https://github.com/systemd/mkosi). Here is a list of other tools: https://wiki.debian.org/SystemBuildTools

[2019-10-01 01:22] IcarusWizard commented on #6262
Yes, it solve the problem. Thanks!
But I really need to use GPU inside my container, do you have any suggestion about how I can do it?
The nvidia dirver and cuda work perfectly on my local machine and I have also install nvidia-container-runtime through the instruction [here](https://github.com/NVIDIA/nvidia-container-runtime). I don't see any reasons that it cannot work in the container.

[2019-10-01 01:36] stgraber commented on #6262
Try running this as root:
[code]

Then post both the output of that command and the content of `/var/snap/lxd/common/nvidia.log`

[2019-10-01 01:45] IcarusWizard commented on #6262
The above command outputs
[code]
And in `/var/snap/lxd/common/nvidia.log`, it says:
[code]
It seems the problem is caused by nvidia-container-cli?

[2019-10-01 01:49] stgraber commented on #6262
Yeah, it doesn't appear to be happy with your system's libraries somehow.

[2019-10-01 01:50] stgraber commented on #6262
What does:
 - dpkg -l | grep nvidia
 - dpkg -l | grep cuda

Show on your system?

[2019-10-01 02:00] IcarusWizard commented on #6262
* `dpkg -l | grep nvidia`
[code]
* `dpkg -l | grep cuda`
[code]
* nvidia-smi
[code]
I think it is probably because I have manually update the nvidia driver through a runfile.

[2019-10-01 02:14] stgraber commented on #6262
Yeah, that's likely the issue because I'm running Ubuntu 18.04 with the packaged nvidia 430 drivers and it's working fine here.

The packages I have installed are:
[code]

[2019-10-01 02:15] stgraber commented on #6262
Tentatively closing the issue as this appears caused by the use of out of distro NVIDIA binaries which are confusing nvidia-container (unable to find cuda). Installing the distribution packages of the same 430 driver will hopefully be enough to fix things.

[2019-10-01 02:15] #6262 closed

[2019-10-01 03:04] IcarusWizard commented on #6262
Hi, I reinstall the driver through apt. Now, it can correctly start, but in the container, when I call `nvidia-smi`, it says `No devices were found`.
My default setting is
[code]
Do I need to re-config something to make it work?

[2019-10-01 03:14] stgraber commented on #6262
Can you show `lxc info --resources`?

My guess is that card id 0 isn't your NVIDIA GPU.

[2019-10-01 03:17] IcarusWizard commented on #6262
[code]
Yeah, I guess you are right, so we can I do?

[2019-10-01 03:19] stgraber commented on #6262
Instead of `id: "0"`, replace that with `id: "1"`

[2019-10-01 03:19] stgraber commented on #6262
`lxc profile edit default`

[2019-10-01 03:22] IcarusWizard commented on #6262
Problem solved! Thanks a lot!

[2019-10-01 09:31] #6258 closed

[2019-10-01 10:48] paride commented on #4656
I'm happy to see that a workaround is coming: https://github.com/lxc/lxd/commit/4ae5fe257077bfffb0af43200e6263128fc3029c :) I just have two comments on it:

1. Should the sleep be in the `if` code block? See the inline comment I made.
2. It seems to me that if the `Unmount(mountpoint, 0)` fails we're still relying on the MNT_DETACH umount to be fully done in 1 second. Is this assumption safe? This

[2019-10-01 11:04] sabaini opened #6270 "Veth in host are missing mtu configuration"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Disco
 * The output of "lxc info" :

[code]

# Issue description

I'm trying to configure nics with mtu=9000 by default, configuring the default bridge and default profile accordingly. However when launching a container the actual veth device is getting set up with mtu=1500 (dragging down lxdbr0 to 1500 as well).

This seems

[2019-10-01 12:43] stgraber commented on #4656
@paride well, to be frank, I don't expect this change to have any impact as the unmount on destroy code path shouldn't ever be taken, dataset unmount happens during container shutdown which happens way before destroy. But seeing how you and @ColinIanKing seemed convinced that this was where the problem is and I still don't have a reliable reproducer for this, it was much simpler to add code which

[2019-10-01 14:38] paride commented on #4656
I updated to edge (git-873f6e0, includes the relevant commit), and nothing changed. I still get the exact same behavior.

[2019-10-01 15:42] stgraber commented on #4656
Good, so at least that makes sense :)

[2019-10-01 16:34] paride commented on #4656
Good then, however I'm still a bit wary of those async umounts. For example, as the umount that happens at shutdown is async too (if I don't go wrong!), the `if` block

https://github.com/lxc/lxd/blob/master/lxd/storage_zfs_utils.go#L254

never runs (as you say), even if the umount hasn't been done *for real*. It's still pending in the kernel, without a specific deadline. Should the logic implemen

[2019-10-01 17:09] stgraber commented on #4656
The first Unmount is done thorugh `zfsUmount` which calls `zfs unmount` which is a sync unmount, it's only in the even that this `zfs unmount` fails 10 times in a row where we call a direct lazy unmount through the kernel.

[2019-10-01 18:18] #6270 closed

[2019-10-01 19:46] rigred commented on #6036
It has re-occurred for the same machine in the same/similar manner.
Doing a reload fails all the time. It did restart on it's own once.
But since then absolutely nothing can bring it back up.

Also what's the explanation of "use of closed network connection", it doesn't make sense to me as the connection it's referring to is available.

Btw this system isn't a prod server, just my own box I use fo

[2019-10-01 20:11] stgraber commented on #6036
@freeekanayaka ideas?

I would normally suspect an IP/PORT conflict or firewalling preventing the connection, but given that this is the local system, I'm not sure how that could be.

[2019-10-01 20:49] #6220 closed

[2019-10-02 16:10] davidfavor commented on #5914
https://bugs.launchpad.net/ubuntu/+source/udev/+bug/1846367 relates to upstream Ubuntu bug opened, relating to this problem.

Temp Fix: Change /etc/apt/apt.conf.d/10periodic - APT::Periodic::Update-Package-Lists == 0 to disable all unattended upgrades.

Then defer updating the udev package, till a machine reboot is acceptable.

[2019-10-02 17:04] Buri commented on #6257
I'm actually running at newer version (3.17). Also it seems that the solution described here doesnt work. So maybe its different kind of bug?

[2019-10-02 17:29] Buri commented on #6257
Nevermind, the fix works, I just wasn't running it soon enough. Thanks for the help!

[2019-10-03 13:36] stgraber opened #6273 "Support squashfs as compression algorithm"
LXD already supports unpacking squashfs in a number of situations but it doesn't support using mksquashfs to generate squashfs based images or backups.

The existing compression logic for images and backups should be updated so that one can set the compression_algorithm to squashfs.

Consumption of squashfs images should already pretty much just work, consuming squashfs backups will need a few cod

[2019-10-03 14:55] dkruyt commented on #6177
Got the same issue but then after a lxd.migratie from version 3.0.3 to 3.17

INFO[10-03|16:38:41] Initializing global database
DBUG[10-03|16:38:41] Dqlite: connected address=1 attempt=0
INFO[10-03|16:38:41] Updating the LXD global schema. Backup made as "global.bak"
DBUG[10-03|16:38:41] Running pre-update queries from file for global DB schema
DBUG[10-03|16:38:41] Updating global DB schema from 7

[2019-10-03 15:19] stgraber commented on #6177
- lxd sql global "DELETE FROM containers WHERE id in (1127,1204,1292,1604);"
 - lxd sql global "DELETE FROM storage_volumes WHERE id in (1133,1210,1298,1610);"
 - zfs destroy -R lxd/snapshots
 - zfs create lxd/snapshots -o mountpoint=none

All of that as root should take care of everything you showed above, then try switching to stable (3.17) again.

[2019-10-03 16:50] dkruyt commented on #6177
Thanks, that worked...

[2019-10-03 20:47] najeal commented on #6175
This issue is assigned on github but is marked has "not assigned" on the forum (https://discuss.linuxcontainers.org/t/lxd-contribution/5792/4). If it's still not assigned, I would like to pick it

[2019-10-03 20:59] stgraber commented on #6175
Have assigned it to you, I'm sure @tomponline will be happy to help with any question you may have, given he did the liblxc side of this work.

I think this should lead to about 5 commits, roughly doing:
 - Add a `device_routed` API extension to doc/api-extensions.md and shared/version/api.go
 - Extend the list of `lxcExtensions` in `lxd/daemon.go` to cover `network_veth_router` as needed for this

[2019-10-03 21:01] tomponline commented on #6175
@stgraber yep sounds good. Any questions @najeal let me know.

[2019-10-03 21:20] najeal commented on #6175
Thank!

[2019-10-04 08:54] nakatadim commented on #6205
Any plans for something lightweight such as kata containers or like?

[2019-10-04 17:02] stgraber commented on #6205
No. LXD focuses on running full Linux distributions. When running inside regular containers, we achieve that by running an unmodified image of that distro but using the host's kernel as that's what containers are. When running virtual machines, we're taking the same approach of running as much of the unmodified Linux distribution as possible, which in this case, involves running their bootloader,

[2019-10-04 20:31] stgraber commented on #6273
So I forgot just how dependent we unfortunately are of tarballs...
tarballs are very convenient internally because we can build them and alter file attributes without ever having to write anything on the actual filesystem, so I don't expect us to be moving away from them as the main building block for images and backups.

What we effectively want in this case is a way to use squashfs as a sort of

[2019-10-05 07:07] itisnotdone opened #6275 "Support device keys as `lxc list` columns"
It would be great if we can add custom columns for devices when using multiple virtual networks for multiple Envs.
For example, `lxc list --columns devices.eth0.parent`

I wasn't able to find any docs or use cases that explains it so I assume this could be a new feature.

[2019-10-05 09:43] zippy2 commented on #6205
Can you please shed more light what do you mean by this? I don't remember seeing any patches that'd modify our view on remote access.

and so could have decided to adopt a more modern remote API, similar to what LXD and cloud providers provide. Instead the project decided to remain as a low level abstraction between multiple hypervisors. That's perfectly fine and even reasonable though it is surpr

[2019-10-05 23:43] stgraber commented on #6275
That particular syntax would be a potential problem as we may one day introduce a `devices` namespace for config keys, which would then cause a conflict.

I think we'll want to switch the format to support both:
 - [config:]key[:name][:maxWidth}
 - devices:key[:name][:maxWidth}

So in your case, you'd be using: lxc list -c devices:eth0.parent

[2019-10-05 23:47] stgraber commented on #6275
This should be a pretty easy issue, especially as we already have testing in place for `lxc list`'s current behavior. I expect someone interested in implementing this would need to:
 - Modify `parseColumns` in `lxc/list.go` to allow for the `config:KEY:NAME:WIDTH:` syntax
 - Add extra tests in `lxc/list_test.go` to test the `config:KEY:NAME:WIDTH` syntax and confirm nothing regressed
 - Add suppor

[2019-10-06 00:02] stgraber commented on #6205
For remote libvirt access, I was referring to the various methods available to make the libvirt socket available over the network. Most commonly people seem to be using the ssh+netcat method though a direct TLS socket is also supported by libvirtd using PKI based authentication from what I remember.

I'm indeed aware of the fact that libvirt can be split such that only the relevant backends are in

[2019-10-06 20:28] ThinGuy opened #6276 "To enable LXD/MAAS integration on controllers, LXD should should look at nodes, rather than machines, when determining maas.machine"
* Distribution: Ubuntu
 * Distribution version: Bionic, Cosmic, Disco, Eoan
 * lxc info output attached
[lxc.info.txt](https://github.com/lxc/lxd/files/3694829/lxc.info.txt)
# Issue description

In a MAAS HA environment (n+2), it's very useful to create LXD cluster to run containers that provide services like mirrors, keyservers, simplestreams server, snap-proxy, etc.

However, the current MAAS in

[2019-10-06 22:57] stgraber commented on #6276
We certainly would be happy with having containers be tied to a MAAS controller rather than an independent MAAS machine, but the API we're provided by MAAS through gomaasapi doesn't allow us to do this.

The concept of nodes in that Go package is pretty lacking, with the majority of API calls being tied to machines. It'd be great if you could file a bug against that project here: https://bugs.laun

[2019-10-06 22:57] #6276 closed

[2019-10-07 07:35] maran opened #6277 "blkio limits don't get applied on attached BeegFS volume"
# Required information

 * Distribution: Ubuntu 18.04
 * The output of "lxc info" or if that fails:

[code]

# Issue description

As [discussed here](https://discuss.linuxcontainers.org/t/blkio-limits-on-ceph-rbd-volume/5875/6) when working with an rbd volumes it appears `limits.read/write` are not being translated into valid cgroup limits.

# Steps to reproduce

 1. Setup a Ceph RBD backend
 2. C

[2019-10-07 10:42] srados opened #6284 "Implement support for `--compression` in `lxc export`"
# Required information

 * Distribution: ubuntu
 * Distribution version: 19.10
 * The output of
   * `lxc-start --version`
 3.0.3

# Issue description

Please add `--compression off` switch to the lxc export command

I export large images from my laptop to another computer on my local network.
gzip puts a lot of load on the laptop CPU. I would prefer to have an option to switch off the compression

[2019-10-07 11:14] nicolas33 commented on #6205
I'm surprised this interesting discussion is coming so late in the development process.

1. As a user of both libvirt and lxd I'd expect libvirt to drive lxd rather than lxd to drive qemu...
2. It's not clear to me what's wrong with the libvirt API design.

As a user of libvirt I'm following the development process. I see how hard it can be to maintain a API on top of virtual machines, including q

[2019-10-07 11:41] ColinIanKing commented on #4656
I just realized while debugging this that the zfs commands are actually inside the lxd snap hence why my installed debug'd zfs package is not being called :-(

I'd like to snap this up correctly, so can you provide me the info on how you create the lxd snap so I can debug this further?

[2019-10-07 12:51] ColinIanKing commented on #4656
I tried to use the snapcraft file from /snap/lxd/current/snap/snapcraft.yaml with the latest snapcraft edge on Eoan to build lxd and got:

$ snapcraft
Launching a VM.
core18 20191001 from Canonical✓ installed
snapcraft 3.8+git35.g3529f195 from Canonical✓ installed
Failed to pull source: unable to determine source type of 'snapcraft/empty'.
Check that the URL is correct or consider specifying `sour

[2019-10-07 13:48] stgraber commented on #6284
This should be implemented the same way things are done for `lxc publish`.

Note that a current workaround is to set `backups.compression_algorithm` as a global setting, if you set it to `none` then it won't compress.

[2019-10-07 14:04] srados commented on #6284
thanks @stgraber I'll try to use workaround until the solution is implemented

[2019-10-07 15:48] stgraber commented on #4656
Note that one trick that you can do with snaps is to bind-mount your test binaries/libraries over the original in /snap/lxd/current/...

This would save you from having to rebuild everything every time (which can take over half an hour in the case of the LXD snap).

[2019-10-07 16:15] ColinIanKing commented on #4656
So, I've added debug into the zfs driver for the ioctl() commands zfs mount/umount and destroy calls. Below is a dmesg dump of the debug for the following scenario:

$ lxc launch ubuntu:bionic test2

# 1st time, fails
$ lxc delete test2 --force
Error: Failed to destroy ZFS dataset: Failed to run: zfs destroy -r default/containers/test2: cannot destroy 'default/containers/test2': dataset is busy

#

[2019-10-07 17:01] ColinIanKing commented on #4656
So I followed the lxd build commands and built it on a clean bionic amd64 server using  the snapcraft edge and when it gets to the Building lxd step I get:

Building lxd
+ sed -i /\/\*/a #cgo CFLAGS: -I/home/cking/lxd-pkg-snap/stage/include/ ../go/src/github.com/canonical/go-dqlite/internal/bindings/server.go
+ sed -i /^\/\*/a #cgo CFLAGS: -I/home/cking/lxd-pkg-snap/stage/include/ ../go/src/github

[2019-10-07 17:24] stgraber commented on #4656
What version of snapcraft are you using? Our snap is built from that branch on Launchpad, so this should just work and has normally always worked for me here. Though I do remember doing `snapcraft --use-lxd` lately following the latest major release bump of snapcraft.

[2019-10-07 19:13] ColinIanKing commented on #4656
Clean bionic and snapcraft 3.8 it builds fine. I'll try and debug this tomorrow when I get some free time.

[2019-10-07 20:05] stgraber commented on #6277
So I'm pretty confused as to how limits would actually ever have worked since @tomponline's rework of devices.

The issue is that the `Start()` function on the device is called prior to the container starting, this generates the list of needed mounts but doesn't mount anything yet. This in turn means that we don't know what device backs the source path yet and so can't ever compute the needed cgro

[2019-10-07 20:19] tomponline commented on #6277
@stgraber the cgroup settings are returned as part of run config by Start() and if being called as part of container start then the cgroup rules are translated into liblxc settings so they are applied when the container actually starts. Here: https://github.com/lxc/lxd/blob/master/lxd/container_lxc.go#L2243-L2251 this is the same technique used for the actual mounts.

I'll take a look and check it

[2019-10-07 20:22] stgraber commented on #6277
@tomponline the problem is that those rules cannot be generated until a mount entry exists and that mount entry won't exist until RunConfig is applied.

That's why I'm now adding a PostRunConfig which can be filed through PostHooks and get applied after the container has started.

This then allows us to resolve the mounts to block devices and figure out the limits.

[2019-10-07 21:18] srados commented on #6284
hey @stgraber would something like this work? https://github.com/lxc/lxd/compare/master...srados:no-compression-backup

it's not finished but I wanted to see if this is the way to go.

[2019-10-07 21:32] srados commented on #6284
oh, or shall I copy the lxc publish approach to maintain uniformity?

[2019-10-07 21:33] stgraber commented on #6284
I'd prefer it work the same way we've done for `lxc publish`.

[2019-10-07 21:34] stgraber commented on #6284
Assigning to you since you seem to have most of the pieces figured out already :)

[2019-10-07 21:39] stgraber commented on #6284
As far as how we usually split commits for this type of work, it'd look like:
 - api: Add backup_compression_algorithm API extension
   - Adds that string to `shared/version/api.go`
   - Adds a description in `doc/api-extensions.md`
 - shared/api: Add CompressionAlgorithm to `InstanceBackupsPost`
   - Add the new field to `InstanceBackupsPost` in `shared/api/instance_backup.go`
   - The field shou

[2019-10-07 21:39] stgraber commented on #6284
Thanks!

[2019-10-07 21:58] srados commented on #6284
I may ping you in order to find out how you test the changes, otherwise I think I'll be fine ;)

[2019-10-07 22:26] #6277 closed

[2019-10-08 12:03] ColinIanKing commented on #4656
Did a clean rebuild today and got:

In file included from lxcseccomp.h:33:0,
                 from conf.h:41,
                 from log.h:37,
                 from af_unix.c:39:
/root/stage/include/seccomp.h:800:30: fatal error: seccomp-syscalls.h: No such file or directory
compilation terminated.
Makefile:1834: recipe for target 'liblxc_la-af_unix.lo' failed
make[3]: *** [liblxc_la-af_unix.lo] Er

[2019-10-08 12:14] maccumaccu commented on #4451
Can anyone help me ?

root@lxd01:/# lxc cluster list
+-------+---------------------------+----------+--------+-------------------+
| NAME  |            URL            | DATABASE | STATE  |      MESSAGE      |
+-------+---------------------------+----------+--------+-------------------+
| lxd01 | https://10.242.42.14:8443 | YES      | ONLINE | fully operational |
+-------+--------------------------

[2019-10-08 12:51] stgraber commented on #4451
That normally means that the password you entered is incorrect.

[2019-10-08 16:49] maran opened #6293 "Add support for Ceph RBD erasure coded pools"
Since Ceph Luminous it's possible for RBD volumes to be created in erasure backed pools. LXD currently can't work with these pools since the command line arguments to create a image in an ec pool is a tiny bit different. (requires the `--data-pool` flag)

Is there any interest in supporting erasure coded pools that already exist in a Ceph cluster? I'm going to assume creating erasure coded pools t

[2019-10-08 18:35] stgraber commented on #6293
Should be fine, especially if this can be detected somehow. If not, then we'd need a `ceph.XYZ` config option added to the storage pool config.

Also worth noting that this would only apply to manually built/installed LXD for the next couple of months at least as the LXD snap is still built from Ubuntu 16.04 an so only has CEPH 10.x.

Moving to a 18.04 base is planned and the work already done, bu

[2019-10-08 18:38] stgraber commented on #6293
So anyway, if you're interested in doing the work and you understand what needs to be done, go ahead, it's fine with me :)

[2019-10-08 18:39] stgraber commented on #4656
Upstream libseccomp broke, they split a bunch of headers into that seccomp-syscalls.h but don't actually install the file as far as I can tell...

Going to play with it a bit, confirm they messed up, file a bug and figure out how to tell snapcraft to just copy the header into place for now.

[2019-10-08 19:26] stgraber commented on #4656
https://github.com/seccomp/libseccomp/pull/174

[2019-10-08 20:45] srados commented on #6284
@stgraber shall I log `backup_compression_algorithm` to `instances_backups` table? If yes, where do I create migration to add new field to that table?

[2019-10-08 21:06] stgraber commented on #6284
No, we don't need to record the compression algorithm, we have logic to figure it out from the on-disk files.

[2019-10-08 21:14] srados commented on #6284
is there an easy way to test my changes? I ran make and I have binaries, but I'm not sure how to set the whole system up

[2019-10-08 22:02] stgraber commented on #6284
If you're using the snap, you can move your locally built binaries to:
 - /var/snap/lxd/common/lxd.debug
 - /var/snap/lxd/common/lxc.debug

Then reload LXD with `systemctl reload snap.lxd.daemon` which will then have it start from the debug binaries.

[2019-10-08 22:12] srados commented on #6284
Thanks for the tip...this would definitely help me stop programming in the dark :)

[2019-10-08 23:00] srados commented on #6275
I could try to fix this one

[2019-10-08 23:05] #6284 closed

[2019-10-08 23:06] stgraber commented on #6284
Seems to be working well from a quick local test.

[2019-10-08 23:11] srados commented on #6284
Great. Thanks for all the help and such an awesome project!

[2019-10-08 23:27] stgraber commented on #6284
Np, thanks for the contribution!

[2019-10-08 23:27] stgraber commented on #6275
Sure! Assigning it to you.

[2019-10-09 01:05] Routhinator commented on #5423
Ok, I just hit this problem @stgraber and thankfully the first steps you gave lead me to run

[code]
And my issue was fixed.

The question is how are we getting here?

I got here by:

[code]

That's my whole story in commands. Seems like we have a bug here.

For what it's worth, here's my preseed yaml:

[code]

[2019-10-09 11:52] maran commented on #6293
I took a stab at it in #6297.

I'm fine with building it from source, I was more worried about having to keep my fork and mainline in sync if you wouldn't want this added to the official code.

[2019-10-09 12:56] Buri opened #6298 "Failed to start the daemon: Failed to start dqlite server: failed to start task"
# Required information

 * Distribution: OpenSUSE Tumbleweed
 * Distribution version: 20191007
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.3.2-1-default
   * LXD version: 3.18
   * Storage backend in use: btrfs

# Issue description

Daemon fails to start. Happened with upgrade to 3.18. Reproducible always. Installed via native package (no modifications by distro)

# Steps

[2019-10-09 13:05] maccumaccu commented on #4451
I have installed a new lxd cluster with 3 new hosts.
I have tried with  lxd 3.18 and lxd 3.0.4.
I created the first node and added the second node without receiving this error.
When I add the third node I get this error by entering the correct password.

Today:

root@lxd03:~# which lxd
/snap/bin/lxd
root@lxd03:~# which lxc
/snap/bin/lxc
root@lxd03:~# snap list
Name  Version  Rev    Tracking  Publi

[2019-10-09 13:13] freeekanayaka commented on #6298
Please can you try to start the daemon from the console and paste the output? This command line below should work:

[code]

[2019-10-09 13:42] stgraber commented on #4451
Ah, could be that this system has a mix of snap and deb which would certainly lead to a bunch of confusion.

[2019-10-09 16:04] stgraber commented on #6298
Did your system recently run out of disk space?

That's the most common source of such issues.

Can you show a directory listing of the `database/global` directory?

[2019-10-09 16:09] Buri commented on #6298
[code]

No space related issues as far as i know.

[code]

[2019-10-09 16:18] Buri commented on #6298
Would it be possible that if snapshot was taken at the moment when lxd was writing to the database and then the snapshot was restored that it would result in corrupted database?

[2019-10-09 16:54] stgraber commented on #6298
Assuming said snapshot included the LXD database directory, then yeah, LXD would certainly not appreciate database transaction files getting reverted or just disappearing.

Based on the output you've given above, your database was never cleanly stopped as a clean stop would have generated a snapshot file. Instead you only have a few segment files from the database's first startup until now.

Movin

[2019-10-09 17:08] Buri commented on #6298
Thanks for the offer. The server has no critical data on it, so just bringing daemon online is good enough. My question however would be if it is for scope lxd to have some way of journaling in a similar fashion like Mysql/Postgres, which can recover from unclean shutdown/filesystem snapshot?

If not, we can close this issue. Thanks for the help. :)

[2019-10-09 17:35] stgraber commented on #6298
The LXD database uses Raft to handle its transactions, sqlite transactions get added to the raft log which gets written to disk as part of segment files. We then have automated snapshots that occur whenever enough segments have been written or during clean shutdown. On startup, the latest snapshot is used, then the subsequent transactions applied from the segment files.

In the event that the last

[2019-10-09 17:35] #6298 closed

[2019-10-09 17:39] #6293 closed

[2019-10-09 17:39] stgraber commented on #6293
Thanks @maran for implementing this!

[2019-10-09 17:46] Silentphantom62 commented on #6205
@stgraber I know it's far fetched but any chance this will support Windows VM's?

[2019-10-09 18:30] stgraber commented on #6205
@Silentphantom62 it will, though not in an easy way initially. The initial pass will not have VGA output which makes a lot of the installation process of Windows a bit tricky. Also, Windows would need virtio drivers be exposed to it to be able to install properly which we're not planning on doing in the initial pass.

But it is absolutely our goal to eventually have a pretty straightforward way of