[2021-04-26 12:59] stgraber commented on #8714
@MathieuBordere what are the requirements as far as latency in dqlite? It crashing completely seems a bit extreme, I'd just expect it to be horrible to use.

[2021-04-26 13:12] MathieuBordere commented on #8714
There are no hard requirements wrt latency AFAIK except for the election timeout. This timeout is by default 3000 ms, if the rtt would frequently rise above  3000 ms the cluster will have issues electing a leader and making progress. I agree 100% that the cluster should not crash under any circumstances in the case of large latency.

[2021-04-26 14:00] stgraber commented on #8714
@benaryorg can you get us the stack trace that's printed when it crashes, that would let us confirm it's an issue with dqlite.

[2021-04-26 18:02] DDEFISHER commented on #7948
I was actually able to spend some time looking at this during the weekend. It was mostly spent refreshing myself with the project since it had been awhile but anyways I will keep myself assigned and continue working on this.

[2021-04-26 20:16] benaryorg commented on #8714
As far as I can see there is no stacktrace in any of the usual logs (*messages*, *dmesg*, *lxd/lxd.log*, etc.), is there any option akin to `--print-goroutines-every 5` which'd cause LXD to print a stacktrace?

---

The ebuild used is [this one](https://github.com/gentoo-mirror/gentoo/blob/c28b27d19ae26a3267d75152322f4f609a3598e7/app-emulation/lxd/lxd-4.0.5.ebuild)², pulling in *raft* and *dqlite*

[2021-04-26 20:26] benaryorg commented on #8714
It was also pointed out to me that LXD does not expose `dqlite_node_set_network_latency()` in any way to the user/admin, who could then provide layer 8 derived values, which might help *dqlite* in such situations:

https://github.com/canonical/dqlite/blob/df96115a8be386a3afe2d8f356a8158b37a4d87b/include/dqlite.h#L114-L126

[2021-04-26 22:07] stgraber commented on #8714
@benaryorg try running `lxd --debug --group lxd` directly by hand, something should show up when the process crashes and exits.

[2021-04-27 11:36] ciacon opened #8716 "NAT not working on lxdbr0 after upgrade."
# Issue description

After an upgrade, my lxdbr0 interfaces are not configured for NAT. Up to now this worked flawlessly. My educated guess is that the iptables are not set accordingly.

I have created a test bridge which behaves identically to the existing lxdbr0 interface.

DHCP works, ping'in host <> guest works in both directions...

# Required information

 * Distribution: Ubuntu
 * Distribut

[2021-04-27 11:40] tomponline commented on #8716
Please show output of `sudo nft list ruleset` and if `nft` isn't installed, please install it using `sudo apt install nftables`.

Also please show output of `sudo iptables-save` and `iptables -v`

[2021-04-27 12:14] unix1984 commented on #8705
Hi,

I also experience the error. (Ubuntu 20.04.2 LTS)

As a quick fix, I reset ipv6 in the grub menu and now it's good again.

Regardless, I still want to turn off ipv6 globally.

Regards

[2021-04-27 12:21] ciacon commented on #8716
Hi there. Thanks for the reply. `nftables` was indeed not installed. Installed it, rebooted - unfortunately still unchanged behaviour.

Here the requested details:

[code]
[code]
[code]

[2021-04-27 12:24] unix1984 commented on #8705
Sorry,

`lxc network set lxdbr0 ipv6.firewall=false`

problem solved

Thanks!

[2021-04-27 12:26] unix1984 commented on #8705
1. Your colleagues will also need to reset ipv6 first.
3. reboot
4. Then: `lxc network set lxdbr0 ipv6.firewall = false`
5. disable ipv6
6.  reboot

[2021-04-27 13:09] tomponline commented on #8716
OK so Docker is using iptables, and your version of iptables is the nftables shim. So effectively both docker and LXD are using nftables.

Docker is well known in the LXD forums for deploying a default drop firewall policy on the FORWARD table (i.e packets traversing to/from the lxdbr0 bridge and the external interface).

You can see this in effect in the output you provided above:

[code]

And be

[2021-04-27 13:10] #8716 closed

[2021-04-27 17:50] KellenRenshaw opened #8717 "Copying VMs doesn't reset /etc/machine-id, causing duplicate IPv4 IPs."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info":
[host_4.0.5_lxc-info.txt](https://github.com/lxc/lxd/files/6386486/host_4.0.5_lxc-info.txt)
[host_4.13_lxc-info.txt](https://github.com/lxc/lxd/files/6386488/host_4.13_lxc-info.txt)

# Issue description

Copying a Focal VM (containers appear to be unaffected) results in the duplicated VM get

[2021-04-27 18:51] stgraber commented on #8717
Hmm, normally that's what cloud-init is supposed to be doing for you.

[2021-04-28 08:24] benaryorg commented on #8714
Here are the last few lines of output.
The last line is being logged by *zsh* as far as I know, which would explain why my logfiles didn't contain anything either; there just wasn't any output to log.

[code]

This is the output of *lxd3*, which was the only one to crash this time, other times all nodes, or a different subset crashed, the only constant seems to be that *something* crashes.

---

I

[2021-04-28 08:55] szeestraten-ntnu opened #8718 "HDD RPM not reported correctly for LXD server by resources API"
# Required information

 * Distribution: `Ubuntu`
 * Distribution version: `20.04.2 LTS`
 * The output of "lxc info": https://paste.ubuntu.com/p/VHsx2njqBy/
   * Kernel version: `Linux hcc-store33 5.8.0-50-generic #56~20.04.1-Ubuntu SMP Mon Apr 12 21:46:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
   * LXD version: `4.13` (`git-ee6eda2` from snap)

# Issue description

The [resources API](https://l

[2021-04-28 12:53] dandruczyk opened #8721 "LXD detects rotary disks with RPM=0, this causes issues with MaaS 2.9.2 (possibly newer) as drives are mis-represented, causing tag matching failures and potential for data loss."
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
 * ~# lxc info
If this is your first time running LXD on this machine, you should also run: lxd init
To start your first instance, try: lxc launch ubuntu:18.04

config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_prior

[2021-04-28 12:56] stgraber commented on #8714
Ok, so that's unlikely to be a Go crash and so much more likely to be coming from dqlite directly. Let's see if you can get a backtrace with gdb, that should help @MathieuBordere

[2021-04-28 12:58] #8721 closed

[2021-04-28 12:59] stgraber commented on #8721
Was already reported a few hours ago. Please do a Github issue search before filling a new issue :)

[2021-04-28 13:04] stgraber commented on #8718
[code]

So doesn't appear broken here.

[2021-04-28 13:07] stgraber commented on #8718
Can you show:
 - `ls -lh /run/udev/data/`
 - `cat /run/udev/data/b8:192`

[2021-04-28 13:24] szeestraten-ntnu commented on #8718
Hi @stgraber, thanks for taking the time! See links below for requested output:
* [`ls -lh /run/udev/data/`](https://paste.ubuntu.com/p/4cnHFsqm5m/)
* [`cat /run/udev/data/b8:192`](https://paste.ubuntu.com/p/Fnpvb6Tjmz/)
* [`udevadm info /dev/sdm`](https://paste.ubuntu.com/p/FDFsspvmv8/)

P.S. Had to redeploy machine, but devices should hopefully be the same.

[2021-04-28 13:59] stgraber commented on #8718
LXD relies on udev having the proper `E:ID_ATA_ROTATION_RATE_RPM` property set.
In your case, udev did not detect the RPM for your drives and so LXD doesn't have it either.

Closing the issue here as we need udev to be reporting this data properly before LXD can expose it.

[2021-04-28 13:59] #8718 closed

[2021-04-28 13:59] stgraber commented on #8718
You should file a bug against systemd in Ubuntu and ideally test with the very latest version to see if that got resolved and would just need a cherry-pick. If not, then the systemd maintainers should be able to help you get a suitable trace from udev to figure out why it can't get the RPM speed on that device.

[2021-04-28 18:18] lukts30 opened #8722 "Apparmor profile for VMs uses hardcoded ovmf path"
# Required information

 * Distribution: Arch Linux
 * The output of "lxc info": [info.txt](https://github.com/lxc/lxd/files/6393880/info.txt)
   * Storage backend in use: btrfs

# Issue description

On Arch Linux ovmf is installed under `/usr/share/edk2-ovmf/`.

The arch provided lxd.service sets `Environment=LXD_OVMF_PATH=/usr/share/ovmf/x64` and without Apparmor everything works as expected.
Bu

[2021-04-28 21:30] rbrzezinski opened #8724 "NAT ipv4 can't start after upgrade to 4.13"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 19.04
 * The output of "lxc info":
[code]

# Issue description

After automatic update to 4.13 (using snap) internet in containers has stopped working. I'm using default config. Tried to restart host/lxd service but ended up with not starting containers. There was no lxdbr0 device in `ifconfig`. I've been searching for soluti

[2021-04-28 21:34] stgraber commented on #8724
Going to assume it's another report of the regression we already fixed for systems that are running with IPv6 fully disabled.

[2021-04-28 21:36] tomponline commented on #8724
Please can you install nftables and then show output of `sudo nft list ruleset` as well as `sudo iptables-save` and `iptables -v` please.

It seems strange that nft is complaining about the ipv4 table.

[2021-04-28 21:37] rbrzezinski commented on #8724
@stgraber I assumed my issue was releated to ipv6 but at begining I disabled it with no problem & no success.

[2021-04-28 21:38] rbrzezinski commented on #8724
@tomponline
`nft list ruleset ` - empty
[code]

[2021-04-28 21:39] stgraber commented on #8724
Hmm, you also appear to be running on Ubuntu 19.04 which is end of life so that may also be an issue.

[2021-04-28 21:41] tomponline commented on #8724
And also output of `lxc info | grep firewall:` please

[2021-04-28 21:42] tomponline commented on #8724
I suspect LXD is using nftables because you have an nftables compatible kernel, and the snap has nftables inside it, and you do not have any active iptables rules.

[2021-04-28 21:43] tomponline commented on #8724
I think this is caused by our switch to the `inet` table in nftables that seems to be not supported by 19.10.

[2021-04-28 21:44] tomponline commented on #8724
If you add an iptables rule such as `sudo iptables -A INPUT` and then do `sudo systemctl reload snap.lxd.daemon` that should cause LXD to see you're "using" iptables and switch to that firewall driver.

[2021-04-28 21:45] tomponline commented on #8724
What is the output of `uname -a`?

[2021-04-28 21:46] rbrzezinski commented on #8724
@tomponline You are right.
I've added some iptables rule and it's now working 😎
[code]

[2021-04-28 21:47] stgraber commented on #8724
Good to hear!

You should probably consider updating to a supported distro though ;)

[2021-04-28 21:47] tomponline commented on #8724
I'd be interested to know what version of the kernel you have though so we can maybe add detection of this.

[2021-04-28 21:48] stgraber commented on #8724
@tomponline 5.2.0 based on what I'm seeing in the output above

[2021-04-28 21:49] tomponline commented on #8724
Ah ok I thought that was qemu version. I wonder if we should bump the min kernel version for nftables from 5.0 to 5.2?

[2021-04-28 21:49] stgraber commented on #8724
@tomponline I seem to recall us already checking for 5.x at least to avoid some larger issues with nft so I guess we could tweak that, not that I'm particularly fond of checking kernel versions in general, tends to be very flaky because of backports.

[2021-04-28 21:50] stgraber commented on #8724
@tomponline well, 5.2 wouldn't be enough, we'd need 5.4 or whatever introduced the inet table.

[2021-04-28 21:51] tomponline commented on #8724
@stgraber ah yeah ofc, mmm 5.4 should be fine as it works in focal

[2021-04-28 21:52] rbrzezinski commented on #8724
@stgraber  I will perform upgrade soon - if I can find some time ;)

@tomponline
[code]

[2021-04-28 21:58] stgraber commented on #8724
@rbrzezinski can you show `grep -i nft /boot/config-5.0.0-20-generic`?

[2021-04-29 02:06] benaryorg commented on #8714
This one took about 8 hours to crash if I'm not mistaken, but here it is:

[code]

So if I see that correctly it is segfaulting in *sqlite3* during what looks like an iteration over results using a cursor, maybe a race-condition with the sync that causes a stale cursor (hence only happening when there's latency)?
Again, I have not the slightest hint of a clue about the inner workings of any of sql

[2021-04-29 03:06] stgraber commented on #8714
@MathieuBordere does that help?

[2021-04-29 03:13] #7871 closed

[2021-04-29 07:28] MathieuBordere commented on #8714
@stgraber Yes, thanks @benaryorg, looking into it.

[2021-04-29 07:32] rbrzezinski commented on #8724
@stgraber
[code]

[2021-04-29 08:03] tomponline commented on #8724
I think the issue here is that the inet table type didnd't support NAT until kernel 5.2 (https://wiki.nftables.org/wiki-nftables/index.php/Performing_Network_Address_Translation_(NAT)#Inet_family_NAT).

[2021-04-29 11:26] MathieuBordere commented on #8714
@benaryorg I released new versions of both `libdqlite` (https://github.com/canonical/dqlite/releases/tag/v1.7.0) & `libraft` (https://github.com/canonical/raft/releases/tag/v0.10.1) dqcontaining various bugfixes. Can you try to reproduce again with these versions please? Much appreciated!

[2021-04-29 12:23] #8724 closed

[2021-04-29 12:40] presztak commented on #8703
@stgraber Can I work on this one?

[2021-04-29 13:02] stgraber commented on #8703
Certainly!

[2021-04-29 19:07] benaryorg commented on #8714
Seems I've read over half the message in my morning tiredness and only updated *libdqlite* to 1.7.0, not *raft* though.
So far the cluster was running for 5h+ without incident, the unresponsiveness persisted though.

Past tense, since I just updated *raft* to 0.10.1.
The unresponsiveness persists; runtimes for `lxc list --fast` for the cluster which has *no* containers are as follows:

| node   |

[2021-04-30 16:14] benaryorg commented on #8714
The cluster has been up for 20h straight with no segmentation faults.
At this point I also started creating containers, which seems to be working as well.

---

However the API is still severely unresponsive.

Considering that on a different set of hosts with ~85ms latency, which are *not* clustered, I can request `/1.0/instances/{name}/state` and get a response within 0.692s these times are rathe

[2021-04-30 16:20] stgraber commented on #8714
Might be interesting to do `time lxd sql global "SELECT * FROM instances;"` from each of the servers.

[2021-04-30 16:28] stgraber commented on #8714
The query above will need to at least do:
 - Query the instance from the DB
 - Check if instance is local or not
 - If not local, forward REST query to the right DB node
 - Target node pulls instance from DB again
 - Connects to liblxc monitor and pull state
 - Respond back to client possibly through the server that relayed the query initially

This can easily expand to dozen of DB queries, each t

[2021-04-30 18:37] AceSlash opened #8729 "/etc/systemd/system/service.d/lxc.conf generates a lot of logs "Unknown key name 'ProtectProc' in section 'Service', ignoring.""
# Required information

 * Distribution: ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails: (I don't think the full lxc info is necessary here)
   * Kernel version: 5.4.0-72-generic
   * LXC version: from snap : 4.0.5
   * LXD version: lxd from snap version 4.0.5
   * Storage backend in use: ZFS

# Issue description

A new file is now added at this location {{/etc/

[2021-04-30 18:46] stgraber commented on #8729
Tracked here https://github.com/lxc/distrobuilder/issues/427

[2021-04-30 18:46] #8729 closed

[2021-04-30 19:44] benaryorg commented on #8714
`time lxd sql global "SELECT * FROM instances;"` on all nodes (at the same time):

| node   |       region | database | response time |
|:-------|-------------:|:---------|--------------:|
| `lxd2` | ovh-gra (EU) | true     |      `0.092s` |
| `lxd3` | ovh-bhs (NA) | false    |      `0.394s` |
| `lxd4` |  netcup (EU) | true     |      `0.030s` |
| `lxd5` | ovh-bhs (NA) | true     |      `1.658s` |

[2021-04-30 20:55] stgraber commented on #8714
So the issue here is the assumption that only DB writes incur latency. In order to get consistent reads, all DB access read and write is sent to the leader. You do save some latency on reads in that they don't cause data to be replicated, but they also aren't served from the local server unless you happen to be on the leader.

Based on what you showed above, your DB leader is lxd4 with lxd2 and lx

[2021-05-01 19:29] rzr commented on #4194
Is this "snapd issue" reported anywhere ?

For the record, I also observed this when I used "sudo snap set" on a locally installed snap, reboot helped thought.

[2021-05-01 20:13] yahbluez opened #8730 "Support for starting LXD with degraded storage or network"
# Required information

 * Distribution: manjaro
 * Distribution version: 2021 05 01
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.11.16-2-MANJARO #1 SMP PREEMPT Thu Apr 22 09:53:11 UTC 2021 x86_64
   * LXC version: 4.13
   * LXD version: 4.13
   * Storage backend in use: dir

# Issue description

lxd did not start up if a dir storage pool of a single container is missing.

[2021-05-02 01:14] stgraber commented on #8730
It's far more complex than you make it out to be as storage pools store far more than just instances. We'd have to block any storage related startup patches, prevent starting up any instance with a storage volumes coming from that pool, prevent image updates for images that have an optimized copy in that pool, ...

That said, it's something we intend to do for both storage pools and networks, effe

[2021-05-02 11:54] yahbluez commented on #8730
Thank you for your fast response.
The typically way to use in memory storage pools is to create one, use it with an container and delete it after terminating the container. That's done by a singel script.
This time a reboot was done while the temporary  container was still running.
So i came to this issue with an not starting lxd.
I reported it because it's an issue wich could stop a whole lxd sys

[2021-05-02 15:57] jetojedno opened #8731 "proxy devices in profile configs fail silently on instance launch"
# Required information

 * Distribution: Ubuntu
 * Distribution version: focal / 20.04
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Creating an instance with a proxy device defined in the profile doesn't create the proxy device.  A proxy device with the same config can be added to the instance from the command line.

# Steps to reproduce

 1. Create a profile with a N

[2021-05-02 19:12] #8731 closed

[2021-05-02 19:12] stgraber commented on #8731
The configuration coming from a profile never shows up in `lxc config show`, you need `lxc config show --expanded`.

[2021-05-03 11:09] AceSlash commented on #8729
Ok thanks, does the settings in this file make sense even with security.nesting set to true?
Currently the file content is:
[code]
From https://www.freedesktop.org/software/systemd/man/systemd.exec.html , it looks like since `ProtectSystem` is available with security.nesting and it implies `ProtectControlGroups` and `ProtectKernelTunables`, this file should be removed from any container that is st

[2021-05-03 11:57] stgraber commented on #8729
security.nesting for unprivileged containers let's you get around most of those but it can vary a bit based on the host distro/kernel and guest.

[2021-05-03 11:59] stgraber commented on #8729
As we're working to move to a systemd generator, we may eventually be able to attempt using some of those features and relax the override where needed, though initially the focus will be to avoid using unsupported systemd features.

[2021-05-03 14:50] AceSlash commented on #8729
OK, I see that this dependent on the systemd version but if I understand correctly, for an _unprivileged Ubuntu 20.04 container with security.nesting_, I'm better of removing this file, right?

[2021-05-03 16:13] stgraber commented on #8729
Yep, it's safe to remove in your case.

[2021-05-03 16:27] AceSlash commented on #8729
Thanks for the confirmation.

[2021-05-04 13:38] sobychnyj opened #8735 "nftables related error while trying to use routed networking"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 21.04
 * Distribution installed via: Raspberry Pi Imager
 * Kernel version: 5.11.0-1007-raspi
 * Kernel architecture: aarch64
 * Driver: lxc | qemu
 * Driver version: 4.0.6 | 5.2.0
 * Firewall: nftables
 * LXC version: 4.13
 * LXD version: 4.13
 * Storage backend in use: btrfs
 * Storage version: 4.15.1
 * Host device: Raspbe

[2021-05-04 13:43] tomponline commented on #8735
This doesn't seem like an OVS issue. I think that is a red herring.

Instead I believe this is related to the `inet` nftables table usage, similar to https://github.com/lxc/lxd/issues/8724

Although your kernel version is 5.11, which should include nftables inet support (according to the nftables wiki at least).

Can you show output of:

[code]

[2021-05-04 13:48] tomponline commented on #8735
@stgraber is `5.11.0-1007-raspi` an official kernel version for RPI4 do you know?

[2021-05-04 13:53] stgraber commented on #8735
@tomponline yes, that's the official Ubuntu kernel for the raspberry pi on hirsute.

[2021-05-04 13:56] tomponline commented on #8735
@stgraber I wonder if this is a case of module mismatch between different kernel flavours.

[2021-05-04 13:57] stgraber commented on #8735
@sobychnyj can you also show `grep -E 'NFT|NETFILTER' /boot/config-5.11.0-1007-raspi`

This may be a kernel config bug on the Ubuntu side, this should let us see if there's anything missing there.

[2021-05-04 14:03] sobychnyj commented on #8735
[code]

[code]

[code]

[code]

[2021-05-04 14:05] stgraber commented on #8735
[code]

That's your issue right there. The normal Ubuntu kernel has:

[code]

[2021-05-04 14:10] stgraber commented on #8735
https://bugs.launchpad.net/ubuntu/+source/linux-raspi/+bug/1927108
I've also directly notified our kernel team.

A temporary workaround until they fix the kernel would be to do:
 - /usr/sbin/iptables-legacy -I OUTPUT -j ACCEPT
 - systemctl reload snap.lxd.daemon

This should make LXD notice legacy iptables is in use and have it itself use that rather than nft on your system.
You'll need to do that

[2021-05-04 14:10] #8735 closed

[2021-05-04 14:19] tomponline commented on #8735
Thanks @stgraber

Even just `/usr/sbin/iptables-legacy -I OUTPUT` should be sufficient, without needing to specifically ACCEPT the traffic.

[2021-05-04 14:31] sobychnyj commented on #8735
Ok, so on my Pi host I'm trying to do so:

[code]

Or:

[code]

Same error.

Or have I misunderstood you?

[2021-05-04 14:34] tomponline commented on #8735
@sobychnyj your prior output shows that you have UFW using nftables, so LXD will prefer to use its nftables driver (with the associated problem on the RPI kernel) rather than switch to the xtables driver.

You'd need to ensure that your `sudo nft list ruleset` doesn't have any rules, and uninstall `nftables`.

Then you'd need to make sure that UFW isn't using the iptables nftables shim, and instea

[2021-05-04 18:17] turtle0x1 opened #8736 "warnings "bugs""
Couple of trivial things with warnings

`lxc warning show` (without a UUID) causes a `panic: runtime error: index out of range [0] with length 0`

Also should the following help message read `warning attributes` instead of `image attributes`

https://github.com/lxc/lxd/blob/4e4590ee598edd58aaa4af80385b36264101bd2e/lxc/warning.go#L71

[2021-05-04 18:45] tomponline commented on #8736
Thanks, will get these fixed.

[2021-05-04 19:13] stgraber commented on #8736
@tomponline are you doing this now? Otherwise I was planning to send a PR in a few minutes, should be very trivial.

[2021-05-04 19:14] tomponline commented on #8736
@stgraber I was going to take first thing tomoz, if you can do now that would be great thanks.

[2021-05-04 21:40] #8736 closed

[2021-05-05 12:39] vvolas opened #8739 "Upgrade ceph libraries in snap, ceph warning mons are allowing insecure global_id reclaim"
lxd 4.05
ceph:v15.2.11

with recent ceph upgrade, ceph started giving warnings:
[code]

After I "fixed" this and disabled insecure global reclaim in ceph cluster certain lxd operations stops working. Like lxc info, lxc list, lxc snapshot (whole container locked up) if something has snapshots.

I think it should be enough to upgrade ceph libraries.

[2021-05-05 12:45] #8739 closed

[2021-05-05 12:45] stgraber commented on #8739
Not a snapd issue but a snap one and there is already a config key to let you handle that.
`snap set lxd ceph.external=true` followed by `systemctl reload snap.lxd.daemon`

We're also moving to core20 (edge channels done already) which will bring in a more recent bundled ceph client.

[2021-05-05 21:09] #8722 closed

[2021-05-05 21:20] #8703 closed

[2021-05-05 21:31] stgraber commented on #8653
Sorry for the delay on this one...
How many machines do you have in that cluster? And roughly how many instances? Also how many projects (if you use them)?

This may help us reproduce a similar environment here. The goroutine output certainly showed you having far more GetEvents goroutines than anyone should ever have, but it's still a bit unclear whether that's triggered by the snapshot API calls

[2021-05-05 21:32] stgraber commented on #8653
Also worth noting that 4.0.6 is currently in 4.0/candidate and we're expecting it to be pushed to users in stable tomorrow.
I'd be surprised if that took care of things though as I went through our commit history and there's nothing really changing in that area.

[2021-05-05 21:33] stgraber commented on #8569
Okay, tentatively closing for now but comment here if it happens again so we can reopen.

[2021-05-05 21:33] #8569 closed

[2021-05-05 21:35] presztak commented on #8708
@stgraber , I know this is tagged as `later` but I can tackle this issue if this is ok for you.

[2021-05-05 21:36] stgraber commented on #8714
Closing the issue as I don't think there's anything strictly actionable here.

The dqlite fixes seem to have fixed the stability issues you first described and now you're pretty much just dealing with latency piling up. As mentioned above, we're unlikely to be spending much time in fixing latency related issues when dealing with a cluster across two continents, but issues related to lower latency

[2021-05-05 21:36] #8714 closed

[2021-05-05 21:45] stgraber commented on #8717
I've confirmed that on our side we're doing the right thing by cleaning volatile.uuid which then causes a different cloud-init id from being used, this re-triggers cloud-init (can be confirmed by the VM hostname being correct), but cloud-init doesn't seem to care about re-generating machine-id causing this issue.

There's a very old bug here https://bugs.launchpad.net/ubuntu/+source/cloud-init/+bu

[2021-05-05 21:45] #8717 closed

[2021-05-05 21:45] stgraber commented on #8708
@presztak sure, go for it!

[2021-05-05 21:48] stgraber commented on #8708
@presztak We usually use `soon` to indicate that the LXD team at Canonical will be implementing it within the next 6 months or so whereas `later` usually means that if nobody else implements it, we're unlikely to do it any time soon.

So feel free to pick issues from either of them. If we have doubts about whether we want something to be implemented at all, we'll use the `Maybe` tag which indicate

[2021-05-06 08:05] MidhunVijayan opened #8745 "Munin cpu graph issue for LXD container"
Hi,

Munin is showing wrong cpu usage for the lxd container. But the main host machine has no issues, its graph also fine. I can see the cpu load as normal .

[code]

Please check the below screenshot for the same

![cpu_irregular](https://user-images.githubusercontent.com/46282796/117262550-05646300-ae6f-11eb-8c65-a583c1b08d71.PNG)

I don't know why issue only with the lxd container inside the ho

[2021-05-06 13:51] marius-nicolae opened #8748 "Heavy disk usage on LXD 4 start, compared with LXD 3"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-72-generic
   * LXC version:  3.0.4 and 4.0.6 or 4.13
   * LXD version: 3.0.4 and 4.0.6 or 4.13
   * Storage backend in use: zfs

# Issue description

For a clean LXD install (no containers), I noticed that the hard drive (a WD black) is continuous

[2021-05-06 14:31] janmuennich commented on #8653
Cluster 1: 60 instances on 10 machines
Cluster 2: 70 instances on 7 machines

On cluster 1 a snapshot is created and deleted via `lxc` hourly. On cluster 2 snapshots are created directly on the storage backend without involving `lxc` commands. So I guess snapshots are not related to the issue, although I don't understand the LXD procedures in detail.

Additionally, for every instance once per hour

[2021-05-06 15:24] #8702 closed

[2021-05-06 15:30] stgraber commented on #8653
Ah, good to know, so yeah, it's not going to be snapshots that are causing that goroutine leak then.
LXD 4.0.6 has now made it to the `stable` channel. It'd be great if you could refresh one of the clusters and confirm that the issue is still happening.

If it is, then we'll likely want to capture `lxc monitor --type=logging --pretty` for a reasonable amount of time while also getting a frequent c

[2021-05-06 15:34] stgraber commented on #8748
Hmm, interesting, it's not something we've noticed so far, but with SSDs being so common, it's likely to have gone un-noticed :)

You could install the `fatrace` package and run `fatrace` while restarting LXD, this should show all file access so may help see what's different.

I can't think of any obvious difference though maybe it's something to do with the newer dqlite version.

[2021-05-06 16:46] marius-nicolae commented on #8748
Hm, I've never used fatrace and the captured events are weird and incomplete, I think. I've ran `fatrace -o /tmp/lxd_start1.txt -t` and then systemctl restart `snap.lxd.daemon`. The output is:
[code]
However, the disk activity, at that restart took approx 2 minutes and 31 seconds.

Shall I run fatrace otherwise? Also, according to https://github.com/martinpitt/fatrace/issues/7 there seem to be som

[2021-05-06 20:29] marius-nicolae commented on #8748
Since it's a fresh Ubuntu install, the machine is mostly idle. The disk activity happens only when restarting the lxd snap service.

When running iotop, there are short moments when `lxd --logfile /var/snap/lxd/common/lxd/logs/lxd.log --group lxd` process gets to the top, as in the screenshot bellow
![image](https://user-images.githubusercontent.com/28258950/117358987-7fbcd380-aebf-11eb-8857-e244f

[2021-05-06 20:55] stgraber commented on #8748
- systemctl stop snap.lxd.daemon snap.lxd.daemon.unix.socket
 - lxd --debug --group lxd

[2021-05-06 21:19] marius-nicolae commented on #8748
Here is the output
[code]

The last logged line while starting is `t=2021-05-07T00:14:47+0300 lvl=dbug msg="Success for task operation: a8ba88db-5327-473b-a55b-453012e780c5" ` but the disk activity continued for another minute, or so (might be the zfs cache flushing).

[2021-05-06 21:44] stgraber commented on #8748
Yeah, one reason could be that our database is a lot less crap now than it was in 3.0, I wouldn't be surprised if back in 3.0 we weren't flushing things to disk correctly. Leading to less disk access, sure, but also, you lose power and your data is gone...

[2021-05-06 22:29] marius-nicolae commented on #8748
Wouldn't that data be flushed at a restart? I imagine that when the lxd process gets destroyed all the file descriptors are closed, triggering a disk flash (by kernel).

[2021-05-06 22:38] stgraber commented on #8748
Yes, the issue tends to be with things like power loss.

[2021-05-06 22:40] stgraber commented on #8748
Yeah, the main difference being that with dqlite flushing for every transaction, you've got a lot more small disk writes with the safe I/O behavior vs just a few big ones with the unsafe one.

[2021-05-08 00:39] stgraber commented on #7873
@avr1 still planning on implementing this one?

[2021-05-08 00:40] stgraber commented on #7901
@TimRots

[2021-05-08 00:41] stgraber commented on #8236
@matthewa150

[2021-05-08 00:42] stgraber opened #8754 "Implement `--pretty` support for `lxc monitor` lifecycle eevnts"
`lxc monitor` currently supports `--pretty` only with `--type=logging`.
As we're starting to use lifecycle events more and more, it'd be great to have a similar one-line format for them.

[2021-05-08 00:45] stgraber opened #8755 "Add `core.shutdown_timeout` as a way to override the default 5min timeout"
When LXD shuts down for an update and there are running operations, it will wait for up to 5min for those to complete before moving on. This is implemented to be nice to `lxc exec` users but it being hardcoded to 5min can sometimes be too long or too short depending on environments.

Let's add a `core.shutdown_timeout` global config option and use that to override the default 5min timeout.

[2021-05-08 00:49] stgraber opened #8756 "Expose database stand-by role on cluster members"
Currently cluster members that are voting members in dqlite will report `database: true` and have `database` in their roles list.
But the other 2 members which are receiving the database stream but don't get to vote are not exposed in any way.

Instead we should change so that `database: true` is also set for standby members and those should show a `database-standby` role so it's easy to keep trac

[2021-05-08 00:56] stgraber opened #8757 "Support HAProxy protocol header on HTTPS listener"
When LXD is being run behind a HAProxy server (common with clusters), it'd be quite useful for LXD to still capture the requestor's IP address. For that, the easiest is to add an option to specify upstream haproxy servers and if a connection comes from those, then expect the proxy header and replace the client's address with it.

As this is for `core.https_address`, we'd probably want `core.https_

[2021-05-08 01:18] stgraber opened #8758 "Add location field to /1.0 in devlxd API"
When accessing the guest API (/dev/lxd), we should add a `location` field in /1.0 to expose the name of the host the instance is running on when clustered ("none" if not clustered).

This will be particularly useful for the guests to be able to pass that to further clusters (like kubernetes) to avoid putting all of the control services on the same physical host potentially leading to broken high a

[2021-05-08 10:03] marius-nicolae commented on #8748
For me, it's hard to imagine how many write transactions a clean LXD install, without any container, would need just to start, so that it keeps a hard drive busy for around two and half minutes. In this case, I would rather see the database as some kind of a more advanced configuration file, which should translate in some reads and much fewer writes.

Anyway, is there any possibility to disable th

[2021-05-08 11:18] brauner opened #8759 "lxd: Introduce identity mapped privileged containers"
Some time ago I proposed the concept of a "semi-privileged" or "capability-isolated" container something I've mentioned on the kernel list as a potential use-case for identity mappings and why v3 fscaps that are valid in an ancestor userns need to be supported. I pitched this idea to Lennart who duly implemented this as part of his adoption of my idmapped mount kernel work (cf. https://github.com/

[2021-05-08 14:38] alexAubin commented on #8061
I'm experiencing this today:

[code]

While manually browsing https://images.linuxcontainers.org/images/debian/buster/amd64/default, I see only images from 2021-05-01, 02, 03 and 04 listed (not 07)

[2021-05-08 14:55] stgraber commented on #8061
Looks correct from here now, likely a temporary mirroring glitch?

[2021-05-08 15:15] stgraber commented on #8759
Ok, so just to get this right, it's:
 - Using a user namespace but with the full host uid/gid map written as subuid/subgid
 - This causes normal userns resource ownership to still work with all capabilities tied to the userns
 - Filesystem just works because there's no shift needed

And all we'd really need to do here is set lxd.idmap to the full user/group range?

If so, I think that's fine and c

[2021-05-09 09:29] presztak commented on #8755
@stgraber I can work on this as next one.

[2021-05-09 13:40] brauner commented on #8759
Yep!

Cool!

[2021-05-09 18:57] cyberwillis commented on #4574
Hi again @gvijqb ,

Just to let you know that running docker with GPU inside the LXD become possible again in unpriviledged container.

However to do this you need to have the lastest libLXC installed inside the LXD (from SNAP). also using `nvidia.runtime true` not possible.

I just tested here and is working.

[2021-05-10 16:41] ddstreet commented on #8718
@stgraber systemd doesn't report ATA parameters for SCSI drives, only for (S)ATA drives. You won't see the 'E:ID_ATA_ROTATION_RATE_RPM' udev property for a scsi (or sas) drive.

[2021-05-10 19:33] jadjay opened #8763 "LXD upgrade to 4.14 set networks VXLAN DOWN"
# Required information

 * Distribution: Ubuntu 18.04.4 LTS
 * Distribution version: Ubuntu 18.04.4 LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-1046-azure
   * LXC version: -
   * LXD version: 4.14
   * Storage backend in use: ZFS

# Issue description

Snap upgrade from 4.13 to 4.14
Then all vxlan tunnel in networks (openvswitch) go down
[code]
While it should be i

[2021-05-10 19:38] stgraber commented on #8763
Hmm, that's a bit confusing, this doesn't look like a LXD managed interface so there's no reason for it to be affected by the snap refresh. Can you show `lxc network list` and also share any details you have about your ovs config?

@tomponline does this ring a bell?

[2021-05-10 21:01] jadjay commented on #8763
[code]

When we reboot the VM : the link ovsbr0-vx54 is set but it is in state DOWN

If we set the link up then restart all the containers, everything is OK

[2021-05-10 21:35] stgraber commented on #8763
@tomponline  Interesting, it may have been the new iproute package that's somehow failing to bring the link up?

[2021-05-11 00:49] #8708 closed

[2021-05-11 09:03] tomponline commented on #8763
@jadjay please can you show the output of `ip l` on the host after a reboot so I can see the link state of the OVS bridge itself. Thanks

[2021-05-11 09:20] tomponline commented on #8763
although actually it appears to be happening a few line further down as a separate call to `ip`.

[2021-05-11 09:40] ukreddy-erwin commented on #3105
azureuser@deletevm:~$ lxc image list
+-------+--------------+--------+---------------------------------------------+--------+----------+------------------------------+
| ALIAS | FINGERPRINT  | PUBLIC |                 DESCRIPTION                 |  ARCH  |   SIZE   |         UPLOAD DATE          |
+-------+--------------+--------+---------------------------------------------+--------+----------+--

[2021-05-11 12:22] knutov commented on #3873
What is the current state of this feature? Will support of zvol ever be added?

I suppose it will be possible to use user-level quotas inside lxd container with ext4 on zvol and a lot of users really want this feature.

[2021-05-11 12:26] jadjay commented on #8763
Is it OK now ?
When this commit is going to the snap ?

[2021-05-11 12:34] jadjay commented on #8763
@tomponline @stgraber Thanks for the reactivity, please well test snap before send to prod :)
a chance it wasn't on a friday 🤣

[2021-05-11 13:17] peterbysh commented on #7708
HI,

I'm trying to get this working but whenever i try and add the U flag, it's telling me Error: Not supported. Is there something I need to enable to get this working?

[2021-05-11 13:48] stgraber commented on #3105
@ukreddy-erwin two potential issues, maybe your default profile is misconfigured (`lxc profile show default` would confirm) or the image somehow got disassociated from the default profile (`lxc image show 52c9` would confirm)

[2021-05-11 13:49] stgraber commented on #7708
@peterbysh what storage backend are you using? Not all of them can report disk usage. `dir` comes to mind as one of those which will not allow it in most cases (it will if projquota are setup on a suitable backing filesystem).

[2021-05-11 17:40] janmuennich commented on #8653
`Connecting to a remote LXD over HTTPs` happens for every `lxc` request as it is sent to the cluster member where the instance lives. So in this cluster for all monitoring and snapshot commands three times per hour for every instance. In total 180 requests per hour on this machine.

Would this be be problem? I thought it is one of the features of clustering that you don't have to issue commands lo

[2021-05-11 17:55] stgraber commented on #8653
No, you're right, it's perfectly fine for LXD to forward requests internally and indeed your output looks correct for an exec operation.
The accumulation of goroutines kinda looks like something isn't getting cleaned up though.

You said you're seeing the same behavior on machines that do not rely on the LXD API for snapshotting, do those systems still use your monitoring tooling to run exec sessi

[2021-05-12 01:47] ltrager opened #8770 "Unable to chainboot from network with SecureBoot enabled"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-73-generic
   * LXC version: 4.0.9
   * LXD version: 4.14-20371
   * Storage backend in use: dir

# Issue description

Machines configured for use with MAAS always boot over the network. When an operating system is deployed MAAS provides a grub.cfg

[2021-05-12 02:28] stgraber commented on #8770
Does starting a normal LXD Ubuntu VM outside of MAAS with secureboot enabled works for you?

If so, you should look at edibootmgr and the files in /boot/efi to see what differs.

[2021-05-12 02:43] stgraber commented on #8770
I just validated that a hirsute system with:
[code]

Boots without any issue here.

[2021-05-12 03:57] stgraber commented on #8770
Trying to use those binaries through MAAS here, I always get to a grub prompt, manually running `configfile /grub/grub.cfg` gets it going, not sure why it's not doing that automatically in the first place...

Post install, I'm seeing a hang at:
[code]

Then looking at qemu's log, we're seeing a qemu/kvm crash:
[code]

[2021-05-12 04:05] stgraber commented on #8770
Manually booting the VM works fine (ESC to enter firmware, use boot menu and select the ubuntu entry).
So this suggests that something in grub's networked codepath is tickling firmware/qemu the wrong way causing a full crash of the emulator.

[2021-05-12 04:07] stgraber commented on #8770
@ltrager were you testing with the latest edk2? LXD uses 2021.02 which roughly matches what's in impish. You running an older edk2 may explain a difference in behavior.

[2021-05-12 04:17] ltrager commented on #8770
The concern about `-no-reboot` came about in [LP:1865515](https://bugs.launchpad.net/maas/+bug/1865515/comments/67). My understanding is it may be causing the chain of trust to be reset. Dimitri can explain how `-no-reboot` may be causing this better than I can. We have been able to verify that the latest SHIM and GRUB do properly support chainloading with the chain of trust preserved on physical

[2021-05-12 04:27] stgraber commented on #8770
`no-reboot` causes qemu to exit when a full system reboot is triggered, that's it. A UEFI fallback to the next boot entry does not trigger it, otherwise we'd never get things booting :)

Given Ubuntu 21.04 as deployed by MAAS boots just fine when you ask the firmware to directly boot from the `ubuntu` efi boot entry, the actual secureboot setup looks fine. Though the fact that grub always dumps me

[2021-05-12 08:08] peterbysh commented on #7708
Sorry i should have mentioned we're using Ceph rbd.

[2021-05-12 19:04] stgraber commented on #7708
https://github.com/lxc/lxd/pull/8774 should help with that, though note my comment https://github.com/lxc/lxd/pull/8774/files#diff-055af00396c76c6aa9bcf87188c97b1221c52176e355ae0af5fdc014053fa9d9R791

[2021-05-12 19:52] foozlevazquez commented on #7446
Is this available anywhere yet?  Thanks!

[2021-05-12 19:53] tomponline commented on #7446
@foozlevazquez yes, sorry we didnt post it sooner, its here https://discuss.linuxcontainers.org/t/managing-the-lxd-snap/8178

[2021-05-12 19:55] ltrager commented on #8770
As suggested I installed Ubuntu 21.10 Impish with ovmf 2021.02-1, qemu 1:5.2+dfsg-9ubuntu3, and libvirt 7.0.0-2ubuntu2 and created a VM using virtio net and virtio storage. MAAS is able to deploy Ubuntu with SecureBoot enabled. There are no problems chainloading while keeping the chain of trust.

Is there an easy way to test Dimitri's theory that `-no-reboot` is causing the issue?

[2021-05-12 20:22] stgraber commented on #8770
Sure if that makes you feel better...

[code]

[2021-05-12 20:23] stgraber commented on #8770
So this obviously has absolutely nothing to do with no-reboot.

[2021-05-12 22:40] presztak commented on #8758
@stgraber Can I be assigned to this issue?

[2021-05-12 22:52] #8755 closed

[2021-05-12 22:52] stgraber commented on #8758
Yep, done!

[2021-05-13 20:38] presztak commented on #8758
@stgraber Should we implement this for both containers and virtual machines? Because as I can see there are separate implementation of `devlxd API` for them.

[2021-05-13 20:53] stgraber commented on #8758
Yeah, we should have it for both, the logic should be near identical in both cases. The main difference is that for the VM, it's reading the data from a json file instead of being answered by the LXD daemon itself.

[2021-05-13 20:56] lukts30 commented on #8722
I just tested the new release and actually I still get an access denied with an up to date Arch installation with Apparmor enabled.

Most likely an symlink & LSM issue:
`/usr/share/ovmf` is a symlink to `/usr/share/edk2-ovmf`.
The LXD_OVMF_PATH env is set to `/usr/share/ovmf/x64`.
LXD creates a profile with `/usr/share/ovmf/x64/OVMF_CODE.fd`.
But AppArmor resolves (realpath) the symlink and treats

[2021-05-13 21:03] stgraber commented on #8722
Doh, indeed, apparmor is rather annoying with symlinks, we need to deref the path in this case.

[2021-05-13 21:03] stgraber commented on #8722
Setting LXD_OVMF_PATH to `/usr/share/edk2-ovmf/x64/` in your case should work.

[2021-05-13 21:08] stgraber commented on #8722
https://github.com/lxc/lxd/pull/8776

[2021-05-15 10:40] srkunze commented on #5193
Is there some update on the kernel issue, yet?

[2021-05-15 11:33] my5t3ry commented on #7477
I"m starten working on this : )

[2021-05-15 22:02] presztak commented on #8758
@stgraber

while testing devlxd api I was confused about one thing. `instance-data` file on vm is created when `security.devlxd` flag is set to `true` but in documentation we can find that this flag is `true` by default. Unfortunately when I run this command:

`lxc launch images:ubuntu/focal/cloud testvm --vm`

`instance-data` file is not created. I need to run this command:

`lxc launch images:ub

[2021-05-15 22:07] presztak commented on #8756
@stgraber Can I be assign to this one?

[2021-05-15 22:42] stgraber commented on #8756
Done!

[2021-05-15 22:43] stgraber commented on #8758
Yeah, that looks like a bug, I'd expect instance-data to be there by default and only be missing if the feature is specifically set to false...

[2021-05-16 02:53] #8758 closed

[2021-05-16 10:19] rostalor opened #8783 "Windows vm doesn't start"
kernel_version: 5.4.0-72-generic
os_name: Ubuntu
os_version: "20.04"

root@lxd1:~# lxc start win100 --console=vga
Unable to init server: Could not connect: Connection refused

(remote-viewer:4000394): Gtk-WARNING **: 10:16:48.693: cannot open display:

what can I do?

[2021-05-16 16:17] #8783 closed

[2021-05-16 16:19] stgraber commented on #8783
Closing as it's not a LXD bug but instead related to your X11 setup and virt-viewer.

Just running `lxc start win100` should work fine. You can then try `lxc console win100 --type=vga` separately which will likely fail with the same error. This error suggests you may be using X redirection over SSH which confuses the snap setup.

If that's what you're doing, please instead remotely connect to LXD

[2021-05-17 05:24] stgraber commented on #8653
I've managed to reproduce it on a cluster running 4.14. It definitely seems to be related to `exec` operations across the cluster.

[2021-05-17 05:25] stgraber commented on #8653
[code]

Over just a few seconds while spamming the server with exec sessions.

The initial 14 is normal (2x the number of other nodes in the cluster is expected), but more than that shouldn't happen unless there are active exec sessions (which there isn't in my case).

[2021-05-17 07:13] rostalor commented on #8783
![image](https://user-images.githubusercontent.com/82805479/118446455-7c241a80-b711-11eb-9cef-a4a8afa12efe.png)
I didn't understand this **"If that's what you're doing, please instead remotely connect to LXD itself by running lxc on your local PC and adding your remote LXD server as a remote (lxc remote add)."**

I have connected my lxd server by mobaxterm

[2021-05-17 08:22] janmuennich commented on #8653
That's great. Thanks for the update!

[2021-05-17 11:26] SimonRichardson opened #8786 "Panic: instances_get 4.x client and master branch"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 (bionic)
 * The output of "lxc info":

[code]

# Issue description

Panic in `instances_get` (see stack from journalctl).

[code]

# Steps to reproduce

All the containers are ephemeral, but was wondering why LXD was restarting. After some digging in journalctl I spotted this, I suspect that's the reason.

Code in quest

[2021-05-17 16:36] stgraber commented on #8786
@SimonRichardson hey, could you provide the following:
 - What command is causing this crash (looks like you're in the recursion < 2 codepath which is unusual)
 - Output of `lxd sql global "SELECT * FROM instances;"`
 - Output of `lxd sql global "SELECT * FROM projects;"`
 - Output of `lxd sql global "SELECT * FROM nodes;"`

[2021-05-17 16:37] tomponline commented on #8786
@stgraber I'm going to rework that function slightly to protect against possible nils too

[2021-05-17 16:45] stgraber commented on #8786
Yeah, I'm just not sure in what case you end up not having it in the map, feels like it'd need to be one hell of a race condition, that or we have a DB query bug that's hiding ephemeral instances or something.

[2021-05-17 16:49] tomponline commented on #8786
I suppose it is possible for an instance to exist during the call to `GetInstanceNamesByNodeAddress` but subsequently have gone by the the time `instanceLoadNodeProjectAll` is run in a new transaction shortly afterwards.

[2021-05-17 18:43] #8786 closed

[2021-05-17 18:49] SimonRichardson commented on #8786
👍

[2021-05-18 02:32] stgraber commented on #8653
The bulk of the leak was fixed but I'm still seeing a websocketproxy leak for each exec session, looking into that now.

[2021-05-18 03:31] stgraber commented on #8653
Got a fix where I'm now not getting a single leftover goroutine after running 10000 exec sessions.

[2021-05-18 08:06] #8653 closed

[2021-05-18 08:29] lds-lds opened #8792 "how do i configure lxd to use xtables instead of nftable?"
# Required information

 * Distribution: ubuntu
 * Distribution version: bionic
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-140-generic
   * LXC version: 4.14
   * LXD version: 4.14
   * Storage backend in use: dir

# Issue description

Hello
How to set lxd to use xtable ?

Il try ``lxc config set core.firewall: xtables``` or ```lxc config set firewall: xtables``` but

[2021-05-18 09:17] tomponline commented on #8792
LXD will detect which firewall driver to use based on what is available and whether one of them is already in use by either an earlier LXD process or another application on the system.

As such you can influence which driver LXD uses by ensuring that you have iptables rules present when LXD starts *and* ensuring that there are no nftables rules present (as in mixed environments LXD will prefer to

[2021-05-18 09:17] #8792 closed

[2021-05-18 13:18] bonzini commented on #8416
Patch posted upstream: https://lore.kernel.org/qemu-devel/20210518131542.2941207-1-pbonzini@redhat.com/T/

[2021-05-18 15:57] bonzini commented on #8416
... and another one: https://patchew.org/QEMU/20210518154014.2999326-1-pbonzini@redhat.com/

[2021-05-18 16:27] georgebushfourtwenty commented on #2804
Have you abandoned this idea?

[2021-05-18 16:38] stgraber commented on #2804
No, it's been closed as it was implemented. dnsmasq in LXD usually runs as the lxd user.
[code]

Recently we also added apparmor confinement on this process for extra security.

[2021-05-18 18:35] brauner commented on #8416
Thank you @bonzini !

[2021-05-19 07:59] tomponline commented on #6431
Also see https://discuss.linuxcontainers.org/t/lxd-bridge-doesnt-work-with-ipv4-and-ufw-with-nftables/10034/17

[2021-05-19 20:14] presztak commented on #8754
@stgraber I can work on this if this is ok.

[2021-05-19 21:40] stgraber commented on #8754
Of course!

[2021-05-19 22:36] #8756 closed

[2021-05-20 00:22] mkg20001 opened #8799 "ipv4/6.address: detect if address already is used"
# Required information

 * Distribution: nixOS
 * Distribution version: 21.05pre-git
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version: 4.14
   * Storage backend in use:

# Issue description

When setting ipv4/6.address for a container I expect that an address already assigned to an interface cannot be used on another interface

# Steps to reprod

[2021-05-20 03:20] stgraber commented on #8799
Well, this gets complicated because if you're in a cluster, two instances with the same ipv4.address may be on different servers and so not actually conflict. The other tricky case is when copying an instance as a simple check like this would prevent any copy.

We could possibly put a startup time check to prevent two instances from running with the same configured address. I'm just not sure of th

[2021-05-20 09:12] tomponline commented on #8799
@stgraber I'm going to throw another couple of complexity issues into the mix here too:

1. We will need to differentiate between `bridged` NICs connected to managed and unmanaged networks, and really it would be preferable to not allow setting `ipv{n}.address` settings at all when connecting to unmanaged networks. This has come up a few times in the forum where people have connected to an externa

[2021-05-20 13:15] mkg20001 commented on #8799
In my particular instance the other host was shutdown, only the dnsmasq host file was written (but no active lease in dnsmasq.leases)

dnsmasq would sometimes randomly during renew give that host a new, random address. Sometimes it would work for some time again.

I'm not sure if the dnsmasq host files are written on startup or creation/modify, but this could be another place where a check might m

[2021-05-23 21:02] presztak commented on #8757
@stgraber, Can I be assign to this one?

[2021-05-24 03:16] timlee81 opened #8805 "LXD "routed" nictype containers need to be restarted after host network disconnect/reconnect"
# Required information

 * Distribution: Ubuntu Server
 * Distribution version: 20.04.2
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-73-generic
   * LXC version:
   * LXD version: 4.14
   * Storage backend in use: zfs

# Issue description

When the host loses/regains it's network connection (unplug, replug cable), 'routed' containers can't be pinged (respond) until rest

[2021-05-24 04:51] stgraber commented on #8805
Yeah, that's most likely to be expected if the network management tool in use on your system flushes all routes from the device (which is a fairly common behavior).

I don't know that there is a particularly good way for LXD to handle another tool removing what it configured though...

[2021-05-24 04:52] stgraber commented on #8757
you got it!

[2021-05-24 14:28] alexejk opened #8807 "Failed to apply update 43: Failed adding unique index to storage_pools_config and networks_config tables"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04 (focal) LTS
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.4.0-72-generic
   * LXC version: 4.14
   * LXD version: 4.14
   * Storage backend in use: btrfs

# Issue description

When system was restarted, LXD fails to start with a timeout.
Running `lxd --debug --group lxd` produces following output:

[2021-05-24 17:28] tomponline commented on #8805
OpenVZ's `venet` NIC type (which `routed` is similar to) had the same issue. Without some process/thread/go routine continuously monitoring for changes to the routing and arp proxy tables (or for events that could trigger routing/arp table wipes) and then re-adding the static routes and arp proxy entries, there's not a lot that can be done.

[2021-05-25 01:26] stgraber commented on #8805
Yeah, going to close this one as that level of system monitoring would get very closely and also likely to never perfectly handle everything.

[2021-05-25 01:26] #8805 closed

[2021-05-25 01:27] stgraber commented on #8807
Could you install sqlite3 and show the output of:
 - sqlite3 /var/snap/lxd/common/lxd/database/global/db.bin "SELECT * FROM networks;"
 - sqlite3 /var/snap/lxd/common/lxd/database/global/db.bin "SELECT * FROM networks_nodes;"

[2021-05-25 01:28] stgraber commented on #8807
It looks like your database has some kind of duplicate entry that's breaking that schema update. Once we figure out what it is, we can give you a small SQL patch that LXD can load on startup and unblock the update.

[2021-05-25 06:16] InsanePrawn opened #8808 "Allow setting image expiration from `lxc publish`"
Tested with LXD 4.14

While #6220/#6266 allowed the interactive `lxc image edit` to modify `expires_at`, there's currently no good way to set it from cli, especially during `lxc publish` (unless I overlooked it?)

`lxc image show ... | sed ... | lxc image edit ...` is not really a good solution for this imo :)

[2021-05-25 08:18] tomponline commented on #8807
This seems like basically a duplicate of https://github.com/lxc/lxd/issues/8260 although the error is different because it is occurring after the DB schema patch to add the unique index (to prevent it from occurring again) has been added.

As @stgraber said, we need to see the contents of those tables now so we can prepare a custom DB patch you can apply to fix the issue.

[2021-05-25 08:47] tomponline opened #8809 "Failure with readonly mount on VM"
Reported from https://discuss.linuxcontainers.org/t/failure-with-readonly-mount-on-vm/11179/3

- LXD 4.14
- Ubuntu 20.04

[code]

[2021-05-25 08:57] tomponline commented on #8809
Looks like AppArmor blocking this:

On native:

[code]

On snap:

[code]

[2021-05-25 09:45] tomponline commented on #8809
So the actual issue looks like we are not using the `virtfs-proxy-helper` (which is not apparmor constrained at the moment) for readonly mounts. I will rework this to always use the `virtfs-proxy-helper` proxy for the 9p share (or the `virtiofsd` for the `virtio-fs` share), but need to check that QEMU actually respects the `readonly` property in those scenarios as I believe there was an issue with

[2021-05-25 21:33] stgraber commented on #8808
That should be reasonably easy to do. It will need an extension on what we accept through `POST /1.0/images` but should otherwise be a pretty small change.

[2021-05-26 03:26] ydcool commented on #5992
Since go 1.16, go tools has changed , as well as  the commands like  `go install` and `go get`,  and go module is enabled as default, and the `GOPATH` is going to deprecated sooner or later.

[2021-05-26 09:26] lds-lds commented on #8792
ok thanks :)

[2021-05-26 10:15] brauner opened #8811 "Timing of limits.* application"
A few days ago we received a patch to virtualize `/sys/devices/system/cpu/*` in `LXCFS` and during review of that patch I detected a bug that seems like a bug in LXD.

Virtualizing various cpu-related things makes use of the `cpuset` cgroup obviously and for things relating to the number of cpus available to the container the `cpuset.cpus` file is used quite a bit. This is no different for this `c

[2021-05-26 13:53] stgraber commented on #8811
That's normal. Unlike LXC, LXD has a cpuset scheduler which gets events from LXD and the system and triggers rebalance of the cpuset of all instances.

This requires instances be actually running and so is triggered right after init is spawned.

[2021-05-27 13:00] brauner commented on #8811
I think in our discussion in the meeting this week we concluded that this is not an issue. Technically it would be nicer if that race window didn't exist at all but we can live with this.

[2021-05-27 14:32] InsanePrawn opened #8816 "`publish`ing an ephemeral instance with `--force` throws etag error, then works"
# Required information

 * Distribution: Debian
 * Distribution version: 10
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.19.0-14-amd64
   * LXD version: 4.14 (snap)
   * Storage backend in use: zfs (0.8.6)

# Issue description

When creating images from ephemeral instances for CI usage, the first call to `lxc publish --force` will always fail for me like so:
`Error: ETag do

[2021-05-27 14:40] stgraber commented on #8816
Ah yeah, this is an interesting case as normally shutting down an ephemeral instance would destroy it but we obviously don't want it to happen in this case ;)

I'll take a look, it's probably a simple mistake in the CLI code.

[2021-05-27 14:57] stgraber commented on #8807
@alexejk ping

[2021-05-27 15:01] hi-tech commented on #8807
Having the similar (or same) issue - both sqlite commands yield the same syntax error in my case:

Full error
[code]

[code]

[code]

[code]

[code]

[2021-05-27 15:19] stgraber commented on #8807
@hi-tech can you send me a tarball of `/var/snap/lxd/common/lxd/database` to stgraber at ubuntu dot com?

[2021-05-27 15:34] alexejk commented on #8807
Sorry for delay. I tried getting DB dump but given lxd doesn't start i can't use `lxd sql` to access it. Any guidance on how to perform the dump in this situation?
Thanks :)

[2021-05-27 15:35] tomponline commented on #8807
@alexejk the commands to run are here https://github.com/lxc/lxd/issues/8807#issuecomment-847462675

[2021-05-27 15:57] alexejk commented on #8807
I'm blind, my apologies.

[code]

[code]

[2021-05-27 15:58] tomponline commented on #8807
@alexejk no worries :)

Also:

[code]

[2021-05-27 15:59] alexejk commented on #8807
[code]

[2021-05-27 16:04] tomponline commented on #8807
@alexejk ok so you can see there are a lot of duplicate fields (the 3rd and 4th columns) for network ID 1 (the 2nd column).

There should only be a maximum of 1 config value per field (e.g. `ipv4.address = 10.0.4.1/24`) and they certainly can't be different (that is the error you're getting because we cannot apply the unique index).

So...

You need to decide on which set of config rows represents

[2021-05-27 16:10] alexejk commented on #8807
Interesting that it ended up in that state somehow. Quite a while ago I was creating a custom a new network and assigned to some containers but that was about it...

The primary network for me is `ipv4.address=10.0.3.1/24` (and I think `ipv4.nat=true`). I assume once it starts I can adjust if the NAT value is wrong.

[2021-05-27 16:12] tomponline commented on #8807
@alexejk there was quite an old bug that allowed duplicates to get into the DB, this was fixed some time ago (see the other issue I linked to earlier), but unfortunately we couldn't automatically fix conflicting values.

Here's a post from the forums showing how to craft the patch file:
https://discuss.linuxcontainers.org/t/failed-to-load-network-lxdbr0-duplicate-config-row-found-for-key-dns-mode-

[2021-05-27 16:16] tomponline commented on #8807
So the rows you most likely want to keep are:

[code]

[2021-05-27 16:23] alexejk commented on #8807
Thank you! Adding the patch statement got LXD started so now I can fix any things that are wrong (if any). Appreciate the help!

[2021-05-27 16:23] #8807 closed

[2021-05-27 18:58] #8816 closed

[2021-05-27 22:19] stgraber commented on #8808
To implement this, I suspect you'll need to:
 - Add an API extension string in shared/version/api.go and doc/api-extensions.md
 - Add a new field to the API for `ImagesPost` in shared/api/
 - Update doc/rest-api.yaml (`make update-api`)
 - Add a CLI argument in lxc/publish.go
 - Update the i18n templates for the new string (`make i18n`)
 - Add handling for this field in lxd/images.go (`imgPostInst

[2021-05-27 23:31] hi-tech commented on #8807
Thanks, you can ignore - I had the same duplicate network issue (results of cloning hosts) and the patch above worked.

However, It seems "column-name list" in sqlite views was [added in sqlite 3.9.x](https://www.sqlite.org/lang_createview.html)
Some of our LXDs happening to be running on Centos 7.8/9 hosts, with an ancient sqlite 3.7.
Backing up / compiling / sym-linking newest sqlite 3.35 fixed

[2021-05-27 23:34] stgraber commented on #8807
Ah, okay, a different version of sqlite in the snap and outside of it would indeed explain the confusing output you got.

Happy you got it sorted out!

[2021-05-27 23:48] hi-tech commented on #8807
Ahh, didn't realize snap has its own version of sqlite. Just put back the original sqlite3 binary and all is still well.

Thanks again for that quick sql patch

[2021-05-28 04:00] stgraber commented on #8807
Yep, that's the main thing we like with the snap package. Doesn't matter what distro you run it on, you're running the exact same binaries and if you tell us what revision on what architecture, we can replicate your environment almost perfectly.

Obviously the kernel you're using may differ and that's the main source of issues when it comes to this package. But having the majority of our users on

[2021-05-28 10:27] aTanW opened #8820 "Is there any chance to install lxd from .deb?"
I have farm, where host OSes have no internet connection, so there is no sense to  install snap.

Currently containers are pretty static and runs under systemd-nspawn, but we deside to change schemas and now I need containers migration function.

I see, it is possible to complete that job with scripts, but why reinvent the wheel...

[2021-05-28 11:14] StyXman commented on #8820
Debian has no `lxd` package and Ubuntu's say:

[code]

So currently the answer is no. Maybe you can try and find the latest properly packaged `.deb` (if there ever was one; given the pkg is not in Debian points to 'never') and use its `debian` directory and pray for the best.

[2021-05-28 13:47] stgraber commented on #8820
It's possible to install snaps in offline environments using 'snap download' on an online system and transferring the resulting files to the offline system.

As for debs, for Ubuntu the last packaged version was 3.0. You can find the packaging used for that version in the lxd-pkg-ubuntu repository.

A few people have mentioned they would look at building debs in a PPA, at least for the LTS release

[2021-05-28 13:47] #8820 closed

[2021-05-28 13:51] tomponline commented on #8820
@stgraber there is this, but I don't know how complete it is https://github.com/el-eks-di/lxd-deb

[2021-05-28 13:57] aTanW commented on #8820
Thanx for all, I'll try to build .deb(-s)

But, that looks strange - written by Ubuntu developer, software for Ubuntu cant be run in Ubuntu. 8-)

[2021-05-28 19:22] simondeziel opened #8825 "Small improvement to cluster join"
When joining new members to a cluster, the `lxd init` process asks `Do you have a join token? (yes/no) [default=no]:` it would be nice if it could also accept the the token in addition to `yes/no`.

This is inspired by how SSH proposes adding fingerprints to ~/.ssh/known_hosts:

[code]

So for lxd, it'd be nice to have the question shown as `Do you have a join token? (yes/no/[token]) [default=no]:

[2021-05-28 19:39] stgraber commented on #8825
It's a bit different from SSH where SSH uses it as a way to quickly confirm that it's the same string.

The places that would be equivalent to SSH though would be:
 - lxc remote add
 - lxd init's fingerprint prompt

[2021-05-28 20:24] simondeziel commented on #8825
I agree the init question isn't about authentication as in the SSH case but it's where I got the idea from. I like your proposal for the `lxc remote add`!

[2021-05-28 22:39] stgraber commented on #8808
From IRC:
[code]

So the extra things we need to sort out here:
 - Pass req.ExpiresAt over to the Export() function call
 - If provided to Export(), override any existing expiry from metadata.yaml with the provided one
 - If not provided, use the one from metadata.yaml (if present), if not present default to no expiry
 - Export() will then return the correct expiry as part of its returned metadata

[2021-05-29 16:55] #8011 closed

[2021-05-30 13:10] technicalflow opened #8827 "No IPv4 from macvlan interface on centos8 on LXD 3.0.3"
# Issue description
Hello All

I got Ubuntu 18.04 install on hardware and got issues running centos8 in lxd container on macvlan profile.
When launching any container on lxdbr0 I got IPv4 address - even on centos8 images.
When launching any container (beside centos8) on macvlan  I got IPv4 address, only centos8 got trouble.
On centos8 I cannot start eth0 interface when launching with macvlan profi

[2021-05-30 13:34] tomponline commented on #8827
@stgraber I believe this is a known issue with centos 8 and macvlan, namely that network manager doesn't recognize it as a managed Ethernet device as it sees it as a preconfigured macvlan interface as ignores it. Worth moving to distrobuilder?

[2021-05-30 19:23] stgraber commented on #8827
Yeah, we can move the issue to distrobuilder to see if there's a workaround we can put in place in our shiny new systemd-generator.

[2021-06-01 16:12] ninjuan11 opened #8834 "After Upgrade to 4.14 - all Cluster members not reachable"
After updating vom 4.06 to 4.14 my cluster completly broke.
only message in lxc cluster list is "No heartbeat for xxx" on all members, even itself.
Maybe because of new cluster certs? Didnt find a migration document. Need help how to get my cluster responsive again.

[code]

[2021-06-01 16:14] tomponline commented on #8834
Please can you enable debug mode and see what is being logged in the LXD log?

[code]

[2021-06-01 16:36] tomponline commented on #8834
I just tried upgrading a LXD 4.0.6 (pre-per-server-certificates) cluster to a LXD 4.14 cluster and it worked fine.

[2021-06-01 16:42] ninjuan11 commented on #8834
[code]

[code]

[2021-06-01 16:43] ninjuan11 commented on #8834
[code]

[2021-06-01 16:44] tomponline commented on #8834
Thanks. There does appear to be an issue indeed. The cluster certificate upgrade completes successfully, but the heartbeat process doesn't seem to restart again (unlike when upgrading from 4.13 to 4.14). Perhaps there is some difference between the way the heartbeats are initiated in the LTS branch.

[2021-06-01 16:46] ninjuan11 commented on #8834
any idea how to fix this? as this is a productive cluster, this is pretty bad for me - i had to update because i added two new servers and snap removed the older images - i was only able to pick 4.13 or 4.14.

[2021-06-01 16:48] tomponline commented on #8834
@ninjuan11 for future reference you can pick the LTS branch when installing LXD using `sudo snap install lxd --channel=4.0/stable`. See https://discuss.linuxcontainers.org/t/managing-the-lxd-snap/8178 for more info around that.

As for fixing it, let me see if reloading LXD fixes...one moment please.

[2021-06-01 16:50] tomponline commented on #8834
@ninjuan11 also can you still run `lxc ls` btw?

[2021-06-01 16:51] ninjuan11 commented on #8834
yes lxc ls works, but only local vms are visible, rest is error.

[2021-06-01 16:52] tomponline commented on #8834
@ninjuan11 ok good so the dqlite cluster (and by extension the certificate trust store) is working OK, so it appears to be just the lack of heartbeats that is the issue.

[2021-06-01 17:07] tomponline commented on #8834
@ninjuan11 I just tried the upgrade from 4.0.6 to 4.14 again and it succeeded this time, suggesting the issue may be if the time between upgrading the members was far apart the cluster may have become out of sync. Can you have a look at the logs on your other members and see when they got upgrade to 4.14 please, and how long apart that happened?

[2021-06-01 17:10] ninjuan11 commented on #8834
one member took a little longer to upgrade - about 10 min - but all members are on 4.14 right now.

[2021-06-01 17:15] tomponline commented on #8834
@ninjuan11 do you see any `database is locked` in the logs?

[2021-06-01 17:17] ninjuan11 commented on #8834
i dont see anything regarding locked database in the logfiles.

i remember seeing in a logfile an error like "unable to inform server that database has been upgraded" (nopt exact wording) but i cant find it anymroe

[2021-06-01 17:20] tomponline commented on #8834
@ninjuan11 in my experiments I found that I could do `sudo systemctl reload snap.lxd.daemon` on all the nodes except one of them which hung in the logs with an error about locking. I think if you try and reload all of the members and then `kill -9` the `lxd` process of any that won't reload cleanly then that should fix it (it has on my recreation), as getting lxd to restart allows the heartbeat pr

[2021-06-01 17:27] ninjuan11 commented on #8834
i dumped all logfiles right now, seems like i misstyped the regular expression before - i have multiple ones with different locks

[code]

i reloaded all except machine 11 - didnt help :-(

[2021-06-01 17:28] tomponline commented on #8834
@ninjuan11 and did you kill -9 lxd process and restart lxd on that machine 11?

[2021-06-01 17:28] tomponline commented on #8834
@ninjuan11 basically you need to restart LXD, so you need to kill and restart any of the ones that wont reload due to be locked.

[2021-06-01 17:30] ninjuan11 commented on #8834
ah misread the instruction, thought i should kill only these who dont reload correctly. i killed it and issued a systemctl restart snap.lxd.daemon - but it hangs.

[2021-06-01 17:31] tomponline commented on #8834
@ninjuan11 it looks like you have a few that are locked so need to kill and restart  it on each of them.

[2021-06-01 17:34] ninjuan11 commented on #8834
i did it on every machine, all are hanging on the restart command.

[2021-06-01 17:40] ninjuan11 commented on #8834
it seems like now i have another bug to report. because i restarted the machines, new leaders got elected on the last 3 in the cluster. the restarted machines gave up after checking the first 10.

[2021-06-01 17:55] ninjuan11 commented on #8834
after i tried to restart one of the leaders:
[code]

this killed everything on all machines...

[2021-06-01 17:58] tomponline commented on #8834
@ninjuan11 but have you killed that lxd process using `kill -9 <process id>` - its clear the DB is locked and you need to forceably kill the process so it can restart. Doing `systemctl` won't work.

[2021-06-01 17:59] ninjuan11 commented on #8834
yes, i killed them with kill -9.

[2021-06-01 18:06] tomponline commented on #8834
@ninjuan11 can you try this, shutdown all of the lxd processes using `lxd shutdown` and then on one of the DB members run

[code]

Then start that lxd member up and check it has started cleanly and that your instances are listed.

Then start each member one by one after that.

[2021-06-01 18:09] ninjuan11 commented on #8834
i just sent the command (lxd shutdown) to all members of the cluster, takes very long to complete... i'll post here when i finished the task.

[2021-06-01 18:10] tomponline commented on #8834
@ninjuan11 ok @stgraber has just suggested that `recover-from-quorum-loss` isn't whats needed.

[2021-06-01 18:12] ninjuan11 commented on #8834
i'm very concerned that i'm having a data loss right now. last backup is a few weeks old, would be terrible.

[2021-06-01 18:13] tomponline commented on #8834
@ninjuan11 so I think we need to be clear about this. Have you stopped entirely (i.e you can confirmed no lxd process running) on all nodes and then started a single one up and check it starts cleanly?

[2021-06-01 18:14] ninjuan11 commented on #8834
its still in the task of stopping. lxd shutdown takes horribly long.

[2021-06-01 18:15] tomponline commented on #8834
@ninjuan11 you probably need to do a `kill -9` as it'll be hanging trying to hand over the role. You need to ensure they have all been entirely stopped before starting one up.

[2021-06-01 18:19] ninjuan11 commented on #8834
i got zombies.
 231336 ?        Z      0:00 [lxd] <defunct>

cant kill them anymore...

[2021-06-01 18:20] tomponline commented on #8834
@ninjuan11 ps aux of your host please

[2021-06-01 18:23] ninjuan11 commented on #8834
because it is so long:
https://nopaste.net/EsXIqb1frI

[2021-06-01 18:24] tomponline commented on #8834
@ninjuan11 looks like you've been killing the wrong process:

Kill 179373

[2021-06-01 18:26] ninjuan11 commented on #8834
i already killed this multiple times, always instanenious respawn

[2021-06-01 18:29] tomponline commented on #8834
Try disabling the  lxd service with systemctl disable snap.lxd.daemon service then kill it

[2021-06-01 18:31] ninjuan11 commented on #8834
already did, just took a little bit. everything is down now. i'll start the recover process

[2021-06-01 18:33] ninjuan11 commented on #8834
uhm -
[code]

[2021-06-01 18:38] tomponline commented on #8834
I asked you not to run that earlier as i sought advice. I'm not sure what to do now.

You needed to shutdown everything and restart because it doesn't look like you achieved that earlier

[2021-06-01 18:39] ninjuan11 commented on #8834
sorry i was a little bit puzzled what to do now, but it seems like the command was not triggered because it tried to attach to the zombie.

[2021-06-01 18:54] ninjuan11 commented on #8834
seems like snap startet lxd and ignored systemctl disable. the cluster found all nodes after a good old reboot, but `lxc ls` is not working anymore
[code]

[2021-06-01 19:54] stgraber commented on #8834
A few simple things to check without getting too deep into things:
 - Make sure each server is able to reach all the others (`curl -k -s https://172.16.0.X:8443` to every one of the other 14 IPs)
 - Make sure all servers have an accurate clock (they should all be within a 2s margin)

If that's all good, then you can try:
 - `lxc info --resources` to confirm local API is functional (doesn't use DB)

[2021-06-01 20:25] ninjuan11 commented on #8834
i restarted the whole cluster very very slowly.. it worked .. for a few minutes. everything was available with all machines in.
a few minutes later a lot of the virtual machines are on error - but only if i use `lxc list`. with `lxc list --fast` everything is fine.

[2021-06-01 20:36] stgraber commented on #8834
How many instances do you have and how many snapshots do they typically have?
CEPH clusters that haven't been tweaked can be extremely slow at getting snapshot size data (`rbd du`) which could have you hit some timeouts.

[2021-06-01 20:38] ninjuan11 commented on #8834
i have about 30 vms on 16 hosts with 1-2 snapshots each. worked flawless before

[2021-06-01 20:39] stgraber commented on #8834
Yeah but you upgraded from `4.0.6` to `4.14` which added a lot of features, including the fact that snapshot sizes are now retrieved from ceph.

[2021-06-01 20:44] stgraber commented on #8834
If `lxc list --fast` works fine but `lxc list` doesn't and `lxc info` itself is slow when querying snapshots, the problem is almost certainly your ceph cluster being very slow at retrieving snapshot sizes.

You can likely confirm that by just looking for `ceph du` processes showing up on all your systems while running that `lxc list`.

You could try to get an idea of what's going on by running jus

[2021-06-01 20:47] ninjuan11 commented on #8834
i didnt have any performance issues before with ceph, so this is really a drawback for me. i can indeed see the rbd du process when trying to do a lxc query on snapshots. how can i disable this feature? i really dont need to see the sizes of each snapshot everytime i do a list command.

[2021-06-01 20:56] tomponline commented on #8834
Glad to hear that the LXD cluster is back up and running after a fresh restart, I will look into why the upgrade doesn't always work properly. Although it sounds like there is a different ceph issue now unrelated to the original issue.

[2021-06-01 20:56] ninjuan11 commented on #8834
it cant be the ceph. when issuing the rbd du command by hand it willl return the value in less than 1 second. still issuing the lxc query snapshot command will never return a value.

[2021-06-01 20:59] tomponline commented on #8834
@ninjuan11 it can be quite slow as it will issue one of those commands for each instance and each snapshot. Do you see any errors now in your debug log?

[2021-06-01 21:01] ninjuan11 commented on #8834
it is not issuing this command on each snapshot right now, i issued `time lxc query /1.0/instances/con-00/snapshots/running --verbose --debug` - so i doubt it has something to do with ceph right now.

[2021-06-01 21:04] tomponline commented on #8834
@ninjuan11 but to confirm the output of `lxc cluster ls` - the original problem is resolved now right? The heartbeats are going again?

[2021-06-01 21:06] ninjuan11 commented on #8834
yes, its working again, but the bug is still a problem as this should never happen in the first place :-/
the problem was indeed that one of the 16 servers did not upgrade in a timely manner (high load), which resulted in this behaviour. i would suggest the script should retry after a few minutes instead of giving up completly and lock up.

 i'll create a new ticket regarding the other problem.

[2021-06-01 21:07] tomponline commented on #8834
@ninjuan11 thanks, yes I agree, I am actively working on fixing the original issue. Thanks for opening another issue regarding the ceph performance problem.

[2021-06-01 21:10] ninjuan11 opened #8835 "LXD 4.14 - lxc info hangs - no response on snapshot request"
After upgrading to 4.14 i've encountered an error, which i cannot identify.
More details are in #8834

System: ceph as storage backend
octopus on 15.2.13
using lxd snap 4.14 with internal ceph.

requesting informations about snapshots takes indefinitely long
`time lxc query /1.0/instances/con-00/snapshots/running --verbose --debug`
[code]

it is not a performance problem on the ceph side.
[code]

[2021-06-01 21:20] ninjuan11 commented on #8835
update: everything regarding snapshots is completly unusable.
creating a new snapshot will permanently freeze the container, nothing will happen.

[2021-06-01 21:28] stgraber commented on #8834
Can you check `ps fauxww | grep rbd` on the server running that instance while running the `lxc query` to see if LXD is running those queries?

[2021-06-01 21:29] tomponline commented on #8834
@stgraber seems so: https://github.com/lxc/lxd/issues/8834#issuecomment-852434644

"i can indeed see the rbd du process when trying to do a lxc query on snapshots."

[2021-06-01 21:30] ninjuan11 commented on #8834
yes, the queries are spawned and will stay forever.

[2021-06-01 21:33] stgraber commented on #8834
Are you using ceph.external=true with the snap? It could be some issue where your ceph cluster needs a more recent version of the client than the one in the snap.

[2021-06-01 21:35] ninjuan11 commented on #8834
no i'm using the internal, had massive problems with external, as it was unable to connect

[2021-06-01 21:46] ninjuan11 commented on #8834
i just switched to external - good news: external is now working (issue was in version 3 of lxd, so maybe this has been fixed)
still - the same problem

[2021-06-01 21:52] ninjuan11 commented on #8835
update: problem solved.
internal ceph from the snap package is extremly outdated.

`sudo snap set lxd ceph.external=true && sudo systemctl reload snap.lxd.daemon`
fixes the issue

[2021-06-01 21:53] tomponline commented on #8835
reopening this as the original problem isnt fixed. Will close the other one with the fix.

[2021-06-01 21:54] #8835 closed

[2021-06-02 00:24] #8834 closed

[2021-06-02 00:37] #8808 closed

[2021-06-02 08:21] #7874 closed

[2021-06-02 10:05] tomponline commented on #8834
An explanation for this issue is here: https://github.com/lxc/lxd/pull/8839#discussion_r643810346

[2021-06-02 14:25] mariarti opened #8844 "/proc/sys/fs/binfmt_misc/register: Permission denied (causing network issue)"
# Required information

 * Distribution: ubuntu 20.04
 * Distribution version: Linux version 5.8.0-53-generic (same on 5.4.0-72-generic)
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-53
   * LXC version: 4.0.6
   * LXD version: 4.0/stable: 4.0.6
   * Storage backend in use: dir

# Issue description
Failed to bring up network up.
`[FAILED] Failed to start LSB: Supports th

[2021-06-02 15:46] stgraber commented on #8844
binfmt_misc isn't namespaced so the permission error is expected. This could then in turn block some stuff from starting up maybe causing your other symptoms.

Do you get the same network issue with a container which doesn't use that particular piece of software?

[2021-06-02 18:16] mariarti commented on #8844
Thanks for the clarification
I was most likely misled by the first part of the title (Indeed, the network disappeared during the installation of the JDK11 ).
I created a new container test3 with oraсle 8, assigned network, but networking still does not work. (at the meantime 10 other containers based on linux oracle 8 work fine )

So, logs from test3:
[code]
[code]
`dmesg` from host
[code]

[2021-06-02 18:18] stgraber opened #8847 "Cluster certificate update API"
Currently in a LXD cluster if you want to change the user facing certificate, you must connect to all cluster members and replace `cluster.crt` and `cluster.key` on disk, followed by a restart of LXD with `systemctl reload snap.lxd.daemon`.

While this works fine, it gets a bit annoying if dealing with certificates with a short expiry (like let's encrypt).

To make that easier, we should:
 - Intro

[2021-06-02 18:46] stgraber commented on #8844
Okay, so I think that's part of a distrobuilder issue we're investigating with @monstermunchkin where the oracle8 images are being a bit brittle right now (Network Manager issues).

Moving the issue over to distrobuilder as that's where we're looking into this.

[2021-06-02 21:45] presztak commented on #7341
@stgraber this issue looks interesting but I think this is duplicate of  #8236. Am i right?

[2021-06-02 21:54] dannf commented on #8770
Using good old print debugging, I've narrowed this down to the kernel calling `exit_boot_services()` [here](https://kernel.ubuntu.com/git/ubuntu/ubuntu-hirsute.git/tree/drivers/firmware/efi/libstub/efi-stub-helper.c?h=Ubuntu-5.11.0-16.17#n454).

[2021-06-02 21:56] dannf commented on #8770
Here's the OVMF debug output leading up to it the crash:
[code]

[2021-06-02 22:28] stgraber commented on #8770
Ok, so at least it's a firmware call that crashes everything, so slightly less concerning than just the kernel doing it during normal initialization.

Is there any way to get debugging on the firmware side when it handles ExitBootServices?

Given it only happens on first boot (or at least looked that way here) and that's when we setup the boot NVRAM entries, I suspect it's got something to do with

[2021-06-02 22:58] stgraber commented on #7341
Indeed, let me close this one and clear the other as the assignee isn't responding.

[2021-06-02 22:58] #7341 closed

[2021-06-02 22:59] stgraber commented on #8236
@presztak all yours if you want it :)

[2021-06-02 23:00] stgraber commented on #8236
We should do both `lxc storage move` and `lxc storage copy` for this one.

[2021-06-02 23:04] presztak commented on #8236
@stgraber I would be happy to take this.

[2021-06-02 23:05] stgraber commented on #8236
Excellent, assigned!

[2021-06-02 23:11] stgraber commented on #8236
For this I suspect you'll need to add a `Project` field to `StorageVolumeSource` and add server-side handling for it so you can have it copy across projects. Then hook it up to `lxc storage volume copy` and when that works, the initial implementation of `lxc storage volume move` should just be a copy+delete.

We could do a one step move on the server side (like we do for instances) but I don't thi

[2021-06-03 02:44] #8825 closed

[2021-06-03 03:15] dannf commented on #8770
I'm hoping to learn more tomorrow by attaching `gdb` to the VM.

[2021-06-03 03:29] #8757 closed

[2021-06-03 08:16] albertodonato opened #8850 "Allow reading certificate from stdin when adding to the trust"
It would be nice if it was possible to read certificates from standard input when adding them to the trust store.

This would allow thing like `curl http://example.com/mycert | lxc config trust add -` without having to temporary store the cert somewhere.

[2021-06-03 13:15] stgraber commented on #8850
Yeah, adding - should be easy enough.
Until then, using /dev/stdin should do what you want.

[2021-06-03 20:25] ddstreet commented on #8718
udevd exposes it for ata devices because the atapi identify device command provides the rotational state in the response, while the scsi inqury only gets pages 0x80 and 0x83, neither of which provide the device rotational speed. The scsi_id built-in command would need to also query page 0xb1 to get the block device characteristics, which includes the rotational speed. This would need to be added t

[2021-06-03 20:43] stgraber commented on #8718
Ah, could you show `/sys/block/*/queue/rotational` on a few systems (ideally with mix of drive types) so we can see how feasible it would be to read that as an alternative source for the RPM value?

[2021-06-03 20:53] dannf commented on #8770
I hooked up `gdb` to the VM and was able to load the `ovmf` symbols. I setup a breakpoint for `CoreExitBootServices()`, but the crash happened before that breakpoint. So, best I can tell we're crashing somewhere in the glue (thunk?) between the EFI stub and the firmware.

Since the address to the invalid instruction always seems to be the same (`0xff96`), I set a break there instead. I /did/ hit t

[2021-06-03 21:09] #8850 closed

[2021-06-03 21:29] dannf commented on #8770
Here's the disassembly of `efi_exit_boot_services()` in it's entirety - I believe the crashing line is at 0x8fa:
[code]

[2021-06-03 21:36] ddstreet commented on #8718
Here's one system with nvme, SAS drives, nvme-sata, dvd, raid, and lvm:

https://pastebin.ubuntu.com/p/9C9FTBfzpv/

and another with nvme, sata-sdd, sata-drives, dvd, raid, and lvm:

https://pastebin.ubuntu.com/p/DmkDv9qKhN/

[2021-06-03 21:48] stgraber commented on #8718
Ok, so that's unfortunately not providing us with the actual RPM.

I guess what we can do is report an RPM of 1 if we don't have a value from udev and the drive is rotational.
It's obviously a bit of a lie, but less of a lie than 0 I guess ;)

[2021-06-04 08:49] 3eka opened #8853 "Linux.zip: lxc execution problem"
# Required information

 * Distribution: RedHat Linux
 * Distribution version: CentOS Linux release 8.3.2011
 * The output of "lxc info" or if that fails:
   * Kernel version: *uname -r*: `4.18.0-240.22.1.el8_3.x86_64`
   * LXC version: ? (*lxc info* fails too, see below)
   * LXD version: `Server version: 4.14`
   * Storage backend in use: ZFS

# Issue description

I have downloaded latest "Clien

[2021-06-04 09:07] tomponline commented on #8853
I just tried this locally from the same link as above and `./lxc version` works fine.

Also the stack trace doesn't look right, the part:

[code]

doesn't match up with what is in the code base:

Line 1092 is empty: https://github.com/lxc/lxd/blob/master/lxc/storage_volume.go#L1092
And cmdStorageVolumeList doesn't start until line 1158: https://github.com/lxc/lxd/blob/master/lxc/storage_volume.go#

[2021-06-04 10:11] 3eka commented on #8853
Hi @tomponline,

I have downloaded same zip file a month ago and utilities are in use on my linux system (was one requirement for **packer** utility -- https://www.packer.io):
[code]
This morning I have tried to use newer versions, and thus get into trouble with **lxc** functionality. Nothing else was changed on system.

Regards.

[2021-06-04 10:26] tomponline commented on #8853
@3eka I just tried the Linux.zip file from https://github.com/lxc/lxd/actions/runs/903979689 inside a brand new centos 7 VM and it works fine:

[code]

Can you try it inside a VM or different machine too please. Also what OS and version are you running?

[2021-06-04 10:32] 3eka commented on #8853
Hi @tomponline,

hmm, thanks for checking (It might be that my VM -- lxd container, CentOS 8 x86_64 -- is somehow broken).
I will try it on CentOS 8, VirtualBox VM (fully virtualized) and will paste result here soon.

Regards.

[2021-06-04 10:37] #8853 closed

[2021-06-04 10:38] 3eka commented on #8853
Sorry everybody for noise.
Seems that everything is fine:
[code]
I will re-install my VM.
Thanks and best regards.

[2021-06-04 11:29] tomponline opened #8854 "VM support for QEMU 6.0"
This is a place to track the progress for LXD supporting QEMU 6.0

Currently there are these outstanding patch sets required from upstream QEMU:

- https://patchew.org/QEMU/20210518131542.2941207-1-pbonzini@redhat.com/
- https://patchew.org/QEMU/20210518154014.2999326-1-pbonzini@redhat.com/
- https://github.com/qemu/qemu/commit/941a4736d2b465be1d6429415f8b1f26e2167585

[2021-06-04 11:30] tomponline commented on #8416
Tracking these sets here https://github.com/lxc/lxd/issues/8854

[2021-06-04 11:32] brauner commented on #8854
//Cc @cyphar

[2021-06-04 11:36] cyphar commented on #8854
Is the first patch still required given #8700? Also there's another issue I've hit when trying to run with QEMU 6.0 on Tumbleweed:

[code]

(Someone else also mentioned this on [the forums](https://discuss.linuxcontainers.org/t/containers-do-not-launch-on-linux-5-12/10995/50?u=cyphar).)

[2021-06-04 11:37] tomponline commented on #8854
@cyphar yeah I mentioned that error to upstream in IRC a couple of weeks ago

[2021-06-04 11:39] tomponline commented on #8854
Possibly not

[2021-06-04 12:11] stgraber commented on #8854
We intend to move back the spice bits to the .conf file in the near future though as that was a workaround for an upstream bug.

[2021-06-04 23:08] dannf commented on #8770
Turns out that was my fault - I had sprinkled `efi_info()` calls throughout, not realizing that facility goes away with `ExitBootServices`. Using a non-instrumented Ubuntu kernel, I can now get to a prompt in KVM mode. In QEMU emulation mode it fails w/ complains about BIOS corruption - but that may be unrelated.

[2021-06-05 12:56] sforshee commented on #8770
PR for shim: https://github.com/rhboot/shim/pull/378

[2021-06-06 03:20] stgraber opened #8856 "Add address field to lifecycle requestor"
Our requestor struct as part of the lifecycle events currently records `protocol` and `username`, it'd make sense to also pull the source address from the http request and add that as a field to the struct.

[2021-06-06 03:33] stgraber opened #8857 "Move remaining iproute calls to ip package"
A new `ip` package was introduced a little while ago to centralize all `ip` calls, but iproute also ships a few more tools like `bridge`, `tc`, `ss`, `devlink`, ... which we also ought to have the package cover.

Looking around we have:
 - `lxd/device/nic_sriov.go` that uses `ip` directly and should be using the package instead
 - `lxd/device/nic_bridged.go` that uses `bridge` directly
 - `lxd/dev

[2021-06-06 03:35] stgraber opened #8858 "Retry failed instance startup when auto-started"
We've seen a few times where LXD fails to autostart some instances because of network/storage type issues.
It'd be good to retry startup up to 3 times waiting 5s or so in between tries.

If things still fail, then a persistent warning should be added using our new warnings API so the user can easily see what happened.

[2021-06-06 03:39] stgraber opened #8859 "Make `--pretty` in `lxc monitor` work with operations too"
Following support for both lifecycle and logging, we should also add a one-line representation for operations so that one can run `lxc monitor --pretty` and have it work for all event types.

[2021-06-06 03:41] stgraber commented on #8770
Closing this one on our side as we've now confirmed the issue is coming from the shim and not from anything LXD is doing (other than us using UEFI+SB by default).

[2021-06-06 03:41] #8770 closed

[2021-06-06 03:45] stgraber opened #8860 "Improve `lxd init` ordering for cluster token"
When running `lxd init` to join a cluster, we're currently asking for both the local address and local server hostname before asking for the token. But when joining with a token, the joining node doesn't get to chose its name so this question is redundant in that case.

We should probably change the flow to ask for the token first when joining a cluster, then if provided, the hostname question sho

[2021-06-06 12:47] thugcee opened #8861 "lxc launch deletes already existing zfs dataset"
# Required information

 * Distribution: Ubuntu 20.04.1
 * Kernel version: 5.4.0-58-generic
 * LXC version: 4.0.6
 * LXD version: 4.0.6
 * Storage backend in use: zfs

# Issue description

Running `lxc launch ... <NAME>` when `<POLL_NAME>/containers/<NAME>` already exists, fails due to `dataset already exists` error and then deletes this dataset. 280GB of data has been lost.

# Steps to reproduce

[2021-06-06 14:20] stgraber commented on #8861
@tomponline thoughts?
Can we easily have the storage drivers return a standard error for already existing volumes which can then be picked up by the instance layer and skip the deletion step in revert?

If this is easy to do, I don't see a big downside to doing it (just slightly slower creation time). But if this requires a lot of reshuffling then I'd leave things as they are.

I believe our stora

[2021-06-06 14:44] thugcee commented on #8861
@stgraber, you are right, it is mentioned in the documentation:

I didn't know about it. My fault. This deleted dataset came up when I was shuffling files during some migration. I wasn't careful enough because I didn't expect that _create_ command can delete something.

[2021-06-07 07:42] cyphar opened #8863 "[opensuse] VM: lxc exec: failed to connect to lxd-agent"
# Required information

 * Distribution: openSUSE Tumbleweed
 * Distribution version: 20210604
 * The output of "lxc info" or if that fails:

<details>

[code]

</details>

# Issue description

Running VMs with LXD on openSUSE works, but `lxc exec` and other operations that require the lxd-agent to be running don't work. I'm using the openSUSE packages (which I packaged) so I'm not sure whether th

[2021-06-07 12:17] Kramerican commented on #7079
Hello

This no longer works in v4.14 - it still worked on v4.8

Now when doing the above, I get:

[code]

Hmm ok so already mounted somehow, let's check procinfo

[code]

Ok let's make sure we are unmounted

[code]

But ...

[code]

What's changed in latest versions that's confusing LXD vis-a-vis mountpoints now? :)

[2021-06-07 13:23] stgraber commented on #8863
@cyphar if you look in your lxd.log, do you see:
[code]

LXD currently looks for `lxd-agent` in $PATH and it's recommended for it to be a static binary as otherwise it will fail on various distros due to libc mismatch.

[2021-06-07 13:31] stgraber commented on #7079
Most likely some kind of in-kernel reference. Probably worth retrying after a while to see if it resolved, if not, the fact that it's not present in your mount table at all suggests a zfs bug so a reboot is pretty much the only way out of that.

Looking at a diff from LXD 4.8 to 4.14 I'm not seeing any real change to our mount logic. We still call `zfs mount` and `zfs unmount`. There have been som

[2021-06-07 13:33] tomponline commented on #8861
Looking into this now, I think we can do a better/safer job here.

[2021-06-07 13:40] stgraber commented on #8863
@cyphar https://github.com/lxc/lxd/pull/8866 should get you a `make build` target which doesn't call get.

[2021-06-07 14:10] Kramerican commented on #7079
Hmm ok that's unfortunate. One thing to note is that immediately after issuing the `lxc start`  after having killed the mounts with nsenter I again see mounts in proc

So it's as if LXD is getting partway - or maybe all the way - but then thinking there's a mount hanging anyway, if that makes sense.

I'll keep an eye on this, reboot when able, do more tests etc. and report back here what I find.

[2021-06-07 14:33] stgraber commented on #7079
Maybe some of this rings a bell with @tomponline but in general, ZFS just doesn't really do well with namespaces, so I wouldn't put it past the zfs tool from setting up the mounts and then freaking out with an error ;)

[2021-06-07 16:25] tomponline commented on #7079
@Kramerican yeah if you can get a reproducer after a fresh reboot that would be interesting.

Also first thing to check is if the mount is removed after doing `lxc stop` from snap's mount namespace, before starting to recreate the ZFS volume.

[2021-06-08 03:16] ihanick opened #8870 "network - network.c:__netdev_configure_container_common:1270 - No such device - Failed to retrieve ifindex for network device with name eth0"
# Required information

 * Distribution: Fedora
 * Distribution version: 34
 * The output of "lxc info" or if that fails:
[code]

# Issue description

Can't start containers after snap refresh: network - network.c:__netdev_configure_container_common:1270 - No such device - Failed to retrieve ifindex for network device with name eth0

# Steps to reproduce

 1. `lxc launch --profile ihanick images:c

[2021-06-08 03:19] stgraber commented on #8870
Can you show your output of `snap list` as well as `lxc config show --expanded ihanick-default`?

Also, can you do:
 - lxc config set ihanick-default raw.lxc lxc.log.level=trace
 - lxc start ihanick-default
 - lxc info --show-log ihanick-default

[2021-06-08 03:34] ihanick commented on #8870
[code]

[code]

[code]

Trace:
[code]

Works fine after:
[code]

[2021-06-08 03:39] ihanick commented on #8870
corresponding logs (successful startup after downgrade to 4.14)
[code]

[2021-06-08 04:25] stgraber commented on #8870
Can you show the content of `/var/snap/lxd/common/lxd/logs/ihanick-default/lxc.conf` on 4.14 and 4.15?

[2021-06-08 05:48] ihanick commented on #8870
4.15
[code]
4.14
[code]

Diff:
[code]

[2021-06-08 07:59] tomponline commented on #7079
@Kramerican sorry, to be clear, I meant check the mount is removed from the snap's mount namespace after initiating a `lxc stop` from the normal namespace.

[2021-06-08 08:01] Kramerican commented on #7079
@tomponline Oh I see, yes that makes sense.

I cannot do this at the moment, but the first maintenance window I can justify sneaking in there I'll be trying that as well as rebooting the host in question and do further tests. I have no clue when exactly that will be possible so feel free to close this issue in the meantime if you want.

Thanks :)

[2021-06-08 08:10] #7079 closed

[2021-06-08 15:09] stgraber commented on #8870
The change in 8871 should take care of this, cherry-picking to snap now.

[2021-06-08 15:09] #8870 closed

[2021-06-08 15:44] jadjay commented on #8763
Thanks it's working since tonight !!!

[2021-06-08 22:57] #8861 closed

[2021-06-09 11:42] ddstreet commented on #8718
Also if you have hdparm and sdparm installed on the system, you can use those to get the rotational rate, since they support all parts of the ata (hdparm) or scsi (sdparm) protocols, e.g.:

For ATA drives, using the standard rotation rate field in the normal inquiry data:
$ sudo hdparm -I /dev/sde | grep 'Rotation Rate'
	Nominal Media Rotation Rate: 5400

For SCSI drives, using the older (obsolete

[2021-06-09 12:31] stgraber commented on #8718
hdparm/sdparm both issue ioctl to the disk so won't typically work unprivileged and rely on the drive controller answering making them costly calls that could hang should the drive be busy or in a bad state.

Given how often the resource API logic may be called, it's something we'd like to avoid doing.

[2021-06-09 19:04] trombonebuster commented on #8246
Hi, I'm having a problem with lxd not assigning ipv4 or ipv6 to my containers as well. I'm getting this error in the lxd.log -` Failed enabling VLAN filtering on bridge \"lxdbr0\": open /sys/class/net/lxdbr0/bridge/vlan_filtering: permission denied`.
Does anyone know how to fix this?
![Screenshot from 2021-06-09 14-03-39](https://user-images.githubusercontent.com/69058128/121413668-8958b180-c92b-1

[2021-06-09 19:09] trombonebuster opened #8878 "IP address not being assigned to containers"
Lxd isn't assigning IPv4 or IPv6 to my containers. When I look at lxd.log, I get the following error - `Failed enabling VLAN filtering on bridge \"lxdbr0\": open /sys/class/net/lxdbr0/bridge/vlan_filtering: permission denied`
![Screenshot from 2021-06-09 14-03-39](https://user-images.githubusercontent.com/69058128/121414533-5a8f0b00-c92c-11eb-932a-41212d7c1c00.png)

[2021-06-09 19:47] stgraber commented on #8878
What LXD version is that, on what distribution, with what kernel?

We normally like issues to follow the template that Github shows you so we don't need to ask all of those questions ;)

[2021-06-09 20:32] trombonebuster commented on #8878
# Required information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   root@B020121-fc102f4:~# lxc info
config: {}
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices
- https_allowed_credentials
- image_com

[2021-06-09 20:38] trombonebuster commented on #8878
I'm able to get an ipv4 address temporarily if I run `lxc config device add test  eth0 nic name=eth0 nictype=bridged parent=lxbr0`, but if the container is restarted, i lose the ipv4

[2021-06-09 20:55] stgraber commented on #8878
What Linux distribution and release is this?

Your kernel is showing as 4.4.154 and the reported distro is Ubuntu 18.04, but that seems quite unlikely as this isn't a kernel that ever shipped with Ubuntu 18.04 so that reported distro may just be the snap not knowing any better.

[2021-06-09 21:02] trombonebuster commented on #8878
I actually just solved the problem. I forgot to restart after setting security.privileged true. I'm having a whole new issue now and that's that the docker service won't run inside the container even with security.nesting set to true.

[2021-06-11 03:03] stgraber commented on #3391
Easiest may be a systemd unit like this one:
[code]

Put that in a file in `/etc/systemd/system` and then `systemctl enable NAME.service` and every time lxdbr0 gets created, the unit should start. It's also set to start after systemd-resolved to avoid that potential race too.

(Completely untested but based on something I've had to do for another service)

[2021-06-11 16:08] jgneff commented on #3391
Thank you, Stéphane. It works! I can't imagine how long this would have taken me to figure out on my own. I only had to change `systemd-resolved` to `systemd-resolved.service` in the `After=` line. I also changed the `ExecStartPre=` key to `ExecStart=` so the two commands would line up. The `man systemd.service` section on `ExecStart=` states, "When `Type=oneshot` is used, zero or more commands ma

[2021-06-11 16:45] stgraber commented on #3391
Excellent, I'm sure it will be useful to some other folks!

[2021-06-11 17:10] jgneff commented on #3391
It would be great to have this solution documented in the section "Integration with systemd-resolved" on the LXD [Network configuration](https://linuxcontainers.org/lxd/docs/master/networks.html) page. Before Ubuntu switched to `systemd-resolved`, it was easy to get this working by adding just one line to your local `dnsmasq` configuration in `/etc/NetworkManager/dnsmasq.d/local.conf`:

[code]

No

[2021-06-11 17:50] stgraber commented on #3391
Indeed. @tomponline want to update that part of the doc?

[2021-06-11 18:05] tomponline commented on #3391
Will do.

[2021-06-14 17:52] #7477 closed

[2021-06-14 21:24] #8847 closed

[2021-06-14 23:34] presztak commented on #8859
@stgraber Can I be assign to this one?

[2021-06-14 23:35] presztak commented on #8857
@stgraber Can I take also this?

[2021-06-14 23:36] stgraber commented on #8859
Of course, done!

[2021-06-14 23:36] stgraber commented on #8857
Of course, done!

[2021-06-15 18:23] epsilon-0 opened #8896 "limits.cpu does not apply with cgroupsV2 on Gentoo"
# Required information

 * Distribution: Gentoo Linux
 * Distribution version: latest
 * The output of "lxc info" or if that fails:
<details><summary> lxc --info </summary>

[code]
</details>
# Issue description

When cgroups v2 is enabled on Gentoo the limits.cpu config set does not apply.

# Steps to reproduce

To reproduce error when cgroups v2 is enabled
[code]

When cgroups v1 is enabled (in

[2021-06-15 18:29] epsilon-0 commented on #8896
Information from `lxc monitor`
[code]

[2021-06-15 22:17] stgraber commented on #8896
Anything useful in `/var/lib/lxd/logs/lxd.log`?

We have automated testing to validate that `limits.cpu` works on cgroup2: https://jenkins.linuxcontainers.org/job/lxd-test-cgroup/kernel=cgroup2,restrict=master/335/console

So given your error above, it suggests that `/sys/fs/cgroup` may be missing the `cpuset.cpus` file?

[2021-06-15 23:12] stgraber commented on #8878
@trombonebuster any more details on what's causing docker to fail?

We actually have daily tests for docker in LXD containers so AFAICT there's nothing obviously broken:
https://jenkins.linuxcontainers.org/job/lxd-test-docker/

[2021-06-15 23:13] stgraber commented on #8863
Closing as we've added that target which should make building the binary a bit easier in such cases.

[2021-06-15 23:13] #8863 closed

[2021-06-15 23:39] epsilon-0 commented on #8896
The logs directory above does not exist, but you are correct, the `/sys/fs/cgroup/cpuset.cpus` file does not exist
[code]

Not sure what is the method for creating that file.

[2021-06-15 23:44] stgraber commented on #8896
Does the file existing in sub-directories of /sys/fs/cgroup?

[2021-06-15 23:51] epsilon-0 commented on #8896
Yes, a lot of these files exist
[code]

[2021-06-15 23:57] epsilon-0 commented on #8896
This is interesting, if I manually set cpus for gentoo-coding, I get the correct result -
[code]

[2021-06-16 01:05] trombonebuster commented on #8878
Sorry for taking so long to get back to you. I found a fix shortly after talking to you last. I had to do the following to get docker running in the container:
`               apt-get install -y cgroupfs-mount
                service docker stop
		service containerd stop
		cgroupfs-umount
		cgroupfs-mount
		service containerd start
		service docker start`

We suspect our issues with lxd have been

[2021-06-16 01:39] stgraber commented on #8896
Yeah, LXD doesn't get that far as it's tripping on getting the root cpuset.

I'll need to check what's different in our test environment.

[2021-06-16 02:20] stgraber commented on #8878
What are you running in that container as far as distro?
Normally anything that's systemd based will not need cgroupfs-mount but maybe you're using something different?

[2021-06-16 03:04] stgraber commented on #8896
I'm unable to reproduce the issue :(

Looking at our logic here, we'd normally parse:
 - /sys/fs/cgroup/cpuset.cpus.effective
 - /sys/fs/cgroup/cpuset.cpus

Then you get the error if neither of them are found or can be read.

So this seems to suggest that there was some kind of issue reading `/sys/fs/cgroup/cpuset.cpus.effective` on your system.

[2021-06-16 03:05] stgraber commented on #8896
[code]

[2021-06-16 13:33] epsilon-0 commented on #8896
My `cpuset.cpus.effective` file seems to be there and also gives out correct results.
[code]
Am not sure why the limits.cpu is giving out the error still.

[2021-06-16 13:49] stgraber commented on #8896
Can you `strace -f -o debug -p PID` your LXD process (replacing PID with the right value) while triggering another change of limits.cpu?

Then ctrl+c and hopefully the debug file will include some stuff about cpuset.cpus.effective

[2021-06-16 14:54] jamielsharief opened #8899 "QEMU dependency check for creating VMs"
I was trying to check to see if a host supports virtual machines or not using the HOST API call, on the host in a parallels VM it still reports QEMU and virtual-machine despite it not going to work. Can we added some validation here and some way to identify properly if this is supported.

[code]

[2021-06-16 14:57] stgraber commented on #8899
Yeah, we can probably look for /dev/kvm which is pretty much what qemu seems to hit.

[2021-06-16 14:58] stgraber commented on #8896
That won't do you any good, we need to trace the daemon. `lxc` just sends a request over the network (unix socket) to LXD, it doesn't itself do anything with the system.

[2021-06-16 15:01] stgraber commented on #8899
@tomponline want to take care of this one? We probably want the driver info check to validate /dev/kvm and make sure we don't allow using VMs if we don't have a functional qemu (we may already have that check in place).

[2021-06-16 15:04] tomponline commented on #8899
@stgraber will do

[2021-06-16 15:14] jamielsharief commented on #8899
On the subject of validation, one thing would be really great, when copying instances to different servers or restoring a backup from a tar.gz (if i remember correctly), a quick check of the free space available prior to carrying out the operation, the amount of times things gone horribly wrong because the free space available was less than needed despite having more than sufficient storage.

[2021-06-16 15:19] epsilon-0 commented on #8896
OK, here is the strace when I run it on the `[lxc monitor] /var/lib/lxd/containers alpine` process with PID 3590 -
[code]

[2021-06-16 15:26] tomponline commented on #8899
Its best not to conflate issues as when this one gets closed so will the discussion. Please can you open a new issue or forum post at https://discuss.linuxcontainers.org/. Thanks

[2021-06-16 15:35] jamielsharief commented on #8899
Sorry

[2021-06-16 15:41] jamielsharief opened #8900 "Checking temp disk space before operations"
Various times during a copy of an instance  and I think restoring from tar backup, things broke when there was not enough temporary disk space but there was enough storage in the pool.

I was wondering if a quick check can be carried out before the operation starts. This affects any user
trying to copy data between servers or restore data to a server, in particular when working with large instance

[2021-06-16 16:14] stgraber commented on #8900
That's somewhat unlikely. The LXD server receives the data through http streaming which doesn't provide us with the final size. We also usually pass that stream directly through the unpacker which again can't tell us the final uncompressed size ahead of time.

We need to do that to avoid having to hold the entire thing in memory which would be even worse :)

[2021-06-16 16:17] stgraber commented on #8896
That's not the right process, you need to run it against the LXD daemon itself.

[2021-06-16 16:26] tomponline commented on #8900
See https://discuss.linuxcontainers.org/t/issues-with-export-io-read-write-on-closed-pipe/11304/5?u=tomp for using a separate storage volume on a pool for temporary usage.

[2021-06-16 16:30] stgraber commented on #8900
Right, it's also worth noting that LXD doesn't actually use /tmp but instead creates the temporary files within their associated directories, so if you configure storage.backups_volume and storage.images_volume, then it will entirely rely on your storage pools.

[2021-06-16 16:44] tomponline commented on #8899
No worries :)

[2021-06-16 17:18] epsilon-0 commented on #8896
I presume you mean the process `lxd --group lxd --syslog`. I don't get anything (no output) even when I attach to it and run the commands. It just stands still at
[code]

[2021-06-16 17:44] stgraber commented on #8896
Did you pass `-f` to strace?

[2021-06-16 18:00] stgraber commented on #8896
Hmm, it's odd that it's not showing any `cpuset` entry in there, you'd expect such an entry to show up when the corresponding log entry shows up.

[2021-06-16 18:02] turtle0x1 opened #8902 "Duplicate warnings"
Ive some how ended up in the spot where I have duplicate warnings, this might be a problem if continues to grow in the background

version 4.15

[code]

[2021-06-16 18:06] monstermunchkin commented on #8902
Is this a clustered environment?

[2021-06-16 18:09] turtle0x1 commented on #8902
Nope

[2021-06-16 18:18] monstermunchkin commented on #8902
There was a code change around June 2nd which resulted in "none" being displayed instead of an empty string. This is a bug, as it needs to display an empty string in non-clustered environments.

[2021-06-16 18:45] tomponline commented on #8902
@monstermunchkin I'm on my phone so haven't been able to review this in detail, but are you proposing rolling back that change? I'd be keen not to so we don't start storing node name inconsistently between different tables in the db. Perhaps a patch to fix historical problem rows might be a solution?

[2021-06-16 18:56] monstermunchkin commented on #8902
@tomponline No, the change will not be reverted. I've just looked at the `lxc ls` command which only displays the location in a clustered environment. We should do the same for `lxc warnings`. Also, having `none` as the location in non-clustered environments is fine.

What we could do is write a patch which removes all entries which have an empty location.

Also, is there any reason we don't clear

[2021-06-16 19:13] stgraber commented on #8902
We don't clear all warnings on shutdown because some things keep running (networks, instances, ...) even though LXD itself is being shutdown for restart.

[2021-06-17 06:18] esosan opened #8904 "LVM storage problem - all container stopped"
# Required information

 * Distribution: ubuntu
 * Distribution version: 18.04.4
 * The output of "lxc info" or if that fails:
   * Kernel version:4.15.0-144-generic
   * LXC version: 4.15
   * LXD version: 4.15
   * Storage backend in use: LVM (xfs/no thinpool)

# Issue description

All Containers doesn't start anymore. Seems to be a LVM problem. But all PVS and VGS are present

[code]

[2021-06-17 08:15] tomponline commented on #8904
Closing in place of https://discuss.linuxcontainers.org/t/lvm-storage-problem-all-container-stopped-and-doesnt-start-anymore/11358, support issues are better handled on the forum. Thanks.

[2021-06-17 08:41] tomponline commented on #8902
@monstermunchkin ok thanks for the clarification.

So are we thinking that @turtle0x1 has an old warning from before we started populating the non-clustered node name with "none", which means the system now has both the old and current duplicate warnings.

Don't we delete warnings on start up, in that case, won't a reload of lxd clear the warnings and only the current warnings will get recreated?

[2021-06-17 08:42] tomponline commented on #8902
Makes sense, but does that just "paper over" the issue of the duplicate warnings?

[2021-06-17 09:09] geodb27 opened #8905 "dnsmask process exited prematurely if raw.dnsmasq auth-zone set when using core20 snap"
Hi,

 * Distribution: Ubuntu
 * Distribution version: 18.04.5 LTS (Bionic Beaver)
 * The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-112-generic
   * LXC version: 4.15
   * LXD version: 4.15
   * Storage backend in use: ceph

There might have been an update that broke the dnsmasq binary that is provided by the last lxd snap.
The 'snap start lxd' emits the following error :
l

[2021-06-17 09:14] tomponline commented on #8905
Hi, sorry to hear this.

Can you show me the output of `lxc network show lxdbr0` please?

[2021-06-17 09:18] killua-eu opened #8906 "Containers stopped getting an ip address"
# Required information

 * Distribution: ubuntu (on azure)
 * Distribution version: "20.04.2 LTS (Focal Fossa)"
 * The output of "lxc info" or if that fails:

[code]

# Issue description

Logged into the host to see all containers without an IP

[code]

restarted the VM, didn't help. The dmesg has

[code]

[2021-06-17 09:20] geodb27 commented on #8905
Sure, here it is :

config:
  dns.mode: managed
  dns.search: localdomain
  ipv4.address: 192.168.220.250/24
  ipv4.nat: "true"
  ipv6.address: none
  raw.dnsmasq: |
    auth-zone=lxd
    dns-loop-detect
description: ""
name: lxdbr0
type: bridge
used_by:
(snip, contaier list)
managed: true
status: Created
locations:
- lxd1-1
- lxd1-2
- lxd1-3
-

[2021-06-17 09:23] tomponline commented on #8904
Reopening as after discussion on https://discuss.linuxcontainers.org/t/lvm-storage-problem-all-container-stopped-and-doesnt-start-anymore/11358 it seems that enabling:

[code]

Fixes the LVM issue, but it should not be required. Suggesting a core20 snap issue.

Also related to https://github.com/lxc/lxd/issues/8905

[2021-06-17 09:27] monstermunchkin commented on #8902
Exactly.

Apparently not. I guess we should clear some warnings though, e.g. the cgroup warnings.

[2021-06-17 09:30] tomponline commented on #8902
Right got you.

It feels like this part https://github.com/lxc/lxd/blob/master/lxd/daemon.go#L1273-L1294 is not clearing the duplicates because it does a comparison on warning type code (and the warning with the none node name is then allowing the warning with the empty node name to remain because their type codes match).

[2021-06-17 09:31] tomponline commented on #8902
@monstermunchkin probably a manual `lxd sql` command to remove the dupes in this case would suffice, as it shouldn't happen again in the future.

[2021-06-17 09:42] monstermunchkin commented on #8902
The manual command would be:

`lxd sql global 'delete from warnings where node_id is null'`

We probably should write a patch for that as most users will have duplicate warnings.

[2021-06-17 09:48] tomponline commented on #8905
Can you try this:

[code]

[2021-06-17 09:52] esosan commented on #8905
Usage: dnsmasq [options]

Valid options are:
-a, --listen-address=<ipaddr>                          Specify local address(es) to listen on.
-A, --address=/<domain>/<ipaddr>                       Return ipaddr for all hosts in specified domains.
[...]

[2021-06-17 09:52] geodb27 commented on #8905
This seems to work. At least, it don't raise any error. I get the help from the dnsmasq process.

[2021-06-17 09:54] tomponline commented on #8905
@geodb27 does using the same approach allow you to start the dnsmasq process using the full command you originally posted?

[2021-06-17 09:55] tomponline commented on #8904
@esosan please can you switch back to the snap's LVM tools using:

[code]

And then check your back in a situation where the containers dont start with the error "Cannot process volume group pool_0"

Then can you run:

[code]

[2021-06-17 09:58] esosan commented on #8904
`LD_LIBRARY_PATH=/snap/lxd/current/lib/:/snap/lxd/current/lib/x86_64-linux-gnu/ /snap/lxd/current/bin/lvs
  LV             VG Attr       LSize   Pool Origin Data%  Meta%  Move Log Cpy%Sync Convert
  home           vg -wi-ao---- <19.53g
  lxc_pool00     vg -wi-ao----  60.00g
  lxc_pool01     vg -wi-ao----  20.00g
  lxc_poolOC00   vg -wi-ao---- 220.00g
  lxc_pooldata00 vg -wi-ao----  50.00g
  lxc_po

[2021-06-17 09:59] geodb27 commented on #8905
this seems to work, provided I don't get out of the nsenter. I'm giving it a chance...

[2021-06-17 10:02] tomponline commented on #8904
Interesting, can you do the same but run `vgs` instead.

[2021-06-17 10:03] esosan commented on #8904
bash: vgs: command not found

(when I return to lvm.external=false the containers continue to be RUNNING.)

[2021-06-17 10:04] tomponline commented on #8904
I meant like this:

[code]

[2021-06-17 10:06] esosan commented on #8904
[code]

[2021-06-17 10:07] tomponline commented on #8904
OK looks your sudo isnt happy.

Try this:

[code]

[2021-06-17 10:08] esosan commented on #8904
[code]

[2021-06-17 10:12] tomponline commented on #8904
OK so there's the problem then, inside the snap, your pool_0 pool volume group isn't being detected.

I suspect this is due to a change in the lvm tooling in the core20 base snap that is for some reason not doing a scan of available pools when we run the lvs or vgs commands. We may need to look at modifying the command we run or use a custom config file inside the snap. For now using the external

[2021-06-17 10:16] esosan commented on #8904
ok, great. If you need further testing, I am of course available!

[2021-06-17 10:21] jamielsharief commented on #8900
Fair enough with the restore from tar.gz as there is no way to know before hand the size that the person is sending. I was just finally submitting some ideas that been there for a while.

I have just lost the whole morning trying to demonstrate what happens when the remote host runs out of space, i ended up running out space locally and LXD fell on its feet and i was not sure what was happening, e

[2021-06-17 10:26] tomponline commented on #8900
Can you show the API request you make and the error it returns please?

[2021-06-17 10:27] geodb27 commented on #8905
I've dropped the --keep-in-foreground and was able to launch dnsmasq, quit the namespace and launch all my containers.
So, this solves the problem, but is not reliable at the moment...
Anyway, thanks for your help, I wish this bug will be corrected soon.

[2021-06-17 10:30] jamielsharief commented on #8900
Note. the LXD copy command get stuck, not sure i was clear on that. You can see its still running yet the zfs pool temp data was cleared.

![image](https://user-images.githubusercontent.com/20553479/122380020-b9c1d080-cf67-11eb-9bc6-eaac68876be0.png)

[2021-06-17 10:31] tomponline commented on #8905
@geodb27 @esosan if you unset `raw.dnsmasq` using `lxc network unset lxdbr0 raw.dnsmasq` does dnsmasq then start for you?

Ofc kill the existing manually started process first if you have started it.

[2021-06-17 10:33] jamielsharief commented on #8900
Hmm. I just saw that C1 container is on the `small` server despite the zpool being cleared up, I am presuming this is an empty database entry?

[2021-06-17 10:34] tomponline commented on #8900
OK so to summarise:

1. `lxc copy` command gets stuck if copying to a ZFS pool with insufficient space.
2. No error is returned from API?
3. Space is cleaned up but container record is left behind (presumably because the operation has hung)?

[2021-06-17 10:37] jamielsharief commented on #8900
1. Yes.
2. I get an error from the API when i copy.
3. Yes.

[2021-06-17 10:37] tomponline commented on #8900
@jamielsharief ok what error for 2?

[2021-06-17 10:38] jamielsharief commented on #8900
[code]

Response
[code]

[2021-06-17 10:39] tomponline commented on #8900
Excellent thank you.

[2021-06-17 10:39] esosan commented on #8905
now the instances have an IP!!

[2021-06-17 10:40] tomponline commented on #8900
@jamielsharief and does the container record get left behind when using the API when you get an error? Or is this only with the `lxc copy` command?

[2021-06-17 10:41] tomponline commented on #8905
OK so we're narrowing it down, its something to do with `raw.dnsmasq` either because a specific setting in dnsmasq is preventing it from starting, or perhaps because when that option is used we have to disable the apparmor profile (as the user may reference resources outside of the allowed profile), and perhaps this is causing the issue.

[2021-06-17 10:41] jamielsharief commented on #8900
Excellent question, interestingly it did not.

![image](https://user-images.githubusercontent.com/20553479/122381434-373a1080-cf69-11eb-93ab-08f4b66ec6d6.png)

[2021-06-17 10:43] tomponline commented on #8900
@jamielsharief ok cool thanks so we have 2 issues:

1. API not cleaning up instance DB record during a copy failure.
2. `lxc copy` command sometimes hanging if the operation fails.

[2021-06-17 10:46] jamielsharief commented on #8900
Should the `lxc config device set c3 root size 20GB` fail if the amount is larger than free space?

[2021-06-17 10:47] tomponline commented on #8900
Depends on storage driver, if it is a filesystem volume and the storage pool allows overcommitment then no.

[2021-06-17 10:50] jamielsharief commented on #8900
Obviously we need overcommitment, but I dont know, setting it a value higher than what is available is problematic. I have been here since 8 this morning, trying to write some examples of issues caused, and things just stopped working, and i had no idea what was going on. Food for thought.

[2021-06-17 10:51] esosan commented on #8905
btw, not all instances have acquired an ip4 (only the ip6), but after restarting the instance the right ip it's assigned

[2021-06-17 10:52] tomponline commented on #8900
Thats kind of the definition of overcommitment. If the storage driver allows it we allow it.

[2021-06-17 10:53] tomponline commented on #8905
@esosan yes it probably needed the instances to be restarted to make a DHCP request again to get IPv4, whereas IPv6 are broadcasted using RA.

[2021-06-17 10:58] jamielsharief commented on #8900
All I was trying to say, is i should not be able to set 100GB for the container, if there is only 50GB, which is different to creating 2x containers with a max of 50GB.

[2021-06-17 10:59] tomponline commented on #8900
I'm not following you im afraid.

[2021-06-17 11:02] jamielsharief commented on #8900
For example.

The host system has 20GB free disk space.

I can run these commands no problems, for me, this is overcommitment and it is fine

[code]

however this should fail, as there is never 30GB to begin with, there is only 20GB.
[code]

[2021-06-17 11:02] Deradon commented on #8906
Can confirm. Suddenly containers stopped getting IPs.
`lxd` installed on host via snap.

Working Revision: 20684
Broken Revision: 20760

## Workaround: `snap revert lxd`

After reverting `lxd` via snap to the previous Revision containers getting IPs again.

[code]

[2021-06-17 11:04] tomponline commented on #8900
That may be true in your case, but some people might want to allocate a quota larger than the pool size and then will monitor the pool size and grow it by adding additional storage in the future as it is actually used up.

[2021-06-17 11:05] tomponline commented on #8906
Can you check https://github.com/lxc/lxd/issues/8905#issuecomment-863126071 and see if it helps.

[2021-06-17 11:06] tomponline commented on #8906
Can you show output of `lxc network show <network>` (e.g. `lxc network show lxdbr0`)

[2021-06-17 11:10] jamielsharief commented on #8900
If you ask me that is just asking for trouble. This is exactly what happened to me this morning, LXD jsut stoped working, could not  create instances, commands to do things stopped functioning or had no effect, operations got stuck - and i had no clue why this was happening.

[2021-06-17 11:15] tomponline commented on #8900
Yes I've seen that with LVM too, that I/O operations just hang when you run out of space. There's a setting you can change in LVM to stop that happening and return I/O errors instead which would stop the hanging at least.

You would get into the same situation if those 3 containers you mention above used a combined amount that exceeded the space available, or if the single larger container used en

[2021-06-17 11:19] jamielsharief commented on #8900
I don't have the understanding or experience that you have, i am just looking at it some a user point of view.

For me this just does not seem right and will create instability issues and problems in the future.

![image](https://user-images.githubusercontent.com/20553479/122386838-8f274600-cf6e-11eb-84be-01778b322a66.png)

[2021-06-17 11:21] tomponline commented on #8905
Found the problem. Its the `auth-zone=lxd` setting:

`dnsmasq: --auth-server required when an auth zone is defined.`

I'll see if we can find a way to surface that error better.

[2021-06-17 11:23] jadjay commented on #8905
Hello I can confirme this

Try unset the auth-zone line, it is what make dnsmasq block

[2021-06-17 11:35] loxK commented on #8905
Hello, I can confirm too. But after unsetting `raw.dnsmasq`, I only get IPv6. I rebooted the host, but still, no IPv4.

It was working properly before I rebooted the host earlier today.

[2021-06-17 11:41] morphis opened #8909 "AppArmor profile is not created for initialized but not started containers"
# Required information

 * Distribution: Ubuntu
 * Distribution version: Ubuntu 20.04
 * The output of "lxc info" or if that fails:

[code]

This is on an amd64 system which got a snap refresh this morning to `installed:          4.15                   (20760) 69MB -`

# Issue description

When initializing a container (but  not starting it) setting `security.nesting` fails with an apparmor_parser

[2021-06-17 11:48] tomponline commented on #8905
Make sure its not a docker related firewall issue like https://discuss.linuxcontainers.org/t/containers-suddenly-stopped-working-no-more-ips-assigned/11360/19

[2021-06-17 11:58] geodb27 commented on #8905
The point would be to make the link between raw.dnsmasq, apparmor and the requirement for libnettle.so.7 ?
As for me, my lxd clusters are setup on "pure" ubuntu-18.04 virtual machines. Docker is not involved at any point in the process.
My setup was made for the dnsmasq respond to anything like instance.lxd and forward the rest to our dns servers.
So, to have dnsmasq run after the nsenter, I had t

[2021-06-17 12:12] #8902 closed

[2021-06-17 12:13] loxK commented on #8905
Thanks, I use ufw and I had to `ufw allow in on lxdbr0`. So all good now. but I don't get why it was working before I rebooted that box earlier today.

[2021-06-17 12:16] tomponline commented on #8905
@loxK most likely because in modifying the lxdbr0 network's `raw.dnsmasq` setting this would have caused LXD to remove and re-add its firewall rules, potentially changing the order of the rules in relation to another ruleset that is normally added after LXD has started.

[2021-06-17 12:23] tomponline commented on #8905
I think the libnettle thing is not the issue here. The command originally run to get that error would have always failed because `LD_LIBRARY_PATH=/snap/lxd/current/lib/:/snap/lxd/current/lib/x86_64-linux-gnu/` environment var was not set.

This should work:

[code]

The AppArmor thing doesn't appear to be related either, no evidence of that now that we have seen that it is possible to start dnsmas

[2021-06-17 12:29] tomponline commented on #8909
Confirmed reproduced.

[2021-06-17 12:47] tomponline commented on #8909
Ah so the apparmor profile is only generated on start, so if its never been started it wont be there.

I'm not sure why we only generated the profile on start though... @stgraber do you know?

[2021-06-17 12:50] tomponline commented on #8909
@stgraber interesting `apparmor.InstanceParse(d.state, d)` is only called in one place, from `lxc.Update()` and not in `qemu.Update()` so it seems like we could do with standardising the apparmor profile management approach across instance types too.

The `lxc.Update()` command will call `apparmor.InstanceLoad(d.state, d)` if the container is running and the `security.nesting` or `raw.apparmor` se

[2021-06-17 12:51] stgraber commented on #8909
We only need the profile on start so we don't spend the time generating it before that. The binary profile itself may differ based on apparmor or kernel version so doing it at creation time may end up being a waste of time.

I'm a bit confused as to how this only started being a problem now though.

[2021-06-17 12:52] tomponline commented on #8909
I'm pretty sure that the check with `apparmor.InstanceParse(d.state, d)` isn't doing anything anyway, as it will be checking the old apparmor profile (if it exists) not the new one, so its not doing validation of the modified `raw.apparmor` setting anyway.

[2021-06-17 12:53] tomponline commented on #8909
@stgraber perhaps nobody has initialised and not started a container and then enabled nesting via an update before first boot.

After first boot, the profile will exist, so will parse validation (even though its not actually validating future changes).

[2021-06-17 12:54] stgraber commented on #8909
So that are a few things with update:
 - If raw.apparmor changes we want to generate it again, regardless of whether the instance is running. That's to validate the user input.
 - If running and raw.apparmor or security.nesting is changed, then we need it regenerated and reloaded.

[2021-06-17 12:59] tomponline commented on #8909
@stgraber the `apparmor.InstanceLoad(d.state, d)` function seems to rebuild the apparmor profile from the instance config, so I assume that is what we need to be calling when the `raw.apparmor` or `security.nesting` settings are changed. I presume this will also end up validating the profile as a side effect so we don't need to call `apparmor.InstanceParse(d.state, d)` at all.

However there's a w

[2021-06-17 13:10] stgraber commented on #8909
Well, it's more that we shouldn't load it if not running.

LXD loads the profiles in the kernel on start and unloads on stop.

We should rely on Parse for validation and only do Load if we need the running profile updated in the kernel.

[2021-06-17 13:30] stgraber commented on #8909
Ah yeah, we definitely need Parse to generate the profile or if that's too weird, have a separate Validate which does that.

[2021-06-17 14:00] tomponline opened #8912 "Validate instance config on a per-instance-type basis"
Currently both container and VM config is validated via `instance.ValidConfig()` which doesn't apply instance type specific validation.

As such it is possible to set container-only config keys on a VM, e.g. `lxc config set v1 security.nesting=true`.

[2021-06-17 14:19] stgraber commented on #8912
Ah yeah, we should fix that. The only case where we need this to still succeed is when it comes from a profile as profiles can be shared.

[2021-06-17 14:51] stgraber commented on #8904
@esosan can you show the `lxc storage show NAME` output for your pool?

[2021-06-17 14:53] #8909 closed

[2021-06-17 14:58] tomponline commented on #8904
@stgraber its in the forum post:

[code]

[2021-06-17 15:19] tomponline commented on #8904
@esosan please can you show the output of:

[code]

[2021-06-17 15:30] tomponline commented on #8904
@stgraber I'm wondering if the OP's volume group is on a device that is not scanned by default in the snap's lvm.conf config, but is from the host's config.

[2021-06-17 15:31] tomponline commented on #8904
@esosan can you post contents of `/etc/lvm/lvm.conf` too please

[2021-06-17 15:33] esosan commented on #8904
sudo pvs # on the host

[code]

sudo nsenter --mount=/run/snapd/ns/lxd.mnt -- bash
pvs # inside the snap
`bash: pvs: command not found`

[2021-06-17 15:34] tomponline commented on #8904
@esosan sorry I meant:

[code]

I can't get used to these unfamiliar snap locations. :)

[2021-06-17 15:35] esosan commented on #8904
no problem!

`/snap/lxd/current/bin/pvs: error while loading shared libraries: libdevmapper-event.so.1.02.1: cannot open shared object file: No such file or directory`

[2021-06-17 15:36] tomponline commented on #8904
Third times the charm!

[code]

[2021-06-17 15:36] esosan commented on #8904
[code]

[2021-06-17 15:38] esosan commented on #8904
tell me when I can restore my containers by resetting lvm.external=true

[2021-06-17 15:39] tomponline commented on #8904
@esosan so you `pool_0` vg inside a volume group `vg` on  /dev/md5  ?

[2021-06-17 15:41] esosan commented on #8904
yes, they are nested.  is the only solution with the hosting I use (not very elegant)...

[2021-06-17 15:41] #8905 closed

[2021-06-17 15:42] tomponline commented on #8904
@esosan so are `/dev/vg/lxc_pool00` and `/dev/vg/lxc_pool01` volume groups or logical volumes?

[2021-06-17 15:43] tomponline commented on #8904
@stgraber in that case the problem is likely that by default `/etc/lvm/lvm.conf` contains `scan_lvs = 0`

[code]

[2021-06-17 15:45] tomponline commented on #8904
@esosan I suspect in your setup we would prefer you to use `lvm.external=true`, rather than incurring the performance penalty for more, shall we say, "common" setups.

For completeness could you post your host's `/etc/lvm/lvm.conf` file here please.

[2021-06-17 15:46] killua-eu commented on #8906
[code]

[2021-06-17 15:47] stgraber commented on #8904
Ah, okay, then I think that particular case I'm happy to have handled through `lvm.external=true` as having the snap scan all LVs every time would get very expensive and this is enough of a corner case that needing that bit of extra config seems reasonable.

With my testing I'm reasonably confident that the more common LVM setups (loop, dedicated disk/partition and dedicated non-nested VG) are all

[2021-06-17 15:48] esosan commented on #8904
[lvm.conf.txt](https://github.com/lxc/lxd/files/6671516/lvm.conf.txt)

[2021-06-17 15:49] tomponline commented on #8906
Duplicate of https://github.com/lxc/lxd/issues/8905

You need to remove "auth-zone" from `raw.dnsmasq`.

The error is now logged since https://github.com/lxc/lxd/pull/8914

[2021-06-17 15:49] #8906 closed

[2021-06-17 15:49] esosan commented on #8904
By using lvm.external=true will I have to watch out for something in the future?

[2021-06-17 15:50] stgraber commented on #8904
Nope, should work fine so long as you don't remove the LVM tools from your host (which in your case isn't really an option since you use LVM for other things anyway).

[2021-06-17 15:51] stgraber commented on #8904
@tomponline I suspect scan_lvs wasn't a thing on 18.04 which is in use here, was introduced later and defaults to not scanning, explaining the change in behavior.

[2021-06-17 15:55] killua-eu commented on #8906
i unsetted the whole raw.dnesmaq, works. So, how do I ensure now, that I get name resolution working for containername.lxd from within containers? Without the setting, I sometinmes got .lxd and sometimes .local (if I remember correctly) in previous (2.x) versions of lxd.

[2021-06-17 15:56] tomponline commented on #8906
As the other case I linked to say, the actual dnsmasq error from core20 is:

[code]

So if you're going to use the `auth-zone` setting you'll also need to provide a `auth-server` setting.

[2021-06-17 15:59] stgraber commented on #8904
Okay, so I think we fully figured out what happened here, good!
And given that it's a corner case that we don't really want to handle by default (would slow down everyone else's experience), I don't think there's any further work to do here.

If there was a good way to public channel-specific changelogs/advisories in the snap, I'd add a node there for anyone else hitting this issue. But as that's

[2021-06-17 15:59] tomponline commented on #8904
It looks like lvm2 has flip-flopped from enabling this by default to disabling it by default a few times:

https://github.com/lvmteam/lvm2/search?q=scan_lvs&type=commits

It look like it broke the tests disabling it by default, so they disabled it in the default config in the end.

[2021-06-17 16:00] #8904 closed

[2021-06-17 16:01] tomponline commented on #8904
I added some salient keywords to the issue title to try and help that along :)

[2021-06-17 16:02] stgraber commented on #8904
Conclusion is that for anyone who's using nested LVM (VG in a LV), the change of LVM version that occurred by LXD moving from a core18 to a core20 base changed LVM's behavior to not scanning such LVs. As having LVM perform this scan every time is quite resource intensive, we don't want to alter the default LVM configuration to do it.

Instead anyone depending on such a setup should do `snap set lx

[2021-06-17 16:14] killua-eu commented on #8906
I see! So in my case,
- dns-loop-detect
- auth-server=<???>,lxdfan0
- auth-zone=lxd

what should be the auth-server in my case? localhost? or the lxdfan0 ip? something else? DNS is scary and this is a prod environment that got hit, so I'm hoping for some basic guidance before breaking things.

[2021-06-17 16:17] tomponline commented on #8906
@killua-eu I'm not sure, what was the reason you enable `auth-zone` in the first place, the "Without the setting, I sometinmes got .lxd and sometimes .local (if I remember correctly) in previous (2.x) versions of lxd." seems like it could be of date now, so might be worth trying without it.

[2021-06-17 16:19] tomponline commented on #8906
@killua-eu that would also be better from a stability point of view, as the settings in `raw.dnsmasq` are unknown and don't get tested.

[2021-06-17 16:28] killua-eu commented on #8906
Ok, last question :) Is the name-resolution tested somehow? Do the current versions provide a stable mechanism that will allow host->container and container->container name resolution?

[2021-06-17 16:30] tomponline commented on #8906
@killua-eu container->container name resolution is provided and tested as standard.

For host->container, we have recently updated our docs with such a solution using systemd-networkd on the host, see https://linuxcontainers.org/lxd/docs/master/networks##integration-with-systemd-resolved

[2021-06-17 16:58] jgneff commented on #3391
And now it's broken. :frowning_face: The two updates on the `latest/stable` channel yesterday broke the IPv4 networking entirely for me. My containers no longer get assigned an IPv4 address, just an IPv6 one. They default to a *localhost* address (127.0.0.2) internally for IPv4. All the `.lxd` host DNS resolution that we just got working fails now, too.

I completely removed the LXD 4.15 snap pack

[2021-06-17 17:01] tomponline commented on #3391
@jgneff most likely its not systemd-networkd setup but instead this issue that was preventing dnsmasq from starting when using `raw.dnsmasq` network setting, see https://github.com/lxc/lxd/issues/8905

[2021-06-17 18:02] jgneff commented on #3391
Thanks, @tomponline, but I have never set the `raw.dnsmasq` setting. In fact, the LXD `dnsmasq` process is up and running with:

`dnsmasq --keep-in-foreground --strict-order --bind-interfaces --except-interface=lo --pid-file= --no-ping --interface=lxdbr0 --dhcp-rapid-commit --quiet-dhcp --quiet-dhcp6 --quiet-ra --listen-address=10.203.206.1 --dhcp-no-override --dhcp-authoritative --dhcp-leasefile=

[2021-06-17 18:10] tomponline commented on #3391
In that case check your ststem firewall its likely some external rules are inferring with lxds dhcp server, likely caused by it refreshing and reloading causing it to clear and reorder the rules in relation to the externally added ones. Common candidates for this are docker.

[2021-06-17 18:19] jgneff commented on #3391
Okay, `sudo ufw disable` did the trick. Thank you. So it seems we need a section in the LXD documentation called, "Integration with UFW," to complement your recent update to "Integration with systemd-resolved." :smile:

I've been using a very simple UFW configuration along with LXD for years. Any hints on how to get them working together again after yesterday's update?

[2021-06-17 18:38] tomponline commented on #3391
Take a look at this https://discuss.linuxcontainers.org/t/lxd-bridge-doesnt-work-with-ipv4-and-ufw-with-nftables/10034/17
 If you can send a pull request for that it would be great if not I'll add it to my to do list.

[2021-06-17 18:38] simondeziel opened #8916 "Setting a bogus core.https_address prevents lxd from starting"
If you accidentally set a bogus core.https_address and reload the snap.lxd.daemon service, lxd won't come back preventing you from easily fixing your mistake. Here's how to reproduce:

[code]

A workaround is to mangle the local.db with:

[code]

From IRC chat:

# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * lxd version: 4.15 latest/stable (snap)

[2021-06-17 19:08] jgneff commented on #3391
Thank you very much, @tomponline. It's working perfectly again. As a bonus, the upgrade to `dnsmasq` 2.80 in the `core20` base seems to have fixed the five-second delay on first host lookup (not sure, but maybe [this bug](https://bugs.launchpad.net/ubuntu/+source/dnsmasq/+bug/1785383)).

[2021-06-17 20:43] tomponline commented on #3391
Glad that's working. This may have been the sudden cause of your issue, the snap core20 change subtly affected the cases where nftables would be used https://discuss.linuxcontainers.org/t/lxd-stopped-generating-firewall-rules-after-switch-to-core20/11367/9?u=tomp

[2021-06-17 20:55] tomponline commented on #8905
If anyone is still experiencing firewall issues after fixing dnsmasq it may be due to the snap core20 change subtly affecting the cases where nftables would be used https://discuss.linuxcontainers.org/t/lxd-stopped-generating-firewall-rules-after-switch-to-core20/11367/9?u=tomp

[2021-06-18 07:15] aqueos opened #8917 "snap refresh prevent anymore lxd shell to work"
* Distribution: ubuntu
 * Distribution version: 21.04
 * Storage backend in use: btrfs

# Issue description

hi,

 when snap refresh itself it break lxd. For exemple i was in the middle of a rsync on a tmux session logged in the shell of the guest and at the refresh time of snap it just dropped me out and i cannot login anymore :

Error: websocket: close 1006 (abnormal closure): unexpected EOF
LXD

[2021-06-18 07:23] waynegemmell commented on #3333
Politics aside. Many networks still don't support IPv6 and it's not always practical to use it as a default.

[2021-06-18 10:23] tomponline commented on #3333
You can disable IPv6 addressing on the network using:

[code]

[2021-06-18 10:50] tomponline commented on #8899
@jamielsharief what did you mean by this btw, what is "it" in this context?

[2021-06-18 11:38] jamielsharief commented on #8899
If i create a VM in Parallels desktop, I can't create virtual machines in this VM, but the info shows those drivers (I thought since it does not support then it should not show).

[2021-06-18 11:43] tomponline commented on #8899
Great thanks, I suspected it was that, but wanted to make sure.

[2021-06-18 11:48] jamielsharief commented on #8899
Can information wether the host supports KVM added to the endpoint "", this is important when migrating VMs between hosts, if the other host does not support it, then it will not run the other end, and if they did a move, then the original would have been deleted.

[2021-06-18 11:49] tomponline commented on #8899
what is "endpoint """?

[2021-06-18 11:50] jamielsharief commented on #8899
![image](https://user-images.githubusercontent.com/20553479/122556657-12629d80-d03c-11eb-9ad1-202f1c5f2105.png)

[2021-06-18 11:52] tomponline commented on #8899
@jamielsharief Ah that is endpoint `/1.0` yes, it is being addressed in PR https://github.com/lxc/lxd/pull/8919

[2021-06-18 11:53] jamielsharief commented on #8899
My bad, i saw you were making a commit, and i only saw error handling. Sorry.

[2021-06-18 11:55] tomponline commented on #8899
@jamielsharief to confirm, inside your VM you don't have a `/dev/kvm` path present right?

[2021-06-18 17:12] jamielsharief commented on #8899
Sorry for the late reply, i did not see this. Probably too late now.

![image](https://user-images.githubusercontent.com/20553479/122595642-0e994000-d069-11eb-8704-d2ba935ce8db.png)

[2021-06-18 17:31] stgraber commented on #8917
@brauner more pidfd fun looks like

[2021-06-19 09:09] skyxx opened #8921 "assigned IP changed after creation copy of container"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
  driver: qemu | lxc
  driver_version: 5.2.0 | 4.0.9
  firewall: xtables
  kernel: Linux
  kernel_architecture: x86_64
  kernel_features:
    netnsid_getifaddrs: "true"
    seccomp_listener: "true"
    seccomp_listener_continue: "true"
    shiftfs: "false"
    uevent_injecti

[2021-06-19 14:24] timlee81 commented on #8805
Simple enough workaround: I added a networkd-dispatcher routable script to stop and start each routed container.

[2021-06-19 21:08] tomponline commented on #8899
Thats good to hear, just wanted to check our assumptions about what we would need to detect for lack of KVM support.

[2021-06-20 15:05] yahbluez opened #8922 ""lxc network get lxdbr0 dns.domain" returns nothing if default value is not changed"
# Required information

 * Distribution: manjaro  x86_64, ubuntu 20.04.02  LTS aarch64

   * Kernel version: 5.11.22 + 5.4.0
   * LXC version: 4.15 + 4.0.6
   * LXD version: 4.15 + 4.0.6
   * Storage backend in use: dir btrfs

# Issue description

The cmd:

**lxc network get lxbr0 dns.domain**

returns not the default dns domain: "lxd"

If i set the dns.domain to some other value the command above

[2021-06-20 16:23] stgraber commented on #8922
This isn't a bug but is just part of how the LXD API works. The API shows you the configuration keys that you have set, not those that you've not set and are therefore using the default value.

This is a pretty common pattern in such REST API based services and not something we intend to change.

All config keys as well as their default values are included in our documentation.
https://linuxcontai

[2021-06-20 16:23] #8922 closed

[2021-06-20 18:00] jamielsharief opened #8923 "Inconsistent OS & Setting config key removes other data"
**Problem 1**
If I create an image based upon an Alpine container sending a post request to `/images`, the image OS is said to be `alpinelinux` which is inconsistent with Alpine images.

Normal image
[code]

What I get (notice OS key)
[code]

**Problem 2**
I then followed the manual and tried to manually set the OS in the post request, but  then other information such as variant, release, serial a

[2021-06-20 19:46] stgraber commented on #8923
I don't think there's an actual bug here, what's happening is:
 - When creating an image from an existing instance, the metadata visible in `lxc config metadata show` is used, I expect that one shows the properties you're seeing in your image.
 - Image servers can overwrite image properties (as you would with a `lxc image edit`), this only changes the image server's stored properties, not the imag

[2021-06-20 19:46] #8923 closed

[2021-06-21 06:59] knutov opened #8924 "Failed to run: ip link ... RTNETLINK answers: File exists"
In case conatiner is not stopping fast (when something is wrong like disk space outage was happened inside container and lxc stop was very long) it is often not possible to start container:
[code]

Temporary solution to fix is `ip link delete veth0c123`. Then it is starting normally.

Ubuntu 18.04
latest stable LXD 4.15 from snap
all continers are with routed network.

[2021-06-21 07:50] tomponline commented on #8924
Does this happen every time?

When you get the error, please can you show the output of `ip a` and `ip r` on the LXD host please?

[2021-06-21 14:43] knutov commented on #8924
Yes, it happens almost every time if container was not able to stop fast enough.

`ip a` and `ip r` shows those interfaces are existing (can't show output now - all containers were restarted recently).

Every time scenario looks the same:

[code]

I had multiple times cases when lxd was not able stop container at all or in reasonable time in case of disk quota outage inside or multiple OOMs happen

[2021-06-21 14:46] tomponline commented on #8924
When this happens, have you tried doing `lxc stop -f <instance>` to force a stop and cleanup?

[2021-06-21 14:56] knutov commented on #8924
I did it today, but ct was already stopped at this time (I suppose thanks to `reboot` inside ct which takes time too, I did not know it was successful at the time I tried `lxc stop --force`):

[code]

[2021-06-21 14:58] tomponline commented on #8924
Yes you'll need to do it when the container is running.

E.g if you run `lxc stop <instance>` and nothing happens, try instead `lxc stop -f <instance>` and check the NIC device clean up occurs.

The normal `lxc stop <instance>` just requests the guest OS to shutdown, but if it pauses or doesn't respond, then LXD will wait indefinitely and will not consider the instance stopped or trigger NIC clean

[2021-06-21 15:00] knutov commented on #8924
so what exactly happens when I use `--force` switch? Should I always use it?

[2021-06-21 15:02] tomponline commented on #8924
`--force` will forcefully end the container's OS (like turning off the power button) and then will proceed to perform host-side device cleanup as normal.

You should normally use `lxc stop` without `-f`, but if you find you're guest OS is not shutting down cleanly, then you can provide a timeout `--timeout` flag and then use `-f`.

[2021-06-21 15:13] knutov commented on #8924
So, correct way is something like `lxc stop $ct --timeout 10 || lxc stop $ct --force`, do I understand right?

Can I be sure `lxc stop --force` will be always able to stop ct at a reasonable time (less than minute for example)?

[2021-06-21 16:32] tomponline commented on #8924
I'll close this now, but feel free to reopen if you experience any further problems with NIC cleanup.

[2021-06-21 16:32] #8924 closed

[2021-06-21 17:15] #8859 closed

[2021-06-21 17:29] #8899 closed

[2021-06-21 17:37] stgraber commented on #8921
@tomponline thoughts on this one?

We obviously must make the copy succeed as a snapshot is immutable but we also don't want to confuse dnsmasq too much.
dnsmasq doesn't seem to tolerate two machines with the same static lease and then goes on to give a dynamic one which the container can then renew later on, causing the described issue.

I can think of a couple of ways out of this:
 - When using

[2021-06-21 19:35] simondeziel opened #8927 "`lxc config sets core.trust_password bar` should not return 0"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * lxd: 4.15  (snap 20806)

# Issue description

`lxc config sets core.trust_password bar` returns 0 and with a help message:

[code]

The action `config sets` is not a valid one, it should have been `config set` (no `s`). On such error, `lxc` should return an error code != 0.

[2021-06-21 23:27] masnax commented on #8927
This actually exists with every non-top-level command! Seems to be a bug/oversight with cobra itself, as mentioned [here.](https://github.com/spf13/cobra/issues/706)

Workarounds are pretty hacky, and accessing the underlying error overwrites the default usage function, so we would have to write one from scratch ourselves....

[2021-06-21 23:54] stgraber commented on #8927
I've commented on the upstream issue to try and make them look into it again as well as to have me be notified of any changes.
For now, while I don't like the usage being wrong, this feels better than having invalid command succeed.

So can you work on applying this pattern to all commands that have sub-commands?

[code]

It appears to conserve the expected behavior for say `lxc config` (minus the

[2021-06-22 09:29] tomponline commented on #8921
@stgraber this functionality is currently provided by the `bridged` NIC driver's `Add()` function:

https://github.com/lxc/lxd/blob/master/lxd/device/nic_bridged.go#L232-L240

So we would need to ensure that we don't generate the static lease file at add time, and instead at start time (and important remove it at stop time).

This is unfortunately pretty inefficient as it would require reloading d

[2021-06-22 09:58] jamielsharief commented on #8899
@stgraber Will this and related features (ie. querying host to see if this feature is available) get back ported to stable branch? If so what sort of timeline should I expect this this to show, just asking as i am not familiar with the LXD release cycle etc.

[2021-06-22 12:25] stgraber commented on #8899
That will get backported to 4.0, next release should be in 2-3 weeks I think.

[2021-06-22 17:12] trombonebuster commented on #8878
We are running ubuntu:18.04 . The issue we are having now is that our download speeds are 30mbps inside of the container with the host downolad speed being 900-1000 mbps. Any idea what might be causing this? Thanks for any insight!

[2021-06-22 17:24] stgraber commented on #8878
Hmm, this shouldn't really be a thing unless you've configured a bandwidth limit. I commonly run containers on 10Gb/s link and they can easily saturate that. We even recently tested containers on 100Gb/s links and while those struggle a bit, they could still do 85Gb/s or so.

If I were you, I'd probably start eliminating variables and run a bunch of iperf3 tests between your container and its host

[2021-06-22 17:34] trombonebuster commented on #8878
Thanks for the response. Yea our team is running iperf3 tests now actually to try and find the culprit.

[2021-06-22 17:45] c-lipka opened #8934 "LXC overzealous localization: fails on `profile` command, wants `Profil` instead"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 18.04 LTE (WSL, German localization)
 * The output of "lxc info": [lxc-info.txt](https://github.com/lxc/lxd/files/6696345/lxc-info.txt)

# Issue description

Running `do-release-upgrade` to upgrade WSL from Ubuntu 16.04 to 18.04. While installing `lxd`, got a message saying something like this:
[code]

Given that I'm running

[2021-06-22 17:46] #8934 closed

[2021-06-22 17:46] stgraber commented on #8934
Hi,

We fixed this issue quite a while ago actually :)
You're still hitting this because you're using Ubuntu 18.04 with the old LXD 3.0.x which is now in the security-fix only part of its support life.

LXD 4.0 and higher do not suffer from this issue.

[2021-06-22 21:44] #8927 closed

[2021-06-23 17:27] cjohnston1158 opened #8940 "LXD wont start - panic: interface conversion: net.Listener is nil, not *endpoints.networkListener"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04.2
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.10.0-1033-oem
   * LXC version:
   * LXD version: lxd   4.15     20806  latest/stable
   * Storage backend in use: ZFS (IIRC)

# Issue description

I've started seeing an LXD crash. I'm not sure where it's trying to get the 192.168.1.180 address. I'm

[2021-06-23 18:41] #8940 closed

[2021-06-23 23:02] #8236 closed

[2021-06-23 23:30] stgraber commented on #8921
@tomponline yeah, I guess we should setup validation then.

[2021-06-24 09:31] drscrewdriver commented on #8878
![image](https://user-images.githubusercontent.com/19632018/123236696-9bcc1100-d50f-11eb-9f0e-eefeb92707dc.png)
Things go wired after update Linux kernels too. My cgoup fs is partly mounted.  lxd service is bootup while couldn't find some cgroup settings, and ipv4 dhcpclient doesn't work in containers. After lxd downgrade to 4.12 the virtual net port show with patten like veth0bbc0d57@if43 instead

[2021-06-24 09:59] turtle0x1 opened #8946 "Storage pool / volume storage space warning"
Could we have a warning when a storage pool ( / volume) runs low on space? Or are warnings more for "low level" issues?

[2021-06-24 14:09] stgraber commented on #8946
Currently they're mostly for things that LXD itself is aware of. LXD doesn't monitor disk usage itself so introducing a warning for this would require us to have a scheduled task checking each storage pool.

Then we'd likely get similar requests for cpu, memory, i/o, ...

Currently I think this kind of thing is better handled through dedicated monitoring and alerting tools such as node-exporter or

[2021-06-24 14:32] turtle0x1 commented on #8946
I assumed that might be the case, feel free to close!

My only thoughts with storage is that you throw what I assume is handle-able exception when there is no storage space so it could trigger a warning. I suppose the warning couldn't clear itself so probably just annoying.

[2021-06-24 17:12] tomponline commented on #8900
I've had to revert this fix in https://github.com/lxc/lxd/pull/8947 as it was causing a regression.

https://discuss.linuxcontainers.org/t/lxc-copy-to-internal-ip-instead-of-public-ip/11437/7?u=tomp

[2021-06-24 17:15] stgraber commented on #8946
Yeah, we'd still need built-in monitoring logic to clear the warning. Issuing the warning when we hit an out of space error may also be tricky as we use a lot of tools which all of their own custom return codes or errors for this...

[2021-06-24 17:16] #8946 closed

[2021-06-26 06:55] zakufish commented on #8858
Hi @stgraber , may I take this one?

[2021-06-26 12:46] drybjed opened #8949 "Cannot build lxd after CGO_LDFLAGS_ALLOW change"
# Required information

 * Distribution: Debian
 * Distribution version: Buster (10)
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
   * Go version: go1.15.9
   * LXC version: 3.1.0
   * LXD version: stable-4.0
   * Storage backend in use: dir

# Issue description

I tried to build the LXD binaries fro

[2021-06-26 15:15] stgraber commented on #8858
That'd be great! Assigned it to you!

[2021-06-27 01:32] zakufish commented on #8858
HI @stgraber , I've made a pull request. However, I am new to this repo, and I am having some confusions regarding using the newest warning API to raise warnings.

Is there an existing sample that I could reference from?

[2021-06-28 05:59] vvolas opened #8952 "Cant copy lxd container in ceph due to fs mishap"
* Distribution: ubuntu 18
   * LXD version: 4.0.6
   * Storage backend in use: ceph

This is not with all containers just few, it seems that container have stored fs type somewhere wrongly. Container might have been converted by copying from one pool to another from ext4 to xfs because fstab did have ext4( somehow still booted).

lxc copy unimall-dev/snap0 unimall-devcopy --target neutron-star
Err

[2021-06-28 14:24] #8949 closed

[2021-06-28 20:25] stgraber commented on #8952
Okay, so some kind of filesystem mismatch. Reading this is a bit confusing though, to clarify, could you show:
 - lxc storage show ceph-lxd
 - lxc volume show ceph-lxd container/unimall-dev
 - lxc volume show ceph-lxd container/unimall-dev/snap0

[2021-06-28 20:31] stgraber commented on #8878
Going to close this issue as it's looking like a weird pile up of different issues with no actual sign of a LXD bug so far :)
We prefer to have one issue per actual LXD problem so we can track them down and fix them.

For discussions and user support, https://discuss.linuxcontainers.org tends to be a better place for it.

@drscrewdriver for your issue, my guess is that because you're running on a

[2021-06-28 20:31] #8878 closed

[2021-06-29 00:57] #8858 closed

[2021-06-29 05:18] vvolas commented on #8952
Sorry for confusion this is old installation and at some point I have changed block_filesystem (not manually) and few container may be converted via copy from ceph-hdd to ceph-ssd. Probably thats why this container in fstab still had ext4 in fstab.

[code]

[2021-06-29 10:05] zakufish commented on #7873
Hi @stgraber, I am interested in involving myself more in the lxd project. I noticed that this one is currently unassigned, do you mind letting me have a stab at it?

[2021-06-29 10:10] zakufish commented on #7873
Hi @stgraber I am interested in getting more involved in the development of the LXD project. Do you mind letting me have a stab at this one as it is currently unassigned?

[2021-06-29 10:32] peterbysh commented on #7708
Hi, Sorry to bother you again. this issue got my attention because of this: https://discuss.linuxcontainers.org/t/snapshot-size-usage-in-api/9616

But it looks like the above solution doesn't show snapshot sizes, is there a way to include this here ? Or is there an entire other way to show a snapshots size.

[2021-06-29 11:07] marsblkm commented on #8860
Hi @stgraber can I take this?

[2021-06-29 11:57] townsend2010 opened #8958 "Bad user experience when qemu crashes"
Recently, we've run into an issue where qemu will "crash" when creating VM's with multiple CPUs and a relatively small amount of memory, such as using the `-t c2-m2` option.  That seems to come from a bug in grub or the signed shim in the image and is not the fault of LXD nor Qemu.

However, when qemu does falter, there is no feedback from LXD that there is an issue other than the state says stopp

[2021-06-29 12:30] stgraber commented on #8958
I'll take a look again but last I checked there really wasn't much we could do. LXD talks to qemu over QMP and when qemu crashes in this way, it remains running but with QMP refusing connections...

[2021-06-29 12:32] tomponline commented on #8958
I think we have an 'error' state for containers we could reuse here?

[2021-06-29 13:02] townsend2010 commented on #8958
Yes, being able to forcefully kill QEMU from the client will avoid the zfs issue (`dataset is busy`) that comes as a result of this.

[2021-06-29 16:33] stgraber commented on #7873
Assigned it to you!

[2021-06-29 17:08] candlerb commented on #5193
Tested with the `linux-image-generic-hwe-18.04` kernel for Ubuntu 18.04, which gives kernel `5.4.0-77`.

Running proxmox-ve inside lxd containers: it can happily manipulate both ebtables and iptables inside the container :-)

It just needed a `modprobe br_netfilter` on the outer host.

[2021-06-29 17:16] stgraber commented on #8860
Done!

[2021-06-29 17:21] stgraber commented on #7708
Yeah, snapshot sizes are a bit hidden away currently... For instances, you can get it through `lxc config show INSTANCE/SNAPSHOT` it should show as a `size` property.

[2021-06-29 17:25] stgraber commented on #8952
Thanks, that should be enough for us to reproduce it. Looks like LXD is not considering the volume config in this case which is wrong.

[2021-06-29 17:58] tomponline commented on #8952
This sounds very similar to https://github.com/lxc/lxd/issues/8301

[2021-06-29 18:10] tomponline commented on #8860
Ah originally when adding cluster token feature we discussed using the hostname in the token to validate that it was being used for the right host so I thought we would still need to ask the user what their intended hostname was. Although making the join process easier makes sense too.

[2021-06-29 19:10] stgraber commented on #8860
Yeah, the shorter process should be nicer.

[2021-06-29 21:50] stgraber commented on #8952
Got it reproduced here:
[code]

[2021-06-29 22:24] stgraber commented on #8952
@tomponline so if I'm reading things right, the issue is that we're just passing a `rootDiskConf` as the config of the volume rather than pulling the current volume's config and using rootDiskConf as an override to apply on top.

As a result, config options like `volume.*` which the source may have, end up being discarded.

[2021-06-29 23:48] FlyingWombat opened #8960 "bcachefs storage backend"
Please consider implementing a storage backend for [bcachefs](https://bcachefs.org/). Bcachefs is a new COW filesystem for Linux, that aims to improve upon the capabilities demonstrated by ZFS and Btrfs. More info on the motivation behind bcachefs can be found on the project's [Patreon funding page](https://www.patreon.com/bcachefs).

Bcachefs can currently be considered beta quality, and has not

[2021-06-30 00:49] marsblkm commented on #8860
Just want to double check if I understand this correctly:
Do we still want to ask user what their intended hostname is for validation purpose even though user is trying to join with a token?

[2021-06-30 01:33] stgraber commented on #8952
@tomponline sent a fix for it. Basically the issue is that the instance code which creates the DB entries has no idea it's dealing with a copy and has no access to the original volume config.

As a result, it creates a new volume or volume snapshot with a blank config and moves on. This then gets passed to the storage driver which fails when trying to actually mount the thing.

I don't think we've

[2021-06-30 01:44] stgraber commented on #8960
Yeah, I've been keeping an eye on bcachefs and it seems interesting, though realistically for us to spend the time needed to implement it, we're going to at least want it:

 - Merged in the mainline Linux kernel
 - At least one major distribution shipping it in a stable release
 - Packaged version of the tools and some kind of stable version of those
 - Support for the basics: snapshots, quotas, s

[2021-06-30 02:15] stgraber commented on #8860
No, if they have provided a token, we should only ask for the listen address and skip the rest.

[2021-06-30 02:17] stgraber commented on #8860
Currently we have:
 - Would you like clustering
 - What name
 - What IP address
 - Are you joining
 - Do you have a token
 - Alternative joining method

I think the main change we want here is to move the "What name" question to happen only if no token was provided, so moving it to just before "IP address or FQDN of an existing cluster node".

[2021-06-30 02:25] marsblkm commented on #8860
Got it. Thanks for clarifying! Will raise the pr soon

[2021-06-30 02:42] stgraber commented on #8860
Thanks!

[2021-06-30 04:53] mullumaus opened #8962 "cannot set link-layer device addresses"
# Required information

 * Distribution:
 * Distribution version:
   Operating System: Ubuntu 18.04.5 LTS
            Kernel: Linux 4.15.0-147-generic
      Architecture: x86-64

 * The output of "lxc info" or if that fails:
   driver: lxc
  driver_version: 3.0.3
  kernel: Linux
  kernel_architecture: x86_64
  kernel_version: 4.15.0-112-generic
  server: lxd
  server_pid: 73670
  server_version: 3

[2021-06-30 07:40] #8952 closed

[2021-06-30 09:23] zakufish commented on #7873
Thanks @stgraber

[2021-06-30 13:22] #8962 closed

[2021-06-30 13:25] stgraber commented on #8962
This is an error coming from Juju, not from LXD and we're not familiar enough with how Juju configures LXD to help track this down.

I'd strongly recommend filling a bug against Juju so the devs over there can look into it.

The error message itself is confusing too. It suggests that the eth0 device couldn't be found (presumably in the instance state struct) but then in the same line, also complai

[2021-06-30 18:13] #8860 closed

[2021-06-30 19:45] presztak commented on #8856
@stgraber Can I work on this issue?

[2021-06-30 20:14] stgraber commented on #8856
Absolutely!

[2021-07-01 09:11] tomponline commented on #8952
@stgraber

I would whole heartedly support moving the instance storage volume DB record creation/update/deletion into the storage layer, this is the logical place to do it, and also brings it inline with what we do for custom volumes.

I didn't do this at the time of the storage package creation because the instance DB record creation logic was already quite interwoven with the instance storage DB

[2021-07-01 12:50] stgraber commented on #8952
Yep, that'd be good.

[2021-07-01 15:51] my5t3ry commented on #8912
Can i try  to solve this one?

[2021-07-01 15:55] tomponline commented on #8912
@my5t3ry Thanks!

[2021-07-01 16:26] #8900 closed

[2021-07-01 22:56] #8958 closed

[2021-07-02 00:09] oculuxe opened #8971 "LXD database corruption following deletion of container; residual snapshots of container remain in db"
# Required information

 * Distribution: Ubuntu 20.04
 * Distribution version:
 * The output of "lxc info" or if that fails:

  config:
  core.https_address: '[::]:8443'
  core.trust_password: true
api_extensions:
- storage_zfs_remove_snapshots
- container_host_shutdown_timeout
- container_stop_priority
- container_syscall_filtering
- auth_pki
- container_last_used_at
- etag
- patch
- usb_devices

[2021-07-02 00:11] stgraber commented on #8971
Weird, did you have this container for a long time? As in, was it present on a LXD 3.x install which then got upgraded to 4.x?
The current DB schema makes this effectively impossible, so such issues are usually remnants that didn't get cleared up on upgrade.

[2021-07-02 00:13] oculuxe commented on #8971
Yes it is a very old container that has gone through an upgrade.

[2021-07-02 02:21] stgraber commented on #8971
`lxd sql global "DELETE FROM storage_volumes WHERE name='mail/production'"`

[2021-07-02 02:22] stgraber commented on #8971
That should resolve that one, then repeat for the others.

[2021-07-02 05:28] oculuxe commented on #8971
Thank you. The corruption is a misnomer in that the db appears sound, just the script that manages the removals of the containers doesn't remove the snapshots - again as you note probably because of an inter-upgrade change etc.

I will eventually rebuild this machine and am re-learning lxd/lxc as I still haven't found anything quite as compact in terms of footprint.

Thank you for all your work on

[2021-07-02 08:03] tomponline commented on #8958
@townsend2010 I have added a PR above that attempts to handle the crashed QMP socket while the QEMU process is still running. We had already handled the case where the QMP socket fails to connect but the QEMU process is still running, but I suspect in your scenario LXD was still able to connect to QMP, but was not able to get a suitable response.

Are you able to describe reproducer steps to get Q

[2021-07-02 08:09] tomponline commented on #8971
@oculuxe the docs include some examples https://linuxcontainers.org/lxd/docs/master/instances#type-disk but if you're having problems the best place to post is over at https://discuss.linuxcontainers.org/

Thanks.

[2021-07-02 08:09] #8971 closed

[2021-07-02 11:29] townsend2010 commented on #8958
Hey @tomponline,

Thanks for this!  For me, I was able to reproduce using `lxc launch ubuntu:20.04 test -t c2-m2 --vm` or `lxc launch ubuntu:20.04 test -t c2-m1 --vm`.  It seems there may be some bug in grub and/or the signed shim that causes this.

[2021-07-02 12:12] #8857 closed

[2021-07-02 12:40] tomponline commented on #8958
@townsend2010 reproduced it thanks, it appears that QEMU is returning "internal-error" as its status via QMP.

[2021-07-02 13:55] tomponline commented on #8921
This issue is pretty similar to #8799

[2021-07-02 16:14] stgraber commented on #8921
Indeed

[2021-07-02 16:15] stgraber commented on #8921
Probably ought to also validate that we don't have duplicate hwaddr while we're at it :)

[2021-07-02 16:17] tomponline commented on #8921
Good idea. I'm also working on enforcing the same checks we have when using `network=<managed bridged>` to `parent=<bridge>` where the bridge name matches a managed bridge.

[2021-07-02 20:32] matanster commented on #4656
Getting the same error with LXC 4.15.

The VM is stopped before I try the delete command.
Is 4.15 an old version? How should I troubleshoot?

[2021-07-03 20:53] hadmut opened #8976 "dns entry for lxd host"
# Required information

 * Distribution: Lubuntu
 * Distribution version: 20.04

# Issue description

That's not a bug, that's a feature request.

When running multiple lxd guest machines, they can find each other on dns in the lxd. domain with their names.

But I didn't find a trivial way (other than routing tables or replacing the own ip with .1) to query the IP of the host machine, e.g. when us

[2021-07-04 02:28] stgraber commented on #8976
At least for containers using systemd with resolved, you can use `_gateway` to resolve to whatever the gateway is.

[2021-07-05 08:24] tomponline commented on #8976
You can also use the `raw.dnsmasq` setting on your managed network to add a custom DNS entry returned by dnsmasq.

Option 1:

Use the `interface-name` dnsmasq option to create DNS records for the IP addresses on the interface of your managed bridge, e.g:
[code]

Then inside the instance:

[code]

Or you can add manual DNS records using:

[code]

Then inside the instance:

[code]

@stgraber perhaps

[2021-07-05 20:40] #8921 closed

[2021-07-05 20:40] #8799 closed

[2021-07-05 22:29] #8976 closed

[2021-07-06 08:14] peterbysh commented on #7708
Hi,

Thanks for your repsonse, how would that work for snapshots created from storage volumes?

[2021-07-06 09:32] drscrewdriver opened #8983 "dhcp error on 20.04.2 snap lxd"
# Required information

 * Distribution:Ubuntu
 * Distribution version:20.04.2 tls
 * The output of "lxc info" or if that fails:
   * Kernel version: Linux wnadminserver 5.4.0-77-generic #86-Ubuntu SMP Thu Jun 17 02:35:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
   * LXC version: 4.0.5
   * LXD version: 4.0.5
   * Storage backend in use: dir

# Issue description

A brief description of the problem.

[2021-07-06 09:34] tomponline commented on #8983
Please confirm you are saying that your instances are not getting IPs from LXD's DHCP server?

[2021-07-06 10:10] ajkavanagh opened #8984 "lxd.migrate due to upgrade from bionic->focal in an LXD container "breaks" do-release-upgrade"
# Required information

 * Distribution: Ubuntu 18.04 LTS

# Issue description

- In an bionic LXD container with update // upgrade done.
- host is bionic, with LXD containers. ^^
- do-release-upgrade from bionic -> focal in the container
- lxd deb pkg upgrades, and that installs snap --channel=stable/4.0
- lxd.migrate breaks/hangs/fails and then do-release-upgrade fails.

# Mitigation

Did

- apt

[2021-07-06 14:50] drscrewdriver commented on #8983
Test container can‘t get ip from dhcp server in normal network while virt eth port attached on the net bridge br0 which work fine on Host system.

[2021-07-06 14:58] drscrewdriver commented on #8983
It is similar to the situation on my personal server running manjaro ，the system of upload example host-system is a nest system virt by a qemu-kvm program running on the real host system kernel info: Linux wnadmin-poweredger620-252 5.4.118-1-MANJARO #1 SMP PREEMPT Tue May 11 17:46:18 UTC 2021 x86_64 GNU/Linux.

[2021-07-06 15:00] tomponline commented on #8983
Can you confirm dnsmasq is running on the host and is listening:

[code]

[2021-07-06 15:09] drscrewdriver commented on #8983
DHCP service fail to assign container eth is supply by a hardware router ，which has assign ip for qemu-kvm host server ubuntu successfully。

[2021-07-06 15:13] tomponline commented on #8983
Do you see DHCP packets arriving from the container to the bridge using `tcpdump`, and also leaving the host's external interface to the upstream DHCP server?

[2021-07-06 15:18] drscrewdriver commented on #8983
![image](https://user-images.githubusercontent.com/19632018/124625424-5b29ab80-deb0-11eb-8f1c-edace9a23fdc.png)

[2021-07-06 15:33] drscrewdriver commented on #8983
![image](https://user-images.githubusercontent.com/19632018/124627010-c45dee80-deb1-11eb-9d35-c1a4984a1a36.png)
![image](https://user-images.githubusercontent.com/19632018/124627025-c922a280-deb1-11eb-81fb-6c54830c88ab.png)
Network-scripts work fine but the real issue is it doesn't work on 5.4+ manjaro with lxd 4.12 or lxd 4.15. Forget the issue if you can‘t repeat it in similar env.

[2021-07-06 16:03] zakufish commented on #7901
Hi @stgraber as I have recently worked on another volume related issue, do you mind if I give this one a shot?

[2021-07-06 16:34] stgraber commented on #7901
Sure!

[2021-07-07 06:36] marsblkm commented on #7319
@stgraber Would you mind if I give this one a go?

[2021-07-07 07:36] aqueos commented on #8917
i think you seen it but it is seen on 5.11 kernel on ubuntu (ubuntu package nto self build) :)

[2021-07-07 09:46] aqueos commented on #8917
my collegue just reproduced with debug:

Error (lxc shell : Error: Failed to retrieve PID of executing child process) :

lxc t1 20210707093142.472 TRACE    attach - attach.c:__prepare_namespaces_pidfd:547 - Different user namespace needs attach
lxc t1 20210707093142.472 TRACE    attach - attach.c:__prepare_namespaces_pidfd:547 - Different mnt namespace needs attach
lxc t1 20210707093142.472 TRACE

[2021-07-07 09:46] aqueos commented on #8917
5.8 works, 5.11 show the problem.

[2021-07-07 13:08] brauner commented on #8917
I don't think so. The problem seems to be here:
[code]

I need the full trace log please. This is cut off unfortunately.

[2021-07-07 13:10] brauner commented on #8917
From what version of LXD to what version of LXD was the upgrade?

[2021-07-07 13:29] lnicolas83 commented on #8917
root@u1:~# uname  -a
Linux u1 5.11.0-22-generic #23-Ubuntu SMP Thu Jun 17 00:34:23 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

root@u1:~# lxc version
Client version: 4.15
Server version: 4.15

root@u1:~# lxc launch images:ubuntu/20.04 t5
Creating t5
Starting t5

root@u1:~# lxc exec t5 -- uptime
 13:23:40 up 0 min,  0 users,  load average: 0.31, 0.16, 0.06

root@u1:~# snap refresh --channel=latest/can

[2021-07-07 15:01] andrepuschmann opened #8991 "Changing storage pool location"
# Required information

 * Ubuntu Server 20.04.2 with Snap LXD

[code]
Logs:
[code]

# Issue description

I am in the process of moving a running Ubuntu server to a new machine. I just moved the main OS SSD (M2) and the dedicated SSD for the storage pool (SATA SSD) to the new system. On the old system the storage pool was on `/dev/sdb`.

The system boots fine but the order of the drives has change

[2021-07-07 15:06] aqueos commented on #8917
we do not upgraded any lxd itself, it was the automatic snap upgrade mecanism. Each time the snap do a refresh i loose capaability to shell into  the guest and must restart them.

[2021-07-07 15:12] andrepuschmann commented on #8991
I tried this but without much luck:
[code]

[2021-07-07 15:17] andrepuschmann commented on #8991
Ok, nevermind. I've solved it with the SQL patch.

[code]

[2021-07-07 15:17] #8991 closed

[2021-07-07 15:19] stgraber commented on #8917
@aqueos can you show `cat /proc/cmdline` and `ls -lh /sys/fs/cgroup`?

[2021-07-07 15:22] aqueos commented on #8917
Yes, here it is:
~]:  cat /proc/cmdline ;ls -lh /sys/fs/cgroup
BOOT_IMAGE=/boot/vmlinuz-5.11.0-18-generic root=UUID=e48386a9-4d19-4841-af63-0acfa8d9f7a9 ro net.ifnames=0 net.ifnames=0
total 0
dr-xr-xr-x 16 root root  0 Jun 15 09:52 blkio
lrwxrwxrwx  1 root root 11 Jun 15 09:52 cpu -> cpu,cpuacct
lrwxrwxrwx  1 root root 11 Jun 15 09:52 cpuacct -> cpu,cpuacct
dr-xr-xr-x 16 root root  0 Jun 15 09:52

[2021-07-07 15:23] lnicolas83 commented on #8917
root@u1:~# cat /proc/cmdline
BOOT_IMAGE=/boot/vmlinuz-5.11.0-22-generic root=/dev/sda2 ro quiet splash console=tty1 console=ttyS0 vt.handoff=7

root@u1:~# ls -lh /sys/fs/cgroup
total 0
dr-xr-xr-x 13 root root  0 Jul  7 09:21 blkio
lrwxrwxrwx  1 root root 11 Jul  7 09:21 cpu -> cpu,cpuacct
lrwxrwxrwx  1 root root 11 Jul  7 09:21 cpuacct -> cpu,cpuacct
dr-xr-xr-x 20 root root  0 Jul  7 09:21 cpu,cpu

[2021-07-07 15:28] stgraber commented on #8917
[code]

@brauner

[2021-07-07 15:39] stgraber commented on #8917
@brauner

[code]

[2021-07-07 16:42] brauner commented on #8917
Can someone try to reproduce this behavior with `5.11-22`?

[2021-07-07 16:56] stgraber commented on #8917
@brauner here you go
[code]

[2021-07-07 17:04] brauner commented on #8917
So looking at the stashed fds of the monitor:
[code]
it seems that during the upgrade the `blkio` cgroup the container is in gets deleted.

[2021-07-07 17:32] lnicolas83 commented on #8917
I confirm snap refresh delete blkio cgroup :

[code]

Other cgroup not affected :

[code]

[2021-07-07 17:45] stgraber commented on #8917
[code]

[2021-07-07 17:46] stgraber commented on #8917
So when disabling some services, systemd appears to decide to go and wipe clean the entire cgroup?

[2021-07-07 17:47] brauner commented on #8917
Well, it also needs to move the the processes around before that which is very strange. @bluca

[2021-07-07 17:56] bluca commented on #8917
systemd version?

[2021-07-07 18:00] aqueos commented on #8917
on my system it is:
[~]: systemd --version
systemd 247 (247.3-3ubuntu3.1)

[2021-07-07 18:12] bluca commented on #8917
The `systemctl disable` as a trigger is weird... can you try with a `systemctl daemon-reload` instead and see if that reproduces it?

[2021-07-07 18:15] stgraber commented on #8917
`systemctl daemon-reload` doesn't cause it.

[2021-07-07 18:15] stgraber commented on #8917
[code]

[2021-07-07 18:21] bluca commented on #8917
Very bizzarre - `disable` implies `daemon-reload`, and that would make somewhat maybe more sense. `disable` removes some symlinks around.

[2021-07-07 20:41] stgraber commented on #8917
@bluca yeah, I know, when I first looked at what systemctl commands snapd issued, I noticed a couple of `daemon-reload` so I was really hoping that'd be the problem, but just running that does nothing, running `disable` however does it.

It's also very confusing that only `blkio` is affected, all other cgroups are left alone.

[2021-07-08 05:52] stgraber commented on #7319
@marsblkm that'd be great! assigned it to you

[2021-07-08 07:43] lnicolas83 commented on #8917
@stgraber on my side systemd disable does not reset blkio :

[code]

[2021-07-08 07:49] lnicolas83 commented on #8917
I'm using "lxc launch images:ubuntu/21.04 u1 --vm" for all testing of this ticket.

[2021-07-08 19:15] stgraber commented on #8917
@lnicolas83 you need to disable all 3 units of LXD for it to happen, the one I was flipping back and forth above just happened to be the last one.

[2021-07-09 09:13] Freeaqingme opened #9006 "Panic initializing preseed"
TL;DR: A panic happens while running ```lxd init --preseed``` in (seemingly): github.com/lxc/lxd/lxd/task.(*Task).Reset(...) -- panic serving @: runtime error: invalid memory address or nil pointer dereference

# Required information

 * Distribution: Ubuntu 20.04
 * Kernel: Linux hpv1 5.4.0-77-generic # 86-Ubuntu SMP Thu Jun 17 02:35:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
*  LXC version: 4.15

[2021-07-09 09:20] tomponline commented on #9006
Looks like an issue with this line:

https://github.com/lxc/lxd/blob/lxd-4.15/lxd/api_1.0.go#L687

[2021-07-09 09:28] Freeaqingme commented on #9006
@tomponline thanks for the quick reply!

I still had to look up what the setting actually did, but figured to start with the documentation (which provides a sample containing this line). I used to get the error consistently, but removing said line fixes the issue indeed (yay!).

The setup is managed by Puppet, and at first I did the equivalent of 'snap install lxd && lxd init --preseed ...'. But t

[2021-07-09 09:41] tomponline commented on #9006
Yeah LXD won't start until first call of `lxd init` so the time between `snap install lxd` and `lxd init` is immaterial here.

[2021-07-09 12:56] tomponline commented on #9006
@Freeaqingme i've not been able to reproduce the issue, perhaps my PC isn't quick enough to beat LXD start up before the preseed request is made, but the fix in the PR linked should fix it, by waiting until LXD has fully started before actioning API change requests.

[2021-07-09 14:17] Freeaqingme commented on #9006
@tomponline Thanks for the quick follow up. When snap pushes the new version I can try again. But for now I think it's safe to close this issue (when #9007 is merged).

[2021-07-09 15:08] #9006 closed

[2021-07-09 16:57] bluca commented on #8917
I can't quite reproduce this on a Ubuntu 21.04 live image VM:

[code]

lxd installed with snap. Am I doing something wrong?

[2021-07-09 17:08] stgraber commented on #8917
@bluca

[code]

[2021-07-10 09:44] lnicolas83 commented on #8917
@stgraber @bluca
From my side, with "DefaultIOAccounting=yes" systemd no longer purges the blkio cgroup after "systemctl disable snap.lxd.daemon snap.lxd.daemon.unix.socket snap.lxd.activate.service" or "snap refresh lxd"...

[code]

[2021-07-11 20:07] bluca commented on #8917
Thanks, can repro - the cgroup is wiped during daemon-reload as I suspected, you can see that by doing `systemctl disable --no-reload ...` (doesn't wipe the cgroup) and then `systemctl daemon-reload` by itself

[2021-07-11 23:35] #8856 closed

[2021-07-11 23:35] bluca commented on #8917
@stgraber shouldn't those cgroup nodes created by lxc be under the delegated node that the lxd service gets? (or under a separate slice that also gets Delegate=yes)

https://systemd.io/CGROUP_DELEGATION/#:~:text=just%20the%20defaults.-,Delegation,-Container%20managers%20and

[2021-07-11 23:56] stgraber commented on #8917
@bluca if we wanted to follow systemd's recommendation, yes, it should. In practice, we've always relied on our own top-level cgroups, they're never named to conflict with systemd's and at least in past kernel, increasing cgroup depth was leading to performance issues on some kernels (don't think that's still an issue with cgroup2 at least). We also have the problem that quite a variety of tools (

[2021-07-12 12:18] janmuennich commented on #8653
Sorry to bother you again! Any chance that you could release 4.0.7 with this fix?

[2021-07-12 13:00] stgraber commented on #8653
We'll be releasing new stable releases this week.

[2021-07-12 22:34] bluca commented on #8917
@stgraber as far as I understand the issue with that approach is that there are competing owners of the same cgroup levels, which I think is the reason things go wrong. This is documented in the linked page ("single writer" rule). It's not just about naming conflicts. Given blkio is not used by default, I think what's happening is that lxd units are the only 'registered' users of it, so it gets za

[2021-07-12 22:47] stgraber commented on #8917
Okay, so even if we were to create our cgroups under the unit's own path, this still wouldn't do us any good as once the units get disabled, they'd still get zapped... And because snapd temporarily stops+disables on package updates, we'd still break.

[code]

So looks like the workaround here is to tweak our packaging to create a transient unit which keeps systemd busy for that cgroup and will pre

[2021-07-12 22:53] bluca commented on #8917
Yes, which is the third mode documented here:

https://systemd.io/CGROUP_DELEGATION/#:~:text=The%20i-like-continents%20option

If I understand correctly how lxc/lxd works, it's the best fitting option as you don't tie containers lifetime to the lxc/lxd units, correct? You spawn containers yourself, and expect them to survive the lxc/lxd units whatever happens to them. Grouping the containers proce

[2021-07-12 22:56] stgraber commented on #8917
Yeah, I guess in this case we're more surprised by snapd's behavior of disabling all units during an update... if it wasn't for that, the Delegate=yes on the main units would have been perfectly sufficient to keep things behaving.

[2021-07-14 00:43] #8916 closed

[2021-07-19 08:58] tomponline opened #9020 "Allow IPv6 SLAAC/RA through LXD generated firewall rules"
If the host's default INPUT and OUTPUT chains are set to DROP/REJECT, then LXD cannot send IPv6 router advertisements nor can the instances request such a response for SLAAC configuration.

LXD already works around this issue for IPv4 by allowing DHCP into the LXD bridge interface.

So we should add rules to allow similar for IPv6 auto configuration.

See https://discuss.linuxcontainers.org/t/no-i

[2021-07-19 15:12] uudecode commented on #4402
Thanks dude!

[2021-07-21 08:08] crzfst commented on #8983
Are you by any chance running firewall on your LXD Host? Something changed in one of the latest LXD versions and I had the same problem with containers not getting IP from LXD bridge until I added firewall rules to allow DHCP ports (67 & 68).

I'm running Ubuntu 20.4.2 LTS with LXD 4.16

[2021-07-21 08:12] tomponline commented on #8983
Its likely an interaction with an existing firewall meaning that the rules LXD adds don't get applied.

See https://discuss.linuxcontainers.org/t/lxd-bridge-doesnt-work-with-ipv4-and-ufw-with-nftables/10034/14?u=tomp for discussion and work around the changes in behaviour when using nftables vs xtables backends.

[2021-07-21 13:32] umataro commented on #8917
@stgraber, do you not see the problem of distributing LXD as a snap only? Exclusive use of uncontrollable package manager has effectively relegated your entire project to workstation/development/playground use only. It's a pity, since LXD3 was finally mature enough to use in production.

[2021-07-21 13:48] stgraber commented on #8917
Closing as the packaging was updated and should have reached everyone by now.

@umataro as an upstream project, we're more than happy to help anyone doing native packages for their distributions, there are quite a few examples of that (Gentoo, ArchLinux, OpenSUSE, Alpine, ...). On our side, we do indeed maintain a package (the snap) which we feel is better than the normal upstream behavior of not

[2021-07-21 13:48] #8917 closed

[2021-07-21 13:54] bluca commented on #8917
@stgraber out of curiosity, how did you fix it in the end?

[2021-07-21 14:05] stgraber commented on #8917
@bluca we have the packaging effectively start a transient unit that also has Delegate=yes set and which won't ever be stopped or disabled.

[2021-07-21 14:09] bluca commented on #8917
Is the transient unit just a workaround (ie, empty) or are lxc processes grouped under it?

[2021-07-21 14:16] bluca commented on #8917
Are there perf issues even with the unified hierarchy? I think it would be really nice to have a mode where this scoping is used at least under cgroupsv2, even if disabled by default for now, as it would avoid future issues since there's no guarantee this workaround won't break in the future - /cc @brauner

[2021-07-21 14:16] bluca commented on #8917
(the workaround as a way to unblock everyone is of course perfectly valid)

[2021-07-21 14:57] stgraber commented on #8917
@bluca @brauner confirmed that added depth in a cgroup2 hierarchy does have a performance impact and that the recommendation is for a layout as flat as possible.

[2021-07-21 18:28] dansimpson opened #9029 "Growing number of snap.rootfs directories"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04
 * The output of "lxc info" or if that fails:
   * Kernel version: 5.8.0-1041-aws 43~20.04.1-Ubuntu
   * LXC version: 4.0.4
   * LXD version: 4.0.4
   * Storage backend in use: disk?

# Issue description
When running 'lxc info' or any other lxc command, there is an error presented:
`cannot perform operation: mount --rbi

[2021-07-21 18:30] stgraber commented on #9029
Thanks for this report, unfortunately this is showing a bug or design issue with snapd which will affect every snap, not just LXD.
It's also not something which we can workaround at the LXD level.

Could you report this behavior over at https://forum.snapcraft.io?

As an alternative/workaround, replacing your symlink with a bind-mount (`mount -o bind /mnt/target /var/log`) would probably avoid thi

[2021-07-21 18:30] #9029 closed

[2021-07-21 18:33] dansimpson commented on #9029
@stgraber thanks, I will report it there. I have tested the mount version with success and will proceed with that workaround.

[2021-07-22 21:11] jardon opened #9035 "LXD unable to find udev device id"
# Required information

 * Distribution: Ubuntu
 * Distribution version: 20.04

<details>
  <summary>The output of "lxc info"</summary>

      config: {}
      api_extensions:
      - storage_zfs_remove_snapshots
      - container_host_shutdown_timeout
      - container_stop_priority
      - container_syscall_filtering
      - auth_pki
      - container_last_used_at
      - etag
      - patch